@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.AL0007';
#{$component} {
  ul {
    @include reset-list-style;
  }
  > .component > .cmp-container {
    @include screen(mobile) {
      @include inset-padding-hz;
    }
    @include screen(web) {
      @include container($design-grid-full, false);
    }
    margin: 0 auto;
    .c-chart-api {
      &-headline {
        .cmp-title {
          font-weight: $font-light;
          font-size: rem(28px);
          line-height: rem(32px);
          // text-align: center;
          @include screen(web) {
            font-size: rem(56px);
            line-height: rem(60px);
          }
          // @include screen(mobile) {
          //     padding-left: rem($padding9px);
          //     padding-right: rem($padding9px);
          // }
        }
        &__subheadline {
          margin-top: rem($margin6px);
          // text-align: center;
          font-size: rem(16px);
          line-height: rem(20px);
          @include screen(web) {
            color: $dark-gray3;
            margin-top: rem($margin12px);
            font-size: rem(24px);
            line-height: rem(28px);
          }
        }
      }
      &-area {
        margin-top: rem($margin12px);
        @include screen(web) {
          margin-top: rem($margin20px);
        }
      }
      &-area.row {
        @include screen(web) {
          display: flex;
          flex: 1 1 50%;
          gap: 0 rem($gutter-w);
        }
      }
      &-box {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: rem($radius16);
        height: rem(348px);
        background-color: $white;
        overflow: hidden;
        &:nth-child(n + 2) {
          margin-top: rem($margin12px);
        }
        @include screen(web) {
          border-radius: rem($radius28);
          height: rem(400px);
          &:nth-child(n + 2) {
            margin-top: 0;
          }
        }
        p {
          color: $gray3;
          font-size: rem(24px);
          line-height: rem(28px);
          @include screen(web) {
            font-size: rem(28px);
            line-height: rem(32px);
          }
        }

        svg {
          > g {
            text {
              font-family: inherit !important;
            }

            &:first-of-type {
              text {
                &:first-of-type {
                  fill: $black;
                  font-weight: normal !important;
                  font-size: rem(16px) !important;
                }
              }
            }
          }
        }
      }
      &-box.row {
        width: 100%;
      }
    }
  }
}
