@charset "UTF-8";
@use '../../scss/abstract/' as *;
@use '../CS0000/CS0000' as *;

// component
$component: '.CS0080';

#{$component} {
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  $tab-container: '.container';
  $mobile-width: calc(100% - rem($margin25px * 2));
  background: $light-gray3;
  &__container {
    @include flex-context;
    @include container($design-grid-full, true);
    @include inset-padding-hz;
  }

  // add class c-default-margin component
  &.c-default-margin {
    padding-bottom: rem($padding10px);

    &.c-wrapper {
      &.margin-top {
        margin-top: 0;
        padding-top: 0;
      }
    }

    #{$cs-header} {
      margin-top: rem($margin30px);
      margin-bottom: 0;

      @include screen(web) {
        margin-top: rem($margin40px);
      }
    }
  }

  // COMMON - .c-cs-header
  #{$cs-header} {
    margin-bottom: rem($margin20px);

    a {
      color: $red;
      text-decoration: underline;
    }

    @include screen(web) {
      margin-bottom: rem($margin40px);
    }

    @at-root #{$component} #{$cs-header} {
      #{$text-contents} {
        text-align: center;
      }

      #{$text-contents}__headline + #{$text-contents}__bodycopy {
        margin-top: rem($margin6px);

        @include screen(web) {
          margin-top: rem($margin8px);
        }
      }
    }
  }
  .c-noticeBar {
    padding: rem($padding12px 0);
    .c-title {
      font-weight: $font-semibold;
      line-height: rem(20px);
      margin-bottom: rem($margin4px);
      // word-break: break-word;
      width: auto;
    }
    .carousel {
      display: flex;
      align-items: center;
      width: 100%;
      .cmp-carousel {
        text-align: left;
        #{$text-contents} {
          &__subcopy {
            a {
              cursor: pointer;
              @include ellipsis(2);
              margin-right: rem($margin10px);
              span {
                display: inline-block;
                width: 100%;
                &.c-notice {
                  &__title {
                    @include ellipsis(1);
                    white-space: normal;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    word-break: break-all;
                  }
                  &__date {
                    margin-top: rem($margin4px);
                  }
                }
              }
              @include screen(web) {
                display: flex;
                align-items: center;
                span {
                  width: auto;
                  &.c-notice {
                    &__date {
                      margin-top: 0;
                      margin-left: rem($margin4px);
                    }
                  }
                }
              }
            }
          }
        }
      }
      .c-carousel__handler {
        margin-top: 0;
        align-items: center;
        position: relative;
        background: $light-gray2;
        border-radius: $radius99;
        height: rem($height28px);
        gap: rem(9px);
        .btn-wrapper {
          position: absolute;
          button {
            background: none;
            border: none;
            text-indent: -9999px;
            background-repeat: no-repeat;
            margin-top: rem($margin8px);
            cursor: pointer;
            padding: rem(0 $padding8px);
          }
          .auto {
            &-start {
              display: none;
              background-image: url($icon-play-midgray-16-16);
            }
            &-stop {
              background-image: url($icon-pause-midgray-16-16);
            }
          }
        }
        $prev: '&[class*="--prev"]';
        $next: '&[class*="--next"]';
        .c-carousel__button {
          #{$prev} {
            &:after {
              transform: rotate($degree180) #{'/*!rtl:none*/'};
              background-image: url($icon-arrow-midgray-12-7);
            }
          }
          #{$next} {
            &:after {
              background-image: url($icon-arrow-midgray-12-7);
            }
          }
          &[class*='--pagination'] {
            background: none;
            border: none;
          }
        }
      }
    }
    @include screen(web) {
      padding: rem($padding16px 0);
      display: flex;
      gap: rem(10px);
      align-items: center;
      .carousel {
        .cmp-carousel {
          .swiper-slide {
            display: flex;
            align-items: center;
            gap: rem($width8px);
            .c-title {
              min-width: rem($width120px);
              margin-bottom: 0;
              line-height: rem(18px);
              display: block;
              flex: none;
            }
            #{$text-contents} {
              &__subcopy {
                .c-notice__title {
                  @include ellipsis(1);
                  white-space: normal;
                  -webkit-line-clamp: 1;
                }
              }
            }
          }
        }
      }
    }
  }

  &.type2 {
    .c-noticeBar {
      &:last-child {
        // background: pink;
        border-top: 1px solid $mid-gray1;
      }
    }
  }
}
