@charset "UTF-8";
@use '../../scss/abstract/' as *;
@use '../CS0000/CS0000' as *;

// component
$component: '.CS0075';
#{$component} {
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  $text: '.c-text-contents';
  $mobile-width: calc(100% - rem($margin25px * 2));

  &__container {
    @include flex-context;
    @include container($design-grid-full, true);
    @include inset-padding-hz(mobile);

    @include screen(web) {
      @include flex-context;
    }

    @include screen(tablet) {
      @include inset-padding-hz;
    }

    @at-root #{$component} {
      .full #{$component}__container {
        padding: 0;

        @include screen(web) {
          min-width: initial;
        }

        #{$cs-header} {
          margin: rem(0 $margin25px);
          margin-bottom: rem($margin20px);

          @include screen(web) {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: rem($margin40px);
          }
        }
      }
    }
  }

  // add class c-default-margin component
  &.c-default-margin {
    &.c-wrapper {
      &.margin-top,
      &.margin-bottom {
        padding: 0;
      }
    }

    #{$cs-header} {
      margin-top: rem($margin30px);
      margin-bottom: rem($margin20px);

      @include screen(web) {
        margin-top: rem($margin40px);
        margin-bottom: rem($margin40px);
      }

      .text {
        margin-bottom: 0;
      }
    }

    &.margin-top {
      .text {
        margin-bottom: rem($margin10px);
      }
    }

    .text {
      margin-bottom: rem($margin30px);

      @include screen(web) {
        margin-bottom: rem($margin60px);
      }
    }
  }

  // common
  .c-cta {
    display: block;
    margin-top: rem($margin40px);
    // text-align: center;
  }

  // variable

  // Support HEADER
  #{$cs-header} {
    // margin-bottom: rem($margin20px);

    a {
      color: $red;
      text-decoration: underline;
    }

    @include screen(web) {
      // margin-bottom: rem($margin40px);
    }

    @at-root #{$component} #{$cs-header} {
      #{$text-contents} {
        // text-align: center;
      }

      #{$text-contents}__headline + #{$text-contents}__bodycopy {
        margin-top: rem($margin8px);

        @include screen(web) {
          // margin-top: rem($margin10px);
        }
      }
    }
  }

  .c-require {
    color: $gray6;
    text-align: right;

    margin-right: rem($margin25px) #{'/*!rtl:#{rem($margin25px)}*/'}; /*! RTL last keep colon */
    @include screen(web) {
      margin-top: 0;
      margin-right: 0;
    }
  }

  .require {
    font-style: normal;
    font-weight: $font-semibold;
    color: $red;
  }

  .c-warning {
    color: $active-red;
    margin-top: rem($margin8px);
    position: relative;
    padding-left: rem($padding28px);
    line-height: rem(20px);
    text-align: left;

    &::before {
      content: '';
      display: inline-block;
      background: url($icon-warning);
      position: absolute;
      top: 0;
      left: 0;
      width: rem(20px);
      height: rem(20px);
    }
  }

  // TEMPORARILY SAVED PRODUCT
  .c-temp-saved {
    #{$cs-header} {
      @include screen(web) {
        margin-bottom: rem($margin20px) !important;
      }
    }

    .cmp-title {
      // text-align: center;
    }

    > .button {
      // text-align: center;
      width: auto;

      .c-button {
        width: auto;
        display: inline-block;
      }
    }

    .c-result-area {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // margin: 20px 25px;
      // width: calc(100% - 50px);
      margin-bottom: rem($margin12px);
      margin: {
        bottom: rem($margin12px);
        top: rem($margin12px);
      }
      .button {
        margin-top: 0;

        .c-button {
          text-decoration: underline;
        }
      }
      &__result {
        strong {
          color: initial;
        }
      }
      @include screen(web) {
        margin: rem($margin20px 0);
      }
    }

    .c-prd-info {
      // margin: 0 rem($margin25px);

      &__wrap {
        // border: 1px solid $graye6;
        margin-bottom: rem($margin12px);
        border-radius: rem($radius20);
        background: $white;
        padding-bottom: rem($padding13px);
        &:last-child {
          margin-bottom: 0;
        }
      }

      &__box {
        display: flex;
        padding: rem($padding20px $padding20px $padding12px);

        .c-image {
          width: auto;
          padding: 0;
          margin: 0;
        }

        + .button {
          margin: 0 rem($margin13px);
          justify-content: flex-end;
          display: flex;
          gap: rem(24px);
          .c-button {
            text-decoration: underline;
            margin-right: 0;
            column-gap: rem(10px);

            &:last-child {
              margin-bottom: 0;
              column-gap: 0;
            }
          }
        }
      }

      &__inner {
        padding-left: rem($padding20px);

        dl {
          text-align: left;
          margin: 0;
          min-width: rem($width140px);

          dt {
            line-height: rem(18px);
            color: $gray6;
            margin-bottom: rem($margin4px);
          }

          dd {
            color: $black;
            margin-bottom: rem($margin12px);
            font-weight: $font-semibold;

            span {
              margin-left: rem($margin8px);
            }
          }

          &:last-child {
            dd {
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    @include screen(desktop) {
      max-width: $design-grid-full;
      // margin: rem($margin100px) auto;
      margin: 0 auto;
      padding: 0;

      .c-prd-info {
        &__wrap {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-right: rem($padding24px);
          padding-bottom: 0;
          align-items: flex-start;
          margin-bottom: rem($margin20px);
        }

        &__box {
          display: flex;
          align-items: center;
          padding: rem($padding24px) 0 rem($padding24px) rem($padding24px);

          + .button {
            margin: 0;
            margin-top: rem($margin24px);

            .c-button {
              column-gap: rem(10px);

              &:last-child {
                column-gap: 0;
              }
            }
          }
        }

        &__inner {
          display: flex;
          gap: rem(40px);
          padding-left: rem($padding40px);

          dl {
            dt {
              margin-bottom: rem($margin8px);
            }

            dd {
              margin-bottom: 0;

              img {
                width: rem($width20px);
              }
            }
          }
        }
      }
    }

    @include screen(tablet) {
      .c-prd-info {
        display: flex;
        flex-wrap: wrap;
        gap: rem(24px);
        &__wrap {
          flex-basis: calc((50% - 12px));
        }
      }
    }
  }

  // submit btn group
  .c-btn-submit__group {
    // border-top: 1px solid $grayd;
    // padding: 0 rem($padding25px);
    margin-top: rem($margin12px);

    // margin-bottom: rem($margin20px);
    .button {
      margin-top: rem($margin20px);
      // width: 100%;
      display: flex;
      gap: rem(12px);

      .c-button {
        // width: calc(50% - rem(5px));
      }
    }

    @include screen(web) {
      margin-bottom: rem($margin20px);
      margin-top: rem($margin20px);

      .button {
        // justify-content: center;
        justify-content: flex-start;
        // width: auto;
        margin-top: rem($margin20px);

        .c-button {
          margin: 0;
          // width: rem($width160px);
        }
      }
    }
  }

  hr {
    border: none;
    border-top: 1px solid $grayd;
    margin: 0 rem($margin25px);
    max-width: $design-grid-full;

    + .c-cs-header {
      margin: 0 auto !important;
      /* border-top: 1px solid red; */
      padding: rem($padding20px) rem($padding25px);
    }

    @include screen(web) {
      margin: rem($margin100px) 0 0 0;

      + .c-cs-header {
        max-width: rem(708px);
        margin: 0 auto !important;
        padding-top: rem($padding100px);
      }
    }
  }
}
