@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.AL0013';
#{$component} {
  > .component > .cmp-container {
    @include screen(web) {
      padding-top: rem($padding48px);
      @include container($design-grid-full, true);
      @include inset-padding-hz;
    }
  }
  .c-find-job-list {
    width: 100%;
    max-width: rem(1440px);
    padding: rem(0 $padding25px);
    @include screen(web) {
      padding: rem($padding12px) rem(122px);
      background-color: $white;
      @include lgness-radius('default');
    }
  }
  .cmp-find-job {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    &-list {
      border-bottom: rem($border1) solid $mid-gray1;
      &:last-child {
        border-bottom: none;
      }
      a {
        padding: rem($padding24px) 0;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        @include screen(web) {
          padding: rem($padding24px) 0;
          align-items: center;
          flex-direction: row;
        }
      }
      a:hover {
        text-decoration: none;
        .cmp-find-job-title {
          text-decoration: underline;
        }
      }
    }
    &-title {
      display: block;
      font-size: rem(24px);
      line-height: rem(28px);
      font-weight: $font-semibold;
      @include ellipsis(2);
      max-height: rem(56px);
      @include screen(web) {
        padding: 0;
        max-height: initial;
        display: initial;
      }
    }
    &-posted {
      margin-top: rem($margin12px);
      font-size: rem(14px);
      line-height: rem(20px);
      white-space: nowrap;
      color: $gray6;
      @include screen(web) {
        margin-top: 0;
        line-height: rem(14px);
      }
    }
    &-item {
      justify-content: space-between;
      flex-direction: row;
      gap: 0;
      display: flex;
      @include screen(web) {
        align-items: center;
        @include ellipsis(1);
        padding-right: rem(80px);
      }
      .cmp-title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include screen(mobile) {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          white-space: inherit;
        }
      }
    }
  }
  .more-btn {
    margin-top: rem($margin20px);
    text-align: center;
    @include screen(web) {
      margin-top: rem($margin40px);
    }
  }
  button {
    border: none;
    padding: rem($padding32px) 0;
    font-size: rem(16px);
    line-height: rem(16px);
    @include screen(web) {
      font-size: rem(24px);
      line-height: rem(24px);
    }
  }
}
