/* stylelint-disable comment-whitespace-inside */
@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.ST0058';
#{$component} {
  @include lgness-margin('if-headline');
  > .component > .cmp-container {
    max-width: rem($design-grid-full + ($block-margin-w * 2));
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: relative;
  }

  // AEM integration fix starts. wont impact html
  > .cmp-container {
    max-width: rem($design-grid-full + ($block-margin-w * 2));
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: relative;
  }

  .responsivegrid {
    position: static;
  }

  .ST0058 {
    position: static;
    > .component {
      position: inherit;
      > .cmp-container {
        position: inherit;
      }
    }
  }

  // AEM integration fix ends.

  // .c-region-header {
  //     margin-bottom: rem($margin20px);
  //     @include screen(web) {
  //         margin-bottom: rem($margin26px);
  //     }
  // }
  .c-text-contents {
    @include inset-padding-hz;
    @include screen(mobile) {
      text-align: center;
    }
  }

  // option - align
  .cmp-carousel {
    .c-text-contents {
      &.align-text-left {
        .c-text-contents__subcategory,
        .c-text-contents__description {
          text-align: center;
          @include screen(web) {
            text-align: left; /* 230512 RTL */
          }
        }
      }
      &.align-text-center {
        .c-text-contents__subcategory,
        .c-text-contents__description {
          text-align: center;
          @include screen(web) {
            text-align: center;
          }
        }
      }
      &.align-text-right {
        .c-text-contents__subcategory,
        .c-text-contents__description {
          text-align: center;
          @include screen(web) {
            /*! rtl:ignore */
            text-align: right;
          }
        }
      }
    }
  }

  .title {
    padding: 0 rem($block-margin-m);
    @include screen(web) {
      padding: 0 rem($block-margin-w);
    }
  }

  .title + .tabs {
    margin-top: rem($margin10px);
  }

  .cmp-tabs__tabpanel {
    @include inset-padding-hz;
    margin-top: rem($margin12px);
    @include screen(web) {
      margin-top: rem($margin20px);
    }
    &:focus-visible {
      outline: none;
      .c-category-list {
        @include lgness-radius('default');
        outline: rem($border2) solid currentcolor;
      }
      .c-carousel {
        @include lgness-radius('default');
        outline: rem($border2) solid currentcolor;
        outline-offset: 0;
        .c-category-list {
          outline: none;
        }
      }
    }
  }

  .c-image {
    min-width: rem($max-width120px);
    max-width: rem($max-width120px);
    max-height: rem($max-width120px);
    overflow: hidden;
    @include screen(web) {
      max-width: rem($max-width300px);
      max-height: rem($max-width300px);
    }
  }

  .c-category-list {
    display: flex;
    flex-wrap: wrap;
    gap: rem($gutter-m);
    @include screen(web) {
      gap: rem($gutter-w);
      column-gap: min(rem($gutter-w), $gutter-w/$design-grid-full * 100%);
      row-gap: rem($gutter-w);
    }
    &__item {
      width: calc(50% - rem(calc($gutter-m/2)));
      text-align: center;
      @include screen(web) {
        flex: 1;
        text-align: initial;
      }
      @include screen(mobile) {
        .c-image {
          margin: 0 auto;
        }
      }
    }
    &__link {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background: $white;
      gap: rem($padding12px);
      padding: rem($padding20px $padding15px);
      outline-offset: rem(-$border2);
      @include lgness-radius('default');
      @include screen(web) {
        flex-direction: column-reverse;
        justify-content: space-between;
        padding: rem($padding32px);
        gap: rem($padding8px);
      }
    }
    .c-text-contents {
      padding: 0;
      // @include screen(web) {
      //     max-width: rem($max-width240px);
      //     margin: 0 auto;
      // }
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: rem(12px);
      @include screen(web) {
        // min-height: rem(180px);
      }
      &__inner {
        @include screen(web) {
          min-height: rem(120px);
        }
      }
      &__subcategory {
        @include ellipsis(2);
        font-size: rem(16px);
        line-height: rem(18px);
        font-weight: normal;
        min-height: rem(36px);
        @include screen(web) {
          font-size: rem(32px);
          line-height: rem(36px);
          // min-height: rem(72px);
        }
      }
      &__description {
        display: none;
        font-weight: normal;
        color: $gray3;
        @include screen(web) {
          display: block;
          padding: rem($padding8px) 0 0;
          @include ellipsis(2);
          font-size: rem(16px);
          line-height: rem(20px);
          // min-height: rem(48px);
        }
      }
    }

    &.six-or-more {
      &.swiper-wrapper.c-category-list {
        max-height: rem($height208px * 3 + $padding20px);
        gap: 0;
        display: flex;
        flex-direction: column;
        @include screen(web) {
          // max-height: rem($max-height216px * 2 + $gutter-w);
          max-height: rem(244px * 2 + $gutter-w);
        }
        @include screen(tablet) {
          // max-height: rem($max-height216px * 3 + $gutter-w + $gutter-w);
          max-height: rem(244px * 3.6 + $gutter-w + $gutter-w);
        }
      }
      .swiper-slide.c-category-list__item {
        margin: 0;
        height: auto;
        @include screen(mobile) {
          height: rem($height208px);
        }
      }
    }

    &.length-6 {
      // Change the order according to Carousel in mobile and tablet views
      .c-category-list__item:nth-child(1) {
        order: 1;
      }
      .c-category-list__item:nth-child(2) {
        order: 3;
      }
      .c-category-list__item:nth-child(3) {
        order: 5;
      }
      .c-category-list__item:nth-child(4) {
        order: 2;
      }
      .c-category-list__item:nth-child(5) {
        order: 4;
      }
      .c-category-list__item:nth-child(6) {
        order: 6;
      }
      // Reorder to fit Carousel in desktop view
      @include screen(desktop) {
        .c-category-list__item:nth-child(1) {
          order: 1;
        }
        .c-category-list__item:nth-child(2) {
          order: 4;
        }
        .c-category-list__item:nth-child(3) {
          order: 2;
        }
        .c-category-list__item:nth-child(4) {
          order: 5;
        }
        .c-category-list__item:nth-child(5) {
          order: 3;
        }
        .c-category-list__item:nth-child(6) {
          order: 6;
        }
      }
    }

    // Horizontal shape in mobile view
    @include screen(mobile) {
      &.length-5 .c-category-list__item:nth-child(1),
      &.length-4 .c-category-list__item:nth-child(1),
      &.length-4 .c-category-list__item:nth-child(2),
      &.length-3 .c-category-list__item {
        width: 100%;
        .c-image {
          margin: 0;
          max-width: rem($max-width120px);
          max-height: rem($max-width120px);
        }
        .c-category-list__link {
          flex-direction: row-reverse;
          // align-items: center;
          justify-content: center;
          gap: rem($padding12px);
          padding: rem($padding20px);
          .button {
            display: block;
            .c-button--default ~ .c-button--default {
              margin-top: rem($margin8px);
            }
          }
        }
        .c-text-contents {
          flex: 1;
          max-width: rem($max-width180px);
          text-align: initial;
          &__subcategory {
            padding: 0;
            font-size: rem(20px);
            line-height: rem(24px);
            @include screen(web) {
              font-size: rem(32px);
              line-height: rem(36px);
            }
          }
        }
        .c-image,
        .c-text-contents {
          flex: auto;
          margin: 0;
        }
      }
      &.length-6 .c-category-list__item {
        .c-category-list__link {
          .button {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: rem(8px) rem($margin24px - $margin6px);
            .c-button--text-icon {
              margin-right: 0;
            }
          }
        }
      }
      .c-category-list__link {
        .button {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: rem(8px);
        }
      }
    }

    // Vertical shape in desktop view
    @include screen(desktop) {
      &.length-6 .c-category-list__item {
        height: 50%;
      }
      &.six-or-more .c-category-list__item,
      &.length-6 .c-category-list__item,
      &.length-5 .c-category-list__item {
        $size: columns(4, false, web);
        width: min(rem($size), $size/$design-grid-full * 100%);
        flex: auto;
      }
      &.six-or-more .c-category-list__item,
      &.length-6 .c-category-list__item,
      &.length-5 .c-category-list__item:nth-child(2),
      &.length-5 .c-category-list__item:nth-child(3),
      &.length-5 .c-category-list__item:nth-child(4),
      &.length-5 .c-category-list__item:nth-child(5) {
        .c-image {
          max-width: rem($max-width152px);
          max-height: rem($max-width152px);
          flex: 0 0 auto;
        }
        .c-category-list__link {
          flex-direction: row-reverse;
          gap: rem($padding24px);
          padding: rem($padding32px);
        }
        .c-text-contents {
          flex: 1;
          text-align: initial;
          &__subcategory {
            padding: 0;
          }
        }
      }
      &.length-4,
      &.length-3 {
        .c-text-contents {
          @include screen(web) {
            gap: rem(12px);
            margin-bottom: rem(24px);
            // min-height: rem(180px);
          }
        }
      }
      &.length-5 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        .c-category-list__item {
          width: 100%;
          height: 100%;
          &:nth-child(1) {
            grid-column: 1 / 2;
            grid-row: 1 / 3;
            .c-text-contents {
              display: flex;
              flex-direction: column;
              gap: rem(16px);
              margin-bottom: rem(24px);
            }
          }
          &:nth-child(2) {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
          }
          &:nth-child(3) {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
          }
          &:nth-child(4) {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
          }
          &:nth-child(5) {
            grid-column: 3 / 4;
            grid-row: 2 / 3;
          }
        }
        .length-4 {
          min-height: rem(180px);
        }
      }
    }

    // in tablet view
    @include screen(tablet) {
      .c-category-list__item {
        .c-image {
          max-width: rem($max-width120px);
          max-height: rem($max-width120px);
        }
      }
      // 2 cols
      &.six-or-more .c-category-list__item,
      &.length-6 .c-category-list__item,
      &.length-5 .c-category-list__item,
      &.length-4 .c-category-list__item {
        $size: columns(6, false, web);
        width: min(rem($size), $size/$design-grid-full * 100%);
        // height: rem($height180px);
        flex: auto;
        .c-image {
          max-width: rem($max-width120px);
          max-height: rem($max-width120px);
        }
      }
      // length-5 first item
      &.length-5 .c-category-list__item:nth-child(1) {
        width: 100%;
        // height: rem($height180px);
        .c-category-list__link {
          justify-content: center;
        }
        .c-image {
          max-width: rem($max-width120px);
          max-height: rem($max-width120px);
        }
        .c-image,
        .c-text-contents {
          flex: auto;
          margin: 0;
        }
      }
      // padding for tablet view
      &.six-or-more .c-category-list__item,
      &.length-6 .c-category-list__item,
      &.length-5 .c-category-list__item,
      &.length-4 .c-category-list__item,
      &.length-3 .c-category-list__item {
        .c-category-list__link {
          padding: rem($padding32px);
        }
      }
      // Horizontal shape in tablet view
      &.six-or-more .c-category-list__item,
      &.length-6 .c-category-list__item,
      &.length-5 .c-category-list__item,
      &.length-4 .c-category-list__item {
        // height: rem($height180px);
        .c-image {
          max-width: rem($max-width120px);
          max-height: rem($max-width120px);
        }
        .c-category-list__link {
          flex-direction: row;
          gap: rem($padding24px);
        }
        .c-text-contents {
          flex: 1;
          text-align: initial;
          &__subcategory {
            padding: 0;
          }
        }
      }
      .c-category-list__link {
        .button {
          display: flex;
          flex-wrap: wrap;
          gap: rem(8px);
        }
      }
    }
  }

  // vendor
  .swiper {
    overflow-y: visible;
    position: static;
  }
}
