@charset "UTF-8";

@use '../../scss/abstract/' as *;

// body {
//     position: relative;
// }

// component
$component: '.CS0006';

#{$component} {
  // variable
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  $mobile-width: calc(100% - rem($margin25px * 2));

  &__container {
    @include flex-context;
    @include container($design-grid-full, true);
    @include inset-padding-hz(mobile);
    @include screen(web) {
      @include flex-context;
      padding: rem(0 24px);
    }
    @include screen(tablet) {
      @include inset-padding-hz;
    }

    @at-root #{$component} {
      .full #{$component}__container {
        padding-left: 0;
        padding-right: 0;

        @include screen(web) {
          @include inset-padding-hz;
        }

        #{$cs-header} {
          margin: rem(0 $margin25px);
          margin-bottom: rem($margin20px);

          @include screen(web) {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: rem($margin40px);
          }
        }
      }
    }
  }

  // Support HEADER
  #{$cs-header} {
    margin-bottom: rem($margin20px);

    a {
      color: $red;
      text-decoration: underline;
    }

    @include screen(web) {
      margin-bottom: rem($margin40px);
    }

    @at-root #{$component} #{$cs-header} {
      #{$text-contents} {
        // text-align: center;
      }

      #{$text-contents}__headline + #{$text-contents}__bodycopy {
        margin-top: rem($margin6px);

        @include screen(web) {
          margin-top: rem($margin10px);
        }
      }
    }
  }

  .c-cta {
    // display: block;
    margin-top: rem($margin20px);
  }

  // SUPPORT (INDIVIDUALIZATION) - COMPONENT CLASS ADDED .type-card__slide
  .type-card__slide {
    // margin-top: rem($margin20px);
    #{$component}__container {
      #{$cs-header} {
        margin-top: rem($margin30px);

        @include screen(web) {
          margin-top: rem($margin40px);
          display: inline-block;
          margin-bottom: 0;
        }
      }
    }

    .c-login {
      &__induce {
        background: $ivory6;
        padding: rem($padding32px $padding25px);
        // text-align: center;
        margin-top: rem($margin24px);

        p {
          margin-bottom: rem($margin6px);
        }

        .c-cta {
          margin-top: rem($margin20px);
        }

        @include screen(web) {
          padding: rem($padding40px 0);

          p {
            margin-bottom: rem($margin10px);
            line-height: rem(44px);
          }

          .c-cta {
            margin-top: rem($margin24px);
          }
        }
      }

      &__desc {
        margin: 0 auto rem($margin20px);
        // max-width: rem(170px);
        line-height: rem(18px);

        @include screen(web) {
          max-width: initial;
        }
      }
    }

    .swiper-slide {
      display: grid;
      height: auto;
      // border: 1px solid transparent;
      @include screen(web) {
        &:first-child {
          .c-prd-register {
            // margin-left: rem($margin24px);
          }
        }
        &.emptyCard {
          &:last-child {
            margin: 1.5rem 0;
            box-sizing: border-box;
            // width: calc((100% - 111px) / 3) !important;
            // border: 1px solid #000;
            .c-prd-register {
              // margin-right: rem($margin24px);
              // margin-right: 0;
            }
          }
        }
        &:not(.emptyCard) {
          &:nth-child(3) {
          }
        }
        &:nth-child(3) {
          // border: 1px solid #000;
          .c-prd-register {
            // margin-right: rem($margin24px);
          }
        }
        &.swiper-slide-active {
          margin: 0;
          .c-prd-register {
            // margin: 0;
          }
        }
      }
      .c-prd-register {
        border-radius: rem($radius20);
        padding: rem($padding20px);
        background: $white;
        border: 2px solid transparent;
        p {
          text-align: left;
          line-height: rem(14px);
        }

        &__prdinfo {
          display: flex;
          // align-items: center;
          align-items: flex-start;
          flex-direction: row-reverse;
          gap: rem(12px);
          justify-content: space-between;
          // padding: rem($padding12px) 0 rem($padding20px);
          img {
            width: rem(80px);

            max-width: inherit;
          }
        }

        &__prdtxt {
          // margin-left: rem($margin10px);
          text-align: left;

          @include screen(tablet) {
            width: 50%;
          }

          p {
            color: $active-red;
            line-height: rem(14px);
            margin-bottom: rem($margin10px);
            @include ellipsis(1);

            @include screen(web) {
              font-weight: $font-semibold;
            }
          }

          .c-prd-tit {
            color: $gray3;
            @include ellipsis(2);
            min-height: rem($height48px);
          }

          .c-prd-num {
            color: $gray6;
            font-size: rem(12px);
            line-height: rem(14px);
          }

          .button {
            // display: inline-flex;
            margin-top: rem($margin12px);

            @include screen(web) {
              margin-top: rem($margin20px);
            }
          }
        }

        .button.c-cta {
          // margin: 0 rem($margin20px);
        }

        &.c-prd-cart {
          .button {
            .c-btn-more {
              text-decoration: underline;
              display: inline-block;
              margin-right: rem($margin20px);
            }
          }
        }

        @include screen(web) {
          padding: rem($padding24px);
          border-radius: rem($radius28);
          // border: 2px dashed lime;
          margin: 24px 0;
          margin-right: 0;
          border: 2px solid transparent;
          &:last-child {
            // margin-right: 24px;
          }
          // &:first-child {
          //     margin-left: 24px;
          // }
          p {
            line-height: rem(14px);
          }

          &__prdinfo {
            img {
              width: auto;
              max-width: rem(132px);
              // border-radius: $radius6;
            }
          }

          &__prdtxt {
            color: $gray3;
            margin-left: 0;
            // margin-bottom: rem($margin4px);

            .c-prd-num {
              font-size: rem(16px);
              line-height: rem(24px);
            }
          }
        }

        @include screen(tablet) {
          &__prdinfo {
            display: block;
            .cmp-image {
              text-align: center;
              img {
                object-fit: cover;
                max-width: rem(132px);
                width: auto;
              }
            }
          }

          &__prdtxt {
            margin-left: 0;
            width: auto;
            margin-top: rem($margin8px);
          }
        }
      }

      &.emptyCard {
        border-radius: rem($radius20);
        // min-height: rem(170px);
        align-items: center;
        justify-content: center;
        background: $light-gray1;
        padding: rem($padding36px $padding50px);
        display: flex;

        @include screen(mobile) {
          display: none;
        }
        .c-prd-register {
          background: none;
        }

        p {
          // line-height: rem(22px);
          // min-height: rem(66px);
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .c-prd-register {
          border: none;
          padding: 0;
        }

        @include screen(web) {
          // padding: rem($padding44px) rem($padding32px);
          border-radius: rem($radius28);
          margin: rem($margin24px 0);
          padding: 0;
          p {
            // min-height: rem(88px);
          }
          .c-prd-register {
            border: none;
            padding: 0;
            width: 100%;
            height: 100%;
            position: relative;
            &__to-list {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              $icon: '&:after';
              #{$icon} {
                $size-w: calc(78 / 448 * 100%);
                $size-m: calc(30 / 159 * 100%);

                content: '';
                display: block;
                min-width: rem($min-width62px);
                width: $size-m;
                height: 100%;
                background: {
                  image: url($icon-plus-grayb-78-78);
                  repeat: no-repeat;
                  size: 100% auto;
                  position: 50% 50%;
                }
                @include screen(web) {
                  width: $size-w;
                }
              }
              &:hover,
              &:focus-visible {
                outline-offset: rem($border1 * -1);
              }
            }
          }
        }

        @include screen(tablet) {
          // min-height: rem(236px);
          // padding: rem($padding31px) rem($padding32px);
        }
      }

      &:not(.emptyCard) {
        &:hover {
          // background-color: $gray58;

          .c-prd-register {
            @include screen(web) {
              // border: 1px solid $red;
            }

            // background-color: $gray58;
            cursor: pointer;
            &__prdtxt {
              p {
                // color: $white;
              }
              .c-prd-tit {
                // color: $white;
              }
              .button {
                .c-button {
                  // color: $white;
                }
              }
            }
          }
        }
      }

      &.custom-active:not(.emptyCard) {
        // border: 2px solid $red;
        // border: 2px solid #ea1917;
        // border-radius: rem($radius20);

        .c-prd-register {
          border: 2px solid $black;
          border-radius: rem($radius20);
        }

        .c-prd-induce {
          border: 2px solid $red;
        }
        &:hover {
          // background: $gray58;
        }
      }
    }

    .swiper-slide:nth-child(n + 4) {
      display: none;
    }

    .c-carousel {
      column-gap: rem($gutter-w);
      position: relative;

      &__item {
        border-radius: rem($radius8);

        &:only-child {
          @include screen(web) {
            max-width: rem(columns(3, false));
          }

          @include screen(mobile) {
            max-width: rem(columns(4, true, mobile));
            // must be cascade inline style from swiper.
            margin-left: auto !important;
            margin-right: auto !important;
          }
        }

        .c-text-contents__headline {
          padding: 0;
        }
      }

      &__handler {
        margin-top: rem($margin20px);
        padding-bottom: 0;
        order: 3;
        &.hidden {
          display: none;
        }
        + .button.c-cta {
          order: 2;
          display: flex;
          justify-content: center;
          position: absolute;
          margin-top: rem(-68px);
          .c-button {
            color: $gray3;
          }

          &.hidden {
            display: none;
          }
        }

        @include screen(web) {
          display: none;
          margin-top: rem($margin92px);

          + .button.c-cta {
            width: 100%;
            // margin-top: rem($margin40px);
            justify-content: end;

            .c-button {
              color: $gray3;
            }
          }
        }
      }
    }

    .c-image {
      display: inline-block;
      max-width: rem($max-width120px);
      max-height: rem($max-width120px);

      @include screen(web) {
        max-width: rem(200px);
        max-height: rem(200px);
      }
    }

    // vendor : fit to this component
    .swiper {
      @include inset-padding-hz(mobile);

      @include screen(web) {
        padding: 0;
      }

      &-wrapper.swiper-steady {
        justify-content: center;
      }
    }

    // layout : margin
    $text: '.c-text-contents';
    $image: '.c-image';
    $carousel: '.c-carousel';
    .carousel {
      &.panelcontainer {
        // margin-top: rem(-50px);
      }
    }
    .c-viewMore-btn {
      margin-left: rem($margin25px);
      @include screen(mobile) {
        position: absolute;
        bottom: rem(176px);
        z-index: 10;
      }
      + .carousel {
        &.panelcontainer {
          margin-top: rem(-50px);
        }
      }
      @include screen(web) {
        justify-content: end;
        margin: rem(-46px 0 46px 0);
        + .carousel {
          &.panelcontainer {
            margin-top: 0;
          }
        }
      }
    }
    #{$carousel} {
      // margin-top: rem($margin20px);
      display: flex;
      flex-direction: column;
      padding-top: rem($padding68px);
      position: relative;
      overflow: inherit;
      &.noEmptyCard {
        padding-top: 0;
      }
      @include screen(web) {
        padding-top: 0;
        // margin-top: rem($margin40px);
        // padding-top: rem($padding38px);
        background: $white;
        padding: rem(0 $padding24px);
        border-radius: rem($radius32);
        .swiper-wrapper {
          // width: calc((100% - 48px));
        }
      }
    }

    #{$image} + #{$text} {
      margin-top: rem($margin10px);

      @include screen(web) {
        margin-top: rem($margin20px);
      }
    }
  }

  // type thinQ
  &.type-thinq {
    .type-card__slide {
      .swiper-slide {
        .c-prd-register {
          &:hover {
            background-color: $ivory2;
          }
        }
        &.custom-active {
          &:not(.emptyCard) {
            .c-prd-register {
              border-color:$active-red;
            }
          }
        }
      }
    }
  }

  // TOAST MESSAGE
  // #toast {
  //   visibility: hidden;
  //   width: rem(200px);
  //   margin-left: rem(-100px);
  //   background-color: rgba(51, 51, 51, 0.8);
  //   border-radius: rem($radius8);
  //   color: $white;
  //   text-align: center;
  //   padding: rem($padding12px) rem($padding16px);
  //   position: relative;
  //   position: fixed;
  //   // position: absolute;
  //   z-index: 10;
  //   left: 50%;
  //   bottom: rem(40px);
  //   font-size: rem(14px);
  //   font-weight: $font-semibold;
  //   display: flex;
  //   align-items: center;
  //   backdrop-filter: blur(10px);
  //   &.show {
  //     visibility: visible;
  //     -webkit-animation:
  //       fadein 0.5s,
  //       fadeout 0.5s 2.5s;
  //     animation:
  //       fadein 0.5s,
  //       fadeout 0.5s 2.5s;
  //   }
  //   .closeBtn {
  //     cursor: pointer;
  //     position: absolute;
  //     top: rem(16px);
  //     right: rem(16px);
  //     width: rem(12px);
  //     height: rem(12px);

  //     // margin-left: rem(85px);
  //   }
  //   @include screen(web) {
  //     left: initial;
  //     right: 5.2%;
  //   }
  // }
  // @-webkit-keyframes fadein {
  //   from {
  //     bottom: 0;
  //     opacity: 0;
  //   }
  //   to {
  //     bottom: rem(40px);
  //     opacity: 1;
  //   }
  // }

  // @keyframes fadein {
  //   from {
  //     bottom: 0;
  //     opacity: 0;
  //   }
  //   to {
  //     bottom: rem(40px);
  //     opacity: 1;
  //   }
  // }

  // @-webkit-keyframes fadeout {
  //   from {
  //     bottom: rem(40px);
  //     opacity: 1;
  //   }
  //   to {
  //     bottom: 0;
  //     opacity: 0;
  //   }
  // }

  // @keyframes fadeout {
  //   from {
  //     bottom: rem(40px);
  //     opacity: 1;
  //   }
  //   to {
  //     bottom: 0;
  //     opacity: 0;
  //   }
  // }
  // option - align
  .c-text-contents {
    &.align-text-left {
      .c-text-contents__subcategory,
      .c-text-contents__description {
        text-align: center;

        @include screen(web) {
          text-align: left;
        }
      }
    }

    &.align-text-center {
      .c-text-contents__subcategory,
      .c-text-contents__description {
        text-align: center;

        @include screen(web) {
          text-align: center;
        }
      }
    }

    &.align-text-right {
      .c-text-contents__subcategory,
      .c-text-contents__description {
        text-align: center;

        @include screen(web) {
          text-align: right;
        }
      }
    }
  }
}
