@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.AL0005';

#{$component} {
  .bg-lightgray > .component {
    background-color: $ivory6;
    padding-top: 0;
    padding-bottom: 0;
    @include screen(web) {
      padding-top: rem($padding100px);
      padding-bottom: rem($padding100px);
    }
  }
  &.margin-top {
    @include screen(mobile) {
      padding-top: 0;
    }
  }
  > .component > .cmp-container {
    @include screen(web) {
      @include inset-padding-hz;
      @include container($design-grid-full, true);
    }
    .c-finder {
      @include screen(web) {
        @include lgness-radius('default');
        overflow: hidden;
      }
    }
    .c-search-box {
      &__header {
        @include screen(web) {
          display: none;
        }
      }
      &__form {
        flex: 0 0 0;
        label {
          @include screen(web) {
            display: none;
          }
        }
      }
      .c-input-label {
        width: auto;
        flex: 0 0 auto;
      }
      &__body {
        .c-search-box__header {
          display: none;
          @include screen(web) {
            margin-top: 0;
            display: block;
            margin-bottom: 0;
            font-size: rem(24px);
            line-height: rem(40px);
            font-weight: $font-semibold;
            white-space: nowrap;
          }
        }
      }
    }
  }
  .c-pop-msg {
    &__container {
      background-color: $light-gray2;
      max-width: rem(1124px);
      justify-content: space-between;
      padding: rem($padding40px) 0;
      @include screen(web) {
        height: auto;
        @include lgness-radius('default');
      }
    }
    &__header {
      border-bottom: rem($border1) solid $mid-gray1;
      padding: 0 rem($padding25px) rem($padding12px);
      margin-bottom: rem($margin12px);
      @include screen(web) {
        padding: 0 rem($padding48px) rem($padding20px);
        margin-bottom: rem($margin20px);
      }
    }
    &__button {
      width: 100%;
      text-align: center;
      padding-top: rem($padding24px);
      border-top: rem($border1) solid $graye6;
      @include screen(mobile) {
        position: absolute;
        bottom: rem(48px);
      }
    }
    &__button-wrap {
      margin-top: rem(0);
      padding-top: rem($padding24px);
      justify-content: center;
      button {
        width: calc(100% - rem(32px));
      }
      @include screen(web) {
        button {
          width: auto;
        }
        padding-top: rem($padding40px);
        margin-top: rem($margin20px);
        border-color: $mid-gray1;
      }
    }
    &__close-button {
      top: rem(40px) !important;
      right: rem(40px) !important;
      // @include screen(web) {
      //     margin: rem($margin40px) !important;
      // }
      &::after {
        width: rem(20px) !important;
        height: rem(20px) !important;
      }
      @include screen(mobile) {
        &:before {
          width: rem(12px) !important;
          height: rem(12px) !important;
        }
      }
    }
    .c-resources__item {
      background-color: $light-gray3;
    }
  }
  .cmp-find-job {
    &-item {
      padding: 0 rem($padding16px);
      @include screen(web) {
        padding: 0;
      }
    }
    &-detail {
      @include screen(web) {
        background-color: $white;
        padding: 0 rem($padding48px);
        @include lgness-radius('default');
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }
    }
    &-detail-info {
      position: relative;
      @include screen(web) {
        padding: rem(78px) 0 0;
        border-bottom: rem($border1) solid $grayd;
      }
    }
    &-title {
      display: block;
      padding: rem(82px) 0 0;
      font-size: rem(28px);
      line-height: rem(32px);
      @include screen(web) {
        padding: 0;
        font-size: rem(56px);
        line-height: rem(60px);
      }
    }
    &-text {
      display: initial #{'/*!rtl:flex*/'}; /* 230601 RTL */
      margin-top: rem($margin12px);
      font-size: rem(14px);
      line-height: rem(16px);
      color: $mid-gray3;
      @include screen(web) {
        font-size: rem(20px);
        line-height: rem(24px);
      }
      span {
        position: relative;
        margin-left: rem($margin10px);
        padding-left: rem(11px);
        &::before {
          position: absolute;
          left: 0;
          top: rem(2px);
          content: '';
          display: block;
          width: rem(1px);
          height: rem(14px);
          background-color: $mid-gray1;
          @include screen(web) {
            top: rem(4px);
          }
        }
      }
    }
    &-entryCode {
      margin-top: rem($margin12px);
      color: $mid-gray3;
      line-height: rem(14px);
      @include screen(web) {
        line-height: rem(18px);
      }
    }
    &-info {
      margin-top: rem($margin12px);
      color: $gray6;
      font-size: rem(14px);
      line-height: rem(20px);
      @include screen(web) {
        display: flex;
        justify-content: space-between;
        margin-top: rem($margin24px);
      }
      .c-sns-share {
        display: flex;
        gap: rem($gutter-w);
        justify-content: flex-end;
      }
      &-buttonBox {
        position: absolute;
        top: rem(25px);
        right: rem(16px);
        align-items: center;
        @include screen(web) {
          top: rem(48px);
          right: 0;
        }
      }
    }
    &-info-box {
      display: flex;
      flex-direction: column;
      gap: rem(8px);
      @include screen(web) {
        flex-direction: row;
        gap: 0;
      }
      > div {
        &:nth-child(n + 2) {
          position: relative;
          @include screen(web) {
            margin-left: rem($margin10px);
            padding-left: rem(11px);
            &::before {
              position: absolute;
              left: 0;
              top: rem(4px);
              content: '';
              display: block;
              width: rem(1px);
              height: rem(14px);
              background-color: $graye6;
            }
          }
        }
      }
    }
    &-writer {
      color: $dark-gray3;
    }
    &-term {
      color: $gray3;
    }
    &-posted {
      position: absolute;
      top: rem(64px);
      left: rem(16px);
      color: $mid-gray3;
      font-size: rem(12px);
      line-height: rem(14px);
      @include screen(web) {
        top: rem(48px);
        left: 0;
        font-size: rem(16px);
        line-height: rem(18px);
      }
    }
    &-detail-content {
      padding: rem($padding24px) rem($padding16px);
      @include screen(web) {
        padding: rem($padding48px 0 $padding64px);
      }
      .title {
        font-size: rem(20px);
        line-height: rem(24px);
        color: $dark-gray3;
        @include screen(web) {
          font-size: rem(32px);
          line-height: rem(36px);
        }
      }
      .text {
        font-size: rem(16px);
        line-height: rem(18px);
        color: $dark-gray3;
        margin-top: rem($margin8px);
        @include screen(web) {
          font-size: rem(24px);
          line-height: rem(28px);
          margin-top: rem($margin12px);
        }
      }
      .image {
        margin-bottom: rem($margin12px);
      }
    }
    &-detail-buttons {
      padding: 0 rem(25px);
      @include screen(web) {
        padding: 0;
        background-color: $white;
        @include lgness-radius('default');
        border-top-right-radius: 0 !important;
        border-top-left-radius: 0 !important;
      }
      .button {
        display: block;
        text-align: center;
        @include screen(web) {
          // padding-top: rem($margin24px);
          padding-bottom: rem($padding48px);
        }
      }
    }
    &-buttons {
      display: flex;
      gap: rem(12px);
      margin: 0 rem($margin16px);
      margin-top: rem($margin24px);
      padding-bottom: rem($padding24px);
      border-bottom: rem($border1) solid $grayd;
      @include screen(web) {
        gap: rem(8px);
        margin: 0;
        margin-top: rem($margin32px);
        padding-bottom: rem($padding32px);
        border-bottom: 0;
      }
    }
  }
  .c-control-link {
    width: 100%;
    max-width: 90rem;
    padding: 0 rem($padding16px) rem($padding24px);
    @include screen(web) {
      padding: 0 rem($padding48px);
      padding-bottom: rem($padding24px);
      background-color: $white;
    }
    ul {
      width: 100%;
      margin: 0;
      border-top: rem($border1) solid $mid-gray1;
      padding: rem($padding24px) 0 0;
      li {
        list-style: none;
        table-layout: fixed;
        display: table;
        width: 100%;
        color: $gray3;
        vertical-align: middle;
        > * {
          display: table-cell;
        }
        .to-contents {
          position: relative;
          .prev-contents,
          .next-contents {
            display: flex;
            width: 100%;
            justify-content: space-between;
            color: $gray3;
            flex-direction: column;
            align-items: flex-start;
            @include screen(web) {
              flex-direction: row;
              align-items: center;
            }
            a {
              color: $gray3;
              @include ellipsis(3);
              font-size: rem(14px);
              line-height: rem(16px);
              @include screen(web) {
                display: block;
                @include ellipsis(1);
                font-size: rem(16px);
                line-height: rem(18px);
              }
            }
          }
          .to-date {
            width: rem(110px);
            font-size: rem(12px);
            line-height: rem(12px);
            color: $mid-gray3;
            margin-top: rem($margin8px);
            display: block;
            @include screen(web) {
              width: auto;
              margin-top: 0;
              display: inline;
              font-size: rem(12px);
              line-height: rem(14px);
            }
          }
          &::before {
            content: '';
            display: block;
            width: rem(1px);
            height: rem(12px);
            background-color: $mid-gray1;
            position: absolute;
            top: rem(5px);
            left: rem(-25px);
          }
        }
        .to {
          font-size: rem(14px);
          line-height: rem(16px);
          width: rem(110px);
          color: $black;
          @include screen(web) {
            width: 9%;
            font-size: rem(16px);
            line-height: rem(18px);
          }
        }
      }
      li + li {
        margin-top: rem($margin20px);
      }
    }
  }
  // sns-share
  .c-sns-share {
    display: flex;
    gap: rem(20px);
    @include screen(web) {
      gap: rem($gutter-w);
    }
    .cmp-button {
      &::before {
        width: rem(16px);
        height: rem(16px);
        @include screen(web) {
          width: rem(24px);
          height: rem(24px);
        }
      }
      &__text {
        font-weight: $font-semibold;
        font-size: rem(12px);
        line-height: rem(12px);
        @include screen(web) {
          font-size: rem(14px);
          line-height: rem(14px);
        }
      }
    }
  }
  .c-downloadList {
    .c-tooltip__container.active {
      @include screen(web) {
        display: flex;
      }
    }
  }
  // tooltip
  .c-tooltip {
    &__contents {
      padding-top: rem($padding34px);
      padding-bottom: rem($padding34px);
    }
    &__container {
      top: rem(8px);
      right: 0;
    }
    .c-resources__item {
      display: block;
      border: 0;
      border-radius: 0;
      &--extension {
        flex-shrink: 0;
      }
    }
    .downloadList {
      padding: 0;
      margin: 0;
      li {
        position: relative;
        list-style: none;
        + li {
          margin-top: rem($margin20px);
        }
      }
      a {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
      &__item {
        display: flex;
        align-items: center;
        gap: 0 rem(12px);
        width: 100%;
        overflow: hidden;
        .c-text {
          @include ellipsis(1);
          font-weight: $font-semibold;
          font-size: rem(14px);
          line-height: rem(14px);
        }
      }
    }
  }
  // list
  .c-list {
    @include reset-list-style;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem($margin12px);
    margin-top: rem($margin16px);
    .only-mobile {
      display: none;
    }
  }

  @include screen(web) {
    .font-w-semibold-14 {
      font-size: rem(14px);
    }
  }
  .c-pop-msg {
    &__contents--box {
      overflow-y: auto;
      height: 100%;
      padding: rem(0 $padding16px $padding24px);
      @include screen(web) {
        height: auto;
        padding: 0 rem($padding48px);
      }
    }
    .downloadList {
      padding: 0;
      margin: 0;
      li {
        position: relative;
        list-style: none;
      }
      a {
        display: block;
        width: 100%;
        text-decoration: underline;
        padding: rem($padding20px) rem($padding54px);
        border: rem($border1) solid $graye6;
        @include lgness-radius('default');
        span {
          @include ellipsis(2);
          text-decoration: underline;
          max-height: rem(84px);
        }
      }
    }
    &-explain-box {
      padding: rem($padding20px);
      @include lgness-radius('default');
      background-color: $ivory6;
      margin-top: rem($margin12px);
      height: rem(400px);
      overflow-y: scroll;
      .button {
        text-align: center;
        margin-top: rem($margin9px);
        @include screen(web) {
          margin-top: rem($margin20px);
        }
        .c-button--text-icon {
          &::after {
            width: rem(10px);
            height: rem(10px);
            background-image: url($icon-arrow-black-down-12-12);
          }
          .cmp-button__text {
            font-size: rem(12px);
            @include screen(web) {
              font-size: rem(16px);
            }
          }
        }
      }
    }
    &-explain-doc {
      @include ellipsis(7);
      line-height: rem(16px);
      @include screen(web) {
        @include ellipsis(8);
        line-height: rem(20px);
      }
    }
    &-explain-list {
      &-box {
        @include reset-list-style;
        margin-top: rem($margin8px);
        margin-bottom: rem($margin8px);
        @include screen(web) {
          margin-top: rem($margin12px);
          margin-bottom: rem($margin12px);
        }
        li {
          color: $gray3;
          font-size: rem(14px);
          line-height: rem(16px);
          padding-left: rem($padding24px);
          text-indent: rem(-18px);
          @include screen(web) {
            font-size: rem(16px);
            line-height: (20px);
          }
          .link--semibold {
            font-weight: $font-semibold;
            text-decoration: underline;
          }
        }
      }
      &-title {
        margin-top: rem($margin20px);
        font-size: rem(16px);
        line-height: rem(20px);
        @include screen(web) {
          font-size: rem(24px);
          line-height: rem(28px);
        }
      }
    }
    &-check-box {
      margin-bottom: rem($margin20px);
      .label {
        font-size: rem(16px);
        line-height: rem(20px);
        color: $black;
      }
    }
    &-attachments {
      @include lgness-radius('default');
      background-color: $light-gray3;
      padding: rem($padding20px);
      @include screen(web) {
        padding: rem($padding24px);
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .c-resources__title {
        padding-left: rem($padding26px);
        position: relative;
        font-weight: $font-semibold;
        font-size: rem(12px);
        line-height: rem(12px);
        @include screen(web) {
          font-size: rem(16px);
          line-height: rem(16px);
          padding-left: rem($padding34px);
        }
        &::before {
          content: '';
          display: inline-block;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: rem(24px);
          height: rem(24px);
          background-image: url($icon-file-24-24);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
      .button {
        margin-top: rem($margin18px);
        justify-content: flex-end;
        @include screen(web) {
          margin-top: 0;
          justify-content: initial;
        }
      }
    }
    &-attachments-type2 {
      display: flex;
      padding: rem(20px) 0;
      border-top: 1px solid #cbc8c2;
      border-bottom: 1px solid #cbc8c2;
      align-items: top;
      .c-resources__label {
        position: relative;
        width: rem(99px);
        font-size: 14px;
        font-weight: 400;
        &::after {
          content: '';
          position: absolute;
          top: 6px;
          right: 0;
          width: 1px;
          height: 12px;
          background-color: $mid-gray1;
        }
      }
      .c-resources__area {
        width: calc(100% - rem(99px));
        font-size: 14px;
        padding-left: rem(16px);
        span {
          margin-right: rem(10px);
        }
        .download {
          display: inline-block;
          border: 0;
          font-weight: 600;
          font-size: 12px;
          &::before {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 3px;
            background: url($icon-download-black-32-32);
            background-size: 100%;
            vertical-align: middle;
          }
        }
      }
      @include screen(web) {
        justify-content: space-between;
        padding: rem(23px) 0;
        .c-resources__label {
          font-size: 16px;
          width: rem(110px);
        }
        .c-resources__area {
          display: flex;
          font-size: 16px;
          padding-left: rem(24px);
          justify-content: space-between;
          gap: 10px;
          .download {
            font-size: 14px;
            &::before {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
  }
  .c-resources {
    gap: rem(12px);
    &__item {
      @include lgness-radius('default');
      @include screen(mobile) {
        padding: rem($padding13px) rem($padding20px);
      }
    }
  }
}
