@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.PD0042';
#{$component} {
  // variable
  $region-header: '.c-region-header';
  $text-contents: '.c-text-contents';
  $compare: '.c-compare-selling';
  $compare-gap-w: $margin24px;
  $compare-gap-m: $margin10px;

  // $image: '.c-image';
  > .component > .cmp-container {
    @include container($design-grid-full, true);
    @include screen(web) {
      @include inset-padding-hz;
    }
  }
  // block - region header
  .c-region-header {
    @include inset-padding-hz;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    column-gap: rem(10px);
    @include screen(web) {
      padding-left: 0;
      padding-right: 0;
    }
    &__container {
      flex: 1;
    }
    & + .c-compare-selling__product__wrapper {
      margin-top: rem($margin26px);
      // padding-right: 0px;
      // @include screen(web) {
      // }
    }
  }
  .c-cta {
    justify-content: center;
    margin-top: rem($margin24px);
    @include screen(web) {
      margin-top: rem($margin32px);
    }
    .c-button.down.w-large {
      &[aria-expanded='false'] {
        &:after {
          transform: rotate(0); /* 230601 RTL */
        }
      }
    }
  }
  .js-compare-scroll-area {
    // padding-left: rem($padding6px);
    @include screen(web) {
      padding-left: rem($padding24px);
    }
    & .c-compare-selling__item {
      min-width: calc(100% / 2);
    }
  }
  .c-compare-selling {
    // @include screen(custom, rem($design-full), max) {
    //     @include screen(custom, rem($mobile + 1), min) {
    //         @include inset-padding-hz;
    //     }
    // }
    $c-compare-selling: '.c-compare-selling';
    width: 100%;
    flex: 1 0 50%;
    @include screen(web) {
      flex: initial;
      width: auto;
    }
    &-multi {
      &--2 {
        flex: 1 0 50%;
        width: 50%;
      }
      &--3 {
        flex: 1 0 50%;
        width: 50%;
        @include screen(web) {
          flex: 2;
          min-width: 66.666%;
        }
      }
      &--4 {
        flex: 1 0 50%;
        width: 50%;
        @include screen(web) {
          flex: 3;
          min-width: 75%;
        }
      }
      // @include screen(custom, rem($tablet-pro-p), max) {
      //     flex: 2;
      // }
      // @include screen(custom, rem($design-grid-full), max) {
      //     flex: 3;
      // }
      #{$c-compare-selling}__item {
        min-width: calc(100%);

        // @include screen(custom, rem($tablet-pro-p), max) {
        //     min-width: calc(100% / 2);
        // }
        // @include screen(custom, rem($design-grid-full), max) {
        //     min-width: calc(100% / 3);
        // }
        @include screen(web) {
          min-width: calc(100% / 3);
        }
      }
    }
    // @include screen(mobile) {
    //     margin-bottom: rem($margin16px);
    // }
    &__item {
      padding: rem(0);
      flex: 1;
      background-color: transparent;
      & > * {
        padding: rem(0 $padding12px $padding16px);
        background-color: $white;
        @include screen(web) {
          padding: rem(0 $padding24px $padding16px);
          // background-color: $white;
        }
      }
      // @include screen(mobile) {
      //     flex: 1;
      //     flex-basis: 100%;
      // }
      // @include screen(web) {
      //     min-width: calc((100% - (rem(24px) * 3)) / 4);
      //     flex: 1;
      // }
      // @include screen(custom, rem($design-grid-full), max) {
      //     min-width: calc((100% - (rem(24px) * 2)) / 3);
      // }
      // @include screen(custom, rem($tablet-pro-p), max) {
      //     min-width: calc(100% / 2);
      // }
    }
    &__spec {
      // overflow: hidden;
      @include screen(web) {
        scrollbar-width: none;
        margin: rem(0 -12px 0);
        &::-webkit-scrollbar {
          display: none;
        }
      }
      &-name {
        font-size: rem(14px);
        line-height: rem(16px);
        padding-bottom: 0;
        @include screen(web) {
          font-size: rem(16px);
          line-height: rem(18px);
        }
      }
    }
    &__spec-list {
      display: flex;
      @include screen(mobile) {
        gap: rem(8px);
      }
      .c-compare-selling__item {
        & + .c-compare-selling__item {
          // padding-left: rem($padding6px);
          @include screen(web) {
            // padding-left: rem($padding12px);
          }
        }
      }
      // gap: rem($compare-gap-m);
      // width: calc(100% / 1.06);
      @include screen(web) {
        // gap: rem($compare-gap-w);
        // transition: transform 0.5s;
        // width: 100%;
      }
      @include screen(custom, rem($tablet-pro-p), max) {
        // gap: rem($compare-gap-m);
      }
      // @include screen(mobile) {
      //     @include inset-padding-hz(mobile);
      //     // &:after {
      //     //     content: '';
      //     //     display: block;
      //     //     min-width: calc(rem($block-margin-m - $margin10px));
      //     // }
      // }
      &:last-child {
        #{$compare}__item {
          // border-width: rem(0 $border1 $border1 $border1);
          @include lgness-radius('default');
          border-top-left-radius: 0 !important;
          border-top-right-radius: 0 !important;
          // &:after {
          //     content: '';
          //     display: block;
          //     width: 100%;
          //     height: rem($padding24px - $padding20px);
          //     @include screen(web) {
          //         height: rem($padding40px - $padding24px);
          //     }
          // }
          .c-compare-selling__spec-desc {
            @include lgness-radius('default');
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
          }
        }
      }
    }
    &__spec-name {
      color: $dark-gray1;
      // border-top: rem($border1) solid $graye6;
      // padding-top: rem($padding20px);
      // @include screen(web) {
      //     padding-top: rem($padding24px);
      // }
    }
    &__spec-desc {
      color: $black;
      padding-top: rem($padding8px);
    }
    &__expand-btn {
      &[aria-expanded='false'] {
        // .expand {
        //     display: flex;
        // }
        .collapse {
          display: none;
        }
      }
      &[aria-expanded='true'] {
        &:after {
          transform: rotate($degree180);
        }
        // .collapse {
        //     display: flex;
        // }
        .expand {
          display: none;
        }
      }
    }
    &__wrap--active {
      // padding-right: rem($padding3px);
      // overflow: hidden;
      z-index: 1;
      &--2 {
        width: 100%;
        flex: 1 0 50%;
      }
      &--3 {
        min-width: 50%;
        @include screen(web) {
          min-width: 33.333%;
          flex: 1;
        }
      }
      &--4 {
        min-width: 50%;
        @include screen(web) {
          min-width: 25%;
          flex: 1;
        }
      }
      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: $warm-gray;
        @include screen(custom, rem($tablet-pro-p), max) {
          width: 100%;
        }
      }
      @include screen(web) {
        padding-right: rem($padding12px);
      }
      // @include screen(custom, rem($tablet-pro-p), max) {
      //     padding-right: rem($padding6px);
      // }
      .c-compare-selling__product {
        .c-compare-selling__item {
          border: rem($border1) solid $dark-gray1;
          border-bottom: 0;
          padding: 0;
          overflow: hidden;
        }
      }
      .c-compare-selling__spec {
        border: rem($border1) solid $dark-gray1;
        border-top: 0;
        overflow: hidden;
        @include lgness-radius('default');
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        margin: 0;
        &-list {
          padding: 0;
        }
      }
    }
    &__product {
      position: initial;
      // .c-compare-selling__item + .c-compare-selling__item {
      //     padding-left: rem($padding6px);
      //     @include screen(web) {
      //         padding-left: rem($padding12px);
      //     }
      //     @include screen(custom, rem($tablet-pro-p), max) {
      //         padding-left: rem($padding6px);
      //     }
      // }
      &__wrapper {
        overflow: hidden;
        padding: 0 rem($padding16px);
        @include screen(web) {
          padding: 0;
        }
      }
      &__container {
        display: flex;
        overflow: hidden;
        gap: rem(8px);
        @include screen(mobile) {
          padding-right: rem($padding16px);
          margin-right: rem(-16px);
        }
        // gap: rem(10px);
        @include screen(web) {
          gap: 0;
        }
        // @include screen(custom, rem($tablet-pro-p), max) {
        //     gap: rem(10px);
        // }
      }
      .c-compare-selling__item {
        flex: 1;
        background: transparent;
        // @include screen(web) {
        //     padding: rem($padding24px);
        // }
        padding: 0;
        // & + .c-compare-selling__item {
        //     // padding: rem(0 0 0 $padding24px);
        // }
        .c-product-item__headline {
          margin: 0;
        }
        .c-product-item__bottom-container {
          margin-top: rem($margin12px);
          @include screen(web) {
            margin-top: rem($margin16px);
          }
        }
        .c-price__flag--member {
          flex-direction: row;
          @include screen(web) {
            flex-direction: column;
          }
        }
        .c-product-item__top-container {
          .wrapper {
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: flex-start;
            .c-product-item {
              &__download {
                flex-direction: row-reverse;
              }
              &__rating {
                &::before {
                  display: none;
                }
              }
            }
          }
        }
        .c-product-item {
          padding: rem($padding24px) rem($padding12px) rem($padding32px);
          background-color: $white;
          @include lgness-radius(default);
          border-bottom-right-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
          @include screen(web) {
            padding: rem($padding24px);
          }
        }
      }
    }
    // &__product-wrap {
    //     overflow: hidden;
    // }
    &__product-list {
      display: flex;
      @include screen(mobile) {
        gap: rem(8px);
      }
      @include screen(web) {
        margin: rem(0 -12px 0);
      }
      // gap: rem($compare-gap-m);
      // @include screen(mobile) {
      //     @include inset-padding-hz(mobile);
      //     // transition: transform 0.5s;
      //     // width: calc(100% / 1.06);
      // }
      // padding-right: rem($padding6px);
      // @include screen(web) {
      //     // padding-right: rem($padding24px);
      //     // transition: transform 0.5s;
      // }
      // @include screen(custom, rem($tablet-pro-p), max) {
      //     padding-right: rem($padding6px);
      // }
    }
    // variation
    &.expanded {
      .c-compare-selling__spec-list {
        &:nth-child(4) {
          #{$compare}__item {
            // border-width: rem(0 $border1);
            border-radius: 0;
            &:after {
              display: none;
            }
          }
        }
        &:last-child {
          #{$compare}__item {
            // border-width: rem(0 $border1 $border1 $border1);
            @include lgness-radius('default');
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
            &:after {
              content: '';
              display: block;
              width: 100%;
              height: rem($padding24px - $padding20px);
              @include screen(web) {
                height: rem($padding40px - $padding24px);
              }
            }
          }
        }
        &:nth-child(n + 5) {
          display: flex;
        }
      }
    }
    &__scroll-right,
    &__scroll-left {
      position: initial;
      display: block;
      &::before {
        display: none;
      }
    }
  }
  .js-compare-scroll-area {
    // padding-left: rem($padding6px);
    @include screen(mobile) {
      padding-right: rem($padding8px);
    }
    @include screen(web) {
      padding-left: rem($padding12px);
    }
    & .c-compare-selling__item {
      min-width: 100%;
      // @include screen(custom, rem($tablet-pro-p), max) {
      //     min-width: 100%;
      // }
      // @include screen(custom, rem($design-grid-full), max) {
      //     min-width: 100%;
      // }
      @include screen(web) {
        min-width: calc(100% / 3);
        padding: rem(0 12px 0);
      }
    }
  }
}
