@charset "UTF-8";
@use '../../scss/abstract/' as *;
@use '../../scss/modules/' as *;

// subscribe
$component: '.SE0004';
$block: '.c-search-box';
#{$component} {
  > .component {
    .cmp-container {
      position: relative;
      @include search-box;
      @include container($design-grid-full, true);
      @include inset-padding-hz;

      .al-headline-h1 {
        padding-left: 0;
        padding-right: 0;
        margin-top: rem($margin24px);
        margin-bottom: rem($margin14px);
        @include screen(web) {
          padding-right: 0;
          padding-left: 0;
          margin-top: rem($margin48px);
          margin-bottom: rem($margin20px);
        }
        .cmp-title {
          @include container($design-grid-full, true);
          font-size: rem(28px);
          line-height: rem(32px);
          font-weight: $font-light;
          @include screen(web) {
            font-size: rem(80px);
            line-height: rem(80px);
          }
        }
        .al-headline-sub-title {
          margin-top: rem(8px);
        }
      }
      #{$block} {
        position: relative;
        padding: 0;
        @include lgness-radius('default');
        #{$block}__body {
          display: flex;
          margin: rem($margin24px) 0 rem($margin12px);
          padding: 0;
          flex-direction: column;
          gap: rem($margin20px);
          align-items: flex-start;
          justify-content: center;
          @include lgness-radius('default');
          background-color: transparent;
          @include screen(web) {
            padding: rem($padding48px 0 $padding24px);
            flex-direction: row;
            align-items: end;
            gap: rem($gutter-w);
          }
          &--double,
          &--multi {
            @include screen(web) {
              margin: 0 auto;
            }
            #{$block}__form {
              flex: 1 1 auto;
              @include screen(web) {
                display: flex;
                flex-direction: row;
              }
              &-item {
                width: 100%;
                p {
                  margin-bottom: rem($margin8px);
                }
              }
              .c-select-item,
              .c-input-item,
              .c-search-box__form-item {
                @include screen(desktop) {
                  flex: 1 1 auto;
                  width: auto;
                }
              }
            }
          }
          // double
          &--double {
            padding: 0;
            align-items: center;
            gap: 0;
            #{$block}__form {
              .c-select-item,
              .c-input-item {
                @include screen(desktop) {
                  &:first-child {
                    flex: 1 1 auto;
                    width: auto;
                  }
                }
              }
            }
            .c-search-box__body {
              gap: 0;
            }
            .c-input-item input {
              padding-left: rem(57px);
              height: rem(48px);
              border: none;
              border-radius: rem(100px);
              background-color: $light-gray3;
              caret-color: $red;
              @include screen(web) {
                height: rem(60px);
              }

              &:not(:placeholder-shown) {
                + .c-icon-button--delete {
                  opacity: 1;
                }
              }
            }
            .c-search-box__button {
              position: absolute;
              top: calc(50% - #{rem(11px)});
              left: rem($padding16px);
              display: block;
              padding: rem(4px);
              width: rem(22px);
              height: rem(22px);
              background-image: url($icon-search);
              background-repeat: no-repeat;
              background-size: contain;
              transition:
                left 0.3s,
                opacity 0.1s;
              border: none;
              background-color: transparent;
              cursor: pointer;

              @include screen(web) {
                left: rem($padding26px);
                opacity: 1;
                margin-top: 0;
              }
            }

            .c-icon-button--delete {
              position: absolute;
              right: rem(18px);
              top: calc(50% - rem(10px));
              width: rem(20px);
              height: rem(20px);
              border-radius: 50%;
              background: $gray9 url($icon-close-white-24-24) center / rem(10px) rem(10px) no-repeat;
              opacity: 0;
              transition: opacity 0.3s;
              &::after {
                content: none;
              }
              span {
                overflow: hidden;
                clip: rect(0, 0, 0, 0);
                position: absolute;
                width: rem(1px);
                height: rem(1px);
                margin: rem(-1px);
                border: 0;
                padding: 0;
              }
            }
          }
        }
      }
      .c-finder {
        #{$block} {
          .c-select-item {
            select {
              color: $black;
              font-weight: $font-regular;
              height: rem(48px);
              font-size: rem(16px);
              background-color: $light-gray3;
              border-radius: rem(24px);
              @include screen(web) {
                height: rem(60px);
                font-size: rem(24px);
                border-radius: rem(30px);
              }
            }
          }
        }
      }
    }
    &.type-signature {
      .al-headline {
        padding-top: rem($padding24px);
        padding-bottom: rem($padding14px);
        @include screen(web) {
          padding-top: rem($padding48px);
          padding-bottom: rem($padding24px);
          // border-bottom: rem($border1) solid $mid-gray1;
        }
        span {
          color: $heritage-red;
          @include screen(mobile) {
            display: block;
          }
        }
      }
      .c-tabs {
        text-align: left;
        padding-left: 0;
        padding-right: 0;
        &__inner {
          // ...
        }
        &__tablist {
          padding-left: rem($padding4px);
        }
        &__tab {
          &:hover,
          &:focus,
          &:focus-visible {
            text-decoration: none;
          }
          &--active {
            color: $dark-gray1;
          }
        }
        + .c-experience-list {
          margin-top: rem($margin30px);
        }
      }
      .c-experience-list {
        padding: 0;
        &__lastest {
          .c-experience-list__item {
            overflow: hidden;
            background-color: $white;
            @include lgness-radius('default');
            @include screen(web) {
              display: flex;
              position: relative;
              flex-direction: row-reverse;
            }
            .c-image-area {
              & * {
                width: 100%;
                height: 100%;
                img {
                  object-fit: cover;
                }
              }
              @include screen(web) {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: min(rem(columns(5, true)), columns(5, true) / $design-grid-full * 100%);
              }
            }
            .c-image {
              aspect-ratio: 960/600;
            }
            .c-text-contents {
              padding: rem($padding20px $padding20px $padding28px);
              margin-top: 0;
              width: 100%;
              @include screen(web) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: rem($padding80px);
                max-width: min(rem(columns(5, true)), columns(5, true) / $design-grid-full * 100%);
                min-height: 500px;
              }
              @include screen(tablet) {
                padding: rem($padding40px);
                @include screen(custom, rem($tablet-pro-p), max) {
                  flex: 1;
                  padding: rem($padding20px);
                }
              }
              &__eyebrow {
                & + .c-text-contents__headline {
                  margin-top: rem($margin8px);
                }
              }
              &__headline {
                @include ellipsis(4);
              }
              &__date,
              &__editor {
                margin-top: rem($margin8px);
                @include screen(web) {
                  margin-top: rem($margin20px);
                }
              }
              &__editor + .c-text-contents__date {
                margin-top: rem($margin3px);
                @include screen(web) {
                  margin-top: rem($margin3px);
                }
              }
              .c-cta {
                margin-top: rem($margin12px);
                @include screen(web) {
                  margin-top: rem($margin24px);
                }
                .c-button--text-icon {
                  color: $black !important;
                  &:after {
                    background-image: url($icon-arrow-black-right-9-14) !important;
                  }
                }
              }
            }
          }
          + .c-experience-list__list {
            margin-top: rem($margin28px);
            @include screen(web) {
              margin-top: rem($margin48px);
            }
          }
        }
        &__list {
          display: flex;
          flex-direction: column;
          padding: 0;
          list-style: none;
          gap: rem($margin28px);
          margin-bottom: 0;
          @include screen(web) {
            flex: {
              direction: row;
              wrap: wrap;
            }
            justify-content: flex-start;
            gap: rem($margin48px) rem($gutter-w);
          }
          .c-experience-list__item {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include screen(web) {
              flex: initial;
              flex-basis: calc(100% / 3 - 16px);
            }
            .c-image {
              aspect-ratio: 960/600;
            }
            .c-image-area {
              width: 100%;
              overflow: hidden;
              @include lgness-radius('default');
            }
            .c-text-contents {
              margin-top: rem($margin20px);
              display: flex;
              flex-direction: column;
              gap: rem(8px);
              @include screen(web) {
                margin-top: rem($margin24px);
              }
              &__eyebrow {
                display: flex;
              }
              &__editor,
              &__bodycopy {
                color: $dark-gray1;
              }
              &__headline,
              &__bodycopy {
                @include ellipsis(2);
              }
            }
            .c-cta {
              margin-top: rem($margin12px);
              @include screen(web) {
                margin-top: rem($margin16px);
              }
            }
          }
        }
        &__lastest,
        &__list {
          .c-text-contents__editor {
            display: flex;
            > * {
              display: flex;
              align-items: center;
              &:not(:first-child)::before {
                content: '';
                display: inline-block;
                background-color: $mid-gray1;
                width: rem($width1px);
                height: rem($height10px);
                margin: 0 rem($margin8px);
                @include screen(web) {
                  height: rem($height14px);
                  margin: 0 rem($margin10px);
                }
              }
            }
          }
        }
      }
      .c-load-more {
        margin-top: rem($margin24px);
        @include screen(web) {
          margin-top: rem($margin32px);
        }
      }
      .c-sort-filter {
        border-top: rem($border1) solid $mid-gray1;
        @include screen(mobile) {
          width: calc(100% + rem($block-margin-m * 2));
          margin-left: rem(-$block-margin-m);
          padding: rem(0 $block-margin-m);
          border-bottom: rem($border1) solid $mid-gray1;
          margin-bottom: rem($margin16px);
        }
      }
      .c-search-box .c-search-box__body {
        @include screen(mobile) {
          margin-bottom: rem($margin24px);
        }
        @include screen(web) {
          padding-bottom: rem($padding20px);
        }
      }
      .c-result-area {
        margin-bottom: rem($margin6px);
        @include screen(web) {
          margin-bottom: rem($margin20px);
        }
        &__controls {
          height: auto;
        }
        &__count {
          color: $heritage-red;
        }
      }
      .c-finder {
        .c-search-box {
          &__form-item {
            color: $dark-gray1;
          }
          .c-select-item {
            select {
              color: $mid-gray2;
              font-size: rem(16px);
              line-height: rem(18px);
              border-color: $gray7e;
              @include screen(web) {
                padding-left: rem($padding25px);
                font-size: rem(20px);
                line-height: rem(28px);
                background-position: calc(100% - rem($padding25px)) 50%;
              }
            }
          }
        }
      }
    }
  }

  &.bg-darkgray,
  &.bg-black {
    > .component {
      &.type-signature {
        .c-tabs {
          &__tab {
            color: $white;
            &--active {
              color: $white;
            }
          }
        }
        .c-experience-list {
          &__lastest {
            .c-text-contents {
              color: $black;
              &__eyebrow {
                .cmp-button {
                  color: $black;
                  &.c-button--text-icon {
                    &:after {
                      background-image: url($icon-arrow-black-right-7-12-2);
                      transform: rotate(0) #{'/*!rtl:rotate(#{$degree180})*/'};
                    }
                  }
                }
              }
              .c-text-contents__editor {
                color: $black;
              }
            }
            .c-button--text-icon {
              &:focus-visible {
                outline-color: $black !important;
              }
            }
          }
          &__item {
            .c-text-contents {
              &__editor,
              &__bodycopy {
                color: $white;
              }
            }
          }
        }
        .c-cta {
          .cmp-button {
            &.c-button--default {
              &:focus-visible {
                outline-color: $black !important;
                &:hover {
                  outline-color: white !important;
                }
              }
              &.highlight {
                &:focus-visible {
                  outline-color: white !important;
                  &:hover {
                    outline-color: black !important;
                  }
                }
              }
            }
          }
        }
        .c-sort-filter {
          .c-finder {
            .c-search-box {
              .c-search-box__body {
                border: 0 !important;
              }
              .c-search-box__form-item {
                p {
                  color: $white;
                }
              }
            }
          }
        }
        .c-result-area__result {
          span {
            color: $white;
          }
        }
      }
    }
  }
  &.bg-white {
    > .component {
      &.type-signature {
        .c-sort-filter {
          .c-finder {
            .c-search-box {
              .c-search-box__body {
                border: 0 !important;
              }
            }
          }
        }
      }
    }
  }
}
