@charset "UTF-8";
@use '../../scss/abstract/' as *;
// component
$component: '.ML000H';
#{$component} {
  .font-w-semibold-14 {
    @include screen(web) {
      font-size: rem(14px);
      line-height: rem(14px);
      font-weight: $font-semibold;
    }
  }
  .font-m-semibold-12 {
    @include screen(mobile) {
      font-size: rem(12px);
      line-height: rem(14px);
      font-weight: $font-semibold;
    }
  }
  .font-w-bold-10 {
    @include screen(web) {
      font-size: rem(10px);
      line-height: rem(10px);
      font-weight: $font-bold;
    }
  }
  .font-m-bold-10 {
    @include screen(mobile) {
      font-size: rem(10px);
      line-height: rem(10px);
      font-weight: $font-bold;
    }
  }
  .only-mobile {
    @include screen(web) {
      display: none;
    }
  }
  .my-component {
    margin: 0 auto;

    $mycomponent: '.my-component';
    position: relative;
    overflow: hidden;
    @include container($design-grid-full, true);
    @include inset-padding-hz;
    &--maximum {
      max-width: 100%;
      padding: 0;
    }
    &.no-crop {
      overflow: initial;
    }
  }
  .my-orderlist {
    margin-bottom: rem($margin24px);
    @include screen(web) {
      margin-bottom: rem($margin64px);
      padding: 0;
    }
    &__box {
      @include reset-list-style;
      li {
        background-color: $white;
        padding: rem($padding20px) 0;
        @include lgness-radius('default');
        @include screen(web) {
          padding: rem($padding24px) 0;
        }
        & + li {
          margin-top: rem($margin12px);
          @include screen(web) {
            margin-top: rem($margin24px);
          }
        }
      }
    }
    &__item {
      display: flex;
      align-items: center;
      gap: rem(16px);
      padding: 0 rem($padding16px);
      @include screen(web) {
        padding: 0 rem($padding24px);
        gap: rem(24px);
      }
    }
    &__track + &__item {
      margin-top: rem($margin20px);
    }
    &__link {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      @include screen(web) {
        align-items: center;
      }
      &:hover .c-text-contents__eyebrow span {
        text-decoration: underline;
        text-decoration-color: $gray6;
      }
    }
    &__img {
      width: 100%;
      max-width: rem(64px);
      @include screen(web) {
        max-width: rem($width100px);
        width: 10%;
      }
    }
    &__txt {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      flex: 1;
      & > .c-text-contents {
        width: 100%;
      }
    }
    &__txt.isReturnBtn {
      padding-bottom: rem($padding42px);
    }
    &__tag {
      color: $gray9;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: rem($padding6px);
      border-radius: rem($border4);
      margin-bottom: rem($margin10px);
      @include screen(web) {
        margin-bottom: rem($margin12px);
      }
      &--gray {
        border: rem($border1) solid $gray9;
      }
      &--red {
        border: rem($border1) solid $orange;
        color: $red;
      }
    }
    .c-text-contents__title {
      margin-top: rem($margin4px);
      @include ellipsis(3);
      @include screen(web) {
        margin-top: rem($margin2px);
      }
    }
    .c-text-contents__eyebrow {
      span {
        font-weight: $font-regular;
        display: block;
      }
    }
    .c-text-contents__model {
      display: flex;
      align-items: center;
      // [Start] 2023-05-11: UPDATE - badge */
      // justify-content: center;
      // min-width: rem(64px);
      // min-height: rem(20px);
      // padding: rem($padding2px) rem($padding5px);
      color: $black;
      // background: $gray3;
      // border-radius: rem($radius4);
      // max-width: fit-content;
      // [End] 2023-05-11: UPDATE - badge */
      margin-bottom: rem($margin8px);
      @include screen(web) {
        margin-bottom: rem($margin2px);
      }
      span {
        // [Start] 2023-05-11: UPDATE - badge */
        display: flex;
        align-items: center;
        line-height: rem(14px);
        @include screen(web) {
          line-height: rem(20px);
        }
        &:before {
          display: inline-block;
          content: '';
          width: rem(16px);
          height: rem(16px);
          margin-right: rem($margin2px);
          background: url($icon-mylg-thinq-connected-black-10-10) center / contain no-repeat;
          vertical-align: middle;
          @include screen(web) {
            background: url($icon-mylg-thinq-connected-black-16-16) center / contain no-repeat;
          }
        }
        // [End] 2023-05-11: UPDATE - badge */
      }
      & + .c-text-contents__title {
        @include screen(web) {
          margin-top: rem($margin2px);
        }
      }
    }
    .c-text-contents__title {
      span {
        display: block;
        line-height: rem(20px);
        @include screen(web) {
          line-height: rem(26px);
        }
      }
    }
    .c-text-contents__quantity {
      color: $gray6;
    }
    &__btn {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: rem($margin18px);
      width: 100%;
      @include screen(web) {
        margin-top: rem($margin4px);
      }
      .c-cta {
        gap: rem(16px);
        .c-button {
          margin-right: 0;
          span {
            display: block;
            line-height: rem(12px);
            @include screen(web) {
              line-height: rem(14px);
            }
          }
        }
      }
    }
    &__pagination {
      .c-carousel__handler {
        display: flex;
        margin-top: rem($margin16px);
        @include screen(web) {
          margin-top: rem($margin32px);
        }
      }
    }
  }
  .c-page {
    margin-top: rem($margin16px);
    @include screen(web) {
      margin-top: rem($margin32px);
    }
  }
  .my-productlist {
    &__check {
      display: flex;
      margin-top: rem($margin2px);
      span:first-child {
        margin-right: rem($margin4px);
      }
      span {
        display: block;
        line-height: rem(14px);
        em {
          font-style: normal;
          font-weight: $font-semibold;
        }
      }
      &--warranty {
        color: $red;
      }
      &--update {
        color: $green;
      }
    }
    &__return-btn {
      gap: 0;
      margin-top: rem($margin10px) !important;
      @include screen(web) {
        margin-top: rem($margin20px) !important;
      }
    }
  }
  .guide-msg-area {
    &__container {
      margin: 0 auto rem($margin12px);
    }
    .c-text-contents {
      &__bodycopy {
        color: $gray3;
      }
    }
  }
  .tabs__wide {
    .cmp-tabs {
      &__inner {
        margin-bottom: 0;
        width: 100%;
        border-bottom: rem($border1) solid $graycb;
        @include screen(web) {
          border-top: rem($border1) solid $graycb;
        }
      }
      &__tablist {
        margin: 0 auto;
        width: 100%;
        @include container($design-grid-full, true);
        @include inset-padding-hz;
        gap: rem(24px);
        padding-top: 0;
        padding-bottom: 0;
        @include screen(mobile) {
          justify-content: flex-start;
        }
        @include screen(web) {
          gap: rem(77px);
        }
      }
      &__tab {
        padding: rem($padding19px) 0;
        text-align: center;
        line-height: rem(18px);
        @include screen(web) {
          padding: rem(23px) 0;
          font-size: rem(32px);
          line-height: rem(36px);
          font-weight: $font-regular;
        }
        &--active {
          &:after {
            bottom: 0;
            height: rem($height2px);
            @include screen(web) {
              height: rem($height4px);
            }
          }
        }
      }
      &__tabpanel {
        @include container($design-grid-full, true);
        padding: rem(0 $padding16px);
        @include screen(web) {
          padding-left: rem($block-margin-w);
          padding-right: rem($block-margin-w);
        }
      }
    }
  }
  .my-com__sort-box {
    margin-top: rem($margin16px);
    margin-bottom: rem($margin12px);
    @include screen(web) {
      margin-top: rem($margin24px);
      margin-bottom: rem($margin24px);
    }
  }
  .link-banner {
    padding: rem($padding25px) 0;
    @include screen(web) {
      padding: rem($padding48px) 0;
    }
  }
  .guid-text {
    padding: rem($padding24px) rem($padding16px);
    text-align: center;
    display: flex;
    align-items: center;
    color: $gray3;
    @include screen(web) {
      padding: rem(64px) 0;
    }
    &__container {
      max-width: rem(1440px);
      margin: 0 auto;
      width: 100%;
    }
  }
  .ml-event__zone {
    max-width: rem($design-grid-full);
    margin: 0 auto;
    background-color: rgb(222 173 37 / 90%);
    padding: rem(12px) rem(38px) rem(12px) rem(16px);
    border-radius: rem(20px);
    position: relative;
    display: flex;
    align-items: center;
    gap: rem(8px);
    @include screen(web) {
      padding: rem(12px) rem(16px);
    }
    p {
      font-size: rem(12px);
      line-height: rem(13px);
      font-weight: $font-semibold;
    }
    a {
      font-size: rem(12px);
      line-height: rem(13px);
      text-decoration: underline;
      font-weight: $font-semibold !important;
    }
    &::before {
      content: '';
      display: inline-block;
      width: rem(16px);
      height: rem(16px);
      min-width: rem(16px);
      background: url($icon-warning-black-20-20) no-repeat center;
      @include screen(web) {
        width: rem(20px);
        height: rem(20px);
        min-width: rem(20px);
        background-size: contain;
      }
    }
    .clone-self {
      position: absolute;
      cursor: pointer;
      right: rem(14px);
      width: rem(16px);
      height: rem(16px);
      top: 50%;
      transform: translateY(-50%);
      border: 0;
      background: url($icon-close-midgray-16-16) no-repeat center;
    }
  }
  .c-pop-msg {
    padding-left: 0;
    padding-right: 0;
    @include screen(web) {
      padding-left: auto;
      padding-right: auto;
    }
    &__close--on-top {
      @include screen(mobile) {
        top: rem(9px);
        .c-pop-msg__close-button {
          &::before {
            width: rem(24px);
            height: rem(24px);
          }
        }
      }
    }
    &.large {
      .c-pop-msg__container {
        padding: 0;
        max-width: 100%;
        height: 100%;
        border-radius: 0;
        justify-content: flex-start;
        @include screen(web) {
          max-width: fit-content;
          height: auto;
          border-radius: rem(20px);
          justify-content: center;
        }
        .c-pop-msg__header {
          padding: rem($padding16px $padding64px $padding16px $padding16px);
          margin-bottom: 0;
          @include screen(web) {
            padding: rem($padding32px $padding48px $padding20px);
          }
        }
        .c-pop-msg__contents {
          margin: 0;
          padding: 0;
          max-height: fit-content;
          @include screen(web) {
            margin-bottom: rem($margin32px);
          }
          .thinkq-popup {
            padding: rem(0 $padding24px $padding16px);
            border-bottom: rem($border1) solid $mid-gray1;
            @include screen(web) {
              padding: rem(0 $padding48px $padding48px);
            }
            .c-modal {
              &__box {
                height: auto;
                border: none;
                border-radius: 0;
                .c-result {
                  padding-top: rem($padding24px);
                  margin-bottom: rem($margin12px);
                  @include screen(web) {
                    padding-top: rem($padding66px);
                  }
                }
              }
              &__content {
                padding: 0;
                position: relative;
                &-scroll-box {
                  padding: 0;
                  overflow-y: visible;
                  .carousel {
                    .swiper {
                      position: static;
                      .c-carousel__handler {
                        right: 0;
                        top: rem(48px);
                        margin-top: 0;
                        .c-carousel__button {
                          width: rem(36px) !important;
                          height: rem(36px) !important;
                        }
                      }
                    }
                    .swiper-wrapper {
                      align-items: stretch;
                      flex-wrap: wrap;
                      gap: rem(10px);
                      @include screen(web) {
                        flex-wrap: nowrap;
                        gap: 0;
                      }
                      .c-prd__top {
                        flex: 0 0 rem(48px);
                      }
                      .thinkq-image {
                        .cmp-image {
                          @include screen(web) {
                            max-width: rem(160px);
                            max-height: rem(160px);
                            margin: 0 auto;
                          }
                        }
                      }
                      .swiper-slide {
                        display: flex;
                        justify-content: flex-start;
                        box-sizing: border-box;
                        border-radius: rem($radius20);
                        width: 100%;
                        background-color: $white;
                        border: 2px solid transparent;
                        cursor: pointer;
                        padding: 0;
                        &:hover {
                          background: $gray58;
                          .c-prd-info {
                            &__text {
                              color: $white;
                            }
                            &__inner {
                              dl {
                                dt,
                                dd {
                                  color: $white;
                                }
                              }
                            }
                          }
                        }
                        &--active {
                          border: 2px solid $black;
                        }
                        .c-text-contents {
                          display: flex;
                          flex-direction: column;
                          width: auto;
                        }
                        .c-prd {
                          display: flex;
                          padding: rem($padding20px);
                          gap: rem(20px);
                          @include screen(web) {
                            display: block;
                            padding: rem($padding26px);
                          }
                          &-info {
                            $c-prd-info: '.c-prd-info';
                            &__text {
                              display: none;
                              @include screen(web) {
                                margin-top: rem($margin12px);
                                display: block;
                              }
                            }
                            &__type-grid {
                              display: grid;
                              grid-template-columns: none;
                              gap: 0 rem(20px);
                              @include screen(web) {
                                display: grid !important;
                                grid-template-columns: rem(135px) 1fr;
                                gap: rem(16px);
                                margin-top: rem($margin16px);
                              }
                              #{$c-prd-info}__text {
                                margin-bottom: rem($margin12px);
                                @include ellipsis(2);
                                @include screen(web) {
                                  grid-row: 1 / 4;
                                  order: 1;
                                  @include ellipsis(5);
                                }
                              }
                              #{$c-prd-info}__inner {
                                @include screen(web) {
                                  grid-column: 1 / 3;
                                }
                              }
                            }
                            &__inner {
                              display: flex;
                              flex-wrap: wrap;
                              gap: rem(12px 20px);
                              @include screen(web) {
                                gap: rem(16px);
                              }
                              dl {
                                flex: 1 1 44%;
                                text-align: left;
                                margin: 0;
                                word-break: break-word;
                                dt {
                                  line-height: rem(18px);
                                  color: $gray6;
                                  margin-bottom: rem($margin4px);
                                }
                                dd {
                                  color: $black;
                                  margin-bottom: rem($margin12px);
                                  span {
                                    margin-left: rem($margin8px);
                                  }
                                }
                                &:nth-child(odd) {
                                  position: relative;
                                  &:after {
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    top: 0;
                                    bottom: 0;
                                    right: 0;
                                    width: 1px;
                                    height: 100%;
                                    background-color: $mid-gray1;
                                    @include screen(web) {
                                      display: none;
                                    }
                                  }
                                }
                                &:last-child {
                                  &:after {
                                    display: none;
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .c-pop-msg__borderbottom {
          padding: rem($padding16px $padding16px);
          @include screen(web) {
            padding: rem($padding32px 0 0 $padding48px);
          }
        }
      }
    }
    .toast-popup {
      position: absolute;
      bottom: rem(60px);
      width: 100%;
      z-index: 5;
      padding: 0 rem(16px);
      @include screen(web) {
        bottom: rem(-54px);
        padding: 0;
      }
    }
  }
}
