@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.PD0017';
#{$component} {
  @include lgness-margin('if-headline');
  // element
  > .component > .cmp-container {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
  }

  // block : c-resources
  .c-resources {
    &__item {
      &--download {
        &-info {
          &-name {
            word-break: keep-all;
          }
        }
        &-button {
          &--icon {
            max-width: rem($width24px);
            max-height: rem($height24px);
          }
        }
      }

      &--extension {
        display: block;
        width: rem($icon20px);
        height: rem($icon20px);
        background: {
          color: transparent;
          position: 50% 50%;
          size: rem($icon16px) auto;
          repeat: no-repeat;
        }
        border: 0;
        appearance: none;
        margin-top: rem($margin3px);
        @include screen(web) {
          margin-top: 0;
        }

        $extensions: (
          txt: $icon-extension-txt,
          pdf: $icon-extension-pdf,
          etc: $icon-extension-etc,
          zip: $icon-extension-zip,
          dwg: $icon-extension-dwg,
          djvu: $icon-extension-djvu,
          html: $icon-extension-html,
        );
        @each $ext, $path in $extensions {
          $selector: '&-#{$ext}';
          #{$selector} {
            background-image: url($path);
          }
        }
      }
    }
  }

  &__modal-container {
    &.c-pop-msg {
      .c-pop-msg__contents {
        max-height: rem($height276px);
        padding-right: rem($padding8px);
        @include screen(web) {
          max-height: rem($height438px);
          padding-right: rem($padding16px);
        }
      }

      // for PD0017 : c-text-contents
      .c-text-contents {
        &__info > * {
          display: flex;
          flex-direction: column;
          gap: rem($margin16px);
          margin-top: rem($margin6px);
          color: $gray6;
          @include screen(web) {
            gap: rem($margin12px);
            margin-top: rem($margin4px);
          }
        }
        &__bodycopy {
          margin-top: rem($margin20px);
        }
      }
    }
  }
  .c-text-contents {
    &__bodycopy {
      color: $mid-gray3;
    }
    a {
      color: $black;
    }
  }

  // layout : margin
  .c-text-contents + .c-resources {
    margin-top: rem($margin12px);
    @include screen(web) {
      margin-top: rem($margin20px);
    }
  }

  .c-resources + .c-text-contents {
    margin-top: rem($margin16px);
    @include screen(web) {
      margin-top: rem($margin24px);
    }
  }
}
