@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.PD0024';
#{$component} {
  padding-top: 0;
  padding-bottom: 0;

  .component {
    max-width: 100%;
  }

  // element
  > .component > .cmp-container {
    display: flex;
    flex-direction: column;
    padding: rem($padding16px);

    @include screen(web) {
      flex-direction: row;
      align-items: center;
      padding: rem($padding12px $block-margin-w);
    }

    @include screen(desktop) {
      @include container($design-full, true);
    }
  }
  .c-button {
    @include screen(mobile) {
      margin-top: rem($margin8px);
    }
  }

  // variation
  // type
  > .component:not(.type-image) > .cmp-container {
    @include screen(web) {
      justify-content: space-between;
    }
  }

  > .component.type-image > .cmp-container {
    .c-image {
      width: 100%;
      max-width: rem($width274px);
      right: 0;
    }
  }
}
