@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.ML000N';
#{$component} {
  .my-component {
    @include container($design-grid-full, true);
    @include inset-padding-hz;

    $mycomponent: '.my-component';
    position: relative;
    overflow: hidden;
    &.margin-top {
      padding-top: rem($padding20px);
      @include screen(web) {
        padding-top: rem($padding50px);
      }
    }
    &--my-account {
      margin-top: rem($margin8px);
      @include screen(web) {
        margin-top: 0;
        &:last-child {
          margin-bottom: rem($margin64px);
        }
      }
    }
    &.no-crop {
      overflow: initial;
    }
  }
  .my-account {
    @include lgness-radius('default');
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0 rem($margin20px) 0;
    padding: rem($padding20px) rem($padding16px);
    background: $white;
    @include screen(web) {
      padding: rem($padding24px);
      margin: rem($margin24px) 0;
    }
    &__item {
      position: relative;
      width: 100%;
      padding: rem($padding16px) 0;
      @include screen(web) {
        padding: rem($padding24px) 0;
      }
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }
      & + .my-account__item {
        border-top: rem($border1) solid $graye;
      }
      &:hover,
      &:focus {
        .my-account__more {
          background: $gray3;
          .c-text-contents__bodycopy {
            color: $white;
          }
        }
      }
      .my-account__info {
        width: 100%;
        display: flex;
        position: relative;
        align-items: center;
        &::after {
          content: '';
          position: absolute;
          right: 0;
          top: rem(7px);
          width: rem(7px);
          height: rem(12px);
          background: url($icon-arrow-black-right-7-12) center / contain no-repeat;
          transform: rotate(0) #{'/*!rtl:rotate(#{$degree180})*/'}; /*! 230601 RTL */
        }
      }
    }
    &__icon {
      display: block;
      width: rem(24px);
      height: rem(24px);
      margin: 0 rem($margin6px) 0 0;
      &--profile {
        background: url($icon-mylg-account-profile-24-24) center / contain no-repeat;
      }
      &--password {
        background: url($icon-mylg-account-password-24-24) center / contain no-repeat;
      }
      &--address {
        background: url($icon-mylg-account-address-24-24) center / contain no-repeat;
      }
    }
    &__text {
      display: flex;
      margin-top: rem($margin8px);
      flex-direction: column;
      @include screen(web) {
        margin-top: rem($margin12px);
        flex-direction: initial;
      }
      &-item {
        color: $mid-gray2;
        line-height: rem(28px);
        @include screen(web) {
          line-height: rem(22px);
        }
        & + .my-account__text-item {
          @include screen(web) {
            padding-left: rem($padding20px);
            position: relative;
            &::before {
              content: '';
              display: inline-block;
              width: rem(1px);
              height: rem(14px);
              background-color: $graye;
              position: absolute;
              left: rem(10px);
              top: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
        &--empty {
          color: $mid-gray2;
          @include screen(mobile) {
            line-height: rem(20px);
          }
        }
      }
    }
    &__btn {
      justify-content: flex-end;
      margin-top: rem($margin8px);
      @include screen(web) {
        margin-top: 0;
      }
      &-area {
        .my-account__notification {
          display: inline-block;
          margin-top: rem(8px);
          margin-bottom: 0;
          color: $dark-gray1;
          .msg {
            display: inline;
            margin-right: rem($margin4px);
          }
          .c-button {
            display: inline-flex;
            font-weight: 400;
            color: $black;
            &:after {
              display: none;
            }
          }
          @include screen(web) {
            margin-top: 0;
          }
        }
      }
      // [Start] LGCOMIS-1080
      .c-button[class*='-text']:not(:last-child) {
        margin: 0;
      }
      // [End] LGCOMIS-1080
    }
    &-content {
      max-width: none;
      padding-left: 0;
      padding-right: 0;
    }
    &__more {
      @include screen(web) {
        padding: rem($padding8px) rem($padding12px);
        margin-top: rem($margin20px);
        border: rem($border1) solid $gray3;
        border-radius: rem($radius6);
        display: block;
      }
    }
    &__link {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      @include screen(web) {
        left: 50%;
        transform: translateX(-50%);
        top: auto;
        bottom: 0;
        width: rem(99px);
        height: rem(30px);
        border-radius: rem($radius6);
      }
    }
    & + .my-account__notification {
      margin-top: rem(-$margin12px);
    }
  }
  // -2023-05-25 My Subscriptions
  .my-subscriptions {
    @include lgness-radius('default');
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0 rem($margin20px) 0;
    padding: rem($padding20px) rem($padding16px);
    background: $white;
    @include screen(web) {
      padding: rem($padding24px);
      margin: rem($margin24px) 0;
    }
    &__item {
      position: relative;
      width: 100%;
      padding: rem($padding16px) 0;
      @include screen(web) {
        padding: rem($padding24px) 0;
      }
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }
      & + .my-account__item {
        border-top: rem($border1) solid $graye;
      }
      &:hover,
      &:focus {
        .my-account__more {
          background: $gray3;
          .c-text-contents__bodycopy {
            color: $white;
          }
        }
      }
      .my-formFile__title {
        font-size: rem(14px);
        line-height: rem(16px);
        font-weight: $font-regular;
        @include screen(web) {
          font-size: rem(16px);
          line-height: rem(18px);
        }
        margin-bottom: rem($margin8px);
        color: $gray3;
      }
    }
  }
  // -2023-05-25 My Subscriptions
  .button.my-button {
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 0;
    margin-top: rem($margin24px);
    padding-bottom: rem($padding24px);
    @include screen(web) {
      padding-bottom: rem($padding64px);
      margin-top: rem($margin32px);
    }
    .c-button {
      @include screen(mobile) {
        width: 100%;
      }
    }
  }
  .my-account__notification {
    display: flex;
    flex-wrap: wrap;
    gap: rem($margin4px) rem($margin8px);
    position: relative;
    margin: 0 0 rem($margin20px) 0;
    padding-left: rem($padding12px);
    color: $dark-gray2;
    font-size: rem(14px);
    line-height: rem(16px);
    @include screen(web) {
      font-size: rem(16px);
      line-height: rem(20px);
      margin: rem($margin24px) 0;
    }
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '*';
    }
    .c-button {
      font-size: rem(14px);
      line-height: rem(16px);
      @include screen(web) {
        font-size: rem(16px);
        line-height: rem(20px);
      }
      &:after {
        width: rem($icon16px);
        height: rem($icon16px);
      }
    }
  }
}
