@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.PR0009';
#{$component} {
  // element
  > .component > .cmp-container {
    // ...
  }

  // block
  .c-promotion-banner {
    background : {
      size: cover;
      position: 50% 50%;
      repeat: no-repeat;
    }
    padding-top: rem($padding32px);
    padding-bottom: rem($padding32px);
    @include container($maximum, true);
    @include screen(web) {
      @include inset-padding-hz;
      padding-top: rem($padding80px);
      padding-bottom: rem($padding80px);
    }

    // element
    $banner-container-width: 692px + 472px * 2 + $gutter-w * 2;
    &__container {
      position: relative;
      @include container($banner-container-width);
    }
    &__title-area {
      @include screen(mobile) {
        @include inset-padding-hz(mobile);
      }
      &.font-white {
        .c-region-header__headline,
        .c-region-header__text {
          color: $white;
        }
      }
    }
    &__rolling-area {
      overflow: hidden;
      @include screen(web) {
        display: flex;
        justify-content: center;
        margin-left: rem($block-margin-w * -1);
        margin-right: rem($block-margin-w * -1);
      }
    }
  }
  .c-region-header {
    &__headline,
    &__text {
      max-width: rem($text-box-width-lg);
    }
  }
  .c-rolling-banner {
    // element
    &__contents-container {
      width: 50%;
      min-width: rem(145px + 10px);
    }
    &__actions {
      position: absolute;
      top: 0;
      right: rem($block-margin-m);
      @include screen(web) {
        right: 0;
      }
    }
  }

  // layout : margin

  .c-promotion-banner__title-area + .c-promotion-banner__rolling-area {
    margin-top: rem($margin24px);
    @include screen(web) {
      margin-top: rem($margin40px);
    }
  }
}
