@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.ML000S';
#{$component} {
  .my-component {
    @include container($design-grid-full, true);
    @include inset-padding-hz;

    $mycomponent: '.my-component';
    position: relative;
    overflow: hidden;
    &:last-child {
      margin-bottom: rem($margin24px);
      @include screen(web) {
        margin-bottom: rem($margin64px);
      }
    }
  }
  .my-form-required > .c-required {
    color: $mid-gray2;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
  .my-form-required {
    max-width: rem(952px);
    margin: 0 auto;
    margin-top: rem($margin8px);
    @include screen(web) {
      margin-top: rem($margin24px);
    }
  }
  .my-formbox {
    margin: 0 auto;
    margin-top: rem($margin12px);
    max-width: rem(952px);
    background-color: $white;
    padding: rem($padding20px) rem($padding16px);
    border-radius: rem(28px);
    @include screen(web) {
      margin-top: rem($margin20px);
      padding: rem($padding24px);
    }
    .c-cta {
      margin-top: rem($margin60px);
      justify-content: center;
    }
    .my-formbox__button {
      margin-top: rem($margin32px);
      justify-content: space-between;
      @include screen(web) {
        margin-top: rem($margin60px);
        justify-content: center;
      }
      .c-button {
        min-width: calc(50% - rem(5px));
        @include screen(web) {
          min-width: 0;
        }
      }
    }
  }
  .button.my-button {
    margin-top: rem($margin24px);
    justify-content: center;
    gap: rem(6px);
    @include screen(web) {
      margin-top: rem($margin30px);
      flex-direction: initial;
      gap: rem(8px);
    }
    .c-button {
      @include screen(mobile) {
        flex: 1;
      }
    }
  }
  .my-form-required {
    color: $mid-gray2;
    text-align: end;
  }
  .align-text-center {
    text-align: left;
    @include screen(web) {
      text-align: center;
    }
  }
  .my-input {
    text-align: left;
    ul {
      @include reset-list-style;
      li {
        width: 100%;
        // [Start] LGCOMJP-810
        .bottom-area {
          margin-top: rem(8px);
          [data-countrycode='JP'] & {
            .c-button[class*='-underline'] {
              font-weight: 500;
            }
          }
        }
        // [End] LGCOMJP-810
      }
      li + li {
        margin-top: rem($margin16px);
        @include screen(web) {
          margin-top: rem($margin20px);
        }
        &.empty-label {
          margin-top: rem($margin8px);
        }
      }
      .c-input-item {
        position: relative;
        label {
          color: $gray3;
          line-height: rem(16px);
          // Because of tooltip
          display: inline-block;
          @include screen(web) {
            line-height: rem(18px);
          }
          .c-required {
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
          }
        }
        input {
          border-radius: rem(12px);
          padding: rem($padding12px) rem($padding13px);
          height: rem(44px);
          line-height: rem(20px);
          box-sizing: border-box;
          &::placeholder {
            color: $mid-gray2;
            font-size: rem(16px);
            line-height: rem(20px);
          }
          &[type='checkbox'] {
            width: rem($width20px);
            height: rem($width20px);
          }
        }
        .my-input__password {
          padding-right: rem($padding45px);
        }
        &.active {
          .my-form__eye {
            background: url($icon-mylg-view-on-24-24) center / contain no-repeat;
          }
        }
        &.c-input-item__address-add {
          margin-top: rem($margin8px);
        }
        &--tel {
          input {
            &[type='tel'] {
              padding-left: rem($padding60px) !important;
              position: relative;
              @include screen(web) {
                padding-left: rem($padding80px) !important;
              }
            }
          }
          .my-form-number {
            padding-right: rem($padding10px);
          }
        }
        .my-form-number {
          position: absolute;
          top: 50%;
          left: rem(13px);
          color: $gray3;
          transform: translateY(-50%);
          z-index: 1;
          pointer-events: none;
          @include screen(web) {
            min-width: rem(45px);
          }
          &::before {
            content: '';
            display: inline-block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: rem(1px);
            height: rem(10px);
            background-color: $mid-gray1;
            @include screen(web) {
              height: rem(12px);
            }
          }
        }
      }
    }
    input {
      padding: rem($padding8px) rem($padding16px);
      font-size: rem(16px);
      height: auto;
      border-radius: rem($radius12);
      &[data-placeholder]::before {
        color: $gray6;
        font-size: rem(16px);
      }
      &[readonly] {
        background-color: $ivory6;
        &::placeholder {
          color: $graycb !important;
        }
      }
      &[disabled='disabled'] {
        background-color: $ivory6;
        &::placeholder {
          color: $graycb !important;
        }
      }
    }
    .c-text-contents {
      margin-bottom: rem($margin30px);
      @include screen(web) {
        margin-bottom: rem($margin40px);
      }
      &__bodycopy {
        margin: 0 auto;
        margin-top: rem($margin10px);
        max-width: rem(450px);
      }
    }
    .c-checkbox-item {
      margin-top: rem($margin8px);
      .label {
        display: block;
        width: fit-content;
        font-size: rem(14px);
        line-height: rem(16px);
        color: $gray3;
        @include screen(web) {
          font-size: rem(16px);
          line-height: rem(20px);
        }
        &:before {
          vertical-align: middle;
        }
      }
    }
    .button {
      justify-content: center;
      margin-top: rem($margin30px);
    }
    .my-warn {
      padding-right: rem($padding40px);
      border-color: $active-red;
      select {
        border-color: $active-red;
      }
    }
    .c-search-box__form.my-warn {
      padding-right: 0;
    }
    .input-button__container {
      display: flex;
      gap: rem(8px);
      @include screen(mobile) {
        flex-direction: column;
      }
      > input {
        flex: 1 1 68%; // [LGCOMJP-810]
      }
      .button {
        padding: 0;
        margin-top: 0;
        flex: 1 0 auto; // [LGCOMJP-810]
        .cmp-button {
          width: 100%;
          @include screen(web) {
            padding: 0;
            // width: rem(132px); // [LGCOMJP-810]
          }
          // [Start] LGCOMJP-810
          [data-countrycode='JP'] & {
            font-weight: 500;
          }
          // [End] LGCOMJP-810
        }
      }
      .c-button[class*='-box-outlined'] {
        padding: rem($padding21px) 0;
        width: 100%;
        margin-top: rem($margin8px);
        font-size: rem(16px);
        line-height: rem(16px);
        font-weight: $font-semibold;
        @include screen(web) {
          margin-top: 0;
          margin-left: rem($margin8px);
        }
      }
      &--validation {
        .my-button-validation {
          flex: 1;
        }
      }
    }
    .c-warning,
    .c-valid {
      padding-left: rem($padding13px);
      margin-top: rem($margin6px);
      font-size: rem(12px);
      line-height: rem(14px);
      @include screen(web) {
        margin-top: rem($margin8px);
        font-size: rem(14px);
        line-height: rem(16px);
      }
      &::before {
        display: none;
      }
    }
    .c-select-item {
      select {
        color: $gray6;
        option[selected] {
          color: $gray3;
        }
      }
      &--selectMulti {
        display: flex;
        flex-wrap: wrap;
        gap: rem(8px);
        select {
          @include screen(web) {
            flex: 1;
            flex-basis: calc(100% / 3 - rem(8px));
          }
        }
        .c-select-item,
        .c-input-item {
          flex: 1;
          flex-basis: calc(100% / 3 - rem(8px));
        }
      }
    }
  }
  ul.my-input__info {
    color: $gray6;
    max-width: rem(310px);
    margin-top: rem($margin8px);
    @include screen(web) {
      max-width: rem($width708px);
    }
    li {
      line-height: rem(20px);
    }
  }
  .toast-popup {
    margin-top: rem($margin8px);
    .toast-popup__item + .toast-popup__item {
      margin-top: rem($margin8px);
    }
  }

  .searchAddress {
    $addressBlock: '.searchAddress';
    &Select {
      border-radius: rem($radius12);
      background-image: none;
      &.disabled {
        pointer-events: none;
        opacity: 0.7;

        .searchAddress__title {
          &:after {
            background: {
              image: url($icon-arrow-mid-gray1-down-12-8);
            }
          }
        }
      }
      summary {
        list-style: none;
        background-image: none;
        &::marker {
          display: none;
          content: '';
        }
        &::-webkit-details-marker {
          display: none;
        }
      }
      &[open] {
        border: rem($border1) solid $mid-gray1;
        .searchAddress__title {
          border: none;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
      #{$addressBlock}__inr {
        border-radius: 0;
        padding: rem($padding12px) rem($padding12px) 0;
        border: none;
        border-top: rem($border1) solid $mid-gray1;
      }
      #{$addressBlock}__list {
        margin-top: rem(3px);
        border-top: none;
        padding-left: 0;
        padding-right: 0;
      }
      #{$addressBlock}__item {
        &:first-child {
          padding-top: rem($padding9px);
        }
      }
    }
    &__inr {
      border: rem($border1) solid $mid-gray1;
      border-radius: rem($radius12);
    }
    &__title {
      position: relative;
      height: auto;
      font-size: rem(16px);
      line-height: rem(20px);
      color: $gray3;
      padding: rem($padding12px) rem($padding35px) rem($padding12px) rem($padding13px);
      border: rem($border1) solid $mid-gray1;
      border-radius: rem($radius12);
      min-height: rem($height44px);
      &:after {
        content: '';
        display: block;
        position: absolute;
        right: rem(14px);
        top: calc(50% - rem(4px));
        width: rem($width12px);
        height: rem($height8px);
        background: {
          color: $white;
          repeat: no-repeat;
          image: url($icon-arrow-gray3-down-12-8);
          position: 0 0;
          size: contain;
        }
      }
      @at-root {
        #{$component} .searchAddressSelect[open] {
          .searchAddress__title:after {
            transform: rotate(180deg);
          }
        }
      }
    }
    .c-input-item {
      input:focus {
        position: relative;
        z-index: 1;
      }
    }
    &__list {
      padding: 0 rem($margin12px);
      overflow: auto;
      max-height: rem(156px);
      border-top: rem($border1) solid $mid-gray1;
      padding-bottom: rem($padding12px);
      + .searchAddress__country {
        margin: 0 rem($margin13px);
        padding-left: 0;
        padding-right: 0;
      }
    }
    &__item {
      display: block;
      position: relative;
      width: 100%;
      padding: rem($padding6px) rem($padding16px) 0 0;
      border: none;
      color: $mid-gray2;
      font-size: rem(16px);
      line-height: rem(20px);
      text-align: left;
      background: $white;
      cursor: pointer;
      &:first-child {
        padding-top: rem($padding12px);
      }
      &:hover {
        text-decoration: underline;
      }
      @at-root {
        #{$component} #{$addressBlock}--clearArrow {
          #{$addressBlock}__item:after {
            display: none;
          }
        }
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: calc(50% - rem(3px));
        right: rem(7px);
        margin-left: rem($margin10px);
        width: rem($width7px);
        height: rem($height12px);
        background: url($icon-arrow-black-right-3-6) no-repeat 0 0;
        background-size: contain;
      }
    }
    &__country {
      display: flex;
      justify-content: space-between;
      padding: rem($margin10px) rem($margin13px) rem($margin13px);
      border-top: rem($border1) solid $mid-gray1;
      &::after {
        display: none;
      }
      &-button {
        padding: rem($padding5px) rem($padding8px);
        height: fit-content;
        border: none;
        background: transparent;
        cursor: pointer;
        &:after {
          content: '';
          display: block;
          width: rem($width12px);
          height: rem($height9px);
          background: url($icon-arrow-black-left-12-9) no-repeat 0 0;
          background-size: contain;
        }
      }
      &-textcontent {
        display: flex;
        align-items: center;
      }
      &-image {
        margin-right: rem($margin8px);
      }
      &-text {
        color: $mid-gray2;
      }
    }
    .c-input-item {
      input {
        width: 100%;
        border: none !important;
        // border-bottom-left-radius: 0;
        // border-bottom-right-radius: 0;

        &.my-warn {
          width: calc(100% + rem(2px));
          margin-left: rem(-1px);
          border: rem(1px) solid $active-red !important;
        }
      }
    }
  }
}

.buy-find-address {
  .c-pop-msg__header {
    margin-bottom: rem($margin20px);
    @include screen(web) {
      margin-bottom: rem($margin16px);
    }
    .cmp-title {
      font-size: rem(24px);
      font-weight: $font-light;
      line-height: rem(28px);
      @include screen(web) {
        margin-bottom: 0;
        font-size: rem(36px);
        line-height: rem(42px);
      }
    }
  }
  .button {
    // [Start] LGCOMCI-813
    margin-top: 0;
    justify-content: center;
    flex: 1 0 auto;
    align-items: flex-end;
    // [End] LGCOMCI-813
    @include screen(web) {
      top: rem(24px) !important;
      right: rem(24px) !important;
      margin: 0 auto;
      // max-width: rem(130px); [LGCOMCI-813] Unnecessary
    }
    .c-button {
      white-space: nowrap;
      padding-left: rem($padding12px);
      padding-right: rem($padding12px);
      @include screen(mobile) {
        height: rem($height50px);
      }
      @include screen(web) {
        padding-left: rem($padding11px);
        padding-right: rem($padding11px);
      }
    }
  }
  .c-pop-msg__container {
    // [Start] LGCOMCI-813
    display: flex;
    flex-direction: column;
    // [End] LGCOMCI-813
    padding: rem($padding40px) rem($padding16px) rem($padding24px);
    height: auto;
    margin: 0;
    background: $warm-gray;
    @include screen(web) {
      padding: rem($padding50px);
      width: rem($width660px);
      // max-height: rem(438px); [LGCOMCI-813] Unnecessary
      margin: auto;
      border-radius: rem(28px);
    }
    .c-pop-msg__close-button {
      margin: rem($margin16px);
      width: rem($width12px);
      height: rem($height12px);
      @include screen(web) {
        margin: 0;
        width: rem($width20px);
        height: rem($height20px);
      }
    }
  }
  &__form {
    @include lgness-radius('default');
    padding: rem($padding20px) rem($padding16px);
    margin-bottom: rem($margin24px);
    max-height: 70%; // [LGCOMJP-810]
    background: $white;
    @include screen(web) {
      padding: rem($padding24px);
    }
    // [Start] LGCOMJP-810
    .buy-find-address__form__container {
      max-height: 100%;
      overflow-y: auto;
      @include screen(web) {
        max-height: rem(350px);
      }
    }
    // [End] LGCOMJP-810
    .c-radio-item + .c-radio-item {
      margin-top: rem($margin16px);
    }
  }
  .c-radio-item .label {
    font-size: rem(14px);
    line-height: rem(20px);
    @include screen(web) {
      font-size: rem(16px);
    }
  }
  .c-button {
    flex: 1; // [LGCOMCI-813]
    @include screen(mobile) {
      height: rem($height44px) !important;
    }
  }
}
