@charset "UTF-8";

@use '../../scss/abstract/' as *;
@use '../../scss/modules/theme';

$component: '.ST0029';
#{$component} {
  @include lgness-margin('if-headline');
  > .component > .cmp-container {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: rem($margin12px);
    @include screen(web) {
      align-items: center;
      flex-direction: row;
    }
    &.align-left {
      @include screen(web) {
        flex-direction: row;
      }
    }
    &.align-right {
      @include screen(web) {
        flex-direction: row-reverse;
      }
    }
  }

  // block : c-text-contents
  .c-text-contents {
    display: flex;
    flex-direction: column;
    max-width: rem($text-box-width-md);
    &__subtitle {
      margin-top: rem($margin8px);
    }
    &__bodycopy {
      margin-top: rem($margin8px);
      @include screen(web) {
        margin-top: rem($margin4px);
      }
    }
    * + .c-cta {
      margin-top: rem($margin24px);
    }
  }

  // block : c-cta
  .c-cta {
    flex-shrink: 0;
    // .c-button {
    //     min-width: rem($min-width100px);
    //     height: rem($height40px);
    //     padding: rem(0 $padding24px);
    //     font-size: rem(14px);
    //     outline-color: $white;
    //     @include screen(web) {
    //         min-width: rem($min-width120px);
    //         height: rem($height50px);
    //         padding: rem(0 $padding36px);
    //         font-size: rem(16px);
    //     }
    // }
  }

  &.bg-darkgray,
  &.bg-black {
    .c-text-contents__bodycopy {
      color: $white;
    }
  }
}

$ST0029Themes: bg-lightgray, bg-black, bg-darkgray, bg-white;

@each $themes in $ST0029Themes {
  .#{$themes} > #{$component} {
    /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
    @extend .#{$themes};
  }
}
