@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.ML000P';
.c-pop-msg--change-password {
  @include screen(mobile) {
    padding: 0 rem($padding25px);
  }
  .c-pop-msg__container {
    @include lgness-radius('default');
    padding: rem($padding40px) rem($padding30px);
    background: $light-gray2;
    @include screen(web) {
      max-width: rem(480px) !important;
      padding: rem($padding50px);
    }
  }
  .c-pop-msg__header {
    border-bottom: none;
    padding: 0;
    margin-bottom: rem($margin8px);
    @include screen(web) {
      padding: 0;
      margin-bottom: rem($margin24px);
    }
    .cmp-title {
      font-weight: $font-light;
      font-size: rem(24px);
      line-height: rem(28px);
      @include screen(web) {
        font-size: rem(36px);
        line-height: rem(42px);
        padding-bottom: 0;
      }
    }
  }
  .c-pop-msg__close-button {
    width: rem(44px) !important;
    height: rem(44px) !important;
    margin: 0 !important;
    @include screen(web) {
      // top: rem(32px) !important;
      // right: rem(48px) !important;
      width: rem(60px) !important;
      height: rem(60px) !important;
    }
    &::before {
      width: rem(20px) !important;
      height: rem(20px) !important;
      @include screen(mobile) {
        content: '' !important;
        display: block;
        width: rem(12px) !important;
        height: rem(12px) !important;
        background-image: url($icon-close-black-24-24);
      }
    }
  }
  .c-button {
    @include screen(mobile) {
      width: 100%;
    }
  }
}

#{$component} {
  .my-component {
    @include container($design-grid-full, true);
    @include inset-padding-hz;

    $mycomponent: '.my-component';
    position: relative;
    overflow: hidden;
    &.margin-top {
      padding-top: rem($padding20px);
      @include screen(web) {
        padding-top: rem($padding50px);
      }
    }
    &.margin-bottom {
      padding-bottom: rem($padding20px);
      @include screen(web) {
        padding-bottom: rem($padding50px);
      }
    }
    & > .c-text-contents > .c-text-contents__bodycopy {
      margin-top: 0;
    }
  }
  .align-text-center {
    text-align: left;
    @include screen(web) {
      text-align: center;
    }
  }
  .my-text {
    &__max {
      margin: 0;
      .text {
        & + .title {
          margin-bottom: rem($margin8px);
          @include screen(web) {
            margin-bottom: rem($margin8px);
          }
        }
      }
    }
  }
  .my-formbox {
    @include lgness-radius('default');
    margin: 0 auto;
    margin-top: rem($margin8px);
    max-width: rem(952px);
    background-color: $white;
    padding: rem($padding20px) rem($padding16px);
    @include screen(web) {
      margin-top: rem($margin24px);
      padding: rem($padding24px);
    }
    .c-cta {
      margin-top: rem($margin60px);
      justify-content: center;
    }
  }
  .button.my-button {
    margin-top: rem($margin24px);
    padding-bottom: rem($padding24px);
    justify-content: center;
    gap: rem(8px);
    .cmp-button {
      flex: 1;
    }
    @include screen(web) {
      padding-bottom: rem($padding64px);
      margin-top: rem($margin32px);
      .cmp-button {
        flex: initial;
      }
    }
  }
  .my-input {
    text-align: left;
    ul {
      @include reset-list-style;
      li {
        width: 100%;
      }
      li + li {
        margin-top: rem($margin20px);
      }
      .c-input-item {
        position: relative;
        label {
          color: $gray3;
          // font-size: rem(14px);
          line-height: rem(16px);
          @include screen(web) {
            line-height: rem(18px);
          }
        }
        .my-input__password {
          padding-right: rem(47px);
        }
        &.active {
          .my-form__eye {
            background: url($icon-mylg-view-on-24-24) center / contain no-repeat;
          }
        }
        & + .c-warning {
          margin-top: rem($margin6px);
          @include screen(web) {
            margin-top: rem($margin8px);
          }
        }
        & + .c-valid {
          margin-top: rem($margin6px);
          @include screen(web) {
            margin-top: rem($margin8px);
          }
        }
      }
    }
    input {
      padding: rem($padding12px) rem($padding13px);
      font-size: rem(16px);
      line-height: rem(20px);
      height: rem($height44px);
      border-radius: rem(12px);
      &::placeholder,
      &[data-placeholder]::before {
        color: $mid-gray2 !important;
        font-size: rem(16px);
        line-height: rem(20px);
      }
      &[type='password'] {
        padding-right: rem($padding45px);
      }
    }
    .button {
      justify-content: center;
      margin-top: rem($margin30px);
    }
    .my-form {
      &__eye {
        display: inline-block;
        background: url($icon-mylg-view-32-32) center / contain no-repeat;
        position: absolute;
        top: calc(50%);
        right: rem(15px);
        width: rem($width24px);
        height: rem($height24px);
        border: none;
        cursor: pointer;
      }
    }
    .my-warn {
      padding-right: rem($padding40px);
      border-color: $active-red;
      select {
        border-color: $active-red;
      }
    }
    .c-valid,
    .c-warning {
      padding: 0 rem($padding13px);
      margin-top: rem($margin4px);
      font-size: rem(12px);
      line-height: rem(14px);
      @include screen(web) {
        font-size: rem(14px);
        line-height: rem(16px);
        margin-top: rem($margin6px);
      }
      &::before {
        display: none;
      }
    }
  }
}
