@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.ST0030';
#{$component} {
  // element
  @include lgness-margin('if-headline');
  > .component > .cmp-container {
    @include container($design-grid-full, true);
    @include screen(web) {
      @include inset-padding-hz;
    }
  }
  .c-region-header {
    @include screen(mobile) {
      margin: 0 rem($block-margin-m);
    }
  }
  // block : c-map
  .c-map {
    position: relative;
    width: 100%;
    height: rem($height300px);
    margin-top: rem($margin12px);
    z-index: 1;
    @include screen(web) {
      overflow: hidden;
      @include lgness-radius('default', web);
      margin-top: rem($margin20px);
      height: rem($height730px);
    }
    // element : c-map__pin
    &__pin {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: rem($width20px);
      height: rem($height28px);
      background: {
        size: cover;
        repeat: no-repeat;
        image: url($icon-pin-20-28);
      }
    }
    // block : c-image
    .c-image {
      img {
        object-fit: cover;
        object-position: center;
        height: rem($height300px);
        @include screen(web) {
          height: rem($height730px);
        }
      }
    }
  }
}
