@charset "UTF-8";
@use '../../scss/abstract/' as *;

// subscribe
$component01: '.GN0005';
#{$component01} {
  > .component {
    .cmp-container {
      position: relative;
      @include container($design-grid-full, true);
      @include inset-padding-hz;
    }
    .c-text-contents__headline + .c-text-contents__bodycopy {
      margin-top: rem($margin8px);
    }
  }
  .c-category-contents {
    margin-top: rem($margin12px);
    @include screen(web) {
      position: relative;
      margin-top: rem($margin20px);
      @include container($design-grid-full, true);
    }
    .c-list {
      padding: 0 0 rem($padding25px);
      margin: 0 0 rem($margin16px);
      @include screen(web) {
        display: flex;
        gap: rem($margin48px) rem($gutter-w);
      }
      &__item {
        list-style: none;
        @include lgness-radius('default');
        & ~ .c-list__item {
          margin-top: rem(24px);
          @include screen(web) {
            margin-top: 0;
          }
        }
      }
      &-item__img {
        overflow: hidden;
        display: block;
        margin-bottom: rem($margin9px);
        width: 100%;
        @include lgness-radius('default');
        @include screen(web) {
          margin-bottom: rem($margin20px);
        }
        img {
          width: 100%;
        }
      }
      &-item__contents {
        &__cate {
          @include ellipsis(1);
        }
        &__title {
          @include ellipsis(3);
          word-break: break-word;
          @include screen(web) {
            @include ellipsis(2);
          }
        }
        &__preview {
          margin-top: rem($margin8px);
          max-height: rem(88px);
          line-height: rem(22px);
          color: $gray3;
          @include ellipsis(4);
          word-break: break-word;
          @include screen(web) {
            max-height: rem(80px);
            @include ellipsis(2);
          }
        }
        .c-text-contents {
          &-title {
            margin-top: rem($margin8px);
            @include screen(web) {
              margin-top: rem($margin4px);
            }
          }
          &-bodycopy {
            color: $dark-gray1;
            margin-top: rem($margin8px);
          }
          &-date {
            color: $dark-gray1;
            margin-top: rem($margin8px);
          }
        }
      }
      @include screen(web) {
        @include flex-context($direction: row);
        flex-wrap: wrap;
        &__item {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex-basis: calc(100% / 3 - 16px);
        }
      }
    }
    &__btn {
      margin-top: rem($margin12px);
      display: flex;
      gap: rem(8px);
      flex-wrap: wrap;
      @include screen(web) {
        margin-top: rem($margin24px);
        gap: rem(24px) rem(8px);
      }
    }
    .c-image {
      overflow: hidden;
      @include lgness-radius('default');
    }
  }
}
