@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.ML000X';
#{$component} {
  .my-component {
    @include container($design-grid-full, true);
    @include inset-padding-hz;

    $mycomponent: '.my-component';
    position: relative;
    overflow: hidden;
    .c-cta {
      justify-content: center;
      margin-top: rem($margin24px);
      margin-bottom: rem($margin24px);
      @include screen(web) {
        margin-top: rem($margin32px);
        margin-bottom: rem($margin64px);
      }
      .cmp-button {
        flex: 1;
        @include screen(web) {
          flex-shrink: 0;
          flex-grow: 0;
          flex-basis: 0;
        }
      }
    }
  }
  .align-text-center {
    text-align: left;
    @include screen(web) {
      text-align: center;
    }
    .title div {
      line-height: rem(34px);
      @include screen(web) {
        line-height: rem(44px);
      }
    }
  }
  .my-formbox {
    @include lgness-radius('default');
    margin: 0 auto;
    margin-top: rem($margin6px);
    max-width: rem(952px);
    background-color: $white;
    padding: rem($padding20px) rem($padding16px);
    @include screen(web) {
      margin-top: rem($margin24px);
      padding: rem($padding24px);
    }
  }
  .my-input {
    text-align: left;
    ul {
      @include reset-list-style;
      li {
        width: 100%;
      }
      li + li {
        margin-top: rem($margin20px);
        @include screen(web) {
          margin-top: rem($margin44px);
        }
      }
      .c-input-item {
        position: relative;
        label {
          line-height: rem(16px);
          @include screen(web) {
            line-height: rem(18px);
          }
        }
        input {
          border-radius: rem(12px);
          padding: rem($padding12px) rem($padding13px);
          height: rem(44px);
          font-size: rem(16px);
          font-weight: $font-regular;
          line-height: rem(20px);
          &::placeholder,
          &[data-placeholder]::before {
            color: $mid-gray2 !important;
            font-size: rem(16px);
            line-height: rem(20px);
          }
        }
        .my-input__password {
          padding-right: rem(48px);
        }
        &.active {
          .my-form__eye {
            background: url($icon-mylg-view-on-24-24) center / contain no-repeat;
          }
        }
      }
    }
    // input {
    //     padding: rem($padding8px) rem($padding16px);
    //     height: rem($height40px);
    //     @include screen(web) {
    //         font-size: rem(14px);
    //     }
    //     &[data-placeholder]::before {
    //         color: $gray6;
    //         font-size: rem(14px);
    //     }
    //     &[type='password'] {
    //         padding-right: rem(45px);
    //     }
    // }
    .button {
      justify-content: center;
      margin-top: rem($margin30px);
    }
    .c-warning {
      padding: 0;
      font-size: rem(12px);
      line-height: rem(14px);
      @include screen(web) {
        font-size: rem(14px);
        line-height: rem(16px);
      }
      &::before {
        content: none;
      }
    }
    .my-form {
      &__eye {
        display: inline-block;
        background: url($icon-mylg-view-32-32) center / contain no-repeat;
        position: absolute;
        top: calc(50%);
        right: rem(15px);
        width: rem($width24px);
        height: rem($height24px);
        border: none;
        cursor: pointer;
      }
    }
    .my-warn {
      padding-right: rem($padding40px);
      border-color: $active-red;
      select {
        border-color: $active-red;
      }
    }
    .c-warning {
      margin-left: rem($margin13px);
      margin-top: rem($margin6px);
      @include screen(web) {
        margin-top: rem($margin8px);
      }
    }
  }
  ul.my-input__info {
    color: $gray6;
    margin-top: rem($margin8px);
    li {
      color: $mid-gray3;
    }
  }
  .my-check-msg {
    &__title {
      max-width: rem(555px);
      margin: 0 auto;
    }
    &__container {
      background-color: $ivory6;
      border-radius: rem($radius8);
      padding: rem($padding10px);
      padding-left: rem($padding20px);
      @include screen(web) {
        padding: rem($padding10px) rem($padding20px);
        padding-left: rem($padding30px);
      }
    }
    &__list {
      @include reset-list-style;
      li + li {
        margin-top: rem($margin6px);
        @include screen(web) {
          margin-top: rem($margin4px);
        }
      }
    }
    &__item {
      color: $gray6;
      position: relative;
      padding-left: rem($padding10px);
      line-height: rem(20px);
      @include screen(web) {
        padding-left: rem($padding16px);
        line-height: rem(26px);
      }
      &::before {
        content: '';
        display: inline-block;
        background-color: $gray6;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: rem(9px);
        width: rem(3px);
        height: rem(3px);
        @include screen(web) {
          top: rem(8px);
          width: rem(4px);
          height: rem(4px);
        }
      }
      span {
        display: block;
      }
    }
    &__button {
      margin-top: rem($margin12px);
      @include screen(web) {
        margin-top: rem($margin8px);
      }
      .c-checkbox-item .label {
        font-size: rem(16px);
        @include screen(web) {
          font-size: rem(14px);
        }
      }
    }
  }
  .my-button {
    margin-top: rem($margin20px);
    flex-direction: column-reverse;
    justify-content: center;
    @include screen(web) {
      flex-direction: initial;
      margin-top: rem($margin30px);
    }
    button {
      flex: 1;
      @include screen(web) {
        flex: initial;
      }
    }
  }
}
