@charset "UTF-8";
@use '../../scss/abstract/' as *;
@use '../CS0000/CS0000' as *;

// component
$component: '.CS0022';
#{$component} {
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  $tab-container: '.container';
  $mobile-width: calc(100% - rem($margin25px * 2));

  &__container {
    @include flex-context;
    @include container($design-grid-full, true);
    @include inset-padding-hz(mobile);
    @include screen(web) {
      @include flex-context;
      @include inset-padding-hz;
    }
    @include screen(tablet) {
      @include inset-padding-hz;
    }
  }

  // add class c-default-margin component
  &.c-default-margin {
    padding-bottom: rem($padding10px);
    &.c-wrapper {
      &.margin-top {
        margin-top: 0;
        padding-top: 0;
      }
    }
    #{$cs-header} {
      margin-top: rem($margin30px);
      margin-bottom: 0;
      @include screen(web) {
        margin-top: rem($margin40px);
      }
    }
  }
  // COMMON - .c-cs-header
  #{$cs-header} {
    // a {
    //     color: $red;
    //     text-decoration: underline;
    // }

    @at-root #{$component} #{$cs-header} {
      #{$text-contents} {
        // text-align: center;
      }

      #{$text-contents}__headline + #{$text-contents}__bodycopy {
        margin-top: rem($margin6px);

        @include screen(web) {
          margin-top: rem($margin8px);
        }
      }
    }
  }

  .type-accordion {
    $block: '.c-accordion';

    .c-accordion {
      $block: '.c-accordion';

      &__box {
        border-bottom: rem($border1) solid $mid-gray1;

        // &:last-child {
        //     border-bottom: 0;
        // }

        &--expand {
          border-bottom: none;

          #{$block}__body {
            display: block;

            @include screen(web) {
              display: flex;
            }
          }
          #{$block}__head-text {
            color: $black;
          }
          #{$block}__head-flag {
            color: $black;

            .c-dot {
              color: $heritage-red;
            }
          }
        }

        &:not(#{$block}__box--expand) {
          #{$block}__body {
            display: none;
          }
        }

        &--disabled:not(#{$block}__box--expand) {
          #{$block}__initial,
          #{$block}__head-flag,
          #{$block}__head-flag .c-dot {
            color: $grayb;
          }
          #{$block}__head #{$block}__button {
            &:after {
              background-image: url($icon-dropdown-open-gray);
            }
          }
        }
      }

      &__head {
        position: relative;
        padding: rem($padding13px 0);

        @include screen(web) {
          padding: rem(23px 0);
        }

        #{$block}__initial {
          display: flex;
        }

        .c-accordion__button {
          &::after {
            background-image: url($icon-dropdown-open-black);
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            width: rem(16px);
            height: rem(8px);
          }
        }

        &-flag {
          // text-transform: capitalize;
          display: flex;
          color: $black;
          align-items: center;

          @include screen(web) {
            color: $black;
            font-weight: $font-regular;
            line-height: rem(22px);
          }

          &__icon {
            width: rem(16px);
            position: absolute;
            top: rem(3px);
          }
          .c-dot {
            color: $heritage-red;
            margin-left: rem($margin4px);
          }
        }
      }

      &__head-text {
        color: $black;
        position: relative;
        padding: 0;
        display: flex;
        padding-right: rem($padding40px);

        @include screen(web) {
          padding-right: rem(columns(1, true));
        }

        .c-text-contents {
          &__headline {
            // margin-left: rem($margin22px);
          }
        }
      }

      &__body {
        padding: rem($padding18px);
        border-radius: rem($radius20);
        background-color: $white;

        @include screen(web) {
          display: flex;
          column-gap: min($gutter-w, calc(100% * $gutter-w / $design-grid-full));
          padding: rem($padding24px);
          border-radius: rem($radius28);
        }
      }

      &__body-text {
        width: 100%;

        & > p {
          margin-bottom: rem($margin12px);

          @include screen(web) {
            margin-bottom: rem($margin20px);
          }
        }
      }

      &__step {
        margin-right: rem($margin4px);
        font-weight: 600;

        @include screen(web) {
          margin-right: rem($margin8px);
        }
      }

      &__button {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-right: rem($padding10px);
        padding-top: rem($padding22px);

        @include screen(web) {
          align-items: center;
          padding-right: rem($padding24px);
          padding-top: 0;
        }
      }
      @include screen(web) {
        border-top: rem($border1) solid $mid-gray1;
      }
    }

    &__offEye {
      .c-accordion {
        &__head {
          &-flag {
            display: none;
          }
        }

        #{$block}__initial {
          display: none;
        }
      }
    }

    .c-pagination {
      margin-top: rem($margin20px);

      @include screen(web) {
        margin-top: rem($margin40px);
      }
    }
  }

  // layout : margin
  $image: '.c-image';
  $text: '.c-text-contents';
  $cta: '.c-cta';
  $accordion: '.c-accordion';
  $initial-spell-size: 20px;

  #{$accordion}__initial {
    min-width: rem($initial-spell-size * 0.8);
    margin-right: rem($margin4px);

    @include screen(web) {
      min-width: rem($initial-spell-size);
      margin-right: rem($margin10px);
    }
  }

  #{$accordion}__body {
    #{$cta} {
      margin-top: rem($margin12px);

      @include screen(web) {
        margin-top: 0;
      }
    }

    // #{$cta},
    #{$image} {
      // padding-left: rem($initial-spell-size * 0.8 + $margin8px);
      @include screen(web) {
        padding-left: rem($initial-spell-size + $margin10px);
      }
    }
  }

  #{$accordion}__body-text + #{$accordion}__body-image {
    @include screen(mobile) {
      margin-top: rem($margin20px);
      padding-left: rem($padding25px);
      border-radius: 0;
    }
  }

  .type-accordion {
    .button.c-cta {
      // margin-top: rem($margin12px);
      text-align: left;

      @include screen(web) {
        // margin-top: rem($margin24px);
      }
    }

    .c-image {
      // max-width: rem(80px);
      @include screen(web) {
        max-width: rem(500px);
        border-radius: 0;
      }
    }
  }

  // result accordion
  .type-accordion__result {
    .c-accordion {
      &__body {
        .cmp-image {
          &__image {
            width: rem($width60px);
          }
        }
        .button {
          margin-top: rem($margin12px);

          @include screen(web) {
            margin-top: 0;
          }

          .c-button {
            text-decoration: underline;
          }
        }
        .c-prd {
          &-tit {
            margin-top: rem($margin12px);
            margin-bottom: rem($margin6px);
          }
          &-register__prdtxt {
            .c-warrantyInfo {
              color: $gray3;
            }
          }
        }

        .c-result__txtBox {
          color: $gray3;

          ul {
            @include reset-list-style;
            li {
              margin-top: rem($margin8px);
              &:first-child {
                margin-top: 0;
              }
            }
          }

          span {
            color: $active-red;
          }
        }

        &.step5 {
          .c-result__txtBox {
            color: $gray3;
            text-align: center;
          }
        }
        @include screen(web) {
          &.step1 {
            #{$text-contents} {
              display: flex;
              gap: rem(24px);
              justify-content: space-between;

              .cmp-image {
                &__image {
                  width: rem(110px);
                }
              }
              .c-prd {
                &-tit {
                  margin-top: 0;
                  margin-bottom: rem($margin8px);
                }
                &-register__prdtxt {
                  width: 100%;
                }
              }
            }
          }
          &.step2,
          &.step3,
          &.step4 {
            .button {
              margin-top: 0;
            }
          }
          &.step4 {
            #{$text-contents} {
              align-items: end;
            }
          }
        }
      }
    }
  }

  .c-model-content-wrap {
    border-bottom: 1px solid $mid-gray1;
    padding-bottom: rem($padding6px);
    .c-require {
      margin-top: rem($margin12px);
    }
    @include screen(web) {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      // border: 1px solid #000;
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: rem($margin24px);
    }
  }
  .c-require {
    flex-shrink: 0;
    color: #646464;
    text-align: right;
  }

  .cs-form {
    &.c-flex-type {
      @include screen(web) {
        display: flex;
        gap: rem(24px);

        .cmp-form {
          width: 100%;
        }
      }
    }

    &__wrap:not(.isCS0123) {
      &:first-child {
        .cmp-form {
          &:first-child {
            label {
              margin-top: 0 !important;
            }
          }

          @include screen(web) {
            &:first-child,
            &:last-child {
              label {
                margin-top: 0 !important;
              }
            }
          }
        }
      }
    }

    .cmp-form {
      .fieldIcons {
        &__root {
          position: relative;
        }

        &__before {
          content: '';
          z-index: $stacking-floor;
          @include position(50%, 50%);
          left: rem($padding30px);
          transform: translate(-50%, -50%);
          width: rem(18px);
          height: rem(18px);
          background-image: url($icon-search);
          background-repeat: no-repeat;
          @include screen(web) {
            left: rem($padding24px);
            right: auto;
            transform: translate(0%, -50%);
          }
        }

        input {
          @include input;
          max-width: rem(1086px);
          padding: rem($padding15px $padding17px);
          background: $light-gray3;
          @include screen(web) {
            padding: rem($padding18px $padding16px $padding18px $padding50px);
          }
        }
      }

      label {
        display: block;
        color: $gray3;
        margin-bottom: rem($margin8px);
        font-size: rem(16px);
        line-height: rem(18px);
        text-align: left;
        margin-top: rem($margin16px);
        &.c-not-required {
          margin-top: 0;
          margin-bottom: 0;
        }
      }

      input,
      select:not(.isCS0123) {
        @include accrodionInput;
      }

      select:not(.isCS0123) {
        @include accrodionSelect;
      }

      .button {
        margin-top: rem($margin8px);

        .c-button {
          width: 100%;
        }

        @include screen(web) {
          display: flex;
          justify-content: center;
          margin-top: 0;

          .c-button {
            width: auto;
          }
        }
      }

      .file {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0 none;
        &:focus-visible {
          + .btn-upload {
            outline: rem(2px) solid currentcolor;
            outline-offset: rem(-4px);
          }
        }
      }

      .c-file-msg {
        color: #7e7c77;
        @include screen(web) {
          margin: 0;
        }
      }

      #preview {
        @include accordionPreview;
        &:not(:has(*)) {
          display: none;
          + .c-btn-upload__inner {
            margin-top: 0;
          }
        }
      }
      // this is change for repair system
      .c-info-msg:not(.c-info-repair-type) {
        color: $gray6;
        margin: rem($margin8px $margin13px);

        @include screen(web) {
          margin: rem($margin8px $margin25px);
        }
      }

      .cs-captcha {
        display: grid;
        grid-template-columns: 1fr rem(48px);
        grid-gap: rem(8px 12px);

        @include screen(web) {
          grid-template-columns: 1fr rem(130px);
          grid-gap: rem(16px);
        }

        label {
          display: none;
        }

        &__area {
          height: rem(100px);
          grid-column: 1 / 2;
          grid-row: 1 / 2;
          background-color: $white;
          border-radius: rem(24px);

          @include screen(web) {
            grid-column: 1 / 3;
            height: rem(178px);
            border-radius: rem(34px);
          }
        }

        &__input-box {
          grid-column: 1 / 3;
          grid-row: 2 / 3;

          @include screen(web) {
            grid-column: 1 / 2;
          }
        }

        &__input {
        }

        &__button {
          display: flex;
          flex-direction: column;
          grid-column: 2 / 3;
          grid-row: 1 / 2;
          gap: rem(4px);
          width: rem(48px);

          @include screen(web) {
            flex-direction: row;
            grid-row: 2 / 3;
            width: auto;
            gap: 10px;
          }

          button {
            width: rem(48px);
            height: rem(48px);
            border: 1px solid $mid-gray2;
            background-color: $white;
            border-radius: rem($radius99);

            @include screen(web) {
              width: rem(60px);
              height: rem(60px);
            }
          }

          &--reset {
            background : {
              image: url($icon-sound-black-38-38);
              position: center;
              repeat: no-repeat;
            }
            @include screen(web) {
              background-image: url($icon-sound-black-40-40);
            }
          }

          &--sound {
            background : {
              image: url($icon-reset-38-38);
              position: center;
              repeat: no-repeat;
            }
            @include screen(web) {
              background-image: url($icon-reset-40-40);
            }
          }
        }
      }
    }

    &__chk {
      margin-top: rem($margin24px);

      @include screen(web) {
        margin-top: rem($margin48px);
      }

      .c-checkbox-item {
        input {
          top: rem(8px);
        }

        .label {
          display: inline-block;
          text-align: left;
          padding-left: rem($padding30px);
          margin-top: rem($margin8px);
          position: relative;

          @include screen(web) {
            margin-top: rem(0);
          }

          &::before {
            margin-left: rem(-30px);
            position: absolute;
          }
        }

        a.link {
          margin-left: rem($margin4px);
          color: $red;
          text-decoration: underline;
        }
      }
    }

    &__desc {
      margin-bottom: rem($margin8px);
      color: $mid-gray3;
      line-height: rem(14px);

      @include screen(web) {
        margin-bottom: rem($margin10px);
        line-height: rem(24px);
      }
    }

    @include screen(web) {
      &__wrap:not(.isCS0123) {
        @include screen(web) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: rem(24px);
        }
      }

      &__inner {
        display: flex;
        gap: rem(8px);
      }

      .cmp-form {
        label {
          margin-bottom: rem($margin8px);
          margin-top: 0;
          line-height: rem(22px);
        }

        &:nth-child(n + 3) {
          input,
          select:not(.isCS0123) {
            margin-bottom: 0;
          }
        }
      }

      .button {
        grid-column: 1/3;
        margin-top: rem($margin26px);
      }
    }
  }

  .c-button-wrap {
    margin-top: 0;
    border-top: none;
    // margin-top: rem($margin24px);

    // @include screen(web) {
    //     margin-top: rem($margin48px);
    // }

    .button {
      border-top: none;
      padding-top: rem($padding12px);
      text-align: center;
      line-height: rem(12px);
      // border-top: 1px solid $mid-gray1;

      @include screen(web) {
        padding-top: rem($padding24px);
      }
    }
  }
  // .c-button-wrap {
  //     margin-top: 0;
  // }

  // REGISTRATION COMPLETE - COMPONENT CLASS ADDED .c-regist__complete
  .c-regist__complete {
    &-wrap {
      @include flex-context;
      @include container($design-grid-full, true);
      // @include inset-padding-hz(mobile);
      // padding: {
      //     left: rem($padding12px);
      //     right: rem($padding12px);
      //     // bottom: rem($padding24px);
      // }

      .c-prd-info {
        margin-left: 0;
        margin-right: 0;
        padding-bottom: rem($padding13px);
      }
      .button {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
      @include screen(web) {
        @include flex-context;
        // padding-left: rem($padding25px);
        // padding-right: rem($padding25px);
        padding-left: 0;
        padding-right: 0;
        .c-prd-info {
          padding: rem($padding24px);
        }
      }

      // @include screen(tablet) {
      //     @include inset-padding-hz;
      // }
    }

    #{component}__container {
      padding-left: 0;
      padding-right: 0;
    }

    .c-cs-header {
      @include container($design-grid-full, true);
      // @include inset-padding-hz;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: rem($margin12px);
      // padding-left: rem($padding13px);
      // padding-right: rem($padding13px);
      @include screen(web) {
        align-items: center;
        flex-direction: row;
        padding-top: rem($padding60px);
        // padding-bottom: rem($padding60px);
        padding-left: 0;
        padding-right: 0;
        margin-top: rem($margin40px);
      }
      &::before {
        content: '';
        display: block;
        width: rem($width60px);
        height: rem($height60px);
        background-image: url($icon-result-60-60);
        background-repeat: no-repeat;
        background-size: cover;

        @include screen(web) {
          margin: 0 auto rem($margin40px);
          position: absolute;
          top: rem(-40px);
          width: rem($width90px);
          height: rem($height90px);
        }
      }
    }

    .c-result-area {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: calc(100% - 50px);

      .button {
        margin-top: 0;

        .c-button {
          text-decoration: underline;
        }
      }
    }

    .button__group {
      .button {
        display: flex;
        justify-content: flex-end;
        margin-top: 0;

        .c-button {
          width: 100%;
          // margin: 0 rem($margin24px);
          padding: 0;

          @include screen(web) {
            width: auto;
            // margin: rem($margin40px auto $margin50px);
            padding: 0 rem($padding32px);
            margin: 0;
          }
        }

        &.c-support-B2B {
          display: inline-block;
          margin: 0 auto rem($margin30px);

          @include screen(web) {
            display: flex;
            justify-content: end;
            margin-top: rem($margin40px);
            margin-bottom: rem($margin40px);

            .c-button {
              margin: 0;
              padding: 0;
            }
          }
        }
      }

      // .button:nth-last-child(-n + 1):first-child,
      // .button:nth-last-child(-n + 1):first-child ~ .button {
      //     margin-top: rem($margin40px);
      // }
    }
  }

  // REGISTRATION FAILED - COMPONENT CLASS ADDED .c-regist__failed
  .c-regist__failed {
    #{$component}__container {
      @include screen(web) {
        margin-top: rem($margin24px);
        padding: {
          left: rem($padding25px);
          right: rem($padding25px);
        }
      }
    }
    .c-cs-header {
      @include container($design-grid-full, true);
      // @include inset-padding-hz;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: rem($margin12px);
      // padding-left: rem($padding13px);
      // padding-right: rem($padding13px);
      @include screen(web) {
        align-items: center;
        flex-direction: row;
        padding-top: rem($padding60px);
        // padding-bottom: rem($padding60px);
        padding-left: 0;
        padding-right: 0;
        margin-top: rem($margin40px);
        .button__group {
          flex-shrink: 0;
        }
      }
      &::before {
        content: '';
        display: block;
        width: rem($width60px);
        height: rem($height60px);
        background-image: url($icon-exclamation-gray-60-60);
        background-repeat: no-repeat;
        background-size: cover;

        @include screen(web) {
          margin: 0 auto rem($margin40px);
          position: absolute;
          top: rem(-40px);
          width: rem($width90px);
          height: rem($height90px);
        }
      }
    }
    // block : text contents
    .c-list__item {
    }

    // icon
    .cmp-image {
      .c-image__img {
        width: auto;
        margin-bottom: rem($margin20px);
        @include screen(web) {
          margin-bottom: rem($margin40px);
        }
      }
    }
    // block : list
    .c-list {
      background: $light-gray3;
      border-radius: rem($radius20);
      padding: rem($padding20px);
      margin-left: auto;
      margin-right: auto;
      margin-top: rem($margin12px);
      flex: 1;
      @include screen(web) {
        @include list(nowrap, $margin24px);
        padding: rem($padding28px);
        border-radius: rem($radius28);
      }
      &__item {
        &:not(:first-child) {
          margin-top: rem($margin40px);
          @include screen(web) {
            margin-top: 0;
          }
        }
        .c-text-contents {
          display: block;
          position: relative;
          &__headline {
            .cmp-title {
              padding-bottom: rem($padding12px);
              // text-align: center;
              font-size: rem(24px);
              line-height: rem(28px);
            }
          }
          &__bodycopy {
            border-bottom: 1px solid $mid-gray1;
            border-top: 1px solid $mid-gray1;
            // padding: rem($padding24px) rem($padding16px);
            padding: rem($padding12px 0);
            text-align: left;
            color: $black;
            p {
              display: flex;
              align-items: center;
              gap: rem(8px);
              margin-bottom: rem($margin4px);
            }
            @include screen(web) {
              border: none;
              p {
                gap: rem(16px);
              }
              .cmp-text {
                // border: 1px solid #000;
                display: flex;
                gap: rem(40px);
                > div {
                  &:last-child {
                    border-left: 1px solid $mid-gray1;
                    padding-left: rem($padding40px);
                  }
                }
              }
              // margin: 0 auto;
              // max-width: rem(464px);
              // padding: rem($padding16px) rem(115px);
            }
          }
          @at-root #{$component} {
            &.align-text-right {
              .type-text {
                #{$text-contents} {
                  @include screen(web) {
                    margin-left: auto;
                  }
                }
              }
            }
          }
        }
        .c-cta {
          margin-top: rem($margin24px);
          padding: 0;
          .c-button {
            justify-content: center;
            font-size: rem(14px);
          }
          @include screen(web) {
            margin-top: 0;
            justify-content: flex-start;
            padding-top: rem($padding12px);

            // position: absolute;
            // right: 0;
            // top: 0;
            .c-button {
              font-size: rem(16px);
            }
          }
        }
      }
    }

    // block : cta
    * + .c-cta {
      margin-top: rem($margin12px);
      padding: rem(0 $padding13px);
      .c-button {
        // width: 100%;
      }
      @include screen(web) {
        justify-content: center;
        .c-button {
          width: auto;
        }
      }
    }
  }
}
