@charset "UTF-8";

@use '../../scss/abstract/' as *;

// select shop tab
$component: '.PR0010';
#{$component} {
  .c-floating-wrap {
    &.is-fixed {
        z-index: 4;
        &:not(.no-line):after{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            border-top: rem($border1) solid $mid-gray1;
        }
        &.is-sticky{
            .c-roll-selector {
                .cmp-carousel__content {
                    align-items: center;
                }
                &__item {
                    & > div {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                    }
                }
                .c-roll-selector__item-image{
                    display: none;
                }
                button.c-roll-selector__item{
                    @include screen(phone) {
                        height: auto;
                    }
                }
            }
        }
    }
  }
  .c-roll-selector {
    &__item-image {
      display: block;
    }
    &__item {
      @include screen(phone) {
        flex-basis: calc(100% / 3 - rem($margin8px));
      }
      @include screen(custom, rem(320px), max) {
        flex-basis: calc(100% / 2 - rem($margin8px));
      }
      &-name {
        * {
          display: block;
          @include screen(mobile) {
            font-weight: normal;
          }
        }
      }
    }
  }
}
