include ../_common/_image.pug
include ../_common/_roll-selector.pug

mixin PR0010
	- var nameFontStyle = "font-w-semibold-16 font-m-normal-14i font-semibold"
	- var descFontStyle = "font-w-normal-14 font-m-normal-14"
	- var useAnchor = false
	- var useActiveImage = true

	// Component Markup
	.c-floating-wrap.can-sticky.bg-default
		+roll-selector([
			{useDualImage: true, useActiveImage, name:"Long Category Names Test Test",  nameFontStyle},
			{useDualImage: true, name:"Home Interior", nameFontStyle },
			{useDualImage: true, name:"Energy Savings", nameFontStyle },
			{useDualImage: true, name:"Home Theatre", nameFontStyle },
			{useDualImage: true, name:"Test11", nameFontStyle },
			{useDualImage: true, name:"Test2", nameFontStyle },
			{useDualImage: true, name:"Test3", nameFontStyle },
			{useDualImage: true, name:"Test4", nameFontStyle },
		], useAnchor, 'tab')