@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.PR0012';
#{$component} {
  @include lgness-margin('if-headline');
  > .component > .cmp-container {
    max-width: rem($design-grid-full + ($block-margin-w * 2));
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: relative;
  }
  .c-region-header {
    @include inset-padding-hz;
  }
  // tab panel
  .cmp-tabs__tabpanel {
    margin-top: rem($margin12px);
    @include screen(web) {
      margin-top: rem($margin20px);
    }
    &:focus-visible {
      outline: none;
      .c-category-list {
        @include lgness-radius('default');
        outline: rem($border2) solid currentcolor;
      }
      .c-carousel {
        @include lgness-radius('default');
        outline: rem($border2) solid currentcolor;
        outline-offset: 0;
        .c-category-list {
          outline: none;
        }
      }
    }
  }
  .PR0012__render {
    min-height: rem(400px);
    margin-top: rem($margin12px);
    @include screen(web) {
      margin-top: rem($margin20px);
    }
  }

  // no-data box
  .c-no-data-wrap {
    @include inset-padding-hz;
  }
  .c-no-data {
    width: 100%;
    padding: rem($padding79px) 0;
    background: $white;
    @include lgness-radius('default');
    @include screen(web) {
      padding: rem($padding150px) 0;
    }
  }

  // For the screen before applying swiper js
  .c-carousel__item {
    height: auto;
    @include screen(web) {
      width: rem(columns(3, false));
      margin-right: rem($gutter-w);
    }
  }

  // vendor
  .swiper {
    overflow-y: visible;
    position: static;
  }

  .c-product-list {
    .cta-wrap {
      .c-button {
        &[aria-pressed='true'] {
          .unpressed {
            display: none;
          }
        }
        &[aria-pressed='false'] {
          .pressed {
            display: none;
          }
        }
      }
    }
  }
}
#printCheckedPopup {
  .c-checkbox-item {
    margin-top: rem(15px);
    label {
      justify-content: center;
    }
  }
}
