@charset "UTF-8";
@use '../../scss/abstract/' as *;
@use '../CS0000/CS0000' as *;

// component
$component: '.CS0016';
#{$component} {
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  $tab-container: '.container';
  $mobile-width: calc(100% - rem($margin25px * 2));
  overflow: initial;

  &__container {
    @include flex-context;
    @include container($design-grid-full, true);
    @include inset-padding-hz(mobile);
    @include screen(web) {
      @include flex-context;
      padding: rem(0 24px);
    }
    @include screen(tablet) {
      @include inset-padding-hz;
    }

    @at-root #{$component} {
      .full #{$component}__container {
        padding-left: 0;
        padding-right: 0;
        max-width: none;

        #{$cs-header} {
          margin: rem(0 $margin16px $margin12px);
          // padding: rem($padding24px 0);
          // border-bottom: 1px solid $mid-gray1;

          @include screen(web) {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
            // padding: rem($padding48px 0);
          }
        }
      }
      .c-wide-full #{$component}__container {
        max-width: none;
      }
    }
  }

  // add class c-default-margin component
  &.c-default-margin {
    padding-bottom: rem($padding10px);
    &.c-wrapper {
      &.margin-top {
        margin-top: 0;
        padding-top: 0;
      }
    }
    #{$cs-header} {
      margin-top: rem($margin30px);
      margin-bottom: 0;
      @include screen(web) {
        margin-top: rem($margin40px);
      }
    }
  }

  // Support HEADER
  #{$cs-header} {
    margin-bottom: rem($margin12px);

    a {
      color: $red;
      text-decoration: underline;
    }

    @include screen(web) {
      margin-bottom: 0;
    }

    @at-root #{$component} #{$cs-header} {
      #{$text-contents} {
        // text-align: center;
      }

      #{$text-contents}__headline + #{$text-contents}__bodycopy {
        margin-top: rem($margin6px);

        @include screen(web) {
          margin-top: rem($margin10px);
        }
      }
    }
  }

  &.bg-default,
  &.bg-white,
  &.bg-lightgray {
    .c-motion-slide {
      &__nav-area {
        .swiper-button-next,
        .swiper-button-prev {
          background-image: url($icon-arrow-black-12-21);
          background-color: rgba(255, 255, 255, 0.3);
          border: 1px solid $mid-gray1;
          @include screen(web) {
            background-image: url($icon-arrow-black-18-34);
          }
        }
      }
    }
  }

  &.bg-black,
  &.bg-darkgray {
    #{$cs-header} {
      #{$text-contents}__bodycopy {
        color: $mid-gray1;
      }
    }

    .c-motion-slide__step-text {
      dd {
        color: $mid-gray1;
      }
    }
  }

  .c-header-wrap {
    @include flex-context;
    @include container($design-grid-full, true);
    @include inset-padding-hz(mobile);

    @include screen(web) {
      @include flex-context;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: rem(20px);
      padding: rem(0 24px);
      gap: rem(24px);
    }

    @include screen(tablet) {
      @include inset-padding-hz;
    }

    @include screen(mobile) {
      padding-left: 0;
      padding-right: 0;
    }

    margin-bottom: rem($margin12px);

    .button {
      display: flex;
      gap: rem(12px);
      margin: rem(0 $margin16px);

      @include screen(web) {
        flex-shrink: 0;
        gap: rem(16px);
        margin: 0;
      }
    }
  }

  // .c-cta {
  //     justify-content: center;
  // }

  .swiper-notification {
    font-size: 0;
  }
  // GET GOING WITH THINQ COMPONENT add .c-with-thinq
  .c-with-thinq {
    overflow: hidden;
    padding: rem($padding24px 0);
    @include screen(web) {
      padding: rem(24px 0);
    }
    #{$cs-header} {
      margin-bottom: rem($margin20px);
      @include screen(web) {
        margin-bottom: rem($margin24px);
      }
    }
    // .button {
    //     display: flex;
    //     justify-content: center;
    //     margin-left: rem($margin24px);
    //     margin-right: rem($margin24px);
    // }
  }

  // .c-motion-slide
  .c-motion-slide {
    &__title {
      @include flex-context;
      @include container($design-grid-full, true);
      @include inset-padding-hz(mobile);

      @include screen(web) {
        @include flex-context;
        padding: rem(0 24px);
      }

      @include screen(tablet) {
        @include inset-padding-hz;
      }

      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: rem(8px);
    }

    &__nav-area {
      display: flex;
      gap: rem(4px);

      @include screen(web) {
        position: absolute;
        bottom: rem(24px);
        left: 0;
        right: 0;
        height: rem(114px);
        width: rem(708px);
        margin: 0 auto;

        .swiper-button-next,
        .swiper-button-prev {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
        }

        .swiper-button-prev {
          left: 0;
        }

        .swiper-button-next {
          right: 0;
        }
      }

      .swiper-button-next,
      .swiper-button-prev {
        // position: absolute;
        // top: 0;
        // bottom: 0;
        // margin: auto;
        width: rem(36px);
        height: rem(36px);
        border-radius: 50%;
        background : {
          image: url($icon-arrow-white-12-21);
          position: center;
          size: rem(9px);
          repeat: no-repeat;
          color: $mid-gray3;
        }
        cursor: pointer;
        text-indent: -9999px;
        z-index: 100;

        @include screen(web) {
          width: rem(64px);
          height: rem(64px);
          background-image: url($icon-arrow-white-18-34);
          background-size: rem(10px);
        }
      }
      // .swiper-wrapper {
      //     transform: none !important;
      //     transition-duration: 0 !important;
      // }
      .swiper-button-next {
        // right: 0;
        transform: rotate(180deg) #{'/*!rtl:rotate(0)*/'}; /*! RTL last keep colon */
      }
      .swiper-button-prev {
        // left: 0;
        transform: rotate(0) #{'/*!rtl:rotate(180deg)*/'}; /*! RTL last keep colon */
      }
    }

    &__top {
      margin: rem($margin12px 0 $margin8px);

      @include screen(web) {
        margin: rem($margin20px 0 $margin30px);
      }

      &.column3 {
        max-width: rem(1290px);
        margin: 0 auto;
        overflow: hidden;
      }
    }

    &__item {
      width: rem(160px);
      // transform: scale(0.7);
      // transition: all 0.6s;

      @include screen(web) {
        // transform: scale(0.6);
        width: rem(384px);
      }
      .cmp-image {
        overflow: hidden;
        border-radius: rem($radius20);
        transform: scale(0.8);
        transition: all 0.6s;
        @include screen(web) {
          border-radius: rem($radius28);
          transform: scale(0.7);
        }
      }
      &.swiper-slide-active {
        .cmp-image {
          transform: scale(1);
        }
      }
    }
    &__bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: rem(0 $margin24px);
    }
    .c-cs-header {
      width: 100%;
      margin-top: rem($margin10px) !important;
      margin-bottom: rem($margin10px) !important;
      @include screen(web) {
        margin-top: rem($margin40px) !important;
        margin-bottom: rem($margin40px) !important;
      }
    }
    &__nav {
      position: relative;
      width: 100%;
      max-width: rem(384px);
      margin: 0 auto;
    }
    &__step-list {
      // display: none;
      &--active {
        display: block;
      }
    }
    &__step-text {
      margin-bottom: 0;
      dd {
        margin-top: rem($margin6px);
        margin-left: rem($margin24px);
        margin-right: rem($margin24px);
        color: $mid-gray3;
        @include screen(web) {
          margin-top: rem($margin10px);
        }
      }
    }
  }
}
