@charset "UTF-8";
@use '../../scss/abstract/' as *;

// subscribe
$component01: '.GN0002';
#{$component01} {
  // element
  > .component > .cmp-container {
    @include container($design-grid-full, true);
  }
  .c-region-header {
    @include inset-padding-hz;
  }
  .c-region-header + * {
    @include lgness-component-title-margin;
  }

  .c-multimedia {
    display: grid;
    gap: rem($margin12px);
    grid-template-areas:
      'main'
      'sb1'
      'sb2';
    width: 100%;
    @include screen(web) {
      @include inset-padding-hz;

      $area-main-width: calc(952 / 1440) * 100%;
      gap: rem($margin24px);
      grid-template-columns: $area-main-width auto;
      grid-template-areas:
        'main sb1'
        'main sb2';
      .area-main {
        grid-area: main;
        .c-text-contents {
          &__headline {
            font-size: rem(56px);
            line-height: rem(60px);
            font-weight: $font-semibold;
            font-family: 'LGEI Headline', 'Segoe UI', 'Microsoft Sans Serif', sans-serif;
          }
        }
      }
      .area-sub1 {
        grid-area: sb1;
      }
      .area-sub2 {
        grid-area: sb2;
      }
    }
    @include screen(tablet) {
      grid-template-columns: 50% auto;
      grid-template-areas:
        'main main'
        'sb1 sb2';
    }
    // element
    &__item {
      overflow: hidden;
      @include screen(web) {
        @include lgness-radius('default');
      }
    }
  }

  .c-floating-contents {
    &__floor {
      height: 100%;
      .c-image {
        &__img {
          aspect-ratio: 925/600;
          @include lgness-image-crop('x');
          width: 100%;
        }
      }
    }
    &__floating {
      padding: rem($padding20px);
      height: 100%;
      @include screen(web) {
        padding: rem($padding32px);
      }
      &.font-white {
        color: $white;
        background-image: linear-gradient(0deg, rgb(26 26 26 / 0%) 0%, rgb(26 26 26 / 60%) 100%);
      }
      &.font-black {
        color: $black;
        background-image: linear-gradient(0deg, rgb(255 255 255 / 0%) 0%, rgb(255 255 255 / 60%) 100%);
      }
    }
  }

  .c-text-contents {
    &__headline {
      font-size: rem(24px);
      line-height: rem(28px);
      font-weight: $font-light;
      @include ellipsis(2);
      @include screen(web) {
        font-size: rem(36px);
        line-height: rem(42px);
      }
    }
  }

  .c-image {
    overflow: hidden;
    height: 100%;
    &__img {
      height: 100%;
    }
    .cmp-image {
      height: 100%;
    }
  }

  .c-cta {
    margin-top: rem($margin12px);
    @include screen(web) {
      margin-top: rem($margin16px);
    }
  }
}
