@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.PD0022';
$button: '.c-button';
$cmp-carouse: '.cmp-carousel';
#{$component} {
  @include lgness-margin('if-headline');
  overflow: visible;
  > .component > .cmp-container {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
  }

  // block : region header
  .c-region-header {
    margin-bottom: rem($margin12px);
    @include screen(web) {
      margin-bottom: rem($margin20px);
    }
    &__container {
      + .c-region-header__complementary-area {
        margin-top: rem($margin12px);
        @include screen(web) {
          margin-top: rem($margin24px);
        }
      }
    }
  }
  // block : text contents
  .c-text-contents {
    #{$button} {
      margin-top: rem($margin10px);
    }
  }

  // block : compatible slide
  .compatible-slide {
    margin-left: rem(-$block-margin-m);
    margin-right: rem(-$block-margin-m);
    @include screen(web) {
      margin-left: 0;
      margin-right: 0;
    }

    &__item {
      padding: rem($padding16px $padding24px);
      @include lgness-radius('inner');
      background: $white;

      @include screen(web) {
        padding: rem($padding20px $padding30px);
      }
    }

    #{$cmp-carouse} {
      padding: 0 rem($block-margin-m);
      @include screen(web) {
        padding: 0;
      }
    }

    #{$cmp-carouse}__content {
      display: grid;
      grid-template-rows: repeat(4, auto);
      grid-auto-flow: column;
      gap: rem($margin10px) 0;
      @include screen(web) {
        grid-template-rows: auto;
        grid-template-columns: repeat(4, auto);
        grid-auto-flow: row;
        gap: rem($margin24px) 0;
      }
    }

    #{$cmp-carouse}__item {
      margin: 0 !important;
      color: $gray3;
      &:not(:nth-child(4n + 0)) {
        @include screen(mobile) {
          margin-bottom: rem($margin10px);
        }
      }
    }
  }

  .c-search-datalist {
    $block: '.c-search-datalist';
    // element
    &__container {
      background-color: $white;
      padding: rem($padding20px $padding16px);
      @include lgness-radius('default');
      @include screen(web) {
        padding: rem($padding24px $padding30px);
      }
    }
    &__form {
      // ,,,
    }
    &__field-group {
      display: flex;
      flex-flow: wrap column;
      @include screen(web) {
        flex-direction: row;
        // max-width: columns(6, false);
      }
      #{$block}__field-text:first-child {
        width: 100%;
      }
    }
    &__field {
      position: relative;
      flex: 1;
    }
    &__field-text {
      // modifier
      &--count {
        // ...
      }
    }
    &__button {
      @include screen(web) {
        flex-shrink: 0;
      }
    }
    &__result {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    // font
    &__text--count {
      font-size: rem(14px);
      line-height: rem(16px);
      @include screen(web) {
        font-size: rem(16px);
        line-height: rem(18px);
      }
    }

    &__field-group {
      row-gap: rem($margin8px);
      @include screen(web) {
        column-gap: rem($margin24px);
      }
    }
    &__button {
      @include screen(mobile) {
        margin-top: rem($margin20px - $margin8px);
      }
    }
  }
  .c-search-combobox {
    margin-top: 0;
  }
  // block : message box
  .c-message-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include lgness-radius('default');
    min-height: rem($height350px);
    padding: rem($padding40px $padding24px);
    border: rem($border1) solid $ivory6;
    @include screen(web) {
      min-height: rem($height400px);
      padding: rem($padding80px $padding40px);
    }

    // modify : background;
    &--gray {
      background: $white;
    }

    // modify : icon;
    $icon: '.c-message-box--icon:before';
    // &--confirm {
    //     #{$icon} {
    //         background-image: url($icon-email-gray9-60-60);
    //     }
    // }
    // &--system-error {
    //     #{$icon} {
    //         background-image: url($icon-error-red-60-60);
    //     }
    // }
    // &--sending-error {
    //     #{$icon} {
    //         background-image: url($icon-sending-error-gray3-60-60);
    //     }
    // }
    &--success {
      #{$icon} {
        background-image: url($icon-success-red-60-60);
      }
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      @include screen(web) {
        max-width: rem($max-width640px);
      }
    }
    &__desc {
      color: $gray3;
      margin-top: rem($margin6px);
      @include screen(web) {
        margin-top: rem($margin8px);
      }
    }

    &--icon {
      display: flex;
      align-items: center;
      justify-content: center;

      $icon: '&:before';
      #{$icon} {
        display: inline-flex;
        content: '';
        width: rem($icon60px);
        height: rem($icon60px);
        background : {
          repeat: no-repeat;
          size: 100% auto;
          position: 50% 50%;
        }
      }
      + * {
        margin-top: rem($margin12px);
        @include screen(web) {
          margin-top: rem($margin20px);
        }
      }
    }
    .c-text-contents {
      + * {
        margin-top: rem($margin20px);
      }
    }
  }
}
