@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.AL0009';

#{$component} {
  ul {
    @include reset-list-style;
  }
  > .component > .cmp-container {
    // @include inset-padding-hz;
    @include screen(web) {
      @include container($design-grid-full, false);
    }
    margin: 0 auto;
    .c-event-timeline {
      .c-accordion {
        &__box {
          .c-accordion__body {
            display: none;
          }
          &--expand {
            .c-accordion__body {
              display: block;
            }
            .c-accordion__head {
              border-bottom: none;
            }
          }
        }
        &__head {
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          padding: rem($padding16px) rem($padding10px);
          border-bottom: rem($border1) solid $mid-gray1;
          padding-left: 0;
          @include screen(mobile) {
            margin-left: rem($margin16px);
            margin-right: rem($margin16px);
          }
          @include screen(web) {
            padding: rem($padding24px);
          }
          .button {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            .cmp-button {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              padding: 0 rem($padding12px);
              width: 100%;
              height: 100%;
              @include screen(web) {
                padding: 0 rem($padding24px);
              }
            }
          }
          &-text {
            font-weight: $font-light;
            font-size: rem(24px);
            line-height: rem(28px);
            color: $black;
            @include screen(web) {
              font-size: rem(36px);
              line-height: rem(42px);
            }
          }
        }
        &__body {
          background-color: $light-gray3;
          padding: rem($padding24px) rem($padding16px);
          @include screen(web) {
            padding: rem($padding24px);
          }
        }
      }
      &-headline {
        padding-bottom: rem($padding20px);
        border-bottom: rem($border1) solid $mid-gray1;
        @include screen(mobile) {
          margin-left: rem($padding16px);
          margin-right: rem($padding16px);
        }
        .cmp-title {
          font-weight: $font-light;
          font-size: rem(26px);
          line-height: rem(30px);
          // text-align: center;
          @include screen(web) {
            font-size: rem(56px);
            line-height: rem(60px);
          }
        }
      }
      &__timeline {
        @include screen(web) {
          display: flex;
          gap: 0 rem($gutter-w);
        }
      }
      &__item {
        @include screen(web) {
          flex: 1;
        }
        &:nth-child(n + 2) {
          margin-top: rem($margin24px);
          @include screen(web) {
            margin-top: 0;
          }
        }
      }
      &__title {
        margin-bottom: rem($margin12px);
        border-bottom: rem($border1) solid $mid-gray2;
        padding-bottom: rem($padding8px);
        font-weight: $font-regular;
        font-size: rem(20px);
        line-height: rem(24px);
        @include screen(web) {
          padding-bottom: rem($padding16px);
          font-size: rem(32px);
          line-height: rem(36px);
          margin-bottom: rem($margin16px);
        }
      }
      &-list {
        &__item {
          background-color: $white;
          @include lgness-radius('default');
          padding: rem($padding20px);
          line-height: rem(14px);
          &:nth-child(n + 2) {
            margin-top: rem($margin12px);
          }
          @include screen(web) {
            line-height: rem(20px);
            padding: rem($padding28px);
            &:nth-child(n + 2) {
              margin-top: rem($margin12px);
            }
          }
        }
        &__item.row {
          @include screen(web) {
            flex: 1 1 calc(33.333% - rem(48px));
            &:nth-child(n + 2) {
              margin-top: 0;
            }
          }
        }
        &__date {
          color: $gray3;
          font-size: rem(12px);
          line-height: rem(14px);
          @include screen(web) {
            font-size: rem(16px);
            line-height: rem(20px);
          }
        }
        &__title {
          margin-top: rem($margin8px);
          font-weight: $font-regular;
          font-size: rem(20px);
          line-height: rem(24px);
          @include screen(web) {
            margin-top: rem($margin4px);
            font-size: rem(24px);
            line-height: rem(28px);
          }
        }
        &__text {
          margin-top: rem($margin8px);
          font-size: rem(16px);
          line-height: rem(20px);
          @include screen(web) {
            margin-top: rem($margin12px);
            // font-size: rem(20px);
            // line-height: rem(26px);
          }
        }
      }
      &-list.row {
        @include screen(web) {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          column-gap: rem($gutter-w);
          row-gap: rem(12px);
        }
      }
    }
  }
}
