@charset "UTF-8";

@use '../../scss/abstract/' as *;
@use '../CS0078/CS0078' as *;

$component: '.CS0078';

#{$component} {
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  $mobile-width: calc(100% - rem($margin25px * 2));
  $accordion: '.c-accordion';
  overflow: initial;
  .CS0078-SA {
    .c-wrapper {
      outline: none;
    }
    #{$cs-header} {
      #{$text-contents} {
        &__bodycopy {
          margin-top: rem($margin8px);
        }
      }
    }
    .second-container {
      .c-cs-header {
        padding: 0;
      }
      .c-print-area {
        @include screen(web) {
          margin-top: rem($margin48px);
        }
      }
      .c-warranty__wrap {
        .contents-area {
          > .c-cs-header {
            padding: rem($padding24px $padding16px $padding12px);
            @include screen(web) {
              padding-top: 0;
            }
          }
          .tabs.csSwiper2.c-sticky {
            top: 0;
          }
        }
      }
    }

    .cs-warrantyCounter {
      ol.cmp-text {
        li {
          line-height: rem(20px);
          padding-left: rem($padding4px);
          &::before {
            counter-increment: warranty;
            content: counter(warranty) '.';
          }
          @include screen(web) {
            padding-left: rem($padding10px);
            line-height: rem(24px);
          }
        }
      }
    }
    @include productList();
    @include productListType2();
    .c-product-list {
      margin: 0;
      padding: 0;
    }
    @include screen(web) {
      .c-product-list {
        gap: rem(24px);
        li.c-content_box {
          display: flex;
          align-items: center;
          gap: rem(24px);
          padding: rem($padding28px);
          border-radius: rem($radius28);
          background: #fff;

          p {
            width: 22%;
            min-width: 22%;
            word-break: break-word;
          }
          div {
            &:last-child {
              margin-top: 0;
            }
          }
          span {
            display: block;
            margin-bottom: rem($margin8px);
            &:last-child {
              margin-bottom: 0;
              line-height: rem(24px);
            }
          }
          ul {
            display: flex;
            width: 100%;
            gap: rem(24px);
            li {
              margin-bottom: 0;
              &:first-child {
                min-width: rem(250px);
                margin-bottom: 0;
              }
              strong {
                margin-bottom: rem($margin10px);
              }
            }
          }
        }
        &__type2 {
          li.c-content_box {
            align-items: flex-start;
          }
        }
      }
    }

    // ORDER FAQ - COMPONENT CLASS ADDED .type-accordion
    .type-accordion {
      $block: '.c-accordion';

      #{$component}__container {
        // margin-top: rem($margin40px);
        // padding-bottom: 0;
        // padding-top: rem($padding40px);
      }

      .c-accordion {
        $block: '.c-accordion';
        border-bottom: rem($border1) solid $mid-gray1;

        &__box {
          border-top: rem($border1) solid $mid-gray1;

          @include screen(web) {
            &:not(.c-accordion__box--expand) {
              .c-accordion__head {
                .c-accordion__button {
                  &:after {
                    // border: 1px solid #000;
                    background-image: url($icon-dropdown-open-gray);
                  }
                }
              }
            }
          }

          &--expand {
            #{$block}__head {
            }

            #{$block}__step {
              color: $red;
            }

            #{$block}__head-flag {
              color: $gray3;

              .c-dot {
                // color: $red;
              }
            }

            #{$block}__body {
              display: block;
              border-radius: rem($radius20);

              @include screen(web) {
                border-radius: rem($radius28);
              }
            }
            & + .c-accordion__box {
              //   border-top: none;
            }
          }

          &:not(#{$block}__box--expand) {
            #{$block}__body {
              display: none;
            }
          }

          &--disabled {
            #{$block}__step,
            #{$block}__head-flag {
              color: $mid-gray2;
              display: flex;
            }
            #{$block}__button {
              &:after {
                opacity: 0.5;
              }
            }
          }
        }

        &__head {
          position: relative;
          padding: rem($padding16px 0);

          @include screen(web) {
            padding: rem($padding24px 0);
          }

          #{$block}__initial {
            color: $grayb;
            display: flex;
            align-items: center;
            margin-bottom: rem($margin4px);
          }

          .c-accordion__button {
            &::after {
              background-image: url($icon-dropdown-open-black);
              background-repeat: no-repeat;
              position: absolute;
              top: 50%;
              width: rem(16px);
              height: rem(8px);
              transform: translate(0, -50%);

              @include screen(web) {
                top: 50%;
              }
            }
            &[aria-expanded='true'] {
              &::after {
                transform: translate(0, -50%) rotateX(180deg);
              }
            }
          }

          &-flag {
            color: $grayb;
            font-weight: $font-regular;
            margin-left: rem($margin6px);
            display: flex;
            .c-dot {
              margin-left: rem($margin4px);
            }

            @include screen(web) {
              line-height: rem(22px);
              font-weight: $font-regular;
            }

            &__icon {
              width: rem(16px);
              position: absolute;
              top: rem(3px);
            }
          }
        }

        &__head-text {
          color: $gray3;
          position: relative;
          padding: 0;
          display: flex;
          // padding-right: rem($padding25px);

          @include screen(web) {
            padding-right: rem(columns(1, true));
          }

          .c-text-contents {
            &__headline {
              margin-right: rem($margin22px) #{'/*!rtl:0*/'}; /*! RTL last keep colon */
              // strong {
              //     font-weight: inherit;
              //     word-wrap: break-word;
              //     word-break: break-word;
              //     border: 1px solid red;
              //     margin-right: 20px;
              //     display: inline-block;
              // }
            }
          }

          &.c-step-active {
            #{$block}__step {
              color: $red;
            }

            #{$block}__head-flag {
              color: $gray3;

              .c-dot {
                color: $red;
              }
            }
          }
        }

        &__body {
          background-color: $white;
          padding: rem($padding20px);
          margin-bottom: rem($margin22px);
          @include screen(web) {
            // display: flex;
            column-gap: min($gutter-w, calc(100% * $gutter-w / $design-grid-full));
            padding: rem($padding28px);
          }
        }

        &__body-text {
          // display: flex;
          flex-wrap: wrap;
          align-content: flex-start;
          &.c-flex {
            display: flex;
          }
          @include screen(web) {
            flex-basis: rem(columns(7, false));
            min-width: rem(columns(3));

            &:only-child {
              flex-basis: rem(columns(9, false));
            }
          }

          // #{$block}__initial {
          //     color: $red;
          //     display: none;
          // }
          .c-text-contents__bodycopy {
            flex: 1;
            line-height: rem(18px);
            color: $black;
            div {
              margin-top: rem($margin16px);
            }
            ul {
              /*!rtl:ignore*/
              padding-left: rem($padding20px);
              padding-right: 0 #{'/*!rtl:#{rem($padding20px)}*/'}; /*! RTL last keep colon */
              li {
                list-style-position: outside;
                list-style: disc;
              }
            }
            .cs-bold {
              margin-top: rem($margin16px);
              display: inline-block;
            }
            a {
              color: $active-red;
              text-decoration: underline;
            }

            @include screen(web) {
              line-height: rem(22px);
            }
          }

          .c-cta {
            width: 100%;
            // margin-left: rem($margin25px);
          }
        }

        &__body-image {
          @include screen(web) {
            flex-basis: rem(columns(5, false));
          }

          &:empty {
            display: none;
          }
        }

        &__button {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          display: flex;
          justify-content: flex-end;
          padding-right: rem($padding10px);
          padding-top: rem($padding22px);

          @include screen(web) {
            align-items: center;
            padding-right: rem($padding24px);
            padding-top: 0;
          }
        }
      }

      &__offEye {
        .c-accordion {
          &__head {
            &-flag {
              display: none;
            }
          }

          #{$block}__initial {
            display: none;
          }
        }
      }

      .c-pagination {
        margin-top: rem($margin20px);

        @include screen(web) {
          margin-top: rem($margin40px);
        }
      }
    }

    // layout : margin
    $image: '.c-image';
    $text: '.c-text-contents';
    $cta: '.c-cta';
    $accordion: '.c-accordion';
    $initial-spell-size: 20px;

    #{$accordion}__initial {
      min-width: rem($initial-spell-size * 0.8);
      margin-right: rem($margin8px);

      @include screen(web) {
        min-width: rem($initial-spell-size);
        margin-right: rem($margin10px);
      }
    }

    #{$accordion}__body {
      #{$cta} {
        margin-top: rem($margin16px);

        @include screen(web) {
          margin-top: rem($margin20px);
        }
      }

      // #{$cta},
      #{$image} {
        // padding-left: rem($initial-spell-size * 0.8 + $margin8px);
        @include screen(web) {
          padding-left: rem($initial-spell-size + $margin10px);
        }
      }
    }

    #{$accordion}__body-text + #{$accordion}__body-image {
      @include screen(mobile) {
        margin-top: rem($margin20px);
        padding-left: rem($padding25px);
        border-radius: 0;
      }
    }

    .type-accordion {
      padding: rem(0 $padding20px);
      margin-bottom: rem($margin24px);
      .button.c-cta {
        margin-top: rem($margin24px);

        @include screen(web) {
          margin-top: rem($margin40px);
        }
      }
      .c-accordion + .button.c-cta {
        .c-button {
          &.disabled {
            span {
              color: $grayb;
            }

            background-color: $gray9;
            cursor: none;
          }
        }
        @include screen(web) {
          margin-top: rem($margin40px);

          .c-button {
            // width: rem($width160px);
          }
        }
      }

      .c-image {
        // max-width: rem(80px);
        @include screen(web) {
          max-width: rem(500px);
          border-radius: 0;
        }
      }
    }
    .tab1-1 {
      .c-product-list {
        .c-content_box {
          ul {
            li {
              margin-bottom: rem($margin12px);
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
