@charset "UTF-8";

@use '../../scss/abstract/' as *;
@use '../CS0000/CS0000' as *;

.c-hidden-pc {
  @include screen(web) {
    display: none;
  }
}
.c-hidden-mo {
  @include screen(mobile) {
    display: none;
  }
}

// component
$component: '.CS0105';

#{$component} {
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  $tab-container: '.container';
  $mobile-width: calc(100% - rem($margin25px * 2));

  &__container {
    @include flex-context;
    @include container($design-grid-full, true);
    @include inset-padding-hz(mobile);
    @include screen(web) {
      @include flex-context;
      @include inset-padding-hz;
    }
    @include screen(tablet) {
      @include inset-padding-hz;
    }

    @at-root #{$component} {
      .full #{$component}__container {
        padding-left: 0;
        padding-right: 0;

        #{$cs-header} {
          margin: rem(0 $margin25px);
          margin-bottom: rem($margin20px);

          @include screen(web) {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: rem($margin40px);
          }
        }
      }
    }
  }

  // COMMON - .c-cs-header
  #{$cs-header} {
    margin-bottom: rem($margin20px);

    a {
      color: $red;
      text-decoration: underline;
    }

    @include screen(web) {
      margin-bottom: rem($margin40px);
    }

    @at-root #{$component} #{$cs-header} {
      #{$text-contents} {
        text-align: center;
      }

      #{$text-contents}__headline + #{$text-contents}__bodycopy {
        margin-top: rem($margin6px);

        @include screen(web) {
          margin-top: rem($margin8px);
        }
      }
    }
  }

  .c-text-box {
    margin-bottom: rem($margin24px);
    color: $gray3;

    @include screen(web) {
      margin-bottom: rem($margin48px);
    }
  }

  .type-accordion {
    $block: '.c-accordion';

    .c-accordion {
      $block: '.c-accordion';

      &__box {
        border-bottom: rem($border1) solid $mid-gray1;

        &:last-child {
          border-bottom: 0;
        }

        &--expand {
          border-bottom: none;

          #{$block}__body {
            display: block;

            @include screen(web) {
              display: flex;
            }
          }
        }

        &:not(#{$block}__box--expand) {
          #{$block}__body {
            display: none;
          }
        }
      }

      &__head {
        position: relative;
        padding: rem($padding13px 0);

        @include screen(web) {
          padding: rem(23px 0);
        }

        #{$block}__initial {
          display: flex;
        }

        .c-accordion__button {
          &::after {
            background-image: url($icon-dropdown-open-black);
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            width: rem(16px);
            height: rem(8px);
          }
        }

        &-flag {
          text-transform: capitalize;
          margin-bottom: rem($margin4px);
          display: flex;

          @include screen(web) {
            color: $gray3;
            font-weight: $font-regular;
            line-height: rem(22px);
            margin-bottom: rem($margin8px);
          }

          &__icon {
            width: rem(16px);
            position: absolute;
            top: rem(3px);
          }
        }
      }

      &__head-text {
        color: $gray3;
        position: relative;
        padding: 0;
        display: flex;
        padding-right: rem($padding40px);

        @include screen(web) {
          padding-right: rem(columns(1, true));
        }

        .c-text-contents {
          &__headline {
            // margin-left: rem($margin22px);
          }
        }
      }

      &__body {
        padding: rem($padding18px);
        border-radius: rem($radius20);
        background-color: $white;

        @include screen(web) {
          display: flex;
          column-gap: min($gutter-w, calc(100% * $gutter-w / $design-grid-full));
          padding: rem($padding24px);
          border-radius: rem($radius28);
        }
      }

      &__body-text {
        width: 100%;
      }

      &__button {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-right: rem($padding10px);
        padding-top: rem($padding22px);

        @include screen(web) {
          align-items: center;
          padding-right: rem($padding24px);
          padding-top: 0;
        }
      }
    }

    &__offEye {
      .c-accordion {
        &__head {
          &-flag {
            display: none;
          }
        }

        #{$block}__initial {
          display: none;
        }
      }
    }

    .c-pagination {
      margin-top: rem($margin20px);

      @include screen(web) {
        margin-top: rem($margin40px);
      }
    }
  }

  // layout : margin
  $image: '.c-image';
  $text: '.c-text-contents';
  $cta: '.c-cta';
  $accordion: '.c-accordion';
  $initial-spell-size: 20px;

  #{$accordion}__initial {
    min-width: rem($initial-spell-size * 0.8);
    margin-right: rem($margin4px);

    @include screen(web) {
      min-width: rem($initial-spell-size);
      margin-right: rem($margin10px);
    }
  }

  #{$accordion}__body {
    #{$cta} {
      margin-top: rem($margin16px);

      @include screen(web) {
        margin-top: rem($margin20px);
      }
    }

    // #{$cta},
    #{$image} {
      // padding-left: rem($initial-spell-size * 0.8 + $margin8px);
      @include screen(web) {
        padding-left: rem($initial-spell-size + $margin10px);
      }
    }
  }

  #{$accordion}__body-text + #{$accordion}__body-image {
    @include screen(mobile) {
      margin-top: rem($margin20px);
      padding-left: rem($padding25px);
      border-radius: 0;
    }
  }

  .type-accordion {
    .button.c-cta {
      margin-top: rem($margin24px);
      text-align: left;

      @include screen(web) {
        margin-top: rem($margin40px);
      }
    }

    .c-image {
      // max-width: rem(80px);
      @include screen(web) {
        max-width: rem(500px);
        border-radius: 0;
      }
    }
  }

  // result accordion
  .type-accordion__result {
    .c-accordion {
      &__body {
        .cmp-image {
          &__image {
            width: rem($width60px);
          }
        }
        .button {
          margin-top: rem($margin24px);
          .c-button {
            text-decoration: underline;
          }
        }
        .c-prd {
          &-tit {
            margin-top: rem($margin12px);
            margin-bottom: rem($margin6px);
          }
          &-register__prdtxt {
            .c-warrantyInfo {
              color: $gray3;
            }
          }
        }
        &.step2 {
          background: $ivory6;
        }

        .c-result__txtBox {
          color: $gray3;
          ul {
            @include reset-list-style;
            li {
              margin-top: rem($margin8px);
              &:first-child {
                margin-top: 0;
              }
            }
          }
        }
        &.step5 {
          .c-result__txtBox {
            color: $gray3;
            text-align: center;
          }
        }
        @include screen(web) {
          &.step1 {
            #{$text-contents} {
              display: flex;
              gap: rem(24px);
              .cmp-image {
                &__image {
                  width: rem(110px);
                }
              }
              .c-prd {
                &-tit {
                  margin-top: 0;
                  margin-bottom: rem($margin8px);
                }
                &-register__prdtxt {
                  width: 100%;
                }
              }
            }
          }
          &.step2,
          &.step3,
          &.step4 {
            .button {
              margin-top: 0;
            }
            #{$text-contents} {
              display: flex;
              justify-content: space-between;
            }
          }
          &.step4 {
            #{$text-contents} {
              align-items: end;
            }
          }
        }
      }
    }
  }
  .cmp-form {
    & + .cmp-form {
      margin-top: rem($margin16px);
      @include screen(web) {
        margin-top: 0;
      }
    }

    label {
      margin-bottom: rem($margin8px);
    }
  }
}
