@charset "UTF-8";
@use '../../scss/abstract/' as *;
@use '../CS0000/CS0000' as *;

// component
$component: '.CS0017';
#{$component} {
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  $tab-container: '.container';
  $mobile-width: calc(100% - rem($margin25px * 2));
  overflow: initial;

  &__container {
    @include flex-context;
    @include container($design-grid-full, true);
    @include inset-padding-hz(mobile);
    @include screen(web) {
      @include flex-context;
      @include inset-padding-hz;
      position: relative;
    }
    @include screen(tablet) {
      @include inset-padding-hz;
    }

    @at-root #{$component} {
      .full #{$component}__container {
        padding-left: 0;
        padding-right: 0;

        #{$cs-header} {
          margin: rem(0 $margin25px);
          margin-bottom: rem($margin20px);

          @include screen(web) {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: rem($margin40px);
          }
        }
      }
    }
  }
  // add class c-default-margin component
  &.c-default-margin {
    padding-bottom: rem($padding10px);
    &.c-wrapper {
      &.margin-top {
        margin-top: 0;
        padding-top: 0;
      }
    }
    #{$cs-header} {
      margin-top: rem($margin30px);
      margin-bottom: 0;
      @include screen(web) {
        margin-top: rem($margin40px);
      }
    }
  }
  .c-region-header {
    &__headline {
      margin-bottom: rem($margin8px);
      @include screen(web) {
        // max-width: calc(100% - rem(230px));
      }
    }

    &__container {
      text-align: #{'/*!rtl:right*/'}; /*! RTL last keep colon */
    }
  }

  &.bg-darkgray,
  &.bg-black {
    .cmp-carousel__actions {
      .c-carousel__button--pagination--next,
      .c-carousel__button--pagination--prev {
        background : {
          image: url($icon-arrow-white-12-21);
        }
        @include screen(web) {
          background-image: url($icon-arrow-white-18-34);
        }
      }
    }
    .c-product-qrcode__name {
      color: $black;
    }
    .cmp-form select {
      background-color: $white;
    }
  }

  // LG ThinQ QR Code Location COMPONENT ADD .c-qrcode-location
  .c-qrcode-location {
    overflow: hidden;
    // padding-top: rem($padding40px);

    @include screen(web) {
      // padding-top: rem($padding100px);
    }
    #{$component}__container {
      padding-bottom: rem($padding40px);
      .c-region-header {
        &__container {
          padding-right: 0;
          @include screen(web) {
            width: calc(100% - rem(240px));
          }
        }
      }
      @include screen(web) {
        padding-bottom: 0;
      }
    }
  }
  .c-mobile-block {
    display: block;
    @include screen(web) {
      display: none;
    }
  }
  .c-pc-block {
    display: none;
    @include screen(web) {
      display: block;
    }
  }
  // LG ThinQ QR Code Location .cmp-form
  .cmp-form {
    margin-top: rem($margin12px);

    label {
      display: none;
    }
    select {
      @include input;
      height: rem(48px);
      padding-right: rem($padding20px);
      appearance: none;

      &::-ms-expand {
        display: none;
      }

      background: $light-gray3 url($icon-dropdown-open-black-12-8) no-repeat;
      background-position: right 5% center;
      background-size: 12px auto;

      @include screen(web) {
        height: rem(60px);
        background-position: right 3% center;
      }
      &[disabled='disabled'] {
        background-color: $ivory6;
        background-image: url($icon-dropdown-open-gray-12-8);
        color: $grayb;
        background-repeat: no-repeat;
        background-position: right 5% center;
        background-size: 12px auto;

        &::placeholder {
          opacity: $mid-gray1;
        }
        @include screen(web) {
          background-position: right 3% center;
        }
      }
    }
  }

  // LG ThinQ QR Code Location .c-product-qrcode
  .c-product-qrcode {
    margin-top: rem($margin12px);

    @include screen(web) {
      margin-top: rem($margin20px);
    }

    &__wrap {
      position: static;
      margin: 0 auto;
    }

    &__list {
      justify-content: flex-start !important;
    }

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: rem($padding20px);
      background-color: $white;
      border-radius: rem($radius20);
      @include screen(web) {
        // max-width: rem(220px);
        // max-height: rem(220px);
        // margin: 0 auto;
        padding: rem($padding28px $padding32px);
      }
      .cmp-image {
        width: rem(160px);
        height: rem(160px);
        @include screen(web) {
          width: 100%;
          height: auto;
          max-height: rem(120px);
          text-align: center;
        }

        &__image {
          width: auto;
        }
      }
    }

    &__name {
      display: none;

      @include screen(web) {
        display: block;
        margin-bottom: rem($margin16px);
        word-break: break-word;
        max-height: rem(56px);
        min-height: rem(56px);
        @include ellipsis(2);
        width: 100%;
      }
    }
  }
  .c-carousel__handler {
    display: flex;
    &.less6 {
      display: none;
      @include screen(custom, rem(1280px), max) {
        display: flex !important;
      }
    }
  }
}
