// keyframes
// progress bar animation
@keyframes progress-x-axis {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

// fade animation
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// folding animation
@keyframes fold-open {
  0% {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    visibility: visible;
    max-height: 1000vh;
  }
}
// pd0003
@keyframes slide-up {
  0% {
    display: none;
    overflow: hidden;
    max-height: 0;
  }
  1% {
    display: flex;
    overflow: hidden;
  }
  99% {
    max-height: 100vh;
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
@keyframes translate-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
