@use '../abstract/' as *;

@mixin attached-file {
  .c-attached-file {
    @include container($design-grid-full, true);
    @include screen(mobile) {
      @include inset-padding-hz;
    }
    &__container {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding-bottom: rem($padding12px);
      // > * {
      //     font-weight: $font-semibold;
      // }
      @include screen(web) {
        padding-bottom: rem($padding20px);
      }
    }
    &__download {
      display: flex;
      flex-direction: row;
      gap: rem($margin10px);
      align-items: center;

      .c-divider {
        width: rem($width1px);
        height: rem($height14px);
        background-color: $mid-gray1;
      }
    }
    &__title {
      display: inline-flex;
    }
    &__item {
      display: inline-flex;
      gap: rem($margin6px);
      align-items: center;
      > * {
        font-weight: $font-semibold;
      }

      &::before {
        display: block;
        width: rem($width24px);
        height: rem($height24px);
        background: {
          repeat: no-repeat;
          position: center;
        }
        content: '';
      }
      span {
        // color: $gray3;
        text-decoration: underline;
        line-height: inherit;
      }

      &.total {
        &::before {
          background-image: url($icon-picture-black-24-24);
        }
      }
      &.zip {
        &::before {
          background-image: url($icon-folder-black-24-24);
        }
        .bg-darkgray &,
        .bg-black & {
          &::after {
            background-image: url($icon-folder-white-24-24);
          }
        }
      }
    }
  }
  .bg-darkgray,
  .bg-black {
    .c-attached-file {
      &__item {
        &.total {
          &::before {
            background-image: url($icon-picture-white-24-24);
          }
        }
        &.zip {
          &::before {
            background-image: url($icon-folder-white-24-24);
          }
        }
      }
    }
  }
}
