@use '../abstract/' as *;

@mixin item-border {
  .item-border-graye-thick1 {
    border: rem($border1) solid $graye;
  }
  .item-border-graye6-thick1 {
    border: rem($border1) solid $graye6;
  }
  .item-border-gray6-thick1 {
    border: rem($border1) solid $gray6;
  }
  .item-border-red-thick1 {
    border: rem($border1) solid $active-red;
  }
}
