@use '../abstract/' as *;

.Buy-calendar {
  @include screen(mobile) {
    height: 100vh;
  }
  .Buy-calendar__radio-item:has(input:checked) span.font-w-normal-16 {
    font-weight: $font-semibold;
  }
  // input:checked ~ .label {
  //     font-weight: $font-semibold;
  // }

  .fc-col-header-cell-cushion {
    font-size: rem(12px);
    line-height: 1;
    color: $mid-gray2;
    font-weight: $font-semibold;
  }
  &__box {
    .fc-header-toolbar {
      margin-bottom: 0 !important;
      padding: 0 0 rem($padding48px);
      .fc-toolbar-chunk {
        > div {
          display: flex;
          align-items: center;
        }
      }
      .fc-toolbar-title {
        font-size: rem(20px);
        line-height: rem(24px);
        margin: 0 rem($margin15px);
        @include screen(web) {
          font-size: rem(24px);
          line-height: rem(28px);
        }
      }
      .fc-button {
        overflow: hidden;
        background-color: $white;
        border: rem($border1) solid $light-gray3;
        border-radius: rem($radius4);
        color: $gray3;
        width: rem($width32px);
        height: rem($width32px);
        padding: 0;
        &:focus {
          outline: 0 !important;
        }
        &:hover,
        &:not(:disabled):active {
          background-color: $white;
          border-color: $light-gray3;
          border-radius: rem($radius4);
          color: $gray3;
          outline: none;
        }
      }
    }
    .fc-view-harness {
      max-height: rem(364px);
    }
    .fc-scrollgrid {
      border: none !important;
      th,
      td {
        border: none !important;
      }
      .fc-view {
        .fc-scroller {
          .fc-col-header-cell {
            border: unset;
          }
        }
      }
      .fc-daygrid-day-number {
        font-size: rem(14px);
        line-height: 1;
        font-weight: $font-semibold;
        cursor: pointer;
      }
      .fc-daygrid-day-frame {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column-reverse;
        width: rem(30px);
        height: rem(48px);
        min-height: unset;
        margin: 0 auto;
      }
      .fc-day-today {
        background: none !important;
        .fc-daygrid-day-frame {
          .fc-daygrid-day-events {
            display: flex;
            align-items: flex-end;
            .fc-daygrid-day-bottom {
              display: block;
              border-radius: 50%;
              width: rem(8px);
              height: rem(8px);
              background-color: $green;
            }
          }
        }
      }
      .fc-day-past {
        color: $black;
        a:hover {
          text-decoration: none;
        }
      }
      .fc-day-other .fc-daygrid-day-top {
        opacity: 1;
        color: $mid-gray1;
      }
      .fc-day-future.selected {
        .fc-daygrid-day-number {
          background-color: $active-red;
          border-radius: 50%;
          color: $white;
          width: rem(30px);
          height: rem(30px);
          text-align: center;
          font-weight: $font-semibold;
        }
      }
    }
  }
  &__radiobox {
    width: 100%;
    @include lgness-radius('default');
    border: rem($border1) solid $light-gray3;
    background-color: $white;
    margin-top: rem($margin24px);
    @include screen(web) {
      margin-top: rem($margin52px);
    }
    .c-text-contents {
      border-bottom: rem($border1) solid $grayd;
      border-radius: rem($radius8);
      background-color: $ivory6;
      padding: rem($padding11px) 0;
      text-align: center;
    }
  }
  &__radio {
    padding: rem($padding18px) rem($padding16px);
    @include screen(web) {
      padding: rem($padding20px);
    }
    &-miximum {
      margin-top: rem($margin2px);
      padding-left: rem($padding28px);
      font-size: rem(14px);
      line-height: rem(16px);
    }
  }
  &__radio-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & + .Buy-calendar__radio-item {
      margin-top: rem($margin16px);
    }
    &--disabled {
      .c-radio-item .label {
        color: $mid-gray1;
        &::before {
          border-color: $mid-gray1;
          background-color: $ivory6;
        }
      }
      span {
        color: $mid-gray1;
      }
    }
  }
  &__button {
    margin-top: rem($margin24px);
    .cmp-button {
      width: 100%;
    }
  }
}
