@use '../abstract/' as *;

@mixin category-select-list {
  .c-category-select-list {
    display: flex;
    justify-content: center;
    margin: 0 rem(-$block-margin-m);
    max-width: rem($design-grid-full);
    @include screen(web) {
      margin: rem($margin40px) auto 0;
    }
    .carousel {
      width: 100%;
    }
    .c-carousel {
      @include screen(mobile) {
        @include inset-padding-hz;
      }
    }
    .c-carousel {
      &:not(.swiper-initialized) {
        .swiper-wrapper {
          justify-content: center;
          align-items: center;
          gap: rem($margin24px);
          .swiper-slide {
            flex: 0 1 rem($max-width342px);
          }
        }
      }
    }
    .c-carousel__item {
      height: auto;
    }
    &__item {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
      padding: rem($padding30px $padding20px);
      // border: rem($border1) solid $graye;
      // border-radius: rem($radius8);
      @include lgness-radius('default');
      gap: rem($padding10px);
      outline-offset: rem(-$offset2px);
      text-align: center;
      appearance: none;
      background: $white;
      @include screen(web) {
        padding: rem($padding40px $padding40px);
        gap: rem($padding12px);
      }
      .c-image {
        width: rem($width40px);
        margin: 0 auto;
        @include screen(web) {
          width: rem($width64px);
        }
      }
      &--top {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: rem($margin12px);
        @include screen(web) {
          gap: rem($margin24px);
        }
      }
    }
  }
}
