@use '../abstract/' as *;

@mixin category-filter {
  .c-category-filter {
    background: $white;
    .c-wrapper.bg-white & {
      border: rem($border1) solid $mid-gray1;
    }
    body.dark-theme .c-wrapper.bg-darkgray &,
    body.dark-theme .c-wrapper.bg-black & {
      border: rem($border1) solid $dark-gray2;
      background-color: $black;
    }
    @include lgness-radius('default');
    &__inner {
      display: flex;
      flex-direction: column;
      padding: rem($padding20px $padding16px);
      @include screen(web) {
        padding: rem($padding24px);
        // padding-left: min(rem($padding80px), calc(100% * $padding80px / $design-grid-full));
        // padding-right: min(rem($padding80px), calc(100% * $padding80px / $design-grid-full));
      }
    }

    &__head {
      color: $gray3;
      margin-bottom: rem($margin8px);
    }

    &__body {
      display: flex;
      flex-direction: column;
      gap: rem($margin12px);
      @include screen(web) {
        position: relative;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: rem($margin24px);
      }
      &.vertical-bottom {
        @include screen(web) {
          align-items: flex-end;
          &.show-error {
            padding-bottom: rem($padding28px);
          }
          .c-warning {
            position: absolute;
          }
        }
      }
      .c-cta {
        display: flex;
        // margin-top: rem($margin12px);
        // justify-content: center;
        @include screen(web) {
          margin: 0;
        }
        @include screen(mobile) {
          &.full {
            .c-button {
              width: 100%;
            }
          }
        }
      }
      // .c-form__item {
      //     @include screen(web) {
      //         + .c-cta {
      //             margin-left: rem($margin2px);
      //         }
      //     }
      // }
    }
  }
}
