/* stylelint-disable no-descending-specificity */
@use '../abstract/' as *;
@use 'sass:list';

@mixin common-static {
  // meadia web px value
  $web: 768px;
  .common-static {
    margin: 24px 0 40px;
    @media (min-width: calc($web + 1px)) {
      margin: 40px 0 100px;
    }
  }

  .common-static-container {
    padding: 0 16px;
    margin: 30px auto 0;

    @media (min-width: calc($web + 1px)) {
      max-width: calc(952px + 24px * 2);
      padding: 14px 24px;
      margin: 40px auto 0;
    }

    strong {
      font-weight: 600;
    }

    // Changed to apply only to children of common-static-container
    .c-table {
      margin: 16px 0;
      @media (min-width: calc($web + 1px)) {
        margin: 20px 0;
      }
      table {
        @media (min-width: calc($web + 1px)) {
          table-layout: fixed;
          width: 100%;
          word-wrap: break-word;
          border: none;
        }
      }
      thead {
        th {
          background: #e6e1d6;
          text-align: center;
          display: table-cell;
          height: 68px;
        }
      }
      td {
        color: $dark-gray1;
        line-height: 22px;
        padding: 14px 20px;
        border-width: 1px 0;
        border-style: solid;
        border-color: #cbc8c2;
        @media (min-width: calc($web + 1px)) {
          padding: 14px 24px;
        }

        p {
          margin-top: 10px;
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }

    // for static tab (like ST0054)
    .c-tabs {
      border-bottom: 1px solid $mid-gray1;
      &__inner {
        @include screen(custom, rem($tablet-pro-p), max) {
          display: block;
        }
      }
      &__item {
        border-top: 0;
        border-right: 0;
        border-left: 0;
        background: initial;
        font-size: 20px;
        font-weight: 400;
      }
      &__tablist {
        margin-right: -16px;
        margin-left: -16px;
        @media (min-width: calc($web + 1px)) {
          gap: 0;
          margin-right: 0;
          margin-left: 0;
        }
      }
    }

    // common style
    .cmp-tabs {
      &__tab {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        line-height: 16px;
        font-weight: 400;
        border-width: 2px;
        white-space: nowrap;
        @media (min-width: calc($web + 1px)) {
          width: 250px;
          height: 84px;
          line-height: 22px;
          padding: 0 10px;
          border-width: 4px;
          white-space: wrap;
          text-align: center;
        }
        &--active {
          border-color: $active-red;
        }
      }
    }

    // for core tabs style (privacy policy page)
    .tabs .cmp-tabs {
      .cmp-tabs__inner {
        border-bottom: 1px solid $mid-gray1;
        margin-bottom: rem(30px);
        @media (min-width: calc($web + 1px)) {
          margin-bottom: rem(40px);
        }
      }
      &__tablist {
        margin-right: rem(-16px);
        margin-left: rem(-16px);
        padding: rem(0 16px 10px);
        @media (min-width: calc($web + 1px)) {
          gap: 0;
          margin-right: 0;
          margin-left: 0;
          justify-content: center;
        }
      }
      &__tab {
        border-width: 0;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        background: initial;
        font-size: rem(20px);
        font-weight: 400;
        padding: rem(0 16px 8px);
        color: $black;
        @media (min-width: calc($web + 1px)) {
          padding: rem(0 10px 8px);
        }
        &--active {
          &:after {
            bottom: 0;
            height: rem(2px);
            @media (min-width: calc($web + 1px)) {
              height: rem(4px);
            }
          }
        }
      }
    }

    .tab-content {
      margin-top: rem(30px);
      @media (min-width: calc($web + 1px)) {
        margin-top: rem(40px);
      }
    }

    .color-gray6 {
      color: #666;
    }

    .dot-start {
      margin-top: 16px;
      @media (min-width: calc($web + 1px)) {
        margin-top: 20px;
      }
    }

    .is-hidden {
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      & + * {
        margin-top: 0;
      }
    }

    .mt-0 {
      margin-top: 0;
    }
    .w-mt-40 {
      @media (min-width: calc($web + 1px)) {
        margin-top: 40px;
      }
    }

    .underline {
      text-decoration: underline;
    }

    .text-red {
      color: $active-red;
    }
  }

  .common-static-text {
    font-size: 16px;
    line-height: 22px;
    color: $dark-gray1;
    margin-top: 16px;

    @media (min-width: calc($web + 1px)) {
      margin-top: 20px;
    }

    button {
      padding: 0;
      border: initial;
      background: initial;
      cursor: pointer;
    }
  }

  .common-static-dot {
    padding: {
      right: 0 #{'/*!rtl:10px*/'};
      left: 10px #{'/*!rtl:0*/'};
    }
    margin-top: 8px;
    @media (min-width: calc($web + 1px)) {
      padding: {
        right: 0 #{'/*!rtl:20px*/'};
        left: 20px #{'/*!rtl:0*/'};
      }
      margin-top: 12px;
    }
  }

  .common-static-hyphen {
    padding: {
      right: 0 #{'/*!rtl:20px*/'};
      left: 20px #{'/*!rtl:0*/'};
    }
    margin-top: 6px;
    @media (min-width: calc($web + 1px)) {
      padding: {
        right: 0 #{'/*!rtl:40px*/'};
        left: 40px #{'/*!rtl:0*/'};
      }
      margin-top: 12px;
    }
  }

  .common-static-list {
    list-style: none;
    padding: 0;
    &:not(.nested) {
      margin-top: 16px;
      @media (min-width: calc($web + 1px)) {
        margin-top: 20px;
      }
    }

    &-item {
      // Number Array
      $number: a, b, c, d, e, f, g, h, i, j, k, l, n, m, o, p, q, r, s, t, u, v, w, x, y, z;
      font-size: 16px;
      line-height: 22px;
      color: $dark-gray1;
      @media (min-width: calc($web + 1px)) {
        font-size: 14px;
        line-height: 20px;
      }

      .common-static-list:not(.nested) > & {
        @for $i from 1 through length($number) {
          $value: list.nth($number, $i);
          &:nth-child(#{$i})::before {
            display: inline-block;
            content: '#{$i}.';
            margin: {
              right: 4px;
              left: 0;
            }
          }
        }
      }

      .common-static-list.nested > & {
        @for $i from 1 through length($number) {
          $value: list.nth($number, $i);
          &:nth-child(#{$i})::before {
            display: inline-block;
            content: '(#{$value})';
            margin: {
              right: 4px #{'/*!rtl:0*/'};
              left: 0 #{'/*!rtl:4px*/'}; /*! RTL last keep colon */
            }
          }
        }
      }
    }
  }

  [class^='common-static-table'] {
    /* stylelint-disable-next-line shorthand-property-no-redundant-values */
    margin: 16px 0 16px;
    overflow: auto;
    @media (min-width: calc($web + 1px)) {
      margin: 20px 0 40px;
    }

    table {
      @media (min-width: calc($web + 1px)) {
        table-layout: fixed;
        width: 100%;
        word-wrap: break-word;
        border: none;
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          margin-top: 10px;
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
    thead {
      th {
        background: #e6e1d6;
        text-align: center;
        display: table-cell;
        height: 68px;
      }
    }
    td {
      color: $dark-gray1;
      line-height: 22px;
      padding: 14px 20px;
      border-width: 1px 0;
      border-style: solid;
      border-color: #cbc8c2;
      @media (min-width: calc($web + 1px)) {
        padding: 14px 24px;
      }

      p {
        margin-top: 10px;
        &:first-child {
          margin-top: 0;
        }
      }
    }

    &[class$='-t1'] {
      margin-top: 52px;
      @media (min-width: calc($web + 1px)) {
        margin-top: 40px;
      }

      tr {
        &:first-of-type td {
          color: #000;
          font-weight: 400;
          strong {
            font-weight: 400;
          }
          @media (min-width: calc($web + 1px)) {
            text-align: center;
          }
        }
        &:nth-child(2) {
          td {
            color: #333;
            background: transparent;
            text-align: center;
            display: table-cell;
          }
        }
      }
    }
  }

  [class^='common-static-title'] {
    color: #000;
    font-weight: 400;
    &[class$='2'] {
      font-size: 24px;
      line-height: 28px;
      & + p {
        margin-top: 30px;
      }

      @media (min-width: calc($web + 1px)) {
        font-size: 32px;
        line-height: 36px;

        & + p {
          margin-top: 40px;
        }
      }
    }
    &[class$='3'] {
      font-size: 20px;
      line-height: 24px;
      margin-top: 40px;
      .legal & {
        margin-top: 30px;
      }
      .lge-terms & {
        margin-top: 30px;
      }
      @media (min-width: calc($web + 1px)) {
        font-size: 24px;
        line-height: 28px;
        margin-top: 60px;
        .lge-terms & {
          margin-top: 40px;
        }
      }
    }
    &[class$='4'] {
      font-size: 18px;
      line-height: 22px;
      margin-top: 30px;

      @media (min-width: calc($web + 1px)) {
        margin-top: 40px;
      }
    }
  }

  .common-static-region-header {
    width: 100%;
    margin: 0 auto;
    padding: 0 rem($padding16px);
    height: auto;
    @media (min-width: calc($web + 1px)) {
      max-width: calc(952px + 24px * 2);
      padding: 0 rem($padding24px);
    }
  }

  .emppolicy.has-padding {
    p {
      margin-top: 20px;
    }

    table p {
      margin-top: 0;
    }
  }
}
// 개발요청사항 230525
.tab-margin {
  margin-top: 40px;
  margin-bottom: 64px;
}