@use '../abstract/' as *;

.cookie-permit-msg {
  font-style: normal;
  font-weight: 400;
  width: 100%;
  padding: rem(20px);
  margin: 0;
  text-align: center;
  white-space: normal;

  .info-icon {
    width: rem(70px);
    height: rem(70px);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url($icon-no-result-60-60);
    margin: auto;
  }

  .info-text a {
    font-weight: 600;
    color: $active-red;
    text-decoration: underline;
    cursor: pointer;
  }
}

// onetrust short tooltip
.cookie-onetrust {
  display: none;
  position: relative;
  z-index: 2;
  background: $graye;
  color: $black;
  width: auto;
  padding: 0;

  @include screen(custom, rem(1325px), max) {
    border-bottom: 1px solid $graycb;
  }

  &.active {
    display: block;
  }

  [dir='rtl'] & {
    text-align: right;
  }

  .default {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    font-size: 0;

    button {
      background: $light-gray3;
      color: black;
      padding: 2px 23px 3px 25px;
      border: 0;
      font-size: 13px;
      line-height: 1.3;
      border-radius: 0 0 5px 5px;
      overflow: hidden;
      cursor: pointer;
    }

    @include screen(custom, rem(1325px), max) {
      position: static;
      transform: none;
      width: 100%;

      button {
        border-radius: 0;
        width: 100%;
        padding: 10px 24px 9px;
      }
    }
  }

  &.has-full {
    @include screen(custom, rem(1325px), min) {
      height: auto;
    }

    .default {
      @include screen(custom, rem(1326px), min) {
        position: static;
        transform: none;
        width: 100%;

        button {
          border-radius: 0;
          width: 100%;
          padding: 10px 24px 9px;
        }
      }
    }
  }
}
