@use '../abstract/' as *;

@mixin cs-select-model {
  .c-upload-box {
    @include container($design-grid-full, true);

    @include screen(web) {
      display: flex;
      gap: rem(24px);
    }
  }

  .c-barcode-box {
    padding: rem($padding20px $padding13px);
    margin: rem($margin25px $margin12px);
    border-radius: rem($radius20);
    background: $light-gray3;

    > .button {
      margin-top: rem($margin20px);
      margin-left: 0;
    }

    .cmp-image {
      // max-width: rem(150px);
      margin: 0 auto;
      margin-bottom: rem($margin24px);
      text-align: center;

      &__image {
        max-width: fit-content;
        // width: 100%;
        // height: 100%;
        // object-fit: cover;
      }

      @include screen(web) {
        // width: rem(200px);
        margin: 0 rem($margin40px) 0 0;
      }
    }

    &__inner {
      .c-btn-group {
        .button {
          .c-button {
            margin-bottom: rem($margin8px);
            width: 100%;
            text-decoration: none;

            @include screen(web) {
              width: auto;
            }
          }
        }
      }

      p {
        // display: none;
      }
    }

    @include screen(web) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
      flex: 1 1 40%;
      padding: rem($padding24px);
      margin: 0;
      border-radius: rem($radius32);

      &__inner {
        p {
          display: block;
          margin-bottom: rem($margin4px);
          color: $mid-gray3;
        }

        span {
          // color: $gray3;
        }

        .c-btn-group {
          margin-top: rem($margin18px);

          .button {
            .c-button {
              margin-bottom: 0;
            }
          }
        }
      }

      .cmp-image {
        margin-right: 0;
      }
    }
  }

  // c-selected-model
  .c-selected-model {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin: rem($margin12px 0);
    padding: rem($padding16px $padding13px);
    background-color: $white;
    border-radius: rem($radius20);

    @include screen(web) {
      flex: 1 1 40%;
      margin: 0;
      padding: rem($padding24px);
      border-radius: rem($radius28);
    }

    &.hide {
      display: none;
    }

    .cmp-image {
      margin-right: rem(12px);

      @include screen(web) {
        margin-right: rem($margin24px);
      }

      &__image {
        width: rem(40px);
        max-width: none;

        @include screen(web) {
          width: rem(80px);
        }
      }
    }

    &__info-wrap {
      @include screen(web) {
        flex: 1 1 40%;

        &:last-child {
          display: flex;
          align-items: center;
          gap: rem(4px);
        }
      }

      &:first-child {
        @include screen(desktop) {
          position: relative;
          margin-right: rem($margin24px);
          padding-right: rem($padding24px);

          &:after {
            position: absolute;
            display: block;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 1px;
            height: 100%;
            background-color: $mid-gray1;
            content: none;
          }
        }
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: rem(12px);

      // @include screen(desktop) {
      //     flex-direction: row;
      //     gap: 0;
      // }
    }

    &__name {
      @include ellipsis(2);

      @include screen(web) {
        @include ellipsis(1);
        white-space: normal;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
    }
    &__code {
      margin-top: rem($margin4px);
      color: $mid-gray2;
      word-break: break-word;
    }

    &__warranty {
      margin-bottom: rem($margin4px);
      color: $mid-gray2;

      &-info {
        display: flex;
      }

      &-labor {
        position: relative;
        margin-right: rem($margin4px);
        padding-right: rem($padding4px);
        &::after {
          content: '';
          position: absolute;
          display: block;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 1px;
          height: 70%;
          background-color: $mid-gray1;
        }
      }

      @include screen(web) {
        margin-bottom: 0;

        &-info {
          // display: block;
        }

        &-labor {
          &::after {
            content: none;
          }
        }
      }
    }

    .c-btn-close {
      position: absolute;
      top: rem(10px);
      right: rem(6px);
      padding: rem($padding10px);
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
}
