@use '../abstract/' as *;

// cta is must be flex container.
// it's suitable for setting margins between buttons by resize or scaling.

@mixin cta($flow-start: flex-start) {
  .c-cta {
    display: flex;
    flex-wrap: wrap;
    @include flex-context;
    justify-content: $flow-start; /*! RTL last keep colon */

    // buttons margin : criterion is "box" type.
    gap: rem($margin10px $margin8px);
    @include screen(web) {
      row-gap: rem($margin15px);
    }
  }
}
// =- description -=
// $flow-start : be specified flex container flow. this parameter for align options.
