@use '../abstract/' as *;

@mixin floating-contents() {
  .c-floating-contents {
    position: relative;
    &__floor {
      position: relative;
    }
    &__floating {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
    }
  }
}
