@use '../abstract/' as *;

.gp-calendar {
  &:not(.base) {
    .react {
      &-datepicker {
        border: 0;
        border-radius: 0;
        .react-datepicker__month {
          background-color: inherit;
        }
      }
    }
  }
  .react {
    &-datepicker {
      font-family:
        'LG Smart UI',
        'Segoe UI',
        'Microsoft Sans Serif',
        sans-serif;
      font-size: inherit;
      color: #000;
      background-color: #f0ece4;
      position: relative;
      overflow: hidden;
      z-index: 0;
      @include screen(mobile) {
        padding-top: rem(15px);
      }
      &__header {
        text-align: center;
        background-color: inherit;
        border-bottom: 0;
        border-top-left-radius: 0;
        padding: 0;
        position: relative;
        &:not(.react-datepicker__header--has-time-select) {
          border-top-right-radius: 0;
        }
      }
      &__current-month {
        font-size: rem(24px);
        font-weight: 500;
        @include screen(mobile) {
          font-size: rem(20px);
        }
      }
      &__day-names {
        display: flex;
        justify-content: space-around;
        margin: rem(30px) 0 rem(10px);
      }
      &__day-name {
        font-size: rem(12px);
        color: $mid-gray2;
        display: inline-block;
        width: rem(30px);
        line-height: 1.1rem;
        text-align: center;
        margin: 0 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        @include screen(mobile) {
          width: rem(36px);
          margin: 0;
        }
      }
      &__month {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin: 0;
        background-color: #fff;
      }
      &__week {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
      }
      &__day,
      &__time-name {
        display: inline-block;
        width: rem(30px);
        line-height: rem(30px);
        text-align: center;
        margin: rem(10px) rem(15px);
        border-radius: 50%;
        @include screen(mobile) {
          margin: 5px;
          font-size: rem(14px);
        }
        &:hover {
          text-decoration: underline;
          background-color: inherit;
        }
        &--keyboard-selected:hover {
          background-color: inherit;
        }
      }
      &__day--today {
        position: relative;
        color: #000;
        &::before {
          content: '';
          display: block;
          width: rem(8px);
          height: rem(8px);
          border-radius: 50%;
          background-color: #287d00;
          position: absolute;
          left: 50%;
          transform: translate(-50%, -5px);
        }
        &:focus-visible {
          &::before {
            content: none;
          }
        }
      }
      &__day--selected {
        background-color: $active-red !important;
        &.react-datepicker__day--today {
          color: #fff;
          &::before {
            content: none;
          }
        }
        &:focus-visible {
          outline-color: #000;
        }
      }
      &__day--outside-month {
        color: $mid-gray1;
      }
      &__day--keyboard-selected {
        background-color: inherit;
      }
      &__day--in-range {
        background-color: $active-red;
        color: #fff;
      }
      &__navigation--previous {
        width: 32px;
        height: 32px;
        background: #fff;
        line-height: 32px;
        border-radius: 4px;
        border: 1px solid #e6e6e6;
        text-align: center;
        left: 5px;
        &:hover {
          outline: 0.125rem solid currentcolor;
          outline-offset: 1px;
        }
        @include screen(mobile) {
          top: 15px;
        }
      }
      &__navigation-icon--previous::before {
        right: -5px;
      }
      &__navigation--next {
        width: 32px;
        height: 32px;
        background: #fff;
        line-height: 32px;
        border-radius: 4px;
        border: 1px solid #e6e6e6;
        text-align: center;
        right: 5px;
        &:hover {
          outline: 0.125rem solid currentcolor;
          outline-offset: 1px;
        }
        @include screen(mobile) {
          top: 15px;
        }
      }
      &__navigation-icon--next::before {
        left: -5px;
      }
      &__navigation-icon::before {
        border-color: #000;
        border-width: 2px 2px 0 0;
        top: 13px;
      }
      .react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
        right: 90px !important;
      }
      &__day--keyboard-selected:hover,
      &__month-text--keyboard-selected:hover,
      &__quarter-text--keyboard-selected:hover,
      &__year-text--keyboard-selected:hover {
        background-color: $active-red !important;
      }
      &__day--in-selecting-range:not(
          &__day--in-range,
          &__month-text--in-range,
          &__quarter-text--in-range,
          &__year-text--in-range
        ),
      &__month-text--in-selecting-range:not(
          &__day--in-range,
          &__month-text--in-range,
          &__quarter-text--in-range,
          &__year-text--in-range
        ),
      &__quarter-text--in-selecting-range:not(
          &__day--in-range,
          &__month-text--in-range,
          &__quarter-text--in-range,
          &__year-text--in-range
        ),
      &__year-text--in-selecting-range:not(
          &__day--in-range,
          &__month-text--in-range,
          &__quarter-text--in-range,
          &__year-text--in-range
        ) {
        background-color: rgb(234 25 23 / 50%);
      }
    }
    &-datepicker__month-container {
      float: none;
      display: inline-flex;
      flex-direction: column;
      vertical-align: top;
    }
    &-react-datepicker__time-container {
      float: none;
      display: inline-flex;
      flex-direction: column;
      vertical-align: top;
    }
    &-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle {
      display: none;
    }
    &-datepicker__time-container {
      .react-datepicker-time__header {
        padding: 7px 0;
      }
      .react-datepicker__time .react-datepicker__time-box {
        ul.react-datepicker__time-list {
          li {
            &.react-datepicker__time-list-item {
              height: 32px;
              &:hover {
                cursor: pointer;
                background-color: #f0f0f0;
              }
            }
            &.react-datepicker__time-list-item--selected {
              background-color: #ea1917 !important;
              color: #fff;
              font-weight: bold;
              &:hover {
                background-color: #ea1917 !important;
              }
            }
            &:focus-visible {
              outline-offset: -3px;
            }
          }
        }
      }
    }
    &-datepicker-popper[data-placement^='bottom'] {
      padding-top: 2px;
    }
  }
}

// modal popup date
.c-pop-date {
  .react-datepicker {
    width: 100%;
    &__month-container {
      width: 100%;
    }
  }
}
