@use '../abstract/' as *;
@mixin link-banner {
  .link-banner {
    @include screen(mobile) {
      .font-m-light-20 {
        font-size: rem(20px);
        line-height: rem(24px);
        font-weight: 300;
      }
    }
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: rem(16px);
    padding: rem($padding24px $block-margin-m);
    @include screen(web) {
      gap: rem(24px);
      padding: rem($padding48px $block-margin-w);
    }
    .align-text-mo {
      flex: 1;
    }
    .cmp-button {
      flex: 1;
      @include screen(web) {
        flex: 0 0 auto;
      }
    }
    &__desc {
      margin-top: rem($margin6px);
      margin-top: rem($margin8px);
      color: $gray3;

      &.ref {
        margin-top: rem(8px);
        color: $mid-gray3;
        @include screen(web) {
          margin-top: rem(16px);
        }
      }
    }
    &__desc--list {
      margin-bottom: 0;
      padding-left: 0;
      line-height: rem(18px);
      @include screen(web) {
        line-height: rem(28px);
      }
      li {
        position: relative;
        margin-bottom: rem(8px);
        padding-left: rem(11px);
        list-style: none;
        &:last-child {
          margin-bottom: 0;
        }
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: rem(7px);
          width: rem(3px);
          height: rem(3px);
          border-radius: 50%;
          background-color: $mid-gray3;
          @include screen(web) {
            top: rem(13px);
          }
        }
      }
    }
    &--bg-white {
      background: $white;
    }
    &--bg-transparent {
      background: transparent;
    }
    &--type-large {
      padding-top: rem($padding20px);
      padding-bottom: rem($padding20px);
      @include screen(web) {
        padding-top: rem($padding64px);
        padding-bottom: rem($padding64px);
      }
    }
    &--type-medium {
      padding: rem($padding30px) rem($padding25px);
      @include screen(web) {
        padding: rem($padding24px) 0;
      }
      &__desc {
        margin-top: rem($margin4px);
        @include screen(web) {
          margin-top: rem($margin8px);
        }
      }
    }
    &--type-small {
      padding: rem($padding20px);
      @include screen(web) {
        padding: rem($padding24px) 0;
      }
      &__desc {
        margin-top: rem($margin4px);
        @include screen(web) {
          margin-top: rem($margin8px);
        }
      }
      .c-cta {
        margin-top: rem($margin10px);
      }
    }
    &--type-noPadding {
      padding: 0;
    }
    &--type-padding-tb {
      padding: rem($padding24px 0);
      @include screen(web) {
        padding: rem($padding48px 0);
      }
    }
    &--border {
      border: rem($border1) solid $graye6;
    }
    &--arrowButton {
      gap: rem(10px);
      @include screen(web) {
        gap: rem(20px);
      }
    }
    &__btn-arrow {
      display: inline-block;
      width: rem(44px);
      height: rem(44px);
      border-radius: 50%;
      border: rem($border1) solid $graycb;
      background: rgb(255 255 255 / 30%) url($icon-mylg-arrow-right-16-16) no-repeat 50%;
      background-size: rem(16px) rem(16px);

      @include screen(web) {
        width: rem(64px);
        height: rem(64px);
        background-size: rem(24px) rem(24px);
        transform: rotate(0) #{'/*!rtl:rotate(#{$degree180})*/'}; /*! 230601 RTL */
      }
    }
  }
  .bg-lightgray {
    & > .link-banner {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .my-link-content {
    padding-top: rem($padding100px);
    padding-bottom: rem($padding100px);
    background-color: $ivory6;
    @include screen(mobile) {
      padding: rem($padding40px) rem($padding25px);
    }
    &__desc {
      margin-top: rem($margin8px);
      @include screen(web) {
        margin-top: rem($margin10px);
      }
    }
    .button {
      display: flex;
      justify-content: center;
      margin-top: rem($margin20px);
      gap: rem(($margin10px, $margin6px));
      @include screen(web) {
        margin-top: rem($margin24px);
        gap: rem(($margin10px, $margin8px));
      }
    }
  }
}
