@use '../abstract/' as *;

@mixin no-data {
  $block: '.c-no-data';
  $wrapper: '.c-no-data-wrap';

  .c-no-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;

    $icon: '&:before';

    #{$icon} {
      content: '';
      display: block;
      margin-bottom: rem($margin20px);
      width: rem($width60px);
      height: rem($height60px);
      background-size: cover;
      background-repeat: no-repeat;
      // background-image: url($icon-empty-gray-60-60);
      background-image: url($icon-no-response-mid-gray2-60-60);
    }

    .bg-darkgray &,
    .bg-black & {
      color: $black;
    }
    body.dark-theme .c-wrapper.bg-darkgray &,
    body.dark-theme .c-wrapper.bg-black & {
      color: $white;
      #{$icon} {
        background-image: url($icon-no-response-white-60-60);
      }
    }

    // integrated in design of LGness
    // modifier
    // &--no-response {
    //     #{$icon} {
    //         background-image: url($icon-no-response-mid-gray2-60-60);
    //     }
    // }
  }

  // wrap
  .c-no-data-wrap {
    body.dark-theme .c-wrapper.bg-darkgray &,
    body.dark-theme .c-wrapper.bg-black & {
      background-color: $mid-gray3;
    }
    // modifier
    &--standard {
      display: flex;
      min-height: rem($min-height250px);
      padding-top: rem($padding40px);
      padding-bottom: rem($padding40px);
      background-color: $white;
      @include lgness-radius('default');
      @include screen(web) {
        min-height: rem($min-height400px);
        padding-top: rem($padding80px);
        padding-bottom: rem($padding80px);
      }
      .c-wrapper.bg-white & {
        border: rem($border1) solid $mid-gray1;
      }
      // block
      #{$block} {
        margin: auto;
      }
    }
  }

  // case : use on map
  // find dealer, brand shop, where to buy...
  .c-online-shop,
  .c-map-search {
    #{$block} {
      width: 100%;
      &__desc {
        margin-top: rem($margin4px);
        color: $mid-gray2;
        @include screen(web) {
          margin-top: rem($margin2px);
        }
        body.dark-theme .c-wrapper.bg-darkgray &,
        body.dark-theme .c-wrapper.bg-black & {
          color: $white;
        }
      }
      @include screen(mobile) {
        min-height: rem($min-height250px);
      }
    }
    // #{$wrapper} {
    //     width: 100%;
    //     height: rem($height250px);
    //     @include screen(web) {
    //         height: rem($height400px);
    //         margin-top: rem($margin120px);
    //     }
    // }
  }
  .c-map-search__body {
    #{$block} {
      padding: rem($padding50px $padding30px);
      @include screen(web) {
        padding: rem($padding32px $padding40px);
      }
    }
    #{$wrapper} {
      &.small {
        flex: 1;
        height: 100%;
        // height: auto;
        // @include screen(web) {
        //     height: auto;
        // }
        // .c-no-data {
        //     padding: rem($padding48px $padding50px);
        //     @include screen(web) {
        //         padding: rem($padding31px $padding39px);
        //     }
        // }
      }
    }
  }
}
