@use '../abstract/' as *;

@mixin pagination {
  .c-pagination {
    display: flex;
    justify-content: center;
    // gap: rem($margin6px);
    gap: rem($margin16px);
    @include screen(web) {
      gap: rem($margin30px);
    }
    &__list {
      @include reset-list-style;
      display: flex;
      gap: rem($margin8px);
      margin: 0 rem($margin12px);
    }
    &__link,
    &__action {
      display: block;
      width: rem($icon32px);
      height: rem($icon32px);
      padding: rem($padding8px) 0;
      text-align: center;
      border-radius: rem($radius4);
    }
    &__link {
      font-size: rem(14px);
      line-height: rem(14px);
      color: $gray3;
      &--active {
        color: $white;
        background-color: $active-red;
      }
    }
    &__action {
      cursor: pointer;
      border: none;
      background: transparent;
      // background: $white;
      &:after {
        content: '';
        display: block;
        margin: 0 auto;
        background : {
          image: url($icon-arrow-black-right-7-12);
          position: center center;
          size: 100% auto;
          repeat: no-repeat;
        }
        width: rem($icon7px);
        height: rem($icon12px);
        transform: none #{'/*!rtl:rotate(#{$degree180})*/'}; /*! RTL last keep colon */
      }
      &:disabled {
        cursor: default;
        &:after {
          background-image: url($icon-arrow-mid-gray1-right-7-12);
        }
      }
      // direction
      &--prev {
        &:after {
          transform: rotate($degree180) #{'/*!rtl:none*/'}; /*! RTL last keep colon */
        }
      }
      &--first,
      &--last {
        &:after {
          width: rem($icon12px);
          height: rem($icon11px);
          background-image: url($icon-double-arrow-gray3-right-12-11);
        }
      }
      &--first {
        &:after {
          transform: rotate($degree180);
        }
      }
    }

    &__fraction {
      // margin: 0 rem($margin10px);
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: rem($margin5px);
      line-height: 1;
      font-size: rem(14px);
      color: $gray3;
      @include screen(web) {
        font-size: rem(16px);
        line-height: rem(22px);
      }
    }
  }
  .c-page {
    display: flex;
    justify-content: center;
    // gap: rem($margin6px);
    gap: rem($margin16px);
    // @include screen(web) {
    //     gap: rem($margin30px);
    // }
    &__list {
      @include reset-list-style;
      display: flex;
      // gap: rem($margin8px);
      gap: rem($margin5px);
      // @include screen(web) {
      //     margin: 0 rem($margin12px);
      // }
    }
    &__link,
    &__action {
      display: block;
      width: rem($icon36px);
      height: rem($icon36px);
      padding: rem($padding8px) 0;
      text-align: center;
      border-radius: $radius-full;
      cursor: pointer;
    }
    &__link {
      font-size: rem(16px);
      line-height: 1;
      color: $gray3;
      border: rem($border1) solid $light-gray3;
      background-color: transparent;
      &--active {
        border-color: $active-red;
        background: transparent;
        border-width: rem(1.5px);
        background-color: rgba($white, 0.5);
      }
    }
    &__action {
      border: rem($border1) solid $mid-gray1;
      background-color: rgba($white, 0.3);
      // background: transparent;
      // background: $white;
      &:after {
        content: '';
        display: block;
        margin: 0 auto;
        background : {
          image: url($icon-arrow-gray3-right-18-18);
          position: center center;
          size: 100% auto;
          repeat: no-repeat;
        }
        width: rem($icon18px);
        height: rem($icon18px);
        transform: none #{'/*!rtl:rotate(#{$degree180})*/'}; /*! RTL last keep colon */
      }
      &:disabled {
        cursor: default;
        &:after {
          opacity: 0.3;
        }
      }
      // direction
      &--prev {
        &:after {
          transform: rotate($degree180) #{'/*!rtl:none*/'}; /*! RTL last keep colon */
        }
      }
      &--first,
      &--last {
        &:after {
          width: rem($icon12px);
          height: rem($icon11px);
          background-image: url($icon-double-arrow-gray3-right-12-11);
        }
      }
      &--first {
        &:after {
          transform: rotate($degree180);
        }
      }
    }

    &__fraction {
      // margin: 0 rem($margin10px);
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: rem($margin5px);
      line-height: 1;
      font-size: rem(14px);
      @include screen(web) {
        font-size: rem(16px);
        line-height: rem(22px);
      }
    }
  }

  .c-wrapper.bg-black,
  .c-wrapper.bg-darkgray {
    .c-pagination {
      &__link {
        color: $white;
        &--active {
          color: $white;
          background-color: $active-red;
        }
      }
      &__action {
        border: none;
        background: transparent;
        &:after {
          background : {
            image: url($icon-arrow-white-right-7-12);
          }
        }
        &:disabled {
          &:after {
            background-image: url($icon-arrow-mid-gray1-right-7-12);
          }
        }
        &--first,
        &--last {
          &:after {
            background-image: url($icon-double-arrow-gray3-right-12-11);
          }
        }
      }

      &__fraction {
        color: $gray3;
      }
    }
    .c-page {
      &__link {
        color: $white;
        border: rem($border1) solid $mid-gray2;
        background-color: rgb(74 73 70 / 99%);
        &--active {
          border-color: $white;
          background-color: rgb(74 73 70 / 99%);
        }
      }
      &__action {
        border: rem($border1) solid $mid-gray1;
        background-color: rgb(74 73 70 / 99%);
        &:after {
          background : {
            image: url($icon-arrow-white-right-16-16);
          }
        }
        &:disabled {
          &:after {
            opacity: 0.5;
          }
        }
      }
    }
  }
}
