@use '../abstract/' as *;

// "You can pay with icons" styles for PBP (PD0003) & Cart (CT000A) page.
@mixin pay-icons {
  .buy-summary-area {
    .c-product-card-info {
      padding-top: 0;

      @include screen(custom, rem($tablet + 1px), min) {
        padding-top: 0;
      }
    }
  }

  .c-product-card-info {
    display: flex;
    flex-wrap: wrap;
    padding-top: rem($padding10px);
    align-items: center;
    justify-content: flex-end;
    gap: rem(8px);

    @include screen(custom, rem($tablet + 1px), min) {
      padding-top: rem($padding16px);
      column-gap: rem($margin14px);
    }

    // @include screen(custom, rem($tablet), max) {
    //   // flex-direction: column;
    //   // align-items: flex-end;
    //   gap: rem($margin14px);
    // }

    svg {
      width: 100%;
      height: rem(16px);
    }

    &__image {
      display: flex;
      gap: rem($margin8px);
      justify-content: end;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
      & > li {
        @include reset-list-style;
      }
      @include screen(custom, rem($tablet + 1px), min) {
        gap: rem($margin10px $margin16px);
      }

      .c-image {
        width: auto;
        max-height: rem($height16px);
        display: flex;
        align-items: center;

        @include screen(custom, rem($tablet + 1px), min) {
          height: rem($height20px);
        }

        * {
          width: auto;
          // height: 100%;
          max-height: rem(16px);
          display: flex;
          align-items: center;
        }

        // .cmp-image {
        //     height: initial;
        // }
        img {
          vertical-align: initial;
          align-self: flex-start;
        }
      }
    }

    &__text {
      white-space: nowrap;
    }
    // &.text {
    //     .c-product-card-info__image {
    //         margin-left: auto;
    //     }
    // }
  }
}
