@use '../abstract/' as *;

@mixin resources {
  // block : c-resources
  .c-resources {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: rem($margin12px);
    @include screen(web) {
      grid-template-columns: repeat(2, 1fr);
      gap: rem($margin24px);
    }
    &__item {
      display: flex;
      flex-wrap: nowrap;
      gap: rem($margin12px);
      @include lgness-radius('inner');
      padding: rem($padding20px $padding16px);
      background-color: $white;
      border: 0;
      @include screen(web) {
        flex: 1 1 40%;
        flex-direction: row;
        align-items: center;
        gap: rem($margin12px);
        padding: rem($padding24px $padding32px);
      }
      &--download {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        gap: rem($margin12px $margin20px);
        @include screen(web) {
          flex-wrap: nowrap;
          gap: rem($margin12px);
        }
        &-info {
          width: 100%;
          font-weight: $font-regular;
          &-name {
            @include ellipsis(2);
            display: flex;
            align-items: center;
            gap: rem($margin20px);
            color: $gray3;
            @include screen(web) {
              gap: rem($margin12px);
            }
            @at-root .c-resources a,
              button {
              &.c-resources__item--download-info-name {
                color: $gray3;
                cursor: pointer;
                text-decoration: underline;
                text-underline-offset: rem($offset2px);
              }
            }
            span {
              word-break: break-all;
              flex: 1;
            }
          }
          &-ref {
            width: 100%;
            @include screen(web) {
              width: auto;
            }
            button {
              cursor: pointer;
              padding: 0;
              background: none;
              border: none;
              color: $mid-gray2;
            }
          }
          &-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: rem($margin10px $margin12px + 1);
            color: $mid-gray2;
            margin-top: rem($margin8px);
            @include screen(web) {
              gap: rem($margin16px + 1);
            }
            > div {
              position: relative;
              &:last-of-type {
                &::before {
                  content: '';
                  position: absolute;
                  width: rem($width1px);
                  height: rem($height14px);
                  left: rem(-$margin5px);
                  top: rem($margin5px);
                  background: $graye6;
                }
              }
              @include screen(web) {
                &:last-child {
                  &::before {
                    display: none;
                  }
                }
                &:not(:last-of-type) {
                  &::after {
                    content: '';
                    position: absolute;
                    width: rem($width1px);
                    height: rem($height14px);
                    right: rem(-$margin8px);
                    top: rem($margin5px);
                    background: $light-gray3;
                  }
                }
              }
            }
          }
        }
        &-button {
          // .c-button {
          //     text-transform: capitalize;
          //     @include screen(web) {
          //         text-transform: uppercase;
          //     }
          // }
          &--icon {
            max-width: rem($width20px);
            max-height: rem($height20px);
          }
        }
      }

      &--extension {
        display: block;
        width: rem($icon20px);
        height: rem($icon20px);
        background: transparent;
        border: 0;
        appearance: none;
        margin-top: rem($margin3px);
        @include screen(web) {
          margin-top: 0;
        }
        &-txt {
          background: url($icon-extension-txt) no-repeat 50% 50%;
          background-size: rem($icon16px) auto;
        }
        &-pdf {
          background: url($icon-extension-pdf) no-repeat 50% 50%;
          background-size: rem($icon16px) auto;
        }
        &-etc {
          background: url($icon-extension-etc) no-repeat 50% 50%;
          background-size: rem($icon16px) auto;
        }
        &-pdf {
          background: url($icon-extension-pdf) no-repeat 50% 50%;
          background-size: rem($icon16px) auto;
        }
        &-djvu {
          background: url($icon-extension-djvu) no-repeat 50% 50%;
          background-size: rem($icon16px) auto;
        }
        &-zip {
          background: url($icon-extension-zip) no-repeat 50% 50%;
          background-size: rem($icon16px) auto;
        }
        &-html {
          background: url($icon-extension-html) no-repeat 50% 50%;
          background-size: rem($icon16px) auto;
        }
        &-dwg {
          background: url($icon-extension-dwg) no-repeat 50% 50%;
          background-size: rem($icon16px) auto;
        }
        // -----
        // 1. src/assets/icon/icon-extension-jpg.svg
        // The file exists in the master branch of the HTML repo,
        // but has not been updated on the development server.
        // If you need to use the CSS below, the corresponding file must also be uploaded.
        // -----
        // 2. src/scss/abstract/_icon.scss
        // Additionally, you must search for $icon-extension-jpg in the file above
        // and remove the comment to change the variable to be usable.
        // -----
        // &-jpg {
        //     background: url($icon-extension-jpg) no-repeat 50% 50%;
        //     background-size: rem($icon16px) auto;
        // }
      }
    }
  }
}
