@use '../abstract/' as *;

// change native scrollbar style
// it changes only in the -webkit-browser.

@mixin scrollbar {
  body * {
    // scrollbar custom
    scrollbar-width: thin;
    // scrollbar-color: #dfdfdf #f0f0f0;
  }
  body {
    // scrollbar for Chrome and Safari
    ::-webkit-scrollbar {
      width: rem(6px);
      height: rem(6px);
      // border: 0.5rem solid transparent;
    }
    ::-webkit-scrollbar-button:start:decrement,
    ::-webkit-scrollbar-button:end:increment {
      display: block;
      width: 0;
      height: 0;
      // width: 0.8rem;
      // height: 0.8rem;
      // background: rgba(127, 127, 127, 0.2);
      // border-radius: 0.8rem;
    }
    ::-webkit-scrollbar-track {
      // border-radius: 1rem;
      // background: rgb(127 127 127 / 1%);
      background: rgba($black, 0.05);
    }
    ::-webkit-scrollbar-thumb {
      // height: 5rem;
      // width: 5rem;
      // background: rgb(127 127 127 / 20%);
      background: $mid-gray2;
      border-radius: rem(4px);
    }
  }
}
