@use '../abstract/' as *;

// # search combobox
@mixin search-combobox {
  .c-search-combobox {
    $block: '.c-search-combobox';

    // element
    &__description {
      color: $gray3;
    }
    &__description + #{$block}__indicator {
      margin-top: rem($margin15px);
      @include screen(web) {
        margin-top: rem($margin20px);
      }
    }
    &__indicator {
      display: flex;
      @include flex-context;
      justify-content: space-between;
      column-gap: rem($margin20px);
    }
    &__search-form {
      display: flex;
      flex-flow: wrap row;
      padding: rem($padding12px);
      @include screen(web) {
        padding: rem($padding16px);
      }
    }
    &__search-field {
      position: relative;
      flex: 1;
      input[type='text'] {
        height: rem($height44px);
        padding: rem(0 $padding16px);
        @include screen(web) {
          height: rem($height56px);
        }
      }
    }
    &__search-button {
      @include screen(web) {
        margin-top: rem(($height56px - $height44px) * 0.5);
      }
      @include screen(mobile) {
        display: flex;
        justify-content: center;
      }
    }
    &__dropdown-list {
      position: absolute;
      z-index: 2;
      // top: 100%;
      top: rem($height44px);
      left: 0;
      right: 0;
      overflow: auto;
      background-color: $white;
      max-height: rem($height44px * 5);
      margin-top: rem($margin4px);
      border-radius: rem($radius6);
      border: rem($border1) solid $graye6;
      box-shadow: rem($padding2px $padding4px $padding12px) rgba($black, 0.14);
      @include screen(web) {
        top: rem($height50px);
        max-height: rem($height46px * 5);
      }

      // variation
      $deactive: "&:not([class*='--active'])";
      #{$deactive} {
        display: none;
      }
    }
    &__dropdown-item {
      cursor: pointer;
      height: rem($height44px);
      padding: rem($padding12px $padding16px);
      background-color: $white;
      @include screen(web) {
        max-height: rem($height46px);
      }
      &:focus-visible {
        outline-offset: rem($border2 * -1);
      }
      // modifier
      &--selected {
        background-color: $grayd;
      }
    }
    &__search-return-msg {
      min-width: 100%;
      @include screen(mobile) {
        *:first-child {
          margin-top: 0;
        }
      }
    }
    // layout : margin
    &__search-form {
      column-gap: rem($margin8px);
    }
    &__indicator + #{$block}__search-form {
      margin-top: rem($margin6px);
      @include screen(web) {
        margin-top: rem($margin8px);
      }
    }
  }
}
// =- description -=
// this block similar datalist ui
