@use '../abstract/' as *;

// Apply accessibility style when page is zoomed
// text ellipsis off
body {
  &.wa-zoom {
    .PD0001 {
      .c-product-item__ufn {
        @include ellipsis-clear;
      }
      .c-text-contents__headline {
        @include ellipsis-clear;
      }
      .c-text-contents__bodycopy {
        @include ellipsis-clear;
      }
    }
    .PD0002 {
      .c-product-item__ufn {
        @include ellipsis-clear;
      }
    }
    .PD0003 {
      .c-text-contents__headline {
        @include ellipsis-clear;
      }
    }
    .PD0014 {
      .c-compare-item_name {
        @include ellipsis-clear;
      }
    }
    // 33 체크
    .PD0033 {
      .c-text-contents__headline {
        @include ellipsis-clear;
      }
      .c-product-digest-information .price-area {
        flex-shrink: inherit;
      }
    }
    .CS0033 {
      .c-featured__tit {
        .cmp-title {
          @include ellipsis-clear;
        }
      }
      .c-featured__desc {
        display: block !important;
        @include ellipsis-clear;
      }
    }
    .CS0045 {
      .c-list-link__headline {
        @include ellipsis-clear;
      }
    }
    .PD0006 {
      .c-text-contents__bodycopy {
        display: block !important;
      }
    }
    // 공통
    .c-carousel__handler .c-carousel__indicator {
      display: block !important;
    }
    .c-summary-gallery__contents .c-carousel__handler .c-carousel__indicator {
      display: flex !important;
    }
    .c-roll-selector__item-name {
      @include ellipsis-clear;
    }
    .CS0002 {
      .searchLayer {
        overflow: auto;
      }
    }
    .supporttab {
      .type-tabs__wide .c-tabs__inner .c-tabs__tablist {
        p,
        h2,
        h3,
        h4 {
          -webkit-box-orient: inherit;
          -webkit-line-clamp: inherit;
          display: -webkit-box;
          overflow: inherit;
          text-overflow: inherit;
          white-space: normal;
        }
      }
    }
  }
}

// Apply accessibility style when page is zoomed
// page scale 400% :: fixed layer off
body {
  &.wa-fixed-off {
    .can-sticky {
      &.is-fixed {
        @include fixed-off-imp(relative);
      }
    }
    .c-pop-toast {
      &.active {
        @include fixed-off-imp(relative);
      }
    }
    .cs-search-bar__search-item {
      & > a {
        flex-wrap: wrap;
        gap: rem(5px);
      }
      .cs-search-bar__tag-item {
        white-space: normal;
      }
    }
    .PD0003 {
      .c-product-price-sticky.can-sticky {
        @include fixed-off-imp(relative);
      }
      .c-product-delivery-information {
        margin-bottom: 0 !important;
      }
    }
    .PD0014 > .component > .cmp-container {
      @include fixed-off-imp(relative);
    }
    .PD0033 {
      .c-bottom-sheet {
        @include fixed-off-imp(relative);
      }
    }
    .CM0001 {
      .c-breadcrumb {
        display: block !important;
        .cmp-breadcrumb__list {
          flex-wrap: wrap;
        }
      }
    }
    .CM0007 {
      @include fixed-off-imp(relative);
      .fluid-container {
        flex-direction: column;
      }
      .al-quick-btn {
        @include fixed-off-imp(static);
      }
      .al-quick-menu {
        @include fixed-off-imp(static);
      }
      .al-quick-menu--active {
        height: auto;
      }
      .al-proactive-msg {
        @include fixed-off-imp(static);
        margin-bottom: 0;
        .al-proactive-msg__box--active {
          transform: translateY(0);
        }
      }
    }
    .CS0013 {
      .c-modal__box {
        height: 100%;
        overflow: auto;
      }
      .c-modal__content-scroll-box,
      .c-modal__content-inner {
        height: auto !important;
      }
    }
    .CS0027 {
      .c-modal__box {
        height: 100%;
        overflow: auto;
      }
      .c-modal__content-scroll-box,
      .c-modal__content-inner {
        height: auto !important;
      }
    }
    .CS0002 {
      .c-modal__box {
        height: 100%;
        overflow: auto;
      }
      .c-modal__content-scroll-box,
      .c-modal__content-inner {
        height: auto !important;
      }
    }
  }
}
