@charset "UTF-8";
@use '../../scss/abstract/' as *;
@use '../CS0000/CS0000' as *;

$component: '.CS0071';
#{$component} {
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  $tab-container: '.container';
  $c-detail-content: '.c-detail-content';
  $mobile-width: calc(100% - rem($margin25px * 2));

  &__container {
    @include flex-context;
    @include container($design-grid-full, true);
    @include inset-padding-hz(mobile);
    @include screen(web) {
      @include flex-context;
      padding: rem(0 24px);
    }

    @include screen(tablet) {
      @include inset-padding-hz;
    }

    @at-root #{$component} {
      .full #{$component}__container {
        padding: 0;

        @include screen(web) {
          min-width: initial;
          // max-width: none;
          padding: rem(0 $padding25px);
        }

        #{$cs-header} {
          // margin: rem(0 $margin25px);
          margin-bottom: rem($margin20px);

          @include screen(web) {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: rem($margin20px);
          }
        }
      }
    }
  }

  // COMMON - .c-cs-header
  #{$cs-header} {
    margin-bottom: rem($margin12px);
    @at-root #{$component} #{$cs-header} {
      #{$text-contents}__headline + #{$text-contents}__bodycopy {
        margin-top: rem($margin6px);
        @include screen(web) {
          margin-top: rem($margin10px);
        }
      }
    }
  }

  // COMMON - .c-text-contents
  #{$text-contents} {
    span {
      display: block;
      @include screen(web) {
        display: inline-block;
      }
    }
  }

  .c-repair__review {
    max-width: $design-grid-full;
  }
  // step progress
  .c-step-progress {
    display: flex;
    justify-content: flex-start;
    $c-step-progress: '.c-step-progress';
    padding-bottom: rem(48px);

    @include screen(mobile) {
      display: none;
    }

    &__list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      max-width: rem(1440px);
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &__item {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-bottom: 0;
      padding-right: rem(72px);

      &--active {
        #{$c-step-progress}__number {
          background-color: $active-red;
        }

        #{$c-step-progress}__text {
          color: $black;
        }
      }

      &--success {
        #{$c-step-progress}__number {
          text-indent: -9999px;
          background-color: $mid-gray2;

          &:before {
            content: '';
            display: block;
            width: rem(14px);
            height: rem(13px);
            background: {
              image: url($icon-check-white-14-13);
              position: center;
            }
          }
        }
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: rem(13px);
        bottom: rem(8px);
        width: rem(2px);
        height: rem(24px);
        background-color: $mid-gray1;

        @include screen(web) {
          left: auto;
          top: 0;
          bottom: 0;
          right: rem(12px);
          width: rem(48px);
          height: rem(2px);
          margin: auto;
        }
      }

      &:last-child {
        padding-bottom: 0;
        padding-right: 0;

        &:after {
          display: none;
        }
      }
    }

    &__number {
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(28px);
      height: rem(28px);
      color: $white;
      border-radius: rem($radius99);
      background-color: $mid-gray1;
    }

    &__text {
      margin-left: rem($margin8px);
      color: $mid-gray2;
    }

    &__cancel {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: rem(46px);
      border: none;
      cursor: text;
      background: none;
      &:before {
        content: '';
        position: absolute;
        left: rem(-22px);
        top: 0;
        width: rem(2px);
        height: rem(28px);
        background-color: $graycb;
      }
      .c-close__icon {
        display: inline-block;
        width: rem(28px);
        height: rem(28px);
        margin-right: rem(8px);
        border-radius: 50%;
        background: $graycb url($icon-close-white-12-12) center / rem(12px) no-repeat;
      }
      &--active {
        .c-close__icon {
          background-color: $active-red;
        }
      }
    }
  }

  // Repair Request - COMPONENT CLASS ADDED .c-regist__complete-wrap
  .c-regist__complete-wrap {
    padding-top: rem($padding20px);
    .c-prd-info {
      position: relative;
      border-radius: rem($radius20);
      background: $white;
      padding-bottom: rem($padding20px);
      @include screen(web) {
        padding: rem($padding20px);
      }

      .cmp-image {
        padding: rem($padding32px $padding13px $padding20px);
        text-align: center;
        .c-image {
          &__img {
            width: auto;
            @include screen(web) {
              width: 360px;
              max-width: none;
            }
          }
        }
      }
      &__inner {
        // padding-top: rem($padding32px);
        margin: 0 rem($margin20px);
        // border-top: 1px solid $graye;
        p {
          margin-bottom: rem($margin8px);
        }
        @include screen(web) {
          border-top: none;
          margin-bottom: 0;
          margin: 0;
          p {
            margin: rem($margin40px 0 0);
            border-bottom: 1px solid $mid-gray1;
            padding-bottom: rem($padding12px);
          }
        }
        .c-flex {
          display: flex;
          width: 100%;
          gap: rem(30px);
          dl {
            flex: 1;
          }
        }
        dl {
          text-align: left;
          margin: 0;
          border-bottom: 1px solid $light-gray2;
          display: flex;
          padding: rem($padding8px 0);
          gap: rem(8px);

          dt {
            line-height: rem(22px);
            color: $black;
            // margin-bottom: rem($margin4px);
            width: 40%;
          }
          dd {
            color: #7e7c77;
            // margin-bottom: rem($margin20px);
            font-weight: $font-regular;
            margin-bottom: 0;

            max-width: rem(156px);
            a {
              color: $active-red;
              text-decoration: underline;
            }
            .c-button-view {
              color: $black;
              font-size: rem(16px);
              text-decoration: none;
              &::after {
                width: rem($icon6px);
                height: rem($icon10px);
                background-image: url($icon-arrow-black-right-6-10);
              }
            }
          }
          &:last-child {
            //border-bottom: 1px solid $light-gray2;
            dd {
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
          &:nth-last-child(2) {
            //border-bottom: 1px solid $light-gray2;
          }
          &.c-wide {
            width: 100%;
            gap: rem(8px);
            dt {
              width: 40%;
            }
            dd {
              width: 60%;
              padding-left: 0;
              p {
                margin: 0;
                padding-bottom: 0;
                border-bottom: 0;
              }
            }
            .c-flex {
              display: block;
            }
            .c-flex + .c-flex {
              padding-top: rem($padding12px);
            }
          }
          @include screen(web) {
            gap: rem(0 32px);
            .c-button {
              height: auto;
            }
            dd {
              max-width: none;
              width: 60%;
            }
            &.c-wide {
              //width:100%;
              gap: 0;
              dt {
                width: 18.6%;
              }
              dd {
                width: 81.4%;
                padding-left: rem(32px);
                p {
                  margin: 0;
                  padding-bottom: 0;
                  border-bottom: 0;
                }
                .c-date {
                  width: 35.3%;
                }
              }
              .c-flex {
                display: flex;
              }
            }
          }
        }
      }
      &__group {
        // border-bottom: 1px solid $graye;
        // padding-bottom: rem($padding20px);
        // margin-bottom: rem($margin20px);
        border-top: 1px solid $light-gray2;
        p {
          text-align: left;
          margin-bottom: rem(20px);
        }
        & + p {
          margin-top: rem(20px);
        }
        & + .c-prd-info__group {
          border-top: none;
        }
        &:last-child {
          border-bottom: none;
          padding-bottom: 0;
        }
      }
      @include screen(desktop) {
        margin: rem($margin20px) 0;
        justify-content: center;
        align-items: flex-start;
        padding: rem($padding28px);
        margin-bottom: 0;
        border-radius: rem($radius32);
        .cmp-image {
          padding-top: 0;
          padding-bottom: 0;
        }
        &__inner {
          dl {
            width: calc(50% - rem(16px));
            padding: rem($padding10px 0);
            dd {
              &:last-child {
                margin-bottom: 0;
              }
            }
            // &.c-wide {
            //     width: 100%;
            //     dt {
            //         flex:1;
            //     }
            //     dd:nth-child(3n-1){
            //         width: calc(30% - rem(30px));
            //     }
            //     dd:nth-child(3n){
            //         width: 50%;
            //     }
            // }
          }
        }
        &__group {
          flex: 1 1 20%;
          border-bottom: none;
          padding-bottom: 0;
          margin-bottom: 0;
          display: flex;
          flex-wrap: wrap;
          margin-top: rem($margin20px);
          border-top: none;
          gap: rem(0 32px);
          &:nth-child(1),
          &:nth-child(4) {
            position: relative;
            &:before {
              content: '';
              display: block;
              position: absolute;
              left: rem(-100px);
              top: 0;
              bottom: 0;
              width: 1px;
              height: 100%;
              background: $graye;
            }
          }
          & + p {
            margin-top: rem(40px);
          }
        }
        &__group-list {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: rem(40px);
        }
        &__group-type2 {
          grid-column: 1 / 4;
        }
      }
      + .c-cta {
        margin-top:rem($margin12px);
        @include screen(web) {
          margin-top:rem($margin24px);
        }
      }
    }

    .c-btn-group {
      .button {
        justify-content: center;
        margin: 0 rem($margin25px);
        .c-button {
          width: 100%;
          padding: 0;
          @include screen(web) {
            width: auto;
            padding: 0 rem($padding32px);
          }
        }
        &.c-support-B2B {
          display: inline-block;
          margin: 0 auto rem($margin30px);
          @include screen(web) {
            display: flex;
            justify-content: end;
            margin-top: rem($margin40px);
            margin-bottom: rem($margin40px);
            .c-button {
              margin: 0;
              padding: 0;
            }
          }
        }
      }
      .button:nth-last-child(-n + 1):first-child,
      .button:nth-last-child(-n + 1):first-child ~ .button {
        margin-top: rem($margin40px);
      }
    }
  }
  // REGISTRATION COMPLETE
  .c-regist__complete,
  .c-regist__failed {
    max-width: $design-grid-full;

    #{component}__container {
      padding-left: 0;
      padding-right: 0;
    }

    .c-cs-header {
      .c-text-contents {
        @include screen(web) {
          max-width: rem(780px);
        }
      }
    }
    // block : list
    .c-list {
      background: $light-gray3;
      border-radius: rem($radius20);
      padding: rem($padding13px);
      margin-left: auto;
      margin-right: auto;
      margin-top: rem($margin12px);
      flex: 1;
      @include screen(web) {
        @include list(nowrap, $margin24px);
        padding: rem($padding24px);
        // margin-top: rem($margin60px);
      }
      &__item {
        &:not(:first-child) {
          margin-top: rem($margin40px);
          @include screen(web) {
            margin-top: 0;
          }
        }
        .c-text-contents {
          display: block;
          position: relative;
          &__headline {
            .cmp-title {
              padding-bottom: rem($padding12px);
              // text-align: center;
              font-size: rem(24px);
              line-height: rem(28px);
            }
          }
          &__bodycopy {
            border-bottom: 1px solid $mid-gray1;
            border-top: 1px solid $mid-gray1;
            // padding: rem($padding24px) rem($padding16px);
            padding: rem($padding12px 0);
            text-align: left;
            color: $black;
            p {
              display: flex;
              align-items: center;
              gap: rem(8px);
              margin-bottom: rem($margin4px);
              &.c-flex-start {
                align-items: flex-start;
              }
            }
            @include screen(web) {
              border: none;
              p {
                gap: rem(16px);
              }
              .cmp-text {
                // border: 1px solid #000;
                display: flex;
                gap: rem(40px);
                > div {
                  border-left: 1px solid $mid-gray1;
                  padding-left: rem($padding40px);
                  &:first-child {
                    border: none;
                    padding-left: 0;
                  }
                }
              }
              // margin: 0 auto;
              // max-width: rem(464px);
              // padding: rem($padding16px) rem(115px);
            }
          }
          @at-root #{$component} {
            &.align-text-right {
              .type-text {
                #{$text-contents} {
                  @include screen(web) {
                    margin-left: auto;
                  }
                }
              }
            }
          }
        }
        .c-cta {
          margin-top: rem($margin24px);
          padding: 0;
          .c-button {
            justify-content: center;
            font-size: rem(14px);
          }
          @include screen(web) {
            margin-top: 0;
            position: absolute;
            right: 0;
            top: 0;
            .c-button {
              font-size: rem(16px);
            }
          }
        }
      }
      // block : cta
      .c-cta {
        margin-top: rem($margin40px);
        display: flex;
        display: none;

        .c-button {
          width: 100%;
        }

        @include screen(web) {
          justify-content: center;

          .c-button {
            width: auto;
          }
        }
      }
    }
    // block : cta
    * + .c-cta {
      margin-top: rem($margin40px);
      display: flex;

      .c-button {
        width: 100%;
      }

      @include screen(web) {
        justify-content: center;

        .c-button {
          width: auto;
        }
      }
    }
  }
  .c-regist__complete {
    @include screen(web) {
      border-bottom: none;
    }
  }
  // FEATURED TOPICS - COMPONENT CLASS ADDED .c-featured-info
  .c-featured-info {
    .c-spec-info__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: rem(10px);
      max-width: $design-grid-full;
      margin: 0 auto;
    }
    .c-spec-info {
      display: block;
      padding: rem($margin24px 0);
      &__wrap {
        border-top: 1px solid $mid-gray1;
      }
      & > .c-text-contents {
        max-width: none;
        &__headline {
          max-width: none;
        }
      }
      &__container {
        @include flex-context;
        @include container($design-grid-full, true);
        @include inset-padding-hz(mobile);
        @include screen(tablet) {
          @include inset-padding-hz;
        }
        margin-top: rem($margin20px);
        @include screen(web) {
          @include flex-context;
          margin-top: rem($margin20px);
          padding: 0;
        }
      }
      &__item {
        padding: rem($padding13px);
        gap: rem(10px);
        background: $light-gray3;
        border-radius: rem($radius20);
        display: flex;

        &:after {
          display: none;
        }

        .c-text-contents {
          padding: 0;
          &__headline {
            order: 1;
            line-height: rem(20px);
            min-height: auto;
            strong {
              line-height: rem(24px);
              @include ellipsis(3);
              @include screen(web) {
                @include ellipsis(2);
                line-height: rem(42px);
              }
            }
          }
          &__bodycopy {
            order: inherit;
            line-height: rem(20px);
            color: $gray3;
            margin-top: rem(-4px);
          }
          &__wrap {
            display: flex;
            flex-direction: column-reverse;
            gap: rem(16px);
            justify-content: space-between;
            height: 100%;
          }
          .button.c-cta {
            display: none;
            margin-top: rem(0);
          }
          .cmp-image__image {
            width: auto;
            max-width: none;
          }
        }
      }
    }
    @include screen(web) {
      border-top: 1px solid $mid-gray1;
      .c-spec-info__container {
        padding-bottom: 0;
        gap: rem(24px);
      }
    }
  }

  > .component .c-cs-header {
    @include container($design-grid-full, true);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: rem($margin12px);
    @include screen(web) {
      align-items: center;
      flex-direction: row;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .c-detail-content {
    max-width: rem(1440px);
    margin: 0 auto;
    @include screen(web) {
      padding-top: rem($padding48px);
      padding-bottom: rem($padding48px);
      border-radius: rem($radius28);
      background: $white;
    }
    &__top {
      position: relative;
      padding: rem(64px 0 $padding20px);
      @include screen(web) {
        padding: rem(0 $padding48px);
      }
    }
    &__top-wrap {
      margin-top: rem($margin12px);
      @include screen(web) {
        display: flex;
        justify-content: space-between;
        margin-top: rem($margin22px);
      }
    }
    &__top-text {
      display: inline-block;
      position: relative;
      padding-right: rem($padding10px);
      margin-right: rem($padding10px);
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 1px;
        height: rem(14px);
        background: $graye6;
      }
    }
    &__date {
      color: $gray6;
      @include screen(web) {
        display: inline-block;
      }
    }

    &__button-wrap {
      position: absolute;
      right: 0;
      top: rem(24px);
      display: flex;
      gap: rem(24px);
      @include screen(web) {
        position: static;
        justify-content: flex-end;
        margin-top: 0;
      }
    }

    &__button {
      position: relative;
      text-indent: 0;
      width: auto;
      height: auto;
      padding-left: rem($padding20px);
      background-image: none;
      border: none;
      background-color: transparent;
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: rem(16px);
        height: rem(16px);
        background: {
          repeat: no-repeat;
          size: contain;
        }
      }
      &--print {
        display: none;
        font-weight: $font-semibold;

        &:before {
          background-image: url($icon-print-black-24-24);
        }

        @include screen(web) {
          display: block;
        }
      }
      &--share {
        &:before {
          background-image: url($icon-share-black-24-24);
        }
        font-weight: $font-semibold;
      }
      &--down {
        &:before {
          background-image: url($icon-download-black-24-24);
        }
      }
    }

    &__content {
      border-top: 1px solid $grayd;
      @include screen(web) {
        margin: rem($margin32px $margin48px 0 $margin48px);
        padding-bottom: 0;
      }
    }

    &__content-wrap {
      &:last-child {
        margin-bottom: 0;
      }
      .iframe-container {
        overflow: hidden;
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
        border-radius: rem($radius20);

        @include screen(web) {
          border-radius: rem($radius28);
        }

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    &__inner {
      margin-top: rem($margin20px);

      @include screen(web) {
        margin-top: rem($margin24px);
      }
    }

    &__text {
      &--large {
        // font-size: rem(18px);
        // @include screen(web) {
        //     font-size: rem(20px);
        // }
      }
      &--medium {
        // font-size: rem(16px);
        // @include screen(web) {
        //     font-size: rem(18px);
        // }
      }
      &--small {
        // font-size: rem(14px);
        // @include screen(web) {
        //     font-size: rem(16px);
        // }
      }
      &--bold {
        font-weight: 700;
      }
      &--bold-inline {
        font-weight: 700;
      }
      &--normal {
        margin-top: rem($margin8px);
      }
      &--underline {
        margin-top: rem($padding12px);
        padding-bottom: rem($padding12px);
        // font-size: rem(12px);
        color: $mid-gray3;
        border-bottom: 1px solid $grayd;

        @include screen(web) {
          // font-size: rem(16px);
        }
      }
      &--link {
        margin: rem($margin12px 0);
        text-decoration: underline;
        font-weight: 600;

        @include screen(web) {
          margin: rem($margin4px 0);
        }
      }
    }
    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
      padding: rem(0 $padding8px);

      li {
        margin-top: rem($margin10px);
        @include screen(web) {
          margin-top: rem($margin12px);
        }
        &:before {
          top: rem(11px);
        }
      }
    }
    .cmp-image {
      overflow: hidden;
      margin-top: rem($margin20px);
      border-radius: rem($radius20);

      @include screen(web) {
        display: block;
        margin-top: rem($margin20px);
        border-radius: rem($radius28);
      }
    }
    &__feedback {
      background: $light-gray3;
      border-radius: rem($radius20);
      border-top: none;
      margin-top: 0;
      padding: rem($padding20px);
      @include screen(web) {
        margin-left: 0;
        margin-right: 0;
        padding: rem($padding24px);
        border-radius: rem($radius28);
      }
      .button {
        flex-direction: row !important;
        border-top: none !important;
        margin-top: rem($margin12px);
        @include screen(web) {
          margin-top: rem($margin48px);
        }
      }

      .c-cs-header {
        display: block;
        margin: 0;
        &::before {
          content: '';
          display: block;
          width: rem($width60px);
          height: rem($height60px);
          margin-bottom: rem($margin12px);
          background-image: url($icon-result-60-60);
          background-repeat: no-repeat;
          background-size: cover;

          @include screen(web) {
            margin: rem($margin60px 0 $margin24px);
            width: rem($width90px);
            height: rem($height90px);
          }
        }
      }

      &.c-regist__complete {
        @include screen(web) {
          padding-top: rem($padding28px);
          padding-bottom: rem($padding75px);
        }
      }
      .cs-form {
        .cmp-form {
          > label {
            @include screen(web) {
              font-size: rem($margin24px);
            }
          }
        }
      }
    }

    .button {
      display: flex;
      flex-direction: column;
      gap: rem(10px);
      padding-top: rem($padding12px);
      @include screen(web) {
        flex-direction: row;
        padding-top: rem($padding24px);
        border-top: 1px solid $grayd;
      }
    }
  }

  .c-model-content-wrap {
    padding-bottom: rem($padding12px);
    border-bottom: 1px solid $mid-gray1;
    padding-bottom: rem($padding6px);
    .c-require {
      margin-top: rem($margin12px);
    }
    @include screen(web) {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      // border: 1px solid #000;
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: rem($margin24px);
    }
  }

  .cs-form {
    &.c-flex-type {
      @include screen(web) {
        display: flex;
        align-items: flex-end;
        gap: rem(24px);

        .cmp-form {
          width: 100%;
        }
      }
    }

    &__wrap {
      &:first-child {
        .cmp-form {
          &:first-child {
            label {
              margin-top: 0 !important;
            }
          }

          @include screen(web) {
            &:first-child,
            &:last-child {
              label {
                margin-top: 0 !important;
              }
            }
          }
        }
      }
    }

    .cmp-form {
      .fieldIcons {
        &__root {
          position: relative;
        }

        &__before {
          content: '';
          z-index: $stacking-floor;
          @include position(50%, 50%);
          left: rem($padding30px);
          transform: translate(-50%, calc(-50% + 2px));
          width: rem(18px);
          height: rem(18px);
          background-image: url($icon-search);
          background-repeat: no-repeat;
          @include screen(web) {
            left: rem($padding24px);
            right: auto;
            transform: translate(0%, -50%);
          }
        }

        input {
          @include input;
          max-width: rem(1086px);
          padding: rem($padding15px $padding17px);
          background: $light-gray3;
          @include screen(web) {
            padding: rem($padding18px $padding16px $padding18px $padding50px);
          }
        }
      }

      label {
        display: block;
        color: $gray3;
        margin-bottom: rem($margin8px);
        text-align: left;
        margin-top: rem($margin12px);
      }

      input,
      select {
        @include input;
        // margin-bottom: rem($margin20px);
        width: 100%;
        border-radius: $radius99;
        background: $white;
        border: 1px solid $mid-gray2;
      }

      textarea {
        @include input;
        // margin-bottom: rem($margin20px);
        width: 100%;
        height: rem(160px);
        border-radius: rem($radius12);
        background: $white;
        @include screen(web) {
          height: rem(200px);
          border: 1px solid $mid-gray1;
        }
      }

      .c-textarea-box {
        position: relative;

        p {
          right: rem(16px);
          bottom: rem(15px);
          color: $mid-gray2;

          @include screen(web) {
            right: rem(24px);
            bottom: rem(16px);
          }
        }
      }

      .c-radio-item {
        &:first-child {
          margin-right: rem(42px);
        }

        label {
          margin-top: 0;
          span {
            align-items: center;
          }
        }
        input[type='radio']:checked + .label::after {
          top: 50%;
          transform: translate(0, -50%);
        }
      }

      .button {
        margin-top: rem($margin8px);

        .c-button {
          width: 100%;
        }

        @include screen(web) {
          display: flex;
          justify-content: center;
          margin-top: 0;

          .c-button {
            width: auto;
          }
        }
      }
    }

    @include screen(web) {
      &__wrap {
        @include screen(web) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: rem(24px);
        }
      }

      &__inner {
        display: flex;
        gap: rem(8px);
      }

      .cmp-form {
        label {
          margin-bottom: rem($margin8px);
          margin-top: rem($margin24px);
          line-height: rem(22px);
        }

        &:nth-child(n + 3) {
          input,
          select {
            margin-bottom: 0;
          }
        }
      }

      .button {
        grid-column: 1/3;
        margin-top: rem($margin26px);
      }
    }
  }

  // REGISTRATION COMPLETE - COMPONENT CLASS ADDED .c-regist__complete
  .c-regist__complete {
    padding: rem($padding20px);

    @include screen(web) {
      padding: rem($padding24px);
    }

    .c-cs-header {
      margin-top: rem($margin24px) !important;
    }
  }
  // .c-star
  .c-rating-star {
    &__wrap {
      display: inline-flex;
      flex-direction: row-reverse;
      gap: rem(4px);

      @include screen(web) {
        gap: 0;
      }
    }
    input[type='radio'] {
      // display: none;
      appearance: none;
      border: none !important;
      background: none !important;
      width: 0 !important;
      margin-left: rem(-34px);
      height: rem(26px) !important;

      @include screen(web) {
        margin-left: rem(-47px);
        padding: rem($padding16px $padding25px);
      }
    }
    label {
      width: rem(32px);
      height: rem(32px);
      margin: 0 !important;
      color: #ccc;
      cursor: pointer;
      background-image: url($icon-star-gray-40-40);
      background-size: 100%;
      background-repeat: no-repeat;

      @include screen(web) {
        width: rem(32px);
        height: rem(32px);
      }
    }
    // label:hover,
    // label:hover ~ label,
    input[type='radio']:checked ~ label {
      background-image: url($icon-star-40-40);
      @include screen(web) {
        background-image: url($icon-star-32-32);
      }
    }
  }
  .c-modal {
    /* Delete that style on development */
    position: relative !important;
    padding: 10px;
    @include screen(web) {
      /* Delete that style on development */
      padding: 50px;
    }
  }
  .c-modal {
    $modal: '.c-modal';

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    // &--active {
    //     display: flex;
    // }

    &__type2 {
      #{$modal}__content {
        padding: rem($padding32px $padding44px $padding32px $padding24px);
        @include screen(web) {
          padding: rem($padding40px $padding60px $padding40px $padding48px);
        }
      }
      #{$modal}__content-text {
        word-break: break-word;
      }
    }

    &__type-scroll {
      #{$modal}__content {
        &-scroll-box {
          padding-right: rem($padding4px);
          overflow-y: auto;
          @include screen(web) {
            padding-right: rem($padding25px);
          }
        }
      }
    }

    &__dimmed {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
    &__box {
      position: relative;
      width: 100%;
      margin: rem(0 $margin24px);
      background-color: $warm-gray;
      border-radius: rem(20px);
      z-index: 2;
      @include screen(web) {
        max-width: rem(660px);
        height: auto;
        border-radius: rem(32px);
      }
    }
    &__head {
      display: flex;
      align-items: center;
      position: relative;
      margin: rem(0 $margin24px);
      padding: rem($padding32px 0 $padding12px);
      text-align: left;
      border-bottom: 1px solid $mid-gray1;
      @include screen(web) {
        position: relative;
        margin: rem(0 $margin48px);
        padding: rem($padding40px 0 $padding20px);
      }
    }
    &__title {
      letter-spacing: rem(0.5px);
      @include screen(web) {
        width: 100%;
      }
    }
    &__closebtn {
      position: absolute;
      top: rem(12px);
      right: rem(12px);
      width: rem(20px);
      height: rem(20px);
      background-size: cover;
      background-image: url($icon-close-black-20-20);
      background-color: transparent;
      border: none;
      cursor: pointer;
      text-indent: -9999px;
      @include screen(web) {
        top: rem(22px);
        right: rem(22px);
        width: rem(24px);
        height: rem(24px);
        background-image: url($icon-close-black-24-24);
      }
      &::before,
      &::after {
        display: none;
      }
    }
    &__content {
      padding: rem($padding12px $padding24px $padding32px);
      @include screen(web) {
        padding: rem($padding20px $padding48px $padding40px);
      }
      &-top {
        padding-bottom: rem($padding20px);
      }
      &-title {
        text-align: center;
      }
      &-subtitle {
        margin-top: rem($margin6px);
        text-align: center;
      }
      .button {
        flex-direction: column;
        gap: rem(8px);
        margin-top: rem($margin24px);
        @include screen(web) {
          flex-direction: row;
        }
      }
    }
  }
}
