@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.AL0017';

#{$component} {
  > .component > .cmp-container {
    display: flex;
    @include container($design-grid-full, true);
    // @include inset-padding-hz;
    @include flex-context(column);
  }
  .c-text-contents {
    margin-bottom: rem($margin12px);
    @include screen(web) {
      margin-bottom: rem($margin20px);
    }
  }
  // block : list
  .c-carousel {
    padding: 0 rem($padding34px) 0 rem($padding16px);
    @include screen(web) {
      padding: 0;
    }
    .title {
      @include screen(mobile) {
        max-width: rem(203px);
      }
    }
  }
  .c-carousel__handler {
    margin-top: 0;
  }
  .c-text-contents + .c-list {
    margin-top: 0;
  }
  .c-list {
    @include reset-list-style;
    display: flex;
    @include flex-context($direction: row);
    @include screen(mobile) {
      margin-top: rem($margin48px);
    }
    &__item {
      height: auto;
      &__inner {
        // background-color: $ivory6;
        background-color: $white;
        @include lgness-radius('default');
        padding: rem($padding20px);
        height: 100%;
        @include screen(web) {
          padding: rem($padding28px) rem($padding28px) rem($padding52px);
        }
        .c-text-contents {
          margin-bottom: 0;
        }
      }
    }
    &-item__img {
      width: 100%;
      display: block;
      margin-bottom: rem($margin16px);
      img {
        @include screen(mobile) {
          width: rem($width60px);
        }
      }
    }
    &-item__contents {
      // strong {
      //     font-size: rem(24px);
      //     line-height: rem(28px);
      //     font-weight: $font-semibold;
      // }
      p {
        font-size: rem(16px);
        line-height: rem(20px);
        color: $dark-gray3;
        margin-top: rem($margin8px);
        @include screen(web) {
          margin-top: rem($margin16px);
          font-size: rem(20px);
          line-height: rem(24px);
        }
      }
    }
    @include screen(web) {
      flex-wrap: wrap;
      @include flex-context($direction: row);
      gap: rem(20px) 0;
      margin: 0 -12px;
      &__item {
        width: 50%;
        padding: 0 rem($padding12px);
      }
      &-item__img {
        margin-bottom: rem($margin20px);
        img {
          width: rem(88px);
        }
      }
    }
  }
  .column3 {
    @include screen(web) {
      margin: 0 -12px;
      .c-list__item {
        width: 33.333%;
      }
    }
  }
  .column4 {
    @include screen(web) {
      .c-list__item {
        width: 25%;
      }
    }
    .c-list-item__contents {
      strong {
        // font-size: rem(20px);
      }
    }
  }
  .box-white {
    .c-list__item__inner {
      background-color: $white;
      // border: rem($border1) solid $grayd;
    }
  }
  // block : image
  .c-image {
    overflow: hidden;
    @include lgness-radius('default');
  }
  // block : media
  .c-media {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $z-index1;
    &__controls {
      padding-bottom: rem($padding44px);
      @include screen(web) {
        padding-bottom: rem($padding58px);
      }
    }
  }
  // block : text contents
  .c-text-contents {
    flex: 1;
    .custom-text {
      .font-red {
        color: $red;
      }
    }
    // layout : margin
    $text-contents: '.c-text-contents';
    @at-root #{$component} {
      #{$text-contents}__eyebrow + #{$text-contents}__headline {
        margin-top: rem($margin6px);
        @include screen(web) {
          margin-top: rem($margin8px);
        }
      }
      #{$text-contents}__headline + #{$text-contents}__bodycopy {
        margin-top: rem($margin8px);
        @include screen(web) {
          margin-top: rem($margin10px);
        }
      }
      * + .c-cta {
        margin-top: rem($margin20px);
        @include screen(web) {
          margin-top: rem($margin24px);
        }
      }
      .c-media-contents + #{$text-contents} {
        margin-top: rem($margin20px);
        @include screen(web) {
          margin-top: rem($margin24px);
        }
      }
      // column 3, 4
      .column3,
      .column4 {
        #{$text-contents}__headline + #{$text-contents}__bodycopy {
          margin-top: rem($margin8px);
        }
      }
    }
  }
  .c-list + .c-cta {
    justify-content: center;
    border-top: rem($border1) solid $ivory3;
    margin-top: rem($margin30px);
    padding-top: rem($padding30px);
    @include screen(web) {
      margin-top: rem($margin40px);
      padding-top: rem($padding40px);
    }
  }
  &.bg-lightgray {
    > .component {
      background-color: $ivory6;
    }
  }
}
