@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.ML000L';
$common-side-padding-m: rem(25px);
#{$component} {
  $default: '&[class*="-default"]';
  $not-first: '&:not(&:first-child)';
  $not-last: '&:not(:last-child)';
  .c-no-data {
    align-items: flex-start;
    padding: rem($padding24px) 0;
    @include screen(web) {
      padding: rem($padding64px) 0;
    }
    &:before {
      display: none;
    }
  }
  .my-component {
    margin: 0 auto;

    $mycomponent: '.my-component';
    position: relative;
    overflow: hidden;
    @include container($design-grid-full, true);
    @include inset-padding-hz;
    &--maximum {
      @include container($maximum, true);
      padding: 0;
    }
    &.bg-lightgray {
      background: $ivory6;
    }
    & + .bg-lightgray {
      margin-top: rem($margin30px);
      @include screen(web) {
        border-radius: rem($radius8);
      }
    }
    &.bg-black--outline {
      @include screen(mobile) {
        border-top: rem($border1) solid $graycb;
        @include inset-padding-hz;
      }
    }
    & + .bg-black--outline {
      margin: rem($margin30px) auto;
    }
    &.no-crop {
      overflow: initial;
    }
  }
  .my-inquiry-box {
    margin-top: rem($margin16px);
    margin-bottom: rem($margin20px);
    @include screen(web) {
      margin-top: rem($margin20px);
      margin-bottom: rem($margin64px);
    }
  }
  .my-inquiry {
    @include reset-list-style;
    display: grid;
    gap: rem(16px) 0;
    // grid-template-columns: 1fr;
    grid-template-columns: repeat(1, minmax(100%, 100%));
    margin-top: rem($margin12px);
    @include screen(web) {
      gap: rem(24px);
      grid-template-columns: 1fr 1fr;
      margin-top: rem($margin10px);
    }
    &__item {
      background-color: $white;
      padding: rem($padding20px $padding16px);
      @include lgness-radius('all');
      @include screen(web) {
        padding: rem($padding30px);
      }
      span {
        display: block;
      }
    }
    // - 2023-06-01
    &__flag {
      font-size: rem(10px);
      font-weight: $font-bold;
      width: fit-content;
      // padding: rem($padding6px);
      padding: rem($padding6px) rem($padding8px);
      border-radius: rem($radius4);
      margin-bottom: rem($margin8px);
      line-height: rem(10px);
      &--receipt {
        border: rem($border1) solid $black;
      }
      &--receipt,
      &--process {
        background-color: $gray3;
        // border: rem($border1) solid $black;
        border: rem($border1) solid $gray3;
        // padding: rem($padding5px);
        color: $white;
      }
      &--canceled {
        // background-color: $gray6;
        background-color: $gray3;
        color: $white;
      }
      &--completed {
        // background-color: $active-red;
        background-color: $gray3;
        color: $white;
      }
    }
    &__receipt {
      text-decoration: underline;
    }
    &__title {
      color: $black;
      // 2023-06-07
      &--subject {
        min-width: rem(65px);
        @include screen(web) {
          min-width: rem(80px);
        }
      }
      &--type {
        min-width: rem(115px);
        @include screen(web) {
          min-width: rem(145px);
        }
      }
      &--receiptNo {
        min-width: rem(90px);
        @include screen(web) {
          min-width: rem(110px);
        }
      }
      &--receiveNum {
        min-width: rem(120px);
        @include screen(web) {
          min-width: rem(150px);
        }
      }
      &--modelNo {
        min-width: rem(85px);
        @include screen(web) {
          min-width: rem(105px);
        }
      }
      &--receiptDate {
        min-width: rem(100px);
        @include screen(web) {
          min-width: rem(125px);
        }
      }
    }
    &__name {
      color: $mid-gray2 !important;
    }
    .c-text-contents {
      &__bottom {
        margin-top: rem($margin24px);
        @include screen(web) {
          margin-top: rem($margin30px);
        }
      }
      &__title {
        margin-top: rem($margin10px);
      }
      &__desc {
        margin-top: rem($margin6px);
        color: $gray6;
        span {
          line-height: rem(20px);
          @include screen(web) {
            line-height: rem(14px);
          }
        }
      }
      &__code {
        color: $gray3;
        line-height: rem(12px);
        @include screen(web) {
          line-height: rem(1px);
        }
      }
      &__expires {
        color: $gray6;
        margin-top: rem($margin6px);
        line-height: rem(12px);
        @include screen(web) {
          line-height: rem(14px);
        }
      }
      &__bodycopy {
        display: flex;
        align-items: center;
        // gap: rem(3px);
        & + .c-text-contents__bodycopy {
          margin-top: rem($margin6px);
          // - 2023-06-01
          @include screen(web) {
            margin-top: rem($margin8px);
          }
        }
        span {
          line-height: rem(18px);
          @include screen(web) {
            line-height: rem(20px);
          }
        }
        span + span {
          @include ellipsis(1);
        }
        // - 2023-05-11 ( Receipt No : Icon )
        &__icon {
          display: block;
          width: rem(22px);
          height: rem(22px);
          margin: 0 rem($margin6px) 0 0;
          min-width: rem(22px); // - 2023-05-30
          &--Call {
            background: url($icon-phone-24-24) center / contain no-repeat;
          }
          &--Email {
            background: url($icon-email-black-24-24) center / contain no-repeat;
          }
        }
      }
    }
  }
  .link-banner {
    padding: rem($padding20px) 0;
    @include screen(web) {
      padding: rem($padding48px) 0 rem($padding64px);
    }
    // - 2023-05-30 link-banner button
    .cmp-button {
      flex-basis: auto;
    }
    .c-button {
      @include screen(mobile) {
        width: 100%;
      }
      #{$default} {
        @include screen(web) {
          border: rem($border1) solid $graycb;
        }
        &:hover {
          border-color: $active-red;
        }
        &.highlight {
          border-color: $active-red;
          &:hover {
            border-color: $mid-gray2;
          }
        }
      }
    }
  }
  .c-page {
    margin-top: rem($margin22px);
    @include screen(web) {
      margin-top: rem($margin36px);
      margin-bottom: rem($margin64px);
    }
  }
}
