@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.AL0015';
#{$component} {
  > .component > .cmp-container {
    @include screen(web) {
      @include container($design-grid-full, true);
      @include inset-padding-hz;
    }
    .c-search-box {
      padding: rem(24px) rem($padding16px);
      @include screen(web) {
        padding: rem(49px) 0 rem(60px);
      }
      background: transparent;
      &__header {
        padding: rem($padding24px) 0;
        margin: 0;
        @include screen(web) {
          padding: 0;
        }
        & + .c-search-box__body {
          margin-top: rem($margin12px);
          justify-content: flex-start;
          @include screen(mobile) {
            align-items: flex-start;
          }
          @include screen(web) {
            margin-top: rem($margin20px);
          }
        }
      }
      &__form {
        gap: 0;
        @include screen(web) {
          gap: 0 rem($gutter-w);
        }
        .c-input-item {
          &:first-child {
            width: 100%;
            @include screen(web) {
              flex: 1 1 auto;
              width: auto;
            }
          }
          & + .c-input-item {
            @include screen(mobile) {
              margin-top: rem($margin12px);
            }
          }
          input[type='text'] {
            padding: rem(15px) rem($padding17px);
            height: rem(48px);
            font-size: rem(16px);
            font-weight: $font-regular;
            line-height: rem(18px);
            background: $light-gray3;
            border: 0;
            border-radius: rem(24px);
            @include screen(web) {
              padding: rem(18px) rem($padding25px);
              height: rem(60px);
              font-size: rem(20px);
              line-height: rem(24px);
              border-radius: rem(30px);
            }
            &::placeholder {
              color: $black;
              font-size: rem(16px);
              font-weight: $font-regular;
              line-height: rem(18px);
              opacity: 0.7;
              @include screen(web) {
                font-size: rem(20px);
                line-height: rem(24px);
              }
            }
          }
        }
      }
      &__button {
        @include screen(web) {
          margin-top: 0;
          margin-bottom: rem($margin8px);
          align-self: flex-end;
        }
        .c-button {
          border: rem($border1) solid $mid-gray1;
        }
      }
      &__body {
        border-radius: 0;
        background: transparent;
      }
      label {
        margin-bottom: rem($margin8px);
        color: $black;
        font-weight: $font-regular;
        font-size: rem(16px);
        line-height: rem(18px);
        @include screen(web) {
          font-size: rem(20px);
          line-height: rem(24px);
        }
        .c-required {
          margin-left: rem($margin2px);
          color: $heritage-red;
          font-size: rem(16px);
          font-weight: $font-regular;
          line-height: rem(18px);
          @include screen(web) {
            font-size: rem(20px);
            line-height: rem(24px);
          }
        }
      }
      &__body {
        padding: 0;
        gap: rem($gutter-w);
        @include screen(web) {
          gap: 0 rem($gutter-w);
        }
        // .c-search-box__header {
        //     display: none;
        //     @include screen(web) {
        //         margin-top: 0;
        //         display: block;
        //         margin-bottom: 0;
        //         font-size: rem(24px);
        //         line-height: rem(40px);
        //         font-weight: $font-semibold;
        //         white-space: nowrap;
        //     }
        // }
      }
    }
  }
}
