@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.ST0049';
#{$component} {
  // element
  > .component > .cmp-container,
  &.component > .cmp-container {
    @include inset-padding-hz;
  }

  // block
  .c-carousel {
    overflow: hidden;
    @include container($design-grid-full, false);
  }
  .c-hero-side {
    display: flex;
    flex-direction: column;
    gap: rem($padding12px);
    @include screen(web) {
      @include container($design-grid-full, false);
      @include flex-context(row);
      align-items: center;
      gap: min(rem(columns(1, false)), columns(1, false) / $design-grid-full * 100%);
    }

    // block
    .c-image {
      flex-shrink: 0;
      max-width: rem(columns(2));
      overflow: hidden;
      // border-radius: rem($radius8);
      // @include lgness-radius('default');
      @include screen(mobile) {
        margin: auto;
        max-width: rem($max-width240px);
      }
      .fit-content {
        min-height: rem(180px);
        .c-image__img {
          width: fit-content;
          max-width: fit-content;
          height: fit-content;
        }
      }
    }
    .c-text-contents {
      flex: 1;
      display: flex;
      flex-direction: column;
      @include screen(web) {
        width: min(rem(columns(8, true)), columns(8, true) / $design-grid-full * 100%);
      }
      // @include screen(mobile) {
      //     @include inset-padding-hz(mobile);
      // }
      &__headline,
      &__bodycopy {
        @include screen(mobile) {
          text-align: left;
        }
      }
      * + .c-text-contents__bodycopy {
        margin-top: rem($margin8px);
      }
      * + .c-cta {
        margin-top: rem($margin12px);
        @include screen(web) {
          margin-top: rem($margin24px);
        }
      }
    }
    .c-media--floating {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .c-cta {
      @include screen(mobile) {
        justify-content: left;
      }
    }
  }

  // disclaimer
  .c-text-contents__disclaimer {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
    padding-top: rem($padding20px);
    @include screen(web) {
      padding-top: rem($padding32px);
    }
    // align
    @include screen(mobile) {
      text-align: left;
    }
  }

  // option
  // text align
  .align-text-left {
    .c-text-contents__headline,
    .c-text-contents__bodycopy {
      @include screen(web) {
        /*!rtl:ignore*/
        text-align: left;
      }
    }
  }
  .align-text-right {
    .c-text-contents__headline,
    .c-text-contents__bodycopy {
      @include screen(web) {
        /*!rtl:ignore*/
        text-align: right;
      }
    }
  }
  // text color
  // &.font-white:not([class*='bg-lightgray']) {
  //     .c-text-contents__headline,
  //     .c-text-contents__bodycopy,
  //     .c-text-contents__disclaimer,
  //     .c-carousel__handler {
  //         color: $white;
  //     }
  //     .c-button[class*='text'] {
  //         color: $white;
  //         &:after {
  //             background-image: url($icon-arrow-white-right-5-8);
  //             @include screen(web) {
  //                 background-image: url($icon-arrow-white-right-6-10);
  //             }
  //         }
  //     }
  // }
  // &.font-black:not([class*='bg-darkgray'], [class*='bg-black']) {
  //     .c-text-contents__headline {
  //         // color: $black;
  //     }
  //     .c-text-contents__bodycopy {
  //         // ...
  //     }
  //     .c-text-contents__disclaimer {
  //         // ...
  //     }
  // }

  // removing padding as it already exists on parent component
  // changes for UI fix when ST0013 included in current component
  .ST0013 > .component > .cmp-container {
    padding-left: 0;
    padding-right: 0;
    align-items: center;
    @include screen(web) {
      align-items: flex-start;
    }
    .c-media-contents {
      flex-shrink: 0;
      max-width: rem(columns(2));
      .c-media__titlecopy {
        display: none;
      }
    }
    .c-text-contents__headline,
    .c-text-contents__bodycopy {
      text-align: center;
      @include screen(web) {
        text-align: inherit;
      }
    }
    .c-text-contents__headline {
      margin-top: 0;
    }
    .c-cta {
      @include screen(mobile) {
        justify-content: center;
      }
    }
  }
}
