@charset "UTF-8";
@use '../../scss/abstract/' as *;
@use '../CS0000/CS0000' as *;

// component
$component: '.CS0023';
#{$component} {
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  $tab-container: '.container';
  $mobile-width: calc(100% - rem($margin25px * 2));
  overflow: initial;

  &__container {
    @include flex-context;
    @include container($design-grid-full, true);
    @include inset-padding-hz(mobile);
    @include screen(web) {
      @include flex-context;
      padding: rem(0 24px);
    }
    @include screen(tablet) {
      @include inset-padding-hz;
    }
  }

  // add class c-default-margin component
  &.c-default-margin {
    // padding-bottom: rem($padding10px);
    &.c-wrapper {
      &.margin-top {
        margin-top: 0;
        padding-top: 0;
        // padding-bottom: rem($padding30px);
        // @include screen(web) {
        //     padding-bottom: rem($padding60px);
        // }
        // &.margin-bottom {
        //     padding-bottom: rem($padding30px);
        //     @include screen(web) {
        //         padding-bottom: rem($padding60px);
        //     }
        // }
      }
      // &.margin-bottom {
      //     @include screen(web) {
      //         padding-bottom: rem($padding10px);
      //     }
      // }
    }
    #{$cs-header} {
      margin-top: rem($margin30px);
      margin-bottom: 0;
      @include screen(web) {
        margin-top: rem($margin40px);
      }
    }
  }

  // COMMON - .c-cs-header
  #{$cs-header} {
    margin-bottom: rem($margin20px);
    a {
      color: $red;
      text-decoration: underline;
    }
    @include screen(web) {
      margin-bottom: rem($margin40px);
    }
    @at-root #{$component} #{$cs-header} {
      #{$text-contents} {
        // text-align: center;
      }
      #{$text-contents}__headline + #{$text-contents}__bodycopy {
        margin-top: rem($margin6px);
        @include screen(web) {
          margin-top: rem($margin8px);
        }
      }
    }
  }

  // .c-warning {
  //     // display: none;
  //     color: $active-red;
  //     margin: rem($margin8px $margin16px 0);
  //     position: relative;
  //     padding-left: rem($padding28px);
  //     line-height: rem(20px);
  //     text-align: left;

  //     @include screen(web) {
  //         margin-left: rem($margin25px);
  //         margin-right: rem($margin25px);
  //     }

  //     &::before {
  //         content: '';
  //         display: inline-block;
  //         background: url($icon-warning);
  //         position: absolute;
  //         top: 0;
  //         left: 0;
  //         width: rem(20px);
  //         height: rem(20px);
  //     }
  // }

  // Support HEADER
  #{$cs-header} {
    margin-bottom: rem($margin12px);

    a {
      color: $red;
      text-decoration: underline;
    }

    @include screen(web) {
      margin-bottom: 0;
    }

    @at-root #{$component} #{$cs-header} {
      #{$text-contents} {
        // text-align: center;
      }

      #{$text-contents}__headline + #{$text-contents}__bodycopy {
        margin-top: rem($margin6px);

        @include screen(web) {
          margin-top: rem($margin10px);
        }
      }
    }
  }

  .c-model-content-wrap {
    border-bottom: 1px solid $mid-gray1;
    padding-bottom: rem($padding6px);
    .c-require {
      margin-top: rem($margin12px);
    }
    @include screen(web) {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      // border: 1px solid #000;
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: rem($margin24px);
    }
  }

  .cs-form {
    .cmp-form {
      .fieldIcons {
        &__root {
          position: relative;
        }

        &__before {
          content: '';
          z-index: $stacking-floor;
          @include position(50%, 50%);
          left: rem($padding30px);
          transform: translate(-50%, -50%);
          width: rem(18px);
          height: rem(18px);
          background-image: url($icon-search);
          background-repeat: no-repeat;
          @include screen(web) {
            left: rem($padding24px);
            right: auto;
            transform: translate(0%, -50%);
          }
        }

        input {
          @include input;
          max-width: rem(1086px);
          padding: rem($padding15px $padding17px);
          background: $light-gray3;
          @include screen(web) {
            padding: rem($padding18px $padding16px $padding18px $padding50px);
          }
        }
      }

      label,
      .c-radio-label {
        display: block;
        color: $gray3;
        margin-bottom: rem($margin8px);
        font-size: rem(16px);
        line-height: rem(18px);
        text-align: left;
        margin-top: rem($margin16px);

        &.radio {
          margin: 0;
        }
      }

      input,
      select {
        @include input;
      }

      select {
        @include csSelect;
      }

      .button {
        margin-top: rem($margin20px);
        .c-button {
          background: $white;
          &.active {
            background: pink;
            background: $active-red;
            color: $white;
          }
          @include screen(web) {
            height: rem($height64px);
            padding: rem(0 $padding28px);
          }
        }
      }

      .c-form {
        &__radio-box {
          display: flex;
          flex-direction: column;
          gap: rem(16px);
          margin-top: rem($margin12px);
          margin-bottom: rem($margin24px);

          @include screen(web) {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0;
            margin-top: 0;
            margin-bottom: 0;
            height: rem($height44px);
          }

          .c-form-box {
            margin: 0;

            @include screen(web) {
              flex-shrink: 0;
              margin-right: rem(80px);

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }

      + .button {
        .c-button {
          width: 100%;
        }

        @include screen(web) {
          display: flex;
          justify-content: center;

          .c-button {
            width: auto;
          }
        }
      }

      .c-info-msg {
        color: $gray6;
        margin: rem($margin8px $margin13px);

        @include screen(web) {
          margin: rem($margin8px $margin25px);
        }
      }
    }

    @include screen(web) {
      &__wrap {
        @include screen(web) {
          display: flex;
          flex-wrap: wrap;
          gap: rem(24px);
        }
      }

      &__inner {
        display: flex;
        gap: rem(8px);
      }

      .cmp-form {
        flex: 1 1 40%;

        label,
        .c-radio-label {
          margin-bottom: rem($margin8px);
          margin-top: 0;
          line-height: rem(22px);
        }

        &:nth-child(n + 3) {
          label {
            margin-top: 0;
          }

          input,
          select {
            margin-bottom: 0;
          }
        }
      }

      .button {
        grid-column: 1/3;
        margin-top: rem($margin26px);
      }
    }
  }

  .c-repair__type {
    display: none;

    &:first-child {
      display: block;
    }
  }
}
