@charset "UTF-8";

@use 'sass:string';
@use '../../scss/abstract/' as *;

$component: '.ST0022';

#{$component} {
  &:not(.checked) {
    .member {
      display: none;
    }
  }
  &.checked {
    .non-member {
      display: none;
    }
  }
  > .component > .cmp-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    @include inset-padding-vt;
    @include inset-padding-hz(mobile);
  }

  .c-text-contents {
    &__bodycopy {
      color: $gray3;
      margin-top: rem($margin8px);
      @include screen(web) {
        margin-top: rem($margin10px);
      }
    }
    &__code {
      margin-top: rem($margin10px);
      display: flex;
      flex-direction: column;
      gap: rem($margin6px);
      @include screen(web) {
        margin-top: rem($margin12px);
        flex-direction: row;
        justify-content: center;
        gap: rem($margin14px);
      }
      &-subject {
        color: $gray3;
      }
      &-number {
        color: $heritage-red;
      }
    }
    .c-cta {
      justify-content: center;
      margin-top: rem($margin20px);
      gap: rem(($margin10px, $margin6px));
      @include screen(web) {
        margin-top: rem($margin24px);
        gap: rem(($margin10px, $margin8px));
      }
    }
  }
  // theme
  &.bg-darkgray {
    .c-text-contents__bodycopy,
    .c-text-contents__code-subject {
      color: $white;
    }
  }
}
