mixin PD0014(option=false)
    // to dev 
    // Remove the "hidden" selector when more than one product is contained or when all other components of this component should be visible.
    .c-wrapper.PD0014.bg-default.is-opened.hidden
        .component
            .cmp-container
                .c-compare
                    button.c-compare-toggle(data-comp-data-layer="" type="button" aria-expanded="true")
                        span.sr-only Compare Open
                    .carousel.panelcontainer
                        //- [2023-01-27] [변경] c-compare-action (위치)
                        .c-compare-action
                            .c-text-contents
                                .c-text-contents__headline 
                                    h2 Compare 
                                        div(class='compare_ea' role='status' aria-live='polite') &#40;3&#41;
                                            span.sr-only Add
                                        
                                            
                            .c-compare-action--button
                                .button
                                    +textButton({
                                        name : "Clear All",
                                        wSize : "small",
                                        mSize : "small",
                                        buttonStyle : "default white",
                                        underline : true,
                                        isButton : true
                                    })
                                .c-cta.button
                                    +defaultButton({
                                        name: "Compare",
                                        wSize : "small",
                                        mSize : "small",
                                        buttonStyle : "highlight",
                                        isButton : true
                                    })

                        .cmp-carousel.swiper.c-carousel.c-carousel--compare(data-cmp-data-layer="")
                            .cmp-carousel__content.swiper-wrapper
                                .cmp-carousel__item.swiper-slide
                                    // GA4
                                    .c-compare-item(data-pim-category1="" data-pim-category2="" data-pim-category3="" data-pim-category4="" data-pim-sku="" data-pim-model-name="" data-pim-model-year="" data-pim-flag="" data-pim-modeltype="" data-shop-stock-status="" data-shop-msrp="" data-shop-price="")
                                        button.c-compare-item--delete(aria-describedby='pd_name_01')
                                            span.sr-only Delete this item
                                        // GA4
                                        a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="").c-compare-item--link
                                            .c-compare-item--thumbnail
                                                .image.c-image
                                                    +printLazyImage('https://via.placeholder.com/64x64/999999/333333')
                                            //- [2023-01-27] [변경] .c-text-contents (구조, 클래스)
                                            //- [2023-01-27] [추가] .c-price-number
                                            .c-text-contents
                                                p.c-compare-item_name(id='pd_name_01') American Fridge Freezer 635L Water &amp; Ice Dispenser American Fridge Freezer 635L Water &amp; Ice Dispenser American Fridge Freezer 635L Water &amp; Ice Dispenser
                                                p.c-price-number £600.00
                                            //- [2023-01-27] [삭제] .price-area
                                .cmp-carousel__item.swiper-slide
                                    // GA4
                                    .c-compare-item(data-pim-category1="" data-pim-category2="" data-pim-category3="" data-pim-category4="" data-pim-sku="" data-pim-model-name="" data-pim-model-year="" data-pim-flag="" data-pim-modeltype="" data-shop-stock-status="" data-shop-msrp="" data-shop-price="")
                                        button.c-compare-item--delete(aria-describedby='pd_name_02')
                                            span.sr-only Delete this item
                                        // GA4
                                        a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="").c-compare-item--link
                                            .c-compare-item--thumbnail
                                                .image.c-image
                                                    +printLazyImage('https://via.placeholder.com/64x64/999999/333333')
                                            //- [2023-01-27] [변경] .c-text-contents (구조, 클래스)
                                            //- [2023-01-27] [추가] .c-price-number
                                            .c-text-contents
                                                p.c-compare-item_name(id='pd_name_02') American Fridge Freezer 635L Water &amp; Ice Dispenser
                                                p.c-price-number £600.00
                                            //- [2023-01-27] [삭제] .price-area
                                .cmp-carousel__item.swiper-slide
                                    // GA4
                                    .c-compare-item(data-pim-category1="" data-pim-category2="" data-pim-category3="" data-pim-category4="" data-pim-sku="" data-pim-model-name="" data-pim-model-year="" data-pim-flag="" data-pim-modeltype="" data-shop-stock-status="" data-shop-msrp="" data-shop-price="")
                                        button.c-compare-item--delete(aria-describedby='pd_name_03')
                                            span.sr-only Delete this item
                                        // GA4
                                        a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="").c-compare-item--link
                                            .c-compare-item--thumbnail
                                                .image.c-image
                                                    +printLazyImage('https://via.placeholder.com/64x64/999999/333333')
                                            //- [2023-01-27] [변경] .c-text-contents (구조, 클래스)
                                            //- [2023-01-27] [추가] .c-price-number
                                            .c-text-contents
                                                p.c-compare-item_name(id='pd_name_03') American Fridge Freezer 635L Water &amp; Ice Dispenser
                                                p.c-price-number £600.00
                                            //- [2023-01-27] [삭제] .price-area
                                .cmp-carousel__item.swiper-slide
                                    .c-compare-item.empty-item
                        .c-carousel__handler
                            .cmp-carousel__actions
                                +carouselBtn({type:"pagination", direction:"prev"})
                            +carouselPagination({isUnder:true})
                            .cmp-carousel__actions
                                +carouselBtn({type:"pagination", direction:"next"})
