@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.PD0013';
#{$component} {
  @include lgness-margin('if-headline');

  // element
  > .component > .cmp-container {
      .c-find-a-dealer {
        &-map {
          &__modal {
            .c-dealer {
              dd#{$precedence} {
                &.category {
                  color: $black;
                }
              }
            }
          }
        }
      }
      .c-dealer-box {
        margin-top: rem($margin14px);
        margin-bottom: 0;

        dd {
          &.category {
            color: inherit;
          }
        }
      }
  }
}
