@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.ML0100M';
$com-m-side-padding: $padding12px;
#{$component} {
  .component > .fluid-container {
    @include container($maximum, true);
  }
  .font-m-normal-12 {
    @include screen(mobile) {
      font-size: rem(12px);
      line-height: rem(12px);
    }
  }
  .my-component {
    @include container($design-grid-full, true);

    $mycomponent: '.my-component';
    position: relative;
    overflow: hidden;
    padding-top: rem($padding24px);
    padding-bottom: rem($padding20px);
    @include inset-padding-hz;
    @include screen(web) {
      padding-bottom: rem($padding24px);
    }
  }
  .my-profile {
    width: 100%;
    a:hover {
      text-decoration: none;
    }
    &__namebox {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding-bottom: rem($padding20px);
      @include screen(web) {
        padding-bottom: rem($padding17px);
      }
      &--obs {
        border-bottom: rem($border1) solid $ivory6;
      }
      .my-profile-coupon {
        gap: rem(8px);
        @include screen(web) {
          gap: rem(20px);
        }
      }
    }
    &__icon {
      display: block;
      text-indent: -9999rem;
      width: rem($icon24px);
      height: rem($icon24px);
      @include screen(web) {
        width: rem($icon48px);
        height: rem($icon48px);
      }
      &--time {
        background: url($icon-mylg-time-48-48) center / contain no-repeat;
      }
      &--cart {
        background: url($icon-mylg-orders2-48-48) center / contain no-repeat;
      }
      &--product {
        background: url($icon-mylg-product2-48-48) center / contain no-repeat;
      }
      &--coupon {
        background: url($icon-mylg-coupons2-48-48) center/contain no-repeat;
      }
      &--request {
        background: url($icon-request-repair2-48-48) center/contain no-repeat;
      }
      &--inquires {
        background: url($icon-mylg-inquiry2-48-48) center/contain no-repeat;
      }
      &--review {
        background: url($icon-mylg-review2-48-48) center/contain no-repeat;
      }
      &--orders {
        background: url($icon-mylg-orders-48-48) center / contain no-repeat;
      }
    }
    &__name {
      word-break: break-all;
      div {
        font-weight: $font-regular;
      }
      a {
        display: flex;
        gap: rem(8px);
        align-items: center;
        @include screen(web) {
          display: flex;
          gap: rem(8px);
          align-items: center;
        }
      }
      .my-profile-education,
      .my-profile-employee {
        display: inline-block;
        font-weight: $font-bold;
        font-size: rem(12px);
        line-height: rem(16px);
        @include screen(web) {
          font-size: rem(14px);
        }
        &::before {
          display: inline-block;
          content: '';
          margin-right: rem($margin4px);
          width: rem($width16px);
          height: rem($height16px);
          background: url($icon-mylg-education-16-16) center / contain no-repeat;
          vertical-align: top;
        }
      }
      .my-profile-employee {
        &::before {
          background-image: url($icon-mylg-employee-16-16);
        }
      }
      .my-profile-vip {
        margin-right: rem($margin4px);
        font-weight: $font-bold;
        font-size: rem(12px);
        line-height: rem(12px);
        color: $heritage-red;
        display: inline-block;
        @include screen(web) {
          font-size: rem(14px);
          line-height: rem(14px);
        }
        &__icon {
          position: relative;
          margin-left: rem($margin17px);
          display: inline-block;
          width: rem($width14px);
          height: rem($height10px);
          background: url($icon-mylg-vip-14-10) center / contain no-repeat;
          vertical-align: middle;
          &::before {
            content: '';
            width: rem($border1);
            height: rem($height8px);
            background: $mid-gray2;
            position: absolute;
            top: rem(1px);
            left: rem(-8px);
          }
        }
      }
    }
    &__more {
      display: inline-block;
      width: rem($width7px);
      height: rem($height12px);
      margin-left: rem(10px);
      background: url($icon-arrow-black-right-7-12) center / contain no-repeat;
      transform: rotate(0) #{'/*!rtl:rotate(#{$degree180})*/'}; /*! 230601 RTL */
      @include screen(web) {
        width: rem($width8px);
        height: rem($height16px);
      }
    }
    // 2024-04-25 스와이퍼추가
    &__swiper-wrap {
      overflow: hidden;
      width: 100%;
      position: relative;
      padding: 0 rem(16px);
      margin-top: rem(14px);
      @include screen(web) {
        padding: 0 rem(50px) 0 rem(54px);
      }
      @include screen(tablet) {
        margin-top: rem(20px);
      }
      .my-profile__swiper {
        width: 100%;
        position: relative;
        z-index: 2;
        &:not(.my-profile__swiper--play) {
          > ul.swiper-wrapper--category-purchase {
            > li {
              flex: 1;
            }
          }
        }
        .swiper-wrapper--category-purchase {
          align-items: center;
          @include reset-list-style;
          display: flex;
          width: 100%;
          justify-content: flex-start;
          > li {
            display: block;
            .my-profile__swiper-item {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              gap: 0;
              @include screen(web) {
                gap: rem(20px);
                flex-direction: row;
              }
            }
          }
        }
        &.my-profile__swiper--play {
          & + .c-carousel__handler {
            display: block;
            margin: 0;
            .c-carousel-controls__action {
              height: 100%;
            }
            .js-carousel-prev[disabled],
            .js-carousel-next[disabled] {
              display: block;
              opacity: 0.6;
            }
            .cmp-carousel__action {
              position: absolute;
              top: 0;
              height: 100%;
              width: rem(32px);
            }
            .js-carousel-prev {
              left: rem(9px);
            }
            .js-carousel-next {
              right: rem(9px);
            }
            @include screen(mobile) {
              .cmp-carousel__action {
                width: rem(18px);
              }
              .js-carousel-prev {
                left: 0;
              }
              .js-carousel-next {
                right: 0;
              }
            }
          }
        }
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      gap: rem(8px);

      @include screen(web) {
        flex-direction: row;
        gap: rem(24px);
      }
      @include screen(tablet) {
        flex-direction: column;
        gap: rem(8px);
      }
      &--no-point {
        .my-profile__info-list {
          flex: 1;
        }
      }
    }
    &__desc {
      margin: rem(8px 0 16px);
      color: $mid-gray3;
      @include screen(web) {
        margin: rem(12px 0 24px);
      }
    }
    &__info__container {
      // 2024-04-25 프로그래스바 추가 관련
      &:only-child {
        flex: 1;
        @include screen(web) {
          .my-purchase__desc {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            > .my-purchase__txt {
              flex: 1;
            }
          }
        }
      }
      .my-purchase {
        width: 100%;
        &__title {
          margin-bottom: rem(8px);
        }
        &__total {
          position: relative;
          word-break: keep-all;
        }
        &__desc {
          position: relative;
        }
        &__txt {
          position: relative;
        }
      }
      .purchase-progress {
        position: relative;
        height: rem(14px);
        border-radius: rem(4px);
        overflow: hidden;
        margin-bottom: rem(16px);
        @include screen(web) {
          height: rem(16px);
        }
        &__inner {
          background: #f1f1f1;
          height: 100%;
        }
        &__status {
          display: block;
          height: 100%;
          background: #ea1917;
          transition: all 0.3s;
          border-top-right-radius: rem(4px);
          border-bottom-right-radius: rem(4px);
        }
      }

      background-color: $white;
      @include lgness-radius('all');
      display: flex;
      flex-basis: 100%;
      justify-content: space-between;
      padding: rem($padding20px $padding16px);
      min-height: rem($height64px);
      @include screen(web) {
        padding: rem($padding24px);
        border-radius: rem($radius28);
        flex-direction: column;
        flex-basis: rem(342px);
        justify-content: center;
        min-height: 100%;
      }

      @include screen(tablet) {
        flex-basis: 100%;
        justify-content: space-between;
        min-height: rem($height64px);
      }
    }
    &-point {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: rem(8px);
      @include screen(web) {
        gap: 0;
      }
      &__info {
        display: flex;
        align-items: center;
        gap: rem(2px);
      }
      &__text {
        display: none;
        @include screen(web) {
          display: block;
        }
      }
      &__icon {
        display: inline-block;
        width: rem($width24px);
        height: rem($height24px);
        background: url($icon-mylg-available-points2-48-48) center / contain no-repeat;
        @include screen(web) {
          width: rem($width48px);
          height: rem($height48px);
        }
      }
      &__number {
        text-decoration: underline;
      }
    }
    &-coupon {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: rem(8px);
      @include screen(web) {
        gap: 0;
      }
      &__info {
        display: flex;
        align-items: center;
        gap: rem(2px);
      }
      &__text {
        padding-left: rem(8px);
        font-size: rem(12px);
        line-height: rem(12px);
        @include screen(web) {
          padding-left: rem(4px);
          font-size: rem(16px);
          line-height: rem(24px);
        }
      }
      &__icon {
        display: inline-block;
        width: rem($width24px);
        height: rem($height24px);
        background: url($icon-mylg-coupon2-48-48) center / contain no-repeat;
        @include screen(web) {
          width: rem($width48px);
          height: rem($height48px);
        }
      }
      &__number {
        text-decoration: underline;
      }
    }
    &-orders {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: rem(8px);
      @include screen(web) {
        gap: 0;
      }
      &__info {
        display: flex;
        align-items: center;
        gap: rem(2px);
      }
      &__text {
        font-size: rem(12px);
        line-height: rem(12px);
        @include screen(web) {
          font-size: rem(16px);
          line-height: rem(24px);
        }
      }
      &__icon {
        display: inline-block;
        width: rem($width24px);
        height: rem($height24px);
        background: url($icon-mylg-orders2-48-48) center / contain no-repeat;
        @include screen(web) {
          width: rem($width48px);
          height: rem($height48px);
        }
      }
      &__number {
        text-decoration: underline;
      }
    }
    &__info-list {
      &:has(.my-profile__swiper) {
        width: 100%;
        overflow: hidden;
      }
      position: relative;
      display: flex;
      align-items: center;
      flex: 1;
      border: rem($border1) solid $graye6;
      padding: rem($padding20px $padding16px);
      border-radius: rem($radius20);
      margin-left: 0;
      background: $white;
      @include screen(web) {
        border-radius: rem($radius28);
        padding: rem($padding24px) 0;
      }

      ul:not(.swiper-wrapper) {
        @include reset-list-style;
        display: flex;
        justify-content: space-between;
        width: 100%;
        @include screen(web) {
          justify-content: initial;
        }
        li {
          position: relative;
          flex: 1 1 0;
          display: flex;
          align-items: center;
          justify-content: center;
          @include screen(web) {
            flex: 1;
          }
          a {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 0;
            @include screen(web) {
              gap: rem(30px);
              flex-direction: row;
            }
          }
        }
      }
    }
    // 2024-04-25 .info-etc-list 추가
    .info-etc-list {
      @include screen(mobile) {
        padding: rem($padding19px $padding16px);
      }
      ul li {
        a {
          flex-direction: row;
          gap: rem(8px);
          @include screen(web) {
            gap: rem(16px);
          }
        }
      }
      .my-profile-coupon__text {
        padding-left: 0;
      }
      .my-profile__list-icon {
        flex-flow: row;
      }
      .my-profile__list-count {
        color: $active-red;
        text-decoration: underline;
        @include screen(mobile) {
          margin-top: 0;
        }
      }
    }
    // 2024-04-25 .category-info-list 추가
    .category-info-list {
      /* [S] 2024-05-09 타이틀영역 absolute 제거 버젼 적용 */
      flex-direction: column;
      .my-profile__title {
        width: 100%;
        text-align: left;
        @include screen(web) {
          padding-left: rem(24px);
        }
      }

      /* [E] 2024-05-09 타이틀영역 absolute 제거 버젼 적용 */
      .my-profile__list-icon {
        width: 100%;
        .my-profile-icon-name {
          text-overflow: ellipsis;
          overflow: hidden;
          word-break: break-word;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
      @include screen(mobile) {
        .my-profile__list-icon {
          .my-profile-icon-name {
            height: rem(25px);
          }
        }
      }
      @include screen(web) {
        .my-profile__list-icon {
          width: auto;
          max-width: 49%;
        }
      }
    }
    &__list-icon {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      span:not(.my-profile__icon) {
        margin-top: rem($margin3px);
        white-space: wrap;
        text-align: center;
        height: rem($height20px);
        display: flex;
        align-items: center;
        @include screen(web) {
          height: auto;
          margin-top: rem($margin8px);
        }
      }
    }
    &__list-count {
      @include screen(mobile) {
        margin-top: rem($margin5px);
        line-height: 0;
        span {
          display: block;
        }
      }
      span {
        color: $active-red;
        text-align: center;
      }
      .my-profile__list-total {
        margin-top: rem(2px);
        display: block;
        color: $gray3;
        line-height: rem(12px);
        @include screen(web) {
          margin-top: rem(0px);
          margin-left: rem(6px);
          display: inline;
          line-height: rem(28px);
        }
        &::before {
          content: '/ ';
          color: $gray3;
          font-size: inherit;
          line-height: inherit;
          font-weight: inherit;
        }
      }
    }
  }
  .toast-popup {
    margin-top: rem($margin8px);
    @include screen(web) {
      margin-top: rem($margin12px);
    }
  }
  .ml-event__zone {
    max-width: rem($design-grid-full);
    margin: 0 auto;
    background-color: rgb(222 173 37 / 90%);
    padding: rem(12px 38px 12px 16px);
    border-radius: rem(20px);
    position: relative;
    display: flex;
    align-items: center;
    gap: rem(8px);
    @include screen(web) {
      padding: rem(12px 16px);
    }
    p {
      font-size: rem(12px);
      line-height: rem(13px);
      font-weight: $font-semibold;
    }
    a {
      font-size: rem(12px);
      line-height: rem(13px);
      text-decoration: underline;
      font-weight: $font-semibold !important;
    }
    &::before {
      content: '';
      display: inline-block;
      width: rem(16px);
      height: rem(16px);
      min-width: rem(16px);
      background: url($icon-warning-black-20-20) no-repeat center;
      @include screen(web) {
        width: rem(20px);
        height: rem(20px);
        min-width: rem(20px);
        background-size: contain;
      }
    }
    .clone-self {
      position: absolute;
      cursor: pointer;
      right: rem(14px);
      width: rem(16px);
      height: rem(16px);
      top: 50%;
      transform: translateY(-50%);
      border: 0;
      background: url($icon-close-midgray-16-16) no-repeat center;
    }
  }
  .c-pop-msg {
    padding-left: 0;
    padding-right: 0;
    @include screen(web) {
      padding-left: auto;
      padding-right: auto;
    }
    &__close--on-top {
      @include screen(mobile) {
        top: rem(9px);
        .c-pop-msg__close-button {
          &::before {
            width: rem(24px);
            height: rem(24px);
          }
        }
      }
    }
    &.large {
      .c-pop-msg__container {
        padding: 0;
        max-width: 100%;
        height: 100%;
        border-radius: 0;
        justify-content: flex-start;
        @include screen(web) {
          max-width: fit-content;
          height: auto;
          border-radius: rem(20px);
          justify-content: center;
        }
        .c-pop-msg__header {
          padding: rem($padding16px $padding64px $padding16px $padding16px);
          margin-bottom: 0;
          @include screen(web) {
            padding: rem($padding32px $padding48px $padding20px);
          }
        }
        .c-pop-msg__contents {
          margin: 0;
          padding: 0;
          max-height: fit-content;
          @include screen(web) {
            margin-bottom: rem($margin32px);
          }
          .thinkq-popup {
            padding: rem(0 $padding24px $padding16px);
            border-bottom: rem($border1) solid $mid-gray1;
            @include screen(web) {
              padding: rem(0 $padding48px $padding48px);
              min-width: rem(600px);
            }
            .c-modal {
              &__box {
                height: auto;
                border: none;
                border-radius: 0;
                .c-result {
                  padding-top: rem($padding24px);
                  margin-bottom: rem($margin12px);
                  @include screen(web) {
                    padding-top: rem($padding66px);
                  }
                  &__number {
                    padding-right: rem(3px);
                  }
                }
              }
              &__content {
                padding: 0;
                position: relative;
                &-scroll-box {
                  padding: 0;
                  overflow-y: visible;
                  .carousel {
                    .swiper {
                      position: static;
                      .c-carousel__handler {
                        right: 0;
                        top: rem(48px);
                        margin-top: 0;
                        .c-carousel__button {
                          width: rem(36px) !important;
                          height: rem(36px) !important;
                        }
                      }
                    }
                    .swiper-wrapper {
                      align-items: stretch;
                      flex-wrap: wrap;
                      gap: rem(10px);
                      @include screen(web) {
                        flex-wrap: nowrap;
                        gap: 0;
                      }
                      .c-prd__top {
                        flex: 0 0 rem(48px);
                      }
                      .thinkq-image {
                        .cmp-image {
                          @include screen(web) {
                            max-width: rem(160px);
                            max-height: rem(160px);
                            margin: 0 auto;
                          }
                        }
                      }
                      .swiper-slide {
                        display: flex;
                        justify-content: flex-start;
                        box-sizing: border-box;
                        border-radius: rem($radius20);
                        width: 100%;
                        background-color: #fff;
                        padding: 0;
                        @include screen(web) {
                          background-color: transparent;
                        }
                        .c-text-contents {
                          border: rem(2px) solid transparent;
                          display: flex;
                          flex-direction: column;
                          width: 100%;
                          background: $white;
                          border-radius: rem($radius20);
                          &:focus-visible {
                            outline: 0;
                            outline-offset: 0;
                          }
                          &:hover {
                            background: $gray58;
                            .c-prd-info {
                              &__text {
                                color: $white;
                              }
                              &__inner {
                                dl {
                                  dt,
                                  dd {
                                    color: $white;
                                  }
                                }
                              }
                            }
                          }
                          @include screen(web) {
                            width: auto;
                          }
                        }
                        &--active {
                          .c-text-contents {
                            border: rem(2px) solid $black;
                          }
                        }
                        .c-prd {
                          display: flex;
                          padding: rem($padding20px);
                          gap: rem(20px);
                          background: none;
                          border: none;
                          outline: none;
                          cursor: pointer;
                          &:focus {
                            border: none;
                            outline: none;
                          }
                          @include screen(web) {
                            display: block;
                            padding: rem($padding26px);
                          }
                          &-info {
                            $c-prd-info: '.c-prd-info';
                            &__text {
                              text-align: left;
                              display: none;
                              @include screen(web) {
                                margin-top: rem($margin12px);
                                display: block;
                              }
                            }
                            &__type-grid {
                              display: grid;
                              grid-template-columns: none;
                              gap: 0 rem(20px);
                              @include screen(web) {
                                display: grid !important;
                                grid-template-columns: rem(135px) 1fr;
                                gap: rem(16px);
                                margin-top: rem($margin16px);
                              }
                              #{$c-prd-info}__text {
                                margin-bottom: rem($margin12px);
                                @include ellipsis(2);
                                @include screen(web) {
                                  grid-row: 1 / 4;
                                  order: 1;
                                  @include ellipsis(5);
                                }
                              }
                              #{$c-prd-info}__inner {
                                @include screen(web) {
                                  grid-column: 1 / 3;
                                }
                              }
                            }
                            &__inner {
                              display: flex;
                              flex-wrap: wrap;
                              gap: rem(12px 20px);
                              @include screen(web) {
                                gap: rem(16px);
                              }
                              dl {
                                flex: 1 1 44%;
                                text-align: left;
                                margin: 0;
                                word-break: break-word;
                                dt {
                                  line-height: rem(18px);
                                  color: $gray6;
                                  margin-bottom: rem($margin4px);
                                }
                                dd {
                                  color: $black;
                                  margin-bottom: rem($margin12px);
                                  span {
                                    margin-left: rem($margin8px);
                                  }
                                }
                                &:nth-child(odd) {
                                  position: relative;
                                  &:after {
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    top: 0;
                                    bottom: 0;
                                    right: 0;
                                    width: rem(1px);
                                    height: 100%;
                                    background-color: $mid-gray1;
                                    @include screen(web) {
                                      display: none;
                                    }
                                  }
                                }
                                &:last-child {
                                  &:after {
                                    display: none;
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            &.disableSwiper {
              .c-modal__content-scroll-box .carousel .swiper-wrapper {
                gap: rem(10px);
                @include screen(web) {
                  gap: rem(30px);
                }
              }
            }
          }
        }
        .c-pop-msg__borderbottom {
          padding: rem($padding16px $padding16px);
          @include screen(web) {
            padding: rem($padding32px 0 0 $padding48px);
          }
        }
      }
    }
    .toast-popup {
      position: absolute;
      bottom: rem(60px);
      width: 100%;
      z-index: 5;
      padding: 0 rem(16px);
      @include screen(web) {
        bottom: rem(-54px);
        padding: 0;
      }
    }
  }
}
