@charset "UTF-8";
@use '../../scss/abstract/' as *;
// component
$component: '.ML000E';
$common-side-padding-m: rem(16px);
#{$component} {
  &.c-wrapper {
    overflow: visible; // sticky 적용위함
  }
  @include screen(web) {
    .font-w-normal-12 {
      font-size: rem(12px);
      line-height: rem(12px);
      font-weight: $font-regular;
    }
    .font-w-light-32 {
      font-size: rem(32px);
      line-height: rem(36px);
      font-weight: $font-light;
    }
    .font-w-semibold-24 {
      font-size: rem(24px);
      line-height: rem(28px);
      font-weight: $font-semibold;
    }
  }
  @include screen(mobile) {
    .font-m-normal-14 {
      font-size: rem(14px);
      line-height: rem(20px);
      font-weight: $font-regular;
    }
    .font-m-semibold-16 {
      font-size: rem(16px);
      line-height: rem(18px);
      font-weight: $font-semibold;
    }
    .font-m-normal-12 {
      font-size: rem(12px);
      line-height: rem(14px);
      font-weight: $font-regular;
    }
    .font-m-semibold-14 {
      font-size: rem(14px);
      line-height: rem(20px);
      font-weight: $font-semibold;
    }
  }
  .component > .fluid-container {
    margin: 0 auto;
    padding-bottom: rem($padding24px);
    @include screen(web) {
      padding-bottom: rem($padding64px);
    }
  }
  & .my-component {
    $mycomponent: '.my-component';
    position: relative;
    @include inset-padding-hz;
    @include container($design-grid-full, true);
    &--maximum {
      max-width: 100%;
      padding: 0;
    }
    &.my-summary-area {
      @include container($text-box-width-lg, false);
      margin: 0 auto;
      gap: 0;
      @include screen(mobile) {
        flex-flow: column;
        padding-right: 0;
        padding-left: 0;
      }
      .my-summary-area__secondary {
        width: 100%;
        padding: rem($padding20px $padding16px 0);
        @include screen(web) {
          padding: 0;
          margin-top: rem($margin24px);
          &:not(:first-child) {
            border-top: 0;
          }
        }
        .required {
          padding-bottom: rem($padding10px);
          color: $gray6;
          text-align: right;
        }
      }
    }
    .c-cta {
      justify-content: center;
      margin-top: rem($margin24px);
      @include screen(web) {
        margin-top: rem($margin32px);
      }
      .cmp-button {
        flex: 1;
        @include screen(web) {
          flex: initial;
        }
      }
    }
    .my-return-info__fold-btn + .c-cta {
      margin-top: rem($margin30px);
      margin-bottom: rem($margin30px);
      @include screen(mobile) {
        flex-direction: column;
        gap: rem(6px);
      }
      @include screen(web) {
        margin-top: rem($margin40px);
      }
    }
    > .my-summary-area + .c-cta:last-child {
      margin-top: rem($margin30px);
      @include screen(web) {
        margin-top: rem($margin40px);
      }
      .c-button {
        @include screen(mobile) {
          margin-bottom: 0;
        }
      }
    }
    .my-orderlist__item--count__box + .my-orderlist__btn {
      .c-cta {
        margin-top: 0;
      }
    }
  }
  .my-return-info__item {
    &:not(:first-child) {
      margin-top: rem($margin16px);
      @include screen(web) {
        margin-top: rem($margin24px);
      }
    }
    // [Start] LGCOMCI-880
    input {
      &[type='text'] {
        &[readonly] {
          color: $mid-gray1;
          background-color: $ivory6;
          &::placeholder {
            color: $grayb;
          }
        }
      }
    }
    // [End] LGCOMCI-880
    .my-accodion {
      &--main {
        &:last-child {
          border-bottom: 0;
        }
      }
      .c-accordion {
        &__body {
          padding-bottom: 0;
        }
      }
    }
  }
  .button.my-button__block-m {
    @include screen(mobile) {
      gap: 0;
      display: flex;
      flex-direction: column-reverse;
      .cmp-button {
        width: 100%;
        &:last-child {
          margin-top: 0;
        }
        &:first-child {
          margin-top: rem($margin6px);
        }
      }
    }
  }
  .my-return-detail {
    @include screen(mobile) {
      margin-bottom: 0;
      padding: 0;
    }
    &__desc {
      @include screen(mobile) {
        display: table;
      }
      @include screen(custom, rem($mobile + 2px), min) {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
      }
    }
    &__desc-item {
      display: table-row;
      @include screen(web) {
        display: flex;
        align-items: center;
        white-space: nowrap;
      }
      &:not(:last-child) {
        margin-right: rem($margin10px);
        @include screen(custom, rem($mobile + 2px), max) {
          margin-right: 0;
        }
        &:after {
          display: inline-block;
          content: '';
          clear: both;
          width: rem(1px);
          height: rem(14px);
          background: $mid-gray1;
          margin-left: rem($margin10px);
          @include screen(custom, rem($mobile + 2px), max) {
            display: none;
          }
        }
      }
    }
    &__title {
      @include screen(mobile) {
        min-width: rem(63px);
        padding-right: rem($padding10px);
      }
    }
    &__num {
      margin-left: rem($margin8px);
      color: $black;
    }
    &__headbox {
      margin: 0 (-$common-side-padding-m);
      @include container($design-grid-full, true);
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      @include screen(mobile) {
        flex-flow: column;
      }
      @include screen(web) {
        padding-top: rem($padding10px);
        padding-bottom: rem($padding10px);
        padding-left: rem($block-margin-w);
        padding-right: rem($block-margin-w);
      }
      &--wrap {
        background: $light-gray3;
        @include screen(mobile) {
          padding: rem($padding20px) $common-side-padding-m;
        }
      }
      .button {
        width: 100%;
        text-align: left;
        @include screen(mobile) {
          margin-top: rem($margin12px);
        }
        @include screen(web) {
          text-align: right;
        }
      }
    }
    &__txtbox {
      display: flex;
      align-items: flex-start;
      flex-flow: column;
      justify-content: space-between;
      span {
        display: table-cell;
      }
      @include screen(web) {
        span {
          display: block;
        }
      }
    }
    &__product {
      display: flex;
      align-items: flex-start;
    }
    .my-orderDetail {
      margin-top: rem($margin24px);
    }
    .c-cta {
      justify-content: center;
      margin-top: rem($margin20px);
      @include screen(web) {
        margin-top: rem($margin24px);
      }
    }
    .my-detail-product + .c-cta {
      margin-top: rem($margin20px);
      @include screen(web) {
        margin-top: rem($margin40px);
      }
    }
  }
  .my-order {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: $ivory6;
    padding: rem($padding12px) rem($padding25px);
    border-radius: 0;
    margin-bottom: rem($margin20px);
    @include screen(web) {
      margin-bottom: rem($margin30px);
      padding: rem($padding10px);
      border-radius: rem($radius8);
    }
    .c-button.red::after {
      background-image: url($icon-arrow-red-right-6-10);
    }
    &-container.my-product-list {
      .my-orderlist {
        max-width: none;
      }
    }
  }
  @mixin container-box($device) {
    margin-top: rem($margin12px);
    padding: rem($padding20px $padding16px);
    @include lgness-radius('all');
    background-color: $white;
    @if $device== 'web' {
      margin-top: rem($margin20px);
      padding: rem($padding24px);
    } @else {
      &:not(:first-child) {
        margin-top: rem($margin12px);
      }
    }
  }
  .my-return-info__container {
    @include screen(web) {
      @include container-box('web');
    }
    &--none-bg {
      padding: 0;
      margin: 0;
      background-color: transparent;
      .my-return-info {
        padding: 0;
        margin: 0;
        background-color: transparent;
      }
    }
  }
  .my-return {
    &-info {
      @include screen(mobile) {
        @include container-box('mobile');
      }
      @include screen(web) {
        &:not(:first-child) {
          margin-top: rem($margin24px);
        }
      }
      .c-text-contents {
        padding-bottom: rem($padding12px);
        margin-bottom: rem($margin12px);
        border-bottom: rem($border1) solid $graycb;
        @include screen(web) {
          margin-bottom: rem($margin24px);
          padding-bottom: rem($padding24px);
        }
        &__title {
          display: flex;
          justify-content: space-between;
          .cmp-button {
            span {
              font-size: rem(14px);
              @include screen(web) {
                font-size: rem(16px);
              }
            }
          }
        }
        &__bodycopy {
          display: flex;
          justify-content: space-between;
          color: $gray6;
          margin-top: rem($margin6px);
          @include screen(web) {
            margin-top: rem($margin8px);
          }
        }
      }
      .my-formFile {
        .my-formFile__upload {
          display: flex;
          flex-direction: column;
          gap: rem(8px);
          margin-top: rem($margin8px);
          @include screen(web) {
            flex-direction: row;
          }
        }
        &__title {
          margin-bottom: rem($margin8px);
          color: $gray3;
        }
      }
      .my-input ul {
        li + li {
          margin-top: rem($margin16px);
          @include screen(web) {
            margin-top: rem($margin24px);
          }
        }
      }
      .c-input-item label,
      .c-search-box__form label,
      .my-formFile__title {
        font-size: rem(14px);
        line-height: rem(16px);
        font-weight: $font-regular;
        @include screen(web) {
          font-size: rem(16px);
          line-height: rem(18px);
        }
        .c-required {
          margin-left: rem(2px);
          color: $active-red;
          font-size: inherit;
          font-weight: inherit;
          line-height: inherit;
          @include screen(web) {
            margin-left: rem($margin4px);
          }
        }
      }
      .c-input-item {
        position: relative;
      }
      .c-search-box__form {
        @include screen(web) {
          flex-direction: column;
          gap: 0;
        }
        .my-input__info {
          color: $gray6;
          margin-top: rem($margin8px);
          @include screen(web) {
            margin-top: rem($margin6px);
          }
          li {
            font-size: rem(14px);
            line-height: rem(14px);
            @include screen(web) {
              line-height: rem(20px);
            }
          }
        }
        & + .c-search-box__form {
          margin-top: rem($margin20px);
        }
      }
      .my-input__info {
        @include reset-list-style;
      }
      .my-formFile {
        input:focus-visible ~ label .btn-upload,
        input:focus ~ label .btn-upload {
          outline: rem($border1) solid $black;
          outline-offset: -rem(2px);
        }
        label:not(.c-not-required) {
          color: $gray3;
          margin-bottom: rem($margin8px);
        }
        &__inner {
          display: flex;
          gap: rem(8px);
          align-items: flex-start;
          @include screen(web) {
            gap: rem(16px);
          }
          input:focus-visible + label {
            outline: rem($border1) solid currentcolor;
          }
          label.c-not-required {
            width: 100%;
            @include screen(web) {
              width: inherit;
            }
          }
        }
        .btn-upload {
          height: rem(40px);
          background: $white;
          border: rem($border1) solid $gray3;
          border-radius: $radius6;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: $font-bold;
          width: 100%;
          @include screen(web) {
            width: rem(103px);
          }
        }
        &__preview {
          flex: 1;
          &-item {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: rem($height48px);
            padding-left: rem($padding16px);
            // [Start] 2023-04-25 : UPDATE - modified background color, remove border */
            background-color: $ivory6;
            // [End] 2023-04-25 : UPDATE - modified background color, remove border */
            border-radius: rem($radius12);
            @include screen(web) {
              height: rem($height44px);
            }
            &:not(:first-child) {
              margin-top: rem($margin10px);
            }
          }
          &__btn-delete {
            display: inline-block;
            // [Start] 2023-04-25 : UPDATE - modified background size */
            background: url($icon-close-black-16-16) center/rem(14px) rem(14px) no-repeat;
            // [End] 2023-04-25 : UPDATE - modified background size */
            position: absolute;
            top: calc(50% - 0.5rem);
            right: rem(19px);
            width: rem(16px);
            height: rem(16px);
            border: none;
            cursor: pointer;
            @include screen(web) {
              right: rem(16px);
            }
          }
          p {
            padding: rem($padding8px) rem(48px) rem($padding8px) 0;
            position: relative;
            color: $black;
            // [Start] 2023-04-25 : ADD - font size */
            font-size: rem(16px);
            line-height: rem(20px);
            // [End] 2023-04-25 : ADD - font size */
            @include screen(web) {
              padding-top: rem($padding10px);
            }
            span {
              color: $black;
            }
          }
        }
        &__remove {
          cursor: pointer;
          border: none;
          text-indent: -9999px;
          position: absolute;
          top: 50%;
          right: rem(19px);
          transform: translate(0, -50%);
          background: rgb(0 0 0 / 0%) url($icon-close-black-12-12) center / contain no-repeat;
          background-size: rem(10px);
          line-height: rem(10px);
        }
        &__msg {
          margin-top: rem($margin6px);
          color: $mid-gray3;
          @include screen(web) {
            color: $mid-gray2;
          }
        }
        &__btn {
          display: inline-block;
          padding: 0 rem($padding20px);
          min-width: rem(52px);
          min-height: rem(44px);
          border-radius: rem(100px);
          border: rem($border1) solid $mid-gray2;
          cursor: pointer;
          @include screen(web) {
            border-color: $mid-gray1;
          }
          &-upload {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            font-size: rem(16px);
            font-weight: $font-semibold;
            color: $black;
            @include screen(web) {
              width: inherit;
            }
          }
          &-add {
            background: url($icon-plus-black-16-16) no-repeat 50%;
            background-size: rem(20px 20px);
          }
        }
      }
      &__desc {
        margin-top: rem($margin12px);
        margin-bottom: rem($margin40px);
        color: $gray6;
        @include screen(mobile) {
          p + p {
            margin-top: rem($margin20px);
          }
        }
      }
      &__fold-btn {
        &.disabled {
          color: $gray9;
          padding-bottom: rem($padding20px);
          border-bottom: rem($border1) solid $graye6;
          @include screen(web) {
            padding-bottom: rem($padding12px);
          }
        }
      }
      .c-checkbox-item {
        label.checkbox {
          .c-button.c-button--text-underline {
            margin-right: 0;
          }
        }
      }
    }
    &-accordion {
      .c-accordion__button {
        margin-right: rem($margin2px);
        &:after {
          width: rem(16px);
          height: rem(9px);
        }
      }
    }
    &-disclaimer {
      &__txtbox {
        margin-top: rem($margin12px);
        padding: rem(0 $padding16px);
        @include screen(web) {
          padding: 0;
        }
        .text {
          display: flex;
          align-items: center;
          padding: rem($padding12px $padding16px);
          border-radius: rem($radius12);
          box-shadow: rem(0) rem(4px) rem(4px) rgb(0 0 0 / 5%);
          background-color: $light-gray3;
          @include screen(web) {
            padding: rem($padding24px);
          }
          span {
            display: flex;
            line-height: rem(14px);
            color: $gray3;
            @include screen(web) {
              line-height: rem(20px);
            }
          }
        }
      }
    }
  }
  .my-option-list {
    margin-top: rem($margin10px);
    @include screen(web) {
      margin-top: rem($margin12px);
    }
    .c-sibling-option {
      &--single {
        display: block !important;
      }
      &__definition {
        line-height: rem(16px);
        @include screen(web) {
          line-height: rem(22px);
        }
      }
      &__desc {
        margin-top: 0;
        line-height: rem(20px);
        @include screen(web) {
          margin-top: rem($margin4px);
          line-height: rem(22px);
        }
      }
    }
  }
  .c-button[class*='-box'].disabled:not(.c-button[class*='-box'][class*='-box-outlined']) {
    color: $grayb;
    background-color: $gray9;
  }
  .c-select-item select {
    color: $black;
    &:disabled {
      color: $graycb;
      font-size: rem(16px);
      line-height: rem(18px);
      font-weight: $font-regular;
      background-color: $ivory6;
      @include screen(web) {
        line-height: rem(20px);
      }
    }
  }
  .my-input {
    text-align: left;
    ul {
      @include reset-list-style;
      .c-input-item {
        position: relative;
        label {
          color: $gray3;
        }
        .my-input__password {
          padding-right: rem($padding45px);
        }
        &.active {
          .my-form__eye {
            background: url($icon-mylg-view-on-24-24) center / contain no-repeat;
          }
        }
      }
    }
    // [Start] 2023-04-25 : ADD - input warning case */
    .my-warn {
      border-color: $active-red;
      select {
        border-color: $active-red;
      }
    }
    // [End] 2023-04-25 : ADD - input warning case */
    input {
      padding: rem($padding9px) rem($padding16px);
      height: auto;
      text-overflow: ellipsis;
      @include screen(web) {
        font-size: rem(14px);
      }
      &[type='date'] {
        position: relative;
        background: url($icon-calendar-black-20-19) no-repeat right rem(16px) center;
        background-size: rem(20px) rem(19px);
        background-color: $white;
        &::-webkit-clear-button,
        &::-webkit-inner-spin-button {
          display: none;
        }
        &::-webkit-calendar-picker-indicator {
          cursor: pointer;
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: transparent;
          color: transparent;
        }
        &::before,
        &:focus::before {
          content: attr(placeholder);
          width: 100%;
        }
        &:valid::before {
          content: normal;
        }
      }
      &[data-placeholder]::before {
        color: $gray6;
        font-size: rem(14px);
      }
      &[type='password'] {
        padding-right: rem($padding45px);
      }
      &[readonly] {
        color: $mid-gray1;
        background-color: $ivory6;
        &::placeholder {
          color: $grayb;
        }
      }
      &[disabled] {
        background-color: $ivory6;
        color: $grayb;
        &::placeholder {
          color: $grayb;
        }
      }
    }
    .input-button__container {
      display: flex;
      gap: 0 rem(8px);
      .button {
        margin: 0;
        @include screen(web) {
          min-width: rem(107px);
          .c-button[class*='-box-outlined'].medium {
            padding: 0;
            width: 100%;
            span {
              font-size: rem(12px);
            }
          }
        }
        .cmp-button {
          @include screen(mobile) {
            padding: 0 rem($padding12px);
            width: 100%;
            height: 100%;
            font-size: rem(12px);
          }
        }
      }
      input {
        @include screen(mobile) {
          flex: 1;
        }
      }
      &--validation {
        .my-button-validation {
          flex: 1;
        }
      }
    }
    .c-text-contents {
      margin-bottom: rem($margin30px);
      @include screen(web) {
        margin-bottom: rem($margin40px);
      }
      &__bodycopy {
        margin: 0 auto;
        margin-top: rem($margin10px);
        max-width: rem(450px);
      }
    }
    .button {
      justify-content: center;
      margin-top: rem($margin30px);
    }
    .my-form {
      &__search {
        padding-right: rem($padding50px);
        &__icon {
          display: inline-block;
          background: url($icon-search-black-24-24) center / rem(21px) rem(21px) no-repeat;
          position: absolute;
          top: 50%;
          right: rem(16px);
          width: rem($width24px);
          height: rem($height24px);
          border: none;
          cursor: pointer;
          @include screen(web) {
            background: url($icon-search-black-24-24) center / rem(16px) rem(16px) no-repeat;
            top: 53%;
          }
        }
      }
    }
    .c-warning,
    .c-valid {
      padding-left: 0;
      margin-top: rem($margin6px);
      margin-left: rem($margin13px);
      line-height: rem(14px);
      &::before {
        display: none;
      }
      & + .c-warning,
      & + .c-valid {
        margin-top: 0;
      }
    }
  }
  .my-toastPopup.my-component {
    padding: 0 rem($padding16px);
    @include screen(web) {
      padding-left: rem($block-margin-w);
      padding-right: rem($block-margin-w);
    }
  }
  .toast-popup {
    margin: rem($margin20px) auto 0;
    @include screen(web) {
      margin-top: rem($margin24px);
    }
  }

  /* ES OrderDetail */
  .title + .my-accodion {
    margin-top: rem($margin20px);
  }
  .my-accodion {
    &--main {
      &:last-child {
        border-bottom: rem($border1) solid #cbc8c2;
      }
    }
    .c-accordion {
      &__head {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: rem($border1) solid #cbc8c2;
        &-text {
          padding: rem($padding16px) 0;
          margin: 0;
          border: 0;
          @include screen(web) {
            padding: rem($padding20px) 0;
          }
        }
      }
      &__body {
        padding-bottom: rem($padding16px);
        @include screen(web) {
          padding-bottom: rem($padding24px);
        }
      }
      &__button {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @include screen(web) {
          align-items: center;
          padding-right: 0;
          padding-top: 0;
        }
      }
      .my-return-info {
        margin-top: 0;
        &__container {
          margin-top: 0;
        }
        &__text-box {
          & + .my-return-info__text-box {
            margin-top: rem($margin8px);
          }
          & + .my-accodion--sub {
            margin-top: rem($margin20px);
          }
          .c-text-contents + .my-return-info__list {
            margin-top: rem($margin8px);
          }
          .my-return-info__list {
            @include reset-list-style;
            &--dot {
              li {
                position: relative;
                padding-left: rem($padding16px);
                &::before {
                  position: absolute;
                  left: 0;
                  top: rem(9px);
                  display: block;
                  content: '';
                  width: rem(3px);
                  height: rem(3px);
                  background-color: $gray3;
                  border-radius: 50%;
                }
              }
            }
            &--alphabet {
              li {
                display: flex;
                & + li {
                  margin-top: rem($padding8px);
                }
                .my-return-info__list__style {
                  padding-right: rem($padding4px);
                }
              }
            }
            &--data {
              @include screen(web) {
                margin: rem($margin8px) 0 0;
              }
            }
          }
          .c-text-contents {
            padding: 0;
            margin: 0;
            border-bottom: 0;
            &__headline {
              color: $black;
            }
            &__bodycopy {
              margin-top: 0;
              color: $gray3;
              .font-w-normal-16 {
                @include screen(web) {
                  line-height: rem(20px);
                }
              }
              .font-m-normal-16 {
                @include screen(mobile) {
                  line-height: rem(20px);
                }
              }
            }
            & + .my-return-info__text-box__personal-data {
              margin-top: rem($margin8px);
              @include screen(web) {
                margin-top: rem($margin24px);
              }
            }
          }
        }
      }
    }
    &--sub {
      .c-accordion {
        &__box[open] {
          .c-accordion__head {
            &::after {
              transform: rotate(180deg);
            }
          }
        }
        &__head {
          &::after {
            content: '';
            display: block;
            width: rem($width12px);
            height: rem($height7px);
            background : {
              image: url($icon-arrow-gray3-down-12-7);
              repeat: no-repeat;
              size: 100% auto;
            }
            @include screen(web) {
              width: rem($width18px);
              height: rem($height10px);
              background-image: url($icon-arrow-gray3-down-18-10);
            }
            .c-wrapper.bg-darkgray &,
            .c-wrapper.bg-black & {
              background-image: url($icon-arrow-white-down-12-7);
              @include screen(web) {
                background-image: url($icon-arrow-white-down-18-10);
              }
            }
          }
        }
        &__body {
          display: block;
        }
      }
    }
  }
  .c-details-toggle {
    & + .c-details-toggle {
      margin-top: rem($margin16px);
      @include screen(web) {
        margin-top: rem($margin20px);
      }
    }
    &[open] {
      .c-details-toggle__head::after {
        transform: rotateX(180deg);
      }
    }
    &__head {
      list-style-type: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: rem(6px);
      padding: rem($padding12px) rem($padding13px);
      &::-webkit-details-marker {
        display: none;
      }
      &::after {
        content: '';
        display: block;
        width: rem($width10px);
        height: rem($height6px);
        background : {
          image: url($icon-arrow-gray3-down-12-7);
          repeat: no-repeat;
          size: 100% auto;
        }
        .c-wrapper.bg-darkgray &,
        .c-wrapper.bg-black & {
          background-image: url($icon-arrow-white-down-12-7);
        }
      }
      .c-text-contents {
        padding: 0;
        margin: 0;
        border-bottom: 0;
        .font-w-semibold-16 {
          @include screen(web) {
            line-height: rem(16px);
          }
        }
        .font-m-semibold-14 {
          @include screen(mobile) {
            line-height: rem(14px);
          }
        }
      }
    }
    &__body {
      padding: 0 rem($padding13px);
      .c-image {
        margin-top: rem($margin4px);
        text-align: left;
        @include screen(web) {
          margin-top: rem($margin8px);
        }
        &__img {
          width: auto;
          max-width: 100%;
        }
      }
    }
  }
}
