@charset "UTF-8";
@use '../../scss/abstract/' as *;
@use '../CS0000/CS0000' as *;

// component
$component: '.CS0121';
#{$component} {
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  $tab-container: '.container';
  $mobile-width: calc(100% - rem($margin25px * 2));
  overflow: initial;

  &__container {
    @include flex-context;
    @include container($design-grid-full, true);
    @include inset-padding-hz(mobile);
    @include screen(web) {
      @include flex-context;
      padding: rem(0 24px);
    }
    @include screen(tablet) {
      @include inset-padding-hz;
    }
  }

  // COMMON - .c-cs-header
  #{$cs-header} {
    a {
      color: $red;
      text-decoration: underline;
    }

    @at-root #{$component} #{$cs-header} {
      #{$text-contents} {
        // text-align: center;
      }

      #{$text-contents}__headline + #{$text-contents}__bodycopy {
        margin-top: rem($margin6px);

        @include screen(web) {
          margin-top: rem($margin8px);
        }
      }
    }
  }

  .second__container {
    margin-top: rem(12px);
    @include screen(web) {
      margin-top: rem(28px);
    }
  }
  > .component > .cmp-container {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: rem($margin20px);
    @include screen(web) {
      align-items: center;
      flex-direction: row;
      .button__group {
        flex-shrink: 0;
      }
    }

    &.align-left {
      @include screen(web) {
        flex-direction: row;
      }
    }

    &.align-right {
      @include screen(web) {
        flex-direction: row-reverse;
      }
    }
  }

  // block : c-text-contents
  .c-text-contents {
    display: flex;
    flex-direction: column;
    gap: rem($margin4px);
    // max-width: rem($text-box-width-md);

    &__subtitle {
      margin-top: rem($margin6px);
    }

    &__bodycopy {
      color: $mid-gray3;
    }

    * + .c-cta {
      margin-top: rem($margin24px);
    }
  }

  // block : c-cta
  .c-cta {
    flex-shrink: 0;
  }

  &.bg-darkgray,
  &.bg-black {
    .c-text-contents__bodycopy {
      color: $white;
    }
  }

  @at-root #{$component} {
    &.width-wide {
      max-width: 1920px;
      margin: 0 auto;
    }

    &.width-narrow {
      max-width: 1600px;
      margin: 0 auto;
    }

    &.width-content {
      max-width: 1440px;
      margin: 0 auto;
    }

    &.border-top {
      border-top: 1px solid $mid-gray1 !important;
    }

    &.border-bottom {
      border-bottom: 1px solid $mid-gray1;
    }
  }
  .cmp-contents-box {
    width: 100%;
    padding: rem(20px);
    border-radius: rem(28px);
    background-color: $light-gray3;

    @include screen(web) {
      padding: rem(28px);
    }

    &__title {
      color: $mid-gray3;
      margin-top: rem(8px);
      &:first-of-type {
        margin-top: 0;
      }
      @include screen(web) {
        margin-top: rem(16px);
      }
    }

    &__text {
      color: #4a4946;
    }
  }

  .cmp-contents-box.type-white {
    background-color: $white;
  }

  .cmp-contents-box.type-scroll {
    overflow-y: auto;
    max-height: rem(320px);
    box-sizing: border-box;
    padding-right: 0;
    &::-webkit-scrollbar {
      width: 40px;

      @include screen(web) {
        width: 20px;
      }
    }

    &::-webkit-scrollbar-thumb {
      background: #646464;
      border-radius: rem($radius99);
      border: 17px solid rgba(255, 255, 255, 1);

      @include screen(web) {
        border: 7px solid rgba(255, 255, 255, 1);
        border-radius: rem($radius28);
      }
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0);
    }
    &::-webkit-scrollbar-button:start:decrement,
    &::-webkit-scrollbar-button:end:decrement {
      display: block;
      width: rem(4px);
      height: rem(4px);
      background: rgba($black, 0);

      @include screen(web) {
        height: rem(12px);
      }
    }
  }

  .live-remote-service {
    display: block;
    width: 100%;
    padding-bottom: rem(24px);
    margin-bottom: rem(24px);
    border-bottom: 1px solid #e2ded7;
    @include screen(web) {
      padding-bottom: rem(52px);
      margin-bottom: rem(52px);
    }

    .c-cs-header {
      margin-top: rem(12px);
      .cmp-text {
        color: $gray6;
      }
      @include screen(web) {
        margin-top: rem(20px);
      }
    }
  }
  .policyList__demical {
    padding-left: rem($padding12px);
    @include screen(web) {
      padding-left: rem($padding20px);
    }
    > li {
      list-style-type: demical;
      list-style-position: outside;
    }
  }
  .policyList__basic {
    padding-left: rem($padding12px);
    @include screen(web) {
      padding-left: rem($padding20px);
    }
    > li {
      list-style-type: none;
    }
  }
}
