@charset "UTF-8";
@use '../../scss/abstract/' as *;
@use '../CS0000/CS0000' as *;

// component
$component: '.CS0040';

#{$component} {
  // variable
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  $image: '.c-image';
  $mobile-width: calc(100% - rem($margin25px * 2));

  button {
    background: inherit;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    overflow: visible;
    cursor: pointer;
  }

  &.c-wrapper {
    overflow: initial;
  }

  &__container {
    @include flex-context;
    @include container($design-grid-full, true);
    @include inset-padding-hz;
  }

  // Support HEADER
  #{$cs-header} {
    // margin-bottom: rem($margin12px);
    a {
      color: $red;
      text-decoration: underline;
    }

    @include screen(web) {
      // margin-bottom: rem($margin60px);
      display: flex;
    }

    @at-root #{$component} #{$cs-header} {
      #{$text-contents} {
        // text-align: center;
      }

      #{$text-contents}__headline + #{$text-contents}__bodycopy {
        margin-top: rem($margin6px);

        @include screen(web) {
          margin-top: rem($margin10px);
        }
      }
    }
  }

  .c-cta {
    display: block;
    margin-top: rem($margin20px);
  }

  .type-grid {
    #{$component}__container {
      padding-bottom: 0;
    }

    @include screen(web) {
      #{$cs-header} {
        // margin-bottom: rem($margin20px);
      }

      &:not(.type-tabs) {
        .c-prd-grid {
          grid-gap: rem(24px);
          display: grid;

          &.c-small-size {
            li {
              padding: rem($padding45px $padding60px);
              display: flex;
              align-items: center;
              width: 100%;

              .cmp-image {
                margin-right: rem($margin32px);
              }

              .c-text-contents__description {
                width: 100%;
              }

              img {
                width: rem(60px);
                height: rem(60px);
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    .c-model-contents {
      margin-top: rem($margin16px);
      // text-align: center;
      font-weight: $font-bold;
      // text-transform: uppercase;

      a {
        display: flex;
        align-items: center;
        // padding-right: rem($padding16px);
        justify-content: center;
        text-decoration: underline;

        &.find-number {
          img {
            margin-right: rem($margin4px);
          }
          cursor: pointer;
          font-size: rem(14px);
        }
      }

      @include screen(web) {
        margin-top: 0;
        flex: none;
        a {
          max-width: none;
          justify-content: flex-end;
          &.find-number {
            font-size: rem(16px);
          }
        }
      }
    }

    .c-tabs {
      // @include screen(web) {
      //     padding-top: rem($padding40px);
      // }
      &__desc {
        margin-top: rem($margin8px);
        color: $mid-gray2;
        text-align: left;
      }

      &__tablist {
        @include screen(web) {
          gap: rem(40px);
        }

        gap: rem(15px);

        .cmp-tabs {
          &__tab {
            color: $gray3;
            a {
              text-decoration: none;
            }
            &--active {
              color: $black;
              &:focus-visible {
                // outline-color: $red;
              }
              &:after {
                // width: calc(100% - 20px);
                position: inherit;
              }
            }
            @include screen(web) {
              margin: rem($margin5px);
            }
          }
        }
      }
    }
  }

  .searchbar {
    border-radius: rem($radius8);
    padding: rem(0 0 $padding28px);
    position: relative;
    // @include screen(web) {
    //   position: relative;
    // }

    input {
      @include inputHeight56;
      @include screen(web) {
        padding: rem($padding16px $padding16px $padding18px $padding58px);
      }
    }

    .fieldIcons {
      &__root {
        position: relative;
      }
      &__before {
        content: '';
        z-index: $stacking-floor;
        @include position(50%, 50%);
        left: rem($padding30px);
        transform: translate(-50%, -50%);
        width: rem(18px);
        height: rem(18px);
        background-repeat: no-repeat;
        @include screen(web) {
          width: rem($width24px);
          height: rem($height24px);
          // background-size:rem(24px);
          background-image: url($icon-search-black-24-24);
        }
      }
    }
    input {
      max-width: none;
      @include inputHeight56;
      // @include input;
      @include screen(web) {
        padding: rem($padding16px $padding17px) !important;
      }
    }
  }
  .searchBar__infoMsg {
    color: $mid-gray3;
    margin-top: rem($margin28px);
    margin-bottom: rem($margin12px);
    @include screen(web) {
      margin-top: rem($margin24px);
      margin-bottom: rem($margin8px);
    }
  }
  .searchLayer {
    position: absolute;
    bottom: 1px;
    width: 100%;
    height: 100%;
    top: 0;
    background: $warm-gray;
    left: 0;
    z-index: 1;
    display: none;
    @include screen(mobile) {
      overflow-y: auto;
      top: rem(64px);
      bottom: auto;
      height: fit-content;
      max-height: rem(210px);
      background-color: $white;
      border-radius: rem($radius20);
      box-shadow: rem(2px 4px 12px 0) rgba(0, 0, 0, 0.14);
    }
    &.c-display {
      display: block;
      z-index: 29 !important;
    }
    #searchbar {
      // width: calc(100% - rem(45 + 36px));
      width: 100%;
      padding: rem($padding8px $padding12px 0);
      // display: flex;
      display: none;
      gap: rem(12px);
      input {
        padding: rem($padding16px $padding50px $padding16px $padding17px);
      }
      .searchBar {
        &__searchInner {
          // border: 1px solid blue;
          width: 100%;
        }
      }

      button {
        // border: 1px solid #000;
        flex: none;
        // margin-left: rem($margin12px);
      }
      + ul {
        padding-top: 0;
        border: none;
        margin-top: rem($margin16px);
        @include screen(mobile) {
          margin-top: rem($margin12px);
          margin-bottom: rem($margin12px);
        }
      }
      + .c-recent {
        &__searches {
          padding-top: rem($padding20px);
          border: none;
        }
      }
      // @include screen(web) {
      //   display: none;
      // }
    }
    > ul {
      @include reset-list-style;
      // border: 2px dashed red;
      // padding: rem($padding12px $padding25px);
      // border-top: 1px solid $mid-gray1;
      // margin: rem($margin24px $margin16px);
      // padding: rem(0 $padding16px);
      padding-top: rem($padding24px);
      li {
        padding: rem(0 $padding16px);
        span {
          color: $mid-gray3;
        }
        a {
          text-decoration: none;
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
        }
        > div {
          // border: 1px solid #000;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
        }
        .c-search-prd-name {
          span {
            font-weight: $font-bold;
            // padding: rem(0 $padding2px);
          }
        }

        // border: 1px solid #000;
        padding: rem($padding10px $padding16px);
        &:active {
          background: $light-gray1;
          a,
          span {
            color: $active-red;
          }
        }
        &.c-noName {
          a {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          div {
            display: inline-block;
          }
        }
        @include screen(web) {
          padding: rem($padding12px $padding30px);
          a {
            display: flex;
            align-items: center;
            > div {
              display: flex;
              > span {
                border-right: 1px solid $mid-gray1;
                width: rem($width160px);
                display: inline-block;
              }
            }
            .c-search-prd-name {
              margin-left: rem(33px);
            }
            .c-search-category-name {
              flex: none;
              margin-left: auto;
            }
          }
          &:hover {
            background-color: #f4f4f4;
            a,
            span {
              color: $active-red;
            }
          }
        }
      }
    }
    .c-recent {
      &__nosearches {
        margin: rem($margin24px $margin25px 0);
        padding-bottom: rem($padding24px);
        div {
          &:first-child {
            margin-bottom: rem($margin8px);
          }
        }
      }
      &__searches {
        // border: 2px solid #000;
        margin: rem(0 $margin25px);
        padding-top: rem($padding24px);
        // padding-bottom: rem($padding12px);
        border-top: 1px solid $mid-gray1;
        ul {
          @include reset-list-style;
          display: flex;
          gap: rem(8px);
          flex-wrap: wrap;
          li {
            display: flex;
            align-items: center;
            background: $light-gray3;
            padding: rem($padding8px $padding16px);
            border-radius: $radius99;
            .c-btn__delete {
              background-image: url($icon-close-midgray-14-14);
              width: rem($width14px);
              height: rem($height14px);
              background-repeat: no-repeat;
              margin-left: rem($margin10px);
            }
          }
        }
        &.c-border__top {
          // border-top: 1px solid $mid-gray1;
        }
      }
      &__tit {
        // border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // padding: rem($padding16px $padding32px);
        // padding: rem(0 $padding25px $padding12px);
        margin-bottom: rem($margin12px);
        .button {
          margin-top: 0;
          a {
            text-decoration: underline;
            color: $black;
          }
        }
      }
    }
    @include screen(web) {
      top: rem(70px);
      background: $white;
      border-radius: $radius28;
      box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.14);
      height: fit-content;
      max-width: rem(1086px);
      // padding-bottom: rem($padding30px);
      #searchbar {
        + ul {
          padding-top: 0;
          border: none;
          margin-top: rem(margin20px);
        }
      }
      > ul {
        // padding: rem($padding16px $padding30px);
        margin-bottom: rem($margin16px);
      }
      .c-recent {
        &__nosearches {
          margin: rem(56px 46px 0);
          padding-bottom: rem(64px);
        }
        &__searches {
          margin: 0 rem($margin30px) $margin24px;
        }
        &__tit {
          margin-bottom: rem($margin20px);
        }
      }
    }
  }
  .type-tabs {
    .searchbar {
      @include screen(web) {
        display: flex;
        // justify-content: center;
        align-items: center;
        gap: rem(24px);
        padding: rem(0 0 $padding24px);

        .searchBar {
          &__root {
            width: 100%;
          }
          &__searchInner {
            // max-width: rem(708px);
            margin: 0 auto;

            // margin-bottom: rem($margin28px);
            input {
              // width: rem(1054px);
            }
          }
        }
      }

      @include screen(tablet) {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        .c-model-contents {
          // margin-top: rem($margin25px);
          flex: none;
        }
      }
    }

    .c-text-contents + .c-tabs {
      padding-top: rem($padding16px);

      @include screen(web) {
        padding-top: rem($padding24px);
      }
    }

    .c-tabs {
      // padding-top: rem($padding40px);
      text-align: inherit;

      &__inner {
        .c-tabs__tablist {
          overflow-x: unset;
          overflow-y: unset;
          gap: 0;
          // gap:rem(12px);
          padding-right: 0;
          padding-left: 0;
          padding-bottom: rem($padding26px);

          @include screen(web) {
            padding-bottom: rem($padding36px);
          }

          li {
            width: auto;
            padding: rem(0 $padding12px);

            @include screen(web) {
              padding: rem(0 $padding20px);
            }

            &:first-child {
              // padding-right: rem($padding12px);
              padding-left: 0;

              @include screen(web) {
                padding-right: rem($padding20px);
              }
            }

            &:last-child {
              // padding-left: rem($padding12px);
              padding-right: 0;

              @include screen(web) {
                padding-left: rem($padding20px);
              }
            }
          }
        }
      }

      &__tabpanel {
        // @include inset-padding-hz;
        text-align: inherit;

        .c-tabs__desc {
          margin-top: rem($margin8px);
          color: $mid-gray2;
          text-align: left;
        }

        &:focus-visible {
          // outline: none;

          .c-category-list {
            border-radius: rem($radius8);
            outline: rem($border2) solid currentcolor;
          }

          .c-carousel {
            border-radius: rem($radius8);
            outline: rem($border2) solid currentcolor;
            outline-offset: 0;

            .c-category-list {
              outline: none;
            }
          }
        }
      }

      &__tablist {
        gap: rem(20px);
        padding: 0 0 rem($padding20px) 0;

        @include screen(web) {
          gap: rem(40px);
          // padding-bottom: 0;
        }
      }
    }
  }
}
