@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.AL0006';

#{$component} {
  ul {
    @include reset-list-style;
  }
  > .component {
    padding: 0;
    @include screen(web) {
      // padding: rem($padding100px) 0;
    }
  }
  > .component > .cmp-container {
    @include container($design-grid-full, false);
    @include inset-padding-hz;
    margin: 0 auto;
    @include screen(web) {
      padding: 0;
    }
    @media (min-width: $mobile) and (max-width: rem(1480px)) {
      @include container($design-grid-full, false);
      @include inset-padding-hz;
    }
    .c-file-download {
      .c-file-download-headline.align-text-center,
      .c-text-contents.align-text-center {
        max-width: rem(1201px);
        margin: 0 auto;
      }
      .c-button[class*='-text'][class*='-icon'] {
        font-size: rem(14px);
        &:after {
          width: rem(12px);
          height: rem(6px);
          background-image: url($icon-arrow-black-down-12-6);
          transform: none; /* 230512 RTL */
        }
      }
      &-headline {
        .cmp-title {
          font-weight: $font-light;
          font-size: rem(28px);
          line-height: rem(32px);
          @include screen(web) {
            font-size: rem(56px);
            line-height: rem(60px);
          }
        }
        &__subheadline {
          color: $gray3;
          margin-top: rem($margin4px);
          font-size: rem(12px);
          line-height: rem(14px);
          @include screen(web) {
            margin-top: rem($margin8px);
            font-size: rem(24px);
            line-height: rem(28px);
          }
        }
        &--pc-center {
          @include screen(web) {
            text-align: center;
          }
        }
      }
      &-reports {
        margin-top: rem($margin48px);
        @include screen(web) {
          display: flex;
          margin-top: rem($margin48px);
          gap: 0 rem($gutter-w);
        }
        &__box {
          width: 100%;
          &:nth-child(n + 2) {
            margin-top: rem($margin48px);
            @include screen(web) {
              margin-top: 0;
            }
          }
        }
        &__title {
          font-size: rem(20px);
          line-height: rem(24px);
          @include screen(web) {
            font-size: rem(32px);
            line-height: rem(36px);
          }
        }
        &__text {
          color: $gray3;
          margin-top: rem($margin12px);
          font-size: rem(16px);
          line-height: rem(18px);
          @include screen(web) {
            margin-top: rem($margin20px);
            font-size: rem(24px);
            line-height: rem(28px);
          }
        }
        .c-finder {
          margin-top: rem($margin8px);
          .c-search {
            &-box {
              padding: 0;
              .c-select-item {
                flex: initial;
                width: 100%;
                select {
                  background-color: $light-gray3;
                  @include lgness-radius('default');
                  color: $gray7e;
                  font-size: rem(16px);
                  line-height: rem(18px);
                  height: rem(48px);
                  padding-left: rem($padding16px);
                  background-position: calc(100% - rem(16px)) 50%;
                  @include screen(web) {
                    font-size: rem(20px);
                    line-height: rem(24px);
                    height: rem(60px);
                    padding-left: rem($padding25px);
                    background-position: calc(100% - rem(25px)) 50%;
                  }
                }
              }
              &__body {
                background-color: transparent;
                padding: 0;
                gap: rem($gutter-m);
                align-items: flex-start;
                @include screen(web) {
                  align-items: center;
                  gap: rem(20px);
                }
                .button {
                  // padding: 0 rem($padding9px);
                  padding: 0;
                  @include screen(web) {
                    margin-top: 0;
                  }
                }
              }
            }
          }
        }
        .c-finder.only {
          .c-search {
            &-box {
              .c-select-item {
                flex: initial;
                width: 100%;
              }
              &__body {
                max-width: rem(708px);
                margin-left: 0;
                background-color: transparent;
              }
            }
          }
        }
        &__resources {
          margin-top: rem($margin8px);
          .c-resources {
            grid-template-columns: repeat(1, 1fr);
            &__item--download-info {
              @include ellipsis(1);
            }
            &__item {
              background-color: $light-gray3;
              min-width: 0;
              position: relative;
              @include lgness-radius('default');
              padding: rem($padding20px);
              @include screen(web) {
                padding: rem($padding24px);
              }
              &--extension {
                flex-shrink: 0;
                position: absolute;
                top: rem(20px);
                left: rem(20px);
                @include screen(web) {
                  top: 50%;
                  left: rem(24px);
                  transform: translateY(-50%);
                }
              }
              &--download {
                width: 100%;
                padding-left: rem($padding30px);
                gap: rem(20px);
                &-info-name {
                  display: block;
                }
                &-button {
                  margin-left: rem(-30px);
                  @include screen(web) {
                    margin-left: 0;
                  }
                }
              }
            }
          }
        }
      }
      &-reports.type02 {
        margin-top: 0;
        .c-finder {
          margin-top: rem($margin8px);
          .c-search {
            &-box {
              &__body {
                padding: 0;
                @include screen(mobile) {
                  gap: rem($gutter-w);
                }
                .button {
                  padding: 0;
                }
              }
            }
            &-box.bg-darkgray {
              .c-search-box__body {
                background-color: $dark-gray1;
              }
              .c-select-item label {
                color: $white;
              }
            }
          }
        }
        .c-file-download-reports {
          @include screen(mobile) {
            margin-top: rem($margin24px);
            &__box:nth-child(n + 2) {
              margin-top: rem($margin12px);
            }
          }
        }
      }
      &-table {
        margin-top: rem($margin48px);
        @include screen(web) {
          @include lgness-radius('default');
          background-color: $white;
          margin-top: rem($margin24px);
          padding: rem($padding24px) rem($padding48px) rem($padding48px);
        }
        &:has(.c-table--nodata) {
          padding: rem($padding30px);
          margin-top: rem($margin24px);
          @include lgness-radius('default');
          background-color: $white;
          color: initial;
          @include screen(web) {
            padding: rem(77px) rem(122px) rem(96px);
          }
        }
        .c-table {
          max-height: initial;
          border-top: 0;
          border-color: $light-gray2;
          table {
            table-layout: fixed;
          }
          .cell-size {
            @include screen(web) {
              width: 16.6%;
            }
          }
          .cell-size.year {
            max-width: rem(40px);
            @include screen(web) {
              max-width: rem(160px);
            }
          }
          .cell-size.type {
            max-width: rem(100px);
            @include screen(web) {
              max-width: rem(188px);
            }
          }
          .c-table__title {
            display: block;
            overflow: hidden;
            text-decoration: none;
            &--icon {
              height: rem(24px);
            }
          }
          &__icon-box {
            text-decoration: none;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: rem(8px) 0;
            width: 100%;
            @include screen(mobile) {
              @include ellipsis(3);
            }
            @include screen(web) {
              display: flex;
              align-items: center;
              gap: 0 rem(12px);
              flex-direction: initial;
            }
            .c-resources__item {
              &--extension {
                flex-shrink: 0;
              }
              &--extension + span {
                color: $gray3;
                font-size: rem(14px);
                line-height: rem(14px);
                font-weight: $font-semibold;
                @include screen(mobile) {
                  @include ellipsis(3);
                  margin: rem($margin8px 0);
                }
                @include screen(web) {
                  @include ellipsis(1);
                  font-size: rem(20px);
                  line-height: rem(22px);
                  font-weight: $font-regular;
                  color: $mid-gray2;
                }
              }
            }
          }
          .year {
            color: $mid-gray2;
            font-size: rem(16px);
            line-height: rem(22px);
            text-align: center;
            @include screen(web) {
              font-size: rem(20px);
              line-height: rem(22px);
            }
            @include screen(mobile) {
              width: rem(40px);
              max-width: rem(40px);
              min-width: rem(40px);
              padding-left: 0;
              padding-right: 0;
            }
          }
          .type {
            color: $mid-gray2;
            font-size: rem(16px);
            line-height: rem(22px);
            word-break: break-word;
            @include screen(web) {
              text-align: center;
              font-size: rem(20px);
              line-height: rem(22px);
            }
            @include screen(mobile) {
              padding-left: rem($padding24px);
              padding-right: rem($padding24px);
            }
          }
          th,
          td {
            min-width: initial;
            @include screen(web) {
              min-width: 16rem;
            }
          }
          th {
            text-align: center;
            padding: rem($padding12px) 0;
            background-color: transparent;
            font-weight: $font-semibold;
            @include screen(web) {
              font-weight: $font-regular;
              padding: rem($padding12px) rem($padding40px);
              font-size: rem(20px);
              line-height: rem(22px);
            }
          }
          td {
            border-color: $light-gray2;
            padding: rem($padding6px) rem($padding14px);
            @include screen(web) {
              padding: rem($padding14px) rem($padding40px);
            }
          }
          &__nodata {
            padding-top: rem($padding72px);
            background-image: url($icon-nodata-black-90-90);
            background-size: rem(60px) rem(60px);
            background-repeat: no-repeat;
            background-position: left top;
            text-align: left;
            font-weight: $font-light;
            line-height: rem(28px);
            font-size: rem(20px);
            @include screen(web) {
              padding-top: rem($padding120px);
              background-size: rem(90px) rem(90px);
              font-size: rem(56px);
              line-height: rem(60px);
            }
          }
        }
        .c-table + .button {
          margin-top: rem($margin20px);
          @include screen(web) {
            margin-top: rem($margin40px);
          }
        }
        &__total {
          margin-bottom: rem($margin20px);
          font-weight: $font-semibold;
          font-size: rem(14px);
          line-height: rem(14px);
          @include screen(web) {
            color: $black;
            font-size: rem(14px);
            line-height: rem(14px);
          }
          b {
            font-weight: $font-semibold;
            color: $active-red;
          }
        }
      }
    }
  }
  .component.bg-lightgray {
    .c-file-download {
      &-reports {
        &__resources {
          .c-resources {
            &__item {
              background-color: $white;
              min-width: 0;
              position: relative;
              &--extension {
                flex-shrink: 0;
                position: absolute;
                left: rem(20px);
                top: rem(20px);
                @include screen(web) {
                  left: rem(32px);
                  top: rem(30px);
                }
              }
              &--download {
                width: 100%;
                padding-left: rem($padding30px);
                &-info-name {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
  &.bg-darkgray,
  &.bg-black {
    .component {
      .cmp-text {
        color: $white;
      }
      .c-file-download-headline__subheadline {
        color: $light-gray3;
      }
      .c-file-download-reports__text {
        color: $white;
      }
      // .c-file-download-table__total {
      //     color: $black;
      // }
      .c-button[class*='-text'][class*='-icon']:after {
        @include screen(mobile) {
          background-image: url($icon-arrow-white-down-12-7) !important;
        }
      }
      .c-file-download {
        &-reports {
          &__resources {
            .c-resources {
              &__item {
                background-color: $light-gray3;
                min-width: 0;
                position: relative;
                &--extension {
                  flex-shrink: 0;
                  position: absolute;
                  top: rem(20px);
                  left: rem(20px);
                  @include screen(web) {
                    top: 50%;
                    left: rem(24px);
                    transform: translateY(-50%);
                  }
                }
                &--download {
                  width: 100%;
                  padding-left: rem($padding30px);
                  &-info-name {
                    display: block;
                  }
                }
              }
            }
          }
        }
        &-table {
          a,
          button {
            &:focus-visible {
              outline-color: $black;
            }
          }
        }
      }
      .c-table {
        table {
          color: $white;
          th {
            @include screen(mobile) {
              color: $white !important;
            }
          }
        }
        &__icon-box {
          color: $white;
          span {
            @include screen(mobile) {
              color: $white !important;
            }
          }
        }
        .year,
        .type {
          @include screen(mobile) {
            color: $white !important;
          }
        }
      }
      .c-icon-button {
        &--download {
          &::before {
            @include screen(mobile) {
              background-image: url($icon-download-white-24-24);
            }
          }
        }
      }
      .button {
        .c-button {
          &__text {
            @include screen(web) {
              // color: $black;
            }
          }
        }
      }
    }
  }
  .br {
    &--pc {
      display: none;

      @include screen(web) {
        display: block;
      }
    }
    &--mo {
      display: block;

      @include screen(web) {
        display: none;
      }
    }
  }
  &.bg-white {
    .c-file-download-reports {
      .c-search-box__body {
        border: 0;
      }
    }
  }
}
