@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.CM0002';
#{$component} {
  // element
  .component {
    max-width: 100%;
  }
  > .component > .cmp-container {
    width: 100%;
    color: $mid-gray3;
  }

  // layout
  .c-footer__inner {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
  }

  // default
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      margin: 0;
    }
  }
  a {
    color: inherit;
  }

  // border
  .c-footer__seo,
  .c-footer__navigation,
  .c-footer__share {
    border-top: rem($border1) solid $mid-gray1;
  }

  // bg color
  .c-footer__text,
  .c-footer__navigation,
  .c-footer__share {
    background: $light-gray3;
  }

  // seo
  .c-footer__text {
    // padding: rem($padding24px) 0;
    padding: 0 0 rem($padding24px) 0;
    .c-footer__text-wrap {
      padding-top: rem($padding20px);
      border-top: rem($border1) solid $mid-gray1;
    }
    .c-footer__text-wrap + .c-footer__text-wrap {
      margin-top: rem($padding20px);
    }
    strong {
      color: $black;
      font-weight: $font-semibold;
    }
    a {
      color: $black;
      text-decoration: underline;
    }
    // more
    .c-footer__text--more.folded {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      height: rem($height20px);
      max-width: calc(100% - rem($width80px));
      vertical-align: top;
      white-space: nowrap;
      + button.more {
        display: inline-block;
        color: $black;
      }
      p {
        display: inline;
      }
    }
    button.more {
      display: none;
      border: 0;
      background: transparent;
      font-size: inherit;
      line-height: inherit;
      color: inherit;
      text-decoration: underline;
      margin: 0 0 0 rem($margin10px);
      padding: 0;
      vertical-align: top;
      cursor: pointer;
    }
  }

  // navigation
  .c-footer__navigation {
    padding: rem($padding8px) 0;
    @include screen(web) {
      padding: rem($padding40px) 0;
    }
    // default
    a,
    strong {
      font-weight: inherit;
    }
    button {
      border: 0;
      cursor: pointer;
    }
    [target='_blank'] {
      // display: flex;
      // align-items: center;
      // gap: rem($margin4px);
      &:after {
        margin-left: rem($margin4px);
        display: inline-block;
        content: '';
        background : {
          image: url($icon-outlink-black-12-12);
          position: 100% center;
          size: 100%;
          repeat: no-repeat;
        }
      }
    }
    // mobile design
    @include screen(mobile) {
      // font size - for mobile
      .c-footer__column .c-footer__depth1 {
        font-size: rem(20px);
        line-height: rem(24px);
        font-weight: $font-regular;
        color: $black;
      }
      .c-footer__depth2 .c-footer__item {
        font-size: rem(16px);
        line-height: rem(18px);
        font-weight: $font-regular;
        color: $black;
      }
      .c-footer__depth3 .c-footer__item {
        font-size: rem(12px);
        line-height: rem(14px);
        font-weight: $font-regular;
        color: $gray3;
      }
      .c-footer__depth1 {
        &[target='_blank'] {
          &:after {
            width: rem($icon14px);
            height: rem($icon14px);
          }
        }
      }
      // display none - block
      .c-footer__depth2,
      .c-footer__depth3 {
        &.folded {
          display: none;
        }
      }
      // menu and button
      .c-footer__name {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      // depth 1 - for mobile
      .c-footer__column {
        width: 100%;
        padding: rem($padding16px) 0;
        + .c-footer__column {
          border-top: rem($border1) solid $mid-gray1;
        }
        .c-footer__name button {
          background: url($icon-arrow-gray3-down-12-7) no-repeat 50% 50%;
          width: rem(24px); // = line-height
          margin-right: rem(-$margin6px);
          &[aria-expanded='true'] {
            transform: rotate($degree180);
          }
        }
      }
      // depth 2 - for mobile
      .c-footer__depth2 {
        width: 100%;
        padding: rem($padding12px) 0 rem($padding8px) rem($padding8px);
        + .c-footer__depth2 {
          border-top: rem($border1) solid $mid-gray1;
        }
        > .c-footer__item {
          padding: rem($padding12px) 0;
          + .c-footer__item {
            border-top: rem($border1) solid $mid-gray1;
          }
        }
        .c-footer__name button {
          position: relative;
          background: none;
          width: rem(22px); // = line-height
          margin-right: rem(-$margin6px);
          &:before,
          &:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: $gray3;
          }
          &:before {
            width: rem($border1);
            height: rem($height10px);
          }
          &:after {
            width: rem($height10px);
            height: rem($border1);
          }
          &[aria-expanded='true'] {
            &:before {
              display: none;
            }
          }
        }
        [target='_blank'] {
          &:after {
            width: rem($icon12px);
            height: rem($icon12px);
          }
        }
      }
      // depth 3 - for mobile
      .c-footer__depth3 {
        width: 100%;
        padding: rem($padding16px) 0 rem($padding18px);
        .c-footer__item {
          + .c-footer__item {
            padding-top: rem($padding14px);
          }
        }
        [target='_blank'] {
          &:after {
            width: rem($icon8px);
            height: rem($icon8px);
          }
        }
      }
    }
    // desktop design
    @include screen(web) {
      // layout
      .c-footer__columns {
        display: flex;
        gap: rem($gutter-w);
        .c-footer__column {
          flex: 1;
        }
        @include screen(tablet) {
          flex-wrap: wrap;
          row-gap: rem($padding50px * 2);
          .c-footer__column {
            flex: none;
            width: calc(33.3333% - rem($gutter-w));
          }
        }
      }
      // font size - for mobile
      .c-footer__column .c-footer__depth1 {
        font-size: rem(20px);
        line-height: rem(24px);
        font-weight: $font-regular;
        color: $black;
      }
      .c-footer__depth2 .c-footer__item {
        font-size: rem(16px);
        line-height: rem(18px);
        font-weight: $font-regular;
        color: $gray3;
      }
      // margin
      .c-footer__name + .c-footer__name {
        padding-top: rem($padding18px);
      }
      .c-footer__depth2 {
        padding-top: rem($padding16px);
        .c-footer__item {
          + .c-footer__item {
            padding-top: rem($padding8px);
          }
        }
        + .c-footer__name {
          padding-top: rem($padding24px);
          + .c-footer__name {
            padding-top: rem($padding24px);
          }
        }
      }
      .c-footer__depth1[target='_blank'] {
        // gap: rem($margin8px);
        &:after {
          margin-left: rem($margin8px);
          width: rem($icon14px);
          height: rem($icon14px);
        }
      }
      .c-footer__depth2 [target='_blank'] {
        // gap: rem($margin6px);
        &:after {
          margin-left: rem($margin6px);
          width: rem($icon12px);
          height: rem($icon12px);
        }
      }
    }
  }

  // country and share
  .c-footer__share {
    padding: rem($padding24px) 0;
    .c-footer__inner {
      @include screen(web) {
        display: flex;
        gap: rem($margin20px);
        justify-content: space-between;
        align-items: center;
      }
    }
    .c-footer__country {
      form {
        display: flex;
        align-items: center;
      }
      button[type='submit'] {
        appearance: none;
        margin: 0;
        padding: 0;
        background: none;
        border: 0;
        display: flex;
        gap: rem($gutter-m);
        cursor: pointer;
        color: $black;
        white-space: nowrap;
        span {
          text-underline-offset: rem($offset3px);
          text-decoration: underline;
        }
        &:before {
          content: '';
          display: block;
          width: rem($icon24px);
          height: rem($icon24px);
          background: url($icon-lang-black-24-24) no-repeat 0 0;
          background-size: 100% auto;
        }
      }
      .icon-flag {
        width: rem($icon20px);
        height: rem($icon20px);
        border-radius: $radius-full;
        margin-right: rem($margin12px);
      }
      .icon-flag + button[type='submit'] {
        &:before {
          display: none;
        }
      }
    }
    .c-footer__social {
      padding: rem($padding30px) 0 0;
      @include screen(web) {
        padding: 0;
      }
      .c-footer__sociallist {
        display: flex;
        gap: rem($gutter-m);
        flex-wrap: wrap;
      }
      .c-footer__socialitem {
        a {
          display: block;
          width: rem($icon32px);
          height: rem($icon32px);
          border-radius: 100%;
          img {
            width: 100%;
          }
        }
      }
    }
  }

  // bottom black area
  .c-footer__bottom {
    background: $dark-gray1;
    color: $mid-gray1;
    .c-footer__inner {
      @include screen(web) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: rem($gutter-w);
        @include screen(custom, rem($tablet-pro-p), max) {
          flex-direction: column;
          align-items: flex-start;
          gap: 0;
          padding-bottom: rem($gutter-w);
        }
      }
    }
    // left area
    .c-footer__left-area {
      padding: rem($padding20px) 0;
      @include screen(web) {
        padding: rem($padding24px) 0;
      }
      .c-footer__links {
        display: flex;
        flex-wrap: wrap;
        row-gap: rem($padding12px);
        .c-footer__link {
          position: relative;
          display: inline-block;
          white-space: nowrap;
          color: $white;
          padding-right: rem($padding12px);
          margin-right: rem($margin8px);
          @include screen(web) {
            padding-right: rem($padding13px);
            margin-right: rem($margin11px);
          }
          &:after {
            content: '';
            display: block;
            position: absolute;
            right: 0;
            top: rem($pos5px);
            width: rem($border1);
            height: rem($height12px);
            background: $mid-gray3;
          }
          &:last-child {
            padding-right: 0;
            margin-right: 0;
            &:after {
              display: none;
            }
          }
          button {
            border: 0;
            background: none;
            color: $white;
            padding: 0;
            cursor: pointer;
          }
          // 2023-05-22 (CASE:BR,IT,SA)
          .ico-blank {
            &:after {
              content: '';
              display: inline-block;
              width: rem($icon18px);
              height: rem($icon12px);
              background: url($icon-blank-white-12-12) no-repeat left rem(5px) center;
            }
          }
        }
      }

      .c-footer__copyright {
        padding: rem($padding20px) 0 rem($padding2px);
        @include screen(web) {
          padding: rem($padding12px) 0 rem($padding2px);
        }
        // 2023-05-22 (CASE:BR,IT,SA)
        .info {
          margin-top: rem($margin8px);
          &.ty2 {
            margin-top: rem($margin20px);
          }
        }
        a {
          display: inline-block;
          text-decoration: underline;
        }
        .description + .copy,
        .copy + .description,
        .info p + p {
          margin-top: rem($margin2px);
        }
        // 2023-05-22 (CASE:BR,IT,SA)
        .info + .description {
          margin-top: rem($margin12px);
        }
      }
    }
    // jeong-do banner
    .c-footer__right-area {
      display: flex;
      flex-direction: column;
      margin: 0 rem(-$block-margin-m);
      color: $black;
      background: $white;
      @include screen(web) {
        flex-direction: row;
        background: inherit;
        color: inherit;
        gap: rem($margin10px);
        padding: 0;
        padding-top: rem($padding24px);
        margin: 0;
        @include screen(custom, rem($tablet-pro-p), max) {
          padding-top: 0;
        }
      }
      .link-text {
        display: flex;
        min-height: rem($height65px);
        @include inset-padding-hz;
        gap: rem($gutter-m);
        align-items: center;
        text-decoration: underline;
        &:focus {
          outline: rem(2px) solid currentcolor;
          outline-offset: rem(-3px);
        }
        @include screen(web) {
          // width: rem(columns(2, true));
          width: rem(240px);
          height: auto;
          padding: rem($padding8px) rem($padding15px) rem($padding9px) rem($padding9px);
          justify-content: center;
          color: $black;
          border-radius: rem($radius6);
          background: $white;
        }
        &--trQR {
          gap: rem(10px);
          align-items: center;
          justify-content: flex-start;
          padding: rem(8px) rem(16px);
          @include screen(web) {
            width: rem(210px);
            padding: rem(8px);
          }
          .img-QR {
            width: rem(59px);
          }
        }
        &--jeongdo {
          @include screen(web) {
            width: rem(271px);
          }
          &:before {
            content: '';
            display: inline-block;
            vertical-align: top;
            width: rem($icon56px);
            height: rem($icon49px);
            background: url($icon-jeong-do) no-repeat 50% 50%;
          }
        }
        &--cn2 {
          @include screen(web) {
            white-space: nowrap;
          }
        }
        &--vn,
        &--cn1,
        &--cn2 {
          text-decoration: none;
          @include screen(web) {
            width: auto;
            padding: 0;
            color: $white;
            background: none;
          }
        }
        & + .link-text {
          border-top: rem($border1) solid $mid-gray1;
          @include screen(web) {
            border-top: 0;
          }
        }
      }
    }
  }
}
