@charset "UTF-8";
@use '../../scss/abstract/' as *;
.c-pop-msg--my-vip {
  @include screen(mobile) {
    padding-left: rem($padding25px);
    padding-right: rem($padding25px);
  }
  .c-pop-msg__container {
    padding: rem($padding40px) rem(30px);
    margin: auto;
    overflow: hidden;
    justify-content: flex-start;
    background-color: $light-gray2;
    @include lgness-radius('default');
    @include screen(web) {
      padding: rem($padding50px);
      max-width: rem(480px) !important;
    }
  }
  .c-pop-msg__header {
    border-bottom: none;
    padding: 0;
    margin-bottom: rem($margin8px);
    @include screen(web) {
      margin-bottom: rem($margin24px);
    }
    .cmp-title {
      font-weight: $font-light;
      font-size: rem(24px);
      line-height: rem(28px);
      @include screen(web) {
        font-size: rem(36px);
        line-height: rem(42px);
        padding-bottom: 0;
      }
    }
  }
  .c-pop-msg__close-button {
    width: rem(44px) !important;
    height: rem(44px) !important;
    margin: 0 !important;
    @include screen(web) {
      // top: rem(32px) !important;
      // right: rem(48px) !important;
      width: rem(60px) !important;
      height: rem(60px) !important;
    }
    &::before {
      width: rem(20px) !important;
      height: rem(20px) !important;
      @include screen(mobile) {
        content: '' !important;
        display: block;
        width: rem(12px) !important;
        height: rem(12px) !important;
        background-image: url($icon-close-black-24-24);
      }
    }
  }
  .c-button {
    @include screen(mobile) {
      width: 100%;
    }
  }
}

$component: '.ML000Q';
#{$component} {
  .font-w-light-32 {
    @include screen(web) {
      font-size: rem(32px);
      line-height: rem(36px);
      font-weight: $font-light;
    }
  }
  .my-component {
    @include container($design-grid-full, true);
    @include inset-padding-hz;

    $mycomponent: '.my-component';
    position: relative;
    overflow: hidden;
    .font-w-semibold-14 {
      @include screen(web) {
        font-size: rem(14px);
        font-weight: $font-semibold;
        line-height: rem(14px);
      }
    }
    &.no-crop {
      overflow: initial;
    }
    &--bykey,
    &--validation-success {
      margin-top: rem($margin8px);
      margin-bottom: rem($margin24px);
      @include container($text-box-width-lg, false);
      @include screen(web) {
        margin-top: rem($margin24px);
        margin-bottom: rem($margin64px);
      }
    }
    .button.my-button {
      text-align: center;
      justify-content: center;
      display: flex;
      padding: 0;
      margin-top: rem($margin24px);
      @include screen(web) {
        margin-top: rem($margin32px);
      }
      .c-button {
        @include screen(mobile) {
          width: 100%;
        }
      }
    }
    .my-formbox {
      margin: 0 auto;
      @include screen(web) {
        margin: 0 auto;
      }
      .c-cta {
        margin-top: rem($margin60px);
        justify-content: center;
      }
      & + .my-formbox {
        margin-top: rem($margin20px);
        @include screen(web) {
          margin-top: rem($margin24px);
        }
      }
      .c-input-item__title {
        .c-text-contents {
          &__headline {
            strong.font-m-semibold-14 {
              font-weight: $font-semibold;
            }
          }
        }
      }
    }
    .my-input {
      text-align: left;
      ul {
        @include reset-list-style;
        li {
          width: 100%;
          @include screen(web) {
            width: auto;
          }
          .button {
            margin-top: rem($margin24px);
            @include screen(web) {
              margin-top: rem($margin32px);
            }
          }
        }
        li + li {
          margin-top: rem($margin20px);
        }
        .c-input-item {
          @include lgness-radius('default');
          background-color: $white;
          position: relative;
          padding: rem($padding20px) rem($padding16px);
          @include screen(web) {
            padding: rem($margin24px);
          }
          &.active {
            .my-form__eye {
              background: url($icon-mylg-view-on-24-24) center / contain no-repeat;
            }
          }
          & + .c-checkbox-item {
            margin-top: rem($margin18px);
            @include screen(web) {
              margin-top: rem($margin8px);
            }
            .label {
              color: $black;
              font-size: rem(14px);
              line-height: rem(20px);
              @include screen(web) {
                font-size: rem(16px);
              }
            }
            @include screen(web) {
              font-size: rem(14px);
              margin-top: rem($margin8px);
              .label {
                color: $gray3;
              }
            }
          }
          label {
            margin-bottom: rem($margin8px);
            line-height: rem(16px) !important;
            @include screen(web) {
              line-height: rem(18px) !important;
            }
          }
          &__title {
            p {
              line-height: rem(14px);
            }
          }
        }
      }
      input {
        padding: rem($padding12px) rem($padding13px);
        height: rem($height44px);
        border-radius: rem(12px);
        font-size: rem(16px);
        line-height: rem(20px);
        &[type='text']::placeholder {
          color: $mid-gray2;
          font-size: rem(16px);
          line-height: rem(20px);
        }
      }
      textarea {
        resize: none;
        width: 100%;
        padding: rem($padding13px) rem($padding16px);
        border: rem($border1) solid $grayd;
        background-color: $white;
        border-radius: rem($radius6);
        height: rem(240px);
        font-size: rem(16px);
        @include screen(web) {
          height: rem(328px);
          font-size: rem(14px);
        }
        &::placeholder {
          position: absolute;
          width: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
        }
      }
      .button {
        justify-content: center;
        margin-top: rem($margin30px);
      }
      .my-warn {
        padding-right: rem($padding40px);
        border-color: $active-red;
        select {
          border-color: $red;
        }
      }
      > .c-input-item + .c-checkbox-item {
        margin-top: rem($margin8px);
        @include screen(web) {
          margin-top: rem($margin6px);
        }
        label.checkbox {
          input[type='checkbox'] {
            & + .label {
              color: $gray3;
              font-size: rem(14px);
              line-height: rem(20px);
              @include screen(web) {
                font-size: rem(16px);
              }
            }
          }
        }
      }
      .input-button__container {
        display: flex;
        gap: 0 rem(8px);
        .button {
          margin-top: 0;
          @include screen(web) {
            margin-top: rem($margin8px);
          }
          .cmp-button {
            flex: 1;
            @include screen(mobile) {
              // height: rem(50px);
            }
          }
          @include screen(web) {
            margin: 0;
          }
        }
        &--validation {
          .my-button-validation {
            flex: 1;
          }
        }
      }
      .c-warning,
      .c-valid {
        padding: 0 rem($padding13px);
        margin-top: rem($margin6px);
        font-size: rem(12px);
        line-height: rem(14px);
        @include screen(web) {
          margin-top: rem($margin8px);
          font-size: rem(14px);
          line-height: rem(16px);
        }
        &::before {
          display: none;
        }
      }
      .c-select-item select {
        color: $gray6;
        option[selected] {
          color: $gray3;
        }
      }
    }
    .my-check-msg {
      background-color: $white;
      margin-top: rem($margin12px);
      padding: rem($padding20px) rem($padding16px);
      border-radius: rem(20px);
      @include screen(web) {
        margin-top: rem($margin20px);
        padding: rem($margin24px);
        border-radius: rem(28px);
      }
      &__container {
        // background-color: $ivory6;
        border-radius: rem($radius8);
        // padding: rem($padding10px);
        overflow-y: auto;
        max-height: rem(300px);
        // color: $gray6;
        color: $mid-gray2;
        @include screen(web) {
          // padding: rem($padding20px);
          max-height: rem(160px);
        }
        p {
          line-height: rem(20px);
          .display-pc {
            display: none;
            @include screen(web) {
              display: block;
            }
          }
        }
      }
      &__list {
        @include reset-list-style;
        li {
          color: $gray6;
          position: relative;
          padding-left: rem($padding10px);
          line-height: rem(20px);
          @include screen(web) {
            padding-left: rem($padding16px);
            line-height: rem(26px);
          }
          &::before {
            content: '';
            display: inline-block;
            background: $gray6;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: rem(9px);
            width: rem(3px);
            height: rem(3px);
            @include screen(web) {
              top: rem(12px);
              width: rem(4px);
              height: rem(4px);
            }
          }
        }
        li + li {
          margin-top: rem($margin4px);
        }
      }
      &__button {
        margin-top: rem($margin18px);
        padding-top: rem($padding8px);
        border-top: rem($border1) solid $mid-gray1;
        @include screen(web) {
          padding-top: rem($padding8px);
          margin-top: rem($margin32px);
        }
        .c-checkbox-item .label {
          font-size: rem(14px);
          line-height: rem(16px);
          @include screen(web) {
            font-size: rem(16px);
            line-height: rem(20px);
          }
        }
      }
    }
  }
  .my-component--bykey {
    @include screen(mobile) {
      padding: 0 rem($padding12px);
    }
    .my-input {
      input {
        @include screen(mobile) {
          height: rem(48px);
        }
      }
    }
  }
  .c-input-item__title + .my-input {
    margin-top: rem($margin12px);
    @include screen(web) {
      margin-top: rem($margin20px);
    }
  }
}

.my-vip {
  .c-text-contents__bodycopy {
    .cmp-text {
      line-height: rem(20px);
      @include screen(web) {
        line-height: rem(22px);
      }
    }
  }
  .c-pop-msg__close--on-top {
    // display: none;
  }
  .c-pop-msg__button-wrap--no-divide-on-mobile {
    flex-direction: initial;
  }
}
