@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.PD0038';
#{$component} {
  $col-width-w: calc(100% * 0.25 - rem($gutter-w * 0.5));
  $col-width-m: calc(100% * 0.5 - rem($gutter-m * 0.5));
  $sticky-stack: 5;
  %container {
    @include container($design-grid-full, true);
    @include screen(web) {
      @include inset-padding-hz;
    }
  }
  > .component > .cmp-container {
    // ...
  }

  .c-region-header {
    @include container($design-grid-full, true);
    @include inset-padding-hz;

    display: flex;
    justify-content: space-between;
    column-gap: rem($gutter-m);
    &__container {
      flex: 1;
    }
    &__complementary-area {
      .c-compare-selling {
        &__scroll-left,
        &__scroll-right {
          position: initial;
          &::before {
            content: none;
          }
        }
      }
    }
  }
  .c-all-specs-area {
    .c-compare-selling__group {
      padding-top: rem($padding20px);
      padding-bottom: rem($padding32px);
      @include screen(web) {
        padding-top: rem($padding48px);
        padding-bottom: 0;
      }
    }
  }
  .c-compare-selling {
    $pin-item: '.c-compare-selling__item:first-child';
    &__item {
      flex: 1;
      position: relative;
      background-color: $white;
      @include screen(web) {
        min-width: calc((100% - (rem($gutter-w) * 3)) / 4);
      }
      @include screen(custom, rem($design-grid-full), max) {
        min-width: calc((100% - (rem($gutter-w) * 2)) / 3);
      }
      @include screen(custom, rem($tablet-pro-p), max) {
        min-width: calc((100% - rem($gutter-w)) / 2);
      }
      @include screen(mobile) {
        min-width: calc((100% - rem($margin8px)) / 2);
      }
    }
    &__spec--all {
      .c-compare-selling__item {
        background-color: transparent;
      }
      .c-compare-selling__spec-name {
        font-size: rem(14px);
        line-height: rem(16px);
        & + .c-compare-selling__spec-desc {
          margin-top: rem($margin8px);
        }
      }
      .c-compare-selling__spec-desc {
        font-size: rem(16px);
        line-height: rem(18px);
      }
    }
    &__spec--pick-out {
      @extend %container;
      .c-compare-selling__spec-name,
      .c-compare-selling__spec-desc {
        position: relative;
      }
      .c-compare-selling__spec-name {
        font-size: rem(16px);
        line-height: rem(18px);
        & + .c-compare-selling__spec-desc {
          margin-top: rem($margin8px);
        }
      }
      .c-compare-selling__spec-desc {
        font-size: rem(24px);
        line-height: rem(28px);
      }
      &:has(.c-region-header) {
        margin-top: rem($margin24px);
        @include screen(web) {
          margin-top: rem($margin48px);
        }
        .c-region-header {
          min-height: 0;
          padding: 0 rem($padding16px);
          @include screen(web) {
            padding: 0;
          }
        }
        .c-compare-selling__scroll-container:first-child .c-compare-selling__item {
          @include lgness-radius('default');
          border-bottom-left-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
        }
      }
    }
    &__spec--pick-out,
    &__product {
      @include screen(custom, rem($design-grid-full), max) {
        overflow: hidden;
        .c-compare-selling__scroll-container {
          overflow: visible;
        }
      }
    }
    &__spec-list,
    &__product-list {
      display: flex;
      gap: rem($margin8px);
      @include screen(web) {
        gap: rem($gutter-w);
      }
      @include screen(mobile) {
        @include inset-padding-hz(mobile);
        width: calc(100% - rem($margin8px));
      }
    }
    &__product-list {
      #{$pin-item} {
        z-index: 2;
      }
      .c-compare-selling__item {
        overflow: hidden;
      }
    }
    &__group-head {
      // font
      font-weight: $font-regular;
      font-size: rem(20px);
      line-height: rem(24px);
      @include screen(web) {
        font-size: rem(32px);
        line-height: rem(36px);
      }
    }
    &__table-head {
      margin-bottom: rem($margin20px);
    }
    &__group-head,
    &__table-head {
      transition:
        padding 0.5s,
        margin 0.5s;
      padding-left: rem($padding12px);
      padding-right: rem($padding12px);
      @include screen(web) {
        padding-left: rem($padding24px);
        padding-right: rem($padding24px);
        margin-top: rem($margin16px);
      }

      .c-text-contents__eyebrow + .c-text-contents__headline {
        margin-top: rem($margin6px);
      }
    }
    &__visual-image {
      margin-top: 0;
      img {
        height: auto;
        @include screen(mobile) {
          width: rem($width100px);
        }
      }
    }
    .price-area {
      gap: rem($margin4px);
      margin-top: rem($margin10px);
      @include screen(web) {
        // margin-top: rem($margin16px);
      }
    }
    .c-price__flag--retail {
      font-size: rem(16px);
      line-height: rem(18px);
      @include screen(web) {
        font-size: rem(20px);
        line-height: rem(24px);
      }
    }
    // .c-price {
    //     font-size: rem(20px);
    //     line-height: rem(20px);
    //     font-weight: $font-semibold;
    //     @include screen(web) {
    //         font-size: rem(32px);
    //         line-height: rem(32px);
    //     }
    //     .smallFont {
    //         font-size: rem(12px);
    //         @include screen(web) {
    //             font-size: rem(20px);
    //         }
    //     }
    // }
  }
  .c-compare-product-information {
    position: relative;
    &__container {
      @extend %container;
      padding-top: rem($padding10px);
      padding-bottom: rem($padding16px);
      position: relative;
      @include screen(web) {
        padding-bottom: rem($component-margin-w);
      }
    }
    &__scroll-wrapper {
      position: relative;
      z-index: 1;
      overflow: hidden;
    }
    &__product-list {
      display: flex;
      column-gap: rem($gutter-m);
      @include screen(web) {
        column-gap: rem($gutter-w);
      }
      > * {
        flex: 1;
        min-width: $col-width-m;
        max-width: $col-width-m;
        @include screen(web) {
          min-width: auto;
          max-width: $col-width-w;
        }
      }
    }
    &__product-item {
      overflow: hidden;
      position: relative;
      background-color: $white;
      padding: rem($padding10px);
      @include lgness-radius('default');
      @include screen(web) {
        padding: rem($padding20px $padding24px);
      }
    }
    &__to-list {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $warm-gray;

      $icon: '&:after';
      #{$icon} {
        $size-w: calc(78 / 342 * 100%);
        $size-m: calc(30 / 159 * 100%);

        content: '';
        display: block;
        min-width: rem($min-width62px);
        width: $size-m;
        height: 100%;
        background: {
          image: url($icon-plus-grayb-78-78);
          repeat: no-repeat;
          size: 100% auto;
          position: 50% 50%;
        }
        @include screen(web) {
          width: $size-w;
        }
      }
      &:hover,
      &:focus-visible {
        outline-offset: rem($border1 * -1);
      }
    }
    &__compare-buttons {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
    }
    &__compare-button {
      $size: rem($padding16px * 2 + $width12px);

      // reset
      cursor: pointer;
      border: 0;
      padding: 0;
      background-color: inherit;
      // --- end

      display: flex;
      align-items: center;
      justify-content: center;
      width: $size;
      height: $size;
      @include screen(web) {
        margin-top: rem($margin24px - $padding16px);
        margin-right: rem($margin24px - $padding16px);
      }

      // modifier
      &--remove {
        $icon: '&:after';
        #{$icon} {
          content: '';
          display: block;
          width: 0.75rem;
          height: 0.75rem;
          background: {
            image: url($icon-close-black-12-12);
            size: 100% auto;
          }
        }
      }
    }
    &__controls {
      position: absolute;
      bottom: 100%;
      right: rem($block-margin-m);
      display: flex;
      flex-direction: row #{'/*!rtl:row-reverse*/'};
      justify-content: space-between;
      align-items: center;
      gap: rem($margin8px);
      @include screen(web) {
        display: none;
      }
      button {
        // reset
        background: none;
        padding: 0;
        // -- end

        cursor: pointer;
        position: relative;
        z-index: 1;
        background-color: $warm-gray;
        border: rem($border1) solid $mid-gray2;
        border-radius: 50%;
        @include screen(web) {
          display: none;
        }
        @include screen(mobile) {
          $size: rem($icon32px);

          display: flex;
          align-items: center;
          justify-content: center;
          width: $size;
          height: $size;
          border: rem($border1) solid $mid-gray1;
        }

        $arrow: '&:after';
        #{$arrow} {
          content: '';
          display: block;
          width: rem($icon18px);
          height: rem($icon18px);
          background : {
            image: url($icon-arrow-black-right-13-22);
            size: auto rem(14px);
            repeat: no-repeat;
            position: 50% 50%;
          }
        }

        &:disabled,
        &[disabled] {
          cursor: default;
          background-color: rgba($white, 0.3);
          #{$arrow} {
            background-image: url($icon-arrow-graycb-right-13-22);
          }
        }
      }
    }
    &__scroll-left {
      // left: 0;
      transform: rotateY($degree180);
    }
    &__scroll-right {
      // right: 0;
    }
  }
  .c-compare-table-controls {
    $block: '.c-compare-table-controls';

    background-color: $warm-gray;
    &__container {
      @extend %container;
      padding-top: rem($padding24px);
      padding-bottom: rem($padding16px);
      @include screen(web) {
        padding-top: rem($padding48px);
      }
    }
    // element
    &__sort {
      display: flex;
      gap: rem($margin10px);
    }
    &__sort-option {
      display: flex;
      align-items: center;
      gap: rem($margin8px);

      $bleet: '&:not(:first-of-type):before';
      #{$bleet} {
        content: '';
        display: block;
        width: rem($width1px);
        height: rem($height14px);
        background-color: $mid-gray1;
      }

      // modifier
      &__sort-option--disable {
        display: none;
      }

      // block
      .c-tooltip {
        line-height: 1;
        &__container {
          z-index: $sticky-stack + 1;
        }
      }
      .c-button-label {
        // font
        font-size: rem(20px);
        line-height: rem(24px);
      }
    }
    &__line-toggle-button {
      // reset
      border: none;
      background: none;
      text-decoration: underline;
      // --- end

      cursor: pointer;
      font-size: rem(16px);
      line-height: rem(16px);
      color: $black;

      // variation
      &[disabled],
      &:disabled {
        display: none;
      }
    }
  }
  .c-compare-spec-table {
    $block: '.c-compare-spec-table';
    $arrow-space: $margin20px + $width18px + $padding20px;
    $head-cell-width: rem($width300px + $arrow-space);

    border-bottom: rem($border1) solid $mid-gray1;
    &__scroll-wrapper {
      position: relative;
      overflow: hidden;

      $blind: '&:after';
      #{$blind} {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: rem($border2);
        background-color: $warm-gray;
      }
    }
    &__body {
      display: flex;
      height: 100%;
      > * {
        @include screen(web) {
          flex-basis: 25%;
        }
        @include screen(mobile) {
          min-width: 50%;
          max-width: 50%;
        }
      }
      &--marking-different {
        #{$block}__cell {
          background-color: $light-gray1;
        }
      }
    }
    &__cell {
      position: relative;
      display: flex;
      align-items: center;
      padding: rem($padding10px);
      @include screen(web) {
        padding: rem($padding12px $padding24px);
      }
      @include screen(mobile) {
        padding-left: rem(32px + $padding12px);
      }
      @at-root .PD0038[data-scroll-index='max'] {
        .c-compare-selling__group-head,
        .c-compare-selling__table-head {
          @include screen(custom, rem($design-grid-full), max) {
            padding-left: rem($padding24px);
          }
          @include screen(mobile) {
            padding-left: rem(32px + $padding12px - $margin8px);
          }
        }
      }
      @at-root .PD0038[data-scroll-index='min'] {
        .c-compare-selling__group-head,
        .c-compare-selling__table-head {
          padding-left: 0;
          margin-left: rem($block-margin-m + $padding12px);
          @include screen(web) {
            margin-left: rem($padding24px);
          }
        }
      }
    }
    &__scroll {
      &-table {
        .c-compare-selling__item {
          border-radius: 0;
        }
        .c-compare-selling__scroll-container:first-child {
          .c-compare-selling__item {
            background-color: $white;
            &.c-compare-selling__item--empty {
              background-color: $light-gray1;
            }
          }
        }
        .c-compare-selling__scroll-container:last-child {
          .c-compare-selling__item {
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
          }
        }
      }
    }
  }
  .c-compare-selling__sticky-area {
    .c-compare-selling {
      &__scroll-right,
      &__scroll-left {
        top: auto;
        &::before {
          display: none;
        }
      }
    }
    &.is-sticky,
    &.sticky {
      &.is-fixed {
        .c-compare-selling__item {
          border-radius: rem(16px) !important;
          @media (min-width: $mobile) and (max-width: rem(980px)) {
            border-radius: rem(16px) !important;
          }
          @include screen(web) {
            border-radius: rem(16px) !important;
          }
          &-button {
            margin: 0;
            @include screen(mobile) {
              width: rem(32px);
              height: rem(32px);
            }
          }
        }
      }
      .c-product-item {
        padding-left: rem($padding40px);
        gap: 0;
        @media (min-width: $mobile) and (max-width: rem(980px)) {
          padding-left: rem($padding40px);
        }
        @include screen(web) {
          padding-left: rem($padding80px);
        }
        &__headline {
          margin-top: 0;
          @media (min-width: $mobile) and (max-width: rem(980px)) {
            margin-top: 0;
          }
        }

        &__img {
          top: 50%;
          transform: translateY(-50%);
          margin-top: 0;
          @media (min-width: $mobile) and (max-width: rem(980px)) {
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
    &:not(.is-sticky) {
      .c-compare-selling__item {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }
    }
  }
  .c-compare-selling--scroll {
    .c-compare-selling__sticky-area {
      .c-compare-selling__item {
        border-radius: rem(16px) !important;
        @media (min-width: $mobile) and (max-width: rem(980px)) {
          border-radius: rem(16px) !important;
        }
        @include screen(web) {
          border-radius: rem(28px) !important;
        }
      }
    }
  }
  .c-all-specs-area {
    @extend %container;
  }
  // layout : margin
  .c-region-header + * {
    @include lgness-component-title-margin;
  }
  .is-sticky,
  .is-fixed {
    // .c-product-item__rating,
    // .c-product-item__repair,
    // .c-price__otherinfo,
    // .lumpsum-type,
    // .plInfoTxt-type,
    // .uvp-type {
    //     display: none;
    //     // &:has(.c-price__price) {
    //     //     &:empty {
    //     //         display: none;
    //     //     }
    //     // }
    //     // &:not(:has(.c-price__price)) {
    //     //     display: none;
    //     // }
    // }
    .price-area .product-price.pdb {
      padding: 0;
    }
    .price-box {
      &:not(:has(.c-price__purchase)) {
        display: none;
      }
    }
  }
  .c-compare-selling__item {
    .c-product-item {
      gap: rem($margin12px);

      /* [Start] 2023-07-07 : UPDATE - update Compare Products */
      &__top-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
      }
      &__img {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        margin: rem(12px) auto 0;
        height: 100%;
        @include screen(web) {
          margin: rem(16px) auto 0;
        }
      }

      /* [End] 2023-07-07 : UPDATE - update Compare Products */
    }
  }
  .c-tooltip {
    .pibtn {
      border: 0 none;
      background: none;
    }
  }
  .c-no-data-container {
    @extend %container;
  }
  .c-no-data-wrap {
    position: relative;
    height: 100%;
    @include screen(mobile) {
      padding-top: rem(73px 0);
      margin: 0 1rem;
    }
    padding: rem(146px 0);
    margin-top: rem(24px);
    @include lgness-radius('default');
    z-index: $z-index1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    background-color: $white;
  }
  .c-no-data {
    margin: 0 auto;

    $icon: '&:before';

    #{$icon} {
      content: '';
      display: block;
      margin-bottom: rem($margin20px);
      width: rem($width60px);
      height: rem($height60px);
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url($icon-empty-gray-60-60);
    }

    // modifier
    &--no-response {
      #{$icon} {
        background-image: url($icon-no-response-60-60);
      }
    }

    &__btn {
      margin-top: rem(20px);
    }
  }
  .c-back__btn {
    margin-top: rem(24px);
    text-align: center;
  }
  .c-price__purchase {
    font-size: rem(28px);
    line-height: rem(28px);
    @include screen(mobile) {
      font-size: rem(20px);
      line-height: rem(20px);
    }
  }

  .product-price {
    .c-price__flag {
      &--member,
      &--vip,
      &--limited {
        flex: auto;
      }
    }
  }
}
