@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.PD0015';
#{$component} {
  // element
  > .component > .cmp-container {
    // @include container($design-grid-full, true);
    // @include inset-padding-hz;
  }
  .c-floating-wrap {
    z-index: 4;
    border-bottom: rem($border1) solid $mid-gray1;
  }
  .c-promotion-brief {
    border-bottom: rem($border1) solid $mid-gray1;
    &__inner {
      position: relative;
      display: flex;
      gap: rem($margin8px);
      @include container($design-grid-full, true);
      @include inset-padding-hz;
      padding-top: rem($padding24px);
      padding-bottom: rem($padding16px);
      @include screen(mobile) {
        flex-direction: column;
        align-items: flex-start;
      }
      @include screen(web) {
        flex-wrap: wrap;
        gap: rem($margin10px);
        padding-bottom: rem($padding24px);
        align-items: center;
      }
      .c-text-contents__eyebrow {
        display: flex;
        gap: rem($margin20px + $border1);
        @include screen(web) {
          flex-basis: 100%;
        }
        > * {
          position: relative;
          &:nth-child(n + 2) {
            &::before {
              content: '';
              width: rem($border1);
              height: rem($height12px);
              background: $mid-gray1;
              position: absolute;
              top: rem($margin3px);
              left: rem(-$margin10px);
              @include screen(web) {
                height: rem($height16px);
                top: rem($margin4px);
              }
            }
          }
        }
      }
      .c-text-contents__headline {
        @include screen(web) {
          max-width: min(rem(columns(8, false)), columns(8, false) / columns(9, false) * 100%);
        }
      }
      .c-text-contents__bodycopy {
        color: $mid-gray3;
        margin-top: rem($margin4px);
        @include screen(web) {
          flex-basis: 100%;
          margin-top: rem($margin8px);
        }
      }
      > .c-text-contents__bodycopy {
        display: none;
        @include screen(web) {
          display: block;
        }
      }
      .c-text-contents__date {
        @include screen(web) {
          flex: 1;
          text-align: right;
        }
        .start-end-type {
          @include screen(desktop) {
            text-align: left;
            display: block;
          }
          @include screen(web) {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 10px;
          }
          span {
            &:nth-child(1),
            &:nth-child(3) {
              text-align: center;
              @include screen(tablet) {
                width: fit-content;
                max-width: fit-content;
              }
              @include screen(desktop) {
                width: 100%;
                max-width: rem(200px);
              }
            }
          }
        }
      }
      // + .c-text-contents {
      //     margin-top: rem($margin8px);
      //     @include screen(web) {
      //         text-align: right;
      //         margin-top: rem($margin24px + $margin8px);
      //     }
      // }
    }
    &__count {
      position: absolute;
      top: 0;
      right: 0;
      padding-top: rem($margin16px);
      @include inset-padding-hz;
      @include screen(web) {
        padding-top: rem($margin8px);
      }
      &.is-fixed {
        position: fixed;
        width: 100%;
        z-index: 4;
        text-align: right;
        padding-bottom: rem($margin16px);
        @include screen(web) {
          padding-bottom: rem($margin8px);
          padding-left: 0;
          padding-right: 0;
        }
        .c-promotion-brief__count-inner {
          @include container($design-grid-full, true);
          @include screen(web) {
            @include inset-padding-hz;
          }
        }
        .c-countdown {
          animation: fade-in 1s;
        }
      }
    }
    .c-tooltip {
      position: absolute;
      bottom: rem($margin16px);
      right: rem($margin16px);
      @include screen(web) {
        display: none;
      }
      > :not(.c-tooltip__container) {
        display: flex;
      }
    }
  }
  .productlist {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
    margin-top: rem($margin12px);
    @include screen(web) {
      margin-top: rem($margin24px);
    }
  }
  .c-product-item {
    &__head,
    &__groups {
      height: auto;
      &:empty {
        display: none;
      }
    }
  }
  .c-load-more {
    padding-top: rem($padding16px);
    @include screen(web) {
      padding-top: rem($padding32px);
    }
  }
}
