@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.ST0034';
#{$component} {
  @include lgness-margin('if-headline');
  > .component > .cmp-container {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
  }

  // block : text-contents
  .c-text-contents {
    max-width: rem($text-box-width-lg);
  }

  // block : vertical selector
  .c-vertical-selector {
    @include reset-list-style;
    display: flex;
    flex-wrap: wrap;
    max-width: rem(columns(4, true, mobile));
    gap: rem($margin24px $margin10px);

    @include screen(web) {
      gap: rem($margin48px $gutter-w);

      &--column5 {
        max-width: rem(columns(10));
      }
      &--column4 {
        max-width: rem(columns(8));
      }
      &--column3 {
        max-width: rem(columns(6));
      }
      &--column2 {
        max-width: rem(columns(4));
      }
    }

    * + & {
      margin-top: rem($margin12px);

      @include screen(web) {
        margin-top: rem($margin36px);
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem($margin12px);
      min-width: rem(columns(2, false, mobile));

      @include screen(web) {
        min-width: rem(columns(2, false));
        gap: rem($margin20px);
      }
    }
  }

  // block : image
  .c-image {
    max-width: rem($width100px);
    @include lgness-radius('defult');
    overflow: hidden;

    @include screen(web) {
      max-width: rem($max-width160px);
    }
  }
}
