@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.PD0055';
#{$component} {
  min-height: rem(600px); // b2b, b2c ...
  // element
  > .component {
    // $mobile-size: columns(9, false);
    // @include screen(custom, rem($mobile-size + 1px), min) {
    //     padding-top: rem($padding16px);
    // }
    > .cmp-container {
      .c-product-selector {
        @include container($design-grid-full, true);
        @include inset-padding-hz;
      }
      .productlist {
        .product-selector-tag {
          height: rem($height16px);
          @include screen(web) {
            height: rem($height20px);
          }
        }
        border-top: rem($border1) solid #cbc8c2;
        &__container {
          @include container($design-grid-full, true);
          @include inset-padding-hz;
          padding-top: rem($padding24px);
          @include screen(web) {
            padding-top: rem($padding48px);
          }
        }
        .c-category__root {
          margin-top: rem($margin12px);
          @include screen(web) {
            margin-top: rem($margin36px);
          }
        }
      }
      .c-product-item__img {
        margin-left: auto;
        margin-right: auto;
        max-height: rem(200px);
        aspect-ratio: 1/1;
        @include screen(web) {
          max-height: rem(240px);
        }
        img {
          aspect-ratio: 1;
          object-fit: contain;
          object-position: 50% 50%;
        }
      }
      .c-star {
        margin-top: initial;
      }
      // [Start] 2024-03-29 : ADD - added PD0055
      .c-product-selector {
        padding-bottom: rem($padding24px);
        @include screen(web) {
          padding-bottom: rem($padding64px);
        }
        &__wrapper {
          display: flex;
          gap: rem(16px);
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          padding: rem($padding20px $padding16px);
          margin-top: rem($margin20px);
          background: $white;
          border-radius: rem($radius28);
          @include screen(web) {
            gap: rem(80px);
            flex-direction: row;
            justify-content: space-between;
            padding: rem($padding24px);
            margin-top: rem($margin20px);
          }
        }
        &__form-box {
          width: 100%;
          @include screen(web) {
            max-width: rem(656px);
          }
          .c-select-item + .c-select-item {
            margin-top: rem($margin16px);
            @include screen(web) {
              margin-top: rem($margin24px);
            }
          }
          &__button {
            margin-top: rem($margin16px);
            @include screen(web) {
              margin-top: rem($margin24px);
            }
            .c-button {
              width: 100%;
              @include screen(web) {
                width: auto;
              }
            }
          }
        }
        &__box__img {
          width: 100%;
          .c-image {
            margin: 0 auto;
            width: rem(200px);
            height: rem(200px);
            @include screen(web) {
              width: rem(240px);
              height: rem(240px);
            }
          }
          .c-text-contents {
            margin-top: rem($margin16px);
            &__bodycopy {
              color: $black;
            }
          }
        }
      }

      // 2024-04-15 : ADD - added case no-data
      .c-no-data-wrap {
        @include container($design-grid-full, true);
        @include inset-padding-hz;
        padding-top: rem($padding24px);
        @include screen(web) {
          padding-top: rem($padding48px);
        }
        .c-no-data {
          width: 100%;
          padding: rem($padding79px) 0;
          background: $white;
          @include lgness-radius('default');
          margin-top: rem($margin12px);
          @include screen(web) {
            padding: rem($padding150px) 0;
            margin-top: rem($margin36px);
          }
        }
      }
    }
  }
}
