@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.ST0040';
#{$component} {
  @include lgness-margin('if-headline');
  > .component > .cmp-container {
    position: relative;
    max-width: rem($design-grid-full + $block-margin-w * 2);
    margin: 0 auto;
    @include screen(web) {
      @include inset-padding-hz;
    }
  }
  // block : region header
  .c-region-header {
    @include screen(mobile) {
      @include inset-padding-hz;
    }
  }
  // block : c-stock-list
  .c-stock-list {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    max-width: rem($design-grid-full);
    margin-top: rem($margin12px);
    @include screen(web) {
      margin-top: rem($margin20px);
    }
    // AEM Class
    .carousel {
      width: 100%;
    }
    .c-carousel {
      @include screen(mobile) {
        @include inset-padding-hz;
      }
    }

    .c-carousel {
      overflow-y: visible;
      position: static;
      &:not(.swiper-initialized) {
        .swiper-wrapper {
          align-items: center;
          gap: rem($margin24px);
          .swiper-slide {
            flex: 0 1 rem($max-width342px);
          }
        }
      }
    }
    &__item {
      $box-img-size: $max-width180px;

      display: flex;
      flex-direction: column;
      height: auto;
      @include lgness-radius('default');
      gap: rem($padding50px);
      padding: rem($padding30px $padding24px);
      background-color: $white;
      @include screen(web) {
        padding: rem($padding30px $padding40px);
      }
      &--top {
        margin: 0 auto;
        max-width: rem($box-img-size);
        max-height: rem($box-img-size);
      }
      &--bottom {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem($margin8px);
        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: rem($border1);
          top: rem(-$margin20px);
          background-color: $light-gray3;
        }
        > * {
          color: $gray3;
        }
      }
    }
  }
}
