mixin ST0001(option=false)
    if (option == 'HOME')
        .c-wrapper.ST0001.width-wide.subtract-color
            .component.type-default
                .cmp-container
                    +hero-banner-case-image({
                        width : "wide",
                        heroType : "default",
                        dateType : "none",
                        useEyebrow : true,
                        cta : "box",
                        textAlign : "left",
                        headlineSize : 'font-w-light-80 font-m-light-36',
                        headline : "Lorem ipsum dolor sit amet consectetur.", 
                        bodycopy : "",
                    })
