@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.PD0041';
#{$component} {
  @include lgness-margin('if-headline');
  > .component > .cmp-container {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
    position: relative;
  }

  // block
  .c-floating-contents {
    height: 100%;
    &__floor {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      .c-hero-banner__bg-image {
        width: 100%;
        height: 100%;
      }
    }
    &__floating {
      position: relative;
      left: auto;
      top: auto;
      right: auto;
      transform: none !important;

      // default - from ".height-w-550"
      min-height: rem($min-height480px);
      @include screen(web) {
        min-height: rem($min-height550px);
      }
    }
  }
  .c-carousel {
    margin-left: rem(-$block-margin-m);
    margin-right: rem(-$block-margin-m);
    @include screen(web) {
      margin-left: rem(-$block-margin-w);
      margin-right: rem(-$block-margin-w);
    }
    @include inset-padding-hz;
  }
  .c-hero-banner {
    width: 100%;
    height: 100%;

    // element
    &__bg-image {
      background: {
        size: cover;
        repeat: no-repeat;
        position: center;
      }
    }

    // modifier
    &--main-pos-right {
      .c-text-contents {
        text-align: right;
        align-items: flex-end;
      }
    }
  }

  // vendor
  .swiper {
    overflow-y: visible;
    position: static;
    &-wrapper {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      justify-content: flex-start;
      @include screen(web) {
        gap: rem($gutter-w);
      }
    }
    &-slide {
      display: flex;
      flex-direction: column;
      height: auto;
    }
    &.swiper-initialized {
      .swiper-wrapper {
        @include screen(web) {
          gap: 0;
        }
      }
      .swiper-slide {
        max-width: 100%;
        min-width: auto;
        @include screen(web) {
          flex: none;
        }
      }
    }
  }

  // layout : margin
  .c-region-header + * {
    margin-top: rem($margin12px);
    @include screen(web) {
      margin-top: rem($margin20px);
    }
  }

  // variation
  // banner height
  &.height-w-550 {
    .c-floating-contents {
      &__floating {
        min-height: rem($min-height480px);
        @include screen(web) {
          min-height: rem($min-height550px);
        }
      }
    }
  }
  &.height-w-360 {
    .c-floating-contents {
      &__floating {
        min-height: rem($min-height300px);
        @include screen(web) {
          min-height: rem($min-height360px);
        }
      }
    }
  }
  // displayed banner count
  @include screen(web) {
    .column-1 {
      .swiper-slide {
        flex-basis: 100%;
      }
    }
    .column-2 {
      .swiper-slide {
        flex-basis: calc(50% - calc($gutter-w / 2));
        max-width: calc(50% - calc($gutter-w / 2));
      }
    }
    .column-3 {
      .swiper-slide {
        flex-basis: calc(33.3333% - calc($gutter-w * 2 / 3));
        max-width: calc(33.3333% - calc($gutter-w * 2 / 3));
      }
    }
  }
}
