mixin PD0041(option=false)
    mixin img-contents
        // block : media contents

    mixin carouselItem(index, badgeInfo)
        - var animationSet = index == 0 ? true : false
        - var bodycopyText = index > 0 ? 'lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean commodo.' : 'Until 31 dicembre 2025'
        .cmp-carousel__item.swiper-slide(data-cmp-data-layer="" data-cmp-hook-carousel="item")
            // block : hero banner case advance
            +hero-banner-case-advance({
                bgAnimation: animationSet,
                useVideo: true,
                imageSize : "800x800",
                dateType : "none",
                useEyebrow : false,
                cta : "text",
                ctaSecond : "box",
                textAlign : "left",
                headline : "lorem ipsum dolor sit amet, consectetuer",
                bodycopy : bodycopyText,
                badge : badgeInfo,
                hasIcon : true,
            })
    mixin carouselItem2(index, badgeInfo)
        - var animationSet = index == 0 ? true : false
        .cmp-carousel__item.swiper-slide(data-cmp-data-layer="" data-cmp-hook-carousel="item")
            // block : hero banner case advance
            +hero-banner-case-advance({
                bgAnimation: false,
                useVideo: false,
                imageSize : "800x800",
                dateType : "none",
                useEyebrow : false,
                cta : "box",
                ctaSecond : false,
                textAlign : "left",
                headline : "lorem ipsum dolor",
                bodycopy : "lorem ipsum dolor sit amet, consectetuer.",
                hasIcon : true,
            })
    mixin carouselHandler
        .c-carousel__handler
            .cmp-carousel__actions
                +carouselBtn({type:"pagination", direction:"prev"})
            +carouselPagination
            .cmp-carousel__actions
                +carouselBtn({type:"pagination", direction:"next"})
    mixin header
        +component-title-area({
            alignment:"",
            headline : {
                text : "A Better way to shop with LG"
            }
        })(class="c-region-header--vacate-side")

    if (option == 'HOME')
        .c-wrapper.PD0041.type-advance.margin-top.margin-bottom.height-w-360.bg-default
            .component
                .cmp-container
                    +header
                    // carousel
                    .carousel.panelcontainer
                        // block : carousel
                        // 2023-02-08 Add class according to the number of columns
                        .cmp-carousel.swiper.c-carousel.column-3(data-cmp-data-layer="")
                            .cmp-carousel__content.swiper-wrapper
                                - for (var x = 0; x < 5; x++)
                                    +carouselItem2(x)
                            +carouselHandler
    else if (option == 'COLUMN1')
        .c-wrapper.PD0041.type-advance.margin-top.margin-bottom.height-w-550.bg-default
            .component
                .cmp-container
                    +header
                    // carousel
                    .carousel.panelcontainer
                        // block : carousel
                        // 2023-02-08 Add class according to the number of columns
                        .cmp-carousel.swiper.c-carousel.column-1(data-cmp-data-layer="")
                            .cmp-carousel__content.swiper-wrapper
                                - for (var x = 0; x < 2; x++)
                                    +carouselItem(x, ["Badge1","Badge2"])
                            +carouselHandler
    else if (option == 'COLUMN2')
        .c-wrapper.PD0041.type-advance.margin-top.margin-bottom.height-w-550.bg-default
            .component
                .cmp-container
                    +header
                    // carousel
                    .carousel.panelcontainer
                        // block : carousel
                        // 2023-02-08 Add class according to the number of columns
                        .cmp-carousel.swiper.c-carousel.column-2(data-cmp-data-layer="")
                            .cmp-carousel__content.swiper-wrapper
                                - for (var x = 0; x < 5; x++)
                                    +carouselItem(x, ["Badge1","Badge2"])
                            +carouselHandler
    else if (option == 'COLUMN2S')
        .c-wrapper.PD0041.type-advance.margin-top.margin-bottom.height-w-550.bg-default
            .component
                .cmp-container
                    +header
                    // carousel
                    .carousel.panelcontainer
                        // block : carousel
                        // 2023-02-08 Add class according to the number of columns
                        .cmp-carousel.swiper.c-carousel.column-2(data-cmp-data-layer="")
                            .cmp-carousel__content.swiper-wrapper
                                - for (var x = 0; x < 2 ; x++)
                                    +carouselItem2(x)
                            +carouselHandler
    else if (option == 'COLUMN3')
        .c-wrapper.PD0041.type-advance.margin-top.margin-bottom.height-w-550.bg-default
            .component
                .cmp-container
                    +header
                    // carousel
                    .carousel.panelcontainer
                        // block : carousel
                        // 2023-02-08 Add class according to the number of columns
                        .cmp-carousel.swiper.c-carousel.column-3(data-cmp-data-layer="")
                            .cmp-carousel__content.swiper-wrapper
                                - for (var x = 0; x < 5; x++)
                                    +carouselItem(x)
                            +carouselHandler
    else if (option == 'COLUMN3S')
        .c-wrapper.PD0041.type-advance.margin-top.margin-bottom.height-w-550.bg-default
            .component
                .cmp-container
                    +header
                    // carousel
                    .carousel.panelcontainer
                        // block : carousel
                        // 2023-02-08 Add class according to the number of columns
                        .cmp-carousel.swiper.c-carousel.column-3(data-cmp-data-layer="")
                            .cmp-carousel__content.swiper-wrapper
                                - for (var x = 0; x < 3; x++)
                                    +carouselItem2(x)
                            +carouselHandler