@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.PR0013';
#{$component} {
  @include lgness-margin('if-headline');
  > .component > .cmp-container {
    max-width: rem($design-grid-full + ($block-margin-w * 2));
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: relative;
  }

  .PR0013__render {
    min-height: rem(400px);
  }

  .c-region-header {
    @include inset-padding-hz;
  }

  // tab panel
  // .cmp-tabs__tabpanel {
  //     margin-top: rem($margin12px);
  //     @include screen(web) {
  //         margin-top: rem($margin20px);
  //     }
  //     &:focus-visible {
  //         outline: none;
  //         .c-category-list {
  //             @include lgness-radius('default');
  //             outline: rem($border2) solid currentcolor;
  //         }
  //         .c-carousel {
  //             @include lgness-radius('default');
  //             outline: rem($border2) solid currentcolor;
  //             outline-offset: 0;
  //             .c-category-list {
  //                 outline: none;
  //             }
  //         }
  //     }
  // }

  .PR0013__render {
    margin-top: rem($margin12px);
    @include screen(web) {
      margin-top: rem($margin20px);
    }
  }

  // no-data box
  .c-no-data-wrap {
    @include inset-padding-hz;
  }
  .c-no-data {
    width: 100%;
    padding: rem($padding79px) 0;
    background: $white;
    @include lgness-radius('default');
    @include screen(web) {
      padding: rem($padding150px) 0;
    }
  }

  // For the multi-row option apply
  .swiper-grid-column > .swiper-wrapper {
    flex-flow: column wrap;
  }
  .c-product-list--carousel {
    &[class*='multirow'] {
      .c-carousel__item {
        height: rem(640px);
        @include screen(web) {
          height: rem(750px);
        }
      }
    }
    &.multirow2 {
      .swiper-wrapper {
        max-height: rem(1700px);
      }
    }
    &.multirow3 {
      .swiper-wrapper {
        max-height: rem(2400px);
      }
    }
  }

  // For the screen before applying swiper js
  .c-carousel__item {
    height: auto;
    @include screen(web) {
      width: rem(columns(3, false));
      margin-right: rem($gutter-w);
    }
  }

  // vendor
  .swiper {
    overflow-y: visible;
    position: static;
  }

  .c-product-item__img {
    margin-left: auto;
    margin-right: auto;
    max-height: rem($height200px);
    aspect-ratio: 1/1;
    @include screen(web) {
      max-height: rem(240px);
    }
    img {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: 50% 50%;
    }
  }

  .btn-bottom-container {
    // '@at-root ' needed
    display: flex;
    justify-content: center;
    gap: rem(10px);
    margin-top: rem($margin25px);
    @include screen(web) {
      margin-top: rem($margin50px);
    }
  }
}
