@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.AL0003';

#{$component} {
  img {
    width: 100%;
  }
  > .component > .cmp-container {
    display: flex;
    align-items: center;
    padding: 0 rem($padding25px);
    background-color: $white;
    @include flex-context($direction: column);
    @include screen(web) {
      padding: rem($padding48px 0);
      background-color: transparent;
    }
    .c-detail-area {
      width: 100%;
      max-width: rem(1440px);
      padding: rem($padding25px) 0 0;
      @include screen(web) {
        background-color: $white;
        padding: rem($padding48px) rem(122px) 0;
        @include lgness-radius('default');
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }
      .c-text-contents {
        border-bottom: rem($border1) solid $mid-gray1;
        padding: 0 0 rem($padding24px);
        @include screen(web) {
          padding: 0 0 rem($padding30px);
        }
        .title {
          text-align: left;
        }
        .contents {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: rem($padding12px);
          flex-direction: column;
          @include screen(web) {
            padding-top: rem($padding24px);
            flex-direction: row;
          }
          .c-doc-date {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            color: $mid-gray3;
            @include screen(web) {
              width: auto;
            }
            span {
              line-height: rem(16px);
              @include screen(web) {
                line-height: rem(18px);
              }
            }
            span + span {
              margin-left: rem($margin10px);
              border-left: rem($border1) solid $mid-gray1;
              padding-left: rem($margin10px);
            }
            .doc {
              color: $dark-gray3;
            }
          }
          .c-buttons {
            padding: rem($padding40px) 0 rem($padding20px);
            width: 100%;
            display: flex;
            @include screen(web) {
              width: auto;
              display: block;
              padding: 0 rem($padding24px);
            }
            .cmp-button {
              position: relative;
            }
            .cmp-button + .cmp-button {
              margin-left: rem($margin24px);
            }
          }
        }
      }
    }
    .c-detail-area-contents {
      width: 100%;
      max-width: rem(1440px);
      padding: 0 0 rem($padding24px);
      @include screen(web) {
        background-color: $white;
        padding: 0 rem(122px) rem($padding72px);
      }
      .c-part {
        padding-top: rem($padding24px);
        @include screen(web) {
          padding-top: rem($padding48px);
        }
      }
      .c-part.c-detail-content {
        .c-detail-content__img {
          img {
            width: 100%;
          }
        }
        .c-text-contents__bodycopy {
          margin-top: rem($margin20px);
          @include screen(web) {
            margin-top: rem($margin48px);
          }
        }
        .parag {
          font-size: rem(16px);
          line-height: rem(18px);
          color: $dark-gray3;
          @include screen(web) {
            font-size: rem(24px);
            line-height: rem(28px);
          }
          strong {
            font-weight: $font-bold;
          }
        }
        .parag + .parag {
          margin-top: rem(20px);
        }
        p {
          text-align: left;
        }
      }
    }
    .c-back-to-list {
      width: 100%;
      max-width: 90rem;
      background-color: $white;
      @include screen(web) {
        @include lgness-radius('default');
        border-top-right-radius: 0 !important;
        border-top-left-radius: 0 !important;
      }
      .c-back-to-list-box {
        width: 100%;
        text-align: center;
        padding-bottom: rem($padding24px);
        @include screen(web) {
          margin: 0 rem(122px);
          padding-bottom: rem($padding48px);
        }
      }
    }
    .c-control-link {
      width: 100%;
      max-width: 90rem;
      padding: 0 0 rem($padding24px);
      @include screen(web) {
        padding: 0 rem(122px);
        padding-bottom: rem($padding24px);
        background-color: $white;
      }
      ul {
        width: 100%;
        margin: 0;
        border-top: rem($border1) solid $mid-gray1;
        padding: rem($padding24px) 0 0;
        li {
          list-style: none;
          table-layout: fixed;
          display: table;
          width: 100%;
          color: $gray3;
          vertical-align: middle;
          > * {
            display: table-cell;
          }
          .to-contents {
            position: relative;
            .prev-contents,
            .next-contents {
              display: flex;
              width: 100%;
              justify-content: space-between;
              color: $gray3;
              flex-direction: column;
              align-items: flex-start;
              @include screen(web) {
                flex-direction: row;
                align-items: center;
              }
              a {
                color: $gray3;
                @include ellipsis(3);
                font-size: rem(14px);
                line-height: rem(16px);
                @include screen(web) {
                  display: block;
                  @include ellipsis(1);
                  font-size: rem(16px);
                  line-height: rem(18px);
                }
              }
            }
            .to-date {
              width: rem(110px);
              font-size: rem(12px);
              line-height: rem(12px);
              color: $mid-gray3;
              margin-top: rem($margin8px);
              display: block;
              @include screen(web) {
                width: auto;
                margin-top: 0;
                display: inline;
                font-size: rem(12px);
                line-height: rem(14px);
              }
            }
            &::before {
              content: '';
              display: block;
              width: rem(2px);
              height: rem(12px);
              background-color: $mid-gray1;
              position: absolute;
              top: rem(5px);
              left: rem(-25px);
            }
          }
          .to {
            font-size: rem(14px);
            line-height: rem(16px);
            width: rem(110px);
            color: $black;
            @include screen(web) {
              width: 9%;
              font-size: rem(16px);
              line-height: rem(18px);
            }
          }
        }
        li + li {
          margin-top: rem($margin20px);
        }
      }
    }
    .c-media {
      .cmp-button {
        &::before {
          border: 0;
        }
      }
    }
  }
}
