@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.MB000L';
#{$component} {
  .my-check {
    margin: 0 auto;
    max-width: rem(952px);
    background-color: $white;
    padding: rem($padding20px) rem($padding16px);
    @include lgness-radius('default');

    @include screen(web) {
      padding: rem($padding24px);
    }

    .button + .button {
      margin-top: rem($margin8px);
    }
    &__item {
      display: flex;
    }
    & + .c-cta {
      .c-button {
        width: 100%;
        @include screen(web) {
          width: auto;
        }
      }
    }
    &__button {
      align-items: flex-end;
      gap: 0 rem(6px);
      display: flex;
    }
    .c-checkbox-item .label {
      font-size: rem(14px);
      line-height: rem(16px);
      @include screen(web) {
        font-size: rem(16px);
        line-height: rem(20px);
      }
    }
    &--receipt-text {
      color: $gray3;
      margin-top: rem($margin8px);
      padding-left: rem($padding28px);
      font-size: rem(14px);
      line-height: rem(16px);
      max-width: rem(680px);
      @include screen(web) {
        font-size: rem(16px);
        line-height: rem(20px);
      }
      &.w-full {
        max-width: 100%;
      }
      &.bg-gray {
        background: $ivory6;
        border-radius: 12px;
        padding: 12px;
        @include screen(web) {
          padding: 12px 28px;
        }
      }
    }
    .optional-check {
      margin-top: 8px;
    }
  }
}
