@charset "UTF-8";
@use '../../scss/abstract/' as *;
@use '../CS0000/CS0000' as *;

// component
$component: '.CS0026';
#{$component} {
  // scrollbar for Chrome and Safari
  ::-webkit-scrollbar {
    width: rem(4px);

    @include screen(web) {
      width: rem(6px);
    }
  }

  ::-webkit-scrollbar-track {
    background: rgba($black, 0);
  }

  ::-webkit-scrollbar-button:start:decrement,
  ::-webkit-scrollbar-button:end:decrement {
    display: block;
    width: rem(4px);
    height: rem(4px);
    background: rgba($black, 0);

    @include screen(web) {
      height: rem(12px);
    }
  }

  &__container {
    /* Delete that style on development */
    padding: 0 !important;
    @include screen(web) {
      /* Delete that style on development */
      margin: 0 !important;
      max-width: none !important;
    }
  }
  .c-modal {
    /* Delete that style on development */
    position: relative !important;
    padding: 10px;
    @include screen(web) {
      /* Delete that style on development */
      padding: 50px;
    }
  }

  &__container {
    @include flex-context;

    @include container($design-grid-full, true);
    @include screen(web) {
      @include flex-context;
    }
    @include container((columns(12)), false);
    @include screen(tablet) {
      @include inset-padding-hz;
    }
    @include inset-padding-hz;
    padding-top: rem($padding40px);
    padding-bottom: rem($padding40px);
    &.c-full {
      padding: rem($padding24px 0);
      .c-support-title {
        margin: rem(0 $margin25px);
        @include screen(web) {
          margin: 0 auto;
        }
      }
    }
    @include screen(web) {
      padding: rem($padding50px 0);
    }
  }

  .c-modal {
    $modal: '.c-modal';

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    // &--active {
    //     display: flex;
    // }

    &__type2 {
      #{$modal}__content {
        padding: rem($padding32px $padding44px $padding32px $padding24px);
        @include screen(web) {
          padding: rem($padding40px $padding60px $padding40px $padding48px);
        }
      }
      #{$modal}__content-text {
        word-break: break-word;
      }
    }

    &__type-scroll {
      #{$modal}__content {
        &-scroll-box {
          padding-right: rem($padding4px);
          overflow-y: auto;
          @include screen(web) {
            padding-right: rem($padding25px);
            max-height: rem($height370px);
          }
        }
      }
    }

    &__dimmed {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
    &__box {
      position: relative;
      width: 100%;
      margin: rem(0 $margin24px);
      background-color: $warm-gray;
      border-radius: rem(20px);
      z-index: 2;
      @include screen(web) {
        max-width: rem(660px);
        height: auto;
        border-radius: rem(32px);
      }
    }
    &__head {
      display: flex;
      align-items: center;
      position: relative;
      margin: rem(0 $margin24px);
      padding: rem($padding32px 0 $padding12px);
      text-align: left;
      border-bottom: 1px solid $mid-gray1;
      &.c-border-0 {
        border-bottom: 0;
        padding-bottom: rem(0);
      }
      @include screen(web) {
        position: relative;
        margin: rem(0 $margin48px);
        padding: rem($padding40px 0 $padding20px);
      }
    }
    &__title {
      letter-spacing: rem(0.5px);
      @include screen(web) {
        width: 100%;
      }
    }
    &__closebtn {
      position: absolute;
      top: rem(16px);
      right: rem(16px);
      width: rem(12px);
      height: rem(12px);
      background-size: cover;
      background-image: url($icon-close-black-12-12);
      background-color: transparent;
      border: none;
      cursor: pointer;
      text-indent: -9999px;
      @include screen(web) {
        top: rem(22px);
        right: rem(22px);
        width: rem(20px);
        height: rem(20px);
        background-image: url($icon-close-black-20-20);
      }
      &::before,
      &::after {
        display: none;
      }
    }
    &__content {
      padding: rem($padding12px $padding24px $padding32px);
      @include screen(web) {
        padding: rem($padding20px $padding48px $padding40px);
      }
      &-top {
        padding-bottom: rem($padding20px);
      }
      &-title {
        text-align: center;
      }
      &-subtitle {
        margin-top: rem($margin6px);
        text-align: center;
      }
      .button {
        flex-direction: column;
        gap: rem(8px);
        margin-top: rem($margin24px);
        @include screen(web) {
          flex-direction: row;
        }
      }
      ol.cmp-text {
        padding-left: rem($padding14px);
        margin: rem($margin20px) 0;
        @include screen(web) {
          padding-left: rem($padding20px);
        }
        > li {
          list-style-position: outside;
        }
      }
    }
    &__button {
      padding: rem(0 $padding24px $padding32px);
      @include screen(web) {
        padding: rem(0 $padding48px $padding40px);
      }
      .button {
        flex-direction: column;
        gap: rem(8px);
        margin-top: rem($margin24px);
        @include screen(web) {
          flex-direction: row;
        }
      }
    }

    &__bgDimd {
      padding: 1.25rem 1rem;
      border-radius: rem($margin28px);
      text-align: center;
      background: #333;

      img {
        width: auto;
        margin: 0 auto;
      }

      @include screen(web) {
        padding: 6.25rem 0;
      }
    }

    &__bgWhite {
      padding: 1.25rem 1rem;
      margin-bottom: rem($margin18px);
      border-radius: rem($margin28px);
      text-align: center;
      background: #fff;

      img {
        width: auto;
        margin: 0 auto;
      }

      @include screen(web) {
        padding: 3.625rem 2.5rem;
      }

      .c-modal__varcodeBox {
        display: flex;
        text-align: left;
        gap: 1.25rem;

        .box {
        }
      }
    }
  }
  .c-large {
    .c-modal {
      &__box {
        @include screen(web) {
          max-width: rem(1024px);
        }
      }
    }
  }
  .c-medium {
    .c-modal {
      &__box {
        @include screen(web) {
          max-width: rem(660px);
        }
      }
    }
  }
  .cs-promotion {
    .c-modal {
      &__head {
        border-bottom: none;
        padding-top: rem($padding40px);
      }
      &__content {
        padding-top: 0;
        &--title {
          display: inline-block;
          color: $black;
          margin-bottom: rem($margin8px);
        }
        &--subtitle {
          color: $gray3;
          border-bottom: 1px solid $grayd9;
          padding-bottom: rem($padding8px);
        }
        &--desc {
          color: $gray3;
          margin-top: rem($margin8px);
        }
      }
      &__bgDimd {
        background: $white;
        border-radius: rem($radius20);
        padding: 0;
        text-align: initial;
        .cmp-image {
          margin-bottom: rem($margin12px);
        }
      }
      &__txt {
        padding: rem($padding12px $padding18px);
      }
      &__desc {
        color: $mid-gray3;
        margin-top: rem($margin8px);
        a {
          color: $heritage-red;
          text-decoration: underline;
        }
      }
      &__button {
        // margin-bottom: rem($margin40px);
        // margin-left: rem($margin24px);
        .button {
          margin-top: 0;
          flex-direction: unset;
        }
      }
    }
    @include screen(web) {
      .c-modal {
        &__head {
          padding-top: rem($padding50px);
        }
        &__box {
          // max-width: rem(708px);
        }
        &__content {
          padding-bottom: rem($padding24px);
          &--subtitle {
            padding-bottom: rem($padding16px);
          }
          &--desc {
            margin-top: rem($margin16px);
          }
        }
        &__txt {
          padding: rem($padding20px);
        }
        &__button {
          margin-bottom: rem($margin50px);
          margin-left: rem($margin50px);
          padding: 0;
        }
      }
    }
  }
  .cs-send-sms {
    .c-modal {
      &__title {
        @include screen(web) {
          width: auto;
        }
      }
      &__content {
        .cs-form {
          + .c-modal__content-text {
            margin-top: rem($margin12px);
            @include screen(web) {
              margin-top: rem($margin20px);
            }
          }
        }
        &-text {
          color: $dark-gray1;
        }
      }
      .cs-captcha {
        position: absolute;
        width: 100%;
        height: 100%;
        &__area {
          position: absolute;
          right: 0;
          bottom: rem(24px);
          @include screen(web) {
            bottom: rem(48px);
          }
        }
      }
    }
  }
  .cs-qr-box {
    p {
      color: #333;
    }
    .c-modal-info-box {
      .cmp-button {
        margin-top: rem($margin8px);
        @include screen(web) {
          margin-top: rem($margin16px);
        }
      }
    }
    .c-modal-qr-wrap {
      padding-top: rem($padding12px);
      margin-top: rem($margin12px);
      border-top: 1px solid #d9d9d9;
      text-align: center;
      @include screen(web) {
        padding-top: rem($padding16px);
        margin-top: rem($margin16px);
      }
    }
  }
}
