@charset "UTF-8";
@use '../../scss/abstract/' as *;
@use '../CS0000/CS0000' as *;

// component
$component: '.CS0032';
#{$component} {
  // variable
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  $image: '.c-image';
  $mobile-width: calc(100% - rem($margin25px * 2));

  // scrollbar for Chrome and Safari
  ::-webkit-scrollbar {
    width: rem(4px);

    @include screen(web) {
      width: rem(6px);
    }
  }

  ::-webkit-scrollbar-track {
    background: rgba($black, 0);
  }

  ::-webkit-scrollbar-button:start:decrement,
  ::-webkit-scrollbar-button:end:decrement {
    display: block;
    width: rem(4px);
    height: rem(4px);
    background: rgba($black, 0);

    @include screen(web) {
      height: rem(12px);
    }
  }

  &__container {
    @include flex-context;
    @include container($design-grid-full, true);
    @include inset-padding-hz;
    @at-root #{$component} {
      .full #{$component}__container {
        padding: 0;
        #{$cs-header} {
          margin: rem(0 $margin25px);
          margin-bottom: rem($margin12px);
          @include screen(web) {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: rem($margin20px);
          }
        }
      }

      .type-grid #{$component}__container {
        // max-width: none;
        // padding-left: 0;
        // padding-right: 0;

        #{$cs-header} {
          @include container($design-grid-full, true);
          @include inset-padding-hz;
        }
      }
    }
  }
  // add class c-default-margin component
  &.c-default-margin {
    padding-bottom: rem($padding10px);

    @include screen(web) {
      // padding-bottom: rem($padding60px);
      padding-bottom: 0;
    }

    &.c-wrapper {
      &.margin-top {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: rem($padding30px);

        @include screen(web) {
          padding-bottom: rem($padding60px);
        }

        &.margin-bottom {
          padding-bottom: rem($padding30px);

          @include screen(web) {
            padding-bottom: rem($padding60px);
          }
        }
      }

      &.margin-bottom {
        @include screen(web) {
          // padding-bottom: rem($padding50px);
        }
      }
    }

    #{$cs-header} {
      margin-top: rem($margin30px);
      margin-bottom: rem($margin30px);

      @include screen(web) {
        margin-top: rem($margin40px);
        margin-bottom: rem($margin40px);
      }
    }
  }
  // common
  .c-cta {
    // display: block;
    margin-top: rem($margin40px);
    // text-align: center;
    justify-content: center;
  }

  .c-require {
    margin-bottom: rem($margin8px);
    color: $gray6;
    text-align: right;

    // margin-right: rem($margin25px);
    @include screen(web) {
      margin-top: 0;
      margin-right: 0;
    }
  }

  .require {
    font-style: normal;
    font-weight: $font-semibold;
    color: $red;
  }

  .c-warning {
    color: $red-warning;
    margin-top: rem($margin8px);
    position: relative;
    padding-left: rem($padding28px);
    line-height: rem(20px);
    text-align: left;

    &::before {
      content: '';
      display: inline-block;
      background: url($icon-warning);
      position: absolute;
      top: 0;
      left: 0;
      width: rem(20px);
      height: rem(20px);
    }
  }

  // Support HEADER
  #{$cs-header} {
    margin-bottom: rem($margin12px);

    a {
      color: $red;
      text-decoration: underline;
    }

    @include screen(web) {
      margin-bottom: rem($margin20px);
    }

    @at-root #{$component} #{$cs-header} {
      #{$text-contents}__headline + #{$text-contents}__bodycopy {
        margin-top: rem($margin6px);

        @include screen(web) {
          margin-top: rem($margin10px);
        }
      }
    }
  }

  #{$text-contents} {
    &__line-type {
      border: 1px solid $grayd;
      border-radius: rem($radius6);
      padding: rem($padding20px $padding16px);
      @include screen(web) {
        padding: rem($padding30px $padding24px);
      }

      #{$text-contents}__headline,
      #{$text-contents}__subcopy {
        display: none;
      }
      #{$text-contents}__bodycopy {
        margin: 0;
      }
    }
    &__bodycopy {
      a {
        color: $red;
        text-decoration: underline;
      }
    }
    &__list {
      display: flex;
      align-items: flex-start;
      margin-left: rem($margin6px);
      &:first-child {
        margin-top: rem($margin8px);
      }
      span {
        margin-right: rem($margin6px);
      }
    }
  }

  // COMMON - .container
  .container {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
  }

  // BREADCRUMB
  .breadcrumb {
    border-radius: rem($radius20);
    position: relative;
    background: $white;
    margin: rem(0 $margin16px);
    padding: 0;
    border-bottom: none;
    @include screen(web) {
      display: block;
      padding: 0;
      margin: rem(0 $margin24px);
      border-radius: rem($radius28);
    }

    &__wrap {
      // margin: rem(0 $margin20px);
      padding-top: rem($padding32px);
      @include screen(web) {
        display: flex;
        align-items: center;
        max-width: rem(1440px);
        margin: 0 auto;
        padding: rem($padding24px $padding28px $padding24px);
      }
    }

    p {
      font-weight: $font-semibold;
    }
    .c-reset-button {
      display: none;
    }
    .c-btn-close {
      position: absolute;
      top: rem(10px);
      right: rem(6px);
      padding: rem($padding10px);
      border: none;
      background-color: transparent;
      cursor: pointer;
      &:focus-visible {
        outline: rem(2px) solid currentcolor;
        outline-offset: 1px;
      }
      @include screen(web) {
        top: rem(18px);
        right: rem(18px);
      }
    }
  }
  .c-breadcrumb {
    // position: relative;
    // padding: rem(0 $padding24px);
    &__item {
      &:last-child {
        padding-right: 0;
        margin-right: 0;
      }
      &.active {
        .c-breadcrumb__item-link {
          font-weight: $font-semibold;
          color: $black;
          background: $white;
          cursor: pointer;
        }
      }
    }
  }
  // c-selected-model
  .c-selected-model {
    &-Num {
      padding: rem($padding20px);
      display: flex;
      position: relative;
      margin-top: rem($margin20px);
      border-top: 1px solid $mid-gray1;
      background: $white;
      border-radius: rem(0 0 $radius20 $radius20);

      .c-btn-close {
        position: absolute;
        top: rem(10px);
        right: rem(6px);
        padding: rem($padding10px);
        border: none;
        background-color: transparent;
        cursor: pointer;
        &:focus-visible {
          outline: rem(2px) solid currentcolor;
          outline-offset: 1px;
        }
      }

      &.hide {
        display: none;
      }

      .cmp-image {
        margin-right: rem(12px);

        &__image {
          // width: auto;
          width: rem(40px);
          max-width: none;
          border-radius: rem(4px);
        }
      }
    }

    &-Info {
      .c-serialNum {
        margin-top: rem($margin8px);
        color: $mid-gray2;
        word-break: break-word;
      }
      .c-prdName {
        font-size: rem(24px);
        @include ellipsis(1);
        white-space: normal;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
      .c-warrantyInfo {
        margin-top: rem($margin12px);
        color: $mid-gray2;
        span {
          display: inline-block;
          margin-top: rem($margin4px);
          color: $black;
        }
      }
    }

    @include screen(web) {
      &-Num {
        margin: 0 auto;
        align-items: center;
        padding: rem($padding28px);
        border-radius: rem(0 0 $radius28 $radius28);
        .cmp-image {
          &__image {
            width: rem(64px);
            border-radius: rem(6px);
          }
        }
      }
      &-Info {
        .c-serialNum {
          margin-top: rem($margin6px);
        }
        .c-warrantyInfo {
          margin-top: rem($margin8px);
          span {
            margin-left: rem($margin4px);
            display: inline-block;
          }
        }
      }
    }
  }

  @at-root #{$component} {
    .c-support {
      &__inner {
        padding: 0 rem($padding25px);

        @include screen(web) {
          padding: 0;
        }
      }
    }
  }

  .type-tabs {
    #{$component}__container {
      max-width: none;
    }
  }

  .c-prd-grid {
    padding: rem(0 $padding16px);

    @include screen(web) {
      padding: 0;
      @include container($design-grid-full, true);
      @include inset-padding-hz;
    }
  }

  // CS0034 - TYPE2
  .c-text-contents {
    &__border-type {
      padding: rem($padding25px);
      line-height: rem(18px);
      border-bottom: 1px solid $grayd;
      border-top: 1px solid $grayd;
      // margin: 0 rem($margin25px);
      @include screen(web) {
        max-width: $design-grid-full;
        margin: 0 auto;
        padding: rem($padding20px);
      }
      a {
        font-weight: $font-semibold;
        text-decoration: underline;
        color: $red;
      }
    }
    &__disclaimer {
      padding: rem($padding8px) 0;
      color: $gray6;
      text-align: left;
      margin: rem(0 $margin16px);
      @include screen(web) {
        padding: rem($padding14px) 0;
      }
    }
  }

  // INQUIRY PARTS BY MODEL
  .c-table-box {
    margin-top: rem($margin25px);
    @include screen(web) {
      max-width: rem(708px);
      margin: rem($margin40px auto 0);
    }
    &.type-horizontal {
      max-width: none;
    }
    .c-table {
      // overflow: hidden;
      max-height: none;
      // border: 1px solid #000;
      padding: rem(0 $padding16px);
      border-top: none;
      border-bottom: none;
      table {
        // text-align: center;
        background: $light-gray3;
        border-radius: rem($radius20);
        th {
          background: $light-gray3;
          border-radius: rem($radius20);
        }
      }
      img {
        display: inline-block;
        width: 100%;
        padding: rem($padding6px);
        max-width: rem($max-width80px + $padding6px * 2);
        @include screen(web) {
          max-width: rem($max-width150px + $padding6px * 2);
        }
      }
      &__scroll-type {
        thead {
          display: table;
          width: 100%;
          th {
            width: 50%;
          }
        }
        tbody {
          display: block;
          overflow-y: auto;
          max-height: rem(350px);
          @include screen(web) {
            max-height: rem(336px);
          }
          tr {
            display: table;
            width: 100%;
          }
          td {
            width: 50%;
          }
        }
      }
    }
  }
  .c-table-box2 {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
    .c-table2 {
      background: $light-gray3;
      border-radius: rem($radius20);
      margin: rem($margin12px 0 0);
      padding: rem($padding20px);
      table {
        width: 100%;
        caption {
          display: none;
        }

        th {
          border-bottom: 1px solid $mid-gray2;
          font-size: rem(20px);
          font-weight: normal;
          padding-bottom: rem($padding8px);
        }
        td {
          border-bottom: 1px solid $mid-gray1;
          font-size: rem(16px);
          line-height: rem(18px);
        }
        tbody {
          tr:first-child {
            td {
              padding-top: rem($padding20px);
              padding-bottom: rem($padding20px);
              border-bottom: 1px solid $mid-gray1;
              color: $mid-gray3;
            }
          }
        }
      }
      &.c-table__scroll-type {
        thead {
          display: table;
          width: 100%;
          th {
            width: 50%;
          }
        }
        tbody {
          display: block;
          overflow-y: auto;
          max-height: rem(276px);
          @include screen(web) {
            max-height: rem(336px);
          }
          tr {
            display: table;
            width: 100%;
            &:first-child {
              td {
                padding: rem($padding20px 0 $padding8px);
                // padding-bottom:0;
                border-bottom: 1px solid $mid-gray1;
              }
            }
          }
          td {
            width: 50%;
            height: auto;
            padding: rem($padding8px 0);
          }
        }
      }
    }
    @include screen(web) {
      .c-table2 {
        padding: rem($padding28px);
        margin-left: 0;
        margin-right: 0;
        margin-top: rem($margin24px);
        border-radius: rem($radius28);
        table {
          th {
            font-size: rem(24px);
            line-height: rem(28px);
            padding-bottom: rem($padding12px);
          }
          td {
            font-size: rem(20px);
            line-height: rem(24px);
          }
        }
        &.c-table__scroll-type {
          tbody {
            td {
              padding: rem($padding10px 0);
            }
          }
        }
      }
    }
  }
}
