@charset "UTF-8";
@use '../../scss/abstract/' as *;
@use '../CS0000/CS0000' as *;

$component: '.CS0087';
#{$component} {
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';

  // Support HEADER
  #{$cs-header} {
    margin-bottom: rem($margin24px);
    a {
      color: $red;
      text-decoration: underline;
    }

    @include screen(web) {
      margin-bottom: rem($margin40px);
      display: flex;
    }

    @at-root #{$component} #{$cs-header} {
      #{$text-contents} {
        // text-align: center;
      }

      #{$text-contents}__headline + #{$text-contents}__bodycopy {
        margin-top: rem($margin6px);

        @include screen(web) {
          margin-top: rem($margin10px);
        }
      }
    }
  }

  > .component > .cmp-container {
    max-width: rem($design-grid-full + ($block-margin-w * 2));
    margin-left: auto;
    margin-right: auto;
    @include text-contents-inset;
  }
  &.width-wide {
    > .component > .cmp-container {
      max-width: rem($design-grid-full + ($block-margin-w * 2));
    }
  }
  &.width-narrow {
    > .component > .cmp-container {
      max-width: rem($text-box-width-md + ($block-margin-w * 2));
    }
  }

  // table
  .c-table {
    table {
      text-align: center;

      .hightlight {
        color: $active-red;
      }
      tbody {
        th {
          position: relative;
        }
      }
    }
    img {
      display: inline-block;
      width: 100%;
      padding: rem($padding6px);
      max-width: rem($max-width80px + $padding6px * 2);
      @include lgness-radius('default');
      @include screen(web) {
        max-width: rem($max-width150px + $padding6px * 2);
      }
    }
  }
  &.type5 {
    .c-table {
      td,
      th {
        @include screen(web) {
          min-width: auto;
        }
      }
    }
  }
}
