$font-path: './assets/font/' !default;

// LGEI
@font-face {
  font-family: 'LGEI Headline';
  src:
    local('LGEI Headline Bold'),
    local('LGEIHeadline-Bold'),
    url('#{$font-path}LGEIHeadline-Bold.woff2') format('woff2'),
    url('#{$font-path}LGEIHeadline-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'LGEI Headline';
  src:
    local('LGEI Headline Light'),
    local('LGEIHeadline-Light'),
    url('#{$font-path}LGEIHeadline-Light.woff2') format('woff2'),
    url('#{$font-path}LGEIHeadline-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'LGEI Headline';
  src:
    local('LGEI Headline Regular'),
    local('LGEIHeadline-Regular'),
    url('#{$font-path}LGEIHeadline-Regular.woff2') format('woff2'),
    url('#{$font-path}LGEIHeadline-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'LGEI Headline';
  src:
    local('LGEI Headline Semibold'),
    local('LGEIHeadline-Semibold'),
    url('#{$font-path}LGEIHeadline-Semibold.woff2') format('woff2'),
    url('#{$font-path}LGEIHeadline-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'LGEI Headline';
  src:
    local('LGEI Headline Thin'),
    local('LGEIHeadline-Thin'),
    url('#{$font-path}LGEIHeadline-Thin.woff2') format('woff2'),
    url('#{$font-path}LGEIHeadline-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'LGEI Text';
  src:
    local('LGEI Text Bold'),
    local('LGEIText-Bold'),
    url('#{$font-path}LGEIText-Bold.woff2') format('woff2'),
    url('#{$font-path}LGEIText-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'LGEI Text';
  src:
    local('LGEI Text Light'),
    local('LGEIText-Light'),
    url('#{$font-path}LGEIText-Light.woff2') format('woff2'),
    url('#{$font-path}LGEIText-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'LGEI Text';
  src:
    local('LGEI Text Regular'),
    local('LGEIText-Regular'),
    url('#{$font-path}LGEIText-Regular.woff2') format('woff2'),
    url('#{$font-path}LGEIText-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'LGEI Text';
  src:
    local('LGEI Text Semibold'),
    local('LGEIText-Semibold'),
    url('#{$font-path}LGEIText-SemiBold.woff2') format('woff2'),
    url('#{$font-path}LGEIText-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// LG Smart UI
@font-face {
  font-family: 'LG Smart UI';
  src:
    local('LG Smart UI Bold'),
    local('LGSmartUI-Bold'),
    url('#{$font-path}LGSmartUI-Bold.woff2') format('woff2'),
    url('#{$font-path}LGSmartUI-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'LG Smart UI';
  src:
    local('LG Smart UI Light'),
    local('LGSmartUI-Light'),
    url('#{$font-path}LGSmartUI-Light.woff2') format('woff2'),
    url('#{$font-path}LGSmartUI-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'LG Smart UI';
  src:
    local('LG Smart UI Regular'),
    local('LGSmartUI-Regular'),
    url('#{$font-path}LGSmartUI-Regular.woff2') format('woff2'),
    url('#{$font-path}LGSmartUI-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'LG Smart UI';
  src:
    local('LG Smart UI SemiBold'),
    local('LGSmartUI-SemiBold'),
    url('#{$font-path}LGSmartUI-SemiBold.woff2') format('woff2'),
    url('#{$font-path}LGSmartUI-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// Global
@font-face {
  font-family: 'LG Smart';
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src:
    local('☺'),
    url('#{$font-path}LG_Smart_Bold.woff2') format('woff2'),
    url('#{$font-path}LG_Smart_Bold.woff') format('woff');
}
@font-face {
  font-family: 'LG Smart';
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src:
    local('☺'),
    url('#{$font-path}LG_Smart_Bold_Italic.woff2') format('woff2'),
    url('#{$font-path}LG_Smart_Bold_Italic.woff') format('woff');
}
@font-face {
  font-family: 'LG Smart';
  font-display: swap;
  font-weight: 300;
  font-style: normal;
  src:
    local('☺'),
    url('#{$font-path}LG_Smart_Light.woff2') format('woff2'),
    url('#{$font-path}LG_Smart_Light.woff') format('woff');
}
@font-face {
  font-family: 'LG Smart';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src:
    local('☺'),
    url('#{$font-path}LG_Smart_Regular.woff2') format('woff2'),
    url('#{$font-path}LG_Smart_Regular.woff') format('woff');
}
@font-face {
  font-family: 'LG Smart';
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src:
    local('☺'),
    url('#{$font-path}LG_Smart_Regular_Italic.woff2') format('woff2'),
    url('#{$font-path}LG_Smart_Regular_Italic.woff') format('woff');
}
@font-face {
  font-family: 'LG Smart';
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  src:
    local('☺'),
    url('#{$font-path}LG_Smart_SemiBold.woff2') format('woff2'),
    url('#{$font-path}LG_Smart_SemiBold.woff') format('woff');
}

// RU
@font-face {
  font-family: 'LG Smart RU';
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src:
    local('☺'),
    url('#{$font-path}LG_Smart_Bold_RU.woff2') format('woff2'),
    url('#{$font-path}LG_Smart_Bold_RU.woff') format('woff');
}
@font-face {
  font-family: 'LG Smart RU';
  font-display: swap;
  font-weight: 300;
  font-style: normal;
  src:
    local('☺'),
    url('#{$font-path}LG_Smart_Light_RU.woff2') format('woff2'),
    url('#{$font-path}LG_Smart_Light_RU.woff') format('woff');
}
@font-face {
  font-family: 'LG Smart RU';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src:
    local('☺'),
    url('#{$font-path}LG_Smart_Regular_RU.woff2') format('woff2'),
    url('#{$font-path}LG_Smart_Regular_RU.woff') format('woff');
}
@font-face {
  font-family: 'LG Smart RU';
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  src:
    local('☺'),
    url('#{$font-path}LG_Smart_SemiBold_RU.woff2') format('woff2'),
    url('#{$font-path}LG_Smart_SemiBold_RU.woff') format('woff');
}

// IR
@font-face {
  font-family: IRANYekan;
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src:
    local('☺'),
    url('#{$font-path}iranyekanwebbold.woff2') format('woff2'),
    url('#{$font-path}iranyekanwebbold.woff') format('woff');
}
@font-face {
  font-family: IRANYekan;
  font-display: swap;
  font-weight: 300;
  font-style: normal;
  src:
    local('☺'),
    url('#{$font-path}iranyekanweblight.woff2') format('woff2'),
    url('#{$font-path}iranyekanweblight.woff') format('woff');
}
@font-face {
  font-family: IRANYekan;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src:
    local('☺'),
    url('#{$font-path}iranyekanwebregular.woff2') format('woff2'),
    url('#{$font-path}iranyekanwebregular.woff') format('woff');
}
@font-face {
  font-family: IRANYekan;
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  src:
    local('☺'),
    url('#{$font-path}iranyekanwebmedium.woff2') format('woff2'),
    url('#{$font-path}iranyekanwebmedium.woff') format('woff');
}

// DS LG font
@font-face {
  font-family: 'DS LG Smart Bold';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src:
    local('☺'),
    url('#{$font-path}LG_Smart_Bold.woff2') format('woff2'),
    url('#{$font-path}LG_Smart_Bold.woff') format('woff');
}
@font-face {
  font-family: 'DS LG Smart Bold';
  font-display: swap;
  font-weight: normal;
  font-style: italic;
  src:
    local('☺'),
    url('#{$font-path}LG_Smart_Bold_Italic.woff2') format('woff2'),
    url('#{$font-path}LG_Smart_Bold_Italic.woff') format('woff');
}
@font-face {
  font-family: 'DS LG Smart Light';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src:
    local('☺'),
    url('#{$font-path}LG_Smart_Light.woff2') format('woff2'),
    url('#{$font-path}LG_Smart_Light.woff') format('woff');
}
@font-face {
  font-family: 'LG Smart_Global';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src:
    local('☺'),
    url('#{$font-path}LG_Smart_Regular.woff2') format('woff2'),
    url('#{$font-path}LG_Smart_Regular.woff') format('woff');
}
@font-face {
  font-family: 'DS LG Smart Italic';
  font-display: swap;
  font-weight: normal;
  font-style: italic;
  src:
    local('☺'),
    url('#{$font-path}LG_Smart_Regular_Italic.woff2') format('woff2'),
    url('#{$font-path}LG_Smart_Regular_Italic.woff') format('woff');
}
@font-face {
  font-family: 'DS LG Smart SemiBold';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src:
    local('☺'),
    url('#{$font-path}LG_Smart_SemiBold.woff2') format('woff2'),
    url('#{$font-path}LG_Smart_SemiBold.woff') format('woff');
}

// DS LG font RU
@font-face {
  font-family: 'DS LG Smart Bold RU';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src:
    local('☺'),
    url('#{$font-path}LG_Smart_Bold_RU.woff2') format('woff2'),
    url('#{$font-path}LG_Smart_Bold_RU.woff') format('woff');
}
@font-face {
  font-family: 'DS LG Smart Light RU';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src:
    local('☺'),
    url('#{$font-path}LG_Smart_Light_RU.woff2') format('woff2'),
    url('#{$font-path}LG_Smart_Light_RU.woff') format('woff');
}
@font-face {
  font-family: 'DS LG Smart RU';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src:
    local('☺'),
    url('#{$font-path}LG_Smart_Regular_RU.woff2') format('woff2'),
    url('#{$font-path}LG_Smart_Regular_RU.woff') format('woff');
}
@font-face {
  font-family: 'DS LG Smart SemiBold RU';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src:
    local('☺'),
    url('#{$font-path}LG_Smart_SemiBold_RU.woff2') format('woff2'),
    url('#{$font-path}LG_Smart_SemiBold_RU.woff') format('woff');
}
