@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.PD0026';
#{$component} {
  > .component > .cmp-container {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
  }

  // block : category filter form
  .c-form__item {
    @include screen(web) {
      flex: 0 rem($max-width406px);
    }
  }
  // block : content area
  .c-content-area {
    display: flex;
    flex-direction: column;
    gap: rem($margin20px);
    @include screen(web) {
      gap: rem($margin24px);
    }
    .c-no-data {
      padding: rem($padding60px $padding40px);
      background-color: $white;
      @include lgness-radius('default');
      @include screen(web) {
        padding: rem($padding147px 0);
      }
    }
  }
  * + .c-content-area {
    margin-top: rem($margin20px);
  }

  .c-category-filter {
    &__body {
      @include screen(web) {
        justify-content: flex-start;
      }
    }
  }

  // block : resource(download)
  .c-specs-resource {
    display: flex;
    flex-direction: column;
    gap: rem($margin12px);
    @include screen(web) {
      gap: rem($margin20px);
    }
  }
}
