@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.CM0006';
$text-contents: '.c-text-contents';
$select-item: '.c-select-item';
$accordion: '.c-accordion';
$accordion-button: '.c-accordion__button';
#{$component} {
  // element
  @include lgness-margin('if-headline');
  > .component > .cmp-container {
    @include container(columns(8, false), true);
    @include inset-padding-hz;

    // & > *:first-child {
    //     margin-top: rem($margin30px);
    //     @include screen(web) {
    //         margin-top: rem($margin40px);
    //     }
    // }

    & > #{$text-contents} {
      font-weight: $font-light;
      font-size: rem(28px);
      line-height: rem(32px);
      @include screen(web) {
        font-size: rem(56px);
        line-height: rem(60px);
      }
    }

    .is-hide {
      display: none;
    }
  }

  // block : glossary sort
  .c-glossary-sort {
    margin-top: rem($margin12px);
    @include screen(web) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: rem($margin20px);
    }

    &__label {
      margin-top: rem($margin20px);
      color: $gray3;
      @include screen(web) {
        width: calc(100% - rem($width310px + $padding24px));
        order: -1;
        margin-top: initial;
      }
    }

    &__finder {
      @include reset-list-style;
      display: none;
      justify-content: space-between;
      padding: rem($padding40px) rem($padding50px);
      margin-top: rem($margin20px);
      background-color: $white;
      @include lgness-radius('default');
      @include screen(web) {
        width: 100%;
        display: flex;
      }

      li {
        & > * {
          color: $mid-gray1;
          pointer-events: none;
        }
        &.is-active > * {
          text-decoration: underline;
          color: $active-red;
          pointer-events: initial;
        }
      }
    }

    #{$select-item} {
      @include screen(web) {
        min-width: rem($width310px + $padding24px);
        padding-left: rem($padding24px);
      }
    }
  }

  // block : accordion
  .c-accordion {
    @include reset-list-style;
    margin-top: rem($margin20px);
    border-top: rem($border1) solid $mid-gray1;
    @include screen(web) {
      margin-top: rem($margin24px);
    }

    &__box--expand #{$accordion}__head {
      border-bottom: initial;
    }

    &__head {
      position: relative;
      padding: rem($padding16px) 0;
      border-bottom: rem($border1) solid $mid-gray1;
      @include screen(web) {
        padding: rem($padding20px) 0;
      }

      #{$accordion-button} {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      padding: rem($padding20px) rem($padding16px);
      gap: rem($margin24px);
      background-color: $white;
      @include lgness-radius('default');
      @include screen(web) {
        gap: rem($margin24px);
        padding: rem($padding24px);
      }

      strong {
        font-weight: $font-semibold;
      }

      dl,
      dd {
        margin-bottom: 0;
      }
    }
  }

  // block : text contents
  .c-text-contents {
    &__bodycopy {
      margin-top: rem($margin8px);
    }
  }
}
