@charset "UTF-8";

@use '../../scss/abstract/' as *;
@use '../CS0078/CS0078' as *;

$component: '.CS0078';

#{$component} {
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  $mobile-width: calc(100% - rem($margin25px * 2));
  $accordion: '.c-accordion';
  overflow: initial;

  .CS0078-TR {
    .c-desc {
      color: $mid-gray3;
    }
    .cs-notabs {
      .c-product-list {
        .c-content_box {
          span {
            display: inline-block;
            margin-bottom: rem($margin8px);
            color: $mid-gray2;
          }
          div {
            line-height: rem(20px);
            color: $gray3;
            p {
              color: $gray3;
              &.cs-warranty__year {
                color: $black;
              }
              &:last-child {
                font-weight: $font-regular;
              }
            }
            &:last-child {
              border-top: none;
              padding-top: 0;
              color: $mid-gray3;
              margin-top: rem($margin12px);
              display: flex;
              flex-direction: row;
              p {
                margin-bottom: 0;
              }
            }
            ul {
              padding-left: rem($padding16px);
              li {
                list-style-position: outside;
                list-style: disc;
              }
            }
            &.cs-flex__wrapper {
              margin-top: 0;
            }
            &.cs-flexnone {
              margin-top: 0;
            }
          }
        }
        &__wrap {
          .c-cs-header {
            padding-bottom: rem($padding12px);
            padding-top: 0;
          }
          + .c-cs-header {
            padding-top: rem($padding12px);
            padding-bottom: rem($padding8px);
            #{$text-contents} {
              &__bodycopy {
                margin-top: 0;
              }
            }
          }
        }
        &__type2 {
          @include productListType2();
          li.c-content_box {
            &:last-child {
              ul {
                &:nth-child(2) {
                  li {
                    display: none;
                  }
                }
              }
            }
          }
        }
        &__desc {
          @include productListDesc();
          padding-top: 0;
          padding-bottom: 0;
          ul {
            li {
              list-style-type: '※ ';
            }
          }
        }
      }
      #{$cs-header} {
        #{$text-contents} {
          &__bodycopy {
            ul.cmp-text {
              padding-left: rem($padding10px);
            }
          }
        }
      }
    }
    .cs-warranty {
      &__normalContents {
        > #{$cs-header} {
          padding-bottom: rem($padding12px);
        }
      }
    }
    @include screen(web) {
      .cs-notabs {
        .c-product-list {
          li.c-content_box {
            display: flex;
            align-items: center;
            gap: rem(24px);
            padding: rem($padding28px);
            border-radius: rem($radius28);
            align-items: flex-start;
            span {
              margin-bottom: rem($margin10px);
            }
            p {
              word-break: break-word;
              &:first-child {
                margin-bottom: rem($margin10px);
              }
            }
            div {
              display: block;
              flex-grow: 1;
              margin-top: 0;
              &:last-child {
                margin-top: 0;
                display: block;
              }
              &.cs-flexnone {
                width: 70%;
              }
            }
          }
          &__wrap {
            + .c-cs-header {
              padding-top: rem($padding20px);
              #{$text-contents} {
                &__bodycopy {
                  ol {
                    li {
                      padding-left: rem($padding16px);
                    }
                  }
                }
              }
            }
          }
          &__desc {
            padding-top: 0;
            padding-bottom: 0;
            margin-left: rem($margin10px);
            + .c-cs-header {
              padding-top: rem($padding48px);
              padding-bottom: rem($padding48px);
              #{$text-contents} {
                &__bodycopy {
                  ul.cmp-text {
                    margin-left: rem($margin10px);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
