@charset "UTF-8";

@use '../../scss/abstract/' as *;
@use '../CS0078/CS0078' as *;

$component: '.CS0078';

#{$component} {
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  $mobile-width: calc(100% - rem($margin25px * 2));
  $accordion: '.c-accordion';
  overflow: initial;
  .CS0078-EG {
    .first-container {
      > .c-cs-header {
        border-bottom: none;
        padding-bottom: rem($padding12px);
        #{$text-contents} {
          &__bodycopy {
            margin-top: rem($margin8px);
          }
        }
      }
    }
    .c-first-section {
      #{$cs-header} {
        margin: rem($margin24px 0 $margin12px);
        padding: rem(0 $padding16px);
        #{$text-contents} {
          &__bodycopy {
            margin-top: rem($margin8px);
          }
        }
      }
      .c-product-list__wrap {
        @include productList();
        .c-product-list {
          .c-content_box {
            padding: rem(20px);
            div {
              color: $mid-gray3;
              line-height: rem(20px);
              &:last-child {
                border-top: none;
                padding-top: 0;
              }
            }
            li.c-desc {
              list-style-type: none;
              margin-top: rem($margin16px);
            }
            @include screen(web) {
              padding: rem(28px);
            }
          }
        }
      }
      .tab1,
      .tab2,
      .tab3,
      .tab4 {
        .c-print-area {
          + #{$cs-header} {
            padding: rem(0 $padding16px);
            margin-top: 0;

            #{$text-contents} {
              &__headline {
                + #{$text-contents} {
                  &__bodycopy {
                    margin: rem($margin12px 0 $margin8px);
                  }
                }
              }
            }
          }
        }
      }
      .tab2 {
        .c-parts {
          .c-hidden-mo {
            display: none;
          }
        }
      }
      .tab4 {
        .cs-warrantylist {
          &__hypen {
            padding: rem(0 $padding16px 0 $padding24px);
            color: $mid-gray3;
          }
          &__star {
            margin-bottom: 0;
            padding-left: rem($padding24px);
            a {
              text-decoration: underline;
              color: $active-red;
            }
          }
        }
        .cs-warrantyTxt {
          padding-bottom: rem($padding24px);
        }
        .c-product-list {
          &__wrap {
            .c-product-list {
              li.c-content_box {
                &:nth-child(2) {
                  .c-content__list {
                    display: flex;
                    flex-direction: column;
                    .cs-remark {
                      order: 3;
                      width: 100%;
                    }
                    .cs-sublist {
                      order: 2;
                      margin-top: 0;
                      > div {
                        margin-top: rem($margin24px);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .accordion {
        &__content {
          .c-warranty {
            &__text {
              dl {
                margin-bottom: rem($margin12px);
                dt {
                  color: #7e7c77;
                  margin-bottom: rem($margin4px);
                  @include screen(web) {
                    margin-bottom: rem($margin16px);
                  }
                }
                dd {
                  line-height: rem(20px);
                  @include screen(web) {
                    margin-bottom: 0;
                  }
                }
                &:last-child {
                  margin-bottom: 0;
                  dd {
                    margin-bottom: 0;
                  }
                }
                &:first-child {
                  @include screen(web) {
                    dd {
                      line-height: rem(28px);
                    }
                  }
                }
              }
              margin-bottom: rem($margin24px);
              &:last-child {
                margin-bottom: 0;
                padding-bottom: rem($padding20px);
              }
            }
            &__desc {
              border-top: 1px solid $mid-gray1;
              padding-top: rem($padding24px);
              // margin-top: rem($margin24px);
              padding-bottom: rem($padding20px);
              line-height: rem(20px);
              color: $mid-gray3;
              p {
                // border: 1px solid #000;
                color: $mid-gray2;
                margin-bottom: rem($margin8px);
              }
              a {
                color: $active-red;
                text-decoration: underline;
              }
              @include screen(web) {
                line-height: rem(24px);
                color: $mid-gray3;
                .cs-bold {
                  color: $black;
                }
              }
            }
          }
        }
      }
    }

    // added style
    .tab1 {
      .c-product-list__wrap {
        @include productList();
        .c-product-list {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          gap: rem(10px);
          li.c-content_box {
            flex-basis: calc(50% - rem(5px));
            width: calc(50% - rem(5px));
            .c-content__list {
              margin-top: 0;
              strong {
                color: $black;
                min-height: rem(48px);
                display: inline-block;
                width: 100%;
                // text-align: left #{'/*!rtl:right*/'};
              }
              &:not(:last-child) {
                border-bottom: 1px solid #d9d9d9;
                padding-bottom: rem($padding12px);
                margin-bottom: rem($margin12px);
              }
              &.cs-minheight3 {
                strong {
                  min-height: rem(72px);
                }
              }
            }
            div {
              display: block;
              color: $mid-gray3;
              line-height: rem(20px);
              margin-top: 0;
              > strong {
              }
              &:last-child {
                border-top: none;
                padding-top: 0;
                span {
                  color: #7e7c77;
                  margin-bottom: rem($margin4px);
                  font-weight: $font-semibold;
                  width: 100%;
                  display: inline-block;
                  margin-top: rem($margin8px);
                }
                p {
                  color: $black;
                  &:last-child {
                    color: $black;
                  }
                }
              }
            }
            li.c-desc {
              list-style-type: none;
              margin-top: rem($margin16px);
            }
          }

          @include screen(web) {
            row-gap: rem(24px);
          }
          &__type2 {
            display: block;
            li.c-content_box {
              margin-bottom: rem($margin10px);
              width: 100%;
              .c-content__list {
                strong {
                  min-height: auto;
                  margin-bottom: rem($margin8px);
                }
                > div {
                  display: flex;
                  flex-direction: row;
                  gap: rem(10px);
                  span {
                    margin: 0;
                  }
                  p {
                    flex-shrink: 0;
                  }
                }
              }
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
        + #{$cs-header} {
          margin-top: rem($margin12px);
          #{$text-contents} {
            &__desc {
              color: $mid-gray3;
            }
          }
        }
      }
    }
    .tab2 {
      .c-product-list__wrap {
        .c-product-list {
          .c-content_box {
            p {
              margin-bottom: rem($margin8px);
            }
            div {
              &:not(:first-child) {
                margin-top: 0;
              }
            }
          }
        }
        + #{$cs-header} {
          margin-top: rem($margin12px);
          #{$text-contents} {
            &__desc {
              color: $mid-gray3;
            }
          }
        }
      }
    }
    .tab3 {
      .c-product-list {
        &__wrap {
          .c-product-list {
            .c-content_box {
              .c-content__list {
                margin-top: 0;
                div {
                  span {
                    color: #7e7c77;
                    display: inline-block;
                    font-weight: $font-semibold;
                    margin-bottom: rem($margin8px);
                  }
                  p {
                    color: $black;
                  }
                }
              }
            }
          }
          + #{$cs-header} {
            margin-top: rem($margin12px);
            #{$text-contents} {
              color: $mid-gray3;
              &__desc {
                color: $mid-gray3;
              }
              ol {
                padding-left: rem($padding20px);
                padding-right: rem($padding20px);
                li {
                  list-style: disc;
                  list-style-position: outside;
                }
              }
            }
          }
        }
      }
    }
    .tab4 {
      .c-product-list {
        &__wrap {
          .c-product-list {
            .c-content_box {
              .c-content__list {
                margin-top: 0;
                strong {
                  color: $black;
                }
                div {
                  display: block;
                  // margin-top: 0;
                  span {
                    color: #7e7c77;
                    display: inline-block;
                    font-weight: $font-semibold;
                    margin-bottom: rem($margin8px);
                  }
                  p {
                    color: $black;
                  }
                  &.c-list1 {
                    margin-top: 0;
                  }
                  &.cs-remark {
                    padding-top: rem($padding12px);
                    border-top: 1px solid $mid-gray1;
                    margin-top: rem($margin16px);
                  }
                }
                .cs-sublist {
                  margin-top: rem($margin24px);
                }
              }
            }
          }
          + #{$cs-header} {
            margin-top: rem($margin12px);
            #{$text-contents} {
              color: $mid-gray3;
              &__desc {
                color: $mid-gray3;
              }
              ol {
                padding-left: rem($padding20px);
                li {
                  list-style: disc;
                  list-style-position: outside;
                }
              }
            }
          }
        }
      }
    }
    .cs-warrantylist {
      &__dot {
        p {
          color: $black;
        }
        ol {
          padding-top: rem($padding12px);
          line-height: rem(20px);
          color: $mid-gray3;
          margin-bottom: 0;
          // padding-left: 0 #{'/*!rtl:0*/'};
          padding-right: rem($padding20px);
          li {
            list-style-position: outside;
          }
          ul {
            padding-left: rem($padding10px);
            padding-right: 0 #{'/*!rtl:10*/'}; /*! RTL last keep colon */
            li {
              list-style: '- ';
              list-style-position: outside;
            }
          }
        }
        + #{$text-contents} {
          &__desc {
            padding-top: rem($padding12px);
            color: $mid-gray3;
          }
        }
      }
    }
    .c-product-list__type2 {
      display: block;
      @include productListType2();
    }
    .c-parts {
      &__picto {
        .c-picto {
          &-1-1 {
            background-image: url(../../assets/icon/icon-taxes-white-100-100.svg);
          }
        }
        &:nth-of-type(2) {
          justify-content: flex-start #{'/*!rtl:flex-end*/'};
          gap: rem(10px);
        }
      }
      &__list {
        &.cs-warrantylist__dot {
          ol {
            padding-left: rem($padding16px);
            li {
              div {
                padding-left: 0;
              }
            }
          }
        }
      }
    }
    @include screen(web) {
      .first-container {
        > .c-cs-header {
          border-bottom: 1px solid $mid-gray1;
          padding-bottom: rem($padding24px);
        }
      }
      .c-first-section {
        #{$cs-header} {
          margin: 0 auto;
          @include container($design-grid-full, true);
          padding: rem($padding12px 0);
          @include inset-padding-hz;
        }
        .c-product-list__wrap {
          .c-product-list {
            row-gap: rem(24px);
          }
        }
        .tab1,
        .tab2,
        .tab3,
        .tab4 {
          .c-print-area {
            + #{$cs-header} {
              #{$text-contents} {
                &__headline {
                  + #{$text-contents} {
                    &__bodycopy {
                      margin: rem($margin24px 0 $margin8px);
                    }
                  }
                }
              }
              padding-top: 0;
              @include inset-padding-hz;
            }
          }
        }
        .tab1 {
          .cs-warrantylist__dot {
            ol {
              padding-top: rem($padding24px);
              line-height: rem(24px);
            }
            + #{$text-contents} {
              &__desc {
                padding-top: rem($padding24px);
              }
            }
          }
          .c-product-list__wrap {
            padding-bottom: rem($padding12px);
            .c-product-list {
              gap: rem(24px);
              li.c-content_box {
                flex-basis: calc((100% - rem(72px)) / 4);
                .c-content__list {
                  strong {
                    min-height: auto;
                    margin-bottom: rem($margin8px);
                  }
                  div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    span {
                      width: auto;
                      margin: 0;
                    }
                    p {
                    }
                  }
                }
              }
              &__type2 {
                display: flex;
                li.c-content_box {
                  .c-content__list {
                    strong {
                      min-height: rem(72px);
                      margin-bottom: rem($margin8px);
                    }
                  }
                }
              }
            }
          }
        }
        .tab2 {
          .c-parts {
            margin-top: rem($margin48px);
            margin-bottom: rem($margin24px);
            .c-hidden-mo {
              display: block;
            }
            .c-hidden-pc {
              display: none;
            }
          }
          .c-product-list {
            li.c-content_box {
              display: flex;
              gap: rem(24px);
              p {
                width: rem(300px);
                flex-shrink: 0;
              }
              > div {
                display: block;
                width: 100%;
                div:first-child {
                  margin-top: 0;
                }
              }
            }
          }
        }
        .tab3 {
          .c-print-area {
            + #{$cs-header} {
              padding-top: 0;
              padding-bottom: 0;
              margin-bottom: rem($margin48px);
            }
          }
          .c-product-list {
            &__wrap {
              .c-product-list {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                gap: rem(24px);
                .c-content_box {
                  flex-basis: calc(50% - rem(12px));
                  .c-content__list {
                    display: flex;
                    gap: rem(24px);
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: flex-start;
                    strong {
                      width: rem(300px);
                    }
                    div {
                      margin-top: 0;
                    }
                  }
                }
              }
            }
          }
        }
        .tab4 {
          ul.cs-warrantylist__hypen,
          .cs-warrantylist__star {
            @include container($design-grid-full, true);
            padding-left: rem($padding40px);
            padding-right: rem($padding40px);
            margin: 0 auto;
          }
          .cs-warrantyTxt {
            #{$cs-header} {
              .c-text-contents__bodycopy {
                &:nth-child(2) {
                  margin-top: rem($margin24px);
                  margin-bottom: rem($margin20px);
                }
              }
            }
          }
          .c-product-list {
            &__wrap {
              .c-product-list {
                li.c-content_box {
                  // flex-basis: calc(50% - rem(12px));
                  .c-content__list {
                    display: flex;
                    gap: rem(24px);
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: flex-start;
                    .c-list1 {
                      width: 50%;
                      max-width: rem(624px);
                      flex-shrink: 0;
                      div {
                        &.cs-sublist-mo {
                          margin-top: rem(54px);
                        }
                      }
                    }
                    .c-list2 {
                      width: 25%;
                      flex-shrink: 0;
                      div {
                        &.cs-sublist-mo {
                          // margin-top: 0;
                        }
                      }
                    }
                    div {
                      margin-top: 0;
                      border-top: none;
                      padding-top: 0;
                      // width: 25%;
                      &.cs-sublist-mo {
                        margin-top: rem(24px);
                        div {
                          margin-bottom: rem($margin24px);
                          &:last-child {
                            margin-bottom: 0;
                          }
                        }
                      }
                    }
                  }
                  &:nth-child(2) {
                    .c-content__list {
                      display: flex;
                      flex-direction: row;
                      div.cs-remark {
                        order: 2;
                        border-top: none;
                      }
                      div.cs-sublist {
                        order: 3;
                        margin-top: 0;
                        > div {
                          margin-top: rem($margin24px);
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .c-second-section {
        .accordion {
          &__item {
            display: flex;
            padding: rem($padding28px);
            gap: rem(24px);
            margin-bottom: rem($margin24px);
          }
          &__title {
            width: rem(300px);
            width: 20%;
            flex-shrink: 0;
            padding: 0;
          }
          &__content {
            padding: 0;
            .c-warranty__text {
              display: flex;
              gap: rem(24px);
              dl {
                // flex: 1;
                width: calc((100% - rem(48px)) / 3);
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
