@charset "UTF-8";

@use '../../scss/abstract/' as *;
@use '../CS0078/CS0078' as *;

$component: '.CS0078';

#{$component} {
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  $mobile-width: calc(100% - rem($margin25px * 2));
  $accordion: '.c-accordion';
  overflow: initial;

  .CS0078-ES {
    .c-resources {
      &__item {
        &--download {
          &-info {
            &-name {
              color: $black;
            }
          }
        }
      }
      @include screen(web) {
        display: block;
        margin: 0 auto;
        @include container($design-grid-full, true);
        @include inset-padding-hz;
      }
    }
    .c-pdf-download {
      dd {
        margin-top: rem($margin12px);
        a {
          font-weight: $font-semibold;
          color: $black;
          text-decoration: underline;
        }
      }
      @include screen(web) {
        display: flex;
        gap: rem(16px);
        margin-top: rem($margin20px);
        dd {
          margin-top: 0;
        }
      }
    }
    .cs-resourceList {
      #{$cs-header} {
        padding-bottom: rem($padding12px);
      }
      &:nth-last-of-type(1) {
        padding-bottom: rem($padding24px);
      }
    }
    .c-resources {
      margin-bottom: rem($margin12px);
      &:last-child {
        margin-bottom: 0;
      }
      &__item {
        &--download {
          flex-wrap: nowrap;
          &-info {
            width: calc(100% - rem(50px));
          }
        }
      }
      &__double--wrap {
        background-color: $light-gray3;
        padding: rem($padding20px);
        border-radius: rem($radius20);
      }
      .c-btn-download {
        height: rem(32px);
        width: rem(32px);
        border-radius: 0;
        &::before {
          background-image: url($icon-link-32-32);
        }
      }

      &__double {
        .c-resources__item {
          padding: rem($padding8px 0);
          border-bottom: 1px solid $mid-gray1;
          border-radius: 0;
          &:first-child {
            padding-top: 0;
          }
          &:last-child {
            padding-bottom: 0;
            border-bottom: none;
          }

          &--download {
            flex-wrap: nowrap;
            &-info {
              width: calc(100% - rem(24px));
            }
          }
        }
      }
    }
    .cs-resource {
      &__desc {
        a {
          text-decoration: none;
        }
        padding: rem(0 $padding16px);
        margin-top: rem($margin24px);
        padding-bottom: rem($padding24px);
        .cs-desc {
          background: $light-gray3;
          padding: rem($padding20px);
          border-radius: rem($radius20);
          margin-bottom: rem($margin10px);
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    @include screen(web) {
      .cs-warranty {
        &__normalContents {
          display: flex;
          flex-wrap: wrap;
          gap: rem(32px 24px);
          @include container($design-grid-full, true);
          @include inset-padding-hz;
          margin-top: rem($margin24px);
          margin-bottom: rem($margin48px);
          .cs-resourceList {
            flex-basis: calc((100% - rem(48px)) / 3);
            #{$cs-header} {
              padding-top: 0;
              #{$text-contents} {
                padding-left: 0;
                padding-right: 0;
              }
            }
            &:nth-last-of-type(1) {
              padding-bottom: 0;
            }
            .c-resources {
              padding-left: 0;
              padding-right: 0;
              margin-bottom: rem($margin20px);
              &:last-child {
                margin-bottom: 0;
              }
              &__double--wrap {
                padding: rem($padding28px);
                p {
                  margin-bottom: rem($margin24px);
                }
              }
              &__double {
                .c-resources__item {
                  padding: rem($padding12px 0);
                  &:first-child {
                    padding-top: 0;
                    margin-bottom: 0;
                  }
                  &:last-child {
                    padding-bottom: 0;
                  }
                }
              }
              &__item {
                margin-bottom: rem($margin20px);
                align-items: center;
                background-color: #e6e1d6;
                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
      .cs-resource {
        &__desc {
          @include container($design-grid-full, true);
          @include inset-padding-hz;
          padding-top: rem($padding24px);
          padding-bottom: rem($padding48px);
          display: flex;
          gap: rem(24px);
          .cs-desc {
            padding: rem($padding28px);
            border-radius: rem($radius28);
            p {
              margin-bottom: rem($margin20px);
            }
            &:hover {
              a {
                text-decoration: none;
                cursor: pointer;
                p {
                  text-decoration: none;
                }
                .c-btn-arrow {
                  border: none;
                  background-color: $active-red;
                  background-image: url($icon-arrow-white-right-24-24);
                }
              }
            }
          }
        }
      }
    }
    @include screen(custom, rem(1280px), max) {
      .cs-warranty {
        &__normalContents {
          .cs-resourceList {
            flex-basis: calc((100% - rem(24px)) / 2);
          }
        }
      }
    }
  }
}
