@charset "UTF-8";
@use '../../scss/abstract/' as *;
@use '../CS0000/CS0000' as *;

$component: '.CS0078';
#{$component} {
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  $mobile-width: calc(100% - rem($margin25px * 2));
  overflow: initial;

  .CS0078-AU {
    .CS0078__container {
      .accordion__title {
        @include screen(web) {
          padding-left: 0;
        }
      }
      .accordion__content {
        padding: rem($margin20px);

        @include screen(web) {
          padding: 0;
        }
      }
      .c-warranty__section {
        padding-bottom: rem($margin24px);
        margin-bottom: rem($margin24px);
        border-bottom: 1px solid #cbc8c2;
        @include screen(web) {
          padding-bottom: rem($margin48px);
          margin-bottom: rem($margin48px);
        }
      }
      .c-warranty__section:only-child {
        border: 0;
        padding-bottom: 0;
        margin-bottom: 0;
      }

      .no-padding {
        padding: 0;
      }
      .contents-area {
        .tabs.csSwiper2.c-sticky {
          top: 0;
        }
      }
      .CS0078-AU__item {
        .accordion__item {
          @include screen(web) {
            padding: rem($margin28px);
          }
        }
        .c-text-contents {
          margin-top: rem($margin12px);

          @include screen(web) {
            margin-top: rem($margin24px);
          }
        }
        .cmp-text {
          margin-bottom: rem($margin8px);
        }
      }
      .warrantylist__dot {
        padding: 0 0 0 0.625rem;
        margin: 0 0 0 0.625rem;

        li {
          list-style-type: disc;
          list-style-position: outside;
        }
      }

      .c-warranty-box {
        display: flex;
        flex-direction: column;
        padding: rem($margin16px);
        margin: rem($margin8px) 0;
        border: 1px solid #cbc8c2;
        border-radius: rem($margin28px);

        @include screen(web) {
          padding: rem($margin24px);
          flex-direction: column;
        }

        &__list {
          display: flex;
          flex-direction: column;
          color: #000;

          @include screen(web) {
            flex-direction: row;
          }
          p {
            width: 100%;
            color: $black;

            span {
              display: block;
              color: #7e7c77;
              margin-bottom: rem($margin12px);
            }

            @include screen(web) {
              width: 25%;
            }
          }
        }
        &__list + .c-warranty-box__list {
          border-top: 1px solid #cbc8c2;
          margin-top: rem($margin12px);
          padding-top: rem($margin12px);
          @include screen(web) {
            border: 0;
          }
        }
        &__list.type2 {
          p:last-child {
            @include screen(web) {
              width: 50%;
            }
          }
        }
      }
      .cmp-text {
        a {
          color: #ea1917;
        }
      }
    }
  }
}
