@charset "UTF-8";

@use '../../scss/abstract/' as *;
@use '../CS0078/CS0078' as *;

$component: '.CS0078';

#{$component} {
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  $mobile-width: calc(100% - rem($margin25px * 2));
  $accordion: '.c-accordion';
  overflow: initial;
  .CS0078-DE {
    .cs-notabs {
      .cs-warranty__normalContents {
        .c-cs-header {
          &:not(:first-child) {
            @include screen(web) {
              // border: 1px solid #000;
            }
          }
        }
      }
    }
    .c-cs-header {
      #{$text-contents} {
        &__bodycopy {
          &.cs-warrantyCounter__bg {
            color: $gray3;

            li {
              line-height: rem(20px);
              @include screen(web) {
                line-height: rem(26px);
              }
            }
          }
          &.cs-warrantylist__dot {
            ol {
              padding-left: rem($padding20px);
              margin-top: rem($margin8px);
              @include screen(web) {
                padding-left: rem($padding30px);
              }
            }
          }
        }
        &__desc {
          margin-top: rem($margin12px);
          color: $mid-gray3;
        }
      }
    }
    .cs-warranty {
      &__contactInfo {
        @include screen(web) {
          @include container($design-grid-full, true);
          @include inset-padding-hz;
        }
      }
      &__contact--inner {
        @include lightgraybox;
        span,
        strong {
          display: inline-block;
          color: $black;
          margin-bottom: rem($margin4px);
        }

        p {
          margin-top: rem($margin10px);
          color: $mid-gray3;
        }
        @include screen(web) {
          max-width: rem($design-grid-full);
          margin: 0 auto;
          p {
            margin-top: rem($margin20px);
          }
        }
      }
    }
  }
}
