@charset "UTF-8";
@use '../../scss/abstract/' as *;
@use '../CS0000/CS0000' as *;

@mixin productList() {
  .c-product {
    &-list {
      display: flex;
      flex-direction: column;
      row-gap: rem(10px);
      padding: 0;
      margin: rem(0 $margin16px);
      li.c-content_box {
        @include reset-list-style;
        border-radius: rem($radius20);
        padding: rem($padding20px);
        background: $white;
        div {
          display: flex;
          // gap: rem(54px);
          align-items: center;
          justify-content: space-between;
          margin-top: rem($margin12px);
          p {
            &:last-child {
              font-weight: $font-semibold;
            }
          }
          &.c-remark-partition {
            display: block;
            border-top: 1px solid $grayd9;
            padding-top: 30px;
            text-align: left;
            p {
              &:first-child {
                color: $gray6;
                margin-bottom: rem($margin7px);
              }
            }
          }
        }
        @include screen(web) {
          border-radius: rem($radius28);
          padding: rem($padding28px);
        }
      }
      @include screen(web) {
        margin: 0 auto;
        @include container($design-grid-full, true);
        @include inset-padding-hz;
      }
    }
    &__desc {
      padding-left: 0;
      margin: rem($margin8px $margin16px 0);
      @include screen(web) {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: rem($margin48px);
      }
    }
  }
  .c-product-list.c-product-list__type3 {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: rem($margin24px);

    li.c-content_box {
      display: block;
      padding: rem($margin20px);
      &:nth-child(3n) {
        justify-content: flex-end;
      }

      p {
        width: 100%;
      }

      ul.warranty_box {
        padding: 0;
        margin: rem($margin12px) 0 rem($margin24px);
        list-style: none;
        display: flex;
        gap: rem($margin24px);
        border-bottom: 1px solid #d9d9d9;

        li {
          width: 50%;
          span {
            display: block;
            margin-bottom: rem($margin5px);
          }
        }
        @include screen(web) {
          min-height: 120px;
        }
      }

      ul.warranty_box.type2 {
        border: 0;
        min-height: 80px;
        margin-bottom: 0;
      }

      @include screen(web) {
        padding: rem($margin32px) rem($margin28px);
        width: calc(33% - 1rem);
      }
    }
  }
  .c-product-list {
    .c-content_box {
      div {
        margin-top: rem($margin16px);
        &:last-child {
          padding-left: 0;
          padding-top: rem($padding16px);
        }
        &:nth-child(1) {
        }
        p:last-child {
        }
        &:last-child {
          display: block;
          border-top: 1px solid $grayd9;
          text-align: left;
          padding-top: rem($padding16px);
          // padding-left: rem($padding24px);
          gap: 0;
          align-items: baseline;
          flex-direction: column;

          p {
            margin-bottom: rem($margin8px);
            color: $gray6;
            &:last-child {
              font-weight: $font-regular;
              color: $gray3;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
@mixin productListType2() {
  li.c-content_box {
    p {
      display: inline-block;
      margin-bottom: rem($margin12px);
    }
    ul {
      padding-left: 0;
      li {
        @include reset-list-style;
        strong {
          color: $mid-gray2;
          margin-bottom: rem($margin8px);
          display: block;
          font-weight: $font-semibold;
        }
        span {
          line-height: rem(20px);
          display: block;
        }
        margin-bottom: rem($margin12px);
        &:last-child {
          margin-bottom: 0;
        }
      }
      &:nth-child(3) {
        margin-top: rem($margin12px);
      }
    }

    @include screen(web) {
      align-items: flex-start;
      ul {
        &:nth-child(2) {
          // border: 1px solid red;
          // flex-shrink: 0;
          min-width: 22%;
        }
        &:nth-child(3) {
          // border: 1px solid blue;
          width: 100%;
          margin-top: 0;
        }
        li {
          margin-bottom: rem($margin16px);
        }
      }
    }
  }
}
@mixin productListDesc() {
  padding: rem($padding12px $padding16px);
  color: $mid-gray3;
  dl {
    dt {
      font-weight: $font-semibold;
    }
  }
  ul {
    padding-left: rem($padding12px);
    margin-bottom: 0;
    li {
      list-style-type: '* ';
      list-style-position: outside;
    }
  }
  @include screen(web) {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
    margin: 0 auto;
    padding: rem($padding20px 0);
    ul {
      margin-bottom: 0;
    }
  }
}
@mixin resourceExtension() {
  .c-resources {
    $c-resources: '.c-resources';
    &__item {
      &--extension {
        display: block;
        width: rem($icon20px);
        height: rem($icon20px);
        background: transparent;
        border: 0;
        appearance: none;
        margin-top: rem($margin3px);

        @include screen(web) {
          margin-top: 0;
        }

        &-txt {
          background: url($icon-extension-txt) no-repeat 50% 50%;
          background-size: rem($icon16px) auto;
        }

        &-pdf {
          background: url($icon-extension-pdf) no-repeat 50% 50%;
          background-size: rem($icon16px) auto;
        }

        &-etc {
          background: url($icon-extension-etc) no-repeat 50% 50%;
          background-size: rem($icon16px) auto;
        }

        &-pdf {
          background: url($icon-extension-pdf) no-repeat 50% 50%;
          background-size: rem($icon16px) auto;
        }

        &-djvu {
          background: url($icon-extension-djvu) no-repeat 50% 50%;
          background-size: rem($icon16px) auto;
        }

        &-zip {
          background: url($icon-extension-zip) no-repeat 50% 50%;
          background-size: rem($icon16px) auto;
        }

        &-html {
          background: url($icon-extension-html) no-repeat 50% 50%;
          background-size: rem($icon16px) auto;
        }

        &-dwg {
          background: url($icon-extension-dwg) no-repeat 50% 50%;
          background-size: rem($icon16px) auto;
        }
      }
      &--download {
        &-info {
          width: auto;
          &-wrapper {
            > div {
              &:last-of-type::before {
                background: $mid-gray2;
                top: rem(2px);
                left: rem(-6px);
              }
            }
          }
        }
      }
      @include screen(web) {
        padding: rem($padding28px);
        border-radius: rem($radius28);
        align-items: flex-start;
      }
    }
  }
  .c-btn-download,
  .c-btn-open {
    &::before {
      content: '';
      display: inline-block;
      width: rem($width24px);
      height: rem($height24px);
      background-repeat: no-repeat;
      background-size: 24px 24px;
      @include screen(web) {
        width: rem($width32px);
        height: rem($height32px);
        background-size: 32px 32px;
      }
    }
  }

  .c-btn-download {
    &::before {
      background-image: url($icon-download-black-32-32);
    }
  }
}
@mixin lightgraybox {
  background: $light-gray3;
  border-radius: rem($radius20);
  padding: rem($padding20px);
  margin: rem(0 $margin16px);
  @include screen(web) {
    border-radius: rem($radius28);
    padding: rem($padding28px);
    margin: 0;
  }
}

$component: '.CS0078';
#{$component} {
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  $mobile-width: calc(100% - rem($margin25px * 2));
  overflow: initial;
  .CS0078-CAC {
    .c-desc {
      color: $mid-gray3;
    }
    .c-product-list.c-product-list__type3 {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      gap: rem($margin24px);

      li.c-content_box {
        display: block;
        padding: rem($margin20px);
        &:nth-child(3n) {
          justify-content: flex-end;
        }

        p {
          width: 100%;
        }

        ul.warranty_box {
          padding: 0;
          margin: rem($margin12px) 0 rem($margin24px);
          list-style: none;
          display: flex;
          gap: rem($margin24px);
          border-bottom: 1px solid #d9d9d9;

          li {
            width: 50%;
            span {
              display: block;
              margin-bottom: rem($margin5px);
            }
          }
          @include screen(web) {
            min-height: 140px;
          }
        }

        ul.warranty_box.type2 {
          border: 0;
          min-height: 80px;
          margin-bottom: 0;
        }

        @include screen(web) {
          padding: rem($margin32px) rem($margin28px);
          width: calc(33% - 1rem);
        }
      }
    }
    .c-product-list {
      .c-content_box {
        div {
          line-height: rem(20px);
          &:last-child {
            border-top: none;
            padding-top: 0;
            color: $mid-gray3;
            margin-top: rem($margin12px);
          }
          ul {
            padding-left: rem($padding16px);
            li {
              list-style-position: outside;
              list-style: disc;
            }
          }
          &.cs-flex__wrapper {
            margin-top: 0;
          }
        }
      }
      &__wrap {
        .c-cs-header {
          padding-bottom: rem($padding12px);
          padding-top: 0;
        }
      }
      &__type2 {
        @include productListType2();
        li.c-content_box {
          &:last-child {
            ul {
              &:nth-child(2) {
                li {
                  display: none;
                }
              }
            }
          }
        }
      }
      &__desc {
        @include productListDesc();
      }
    }

    @include screen(web) {
      .c-product-list {
        li.c-content_box {
          display: flex;
          align-items: center;
          gap: rem(24px);
          padding: rem($padding28px);
          border-radius: rem($radius28);
          p {
            width: 22%;
            min-width: 22%;
            word-break: break-word;
          }
          div {
            &:last-child {
              margin-top: 0;
            }
          }
        }
        &__type2 {
          li.c-content_box {
            align-items: flex-start;
            ul:nth-child(2) {
              max-width: 22%;
            }
          }
        }
      }
    }
    .first-container {
      > .c-cs-header {
        border-bottom: none;
        padding-bottom: rem($padding12px);
        #{$text-contents} {
          &__bodycopy {
            margin-top: rem($margin8px);
          }
        }
        @include screen(web) {
          border-bottom: 1px solid $mid-gray1;
          padding-bottom: rem($padding24px);
        }
      }
    }
    .c-first-section {
      #{$cs-header} {
        margin: rem($margin12px 0);
        padding: rem(0 $padding16px);
        #{$text-contents} {
          &__bodycopy {
            margin-top: rem($margin8px);
          }
        }
        @include screen(web) {
          // max-width: rem($design-grid-full);
          margin: 0 auto;
          @include container($design-grid-full, true);
          padding: rem($padding24px 0);
          @include inset-padding-hz;
        }
      }
      .c-product-list__wrap {
        @include productList();
        .c-product-list {
          .c-content_box {
            div {
              color: $mid-gray3;
              line-height: rem(20px);
              &:last-child {
                border-top: none;
                padding-top: 0;
              }
            }
            li.c-desc {
              list-style-type: none;
              margin-top: rem($margin16px);
            }
          }

          @include screen(web) {
            row-gap: rem(24px);
          }
        }
      }
      .tab1,
      .tab2 {
        .c-print-area {
          + #{$cs-header} {
            padding: rem(0 $padding16px);
            margin-top: 0;

            #{$text-contents} {
              &__headline {
                + #{$text-contents} {
                  &__bodycopy {
                    margin: rem($margin12px 0 $margin8px);
                    @include screen(web) {
                      margin: rem($margin24px 0 $margin8px);
                    }
                  }
                }
              }
            }
            @include screen(web) {
              padding-top: 0;
              @include inset-padding-hz;
            }
          }
        }
      }
      .tab2 {
        .c-parts {
          @include screen(web) {
            margin-top: rem($margin48px);
            margin-bottom: rem($margin24px);
          }
        }
      }
      .tab3 {
        .c-print-area {
          + #{$cs-header} {
            @include screen(web) {
              padding-top: 0;
              padding-bottom: 0;
              margin-bottom: rem($margin48px);
            }
          }
        }
      }
      .tab4 {
        .cs-warrantylist {
          &__hypen {
            padding: rem(0 $padding16px 0 $padding24px);
            color: $mid-gray3;
          }
          &__star {
            margin-bottom: 0;
            padding-left: rem($padding24px);
            a {
              text-decoration: underline;
              color: $active-red;
            }
          }
        }
        ul.cs-warrantylist__hypen,
        .cs-warrantylist__star {
          @include screen(web) {
            @include container($design-grid-full, true);
            padding-left: rem($padding40px);
            padding-right: rem($padding40px);
            margin: 0 auto;
          }
        }
        .cs-warrantyTxt {
          padding-bottom: rem($padding24px);
          #{$cs-header} {
            @include screen(web) {
              .c-text-contents__bodycopy {
                &:nth-child(2) {
                  margin-top: rem($margin24px);
                  margin-bottom: rem($margin20px);
                }
              }
            }
          }
        }
      }
      .accordion {
        &__content {
          .c-warranty {
            &__text {
              dl {
                margin-bottom: rem($margin12px);
                dt {
                  color: #7e7c77;
                  margin-bottom: rem($margin4px);
                  @include screen(web) {
                    margin-bottom: rem($margin16px);
                  }
                }
                dd {
                  line-height: rem(20px);
                  @include screen(web) {
                    margin-bottom: 0;
                  }
                }
                &:last-child {
                  margin-bottom: 0;
                }
                &:first-child {
                  @include screen(web) {
                    dd {
                      line-height: rem(28px);
                    }
                  }
                }
              }
              margin-bottom: rem($margin24px);
              &:last-child {
                margin-bottom: 0;
                padding-bottom: rem($padding20px);
              }
            }
            &__desc {
              border-top: 1px solid $mid-gray1;
              padding-top: rem($padding24px);
              margin-top: rem($margin24px);
              padding-bottom: rem($padding20px);
              line-height: rem(20px);
              color: $mid-gray3;
              p {
                border: 1px solid #000;
                color: $mid-gray2;
                margin-bottom: rem($margin8px);
              }
              a {
                color: $active-red;
                text-decoration: underline;
              }
              @include screen(web) {
                line-height: rem(24px);
                color: $mid-gray3;
                .cs-bold {
                  color: $black;
                }
              }
            }
          }
        }
      }
    }
    .c-second-section {
      .accordion {
        @include screen(web) {
          &__item {
            display: flex;
            padding: rem($padding28px);
            gap: rem(24px);
            margin-bottom: rem($margin24px);
          }
          &__title {
            width: rem(300px);
            flex-shrink: 0;
            padding: 0;
          }
          &__content {
            padding: 0;
            .c-warranty__text {
              display: flex;
              gap: rem(24px);
              dl {
                // flex: 1;
                width: calc((100% - rem(48px)) / 3);
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
    .CS0078__container {
      .cs-warrantylist__hypen {
        margin: 0;
      }
      .warrantylist__dot {
        list-style-type: disc;
        padding: 0 0 0 rem($margin20px);
        li {
          list-style-position: outside;
          padding-left: rem($margin8px);
        }
      }

      @include screen(web) {
        .c-parts--inner {
          margin: rem($margin48px 0 $margin24px);
        }
      }
      .c-product-list__wrap {
        .c-product-list {
          .c-content_box {
            li.c-desc {
              margin-top: 0;
            }
          }
        }
      }
      .c-product-list__type2 {
        li.c-content_box {
          ul:nth-child(2) {
            min-width: 40%;

            li {
              display: block;
            }
          }
        }
      }
      .c-first-section {
        .tab3 {
          .c-print-area + .c-cs-header {
            @include screen(web) {
              margin-bottom: rem($margin24px);
            }
            .c-text-contents__headline + .c-text-contents__bodycopy {
              margin: 1.5rem 0 0.5rem;
            }
          }
        }
      }

      .cmp-text {
        a {
          color: #ea1917;
        }
      }
    }
  }
}
