@charset "UTF-8";

@use '../../scss/abstract/' as *;
@use '../CS0000/CS0000' as *;

// component
$component: '.CS0098';

#{$component} {
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  $text: '.c-text-contents';
  $mobile-width: calc(100% - rem($margin25px * 2));
  .c-hidden-pc {
    @include screen(web) {
      display: none;
    }
  }

  .c-hidden-mo {
    @include screen(mobile) {
      display: none;
    }
  }

  &__container {
    @include flex-context;
    @include container($design-grid-full, true);
    @include inset-padding-hz;
    @at-root #{$component} {
      .full #{$component}__container {
        padding: 0;

        @include screen(web) {
          min-width: initial;
        }

        #{$cs-header} {
          margin: rem(0 $margin25px);
          margin-bottom: rem($margin20px);

          @include screen(web) {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: rem($margin40px);
          }
        }
      }
    }
  }

  // Support HEADER
  #{$cs-header} {
    // margin-bottom: rem($margin20px);
    max-width: calc(100% - rem(85px));

    a {
      color: $red;
      text-decoration: underline;
    }

    @include screen(web) {
      // margin-bottom: rem($margin40px);
      max-width: calc(100% - rem(170px));
    }

    @at-root #{$component} #{$cs-header} {
      #{$text-contents} {
        // text-align: center;
      }

      #{$text-contents}__headline + #{$text-contents}__bodycopy {
        margin-top: rem($margin6px);

        @include screen(web) {
          margin-top: rem($margin10px);
        }
      }
    }
  }

  .c-text-contents {
    &__border-type {
      padding: rem($padding25px);
      line-height: rem(18px);
      border-bottom: 1px solid $grayd;
      border-top: 1px solid $grayd;

      // margin: 0 rem($margin25px);
      @include screen(web) {
        max-width: $design-grid-full;
        margin: 0 auto;
        padding: rem($padding20px);
      }

      a {
        font-weight: $font-semibold;
        text-decoration: underline;
        color: $red;
      }
    }
  }

  .type-form {
    text-align: initial;

    .container {
      > .button {
        margin: 0 rem($margin25px) rem($margin30px);
        text-align: center;
        line-height: rem(12px);

        a {
          text-decoration: underline;
          text-transform: capitalize;
          font-size: rem(14px);
        }
      }

      + .c-cta {
        border-top: 1px solid $mid-gray1;
        margin-top: rem($margin24px);
        padding: rem($padding12px 0 $padding24px);

        @include screen(web) {
          margin-top: rem($margin48px);
          padding: rem($padding24px 0 $padding48px);
        }
      }
    }

    .c-cta {
      &:nth-last-child(2) {
        margin-top: rem($margin20px);
      }
    }
  }

  .c-button-delete {
    display: none;
    position: absolute;
    right: rem(16px);
    top: 0;
    bottom: 0;
    margin: auto;
    width: rem(24px);
    height: rem(24px);
    background: url($icon-close-circle-24-24);
    text-indent: -9999px;
    border: none;
    cursor: pointer;

    &--active {
      display: block;
    }
  }

  .c-model-content-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: rem($margin24px);

    @include screen(web) {
      margin-top: rem($margin48px);
      margin-bottom: rem($margin24px);
    }
  }

  .c-model-contents {
    font-weight: $font-bold;

    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-decoration: underline;
      max-width: calc(100% - rem(10px));

      &.find-number {
        img {
          margin-right: rem($margin4px);
        }

        cursor: pointer;
      }
    }

    @include screen(web) {
      flex: none;

      a {
        max-width: none;
      }
    }
  }
  .type-form {
    .cs-form__chk {
      .c-checkbox-item {
        .label {
          &::before {
            top: rem(-3px);
            @include screen(web) {
              top: rem(2px);
            }
          }
        }
      }
    }
  }
}
