extends ../_common/_layout.pug
include ../_common/_index.pug

block meta 
    - var description = "description text"
    - var keywords = "keyword list"
    title LG GP1 ML UI Component Guide
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    style(type='text/css').
        .the51Guide {
            margin: 0 auto;
            max-width:800px;
        }
        .the51Guide__title {
            margin: 80px 0 0 0;
            font-size: 32px;
            font-weight: 600;
        }
        h2 + h2{
            padding-top: 10px;
        }
        .the51Guide h3 {
            margin:30px 0 0 0;
            font-weight: 600;
        }
        .the51Guide__title + h3 {
            margin-top:10px;
        }
        .the51Guide__desc {
            background: #eee;
            padding: 30px;
        }
        .the51Guide__options {
            margin: 10px 0;
            padding: 0;
            border: 1px solid #dee3ea;
            border-radius: 8px;
            background: #fff;
        }
        .the51Guide__options li {
            display: flex;
            justify-content: stretch;
            align-items: center;
            list-style: none;
        }
        .the51Guide__options li:not(:last-child) {
            border-bottom: 1px solid #dee3ea;
        }
        .the51Guide__options li p {
            position: relative;
            padding-left: 8px;
            margin-left: 3px;
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #888;
        }
        .the51Guide__options li p:before {
            content: "";
            display: inline-block;
            position: absolute;
            top: 8px;
            left: 0;
            width: 3px;
            height: 3px;
            margin-right: 5px;
            border-radius: 50%;
            background: #9d1cd8;
        }
        .the51Guide__options--title {
            flex: 0 0 20%;
            min-width: 200px;
            padding: 0 10px;
        }
        .the51Guide__options--type {
            padding: 5px 5px 5px 20px;
            border-left: 1px solid #dee3ea;
        }
        .the51Guide__options--type-detail {
            flex-basis: 100%;
        }
        .the51Guide__link {
            color:deeppink;
            text-decoration:underline;
        }

block scripts
    //- script(src="the51Guide.js" type="module")

block content
    #contents.guide-page
        h1 [ML, AL, CS, SE] LG GP1 UI Component Guide

        .the51Guide
            h2 +cartPriceTotal
            h3 include
            .the51Guide__include
                | include ../_common/_cart-price-total.pug
            h3 options
            ul.the51Guide__options 
                li
                    .the51Guide__options--title isStickyBottom
                    .the51Guide__options--type Boolean
                        .the51Guide__options--type-detail
                            p 모바일에서 페이지 끝에서 펼쳐지는 UI
                            p js에서 cartPriceTotal('.컴포넌트class') 추가필요
                li 
                    .the51Guide__options--title isMobileBottomFixed
                    .the51Guide__options--type Boolean 
                        .the51Guide__options--type-detail
                            p 모바일에서 fixed bottom일 경우
                li 
                    .the51Guide__options--title useToggleFoldBtn
                    .the51Guide__options--type Boolean 
                        .the51Guide__options--type-detail
                            p 세부항목 fold toggle 버튼 사용 유무
                li 
                    .the51Guide__options--title coupon
                    .the51Guide__options--type Boolean
                li 
                    .the51Guide__options--title taxInclude
                    .the51Guide__options--type Boolean
                li 
                    .the51Guide__options--title discount
                    .the51Guide__options--type Boolean
                li 
                    .the51Guide__options--title delivery
                    .the51Guide__options--type Boolean
                li 
                    .the51Guide__options--title service
                    .the51Guide__options--type Boolean
                li 
                    .the51Guide__options--title asidePaymentInfo
                    .the51Guide__options--type String 
                        .the51Guide__options--type-detail
                            p Credit card | Klarna | PayPal ...
                            p My LG 'order detail' 하단 결제 지불수단 정보
                li 
                    .the51Guide__options--title card
                    .the51Guide__options--type Boolean
                li 
                    .the51Guide__options--title point
                    .the51Guide__options--type Boolean
                li 
                    .the51Guide__options--title btnName
                    .the51Guide__options--type String 
                        .the51Guide__options--type-detail
                            p checkout | PLACE ORDER | Proceed to next ...
                li 
                    .the51Guide__options--title isBtnDisabled
                    .the51Guide__options--type Boolean 
                        .the51Guide__options--type-detail
                            p btn disabed 여부
                li 
                    .the51Guide__options--title msg
                    .the51Guide__options--type Array
                        .the51Guide__options--type-detail
                            p include <a href="#toastPopup">+toastPopup</a>
            h3 preview
            .the51Guide__view(style="display:flex;flex-wrap:wrap;gap:10px;padding:0")
                include ../_common/_cart-price-total.pug
                div(style="flex-basis:calc(50% - 5px)")
                    .guide-text-option my lg order detail
                    +cartPriceTotal([
                        {
                            isStickyBottom: false,
                            isMobileBottomFixed: false,
                            useToggleFoldBtn: false,
                            taxInclude:true,
                            discount: true,
                            delivery: true,
                            service: true,
                            asidePaymentInfo: 'Credit card'
                        },
                    ])
                div(style="flex-basis:calc(50% - 5px)")
                    .guide-text-option cart
                    +cartPriceTotal([
                        {
                            isMobileBottomFixed: true,
                            useToggleFoldBtn: true,
                            taxInclude:true,
                            coupon: true,
                            delivery: true,
                            service: true,
                            card: true,
                            point: true,
                            btnName:"checkout",
                            msg:[
                                {type:"error", text:"“OLW480B” is out of stock and cannot be purchased."},
                                {type:"warning", text:"The purchase amount exceeds £2500. Klarna financing option is not available for payment."},
                                {type:"success", text:"We've removed the selected item(s) from your basket."},
                            ]
                        },
                    ])
                div(style="flex-basis:calc(50% - 5px)")
                    .guide-text-option checkout
                    +cartPriceTotal([
                        {
                            isMobileBottomFixed: true,
                            useToggleFoldBtn: true,
                            isStickyBottom: true,
                            taxInclude: true,
                            discount: true,
                            coupon: false,
                            delivery: true,
                            service: true,
                            card: false,
                            point: false,
                            btnName:"PLACE ORDER",
                            isBtnDisabled: true,
                        },
                    ])
                div(style="flex-basis:calc(50% - 5px)")
                    .guide-text-option order confirm
                    +cartPriceTotal([
                        {
                            taxInclude:true,
                            discount: true,
                            delivery: true,
                            service: true,
                            card: false,
                        },
                    ])



            h2.the51Guide__title#toastPopup +toastPopup
            h3 include
            .the51Guide__include
                | include ../_common/_toast.pug
            h3 options
            ul.the51Guide__options 
                li 
                    .the51Guide__options--title type
                    .the51Guide__options--type String 
                        .the51Guide__options--type-detail error | incorrect | warning | success
                li 
                    .the51Guide__options--title title
                    .the51Guide__options--type String
                li 
                    .the51Guide__options--title remove
                    .the51Guide__options--type Boolean
                        .the51Guide__options--type-detail
                            p 삭제버튼 필요시
            include ../_common/_toast.pug
            h3 preview
            .the51Guide__view
                +toastPopup([
                    {   type:"error", 
                        remove: true, 
                        text:`You have connected product(s) with ThinQ. <a href="#">Link with LG.com with a one click.</a>`,
                    },
                    {type:"warning", remove: false, text:"description"},
                    {type:"success", remove: true, text:"description"},
                    {type:"incorrect", remove: true, text:"description"},
                ])


            h2.the51Guide__title +inquiryList
            h3 include
            .the51Guide__include
                | include ../_common/_inquiry.pug
            h3 options
            ul.the51Guide__options 
                li 
                    .the51Guide__options--title flag
                    .the51Guide__options--type String 
                        .the51Guide__options--type-detail RECEIPT | PROCESS | CANCELED | COMPLETED 
                li 
                    .the51Guide__options--title symptom
                    .the51Guide__options--type String
                li 
                    .the51Guide__options--title ReceiptNo
                    .the51Guide__options--type String
                li 
                    .the51Guide__options--title ModelNo
                    .the51Guide__options--type String
                li 
                    .the51Guide__options--title ReceiptDate
                    .the51Guide__options--type String
            include ../_common/_inquiry.pug
            h3 preview
            .the51Guide__view
                +inquiryList([
                    {
                        flag: "RECEIPT", 
                        symptom: "Cooling Issues",
                        ReceiptNo : "CNU221004079840",
                        ModelNo : "LRMVS2806S",
                        ReceiptDate : "03 Sep. 2022",
                    },
                    {
                        flag: "PROCESS", 
                        symptom: "Smart TV Issues",
                        ReceiptNo : "CNU221004079840",
                        ModelNo : "LRMVS2806S",
                        ReceiptDate : "03 Sep. 2022",
                    },
                    {
                        flag: "CANCELED", 
                        symptom: "Cooling Issues",
                        ReceiptNo : "CNU221004079840",
                        ModelNo : "LRMVS2806S",
                        ReceiptDate : "03 Sep. 2022",
                    },
                    {
                        flag: "COMPLETED", 
                        symptom: "Smart TV Issues",
                        ReceiptNo : "CNU221004079840",
                        ModelNo : "LRMVS2806S",
                        ReceiptDate : "03 Sep. 2022",
                    },
                ])        
            

            h2.the51Guide__title +linkBanner
            h3 include
            .the51Guide__include
                | include ../_common/_link-banner.pug
            h3 options
            ul.the51Guide__options 
                li 
                    .the51Guide__options--title bgColor
                    .the51Guide__options--type String 
                        .the51Guide__options--type-detail white
                li 
                    .the51Guide__options--title type
                    .the51Guide__options--type String (설정없음:기본)
                        .the51Guide__options--type-detail small | medium | large
                li 
                    .the51Guide__options--title border
                    .the51Guide__options--type Boolean
                        .the51Guide__options--type-detail 
                            p true - border 사용
                            p false(설정없음:기본) - border 없음
                li 
                    .the51Guide__options--title mobileTextAlignLeft
                    .the51Guide__options--type Boolean
                        .the51Guide__options--type-detail 
                            p true - 모바일 분기에서 버튼 제외하고 text-align:left 로 변경
                            p false(설정없음:기본) - text-align:center
                li 
                    .the51Guide__options--title title
                    .the51Guide__options--type object
                        .the51Guide__options--type-detail
                            p font - 폰트 관련 클래스 추가 
                            p text - 텍스트
                li 
                    .the51Guide__options--title desc
                    .the51Guide__options--type object
                        .the51Guide__options--type-detail 
                            p font - 폰트 관련 클래스 추가 
                            p text - 텍스트
                li 
                    .the51Guide__options--title button
                    .the51Guide__options--type object
                        .the51Guide__options--type-detail 
                            p type - 버튼 타입 (구 버전 버튼 mixin)
                            p color - 버튼 컬러 (구 버전 버튼 mixin)
                            p name - 버튼 텍스트
                            p size - 버튼 사이즈(web) :  small | medium | large
                            p sizeMobile - 버튼 타입(mobile) : small | medium | large
                            p buttonStyle - String
                                span default | highlight
                            p isButton - Boolean
                        pre 
                            |   button:[{
                            |       size: "medium",
                            |       sizeMobile: "medium",
                            |       name: "Continue Shopping",
                            |       buttonStyle: 'default',
                            |       isButton: false
                            |   }]
                li 
                    .the51Guide__options--title isArrowButton
                    .the51Guide__options--type Boolean
                        .the51Guide__options--type-detail 
                            p (ex ML000A MyLG-index) arrow 버튼일경우. true일경우 linkButton은 hidden
                
            include ../_common/_link-banner.pug
            h3 preview
            .the51Guide__view
                +linkBanner({
                    mobileTextAlignLeft:true,
                    title:[{
                        text:"Get Manuals & Software",
                        font:false
                    }],
                    desc:[{
                        text:"Do you need the troubleshoot, manuals & software for this product?",
                        font:false
                    }], 
                    button:[{
                        type:"box-outlined",
                        color:"black",
                        size:"small",
                        name: "Find More",
                    }],
                })
                +linkBanner({
                    mobileTextAlignLeft:true,
                    title:[{
                        text:"Warranty",
                        font:"font-w-light-36 font-m-light-20"
                    }],
                    desc:[{
                        text:"Check the LG Warranty information and enjoy free repair service :)",
                        font:"font-w-normal-16 font-m-normal-16"
                    }], 
                    isArrowButton: true,
                    button:false,
                })

            h2.the51Guide__title +myComponentSubMenu
            h3 include
            .the51Guide__include
                | include ../_common/_my-component.pug
            h3 options
            ul.the51Guide__options 
                li 
                    .the51Guide__options--title title
                    .the51Guide__options--type String 
                        .the51Guide__options--type-detail 페이지 타이틀
                li 
                    .the51Guide__options--title subMenu
                    .the51Guide__options--type Array 
                        .the51Guide__options--type-detail sub menu
                
            include ../_common/_my-component.pug
            h3 preview
            .the51Guide__view
                +myComponentSubMenu({
                    title:"My orders",
                    subMenu:['m1', 'm2', 'm3']
                })



            h2 [class] .my-component__wrap
            h3 description
            .the51Guide__include
                | full size side border 
                a.the51Guide__link(href="http://localhost/components/ML000A/ML000A.html", target="_blank") ex)ML000A
                br
                | my-component를 my-component__wrap 으로 감싸서 사용<br>
                | 공통 scss에 추가됨에따라 class부여시 사용가능 <br>

            h3 소스경로
                p src\scss\modules\_my-component.scss
            h3 style
            ul.the51Guide__options 
                li
                    .the51Guide__options--title .my-component__wrap
                    .the51Guide__options--type 
                        pre(style="width:100%;border:none", readonly="true")
                            | .my-component__wrap
                            |    .my-component
                li
                    .the51Guide__options--title .my-component__wrap.border-only-web
                    .the51Guide__options--type border web만 보이게


            h2 
                del [style mixin] @myComponentSidePadding 
                span (삭제)
            h2 
                del [class] .my-component__title-section
                
            
            h2 [class] .headline-m-padding-r / .headline-w-padding-r
            h3 description
            .the51Guide__include
                | c-carousel__handler--away-from-carousel 등 headline 오른쪽으로 absolute 속성의 ui 가 있는경우 <br>
                | text가 길어질경우 영역 겹침을 방지하기 위해 오른쪽 영역에 padding을 넣어주는 class 추가 <br>
                | 공통 scss에 추가됨에따라 class부여시 사용가능 <br>
                | web과 mobile 둘 중 한 케이스만 right absolute가 발생하는 경우를 위해 web, mobile 각각 class 생성<br>
                a.the51Guide__link(href="http://localhost/components/ML000A/ML000A.html", target="_blank") ex)ML000A > Become a LG Member
            h3 소스경로
                p src\scss\modules\_my-component.scss
            h3 style
            ul.the51Guide__options 
                li
                    .the51Guide__options--title 
                        | .headline-m-padding-r<br>
                        | .headline-w-padding-r
                    .the51Guide__options--type 
                        pre(style="width:100%; border:none", readonly="true")
                            | .c-text-contents.my-component__title-section
                            |    .c-text-contents__headline.headline-m-padding-r.headline-w-padding-r
                            |        +headline(...)
        

            h2 [class] .my-page-title
            h3 description
            .the51Guide__include
                | 최상위 title 
                | 다중클래스 사용 .my-component.my-page-title
                br
                a.the51Guide__link(href="http://localhost/components/ML000C/ML000C.html", target="_blank") ex)ML000C
                br
                a.the51Guide__link(href="http://localhost/components/ML000E/ML000E.html", target="_blank") ex)ML000E
            h3 소스경로
                p src\scss\modules\_my-component.scss
            h3 style
            ul.the51Guide__options 
                li
                    .the51Guide__options--title 
                        | .my-component.my-page-title
                    .the51Guide__options--type 
                        pre(style="width:100%; border:none", readonly="true")
                            |   .my-component.my-page-title
                            |       .c-text-contents.my-component__title-section
                            |           .c-text-contents__headline
                            |               +headline("font-w-light-56 font-m-light-28", 'h3', "Create return")
            h3 preview
                .my-component.my-page-title
                    .c-text-contents.my-component__title-section
                        .c-text-contents__headline
                            +headline("font-w-light-56 font-m-light-28", 'h3', "Create return")

block footer

block modal 
