@charset "UTF-8";

@use '../../scss/abstract/' as *;
@use '../CS0000/CS0000' as *;

$component: '.CS0035';

#{$component} {
  > .component > .cmp-container {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: rem($margin20px);
    padding-top: rem($padding40px);
    padding-bottom: rem($padding40px);

    @include screen(web) {
      align-items: center;
      flex-direction: row;
      // padding-top: rem($padding60px);
      // padding-bottom: rem($padding60px);
      .button__group {
        flex-shrink: 0;
      }
    }

    &.align-left {
      @include screen(web) {
        flex-direction: row;
      }
    }

    &.align-right {
      @include screen(web) {
        flex-direction: row-reverse;
      }
    }

    .c-require {
      flex-shrink: 0;
      align-self: flex-end;

      @include screen(mobile) {
        &:not(:first-child) {
          margin-top: rem(-$margin8px);
        }
      }
    }
  }

  // block : c-text-contents
  .c-text-contents {
    display: flex;
    flex-direction: column;
    gap: rem($margin4px);
    // max-width: rem($text-box-width-md);

    &__subtitle {
      margin-top: rem($margin6px);
    }

    &__bodycopy {
      color: $gray6;
    }

    * + .c-cta {
      margin-top: rem($margin24px);
    }
  }

  // block : c-cta
  .c-cta {
    flex-shrink: 0;

    @include screen(web) {
      justify-content: flex-end;
    }
  }

  &.bg-darkgray,
  &.bg-black {
    .c-text-contents__bodycopy {
      color: $white;
    }
  }

  @at-root #{$component} {
    &.width-wide {
      max-width: 1920px;
      margin: 0 auto;
    }

    &.width-narrow {
      max-width: 1600px;
      margin: 0 auto;
    }

    &.width-content {
      max-width: 1440px;
      margin: 0 auto;
    }

    &.border-top {
      border-top: 1px solid $mid-gray1 !important;
    }

    &.border-bottom {
      border-bottom: 1px solid $mid-gray1;
    }
  }
}
