@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.AL0019';
#{$component} {
  > .component > .cmp-container {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
  }
  .c-region-header {
    padding: rem($padding24px) 0 rem($padding12px);
    @include screen(web) {
      padding: rem(48px) 0 rem($padding20px);
    }
  }
  // block : list
  .c-list {
    @include reset-list-style;
    @include flex-context($direction: row);
    display: flex;
    flex-wrap: wrap;
    gap: rem(20px) 0;
    padding-bottom: rem($padding24px);
    @include screen(web) {
      gap: rem(32px) 1.66%;
      padding-bottom: rem(64px);
    }
    &__item {
      position: relative;
      width: 100%;
      // @include lgness-radius('default');
      overflow: hidden;
      @include screen(web) {
        width: 49.17%;
        max-width: rem(708px);
      }
      &__img {
        overflow: hidden;
        @include lgness-radius('default');
      }
      .title {
        margin-top: rem($margin14px);
        @include screen(web) {
          margin-top: rem($margin16px);
        }
      }
      .topic-box {
        margin-top: rem($margin4px);
        @include screen(web) {
          margin-top: rem($margin8px);
        }
        .button {
          margin-top: rem($margin12px);
          @include screen(web) {
            margin-top: rem($margin20px);
          }
        }
      }
      .c-button--box-icon {
        span {
          position: relative;
          padding-right: rem($padding15px);
          &::before {
            content: '';
            display: inline-block;
            position: absolute;
            right: 0;
            width: rem(10px);
            height: rem(10px);
            background: url($icon-blank-black-16-16) center / contain no-repeat;
          }
        }
      }
    }
    &-item__img {
      width: 100%;
      display: block;
      img {
        width: 100%;
      }
    }
    &-item__contents {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      min-height: rem(176px);
      padding: rem($padding12px) rem($padding20px) rem($padding20px);
      background: rgba($dark-gray3, 0.4);
      text-align: left;
      box-sizing: border-box;
      backdrop-filter: blur(10px);
      @include screen(web) {
        padding: rem($padding20px) rem(28px) rem(28px);
        min-height: rem(152px);
        background: rgba($dark-gray3, 0.5);
      }
      strong {
        display: block;
        color: $white;
        line-height: rem(24px);
        @include screen(web) {
          font-size: rem(32px);
          line-height: rem(36px);
        }
      }
      p {
        margin-top: rem($margin8px);
        color: $white;
        line-height: rem(16px);
        @include ellipsis(4);
        @include screen(web) {
          @include ellipsis(3);
          max-width: 548px;
          width: 90%;
          line-height: rem(20px);
        }
      }
      .c-button {
        position: absolute;
        left: rem(20px);
        bottom: rem(20px);
        opacity: 0.5;
        @include screen(mobile) {
          width: rem(36px);
          height: rem(36px);
        }
        @include screen(web) {
          bottom: rem(28px);
          left: initial;
          right: rem(28px);
        }
        &.c-button--circle.black.arrow.w-large:after {
          background-image: url($icon-arrow-dark-gray2-right-32-32);
          @include screen(mobile) {
            background-size: rem(18px) rem(18px);
          }
        }
      }
    }
  }
}
