extends ../../components/_common/_layout-template.pug
include ../../components/_common/_index.pug
include ../_common/_product-list.pug

block meta 
    - var CM0007 = "CM0007"
    - var description = "description text"
    - var keywords = "keyword list"
    title Cart Template
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href="../../components/CM0001/CM0001.css")
    link(rel="stylesheet", href="../../components/CM0002/CM0002.css")
    link(rel="stylesheet", href="../../components/CT000A/CT0100.css")
    link(rel="stylesheet", href="../../components/CT000A/CT0101.css")
    link(rel="stylesheet", href="../../components/CT000A/CT0102.css")
    link(rel="stylesheet", href="../../components/CM0007/CM0007.css")

block scripts
    script(src="../../components/CM0001/CM0001.js" type="module")
    script(src="../../components/CM0002/CM0002.js" type="module")
    script(src="../../components/CT000A/CT0100.js" type="module")
    script(src="../../components/CM0007/CM0007.js" type="module")
    
block header
    include ../../components/CM0001/CM0001-inc.pug
    +CM0001()
    
block content
    include ../../components/CT000A/CT0100-CZ-inc.pug
    +CT0100()
    include ../../components/CT000A/CT0101-CZ-inc.pug
    +CT0101(10)
    include ../../components/CT000A/CT0102-inc.pug
    +CT0102()
    include ../../components/CM0007/CM0007-inc.pug
    +CM0007()

block footer
    include ../../components/CM0002/CM0002-inc.pug
    +CM0002
