@charset "UTF-8";
// module
@use '../../scss/abstract/' as *;

$component: '.CT0101';

#{$component} {
  // element
  > .component {
    border-top: rem($border1) solid $graycb;
  }
  > .component > .fluid-container {
    @include container($design-grid-full, true);
    position: relative;
    padding: rem($padding24px 0);
    @include screen(web) {
      padding: rem($padding48px 0 $padding64px);
      @include inset-padding-hz;
    }
    .c-product-list {
      margin-top: rem($margin12px);
      padding: rem(0);
      @include screen(web) {
        margin-top: rem($margin36px);
      }
    }
    .c-product-item {
      gap: rem(12px);
      @include screen(web) {
        gap: rem(16px);
      }
      &__ufn {
        @include screen(web) {
          font-size: rem(24px);
        }
      }
      &__img {
        @include screen(web) {
          margin-top: rem($margin16px);
        }
      }
      &__bottom-container {
        .cta-wrap {
          margin-top: rem($margin12px);
          @include screen(web) {
            margin-top: rem($margin16px);
          }
        }
      }
    }
    .buy-product-carousel {
      position: relative;
      .c-text-contents {
        @include screen(mobile) {
          padding: rem(0 $block-margin-m);
        }
        // @include screen(web) {
        //     padding: rem(0 $block-margin-w);
        // }
      }
      .c-carousel .c-carousel__handler--away-from-carousel {
        @include screen(mobile) {
          margin-top: 0;
        }
      }
    }
  }
  .price-area {
    .price-box {
      line-height: rem(12px);
      @include screen(web) {
        line-height: rem(16px);
      }
    }
    .product-price {
      gap: rem(4px);
    }
    .c-price {
      &__purchase {
        line-height: rem(28px);
        @include screen(web) {
          line-height: rem(32px);
        }
      }
      &__flag--member {
        margin-left: rem($margin4px);
        @include screen(mobile) {
          line-height: rem(12px);
        }
        .flag {
          @include screen(mobile) {
            margin-bottom: rem($margin2px);
          }
        }
      }
    }
  }
  .swiper {
    overflow-y: visible;
    position: initial;
    @include screen(mobile) {
      padding: rem(0 $padding34px 0 $padding16px);
      &.no-swiper {
        padding: rem(0 $padding16px);
      }
    }
    .c-carousel__handler {
      margin-top: 0;
      @include screen(web) {
        right: 0;
      }
    }
  }
  .c-product-item {
    .smallFont {
      font-size: 0.889em;
      @include screen(web) {
        font-size: 0.8em;
      }
    }
  }
}
