@charset "UTF-8";
// module
@use '../../scss/abstract/' as *;

$component: '.CT0102';
#{$component} {
  // element
  $text: '.c-text-contents';
  .c-text-contents {
    @at-root #{$component} {
      #{$text}__ + .c-support__box {
        margin-top: rem($padding20px);
        @include screen(web) {
          margin-top: rem($margin40px);
        }
      }
    }
  }
  .c-list {
    @include reset-list-style;
    @include list(wrap, $gutter-m);
    @include screen(web) {
      column-gap: min(rem($gutter-w), $gutter-w/$design-grid-full * 100%);
      row-gap: rem($gutter-w);
    }
    &__item {
      .c-button {
        margin-top: rem($margin16px);
        @include screen(web) {
          margin-top: rem($margin20px);
        }
      }
      @at-root #{$component} {
        #{$text}__headline + #{$text}__bodycopy {
          margin-top: rem($margin8px);
          @include screen(mobile) {
            color: $dark-gray2;
          }
        }
      }
    }
    &__link {
      width: 100%;
    }
  }
  > .component > .fluid-container {
    @include container($maximum, true);
  }

  .c-support {
    @include lgness-margin('if-headline-inside');
    padding-top: rem($component-margin-m);
    padding-bottom: rem($component-margin-m);
    @include screen(web) {
      padding-top: rem($component-margin-w);
      padding-bottom: rem($component-margin-w);
    }
    &__inner {
      @include container($design-grid-full, true);
      padding: 0 rem($padding12px);
      @include screen(web) {
        @include inset-padding-hz;
      }
      .c-text-contents {
        // padding: 0 rem(13px);
      }
    }
    &__title {
      // @include screen(web) {
      //     margin: 0 auto;
      //     max-width: min(rem($text-box-width-md), $text-box-width-md / $design-grid-full * 100%);
      // }
      #{$text}__headline {
        margin-bottom: rem($margin10px);
      }
    }
    &__box {
      @at-root #{$component} {
        .c-support__title + .c-support__box {
          margin-top: rem($padding20px);
          @include screen(web) {
            margin-top: rem($margin40px);
          }
        }
        .c-support--option {
          .c-support__title + .c-support__box {
            @include screen(mobile) {
              margin-top: rem($margin30px);
            }
          }
        }
      }
    }
    &--card {
      .c-list {
        margin-top: rem($margin12px);
        grid-template-columns: 1fr 1fr;
        gap: rem($margin12px);
        @include screen(web) {
          margin-top: rem($margin20px);
          grid-template-rows: repeat(4, 1fr);
          gap: rem($margin24px);
        }
        @include screen(tablet) {
          .c-button[class*='-box'].medium {
            padding-left: rem($padding6px);
            padding-right: rem($padding6px);
          }
        }
        &__item {
          display: inline-flex;
          flex-direction: column;
          align-items: flex-start;
          flex: none;
          width: 100%;
          border: rem($border1) solid $graye6;
          @include lgness-radius('default');
          background-color: $white;
          @include screen(web) {
            flex: 1 1 0;
          }
        }
        &__link {
          padding: rem($padding20px);
          @include screen(web) {
            padding: rem($padding32px);
          }
          @include screen(tablet) {
            padding: rem($padding24px);
          }
          .c-button,
          .c-button__text {
            text-decoration: none;
            font-size: rem(12px);
            line-height: rem(12px);
            @include screen(web) {
              font-size: rem(16px);
              line-height: rem(16px);
            }
          }
          .c-text-contents {
            padding: 0;
            max-width: rem(234px);
            @include screen(web) {
              max-width: rem(316px);
            }
          }
          .cmp-image {
            min-width: rem(64px);
          }
        }

        .c-image {
          width: rem($width32px);
          height: rem($height32px);
          @include screen(web) {
            margin-left: auto;
            margin-right: auto;
            width: rem($width60px);
            height: rem($height60px);
          }
          @at-root #{$component} .c-support--card {
            .c-image + .c-text-contents {
              margin-top: rem($margin12px);
              @include screen(web) {
                margin-top: rem($margin20px);
              }
            }
          }
        }
        &--flex {
          .c-list__link {
            display: flex;
            flex-direction: row;
            height: 100%;
            justify-content: space-between;
            gap: 0 rem(12px);
            @include screen(web) {
              gap: 0 rem(20px);
            }
          }
          .c-cta {
            flex: 1;
            justify-content: center;
            align-items: flex-end;
          }
        }
        &--no-link {
          .c-list__link {
            padding: rem($padding20px) rem($padding20px) rem(36px);
            @include screen(web) {
              padding: rem($padding32px) rem($padding32px) rem(68px);
            }
          }
        }
      }
      .c-carousel {
        margin-left: rem(-$block-margin-m);
        margin-right: rem(-$block-margin-m);
        @include inset-padding-hz;
        @include screen(web) {
          margin-left: rem(-$block-margin-w);
          margin-right: rem(-$block-margin-w);
        }
        &.swiper-initialized {
          .swiper-wrapper {
            flex-wrap: nowrap;
            gap: 0;
          }
        }
        .swiper-wrapper {
          align-items: stretch;
          .swiper-slide {
            height: auto;
          }
        }
      }
      &.bg-white {
        border-top: rem($border1) solid $graye6;
      }
      &.bg-lightgray {
        .c-list {
          &__item {
            border: 0;
          }
        }
        & + .c-support--option.bg-white {
          border: 0;
        }
        & + .c-support--option.bg-lightgray {
          border-top: rem($border1) solid $graye6;
        }
      }
    }
  }
}
