include ../../components/CT000A/CT0101-inc.pug

mixin sampleCarouselList(num=4)
    - if(num > 4)
        - for(var x = 0; x < num-4; x++)
            //- [Start] 2023-05-22 : UPDATE- change common productCard
            +productItemSlide( 
                {
                    hiddenHead: true,
                    flag: false, 
                    compare: false,
                    wishlist: false,
                    modelid: 'OLED65C26LD',
                    sku: 'GSJV70PZTF',
                    ufn: 'American Fridge Freezer 635L Water & Ice Dispenser American Fridge Freezer 635L Water & Ice Dispenser',
                    review: false,
                    type:false,
                    groups:false,
                    youreko: false,
                    signature: false,                                
                    soldOut: false,
                    outOfStock: false,
                    discontinued: false,
                    promotion: false,
                    limited: false,
                    vip: false,
                    installment: true,
                    installmentTxt:[{txt:'3 months 0% Installment*',icon:false, installmentNoButton:true}],
                    membership: false,
                    repair: false,
                    Ab:false,
                    ehf:false,
                    chpay:false,
                    jppay:false,
                    vnpay:false,
                    discountTxt:true,
                    lumpsum:false,
                    plInfoTxt:false,
                    priceValue:"₱ 2,099.98",
                    discount:"₱ 233.00",     
                    priceAreaColumn:false,
                    AddtoBasket: true
                }
            )

    - else 
        - for(var x = 0; x < num; x++)
            +productItemSlide( 
                {
                    hiddenHead: true,
                    flag: false, 
                    compare: false,
                    wishlist: false,
                    modelid: 'OLED65C26LD',
                    sku: 'GSJV70PZTF',
                    ufn: 'American Fridge Freezer 635L Water & Ice Dispenser American Fridge Freezer 635L Water & Ice Dispenser',
                    review: false,
                    type:false,
                    groups:false,
                    youreko: false,
                    signature: false,                                
                    soldOut: false,
                    outOfStock: false,
                    discontinued: false,
                    promotion: false,
                    limited: false,
                    vip: false,
                    installment: true,
                    installmentTxt:[{txt:'3 months 0% Installment*',icon:false, installmentNoButton:true}],
                    membership: false,
                    repair: false,
                    Ab:false,
                    ehf:false,
                    chpay:false,
                    jppay:false,
                    vnpay:false,
                    discountTxt:true,
                    lumpsum:false,
                    plInfoTxt:false,
                    priceValue:"₱ 2,099.98",  
                    discount:"₱ 233.00",   
                    priceAreaColumn:false,
                    AddtoBasket: true
                }
            )

mixin CT0101(slideNum)
    - var carouselOptions = {handlerStyle : "c-carousel__handler--dial c-carousel__handler--away-from-carousel"}
    .c-wrapper.CT0101
        .component
            .fluid-container
                //- .buy-product-carousel.align-text-center
                    //- .c-text-contents.align-text-center.main-title
                    //-     .title.c-text-contents__headline
                    //- +headline("font-w-semibold-40 font-m-semibold-26", h3, "You may also like")
                .buy-product-carousel
                    .c-text-contents.align-text-left
                        .title.c-text-contents__headline.font-w-light-56.font-m-light-28
                            strong You may also like
                    +productCarouselList(slideNum, carouselOptions)