mixin optionContentsBoxList(option=false)
    .c-support.c-support--card.border-top
        .c-support__inner
            .c-support__title
            // block : text contents
            .c-text-contents
                .text.c-text-contents__headline 
                    +headline("font-w-light-56 font-m-light-28", "h2", "A better way to shop with LG")
                .text.c-text-contents__bodycopy 
                    .cmp-text.font-w-normal-24.font-m-normal-12(data-cmp-data-layer="")
                        p Take advantage of exclusive benefits for LG.com  shoppers

            .c-support__box
                case option
                    when 'noneLinkType'
                        ul.c-list.c-list--flex.c-list--no-link
                            li.c-list__item
                                .c-list__link
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            .cmp-title.font-w-light-36.font-m-normal-16(data-cmp-data-layer="") Welcome Coupon
                                        .c-text-contents__bodycopy
                                            .cmp-text.font-w-normal-16.font-m-normal-12
                                                p Get 5% off your first purchase when you join
                                    +printLazyPicture(`../../assets/icon/icon-mylg-coupon-64-64.svg`)
                            li.c-list__item
                                .c-list__link
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            .cmp-title.font-w-light-36.font-m-normal-16(data-cmp-data-layer="") Exclusive Pricing
                                        .c-text-contents__bodycopy
                                            .cmp-text.font-w-normal-16.font-m-normal-12
                                                p Receive an extra 2% membership discount
                                            //- +linkButton({type:"text", color:"black", size:"medium", icon:true, name: "Terms & Condition"})
                                    +printLazyPicture(`../../assets/icon/icon-exclusive-64-64.svg`)
                            li.c-list__item
                                .c-list__link
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            .cmp-title.font-w-light-36.font-m-normal-16(data-cmp-data-layer="") Free Delivery
                                        .c-text-contents__bodycopy
                                            .cmp-text.font-w-normal-16.font-m-normal-12
                                                p Free delivery for all LG.com orders
                                    +printLazyPicture(`../../assets/icon/Icon-mylg-delivery-64-64.svg`)
                    when "ph"
                        ul.c-list.c-list--flex.c-list--no-link
                            li.c-list__item
                                .c-list__link
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            .cmp-title.font-w-light-36.font-m-normal-16(data-cmp-data-layer="") Buy Now, Pay Later
                                        .c-text-contents__bodycopy
                                            .cmp-text.font-w-normal-16.font-m-normal-12
                                                p 0%-interest installments for 3 months
                                    +printLazyPicture(`../../assets/icon/icon-3months-64-64.svg`)
                            li.c-list__item
                                .c-list__link
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            .cmp-title.font-w-light-36.font-m-normal-16(data-cmp-data-layer="") Free Delivery
                                        .c-text-contents__bodycopy
                                            .cmp-text.font-w-normal-16.font-m-normal-12
                                                p Receive an extra 2% membership discount
                                            //- +linkButton({type:"text", color:"black", size:"medium", icon:true, name: "Terms & Condition"})
                                    +printLazyPicture(`../../assets/icon/Icon-mylg-delivery-64-64.svg`)
                            li.c-list__item
                                .c-list__link
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            .cmp-title.font-w-light-36.font-m-normal-16(data-cmp-data-layer="") Free Installation
                                        .c-text-contents__bodycopy
                                            .cmp-text.font-w-normal-16.font-m-normal-12
                                                p on all LG.com purchases (valid for select products only)
                                    +printLazyPicture(`../../assets/icon/icon-freeInstallation-64-64.svg`)
                    when "za"
                        ul.c-list.c-list--flex.c-list--no-link
                            li.c-list__item
                                .c-list__link
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            .cmp-title.font-w-light-36.font-m-normal-16(data-cmp-data-layer="") Exclusive event
                                        .c-text-contents__bodycopy
                                            .cmp-text.font-w-normal-16.font-m-normal-12
                                                p Enjoy various promotions on LG.com
                                    +printLazyPicture(`../../assets/icon/icon-exclusiveEvent-black-64-64.svg`)
                            li.c-list__item
                                .c-list__link
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            .cmp-title.font-w-light-36.font-m-normal-16(data-cmp-data-layer="") Exclusive Pricing
                                        .c-text-contents__bodycopy
                                            .cmp-text.font-w-normal-16.font-m-normal-12
                                                p Free delivery for all LG.com orders
                                            //- +linkButton({type:"text", color:"black", size:"medium", icon:true, name: "Terms & Condition"})
                                    +printLazyPicture(`../../assets/icon/icon-exclusive-64-64.svg`)
                            li.c-list__item
                                .c-list__link
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            .cmp-title.font-w-light-36.font-m-normal-16(data-cmp-data-layer="") Free Delivery
                                        .c-text-contents__bodycopy
                                            .cmp-text.font-w-normal-16.font-m-normal-12
                                                p On all orders purchased on LG.com
                                    +printLazyPicture(`../../assets/icon/Icon-mylg-delivery-64-64.svg`)
                    default
                        ul.c-list.c-list--flex
                            li.c-list__item
                                .c-list__link
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            .cmp-title.font-w-light-36.font-m-normal-16(data-cmp-data-layer="") Free Shipping
                                        .c-text-contents__bodycopy
                                            .cmp-text.font-w-normal-16.font-m-normal-12
                                                p Free, fast delivery straight to your door.
                                    +printLazyPicture(`../../assets/icon/Icon-mylg-delivery-64-64.svg`)
                            li.c-list__item
                                .c-list__link
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            .cmp-title.font-w-light-36.font-m-normal-16(data-cmp-data-layer="") Buy now, pay later
                                        .c-text-contents__bodycopy
                                            .cmp-text.font-w-normal-16.font-m-normal-12
                                                p Choose from 4 interest-free installments or 12-36 month financing with up to 0% APR.
                                            +linkButton({type:"text", color:"black", size:"medium", icon:true, name: "Terms & Condition"})
                                    +printLazyPicture(`../../assets/icon/icon-mylg-klarna-64-64.svg`)
                            li.c-list__item
                                .c-list__link
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            .cmp-title.font-w-light-36.font-m-normal-16(data-cmp-data-layer="") Dynamic Scheduling
                                        .c-text-contents__bodycopy
                                            .cmp-text.font-w-normal-16.font-m-normal-12
                                                p Schedule your delivery appointments during checkout.
                                    +printLazyPicture(`../../assets/icon/icon-buy-schedule-64-64.svg`)

mixin CT0102(option=false)
    .c-wrapper.CT0102
        .component
            .fluid-container
                // block : support
                // option
                if(option =='other')
                    +optionContentsBoxList('noneLinkType')
                else if(option =='ph')
                    +optionContentsBoxList('ph')
                else if(option =='za')
                    +optionContentsBoxList('za')
                else
                    +optionContentsBoxList()