@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.PD0007';
#{$component} {
  @include lgness-margin('if-headline');
  > .component > .cmp-container {
    max-width: rem($design-grid-full + ($block-margin-w * 2));
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: relative;
  }

  // block
  .c-region-header {
    @include inset-padding-hz;
  }
  .c-text-contents {
    &__subcopy {
      strong {
        font-weight: inherit;
      }
    }
  }
  .c-product-list__item {
    background: $white;
    height: auto;
  }

  // layout : margin
  .c-region-header + .c-product-list {
    margin-top: rem($margin12px);
    @include screen(web) {
      margin-top: rem($margin20px);
    }
  }

  // .c-text-contents + .c-text-contents {
  //     margin-top: rem($margin20px);
  //     @include screen(web) {
  //         margin-top: rem($margin40px);
  //     }
  // }
  // .cmp-tabs__inner {
  //     padding-top: rem($padding16px);
  //     @include screen(web) {
  //         padding-top: rem($padding24px);
  //     }
  // }
  // .cmp-tabs__tabpanel {
  //     margin-top: rem($margin20px);
  //     @include screen(web) {
  //         margin-top: rem($margin40px);
  //     }
  //     &:focus-visible {
  //         outline: none;
  //         .c-category-list {
  //             border-radius: rem($radius8);
  //             outline: rem($border2) solid currentcolor;
  //         }
  //         .c-carousel {
  //             border-radius: rem($radius8);
  //             outline: rem($border2) solid currentcolor;
  //             outline-offset: 0;
  //             .c-category-list {
  //                 outline: none;
  //             }
  //         }
  //     }
  // }

  // vendor
  .swiper {
    overflow-y: visible;
    position: static;
  }

  // theme
  &.bg-lightgray {
    .c-product-list__item {
      border: none;
    }
  }

  // Variation by number
  // 번들에만 처리하면 되는지 내일 확인 할 것
  // 일반 제품의 경우에는 가운데 정렬 되는지 확인 할 것
  .length-1,
  .length-2 {
    @include screen(web) {
      .c-product-list__item {
        min-width: calc(50% - rem(calc($gutter-w/2)));
        padding: rem($padding40px);
      }
      .c-product-item {
        position: relative;
        max-width: rem($max-width548px);
        margin: 0 auto;
        padding: 0 0 0 rem($width140px + $gutter-w);
        .c-product-item__top-container {
          width: 100%;
        }
        .c-product-item__visual-image {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
        .c-product-item__model-display-name {
          margin-top: 0;
        }
      }
    }
  }
  .length-3 {
    @include screen(custom, rem(columns(9, false) + ($gutter-w * 2))) {
      // 1122 (Applied according to JS)
      .swiper-wrapper {
        justify-content: center;
      }
      .c-product-list__item {
        min-width: calc(33.3333% - rem($padding16px));
        &:last-child {
          margin-right: 0 !important;
        }
      }
    }
  }
  .c-product-list--bundle {
    &.four-or-more,
    &.length-3 {
      .c-product-list__item .c-product-item__visual-image img {
        width: rem($max-width200px);
        height: rem($max-width200px);
        @include screen(web) {
          width: rem($max-width240px);
          height: rem($max-width240px);
        }
      }
    }
    .c-product-item__download {
      @include screen(web) {
        margin: rem(8px) 0;
      }
    }
  }
}
