mixin PD0001(option=false, country=false)
    if(option == 'FILTER' || option == 'PLP')
        - var className = (option == 'PLP') ? 'no-crop margin-bottom' : 'no-crop'
        .c-wrapper.PD0001.bg-default(class=className)
            .component.has-filter
                .cmp-container
                    .productlist.productcollection
                        .c-category__root
                            h2.sr-only 해당 컴포넌트 구조정보 마크업 제목 필요
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                +filter
                                +filterResult(8, 'type-three-seven', false, true, false, true)
    else if(option == 'NOFILTER' && country == false)
        .c-wrapper.PD0001.bg-default.no-crop
            .component.no-filter
                .cmp-container
                    .productlist.productcollection
                        .c-category__root
                            h2.sr-only 해당 컴포넌트 구조정보 마크업 제목 필요
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                +filterResult(11, 'type-four-nine')
    
    if(country =='DE')
        .c-wrapper.PD0001.bg-default.no-crop
            .component.no-filter
                .cmp-container
                    .productlist.productcollection
                        .c-category__root
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                +filterResult(1, 'type-four-nine', false, true, 'DE')
    if(country =='IT')
        .c-wrapper.PD0001.bg-default.no-crop
            .component.no-filter
                .cmp-container
                    .productlist.productcollection
                        .c-category__root
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                +filterResult(1, 'type-four-nine', false, true, 'IT')
    if(country =='VN')
        .c-wrapper.PD0001.bg-default.no-crop
            .component.no-filter
                .cmp-container
                    .productlist.productcollection
                        .c-category__root
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                +filterResult(1, 'type-four-nine', false, true, 'VN')   
    if(country =='AU')
        .c-wrapper.PD0001.bg-default.no-crop
            .component.no-filter
                .cmp-container
                    .productlist.productcollection
                        .c-category__root
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                +filterResult(1, 'type-four-nine', false, true, 'AU')
    if(country =='CL')
        .c-wrapper.PD0001.bg-default.no-crop
            .component.no-filter
                .cmp-container
                    .productlist.productcollection
                        .c-category__root
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                +filterResult(1, 'type-four-nine', false, true, 'CL')   
    if(country =='MX')
        .c-wrapper.PD0001.bg-default.no-crop
            .component.no-filter
                .cmp-container
                    .productlist.productcollection
                        .c-category__root
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                +filterResult(1, 'type-four-nine', false, true, 'MX')           
    if(country =='CA')
        .c-wrapper.PD0001.bg-default.no-crop
            .component.no-filter
                .cmp-container
                    .productlist.productcollection
                        .c-category__root
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                +filterResult(1, 'type-four-nine', false, true, 'CA')     
    if(country =='CA_FR')
        .c-wrapper.PD0001.bg-default.no-crop
            .component.no-filter
                .cmp-container
                    .productlist.productcollection
                        .c-category__root
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                +filterResult(1, 'type-four-nine', false, true, 'CA_FR')                    
    if(country =='BR')
        .c-wrapper.PD0001.bg-default.no-crop
            .component.no-filter
                .cmp-container
                    .productlist.productcollection
                        .c-category__root
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                +filterResult(1, 'type-four-nine', false, true, 'BR')       
    if(country =='CO')
        .c-wrapper.PD0001.bg-default.no-crop
            .component.no-filter
                .cmp-container
                    .productlist.productcollection
                        .c-category__root
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                +filterResult(1, 'type-four-nine', false, true, 'CO')       
    if(country =='SG')
        .c-wrapper.PD0001.bg-default.no-crop
            .component.no-filter
                .cmp-container
                    .productlist.productcollection
                        .c-category__root
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                +filterResult(1, 'type-four-nine', false, true, 'SG')       
    if(country =='SA')
        .c-wrapper.PD0001.bg-default.no-crop
            .component.no-filter
                .cmp-container
                    .productlist.productcollection
                        .c-category__root
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                +filterResult(1, 'type-four-nine', false, true, 'SA')     
    if(country =='SA_RTL')
        .c-wrapper.PD0001.bg-default.no-crop
            .component.no-filter
                .cmp-container
                    .productlist.productcollection
                        .c-category__root
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                +filterResult(1, 'type-four-nine', false, true, 'SA_RTL')       
    if(country =='TH')
        .c-wrapper.PD0001.bg-default.no-crop
            .component.no-filter
                .cmp-container
                    .productlist.productcollection
                        .c-category__root
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                +filterResult(1, 'type-four-nine', false, true, 'TH')       
    if(country =='KZ')
        .c-wrapper.PD0001.bg-default.no-crop
            .component.no-filter
                .cmp-container
                    .productlist.productcollection
                        .c-category__root
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                +filterResult(1, 'type-four-nine', false, true, 'KZ')       
    if(country =='ID')
        .c-wrapper.PD0001.bg-default.no-crop
            .component.no-filter
                .cmp-container
                    .productlist.productcollection
                        .c-category__root
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                +filterResult(1, 'type-four-nine', false, true, 'ID')                                                                                                                                       
    if(country =='CN')
        .c-wrapper.PD0001.bg-default.no-crop
            .component.no-filter
                .cmp-container
                    .productlist.productcollection
                        .c-category__root
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                +filterResult(1, 'type-four-nine', false, true, 'CN')     
    if(country =='HK')
        .c-wrapper.PD0001.bg-default.no-crop
            .component.no-filter
                .cmp-container
                    .productlist.productcollection
                        .c-category__root
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                +filterResult(1, 'type-four-nine', false, true, 'HK')   
    if(country =='HK_EN')
        .c-wrapper.PD0001.bg-default.no-crop
            .component.no-filter
                .cmp-container
                    .productlist.productcollection
                        .c-category__root
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                +filterResult(1, 'type-four-nine', false, true, 'HK_EN')                               
    if(country =='JP')
        .c-wrapper.PD0001.bg-default.no-crop
            .component.no-filter
                .cmp-container
                    .productlist.productcollection
                        .c-category__root
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                +filterResult(1, 'type-four-nine', false, true, 'JP')   
    if(country =='FR')
        .c-wrapper.PD0001.bg-default.no-crop
            .component.no-filter
                .cmp-container
                    .productlist.productcollection
                        .c-category__root
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                +filterResult(1, 'type-four-nine', false, true, 'FR') 
    if(country =='PT')
        .c-wrapper.PD0001.bg-default.no-crop
            .component.no-filter
                .cmp-container
                    .productlist.productcollection
                        .c-category__root
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                +filterResult(1, 'type-four-nine', false, true, 'PT') 
    if(country =='ES')
        .c-wrapper.PD0001.bg-default.no-crop
            .component.no-filter
                .cmp-container
                    .productlist.productcollection
                        .c-category__root
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                +filterResult(1, 'type-four-nine', false, true, 'ES') 
    if(country =='TR')
        .c-wrapper.PD0001.bg-default.no-crop
            .component.no-filter
                .cmp-container
                    .productlist.productcollection
                        .c-category__root
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                +filterResult(1, 'type-four-nine', false, true, 'TR')       
    if(country =='IN')
        .c-wrapper.PD0001.bg-default.no-crop
            .component.no-filter
                .cmp-container
                    .productlist.productcollection
                        .c-category__root
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                +filterResult(1, 'type-four-nine', false, true, 'IN')
    if(country =='PL')
        .c-wrapper.PD0001.bg-default.no-crop
            .component.no-filter
                .cmp-container
                    .productlist.productcollection
                        .c-category__root
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                +filterResult(1, 'type-four-nine', false, true, 'PL')     