@charset "UTF-8";
// module
@use '../../scss/abstract/' as *;

$component: '.ST0013';
#{$component} {
  > .component > .cmp-container {
    display: flex;
    flex-direction: column;
    @include container($design-grid-full, true);
    @include inset-padding-hz;
    @include screen(web) {
      flex-direction: row;
      align-items: center;
      gap: min(rem(columns(1, false)), columns(1, false) / $design-grid-full * 100%);
    }
    @at-root #{$component} {
      &.place-text-right {
        .cmp-container {
          flex-direction: column-reverse;
          @include screen(web) {
            flex-direction: row-reverse #{'/*!rtl:row*/'}; /*! RTL last keep colon */
          }
        }
      }
      &.place-text-left {
        .cmp-container {
          @include screen(web) {
            flex-direction: row #{'/*!rtl:row-reverse*/'}; /*! RTL last keep colon */
          }
        }
      }
      & .type-side-image2 {
        .cmp-container {
          align-items: flex-start;
          flex-direction: column-reverse;
          @include screen(web) {
            flex-direction: row;
          }
        }
      }
      &.place-text-right {
        .type-side-image2 {
          .cmp-container {
            @include screen(web) {
              flex-direction: row-reverse #{'/*!rtl:row*/'}; /*! RTL last keep colon */
            }
          }
        }
      }
      &.place-text-left {
        .type-side-image2 {
          .cmp-container {
            @include screen(web) {
              flex-direction: row #{'/*!rtl:row-reverse*/'}; /*! RTL last keep colon */
            }
          }
        }
      }
    }
  }
  // type-side-image
  & .type-side-image {
    // small image
    &.small {
      .c-media-contents {
        @include screen(web) {
          width: min(rem(columns(4)), columns(4) / $design-grid-full * 100%);
        }
      }
    }
    // standard image
    &.standard {
      .c-media-contents {
        @include screen(web) {
          width: min(rem(columns(5)), columns(5) / $design-grid-full * 100%);
        }
      }
    }
    // large image
    &.large {
      .c-media-contents {
        @include screen(web) {
          width: min(rem(columns(6)), columns(6) / $design-grid-full * 100%);
        }
      }
    }
  }
  // type-side-image2
  & .type-side-image2 {
    .c-list {
      row-gap: rem($margin10px);
      @include screen(web) {
        column-gap: min(rem($margin24px), $margin24px / columns(7) * 100%);
        width: min(rem(columns(7)), columns(7) / $design-grid-full * 100%);
      }
      li {
        width: 100%;
      }
    }
    // .c-text-contents__headline + .c-text-contents__bodycopy {
    //     @include screen(web) {
    //         margin-top: rem($margin8px);
    //     }
    // }
  }
  // block : list
  .c-list {
    @include reset-list-style;
    display: flex;
    flex-direction: column;
    @include screen(web) {
      flex-direction: row;
    }
  }
  // block : image
  .c-image {
    overflow: hidden;
    @include lgness-radius('default');
    .fit-content {
      display: block;
      aspect-ratio: 732 / 488;
      .cmp-image__image {
        width: fit-content;
        max-width: fit-content;
        height: fit-content;
        max-height: fit-content;
      }
    }
  }
  // block : media
  .c-media {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $z-index1;
    &__controls {
      padding-bottom: rem($padding20px);
      @include screen(web) {
        padding-bottom: rem($padding24px);
      }
    }
  }
  // block : text contents
  .c-text-contents {
    flex: 1;
    // layout : margin
    $text-contents: '.c-text-contents';
    @at-root #{$component} {
      #{$text-contents}__eyebrow + #{$text-contents}__headline {
        margin-top: rem($margin8px);
      }
      #{$text-contents}__headline + #{$text-contents}__bodycopy {
        margin-top: rem($margin8px);
      }
      * + .c-cta {
        margin-top: rem($margin12px);
        @include screen(web) {
          margin-top: rem($margin24px);
        }
      }
      &.place-text-left {
        & .type-side-image2 {
          #{$text-contents} {
            margin-top: rem($margin12px);
            @include screen(web) {
              margin-top: 0;
            }
          }
        }
      }
      &.place-text-right #{$text-contents} {
        margin-top: rem($margin12px);
        @include screen(web) {
          margin-top: 0;
        }
      }
    }
  }
  // block : media contents
  .c-media-contents {
    .c-text-contents {
      margin-top: 0;
      &__disclaimer {
        margin-top: rem($margin8px);
        @include screen(web) {
          margin-top: rem($margin16px);
        }
      }
    }
    // layout : margin
    $media-contents: '.c-media-contents';
    @at-root #{$component} {
      &.place-text-left {
        & .type-side-image {
          #{$media-contents} {
            margin-top: rem($margin20px);
            @include screen(web) {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}
