@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.ST0012';
#{$component} {
  > .component > .cmp-container {
    max-width: rem($design-grid-full + ($block-margin-w * 2));
    margin-left: auto;
    margin-right: auto;
    @include text-contents-inset;
  }
  &.width-wide {
    > .component > .cmp-container {
      max-width: rem($design-grid-full + ($block-margin-w * 2));
    }
  }
  &.width-narrow {
    > .component > .cmp-container {
      max-width: rem($text-box-width-md + ($block-margin-w * 2));
    }
  }

  // disclaimer area (table top and bottom)
  .c-text-contents {
    &__disclaimer {
      padding: rem($padding8px) 0;
      color: $mid-gray3;
      @include screen(web) {
        padding: rem($padding14px) 0;
      }
    }
  }

  // table
  .c-table {
    table {
      text-align: center;
    }
    img {
      display: inline-block;
      width: 100%;
      padding: rem($padding6px);
      max-width: rem($max-width80px + $padding6px * 2);
      @include lgness-radius('default');
      @include screen(web) {
        max-width: rem($max-width150px + $padding6px * 2);
      }
    }
  }
}
