@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.AL0020__modal';
#{$component} {
  background: $warm-gray;
  > .c-pop-msg__container {
    justify-content: flex-start;
    padding: rem(56px) rem($padding16px) 0;
    overflow-y: auto;
    background: $warm-gray;
    @include screen(mobile) {
      margin: 0;
    }
    @include screen(web) {
      align-items: center;
      padding-top: rem(128px);
    }
    .c-pop-msg__close--on-top {
      position: fixed;
      right: rem(20px);
      top: rem(20px);
      @include screen(web) {
        right: rem(60px);
        top: rem(60px);
      }
      .c-pop-msg__close-button {
        margin-left: auto;
        width: rem(20px);
        height: rem(20px);
        @include screen(web) {
          width: rem(36px);
          height: rem(36px);
        }
      }
    }
    .c-pop-msg__header {
      margin-bottom: 0;
      @include screen(web) {
        width: 100%;
        max-width: rem(1196px);
        text-align: left;
      }
      .cmp-title {
        line-height: rem(32px);
        @include screen(web) {
          line-height: rem(60px);
          margin-bottom: 0;
        }
      }
      .cmp-title-description {
        margin-top: rem($margin8px);
        font-size: rem(16px);
        line-height: rem(18px);
        font-weight: $font-regular;
        @include screen(web) {
          font-size: rem(24px);
          line-height: rem(28px);
        }
      }
    }
    .c-pop-msg__contents {
      &--box {
        margin: 0 auto;
        height: 100%;
        max-width: rem(1196px);
      }
    }
    .c-pop-msg-contents-wrap {
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      &__introduce {
        // padding-top: $padding20px;
        display: flex;
        flex-direction: column;
        margin-top: rem(16px);
        background: $white;
        @include lgness-radius('default');
        overflow: hidden;
        @include screen(web) {
          margin-top: rem(24px);
          flex-direction: row;
          justify-content: space-between;
          gap: rem(40px);
        }
        &--img {
          padding: 0 rem(9px);
          @include screen(web) {
            padding: 0;
            width: 53%;
            max-width: rem(558px);
          }
          img {
            width: 100%;
          }
        }
        &--pr {
          padding: rem($padding20px);
          @include screen(web) {
            padding: 0 rem(40px);
            display: flex;
            align-items: center;
            margin: 0;
            max-width: rem(598px);
            width: 50%;
          }
          p {
            color: $dark-gray3;
            font-size: rem(24px);
            line-height: rem(28px);
            font-weight: $font-light;
            @include screen(web) {
              font-size: rem(36px);
              line-height: rem(42px);
            }
          }
        }
      }
      &__qna {
        padding-bottom: rem(43px);
        margin-top: rem($margin16px);
        @include screen(web) {
          margin-top: rem($margin48px);
        }
        .c-text-contents {
          margin-bottom: 0;
          &__bodycopy {
            margin-bottom: 0;
            &:last-child p {
              margin-bottom: 0;
            }
          }
        }
        &--q {
          font-size: rem(16px);
          font-weight: $font-regular;
          line-height: rem(20px);
          margin-bottom: rem($margin8px);
          @include screen(web) {
            font-size: rem(24px);
            line-height: rem(28px);
          }
        }
        &--a {
          color: $mid-gray3;
          margin-bottom: rem(20px);
          font-size: rem(16px);
          font-weight: $font-regular;
          line-height: rem(20px);
          @include screen(web) {
            font-size: rem(24px);
            line-height: rem(28px);
            margin-bottom: rem($margin40px);
          }
        }
      }
    }
  }
}
