@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.ST0044';
#{$component} {
  @include lgness-margin('if-headline');
  > .component > .cmp-container {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
    position: relative;
  }
  // variable
  $region-header: '.c-region-header';
  $text-contents: '.c-text-contents';
  // block - region header
  .c-region-header {
    margin-bottom: rem($margin12px);
    @include screen(web) {
      margin-bottom: rem($margin20px);
    }
    .c-text-contents {
      // padding value from carousel handler width
      padding-right: rem($width90px);
      @include screen(web) {
        padding-right: rem($width200px);
      }
    }
  }
  // block : cta
  * + .c-cta {
    margin-top: rem($margin12px);
    @include screen(web) {
      margin-top: rem($margin24px);
    }
  }
  // block : image
  .c-image {
    overflow: hidden;
    // border-radius: rem($radius8);
    @include lgness-radius('default');
    img {
      min-height: 1px;
    }
  }
  // block : floating contents
  .c-floating-contents {
    &__floating {
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
      padding: rem($padding24px);
      @include screen(web) {
        padding: rem($padding32px);
      }
    }
  }
  // block : carousel
  .c-carousel {
    margin-left: rem(-$block-margin-m);
    margin-right: rem(-$block-margin-m);
    @include inset-padding-hz;
    @include screen(web) {
      margin-left: rem(-$block-margin-w);
      margin-right: rem(-$block-margin-w);
    }
    .swiper {
      &-wrapper {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        align-items: stretch;
        @include screen(web) {
          justify-content: center;
          gap: rem($gutter-w);
        }
      }
      &-slide {
        display: flex;
        flex-direction: column;
        @include screen(web) {
          max-width: rem(columns(4, false));
          flex: 1;
        }
      }
    }
    &.swiper-initialized {
      .swiper-wrapper {
        justify-content: flex-start;
        @include screen(web) {
          gap: 0;
        }
      }
      .swiper-slide {
        height: auto;
        max-width: 100%;
        @include screen(web) {
          flex: none;
        }
      }
    }
  }
  // vendor
  .swiper {
    overflow-y: visible;
    position: static;
  }
}
