@charset "UTF-8";
// module
@use '../../scss/abstract/' as *;
.component > .fluid-container {
  @include container($maximum, true);
}

$component: '.CT000D';
#{$component} {
  .c-button[class*='-box'].disabled:not(.c-button[class*='-box'][class*='-box-outlined']) {
    color: $grayb;
    background-color: $gray9;
  }
  .font-w-semibold-30 {
    @include screen(web) {
      font-size: rem(30px);
      line-height: rem(34px);
      font-weight: $font-semibold;
    }
  }
  .my-component {
    $mycomponent: '.my-component';
    @include container($design-grid-full, true);
    @include inset-padding-hz;

    $mycomponent: '.my-component';
    position: relative;
    @include screen(mobile) {
      padding: 0;
    }
    &.no-crop {
      overflow: initial;
    }
    &.margin-top {
      padding-top: rem($padding20px);
      @include screen(web) {
        padding-top: rem($padding50px);
      }
    }
    &.margin-bottom {
      padding-bottom: rem($padding12px);
      @include screen(web) {
        padding-bottom: rem($padding50px);
      }
    }
    &.margin-bottom--pc70-mo30 {
      padding-bottom: rem($padding30px);
      @include screen(web) {
        padding-bottom: rem($padding70px);
      }
    }
    &.margin-top--pc50-mo20 {
      padding-top: rem($padding20px);
      @include screen(web) {
        padding-top: rem($padding50px);
      }
    }
    &.bg-lightgray {
      @include container($maximum, true);
      background: $ivory6;
    }
    &__sticky {
      @include screen(mobile) {
        height: rem(196px);
      }
    }
    &--momax {
      overflow: hidden;
      @include screen(mobile) {
        padding-left: 0;
        padding-right: 0;
        .my-list {
          padding: 0 rem($padding25px);
          &box {
            overflow: initial;
          }
        }
      }
    }
    &--buy {
      position: unset;
      @include screen(web) {
        display: flex;
        justify-content: space-between;
        @include flex-context;
        gap: 0 10%;
        padding-bottom: rem($padding50px);
      }
      &-order {
        gap: rem(76px);
        @include screen(mobile) {
          margin-bottom: rem($margin30px);
        }
      }
    }
    .buy-summary-area {
      &__primary {
        padding: rem($padding20px) 0 rem($padding40px);
        @include screen(web) {
          width: 100%;
          padding: 0;
        }
        @include screen(mobile) {
          padding-top: 0;
          padding-bottom: 0;
          &--padding {
            padding: 0 rem($padding20px);
          }
        }
        & + .buy-summary-area__secondary {
          margin-top: rem($margin24px);
          @include screen(web) {
            margin-top: 0;
          }
        }
      }
      &__primary > .c-cta {
        margin-top: rem($margin20px);
        display: block;
        text-align: center;
      }
      &__secondary {
        padding: 0 rem($padding25px);
        @include screen(web) {
          width: 100%;
          max-width: rem(464px);
          padding: 0;
          .cash-back {
            &__txt {
              .c-button {
                &__text {
                  font-size: rem(18px);
                }
              }
            }
          }
        }
        &--guest {
          @include screen(mobile) {
            margin-top: rem($margin40px);
          }
        }
      }
      &__payment {
        @include screen(mobile) {
          padding: 0 rem($padding25px);
          &--guest {
            padding: 0;
          }
          margin-top: rem($margin6px);
        }
        @include screen(web) {
          position: sticky;
          left: 0;
          top: rem(24px);
        }
      }
    }
  }
  .text + .buy-summary-area__payment {
    .c-product-price-sticky {
      margin-top: rem($margin20px);
    }
  }
  .cash-back {
    display: none;
    @include screen(web) {
      display: flex;
    }
  }
  .c-checkout-thank {
    padding-top: rem($padding100px);
    padding-bottom: rem($padding100px);
    @include screen(mobile) {
      padding: rem($padding40px) 0;
    }
    .c-text-contents {
      &__headline {
        margin-bottom: rem($margin10px);
        @include screen(web) {
          margin-bottom: rem($margin16px);
        }
      }
    }
    .c-button {
      font-size: rem(16px);
      @include screen(web) {
        font-size: rem(20px);
      }
    }
    &--feedback {
      background-color: $ivory6;
      padding-top: rem($padding40px);
      padding-bottom: rem($padding40px);
      @include screen(web) {
        @include lgness-radius('default');
      }
      @include screen(mobile) {
        padding-left: rem($padding20px);
        padding-right: rem($padding20px);
      }
      &--hidden {
        display: none;
      }
      .c-text-contents {
        &__bodycopy {
          margin-top: rem($margin6px);
          padding: 0 rem($padding44px);
          @include screen(web) {
            padding: 0;
          }
        }
      }
    }
  }
  .c-checkout-orderd {
    margin-top: rem($margin6px);
    padding: rem($padding20px);
    border: rem($border1) solid $grayd;
    @include lgness-radius('default');
    @include screen(web) {
      margin-top: rem($margin20px);
      padding: rem($padding40px);
    }
    &-delivery {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
      }
      &__item {
        padding: rem($padding20px) 0;
        &:first-child {
          padding-top: 0;
        }
        &:nth-child(n + 2) {
          border-top: rem($border1) solid $graye;
        }
      }
    }
    &-list {
      padding: 0;
      display: flex;
      gap: 0 rem(10px);
      margin-top: rem($margin8px);
      @include screen(web) {
        margin-top: rem($margin10px);
      }
    }
    &-headline {
      display: flex;
      gap: 0 rem(10px);
      @include screen(mobile) {
        display: block;
      }
    }
    &-head {
      padding-left: rem($padding34px);
      background-image: url($icon-delivered-16-16);
      background-repeat: no-repeat;
      background-size: rem(24px);
      background-position: 0 0;
      font-size: rem(14px);
      line-height: rem(20px);
      @include screen(web) {
        margin-bottom: rem($margin10px);
        font-size: rem(16px);
        line-height: rem(22px);
      }
      &__time {
        margin-left: rem($margin4px);
        padding-left: rem($padding14px);
        background-image: url($icon-clack-black-12-12);
        background-repeat: no-repeat;
        background-position: 0 center;
        font-weight: $font-semibold;
      }
      &__date {
        font-weight: $font-semibold;
      }
      &__text {
        color: $red;
      }
    }
    &-buttons {
      padding: 0 rem($padding25px);
      margin-top: rem($margin20px);
      .c-button {
        @include screen(web) {
          width: inherit;
        }
      }
      @include screen(web) {
        width: inherit;
        padding: 0 rem($padding40px);
      }
    }
    &__product {
      display: flex;
      gap: rem(10px);
      margin-top: rem($margin4px);
      align-items: center;
      &__image-box {
        min-width: rem($width64px);
        min-height: rem($height64px);
        max-width: rem($width64px);
        max-height: rem($height64px);
      }
      &__title {
        font-size: rem(12px);
        line-height: rem(16px);
        @include screen(web) {
          line-height: rem(20px);
        }
      }
      &__text-box {
        &__desc {
          margin-top: rem($margin5px);
          display: flex;
          justify-content: space-between;
          align-items: center;
          @include screen(web) {
            justify-content: flex-start;
            gap: rem(10px);
            margin-top: rem($margin2px);
          }
          &-qty {
            font-size: rem(12px);
            line-height: rem(14px);
          }
          &-price {
            font-size: rem(12px);
            font-weight: $font-semibold;
            @include screen(web) {
              line-height: rem(24px);
            }
          }
        }
      }
    }
    &__item--delivery {
      padding-bottom: rem($padding14px);
      &-info {
        &__title {
          padding-left: rem($padding20px);
          position: relative;
          &::before {
            content: '';
            display: inline-block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: rem(16px);
            height: rem(16px);
            background: url($icon-delivered-16-16) center / contain no-repeat;
          }
        }
        &__date {
          font-size: rem(12px);
          line-height: rem(20px);
          @include screen(web) {
            font-size: rem(14px);
          }
        }
        &__info {
          font-size: rem(12px);
          line-height: rem(16px);
          color: $gray3;
        }
      }
    }
    &--confirm {
      padding: rem($padding10px);

      $orderConfirm: '.c-checkout-orderd';
      $orderConfirmItem: '.c-checkout-orderd__item';
      @include screen(web) {
        padding: rem($padding20px);
      }
      & > #{$orderConfirmItem} + #{$orderConfirmItem} {
        padding-top: rem($padding14px);
        border-top: rem($border1) solid $graye;
      }
      #{$orderConfirm}__sub-title + #{$orderConfirm}__container {
        margin-top: rem($margin14px);
      }
      #{$orderConfirm}__item--coupon {
        #{$orderConfirm}__container {
          display: flex;
          align-items: center;
          gap: rem(20px);
          padding-bottom: rem($padding14px);
        }
      }
      #{$orderConfirm}__item--address {
        #{$orderConfirm}__container {
          display: flex;
          justify-content: space-between;
          flex-flow: column;
          gap: rem(14px);
          margin-top: rem($margin8px);
          @include screen(web) {
            gap: rem(40px);
            flex-flow: row;
            margin-top: rem($margin10px);
          }
        }
      }
      #{$orderConfirm}__item--delivery {
        &#{$orderConfirm}__item {
          border-top: 0;
        }
        #{$orderConfirm}__container {
          display: flex;
          align-items: center;
          gap: rem(20px);
          @include screen(mobile) {
            flex-flow: column-reverse;
            align-items: flex-start;
            gap: rem(8px);
          }
          .c-checkout-orderd__product__title {
            @include screen(mobile) {
              display: none;
            }
          }
        }
      }
      #{$orderConfirm}__item--delivery + #{$orderConfirm}__item--delivery {
        padding-top: 0;
      }
      #{$orderConfirm}__item--payment {
        #{$orderConfirm}__container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: rem($margin4px);
          @include screen(web) {
            margin-top: rem($margin24px);
          }
          gap: rem(6px);
        }
      }
      #{$orderConfirm}-coupon {
        width: 100%;
        &__title {
          font-size: rem(16px);
          line-height: rem(22px);
          font-weight: $font-semibold;
        }
        &__info {
          display: flex;
          justify-content: space-between;
          margin-top: rem($margin8px);
          @include screen(web) {
            margin-top: rem($margin10px);
            justify-content: flex-start;
            gap: rem(10px);
          }
          &-coupon {
            font-size: rem(14px);
            line-height: rem(12px);
          }
          &-price {
            font-size: rem(14px);
            line-height: rem(12px);
          }
        }
      }
      #{$orderConfirm}__address-item {
        width: calc(50% - rem(20px));
        @include screen(mobile) {
          width: 100%;
        }
        &__plag-box {
          display: flex;
        }
        &__plag {
          padding: rem($padding6px) rem($padding8px);
          border-radius: rem($radius4);
          max-width: fit-content;
          background-color: $gray3;
          .c-text-contents {
            .c-text-contents__bodycopy {
              span {
                display: block;
                color: $white;
                font-size: rem(10px);
                line-height: rem(10px);
                font-weight: $font-bold;
              }
            }
          }
          & + .c-checkout-orderd__address-item__plag {
            margin-left: rem($margin2px);
          }
        }
        &__addr-box {
          margin-top: rem($margin3px);
          @include screen(web) {
            margin-top: rem($margin2px);
          }
          .c-text-contents {
            .c-text-contents__bodycopy {
              span {
                display: block;
              }
              span + span {
                margin-top: rem($margin4px);
              }
            }
          }
        }
      }
      #{$orderConfirm}__payment {
        &__image-box {
          width: rem(25px);
          height: rem(16px);
          background: url($icon-mylg-visa-31-23) center / contain no-repeat;
          @include screen(web) {
            width: rem(40px);
            height: rem(24px);
          }
        }
        &__text-box {
          display: flex;
          width: calc(100% - rem(25px));
          justify-content: space-between;
          align-items: center;
          @include screen(web) {
            width: calc(100% - rem(40px));
            justify-content: flex-start;
            gap: rem(20px);
          }
        }
        &__card-info {
          display: flex;
          align-items: center;
          &__type,
          &__num {
            @include screen(web) {
              font-size: rem(14px);
              color: $gray3;
            }
          }
          &__period {
            span {
              @include screen(web) {
                font-size: rem(14px);
              }
            }
          }
        }
      }
    }
  }
  .buy-summary-area__secondary__title {
    font-size: rem(20px);
    line-height: rem(28px);
    @include screen(web) {
      font-size: rem(30px);
      line-height: rem(28px);
    }
  }
  .buy-summary-area__primary .button__orderd-confirm__details {
    margin-top: rem($margin20px);
    display: none !important;
    @include screen(web) {
      display: flex !important;
      justify-content: center;
    }
  }
  .buy-summary-area__secondary .button__orderd-confirm__details {
    justify-content: center;
    margin-top: rem($margin20px);
    @include screen(web) {
      display: none;
    }
  }
  .orderd-confirm-summery {
    border: rem($border1) solid $graye6;
    @include lgness-radius('default');
    padding: rem($padding10px);
    padding-bottom: rem($padding14px);
    margin-top: rem($margin6px);
    display: flex;
    flex-direction: column;
    @include screen(web) {
      padding: rem($padding30px) rem($padding24px) rem($padding24px);
      margin-top: rem($margin20px);
    }
    &__total {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__list {
      @include reset-list-style;
      margin-top: rem($margin14px);
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: rem(22px);
      }
      li + li {
        @include screen(web) {
          margin-top: rem($margin6px);
        }
      }
      .desc {
        color: $gray6;
      }
    }
  }
  .my-signIn__text {
    background-color: #fafafa;
    padding: rem($padding20px) 0 rem($padding20px);
    @include screen(web) {
      padding: rem($padding20px) 0 rem($padding30px);
    }
  }
  .my-order__container {
    margin-top: rem($margin20px);
    @include screen(web) {
      margin-top: rem($margin40px);
    }
    .my-resources__icon {
      width: rem(40px);
      height: rem(40px);
    }
  }
  // price info
  .c-price-info {
    $c-price-info: '.c-price-info';
    display: flex;
    justify-content: space-between;
    align-items: center;
    & + .c-price-info {
      @include screen(web) {
        margin-top: rem($margin10px);
      }
    }
    &__title {
      display: flex;
      column-gap: rem($margin6px);
      font-weight: $font-semibold;
      font-size: rem(14px);
      @include screen(web) {
        font-size: rem(18px);
      }
    }
    &.sub-tree {
      .c-price-info__title {
        position: relative;
        display: flex;
        &:before {
          content: '';
          width: rem($width10px);
          height: rem($height10px);
          border-style: solid;
          margin: rem(0 $margin4px 0 $margin10px);
          border: {
            style: solid;
            color: $black;
            width: rem(0 0 $border1 $border1);
          }
        }
      }
    }
    &.dimmed {
      opacity: 0.5;
    }
    &.font-red {
      a {
        color: inherit;
        text-decoration: underline;
      }
    }
    &-point {
      font-size: rem(12px);
      line-height: rem(12px);
      margin-top: rem($margin6px);
    }
    &-detail {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $gray6;
      font-weight: $font-semibold;
      @include screen(web) {
        font-weight: $font-regular;
      }
      &__name {
        position: relative;
        padding-left: rem($padding16px);
        font-size: rem(12px);
        @include screen(web) {
          font-size: rem(14px);
        }
        &::before {
          position: absolute;
          left: rem(4px);
          top: 50%;
          transform: translateY(-50%);
          content: '';
          display: block;
          border-bottom: rem($border1) solid $gray6;
          border-left: rem($border1) solid $gray6;
          width: rem(8px);
          height: rem(6px);
        }
      }
      &__price {
        font-weight: $font-regular;
        font-size: rem(12px);
        @include screen(web) {
          font-size: rem(14px);
        }
      }
      & + .c-price-info {
        @include screen(web) {
          margin-top: rem($margin10px);
        }
      }
    }
    &.EarnedPoint {
      margin-top: rem($margin8px);
      border-top: rem($border1) solid $graye6;
      padding-top: rem($padding6px);
      line-height: rem(22px);
    }
  }
  .buy-klarna-banner {
    background-color: #020202;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: rem($padding28px) 0 0 0;
    @include lgness-radius('default');
    @include screen(mobile) {
      align-items: center;
      padding: rem($padding20px) rem($padding28px);
      padding-right: rem($padding40px);
    }
    &__container {
      padding: 0 rem($padding25px);
      @include screen(web) {
        padding: 0;
      }
    }
    &__closebtn {
      position: absolute;
      top: rem(20px);
      right: rem(20px);
      border: none;
      cursor: pointer;
      width: rem(20px);
      height: rem(20px);
      background: url($icon-close-white-12-12) center / contain no-repeat;
      @include screen(mobile) {
        top: rem(16px);
        right: rem(16px);
        width: rem(12px);
        height: rem(12px);
      }
    }
    .image {
      @include screen(mobile) {
        min-width: rem(60px);
      }
    }
    .c-text-contents {
      margin-left: rem($margin20px);
      @include screen(web) {
        margin-left: rem($margin40px);
        margin-bottom: rem($margin30px);
      }
      &__title {
        margin-bottom: rem($margin6px);
      }
    }
  }
  .buy-product-carousel {
    & + .my-component {
      &.margin-top {
        @include screen(mobile) {
          padding-top: rem($padding30px);
        }
      }
    }
    .component {
      padding: rem($padding30px) 0;
      @include screen(web) {
        padding: rem($padding60px) 0;
      }
    }
    .c-product-list {
      max-width: rem(1440px);
      margin: 0 auto;
      margin-top: rem($margin20px);
      @include screen(web) {
        margin-top: rem($margin40px);
      }
      .c-text-contents__headline {
        .cmp-text {
          font-size: rem(16px);
          line-height: rem(22px);
          font-weight: $font-regular;
        }
      }
      .price-area {
        margin-top: rem($margin12px);
        .c-price__purchase {
          font-size: rem(20px);
          line-height: rem(28px);
        }
      }
      .cmp-button {
        width: 100%;
      }
    }
    .cmp-carousel__item {
      background-color: $white;
    }
  }
  .buy-feed-back {
    background-color: $ivory6;
    padding: rem($padding40px) rem($padding25px) rem($padding24px);

    $buyfeedback: '.buy-feed-back';
    @include screen(web) {
      padding-bottom: rem($padding46px);
      padding-left: 0;
      padding-right: 0;
      @include lgness-radius('default');
    }
    &__list {
      @include reset-list-style;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: rem(254px);
      margin: rem($margin26px) auto 0 auto;
      @include screen(web) {
        margin: rem($margin26px) auto 0 auto;
        max-width: rem(700px);
      }
    }
    .c-text-contents__bodycopy {
      margin-top: rem($margin6px);
      padding: 0 rem($padding60px);
    }
    &__iconbox {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      position: relative;
      label {
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      span {
        font-weight: $font-regular;
        line-height: rem(14px);
      }
    }
    &__input:hover + .buy-feed-back__iconbox {
      #{$buyfeedback}__icon {
        filter: none;
        &--terrible {
          background: url($icon-feedback-terrible-64-64) center / rem(32px) rem(32px) no-repeat;
          @include screen(web) {
            background: url($icon-feedback-terrible-64-64) center / rem(64px) rem(64px) no-repeat;
          }
        }
        &--bad {
          background: url($icon-feedback-bad-64-64) center / rem(32px) rem(32px) no-repeat;
          @include screen(web) {
            background: url($icon-feedback-bad-64-64) center / rem(64px) rem(64px) no-repeat;
          }
        }
        &--okay {
          background: url($icon-feedback-okay-64-64) center / rem(32px) rem(32px) no-repeat;
          @include screen(web) {
            background: url($icon-feedback-okay-64-64) center / rem(64px) rem(64px) no-repeat;
          }
        }
        &--good {
          background: url($icon-feedback-good-64-64) center / rem(32px) rem(32px) no-repeat;
          @include screen(web) {
            background: url($icon-feedback-good-64-64) center / rem(64px) rem(64px) no-repeat;
          }
        }
        &--great {
          background: url($icon-feedback-great-64-64) center / rem(32px) rem(32px) no-repeat;
          @include screen(web) {
            background: url($icon-feedback-great-64-64) center / rem(64px) rem(64px) no-repeat;
          }
        }
      }
    }
    &__input:checked + .buy-feed-back__iconbox {
      #{$buyfeedback}__icon {
        border: rem($border2) solid $orange;
        border-radius: 50%;
        filter: none;
        &--terrible {
          background: url($icon-feedback-terrible-64-64) center / rem(32px) rem(32px) no-repeat;
          @include screen(web) {
            background: url($icon-feedback-terrible-64-64) center / rem(64px) rem(64px) no-repeat;
          }
        }
        &--bad {
          background: url($icon-feedback-bad-64-64) center / rem(32px) rem(32px) no-repeat;
          @include screen(web) {
            background: url($icon-feedback-bad-64-64) center / rem(64px) rem(64px) no-repeat;
          }
        }
        &--okay {
          background: url($icon-feedback-okay-64-64) center / rem(32px) rem(32px) no-repeat;
          @include screen(web) {
            background: url($icon-feedback-okay-64-64) center / rem(64px) rem(64px) no-repeat;
          }
        }
        &--good {
          background: url($icon-feedback-good-64-64) center / rem(32px) rem(32px) no-repeat;
          @include screen(web) {
            background: url($icon-feedback-good-64-64) center / rem(64px) rem(64px) no-repeat;
          }
        }
        &--great {
          background: url($icon-feedback-great-64-64) center / rem(32px) rem(32px) no-repeat;
          @include screen(web) {
            background: url($icon-feedback-great-64-64) center / rem(64px) rem(64px) no-repeat;
          }
        }
      }
    }
    &__icon {
      width: rem(42px);
      height: rem(42px);
      margin-bottom: rem($margin11px);
      @include screen(web) {
        width: rem(76px);
        height: rem(76px);
        margin-bottom: rem($margin22px);
      }
      &--terrible {
        background: url($icon-feedback-terrible-unactive-64-64) center / rem(32px) rem(32px) no-repeat;
        @include screen(web) {
          background: url($icon-feedback-terrible-unactive-64-64) center / rem(64px) rem(64px) no-repeat;
        }
      }
      &--bad {
        background: url($icon-feedback-bad-unactive-64-64) center / rem(32px) rem(32px) no-repeat;
        @include screen(web) {
          background: url($icon-feedback-bad-unactive-64-64) center / rem(64px) rem(64px) no-repeat;
        }
      }
      &--okay {
        background: url($icon-feedback-okay-unactive-64-64) center / rem(32px) rem(32px) no-repeat;
        @include screen(web) {
          background: url($icon-feedback-okay-unactive-64-64) center / rem(64px) rem(64px) no-repeat;
        }
      }
      &--good {
        background: url($icon-feedback-good-unactive-64-64) center / rem(32px) rem(32px) no-repeat;
        @include screen(web) {
          background: url($icon-feedback-good-unactive-64-64) center / rem(64px) rem(64px) no-repeat;
        }
      }
      &--great {
        background: url($icon-feedback-great-unactive-64-64) center / rem(32px) rem(32px) no-repeat;
        @include screen(web) {
          background: url($icon-feedback-great-unactive-64-64) center / rem(64px) rem(64px) no-repeat;
        }
      }
    }
    & + .c-checkout-thank--feedback {
      margin-top: rem($margin12px);
      @include screen(web) {
        margin-top: rem($margin40px);
      }
    }
  }
}
