@charset "UTF-8";
// module
@use '../../scss/abstract/' as *;

$component: '.CT0402';
#{$component} {
  // element
  > .component > .fluid-container {
    @include container($maximum, true);
  }
  > .component {
    border-bottom: rem($border1) solid $mid-gray1;
  }

  // block
  .my-component {
    @include container($design-grid-full, true);
    padding: 0;
    position: relative;
    @include screen(web) {
      @include inset-padding-hz;
    }
  }
  .guest-login-banner {
    padding: rem($padding24px) rem($padding16px);
    max-width: rem(1440px);
    margin: 0 auto;
    @include screen(web) {
      padding: rem($padding24px) 0;
    }
    .c-text-contents {
      &__headline {
        margin-bottom: rem($margin8px);
        .cmp-title__text {
          font-size: rem(28px);
          line-height: rem(32px);
          font-weight: $font-light;
          @include screen(web) {
            font-size: rem(56px);
            line-height: rem(60px);
          }
        }
      }
      &__bodycopy {
        p {
          color: $gray3;
          a {
            color: $black;
            text-decoration: underline;
          }
        }
      }
      .button {
        margin-top: rem($margin16px);
        @include screen(web) {
          margin-top: rem($margin24px);
        }
        .cmp-button {
          width: 100%;
          @include screen(web) {
            width: auto;
          }
        }
      }
    }
  }
}
