mixin guestLoginBanner(params)
    - let data = {...params}
        .guest-login-banner
            .c-text-contents
                .title.c-text-contents__headline
                    +headline("font-w-light-36 font-m-light-28", "h3", "Are you a member?")
                .text.c-text-contents__bodycopy
                    p.cmp-text.font-w-normal-24.font-m-normal-16 Sign in to access exclusive offers and benefits, or sign up 
                        a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="") here
                        |  now.
                .button.c-cta
                    +defaultButton({name: "Sign In", wSize: 'large', mSize: 'medium', buttonStyle: 'default', isButton: true})

mixin CT0402
    .c-wrapper.CT0402
        .component
            .fluid-container
                +guestLoginBanner