@charset "UTF-8";
// module
@use '../../scss/abstract/' as *;
.component > .fluid-container {
  @include container($maximum, true);
}

$component: '.CT0401';
#{$component} {
  .font-w-semibold-30 {
    @include screen(web) {
      font-size: rem(30px);
      line-height: rem(34px);
      font-weight: $font-semibold;
    }
  }
  .my-component {
    @include container($design-grid-full, true);
    position: unset;
    padding: 0;
    padding-top: rem($padding20px);
    padding-bottom: rem($padding24px);
    @include screen(web) {
      @include inset-padding-hz;
      @include flex-context;
      padding-top: rem($padding24px);
      padding-bottom: rem($padding48px);
      display: flex;
      justify-content: space-between;
      gap: rem(24px);
    }
    .buy-summary-area {
      &__primary {
        padding: 0 rem($padding16px);
        @include screen(web) {
          width: 100%;
          padding: 0;
        }
        & + .buy-summary-area__secondary {
          margin-top: rem($margin20px);
          @include screen(web) {
            margin-top: 0;
          }
        }
        &__title {
          @include screen(web) {
            color: #121212;
          }
        }
        .button__ordered-confirm__details {
          margin-top: rem($margin30px);
          display: none;
          @include screen(web) {
            display: flex;
            justify-content: center;
          }
        }
      }
      &__secondary {
        padding: 0 rem($padding16px);
        @include screen(web) {
          width: 100%;
          max-width: rem(464px);
          padding: 0;
        }
        &__title {
          font-size: rem(20px);
          line-height: rem(24px);
          @include screen(web) {
            color: #121212;
            font-size: rem(30px);
            line-height: rem(28px);
          }
        }
        .button__ordered-confirm__details {
          justify-content: center;
          margin-top: rem($margin16px);
          @include screen(mobile) {
            .c-button {
              width: 100%;
            }
          }
          @include screen(web) {
            display: none;
          }
        }
        .cart-price-total {
          margin-top: rem($margin12px);
          @include screen(web) {
            margin-top: rem($margin20px);
          }
          .c-product-price-information {
            @include lgness-radius('default');
            padding: rem($padding20px) rem($padding16px);
            @include screen(web) {
              padding: rem($padding24px);
            }
            @include screen(mobile) {
              box-shadow: none;
            }
          }
          .c-product-price-sticky .c-product-pay-cta.button {
            margin-top: rem($margin12px);
          }
        }
        .c-price-box__item {
          border-color: $mid-gray1;
        }
        .c-product-price-information.active {
          .c-price-info {
            &:first-child {
              margin-top: 0;
            }
            margin-top: rem($margin12px);
            &-detail {
              margin-top: 0;
            }
            & + .c-price-info-detail {
              margin-top: rem($margin4px);
            }
          }
        }
        .cart-price-total .c-product-price--expand-bottom {
          padding: 0 rem($padding16px) rem($padding24px);
          .c-product-price-information.active {
            background-color: $white;
            padding: 0 rem($padding16px) rem($padding20px);
            @include lgness-radius('default');
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            .c-price-box__item {
              border-color: $light-gray3;
            }
            .c-product-price-information__inner {
              border-color: $mid-gray1;
            }
            .c-price-info {
              &:first-child {
                margin-top: 0;
              }
              margin-top: rem($margin12px);
              &-detail {
                margin-top: 0;
              }
              & + .c-price-info-detail {
                margin-top: rem($margin4px);
              }
            }
          }
        }
        // 2024-04-11 ADD - RAC Product Case Add
        .c-RACbanner {
          margin-top: rem($margin24px);
          &__inner {
            border-radius: rem($radius28);
            background: $white;
            overflow: hidden;
          }
          &__cont {
            padding: rem($padding30px) rem($padding16px) rem($padding20px);
            @include screen(web) {
              padding: rem($padding24px);
            }
          }
          &__title {
            .c-text-contents__bodycopy {
              color: $black;
            }
          }
          &__desc {
            margin-top: rem($margin8px);
            .c-text-contents__bodycopy {
              color: $black;
            }
          }
          &__price {
            margin-top: rem($margin16px);
            @include screen(web) {
              margin-top: rem($margin24px);
            }
            &__prev-area {
              .c-text-contents__bodycopy {
                color: $mid-gray2;
                .cmp-text {
                  line-height: rem(12px);
                  @include screen(web) {
                    line-height: rem(16px);
                  }
                }
              }
            }
            &__purchase-area {
              margin-top: rem($margin4px);
              .c-text-contents__bodycopy {
                color: $black;
                .cmp-text {
                  line-height: rem(28px);
                  @include screen(web) {
                    line-height: rem(32px);
                  }
                }
              }
            }
          }
          &__button {
            margin-top: rem($margin16px);
            .c-button {
              width: 100%;
            }
          }
          &__img {
            .cmp-image__image {
              width: 100%;
            }
          }
        }
      }
      &__payment {
        padding: 0;
        margin-top: rem($margin6px);
        @include screen(web) {
          margin-top: 0;
        }
      }
    }
  }
  .c-checkout-ordered {
    @include lgness-radius('default');

    $orderConfirm: '.c-checkout-ordered';
    $orderConfirmItem: '.c-checkout-ordered__item';
    &-wrap {
      background-color: $white;
      margin-top: rem($margin12px);
      padding: rem($padding20px) rem($padding16px);
      @include lgness-radius('default');
      @include screen(web) {
        padding: rem($padding40px) rem($padding24px);
        margin-top: rem($margin20px);
      }
    }
    &__item + #{$orderConfirmItem} {
      padding-top: rem($padding16px);
      border-top: rem($border1) solid $light-gray3;
      @include screen(web) {
        border-top: rem($border1) solid $mid-gray1;
        padding-top: rem($padding24px);
      }
    }
    &__item--coupon {
      #{$orderConfirm}__container {
        display: flex;
        align-items: center;
        gap: rem(20px);
        padding-bottom: rem($padding16px);
        @include screen(web) {
          padding-bottom: rem($padding24px);
        }
      }
      #{$orderConfirm}-coupon {
        width: 100%;
        &__title {
          font-size: rem(20px);
          line-height: rem(24px);
          @include screen(web) {
            font-size: rem(24px);
            line-height: rem(28px);
          }
        }
        &__info {
          display: flex;
          justify-content: space-between;
          margin-top: rem($margin8px);
          @include screen(web) {
            margin-top: rem($margin10px);
            justify-content: flex-start;
            gap: rem(10px);
          }
          &-coupon {
            font-size: rem(16px);
            line-height: rem(18px);
            max-width: rem(225px);
            @include screen(web) {
              font-size: rem(20px);
              line-height: rem(26px);
              max-width: none;
            }
          }
          &-price {
            font-size: rem(16px);
            line-height: rem(20px);
            @include screen(web) {
              font-size: rem(20px);
              line-height: rem(26px);
            }
          }
        }
      }
    }
    &__item--address {
      #{$orderConfirm}__container {
        display: flex;
        justify-content: space-between;
        flex-flow: column;
        gap: rem(14px);
        margin-top: rem($margin8px);
        @include screen(web) {
          gap: rem(40px);
          flex-flow: row;
          margin-top: rem($margin12px);
        }
        & + .c-checkout-ordered__container {
          margin-top: rem($margin14px);
        }
      }
      #{$orderConfirm}__address-item {
        width: 100%;
        &__flag {
          padding: rem($padding6px) rem($padding8px);
          border-radius: rem($radius4);
          max-width: fit-content;
          background-color: $gray3;
          text-transform: uppercase;
          &-box {
            display: flex;
          }
          .c-text-contents {
            .c-text-contents__bodycopy {
              span {
                display: block;
                color: $white;
                font-size: rem(10px);
                line-height: rem(10px);
                font-weight: $font-bold;
              }
            }
          }
          & + #{$orderConfirm}__address-item__flag {
            margin-left: rem($margin2px);
          }
        }
        &__addr-box {
          margin-top: rem($margin8px);
          @include screen(web) {
            margin-top: rem($margin6px);
          }
          .c-text-contents {
            .c-text-contents__bodycopy {
              color: $black;
              &:first-child {
                color: $mid-gray2;
                @include screen(web) {
                  margin-bottom: rem($margin6px);
                }
              }
              &.font-w-normal-20:first-child {
                margin-top: rem($margin2px);
              }
              span {
                display: block;
              }
              span + span {
                margin-top: rem($margin4px);
              }
            }
          }
        }
      }
    }
    &__item--delivery {
      border-top: 0 !important;
      padding-bottom: rem($padding20px);
      @include screen(web) {
        padding-bottom: rem($padding24px);
      }
      & + #{$orderConfirm}__item--delivery {
        padding-top: 0;
        padding-bottom: rem($padding16px);
        @include screen(web) {
          padding-bottom: rem($padding24px);
        }
      }
      &-info {
        &__title {
          padding-left: rem($padding20px);
          position: relative;
          &::before {
            content: '';
            display: inline-block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: rem(16px);
            height: rem(16px);
            background: url($icon-delivered-16-16) center / contain no-repeat;
          }
        }
        &__date {
          font-size: rem(12px);
          line-height: rem(20px);
          @include screen(web) {
            font-size: rem(14px);
            margin-top: rem($margin4px);
          }
        }
        &__info {
          font-size: rem(12px);
          line-height: rem(20px);
          color: $gray3;
          // margin-bottom: rem($margin10px);
          @include screen(web) {
            // margin-bottom: rem($margin16px);
            font-size: rem(14px);
          }
        }
      }
      #{$orderConfirm}__product {
        display: flex;
        // [Start] 2023-06-13: UPDATE - update image size */
        // gap: rem(10px);
        gap: rem(16px);
        // [End] 2023-06-13: UPDATE - update image size */
        align-items: center;
        margin-top: rem($margin4px);
        @include screen(web) {
          gap: rem(24px);
        }
        &__image-box {
          min-width: rem($width64px);
          min-height: rem($height64px);
          max-width: rem($width64px);
          max-height: rem($height64px);
          // [Start] 2023-06-13: UPDATE - update image size */
          @include screen(web) {
            min-width: rem($width80px);
            min-height: rem($height80px);
            max-width: rem($width80px);
            max-height: rem($height80px);
          }
          // [End] 2023-06-13: UPDATE - update image size */
        }
        &__title {
          font-size: rem(16px);
          line-height: rem(22px);
          @include screen(web) {
            font-size: rem(20px);
            line-height: rem(26px);
          }
        }
        &__text-box {
          &__desc {
            margin-top: rem($margin3px);
            display: flex;
            justify-content: space-between;
            @include screen(web) {
              justify-content: flex-start;
              gap: rem(10px);
              margin-top: rem($margin4px);
              align-items: center;
            }
            &-qty {
              font-size: rem(14px);
              line-height: rem(14px);
            }
            &-price {
              font-weight: $font-semibold;
              font-size: rem(16px);
              line-height: rem(20px);
              text-align: right;
              @include screen(web) {
                font-size: rem(20px);
                line-height: rem(20px);
                text-align: left;
              }

              /*! [Start] 2023-09-13 : ADD- Includes $15 EHF fee */
              .c-checkout-orderd__product__text-box__desc-price__EHF-fee {
                display: block;
                margin-top: rem($margin4px);
                color: $mid-gray2;
                @include screen(web) {
                  display: initial;
                  margin-top: 0;
                  margin-left: rem($margin8px);
                }
              }

              /*! [End] 2023-09-13 : ADD- Includes $15 EHF fee */
            }
          }
        }
      }
    }
    // [Start] LGCOMSA-364
    &__item--information {
      color: $gray3;
      padding-bottom: rem(16px);
      @include screen(web) {
        padding-bottom: rem(24px);
      }
    }
    // [End] LGCOMSA-364
    &__item--payment {
      #{$orderConfirm}__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: rem($margin4px);
        gap: rem(6px);
        @include screen(web) {
          margin-top: rem($margin24px);
        }
      }
      #{$orderConfirm}__contents {
        color: $gray3;
        margin-top: rem($margin10px);
        @include screen(web) {
          margin-top: rem($margin12px);
        }
      }
      #{$orderConfirm}__payment {
        &__image-box {
          width: rem(25px);
          height: rem(16px);
          background: url($icon-mylg-visa-31-23) center / contain no-repeat;
          @include screen(web) {
            width: rem(40px);
            height: rem(24px);
          }
        }
        &__text-box {
          display: flex;
          width: calc(100% - rem(25px));
          justify-content: space-between;
          align-items: center;
          @include screen(web) {
            width: calc(100% - rem(40px));
            justify-content: flex-start;
            gap: rem(20px);
          }
        }
        &__card-info {
          display: flex;
          align-items: center;
          &__type,
          &__num {
            @include screen(web) {
              font-size: rem(14px);
              color: $gray3;
            }
          }
          &__period {
            span {
              @include screen(web) {
                font-size: rem(14px);
              }
            }
          }
        }
      }
    }
  }
}
