@charset "UTF-8";
// module
@use '../../scss/abstract/' as *;

$component: '.CT0400';
#{$component} {
  // element
  > .component > .fluid-container {
    @include container($maximum, true);
  }
  > .component {
    @include screen(web) {
      border-bottom: rem($border1) solid $mid-gray1;
    }
  }

  // block
  .my-component {
    @include container($design-grid-full, true);
    padding: 0;
    position: relative;
    @include screen(web) {
      @include inset-padding-hz;
    }

    .my-component-coupon {
      width: 100%;
      padding: rem($padding24px $padding16px);
      @include screen(web) {
        padding: rem(24px 0);
      }
      .checkout-thank-coupon {
        position: relative;
        @include lgness-radius('default');
        padding: rem($padding10px $padding16px $padding10px 0);
        background-color: $white;
        margin-top: rem(12px);
        @include screen(web) {
          padding: rem($padding14px $padding24px $padding14px 0);
          width: rem(440px);
          margin-top: rem(16px);
        }
        &::before,
        &::after {
          content: '';
          position: absolute;
          right: rem(27.47px);
          border-radius: 50%;
          @include screen(web) {
            right: rem(45px);
          }
        }
        &::before {
          width: rem(12px);
          height: rem(12px);
          background: $warm-gray;
          top: rem(-6px);
          @include screen(web) {
            width: rem(16px);
            height: rem(16px);
          }
        }
        &::after {
          width: rem(12px);
          height: rem(12px);
          background: $warm-gray;
          bottom: rem(-6px);
          @include screen(web) {
            width: rem(16px);
            height: rem(16px);
          }
        }

        .checkout-coupon-txt {
          padding: rem($padding4px $padding52px $padding4px $padding22px);
          position: relative;
          &::after {
            content: '';
            border-right: rem(1px) dashed #cbc8c2;
            position: absolute;
            right: rem(17px);
            top: 0;
            height: 100%;
            @include screen(web) {
              right: rem(29px);
            }
          }
          @include screen(web) {
            padding: rem($padding4px $padding68px $padding4px $padding24px);
          }
          .coupon-info {
            margin: 0;
            dt,
            dd {
              padding: 0;
              margin: 0;
              line-height: rem(16px);
              @include screen(web) {
                line-height: rem(18px);
              }
            }
            dt {
              font-size: rem(16px);
              @include screen(web) {
                font-size: rem(20px);
              }
            }
            dd {
              font-size: rem(14px);
              color: #646464;
              &.coupon-title {
                padding: rem(12px 0);
                color: #ea1917;
                @include screen(web) {
                  padding: rem(16px 0);
                }
              }
              &.coupon-code {
                color: #333;
              }
              @include screen(web) {
                font-size: rem(16px);
              }
            }
          }
        }
      }
    }

    .checkout-thank-info {
      background: $light-gray3;
      padding: rem($padding24px) rem($padding25px);
      border-radius: 0;
      line-height: rem(18px);
      margin-top: 0;
      display: flex;
      flex-direction: column;
      @include screen(web) {
        margin-top: rem($margin16px);
        margin-bottom: rem($padding24px);
        padding: rem($padding40px) rem($padding40px);
        line-height: rem(24px);
        border-radius: rem(28px);
      }
      &--mo-border {
        border-top: rem($border1) solid $mid-gray1;
        @include screen(web) {
          border-top: 0;
        }
      }
      &__item {
        p {
          font-size: rem(16px);
          line-height: rem(18px);
          @include screen(web) {
            font-size: rem(20px);
            line-height: rem(24px);
          }
        }
      }
      &__divide {
        margin-bottom: rem(24px);
        &:last-child {
          margin-bottom: 0;
        }
        @include screen(web) {
          margin-bottom: rem(40px);
        }
      }
      &__area {
        display: flex;
        align-items: center;
        .c-image {
          width: fit-content;
        }
      }
      &__title {
        margin-left: rem(24px);
        p {
          font-size: rem(16px);
          line-height: rem(20px);
          @include screen(web) {
            font-size: rem(24px);
            line-height: rem(28px);
          }
        }
        &--list {
          margin: rem(8px) 0 0;
          list-style: none;
          padding: 0;
          font-size: rem(16px);
          line-height: rem(18px);
          @include screen(web) {
            font-size: rem(20px);
            line-height: rem(24px);
          }
          &.info {
            color: $gray3;
          }
          li {
            + li {
              margin-top: rem(6px);
            }
            @include screen(web) {
              display: inline;
              padding-right: rem(12px);
              + li {
                margin-top: 0;
                &::before {
                  content: '';
                  display: inline-block;
                  width: rem(1px);
                  height: rem(14px);
                  background: $mid-gray1;
                  margin-right: rem(12px);
                }
              }
            }
          }
        }
      }
      &__line {
        border-top: rem(1px) $mid-gray1 solid;
        margin: rem(16px) 0;
        @include screen(web) {
          margin: rem(24px) 0;
        }
      }
      &__text {
        + .checkout-thank-info__text {
          margin-top: rem(8px);
        }
        + .checkout-thank-info__title--list {
          margin-top: rem(16px);
          @include screen(web) {
            margin-top: rem(12px);
          }
        }
        .c-button {
          font-size: rem(16px);
          line-height: rem(18px);
          @include screen(web) {
            font-size: rem(20px);
            line-height: rem(24px);
          }
        }
        &.info {
          color: $gray3;
        }
      }
      &__lbllist {
        margin-top: rem(12px);
        margin-bottom: 0;
        padding: 0;
        @include screen(web) {
          margin-top: rem(16px);
        }
        &:first-child {
          margin-top: 0;
        }
        li {
          display: flex;
          gap: rem(24px);
          list-style: none;
          color: $gray3;
          font-size: rem(16px);
          @include screen(web) {
            font-size: rem(20px);
            gap: rem(80px);
          }
          .lbl {
            flex-basis: rem(120px);
            flex-shrink: 0;
            @include screen(web) {
              flex-basis: rem(280px);
            }
          }
          .txt {
            flex: 1;
            word-break: break-all;
          }
        }
        li + li {
          margin-top: rem(8px);
        }
      }
      &__tbl {
        width: 100%;
        margin-top: rem(12px);
        font-size: rem(16px);
        text-align: center;
        table-layout: fixed;
        @include screen(web) {
          margin-top: rem(16px);
          font-size: rem(20px);
        }
        &:first-child {
          margin-top: 0;
        }
        th,
        td {
          padding: rem(14px) rem(5px);
          word-break: break-all;
        }
        th {
          border-top: 1px solid $mid-gray1;
          border-bottom: 1px solid $mid-gray1;
          font-weight: 400;
        }
        td {
          border-bottom: 1px solid $mid-gray1;
          color: $gray3;
        }
      }
      &__lbllist {
        margin-top: rem(12px);
        margin-bottom: 0;
        padding: 0;
        @include screen(web) {
          margin-top: rem(16px);
        }
        &:first-child {
          margin-top: 0;
        }
        li {
          display: flex;
          gap: rem(24px);
          list-style: none;
          color: $gray3;
          font-size: rem(16px);
          @include screen(web) {
            font-size: rem(20px);
            gap: rem(80px);
          }
          .lbl {
            flex-basis: rem(120px);
            flex-shrink: 0;
            @include screen(web) {
              flex-basis: rem(280px);
            }
          }
          .txt {
            flex: 1;
            word-break: break-all;
          }
        }
        li + li {
          margin-top: rem(8px);
        }
      }
      &__lbllist {
        margin-top: rem(12px);
        margin-bottom: 0;
        padding: 0;
        @include screen(web) {
          margin-top: rem(16px);
        }
        &:first-child {
          margin-top: 0;
        }
        li {
          display: flex;
          gap: rem(24px);
          list-style: none;
          color: $gray3;
          font-size: rem(16px);
          @include screen(web) {
            font-size: rem(20px);
            gap: rem(80px);
          }
          .lbl {
            flex-basis: rem(120px);
            flex-shrink: 0;
            @include screen(web) {
              flex-basis: rem(280px);
            }
          }
          .txt {
            flex: 1;
            word-break: break-all;
          }
        }
        li + li {
          margin-top: rem(8px);
        }
      }
      // [Start] LGCOMJP-583
      & + .checkout-thank-info {
        margin-top: rem(15px);
        @include screen(web) {
          margin-top: rem(30px);
        }
      }

      &.bank-information {
        display: block; // unset flex :: for margin collapse
        font-size: rem(16px);
        @include screen(web) {
          font-size: rem(20px);
        }
      }
      .information-list {
        padding: 0;
        margin: rem(16px) 0;
        @include screen(web) {
          margin: rem(24px) 0;
        }
        & > li {
          position: relative;
          padding-left: rem(10px);
          @include screen(web) {
            padding-left: rem(20px);
          }
          &::marker {
            content: '' !important;
            // Due to the issue of line breaks, use '::before' recommended
          }
          &::before {
            content: '·';
            position: absolute;
            top: 0;
            left: 0;
            color: $mid-gray2;
          }
          &:nth-child(n + 2) {
            margin-top: rem(6px);
          }
          dt,
          dd {
            display: inline-block;
            margin: 0;
          }
          dt {
            &::after {
              content: ':';
              margin-left: 0.2em;
              margin-right: 0.3em;
            }
          }
          dd {
            color: $heritage-red;
          }
        }
      }
      hr.divide-line {
        margin: rem(20px) 0;
        border-style: none;
        border-top: 1px solid $mid-gray1;
      }
      // [End] LGCOMJP-583
      .c-cta {
        justify-content: center;
        margin-top: rem($margin30px);
        .c-button {
          @include screen(mobile) {
            min-width: 100%;
          }
        }
      }
    }
  }
  .c-checkout-thank {
    padding: rem($padding24px) rem($padding16px);
    @include screen(web) {
      padding: rem($padding24px) 0;
    }
    .c-text-contents {
      &__headline {
        margin-bottom: rem($margin8px);
        .cmp-title__text {
          font-size: rem(28px);
          line-height: rem(32px);
          font-weight: $font-light;
          @include screen(web) {
            font-size: rem(56px);
            line-height: rem(60px);
          }
        }
      }
      &__bodycopy {
        p {
          color: $gray3;
          + p {
            margin-top: rem($margin4px);
          }
          .font-semibold {
            color: $black;
          }
        }
      }
    }
    .c-button {
      font-size: rem(16px);
      @include screen(web) {
        font-size: rem(20px);
      }
    }
    & + .c-checkout-info-wrap {
      margin-top: rem($margin16px);
      margin-bottom: rem($margin24px);
      .checkout-thank-info__lbllist {
        li {
          gap: rem(24px);
          @include screen(web) {
            gap: 0;
          }
          .lbl {
            font-weight: 600;
            flex-basis: rem(120px);
            @include screen(web) {
              flex-basis: rem(188px);
            }
          }
        }
        & + p {
          margin-top: rem($margin8px);
        }
      }
      .c-product-qrcode {
        width: rem(232px);
        height: rem(232px);
        .cmp-image__image {
          width: auto;
        }
        &__text {
          position: absolute;
          bottom: rem(-11px);
          left: rem(14px);
          padding: 0 rem($padding4px);
          background-color: $white;
        }
      }
    }
  }
  // 230706 add
  .c-checkout-process {
    padding: rem($padding40px) rem($padding25px);
    margin-bottom: rem($margin32px);
    background: $light-gray3;
    @include screen(web) {
      padding: rem($padding40px);
      @include lgness-radius('default');
    }
    &__bridge {
      @include reset-list-style;
      @include screen(web) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      .c-checkout-process__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        padding: 0 0 rem(40px) 0;
        @include screen(web) {
          padding: 0 rem(72px) 0 0;
        }
        &::after {
          content: '';
          display: block;
          position: absolute;
          left: rem(13px);
          bottom: rem(8px);
          width: rem($width2px);
          height: rem($height24px);
          background: $graycb;
          @include screen(web) {
            left: auto;
            right: rem(12px);
            top: auto;
            bottom: auto;
            width: rem($width48px);
            height: rem($height2px);
          }
        }
        &-number {
          display: flex;
          justify-content: center;
          align-items: center;
          width: rem($width28px);
          min-width: rem($width28px);
          height: rem($height28px);
          color: $white;
          font-size: rem(16px);
          font-weight: $font-semibold;
          border-radius: 50%;
          background-color: $black;
        }
        &-text {
          margin-left: rem($margin8px);
        }
        &:last-child {
          padding: 0;
        }
        &:last-child::after {
          display: none;
        }
      }
    }
    &__msg {
      margin-top: rem($margin24px);
      @include screen(web) {
        margin-top: rem($margin32px);
      }
      p {
        margin-top: rem($margin8px);
      }
      ul {
        @include reset-list-style;
        margin-top: rem($margin8px);
        li {
          position: relative;
          padding-left: rem($padding12px);
          color: $dark-gray1;
          font-size: rem(16px);
          line-height: rem(18px);
          &::before {
            display: block;
            content: '';
            clear: both;
            position: absolute;
            top: rem(8px);
            left: 0;
            width: rem(3px);
            height: rem(3px);
            background: $mid-gray2;
            border-radius: 50%;
          }
          & + li {
            margin-top: rem($margin8px);
          }
        }
      }
    }
    &__title {
      margin-bottom: rem($margin24px);
      @include screen(web) {
        margin-bottom: rem($margin40px);
      }
    }
  }
  .c-checkout-info-wrap {
    @include lgness-radius('default');
    margin: rem($margin24px) rem($margin16px);
    padding: rem($padding20px) rem($padding16px);
    background-color: $white;
    @include screen(web) {
      margin: rem($margin48px) 0;
      padding: rem($padding24px);
    }
    .c-copy-wrap {
      display: flex;
      flex-direction: column;
      margin-top: rem($margin8px);
      @include screen(web) {
        flex-direction: row;
        gap: 0 rem(8px);
      }
      &__text {
        width: 100%;
        border: rem($border1) solid $mid-gray1;
        border-radius: rem($radius12);
        margin-bottom: rem($margin8px);
        padding: rem($padding12px);
        @include screen(web) {
          height: rem(44px);
          margin: 0;
        }
      }
      .c-input-item {
        width: 100%;
        @include screen(mobile) {
          margin-top: rem($margin8px);
        }
        // label,
        // &--length {
        //     display: none;
        // }
        // textarea {
        //     @include screen(web) {
        //         height: rem(44px);
        //     }
        // }
      }
    }
    .c-product-qrcode {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(216px);
      height: rem(216px);
      border: rem($border1) solid $mid-gray1;
      border-radius: rem($radius12);
      margin: rem($margin24px) auto;
      .cmp-image__image {
        width: auto;
      }
      &__text {
        position: absolute;
        bottom: rem(-11px);
        left: rem(14px);
        background-color: $white;
      }
    }
    .c-cta {
      justify-content: center;

      @include screen(web) {
        flex-wrap: nowrap;
      }
      .c-button {
        white-space: nowrap;
        @include screen(mobile) {
          min-width: 100%;
        }
      }
    }
    &__desc {
      & + .c-checkout-info-wrap__item {
        margin-top: rem($margin10px);
        @include screen(web) {
          margin-top: rem($margin20px);
        }
      }
      &__deposit {
        .c-text-contents {
          &__bodycopy {
            color: $black;
          }
        }
      }
      &__deposit-priod {
        margin-top: rem($margin10px);
        @include screen(web) {
          margin-top: rem($margin8px);
        }
      }
    }
    &__item {
      & + .c-checkout-info-wrap__item {
        margin-top: rem($margin16px);
        @include screen(web) {
          margin-top: rem($margin24px);
        }
      }
      .c-text-wrap {
        width: 100%;
        padding: rem($padding12px);
        margin-top: rem($margin8px);
        border: rem($border1) solid $mid-gray1;
        border-radius: rem($radius12);
        @include screen(web) {
          height: rem(44px);
        }
      }
      .c-copy-wrap {
        .button-full {
          .copy-button {
            width: 100%;
            @include screen(web) {
              width: auto;
            }
          }
        }
      }
    }
  }
}
