@charset "UTF-8";
// module
@use '../../scss/abstract/' as *;
.component > .fluid-container {
  @include container($maximum, true);
}

$component: '.CT0403';
#{$component} {
  .my-component {
    $mycomponent: '.my-component';
    @include container($design-grid-full, true);
    padding: 0;
    position: relative;
    @include screen(web) {
      @include inset-padding-hz;
    }
    &.margin-top {
      @include screen(web) {
        padding-top: rem($padding50px);
      }
    }
    &.margin-bottom {
      padding-bottom: rem($padding12px);
      @include screen(web) {
        padding-bottom: rem($padding40px);
      }
    }
    &:last-child {
      padding-bottom: 0;
      @include screen(web) {
        padding-bottom: rem($padding40px);
      }
    }
  }
  .buy-feed-back {
    background-color: $light-gray3;
    padding: rem($padding40px) rem($padding25px) rem(64px);

    $buyfeedback: '.buy-feed-back';
    @include screen(web) {
      padding-bottom: rem($padding40px);
      padding-left: rem($padding70px);
      padding-right: rem($padding70px);
      @include lgness-radius('default');
    }
    &__list {
      @include reset-list-style;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: rem($margin20px) auto 0 0;
      @include screen(web) {
        max-width: rem(700px);
        padding: rem($padding6px);
      }
    }
    .cmp-title {
      font-size: rem(28px);
      line-height: rem(32px);
      font-weight: $font-light;
      @include screen(web) {
        font-size: rem(56px);
        line-height: rem(60px);
      }
    }
    .c-text-contents__bodycopy {
      margin-top: rem($margin6px);
      .cmp-text {
        line-height: rem(22px);
        color: $mid-gray3;
      }
    }
    &__iconbox {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      position: relative;
      label {
        cursor: pointer;
        position: relative;
        z-index: 1;
      }
      span {
        font-weight: $font-regular;
        line-height: rem(14px);
        font-size: rem(14px);
        color: $gray3;
      }
    }
    &__input:hover + #{$buyfeedback}__iconbox {
      #{$buyfeedback}__icon {
        &--terrible {
          background: url($icon-feedback-terrible-64-64) center / rem(32px) rem(32px) no-repeat;
          @include screen(web) {
            background: url($icon-feedback-terrible-64-64) center / rem(64px) rem(64px) no-repeat;
          }
        }
        &--bad {
          background: url($icon-feedback-bad-64-64) center / rem(32px) rem(32px) no-repeat;
          @include screen(web) {
            background: url($icon-feedback-bad-64-64) center / rem(64px) rem(64px) no-repeat;
          }
        }
        &--okay {
          background: url($icon-feedback-okay-64-64) center / rem(32px) rem(32px) no-repeat;
          @include screen(web) {
            background: url($icon-feedback-okay-64-64) center / rem(64px) rem(64px) no-repeat;
          }
        }
        &--good {
          background: url($icon-feedback-good-64-64) center / rem(32px) rem(32px) no-repeat;
          @include screen(web) {
            background: url($icon-feedback-good-64-64) center / rem(64px) rem(64px) no-repeat;
          }
        }
        &--great {
          background: url($icon-feedback-great-64-64) center / rem(32px) rem(32px) no-repeat;
          @include screen(web) {
            background: url($icon-feedback-great-64-64) center / rem(64px) rem(64px) no-repeat;
          }
        }
      }
    }
    &__input:focus-visible + #{$buyfeedback}__iconbox label {
      outline: rem($border1) solid currentcolor;
    }
    &__input:checked + #{$buyfeedback}__iconbox {
      #{$buyfeedback}__icon {
        border: rem($border2) solid $orange;
        border-radius: 50%;
        &--terrible {
          background: url($icon-feedback-terrible-64-64) center / rem(32px) rem(32px) no-repeat;
          @include screen(web) {
            background: url($icon-feedback-terrible-64-64) center / rem(64px) rem(64px) no-repeat;
          }
        }
        &--bad {
          background: url($icon-feedback-bad-64-64) center / rem(32px) rem(32px) no-repeat;
          @include screen(web) {
            background: url($icon-feedback-bad-64-64) center / rem(64px) rem(64px) no-repeat;
          }
        }
        &--okay {
          background: url($icon-feedback-okay-64-64) center / rem(32px) rem(32px) no-repeat;
          @include screen(web) {
            background: url($icon-feedback-okay-64-64) center / rem(64px) rem(64px) no-repeat;
          }
        }
        &--good {
          background: url($icon-feedback-good-64-64) center / rem(32px) rem(32px) no-repeat;
          @include screen(web) {
            background: url($icon-feedback-good-64-64) center / rem(64px) rem(64px) no-repeat;
          }
        }
        &--great {
          background: url($icon-feedback-great-64-64) center / rem(32px) rem(32px) no-repeat;
          @include screen(web) {
            background: url($icon-feedback-great-64-64) center / rem(64px) rem(64px) no-repeat;
          }
        }
      }
      span {
        font-weight: $font-bold;
      }
    }
    &__icon {
      width: rem(42px);
      height: rem(42px);
      margin-bottom: rem($margin6px);
      @include screen(web) {
        width: rem(76px);
        height: rem(76px);
        margin-bottom: rem($margin16px);
      }
      &--terrible {
        background: url($icon-feedback-terrible-unactive-64-64) center / rem(32px) rem(32px) no-repeat;
        @include screen(web) {
          background: url($icon-feedback-terrible-unactive-64-64) center / rem(64px) rem(64px) no-repeat;
        }
      }
      &--bad {
        background: url($icon-feedback-bad-unactive-64-64) center / rem(32px) rem(32px) no-repeat;
        @include screen(web) {
          background: url($icon-feedback-bad-unactive-64-64) center / rem(64px) rem(64px) no-repeat;
        }
      }
      &--okay {
        background: url($icon-feedback-okay-unactive-64-64) center / rem(32px) rem(32px) no-repeat;
        @include screen(web) {
          background: url($icon-feedback-okay-unactive-64-64) center / rem(64px) rem(64px) no-repeat;
        }
      }
      &--good {
        background: url($icon-feedback-good-unactive-64-64) center / rem(32px) rem(32px) no-repeat;
        @include screen(web) {
          background: url($icon-feedback-good-unactive-64-64) center / rem(64px) rem(64px) no-repeat;
        }
      }
      &--great {
        background: url($icon-feedback-great-unactive-64-64) center / rem(32px) rem(32px) no-repeat;
        @include screen(web) {
          background: url($icon-feedback-great-unactive-64-64) center / rem(64px) rem(64px) no-repeat;
        }
      }
    }
    & + .c-checkout-thank--feedback {
      margin-top: rem($margin12px);
      @include screen(web) {
        margin-top: rem($margin40px);
      }
    }
  }

  .c-checkout-thank {
    &--feedback {
      background-color: $light-gray3;
      padding: rem($padding40px) rem($padding25px);
      @include screen(web) {
        @include lgness-radius('default');
        padding-left: rem($padding70px);
        padding-right: rem($padding70px);
      }
      &--hidden {
        display: none;
      }
      .c-text-contents {
        &__headline {
          .cmp-title {
            font-weight: $font-light;
            font-size: rem(28px);
            line-height: rem(32px);
            @include screen(web) {
              font-size: rem(56px);
              line-height: rem(60px);
            }
          }
        }
        &__bodycopy {
          margin-top: rem($margin6px);
          color: $mid-gray3;
          .cmp-text {
            line-height: rem(14px);
            @include screen(web) {
              line-height: rem(22px);
            }
          }
        }
      }
    }
  }
}
