@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.PD0020';
#{$component} {
  @include lgness-margin('if-headline');
  // block
  .cmp-container {
    position: relative;
    @include container($design-grid-full, true);
    @include inset-padding-hz;
  }

  // .carousel {
  //     display: flex;
  //     flex-direction: column;
  //     @include screen(web) {
  //         flex-wrap: wrap;
  //     }
  // }
  .c-carousel {
    position: static;
    margin-left: rem(-$block-margin-m);
    margin-right: rem(-$block-margin-m);
    @include inset-padding-hz;
    @include screen(web) {
      margin-left: rem(-$block-margin-w);
      margin-right: rem(-$block-margin-w);
    }
    &--compare {
      width: 100%;
      @include screen(web) {
        order: 1;
        width: calc(100% - rem(140px + $padding24px));
        max-width: rem(columns(10, false));
        margin-left: 0;
      }
    }
  }
  .c-package-list {
    $box: '.c-package-list';
    $item: '.c-package-item';
    margin-top: rem($margin12px);
    @include screen(web) {
      margin-top: rem($margin20px);
    }
    #{$item} {
      padding: rem($padding20px $padding24px $padding30px $padding24px);
      border: {
        width: rem($width1px);
        style: solid;
        color: $graye6;
        radius: rem($radius8);
      }
      @include screen(web) {
        padding-bottom: rem($padding40px);
      }
    }
  }

  .c-product-total {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem($margin20px);
    margin-top: rem($margin20px);
    padding-top: rem($margin20px);
    border-top: rem($border1) solid $mid-gray1;
    @include screen(web) {
      flex-direction: row;
      margin-top: rem($margin40px);
      padding-top: rem($margin40px);
    }
    &__left,
    &__right,
    &__button {
      @include screen(mobile) {
        width: 100%;
      }
    }
    &__left {
      display: flex;
      flex: 1 1 auto;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    &__price {
      font-weight: $font-semibold;
    }
  }

  // .c-product-item {
  //     @include lgness-radius('default');
  //     background-color: $white;
  //     border-width: 0;
  // }

  .c-product-item {
    @include lgness-radius('default');
    background-color: $white;
    border: none;
    &__visual-image {
      margin-top: 0;
    }
    &__bottom-container {
      .c-text-contents__eyebrow {
        &.sku {
          color: $mid-gray2;
        }
      }
    }
  }
  .c-product-directly {
    &.c-medium-size {
      .c-product-directly-item {
        padding-left: 0;
        padding-right: 0;
      }
      .c-product-item__bottom-container {
        .c-text-contents {
          padding-right: rem($padding32px);
        }
      }
    }
    .c-product-item {
      // justify-content: flex-start;
      @include lgness-radius('default');
      border-width: 0;
    }
  }
  // .c-product-directly {
  //     padding: {
  //         left: 0;
  //         right: 0;
  //     }
  //     .c-product-directly-item {
  //         padding-left: 0;
  //         padding-right: 0;
  //         @include lgness-radius('default');
  //         background-color: $white;
  //         @include screen(web) {
  //             padding: {
  //                 right: 0;
  //                 left: 0;
  //             }
  //         }
  //         .c-product-item {
  //             padding: rem($padding56px $padding24px $padding24px);
  //             gap: rem($margin12px);
  //             @include screen(web) {
  //                 padding: rem($padding50px $padding24px $padding24px);
  //                 gap: rem($margin24px);
  //                 padding-left: rem($width140px + $padding24px * 2);
  //                 margin-left: auto;
  //                 margin-right: auto;
  //             }
  //             .c-product-item__compare {
  //                 position: absolute;
  //                 top: rem($width20px);
  //                 left: rem($width24px);
  //             }
  //             &__top-container {
  //                 .c-product-item__visual-image {
  //                     img {
  //                         width: rem($width200px);
  //                         height: rem($width200px);
  //                         @include screen(web) {
  //                             width: rem($width140px);
  //                             height: rem($width140px);
  //                         }
  //                     }
  //                 }
  //             }
  //             .c-product-item__bottom-container {
  //                 .price-area {
  //                     margin-top: 0;
  //                 }
  //             }
  //             &__headline {
  //                 @include screen(desktop) {
  //                     max-width: calc(100% - rem($padding32px));
  //                 }
  //             }
  //             &__img {
  //                 @include screen(web) {
  //                     left: rem($margin24px);
  //                 }
  //             }
  //             &__ufn {
  //                 @include screen(web) {
  //                     height: rem(28px * 3);
  //                     @include ellipsis(3);
  //                 }
  //             }
  //         }
  //     }
  // }
}
