@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.PD0057';
#{$component} {
  .cmp-container {
    @include container($design-grid-full);
    max-width: rem($design-grid-full + ($block-margin-w * 2));
    @include inset-padding-hz;
  }
  .c-region-header {
    margin-bottom: rem(16px);
    min-height: auto;
    @include screen(web) {
      margin-bottom: rem(20px);
    }
  }
  .c-search-box {
    margin: 0 auto rem(16px);
    padding: rem(20px 16px);
    background: $white;
    @include lgness-radius('default');
    @include screen(web) {
      margin: 0 auto rem(24px);
      padding: rem(24px);
    }
    .cmp-form {
      @include screen(mobile) {
        gap: rem(12px);
        justify-content: space-between;
      }
      &.c-search-box--multi {
        .c-search-box__button {
          min-height: initial;
          margin-top: 0;
          align-items: flex-end;
        }
        .c-map-direction__search {
          min-height: initial;
        }
      }
    }
    &__form {
      gap: 0;
      align-items: stretch;
      @include screen(web) {
        gap: rem(24px);
      }
      @include screen(custom, (rem(769px) rem(1480px))) {
        gap: rem(15px);
      }
      @include screen(mobile) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: rem(12px);
        max-width: none;
      }
      &-inner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        align-items: flex-end;
        gap: rem(8px);
        @include screen(web) {
          gap: rem(24px);
          justify-content: space-between;
        }
        @include screen(custom, (rem(769px) rem(1480px))) {
          gap: rem(15px);
        }
      }
      &-item {
        @include reset-list-style;
        width: 83%;
        flex: 1;
        @include screen(web) {
          width: 100%;
          max-width: rem(550px);
        }
        @include screen(custom, (rem(769px) rem(1480px))) {
          width: 70%;
        }
        li + li {
          margin-top: rem(8px);
        }
      }
      .c-input-item {
        width: 83%;
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        @include screen(web) {
          width: 100%;
          max-width: rem(550px);
        }
        @include screen(custom, (rem(769px) rem(1480px))) {
          width: 70%;
        }
      }
    }
    &__button {
      display: inline-flex;
      position: relative;
      margin-top: 0;
      .cmp-button {        
        @include screen(tablet) {
          min-width: rem(80px);
          padding: rem(0 12px);
        }
        @include screen(mobile) {
          position: relative;
          width: rem(44px);
          height: rem(44px);
          min-width: auto;
          &::before {
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 50%;
            position: absolute;
            left: 0;
            bottom: 0;
            background: {
              image: url($icon-search-white-24-24);
              position: center;
              size: rem(22px) rem(22px);
              repeat : no-repeat;
            };
          }
          .cmp-button__text {
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
          }
          &:hover {
            &::before {
              background: {
                image: url($icon-search-black-24-24);
              };
            }
          }
          &[disabled] {
            pointer-events: none;
            &::before {
              opacity: 0.7;
              background: {
                image: url($icon-search-black-24-24);
              };
            }
          }
        }
      }
    }
    .c-map-direction__search {
      display: inline-flex;
      width: 100%;
      padding: rem(12px 0 0);
      border-bottom: none;
      border-top: rem(1px) solid $mid-gray1;
      @include screen(web) {
        padding: 0;
        gap: rem(8px);
        border: none;
        padding-left: rem(24px);
      }
      &:before {
        display: none;
        content: '';
        width: rem(1px);
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $mid-gray1;
        @include screen(web) {
          display: inline-block;
        }
      }
      &-sub-title {
        display: none;
        color: $gray3;
        @include screen(web) {
          display: block;
        }
      }
      .c-map-btn__box {
        display: flex;
        flex-wrap: wrap;
        gap: rem(7px);
        @include screen(web) {
          gap: rem(6px);
        }
        &.disabled {
          color: $mid-gray2;
          border-color: currentcolor;
          cursor: default;
          opacity: 0.4;
          pointer-events: none;
        }
        @include reset-list-style;
        .cmp-button {
          height: rem(44px);
        }
        li {
          button {
            min-width: rem(68px);
            height: rem(36px);
            padding: 0 rem(16px);
            border-radius: 100px;
            border: rem(1px) solid $mid-gray2;
            font-weight: 600;
            font-size: rem(16px);
            color: $mid-gray2;
            background: $white;
            text-align: center;
            cursor: pointer;
            @include screen(web) {
              min-width: rem(80px);
              height: rem(44px);
              padding: rem(0 20px);
            }
            @include screen(custom, (rem(769px) rem(1480px))) {
              min-width: rem(70px);
              padding: rem(0 12px);
            }
            &.act {
              border-color: $black;
              color: $white;
              background: $black;
            }
          }
        }
      }
    }
  }
  .store__contents { 
    min-height: rem(620px);
    height: 100vh;
    max-height: rem(720px);
    @include screen(web) {
      margin: 0 auto;
    }
    &.find-a-store {
      border-radius: rem(28px);
      overflow: hidden;
      border: rem(1px) solid $mid-gray1;
      @include screen(mobile) {
        margin: 0 rem(-16px);
        border: none;
        border-radius: 0;
        border-bottom: rem(1px) solid $mid-gray1;
      }
      .store-map {
        & > * {
          transition: all 0.3s;
        }
        &.full {
          .store-list-area {
            left: rem(-360px) !important;
          }
          .store-map__view {
            left: 0 !important
          }
        }
        .store-tab {
          border-bottom: rem(1px) solid $graye6;
          .cmp-tabs__tablist {
            display: flex;
            justify-content: space-between;
            width: 100%;
            background-color: $white;
            button {
              border: 0;
              padding: 0;
              margin: 0;
              background: transparent;
            }
            .cmp-tabs__tab {
              width: 50%;
              border-bottom: rem(2px) solid transparent;
              padding: rem(10px 8px);
              margin: 0;
              font-size: rem(20px);
              color: $gray3;
              &.cmp-tabs__tab--active {
                border-color: $active-red;
                border-width: rem(2px);
                color: $black;
                &:only-child {
                  width: 100%;
                  border-color: transparent;
                }
              }
            }
            @include screen(mobile) {
              .cmp-tabs__tablist {
                .cmp-tabs__tab {
                  font-size: rem(16px);
                  padding: rem(8px 6px);
                }
              }
            }
          }
        }
        .store-map__view {
          .map-btn-expand {
            display: none;
            @include screen(web) {
              display: block;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              z-index: 1;
              .btn-map {
                position: relative;
                display: block;
                width: rem(34px);
                height: rem(72px);
                border: 0;
                background-color: rgba($black, 0.8);
                cursor: pointer;
                &:hover, &:focus-visible {
                  background-color: rgba($black, 1);
                }
                &::before {
                  content: '';
                  transform: rotateY($degree180) #{'/*!rtl:rotateY(0)*/'};
                  display: inline-block;
                  width: rem($width7px);
                  height: rem($height12px);
                  background-image: url($icon-arrow-white-right-7-12);
                }
                &[aria-expanded='true'] {
                  &::before {
                    transform: rotateY(0) #{'/*!rtl:rotateY(#{$degree180})*/'}; /*! RTL last keep colon */
                  }
                }
              }
            }
          }
          @include screen(mobile) {
            height: calc(100% - rem(53px));
            .s-maps-tooltip {
              position: absolute;
              &::before {
                content: none !important;
              }
            }
          }
        }
        .store-list-area {
          border-right: rem(1px) solid $mid-gray1;
          .cmp-tabs__tabpanel--active {
            height: 100%;
            &:focus-visible {
              outline: none;
              max-height: rem(540px);              
            }
          }
          .store-list__txt {
            p {
              padding-right: 50px;
            }
          }
          @include screen(mobile) {         
            position: static;
            border-right: 0;  
            &.filter-active {
              position: relative;
              z-index: 102;
              .store-search-result {
                transform: none !important;
                transition: none !important;
              }
            }
            .cmp-tabs__tabpanel--active {
              max-height: rem(350px);
            }
          }
        }
        .store-list__inner {
          max-height: rem(540px);
          @include screen(mobile) {
            max-height: rem(350px);
          }
        }
        .store-search-result {
          &.list-active {
            .store-paging {
              @include screen(web) {
                display: flex;
              }
            }
          }
          @include screen(mobile) {
            display: flex;
            flex-flow: column;
            position: absolute;
            
          }
        }        
        .store-paging {
          display: none;
          align-items: center;
          justify-content: center;
          background-color: $white;
          position: absolute;
          height: rem(72px);
          left: 0;
          right: 0;
          bottom: 0;
          border-top: rem(1px) solid $mid-gray1;
          gap: rem(30px);
          .paging-btn {
            button {
              width: rem(36px);
              height: rem(36px);
              display: block;
              position: relative;
              cursor: pointer;
              border: 0;
              padding: 0;
              margin: 0;
              background-color: $white;
              color: $black;
              &:disabled {
                opacity: 0.3;
                cursor: default;
                pointer-events: none;
              }
            }
            &.store-prev {
              button {
                &::before {
                  content: '';
                  transform: rotateY($degree180) #{'/*!rtl:rotateY(0)*/'};
                  display: block;
                  width: 100%;
                  height: 100%;
                  background: {
                    image: url($icon-arrow-black-right-10-16);
                    position: center;
                    repeat: no-repeat;
                  };
                }
              }
            }
            &.store-next {
              button {
                &::before {
                  content: '';
                  transform: rotateY(0) #{'/*!rtl:rotateY($degree180)*/'};
                  display: block;
                  width: 100%;
                  height: 100%;
                  background: {
                    image: url($icon-arrow-black-right-10-16);
                    position: center;
                    repeat: no-repeat;
                  };
                }
              }
            }
          }
          .store-indicator {
            display: flex;
            gap: rem(5px);
          }
          @include screen(mobile) {
            display: none !important;
          }
        }
        .store-side-tab {
          margin: rem(12px -20px 0);
          border-bottom: 1px solid $graye6;
          .cmp-tabs__tablist {
            display: flex;
            justify-content: space-between;
            width: 100%;
            background-color: $white;
            button {
              border: 0;
              padding: 0;
              margin: 0;
              background: transparent;
            }
            .cmp-tabs__tab {
              width: 50%;
              border-bottom: rem(2px) solid transparent;
              padding: rem(8px 8px);
              margin: 0;
              font-size: rem(16px);
              color: $gray3;
              &.cmp-tabs__tab--active {
                border-color: $active-red;
                border-width: rem(2px);
                color: $black;
                &:only-child {
                  width: 100%;
                  border-color: transparent;
                }
              }
            }
            @include screen(mobile) {
              .cmp-tabs__tablist {
                .cmp-tabs__tab {
                  font-size: rem(16px);
                  padding: rem(8px 6px);
                }
              }
            }
          }
        }
        .store-map__view .store-side__view .store-side__inner .store-scroll .cmp-tabs__tabpanel .store-side__inventory {
          margin-top: 0 !important;
          ul li {
            border-top: rem(1px) solid $light-gray3;
            &:first-child {
              border-top: 0 !important;
            }
            .inven-box {
              border: 0 !important;
            }
          }
        }
      }
    }
  }
}

body {
  &.quick-hidden {
    .CM0007 {
      @include screen(mobile) { 
        display: none !important;
      }
    }
  }
}