mixin PD0057(option=false)
    // Component Markup
    if(option == 'All store')
        .c-wrapper.PD0057.margin-top.margin-bottom
            .component
                .cmp-container
                    //- title area
                    +component-title-area({
                        headline : {
                            text : "Find a Store Near You",
                            style : "font-w-semibold-56 font-m-semibold-28"
                        }
                    })
                    //- block : search(common area)
                    .c-search-box
                        form(action="#" method="get")
                            .cmp-form
                                .c-search-box__form
                                    .c-search-box__form-inner
                                        +formText("text", "Local search", "local-search", false, "Enter your city or address", true, true)
                                        .button.c-search-box__button
                                            +defaultButton({
                                                name : "Search",
                                                wSize : "medium",
                                                mSize : "small",
                                                buttonStyle : "highlight",
                                                isButton : true,
                                            })(type="submit" role="button")
                                    .c-map-direction__search
                                        .c-map-direction__search-sub-title
                                            p.font-w-normal-16.font-m-normal-14 Distance
                                        .c-map-btn__box
                                            ul.c-map-btn__box
                                                li
                                                    button(type="submit" value="5") 5km
                                                li
                                                    button(type="submit" value="10") 10km
                                                li
                                                    button(type="submit" value="15") 15km
                                                li
                                                    button(type="submit" value="20") 20km
                    
                    .c-search-box
                        // block : .c-search-box (--multi, --double)
                        form(action="#" method="get")
                            .cmp-form.c-search-box--multi
                                .c-search-box__form
                                    .c-search-box__form-inner
                                        ul.c-search-box__form-item
                                            li
                                                +formSelect("Local search", "local-store-search_1", "Store & Location Name_1", false)
                                                    option(value="Store&Location Name_1") Store &amp; Location Name_1
                                                    option(value="") Store &amp; Location Name_1-2
                                            li
                                                +formSelect("", "local-store-search_2", "Store & Location Name_2", false, false, false, true)
                                                    option(value="Store & Location Name_2") Store &amp; Location Name_2
                                                    option(value="") Store &amp; Location Name_2-2
                                        .button.c-search-box__button
                                            +defaultButton({
                                                name : "Search",
                                                wSize : "medium",
                                                mSize : "small",
                                                buttonStyle : "highlight",
                                                isButton : true,
                                            })(type="submit" disabled)
                                    .c-map-direction__search
                                        .c-map-direction__search-sub-title
                                            p.font-w-normal-16.font-m-normal-14 Distance
                                        ul.c-map-btn__box(class="disabled")
                                            li
                                                button(type="submit" value="5" tabindex="-1") 5km
                                            li
                                                button(type="submit" value="10" tabindex="-1") 10km
                                            li
                                                button(type="submit" value="15" tabindex="-1") 15km
                                            li
                                                button(type="submit" value="20" tabindex="-1") 20km

                    .store__contents.find-a-store
                        .store-map
                            .store-list-area.cmp-tabs
                                .store-tab
                                    .cmp-tabs__tablist(role="tablist")
                                        button(class="cmp-tabs__tab cmp-tabs__tab--active" role="tab" aria-selected="true" id="store_list_all" aria-controls="store_all_pannel" tabindex="0")
                                            | All
                                        button(class="cmp-tabs__tab" role="tab" id="store_list_brand" aria-controls="store_brand_pannel")
                                            | LG Brand Shop
                                .store-search-result
                                    button.store-btnList(aria-expanded="false" aria-controls="store-search-resultList") 
                                        span.sr-only List
                                            span Open
                                            span Close
                                    .store-list__txt
                                        p Nearby stores
                                        button.cmp-button.c-icon-button.c-icon-button--filter(type="button" data-cmp-data-layer="")
                                            span.cmp-button__text.c-icon-button__text.sr-only List filter
                                    .store-list-filter__contents
                                        .store-filter
                                            .store-filter--top
                                                p Filter
                                                button.store-filter__close
                                                    span.sr-only Close
                                            .store-filter__category.store-scroll.x-scroll
                                                form(class="store-filter-form" action="#" method="get")
                                                    ul.store-filter__list
                                                        li.store-filter__listItem
                                                            button(type="submit" value="A") Filter A
                                                        li.store-filter__listItem
                                                            button(type="submit" value="B") Filter B
                                                        li.store-filter__listItem
                                                            button(type="submit" value="C") Filter C
                                                        li.store-filter__listItem
                                                            button(type="submit" value="D") Filter D
                                                        li.store-filter__listItem
                                                            button(type="submit" value="E") Filter E
                                            .store-filter__checkbox.store-scroll
                                                .store-filter__checkbox-inner
                                                    .store-filter__checkList(role="list")
                                                        +formCheckbox("Main category name", "name", "val1", 'checkId1', count="false")(role="listitem")
                                                        +formCheckbox("Main category name", "name", "val2", 'checkId2', count="false")(role="listitem")
                                                        +formCheckbox("Main category name", "name", "val3", 'checkId3', count="false")(role="listitem")
                                                        +formCheckbox("Main category name", "name", "val4", 'checkId4', count="false")(role="listitem")
                                                        +formCheckbox("Main category name", "name", "val5", 'checkId5', count="false")(role="listitem")
                                                        +formCheckbox("Main category name", "name", "val6", 'checkId6', count="false")(role="listitem")
                                                        +formCheckbox("Main category name", "name", "val7", 'checkId7', count="false")(role="listitem")
                                                        +formCheckbox("Main category name", "name", "val8", 'checkId8', count="false")(role="listitem")
                                            .button.c-cta 
                                                +defaultButton({name: 'Reset', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: true})
                                                +defaultButton({name: 'Apply', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})


                                    .cmp-tabs__tabpanel(id="store_all_pannel" class="cmp-tabs__tabpanel--active" aria-labelledby="store_list_all" role="tabpanel" tabindex="0")
                                        .store-list__inner.store-scroll(id="store-all-resultList")
                                            .no-result
                                                .c-no-data 
                                                    strong.font-w-normal-24.font-m-normal-20 No Results
                                                    p.c-no-data__desc.font-w-normal-16.font-m-normal-16 TIP: Try entering a location or using your current location
                                            
                                            ul.store-list
                                                li
                                                    .store-item
                                                        .store-pin
                                                            p 1
                                                                span.sr-only store
                                                        .store-info
                                                            p.store-brand LG Brand Shop
                                                            a(href="#" class="store-link") APOLLO SALES
                                                            .store-way
                                                                p.store-address 1880 Broadway New York, NY 10023, United States
                                                                p.store-distance 0.2 Km
                                                            p.store-time
                                                                span Open today - 
                                                                span 8:00 ~ 20:00
                                                            .store-stock
                                                                p.store-status In stock
                                                li
                                                    .store-item
                                                        .store-pin
                                                            p 2
                                                                span.sr-only store
                                                        .store-info
                                                            a(href="#" class="store-link") VARDHMAN SALES ELECTRONIC Length area 2Line Length
                                                            .store-way
                                                                p.store-address 1880 Broadway New York, NY 10023, United States
                                                                p.store-distance 100 Km
                                                            p.store-time
                                                                span Open today - 
                                                                span 8:00 ~ 20:00
                                                            .store-stock
                                                                p.store-status In stock
                                                li
                                                    .store-item
                                                        .store-pin
                                                            p 3
                                                                span.sr-only store
                                                        .store-info
                                                            p.store-brand LG Brand Shop
                                                            a(href="#" class="store-link") VARDHMAN
                                                            .store-way
                                                                p.store-address 1880 Broadway New York, NY 10023, United States
                                                                p.store-distance 0.2 Km
                                                            p.store-time
                                                                span Open today - 
                                                                span 8:00 ~ 20:00
                                                            .store-stock
                                                                p.store-status.st-onhand 5 left in store
                                                li
                                                    .store-item
                                                        .store-pin
                                                            p 4
                                                                span.sr-only store
                                                        .store-info
                                                            a(href="#" class="store-link") 
                                                                img(src="https://via.placeholder.com/74x20/999999/000000", alt="logo text")
                                                            .store-way
                                                                p.store-address 1880 Broadway New York, NY 10023, United States
                                                                p.store-distance 100,000 Km
                                                            p.store-time 
                                                                span Open today - 
                                                                span 8:00 ~ 20:00
                                                            .store-stock
                                                                p.store-status.st-out Out of stock
                                                li
                                                    .store-item
                                                        .store-pin
                                                            p 5
                                                                span.sr-only store
                                                        .store-info
                                                            p.store-brand LG Brand Shop
                                                            a(href="#" class="store-link") 
                                                                img(src="https://via.placeholder.com/100x40/999999/000000", alt="logo text")
                                                            .store-way
                                                                p.store-address 1880 Broadway New York, NY 10023, United States
                                                                p.store-distance 0.2 Km
                                                            p.store-time 
                                                                span Open today - 
                                                                span 8:00 ~ 20:00
                                                            .store-stock
                                                                p.store-status.st-no No Stock Info 
                                                li
                                                    .store-item
                                                        .store-pin
                                                            p 6
                                                                span.sr-only store
                                                        .store-info
                                                            p.store-brand LG Brand Shop
                                                            a(href="#" class="store-link") 
                                                                img(src="https://via.placeholder.com/100x40/999999/000000", alt="logo text")
                                                            .store-way
                                                                p.store-address 1880 Broadway New York, NY 10023, United States
                                                                p.store-distance 0.2 Km
                                                            p.store-time 
                                                                span Open today - 
                                                                span 8:00 ~ 20:00
                                                            .store-stock
                                                                p.store-status.st-no No Stock Info 
                                        .store-paging
                                            .paging-btn.store-prev
                                                button(disabled='disabled')
                                                    span.sr-only Previous list
                                            .store-indicator
                                                <span class="pagination-current">1</span>
                                                | /
                                                <span class="pagination-total">5</span>
                                            .paging-btn.store-next
                                                button
                                                    span.sr-only Next list
                                    .cmp-tabs__tabpanel(id="store_brand_pannel" class="" aria-labelledby="store_list_brand" role="tabpanel")
                                        .store-list__inner.store-scroll(id="store-brand-resultList")
                                            .no-result
                                                .c-no-data 
                                                    strong.font-w-normal-24.font-m-normal-20 No Results
                                                    p.c-no-data__desc.font-w-normal-16.font-m-normal-16 TIP: Try entering a location or using your current location
                                            ul.store-list
                                                li
                                                    .store-item
                                                        .store-pin
                                                            p 1
                                                                span.sr-only store
                                                        .store-info
                                                            p.store-brand LG Brand Shop Tab 2 list
                                                            a(href="#" class="store-link") LG Brand Shop Tab 2 list
                                                            .store-way
                                                                p.store-address 1880 Broadway New York, NY 10023, United States
                                                                p.store-distance 0.2 Km
                                                            p.store-time
                                                                span Open today - 
                                                                span 8:00 ~ 20:00
                                                            .store-stock
                                                                p.store-status In stock
                                        .store-paging
                                            .paging-btn.store-prev
                                                button
                                                    span.sr-only Previous list
                                            .store-indicator
                                                <span class="pagination-current">2</span>
                                                | /
                                                <span class="pagination-total">4</span>
                                            .paging-btn.store-next
                                                button
                                                    span.sr-only Next list
                                    
                            .store-map__view.store-scroll.x-scroll
                                .store-side__view
                                    button.store-side__close
                                        span.sr-only Close
                                    .store-side__inner
                                        //- .store-side__banner
                                        //-     img(src="https://via.placeholder.com/720x342/999999/000000", alt="banner alt" class="")
                                        .store-scroll.cmp-tabs
                                            //- info
                                            .store-side__info.side-box
                                                p.store-brand LG Brand Shop
                                                p.store-name APOLLO SALES
                                                p.store-name 
                                                    img(src="https://via.placeholder.com/100x40/999999/000000", alt="logo text")
                                                .store-way
                                                    p.store-address 1880 Broadway New York, NY 10023, United States
                                                    p.store-distance 0.2 Km
                                                .store-code
                                                    p.divider
                                                        strong Pin Code
                                                        span 152870
                                                    p.divider
                                                        strong Std Code
                                                        span 0261
                                                .store-tel
                                                    p.divider
                                                        span 212-246-9734
                                                    p.divider
                                                        span 212-246-9734
                                                .store-url
                                                    a(href="" titel="" target="_blank") amazon.com/lgbrandshop

                                            .store-side-tab
                                                .cmp-tabs__tablist(role="tablist")
                                                    button(class="cmp-tabs__tab cmp-tabs__tab--active" role="tab" aria-selected="true" id="store_Basic" aria-controls="store_Basic_pannel" tabindex="0")
                                                        | Basic info
                                                    button(class="cmp-tabs__tab" role="tab" id="store_Stock" aria-controls="store_Stock_pannel")
                                                        | Stock info

                                            .cmp-tabs__tabpanel(id="store_Basic_pannel" class="cmp-tabs__tabpanel--active" aria-labelledby="store_Basic" role="tabpanel" tabindex="0")
                                                //- category
                                                .store-side__category.side-box
                                                    p.side-txt Handling categories
                                                    .category-inner
                                                        ul
                                                            li
                                                                p.category-name LG SIGNATURE OLED
                                                            li
                                                                p.category-name Refrigerators
                                                            li
                                                                p.category-name Product category
                                                            li
                                                                P.category-name Product category Product
                                                //- week
                                                .store-side__week.side-box
                                                    p.side-txt Store Operating Hours
                                                    ul
                                                        li
                                                            p.side-day 
                                                                span Monday
                                                                span 8:00 ~ 20:00
                                                        li
                                                            p.side-day 
                                                                span Tuesday
                                                                span 8:00 ~ 20:00
                                                        li
                                                            p.side-day 
                                                                span Wednesday
                                                                span 8:00 ~ 20:00
                                                        li
                                                            p.side-day 
                                                                span Thursday
                                                                span 8:00 ~ 20:00
                                                        li
                                                            p.side-day.to-day 
                                                                span Today
                                                                span 8:00 ~ 20:00
                                                        li
                                                            p.side-day 
                                                                span Saturday
                                                                span No operating
                                                        li
                                                            p.side-day 
                                                                span Sunday
                                                                span No operating
                                                    p.day-holi * Closed on public holidays.
                                                    .mini-map
                                                        //- goolemap 영역
                                                        .store-map__pin.active
                                                            .s-maps-pin(style="position:absolute;left:10px;top:10px") 
                                                                p 1
                                                                    span.sr-only Store
                                                        
                                                        .store-map__pin.active
                                                            .s-maps-pin(style="position:absolute;left:50px;top:10px") 
                                                                p 99
                                                                    span.sr-only Store

                                                    a.link-ggmap(href="#") View on Google Maps
                                                //- gallery
                                                .store-side__gallery.side-box
                                                    p.side-txt Store Gallery
                                                    .slider-box.swiper.c-carousel(class="autoplay" data-cmp-autoplay="autoplay" data-cmp-timedelay="5000" data-cmp-autopause="true" style="--heroTimer:5s" data-cmp-data-layer="")
                                                        ul.swiper-wrapper
                                                            li.swiper-slide
                                                                img(src="https://via.placeholder.com/700x326/999999/000000", alt="")
                                                            li.swiper-slide
                                                                img(src="https://via.placeholder.com/700x326/999999/000000", alt="")
                                                            li.swiper-slide
                                                                img(src="https://via.placeholder.com/700x326/999999/000000", alt="")
                                                        .c-carousel__handler
                                                            .cmp-carousel__actions
                                                                +carouselBtn({type:"pagination", direction:"prev"})
                                                            +carouselPagination
                                                            .cmp-carousel__actions
                                                                +carouselBtn({type:"pagination", direction:"next"})
                                                            // autoplay
                                                            button.c-carousel-controls__action.c-carousel-controls__action--pause.js-carousel-pause(type="button" class="cmp-carousel__action cmp-carousel__action--pause" data-cmp-hook-carousel="pause")
                                                                span.cmp-carousel__action-text.sr-only Pause carousel
                                                            button.c-carousel-controls__action.c-carousel-controls__action--play.js-carousel-play(type="button" class="cmp-carousel__action cmp-carousel__action--play" data-cmp-hook-carousel="play" disabled)
                                                                span.cmp-carousel__action-text.sr-only Play carousel
                                                //- help
                                                .store-side__help.side-box
                                                    a.help-link(href="#")
                                                        p.help-tit
                                                            | When you need help
                                                        p.help-txt
                                                            | If you have a problem, you can also find it at LG.com.

                                            .cmp-tabs__tabpanel(id="store_Stock_pannel" class="" aria-labelledby="store_Stock" role="tabpanel" tabindex="-1")
                                                //- inventory
                                                .store-side__inventory.side-box
                                                    ul
                                                        li
                                                            .inven-box
                                                                .inven-image
                                                                    img(src="https://via.placeholder.com/64x64/999999/000000", alt="image alt" class="")
                                                                .inven-info
                                                                    p.inven-name American Fridge Freezer 635L Water &amp; Ice Dispenser
                                                                    p.store-status In stock
                                                                    p.store-status.st-out Out stock
                                                                    p.store-status.st-no No Stock Info
                                                                    p.store-status.st-onhand 5 left in store
                                                        li
                                                            .inven-box
                                                                .inven-image
                                                                    img(src="https://via.placeholder.com/64x64/999999/000000", alt="image alt" class="")
                                                                .inven-info
                                                                    p.inven-name American Fridge Freezer 635L Water &amp; Ice Dispenser
                                                                    p.store-status.st-out Out stock
                                                        li
                                                            .inven-box
                                                                .inven-image
                                                                    img(src="https://via.placeholder.com/64x64/999999/000000", alt="image alt" class="")
                                                                .inven-info
                                                                    p.inven-name OLED TV
                                                                    p.store-status.st-no No Stock Info
                                                        li
                                                            .inven-box
                                                                .inven-image
                                                                    img(src="https://via.placeholder.com/64x64/999999/000000", alt="image alt" class="")
                                                                .inven-info
                                                                    p.inven-name OLED TV
                                                                    p.store-status In stock
                                                        li
                                                            .inven-box
                                                                .inven-image
                                                                    img(src="https://via.placeholder.com/64x64/999999/000000", alt="image alt" class="")
                                                                .inven-info
                                                                    p.inven-name OLED TV
                                                                    p.store-status.st-no No Stock Info
                                                        li
                                                            .inven-box
                                                                .inven-image
                                                                    img(src="https://via.placeholder.com/64x64/999999/000000", alt="image alt" class="")
                                                                .inven-info
                                                                    p.inven-name OLED TV
                                                                    p.store-status.st-onhand 5 left in store
                                .map-btn-expand
                                    button(class="btn-map" aria-expanded="false")
                                        span.sr-only map full button
                                .my-location
                                    button(class="btn-my-location")
                                        span.sr-only my location                                    
                                .store-map__pin.active
                                    .s-maps-pin(style="position:absolute;left:0;top:0") 
                                        p 1
                                            span.sr-only Store
                                    .s-maps-tooltip
                                        button(class="s-maps-tooltip__close")
                                            span.sr-only Close
                                        .s-maps-info
                                            .store-info
                                                p.store-brand LG Brand Shop
                                                p.store-name APOLLO SALES APOLLO SALES APOLLO SALES 
                                                p.store-time
                                                    span Open today - 
                                                    span 8:00 ~ 20:00
                                            .s-maps-btn
                                                button.cmp-button.c-button.c-button--default.default.m-small.w-small Detail view    
                                .store-map__pin.active
                                    .s-maps-pin(style="position:absolute;left:0;top:0") 
                                        p 2
                                            span.sr-only Store
                                    .s-maps-tooltip
                                        button(class="s-maps-tooltip__close")
                                            span.sr-only Close
                                        .s-maps-info
                                            .store-info
                                                p.store-name 
                                                    img(src="https://via.placeholder.com/74x20/999999/000000", alt="logo text") 
                                                p.store-time
                                                    span Open today - 
                                                    span 8:00 ~ 20:00
                                            .s-maps-btn
                                                button.cmp-button.c-button.c-button--default.default.m-small.w-small Detail view
                                .store-map__pin.active
                                    .s-maps-pin(style="position:absolute;left:0;top:0") 
                                        p 3
                                            span.sr-only Store
                                    .s-maps-tooltip
                                        button(class="s-maps-tooltip__close")
                                            span.sr-only Close
                                        .s-maps-info
                                            .store-info
                                                p.store-brand brand &amp; logo
                                                p.store-name 
                                                    img(src="https://via.placeholder.com/200x40/999999/000000", alt="logo text")
                                                p.store-time
                                                    span Open today - 
                                                    span 8:00 ~ 20:00
                                            .s-maps-btn
                                                button.cmp-button.c-button.c-button--default.default.m-small.w-small Detail view
