mixin CS0091(option=false)
    if(option == 'FILTER' || option == 'PLP')
        - var className = (option == 'PLP') ? 'no-crop margin-bottom' : 'no-crop'
        .c-wrapper.CS0091.bg-default(class=className)
            .component.has-filter
                .cmp-container
                    .productlist.productcollection
                        .c-category__root
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                +filter
                                +filterResult(6, 'type-three-seven')
    else 
        .c-wrapper.CS0091.bg-default.no-crop
            .component.no-filter
                .cmp-container
                    .productlist.productcollection
                        .c-category__root
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                +filterResult(9, 'type-four-nine')

