@charset "UTF-8";
@use '../../scss/abstract/' as *;
@use '../CS0000/CS0000' as *;

// component
.downtime-error-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: rem(20px 0);
  background-color: #e6e1d6;
  border-radius: rem(20px);
  @include screen(web) {
    border-radius: rem(28px);
    padding: rem(40px 0);
  }
  .downtime-error-tit {
    &::before {
      content: '';
      display: block;
      width: rem($width60px);
      height: rem($height60px);
      margin: 0 auto rem($margin12px);
      background-image: url($icon-result-60-60);
      background-repeat: no-repeat;
      background-size: cover;

      @include screen(web) {
        width: rem($width90px);
        height: rem($height90px);
      }
    }
  }
  .downtime-error-info {
    text-align: center;
    p {
      color: #333;
      margin-top: rem($margin8px);
      @include screen(web) {
        margin-top: rem($margin12px);
      }
    }
  }
  .c-btn-box {
    margin-top: rem($margin12px);
  }
}
