@charset "UTF-8";
@use '../../scss/abstract/' as *;
@use '../CS0000/CS0000' as *;

// component
$component: '.CS0056';
#{$component} {
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  $tab-container: '.container';
  $pc-head-height: rem(112px);
  $pc-top-height: rem(198px);
  $pc-inner-height: $pc-head-height + $pc-top-height;

  // scrollbar for Chrome and Safari
  ::-webkit-scrollbar {
    width: rem(4px);

    @include screen(web) {
      width: rem(6px);
    }
  }

  ::-webkit-scrollbar-track {
    background: rgba($black, 0);
  }

  ::-webkit-scrollbar-button:start:decrement,
  ::-webkit-scrollbar-button:end:decrement {
    display: block;
    width: rem(4px);
    height: rem(4px);
    background: rgba($black, 0);

    @include screen(web) {
      height: rem(12px);
    }
  }

  &__container {
    @include flex-context;
    @include container($design-grid-full, true);
    @include inset-padding-hz;
  }

  // add class c-default-margin component
  &.c-default-margin {
    padding-bottom: rem($padding10px);

    &.c-wrapper {
      &.margin-top {
        margin-top: 0;
        padding-top: 0;
      }
    }

    #{$cs-header} {
      margin-top: rem($margin30px);
      margin-bottom: 0;

      @include screen(web) {
        margin-top: rem($margin40px);
      }
    }
  }

  // COMMON - .c-cs-header
  #{$cs-header} {
    margin-bottom: rem($margin20px);

    a {
      color: $red;
      text-decoration: underline;
    }

    @include screen(web) {
      margin-bottom: rem($margin40px);
    }

    @at-root #{$component} #{$cs-header} {
      #{$text-contents} {
        text-align: center;
      }

      #{$text-contents}__headline + #{$text-contents}__bodycopy {
        margin-top: rem($margin6px);

        @include screen(web) {
          margin-top: rem($margin8px);
        }
      }
    }
  }

  section {
    margin-bottom: rem($margin24px);

    &:last-child {
      margin-bottom: 0;
    }

    @include screen(web) {
      margin-bottom: rem($margin48px);
    }
  }

  .type-accordion {
    @include screen(web) {
      position: relative;
    }
  }

  // Frequently Asked Questions - .c-accordion
  .c-accordion {
    $block: '.c-accordion';
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(calc(100% - rem(10px)), 80vw), 1fr));
    margin-left: auto;
    margin-right: auto;

    &.list-type {
      overflow: hidden;
      border: 1px solid $mid-gray2;
      border-radius: rem($radius20);
      background: $light-gray1;

      &--error {
        border-color: $active-red;
      }

      #{$block}__box {
        border-radius: rem($radius8);
        border: none;
        cursor: pointer;

        // variation
        // expand
        &--mobile {
          #{$block}__body {
            display: block;
          }

          #{$block}__button {
            &:after {
              width: rem(20px) !important;
              height: rem(20px) !important;
              background-image: none;
            }
          }
        }
        &--expand {
          #{$block}__body {
            display: block;
          }

          &--sub {
            #{$block}__body {
              display: block !important;
            }
            #{$block}__head {
              @include screen(mobile) {
                background-color: $white;
              }
              #{$block}__button {
                &::after {
                  background-image: url($icon-minus-black-20-20) !important;
                }
              }
              // display: block;
            }
          }
        }
      }

      #{$block}__head {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: rem($padding14px) rem($padding13px);
        // &:hover {
        //     cursor: pointer;
        //     background: $gray58 !important;
        //     border-radius: $border8;
        //     .c-accordion__head-text {
        //         color: $white;
        //     }
        //     .c-accordion__button {
        //         &:after {
        //             background-image: url($icon-plus-white-20-20) !important;
        //         }
        //     }
        // }

        #{$block}__button {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          display: flex;
          justify-content: flex-end;
          padding-right: rem($padding10px);
          padding-top: rem($padding22px);
          &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: rem(20px);
            bottom: 0;
            width: rem(20px);
            height: rem(20px);
            margin: auto;
            background : {
              position: 100% center;
              size: 100%;
              repeat: no-repeat;
              image: url($icon-plus-black-20-20);
            }
            @include screen(web) {
              display: none;
            }
          }
        }
      }

      // #{$block}__body {
      //     background-color: $light-gray3;
      //     border-radius: 0;
      //     .c-wide-list__item {
      //         background-color: transparent;
      //     }
      //     .c-text-contents {
      //         &:after {
      //             content: '';
      //             width: rem(20px);
      //             height: rem(20px);
      //             background-image: url($icon-arrow-black-link-20-20) !important;
      //             right: rem(8px);
      //             position: absolute;
      //             background-size: contain;
      //             @include screen(web) {
      //                 content: none;
      //             }
      //         }
      //     }
      // }
      #{$block}__body {
        padding: rem($padding13px $padding7px);
        background-color: $light-gray3;
        // border-radius: rem(0 0 $radius8 $radius8);
        .c-text-contents {
          &:after {
            width: rem(8px) !important;
            height: rem(14px) !important;
            background-image: url($icon-arrow-black-link-12-6) !important;
          }
        }
      }

      #{$block}__body-text {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        .c-text-contents__bodycopy {
          flex: 1;
          line-height: rem(24px);
        }
      }
    }

    &__box {
      border-bottom: rem($border1) solid $mid-gray1;

      &:last-child {
        border-bottom: 0;
      }

      @include screen(web) {
        &:not(.c-accordion__box--expand) {
          .c-accordion__head {
            .c-accordion__button {
              &:after {
                background-image: url($icon-dropdown-open-gray);
              }
            }
          }
        }
      }
      &--expand {
        border-bottom: none;

        #{$block}__head-flag {
          color: $gray3;

          .c-dot {
            color: $red;
          }
        }

        #{$block}__body {
          display: block;

          @include screen(web) {
            display: flex;
          }
        }
      }

      &:not(#{$block}__box--expand) {
        #{$block}__body {
          display: none;
        }
      }

      &#{$block}__box--mobile {
        .c-accordion__body {
          display: block;
        }
      }
      &:nth-child(2) {
        .c-accordion__box {
          &:first-child {
            margin-top: rem($margin10px);
          }
        }
      }
    }

    &__head {
      position: relative;
      padding: rem($padding13px 0);

      @include screen(web) {
        padding: rem(23px 0);
      }

      #{$block}__initial {
        display: flex;
      }

      .c-accordion__button {
        &::after {
          background-image: url($icon-dropdown-open-black);
          background-repeat: no-repeat;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          width: rem(16px);
          height: rem(8px);
        }
      }

      &-flag {
        text-transform: capitalize;
        margin-bottom: rem($margin4px);
        display: flex;

        @include screen(web) {
          color: $gray3;
          font-weight: $font-regular;
          line-height: rem(22px);
          margin-bottom: rem($margin8px);
        }

        &__icon {
          width: rem(16px);
          position: absolute;
          top: rem(3px);
        }
      }
    }

    &__head-text {
      color: $gray3;
      position: relative;
      padding: 0;
      display: flex;
      padding-right: rem($padding40px);
      line-height: rem(18px);
      @include screen(web) {
        padding-right: rem(columns(1, true));
      }

      .c-text-contents {
        &__headline {
          // margin-left: rem($margin22px);
        }
      }
      &.c-step-active {
        #{$block}__step {
          color: $red;
        }
        #{$block}__head-flag {
          color: $gray3;

          .c-dot {
            color: $red;
          }
        }
      }
    }

    &__body {
      padding: rem($padding20px);
      // border-radius: rem($radius20);
      background-color: $white;

      @include screen(web) {
        display: flex;
        column-gap: min($gutter-w, calc(100% * $gutter-w / $design-grid-full));
        padding: rem($padding28px);
        border-radius: rem($radius28);
      }
    }

    .c-text-list {
      margin-top: rem($margin48px);

      dl,
      dd {
        margin: 0;
      }
      dt,
      dd {
        color: $mid-gray3;
      }
      dd {
        @include list-dot(rem(15px), rem(4px), rem(4px), $mid-gray3);
        &:before {
          margin: auto;
        }
      }
    }
    .c-text-desc {
      margin-top: rem(-$margin4px);
      margin-bottom: rem($margin16px);
      & ~ .c-text-desc {
        margin-top: 0;
      }
      dt {
        color: $black;
      }
      dd {
        color: $mid-gray3;
      }
      a {
        color: $heritage-red;
        text-decoration: underline;
      }
      @include screen(web) {
        margin-bottom: rem($margin8px);
        & ~ .c-text-desc {
          margin-bottom: rem($margin20px);
        }
      }
    }

    &__body-text {
      width: 100%;

      #{$component} {
        background: transparent;
      }

      & > p {
        text-align: center;
      }

      dl {
        margin-bottom: rem($margin20px);
        @include screen(web) {
          margin-bottom: rem($margin24px);
        }
        dt {
          margin-bottom: rem($margin4px);
        }
      }

      .c-text-contents__bodycopy {
        flex: 1;
        line-height: rem(24px);

        @include screen(web) {
          line-height: rem(24px);
        }
      }
    }

    &__body-image {
      @include screen(web) {
        flex-basis: rem(columns(5, false));
      }

      &:empty {
        display: none;
      }
    }

    &__button {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding-right: rem($padding10px);
      padding-top: rem($padding22px);

      @include screen(web) {
        align-items: center;
        padding-right: rem($padding24px);
        padding-top: 0;
      }
    }

    + .c-cta {
      flex-wrap: nowrap;
      margin-top: rem($margin40px);

      .c-button {
        width: 50%;
      }

      @include screen(web) {
        justify-content: center;

        .c-button {
          width: rem($width160px);
        }
      }
    }
  }

  // layout : margin
  $image: '.c-image';
  $text: '.c-text-contents';
  $cta: '.c-cta';
  $accordion: '.c-accordion';
  $initial-spell-size: 20px;

  #{$accordion}__initial {
    min-width: rem($initial-spell-size * 0.8);
    margin-right: rem($margin8px);

    @include screen(web) {
      min-width: rem($initial-spell-size);
      margin-right: rem($margin10px);
    }
  }

  #{$accordion}__body {
    // #{$cta} {
    //     display: flex;
    //     justify-content: center;
    //     margin-top: rem($margin16px);

    //     @include screen(web) {
    //         margin-top: rem($margin20px);
    //     }
    //     &.c-next-button {
    //         .cmp-button {
    //             min-width: rem(84px);
    //         }
    //     }
    // }

    // #{$cta},
    #{$image} {
      @include screen(web) {
        padding-left: rem($initial-spell-size + $margin10px);
      }
    }
  }

  #{$accordion}__body-text + #{$accordion}__body-image {
    @include screen(mobile) {
      margin-top: rem($margin20px);
      padding-left: rem($padding25px);
      border-radius: 0;
    }
  }

  // result accordion
  .type-accordion__result {
    .c-accordion {
      &__body {
        padding: rem($padding20px);
        .cmp-image {
          &__image {
            width: rem($width60px);
          }
        }
        .cs-form {
          .button {
            margin-top: rem($margin24px);
            .c-button {
              text-decoration: underline;
            }
          }
        }
        .c-prd {
          &-tit {
            margin-top: rem($margin12px);
            margin-bottom: rem($margin6px);
          }
          &-register__prdtxt {
            .c-warrantyInfo {
              color: $gray3;
            }
          }
        }
        &.step2 {
          // background: $ivory6;
        }

        .c-result__txtBox {
          margin-bottom: rem($margin8px);
          color: $gray3;

          ul {
            @include reset-list-style;
            li {
              margin-top: rem($margin8px);
              &:first-child {
                margin-top: 0;
              }
            }
          }
        }
        &.step5 {
          .c-result__txtBox {
            color: $gray3;
            text-align: center;
          }
        }
        @include screen(web) {
          padding: rem($padding40px $padding44px);
          &.step1 {
            #{$text-contents} {
              display: flex;
              gap: rem(24px);
              .cmp-image {
                &__image {
                  width: rem(110px);
                }
              }
              .c-prd {
                &-tit {
                  margin-top: 0;
                  margin-bottom: rem($margin8px);
                }
                &-register__prdtxt {
                  width: 100%;
                }
              }
            }
          }
          &.step2,
          &.step3,
          &.step4 {
            .button {
              margin-top: 0;
            }
            #{$text-contents} {
              //display: flex;
              //justify-content: space-between;
            }
          }
          &.step4 {
            #{$text-contents} {
              align-items: end;
            }
          }
        }
      }
    }
  }

  .cs-form {
    &__wrap {
      &:first-child {
        // .cmp-form {
        //     &:first-child {
        //         label {
        //             margin-top: 0 !important;
        //         }
        //     }

        //     @include screen(web) {
        //         &:first-child,
        //         &:last-child {
        //             label {
        //                 margin-top: 0 !important;
        //             }
        //         }
        //     }
        // }
      }
    }

    .cmp-form {
      .fieldIcons {
        &__root {
          position: relative;
        }

        &__before {
          content: '';
          z-index: $stacking-floor;
          @include position(50%, 50%);
          left: rem($padding30px);
          transform: translate(-50%, -50%);
          width: rem(18px);
          height: rem(18px);
          background-image: url($icon-search);
          background-repeat: no-repeat;
          @include screen(web) {
            left: rem($padding24px);
            right: auto;
            transform: translate(0%, -50%);
          }
        }

        input {
          @include input;
          max-width: rem(1086px);
          padding: rem($padding15px $padding17px);
          background: $light-gray3;
          @include screen(web) {
            padding: rem($padding18px $padding16px $padding18px $padding50px);
          }
        }
      }

      label {
        display: block;
        color: $gray3;
        margin-bottom: rem($margin8px);
        font-size: rem(16px);
        line-height: rem(18px);
        text-align: left;
        margin-top: rem($margin16px);
      }

      input,
      select {
        @include accrodionInput;
      }

      textarea {
        @include input;
        width: 100%;
        height: rem(160px);
        border-radius: rem($radius12);
        background: $white;
        border: 1px solid $mid-gray1;
        @include screen(web) {
          height: rem(200px);
          border: 1px solid $mid-gray1;
        }
      }

      select {
        @include accrodionSelect;
      }

      .button {
        margin-top: rem($margin8px);

        .c-button {
          width: 100%;
        }

        @include screen(web) {
          display: flex;
          justify-content: center;
          margin-top: 0;

          .c-button {
            width: auto;
          }
        }
      }

      .file {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0 none;
      }

      .c-file-msg {
        color: $gray6;
        margin-top: rem($margin8px);
        margin-bottom: rem($margin10px);

        @include screen(web) {
          margin: 0;
        }
      }

      #preview {
        @include accordionPreview;
      }
      .c-info-msg {
        color: $gray6;
        margin: rem($margin8px $margin13px);

        @include screen(web) {
          margin: rem($margin8px $margin25px);
        }
      }

      .cs-captcha {
        display: grid;
        grid-template-columns: 1fr rem(48px);
        grid-gap: rem(8px 12px);

        @include screen(web) {
          grid-template-columns: 1fr rem(130px);
          grid-gap: rem(16px);
        }

        label {
          display: none;
        }

        &__area {
          height: rem(100px);
          grid-column: 1 / 2;
          grid-row: 1 / 2;
          background-color: $white;
          border-radius: rem(24px);

          @include screen(web) {
            grid-column: 1 / 3;
            height: rem(178px);
            border-radius: rem(34px);
          }
        }

        &__input-box {
          grid-column: 1 / 3;
          grid-row: 2 / 3;

          @include screen(web) {
            grid-column: 1 / 2;
          }
        }

        &__input {
        }

        &__button {
          display: flex;
          flex-direction: column;
          grid-column: 2 / 3;
          grid-row: 1 / 2;
          gap: rem(4px);
          width: rem(48px);

          @include screen(web) {
            flex-direction: row;
            grid-row: 2 / 3;
            width: auto;
            gap: 10px;
          }

          button {
            width: rem(48px);
            height: rem(48px);
            border: 1px solid $mid-gray2;
            background-color: $white;
            border-radius: rem($radius99);

            @include screen(web) {
              width: rem(60px);
              height: rem(60px);
            }
          }

          &--reset {
            background : {
              image: url($icon-sound-black-38-38);
              position: center;
              repeat: no-repeat;
            }
            @include screen(web) {
              background-image: url($icon-sound-black-40-40);
            }
          }

          &--sound {
            background : {
              image: url($icon-reset-38-38);
              position: center;
              repeat: no-repeat;
            }
            @include screen(web) {
              background-image: url($icon-reset-40-40);
            }
          }
        }
      }

      // .c-textarea-box {
      //     position: relative;

      //     p {
      //         position: absolute;
      //         right: rem(16px);
      //         bottom: rem(15px);
      //         color: #7C7E77;

      //         @include screen(web) {
      //             right: rem(24px);
      //             bottom: rem(16px);
      //         }
      //     }
      // }
    }

    &__chk {
      margin-top: rem($margin24px);

      @include screen(web) {
        margin-top: rem($margin48px);
      }

      .c-checkbox-item {
        input {
          top: rem(8px);
        }

        .label {
          display: inline-block;
          text-align: left;
          padding-left: rem($padding30px);
          margin-top: rem($margin8px);
          position: relative;

          @include screen(web) {
            margin-top: rem(0);
          }

          &::before {
            margin-left: rem(-30px);
            position: absolute;
          }
        }

        a.link {
          margin-left: rem($margin4px);
          color: $red;
          text-decoration: underline;
        }
      }
    }

    &__desc {
      margin-bottom: rem($margin8px);
      color: $mid-gray3;
      line-height: rem(14px);

      @include screen(web) {
        margin-bottom: rem($margin10px);
        line-height: rem(24px);
      }
    }

    @include screen(web) {
      &__wrap {
        @include screen(web) {
          display: flex;
          flex-wrap: wrap;
          gap: rem(24px);
        }
      }

      &__inner {
        display: flex;
        gap: rem(8px);
      }

      .cmp-form {
        flex: 1 1 40%;

        label {
          margin-bottom: rem($margin8px);
          margin-top: rem($margin24px);
          line-height: rem(22px);
        }

        &:nth-child(n + 3) {
          label {
            margin-top: 0;
          }

          input,
          select {
            margin-bottom: 0;
          }
        }
      }

      .button {
        grid-column: 1/3;
        margin-top: rem($margin26px);
      }
    }
  }

  .c-button-wrap {
    .button {
      padding-bottom: 0;
      @include screen(web) {
        padding-top: rem($padding24px);
      }
    }
  }

  // step2 .c-list-area
  .c-list-area {
    &__disabled-text {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #7e7c77;
      background-color: $light-gray3;
      z-index: 10;

      &--disabled {
        display: none;
      }
    }

    .mobile-only {
      display: block;
    }

    .pc-only {
      display: none;
    }

    @include screen(web) {
      .mobile-only {
        display: none;
      }
      .pc-only {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: rem(24px);

        .c-wide-list__item {
          background-color: transparent;
          .c-text-contents {
            @include screen(web) {
              position: relative;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              height: rem(64px);
              padding: rem(0 $padding48px);
              word-break: break-word;
            }
          }

          &:hover {
            background-color: $white;
          }
        }
        .c-wide-list__item-category {
          a {
            padding: 0;
          }
        }
      }
    }

    .c-list-area__box-category {
      .c-wide-list__item {
        @include screen(web) {
          background-color: $light-gray3;
        }
      }
    }

    .c-wide-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(min(calc(100% - rem(10px)), 80vw), 1fr));
      margin-left: auto;
      margin-right: auto;

      @include screen(web) {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        padding-top: 0;
        grid-gap: 0;
      }

      &__item {
        // background: $white;
        border-radius: rem($radius8);
        cursor: pointer;

        a {
          display: block;
          padding: rem($padding15px $padding13px);
        }

        &--active {
          &:not(.disabled) {
            background: $white !important;
            p {
              position: relative;
              padding-left: rem($padding30px);
              line-height: rem(18px);
              &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: rem(20px);
                height: rem(20px);
                margin: auto;
                background: {
                  image: url($icon-arrow-black-link-12-6);
                  size: contain;
                }
              }
              &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: rem(20px);
                height: rem(20px);
                margin: auto;
                background: {
                  image: url($icon-check-black-20-20);
                  size: contain;
                }
              }
            }
          }
        }
        a {
          display: block;
          padding: rem($padding14px $padding13px);

          &:hover {
            text-decoration: none;
          }
        }
        &--active {
          @include screen(web) {
            &:not(.disabled) {
              background: $white !important;

              p {
                position: relative;
                &:before {
                  display: none;
                }
                &:after {
                  content: '';
                  display: block;
                  position: absolute;
                  top: 0;
                  right: rem(20px);
                  bottom: 0;
                  width: rem(20px);
                  height: rem(20px);
                  margin: auto;

                  background: {
                    image: url($icon-check-black-20-20);
                    size: contain;
                  }
                }
              }
            }
          }
        }

        @include screen(web) {
          border-radius: 0;
          a {
            display: block;
            padding: rem($padding20px);
            color: inherit;
            text-decoration: none;
          }

          &.disabled {
            background: $ivory6;
            color: $grayb;
            &:hover {
              text-decoration: none;
              a {
                cursor: default;
                text-decoration: none;
              }
            }
          }
        }

        .c-text-contents {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: $mid-gray3;
          line-height: rem(18px);
          // troublesoot 에 text type list
          &.text-type {
            padding: rem($padding22px $padding16px);
            .c-text-contents__headline {
              margin-left: 0;
            }
          }
          .cmp-image {
            img {
              max-width: rem(80px);
              max-height: rem(80px);
              width: fit-content;
            }
          }
          &__headline {
            margin-right: rem($margin20px);
            margin-bottom: 0;
            word-break: break-word;
            @media (min-width: rem(1024px)) {
            }
          }
          &__modelnumber {
            margin-top: rem($margin4px);
            color: $gray6;
            line-height: rem(16px);
            @include ellipsis(1);
            white-space: normal;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            @include screen(web) {
              @include ellipsis(2);
              white-space: normal;
            }
          }
          @include screen(web) {
            align-items: flex-start;
          }
        }
        button {
          border: none;
          background: none;
        }
      }

      &__item-category {
        display: none;
        flex-direction: column;
        pointer-events: none;
        &.c-all-disabled {
          display: none;
        }

        .category-text {
          p {
            color: $grayb;
          }
        }
        .c-wide-list__item {
          p {
            color: $grayb;
          }
        }

        .c-text-contents {
          padding: 0;
        }
        &.active {
          display: flex;
          background-color: $light-gray1;
          pointer-events: auto;
          .category-text {
            background-color: $light-gray1;
            p {
              color: $mid-gray2;
            }
          }
          .c-wide-list__item {
            background-color: $light-gray1;
            p {
              color: $mid-gray2;
            }

            .c-text-contents {
              &.active {
                // background: pink;
                background: $white;
                &:after {
                  content: '';
                  display: block;
                  position: absolute;
                  top: 0;
                  right: rem(20px);
                  bottom: 0;
                  width: rem(20px);
                  height: rem(20px);
                  margin: auto;

                  background: {
                    image: url($icon-check-black-20-20);
                    size: contain;
                  }
                }
              }
            }
          }
        }
      }
    }

    .c-no-data {
      background: $ivory6;
      padding: rem($padding72px) rem($padding10px);
      &::before {
        content: '';
        display: block;
        width: rem($width60px);
        height: rem($height60px);
        background-image: url($icon-result-60-60);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto rem($margin20px);
      }
      @include screen(web) {
        padding: rem(134px) rem($padding40px);

        &::before {
          margin: 0 auto rem($margin20px);
        }
      }
    }

    &__box {
      height: 100%;
    }

    &__box-wrap {
      position: relative;
      overflow-y: auto;
      height: rem(528px);

      &--error {
        border: 1px solid $active-red !important;
      }

      @include screen(web) {
        padding-right: rem($padding10px);
        border: 1px solid $mid-gray1;
        border-radius: rem($radius28);
        background-color: $warm-gray;
        &:nth-child(2) {
          display: block;
          position: relative;
        }
      }
    }

    &__scroll {
      @include screen(web) {
        scroll-behavior: smooth;
        overflow-y: auto;
        height: 100%;
        padding-right: rem($padding10px);
        background-color: $warm-gray;
      }
      &::-webkit-scrollbar {
        @include screen(web) {
          width: rem(4px) !important;
        }
      }
      &::-webkit-scrollbar-button:start:decrement,
      &::-webkit-scrollbar-button:end:decrement {
        display: block;
        width: 0 !important;
        height: 0 !important;

        @include screen(web) {
          height: rem(24px) !important;
        }
      }

      &-inner {
        height: auto;
        min-height: 100%;
        padding: rem($padding24px 0);
        background-color: $light-gray1;
      }
    }

    &__sub-topic {
      display: flex;
      flex-direction: column;
      background-color: $light-gray1;

      .c-text-contents {
        padding: rem($padding20px $padding48px) !important;
      }
    }

    .c-accordion__body {
      padding: 0;
    }
  }

  .category-text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    // height: rem(60px);
    padding: rem(0 $padding48px);
    background-color: $light-gray3;
    word-break: break-word;
    p {
      padding-right: rem($padding8px);
      color: $gray6;
      font-size: rem(24px);
      display: block;
      width: -webkit-fill-available;
      max-width: fit-content;
    }
    &__line {
      width: 100%;
      height: 1px;
      background-color: $grayd;
    }
    &.disabled {
      p {
        color: $gray9;
        color: red;
      }
    }
  }

  .c-no-result {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: rem($padding12px);
    @include screen(web) {
      padding-top: rem($padding20px);
      max-width: $design-grid-full;
      margin: 0 auto;
    }
    &__wrap {
      text-align: center;
    }
    &__icon {
      display: inline-block;
      width: rem(60px);
      height: rem(60px);
      margin-bottom: rem($margin20px);
      background : {
        image: url($icon-nodata-gray-60-60);
        position: 100% center;
        size: 100%;
        repeat: no-repeat;
      }
    }
  }
  // TAB
  .type-tabs {
    #{$component}__container {
      max-width: none;
      padding: 0;
    }
    .c-cs-header {
      .title {
        margin-left: 0;
        margin-right: 0;
      }
    }

    .c-tabs {
      // margin-top: rem($margin30px);
      @include screen(web) {
        // margin-top: rem($margin60px);
      }

      &__type2 {
        .c-tabs__inner {
          height: auto;
          padding-top: rem($padding24px);
          padding-bottom: rem($padding16px);
          border-bottom: none;

          .c-tabs__tablist {
            flex-wrap: wrap;
            gap: rem(50px 24px);
            height: auto;
            //padding: rem(0 $padding16px);

            @include screen(web) {
              // justify-content: center;
              gap: rem(50px 40px);
              padding: 0;
            }

            .cmp-tabs__tab {
              flex: none;
              width: auto;
              padding-left: 0 !important;
              padding-right: 0 !important;

              &--active {
                &:after {
                  @include screen(web) {
                    bottom: 0;
                    height: rem(2px);
                  }
                }
              }
            }
          }
        }
      }

      &__inner {
        position: sticky;
        left: 0;
        top: 0;
        display: block;
        border-bottom: 1px solid $grayd;
        // background-color: $white;
        background-color: $warm-gray;
        z-index: 1000;
        @include screen(web) {
          padding: rem(0 $padding24px);
        }
        &.c-noneSticky {
          position: static;
        }

        .c-tabs__tablist {
          scroll-behavior: smooth;
          overflow-x: unset;
          overflow-y: unset;
          gap: 0;
          padding-right: 0;
          padding-left: 0;
          display: inline-flex;
          width: 100%;
          height: rem(52px);

          @include screen(web) {
            @include flex-context;
            @include container($design-grid-full, false);
            display: flex;
            height: rem(82px);
          }

          .cmp-tabs__tab {
            width: auto;
            height: 100%;
            padding: 0 rem($padding12px);

            @include screen(web) {
              flex: 1;
              padding: 0 !important;
            }

            &:first-child {
              padding-left: rem($padding24px);
              padding-right: rem($padding12px);
            }

            &:last-child {
              padding-left: rem($padding12px);
              padding-right: rem($padding24px);
            }

            &--active {
              &:after {
                position: inherit;

                // bottom: rem(2px);
                @include screen(web) {
                  bottom: rem(4px);
                  height: rem(4px);
                }
              }
            }

            a {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 100%;
              font-size: rem(16px);
              line-height: rem(18px);
              color: $black;
              // font-weight: 700;
              text-decoration: none;

              @include screen(web) {
                font-size: rem(20px);
                line-height: rem(24px);
              }
            }
          }

          // .cmp-tabs {
          //     border: 1px solid red;
          //     &__tab {
          //         color: $gray3;

          //         &--active {
          //             color: $black;
          //         }

          //         h3 {
          //             border: 1px solid #000;
          //             word-break: break-word;
          //             white-space: normal;
          //         }
          //     }
          // }
        }
      }

      &__tabpanel {
        @include screen(web) {
          .container {
            padding-top: 0;
            padding-bottom: rem($padding48px);
          }
        }
      }
    }

    .c-cta {
      &:nth-last-child(2) {
        margin-top: rem($margin20px);
      }
    }
  }
  // TAB
  .type-tabs {
    #{$component}__container {
      max-width: none;

      .c-cs-header {
        .title {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }

    .c-tabs {
      // margin-top: rem($margin30px);
      @include screen(web) {
        // margin-top: rem($margin60px);
      }

      &__type2 {
        .c-tabs__inner {
          height: auto;
          padding-top: rem($padding24px);
          padding-bottom: rem($padding16px);
          border-bottom: none;

          .c-tabs__tablist {
            flex-wrap: wrap;
            gap: rem(50px 24px);
            height: auto;
            padding: rem(0 $padding16px);

            @include screen(web) {
              // justify-content: center;
              gap: rem(50px 40px);
              padding: 0;
            }

            .cmp-tabs__tab {
              flex: none;
              width: auto;
              padding-left: 0 !important;
              padding-right: 0 !important;

              &--active {
                &:after {
                  @include screen(web) {
                    bottom: 0;
                    height: rem(2px);
                  }
                }
              }
            }
          }
        }
      }

      &__inner {
        position: sticky;
        left: 0;
        top: 0;
        display: block;
        border-bottom: 0;
        background-color: transparent;
        //background-color: $warm-gray;
        z-index: 1000;
        @include screen(web) {
          padding: 0;
        }
        &.c-noneSticky {
          position: static;
        }

        .c-tabs__tablist {
          scroll-behavior: smooth;
          overflow-x: unset;
          overflow-y: unset;
          gap: 0;
          padding-right: 0;
          padding-left: 0;
          display: inline-flex;
          width: 100%;
          height: rem(52px);

          @include screen(web) {
            @include flex-context;
            @include container($design-grid-full, false);
            display: flex;
            height: rem(82px);
          }

          .cmp-tabs__tab {
            width: auto;
            height: 100%;
            padding: 0 rem($padding12px);

            @include screen(web) {
              flex: 1;
              padding: 0 !important;
            }

            &:first-child {
              padding-left: rem($padding24px);
              padding-right: rem($padding12px);
            }

            &:last-child {
              padding-left: rem($padding12px);
              padding-right: rem($padding24px);
            }

            &--active {
              &:after {
                position: inherit;

                // bottom: rem(2px);
                @include screen(web) {
                  bottom: rem(4px);
                  height: rem(4px);
                }
              }
            }

            a {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 100%;
              font-size: rem(16px);
              line-height: rem(18px);
              color: $black;
              // font-weight: 700;
              text-decoration: none;

              @include screen(web) {
                font-size: rem(20px);
                line-height: rem(24px);
              }
            }
          }

          // .cmp-tabs {
          //     border: 1px solid red;
          //     &__tab {
          //         color: $gray3;

          //         &--active {
          //             color: $black;
          //         }

          //         h3 {
          //             border: 1px solid #000;
          //             word-break: break-word;
          //             white-space: normal;
          //         }
          //     }
          // }
        }
      }

      &__tabpanel {
        @include screen(web) {
          .container {
            padding-top: 0;
            padding-bottom: rem($padding48px);
            .c-info-box {
              margin-top: rem($margin24px);
              a {
                color: $active-red;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    .c-cta {
      &:nth-last-child(2) {
        margin-top: rem($margin20px);
      }
    }
  }
  //
  .c-result-wrap {
    .c-cta {
      > a {
        text-decoration: underline;
      }
    }
    @include screen(web) {
      display: flex;
      justify-content: space-between;
    }
  }
}
