@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.PD0010';
#{$component} {
  @include lgness-margin('if-headline');

  > .component > .cmp-container {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
  }

  .c-region-header {
    &__container > * {
      max-width: rem($text-box-width-md);
    }
    &__text {
      color: $gray3;
    }
  }

  // layout : margin
  .c-region-header + * {
    @include lgness-component-title-margin;
  }
}
