extends ../components/_common/_layout-template.pug
include ../components/_common/_index.pug

block meta 
    - var description = "description text"
    - var keywords = "keyword list"
    title Error-unavailable
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href="../components/CM0001/CM0001.css")
block scripts
    script(src="../components/CM0001/CM0001.js" type="module")

block header
    include ../components/CM0001/CM0001-inc.pug
    +CM0001('HOME', FirstLunching=true)

block content
    .c-error-area
        .c-error.c-error--systemcheck
            .c-error__img            
            .c-text-contents.align-text-left
                .title.c-text-contents__headline
                    h1.cmp-title.font-w-light-36.font-m-normal-28(data-cmp-data-layer="") 
                        | The LG UK website is temporarily unavailable.
                .text.c-text-contents__bodycopy 
                    p.cmp-text.font-w-normal-16.font-m-normal-12(data-cmp-data-layer="")
                        | Between the hours of 12:00 A.M and 7. AM on 6th June 2023 for maintenance work
                        br
                        | Please contact us @email address for any inquiries