extends ../components/_common/_layout-template.pug
include ../components/_common/_index.pug

block meta 
    - var description = "description text"
    - var keywords = "keyword list"
    title PBP Template
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href="../components/CM0001/CM0001.css")
    link(rel="stylesheet", href="../components/CM0002/CM0002.css")
    link(rel="stylesheet", href="../components/PD0003/PD0003.css")
    link(rel="stylesheet", href="../components/ST0053/ST0053.css")
    link(rel="stylesheet", href="../components/CM0010/CM0010.css")
    link(rel="stylesheet", href="../components/ST0023/ST0023.css")
    link(rel="stylesheet", href="../components/PD0006/PD0006.css")
    link(rel="stylesheet", href="../components/PD0004/PD0004.css")
    link(rel="stylesheet", href="../components/CM0004/CM0004.css")
    link(rel="stylesheet", href="../components/CM0007/CM0007.css")

block scripts
    script(src="../components/CM0001/CM0001.js" type="module")
    script(src="../components/CM0002/CM0002.js" type="module")
    script(src="../components/PD0003/PD0003.js" type="module")
    script(src="../components/ST0053/ST0053.js" type="module")
    script(src="../components/CM0010/CM0010.js" type="module")
    script(src="../components/ST0023/ST0023.js" type="module")
    script(src="../components/PD0006/PD0006.js" type="module")
    script(src="../components/PD0004/PD0004.js" type="module")
    script(src="../components/CM0004/CM0004.js" type="module")
    script(src="../components/CM0007/CM0007.js" type="module")

block header
    include ../components/CM0001/CM0001-inc.pug
    +CM0001('PBP')

block content
    include ../components/PD0003/PD0003-inc.pug
    +PD0003('')

    include ../components/ST0053/ST0053-inc.pug
    +ST0053('AWARD')

    include ../components/CM0004/CM0004-inc.pug
    +CM0004('PBP')

    include ../components/PD0004/PD0004-inc.pug
    +PD0004('BV2')

    include ../components/CM0010/CM0010-inc.pug
    +CM0010('PBP')

    include ../components/ST0023/ST0023-inc.pug
    +ST0023('PBP')
    
    include ../components/PD0006/PD0006-inc.pug
    +PD0006('LENGTH4')

    include ../components/CM0007/CM0007-inc.pug
    +CM0007()

block footer
    include ../components/CM0002/CM0002-inc.pug
    +CM0002()

block modal 
    +printLayerPopup('popBrowserNotSupported')
    +printLayerPopup('popRecommendedProducts')
    +printLayerPopup('popFindModel')
    +printLayerPopup('popRecommendedBanner')
    +printLayerPopup('popRecommendedProducts')
    +printLayerPopup('popProductSpecs')
    +printLayerPopup('popPayWithAfterpay')
    +printLayerPopup('popCopyComplete')
    +printLayerPopup('popSummaryGallery')
    +printLayerPopup('popStockAlert')
    +printLayerPopup('popSelectDate')
    +printLayerPopup('popFindRelayPoint')

