extends ../components/_common/_layout-template.pug
include ../components/_common/_index.pug

block meta 
    - var description = "description text"
    - var keywords = "keyword list"
    title PDP Template
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href="../components/CM0001/CM0001.css")
    link(rel="stylesheet", href="../components/CM0002/CM0002.css")
    link(rel="stylesheet", href="../components/PD0033/PD0033.css")
    link(rel="stylesheet", href="../components/PD0012/PD0012.css")
    link(rel="stylesheet", href="../components/ST0053/ST0053.css")
    link(rel="stylesheet", href="../components/PD0005/PD0005.css")
    link(rel="stylesheet", href="../components/PD0008/PD0008.css")
    link(rel="stylesheet", href="../components/PD0042/PD0042.css")
    link(rel="stylesheet", href="../components/CM0004/CM0004.css")
    link(rel="stylesheet", href="../components/PD0016/PD0016.css")
    link(rel="stylesheet", href="../components/PD0004/PD0004.css")
    link(rel="stylesheet", href="../components/PD0048/PD0048.css")
    link(rel="stylesheet", href="../components/ST0044/ST0044.css")
    link(rel="stylesheet", href="../components/CM0010/CM0010.css")
    link(rel="stylesheet", href="../components/ST0023/ST0023.css")
    link(rel="stylesheet", href="../components/PD0006/PD0006.css")
    link(rel="stylesheet", href="../components/PD0050/PD0050.css")
    link(rel="stylesheet", href="../components/PD0014/PD0014.css")
    link(rel="stylesheet", href="../components/CM0007/CM0007.css")
    link(rel="stylesheet", href="../components/ST0001/ST0001.css")
    link(rel="stylesheet", href="../components/ST0010/ST0010.css")
    link(rel="stylesheet", href="../components/ST0016/ST0016.css")

block scripts
    script(src="../components/CM0001/CM0001.js" type="module")
    script(src="../components/CM0002/CM0002.js" type="module")
    script(src="../components/PD0033/PD0033.js" type="module")
    script(src="../components/PD0012/PD0012.js" type="module")
    script(src="../components/ST0053/ST0053.js" type="module")
    script(src="../components/PD0005/PD0005.js" type="module")
    script(src="../components/PD0008/PD0008.js" type="module")
    script(src="../components/PD0042/PD0042.js" type="module")
    script(src="../components/CM0004/CM0004.js" type="module")
    script(src="../components/PD0016/PD0016.js" type="module")
    script(src="../components/PD0004/PD0004.js" type="module")
    script(src="../components/PD0048/PD0048.js" type="module")
    script(src="../components/ST0044/ST0044.js" type="module")
    script(src="../components/CM0010/CM0010.js" type="module")
    script(src="../components/ST0023/ST0023.js" type="module")
    script(src="../components/PD0006/PD0006.js" type="module")
    script(src="../components/PD0050/PD0050.js" type="module")
    script(src="../components/PD0014/PD0014.js" type="module")
    script(src="../components/CM0007/CM0007.js" type="module")

block header
    include ../components/CM0001/CM0001-inc.pug
    +CM0001('PDP')

block content

    include ../components/PD0033/_summary-price.pug
    include ../components/PD0033/PD0033-inc.pug
    +PD0033('PDP')
    
    include ../components/PD0012/PD0012-inc.pug
    +PD0012('BGUFN1', 'LG Objet Collection – Easel 65" 4K OLED evo TV')

    #pdp_features
        .c-wrapper.bg-default.border-top.margin-top.margin-bottom
            .component
                .cmp-container(style="height: 300px; text-align: center; line-height: 300px; ") Overview
        .c-wrapper.bg-default.border-top.margin-top.margin-bottom
            .component
                .cmp-container(style="height: 300px; text-align: center; line-height: 300px; ") Overview

        .c-wrapper.ST0053.bg-default.margin-top
            .component
                .cmp-container
                    .c-award-category-slide.c-award-category-slide--side-one
                        .carousel.panelcontainer
                            .cmp-carousel.swiper.c-carousel.swiper-initialized.swiper-horizontal.swiper-pointer-events.swiper-backface-hidden
                                #swiper-wrapper-7dffcf2a942557102.cmp-carousel__content.swiper-wrapper.swiper-steady(aria-live='polite' style='transform: translate3d(0px, 0px, 0px);')
                                    .cmp-carousel__item.swiper-slide.c-carousel__item.swiper-slide-active(data-cmp-hook-carousel='item' role='group' aria-label='1 / 1' style='width: 708px; margin-right: 24px;')
                                        a.c-award-category-slide__item(href='/uk/laundry/washing-machines/f4v310sse/' target='_self')
                                            .c-award-category-slide__item--image
                                                .cmp-image
                                                    img.cmp-image__image.c-image__img(alt='Quiet Mark1' loading='lazy' src='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/2022_promotion/award/180x180_quiet_mark_v1.jpg')
                                            .c-text-contents.align-text-left
                                                .title.c-text-contents__headline
                                                    h2.cmp-title.font-w-normal-24.font-m-semibold-20
                                                        | Quiet Mark
                                                .text.c-text-contents__subcopy
                                                    p.cmp-text.font-w-normal-16.font-m-semibold-16
                                                        | Washing Machines
                                                .text.c-text-contents__bodycopy.align-text-left
                                                    p.cmp-text.font-w-normal-16.font-m-normal-16
                                                    p 2022
                                                    p
                                .c-carousel__handler.hidden
                                    .cmp-carousel__actions
                                        button.cmp-carousel__action.cmp-carousel__action--previous.c-carousel__button.c-carousel__button--pagination--prev.js-carousel-prev.swiper-button-disabled.swiper-button-lock(data-cmp-hook-carousel='previous' type='button' disabled='' tabindex='-1' aria-label='Previous slide' aria-controls='swiper-wrapper-7dffcf2a942557102' aria-disabled='true')
                                            span.cmp-carousel__action-text.sr-only Previous Slide
                                    .c-carousel__indicator
                                        // pagination
                                        .cmp-carousel__indicators.c-carousel__pagination.swiper-pagination-fraction.swiper-pagination-horizontal.swiper-pagination-lock
                                            span.swiper-pagination-current 1
                                            |    / 
                                            span.swiper-pagination-total 1
                                    .cmp-carousel__actions
                                        button.cmp-carousel__action.cmp-carousel__action--next.c-carousel__button.c-carousel__button--pagination--next.js-carousel-next.swiper-button-disabled.swiper-button-lock(data-cmp-hook-carousel='next' type='button' disabled='' tabindex='-1' aria-label='Next slide' aria-controls='swiper-wrapper-7dffcf2a942557102' aria-disabled='true')
                                            span.cmp-carousel__action-text.sr-only Next Slide
                                span.swiper-notification(aria-live='assertive' aria-atomic='true')
        .c-wrapper.ST0001.width-wide
            .component.type-pdp
                .cmp-container
                    .c-hero-banner.font-white.c-hero-banner--main-pos-left.c-hero-banner--main-pos-top
                        // block : floating-contents
                        .c-floating-contents
                            .c-floating-contents__floor
                                // block : image
                                .image.c-image.c-hero-banner__image
                                    .cmp-image
                                        picture
                                            source(media='(max-width: 768px)' srcset='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/M_768x347_WM_NOTEXT.jpg')
                                            source(media='(min-width: 769px)' srcset='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/D_1600x550_WM_NOTEXT.jpg')
                                            img.cmp-image__image.c-image__img(src='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/M_768x347_WM_NOTEXT.jpg' alt='Care For What You Wear' loading='lazy')
                            .c-floating-contents__floating
                                .c-hero-banner__contents
                                    .c-floating-contents__main-contents
                                        // block : text-contents
                                        .c-text-contents.width-wide
                                            .text.font-m-normal-14.font-w-normal-20.c-text-contents__eyebrow
                                            .title.font-w-light-56.font-m-light-28.c-text-contents__headline.title-width
                                                #title-989a21aa59.cmp-title(data-cmp-data-layer='{"title-989a21aa59":{"@type":"core/wcm/components/title/v3/title","repo:modifyDate":"2023-05-02T12:15:15Z","dc:title":"Care For What You Wear"}}')
                                                    h2.cmp-title__text Care For What You Wear
                                            .text.font-m-normal-16.c-text-contents__bodycopy.font-w-normal-16
                                                #text-c2d85248df.cmp-text(data-cmp-data-layer='{"text-c2d85248df":{"@type":"lge/components/text","xdm:text":"A conscious clothing lifestyle begins with<br> small actions we take. Find out more to make<br> our clothes last longer and create a better<br> tomorrow with LG."}}')
                                                    | A conscious clothing lifestyle begins with
                                                    br
                                                    |    small actions we take. Find out more to make
                                                    br
                                                    |    our clothes last longer and create a better
                                                    br
                                                    |    tomorrow with LG.
                                            // block : cta
                                            .button.c-cta
                                                a.cmp-button.c-button.c-button--default.default.m-small.w-medium(href='/uk/laundry/' target='_self')
                                                    span.cmp-button__text.c-button__text Learn More
        .c-wrapper.ST0001.width-wide
            .component.type-default
                .cmp-container
                    .c-hero-banner.font-white.c-hero-banner--main-pos-center.c-hero-banner--main-pos-top
                        // block : floating-contents
                        .c-floating-contents
                            .c-floating-contents__floor
                                // block : image
                                .image.c-image.c-hero-banner__image
                                    .cmp-image
                                        picture
                                            source(media='(max-width: 768px)' srcset='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/WM-Vivace-V400-C4R-VCM-01-1-Vivace-Intro-Mobile.jpg')
                                            source(media='(min-width: 769px)' srcset='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/WM-Vivace-V400-C4R-VCM-01-1-Vivace-Intro-Desktop.jpg')
                                            img.cmp-image__image.c-image__img(src='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/WM-Vivace-V400-C4R-VCM-01-1-Vivace-Intro-Mobile.jpg' alt='Intelligent Care with 18% More Fabric Protection3' loading='lazy')
                            .c-floating-contents__floating
                                .c-hero-banner__contents
                                    .c-floating-contents__main-contents
                                        // block : text-contents
                                        .c-text-contents.width-wide
                                            .text.font-m-normal-14.font-w-normal-20.c-text-contents__eyebrow
                                                #text-cd956e6607.cmp-text(data-cmp-data-layer='{"text-cd956e6607":{"@type":"lge/components/text","xdm:text":"AI DD™"}}')
                                                    | AI DD&trade;
                                            .title.font-w-light-56.font-m-light-28.c-text-contents__headline.title-width
                                                #title-b80a355150.cmp-title(data-cmp-data-layer='{"title-b80a355150":{"@type":"core/wcm/components/title/v3/title","repo:modifyDate":"2023-05-02T12:15:23Z","dc:title":"Intelligent Care with 18% More Fabric Protection"}}')
                                                    h2.cmp-title__text Intelligent Care with 18% More Fabric Protection
                                            .text.font-m-normal-16.c-text-contents__bodycopy.font-w-normal-16
                                                #text-08eaebeda4.cmp-text(data-cmp-data-layer='{"text-08eaebeda4":{"@type":"lge/components/text","xdm:text":"Based on big data of accumulated washing experience, AI DD™ offers the most Optimized washing motion in order to care your laundry.<br/>"}}')
                                                    | Based on big data of accumulated washing experience, AI DD&trade; offers the most Optimized washing motion in order to care your laundry.
                                                    br
                                            // block : cta
                                            .button.c-media(data-media='dynamic')
                                                button.cmp-button.c-action-button.c-action-button--watch.c-icon.js-video-play.black.w-size24.m-size24(type='button' data-sr-text='close video' data-player-id='default' data-account-id='1432358930001' data-video-id='6174335597001' data-type='brightcove')
                                                    span.cmp-button__text.c-action-button-text Watch the Full Movie
            script(type='application/ld+json').
        .c-wrapper.ST0010.bg-default.margin-bottom
            .component.width-1600.type-disclaimer.align-text-center
                .cmp-container
                    .c-text-contents
                        .text.font-m-normal-12.c-text-contents__disclaimer.font-w-normal-16
                            #text-fd84491113.cmp-text(data-cmp-data-layer='{"text-fd84491113":{"@type":"lge/components/text","repo:modifyDate":"2023-05-06T14:05:44Z","xdm:text":"<p style=\"text-align: left;\">*Tested by Intertek on March 2019. Cotton cycle with 2kg of underwear compared to LG Conventional Cotton cycle(F4V9RWP2W vs. FC1450S2W). The results may be different depending on the clothes and environment.<br>\r\n*AI DD is available in 3 cycles.(Cotton, Mixed Fabric, Easy Care)</p>\r\n"}}')
                                p(style='	text-align: left;\
                                ')
                                    | *Tested by Intertek on March 2019. Cotton cycle with 2kg of underwear compared to LG Conventional Cotton cycle(F4V9RWP2W vs. FC1450S2W). The results may be different depending on the clothes and environment.
                                    br
                                    | *AI DD is available in 3 cycles.(Cotton, Mixed Fabric, Easy Care)
        .c-wrapper.ST0001.width-wide.bg-default
            .component.type-pdp
                .cmp-container
                    .c-hero-banner.font-black.c-hero-banner--main-pos-left.c-hero-banner--main-pos-middle
                        // block : floating-contents
                        .c-floating-contents
                            .c-floating-contents__floor
                                // block : image
                                .image.c-image.c-hero-banner__image
                                    .cmp-image
                                        picture
                                            source(media='(max-width: 768px)' srcset='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/WM-Vivace-V400-C4R-VCM-02-AIDD-Mobile.jpg')
                                            source(media='(min-width: 769px)' srcset='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/WM-Vivace-V400-C4R-VCM-02-AIDD-Desktop.jpg')
                                            img.cmp-image__image.c-image__img(src='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/WM-Vivace-V400-C4R-VCM-02-AIDD-Mobile.jpg' alt='What is AI DD™?1' loading='lazy')
                            .c-floating-contents__floating
                                .c-hero-banner__contents
                                    .c-floating-contents__main-contents
                                        // block : text-contents
                                        .c-text-contents.width-narrow
                                            .text.font-m-normal-14.font-w-normal-20.c-text-contents__eyebrow
                                            .title.font-w-light-56.font-m-light-28.c-text-contents__headline.title-width
                                                #title-c7dea6bc5d.cmp-title(data-cmp-data-layer='{"title-c7dea6bc5d":{"@type":"core/wcm/components/title/v3/title","repo:modifyDate":"2023-05-02T12:15:44Z","dc:title":"What is AI DD™?"}}')
                                                    h2.cmp-title__text What is AI DD&trade;?
                                            .text.font-m-normal-16.c-text-contents__bodycopy.font-w-normal-16
                                                #text-c290c508c7.cmp-text(data-cmp-data-layer='{"text-c290c508c7":{"@type":"lge/components/text","xdm:text":"The AI DD™ detects not only the weight, but also senses softness of fabric, and it chooses the optimal motions for the fabric by itself."}}')
                                                    | The AI DD&trade; detects not only the weight, but also senses softness of fabric, and it chooses the optimal motions for the fabric by itself.
                                            // block : cta
        .c-wrapper.ST0001.width-wide.bg-default
            .component.type-default
                .cmp-container
                    .c-hero-banner.font-black.c-hero-banner--main-pos-center.c-hero-banner--main-pos-middle
                        // block : floating-contents
                        .c-floating-contents
                            .c-floating-contents__floor
                                // block : image
                                .image.c-image.c-hero-banner__image
                                    .cmp-image
                                        picture
                                            source(media='(max-width: 768px)' srcset='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/WM-Vivace-V400-C4R-VCM-03-1-Steam-Plus-Mobile.jpg')
                                            source(media='(min-width: 769px)' srcset='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/WM-Vivace-V400-C4R-VCM-03-1-Steam-Plus-Desktop.jpg')
                                            img.cmp-image__image.c-image__img(src='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/WM-Vivace-V400-C4R-VCM-03-1-Steam-Plus-Mobile.jpg' alt='More Hygienic3' loading='lazy')
                            .c-floating-contents__floating
                                .c-hero-banner__contents
                                    .c-floating-contents__main-contents
                                        // block : text-contents
                                        .c-text-contents.width-wide
                                            .text.font-m-normal-14.font-w-normal-20.c-text-contents__eyebrow
                                                #text-a21d2e74f4.cmp-text(data-cmp-data-layer='{"text-a21d2e74f4":{"@type":"lge/components/text","xdm:text":"Steam™"}}')
                                                    | Steam&trade;
                                            .title.font-w-light-56.font-m-light-28.c-text-contents__headline.title-width
                                                #title-877461010b.cmp-title(data-cmp-data-layer='{"title-877461010b":{"@type":"core/wcm/components/title/v3/title","repo:modifyDate":"2023-05-02T12:16:13Z","dc:title":"More Hygienic"}}')
                                                    h2.cmp-title__text More Hygienic
                                            .text.font-m-normal-16.c-text-contents__bodycopy.font-w-normal-16
                                                #text-d6f3c1b7f7.cmp-text(data-cmp-data-layer='{"text-d6f3c1b7f7":{"@type":"lge/components/text","xdm:text":"LG Steam™ technology eliminates 99.9% of allergens, such as dust mites that can cause allergy or respiratory issues.<br/>"}}')
                                                    | LG Steam&trade; technology eliminates 99.9% of allergens, such as dust mites that can cause allergy or respiratory issues.
                                                    br
                                            // block : cta
                                            .button.c-media(data-media='dynamic')
                                                button.cmp-button.c-action-button.c-action-button--watch.c-icon.js-video-play.black.w-size24.m-size24(type='button' data-sr-text='close video' data-player-id='default' data-account-id='1432358930001' data-video-id='6179036480001' data-type='brightcove')
                                                    span.cmp-button__text.c-action-button-text Watch the Full Movie
            script(type='application/ld+json').
        .c-wrapper.ST0016.bg-default.margin-top
            .component
                .cmp-container
                    // block : folding
                    .c-folding
                        .c-folding__wrapper
                            .c-folding__basic-area
                                .c-folding__inner
                                    .c-folding__text.align-left
                                        // block : text-contents
                                        .c-text-contents
                                            .text.font-m-semibold-18.font-w-semibold-24.c-text-contents__eyebrow
                                            .title.font-w-light-56.font-m-light-28.c-text-contents__headline.title-width
                                            .text.font-m-semibold-18.c-text-contents__interviewee-name.font-w-semibold-24
                                            .text.font-m-normal-14.c-text-contents__interviewee-info.font-w-normal-16
                                            .text.font-m-normal-16.font-w-normal-20.c-text-contents__bodycopy
                                            // block :cta
                                    .c-media-contents
                                        // block : image
                                        .image.c-image
                                            .cmp-image
                                                picture
                                                    source(media='(max-width: 1024px)' srcset='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/WM-Vivace-V400-C4R-VCM-03-2-Steam-Plus-Mobile.jpg')
                                                    source(media='(min-width: 1025px)' srcset='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/WM-Vivace-V400-C4R-VCM-03-2-Steam-Plus-Desktop.jpg')
                                                    img.cmp-image__image.c-image__img(src='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/WM-Vivace-V400-C4R-VCM-03-2-Steam-Plus-Mobile.jpg' alt='WM-Vivace-V400-C4R-VCM-03-2-Steam-Plus-Desktop' loading='lazy')
                                            // block : video
                                            // block : animation
                                            .c-media(data-media='static')
                                                .c-media__container
                                                    video.c-media__video.js-video.c-media__video--loaded(loop='' muted='' playsinline='' preload='none')
                                                        source(src='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/WM-Vivace-Steam-Plus.mp4' type='video/mp4')
                                                    .button.c-media__controls
                                                        button.cmp-button.c-media__button.c-media__button--play.js-video-play(type='button' disabled='')
                                                            span.cmp-button__text.c-media__button-text.sr-only Play video
                                                        button.cmp-button.c-media__button.c-media__button--pause.js-video-pause(type='button')
                                                            span.cmp-button__text.c-media__button-text.sr-only Pause video
                            // Folding Area
                            // The class is changed according to the arrangement type. (list/child-card)
                        .c-folding__under.align-left
                            .c-folding__inner
                                // block : text-contents
                                .c-text-contents
                                    .text.font-m-normal-14i.c-text-contents__disclaimer.font-w-normal-14i
        .c-wrapper.ST0010.bg-default.margin-bottom
            .component.width-1600.type-disclaimer.align-text-left
                .cmp-container
                    .c-text-contents
                        .text.font-m-normal-12.c-text-contents__disclaimer.font-w-normal-16
                            #text-ba195791c8.cmp-text(data-cmp-data-layer='{"text-ba195791c8":{"@type":"lge/components/text","repo:modifyDate":"2023-04-10T01:35:15Z","xdm:text":"<p style=\"text-align: left;\">*Allergy Care cycle certified by BAF (British Allergy Foundation) reduces 99.9% house dust mite allergen.</p>\r\n"}}')
                                p(style='	text-align: left;\
                                ')
                                    | *Allergy Care cycle certified by BAF (British Allergy Foundation) reduces 99.9% house dust mite allergen.
        .c-wrapper.ST0001.width-wide
            .component.type-pdp
                .cmp-container
                    .c-hero-banner.font-black.c-hero-banner--main-pos-left.c-hero-banner--main-pos-middle
                        // block : floating-contents
                        .c-floating-contents
                            .c-floating-contents__floor
                                // block : image
                                .image.c-image.c-hero-banner__image
                                    .cmp-image
                                        picture
                                            source(media='(max-width: 768px)' srcset='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/WM-Vivace-V400-C4R-VCM-04-Steam-Plus-info-Mobile.jpg')
                                            source(media='(min-width: 769px)' srcset='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/WM-Vivace-V400-C4R-VCM-04-Steam-Plus-info-Desktop.jpg')
                                            img.cmp-image__image.c-image__img(src='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/WM-Vivace-V400-C4R-VCM-04-Steam-Plus-info-Mobile.jpg' alt='99.9% Allergen Removal1' loading='lazy')
                            .c-floating-contents__floating
                                .c-hero-banner__contents
                                    .c-floating-contents__main-contents
                                        // block : text-contents
                                        .c-text-contents.width-wide
                                            .text.font-m-normal-14.font-w-normal-20.c-text-contents__eyebrow
                                            .title.font-w-light-56.font-m-light-28.c-text-contents__headline.title-width
                                                #title-67822d809c.cmp-title(data-cmp-data-layer='{"title-67822d809c":{"@type":"core/wcm/components/title/v3/title","repo:modifyDate":"2023-05-02T12:16:43Z","dc:title":"99.9% Allergen Removal"}}')
                                                    h2.cmp-title__text 99.9% Allergen Removal
                                            .text.font-m-normal-16.c-text-contents__bodycopy.font-w-normal-16
                                                #text-4f51317941.cmp-text(data-cmp-data-layer='{"text-4f51317941":{"@type":"lge/components/text","xdm:text":"Allergens reduced up to 99.9% by Steam.<br/>"}}')
                                                    | Allergens reduced up to 99.9% by Steam.
                                                    br
                                            // block : cta
        .c-wrapper.ST0001.width-wide.bg-default
            .component.type-pdp
                .cmp-container
                    .c-hero-banner.font-black.c-hero-banner--main-pos-center.c-hero-banner--main-pos-top
                        // block : floating-contents
                        .c-floating-contents
                            .c-floating-contents__floor
                                // block : image
                                .image.c-image.c-hero-banner__image
                                    .cmp-image
                                        picture
                                            source(media='(max-width: 768px)' srcset='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/WM-Vivace-V700-VC3-VCM-07-1-Bigger-Capacity-Mobile_v3.gif')
                                            source(media='(min-width: 769px)' srcset='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/WM-Vivace-V700-VC3-VCM-07-1-Bigger-Capacity-Desktop1.gif')
                                            img.cmp-image__image.c-image__img(src='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/WM-Vivace-V700-VC3-VCM-07-1-Bigger-Capacity-Mobile_v3.gif' alt='Bigger Capacity in the Same Space' loading='lazy')
                            .c-floating-contents__floating
                                .c-hero-banner__contents
                                    .c-floating-contents__main-contents
                                        // block : text-contents
                                        .c-text-contents.width-wide
                                            .text.font-m-normal-14.font-w-normal-20.c-text-contents__eyebrow
                                                #text-0c68098ccb.cmp-text(data-cmp-data-layer='{"text-0c68098ccb":{"@type":"lge/components/text","xdm:text":"Bigger Capacity"}}')
                                                    | Bigger Capacity
                                            .title.font-w-light-56.font-m-light-28.c-text-contents__headline.title-width
                                                #title-aa8b46aa88.cmp-title(data-cmp-data-layer='{"title-aa8b46aa88":{"@type":"core/wcm/components/title/v3/title","repo:modifyDate":"2023-05-02T12:16:50Z","dc:title":"Bigger Capacity in the Same Space"}}')
                                                    h2.cmp-title__text Bigger Capacity in the Same Space
                                            .text.font-m-normal-16.c-text-contents__bodycopy.font-w-normal-16
                                                #text-65a6132eb3.cmp-text(data-cmp-data-layer='{"text-65a6132eb3":{"@type":"lge/components/text","xdm:text":"Get bigger drum capacity in same size﻿!"}}')
                                                    | Get bigger drum capacity in same size&#xFEFF;!
                                            // block : cta
                                            .button.c-media(data-media='dynamic')
                                                button.cmp-button.c-action-button.c-action-button--watch.c-icon.js-video-play.black.w-size24.m-size24(type='button' data-sr-text='close video' data-player-id='default' data-account-id='1432358930001' data-video-id='6178761013001' data-type='brightcove')
                                                    span.cmp-button__text.c-action-button-text Watch the Full Movie
            script(type='application/ld+json').
        .c-wrapper.ST0001.width-wide
            .component.type-pdp
                .cmp-container
                    .c-hero-banner.font-black.c-hero-banner--main-pos-right.c-hero-banner--main-pos-middle
                        // block : floating-contents
                        .c-floating-contents
                            .c-floating-contents__floor
                                // block : image
                                .image.c-image.c-hero-banner__image
                                    .cmp-image
                                        picture
                                            source(media='(max-width: 768px)' srcset='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/WM-Vivace-V400-C4R-05-1-Druability-Stainless-Steel-Lifter-Mobile.jpg')
                                            source(media='(min-width: 769px)' srcset='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/WM-Vivace-V400-C4R-05-1-Druability-Stainless-Steel-Lifter-Desktop.jpg')
                                            img.cmp-image__image.c-image__img(src='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/WM-Vivace-V400-C4R-05-1-Druability-Stainless-Steel-Lifter-Mobile.jpg' alt='Stainless Lifter' loading='lazy')
                            .c-floating-contents__floating
                                .c-hero-banner__contents
                                    .c-floating-contents__main-contents
                                        // block : text-contents
                                        .c-text-contents.width-narrow
                                            .text.font-m-normal-14.font-w-normal-20.c-text-contents__eyebrow
                                            .title.font-w-light-56.font-m-light-28.c-text-contents__headline.title-width
                                                #title-a4f71c0924.cmp-title(data-cmp-data-layer='{"title-a4f71c0924":{"@type":"core/wcm/components/title/v3/title","repo:modifyDate":"2023-05-02T12:17:03Z","dc:title":"Stainless Lifter"}}')
                                                    h2.cmp-title__text Stainless Lifter
                                            .text.font-m-normal-16.c-text-contents__bodycopy.font-w-normal-16
                                                #text-448886f633.cmp-text(data-cmp-data-layer='{"text-448886f633":{"@type":"lge/components/text","xdm:text":"Lifters in the drum prevent clothes from tangling together inside the drum during washing cycles. A lifter made of stainless is more durable and more hygienic than plastic materials."}}')
                                                    | Lifters in the drum prevent clothes from tangling together inside the drum during washing cycles. A lifter made of stainless is more durable and more hygienic than plastic materials.
                                            // block : cta
                                            .button.c-media(data-media='dynamic')
                                                button.cmp-button.c-action-button.c-action-button--watch.c-icon.js-video-play.black.w-size24.m-size24(type='button' data-sr-text='close video' data-player-id='default' data-account-id='1432358930001' data-video-id='6174335660001' data-type='brightcove')
                                                    span.cmp-button__text.c-action-button-text Watch the Full Movie
            script(type='application/ld+json').
        .c-wrapper.ST0001.width-wide.margin-top
            .component.type-pdp
                .cmp-container
                    .c-hero-banner.font-black.c-hero-banner--main-pos-left.c-hero-banner--main-pos-middle
                        // block : floating-contents
                        .c-floating-contents
                            .c-floating-contents__floor
                                // block : image
                                .image.c-image.c-hero-banner__image
                                    .cmp-image
                                        picture
                                            source(media='(max-width: 768px)' srcset='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/WM-Vivace-V400-C4R-VCM-06-Design-larger-display-Mobile.jpg')
                                            source(media='(min-width: 769px)' srcset='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/WM-Vivace-V400-C4R-VCM-06-Design-larger-display-Desktop.jpg')
                                            img.cmp-image__image.c-image__img(src='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/WM-Vivace-V400-C4R-VCM-06-Design-larger-display-Mobile.jpg' alt='More Visible and Elegant1' loading='lazy')
                            .c-floating-contents__floating
                                .c-hero-banner__contents
                                    .c-floating-contents__main-contents
                                        // block : text-contents
                                        .c-text-contents.width-wide
                                            .text.font-m-normal-14.font-w-normal-20.c-text-contents__eyebrow
                                                #text-b344a4c9e1.cmp-text(data-cmp-data-layer='{"text-b344a4c9e1":{"@type":"lge/components/text","xdm:text":"Design"}}')
                                                    | Design
                                            .title.font-w-light-56.font-m-light-28.c-text-contents__headline.title-width
                                                #title-4765485a1c.cmp-title(data-cmp-data-layer='{"title-4765485a1c":{"@type":"core/wcm/components/title/v3/title","repo:modifyDate":"2023-05-02T12:17:14Z","dc:title":"More Visible and Elegant"}}')
                                                    h2.cmp-title__text More Visible and Elegant
                                            .text.font-m-normal-16.c-text-contents__bodycopy.font-w-normal-16
                                                #text-038aa89203.cmp-text(data-cmp-data-layer='{"text-038aa89203":{"@type":"lge/components/text","xdm:text":"Made a more visible display and increased the knob size.<br/>"}}')
                                                    | Made a more visible display and increased the knob size.
                                                    br
                                            // block : cta
        .c-wrapper.ST0001.width-wide.margin-top
            .component.type-pdp
                .cmp-container
                    .c-hero-banner.font-black.c-hero-banner--main-pos-left.c-hero-banner--main-pos-top
                        // block : floating-contents
                        .c-floating-contents
                            .c-floating-contents__floor
                                // block : image
                                .image.c-image.c-hero-banner__image
                                    .cmp-image
                                        picture
                                            source(media='(max-width: 768px)' srcset='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/Global_BrandHistory_WM_2017_Feature_M-v2.jpg')
                                            source(media='(min-width: 769px)' srcset='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/Global_BrandHistory_WM_2017_Feature_D-v2.jpg')
                                            img.cmp-image__image.c-image__img(src='https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/WM/features/Global_BrandHistory_WM_2017_Feature_M-v2.jpg' alt='Timeline of LG Brand History - Innovation Leadership' loading='lazy')
                            .c-floating-contents__floating
                                .c-hero-banner__contents
                                    .c-floating-contents__main-contents
                                        // block : text-contents
                                        .c-text-contents.width-wide
                                            .text.font-m-normal-14.font-w-normal-20.c-text-contents__eyebrow
                                            .title.c-text-contents__headline.title-width
                                            .text.font-m-normal-16.c-text-contents__bodycopy.font-w-normal-16
                                            // block : cta
        .c-wrapper.ST0010.bg-default.margin-bottom
            .component.width-1600.type-disclaimer.align-text-left
                .cmp-container
                    .c-text-contents
                        .text.font-m-normal-12.c-text-contents__disclaimer.font-w-normal-16
                            #text-ce9ab35fd6.cmp-text(data-cmp-data-layer='{"text-ce9ab35fd6":{"@type":"lge/components/text","repo:modifyDate":"2023-05-06T14:08:53Z","xdm:text":"<p>*Features shown are relevant to the global portfolio of products and some may not be relevant to the UK market.</p>\r\n<p>*The recommended maximum capacity for each washing programme may differ, please refer to the owner’s manual for further details.<br>\r\n</p>\r\n"}}')
                                p
                                    | *Features shown are relevant to the global portfolio of products and some may not be relevant to the UK market.
                                p
                                    | *The recommended maximum capacity for each washing programme may differ, please refer to the owner&rsquo;s manual for further details.
                                    br


        include ../components/ST0053/ST0053-inc.pug
        +ST0053('AWARD')

    #pdp_box
        include ../components/PD0048/PD0048-inc.pug
        +PD0048('MORE4')

    #pdp_gallery
        include ../components/PD0005/PD0005-inc.pug
        +PD0005('')

    #pdp_spec
        include ../components/PD0008/PD0008-inc.pug
        +PD0008('PDP')

    #pdp_compare
        include ../components/PD0042/PD0042-inc.pug
        +PD0042(false, 4)

    #pdp_review
        include ../components/PD0004/PD0004-inc.pug
        +PD0004('BV2')

    #pdp_faq
        include ../components/PD0050/PD0050-inc.pug
        +PD0050()

    #pdp_support
        include ../components/ST0044/ST0044-inc.pug
        +ST0044('PDP')

        include ../components/CM0004/CM0004-inc.pug
        +CM0004('')

        include ../components/CM0010/CM0010-inc.pug
        +CM0010('PDP')

        //- include ../components/ST0023/ST0023-inc.pug
        //- +ST0023('PDP')
    
        include ../components/PD0006/PD0006-inc.pug
        +PD0006('LENGTH4')

    #pdp_where
        include ../components/PD0016/PD0016-inc.pug
        +PD0016('PDP')

    include ../components/PD0014/PD0014-inc.pug
    +PD0014('')

    include ../components/CM0007/CM0007-inc.pug
    +CM0007()

block footer
    include ../components/CM0002/CM0002-inc.pug
    +CM0002()

block modal 
    +printLayerPopup('popBrowserNotSupported')
    +printLayerPopup('popRecommendedProducts')
    +printLayerPopup('popPromotions')

