extends ../components/_common/_layout-template.pug
include ../components/_common/_index.pug

block meta 
    - var description = "description text"
    - var keywords = "keyword list"
    title PDP Template
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href="../components/CM0001/CM0001.css")
    link(rel="stylesheet", href="../components/CM0002/CM0002.css")
    link(rel="stylesheet", href="../components/PD0033/PD0033.css")
    link(rel="stylesheet", href="../components/PD0012/PD0012.css")
    link(rel="stylesheet", href="../components/ST0053/ST0053.css")
    link(rel="stylesheet", href="../components/PD0005/PD0005.css")
    link(rel="stylesheet", href="../components/PD0008/PD0008.css")
    link(rel="stylesheet", href="../components/PD0042/PD0042.css")
    link(rel="stylesheet", href="../components/CM0004/CM0004.css")
    link(rel="stylesheet", href="../components/PD0016/PD0016.css")
    link(rel="stylesheet", href="../components/PD0004/PD0004.css")
    link(rel="stylesheet", href="../components/PD0048/PD0048.css")
    link(rel="stylesheet", href="../components/ST0044/ST0044.css")
    link(rel="stylesheet", href="../components/CM0010/CM0010.css")
    link(rel="stylesheet", href="../components/ST0023/ST0023.css")
    link(rel="stylesheet", href="../components/PD0006/PD0006.css")
    link(rel="stylesheet", href="../components/PD0050/PD0050.css")
    link(rel="stylesheet", href="../components/PD0014/PD0014.css")
    link(rel="stylesheet", href="../components/CM0007/CM0007.css")

block scripts
    script(src="../components/CM0001/CM0001.js" type="module")
    script(src="../components/CM0002/CM0002.js" type="module")
    script(src="../components/PD0033/PD0033.js" type="module")
    script(src="../components/PD0012/PD0012.js" type="module")
    script(src="../components/ST0053/ST0053.js" type="module")
    script(src="../components/PD0005/PD0005.js" type="module")
    script(src="../components/PD0008/PD0008.js" type="module")
    script(src="../components/PD0042/PD0042.js" type="module")
    script(src="../components/CM0004/CM0004.js" type="module")
    script(src="../components/PD0016/PD0016.js" type="module")
    script(src="../components/PD0004/PD0004.js" type="module")
    script(src="../components/PD0048/PD0048.js" type="module")
    script(src="../components/ST0044/ST0044.js" type="module")
    script(src="../components/CM0010/CM0010.js" type="module")
    script(src="../components/ST0023/ST0023.js" type="module")
    script(src="../components/PD0006/PD0006.js" type="module")
    script(src="../components/PD0050/PD0050.js" type="module")
    script(src="../components/PD0014/PD0014.js" type="module")
    script(src="../components/CM0007/CM0007.js" type="module")

block header
    include ../components/CM0001/CM0001-inc.pug
    +CM0001('PDP')

block content

    include ../components/PD0033/_summary-price.pug
    include ../components/PD0033/PD0033-inc.pug
    +PD0033('PDP')
    
    include ../components/PD0012/PD0012-inc.pug
    //- +PD0012('BGUFN', 'LG ND5520 Docking Station making life simple Delivering outstanding sound from your iPodiPhone  iPad listening to your favourite tunes on your FM radio')
    +PD0012('BGUFN1', 'LG Objet Collection – Easel 65" 4K OLED evo TV')

    #pdp_features
        .c-wrapper.bg-default.border-top.margin-top.margin-bottom
            .component
                .cmp-container(style="height: 300px; text-align: center; line-height: 300px; ") Overview
        .c-wrapper.bg-default.border-top.margin-top.margin-bottom
            .component
                .cmp-container(style="height: 300px; text-align: center; line-height: 300px; ") Overview

        include ../components/ST0053/ST0053-inc.pug
        +ST0053('AWARD')

    #pdp_box
        include ../components/PD0048/PD0048-inc.pug
        +PD0048('MORE4')

    #pdp_gallery
        include ../components/PD0005/PD0005-inc.pug
        +PD0005('')

    #pdp_spec
        include ../components/PD0008/PD0008-inc.pug
        +PD0008('PDP')

    #pdp_compare
        include ../components/PD0042/PD0042-inc.pug
        +PD0042(false, 4)

    #pdp_review
        include ../components/PD0004/PD0004-inc.pug
        +PD0004('BV2')

    #pdp_faq
        include ../components/PD0050/PD0050-inc.pug
        +PD0050()

    #pdp_support
        include ../components/ST0044/ST0044-inc.pug
        +ST0044('PDP')

        include ../components/CM0004/CM0004-inc.pug
        +CM0004('')

        include ../components/CM0010/CM0010-inc.pug
        +CM0010('PDP')

        //- include ../components/ST0023/ST0023-inc.pug
        //- +ST0023('PDP')
    
        include ../components/PD0006/PD0006-inc.pug
        +PD0006('LENGTH4')

    #pdp_where
        include ../components/PD0016/PD0016-inc.pug
        +PD0016('PDP')

    include ../components/PD0014/PD0014-inc.pug
    +PD0014('')

    include ../components/CM0007/CM0007-inc.pug
    +CM0007()

block footer
    include ../components/CM0002/CM0002-inc.pug
    +CM0002()

block modal 
    +printLayerPopup('popBrowserNotSupported')
    +printLayerPopup('popRecommendedProducts')
    +printLayerPopup('popPromotions')

