extends ../components/_common/_layout-template.pug
include ../components/_common/_index.pug

block meta 
    - var description = "description text"
    - var keywords = "keyword list"
    title PLP Template
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href="../components/CM0001/CM0001.css")
    link(rel="stylesheet", href="../components/CM0002/CM0002.css")
    link(rel="stylesheet", href="../components/PD0033/PD0033.css")
    link(rel="stylesheet", href="../components/PD0001/PD0001.css")
    link(rel="stylesheet", href="../components/ST0044/ST0044.css")
    link(rel="stylesheet", href="../components/CM0004/CM0004.css")
    link(rel="stylesheet", href="../components/CM0010/CM0010.css")
    link(rel="stylesheet", href="../components/ST0023/ST0023.css")
    link(rel="stylesheet", href="../components/PD0006/PD0006.css")
    link(rel="stylesheet", href="../components/PD0014/PD0014.css")
    link(rel="stylesheet", href="../components/CM0007/CM0007.css")

block scripts
    script(src="../components/CM0001/CM0001.js" type="module")
    script(src="../components/CM0002/CM0002.js" type="module")
    script(src="../components/PD0033/PD0033.js" type="module")
    script(src="../components/PD0001/PD0001.js" type="module")
    script(src="../components/ST0044/ST0044.js" type="module")
    script(src="../components/CM0004/CM0004.js" type="module")
    script(src="../components/CM0010/CM0010.js" type="module")
    script(src="../components/ST0023/ST0023.js" type="module")
    script(src="../components/PD0006/PD0006.js" type="module")
    script(src="../components/PD0014/PD0014.js" type="module")
    script(src="../components/CM0007/CM0007.js" type="module")

block header
    include ../components/CM0001/CM0001-inc.pug
    +CM0001('PLP')

block content
    include ../components/PD0033/PD0033-inc.pug
    +PD0033('PLP')

    include ../components/PD0001/PD0001-inc.pug
    +PD0001('PLP')

    include ../components/ST0044/ST0044-inc.pug
    +ST0044('PLP')

    include ../components/CM0004/CM0004-inc.pug
    +CM0004('')

    include ../components/CM0010/CM0010-inc.pug
    +CM0010('PLP')

    include ../components/ST0023/ST0023-inc.pug
    +ST0023('PLP')
    
    include ../components/PD0006/PD0006-inc.pug
    +PD0006('LENGTH4')

    include ../components/PD0014/PD0014-inc.pug
    +PD0014('')

    include ../components/CM0007/CM0007-inc.pug
    +CM0007()

block footer
    include ../components/CM0002/CM0002-inc.pug
    +CM0002()

block modal 
    +printLayerPopup('popBrowserNotSupported')
    +printLayerPopup('popRecommendedProducts')
    +printLayerPopup('popCopyComplete')
    +printLayerPopup('popStockAlert')
