@charset "UTF-8";
@use '../../scss/abstract/' as *;

.c-pop-side {
  $side: '.c-pop-side';
  position: fixed;
  display: flex;
  z-index: -$stacking-ceil;
  bottom: 0;
  left: 50%;
  right: 0;
  width: rem($max-width328px);
  @include inset-padding-hz(mobile);
  padding: rem($padding50px 0 $padding30px);
  transform: translateY(100%) translateX(-50%);
  transition: all 0.6s;
  @include screen(web) {
    right: auto;
    left: 0;
    width: rem($width430px + $padding30px);
    padding: rem(0 0 $padding20px $padding30px);
    transform: translateY(calc(100% + 90px));
  }
  &:focus,
  &:focus-within {
    outline: none;
  }
  &.active {
    transform: translateY(0) translateX(-50%);
    z-index: $stacking-ceil;
    @include screen(web) {
      transform: translateY(0);
    }
  }
  &__container {
    position: relative;
    @include lgness-radius('default');
    background-color: $warm-gray;
    border: rem($border1) solid $mid-gray1;
    box-shadow: rem(0 $shadow8 $shadow12) rgba($black, 0.25);
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: rem($padding30px $padding30px $padding20px);
    @include screen(web) {
      padding: rem($padding40px $padding40px $padding30px);
    }
    .c-text-contents {
      $text-contents: '.c-text-contents';
      margin-top: rem($margin20px);
      @at-root #{$side} {
        #{$text-contents}__headline + #{$text-contents}__bodycopy {
          margin-top: rem($margin10px);
        }
      }
      .radio-text {
        padding: rem($padding12px $padding10px);
        border-radius: rem(28px);
        background-color: $white;
        color: $gray3;
        span {
          color: $active-red;
        }
      }
      .pop-btn {
        font-size: rem(12px);
        margin-top: rem($margin6px);
        @include screen(web) {
          margin-top: rem($margin8px);
        }
      }
    }
  }
  &__count {
    padding: rem($padding8px $padding10px);
    margin-top: rem($margin20px);
    @include lgness-radius('default');
    color: $mid-gray2;
    background-color: $white;
    @include screen(web) {
      margin-top: rem($margin24px);
      padding: rem($padding12px $padding10px);
    }
    strong {
      color: $active-red;
    }
  }
  &__close {
    // modifier
    &--on-top {
      position: absolute;
      top: 0;
      right: 0;
      @include screen(web) {
        top: rem($margin8px);
        right: rem($margin8px);
      }
    }
  }
  &__close-button {
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    @at-root #{$side}__close--on-top #{$side}__close-button {
      width: rem($width44px);
      height: rem($height44px);

      $icon: '&:before';
      #{$icon} {
        content: '';
        display: block;
        width: rem($icon12px);
        height: rem($icon12px);
        background : {
          image: url($icon-close-black-12-12);
          position: 100% center;
          size: 100%;
          repeat: no-repeat;
        }
      }
    }
  }
  &__image {
    position: relative;
    &.inside {
      .c-image {
        margin-top: 0 !important;
      }
    }
    .c-image {
      width: rem($width210px);
      margin-left: auto;
      margin-right: auto;
      margin-top: rem(-($margin50px + $margin30px));
      @include screen(web) {
        margin-top: rem(-($margin50px + $margin40px));
      }
      @include screen(web) {
        width: auto;
      }
      &__img {
        width: auto;
      }
    }
    .c-empty {
      width: rem(74px);
      height: rem(36px);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      position: absolute;
      top: rem(54px);
      left: 38%;
      transform: rotateZ(-27deg);
      @include screen(mobile) {
        left: 30%;
      }
    }
    .empty_text {
      font-size: rem(14px);
      line-height: rem(18px);
      color: $white;
      word-break: break-word;
      @include ellipsis(2);
    }
  }
  .c-cta {
    justify-content: center;
    margin-top: rem($margin20px);
    @include screen(web) {
      margin-top: rem($margin14px);
    }
  }
}

#exclusiveCoupon {
  .c-pop-msg__container {
    max-width: rem(430px);
    padding: rem(40px 40px 30px);
    .c-pop-msg__header {
      margin-top: rem(20px);
      padding-bottom: rem(6px);
      .c-text-contents {
        .c-text-contents__headline {
          .cmp-title {
            text-align: center;
          }
        }
      }
    }
    .c-text-couponDesc {
      font-size: rem(16px);
      line-height: rem(20px);
      color: $gray3;
      text-align: center;
      @media (max-width: 768px) {
        font-size: rem(14px);
        line-height: rem(16px);
      }
    }
    .c-text-couponBox {
      width: rem(210px);
      height: rem(120px);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;
      font-size: rem(24px);
      line-height: rem(28px);
      color: $white;
      padding: rem(32px 92px 32px 24px);
      background-image: url('../../assets/image/secret-coupon-bg_210-120.png');
      background-position: center;
      background-repeat: no-repeat;
      margin: rem(24px) auto;
      box-shadow: 1px 13px 10px -11px rgb(0 0 0 / 30%);
      border-radius: rem(12px);
    }
    .c-text-couponInfo {
      width: rem(348px);
      height: rem(161px);
      margin-top: rem(24px);
      padding: rem(16px);
      background: $white;
      border-radius: rem(16px);
      overflow: hidden;
      @media (max-width: 768px) {
        margin-top: rem(20px);
      }
      p {
        font-weight: $font-semibold;
        color: $black;
        text-align: left;
        margin-bottom: rem(4px);
        padding-left: rem(24px);
        position: relative;
        &::before {
          content: '';
          width: rem(16px);
          height: rem(16px);
          display: block;
          background-image: url($icon-information-black-16-16);
          background-position: center;
          background-repeat: no-repeat;
          background-size: rem(16px 16px);
          position: absolute;
          top: rem(4px);
          left: 0;
        }
      }
      ul,
      li {
        padding: 0;
        margin: 0;
        list-style: none;
      }
      ul {
        overflow-y: auto;
        height: calc(100% - rem(26px));
      }
      li {
        font-size: rem(14px);
        line-height: rem(16px);
        color: #333;
        margin-top: rem(4px);
        position: relative;
        padding-left: rem(11px);
        &:first-child {
          margin-top: 0;
        }
        &::before {
          content: '';
          width: rem(3px);
          height: rem(3px);
          display: block;
          background: $mid-gray2;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: rem(7px);
        }
      }
    }
    .c-cta {
      justify-content: center;
      margin-top: rem(20px);
      .c-button {
        min-width: rem(130px);
      }
    }
    .c-pop-msg__close--on-top {
      .c-pop-msg__close-button {
        &:before {
          width: rem(12px);
          height: rem(12px);
          background: url($icon-close-black-12-12) center / contain no-repeat;
        }
      }
    }
  }
}
