@charset "UTF-8";

@use '../../scss/abstract/' as *;

.PR0015 {
  @include lgness-margin('if-headline');
  > .component > .cmp-container {
    position: relative;
    @include container($design-grid-full, true);
    @include inset-padding-hz;
  }
  .c-region-header {
    display: flex;
    align-items: center;
    margin-bottom: rem($margin12px);
    max-width: calc(100% - rem(80px));
    @include screen(custom, rem(768px), min) {
      margin-bottom: rem($margin20px);
      max-width: calc(100% - rem(220px));
    }
  }

  // vendor : fit to this component
  .swiper {
    position: static;
    overflow: initial;
  }

  // Feature List
  // .feature-list { Spare class }
  .card-item {
    position: relative;
    max-width: 100%;
    width: rem(286px);
    height: rem(400px);
    margin-right: rem(10px);
    overflow: hidden;
    border-radius: rem(28px);
    transition: all 0.4s ease;
    @include screen(custom, rem(768px), min) {
      width: rem(403px);
      height: rem(500px);
      margin-right: rem(24px);
    }
    &:last-child {
      margin-right: 0;
    }
    @mixin hover-effect {
      box-shadow: rem(0 0 12px) rgba($black, 0.6);
      .back-contents {
        .image,
        video {
          transform: scale(1.1);
        }
      }
    }
    @at-root .device-mo &.swiper-slide-active:not(.has-video) {
      @include hover-effect;
    }
    @at-root .device-mo &.swiper-slide-active.has-video {
      box-shadow: rem(0 0 12px) rgba($black, 0.6);
    }
    @at-root .device-pc &:hover {
      @include hover-effect;
    }
    &.wide-medium {
      @include screen(custom, rem(768px), min) {
        width: rem(525px);
      }
    }
    &.wide-large {
      @include screen(custom, rem(768px), min) {
        width: rem(830px);
      }
    }
    .contents-area {
      position: absolute;
      top: 0;
      z-index: 5;
      width: 100%;
      color: $white;
      padding: rem(20px);
      line-height: 1.2;
      // background: linear-gradient(rgba(0,0,0, 1), rgba(0,0,0, 0.6) 30%, transparent);
      @at-root .device-mo & {
        will-change: opacity, transform;
      }
      @include screen(custom, rem(768px), min) {
        padding: rem(32px);
      }
    }
    .eyebrow {
      margin-bottom: rem(8px);
    }
    .body-copy {
      margin-top: rem(8px);
    }
    .btn-container {
      margin-top: rem(12px);
      @include screen(custom, rem(768px), min) {
        margin-top: rem(24px);
      }
    }
    .back-contents {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      // transition: all .4s ease;
      // Image
      .cmp-image,
      .c-image {
        height: 100%;
        transition: all 0.4s ease;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      // Video
      .video-container {
        position: relative;
        height: 100%;
        .thumbnail-cover {
          position: absolute;
          z-index: 10;
          top: 0;
          left: 0;
          height: 100%;
          transition: all ease 0.2s;
          opacity: 1;
          @at-root .device-mo & {
            will-change: opacity, transform;
          }
          &.hide {
            opacity: 0;
          }
        }
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          background-color: $gray6;
          transition: all 0.4s ease;
        }
        .c-media__controls {
          z-index: 10;
          bottom: rem(23px);
          @at-root .device-mo & {
            will-change: opacity, transform;
          }
          @include screen(custom, rem(768px), min) {
            bottom: rem(32px);
          }
          .c-media__button {
            &::before {
              width: rem(32px);
              height: rem(32px);
            }
          }
        }
      }
    }
    // reset popup callback button
    .c-media:not(.button) {
      position: absolute;
      top: 0;
    }
    .c-media--floating .c-media__button {
      top: 50%;
      height: rem(120px);
      width: rem(120px);
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
