@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.CT000E';
#{$component} {
  $mycomponent: '.my-component';
  .my-component {
    @include container($design-grid-full, true);
    @include inset-padding-hz;

    $mycomponent: '.my-component';
    position: relative;
    @include screen(mobile) {
      padding-left: 0;
      padding-right: 0;
    }
    &.margin-top {
      padding-top: rem($padding20px);
      @include screen(web) {
        padding-top: rem($padding40px);
      }
    }
    &--buy {
      position: unset;
      @include screen(web) {
        display: flex;
        justify-content: space-between;
        @include flex-context;
        gap: 0 rem(24px);
        padding-bottom: rem($padding100px);
      }
      @include screen(mobile) {
        padding-left: rem($padding25px);
        padding-right: rem($padding25px);
      }
      @media (min-width: $mobile) and (max-width: rem(980px)) {
        display: block;
        padding-bottom: 0;
        padding-left: rem($padding25px);
        padding-right: rem($padding25px);
      }
    }
  }
  .buy-summary-area {
    &.my-component {
      @include screen(mobile) {
        padding: 0;
        padding-top: rem($padding20px);
      }
      @media (min-width: $mobile) and (max-width: rem(980px)) {
        padding: 0;
        padding-top: rem($padding20px);
      }
    }
    &--margin-top {
      @include screen(web) {
        margin-top: rem($margin40px);
      }
    }
    &__primary {
      @include screen(web) {
        padding: 0;
        width: 100%;
      }
      .buy-checkout {
        @include screen(web) {
          background-color: $white;
          padding: rem($padding48px);
          @include lgness-radius('default');
        }
        @media (min-width: $mobile) and (max-width: rem(980px)) {
          background-color: transparent;
          padding: 0;
          border-radius: 0;
        }
      }
    }
    &__secondary {
      @include screen(web) {
        width: 100%;
        max-width: rem(464px);
      }
    }
    &__payment {
      @include screen(web) {
        position: sticky;
        left: 0;
        top: rem(24px);
      }
      @media (min-width: $mobile) and (max-width: rem(980px)) {
        position: initial;
      }
    }
  }
  .buy-checkout__tabpanel {
    display: none;
    &--active {
      display: block;
    }
  }
  .cart-price-total .c-product-pay-cta {
    @include screen(web) {
      margin-top: rem($margin16px);
    }
  }
  .cart-price-total .c-product-price-sticky .c-product-pay-cta.button {
    margin-top: rem($margin12px);
  }
  .c-price-box__item {
    border-color: $mid-gray1;
  }
  .c-product-price-information.active {
    .c-price-info {
      &:first-child {
        margin-top: 0;
      }
      margin-top: rem($margin12px);
      &-detail {
        margin-top: 0;
      }
      & + .c-price-info-detail {
        margin-top: rem($margin4px);
      }
    }
  }
  .cart-price-total .c-product-price--expand-bottom {
    @include screen(mobile) {
      padding: 0 rem($padding16px) rem($padding24px);
      .c-product-price-information.active {
        background-color: $white;
        padding: 0 rem($padding16px) rem($padding20px);
        @include lgness-radius('default');
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        .c-price-box__item {
          border-color: $light-gray3;
        }
        .c-product-price-information__inner {
          border-color: $mid-gray1;
        }
        .c-price-info {
          &:first-child {
            margin-top: 0;
          }
          margin-top: rem($margin12px);
          &-detail {
            margin-top: 0;
          }
          & + .c-price-info-detail {
            margin-top: rem($margin4px);
          }
        }
        .c-product-pay-cta.button {
          margin-top: rem($margin16px);
        }
      }
    }
  }
}
.CT-buy-checkout__DR {
  background-color: transparent !important;
  &::before {
    content: none !important;
  }
  @include screen(mobile) {
    padding: 0 rem($padding16px);
  }
}
