//- Updated 2024.05.16 16:20
extends ../../components/_common/_layout-template.pug
include ../../components/_common/_index.pug

block meta 
    - var description = "description text"
    - var keywords = "keyword list"
    title Checkout Guest
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href="../../components/CM0001/CM0001.css")
    link(rel="stylesheet", href="../../components/CM0002/CM0002.css")
    link(rel="stylesheet", href="../../components/CT000E/CT000E.css")
    link(rel="stylesheet", href="../../components/CT000C/CT0300.css")
    link(rel="stylesheet", href="../../components/CT000C/CT0303.css")
    link(rel="stylesheet", href="../../components/CT000C/CT0304.css")
    link(rel="stylesheet", href="../../components/CM0007/CM0007.css")

block scripts
    script(src="../../components/CM0001/CM0001.js" type="module")
    script(src="../../components/CM0002/CM0002.js" type="module")
    script(src="../../components/CT000E/CT000E.js" type="module")
    script(src="../../components/CT000C/CT0300.js" type="module")
    script(src="../../components/CM0007/CM0007.js" type="module")

block header
    include ../../components/CM0001/CM0001-inc.pug
    +CM0001()

block content
    // Component Markup
    .c-wrapper.no-crop.CT000E
        .component
            .fluid-container
                include ../../components/CT000C/CT0304-inc.pug
                +CT0304()
                .my-component.my-component--buy.buy-summary-area.margin-top
                    .buy-summary-area__primary.buy-summary-area__primary--padding.shipping_address
                        .buy-checkout
                            #tabs-guest-tabpanel.buy-checkout__tabpanel.buy-checkout__tabpanel--active(tabindex=0, role="tabpanel" aria-labelledby="tab_guest")
                                include ../../components/CT000C/CT0300-inc.pug
                                +CT0300('checkout')
                            #tabs-member-tabpanel.buy-checkout__tabpanel(tabindex=-1, role="tabpanel" aria-labelledby="tab_member")
                                include ../../components/CT000C/CT0300-inc.pug
                                +CT0300('member')
                        include ../../components/CT000C/CT0303-inc.pug
                        +footerInfoDR
                    .buy-summary-area__secondary
                        .buy-summary-area__payment.buy-sticky-no
                            +cartPriceTotal([
                                {
                                    isMobileBottomFixed: true,
                                    isStickyBottom: true,
                                    useToggleFoldBtn: true,
                                    taxInclude: true,
                                    discount: true,
                                    coupon: false,
                                    delivery: true,
                                    service: true,
                                    payAtDoor: true,
                                    card: false,
                                    point: false,
                                    checkoutDiscount: "£0.00",
                                    btnName:"Place Order",
                                    close: true,
                                    isBtnDisabled: true,
                                },
                            ])    
    include ../../components/CM0007/CM0007-inc.pug
    +CM0007()

block footer
    include ../../components/CM0002/CM0002-inc.pug
    +CM0002