@charset "UTF-8";
// module
@use '../../scss/abstract/' as *;
.component > .fluid-container {
  @include container($maximum, true);
}

$component: '.CT000E';
#{$component} {
  .my-component {
    @include container($design-grid-full, true);
    @include inset-padding-hz;

    $mycomponent: '.my-component';
    position: relative;
    overflow: hidden;
    &.margin-top {
      padding-top: rem($padding20px);
      @include screen(web) {
        padding-top: rem($padding50px);
      }
    }
    &.margin-bottom {
      padding-bottom: rem($padding20px);
      @include screen(web) {
        padding-bottom: rem($padding50px);
      }
    }
    &--maximum {
      @include container($maximum, true);
      padding: 0;
    }
    &.margin-top--40 {
      padding-top: rem($padding40px);
    }
    &.margin-top--pc40--mo16 {
      padding-top: rem($padding16px);
      @include screen(web) {
        padding-top: rem($padding40px);
      }
    }
  }
  @include screen(mobile) {
    .font-m-normal-12 {
      font-size: rem(12px);
      line-height: rem(14px);
      font-weight: $font-regular;
    }
    .font-m-semibold-12 {
      font-size: rem(12px);
      line-height: rem(14px);
      font-weight: $font-semibold;
    }
  }
  .tabs__wide {
    .cmp-tabs {
      &__inner {
        margin-bottom: 0;
        width: 100%;
        border-bottom: rem($border1) solid $graye6;
      }
      &__tablist {
        padding: 0;
        margin: 0 auto;
        width: 100%;
        max-width: rem(1440px);
        gap: 0;
        @include screen(mobile) {
          padding: 0 rem($padding25px);
          justify-content: flex-start;
          gap: rem(24px);
        }
      }
      &__tab {
        padding: rem(27px) 0;
        @include screen(web) {
          flex: 1;
        }
        @include screen(mobile) {
          padding: rem($padding19px) 0;
        }
        &.cmp-tabs__tab {
          color: $gray3;
          &--active {
            color: $black;
            &:after {
              bottom: 0;
              height: rem($height2px);
              @include screen(web) {
                height: rem($height4px);
              }
            }
          }
        }
      }
      &__tabpanel {
        @include container($design-grid-full, true);
        @include inset-padding-hz;
        @include screen(mobile) {
          padding-left: 0;
          padding-right: 0;
          max-width: 100%;
        }
      }
    }
    .my-order-container {
      max-width: rem(1200px);
      margin: rem($margin40px) auto;
      @include screen(web) {
        margin-top: rem($margin60px);
      }
      @include screen(mobile) {
        &:first-child {
          margin-top: 0;
        }
      }
      .my-order {
        padding: rem($padding24px) rem($padding40px);
        @include screen(mobile) {
          padding: rem($padding20px) rem($padding25px);
        }
      }
      & > .my-orderlist {
        padding: 0;
        ul {
          li {
            position: relative;
            @include screen(web) {
              padding: rem($padding40px) rem($padding40px);
              .button.isReturnBtn {
                position: absolute;
                left: rem(240px);
                bottom: rem(72px);
              }
            }
          }
        }
        .my-orderlist__img {
          @include screen(web) {
            max-width: rem($width160px);
          }
        }
        .c-text-contents__title {
          & + .button {
            margin-top: rem($margin10px);
            @include screen(web) {
              margin-top: rem($margin12px);
            }
          }
        }
        .button {
          margin-top: rem($margin12px);
        }
      }
      & > .button-cancel:last-child {
        margin-top: rem($margin30px);
        @include screen(web) {
          margin-top: rem($margin40px);
        }
      }
    }
  }
  .my-input {
    text-align: left;
    margin-top: rem($margin20px);
    @include screen(web) {
      margin-top: rem($margin40px);
    }
    ul {
      @include reset-list-style;
      li {
        width: 100%;
      }
      li + li {
        margin-top: rem($margin44px);
        @include screen(mobile) {
          margin-top: rem($margin20px);
        }
      }
      .c-input-item {
        position: relative;
        label {
          color: $gray3;
        }
        .my-input__password {
          padding-right: rem($padding45px);
        }
        &.active {
          .my-form__eye {
            background: url($icon-mylg-view-on-24-24) center / contain no-repeat;
          }
        }
        & + .c-checkbox-item {
          @include screen(mobile) {
            margin-top: rem($margin20px);
          }
        }
      }
    }
    input {
      padding: rem($padding13px) rem($padding16px);
      @include screen(web) {
        font-size: rem(14px);
      }
      &[data-placeholder]::before {
        color: $gray6;
        font-size: rem(14px);
      }
      &[type='password'] {
        padding-right: rem($padding45px);
      }
      &[readonly] {
        background-color: $ivory6;
        &::placeholder {
          color: $grayb;
        }
      }
      &[disabled] {
        background-color: $ivory6;
        &::placeholder {
          color: $grayb;
        }
      }
    }
    .c-text-contents {
      margin-bottom: rem($margin30px);
      @include screen(web) {
        margin-bottom: rem($margin40px);
      }
      &__bodycopy {
        margin: 0 auto;
        margin-top: rem($margin10px);
        max-width: rem(450px);
      }
    }
    .c-checkbox-item {
      margin-top: rem($margin8px);
      .label {
        font-size: rem(16px);
        @include screen(web) {
          font-size: rem(14px);
        }
      }
    }
    .button {
      justify-content: center;
      margin-top: rem($margin30px);
    }
    .my-form {
      &__eye {
        display: inline-block;
        background: url($icon-mylg-view-32-32) center / contain no-repeat;
        position: absolute;
        top: calc(50% - -2px);
        right: rem(15px);
        width: rem($width24px);
        height: rem($height24px);
        border: none;
        cursor: pointer;
      }
    }
    .my-warn {
      padding-right: rem($padding40px);
      border-color: $red;
      select {
        border-color: $red;
      }
    }
    .c-search-box__form.my-warn {
      padding-right: 0;
    }
    .c-warning {
      margin-top: rem($margin8px);
    }
    .c-select-item select {
      color: $gray6;
      option[selected] {
        color: $gray3;
      }
    }
  }
  .my-linkedlogin-icon {
    @include reset-list-style;
    display: flex;
    justify-content: center;
    margin-top: rem($margin10px);
    a {
      border: none;
    }
    li + li {
      margin-left: rem($margin8px);
      @include screen(web) {
        margin-left: rem($margin24px);
      }
    }
    &__ico-box {
      background-color: $ivory6;
      border-radius: 50%;
      display: flex;
      width: rem(52px);
      height: rem(52px);
      justify-content: center;
      align-items: center;
      @include screen(web) {
        width: rem(98px);
        height: rem(98px);
      }
    }
    &__ico {
      display: block;
      width: rem(16px);
      height: rem(16px);
      @include screen(web) {
        width: rem(30px);
        height: rem(30px);
      }
      &--apple {
        background: url($icon-apple-color-30-30) center / contain no-repeat;
      }
      &--amazon {
        background: url($icon-amazon-color-30-30) center / contain no-repeat;
      }
      &--google {
        background: url($icon-google-color-30-30) center / contain no-repeat;
      }
      &--facebook {
        background: url($icon-facebook-color-30-30) center / contain no-repeat;
      }
    }
  }
  .buy-login {
    .tabs__wide .cmp-tabs__tabpanel {
      max-width: none;
      padding-left: 0;
      padding-right: 0;
    }
    .my-link-content {
      padding: rem($padding30px) 0;
      @include screen(web) {
        padding: rem($padding50px) 0;
      }
    }
    &__tabs {
      .cmp-tabs__tablist {
        max-width: rem(708px);
        @include screen(mobile) {
          padding: 0;
          .cmp-tabs__tab {
            flex: 1;
          }
        }
      }
    }
    &__form {
      margin-top: rem($margin40px);
      @include screen(mobile) {
        margin-top: rem($margin20px);
        padding: 0 rem($padding25px);
      }
    }
    .my-signIn {
      &__list__check {
        .label {
          font-size: rem(16px);
          @include screen(web) {
            font-size: rem(14px);
          }
        }
        .button.c-cta {
          align-items: center;
          margin-top: 0;
        }
      }
      &__text {
        padding-bottom: rem($padding10px);
        @include screen(mobile) {
          margin-top: rem($margin30px);
          padding-top: 0;
          padding-bottom: rem($padding20px);
        }
      }
    }
    .my-linkedlogin-icon {
      margin-top: 0;
    }
    &__button {
      margin: 0 auto;
      margin-top: rem($margin20px);
      margin-bottom: rem($margin12px);
      max-width: rem(408px);
      @include screen(web) {
        margin-bottom: rem($margin16px);
        display: flex;
        gap: rem(8px);
        .button {
          flex: 1;
          margin-top: 0 !important;
        }
      }
      @include screen(mobile) {
        .c-cta {
          margin-top: rem($margin22px);
          &:first-child {
            margin-top: 0 !important;
          }
          &:last-child {
            margin-top: rem(6px);
          }
        }
      }
      .button {
        .cmp-button {
          padding: 0;
          @include screen(mobile) {
            width: 100%;
          }
        }
      }
    }
    &--check {
      max-width: rem(708px);
      margin: 0 auto;
      &__desc {
        text-align: center;
        margin-bottom: rem($margin20px);
        @include screen(web) {
          margin-bottom: rem($margin30px);
        }
        & + .my-input {
          margin-top: 0;
        }
      }
      &__button {
        justify-content: center;
        margin-top: rem($margin20px);
        @include screen(mobile) {
          margin-top: rem($margin10px);
          .cmp-button {
            width: 100%;
            height: rem(50px);
          }
        }
      }
    }
  }
  .my-formbox {
    margin: 0 auto;
    max-width: rem(708px);
    .c-cta {
      margin-top: rem($margin60px);
      justify-content: center;
    }
    .my-formbox__button {
      margin-top: rem($margin60px);
      @include screen(mobile) {
        margin-top: rem($margin32px);
        justify-content: space-between;
      }
      .c-button {
        @include screen(mobile) {
          min-width: calc(50% - rem(5px));
        }
      }
    }
  }
  .my-signIn {
    display: flex;
    border: $border1 solid $grayd;
    @include lgness-radius('default');
    padding: rem($padding60px);
    margin-bottom: rem($margin40px);
    .my-component {
      overflow: unset;
    }
    @include screen(tablet) {
      flex-flow: column;
      border: 0;
    }
    @include screen(mobile) {
      flex-flow: column;
      padding: 0;
      margin-bottom: 0;
      border: 0;
    }
    &__item {
      width: 50%;
      .c-text-contents__bodycopy {
        margin-top: rem($margin10px);
      }
      & + & {
        border-left: rem($border1) solid $grayd;
        padding-left: rem($padding60px);
        margin-left: rem($margin60px);
      }
      @include screen(tablet) {
        width: 100%;
        & + & {
          border-left: 0;
          border-top: rem($border1) solid $grayd;
          padding-left: 0;
          margin-left: 0;
          padding-top: rem($padding30px);
          margin-top: rem($margin30px);
        }
      }
      @include screen(mobile) {
        width: 100%;
        & + & {
          border-left: 0;
          border-top: rem($border1) solid $grayd;
          padding-left: 0;
          margin-left: 0;
          padding-top: rem($padding30px);
        }
      }
    }
    .my-formbox {
      @include screen(mobile) {
        margin-top: rem($margin40px);
      }
      .c-cta {
        margin-top: 0;
      }
      .my-input ul li + li {
        @include screen(web) {
          margin-top: rem($margin44px);
        }
      }
    }
    &__list {
      margin-top: rem($margin20px);
      @include screen(web) {
        margin-top: rem($margin40px);
      }
      &:first-child {
        margin-top: 0;
      }
      .my-linkedlogin-icon {
        @include screen(mobile) {
          margin-bottom: rem($margin40px);
        }
      }
      &__check {
        margin-top: rem($margin20px);
        .c-cta {
          justify-content: space-between;
          align-items: center;
        }
      }
      &__button {
        margin-top: rem($margin24px);
        @include screen(web) {
          display: flex;
          justify-content: center;
          gap: 0 rem(10px);
        }
        @include screen(mobile) {
          .button {
            &:first-child {
              margin-bottom: rem($margin5px);
            }
            .cmp-button {
              width: 100%;
            }
          }
        }
        .c-cta {
          justify-content: center;
        }
      }
      .my-linkedlogin {
        &-list {
          margin-top: rem($margin10px);
        }
        &-icon {
          li + li {
            margin-left: rem($margin15px);
          }
          &__ico-box {
            background-color: $ivory6;
            border: 0;
            cursor: pointer;
          }
        }
      }
    }
    &__text {
      text-align: center;
      margin-top: rem($margin20px);
      @include lgness-radius('default');
      color: $gray6;
      @include screen(mobile) {
        margin-top: rem($margin20px);
        padding: rem($padding15px) 0 rem($padding15px);
      }
    }
    .my-membership__item {
      padding: rem($padding20px) 0;
      @include screen(mobile) {
        padding: rem($padding20px) rem($padding10px);
      }
    }
  }
  .my-link-content {
    padding-top: rem($margin100px);
    padding-bottom: rem($margin100px);
    background-color: $ivory6;
    @include screen(mobile) {
      padding: rem($margin40px) rem($margin25px);
    }
    &__desc {
      margin-top: rem($margin8px);
      @include screen(web) {
        margin-top: rem($margin10px);
      }
    }
    .button {
      display: flex;
      justify-content: center;
      margin-top: rem($margin20px);
      gap: rem(($margin10px, $margin6px));
      @include screen(web) {
        margin-top: rem($margin24px);
        gap: rem(($margin10px, $margin8px));
      }
      &.margin--pc40-mo30 {
        margin-top: rem($margin40px);
        @include screen(mobile) {
          margin-top: rem($margin30px);
        }
      }
      &.margin--pc40-mo20 {
        margin-top: rem($margin40px);
        @include screen(mobile) {
          margin-top: rem($margin20px);
        }
      }
    }
  }
}
