@charset "UTF-8";
// module
@use '../../scss/abstract/' as *;
.component > .fluid-container {
  @include container($maximum, true);
}

$component: '.CT502';
#{$component} {
  .my-component {
    @include container($design-grid-full, true);
    @include inset-padding-hz;

    $mycomponent: '.my-component';
    position: relative;
    overflow: hidden;
    &.margin-top {
      padding-top: rem($padding20px);
      @include screen(web) {
        padding-top: rem($padding50px);
      }
    }
    &.margin-bottom {
      padding-bottom: rem($padding20px);
      @include screen(web) {
        padding-bottom: rem($padding50px);
      }
    }
    &--maximum {
      @include container($maximum, true);
      padding: 0;
    }
    &.margin-top--40 {
      padding-top: rem($padding40px);
    }
    &.margin-top--pc40--mo16 {
      padding-top: rem($padding16px);
      @include screen(web) {
        padding-top: rem($padding40px);
      }
    }
  }
  @include screen(mobile) {
    .font-m-normal-12 {
      font-size: rem(12px);
      line-height: rem(14px);
      font-weight: $font-regular;
    }
    .font-m-semibold-12 {
      font-size: rem(12px);
      line-height: rem(14px);
      font-weight: $font-semibold;
    }
  }
  // - B2B sign up : Or Line 2023-06-08
  h4.divLine {
    display: flex;
    align-items: center;
    width: rem($width260px);
    margin: 0 auto;
    margin-top: rem($margin20px);
    &:before,
    &:after {
      content: '';
      flex: 1;
      height: 1px;
      margin: 0 1em;
      background: $mid-gray1;
    }
    @include screen(web) {
      width: rem($width450px);
      margin-top: rem($margin10px);
    }
  }
  .my-linkedlogin-icon {
    @include reset-list-style;
    display: flex;
    justify-content: center;
    // margin-top: rem($margin10px);
    a {
      border: none;
    }
    li + li {
      margin-left: rem($margin8px);
      @include screen(web) {
        margin-left: rem($margin24px);
      }
    }
    &__ico-box {
      background-color: $ivory6;
      border-radius: 50%;
      display: flex;
      width: rem(52px);
      height: rem(52px);
      justify-content: center;
      align-items: center;
      @include screen(web) {
        width: rem(98px);
        height: rem(98px);
      }
    }
    &__ico {
      display: block;
      width: rem(16px);
      height: rem(16px);
      @include screen(web) {
        width: rem(30px);
        height: rem(30px);
      }
      &--apple {
        background: url($icon-apple-color-30-30) center / contain no-repeat;
      }
      &--amazon {
        background: url($icon-amazon-color-30-30) center / contain no-repeat;
      }
      &--google {
        background: url($icon-google-color-30-30) center / contain no-repeat;
      }
      &--facebook {
        background: url($icon-facebook-color-30-30) center / contain no-repeat;
      }
    }
  }
  .my-signIn {
    display: flex;
    border: $border1 solid $grayd;
    @include lgness-radius('default');
    padding: rem($padding60px);
    margin-bottom: rem($margin40px);
    .my-component {
      overflow: unset;
    }
    @include screen(tablet) {
      flex-flow: column;
      border: 0;
    }
    @include screen(mobile) {
      flex-flow: column;
      padding: 0;
      margin-bottom: 0;
      border: 0;
    }
    &__item {
      width: 50%;
      .c-text-contents__bodycopy {
        margin-top: rem($margin10px);
      }
      & + & {
        border-left: rem($border1) solid $grayd;
        padding-left: rem($padding60px);
        margin-left: rem($margin60px);
      }
      @include screen(tablet) {
        width: 100%;
        & + & {
          border-left: 0;
          border-top: rem($border1) solid $grayd;
          padding-left: 0;
          margin-left: 0;
          padding-top: rem($padding30px);
          margin-top: rem($margin30px);
        }
      }
      @include screen(mobile) {
        width: 100%;
        & + & {
          border-left: 0;
          border-top: rem($border1) solid $grayd;
          padding-left: 0;
          margin-left: 0;
          padding-top: rem($padding30px);
        }
      }
    }
    &__list {
      margin-top: rem($margin20px);
      @include screen(web) {
        margin-top: rem($margin40px);
      }
      .my-linkedlogin-icon {
        @include screen(mobile) {
          margin-bottom: rem($margin40px);
        }
      }
      &__check {
        margin-top: rem($margin20px);
        .c-cta {
          justify-content: space-between;
          align-items: center;
        }
      }
      &__button {
        margin-top: rem($margin24px);
        @include screen(web) {
          display: flex;
          justify-content: center;
          gap: 0 rem(10px);
        }
        @include screen(mobile) {
          .button {
            &:first-child {
              margin-bottom: rem($margin5px);
            }
            .cmp-button {
              width: 100%;
            }
          }
        }
        .c-cta {
          justify-content: center;
        }
      }
      .my-linkedlogin {
        &-list {
          margin-top: rem($margin10px);
        }
        &-icon {
          li + li {
            margin-left: rem($margin15px);
          }
          &__ico-box {
            background-color: $ivory6;
            border: 0;
            cursor: pointer;
          }
        }
      }
    }
    &__text {
      text-align: center;
      margin-top: rem($margin30px);
      padding-bottom: rem($padding20px);
      @include lgness-radius('default');
      color: $gray6;
      @include screen(web) {
        margin-top: rem($margin40px);
        padding-bottom: rem($padding15px);
      }
    }
  }
}
