@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.PD0050';
#{$component} {
  @include lgness-margin('if-headline');

  // element
  > .component > .cmp-container {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
  }

  // block
  .c-cta {
    // ...
  }
  .c-accordion {
    $block: '.c-accordion';

    border-top: rem($border1) solid $mid-gray1;
    &__box {
      border-bottom: rem($border1) solid $mid-gray1;
      // variation
      // expand
      &--expand {
        @include screen(mobile) {
          border-bottom: none;
        }
        #{$block}__body {
          @include screen(web) {
            display: flex;
          }
        }
      }
    }
    &__head {
      position: relative;
      padding: rem($padding16px 0);
      @include screen(web) {
        padding: rem($padding20px 0);
      }
    }
    &__head-text {
      display: flex;
      padding-right: rem(columns(1, false, mobile) * 0.5);
      @include screen(web) {
        padding-right: rem(columns(1, true));
      }
    }
    &__body {
      background-color: $white;
      padding: rem($padding20px);
      @include lgness-radius('default');
      @include screen(web) {
        display: flex;
        column-gap: min(rem($gutter-w), calc(100% * $gutter-w / $design-grid-full));
        padding: rem($padding24px);
        margin-bottom: rem($margin24px);
      }
    }
    &__body-text {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      @include screen(web) {
        flex-basis: rem(columns(7, false));
        min-width: rem(columns(3));
        &:only-child {
          flex-basis: rem(columns(9, false));
        }
      }
      .c-text-contents__bodycopy {
        flex: 1;
      }
      .c-cta {
        width: 100%;
      }
    }
    &__body-image {
      @include screen(web) {
        flex-basis: rem(columns(5, false));
      }
      &:empty {
        display: none;
      }
      img {
        overflow: hidden;
        @include lgness-radius('inner');
      }
    }
    &__button {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding-top: rem($padding22px);
      @include screen(web) {
        align-items: center;
        padding-top: 0;
      }
    }
  }

  // layout : margin
  $image: '.c-image';
  $text: '.c-text-contents';
  $cta: '.c-cta';
  $accordion: '.c-accordion';
  $initial-spell-size: $width18px;
  $initial-spell-size-m: $width14px;

  .c-region-header + * {
    @include lgness-component-title-margin;
  }

  #{$accordion}__initial {
    min-width: rem($initial-spell-size-m);
    margin-right: rem($margin8px);
    @include screen(web) {
      min-width: rem($initial-spell-size);
      margin-right: rem($margin10px);
    }
  }
  #{$accordion}__body {
    #{$cta} {
      margin-top: rem($margin12px);
      @include screen(web) {
        margin-top: rem($margin20px);
      }
    }
    #{$cta},
    #{$image} {
      padding-left: rem($initial-spell-size-m + $margin8px);
      @include screen(web) {
        padding-left: rem($initial-spell-size + $margin10px);
      }
    }
  }
  #{$accordion}__body-text + #{$accordion}__body-image {
    @include screen(mobile) {
      margin-top: rem($margin12px);
    }
  }
}
