@charset "UTF-8";
@use '../../scss/abstract/' as *;
@use '../CS0000/CS0000' as *;

hr {
  border: none;
  margin: 0;
  height: 1px;
  &.cs- {
    &mSmall {
      height: rem($height12px);
    }
    &mMedium {
      height: rem($height18px);
    }
    &mLarge {
      height: rem($height24px);
    }
    &mXlarge {
      height: rem($height30px);
    }
    &wSmall {
      @include screen(web) {
        height: rem($height24px);
      }
    }
    &wMedium {
      @include screen(web) {
        height: rem($height36px);
      }
    }
    &wLarge {
      @include screen(web) {
        height: rem($height48px);
      }
    }
    &wXlarge {
      @include screen(web) {
        height: rem($height60px);
      }
    }
  }
}
