@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.MB000A';
.component > .fluid-container {
  @include container($maximum, true);
}
#{$component} {
  .only-pc {
    @include screen(mobile) {
      display: none !important;
    }
  }
  .only-mo {
    @include screen(web) {
      display: none !important;
    }
  }
  .my-component {
    @include container($design-grid-full, true);

    $mycomponent: '.my-component';
    position: relative;
    overflow: hidden;
    @include screen(web) {
      @include inset-padding-hz;
    }
    &__wrap {
      &.margin-top {
        padding-top: rem($padding20px);
        @include screen(web) {
          padding-top: rem($padding50px);
        }
      }
      &.margin-bottom {
        padding-bottom: rem($padding20px);
        @include screen(web) {
          padding-bottom: rem($padding50px);
        }
      }
    }
    @include screen(web) {
      @include inset-padding-hz;
      // max-width: 100%;
    }
    &.no-crop {
      overflow: initial;
    }
    // (Exceptions: template titles, product summary, etc.)
    &.margin-top {
      padding-top: rem($padding20px);
      @include screen(web) {
        padding-top: rem($padding64px);
      }
    }
    &.margin-bottom {
      padding-bottom: rem($padding20px);
      @include screen(web) {
        padding-bottom: rem($padding64px);
      }
    }
    .my-signin--item {
      border-top: rem($border1) solid $grayd;
    }
    & > .c-text-contents > .c-text-contents__bodycopy {
      margin-top: rem($margin10px);
    }
    & > .c-product-list--carousel {
      padding-left: 0;
      padding-right: 0;
    }
    &.my-topBorder {
      padding-top: rem($padding40px);
      border-top: rem(12px) solid $ivory6;
      @include screen(web) {
        border-top: none;
      }
    }
    .c-button--circle {
      border: 1px solid $graycb;
    }
    .my-signInform {
      &__text {
        margin-top: rem($margin20px);
        @include screen(web) {
          margin-top: rem($margin24px);
        }
        .security-box {
          margin-top: rem($margin8px);
          width: 100%;
          height: rem(60px);
        }
      }
    }
    .c-warning,
    .c-valid {
      padding-left: rem($padding13px);
      &::before {
        display: none;
      }
      margin-top: rem($margin4px);
      &:first-child {
        margin-top: rem($margin6px);
      }
      @include screen(web) {
        margin-top: rem($margin6px);
        &:first-child {
          margin-top: rem($margin8px);
        }
      }
    }
    & > .button.my-button__block-m {
      @include screen(mobile) {
        margin-left: rem($margin25px);
        margin-right: rem($margin25px);
      }
    }
    .c-support__inner {
      @include screen(web) {
        padding: 0;
      }
    }
  }
  .my-signIn__titleline {
    margin-bottom: rem($margin40px);
    @include screen(mobile) {
      margin-bottom: rem($margin20px);
    }
    .cmp-title {
      margin-bottom: rem($margin8px);
    }
  }
  .toast-popup,
  .toast-aria {
    margin-top: rem($margin16px);
  }
  .my-signIn {
    $mysignInitem: '.my-signIn__item';
    display: flex;
    gap: rem(24px);
    @include screen(mobile) {
      // padding: rem($padding20px) rem($padding16px);
      // border-top: rem($border1) solid $grayd;
      flex-flow: column;
      margin-bottom: 0;
    }
    @include screen(tablet) {
      padding: rem($padding20px) rem($padding16px);
      gap: rem(24px);
    }
    &__container {
      padding: rem($padding20px) rem($padding16px);
      @include lgness-radius('all');
      background: $white;
      @include screen(web) {
        padding: rem($padding24px);
      }
    }
    .my-component {
      overflow: unset;
    }
    @include screen(tablet) {
      flex-flow: column;
      border: 0;
    }
    &__item {
      width: 100%;
      @include screen(mobile) {
        padding: rem($padding20px) rem($padding16px);
      }
      @include screen(tablet) {
        width: 100%;
        & + #{$mysignInitem} {
          border-left: 0;
          border-top: rem($border1) solid $grayd;
          padding-left: 0;
          margin-left: 0;
          padding-top: rem($padding30px);
          margin-top: rem($margin30px);
        }
      }
      @include screen(web) {
        width: 100%;
        border-top: none;
      }
      & + .my-signIn__item {
        @include screen(mobile) {
          border-top: rem($border1) solid $grayd;
          padding-top: rem($padding20px);
        }
      }
      .c-text-contents {
        .title {
          .cmp-title {
            br {
              display: none;
              @include screen(web) {
                display: block;
              }
            }
          }
        }
      }
    }
    .my-formbox {
      @include screen(web) {
        margin-top: 0;
      }
      .c-cta {
        margin-top: 0;
      }
      .my-input ul li + li {
        @include screen(web) {
          margin-top: rem(23px);
        }
      }
      .c-text-contents__bodycopy {
        margin-top: rem($margin16px);
      }
    }
    &__list {
      .my-signIn__list {
        margin-top: rem($margin24px);
        @include screen(web) {
          margin-top: rem($margin32px);
        }
      }
      .my-linkedlogin-icon {
        margin-bottom: rem($margin20px);
        @include screen(web) {
          margin-bottom: rem(64px);
        }
      }
      &__check {
        margin-top: rem($margin24px);
        .c-cta {
          justify-content: space-between;
          align-items: center;
          @include screen(mobile) {
            justify-content: inherit;
            display: block;
            text-align: center;
          }
          .cmp-button {
            margin-top: rem($margin16px);
            @include screen(web) {
              margin-top: 0;
            }
          }
        }
      }
      &__button {
        margin-top: rem(27px);
        display: flex;
        justify-content: center;
        gap: 0 rem($gutter-m);
        @include screen(mobile) {
          display: block;
          .button {
            &:first-child {
              margin-bottom: rem($margin5px);
            }
            .cmp-button {
              width: 100%;
            }
          }
        }
        @include screen(web) {
          margin-top: rem($margin20px);
        }
        // 2023-05-04 : button update */
        .c-cta {
          justify-content: center;
          flex-wrap: nowrap;
        }
      }
      .my-linkedlogin {
        &-list {
          margin-top: rem($margin10px);
        }
        &-icon {
          li + li {
            margin-left: rem($margin16px);
          }
          &__ico-box {
            background-color: $light-gray3;
            border: 0;
            cursor: pointer;
          }
        }
      }
    }
    &__text {
      text-align: center;
      border-radius: rem($radius8);
      color: $gray3;
      padding-bottom: rem($padding20px);
      margin-top: rem($margin20px);
      @include screen(web) {
        padding-bottom: rem($padding10px);
        margin-top: rem($margin48px);
      }
    }
    &__discript {
      // RO SG,ES
      margin: rem($margin20px 0);
      @include screen(web) {
        margin: rem($margin48px 0);
      }
      &--inner {
        @include container($design-grid-full, true);
        @include inset-padding-hz;
      }
      &--text {
        font-size: rem(12px);
        line-height: rem(14px);
        word-break: break-all;
        color: $gray3;
        @include screen(web) {
          font-size: rem(16px);
          line-height: rem(20px);
        }
        &.ellipsis {
          @include ellipsis(1);
          &.expanded {
            text-overflow: inherit;
            -webkit-line-clamp: inherit;
            white-space: inherit;
            word-break: normal;
          }
        }
        .c-button--text-underline {
          margin-right: 0;
          font-weight: $font-regular;
          font-size: rem(12px);
          line-height: rem(14px);
          color: $black;
          @include screen(web) {
            font-size: rem(16px);
            line-height: rem(20px);
          }
        }
      }
      &--expand {
        .c-button[aria-expanded='false'] {
          .collapse {
            display: none;
          }
        }
        .c-button[aria-expanded='true'] {
          .expand {
            display: none;
          }
        }
        .c-button[class*='-text'][class*='-icon'][aria-expanded='false'] {
          &:after {
            width: rem($width16px);
            height: rem($height16px);
            background: url('../../assets/icon/icon-arrow-black-down-12-6.svg') no-repeat center center;
          }
        }
        .c-button[class*='-text'][class*='-icon'][aria-expanded='true'] {
          &:after {
            width: rem($width16px);
            height: rem($height16px);
            background: url('../../assets/icon/icon-arrow-black-down-12-6.svg') no-repeat center center;
            transform: rotateX(180deg);
          }
        }
      }
      &--button {
        font-size: rem(14px);
        margin-top: rem($margin18px);
        @include screen(web) {
          margin-top: rem($margin14px);
        }
      }
    }
  }
  .my-input {
    text-align: left;
    ul {
      @include reset-list-style;
      li + li {
        margin-top: rem($margin16px);
        @include screen(web) {
          margin-top: rem($margin44px);
        }
      }
      .c-input-item {
        position: relative;
        label {
          color: $gray3;
          line-height: rem(18px);
        }
        input {
          border-radius: rem(12px);
          padding: rem($padding12px) rem($padding13px);
          height: auto;
          @include screen(web) {
            line-height: rem(20px);
            height: rem(44px);
            border-radius: rem(12px);
          }
        }
        .cmp-button {
          text-align: center;
          display: block;
          width: 100%;
          margin-top: rem($margin16px);
        }
        .my-input__password {
          padding-right: rem($padding45px);
        }
        &.active {
          .my-form__eye {
            background: url($icon-mylg-view-on-24-24) center / contain no-repeat;
          }
        }
        & + .c-checkbox-item {
          margin-top: rem($margin20px);
          @include screen(web) {
            margin-top: 0;
          }
        }
      }
      .my-captcha {
        $captch: '.my-captcha';
        &__container {
          display: flex;
          flex-flow: column;
        }
        &__area {
          display: flex;
          align-items: center;
        }
        &__box {
          border: rem($border1) solid $grayd;
          border-radius: $radius6;
          margin-bottom: rem($margin10px);
          width: 100%;
          height: rem(76px);
          margin-top: rem($margin10px);
        }
        &__btnbox {
          display: flex;
          flex-flow: column;
          align-items: center;
          margin-left: rem($margin10px);
          #{$captch}__button + #{$captch}__button {
            margin-top: rem($margin20px);
          }
        }
        &__button {
          cursor: pointer;
          border: none;
          position: relative;
          max-width: rem(24px);
          max-height: rem(24px);
          min-width: rem(24px);
          min-height: rem(24px);
          &--reload {
            background: url($icon-captcha-refresh-24-24) center / contain no-repeat;
          }
          &--play {
            background: url($icon-captcha-volume-24-24) center / contain no-repeat;
          }
        }
      }
    }
    input {
      padding: rem(13px) rem($padding16px);
      @include screen(web) {
        font-size: rem(14px);
      }
      &[type='date'] {
        position: relative;
        background: url($icon-calendar-black-20-19) no-repeat right rem(16px) center;
        background-size: rem(20px) rem(19px);
        background-color: $white;
        &::-webkit-clear-button,
        &::-webkit-inner-spin-button {
          display: none;
        }
        &::-webkit-calendar-picker-indicator {
          cursor: pointer;
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: transparent;
          color: transparent;
        }
        &::before,
        &:focus::before {
          content: attr(placeholder);
          width: 100%;
        }
        &:valid::before {
          content: normal;
        }
      }
      &[data-placeholder]::before {
        color: $gray6;
        font-size: rem(14px);
      }
      &[type='password'] {
        padding-right: rem($padding45px);
      }
      &[readonly] {
        background-color: $ivory6;
        &::placeholder {
          color: $grayb;
        }
      }
      &[disabled] {
        background-color: $ivory6;
        &::placeholder {
          color: $grayb;
        }
      }
    }
    textarea {
      resize: none;
      width: 100%;
      padding: rem($padding13px) rem($padding16px);
      border: rem($border1) solid $mid-gray4;
      background-color: $white;
      border-radius: rem(6px);
      height: rem(240px);
      @include screen(web) {
        height: rem(328px);
      }
      &::placeholder {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
    }
    .c-text-contents {
      margin-bottom: rem($margin30px);
      @include screen(web) {
        margin-bottom: rem($margin40px);
      }
      &__bodycopy {
        margin: 0 auto;
        margin-top: rem($margin10px);
        max-width: rem(450px);
      }
    }
    .c-checkbox-item {
      margin-top: rem($margin8px);
      .label {
        font-size: rem(16px);
        @include screen(web) {
          font-size: rem(14px);
        }
      }
    }
    .button {
      justify-content: center;
      margin-top: rem($margin30px);
    }
    .my-form {
      &__eye {
        display: inline-block;
        background: url($icon-mylg-view-32-32) center / contain no-repeat;
        position: absolute;
        top: calc(50% - -2px);
        right: rem(15px);
        width: rem($width24px);
        height: rem($height24px);
        border: none;
        cursor: pointer;
      }
      &__search {
        padding-right: rem($padding50px);
        &__icon {
          display: inline-block;
          position: absolute;
          right: rem(16px);
          top: 50%;
          background: url($icon-search-black-24-24) center / rem(21px) rem(21px) no-repeat;
          width: rem($width24px);
          height: rem($height24px);
          border: none;
          cursor: pointer;
          @include screen(web) {
            background: url($icon-search-black-24-24) center / rem(16px) rem(16px) no-repeat;
            top: 53%;
          }
        }
      }
    }
    .my-warn {
      padding-right: rem($padding40px);
      border-color: $red;
      select {
        border-color: $red;
      }
    }
    .c-search-box__form.my-warn {
      padding-right: 0;
    }
    .input-button__container {
      @include screen(web) {
        display: flex;
        gap: 0 rem(10px);
      }
      .button {
        margin-top: rem($margin10px);
        .cmp-button {
          flex: 1;
        }
        @include screen(web) {
          margin: 0;
        }
      }
      &--validation {
        .my-button-validation {
          flex: 1;
        }
      }
    }
    .my-verify {
      &__inner {
        position: relative;
        flex: 1;
        input {
          padding-right: rem($padding50px);
        }
      }
      &__time {
        color: $black;
        position: absolute;
        top: 50%;
        right: rem(20px);
        transform: translateY(-50%);
        font-weight: $font-semibold;
      }
    }
    .c-select-item select {
      color: $gray6;
      border-radius: rem(12px);
      option[selected] {
        color: $gray3;
      }
    }
  }
  ul.my-input__info {
    color: $gray6;
    margin-top: rem($margin8px);
    max-width: rem(310px);
    @include screen(web) {
      max-width: rem(708px);
    }
    li {
      line-height: rem(20px);
    }
  }
  .my-membership {
    &__list {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: rem(8px);
      @include screen(web) {
        gap: 0;
        margin: 0;
        padding: rem($padding24px);
        @include lgness-radius('all');
        background: $white;
      }
      margin: 0 auto;
      // max-width: rem(708px);
      width: 100%;
      @include screen(tablet) {
        margin: 0 auto;
      }
    }
    &__item {
      display: flex;
      flex: 1;
      padding: rem($padding20px $padding13px);
      min-height: rem(120px);
      background: $white;
      @include lgness-radius('all');
      @include screen(web) {
        margin-top: rem(-1px);
        border-top: rem($border1) solid $mid-gray1;
        padding: rem($padding16px) 0;
        min-height: 100%;
        border-radius: 0;
        background: transparent;
      }
      &:first-child {
        margin-top: 0;
        border-top: none;
      }
      .c-text-contents {
        &__bodycopy {
          margin-top: rem($margin8px);
        }
      }
    }
    &__link {
      display: flex;
      justify-content: space-between;
      gap: 0 rem(20px);
      width: 100%;
      align-items: flex-start;
      @include screen(web) {
        align-items: center;
      }
      .c-image {
        max-width: rem(64px);
        max-height: rem(64px);
        @include screen(web) {
          margin-bottom: 0;
        }
      }
    }
  }
  .my-formbox {
    // margin: 0 auto;
    // max-width: rem(708px);
    .c-cta {
      margin-top: rem($margin60px);
    }
  }
  .my-linkedlogin-icon {
    @include reset-list-style;
    display: flex;
    justify-content: center;
    li + li {
      margin-left: rem($margin8px);
      @include screen(web) {
        margin-left: rem($margin24px);
      }
    }
    &__ico-box {
      background-color: $ivory6;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(52px);
      height: rem(52px);
      @include screen(web) {
        width: rem(98px);
        height: rem(98px);
      }
    }
    &__ico {
      display: block;
      width: rem(16px);
      height: rem(16px);
      pointer-events: none;
      @include screen(web) {
        width: rem(30px);
        height: rem(30px);
      }
      &--apple {
        background: url($icon-apple-color-30-30) center / contain no-repeat;
      }
      &--amazon {
        background: url($icon-amazon-color-30-30) center / contain no-repeat;
      }
      &--google {
        background: url($icon-google-color-30-30) center / contain no-repeat;
      }
      &--facebook {
        background: url($icon-facebook-color-30-30) center / contain no-repeat;
      }
    }
  }
  .my-listbox {
    &__area {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: rem(8px);
      @include screen(web) {
        flex-direction: row;
        gap: rem($margin24px);
      }
    }
    &__box {
      flex: 1;
      position: relative;
      display: flex;
      justify-content: space-between;
      min-height: rem(120px);
      @include screen(web) {
        min-height: rem(200px);
      }
      .c-image {
        max-width: rem(64px);
        max-height: rem(64px);
        min-width: rem(64px);
        min-height: rem(64px);
      }
    }
    &__icon {
      display: block;
      text-indent: -9999rem;
      width: rem($icon60px);
      height: rem($icon60px);
      @include screen(custom, rem($mobile + 1px), max) {
        margin-bottom: rem($margin12px);
        width: rem($icon32px);
        height: rem($icon32px);
      }
    }
  }
  .my-resources {
    @include screen(tablet) {
      padding: rem($padding20px) rem($padding16px);
    }
    &__list {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: rem(8px);
      @include screen(web) {
        flex-direction: row;
        gap: rem($margin24px);
      }
    }
    &__box {
      justify-content: space-between;
      list-style: none;
      margin: 0;
      display: flex;
      box-sizing: border-box;
      max-height: auto;
      min-width: 100%;
      flex: 1;
      max-width: none;
      @include screen(web) {
        height: auto;
        min-width: 0;
      }
      .c-image {
        max-width: rem(72px);
        max-height: rem(72px);
        min-width: rem(72px);
        min-height: rem(72px);
      }
    }
    &__desc {
      margin-bottom: rem($margin10px);
      color: $dark-gray2;
      @include screen(web) {
        margin-bottom: rem($margin14px);
      }
    }
    .c-carousel__button[class*='--pagination']:after {
      background-image: url($icon-arrow-gray3-right-7-12);
    }
    &__txt {
      .c-image {
        position: absolute;
        right: 24px;
        top: 24px;
        width: auto;
        .cmp-image {
          max-width: 72px;
          max-height: 72px;
          min-width: 72px;
          min-height: 72px;
        }
      }
      .my-resources__tit {
        margin-bottom: rem($margin8px);
        grid-column: 1;
        grid-row: 1;
        span {
          display: block;
        }
      }
      .my-resources__desc {
        grid-column: 1;
        grid-row: 2;
        @include screen(web) {
          min-height: rem(52px);
        }
        span {
          display: block;
        }
      }
      .button {
        grid-column: 1;
        grid-row: 3;
        .cmp-button {
          display: block;
        }
      }
    }
    &__icon {
      display: block;
      text-indent: -9999rem;
      margin: 0 auto;
      width: rem($icon48px);
      height: rem($icon48px);
      @include screen(web) {
        width: rem(48px);
        height: rem(48px);
      }
      &--order {
        background: url($icon-my-order-48-48) center / contain no-repeat;
      }
      &--repair {
        background: url($icon-mylg-repair-60-60) center / contain no-repeat;
      }
      &--inquiry {
        background: url($icon-mylg-inquiry-48-48) center / contain no-repeat;
      }
    }
  }
  .my-order__container,
  .my-ownership__container {
    padding: 0 rem($padding16px);
    margin-top: rem($margin12px);
    @include screen(web) {
      margin-top: rem($margin20px);
      padding: 0;
    }
  }
  .my-ownership__container {
    .my-listbox {
      @include screen(tablet) {
        padding: rem($padding20px) rem($padding16px);
      }
      &__icon {
        &--product {
          background: url($icon-mylg-registration-60-60) center / contain no-repeat;
        }
        &--repair {
          background: url($icon-request-repair-48-48) center / contain no-repeat;
        }
        &--inquiry {
          background: url($icon-mylg-inquiry-48-48) center / contain no-repeat;
        }
      }
      &__txt {
        margin-right: rem($margin32px);
      }
    }
  }
  .my-text {
    &__max {
      margin: 0 auto;
      padding: 0 rem($padding20px);
      @include screen(web) {
        max-width: rem(550px);
      }
    }
  }

  &-wrapper + .PD0006 {
    border-top: rem($border1) solid $mid-gray1;
  }
}
#{$component}.my-email-validation {
  .c-pop-msg {
    @include screen(mobile) {
      padding: 0;
      &__container {
        height: 100vh;
        justify-content: flex-start;
        border-radius: 0;
        padding-left: rem($padding25px);
        padding-right: rem($padding25px);
      }
    }
    &__header {
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0;
      @include screen(mobile) {
        text-align: center;
        padding: 0 rem($padding60px);
      }
    }
  }
  &__text {
    margin-top: rem($margin30px);
    color: $gray3;
    @include screen(mobile) {
      margin-top: rem($margin6px);
      padding: 0 rem($padding50px);
      line-height: rem(24px);
      text-align: center;
    }
  }
  .my-formbox {
    margin: 0 auto;
    margin-top: rem($margin10px);
    width: 100%;
    border-radius: rem($radius8);
    @include screen(web) {
      padding: rem($padding20px);
      background-color: $ivory6;
    }
    @include screen(mobile) {
      margin-top: rem($margin16px);
    }
    .c-cta {
      margin-top: rem($margin60px);
      justify-content: center;
    }
    .my-formbox__button {
      margin-top: rem($margin60px);
      @include screen(mobile) {
        margin-top: rem($margin32px);
        justify-content: space-between;
      }
      .c-button {
        @include screen(mobile) {
          min-width: calc(50% - rem(5px));
        }
      }
    }
  }
  .button.my-button {
    justify-content: center;
    margin-top: rem($margin30px);
    .c-button[class*='-box']:not(.c-button[class*='-box'][class*='-box-outlined']):disabled,
    .c-button[class*='-box']:not(.c-button[class*='-box'][class*='-box-outlined'])[disabled] {
      cursor: not-allowed;
      pointer-events: none;
    }
    @include screen(mobile) {
      margin-top: rem($margin20px);
    }
    &__full {
      @include screen(mobile) {
        .cmp-button {
          flex: 1;
          padding: 0;
        }
      }
    }
  }
  .my-input {
    text-align: left;
    ul {
      @include reset-list-style;
      @include screen(mobile) {
        gap: rem(20px);
      }
      li {
        @include screen(mobile) {
          width: 100%;
        }
      }
      li + li {
        margin-top: rem($margin44px);
        @include screen(mobile) {
          margin-top: rem($margin20px);
        }
      }
      .c-input-item {
        position: relative;
        label {
          color: $gray3;
        }
        .my-input__password {
          padding-right: rem($padding45px);
        }
        &.active {
          .my-form__eye {
            background: url($icon-mylg-view-on-24-24) center / contain no-repeat;
          }
        }
        & + .c-checkbox-item {
          @include screen(mobile) {
            margin-top: rem($margin20px);
          }
        }
      }
    }
    input {
      padding: rem($padding13px) rem($padding16px);
      @include screen(web) {
        font-size: rem(14px);
      }
      @include screen(mobile) {
        font-size: rem(16px);
      }
      &[data-placeholder]::before {
        color: $gray6;
        font-size: rem(14px);
      }
      &[type='password'] {
        padding-right: rem($padding45px);
      }
      &[readonly] {
        background-color: $ivory6;
        &::placeholder {
          color: $grayb;
        }
      }
      &[disabled] {
        background-color: $ivory6;
        &::placeholder {
          color: $grayb;
        }
      }
    }
    .c-text-contents {
      @include screen(web) {
        margin-bottom: rem($margin40px);
      }
      @include screen(mobile) {
        margin-bottom: rem($margin30px);
      }
      &__bodycopy {
        margin: 0 auto;
        margin-top: rem($margin10px);
        max-width: rem(450px);
      }
    }
    .button {
      justify-content: center;
      margin-top: rem($margin30px);
    }
    .my-warn {
      padding-right: rem($padding40px);
      border-color: $red;
      select {
        border-color: $red;
      }
    }
    select {
      font-size: rem(14px);
      @include screen(mobile) {
        font-size: rem(16px);
      }
    }
    .c-select-item select {
      color: $gray6;
      option[selected] {
        color: $gray3;
      }
    }
  }
  ul.my-input__info {
    color: $gray6;
    max-width: rem(708px);
    margin-top: rem($margin8px);
    @include screen(mobile) {
      max-width: rem(310px);
    }
    li {
      line-height: rem(20px);
    }
  }
}
