include ../_common/_product-list.pug
include ../_common/_pagination.pug
include ../_common/_image.pug

mixin deliverly-item-icon
	.image.c-image.c-pbp-icon
		//- .pre-welcome-coupon-carmine image ==> /assets/icon/icon-welcome-32-32.svg
		//- .tag-pound-carmine image ==> /assets/icon/icon-exclusive-32-32.svg
		+printLazyImage('https://via.placeholder.com/32x32/999999/333333')

mixin deliverly-item
	li.c-list__item
		+deliverly-item-icon
		.c-product-delivery-information__cont
			if block
				block

mixin deliverly-item-text
	.text.c-product-delivery-information__text
		.cmp-text.font-w-normal-16.font-m-normal-14(data-cmp-data-layer="")
			if block
				block
				
mixin product-promotion-information
	// block : product-promotion-list
	ul.c-list
		li.c-list__item
			.c-pm-icon.welcome-benefit-carmine
			.c-list-item__cont
				.text.c-list-item__text
					.cmp-text
						p.font-w-normal-20.font-m-normal-14 Get 5% off on your first purchase.
		li.c-list__item
			.c-pm-icon.tag-pound-carmine
			.c-list-item__cont
				.text.c-list-item__text
					.cmp-text
						p.font-w-normal-24.font-m-normal-14 Buy now, claim £300 cashback. Click 
							a.cmp-button.c-button(href="#" target="" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") 
								span.cmp-button__text.font-w-normal-24.font-m-normal-14 here for details.
		li.c-list__item
			.c-pm-icon.pre-welcome-coupon-carmine
			.c-list-item__cont
				.text.c-list-item__text
					.cmp-text.font-w-normal-24.font-m-normal-14
						p.font-w-normal-24.font-m-normal-14 FREE delivery, connection &amp; disposal with selected models**Services Include: &gt; FREE unpacking, power connection &amp; base stand installation. UK mainland only.
		li.c-list__item
			.c-pm-icon.delivery-coupon-carmine
			.c-list-item__cont
				.text.c-list-item__text
					.cmp-text
						// 2023-05-20 changed class name
						p.font-w-normal-20.font-m-normal-14 
							| 遠距離配送地域は追加送料がかかります。<br>
							| 詳しくは
							a.cmp-button.c-button.font-red(href="#" target="" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="")
								span.cmp-button__text.font-w-normal-20.font-m-normal-14 こちら
							| をご確認ください。

mixin product-delivery-information
	// block : product delivery information
	.c-product-delivery-information
		.c-product-delivery-information__inner
			// block : list
			ul.c-list
				+deliverly-item
					+deliverly-item-text
						p Pre-Order Period : 
							span Mar 01,2023 ~ Mar 30,23
							span Remain 3 days
					+deliverly-item-text
						p Available on stock : 
							span 6ea
							span 3 days Left
				+deliverly-item
					+deliverly-item-text
						p Shipment will start from 
							span Mar 01,2023 
							| in order
				+deliverly-item
					+deliverly-item-text
						p  Estimated to arrive within 7~9 business days
				+deliverly-item
					+deliverly-item-text
						p  FREE delivery available
				+deliverly-item
					+deliverly-item-text
						p  Home Installation, Haul Away and  FREE Delivery available
				+deliverly-item
					+deliverly-item-text
						p  3% Points back in every purchase
				+deliverly-item
					+deliverly-item-text
						p  
							+textButton({name: 'Link text', wSize: 'small', mSize: 'small', buttonStyle: 'default', underline : true, isButton: false})
							| &#32;Lorem ipsum
			.text.c-product-delivery-information__box
				span.c-icon-button.c-icon-button--more-info
				.cmp-text.font-w-normal-16.font-m-normal-14(data-cmp-data-layer="")
					p This product is provided to customers at competitive prices by securing stock through pre-order for a limited time. As a product, delivery will start from Mar 01,2023
		.text.c-product-delivery-information__disclaimer.c-product-delivery-information__disclaimer--important
			.cmp-text.font-w-normal-16.font-m-normal-14(data-cmp-data-layer="")
				p Shipping options may vary by region.
		.text.c-product-delivery-information__disclaimer
			.cmp-text.font-w-normal-16.font-m-normal-14(data-cmp-data-layer="")
				p Shipping delays may occur due to the delivery company's circumstance.

mixin product-installment
	mixin installListItem(title,price)
		li.c-list__item
			.text.c-product-installment__title
				.cmp-text.font-w-normal-16.font-m-normal-16(data-cmp-data-layer="")
					p #{title}
			.text.c-product-installment__value 
				.cmp-text.font-w-semibold-18.font-m-semibold-16(data-cmp-data-layer="")
					p #{price}
	// product installment
	.c-product-installment
		.c-product-installment__inner
			input.c-product-installment__input.sr-only(type="checkbox", name='product-installment', value='product-installment', id='product-installment')
			.c-product-installment__cont
				.c-product-installment__label
					span.label Buy now, Par later with Klarna.
					label.checkbox(for='product-installment')
						span.sr-only Select klarna installments
				.c-product-installment__info
					ul.c-list
						+installListItem('Cost of Purchase', '$1,129.00')
						+installListItem('Referrer_IT_wisestion', '-$ 9.99')
						+installListItem('Instalment rate', '0%')
						+installListItem('Total cost inc. interest', '$ 4,999.99')
					.text.c-product-installment__disclaimer
						.cmp-text.font-w-normal-14.font-m-normal-14(data-cmp-data-layer="")
							p The cost may be changed due to the change of information at the last payment.

mixin product-pay-cta
	// block : product pay cta
	.c-product-pay-cta.button.c-cta
		// .main-button is visible when sticky
		// - case : add to basket
		//- button.cmp-button.c-button.c-button--box-outlined.large.black(type='button' data-cmp-data-layer='')
		//- 	span.cmp-button__text.c-button__text Add to basket
		//- button.cmp-button.c-button.c-button--box.large.red.main-button(type='button' data-cmp-data-layer='')
		//- 	span.cmp-button__text.c-button__text Go to checkout
		+defaultButton({name: 'Add to Cart', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: true})(class="main-button")
		+defaultButton({name: 'Checkout', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="main-button")
		//- <button class="cmp-button c-button c-button--box-outlined large black main-button" type="button" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Add to basket</span></button>
		//- <button class="cmp-button c-button c-button--box large red main-button" type="button" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Go to checkout</span></button>
		// - case : out of stock 
		//- icon version 
		//- a.js-pop-open.cmp-button.c-button.c-button--box-outlined.large.black.main-button.custom.main-button(type="button" href="#popStockAlert" data-cmp-data-layer="")
		//- 	span.c-button__icon.icon-alarm
		//- 	span.cmp-button__text.c-button__text Get Stock Alert
		// <button class="js-pop-open cmp-button c-button c-button--box large gray6 main-button main-button" type="button" aria-controls="popStockAlert" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Get Stock Alert</span></button>
		// - case : discontinued product
		//- button.js-pop-open.cmp-button.c-button.c-button--box.large.red.main-button(type='button' aria-controls="popRecommendedProducts" data-cmp-data-layer='')
		//- 	span.cmp-button__text.c-button__text Recommended Products
		// <button class="js-pop-open cmp-button c-button c-button--box large red main-button" type="button" aria-controls="popRecommendedProducts" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Recommended Products</span></button>

		//- +linkButton({type:"box", color: "red", size:"large", comment:false, name: "To the authorized reseller"})
		//- +linkButton({type:"box", color: "red", size:"large", comment:false, name: "Product Support"})
		//- +linkButton({type:"box", color: "red", size:"large", comment:false, name: "Book Online"})
		//- +linkButton({type:"box-outlined", color: "black", size:"large", comment:false, name: "Product Enquiry"})
		//- +linkButton({type:"box-outlined", color: "black", size:"large", comment:false, name: "Recommended Products"})
		//- +linkButton({type:"box-outlined", iconClass:"icon-alarm", color: "black", size:"large", comment:false, name: "Get Stock Alert"})
		//- +linkButton({type:"box-outlined", iconClass:"icon-alarm", color: "black", size:"large", name: "Get Stock Alert"})

mixin product-card-info
	.c-product-card-info.text
		.cmp-text.c-product-card-info__text.font-w-normal-14.font-m-normal-14(data-cmp-data-layer="")
			p You can pay with
		.c-product-card-info__image
			span.image.c-image
				+printLazyImage('../../mocks/PD0003/icon-visa-86-40.png', 'visa')
			span.image.c-image
				+printLazyImage('../../mocks/PD0003/icon-master-134-40.png', 'master')
			span.image.c-image
				+printLazyImage('../../mocks/PD0003/icon-american-40-40.png', 'american express')
			span.image.c-image
				+printLazyImage('../../mocks/PD0003/icon-maestro-48-40.png', 'maestro')
			span.image.c-image
				+printLazyImage('../../mocks/PD0003/icon-paypal-40-40.png', 'paypal')
			span.image.c-image
				+printLazyImage('../../mocks/PD0003/icon-klarna-120-40.png', 'klarna')

mixin product-price-sticky()
	// block : product price sticky
	.c-product-price-sticky.can-sticky.bottom
		// block : product price information
		.c-product-price-information
			.c-product-price-information__inner
				.button.c-product-price-information__btn-toggle
					button.cmp-button(aria-controls="productPriceDetailInformation" aria-expanded="false" data-cmp-data-layer="")
						span.cmp-button__text.sr-only open/close
				// block : price box
				+total-price
				//- .c-product-price-information__special-price
				//- 	ul.c-list
				//- 		li.c-list__item
				//- 			.cmp-text(data-cmp-data-layer="")
				//- 				p Type
				//- 		// limited-qty
				//- 		li.c-list__item.limited-qty
				//- 			.cmp-text(data-cmp-data-layer="")
				//- 				p Available Qty
				//- 					em.qty
				//- 						span 19
				//- 					em.qty.zero 
				//- 						span 0
				.text.c-price-box.font-w-normal-16.font-m-normal-16(id="productPriceDetailInformation")
					//- .c-price-box__item.c-price-box__item--promotion
					//- 	.cmp-text(data-cmp-data-layer="")
					//- 		p Black Friday Promotion

					.c-price-box__item
						.c-price-info
							.c-price-info__wrapper
								.c-price-info__title 
									strong.c-price-info__title--main Subtotal
								.c-price-info__price
									strong £1,899.98
							.c-price-info__wrapper
								.c-price-info__title
									span OLED65C24LA
								.c-price-info__price
									.c-price-info__price--wrapper
										del £2,699.98
										.c-price-info__price--save
											span.font-black Save £200.00
										span £2,499.98
							//- Removed case - pto
							//- .c-price-info__wrapper
							//- 	.c-price-info__title.sub-tree
							//- 		span  OLED55G26LA
							//- .c-price-info__wrapper
							//- 	.c-price-info__title.sub-tree
							//- 		span  G1
							// case - add on 
							.c-price-info__wrapper
								.c-price-info__title
									span S40Q (Qty :1)
								.c-price-info__price
									.c-price-info__price--wrapper
										del £2,699.98
										.c-price-info__price--save
											span.font-black Save £20.00
										span £2,499.98
							.c-price-info__wrapper
								.c-price-info__title
									span SQ-G2ST55 (Qty :1)
								.c-price-info__price
									.c-price-info__price--wrapper
										span £99.98
							.c-price-info__wrapper
								.c-price-info__title
									span LG Premium Care 2 Year
								.c-price-info__price
									.c-price-info__price--wrapper
										span £200.00
							// members only
							.c-price-info__wrapper.member-price
								.c-price-info__title
									strong LG Members only
									+exclamTooltip(option.tooltipMsg, true, option.direction, option.size, 'Link text')
								.c-price-info__price
									.c-price-info__price--wrapper
										.c-price-info__price--result
											span.font-red £1,861.98
						.c-price-info
							.c-price-info__wrapper
								.c-price-info__title
									strong.c-price-info__title--main Tax
								.c-price-info__price
									strong £150.00
							.c-price-info__wrapper
								.c-price-info__title
									span VAT (20%)
								.c-price-info__price
									.c-price-info__price--wrapper
										span £100.00
							.c-price-info__wrapper
								.c-price-info__title
									span WEEE Fee
								.c-price-info__price
									.c-price-info__price--wrapper
										span £50.00
						.c-price-info
							.c-price-info__wrapper
								.c-price-info__title
									strong.c-price-info__title--main Delivery + Installation
								.c-price-info__price
									strong £25.00
							.c-price-info__wrapper
								.c-price-info__title
									span Delivery only & Installation
								.c-price-info__price
									.c-price-info__price--wrapper
										span £25.00
						.c-price-info
							.c-price-info__wrapper
								.c-price-info__title
									strong.c-price-info__title--main Services Charge
								.c-price-info__price
									strong £20.00
							.c-price-info__wrapper
								.c-price-info__title
									span Haul-Away
								.c-price-info__price
									.c-price-info__price--wrapper
										span £20.00

						//- +price-info({emphasis : false, useTooltip : false, name : "Product Price", productId:'OLED77C9PLA', price : "$ 4,999.99", previous:"$ 4,999.99", save:"$200"})
						//- +price-info({emphasis : false, useTooltip : false, name : "Tex", productId:'OLED77C9PLA', price : "$ 4,999.99", previous:"$ 4,999.99", save:"$200"})
						//- +price-info({emphasis : false, useTooltip : false, name : "Services charge", price : "$0.00"})
					//- .c-price-box__item.c-price-box__item--border
						//- .c-price-box__item--wrapper
						//- 	+price-info({emphasis : false, useTooltip : true, name : "LG Member Exclusive", price : "$ 4,999.99", tooltipMsg:'Please take into account that the policy of LG Electronics RUS LLC implies the complete independence of companies in establishing pricing procedures. LLC LG Electronics RUS does not follow the instructions of economic entities to set prices for goods. The prices recommended by LG Electronics RUS LLC to their counterparties are for informational(recommendatory) purposes only.'})
						//- 	.c-payment-info
						//- 		.button.c-payment-info__payment
						//- 			a.cmp-button.c-payment-info__link.font-w-normal-16.font-m-normal-14(href="#" data-cmp-data-layer="" role="button")
						//- 				span.cmp-button__text $5000000 / mo for 6 mos at 0% or
						//- 			a.js-pop-open.cmp-button.c-payment-info__link.font-w-normal-16.font-m-normal-14(href="#popPayWithAfterpay" role="button" data-cmp-data-layer="")
						//- 				span.cmp-button__text 6 payments of $123 with
						//- 				span.image.c-image
						//- 					+printLazyImage('../../mocks/PD0003/icon-logo-afterpay-black-144-30.png')
						//- 			a.js-pop-open.cmp-button.c-payment-info__link.font-w-normal-16.font-m-normal-14(href="#popPayWithAfterpay" role="button" data-cmp-data-layer="")
						//- 				span.cmp-button__text or interest free up to 12 months with
						//- 				span.image.c-image
						//- 					+printLazyImage('../../mocks/PD0003/icon-logo-zip-black-81-31.png')
						//- +price-info({emphasis : false, useTooltip : false, name : "Black Friday Promotion", price : "$200.00"})
						//- +price-info({emphasis : false, useTooltip : false, name : "Warranty Price", price : "$200.00"})
						//- +price-info({emphasis : false, useTooltip : false, name : "Delivery", price : "$100.00"})
						//- +price-info({emphasis : false, useTooltip : true, direction:"top-left", size:'large', tooltipMsg:'Please take into account that the policy of LG Electronics RUS LLC implies the complete independence of companies in establishing pricing procedures. LLC LG Electronics RUS does not follow the instructions of economic entities to set prices for goods. The prices recommended by LG Electronics RUS LLC to their counterparties are for informational(recommendatory) purposes only.', name : "Recommended price", price : "104,990 rub"})
						//- +price-info({emphasis : true, useTooltip : false, name : "Discount Price", price : "-$100.00"})
						//- +price-info({emphasis : false, useTooltip : false, name : "Delivery & Standard", price : "$29.99"})
						//- +price-info({emphasis : false, useTooltip : false,  name : "See Retailer for Pricing"})
						//- +price-info({emphasis : true, link : true, useTooltip : false, name : "Up to $450 available in 3 rebates"})
						//- +price-info({emphasis : false, bold: true, useTooltip : true, tooltipMsg:'The Member Price is the price applicable to the Member and is the benefit price applicable when you log in and place an order.', name : "LG Member Exclusive"})
						//- +price-info({list:true,dimmed:true,emphasis : true, useTooltip : false, name : "LG Members only 2% off", price : "-$20.00"})
						//- +price-info({list:true,emphasis : true, useTooltip : false, name : "LG Members only 2% off", price : "-$20.00"})
				+quantity
				//- +total-price
			//- .c-product-price-information__retailer.text
			//- 	span.cmp-text.font-w-normal-16.font-m-normal-16(data-cmp-data-layer="") 
			//- 		span See Retailer for Pricing

		//- // block - cta
		+product-pay-cta
		+product-card-info

//- mixin price-info(params)
//- 	- var option = {list:false, dimmed:false, bold:false, ...params}
//- 	// block : price info
//- 	.c-price-info(class={'font-red' : option.emphasis, 'sub-tree': option.list, 'font-semibold' : option.bold,'dimmed': option.dimmed})
//- 		.c-price-info__title
//- 			if(option.link)
//- 				a(href="#")= option.name
//- 			else
//- 				div(data-cmp-data-layer="").cmp-text.font-w-normal-16.font-m-semibold-14= option.name
//- 					if option.useTooltip
//- 						+exclamTooltip(option.tooltipMsg, true, option.direction, option.size, 'Check your final price')
//- 				if(option.productId)
//- 					span(data-cmp-data-layer="").c-price-info__product-id.cmp-text.font-w-normal-14.font-m-normal-14= `${option.productId}`
//- 		if(option.price)
//- 			.c-price-info__price(class={'font-red' : option.emphasis})
//- 				if(option.previous || option.save)
//- 					.c-price-info__price--wrapper
//- 						if(option.save)
//- 							span(data-cmp-data-layer="").cmp-text.font-w-normal-14i.font-m-normal-14i.font-black= `Save ${option.save}`
//- 						if(option.previous)
//- 							span(data-cmp-data-layer="").cmp-text.font-w-normal-16.font-m-normal-14i.c-price-info__price--previous= option.previous
//- 				span.font-w-semibold-16.font-m-semibold-14=option.price
//- 		if block
//- 			block

mixin quantity
	// block : product price quantity
	// Added 'disabled' class when quantity cannot be modified
	.c-product-price-qty.disabled
		label.c-qty__label.sr-only(for="productQty") Select Quantity
		.c-qty
			button.c-qty__btn.c-qty__btn--minus(type="button" disabled)
				span.sr-only Minus
			input.c-qty__input(type="number" id='productQty' value="1" max="999" disabled)
			button.c-qty__btn.c-qty__btn--plus(type="button" disabled)
				span.sr-only Plus
	.c-product-price-qty
		label.c-qty__label.sr-only(for="productQty") Select Quantity
		.c-qty
			button.c-qty__btn.c-qty__btn--minus(type="button")
				span.sr-only Minus
			input.c-qty__input(type="number" id='productQty' value="1" max="999")
			button.c-qty__btn.c-qty__btn--plus(type="button")
				span.sr-only Plus

mixin total-price
	// block : product total price
	.c-product-total-price
		.c-product-total-price__box
			.text.c-product-total-price__text
				.cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
					p Total
			.text.c-product-total-price__num
				div.c-product-total-price__price
					//- span.cmp-text.font-w-normal-16.font-m-normal-14(data-cmp-data-layer="")
					//- 	span MSRP
					span.cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
						strong $5,119.99
				.button.c-product-total-price__payment
					a.cmp-button.c-product-total-price__link.c-price__installment(href="#" role="button" data-cmp-data-layer="")
						span.cmp-button__text $5000000 / mo for 6 mos at 0%
					a.js-pop-open.cmp-button.c-product-total-price__link(href="#popPayWithAfterpay" role="button" data-cmp-data-layer="")
						span.cmp-button__text 6 payments of $123 with
						span.image.c-image
							+printLazyImage('../../mocks/PD0003/icon-logo-afterpay-black-144-30.png')
					a.js-pop-open.cmp-button.c-product-total-price__link(href="#popPayWithAfterpay" role="button" data-cmp-data-layer="")
						span.cmp-button__text or interest free up to 12 months with
						span.image.c-image
							+printLazyImage('../../mocks/PD0003/icon-logo-zip-black-81-31.png')

mixin product-info-etc
	.c-product-info-etc
		.text.c-product-info-etc__item.c-product-info-etc__item--imp
			.cmp-text.font-w-normal-16.font-m-normal-16(data-cmp-data-layer="")
				span.c-icon-button.c-icon-button--more-info
				p Energy Information Update In Progress
		.text.c-product-info-etc__item.c-product-info-etc__item--dot-text
			.cmp-text.font-w-normal-16.font-m-normal-16(data-cmp-data-layer="")
				p If you want to buy, please change the country to 'kazakhstan'
		.text.c-product-info-etc__item.c-product-info-etc__item--dot-text-fixed
			.cmp-text.font-w-normal-16.font-m-normal-14(data-cmp-data-layer="")
				span.c-icon-button.c-icon-button--more-info
				p Afterpay available on the LG Online Store for purchases up to $3,000 subject to approval by Afterpay. Afterpay Terms of Service apply.
		.text.c-product-info-etc__item.c-product-info-etc__item--download
			.button.font-w-normal-14.font-m-normal-14
				// 2023-01-27 : Add role to download link for tagging
				+iconButton({type:'link',color:"black", class:"download", name:"Download the microwave English panel"})(role="button")