@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.PD0033';
#{$component} {
  z-index: $stacking-floor;
  overflow: initial;
  // element
  // > .component > .cmp-container {
  //     // ...
  // }
  %menu-align {
    display: flex;
    column-gap: min(rem($margin30px), calc($margin36px/ $mobile * 100vw));
    @include screen(web) {
      column-gap: min(rem($margin36px), calc($margin36px/ $design-full * 100vw));
    }
  }
  %active-tab-style {
    position: absolute;
    bottom: rem($margin1px * -1);
    left: 0;
    right: 0;
    height: rem($height2px);
    background-color: $active-red;
  }
  .width100 {
    width: 100%;
  }
  .display-only-web {
    @include screen(mobile) {
      display: none;
    }
  }
  // block
  .component {
    max-width: none;
  }
  .c-price__plus {
    font-size: rem(14px);
  }
  // .c-price__purchase .smallFont {
  //     font-size: rem(11px);
  // }
  .c-tabs {
    @extend %menu-align;
    align-items: center;
  }
  .c-product-item {
    &__download {
      margin: 0;
      a.c-product-item__download--click {
        font-size: rem(12px);
        @include screen(web) {
          font-size: rem(16px);
        }
      }
    }
    &__repair {
      margin: 0 0 rem(8px) 0;
      @include screen(web) {
        margin: 0;
      }
      .cmp-image {
        max-width: initial;
        min-width: initial;
        width: rem(54px);
        max-height: initial;
        min-height: initial;
        height: rem(27px);
        @include screen(tablet) {
          width: rem(76px);
          height: rem(46px);
        }
        @include screen(web) {
          width: rem(96px);
          height: rem(56px);
        }
      }
    }
  }
  .c-bottom-sheet {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    @include lgness-radius('default', 'mobile');
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: $white;
    box-shadow: rem(0 ($padding4px * -1) $padding6px) rgba($black, 0.04);
    // padding-top: rem($padding14px);
    // padding-bottom: rem($padding14px);
    border-top: rem($border1) solid $graye6;
    // @include inset-padding-hz;
    padding: rem($padding14px $padding20px);
    display: flex;
    align-items: center;
    gap: rem($margin8px);
    flex-wrap: wrap;
    @include screen(web) {
      gap: rem($margin12px);
      @include lgness-radius('default', 'web');
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: rem($design-full);
        margin: 0 auto;
      }
    }
    .c-product-digest-information {
      flex: 1;
      // @include screen(custom, rem(1060px), max) {
      @include screen(web) {
        min-width: rem(205px);
      }
      max-height: 100vw;
      opacity: 1;
      transition: all 0.3s ease;
    }

    // element
    &__wrap {
      padding: 0;
    }

    // modifier
    &--square-edge {
      border-radius: 0;
      border-top: none;
    }
    &--fr {
      display: block;
      .c-product-item__download {
        width: 100%;
        margin: rem(4px) 0;
        @include screen(web) {
          width: auto;
        }
      }
      .c-product-item__repair {
        width: 100%;
        @include screen(web) {
          width: auto;
        }
      }
    }
    &.is-scrolling {
      .c-product-digest-information {
        max-height: 0;
        opacity: 0;
      }
    }
  }

  // $mobile-area: '.c-mobile-split-area';
  $information: '.c-product-digest-information';
  $header: '.c-region-header';
  $wrap: '.c-floating-wrap';
  $tab: '.c-tabs';
  $ufn: '.c-text-contents';
  $price: '.c-price';
  $price-area: '.price-area';
  $price-box: '.price-box';

  // type
  &.type-pdp {
    // breakpoint
    $breakpoint-mobile: $tablet-pro-p;
    background: $warm-gray;
    border-bottom: rem($border1) solid $mid-gray1;
    // border-top: rem($border1) solid $graye6;
    #{$wrap} {
      display: flex;
      justify-content: space-between;
      column-gap: rem($margin20px);
      min-height: rem($min-height54px);
      margin-bottom: rem($border1 * -1);
      @include container($design-grid-full, true);
      @include inset-padding-hz;
      @include screen(custom, rem($breakpoint-mobile + 1px), min) {
        display: grid;
        grid-template-columns: repeat(2, auto);
        align-items: center;
      }
      @include screen(custom, rem($breakpoint-mobile + 1px), min) {
        // @include screen(web) {
        min-height: rem($min-height66px);
      }

      @include screen(custom, rem($breakpoint-mobile), max) {
        // @include screen(mobile) {
        overflow-x: auto;
        overflow-y: hidden;
      }
    }
    #{$tab} {
      margin-bottom: rem($border1);
      grid-row-start: 2;
      white-space: nowrap;
      width: 100%;
      &__list {
        @extend %menu-align;
        height: 100%;
        @include screen(custom, rem($breakpoint-mobile + 1px), min) {
          min-height: rem(45px);
        }
      }
      &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $gray3;
        text-decoration: none;
        &:focus-visible,
        &:focus,
        &:active,
        &:hover {
          text-decoration: none;
          color: $black;
        }
        // white-space: nowrap;
        &.active {
          color: $black;
          *:after {
            content: '';
            @extend %active-tab-style;
            @include screen(custom, rem($breakpoint-mobile + 1px), min) {
              bottom: rem($padding16px);
            }
          }
        }
      }
      &__item-text {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        @include screen(custom, rem($breakpoint-mobile + 1px), min) {
          align-items: initial;
        }
        @include screen(web) {
          width: 100%;
          justify-content: center;
        }
      }
      &__extra {
        display: none;
        // @include screen(custom, rem(1060px), min) {
        @include screen(custom, rem($breakpoint-mobile + 1px), min) {
          display: block;
          width: fit-content;
          grid-row: 1/3;
        }
        .cta-wrap {
          display: flex;
          gap: rem($margin8px);
          .c-button {
            flex: 1;
            min-width: initial;
            white-space: nowrap;
          }
        }
      }
    }
    #{$information} {
      // flex: 1;
      // max-width: rem($text-box-width-sm);

      // @include screen(custom, rem(1060px), min) {
      @include screen(custom, rem($breakpoint-mobile + 1px), min) {
        display: flex;
        width: 100%;
      }

      $sticky-tab: '#{$component}.type-pdp #{$wrap} #{$information}';
      @at-root #{$sticky-tab} {
        @include screen(web) {
          padding-top: rem($padding16px);
          padding-bottom: rem($padding16px);
        }
        // @include screen(custom, rem(1060px), max) {
        @include screen(custom, rem($breakpoint-mobile), max) {
          position: absolute;
          overflow: hidden;
          width: rem($width1px);
          height: rem($height1px);
          clip: rect(0, 0, 0, 0);
        }
        // @include screen(custom, rem(1060px), max) {
        @include screen(custom, rem($breakpoint-mobile), max) {
          position: absolute;
          overflow: hidden;
          width: rem($width1px);
          height: rem($height1px);
          clip: rect(0, 0, 0, 0);
        }
      }
    }
    #{$ufn} {
      margin-top: rem($margin2px * -1);
      margin-bottom: rem($margin4px);
      &:last-child {
        margin-bottom: 0;
      }
      @include screen(web) {
        margin-top: 0;
        margin-bottom: 0;
      }
      &__headline {
        line-height: rem(20px);
        font-size: rem(14px);
        // do not edit below
        @include ellipsis(2);
        -webkit-line-clamp: 1;
        // ------
        * {
          display: inline;
        }

        // @include screen(custom, rem(1060px), min) {
        @include screen(custom, rem($breakpoint-mobile + 1px), min) {
          font-size: rem(32px);
          line-height: rem($height36px);
        }
      }
    }

    // layout : margin
    #{$information} {
      // @include screen(custom, rem(1060px), min) {
      @include screen(custom, rem($breakpoint-mobile + 1px), min) {
        align-items: center;
        gap: rem($margin16px);
      }
      #{$ufn} + #{$price-area} {
        // margin-top: rem($margin12px);
        @include screen(web) {
          // margin-top: rem($margin6px);
        }
      }
      .c-energy-grade {
        width: rem($icon34px);
        height: rem($icon20px);
        @include screen(web) {
          width: rem($icon54px);
          height: rem($icon32px);
        }
      }
      #{$price-area},
      .wrapper {
        display: block;
        @include screen(mobile) {
          margin-bottom: rem($padding6px);
          &:last-child {
            margin-bottom: 0;
          }
        }
        @include screen(web) {
          display: inline-block;
          margin-right: rem($padding16px - 3px); // inline-block margin
          &:last-child {
            margin-right: 0;
          }
        }
        button {
          border: 0;
          padding: 0;
          background: transparent;
          text-align: left;
        }
        .c-product-item__download {
          @media (max-width: rem(1024px)) {
            .c-tooltip {
              &:first-child {
                // .c-tooltip__container {
                //     left: 80%;
                //     &::before {
                //         left: 42%;
                //     }
                // }
              }
              &__container {
                margin-top: 0;
                top: rem(-65px);
                &::before {
                  transform: translateX(-50%) rotate(316deg);
                  top: initial;
                  bottom: 0;
                }
              }
            }
          }
        }
        .product-price {
          @include screen(custom, rem($breakpoint-mobile + 1px), min) {
            display: block;
          }
        }

        .subscribe-button {
          a {
            font-weight: $font-semibold;
            text-decoration: underline;
            text-underline-offset: rem($margin3px);

            .link {
              display: flex;
              align-items: center;
              &::after {
                content: '';
                display: block;
                width: rem($width14px);
                height: rem($height14px);
                margin-left: rem(8px);
                background-image: url($icon-pl_subscribe);
                background-repeat: no-repeat;
                background-position: center;
              }
            }
            .info {
              font-weight: 400;
              color: #646464;
            }
          }

          // @include screen(custom, rem(1060px), max) {
          //   width: 100%;
          //   flex-basis: auto;
          // }
        }
      }
      #{$price-area} {
        // @include screen(custom, rem(1060px), min) {
        @include screen(custom, rem($breakpoint-mobile + 1px), min) {
          flex-shrink: 0;
        }
      }
      #{$price-box} .c-product-item {
        margin: 0 rem(-$margin2px);
      }
      #{$price} {
        &__purchase {
          font-size: rem(16px);
          font-weight: $font-bold;
          line-height: rem($height22px);
          // @include screen(custom, rem(1060px), min) {
          @include screen(custom, rem($breakpoint-mobile + 1px), min) {
            font-size: rem(32px);
            font-weight: $font-semibold;
            line-height: rem($height32px);
          }
          .smallFont {
            font-size: rem(16px);
            // @include screen(custom, rem(1060px), min) {
            @include screen(custom, rem($breakpoint-mobile + 1px), min) {
              font-size: rem(20px);
            }
          }
          .smallFont {
            font-size: rem(16px);
            // @include screen(custom, rem(1060px), min) {
            @include screen(custom, rem($breakpoint-mobile + 1px), min) {
              font-size: rem(20px);
            }
          }
        }
        &__previous,
        &__discount {
          font-size: rem(14px);
          line-height: rem($height14px);
          // @include screen(custom, rem(1060px), min) {
          @include screen(custom, rem($breakpoint-mobile + 1px), min) {
            font-size: rem(16px);
            font-weight: normal;
            line-height: rem($height16px);
          }
          .smallFont {
            font-size: rem(10px);
            // @include screen(custom, rem(1060px), min) {
            @include screen(custom, rem($breakpoint-mobile + 1px), min) {
              font-size: rem(12px);
            }
          }
          sup.smallFont {
            display: inline-flex;
            align-items: center;
            margin-top: rem($margin2px);
          }
        }
        &__price {
          font-size: rem(14px);
          line-height: rem($height14px);
          color: $mid-gray2;
          // @include screen(custom, rem(1060px), min) {
          @include screen(custom, rem($breakpoint-mobile + 1px), min) {
            font-size: rem(16px);
            font-weight: normal;
            line-height: rem($height16px);
          }
          .smallFont {
            font-size: rem(10px);
            // @include screen(custom, rem(1060px), min) {
            @include screen(custom, rem($breakpoint-mobile + 1px), min) {
              font-size: rem(12px);
            }
          }
        }
        &__previous {
          &.member {
            text-decoration: none;
          }
        }
      }
      & + .cta-wrap {
        display: flex;
        gap: rem($margin8px);
        white-space: nowrap;
        // margin-top: rem($margin10px);
        // @include screen(web) {
        //     margin-top: rem($margin12px);
        // }
        // @include screen(custom, rem(414px), max) {
        //     flex: 1;
        // }
        .c-button {
          flex: 1;
          * {
            white-space: nowrap !important;
          }
        }
        &.flex-wrap {
          &.flex-wrap-twoline {
            width: 100%;
            .flex-wrap_inner {
              display: flex;
              flex-direction: column;
              gap: rem(8px);
              .c-button {
                align-self: flex-start;
                flex: 0 0 auto;
              }
            }
          }
        }
      }
    }
    .c-mobile-split-area {
      position: relative;
      // @include screen(custom, rem(1060px), min) {
      @include screen(custom, rem($breakpoint-mobile + 1px), min) {
        display: none;
      }
      .price-area {
        a,
        button {
          img {
            max-width: initial;
            min-width: initial;
            width: rem(34px);
            max-height: initial;
            min-height: initial;
            height: rem(20px);

            @include screen(tablet) {
              width: rem(34px);
              height: rem(20px);
            }
            @include screen(web) {
              width: rem(54px);
              height: rem(32px);
            }
          }
        }
        .c-product-item__repair {
          .cmp-image__image {
            width: rem(54px);
            height: rem(27px);
            @include screen(web) {
              width: rem(96px);
              height: rem(56px);
            }
          }
        }
      }
    }
  }
  &.type-plp {
    $call-button: '.c-split-area-call-button';
    // background-color: $warm-gray;
    // border-bottom: rem($border1) solid $mid-gray1;
    // height: rem(110px);
    // @include screen(web) {
    //     height: rem(202px);
    // }
    &:has(.can-sticky.is-fixed) {
      min-height: rem(116px);
      @include screen(web) {
        min-height: rem(165px);
      }
    }
    .c-roll-selector {
      &__item {
        &-name {
          @include screen(mobile) {
            height: rem(34px);
            & > * {
              line-height: rem(17px);
            }
          }
        }
      }
    }
    .component {
      background-color: $warm-gray;
      border-bottom: rem($border1) solid $mid-gray1;
      min-height: rem(116px);
      @include screen(web) {
        min-height: rem(165px);
      }
      &.is-fixed {
        min-height: initial;
      }
    }
    .cmp-container {
      @include screen(mobile) {
        border-top: 0 !important;
      }
    }
    #{$header} {
      display: flex;
      align-items: center;
      @include flex-context;
      @include container($text-box-width-lg, false);
      margin-bottom: rem($margin20px);
      @include screen(web) {
        margin-bottom: rem($margin40px);
      }
    }
    .swiper-slide {
      &:last-child {
        margin-right: 0 !important;
      }
    }
  }

  @mixin c-list-promotion {
    .c-list {
      .c-list__item .c-list-item__text p {
        font-size: rem(16px);
      }
      .cmp-button__text {
        font-size: rem(16px);
      }
      .cmp-text {
        white-space: normal;
      }

      @include reset-list-style;
      gap: rem($margin18px);
      &__item {
        display: flex;
        padding: rem($padding12px 0);
        gap: rem($margin16px);
        // @include screen(custom, rem(1060px), min) {
        @include screen(custom, rem($tablet + 1px), min) {
          padding: rem($padding18px 0);
          gap: rem($margin16px);
        }
        &:first-child {
          padding-top: 0;
        }
        &:last-child {
          padding-bottom: 0;
        }
        .c-pm-icon {
          width: rem($icon32px);
          height: rem($icon32px);
          &.tag-pound-carmine {
            background-image: url($icon-promotion-32-32);
          }
          &.pre-welcome-coupon-carmine {
            background-image: url($icon-welcome-32-32);
          }
          &.delivery-coupon-carmine {
            background-image: url($icon-delivery-32-32);
          }
          &.welcome-benefit-carmine {
            background-image: url($icon-benefit-32-32);
          }
        }
        .c-list-item {
          &__cont {
            flex: 1;
            text-align: left;
            // @include screen(custom, rem(1060px), min) {
            @include screen(custom, rem($tablet + 1px), min) {
              // /margin-top: rem($margin5px);
            }
          }
          &__text {
            p {
              line-height: rem(16px);
              font-size: rem(14px);
              // @include screen(custom, rem(1060px), min) {
              @include screen(custom, rem($tablet + 1px), min) {
                margin-top: rem($margin2px);
                line-height: rem(28px);
                font-size: rem(26px);
              }
              a {
                text-decoration: underline;
              }
            }
          }
        }
      }
      .c-list__item + .c-list__item {
        border-top: rem($border1) solid $mid-gray1;
        @include screen(web) {
          border-top: rem($border1) solid $warm-gray;
        }
        @include screen(tablet) {
          border-top: rem($border1) solid $mid-gray1;
        }
      }
    }
  }

  .promotion {
    display: none;
    position: relative;
    align-items: center;

    // margin: 0 rem($margin24px);
    // .c-icon-button {
    //     column-gap: rem(8px);
    // }
    .c-tooltip__contents {
      width: rem(660px);
    }

    .button {
      .c-tooltip__button {
        &::before {
          display: none;
        }
      }
    }

    @include screen(web) {
      display: flex;
      align-items: flex-start;
    }
    @include screen(tablet) {
      display: none;
    }

    &-mobile {
      display: flex;
      // margin-right: rem($margin16px);
      // @include screen(tablet) {
      //     margin-right: rem(0);
      // }

      .c-tabs__item-text {
        margin-right: rem($margin16px);
      }

      @include screen(web) {
        display: none;
      }
      @include screen(tablet) {
        display: flex;
      }
    }

    // &:before {
    //     content: '';
    //     position: absolute;
    //     top: 50%;
    //     left: rem(-23px);
    //     transform: translateY(-50%);
    //     border-left: $border1 solid $graycb;
    //     height: rem($height20px);
    //     @include screen(web) {
    //         top: rem(12px);
    //         left: rem(-36px);
    //     }
    // }
  }
  @at-root .promotions-popup,
    #{$component} .promotion {
    @include c-list-promotion;
  }

  .c-icon-button__text {
    font-size: rem(16px);
    line-height: rem(18px);

    @include screen(web) {
      font-size: rem(20px);
      line-height: rem(24px);
      font-weight: $font-regular;
    }
  }
  .button {
    .c-tooltip__button {
      &::before {
        display: none;
      }
    }
  }
  .c-roll-selector__item-image {
    aspect-ratio: 1/1;
    max-height: rem(40px);
    @include screen(web) {
      max-height: rem(64px);
    }
    img {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: 50% 50%;
    }
  }
  .product-price {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: rem(3px);
    .product-price-row {
      display: flex;
      gap: rem(5px);
      .c-price {
        display: flex;
        gap: rem(4px);
        &.br-price {
          font-weight: bold;
        }
      }
    }
    @include screen(web) {
      &.flex-col {
        flex-direction: column;
        margin-top: auto;
        gap: initial;
      }
    }
    &.mrp-box {
      width: 100%;
      @include screen(web) {
        width: auto;
      }
      .product-price-row {
        align-items: center;
        .c-price {
          color: $mid-gray2;
        }
      }
    }
  }
  .c-product-item__download--click {
    display: flex;
    align-items: center;
  }

  // dark theme
  body.dark-theme & {
    &.type-pdp {
      background: $black;
      border-color: $mid-gray3;
      &,
      .price-area,
      .c-price__discount,
      .c-price__purchase,
      #{$tab}__item,
      #{$tab} .c-icon-button.black {
        color: $white;
      }
      .c-price__previous,
      .c-product-item__download--click {
        color: $graycb;
      }
      #{$tab}__item {
        &:focus-visible,
        &:focus,
        &:active,
        &:hover {
          color: $white;
        }
      }
      .c-bottom-sheet {
        background-color: $black;
        border-color: $mid-gray3;
        box-shadow: none;
      }
      .promotion {
        color: $black;
      }
    }
  }
}

// .c-icon-button.black {
//     flex-direction: row-reverse;
// }
.e-labels {
  &.c-energy-grade {
    &--a3 {
      background-image: url($icon-energy-grade-la3);
    }
    &--a2 {
      background-image: url($icon-energy-grade-la2);
    }
    &--a1 {
      background-image: url($icon-energy-grade-la1);
    }
    &--a {
      background-image: url($icon-energy-grade-la);
    }
    &--b {
      background-image: url($icon-energy-grade-lb);
    }
    &--c {
      background-image: url($icon-energy-grade-lc);
    }
    &--d {
      background-image: url($icon-energy-grade-ld);
    }
    &--e {
      background-image: url($icon-energy-grade-le);
    }
  }
}
