include ../_common/_title-area.pug

mixin PD0004(option=false)
    mixin header(text)
        // 23.02.14 - changed markup
        +component-title-area({
            alignment:"",
            headline : {
                text
            }
        })

    if(option == 'BV1')
        .c-wrapper.PD0004.margin-top.margin-bottom.border-top.bg-default
            .component
                .cmp-container
                    //- title area
                    +header("What people are saying")

                    //- review area
                    .c-review-wrap
                        // BV1 integration guide
                        // https://knowledge.bazaarvoice.com/wp-content/conversations/en_US/Display/display_integration_v1.html

                        // BV1 
                        #BVRRContainer(data-modelid="MD07548335")

    if(option == 'BV2')
        .c-wrapper.PD0004.margin-top.margin-bottom.border-top.bg-default
            .component
                .cmp-container
                    //- title area
                    +header("What people are saying")
                    
                    //- review area
                    .c-review-wrap
                        // BV2 integration guide
                        // https://knowledge.bazaarvoice.com/wp-content/conversations/en_US/Display/display_integration.html

                        // BV2
                        div(data-bv-show="reviews", data-bv-product-id="OLED65C26LD")

    if(option == 'SP')
        .c-wrapper.PD0004.margin-top.margin-bottom.border-top.bg-default
            .component
                .cmp-container
                    //- title area
                    +header("Отзывы")

                    //- review area
                    .c-review-wrap
                        #shoppilot-product-reviews-container(data-model-name="OLED77G2RLA")
                            #sp-product-reviews-widget