doctype html
// The value of data-countrycode
// is the string at the end of the country-specific site home page url.
// example) https://www.lg.com/uz_ru : data-countrycode="uz_ru"
// This value is used when country-specific exception handling is required
// in css or js files, such as font-family.
// -----------------------------
// Review Type (Varies by site)
// 1) BV1 - Bazaarvoice
// 2) BV2 - Bazaarvoice
// 3) LGCOM
// 4) SP
// 5) NONE - not used
html(lang="en" dir="ltr" data-countrycode="uk" data-review-type="BV1")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title PD0004. PDP Review
    meta(name='description' content='description text')
    meta(name='keywords' content='keyword list')
    // Styles
    // - AEM default style
    link(rel='stylesheet' href='../../assets/css/clientlib-base.lc-5a45660394383b863ca3a43c9a61490d-lc.min.css')
    // - default styles
    link(rel='stylesheet' href='../../main.css')
    // - dev.css is for checking markup, do not use it.
    link(rel='stylesheet' href='../../dev.css')
    // - page styles
    link(rel='stylesheet' href='PD0004.css')
body
  // Header
  // // Header
  // Main
  main#contents
    script(type='application/json' data-component-config='snsShare').
      {
      "shortUrlApi": "https://wdev50.lg.com/lg5-common-gp/data-ajax/getShortUrl.json?callback=jQuery360034817523374223835_1667445481293&_=1667445481294&longUrl={url}",
      "facebook": "http://www.facebook.com/sharer/sharer.php?u={shareurl}",
      "twitter": "https://twitter.com/intent/tweet?url={shareurl}&text={text}&via={via}",
      "pinterest": "http://www.pinterest.com/pin/create/button/?url={shareurl}&media={img}&description={text}",
      "vk": "https://share.yandex.net/go.xml?service=vkontakte&url={shareurl}&title={text}",
      "ok": "https://connect.ok.ru/dk?st.cmd=WidgetSharePreview&st.shareUrl={shareurl}&feature=share",
      "linkedin": "https://www.linkedin.com/shareArticle?url={shareurl}",
      "weibo": "http://service.weibo.com/share/share.php?title={text}&url={shareurl}&pic={img}",
      "wechat": "/assets/baidumap/baiduShare-master/static/api/js/share.js?v=89860593.js"
      }
    .guide
      .grid-1600  
      .grid-1440
      .inner
        .guide-list
          a(href='../../list-pd.html') List 
        .guide-title PD0004. PDP Review
        .guide-wrapper
          script.
            const guideList = {
            '.c-wrapper' : [
            {
            'name' : 'Margin',
            'buttons' : [
            {'toggle' : true, 'add' : 'margin-top'},
            {'toggle' : true, 'add' : 'margin-bottom'},
            ]
            },
            ],
            };
            
    include ../_common/_index.pug
    include ./PD0004-inc.pug
    .guide-text-option BV1
    +PD0004('BV1')

    //- .c-wrapper.PD0004.margin-top.margin-bottom
    //-   .component
    //-     .cmp-container
    //-       .c-text-contents.align-text-center
    //-         .title.c-text-contents__headline
    //-           // Heading Tag Option - div or h1 or h2 or h3 or h4 or h5 or h6
    //-           // Headline Font Size Option
    //-           // Desktop : font-w-bold-64 / font-w-regular-64 / font-w-semibold-60 / font-w-regular-54 / font-w-semibold-46 / font-w-bold-40 / font-w-semibold-40 / font-w-semibold-32
    //-           // Mobile : font-m-bold-40 / font-m-regular-40 / font-m-semibold-32 / font-m-bold-30 / font-m-semibold-30 / font-m-regular-30 / font-m-semibold-26
    //-           // The font size applied here is the default value for this component.
    //-           .cmp-title.font-w-semibold-40.font-m-semibold-26(data-cmp-data-layer='')
    //-             h2.cmp-title__text
    //-               | What people are saying
    //-       .c-review-wrap
    //-         // BV1 integration guide
    //-         // https://knowledge.bazaarvoice.com/wp-content/conversations/en_US/Display/display_integration_v1.html
    //-         // BV1
    //-         #BVRRContainer(data-modelid='MD07548335')
  // // Main
  // Modal
  // // Modal
  // Footer
  // // Footer
  // Script
  // - AEM default JS
  script(src='../../assets/js/clientlib-base.lc-d23324b05a7719ac2449be299d1d2939-lc.min.js' async='')
  // - default JS
  script(src='../../main.js' type='module')
  // - dev.js is for checking markup, do not use it.
  script(src='../../dev.js')
  // - BV1 (ex: uk)
  script(src='https://display.ugc.bazaarvoice.com/static/LGElectronics-en/en_GB/bvapi.js' async='')
  // - BV2 (ex: us)
  // - Shoppilot (ex: ru)
  // - page JS
  script(src='PD0004.js' type='module')
