@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.PD0004';
#{$component} {
  @include lgness-margin('if-headline');
  > .component {
    > .cmp-container {
      @include container($design-grid-full, true);
      @include inset-padding-hz;
    }
  }
  .c-region-header + * {
    @include lgness-component-title-margin;
  }

  // bv reset

  .bv-cv2-cleanslate .bv-core-container-181 .bv-content-search,
  .bv-cv2-cleanslate .bv-core-container-181 .bv-generic-submission {
    border-bottom: 0 !important;
    box-shadow: none !important;
  }
  .bv-cv2-cleanslate .bv-core-container-181 .bv-content-search .bv-masthead .bv-masthead-product,
  .bv-cv2-cleanslate .bv-core-container-181 .bv-generic-submission .bv-masthead .bv-masthead-product {
    border-bottom: 0 !important;
  }
}
