/* stylelint-disable font-family-no-missing-generic-family-keyword */
@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.ETC000C';
#{$component} {
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  .c-button[class*='-box'].disabled:not(.c-button[class*='-box'][class*='-box-outlined']) {
    color: $grayb;
    background-color: $gray9;
  }
  .fluid-container {
    max-width: none;
  }
  #{$text-contents} {
    &__bodycopy {
      margin-top: rem($margin10px);
      a {
        color: $red;
        text-decoration: underline;
      }
      p.con-text {
        margin-bottom: rem($margin12px);
        @include screen(web) {
          margin-bottom: rem(20px);
        }
      }
    }
    &__list {
      display: flex;
      align-items: flex-start;
      margin-left: rem($margin6px);
      margin-bottom: rem(12px);
      span {
        margin-right: rem($margin6px);
      }
      &:last-child {
        margin-bottom: rem(0);
      }
    }
    &__title {
      color: $black;
      margin: 0 auto rem($margin12px);
      padding: 0;
      font-weight: $font-regular;
      font-size: rem(20px);
      line-height: rem(24px);
      margin-top: rem(24px);
      @include screen(web) {
        font-size: rem(32px);
        line-height: rem(36px);
        padding: 0;
        margin-bottom: rem(20px);
      }
      &.ty2 {
        margin-top: 0;
      }
    }
    span {
      display: block;

      @include screen(web) {
        display: inline-block;
      }
    }
  }
  .my-component {
    @include container($design-grid-full, true);
    @include inset-padding-hz;

    $mycomponent: '.my-component';
    position: relative;
    overflow: hidden;
    padding-bottom: rem($padding20px);
    @include screen(web) {
      padding-bottom: rem($padding24px);
    }
    &:first-child {
      padding-top: rem($padding24px);
      padding-bottom: rem($padding24px);
    }
    & > .c-product-list--carousel {
      padding-left: 0;
      padding-right: 0;
    }
    &__wrap {
      border-top: none;
      @include screen(web) {
        border-bottom: rem($border1) solid $mid-gray1;
      }
    }
    &--maximum {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
      .my-component {
        max-width: rem(952px);
      }
    }

    &__title-section {
      color: $mid-gray3;
    }
    &.container {
      padding-top: rem($padding24px);
      padding-bottom: rem($padding24px);
    }
    &.required {
      padding-bottom: rem(0);
    }
    .my-form-required {
      position: absolute;
      display: block;
      top: rem(5px);
      right: rem(0);
      @include screen(web) {
        top: rem(12px);
      }
    }
    &.head {
      &.borb {
        border-bottom: rem($border1) solid $mid-gray1;
        @include screen(web) {
          border-bottom: none;
        }
      }
    }
  }
  .c-form {
    margin-top: rem($margin16px);
    margin-bottom: rem($margin16px);
    @include screen(web) {
      margin-top: rem($margin20px);
      margin-bottom: rem($margin20px);
    }
    &.ty2 {
      margin-bottom: rem(0);
      @include screen(web) {
        margin-bottom: rem(0);
      }
    }
    &__radio-box {
      display: flex;
      flex-direction: column;
      @include screen(web) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: rem(8px);
      }
      .c-form-box {
        margin: 0;
        @include screen(web) {
          flex-shrink: 0;
          margin-right: rem(24px);
          &:last-child {
            margin-right: 0;
          }
        }
        .c-radio-item {
          &-box {
            font-size: rem(16px);
            margin-bottom: rem(0);
          }
        }
      }
    }
    label {
      display: block;
      color: $gray3;
      margin-bottom: rem($margin8px);
      @include screen(web) {
        margin-bottom: rem($margin20px);
      }
      &.radio {
        margin-bottom: rem($margin8px);
      }
    }
  }
  .c-input-item {
    &.ty2 {
      margin-top: rem($margin20px);
      &.my-warn {
        textarea {
          border-color: $active-red;
        }
      }
    }
    label {
      color: $gray3;
    }
    .c-input-item--length {
      margin-top: rem($margin8px);
    }
  }
  .tabs__wide {
    .cmp-tabs {
      &__inner {
        margin-bottom: 0;
        width: 100%;
        border-bottom: rem($border1) solid $graycb;
        @include screen(web) {
          // border-top: rem($border1) solid $graycb;
        }
      }
      &__tablist {
        margin: 0 auto;
        width: 100%;
        @include container($design-grid-full, true);
        @include inset-padding-hz;
        padding-top: 0;
        padding-bottom: 0;
        gap: rem(24px);
        @include screen(mobile) {
          justify-content: flex-start;
        }
        @include screen(web) {
          gap: rem(72px);
          max-width: rem(952px);
        }
        &.long-text-es {
          li {
            @include screen(custom, (rem(769px) rem(960px))) {
              line-height: 1.25rem;
            }
          }
        }
      }
      &__tab {
        padding: rem($padding19px) 0;
        text-align: center;
        line-height: rem(18px);
        @include screen(web) {
          flex: 1;
          padding: rem(23px) 0;
          font-size: rem(32px);
          line-height: rem(36px);
          font-weight: $font-regular;
          width: 33.3%;
          span {
            white-space: normal;
          }
        }
        &--active {
          &:after {
            bottom: 0;
            height: rem($height2px);
            @include screen(web) {
              height: rem($height4px);
            }
          }
        }
      }
      &__tabpanel {
        padding-top: rem(0);
      }
    }
  }
  .tabs .cmp-tabs__tab.cmp-tabs__tab {
    color: $black;
    &--active {
      color: $black;
    }
  }
  .jeongdo {
    padding-top: rem($padding20px);
    // padding-left: 0;
    // padding-right: 0;
    &-text {
      padding: rem($padding5px) rem($padding25px);
      background-color: $ivory6;
      font-size: rem(12px);
      line-height: rem(15px);
      color: $gray6;
      @include screen(web) {
        padding: rem($padding10px) rem($padding20px);
        border-radius: rem($radius8);
      }
    }
    &__title--box {
      position: relative;
    }
    &__title {
      margin: 0 auto rem($margin12px);
      padding: 0;
      font-weight: $font-regular;
      font-size: rem(20px);
      line-height: rem(24px);
      @include screen(web) {
        font-size: rem(32px);
        line-height: rem(36px);
        padding: 0;
        padding-bottom: rem($padding20px);
        margin-bottom: 0;
      }
    }
    &__box {
      @include lgness-radius('default');
      margin: 0 auto;
      background-color: $white;
      padding: rem($padding20px) rem($padding16px);
      @include screen(web) {
        padding: rem($padding24px);
      }
    }
  }
  .c-upload-item {
    .c-warning {
      margin-top: rem(0);
    }
    &__msg {
      color: $mid-gray3;
      font-size: rem(14px);
      line-height: rem(16px);
      @include screen(web) {
        font-size: rem(16px);
        line-height: rem(20px);
      }
    }
    &__container {
      display: flex;
      flex-direction: column;
      gap: rem($margin10px);
      width: 100%;
      > *:not(.c-upload-item__indicator) {
        flex-shrink: 0;
      }
      @include screen(web) {
        flex-direction: row;
        column-gap: rem($margin24px);
      }
    }
    &__indicator {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: rem($gutter-m);
      height: rem(44px);
      border-radius: rem($form-radius);
      border: rem($border1) solid $mid-gray1;
      padding-left: rem($padding13px);
      padding-right: rem($padding13px);
      @include screen(web) {
        flex: 1;
      }
    }
    &__indicate-file-name {
      color: $mid-gray2;

      // font
      font-size: rem(16px);
      line-height: rem(20px);
    }
    &__file-name {
      @include ellipsis;
    }
    &__placeholder {
      color: $mid-gray2;
    }
    &__file-remover {
      cursor: pointer;
      display: none;
      flex-shrink: 0;
      width: rem($icon24px);
      height: rem($icon24px);
      border-radius: 50%;
      border: none;
      background : {
        image: url($icon-close-white-16-16);
        size: rem(10px 10px);
        repeat: no-repeat;
        color: #a4a3a2;
        position: 50% 50%;
      }
      @at-root .c-upload-item .fill .c-upload-item__file-remover {
        display: block;
      }
    }
    &__buttons {
      display: flex;
      column-gap: rem($margin8px);
      @include screen(web) {
        column-gap: rem($margin16px);
      }
    }
    &__button {
      cursor: pointer;
      display: flex;
      align-items: center;
      height: rem(44px);
      padding: rem($padding11px);
      border-radius: rem($radius999);
      border: rem($border1) solid $mid-gray1;
      background: none;
      &:after {
        content: '';
        width: rem($icon18px);
        height: rem($icon18px);
        background: {
          image: url($icon-plus-black-20-20);
          size: 100% auto;
          color: inherit;
        }
        @include screen(web) {
          width: rem($icon20px);
          height: rem($icon20px);
        }
      }
    }
    &__button--remove {
      &:after {
        background: {
          image: url($icon-minus-black-20-20);
        }
      }
    }
    &__open-explorer {
      input[type='file'] {
        position: absolute;
        width: 1px;
        height: 1px;
        clip: rect(1, 1, 1, 1);
        overflow: hidden;
        color: transparent;
        opacity: 0;
      }

      // font
      font-size: rem(16px);
      line-height: rem(16px);
    }
    &__description {
      color: $mid-gray2;
      margin-top: rem($margin8px);
    }

    // layout : margin
    + .c-upload-item {
      margin-top: rem($margin12px);
    }
  }
  .my-form {
    max-width: rem(952px);
    margin: 0 auto;
    & + .my-form {
      margin-top: rem($margin20px);
      @include screen(web) {
        margin-top: rem($margin24px);
      }
    }
    &-required {
      margin: 0 auto;
      text-align: right;
      color: $mid-gray2;
      em.c-required {
        color: $mid-gray2;
      }
      & + .my-form {
        margin-top: rem($margin8px);
        @include screen(web) {
          margin-top: rem($margin20px);
        }
      }
    }
    &__info {
      color: $gray3;
      margin-bottom: rem($margin20px);
      @include screen(web) {
        margin-bottom: rem($margin24px);
      }
      span.font-black {
        color: $black;
      }
      & + .my-input {
        // border-top: rem($border1) solid $mid-gray1;
        padding-top: rem($padding16px);
        margin-top: rem($margin16px);
        @include screen(web) {
          padding-top: rem($padding24px);
          margin-top: rem($margin20px);
        }
      }
    }
  }
  .my-formbox {
    margin: 0 auto;
    .my-formbox__button {
      margin-top: rem($margin60px);
      @include screen(mobile) {
        margin-top: rem($margin32px);
        justify-content: space-between;
      }
      .c-button {
        @include screen(mobile) {
          min-width: calc(50% - rem(5px));
        }
      }
    }
  }
  .agree_form {
    border-top: 1px solid $graycb;
    margin-top: rem($margin36px);
    padding-top: rem($padding16px);
    .agree-formbox {
      margin-top: rem($margin20px);
      &__title {
        padding-bottom: rem($padding8px);
        font-size: rem(14px);
        line-height: rem(18px);
        color: $gray3;
        @include screen(web) {
          font-size: rem(16px);
        }
      }
      &__scroll {
        height: rem(200px);
        padding: rem($padding12px) rem($padding4px) rem($padding12px) rem($padding12px);
        border: rem($border1) solid $mid-gray1;
        background-color: $white;
        border-radius: rem($radius12);
        overflow: hidden;
        &--text {
          height: rem(176px);
          overflow-y: auto;
        }
      }
      &__check {
        margin-top: rem($margin8px);
        .c-warning {
          padding-left: rem($padding13px);
        }
        .checkbox {
          font-size: rem(14px);
          @include screen(web) {
            font-size: rem(16px);
          }
        }
      }
    }
    .agree-formbox + .agree-formbox {
      margin-top: rem($margin20px);
      @include screen(web) {
        margin-top: rem($margin24px);
      }
    }
  }
  .c-cta,
  .my-formbox__button {
    margin-top: rem($margin24px);
    justify-content: center;
    gap: rem(8px);
    @include screen(web) {
      margin-top: rem($margin32px);
    }
    .c-button {
      @include screen(mobile) {
        // flex: 1;
      }
    }
  }
  .my-check {
    margin-top: rem($margin8px);
    .button + .button {
      margin-top: rem($margin8px);
    }
    &__item {
      display: flex;
    }
    & + .c-cta {
      .c-button {
        width: 100%;
        @include screen(web) {
          width: auto;
        }
      }
    }
    &__button {
      align-items: flex-end;
      gap: 0 rem(6px);
      display: flex;
    }
    .c-checkbox-item .label {
      font-size: rem(14px);
      line-height: rem(16px);
      @include screen(web) {
        font-size: rem(16px);
        line-height: rem(20px);
      }
    }
    &--receipt-text {
      color: $gray3;
      margin-top: rem($margin8px);
      padding-left: rem($padding28px);
      font-size: rem(14px);
      line-height: rem(16px);
      max-width: rem(680px);
      @include screen(web) {
        font-size: rem(16px);
        line-height: rem(20px);
      }
    }
  }
  .my-input {
    text-align: left;
    ul {
      @include reset-list-style;
      li {
        width: 100%;
        @include screen(web) {
          width: auto;
        }
        .c-warning,
        .c-valid {
          line-height: rem(14px);
          padding-left: rem($padding13px);
          &::before {
            display: none;
          }
          margin-top: rem($margin4px);
          &:first-child {
            margin-top: rem($margin6px);
          }
          @include screen(web) {
            margin-top: rem($margin6px);
            line-height: rem(16px);
            &:first-child {
              margin-top: rem($margin8px);
            }
          }
        }
      }
      li + li {
        margin-top: rem($margin16px);
        @include screen(web) {
          margin-top: rem($margin20px);
        }
      }
      .c-search-box__form {
        gap: 0;
        @include screen(web) {
          flex-direction: column;
        }
      }
      .c-input-item {
        position: relative;
        label {
          color: $gray3;
        }
        .my-input__password {
          padding-right: rem($padding45px);
        }
        &.active {
          .my-form__eye {
            background: url($icon-mylg-view-on-24-24) center / contain no-repeat;
          }
        }
      }
      .my-captcha {
        $captch: '.my-captcha';
        &__container {
          display: flex;
          flex-flow: column;
        }
        &__area {
          display: flex;
          align-items: center;
        }
        &__box {
          border: rem($border1) solid $grayd;
          border-radius: rem($radius6);
          margin-bottom: rem($margin10px);
          width: 100%;
          height: rem(76px);
          margin-top: rem($margin10px);
        }
        &__btnbox {
          display: flex;
          flex-flow: column;
          align-items: center;
          margin-left: rem($margin10px);
          #{$captch}__button + #{$captch}__button {
            margin-top: rem($margin20px);
          }
        }
        &__button {
          cursor: pointer;
          border: none;
          position: relative;
          max-width: rem(24px);
          max-height: rem(24px);
          min-width: rem(24px);
          min-height: rem(24px);
          &--reload {
            background: url($icon-captcha-refresh-24-24) center / contain no-repeat;
          }
          &--play {
            background: url($icon-captcha-volume-24-24) center / contain no-repeat;
          }
        }
      }
    }
    input {
      color: $mid-gray2;
      border: rem($border1) solid $mid-gray1;
      border-radius: rem(12px);
      padding: rem($padding12px) rem($padding13px);
      font-size: rem(16px);
      line-height: rem(20px);
      height: rem($height44px);
      &[data-placeholder]::before {
        color: $gray6;
        font-size: rem(14px);
      }
      &[type='password'] {
        padding-right: rem($padding45px);
      }
      &[readonly] {
        background-color: $ivory6;
        &::placeholder {
          color: $grayb;
        }
      }
      &[disabled] {
        background-color: $ivory6;
        &::placeholder {
          color: $grayb;
        }
      }
    }
    .c-checkbox-item {
      margin-top: rem($margin8px);
      .label {
        font-size: rem(16px);
        @include screen(web) {
          font-size: rem(14px);
        }
      }
    }
    .button {
      justify-content: center;
      margin-top: rem($margin30px);
    }
    .my-form {
      &__eye {
        display: inline-block;
        background: url($icon-mylg-view-32-32) center / contain no-repeat;
        position: absolute;
        top: 50%;
        right: rem(15px);
        width: rem($width24px);
        height: rem($height24px);
        border: none;
        cursor: pointer;
        @include screen(web) {
          top: calc(50% - rem(-2px));
        }
      }
      &__search {
        padding-right: rem($padding50px);
        &__icon {
          display: inline-block;
          position: absolute;
          right: rem(16px);
          width: rem($width24px);
          height: rem($height24px);
          border: none;
          cursor: pointer;
          top: 50%;
          background: url($icon-search-black-24-24) center / rem(21px) rem(21px) no-repeat;
          @include screen(web) {
            top: 53%;
            background: url($icon-search-black-24-24) center / rem(16px) rem(16px) no-repeat;
          }
        }
      }
    }
    .my-warn {
      padding-right: rem($padding40px);
      border-color: $active-red;
      select {
        border-color: $active-red;
      }
    }
    .c-search-box__form.my-warn {
      padding-right: 0;
    }
    .input-button__container {
      display: flex;
      flex-direction: column;
      @include screen(web) {
        // display: flex;
        flex-direction: row;
        gap: 0 rem(8px);
      }
      .button {
        margin-top: rem($margin8px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: initial;
        flex-direction: column;
        @include screen(web) {
          margin: 0;
          flex-direction: row;
        }
        .cmp-button {
          width: 100%;
          white-space: nowrap;
          @include screen(web) {
            min-width: 0;
          }
        }
      }
      &--validation {
        .my-button-validation {
          flex: 1;
        }
      }
    }
    select {
      font-size: rem(16px);
      @include screen(web) {
        font-size: rem(14px);
      }
    }
    .c-select-item {
      label {
        font-weight: $font-regular;
        color: $gray3;
        font-size: rem(14px);
        line-height: rem(16px);
        @include screen(web) {
          font-size: rem(16px);
          line-height: rem(20px);
        }
      }
      select {
        color: $mid-gray2;
        height: auto;
        padding: rem($padding12px) rem($padding13px);
        border-radius: rem(12px);
        font-size: rem(16px);
        line-height: rem(20px);
        option[selected] {
          color: $mid-gray2;
        }
      }
    }
    .infoTxt {
      margin-top: rem($margin8px);
      p {
        color: $black;
        font-size: 14px;
        font-family: "LG Smart UI";
        line-height: 16px;
      }
      ul {
        margin-top: rem($margin8px);
      }
      li {
        color: $mid-gray3;
        font-size: 14px;
        font-family: "LG Smart UI";
        line-height: 16px;
      }
      li + li {
        margin-top: rem(0);
      }
    }
  }
  ul.my-input__info {
    padding: rem(0);
    color: $mid-gray3;
    margin-top: rem($margin8px);
    list-style: none;
    @include screen(web) {
      max-width: 90%;
    }
    &.align-right {
      max-width: 100%;
      text-align: right;
    }
  }
  .toast-popup {
    max-width: rem(830px);
    position: fixed;
    left: 0;
    bottom: -100%;
    width: calc(100% - rem(32px));
    margin: 0 rem($margin16px);
    transition: bottom ease-in-out 0.5s;
    @include screen(web) {
      margin: 0;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
    &.active {
      bottom: rem(12px);
    }
    &__item--success {
      background-color: #076369;
    }
  }
  // privacy
  .jeongdo__privacy {
    @include container($design-grid-full, true);
    margin: rem($margin24px) auto;
    max-width: rem(952px);
    padding-left: rem($padding16px);
    padding-right: rem($padding16px);
    @include screen(mobile) {
      border-top: rem($border1) solid #e4e0d8;
      margin-top: 0;
      padding-top: rem($padding24px);
    }
    @include screen(web) {
      margin: rem($margin40px) auto;
    }
    .c-title {
      padding-bottom: rem($padding4px);
      font-size: rem(16px);
      line-height: rem(20px);
      font-weight: $font-regular;
      @include screen(web) {
        padding-bottom: rem($padding12px);
        font-size: rem(20px);
        line-height: rem(22px);
      }
    }
    .c-text {
      font-size: rem(16px);
      line-height: rem(20px);
      font-weight: $font-regular;
      color: $mid-gray2;
      @include screen(web) {
        font-size: rem(20px);
        line-height: rem(22px);
        letter-spacing: rem(-0.3px);
      }
    }
    .c-button {
      font-size: rem(16px);
      line-height: rem(20px);
      font-weight: $font-semibold;
      color: $black;
      @include screen(web) {
        font-size: rem(20px);
        line-height: rem(22px);
      }
    }
  } 
  .font-w-normal-18,
  .font-m-normal-18 {
    font-size: rem(18px);
    line-height: rem(22px);
  }
  .font-w-normal-13,
  .font-m-normal-13 {
    font-size: rem(13px);
    line-height: rem(18px);
  }   
}
