mixin PD0005(option=false)
    .c-wrapper.PD0005.margin-top.margin-bottom.border-top
        .component
            // block - summary area
            .cmp-container
                //- title area
                +component-title-area({
                    headline : {
                        text : "Gallery"
                    }
                })
                .c-summary-gallery-expand
                    +gallery({
                        isPopup: true,
                        standAlone: true,
                        galleryFeatures : ["image", "video", "360", "3d", "ar", "vr"],
                        galleryList : [
                            {color: '000/888'},
                            {color: '111/999'},
                            {color: '222/aaa'},
                            {color: '333/bbb'},
                            {color: '444/ccc'},
                            {color: '555/ddd'},
                            {color: '666/eee'},
                            {color: '777/fff'},
                        ]
                    })