@charset "UTF-8";
// module
@use '../../scss/abstract/' as *;

$component: '.ST0007';
#{$component} {
  > .component > .cmp-container {
    display: flex;
    @include container($design-grid-full, true);
    @include inset-padding-hz;
    @include flex-context(column);
  }
  // block : list
  .c-list {
    @include reset-list-style;
    display: flex;
    @include flex-context($direction: column);
    gap: rem($margin24px);
    @include screen(web) {
      @include flex-context($direction: row);
      gap: min(rem($gutter-w), $gutter-w / $design-grid-full * 100%);
    }
    &__item {
      flex-grow: 1;
      flex-basis: 0;
    }
  }
  // block : image
  .c-image {
    overflow: hidden;
    @include lgness-radius('default');
    .fit-content {
      background: #fff;
      aspect-ratio: 708 / 472;
      .cmp-image__image {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: fit-content;
        height: fit-content;
      }
      .image-frame {
        width: 100%;
        max-width: 100%;
      }
    }
  }
  // block : media
  .c-media {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $z-index1;
    &__controls {
      padding-bottom: rem($padding44px);
      @include screen(web) {
        padding-bottom: rem($padding58px);
      }
    }
  }
  // block : text contents
  .c-text-contents {
    flex: 1;
    // .custom-text {
    //     .font-red {
    //         color: $active-red;
    //     }
    // }
    // layout : margin
    $text-contents: '.c-text-contents';
    @at-root #{$component} {
      #{$text-contents}__eyebrow + #{$text-contents}__headline {
        margin-top: rem($margin8px);
      }
      #{$text-contents}__headline + #{$text-contents}__bodycopy {
        margin-top: rem($margin8px);
      }
      * + .c-cta {
        justify-content: flex-start; /* 230512 RTL */
        margin-top: rem($margin12px);
        @include screen(web) {
          margin-top: rem($margin24px);
        }
      }
      .c-media-contents + #{$text-contents} {
        margin-top: rem($margin12px);
        @include screen(web) {
          margin-top: rem($margin20px);
        }
      }
      // column 3, 4
      .column3,
      .column4 {
        #{$text-contents}__headline + #{$text-contents}__bodycopy {
          margin-top: rem($margin8px);
        }
      }
    }
  }
  .c-list + .c-cta {
    justify-content: center;
    border-top: rem($border1) solid $mid-gray1;
    margin-top: rem($margin16px);
    padding-top: rem($padding16px);
    @include screen(web) {
      margin-top: rem($margin32px);
      padding-top: rem($padding32px);
    }
  }
}
