@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.BU0001';
$text-contents: '.c-text-contents';
$button: '.c-button';
#{$component} {
  $container-width: columns(8, false);

  @include lgness-margin('if-headline');
  // element
  > .component > .cmp-container {
    @include container($container-width, true);
    @include inset-padding-hz;
  }

  // block
  .c-message-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: rem($height350px);
    background-color: $white;
    padding: rem($padding40px $padding25px - $block-margin-m);
    @include lgness-radius('default');
    @include screen(web) {
      min-height: rem($height400px);
      /* stylelint-disable-next-line function-calc-no-unspaced-operator */
      padding: rem($padding80px) min(rem($padding46px), calc(100% * $padding46px/$container-width));
    }

    // element
    &__wrapper {
      display: flex;
      flex-direction: column;
    }
    &__desc {
      color: $gray3;
    }

    // modify : icon;
    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: rem($margin20px);

      $icon: '&:before';
      #{$icon} {
        content: '';
        display: inline-flex;
        width: rem($icon60px);
        height: rem($icon60px);
        background : {
          repeat: no-repeat;
          size: 100% auto;
          position: 50% 50%;
        }
      }
    }

    $icon: '.c-message-box__icon:before';

    &--confirm {
      #{$icon} {
        background-image: url($icon-email-mid-gray2-60-60);
      }
    }
    &--system-error {
      #{$icon} {
        background-image: url($icon-error-red-60-60);
      }
    }
    &--sending-error {
      #{$icon} {
        background-image: url($icon-sending-error-gray3-60-60);
      }
    }
  }

  // layout : margin
  .c-region-header + * {
    @include lgness-component-title-margin;
  }
  .c-required-area + * {
    margin-top: rem($margin20px);
    @include screen(web) {
      margin-top: rem($margin8px);
    }
  }
  * + .iframe-container {
    margin-top: rem($margin20px);
    @include screen(web) {
      margin-top: rem($margin24px);
    }
  }
  .c-required-area {
    em {
      color: $heritage-red;
    }
  }
  .c-post-form__fieldset-title {
    em.c-required {
      color: $heritage-red;
    }
  }
  .c-region-header__text {
    .cmp-text {
      font-size: rem(12px);
      @include screen(web) {
        font-size: rem(24px);
      }
    }
    ul.link-list {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      margin-top: rem(15px);
      @include screen(web) {
        margin-top: rem(45px);
      }
      &.w-full {
        width: 100%;
        flex-direction: column;
        gap: rem(5px);
        li {
          width: 100%;
        }
      }
      &.w-col2 {
        flex-direction: row;
        gap: rem(5px) rem(20px);
        li {
          width: calc(50% - rem(10px));
        }
      }
      li {
        font-size: rem(14px);
        list-style: none;
        align-items: center;
        gap: rem(5px);
        @include screen(web) {
          font-size: rem(16px);
        }
        a {
          display: inline-block;
          vertical-align: top;
          margin: rem(1px) 0 0 rem(5px);
          width: rem(14px);
          height: rem(14px);
          background-image: url($icon-link-20-20);
          background-size: rem(14px);
          @include screen(web) {
            width: rem(20px);
            height: rem(20px);
            background-size: rem(20px);
          }
        }
      }
    }
  }
}
