include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
include ../_common/_title-area.pug

mixin CM0012(option=false)

    mixin title-block-area(params)
        +component-title-area({
            alignment : "",
            headline : {
                text : "EXCLUSIVE BENEFITS FOR LG MEMBERS",
            },
            description : {
                text : "Sign in/up and enjoy limited time and stock offers for LG Members only",
                style : "font-w-normal-24 font-m-normal-16"
            }
        })(class="c-region-header--justify-w")
            .c-cta
                +defaultButton({name: 'Sign in', wSize: 'large', mSize: 'medium', buttonStyle: 'default', isButton: false})
                +defaultButton({name: 'Join us', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: false})


    .c-wrapper.CM0012.margin-top.margin-bottom.border-top.bg-default
        .component
            .cmp-container
                //- title area
                +title-block-area