@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.CM0012';
#{$component} {
  @include lgness-margin('if-headline');
  // element
  > .component > .cmp-container {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
  }
  // block
  .c-region-header {
    @include screen(custom, rem(1024px), max) {
      display: block;
    }
    &__complementary-area {
      // c-region-header__complementary-area
      flex: auto;
      flex-shrink: 0;
      @include screen(custom, rem(1024px), max) {
        display: block;
        margin-top: rem($margin15px);
      }
    }
    .c-text-contents {
      max-width: rem($text-box-width-md);
    }
  }

  // layout : margin
  $header: '.c-region-header';

  #{$header} + * {
    @include lgness-component-title-margin;
  }
}
