@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.ST0026';
#{$component} {
  > .component > .cmp-container,
  &.component > .cmp-container {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
  }
  // .component,
  // &.component {
  //     padding-top: rem($component-margin-m);
  //     padding-bottom: rem($component-margin-m);
  // }
  // variable
  $text-contents: '.c-text-contents';
  $swiper-slide: '.swiper-slide';
  // block - text contents
  .c-text-contents {
    @include screen(web) {
      max-width: min(rem($text-box-width-md), $text-box-width-md / $design-grid-full * 100%);
    }
    // layout : margin
    @at-root #{$component} {
      #{$text-contents}__headline + #{$text-contents}__bodycopy {
        margin-top: rem($margin8px);
      }
    }
  }
  // block : cta
  * + .c-cta {
    margin-top: rem($margin12px);
    @include screen(web) {
      margin-top: rem($margin24px);
    }
  }
  .swiper {
    overflow: hidden;
    &-slide {
      display: flex;
      flex-direction: column;
      @at-root #{$component} {
        &.align-center #{$swiper-slide} {
          align-items: center;
        }
        &.align-right #{$swiper-slide} {
          align-items: flex-end; /* 230512 RTL */
        }
        &.align-left #{$swiper-slide} {
          align-items: flex-start; /* 230512 RTL */
        }
      }
    }
  }
  // removing padding as it already exists on parent component
  .ST0003 > .component > .cmp-container {
    padding-left: 0;
    padding-right: 0;
  }
}
