@use '../../scss/abstract/' as *;
// sibling - accordion > radio
.c-sibling-option {
  $block: '.c-sibling-option';
  position: relative;
  @include lgness-radius('default');
  outline: none;
  // font
  &__name {
    font-size: rem(16px);
    line-height: rem(18px);
    @include screen(web) {
      font-size: rem(24px);
      line-height: rem(28px);
    }
  }
  &__price {
    font-size: rem(12px);
    line-height: rem(14px);
    margin-top: rem($margin2px);
    @include screen(web) {
      font-size: rem(16px);
      line-height: rem(16px);
      margin-top: rem($margin4px);
    }
  }
  // margin
  // element
  &__detail {
    background-color: $white;
    border: rem($border2) solid transparent;
    padding: rem($padding12px $padding14px);
    height: 100%;
    @include lgness-radius('inner/medium');
    @include screen(web) {
      padding: rem($padding20px $padding16px);
    }
    @at-root input:disabled + .c-sibling-option__detail {
      background: $warm-gray;
      color: $mid-gray1;
      label {
        cursor: default;
      }
    }
    &.horizontal-align {
      // for color siblings
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  &__primary-detail {
    display: flex;
    flex-direction: column;
    gap: rem($margin2px) min(7%, rem($margin20px));
    @include screen(web) {
      row-gap: rem($margin4px);
    }
    label {
      cursor: pointer;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
  }
  &__secondary-detail {
    // ...
  }
  &__definition {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: rem($margin6px $margin8px);
  }
  &__name {
    display: flex;
    align-items: center;
    gap: rem($margin6px $margin8px);
  }
  &__swatch {
    $size: $width30px;
    width: rem($size);
    height: rem($size);
    border-radius: 50%;
    border: rem($border1) solid $graye6;
    flex-shrink: 0;
  }
  &__btn,
  &__price {
    display: flex;
    flex-direction: column;
    row-gap: rem($margin4px);
    .c-button[class*='-box'].small {
      min-width: 0;
    }
  }
  &__btn {
    .button {
      text-align: right;
    }
  }
  &__price-discount {
    del {
      color: $gray6;
    }
    del + * {
      white-space: nowrap;
      margin-left: rem($margin6px);
    }
  }
  &__description {
    min-width: 100%;
  }
  &__disclaimer {
    border-top: rem($border1) solid $graye6;
    padding-top: rem($padding14px);
    margin-top: rem($margin14px);
    @include screen(web) {
      padding-top: rem($padding16px);
      margin-top: rem($margin16px);
    }
    em {
      color: $gray3;
      font-style: normal;
    }
  }
  // &__flag {
  //     width: 100%;
  //     // text-transform: uppercase;
  //     color: $active-red;
  //     line-height: 1;
  // }
  &__zip-input,
  &__date-input {
    margin-top: rem($margin10px);
    &--wrap {
      display: flex;
      gap: rem($margin8px);
      @include screen(web) {
        gap: rem($margin12px);
      }
      .c-input-item {
        flex: 1;
        input {
          height: rem($height44px);
          @include screen(web) {
            height: rem($height56px);
          }
          // font
          font-size: rem(16px);
          line-height: rem(20px);
          @include screen(web) {
            font-size: rem(20px);
            line-height: rem(24px);
          }
        }
      }
    }
    .c-search-combobox__search-return-msg {
      margin-top: rem($margin8px);
    }
    .c-select-item select {
      border-width: 0;
      @include screen(web) {
        height: rem($height60px);
      }
    }
  }
  &__address-select {
    position: relative;
    background-color: $white;
    border: rem($border2) solid transparent;
    height: 100%;
    z-index: 1;
    @include lgness-radius('inner/medium');
    .c-select-item {
      select {
        min-height: rem(42px);
        border: 0;
        font-size: rem(16px);
        line-height: rem(18px);
        @include screen(web) {
          min-height: rem(68px);
          font-size: rem(24px);
          line-height: rem(28px);
        }
      }
    }
  }
  &.checked {
    pointer-events: none;
    .c-sibling-option__detail {
      border: rem($border2) solid $black;
    }
  }
  &:focus-visible {
    .c-sibling-option__detail {
      outline: rem(2px) dashed currentcolor;
      outline-offset: rem(-5px);
    }
  }
  // block
  .c-date-input {
    &__field {
      margin: 0;
      //     display: flex;
      //     flex-direction: column;
      //     gap: rem($margin8px);
      //     @include screen(web) {
      //         flex-direction: row;
      //         align-items: center;
      //         gap: rem($margin12px);
      //     }
    }
    &__input-part {
      position: relative;
      cursor: pointer;
      display: block;
      background-color: $white;
      @include screen(mobile) {
        width: 100%;
      }
    }
    &__input {
      position: relative;
      width: 100%;
      min-width: rem($min-width168px);
      background-color: transparent;
      border-radius: rem($radius12);
      border: rem($border1) solid $mid-gray1;
      padding: rem(0 $padding15px);
      height: rem($height40px);
      // @include screen(web) {
      //     height: rem($height40px);
      // }
      &::-webkit-inner-spin-button,
      &::-webkit-calendar-picker-indicator {
        opacity: 0;
      }
    }
    &__ware {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: rem($padding12px);
      z-index: 1;
      &:after {
        $size: rem($icon32px);
        content: '';
        display: block;
        width: $size;
        height: $size;
        color: $gray3;
        appearance: none;
        border: none;
        background: {
          color: $white;
          image: url($icon-calendar-black-32-32);
          size: 100% auto;
          repeat: no-repeat;
        }
      }
    }
  }
  // variation
  $deactive: 'input:not(:checked) ~ .c-sibling-option__detail';
  $active: 'input:checked ~ .c-sibling-option__detail';
  $disabled: 'input:disabled ~ .c-sibling-option__detail';
  $swatch: 'input[name*="color"] ~ .c-sibling-option__detail';
  #{$deactive} {
    #{$block}__name,
    #{$block}__description,
    #{$block}__price {
      color: $black;
    }
    // #{$block}__description,
    #{$block}__secondary-detail,
    #{$block}__price-discount,
    #{$block}__disclaimer {
      display: none;
    }
    // RO
    #{$block}__primary-detail .c-sibling-option__price--toggle {
      display: none;
    }
  }
  #{$active} {
    border: rem($border2) solid $black;
    &.label-toggle-display #{$block}__primary-detail label {
      display: none;
    }
    // RO
    &.label-toggle-display #{$block}__primary-detail .c-sibling-option__price--toggle {
      display: flex;
    }
  }
  #{$disabled} {
    .c-sibling-option {
      &__name,
      &__price {
        color: $mid-gray1;
      }
    }
  }
  #{$swatch} {
    #{$block}__definition {
      align-items: center;
      @include screen(web) {
        flex-wrap: nowrap;
      }
      @include screen(mobile) {
        flex-direction: column;
        text-align: center;
        row-gap: rem($margin12px);
      }
    }
  }
  // RO Btype : block : product-dilivery-time
  &.c-product-dilivery-time {
    padding-bottom: rem($padding16px);
    border-bottom: rem($border1) solid $mid-gray1;
    border-radius: 0;
    @include screen(web) {
      padding-bottom: rem($padding20px);
    }
    .c-product-dilivery-time__disclaimer {
      color: $dark-gray1;
      margin-top: rem($margin8px);
      margin-left: rem($margin20px);
    }
    .c-product-dilivery-time__text {
      display: flex;
      align-items: center;
      width: 100%;
      min-width: rem($min-width168px);
      background-color: $white;
      border-radius: rem($radius12);
      border: rem($border1) solid $mid-gray1;
      color: $mid-gray2;
      padding: rem(0 $padding15px);
      &::-webkit-inner-spin-button,
      &::-webkit-calendar-picker-indicator {
        opacity: 0;
      }
      height: rem($height44px);
      @include screen(web) {
        height: rem($height56px);
      }
      // font
      font-size: rem(16px);
      line-height: rem(20px);
      @include screen(web) {
        font-size: rem(20px);
        line-height: rem(24px);
      }
    }
    .c-date-input__input-part {
      border-radius: rem($radius12);
    }
    .c-sibling-option-box {
      &__head {
        padding-top: rem($padding16px);
        padding-bottom: rem($padding16px);
        @include screen(web) {
          padding-top: rem($padding20px);
          padding-bottom: rem($padding20px);
        }
      }
      &__contents {
        display: block;
      }
    }
    .c-sibling-option__date-input {
      margin: 0;
    }
  }
}
.c-addon-product-box__item {
  // RO
  .c-product-dilivery-time {
    &__head {
      padding-bottom: rem($padding15px);
      @include screen(custom, rem($tablet + 1px), min) {
        padding-bottom: rem($padding20px);
      }
    }
  }
}
.c-sibling-option + .c-sibling-option-box__option-title {
  // RO
  margin-top: rem($margin12px);
  @include screen(web) {
    margin-top: rem($margin16px);
  }
}
.c-sibling-option-box {
  $block: '.c-sibling-option-box';
  // element
  &__head {
    display: flex;
    align-items: center;
    column-gap: rem($margin10px);
    padding-right: rem($padding20px + $padding10px);
  }
  &__contents {
    display: none;
    background-color: $light-gray3;
    padding: rem($padding8px);
    @include lgness-radius('default');
    @include screen(web) {
      padding: rem($padding12px);
    }
    @at-root .c-accordion__box--expand #{$block}__contents {
      display: block !important;
    }
  }
  &__option-group {
    display: grid;
    gap: rem($margin8px);
    @include screen(web) {
      gap: rem($margin12px);
    }
    // display: flex;
    // flex-wrap: wrap;
    // & + #{$block}__option-group {
    //     border-top: rem($border1) solid $graye6;
    //     margin-top: rem($margin20px);
    //     padding-top: rem($padding20px);
    //     @include screen(web) {
    //         margin-top: rem($margin24px);
    //         padding-top: rem($padding24px);
    //     }
    // }
  }
  &__information-group {
    // ....
  }
  &__option-moreGroup {
    display: grid;
    gap: rem($margin8px);
    margin-top: rem(18px);
    &:first-child {
      margin-top: 0 !important;
    }
    @include screen(web) {
      gap: rem($margin12px);
      margin-top: rem(24px);
    }
    .c-sibling-option {
      cursor: pointer;
      &:focus-visible {
        outline: none;
        .c-sibling-option__detail {
          outline: rem($border2) solid currentcolor;
        }
      }
      .c-sibling-option__secondary-detail {
        display: none;
      }
      &.active {
        .c-sibling-option__detail {
          border: rem($border2) solid $black;
          .c-sibling-option__secondary-detail {
            display: block;
          }
        }
      }
    }
  }
  &__option-title {
    margin: 0;
    font-size: rem(16px);
    line-height: rem(18px);
    @include screen(web) {
      margin-top: rem($margin4px);
      font-size: rem(24px);
      line-height: rem(28px);
    }
  }
  // block
  .c-tooltip {
    .button {
      position: relative;
      z-index: 1;
      .c-icon-button--information {
        width: rem(24px);
        height: rem(24px);
      }
    }
    .c-tooltip__container {
      z-index: 2;
    }
  }
  .c-accordion__button {
    align-items: center;
    // padding-top: rem($padding10px);
  }
  // modifier
  &--layout-full {
    // block
    .c-sibling-option__primary-detail {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      $first-child: 'label';
      $second-child: '> *:not(label):first-child + *';
      $last-child: '> *:last-child';
      #{$second-child} {
        flex-shrink: 0;
      }
      #{$last-child} {
        flex: 1;
      }
      // modifier
      &--single-line-mobile {
        @include screen(mobile) {
          flex-wrap: wrap;
          align-items: flex-start;
          .c-sibling-option__price {
            min-width: 100%;
            text-align: left;
          }
        }
      }
    }
    .c-sibling-option__price {
      text-align: right;
      @include screen(web) {
        // ....
      }
    }
  }
  &--layout-half {
    #{$block}__option-group {
      @include screen(web) {
        grid-template-columns: repeat(auto-fill, minmax(auto, calc(50% - rem(calc($margin12px / 2)))));
      }
    }
  }
  &--layout-quarter {
    #{$block}__option-group {
      @include reset-list-style;
      grid-template-columns: repeat(auto-fill, minmax(auto, calc(50% - rem(calc($margin12px / 2)))));
      @include screen(desktop) {
        grid-template-columns: repeat(auto-fill, minmax(auto, calc(25% - rem($margin12px))));
      }
    }
  }
  &--layout-third {
    #{$block}__option-group {
      grid-template-columns: repeat(auto-fill, minmax(auto, calc(50% - rem(calc($margin12px / 2)))));
      @include screen(desktop) {
        grid-template-columns: repeat(auto-fill, minmax(auto, calc(33.3333% - rem($margin12px))));
      }
    }
  }
  // variation
  $collapse: "&:not([class*='--expand'])";
  $expand: "&[class*='--expand']";
  #{$collapse} {
    #{$block}__head {
      // border-bottom: rem($border1) solid $mid-gray1;
      // padding: rem($padding20px) 0;
      // @include screen(web) {
      //     padding: rem($padding30px) 0;
      // }
    }
    &:not(:last-child) {
      // margin-bottom: rem($margin20px);
      // @include screen(web) {
      //     margin-bottom: rem($margin30px);
      // }
    }
  }
  // @at-root .PD0003 {
  //     .c-product-basic-information,
  //     .c-product-extra-information {
  //         + .c-product-summary-siblings .c-accordion:first-child #{$block}[class*='--expand'] {
  //             @include screen(web) {
  //                 margin-top: rem($margin40px);
  //             }
  //         }
  //     }
  // }
  #{$expand} {
    // margin-top: rem($margin10px);
    // padding-bottom: rem($padding10px);
    // @include screen(web) {
    //     margin-top: rem($margin40px - $margin10px);
    // }
    // &:first-child {
    //     @include screen(web) {
    //         margin-top: rem($margin40px - $margin2px);
    //     }
    // }
    // &:not(:last-child) {
    //     padding-bottom: rem($padding10px);
    // }
    // @at-root #{$component} .c-sibling-option-box {
    //     + .c-sibling-option-box[class*='--expand'] {
    //         margin-top: rem($margin40px - $margin12px);
    //     }
    // }
    // & + #{$expand} {
    //     margin-top: rem($margin40px - $margin12px);
    // }
    // #{$block}__head {
    //     padding: rem($padding10px) 0;
    //     @include screen(web) {
    //         padding: 0 0 rem($padding12px);
    //     }
    // }
    .c-accordion__button {
      &:after {
        @include screen(web) {
          transform: rotateX($degree180);
        }
      }
    }
  }
  // layout : margin
  &__option-group + #{$block}__information-group {
    margin-top: rem($margin12px);
    @include screen(web) {
      margin-top: rem($margin16px);
    }
  }
  &__information-group {
    .c-text-contents + .c-link {
      margin-top: rem($margin8px);
      @include screen(web) {
        margin-top: rem($margin6px);
      }
    }
  }
}

.c-product-basic-information {
  .c-product-item {
    gap: rem($margin8px);
    @include screen(web) {
      gap: rem($margin16px);
    }
  }
}

// accordion > list
.c-product-extra-information {
  // element
  // block
  .c-list {
    @include list(wrap, $margin5px $margin30px);
    // element
    &__item {
      $gap: rem($margin6px);
      display: flex;
      align-items: flex-start;
      column-gap: $gap;
      min-width: calc(100% / 3 - ($gap * 4));
      color: $gray3;

      $disc: '&:before';
      $size: $width3px;
      #{$disc} {
        content: '';
        display: block;
        width: rem($size);
        height: rem($size);
        background-color: $gray6;
        border-radius: 50%;
        margin-top: rem($margin10px);
      }
    }
    &__item-presentation-image {
      overflow: hidden;
      flex-shrink: 0;
      width: rem($width30px);
      margin-top: rem(($margin12px - $margin4px) * 0.5);
      margin-bottom: rem(($margin12px - $margin4px) * 0.5);
      @include screen(web) {
        margin-top: rem(($margin16px - $margin4px) * 0.5);
        margin-bottom: rem(($margin16px - $margin4px) * 0.5);
      }
    }
    // modifier
    &--single-column {
      flex-direction: column;
    }
    &--no-bleet {
      .c-list__item {
        align-items: center;
      }
      .c-list__item:before {
        display: none;
      }
    }
  }
  .c-compatible {
    // added by adobe
    .c-search-datalist {
      margin-top: rem(10px);
    }
    // - added by adobe
    .c-list {
      @include lgness-radius('default');
      background-color: $light-gray3;
      padding: rem($padding14px);
      @include screen(web) {
        padding: rem($padding16px);
      }
    }
    .c-search-combobox {
      margin-top: rem(($margin4px - $padding16px));
      @include screen(web) {
        margin-top: rem(($margin8px - $padding20px));
      }
      &__search-form {
        @include lgness-radius('default');
        background-color: $light-gray3;
        margin-top: rem($margin8px);
      }
    }
    // RO ver
    .button.align-right + .c-search-combobox {
      margin-top: rem($margin20px);
    }
    .c-search-combobox__description + .c-search-combobox {
      margin-top: rem($margin8px);
    }
    // font
    .c-list__item {
      font-size: rem(14px);
      line-height: rem(16px);
      @include screen(web) {
        font-size: rem(16px);
        line-height: rem(20px);
      }
    }
    .c-search-combobox__description {
      font-size: rem(12px);
      line-height: rem(14px);
      @include screen(web) {
        font-size: rem(16px);
        line-height: rem(20px);
      }
    }
    .c-search-combobox__indicator {
      font-size: rem(14px);
      line-height: rem(16px);
      @include screen(web) {
        font-size: rem(16px);
        line-height: rem(20px);
      }
      // RO
      &--bottom {
        margin-top: rem($margin6px);
        @include screen(web) {
          margin-top: rem($margin8px);
        }
      }
    }
  }
  .c-key-feature {
    &__button {
      &--expand {
        .c-button[aria-expanded='false'] {
          .collapse {
            display: none;
          }
        }
        .c-button[aria-expanded='true'] {
          .expand {
            display: none;
          }
          &:after {
            transform: rotateX($degree180);
          }
        }
      }
      &--footer {
        display: flex;
        justify-content: flex-end;
      }
      .c-button--text-underline {
        line-height: rem(17px);
      }
    }
    &__description {
      color: $gray6;
      padding: rem($padding12px 0 $padding8px);
      @include screen(web) {
        padding: rem($padding12px 0);
      }
      &:empty {
        display: none;
      }
    }
    .c-list__item {
      $collapse: '#{$component} .c-key-feature .c-list:not(.expanded) .c-list__item:nth-child(n + 4)';
      @at-root #{$collapse} {
        display: none;
      }
    }
    &--toggle {
      &__button {
        &--footer {
          display: none;
          margin: 0;
          &.expanded {
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }
  }
  // layout : margin
  .c-accordion__box + .c-accordion__box {
    // margin-top: rem($margin20px);
  }
  // variation
  $collapse: ".c-accordion__box:not([class*='--expand'])";
  $expand: "[class*='--expand']";
  #{$collapse} {
    .c-accordion__body {
      display: none;
    }
  }
  // #{$expand} {
  // .c-accordion__head {
  //     padding-bottom: rem($padding12px);
  //     @include screen(web) {
  //         padding-bottom: rem($padding16px);
  //     }
  // }
  // }
  .c-list + .button {
    display: flex;
    column-gap: rem($margin20px);
    margin-top: rem($margin12px);
    @include screen(web) {
      margin-top: rem($margin16px);
    }
    &:not([class*='align-']) {
      justify-content: space-between;
    }
  }
}

// block : c-product-item

/* stylelint-disable-next-line no-descending-specificity */

.c-product-item {
  display: flex;
  flex-direction: column;
  gap: rem($margin20px);
  &--price {
    margin-top: rem($margin8px);
    @include screen(web) {
      margin-top: rem($margin16px);
    }
  }
  &__wrapper {
    &--headline {
      display: flex;
      flex-direction: column;
      // gap: rem($margin12px);
    }
    &--available {
      display: flex;
      gap: rem($margin12px);
      @include screen(mobile) {
        flex-direction: column;
      }
      @include screen(web) {
        flex-wrap: wrap;
        column-gap: rem($margin20px);
        row-gap: rem($margin12px);
      }
    }
  }
  // c-product-item__tag
  &__tag {
    display: flex;
    align-items: center;
    gap: rem($margin10px);
    position: relative;
    height: auto;
    @include screen(web) {
      gap: rem($margin6px);
    }
    .c-badge {
      &__align-box {
        gap: rem($margin6px);
      }
    }
    // & > :first-child {
    //     padding-right: rem($padding100px);
    // }
    &--mda {
      padding-top: rem($padding5px);
      padding-bottom: rem($padding5px);
      color: $gray3;
      // font
      font-size: rem(14px);
      line-height: rem(14px);
    }
    &--flag {
      gap: rem($margin9px) #{'/*!rtl:0*/'}; /*! 230601 RTL */
      @include screen(web) {
        gap: rem($margin17px) #{'/*!rtl:0*/'}; /*! 230601 RTL */
      }
      span:nth-child(n + 2) {
        margin-left: rem($margin8px);
        @include screen(web) {
          margin-left: rem($margin16px);
        }
        &::before {
          left: rem($margin8px * -1);
          top: rem($margin4px);
          height: rem($height8px);
          @include screen(web) {
            left: rem($margin16px * -1);
            top: rem($margin6px);
            height: rem($height14px);
          }
        }
      }
      // font
      font-size: rem(14px);
      line-height: rem(16px);
      @include screen(web) {
        font-size: rem(20px);
        line-height: rem(24px);
      }
    }
    &--button {
      padding-bottom: 0;
      // position: absolute;
      // right: 0;
      // top: 0;
      gap: rem($margin4px);
      .wl-wrapper .c-tooltip {
        display: inline-block;
        &:hover {
          .c-tooltip__container.top-right {
            display: block;
            z-index: 2;
            margin-top: rem(15px);
          }
        }
      }
      .c-wrapper {
        overflow: visible;
        .cmp-container {
          padding: 0;
          .c-sns-share {
            padding: 0;
            border: 0;
          }
        }
      }
      .number {
        padding: 0 rem($padding1px);
        line-height: rem(24px);
        @include screen(web) {
          font-size: rem(14px);
        }
      }
      .c-icon-button {
        justify-content: center;
        width: rem($icon24px);
        height: rem($icon24px);
        &::before {
          width: rem($icon18px);
          height: rem($icon20px);
        }
      }
      .c-icon-button--share {
        margin-left: rem($margin8px - $margin4px);
      }
    }
  }
  // c-product-item__model-display-name : sku, model name
  &__model-display-name {
    margin-top: rem($margin4px);
    // margin-top: rem($margin8px);
    gap: rem($margin4px);
    @include screen(web) {
      margin-top: rem($margin8px);
      gap: rem($margin8px);
    }
    // .sku {
    //     color: $gray3;
    // }
  }
  // c-product-item__brand
  &__brand {
    margin-top: rem($margin8px);
    justify-content: flex-start;
    @include screen(web) {
      margin-top: rem($margin16px);
    }
    .c-image__img {
      height: rem(8px + 1px);
      @include screen(web) {
        height: rem(10px + 1px);
      }
    }
  }
  // c-product-item__category
  &__category {
    margin-top: rem($margin8px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: rem(0 12px);
    @include screen(mobile) {
      flex-wrap: wrap;
    }
    @include screen(web) {
      margin-top: rem($margin16px);
    }
    .c-icon-button--download {
      &:before {
        width: rem($icon16px);
        height: rem($icon16px);
        @include screen(web) {
          width: rem($icon16px);
          height: rem($icon16px);
        }
      }
      .c-icon-button__text {
        font-size: rem(14px);
      }
    }
    .wrapper {
      position: relative;
      &::before {
        display: none;
        @include screen(web) {
          content: '';
          display: block;
          position: absolute;
          top: rem(4px);
          left: 0;
          width: rem($width1px);
          height: rem($height12px);
          border-left: rem($border1) solid $mid-gray1;
        }
      }
      @include screen(web) {
        padding-left: rem($padding12px);
      }
      // margin-left: rem($margin12px);
      // border-left: rem($border1) solid $mid-gray1;
    }
    .c-button--category + .wrapper {
      margin-top: 0;
    }
    .c-button--category {
      @include screen(mobile) {
        display: block;
        width: 100%;
      }
      @include screen(web) {
        display: flex;
      }
    }
    .c-button--write-review {
      .c-button[class*='-text'] {
        color: $mid-gray2;
        font-weight: $font-regular;
        &.w-small[class*='-icon']:after {
          display: none;
        }
      }
    }
  }
  // c-product-item__download
  &__download {
    color: $gray3;
    margin: 0;
    @include screen(web) {
      margin: rem($margin12px) 0;
    }
    .c-energy-grade {
      // width: rem($width40px);
      // height: rem($width20px);
      padding: 0;
      width: rem($icon34px);
      height: rem($icon20px);
      // margin: rem($margin4px 0);
      img {
        max-width: initial;
        min-width: initial;
        width: rem($icon34px);
        max-height: initial;
        min-height: initial;
        height: rem($icon20px);
      }
      // background-size: 100%;
      background: {
        color: transparent;
        repeat: no-repeat;
        position: 50% 50%;
        size: 100%;
      }
      margin-left: rem($margin1px);
      @include screen(web) {
        width: rem($icon54px);
        height: rem($icon32px);
        img {
          width: rem($icon54px);
          height: rem($icon32px);
        }
      }
    }
  }
  &__energy-saving {
    margin-top: 0;
    margin-bottom: 0;
  }
  // c-product-item__repair
  // FR - Repairability Index Label
  &__repair {
    margin: 0;
    @include screen(mobile) {
      min-width: 100%;
    }
    .c-product-item__repair--click {
      display: flex;
      gap: rem($margin6px);
      align-items: center;
      .cmp-image {
        max-width: initial;
        min-width: initial;
        width: rem(82px);
        max-height: initial;
        min-height: initial;
        height: rem(48px);
        @include screen(web) {
          width: rem(96px);
          height: rem(56px);
        }
        img {
          display: block;
          width: 100%;
        }
      }
    }
  }

  $tooltip: '.c-tooltip';
  // c-product-item__available-in
  &__available-in {
    display: flex;
    gap: rem($margin12px);
    align-items: center;
    #{$tooltip} {
      #{$tooltip}__contents {
        // text-transform: capitalize;
        width: max-content;
        padding: rem($padding8px $padding12px);
      }
    }
  }
  // c-product-item__available-countries(7 or more)
  &__available-countries {
    #{$tooltip} {
      &__container {
        @include screen(mobile) {
          left: rem($block-margin-m);
          &::before {
            left: rem($margin20px);
          }
        }
        #{$tooltip}__contents {
          width: rem($width298px);
          padding: rem($padding36px) rem($padding20px) rem($padding24px) rem($padding20px);
          @include screen(web) {
            left: rem(-$margin50px);
            width: rem($width340px);
            padding: rem($padding40px) rem($padding40px) rem($padding30px) rem($padding30px);
          }
        }
      }
      &-icon {
        margin-right: rem($margin8px);
      }
      &--list {
        display: flex;
        flex-wrap: wrap;
        gap: rem($margin10px);
        > div {
          cursor: auto;
          gap: rem($margin8px);
          flex: 1 1 40%;
        }
      }
    }
  }
  &__available-in,
  &__available-countries {
    color: $gray3;
  }
  // wrapper (download, rating)
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: rem($padding8px $padding12px);
    margin-top: rem($margin8px);
    @include screen(web) {
      flex-direction: row;
      align-items: center;
      row-gap: rem($padding16px);
      margin-top: rem($margin16px);
    }
  }
  .price-area {
    margin-top: 0;
  }
  .c-product-item__download > a,
  .c-product-item__download--click,
  .c-product-item__rating a {
    color: $gray3;
  }
}

// block : c-country-icon
.c-country-icon {
  display: flex;
  align-items: center;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
  img {
    border-radius: 50%;
    display: inline-block;
    width: rem($icon24px);
    height: rem($icon24px);
    background-size: 100% auto;
    border: rem($border1) solid $graye6;
  }
  &-wrapper {
    display: flex;
    gap: rem($margin8px);
    align-items: center;
  }
  &--global {
    display: flex;
    gap: rem($margin8px);
    color: $black;
    &:before {
      content: '';
      border-radius: 50%;
      display: inline-block;
      width: rem($icon24px);
      height: rem($icon24px);
      background-size: 100% auto;
      background-image: url($icon-lang-black-24-24);
      background-repeat: no-repeat;
    }
    /* stylelint-disable-next-line no-descending-specificity */
    span {
      text-decoration: underline;
      text-underline-offset: rem($offset2px);
    }
  }
}

// block : c-product-summary-pto
.c-product-summary-pto {
  $summary-pto: '.c-product-summary-pto';
  margin-top: rem($margin12px);
  @include screen(mobile) {
    margin-top: rem($margin16px);
    margin-left: rem(-$block-margin-m);
    margin-right: rem(-$block-margin-m);
  }
  .c-product-list {
    display: flex;
    padding: 0;
    gap: rem($margin8px);
    @include screen(mobile) {
      overflow-y: hidden;
      overflow-x: auto;
      @include inset-padding-hz(mobile);
      padding-bottom: rem($padding6px);
      margin-bottom: rem($padding6px * -1);
    }
    @include screen(web) {
      margin: 0 auto;
      // max-width: rem($max-width600px);
      flex-wrap: wrap;
      gap: rem($margin12px);
    }
  }
  .c-product-item {
    height: auto;
    justify-content: flex-start;
    padding: rem($padding12px);
    @include lgness-radius('default');
    background-color: $white;
    @include screen(mobile) {
      flex-direction: row;
      min-width: calc(50% - $margin8px / 2);
    }
    @include screen(custom, rem($phone), max) {
      // min-width: calc(100vw - rem($block-margin-m) * 2);
      min-width: calc(100% - rem($margin18px));
    }
    @include screen(web) {
      width: calc(50% - $margin12px / 2);
      gap: rem($margin16px);
      padding: rem($padding24px);
      margin-right: 0;
    }
    &__visual-image {
      max-width: rem($width80px);
      max-height: rem($height80px);
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
      aspect-ratio: 1/1;
      @include screen(web) {
        max-width: rem(240px);
        max-height: rem(240px);
      }
      img {
        width: 100%;
        aspect-ratio: 1;
        object-fit: contain;
        object-position: 50% 50%;
      }
    }
    .c-text-contents {
      $block: '.c-text-contents';
      margin-right: auto;
      color: $black;
      @include screen(mobile) {
        flex: 1;
      }
      @include screen(web) {
        margin: 0 auto;
      }
      #{$block}__eyebrow {
        color: $gray6;
      }
      // .c-price {
      //     font-weight: $font-semibold;
      // }
      @at-root #{$summary-pto} {
        #{$block}__headline + .c-price {
          margin-top: rem($margin10px);
          @include screen(web) {
            margin-top: rem($margin16px);
          }
        }
      }
    }
    .c-price__purchase {
      font-size: rem(16px);
      line-height: rem(20px);
      font-weight: $font-regular;
      .smallFont {
        font-size: rem(13px);
      }
      @include screen(web) {
        font-size: rem(32px);
        line-height: 1;
        font-weight: $font-semibold;
        .smallFont {
          font-size: rem(20px);
        }
      }
    }
  }
}

// add on
.c-addon-product-box {
  $block: '.c-addon-product-box';
  background-color: $white;
  @include lgness-radius('inner/medium');
  // font
  &__name--option {
    font-size: rem(14px);
    line-height: rem(16px);
    @include screen(web) {
      font-size: rem(24px);
      line-height: rem(28px);
    }
    @at-root .c-addon-product-box--selection .c-addon-product-box__name--option {
      @include screen(custom, rem($tablet), max) {
        font-size: rem(16px);
        line-height: rem(18px);
      }
    }
  }
  &__item-name {
    font-weight: $font-regular;
    strong {
      font-weight: $font-semibold;
    }
  }
  &__item-sku {
    color: $mid-gray2;
    font-size: rem(14px);
    line-height: rem(16px);
    word-break: break-all;
    @include screen(custom, rem($tablet + 1px), min) {
      word-break: break-all;
      font-size: rem(16px);
      line-height: rem(18px);
    }
  }
  &__item-ufn,
  &__item-ufnLG {
    font-size: rem(14px);
    line-height: rem(16px);
    @include screen(custom, rem($tablet + 1px), min) {
      font-size: rem(24px);
      line-height: rem(28px);
    }
  }
  &__item-discount {
    color: $active-red;
    font-size: rem(12px);
    line-height: rem(14px);
    @include screen(custom, rem($tablet + 1px), min) {
      font-size: rem(16px);
      line-height: rem(20px);
    }
  }
  &__item-qty {
    color: $gray3;
    font-size: rem(14px);
    line-height: rem(16px);
    @include screen(custom, rem($tablet + 1px), min) {
      font-size: rem(16px);
      line-height: rem(18px);
    }
  }
  &__item-price {
    font-size: rem(20px);
    line-height: rem(24px);
    @include screen(custom, rem($tablet + 1px), min) {
      font-size: rem(16px);
      line-height: rem(16px);
    }
  }
  &__item-price--discount {
    font-size: rem(12px);
    line-height: rem(12px);
    @include screen(custom, rem($tablet + 1px), min) {
      line-height: rem(14px);
    }
    del {
      text-decoration: line-through;
      color: $mid-gray2;
    }
    strong {
      color: $black;
    }
  }
  &__item-info {
    color: $mid-gray2;
    font-size: rem(12px);
    line-height: rem(14px);
    @include screen(custom, rem($tablet + 1px), min) {
      font-size: rem(16px);
      line-height: rem(20px);
    }
  }
  &__foot-count {
    font-size: rem(16px);
    line-height: rem(18px);
    @include screen(custom, rem($tablet + 1px), min) {
      font-size: rem(20px);
      line-height: rem(20px);
    }
    strong {
      color: $active-red;
    }
  }
  // margin
  &__item-sku + #{$block}__item-ufnLG {
    margin-top: rem($margin2px);
  }
  &__item-discount {
    margin-top: rem($margin4px);
    @include screen(custom, rem($tablet + 1px), min) {
      margin-top: rem($margin2px);
    }
  }
  &__item-qty {
    margin-top: rem($margin6px);
  }
  &__item-price {
    @include screen(custom, rem($tablet), max) {
      margin-top: rem($margin6px);
    }
  }
  &__item-price--discount {
    margin-top: rem($margin4px);
    @include screen(custom, rem($tablet + 1px), min) {
      margin-top: rem($margin2px);
    }
    strong {
      margin-left: rem($margin6px);
    }
  }
  &__item-info {
    margin-top: rem($margin2px);
  }
  // element
  &__information-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem($gutter-m);
    @include screen(custom, rem($tablet), max) {
      flex-wrap: wrap;
    }
    .c-sibling-option__definition {
      flex: 1;
    }
  }
  &__name {
    display: flex;
    align-items: center;
    gap: rem($padding10px);
    @include screen(custom, rem($tablet), max) {
      gap: rem($padding8px);
    }
  }
  &__name--option {
    flex: 1;
  }
  &__head {
    display: flex;
    align-items: center;
    padding: rem($padding20px $padding14px $padding16px);
    border-bottom: rem($border1) solid $light-gray3;
    @include screen(custom, rem($tablet + 1px), min) {
      padding: rem($padding24px $padding24px $padding20px);
    }
  }
  &__list {
    padding: rem($padding16px $padding14px);
    @include screen(custom, rem($tablet + 1px), min) {
      padding: rem($padding20px);
    }
    #{$block}__list-ul {
      overflow-x: hidden;
      overflow-y: auto;
      max-height: rem($max-height360px);
      @include screen(custom, rem($tablet + 1px), min) {
        max-height: rem($max-height288px);
        padding-right: rem($padding40px - $padding12px);
      }
    }
    #{$block}__list-li {
      padding: rem($padding14px 0);
      @include screen(custom, rem($tablet + 1px), min) {
        padding: rem($padding12px 0);
      }
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }
      + #{$block}__list-li {
        border-top: rem($border1) solid $light-gray2;
      }
    }
  }
  &__item {
    display: flex;
    gap: rem($margin14px);
    align-items: center;
    @include screen(custom, rem($tablet + 1px), min) {
      gap: rem($margin20px);
    }
    @at-root .PD0003 #{$block}__item + #{$block}__item {
      border-top: rem($border1) solid $light-gray2;
      padding-top: rem($padding12px);
      margin-top: rem($margin12px);
      @include screen(custom, rem($tablet + 1px), min) {
        padding-top: rem($padding16px);
        margin-top: rem($margin16px);
      }
    }
    // warranty
    &.c-sibling-option__detail {
      display: block;
      border: rem($border1) solid $light-gray3;
      padding: rem($margin14px);
      @include screen(custom, rem($tablet + 1px), min) {
        padding: rem($margin12px $margin20px);
      }
      @at-root .PD0003 .c-sibling-option input:checked ~ #{$block}__item.c-sibling-option__detail {
        padding: rem($margin13px);
        @include screen(custom, rem($tablet + 1px), min) {
          padding: rem($margin11px $margin19px);
        }
        .c-button {
          display: inline-block;
        }
      }
    }
  }
  &__item-image {
    .c-image {
      width: rem($width64px);
      height: rem($width64px);
      @include screen(custom, rem($tablet + 1px), min) {
        width: rem($width80px);
        height: rem($width80px);
      }
    }
  }
  &__item-text {
    position: relative; // for qty, button positioning
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: rem($margin10px);
    @include screen(custom, rem($tablet + 1px), min) {
      flex-direction: row;
      gap: rem($margin16px);
      align-items: center;
    }
  }
  &__item-name {
    display: flex;
    flex-direction: column;
    // gap: rem($margin6px);
    @include screen(custom, rem($tablet + 1px), min) {
      flex: 1;
      flex-direction: row;
      gap: rem($margin16px);
      justify-content: space-between;
      align-items: center;
    }
    #{$block}__item-modelname {
      display: flex;
      flex-direction: column;
      #{$block}__item-discount {
        display: none;
        @include screen(custom, rem($tablet + 1px), min) {
          display: block;
        }
      }
    }
    #{$block}__item-price {
      @include screen(custom, rem($tablet + 1px), min) {
        text-align: right;
        &--discount {
          del {
            display: block;
          }
        }
      }
      &--discount {
        strong {
          display: inline;
        }
      }
    }
    #{$block}__item-discount {
      display: block;
      @include screen(custom, rem($tablet + 1px), min) {
        display: none;
      }
    }
  }
  &__item-btn {
    .c-button {
      margin-right: 0;
      &.hidden {
        display: block !important;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        margin-top: rem($border1 * 2 * -1);
      }
    }
    @include screen(custom, rem($tablet + 1px), min) {
      position: relative;
      padding-left: rem($padding12px);
      // border-left: rem($border1) solid $mid-gray1;
      line-height: rem($height30px);
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 1px;
        height: rem(30px);
        margin-top: rem(-15px);
        background: $mid-gray1;
      }
    }
  }
  &__foot {
    display: flex;
    flex-direction: column;
    row-gap: rem($margin12px);
    padding: rem($padding16px $padding14px $padding20px);
    border-top: 1px solid $graye;
    box-shadow: rem(0 -4px 4px) rgb($black, 0.02);
    @include screen(custom, rem($tablet + 1px), min) {
      row-gap: rem($margin16px);
      padding: rem($padding20px $padding20px $padding24px);
    }
  }
  &__foot-count {
    display: flex;
    justify-content: space-between;
    strong {
      font-weight: $font-semibold;
    }
  }
  &__foot-cta {
    .c-button {
      width: 100%;
    }
  }
  &__item-more {
    // delivery for bundle or accessory
    border-top: rem($border1) solid $light-gray2;
    margin-top: rem($margin20px);
    padding-top: rem($padding15px);
    padding-bottom: rem($padding6px);
    @include screen(custom, rem($tablet + 1px), min) {
      margin-top: rem($margin12px);
      padding-top: rem($padding24px);
      padding-bottom: rem($padding12px);
    }
    &-btn {
      margin-top: rem($margin16px);
      @include screen(custom, rem($tablet + 1px), min) {
        margin-top: rem($padding24px);
      }
    }
    .c-sibling-option-box {
      + .c-sibling-option-box {
        border-top: rem($border1) solid $light-gray2;
        margin-top: rem($margin20px);
        padding-top: rem($padding15px);
        @include screen(custom, rem($tablet + 1px), min) {
          margin-top: rem($margin24px);
          padding-top: rem($padding20px);
        }
      }
      &__head {
        padding-bottom: rem($padding15px);
        @include screen(custom, rem($tablet + 1px), min) {
          padding-bottom: rem($padding20px);
        }
      }
    }
  }
  // modifier
  &--before {
    display: block;
    padding: rem($padding12px $padding14px);
    @include screen(custom, rem($tablet + 1px), min) {
      padding: rem($padding16px $padding20px);
    }
  }
  &--selection {
    display: none;
    #{$block}__information-container {
      display: block;
    }
    #{$block}__name--option {
      display: flex;
      flex-direction: column;
      span:last-child {
        color: $gray3;
        // font-weight: $font-regular;
        strong {
          // font-weight: $font-semibold;
          color: $black;
        }
      }
    }
    .c-sibling-option__primary-detail {
      .c-button {
        display: none;
        position: absolute;
        right: 0;
        top: calc(50% - 7px);
        margin-top: rem(-27px);
        z-index: 2;
      }
      @include screen(custom, rem($tablet), max) {
        align-items: flex-start;
        .c-addon-product-box__item-text {
          display: block;
        }
        .c-button {
          position: relative;
          right: unset;
          top: unset;
          margin-top: rem(6px);
        }
      }
    }
  }
  &--after {
    display: none;
    padding: rem($padding12px $padding14px);
    @include screen(custom, rem($tablet + 1px), min) {
      padding: rem($padding12px $padding20px);
    }
    .c-addon-product-box__item-info {
      display: none;
    }
    @include screen(custom, rem($tablet), max) {
      .c-addon-product-box__item-qty {
        position: absolute;
        left: 0;
        bottom: rem(17px);
      }
      .c-addon-product-box__item-name {
        padding: rem(0 0 $padding42px);
      }
      .c-addon-product-box__item-btn {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
    .c-addon-product-box__item-btn {
      display: flex;
      flex-direction: column;
      height: 100%;
      &__delete {
        border: 0;
        padding: 0;
        display: inline-block;
        margin: rem(12px) auto 0;
        width: rem(24px);
        height: rem(24px);
        cursor: pointer;
        background: transparent;
        background-image: url($icon-trash-24-24);
        background-repeat: no-repeat;
        background-position: center;
      }
      @include screen(custom, rem($tablet), max) {
        align-items: center;
        justify-content: space-between;
        &__delete {
          margin: 0;
        }
      }
    }
  }
  &--option-choosing {
    #{$block}--before {
      display: none;
    }
    #{$block}--selection {
      display: block;
    }
    #{$block}--after {
      display: none;
    }
  }
  &--option-selected {
    $but-is-collapse: '&:not(.c-accordion__box--expand)';
    #{$but-is-collapse} {
      border: rem($border2) solid $active-red;
      border-radius: rem($radius8);
    }
    #{$block}--before {
      display: none;
    }
    #{$block}--selection {
      display: none;
    }
    #{$block}--after {
      display: block;
    }
  }
  @at-root .choosing {
    #{$block} {
      display: none;
    }
    #{$block}--option-choosing {
      display: block;
    }
  }
  .c-sibling-option-box__option-group {
    gap: rem($margin10px);
  }
  .c-button[class*='-default'].w-small {
    @include screen(custom, rem($tablet + 1px), max) {
      min-width: auto;
    }
  }
}

.c-warning-list {
  &:before {
    content: '- ';
  }
}

// create bundle
// .c-bundle-product-box {
//     $block: '.c-bundle-product-box';
//     background-color: $white;
//     border-radius: rem($radius8);
//     padding: rem($padding16px $padding12px);
//     @include screen(custom, rem($tablet + 1px), min) {
//         padding: rem($padding20px);
//     }
//     // element
//     &__information-container {
//         display: flex;
//         align-items: center;
//         @include screen(custom, rem($tablet), max) {
//             flex-wrap: wrap;
//         }
//     }
//     &__product-information {
//         position: relative;
//         flex: 1;
//         display: flex;
//         align-items: center;
//         column-gap: rem($margin20px);
//         padding-right: rem($padding12px);
//         // element
//         #{$block}__product-price {
//             @include screen(custom, rem($tablet + 1px), min) {
//                 flex-shrink: 0;
//             }
//         }
//         // block
//         $image: '.c-image';
//         $text: '.c-text-contents';
//         $cta: '.c-cta';
//         #{$image} {
//             flex-shrink: 0;
//             width: rem($width80px);
//         }
//         #{$text} {
//             flex: 1;
//             &__eyebrow {
//                 // ...
//             }
//             &__headline {
//                 @include ellipsis(2);
//                 margin-top: rem($margin4px);
//             }
//         }
//         #{$cta} {
//             margin-top: rem($margin6px);
//         }
//     }
//     &__option-summary {
//         background-color: $ivory6;
//         padding: rem($padding4px);
//         color: $gray6;
//         border-radius: rem($radius8);
//         margin-top: rem($margin12px);
//         min-width: 100%;
//         @include screen(custom, rem($tablet + 1px), min) {
//             margin-top: rem($margin8px);
//             max-width: 85%;
//             min-width: auto;
//         }
//         @at-root #{$block}.c-accordion__box--expand #{$block}__option-summary {
//             display: none;
//         }
//     }
//     &__option-summary,
//     &__product-price {
//         &:not(.display-mobile) {
//             @include screen(custom, rem($tablet), max) {
//                 display: none;
//             }
//         }
//         &.display-mobile {
//             @include screen(custom, rem($tablet + 1px), min) {
//                 display: none;
//             }
//         }
//     }
//     &__product-option {
//         border-top: rem($border1) solid #e6e6e6;
//         padding-top: rem($padding20px);
//         margin-top: rem($margin16px);
//         @include screen(custom, rem($tablet + 1px), min) {
//             margin-top: rem($margin20px);
//         }
//     }
//     &__actions {
//         display: flex;
//         justify-content: center;
//         gap: rem($margin15px $margin8px);
//         margin-top: rem($margin10px);
//     }
//     // block
//     .c-sibling-option-box {
//         &#{$precedence} .c-sibling-option-box__head {
//             border-bottom: none;
//         }
//     }
//     * + .c-sibling-option-box {
//         margin-top: rem($margin10px);
//     }
//     .c-accordion {
//         &__button {
//             position: static;
//             padding-left: rem($padding12px);
//             border-left: rem($border1) solid $graye6;
//             $icon: '&:after';
//             #{$icon} {
//                 $size: rem($width20px);
//                 $size-m: rem($width16px);
//                 width: $size-m;
//                 height: $size-m;
//                 background-image: url($icon-plus-black-30-30);
//                 @include screen(custom, rem($tablet + 1px), min) {
//                     width: $size;
//                     height: $size;
//                 }
//             }
//             &#{$precedence} {
//                 #{$icon} {
//                     transform: none;
//                 }
//             }
//             &[aria-expanded='true'] {
//                 #{$icon} {
//                     background-image: url($icon-minus-black-30-30);
//                 }
//             }
//         }
//     }
//     .c-product-pincode {
//         margin-top: 0;
//     }
//     // modifier
//     &--option-selected {
//         $but-is-collapse: '&:not(.c-accordion__box--expand)';
//         #{$but-is-collapse} {
//             border: rem($border2) solid $active-red;
//             border-radius: rem($radius8);
//         }
//     }
// }
