// 컴포넌트 작업 완료 후 삭제 예정
// block : product delivery information
.c-accordion {
  .c-sibling-option {
    &__detail {
      .promotions {
        .c-list {
          @include reset-list-style;
          gap: rem($margin18px);
          &__item {
            display: flex;
            padding: rem($padding12px 0);
            gap: rem($margin16px);
            @include screen(custom, rem($tablet + 1px), min) {
              padding: rem($padding18px 0);
              gap: rem($margin16px);
            }
            &:first-child {
              padding-top: 0;
            }
            &:last-child {
              padding-bottom: 0;
            }
            .c-pm-icon {
              width: rem($icon32px);
              height: rem($icon32px);
              &.tag-pound-carmine {
                background-image: url($icon-promotion-32-32);
              }
              &.pre-welcome-coupon-carmine {
                background-image: url($icon-welcome-32-32);
              }
              &.delivery-coupon-carmine {
                background-image: url($icon-delivery-32-32);
              }
              &.welcome-benefit-carmine {
                background-image: url($icon-benefit-32-32);
              }
            }
            .c-list-item {
              &__cont {
                flex: 1;
                @include screen(custom, rem($tablet + 1px), min) {
                  // /margin-top: rem($margin5px);
                }
              }
              &__text {
                p {
                  // line-height: rem(16px);
                  // font-size: rem(14px);
                  @include screen(custom, rem($tablet + 1px), min) {
                    margin-top: rem($margin2px);
                    line-height: rem(28px);
                    font-size: rem(20px); // 2023-05-20 changed size
                  }
                  a {
                    text-decoration: underline;
                  }
                }
              }
            }
          }
          .c-list__item + .c-list__item {
            border-top: rem($border1) solid $mid-gray1;
          }
        }
      }
      .exchange-offer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .c-list {
          width: 100%;
          margin-bottom: 0;
          .c-list__item--title {
            border-bottom: 1px solid rgb(240 236 228 / 100%);
            padding-bottom: 16px;
            .icon-checked-title {
              &::before {
                display: inline-block;
                content: '';
                background-image: url($icon-exchange-checked-24-24);
                background-repeat: no-repeat;
                vertical-align: middle;
                margin-right: 5px;
                background-size: 16px auto;
                width: rem(16px);
                height: rem(16px);
                @include screen(web) {
                  background-size: 24px auto;
                  width: rem(25px);
                  height: rem(25px);
                }
              }
            }
          }
          .c-list__item--cont {
            margin-top: 16px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-bottom: 0;
          }
        }
        .exchange__button-area--bottom {
          margin-top: 15px;
          display: flex;
          gap: 10px;
          justify-content: flex-end;
          width: 100%;
        }
        .cmp-text {
          gap: 16px;
        }
        .c-tooltip {
          display: inline-block;
          vertical-align: middle;
          margin-bottom: -6px;
          margin-left: 5px;
        }
        .exchang-img {
          max-width: 20px;
        }
        .exchange-price {
          .cmp-text {
            color: $active-red;
            font-size: rem(14px);
            font-weight: 400;
            line-height: rem(16px);
            @include screen(web) {
              font-size: rem(20px);
              font-weight: 400;
              line-height: rem(24px);
            }
          }
        }
        .c-radio-item {
          label {
            position: relative;
          }
        }
      }
    }
  }
  .description {
    margin-top: 8px;
  }
  .c-addon-product-box__item-image {
    &.exchange-image {
      > .c-image {
        width: rem(20px);
        height: rem(18px);
        @include screen(web) {
          width: rem(32px);
          height: rem(32px);
        }
      }
    }
  }
  .exchange-offer__before {
    .c-sibling-option__primary-detail {
      display: block;
      position: relative;
      padding-left: 35px;
      @include screen(web) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
        display: flex;
      }
      .exchange-image {
        position: absolute;
        left: 0;
        top: 0;
        @include screen(web) {
          position: relative;
          left: auto;
          top: auto;
        }
      }
    }
    .c-addon-product-box__item-text {
      display: block;
      white-space: nowrap;
      width: 100%;
      @include screen(web) {
        width: auto;
        white-space: inherit;
      }
    }
    .c-sibling-option__price {
      flex: initial;
      color: $active-red;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      width: 100%;
      display: block;
      text-align: left;
      @include screen(web) {
        width: auto;
        display: flex;
        text-align: right;
        font-size: 20px;
        font-weight: 400;
      }
    }
  }
}

.c-product-delivery-information {
  $delivery-info: '.c-product-delivery-information';
  $list: '.c-list';
  // margin-top: rem($margin20px);
  @include screen(custom, rem($tablet + 1px), min) {
    // margin-top: rem($margin24px);
  }
  &__inner {
    border: rem($border1) solid $mid-gray1;
    @include lgness-radius('default');
    padding: rem($padding4px $padding14px);
    margin-top: rem($margin20px);
    @include screen(custom, rem($tablet + 1px), min) {
      padding: rem($padding4px $padding16px);
      margin-top: rem($margin24px);
    }
  }
  &__box {
    display: flex;
    color: $gray3;
    background-color: $light-gray3;
    @include lgness-radius('inner');
    padding: rem($padding14px);
    gap: rem($margin10px);
    @include screen(custom, rem($tablet + 1px), min) {
      padding: rem($padding14px);
    }
    &.full {
      width: 100%;
    }
    .c-icon-button {
      flex-shrink: 0;
      margin-top: rem($margin2px);
    }
  }
  &__disclaimer {
    > * {
      display: flex;
      gap: rem($padding4px);
      color: $dark-gray1;
      &:before {
        content: '*';
      }
    }
    // &--important {
    //     > * {
    //         &:before {
    //             color: $active-red;
    //         }
    //     }
    // }
    @at-root #{$component} {
      #{$delivery-info}__disclaimer {
        margin-top: rem($margin8px);
      }
    }
  }
  &__text {
    * {
      // display: initial;
      // vertical-align: top;
      // @include screen(custom, rem($tablet + 1px), min) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: rem(0 $margin6px);
      // }
      @include screen(custom, rem($tablet + 1px), min) {
        gap: rem($margin10px);
      }
    }
  }
  // block : list
  #{$list} {
    @include reset-list-style;
    gap: rem($margin14px);
    &__item {
      display: flex;
      padding: rem($padding10px 0);
      gap: rem($margin14px);
      flex-wrap: wrap;
      @include screen(custom, rem($tablet + 1px), min) {
        padding: rem($padding12px 0);
        gap: rem($margin12px);
      }
      // &:first-child {
      //     padding-top: 0;
      // }
      @at-root #{$component} #{$delivery-info} {
        #{$list}__item + #{$list}__item {
          border-top: rem($border1) solid $mid-gray1;
        }
      }
      // @include screen(custom, rem($tablet + 1px), min) {
      span + span {
        &::before {
          content: '';
          display: inline-block;
          width: rem($width1px);
          height: rem($height14px);
          background-color: $mid-gray1;
          @include screen(mobile) {
            height: rem($height12px);
          }
        }
      }
      .red {
        color: $heritage-red;
        font-weight: $font-semibold;
      }
      .green {
        color: $tree-green;
        font-weight: $font-semibold;
      }
      .qty {
        display: inline-block;
        padding-left: rem($margin6px);
        position: relative;
        gap: rem(5px);
        @include screen(custom, rem($tablet + 1px), min) {
          padding-left: rem($margin10px);
        }
        &::before {
          content: '';
          display: inline-block;
          width: rem($width1px);
          height: rem($height14px);
          background-color: $mid-gray1;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          @include screen(mobile) {
            height: rem($height12px);
          }
        }
        b {
          display: contents;
        }
      }
      // }
    }
    #{$delivery-info} {
      &__cont {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // @include screen(custom, rem($tablet + 1px), min) {
        //     margin-top: rem($margin5px);
        // }
      }
      &__text {
        + * {
          @include screen(custom, rem($tablet + 1px), min) {
            margin-top: rem($margin4px);
          }
        }
      }
    }
  }
  .c-product-delivery__disclaimer {
    @include reset-list-style;
  }
}
// block : product pincode
.c-product-pincode {
  margin-top: rem($margin20px);
  margin-bottom: rem($margin20px);
  @include screen(custom, rem($tablet + 1px), min) {
    margin-top: rem($margin24px);
    margin-bottom: rem($margin24px);
  }
  // [Start] LGCOMPE-344
  .c-required-area {
    color: $gray3;
    margin-bottom: rem(8px);
    em {
      font-style: normal;
      color: $heritage-red;
    }
  }
  // [End] LGCOMPE-344
  &__inner {
    background-color: $light-gray3;
    padding: rem($padding8px);
    @include lgness-radius('default');
    @include screen(web) {
      padding: rem($padding16px);
    }
    .c-form {
      + .c-form {
        margin-top: rem($margin16px);
        @include screen(custom, rem($tablet-pro-p + 1px), min) {
          margin-top: rem($margin24px);
        }
      }
      .c-form__title + .c-form__box {
        margin-top: rem($margin8px);
        @include screen(custom, rem($tablet-pro-p + 1px), min) {
          margin-top: rem($margin16px);
        }
      }
      .c-form-box ~ .c-cta {
        margin-top: rem($margin16px);
        @include screen(custom, rem($tablet-pro-p + 1px), min) {
          margin-top: rem($margin24px);
        }
      }
      .c-form-box ~ .c-cta.c-product-pincode__button {
        margin-top: 0;
      }
      // element
      &__title {
        display: flex;
        align-items: center;
        color: $gray3;
        gap: rem($margin14px);
        @include screen(custom, rem($tablet-pro-p + 1px), min) {
          gap: rem($margin12px);
        }

        // font
        font-size: rem(14px);
        line-height: rem(16px);
        @include screen(web) {
          font-size: rem(24px);
          line-height: rem(28px);
        }
      }

      // modifier
      &--single {
        .c-form-box {
          flex-wrap: wrap;
          align-items: flex-end;
          column-gap: rem($margin8px);
        }
      }
      &--multi {
        .c-form-box {
          @include screen(custom, rem($tablet-pro-p), max) {
            flex-direction: column;
            row-gap: rem($margin8px);
          }
          @include screen(custom, rem($tablet-pro-p + 1px), min) {
            flex-wrap: wrap;
            align-items: flex-end;
            column-gap: rem($margin8px);
            row-gap: rem($margin16px);
          }
          .c-cta {
            @include screen(custom, rem($tablet-pro-p), max) {
              margin-top: rem($margin8px);
              width: 100%;
              .c-button {
                width: 100%;
              }
            }
          }
        }
      }
    }
    .c-select-item,
    .c-input-item {
      flex: 1;
      @include screen(custom, rem($tablet-pro-p), max) {
        width: 100%;
      }
      @include screen(custom, rem($tablet-pro-p + 1px), min) {
        min-width: 30%;
      }
    }
  }
  input,
  select {
    height: rem($height44px);
    @include screen(web) {
      height: rem($height56px);
    }
  }
  .c-cta {
    @include screen(web) {
      margin-bottom: rem(($height56px - $height44px) * 0.5);
    }
  }
  .c-button--text-icon {
    padding-left: rem($padding13px);
    margin-top: rem($margin6px);
    @include screen(web) {
      margin-top: rem($margin8px);
      text-align: #{'/*!rtl:right*/'}; /*! RTL last keep colon */
    }
    &.m-small {
      @include screen(mobile) {
        font-size: rem(12px);
      }
    }
  }
}
// block : product-installment
.c-product-installment {
  border: rem($border1) solid $graye6;
  border-radius: rem($radius8);
  padding: rem($padding18px);
  margin-top: rem($margin30px);
  @include screen(custom, rem($tablet + 1px), min) {
    padding: rem($padding24px $padding30px);
    margin-top: rem($margin20px);
  }
  &__info {
    display: none;
    .c-list {
      @include reset-list-style;
      display: flex;
      flex-direction: column;
      margin-top: rem($margin16px);
      gap: rem($margin8px);
      &__item {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  &__label {
    position: relative;
    display: flex;
    background-color: $ivory6;
    border-radius: rem($radius8);
    padding: rem($padding18px $padding20px);
  }
  &__inner {
    .label {
      position: relative;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      color: $gray3;
      &::before {
        content: '';
        display: inline-block;
        min-width: rem($width20px); // do not remove
        width: rem($width20px);
        height: rem($height20px);
        margin-right: rem($margin10px);
        border: rem($border1) solid $black;
        background-color: $white;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: rem($radius4);
      }
    }
    /* stylelint-disable-next-line no-descending-specificity */
    input {
      &:checked {
        ~ .c-product-installment__cont {
          .c-product-installment__info {
            display: block;
          }
          .label {
            color: $black;
            &::before {
              background-image: url($icon-check-white-9-7);
              background-color: $active-red;
              border-color: $active-red;
            }
          }
        }
      }
    }
    label {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      cursor: pointer;
    }
  }
  &__disclaimer {
    display: flex;
    align-items: flex-start;
    padding-top: rem($padding16px);
    margin-top: rem($margin16px);
    border-top: rem($border1) solid $ivory3;
    gap: rem($margin8px);
    color: $gray6;
    &:before {
      display: block;
      content: '';
      width: rem($icon16px);
      height: rem($icon16px);
      margin-top: rem($margin2px);
      flex-shrink: 0;
      border-radius: $radius-full;
      background : {
        position: center;
        size: auto;
        repeat: no-repeat;
        image: url($icon-notice-gray9-16-16);
      }
    }
  }
}
.c-product-price-sticky {
  display: none;
  border-top-left-radius: rem($radius28);
  border-top-right-radius: rem($radius28);
  margin-top: rem($margin40px);
  @include screen(mobile) {
    margin-top: rem($margin24px);
    border-top-left-radius: rem($radius20);
    border-top-right-radius: rem($radius20);
  }
  &.ready {
    display: block;
  }
  &.sticky {
    animation: translate-up 1s;
    z-index: $stacking-floor;

    $pay-cta: '.c-product-pay-cta';
    #{$pay-cta} {
      .c-button {
        display: none;
        &.main-button {
          display: flex;
        }
        &.full-size-button {
          min-width: 0;
        }
      }
    }
  }
  &.can-sticky {
    @include screen(mobile) {
      position: fixed;
      width: 100%;
    }
  }

  // LGCOMCI-563 - add underline for affirm popup link
  a.affirm-modal-trigger {
    text-decoration: underline;
    text-underline-offset: rem(3px);
    display: inline-block; // [LGCOMCI-887]
  }
}
// variable
$price-sticky: '.c-product-price-sticky';
$price-info: '.c-product-price-information';
// block : product price information
#{$price-info} {
  &__inner {
    border-radius: 0;
    @include lgness-radius('default');
    background-color: $white;
    padding: rem($padding16px $padding20px);
    @include screen(web) {
      padding: rem($padding20px $padding24px);
    }
    // @at-root #{$component} #{$price-info}.add-retailer {
    //     #{$price-info}__inner {
    //         display: none;
    //     }
    // }
  }
  &__btn-toggle {
    // display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: rem(0 $block-margin-w);
    width: calc(100% - rem($block-margin-w * 2));
    button {
      // height: rem($height42px);
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      height: rem($padding12px * 2 + $height6px);
      cursor: pointer;
      background: transparent;
      border: none;
      padding: 0;
      &:before {
        content: '';
        display: block;
        width: rem($icon16px);
        height: rem($icon16px);
        margin-top: rem($margin8px);
        background : {
          position: center;
          size: auto;
          repeat: no-repeat;
          color: transparent;
          image: url($icon-arrow-black-down-16-16);
        }
        transform: rotate($degree180);
      }
    }
    // button {
    //     position: relative;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     width: 100%;
    //     height: rem($padding12px * 2 + $height6px);
    //     cursor: pointer;
    //     background: transparent;
    //     border: none;
    //     padding: 0;
    //     &:before {
    //         content: '';
    //         display: block;
    //         background-color: $grayb;
    //         width: rem($width40px);
    //         height: rem($height6px);
    //         border-radius: rem($radius999);
    //     }
    // }
  }
  &__labels {
    // FR - Repairability Index Label
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    margin: rem($margin4px) 0;
    align-items: center;
    @include screen(web) {
      margin: rem($margin4px) 0 rem($margin12px);
      gap: rem($margin8px);
    }
    .wrapper {
      display: flex;
      align-items: center;
    }
    .c-product-item__download {
      margin-bottom: rem($margin4px);
      @include screen(web) {
        margin: 0;
      }
      .c-tooltip {
        .button {
          display: block;
          height: 100%;
        }
        .c-tooltip__button {
          display: block;
          height: 100%;
          border: 0 none;
          background: none;
          &:not(.c-energy-grade) {
            display: flex;
            align-items: center;
            text-align: left;
          }
        }
      }
    }
  }
  &__special-price {
    display: none;
    flex-direction: column;
    gap: rem($margin12px);
    margin-bottom: rem($margin10px);
    @include screen(web) {
      // gap: rem($margin8px);
      gap: rem($margin10px);
    }
    @at-root #{$component} #{$price-sticky}:not(.sticky) {
      .c-product-price-information {
        &.active {
          .c-product-price-information__special-price {
            @include screen(mobile) {
              animation: none;
            }
          }
        }
      }
    }
    @at-root #{$component} .c-product-price-information {
      &.active {
        .c-product-price-information__special-price {
          display: flex;
          animation: slide-up 1.5s;
          @include screen(custom, rem($tablet-pro-p), max) {
            @include screen(landscape) {
              animation: none;
            }
          }
        }
      }
    }
    .c-list {
      @include reset-list-style;
      display: flex;
      column-gap: rem($margin20px);
      flex-wrap: wrap;
      row-gap: rem($margin2px);
      &__item {
        position: relative;
        &:not(:first-child) {
          &::before {
            content: '';
            display: block;
            position: absolute;
            top: rem($padding5px);
            left: calc(rem(-$margin20px) / 2);
            width: rem($width1px);
            height: rem($height12px);
            background-color: $graye6;
          }
        }
        &.limited-qty {
          // @include screen(custom, rem($tablet), max) {
          //     width: 100%;
          //     &::before {
          //         display: none;
          //     }
          // }
        }
      }
    }
    .qty {
      display: inline-flex;
      align-items: center;
      background-color: $active-red;
      color: $white;
      padding: rem($padding2px $padding5px);
      margin-left: rem($margin8px);
      border-radius: rem($radius999);
      font-size: rem(11px);
      line-height: 1;
      font-style: normal;
      font-weight: $font-bold;
      @include screen(custom, rem($tablet + 1px), min) {
        padding: rem($padding3px $padding5px);
        font-size: rem(12px);
      }
      &.zero {
        background-color: $grayb;
        span {
          opacity: 0.5;
        }
      }
    }
  }
  &__retailer {
    border-radius: rem($radius8);
    background-color: $ivory6;
    padding: rem($padding22px $padding16px);
    @include screen(mobile) {
      border-radius: 0;
      padding: rem($padding16px);
    }
    // @at-root #{$component} #{$price-info}.add-retailer {
    //     #{$price-info}__retailer {
    //         display: block;
    //     }
    // }
  }
  // variation
  $static: '#{$price-sticky}:not(.sticky)';
  $sticky: '#{$price-sticky}.sticky';
  @at-root #{$component} #{$static} {
    #{$price-info}__btn-toggle {
      display: none;
    }
  }
  @at-root #{$component} #{$sticky} {
    padding: rem(0 $padding20px $padding16px);
    margin-left: rem(-$block-margin-m);
    margin-right: rem(-$block-margin-m);
    box-shadow: rem(0 ($padding4px * -1) $padding6px) rgba($black, 0.04);
    background-color: $white;
    @include screen(web) {
      padding: rem($padding20px $padding24px);
      // box-shadow: none;
      margin-left: 0;
      margin-right: 0;
    }
    .c-payment-info__payment {
      display: none;
    }
    .c-product-pay-cta {
      padding-top: rem($padding20px);
      @include screen(web) {
        padding-top: rem($padding16px);
      }
    }
    .c-product-total-price {
      @include screen(web) {
        margin-top: rem($margin3px * -1);
      }
      &__payment {
        display: none;
      }
    }
    .active {
      .c-payment-info__payment {
        display: flex;
      }
      .c-product-total-price {
        &__payment {
          display: flex;
          text-wrap: wrap;
        }
      }
      & + .c-product-pay-cta {
        .fold-none-button {
          display: flex;
        }
        .full-size-button {
          min-width: 100%;
        }
      }
    }
    #{$price-info} {
      padding-top: rem($padding16px);
      @include screen(web) {
        padding-top: 0;
      }
      &::before {
        display: none;
      }
      &__inner {
        padding: 0;
      }
      &__inner,
      &__retailer {
        // box-shadow: rem(0 ($padding4px * -1) $padding6px) rgba($black, 0.04);
        // border: rem($border1) solid $graye6;
        @include screen(mobile) {
          border-width: rem($border1) 0 0 0;
        }
      }
      @include screen(mobile) {
        // display: none;
      }
      &:not(.active) {
        .c-product-total-price {
          padding-bottom: 0;
        }
      }
      ~ .c-product-card-info.text {
        display: none;
      }
      ~ .c-product-price--laptop {
        display: none;
      }
      &.active {
        // .c-price-box__item--list {
        //     @include screen(mobile) {
        //         max-height: calc(100vh - $max-height600px);
        //         overflow-y: auto;
        //     }
        //     @include screen(custom, rem($tablet + 1px), min) {
        //         @include screen(landscape) {
        //             max-height: calc(100vh - $max-height600px);
        //             overflow-y: auto;
        //         }
        //     }
        // }
        #{$price-info}__btn-toggle button:before {
          transform: rotate(0);
        }
        ~ .c-product-card-info.text {
          display: flex;
        }
        ~ .c-product-price--laptop {
          display: block;
        }
      }
    }
  }
}

// price box
.c-price-box {
  display: none;
  flex-direction: column;
  gap: rem($margin12px);
  @include screen(web) {
    // gap: rem($margin8px);
    gap: rem($margin10px);
  }
  @at-root #{$component} #{$price-sticky}:not(.sticky) {
    .c-product-price-information {
      &.active {
        .c-price-box {
          @include screen(mobile) {
            animation: none;
          }
        }
      }
    }
  }
  @at-root #{$component} .c-product-price-information {
    &.active {
      .c-price-box {
        display: flex;
        animation: slide-up 1.5s;
        @include screen(custom, rem($tablet-pro-p), max) {
          @include screen(landscape) {
            animation: none;
          }
        }
      }
      // .c-product-total-price {
      //     // border-top: rem($border1) solid $graye6;
      //     margin-top: rem($margin20px);
      //     // margin-top: rem($margin12px);
      // }
    }
  }
  .c-list {
    @include reset-list-style;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: rem($margin12px);
    background: $white;
    border-top: rem($border1) solid $mid-gray1;
    border-bottom: rem($border1) solid $mid-gray1;
    padding: rem($padding12px 0 $padding10px);
    @include screen(web) {
      padding: rem($padding10px 0);
      gap: rem($margin16px);
    }
    // &--border {
    //     gap: 0;
    //     > div {
    //         &:not(:first-child) {
    //             margin-top: rem($margin16px);
    //             padding-top: rem($padding16px);
    //             border-top: rem($border1) solid $ivory6;
    //         }
    //     }
    // }
    // &--promotion {
    //     font-weight: $font-bold;
    //     @include screen(mobile) {
    //         display: flex;
    //         flex-direction: column;
    //         column-gap: rem($margin2px);
    //     }
    // }
  }
}
// price info
.c-price-info {
  display: flex;
  flex-direction: column;
  gap: rem($margin4px);
  @include screen(web) {
    gap: rem($margin8px);
  }
  &__title {
    display: flex;
    gap: rem($margin6px);
    align-items: center;
    color: $gray6;
    font-size: rem(12px);
    line-height: rem(14px);
    @include screen(web) {
      font-size: rem(16px);
      line-height: rem(18px);
    }
    .c-tooltip {
      display: inline-block;
      .c-icon-button[class*='-more-info'] {
        vertical-align: top;
        @include screen(mobile) {
          width: rem(16px);
          height: rem(16px);
          // &:before {
          //     width: rem(1.25px);
          //     height: rem(8px);
          // }
        }
      }
    }
    &.sub-tree {
      span {
        &:before {
          content: '└';
        }
      }
    }
    strong {
      font-weight: inherit;
    }
    &--main {
      color: $black;
      font-size: rem(16px);
      line-height: rem(18px);
      @include screen(web) {
        font-size: rem(24px);
        line-height: rem(28px);
      }
      &.font-red {
        color: $active-red;
      }
    }
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: rem(12px);
    line-height: rem(12px);
    align-items: baseline;
    &.member-price {
      margin-top: rem($margin4px);
      @include screen(web) {
        margin-top: rem($margin4px);
      }
    }
    &.last-days {
      // RO
      justify-content: flex-end;
      align-items: center;
      margin-top: rem($margin4px);
      gap: rem($margin4px);
      @include screen(web) {
        margin-top: rem($margin4px);
        gap: rem($margin8px);
      }
      .c-price-info__title {
        color: $black;
      }
      .c-price-info__price {
        flex: none;
      }
    }
    &.payAtDoor {
      .c-price-info__title,
      .c-price-info__price .c-price-info__price--wrapper span {
        color: $black;
        font-size: rem(16px);
        @include screen(web) {
          font-size: rem(20px);
        }
      }
    }
  }
  &__price {
    flex: 1;
    text-align: right;
    * {
      color: $mid-gray2;
      font-size: rem(12px);
      line-height: 1;
      @include screen(web) {
        font-size: rem(16px);
      }
      &.font-black {
        color: $black;
        font-weight: $font-regular;
      }
      &.font-red {
        color: $active-red;
      }
    }
    &--save {
      * {
        font-size: rem(12px);
        line-height: 1;
        @include screen(web) {
          font-size: rem(16px);
        }
      }
    }
    &--save,
    &--wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: wrap;
      gap: rem($margin4px);
      color: $gray6;
      @include screen(web) {
        gap: rem($margin8px);
      }
    }
    &--wrapper {
      > *:last-child {
        @include screen(custom, rem($tablet), max) {
          flex-basis: 100%;
        }
      }
      .price-wrap {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        sup.smallFont {
          margin-top: rem($margin2px);
        }
      }
      .c-price-info__price__no-pix-detail {
        @include screen(custom, rem($tablet), max) {
          flex-basis: unset;
        }
      }
      &__no-pix {
        margin-top: rem($margin4px);
        @include screen(web) {
          margin-top: rem($margin8px);
        }
      }
    }
    &--previous {
      .c-tooltip {
        display: inline-block;
        text-align: left;
      }
    }
    strong {
      color: $black;
      font-size: rem(16px);
      line-height: rem(18px);
      font-weight: inherit;
      @include screen(web) {
        font-size: rem(20px);
        line-height: rem(20px);
      }
    }
    del {
      text-decoration: line-through;
    }
    .smallFont {
      font-size: rem(10px);
      @include screen(web) {
        font-size: rem(12px);
      }
    }
    sup.smallFont {
      margin-top: rem($margin6px);
    }
  }
  &__bundle {
    & > span {
      display: block;
      .sale {
        color: $active-red;
        margin-left: rem(8px);
        font-weight: 400;
        display: inline-block;
      }
      & + span {
        margin-top: rem(3px);
      }
    }
  }
  &.dimmed {
    opacity: 0.5;
  }
  &.font-red {
    a {
      color: inherit;
      text-decoration: underline;
    }
  }
}
// product pay cta
.c-product-pay-cta {
  display: flex;
  // flex-direction: column;
  gap: rem($margin8px);
  padding-top: rem($padding10px);
  padding-bottom: 0;
  @include screen(web) {
    flex-direction: row;
    padding-top: rem($padding14px);
  }
  // @include screen(mobile) {
  //     padding-left: rem($padding16px);
  //     padding-right: rem($padding16px);
  // }
  > * {
    flex: 1;
  }
  .c-button {
    @include screen(mobile) {
      min-width: 0;
      height: rem($height40px);
      padding: rem($padding12px $padding10px);
      font-size: rem(14px);
      line-height: rem(14px);
    }
    // padding-left: rem($padding10px);
    // padding-right: rem($padding10px);
  }
  .full-size-button {
    min-width: 100%;
  }
}

// procut total price
.c-product-total-price {
  padding-bottom: rem($padding12px);
  white-space: nowrap;
  @include screen(custom, rem($tablet + 1px), min) {
    padding-bottom: rem($padding16px);
  }
  // margin-left: rem($block-margin-m);
  // margin-right: rem($block-margin-m);
  // @include screen(custom, rem($tablet + 1px), min) {
  //     margin-left: rem($block-margin-w);
  //     margin-right: rem($block-margin-w);
  // }
  &__box {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: rem($margin15px);
    // @at-root #{$component} .c-product-price-information {
    //     &.active {
    //         .c-product-total-price__box {
    //             // padding-top: rem($padding20px);
    //             padding-top: rem($padding12px);
    //         }
    //     }
    // }
  }
  &__text {
    // min-width: 40%;
    white-space: initial;
  }
  &__num {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
  }
  &__price {
    display: flex;
    align-items: end;
    gap: rem($margin8px 0);
    flex-flow: wrap;
    justify-content: flex-end;
    flex-direction: column;
    @include screen(web) {
      gap: rem($margin10px);
    }
    strong {
      display: flex;
      align-items: baseline;
      font-weight: $font-semibold;
      .smallFont {
        font-size: rem(16px);
      }
      sup.smallFont {
        margin-top: rem($margin10px);
      }
      @include screen(web) {
        .smallFont {
          font-size: rem(23px);
        }
      }
    }
  }
  &__payment {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    // flex-direction: row;
    justify-content: flex-end;
    gap: rem($margin4px);
    font-size: rem(12px);
    line-height: rem(12px);
    text-wrap: wrap;
    text-align: right; // [LGCOMCI-887]
    @include screen(custom, rem($tablet + 1px), min) {
      // flex-direction: row;
      // justify-content: flex-end;
      font-size: rem(16px);
      line-height: rem(16px);
    }

    .affirm-promo {
      .affirm-as-low-as {
        font-size: 0;
      }
      .affirm-modal-trigger {
        font-size: rem(12px);
        @include screen(web) {
          font-size: rem(16px);
        }
      }
    }
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: underline;
    column-gap: rem($margin8px);
    color: $mid-gray3;
    &.c-price__installment {
      min-width: 100%;
      white-space: initial; // [LGCOMIS-659]
    }
    /* stylelint-disable-next-line no-descending-specificity */
    span {
      display: inline-block;
      text-align: right;
      text-decoration: underline;
    }
    .c-image {
      width: auto;
      height: rem($icon16px);
      * {
        width: auto;
        height: 100%;
        max-width: none;
      }
    }
    .no-underline {
      text-decoration: none;
    }
    .c-image-installment {
      margin-left: rem($margin8px);
      height: rem(16px);
      vertical-align: middle;
      &.payment_afterpay_logo {
        width: rem(77px);
        min-width: rem(77px);
        background: url('../../mocks/PD0003/icon-logo-afterpay-black-144-30.png') center / contain no-repeat;
      }
      &.payment_zippay_logo {
        width: rem(42px);
        min-width: rem(42px);
        background: url('../../mocks/PD0003/icon-logo-zip-black-81-31.png') center / contain no-repeat;
      }
    }
  }
}

// payment info
.c-payment-info {
  &__payment {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: rem($margin6px);
    // padding-top: rem($padding12px);
    padding-top: rem($padding8px);
    .c-image {
      width: auto;
      height: rem($icon16px);
      * {
        width: auto;
        height: 100%;
      }
    }
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: underline;
    column-gap: rem($margin8px);
    &:first-child {
      min-width: 100%;
    }
  }
}

// product info etc
.c-product-info-etc {
  $info-etc: '.c-product-info-etc';
  display: flex;
  flex-direction: column;
  gap: rem($margin10px);
  @include screen(web) {
    gap: rem($margin12px);
  }
  @at-root #{$component} * > #{$info-etc} {
    margin-top: calc(rem($margin30px - $padding10px));
    @include screen(web) {
      margin-top: calc(rem($margin30px - $padding10px));
    }
  }
  .c-icon-button[class*='-more-info'] {
    transform: translateY(rem(3px));
  }
  &__item {
    &--wrapper {
      display: flex;
      flex-direction: column;
      gap: rem($margin16px);
      @include screen(web) {
        gap: rem($margin12px);
      }
    }
    &--imp {
      color: $gray3;
      @at-root #{$component} .c-product-info-etc__item--imp {
        > * {
          display: flex;
          gap: rem($margin8px);
          p {
            flex: 1;
          }
        }
      }
      &--icon {
        &:before {
          width: rem($width2px);
          height: rem($height9px);
          background-image: url($icon-exclamation-white);
        }
      }
    }
    &--link-text {
      .subscribe-button {
        a {
          text-decoration: underline;
          text-underline-offset: rem($margin3px);
          .link {
            display: flex;
            align-items: center;
            font-weight: $font-semibold;
            &::after {
              content: '';
              display: block;
              width: rem($width14px);
              height: rem($height14px);
              margin-left: rem($margin8px);
              background-image: url($icon-pl_subscribe);
              background-repeat: no-repeat;
              background-position: center;
            }
          }
          .info {
            color: #646464;
          }
        }
      }
    }
    &--dot-text {
      color: $dark-gray1;
      @at-root #{$component} .c-product-info-etc__item--dot-text {
        > * {
          position: relative;

          $size: $width3px;
          display: flex;
          gap: rem($padding10px);
          align-items: flex-start;

          &:before {
            content: '';
            width: rem($size);
            height: rem($size);
            background-color: $dark-gray1;
            border-radius: $radius-full;
            margin-top: rem($margin10px);
          }
        }
      }
      p {
        flex: 1;
      }
    }
    &--dot-text-fixed {
      color: $gray3;
      background-color: $light-gray3;
      // border-radius: rem($radius8);
      @include lgness-radius('inner/medium');
      padding: rem($padding14px);
      @include screen(web) {
        padding: rem($padding12px);
      }
      /* stylelint-disable-next-line no-descending-specificity */
      > * {
        display: flex;
        gap: rem($margin8px);
        // align-items: center;
        p {
          flex: 1;
        }
      }
    }
    &--download {
      .c-icon-button {
        display: flex;
        font-size: rem(14px);
        line-height: 1;
        text-decoration: underline;
        text-underline-offset: rem(3px);

        $icon: '&:before';
        #{$icon} {
          width: rem($icon18px);
          height: rem($icon18px);
          background-position: 0 rem($margin2px);
        }
      }
    }
  }
}

// product price quantity
.c-product-price-qty {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding-top: rem($padding12px);
  // padding-bottom: rem($padding12px);
  // border-radius: $radius4;
  // border-bottom: rem($border1) solid $graye6;
  @include screen(web) {
    padding-top: rem($padding16px);
  }
  @at-root #{$component} .c-product-price-information {
    &.active {
      .c-product-price-qty {
        display: flex;
      }
    }
  }
  .c-qty {
    display: flex;
    &__label {
      font-weight: $font-semibold;
    }
    &__input {
      max-width: rem(68px);
      border: rem($border1) solid $mid-gray1;
      border-radius: rem($form-radius);
      text-align: center;
      font-size: rem(20px);
      line-height: 1;
      background-color: $white;
      // padding-left: rem($padding16px);
      // padding-right: rem($padding16px);
      margin-left: rem($margin8px);
      margin-right: rem($margin8px);

      // remove native spin button
      appearance: none;
      -ms-appearance: none;
      -moz-appearance: textfield;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      // ---
      &:focus-visible {
        outline-offset: rem(-$border2);
      }
    }
    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem($width32px);
      height: rem($height32px);
      border: rem($border1) solid $mid-gray1;
      padding: 0;
      border-radius: $radius-full;
      cursor: pointer;
      background-color: $white;
      @include screen(web) {
        width: rem($width40px);
        height: rem($height40px);
      }
      &::before {
        display: block;
        content: '';
        width: rem($icon16px);
        height: rem($icon16px);
        background : {
          position: center;
          size: auto;
          repeat: no-repeat;
        }
      }

      &--minus {
        &::before {
          background-image: url($icon-minus-black-16-16);
        }
        &:disabled {
          cursor: default !important;
          &::before {
            background-image: url($icon-minus-mid-gray1-16-16);
          }
        }
      }
      &--plus {
        &::before {
          background-image: url($icon-plus-black-16-16);
        }
        &:disabled {
          cursor: default !important;
          &::before {
            background-image: url($icon-plus-mid-gray1-16-16);
          }
        }
      }
    }
  }
  &.disabled {
    .c-qty {
      &__btn {
        // border-color: $grayd;
        // background-color: $ivory6;
        &--minus {
          &::before {
            background-image: url($icon-minus-mid-gray1-16-16);
          }
        }
        &--plus {
          &::before {
            background-image: url($icon-plus-mid-gray1-16-16);
          }
        }
      }
      &__input {
        color: $mid-gray1;
      }
      &__btn,
      &__input {
        cursor: default !important;
      }
    }
  }
}

.c-WAI-layer {
  display: flex;
  flex-direction: column-reverse;
}

// exchange offers
