@use '../../scss/abstract/' as *;

.delivery-fee {
  margin: 0 auto;
  padding: rem($padding24px) rem($padding16px);
  @include screen(web) {
    max-width: rem(1440px);
    padding: 0;
  }
  &__wrap {
    padding: 0;
    overflow: auto;
    @include screen(web) {
      padding: rem($padding48px) 0 rem($padding64px);
    }
    .cmp-title__text {
      font-weight: $font-light !important;
      padding-top: rem($padding12px);
      padding-bottom: rem($padding20px);
      @include screen(web) {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
  &__area {
    overflow-x: auto;
    margin-top: 0;
    background-color: $white;
    border-radius: 20px;
    padding: rem($padding14px) 0 rem($padding24px);
    @include screen(web) {
      margin-top: rem($margin24px);
      padding: rem($padding24px) rem($padding48px) rem($padding48px);
      background-color: $white;
      border-radius: rem($radius32);
    }
    .table-padding {
      @include screen(mobile) {
        padding: 0 rem($padding20px);
        display: inline-table;
      }
    }

    .delivery_table {
      width: 100%;
      &__row {
        th {
          padding: rem($padding14px) rem($padding6px) rem($padding14px) rem($padding6px);
          @include screen(web) {
            padding: rem($padding14px) rem($padding24px) rem($padding14px) rem($padding24px);
          }
          text-align: center;
          white-space: nowrap;
          font-size: rem(16px);
          font-weight: $font-regular;
          line-height: rem(20px);
          border-bottom: rem($border1) solid $mid-gray1;
        }

        td {
          padding: rem($padding14px) rem($padding6px) rem($padding14px) rem($padding6px);
          @include screen(web) {
            padding: rem($padding14px) rem($padding24px) rem($padding14px) rem($padding24px);
          }
          font-size: rem(16px);
          color: $gray3;
          line-height: rem(20px);
          border-bottom: rem($border1) solid $mid-gray1;
          white-space: nowrap;
        }

        td:last-child {
          text-align: right;
        }

        .first_letter {
          text-align: center;
        }
      }
      &__no_line {
        td {
          border-bottom: 0;
          &[rowspan] {
            border-bottom: rem($border1) solid $mid-gray1;
          }
          &.delivery_table__no_line {
            border-bottom: 0;
          }
        }
      }
    }

    .delivery_table__row + .delivery_table__no_line td {
      padding: rem($padding14px) rem($padding6px) rem($padding6px);
      @include screen(web) {
        padding: rem($padding14px) rem($padding24px) rem($padding6px);
      }
    }

    .delivery_table__row + .delivery_table__no_line td.first_letter {
      padding: rem($padding14px) rem($padding6px);
      @include screen(web) {
        padding: rem($padding14px) rem($padding24px);
      }
    }

    .delivery_table__row:first-child.delivery_table__no_line td:not(.first_letter) {
      padding: rem($padding6px) rem($padding6px);
      @include screen(web) {
        padding: rem($padding6px) rem($padding24px);
      }
    }

    .delivery_table__no_line + .delivery_table__row td {
      padding: rem($padding6px) rem($padding6px) rem($padding14px);
      @include screen(web) {
        padding: rem($padding6px) rem($padding24px) rem($padding14px);
      }
    }

    .delivery_table__no_line + .delivery_table__no_line td {
      padding: rem($padding6px) rem($padding6px);
      @include screen(web) {
        padding: rem($padding6px) rem($padding24px);
      }
    }
  }

  // &__description {
  //     height: rem(22px);
  //     padding-top: rem($padding8px);

  //     p {
  //         font-weight: $font-regular;
  //         line-height: rem(14px);
  //         color: $mid-gray3;
  //     }
  //     @include screen(web) {
  //         height: rem(48px);
  //         padding: rem($padding14px) 0 rem($padding14px);

  //         p {
  //             line-height: rem(20px);
  //         }
  //     }
  // }

  &__back {
    padding-bottom: rem(12px);
    @include screen(web) {
      margin-bottom: rem(24px);
    }
    .cmp-button {
      width: rem(24px);
      height: rem(24px);
      vertical-align: top;
      @include screen(web) {
        width: rem(36px);
        height: rem(36px);

        background : {
          image: url($icon-arrow-black-left-17-30);
          position: center;
          size: rem(13.5px) auto;
          repeat: no-repeat;
          color: transparent;
        }
      }
      border: 0;
      padding: 0;
      cursor: pointer;
      background : {
        image: url($icon-arrow-black-left-17-30);
        position: center;
        size: rem(9px) auto;
        repeat: no-repeat;
        color: transparent;
      }
    }
  }

  // .region {
  //     display: flex;
  //     flex-direction: column;
  //     padding: rem($padding20px) 0 0;
  //     border-bottom: rem($border1) solid $mid-gray1;
  //     @include screen(web) {
  //         flex-direction: row;
  //         padding: rem($padding24px) 0 rem($padding32px);
  //     }
  //     &:first-child {
  //         padding-top: 0;
  //         @include screen(web) {
  //             border-top: none;
  //             padding: rem($padding24px) 0 rem($padding32px);
  //         }
  //     }
  //     &:last-child {
  //         border-bottom: none;
  //         @include screen(web) {
  //             padding-bottom: 0;
  //         }
  //     }
  //     &__list {
  //         display: flex;
  //         flex-wrap: wrap;
  //         margin-top: rem($margin20px);
  //         font-weight: $font-regular !important;
  //         @include screen(web) {
  //             row-gap: rem(20px);
  //         }
  //         &__item {
  //             width: 50%;
  //             display: inline-block;
  //             margin-bottom: rem($margin20px);
  //             font-weight: $font-regular !important;
  //             @include screen(web) {
  //                 width: fit-content;
  //                 margin-right: rem($margin40px);
  //                 margin-bottom: 0;
  //                 &:last-child {
  //                     margin-right: 0;
  //                 }
  //             }
  //             .c-button {
  //                 font-size: rem(20px) !important;
  //                 line-height: rem(24px) !important;
  //                 font-weight: $font-regular !important;
  //                 color: $dark-gray3;

  //                 @include screen(web) {
  //                     color: $black;
  //                     font-size: rem(24px) !important;
  //                     line-height: rem(28px) !important;
  //                 }
  //             }
  //         }
  //         @include screen(web) {
  //             margin-top: 0;
  //         }
  //     }
  //     &__title {
  //         width: 100%;
  //         @include screen(web) {
  //             max-width: rem(240px);
  //             margin-right: rem($margin80px);
  //         }
  //     }
  //     &__area {
  //         width: 100%;
  //         @include screen(web) {
  //             max-width: rem(1024px);
  //         }
  //     }
  //     .cmp-button {
  //         width: 100%;
  //         height: 100%;
  //         margin-top: 0;
  //         &::before {
  //             width: rem(20px);
  //             height: rem(20px);
  //             background-image: url($icon-close-black-20-20);
  //         }
  //     }
  // }
}
