@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.ML000T';
#{$component} {
  .my-component {
    @include container($design-grid-full, true);
    @include inset-padding-hz;

    $mycomponent: '.my-component';
    position: relative;
    overflow: hidden;
    &.no-crop {
      overflow: initial;
    }
    & > .c-text-contents > .c-text-contents__bodycopy {
      margin-top: rem($margin10px);
    }
  }
  .my-page-title {
    @include screen(mobile) {
      padding-bottom: rem($padding20px);
    }
  }
  .align-text-center {
    text-align: left;
    @include screen(web) {
      text-align: center;
    }
    .title div {
      line-height: rem(34px);
      @include screen(web) {
        line-height: rem(44px);
      }
    }
  }
  .my-text {
    &__max {
      max-width: rem(550px);
      margin: 0 auto;
      padding: 0 rem($padding20px);
      @include screen(web) {
        padding: 0;
      }
    }
  }
  .my-formbox {
    margin: 0 auto;
    max-width: rem(952px);
    margin-bottom: rem($margin24px);
    @include screen(web) {
      margin-bottom: rem($margin64px);
    }
    & + .my-formbox {
      margin-top: rem($margin20px);
      @include screen(web) {
        margin-top: rem($margin24px);
      }
    }
  }
  .my-input {
    @include lgness-radius('default');
    background-color: $white;
    padding: rem($padding20px) rem($padding16px);
    @include screen(web) {
      padding: rem($padding24px);
      margin-top: rem($margin24px);
    }
    text-align: left;
    ul {
      @include reset-list-style;
      li {
        width: 100%;
      }
      li + li {
        margin-top: rem($margin20px);
        @include screen(web) {
          margin-top: rem($margin44px);
        }
      }
      .c-input-item {
        position: relative;
        label {
          color: $gray3;
          line-height: rem(16px);
          @include screen(web) {
            line-height: rem(18px);
          }
        }
        .my-input__password {
          padding-right: rem(47px);
          &.my-warn {
            border: rem($border1) solid $active-red;
          }
        }
        &.active {
          .my-form__eye {
            background: url($icon-mylg-view-on-24-24) center / contain no-repeat;
          }
        }
      }
    }
    input {
      padding: rem($padding12px) rem($padding13px);
      height: rem($height44px);
      border-radius: rem(12px);
      font-size: rem(16px);
      line-height: rem(20px);
      &[type='password'] {
        padding-right: rem($padding45px);
      }
      &::placeholder {
        color: $mid-gray2 !important;
        font-size: rem(16px) !important;
        font-weight: $font-regular;
        line-height: rem(20px) !important;
        letter-spacing: normal !important;
      }
    }
    .button {
      justify-content: center;
      margin-top: rem($margin30px);
    }
    .c-warning {
      line-height: rem(14px);
      @include screen(web) {
        line-height: rem(16px);
      }
    }
    .my-form {
      &__eye {
        display: inline-block;
        background: url($icon-mylg-view-32-32) center / contain no-repeat;
        position: absolute;
        top: calc(50%);
        right: rem(15px);
        width: rem($width24px);
        height: rem($height24px);
        border: none;
        cursor: pointer;
      }
    }
    .my-warn {
      padding-right: rem($padding40px);
      border-color: $red;
      select {
        border-color: $red;
      }
    }
    .c-warning,
    .c-valid {
      padding: 0 rem($padding13px);
      margin-top: rem($margin6px);
      @include screen(web) {
        margin-top: rem($margin8px);
      }
      &::before {
        display: none;
      }
    }
    .c-warning {
      font-size: rem(12px);
      line-height: rem(14px);
      @include screen(web) {
        font-size: rem(14px);
        line-height: rem(16px);
      }
    }
  }
  ul.my-input__info {
    color: $gray6;
    margin-top: rem($margin8px);
    li {
      line-height: rem(16px);
      @include screen(web) {
        line-height: rem(20px);
      }
    }
  }
  .my-check-msg {
    margin-top: rem($margin8px);
    &__list {
      @include reset-list-style;
    }
    &__item {
      color: $gray3;
      position: relative;
      padding-left: rem($padding24px);
      line-height: rem(20px);
      @include screen(web) {
        padding-left: rem($padding34px);
        line-height: rem(26px);
      }
      &::before {
        content: '';
        display: inline-block;
        background-color: $gray3;
        border-radius: 50%;
        position: absolute;
        left: rem(10px);
        top: rem(8px);
        width: rem(3px);
        height: rem(3px);
        @include screen(web) {
          top: rem(12px);
          left: rem(17px);
          width: rem(5px);
          height: rem(5px);
        }
      }
      span {
        display: block;
      }
    }
    &__button {
      margin-top: rem($margin12px);
      @include screen(web) {
        margin-top: rem($margin8px);
      }
      .c-checkbox-item .label {
        font-size: rem(16px);
        @include screen(web) {
          font-size: rem(14px);
        }
      }
    }
  }
  .my-button {
    margin: rem($margin20px) rem($margin9px) 0;
    justify-content: center;
    gap: rem(8px);
    @include screen(web) {
      flex-direction: initial;
      margin: rem($margin32px) 0 0;
    }
    .c-button {
      @include screen(mobile) {
        flex: 1;
      }
    }
    button {
      flex: 1;
      @include screen(web) {
        flex: initial;
      }
    }
  }
  .my-profile {
    outline: 1px solid darkturquoise;
    margin-top: rem($margin40px);
    .my-check-msg__container {
      @include screen(web) {
        padding: rem($padding10px) rem($padding20px);
        padding-left: rem($padding30px);
      }
    }
  }
}
