@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.PD0016';
#{$component} {
  @include lgness-margin('if-headline');

  > .component > .cmp-container {
    .c-box-3rd-party {
      @include container($design-grid-full, true);
      @include inset-padding-hz;
      .CC_BuyBtn1 iframe {
        padding-top: rem(4px);
      }
      div[data-ccid='inline-bno'] {
        // margin-top: rem(64px); // 4rem
        // padding-top: rem(48px); // 3rem
        padding-top: rem(24px); // 1.5rem
        border-color: $white;
      }
      iframe[buy-online-type='solotodo'] {
        margin-top: rem(64px); // 4rem
        // padding-top: rem(48px); // 3rem
        border-top: rem($border1) solid $mid-gray1;
      }
      // script[buy-online-type='price_spider'] .ps-container,
      // .CC_BuyBtn1 > div {
      //     margin-top: rem(64px); // 4rem
      //     padding-top: rem(32px); // 2rem;
      //     border-top: rem($border1) solid $mid-gray1;
      // }
      script[buy-online-type='price_spider'] .ps-container {
        margin-top: rem(64px); // 4rem
        padding-top: rem(32px); // 2rem;
        border-top: rem($border1) solid $mid-gray1;
      }
      script[buy-online-type='price_spider'] .ps-container {
        display: block;
      }
      .ps-widget {
        .ps-wtb-container {
          @include screen(web) {
            overflow: hidden;
            @include inset-padding-vt;
            @include lgness-radius('default', 'web');
          }
          .ps-online-seller-select {
            @include screen(mobile) {
              overflow: hidden;
              @include lgness-radius('default', 'mobile');
              .ps-online-seller-content {
                border-color: $white;
              }
              + .ps-online-seller-select {
                margin-top: rem($gutter-m);
              }
            }
          }
        }
      }
      #cci-inline-root {
        @include inset-padding-hz;
        @include lgness-radius('default');
        background: $white;
      }
    }
    * + .c-box-3rd-party {
      padding-top: rem($component-margin-m);
      @include screen(web) {
        padding-top: rem($component-margin-w);
      }
    }
    iframe {
      @include lgness-radius('default');
      background-color: $white;
      padding: rem($padding16px);
      @include screen(web) {
        padding: rem($padding24px);
      }
    }
  }

  $shop: '.c-online-shop';
  $search: '.c-search-box';
  $map-search: '.c-map-search';
  $map-search-box: '.c-map-search__box';
  $map: '.c-map';
  $direction-search: '.c-map-direction__search';
  $direction-result: '.c-map-direction__result';
  $tabs: '.c-tabs';

  // block
  #{$shop} {
    > div {
      @include inset-padding-hz;
      @include container($design-grid-full, true);
    }

    // block

    &-list {
      @include inset-padding-hz;
      @include container($design-grid-full, true);
      list-style: none;
      display: grid;
      grid-template-columns: repeat(1, 100%); // repeat(1,1fr);
      gap: rem($gutter-m);
      li {
        list-style: none;
      }
      @include screen(web) {
        gap: rem($gutter-w);
      }
      @include screen(desktop) {
        grid-template-columns: repeat(4, 1fr);
      }
      @include screen(tablet) {
        grid-template-columns: repeat(3, 30%);
        justify-content: space-between;
      }
    }

    &-item {
      cursor: pointer;
      position: relative;
      display: flex;
      flex-direction: column;
      background-color: $white;
      padding: rem($padding20px $padding28px);
      @include lgness-radius('default');
      @include screen(web) {
        justify-content: space-between;
        align-items: center;
        gap: rem($margin30px);
        padding: rem($padding30px $padding40px);
      }

      &:hover {
        text-decoration: none;
        #{$shop}-name {
          text-decoration: underline;
        }

        $imitation-button: '.c-button';
        #{$imitation-button} {
          color: $white;
          background-color: $active-red;
          border-color: $active-red;
        }
      }

      // shop image
      &__top {
        flex-shrink: 0;
        width: rem($width80px);
        @include screen(web) {
          width: 100%;
          max-width: rem($width180px);
          margin-left: auto;
          margin-right: auto;
        }

        // block
        .c-online-image-web {
          @include screen(mobile) {
            display: none;
          }
        }
        .c-online-image-mobile {
          @include screen(web) {
            display: none;
          }
        }
      }
      // shop name / cta
      &__bottom {
        display: flex;
        justify-content: space-between;
        gap: rem($gutter-m);
        padding-top: rem($padding8px);
        padding-right: rem(columns(2, false, mobile));
        @include screen(web) {
          flex-direction: column;
          align-items: center;
          gap: rem($margin8px);
          width: 100%;
          border-top: rem($border1) solid $light-gray3;
          padding-top: rem($padding20px);
          padding-right: 0;
        }
        // block
        .c-button {
          @include screen(mobile) {
            position: absolute;
            right: rem($padding28px);
            top: 50%;
            transform: translateY(-50%);
          }
        }
        .txt01 {
          font-size: rem(16px);
          line-height: rem(20px);
          color: $heritage-red;
        }
        .txt02 {
          font-size: rem(16px);
          line-height: rem(20px);
          color: #39827d;
        }
      }
      &__bottom.form {
        flex-direction: column;
        gap: 0.5rem;
      }
      &__energy-saving {
        margin: rem($margin6px) 0;
      }
    }
    &-name {
      color: $gray3;
    }
    &-bottom {
      margin-top: rem($margin24px);
      @include screen(web) {
        display: none;
      }
    }
    .c-no-data-wrap--standard {
      grid-column: span 4;
    }
    &-box {
      display: flex;
      position: relative;
      padding: rem($padding20px $padding28px);
      background-color: $white;
      @include lgness-radius('default');
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: rem($gutter-m);
      @include screen(web) {
        flex-direction: column;
        padding: rem($padding30px $padding40px);
        gap: rem($margin8px);
      }
      &-item {
        cursor: pointer;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @include screen(web) {
          justify-content: space-between;
          align-items: center;
          gap: rem($margin30px);
          width: 100%;
        }

        &:hover,
        &:focus-visible {
          text-decoration: none;
          outline-offset: rem(5px);
          @include screen(web) {
            outline-offset: rem(1px);
            @include lgness-radius('inner');
          }
          #{$shop}-name {
            text-decoration: underline;
          }

          $imitation-button: '.c-button';
          #{$imitation-button} {
            color: $white;
            background-color: $active-red;
            border-color: $active-red;
          }
        }

        // shop image
        &__top {
          flex-shrink: 0;
          width: rem($width80px);
          @include screen(web) {
            width: 100%;
            max-width: rem($width180px);
            margin-left: auto;
            margin-right: auto;
          }

          // block
          .c-online-image-web {
            @include screen(mobile) {
              display: none;
            }
          }
          .c-online-image-mobile {
            @include screen(web) {
              display: none;
            }
          }
        }
        // shop name / cta
        &__bottom {
          display: flex;
          justify-content: space-between;
          gap: rem($gutter-m);
          padding-top: rem($padding8px);
          padding-right: rem(columns(2, false, mobile));
          @include screen(web) {
            flex-direction: column;
            align-items: center;
            gap: rem($margin8px);
            width: 100%;
            border-top: rem($border1) solid $light-gray3;
            padding-top: rem($padding20px);
            padding-right: 0;
          }
          // block
          .c-button {
            @include screen(mobile) {
              position: absolute;
              right: rem($padding28px);
              top: 50%;
              transform: translateY(-50%);
            }
          }
          .txt01 {
            font-size: rem(16px);
            line-height: rem(20px);
            color: $heritage-red;
          }
          .txt02 {
            font-size: rem(16px);
            line-height: rem(20px);
            color: #39827d;
          }
        }
        &__bottom.form {
          flex-direction: column;
          gap: 0.5rem;
        }
        &__energy-saving {
          margin: rem($margin6px) 0;
        }
      }
    }
  }

  .c-search-box {
    max-width: none;
    > * {
      @include container($design-grid-full);
    }
    &__form--no-label {
      margin-bottom: rem($margin8px);
      // border-radius: $form-radius;
      select {
        border: rem($border1) solid $mid-gray1;
        color: $mid-gray2;
      }
    }
  }

  .c-product-directly-item {
    @include lgness-radius('default');
    background-color: $white;
    overflow: hidden;
    .c-product-item {
      border: 0;
      @include screen(web) {
        min-height: rem($width360px + $padding50px * 2);
        margin-left: auto;
        margin-right: auto;
      }
      &__bottom-container {
        .price-box {
          &.c-mobile {
            display: flex;
            flex-direction: column;
            @include screen(web) {
              flex-direction: row;
              gap: rem(8px);
            }
            .wrapper {
              margin-top: rem($margin12px);
              display: flex;
              align-items: center;
              @include screen(web) {
                margin-top: rem($margin16px);
              }
              .c-product-item__download {
                flex-direction: row-reverse;
                justify-content: flex-end;
                margin: 0;
              }
              .c-product-item__rating {
                display: none;
              }
            }
            .c-price__flag--member {
              flex-direction: row;
              flex: 1;
              gap: 0 rem($margin6px);
            }
          }
        }
      }
      &__energy-saving {
        margin: rem($margin6px) 0;
      }
    }
  }

  // layout : margin
  * + #{$shop},
  * + #{$search} {
    padding-top: rem($component-margin-m);
    margin-top: rem($component-margin-m);
    border-top: rem($border1) solid $mid-gray1;
    @include screen(web) {
      padding-top: rem($component-margin-w);
      margin-top: rem($component-margin-w + $margin16px);
    }
  }
  #{$shop} .c-text-contents + *,
  .c-product-directly-item {
    @include lgness-component-title-margin;
  }

  &.bg-white {
    .c-product-directly-item {
      border: rem($border1) solid $mid-gray1;
      .c-product-item {
        border: 0;
      }
    }
    .c-online-shop-item {
      border: rem($border1) solid $mid-gray1;
    }
  }
  &.bg-darkgray,
  &.bg-black {
    .c-product-directly-item {
      color: $black;
    }
  }
  body.dark-theme & {
    &.bg-darkgray,
    &.bg-black {
      .c-product-directly-item {
        color: $white;
        border: rem($border1) solid $dark-gray2;
        background-color: $black;
        .c-product-item {
          .price-area,
          .c-price__purchase,
          .c-price__discount {
            color: $white;
          }
          &__rating,
          .c-product-item__sku,
          .c-product-item__download > a,
          .c-product-item__download--click,
          .c-product-item__repair--click > *,
          .c-price__previous,
          .c-price__flag--vip .flag,
          .c-price__flag--member .flag,
          .c-price__otherinfo,
          .c-price__otherinfo > * {
            color: $graycb;
          }
          .c-text-contents__eyebrow.sku {
            color: $mid-gray1;
          }
        }
      }
      * + .c-online-shop,
      * + .c-search-box {
        border-color: $mid-gray3;
      }
      .c-box-3rd-party {
        .ps-header {
          @include screen(mobile) {
            color: $white;
          }
        }
      }
    }
  }

  .cc-Notice-module-container_2F88A {
    display: none !important;
  }

  .c-map-search__result--no-label {
    margin-top: 0;
    overflow: auto;
    @include screen(web) {
      margin-top: rem(141px);
      border-top: rem($border1) solid $light-gray3;
    }
  }
}
