@charset "UTF-8";
@use '../../scss/abstract/' as *;
@use '../CS0000/CS0000' as *;

// component
$component: '.CS0010';
#{$component} {
  // variable
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  $mobile-width: calc(100% - rem($margin25px * 2));

  &__container {
    @include flex-context;
    @include container($design-grid-full, true);
    @include inset-padding-hz(mobile);
    @include screen(web) {
      @include flex-context;
      @include inset-padding-hz;
    }
    @include screen(tablet) {
      @include inset-padding-hz;
    }

    @at-root #{$component} {
      .full #{$component}__container {
        padding-left: 0;
        padding-right: 0;

        #{$cs-header} {
          margin: rem(0 $margin25px);
          margin-bottom: rem($margin20px);

          @include screen(web) {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: rem($margin40px);
          }
        }
      }
    }
  }
  &.c-default-margin {
    &.c-wrapper {
      &.margin-top {
        margin-top: 0;
        padding-top: 0;
      }
      #{$cs-header} {
        margin-top: rem($margin30px);
        @include screen(web) {
          margin-top: rem($margin40px);
        }
      }
    }
  }

  // COMMON
  .c-carousel {
    &--gallery {
      .swiper-slide {
        @include screen(mobile) {
          width: $mobile-width;
        }
      }
      .swiper-slide:nth-last-child(-n + 2):first-child,
      .swiper-slide:nth-last-child(-n + 2):first-child ~ .swiper-slide {
        padding-top: 0;
        @include screen(web) {
          width: calc((100% - 24px) / 2) !important;
        }
        &:last-child {
          margin-right: 0 !important;
        }
      }
    }
    &__handler {
      padding-bottom: rem($padding40px);
    }
  }
  .c-carousel .c-image {
    overflow: hidden;
    border-radius: rem($radius8);
  }
  .c-media {
    &--floating {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
  .c-cta {
    // display: block;
    margin: rem($margin12px $margin13px $margin13px);
    @include screen(web) {
      margin: rem($margin16px $margin24px $margin24px);
    }
  }

  // Support HEADER
  #{$cs-header} {
    margin-bottom: rem($margin12px);
    a {
      color: $red;
      text-decoration: underline;
    }
    @include screen(web) {
      margin-bottom: rem($margin40px);
    }
    @at-root #{$component} #{$cs-header} {
      #{$text-contents} {
        // text-align: center;
      }
      #{$text-contents}__headline + #{$text-contents}__bodycopy {
        margin-top: rem($margin6px);
        @include screen(web) {
          // margin: auto;
          margin-top: rem($margin10px);
          max-width: $text-box-width-md;
        }
      }
    }
  }

  // Additional Support - COMPONENT CLASS ADDED .type-img__slide
  .type-img__slide,
  .type-img__slide2 {
    #{$cs-header} {
      // text-align: center;
      width: calc(100% - rem(80px));
    }
    @include screen(web) {
      #{$component}__container {
        // padding-top: rem($padding100px);
        padding-bottom: 0;
      }
      #{$cs-header} {
        margin-bottom: rem($margin20px);
        width: calc(100% - rem(200px));
      }
    }
    .c-gallery {
      &-container {
        // padding: 0 rem($padding25px);
        .c-carousel {
          overflow: visible;
          position: static;
          &__handler {
            margin-top: 0;
          }
        }
        @include screen(web) {
          margin-top: rem($margin20px);
          position: relative;
          .c-carousel {
            overflow: hidden;
            &__handler {
              right: 0;
              top: rem(-100px);
              padding-bottom: 0;
            }
          }
        }
      }
    }
    .swiper-wrapper {
      .swiper-slide {
        height: auto;
        // width: calc((100% - (rem(24px) * 2)) / 3);
        // padding-top: rem($padding60px);
        &:focus-visible {
          outline-offset: rem(-1px);
        }
        .c-gallery {
          &-wrapper {
            // border: 1px solid red;
            height: 100%;
          }
          &-contents {
            height: 100%;
            // border: 1px solid blue;
            &__container {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height: 100%;
              background: $white;
              border-radius: $radius16;

              .c-image__img {
                border-radius: $radius16 $radius16 0 0;
              }
              @include screen(web) {
                border-radius: $radius28;
                .c-image__img {
                  border-radius: $radius28 $radius28 0 0;
                }
              }
            }
            &__box {
              #{$text-contents} {
                // border: 1px solid #000;
                margin: rem($margin13px $margin13px 0);
                &__eyebrow {
                  display: inline-block;
                  margin-bottom: rem($margin4px);
                  color: $active-red;
                  @include ellipsis(1);
                  white-space: normal;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 1;
                }
                &__subcopy {
                  .c-gallery-title {
                    @include ellipsis(2);
                    @include screen(web) {
                      // @include ellipsis(2);
                    }
                  }
                }
                &__bodycopy {
                  margin-top: rem($margin8px);
                  p {
                    @include ellipsis(2);
                    @include screen(web) {
                      // @include ellipsis(3);
                    }
                  }
                }
              }
              .button {
                // text-align: left;
              }
              @include screen(web) {
                #{$text-contents} {
                  margin: rem($margin24px $margin24px 0);
                  &__bodycopy {
                    margin-top: rem($margin4px);
                  }
                }
              }
            }
          }
        }
      }
    }

    .c-carousel__handler {
      @include screen(web) {
        // display: none;
      }
    }
  }

  // .type-img__slide2.type-home-col4 {
  //     .c-gallery-container {
  //         .c-carousel__handler {
  //             @include screen(web) {
  //                 top:-5rem;
  //             }

  //         }
  //     }
  // }
  .type-img__slide2 {
    .cmp-image {
      max-width: rem(240px);
      max-height: rem(240px);
      margin: 0 auto;
      overflow: hidden;
      img {
        display: block;
        width: auto;
        object-fit: contain;
      }
    }
    .swiper-wrapper {
      .swiper-slide {
        .c-gallery {
          &-contents {
            &__box {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height: 100%;
              &:hover {
                text-decoration: none;
              }
              #{$text-contents} {
                margin: rem($margin20px $margin20px 0);
                &__subcopy {
                  .c-gallery-title {
                    @include ellipsis(2);
                    word-break: break-word;
                  }
                }
                &__bodycopy {
                  margin-top: rem($margin6px);
                }
              }
              .c-gallery-picture {
                margin: rem($margin36px 0 $margin20px);
              }
              @include screen(web) {
                #{$text-contents} {
                  margin: rem($margin28px $margin28px 0);
                  &__bodycopy {
                    margin-top: rem($margin8px);
                  }
                }
                .c-gallery-picture {
                  margin: rem($margin16px 0 $margin28px);
                }
              }
            }
          }
        }
      }
    }
    /* 230803 Design change
        &.type-home-col4 {
            .swiper {
                @include screen(web) {
                    // overflow: visible;
                }
            }
            .swiper-wrapper {
                flex-wrap: wrap;
                flex-direction: column;
                gap: 0;
                max-height: rem(600px);
                @include screen(web) {
                    flex-wrap: nowrap;
                    flex-direction: row;
                }
                @include screen(custom, rem(360px), max) {
                    max-height: rem(400px);
                }
            }
        } */
  }

  // .type-img__slide2.type-home-col4-2 {
  //     .swiper-slide {
  //         display:flex;
  //         flex-wrap: wrap;
  //         flex-direction: row;
  //         gap:rem(8px);
  //         margin-top:0 !important;

  //         .c-gallery-wrapper {
  //             width:calc(50% - 4px);
  //             height:auto;
  //             .c-gallery-contents__container {
  //                 height:auto;
  //             }
  //         }
  //     }
  // }

  // theme
  &.bg-darkgray,
  &.bg-black {
    .component {
      color: $white;
    }
    .c-text-contents__bodycopy,
    .c-text-contents__list-item,
    .c-text-contents__quote-name {
      color: $white;
    }
    .c-text-contents li {
      &:before {
        background-color: $white;
      }
    }
  }

  // option - align
  .c-text-contents {
    &.align-text-left {
      .c-text-contents__subcategory,
      .c-text-contents__description,
      .c-text-contents__subcopy {
        text-align: center;
        @include screen(web) {
          text-align: left;
        }
      }
    }
    &.align-text-center {
      .c-text-contents__subcategory,
      .c-text-contents__description {
        text-align: center;
        @include screen(web) {
          text-align: center;
        }
      }
    }
    &.align-text-right {
      .c-text-contents__subcategory,
      .c-text-contents__description {
        text-align: center;
        @include screen(web) {
          text-align: right;
        }
      }
    }
    &.eyebrow {
      &-show {
        .c-text-contents__eyebrow {
          display: block;
        }
      }
      &-hide {
        .c-text-contents__eyebrow {
          display: none !important;
        }
      }
    }
  }
  @at-root #{$component} {
    &.width-wide {
      max-width: 1920px;
      margin: 0 auto;
    }

    &.width-narrow {
      max-width: 1600px;
      margin: 0 auto;
    }

    &.width-content {
      max-width: 1440px;
      margin: 0 auto;
    }
    &.border-top {
      border-top: 1px solid $mid-gray1 !important;
    }
    &.border-bottom {
      border-bottom: 1px solid $mid-gray1;
    }
  }

  // icon path issue fix
  .c-carousel .c-carousel__handler--dial .c-carousel__button {
    &:disabled {
      &:after {
        background-image: url($icon-arrow-graycb-right-13-22);
      }
    }
    &:after {
      background-image: url($icon-arrow-black-right-13-22);
    }
  }
}
