@charset "UTF-8";
@use '../../scss/abstract/' as *;

// subscribe
$component01: '.GN0006';
$block: '.c-search-box';
#{$component01} {
  > .component {
    .cmp-container {
      position: relative;
      @include container($design-grid-full, true);
    }
    .gn-search-result {
      @include inset-padding-hz;
    }
    .al-headline {
      border-bottom: rem($border1) solid $mid-gray1;
      padding: 0 rem($padding16px) rem($padding6px);
      margin: 0 rem(-16px);
      @include screen(web) {
        padding: 0 0 rem($padding20px);
        margin: 0;
      }
      .c-tag {
        color: $heritage-red;
        @include screen(mobile) {
          display: block;
        }
      }
    }
  }
  #{$block} {
    position: relative;
    padding: 0;
    #{$block}__body {
      display: flex;
      margin: rem($margin24px) 0 rem($margin12px);
      padding: 0;
      flex-direction: column;
      gap: rem($margin20px);
      align-items: flex-start;
      justify-content: center;
      @include lgness-radius('default');
      background-color: transparent;
      @include screen(web) {
        margin: 0 auto;
        padding: rem($padding48px 0 $padding20px);
        flex-direction: row;
        align-items: end;
        gap: rem($gutter-w);
      }
      #{$block}__form {
        flex: 1 1 auto;
        @include screen(mobile) {
          gap: rem($gutter-m);
        }
        @include screen(web) {
          display: flex;
          flex-direction: row;
        }
        &-item {
          width: 100%;
          label {
            display: inline-block;
            margin-bottom: rem($margin8px);
          }
        }
        .c-select-item,
        .c-input-item,
        .c-search-box__form-item {
          @include screen(desktop) {
            flex: 1 1 auto;
            width: auto;
          }
        }
      }
    }
  }
  .c-finder {
    #{$block} {
      &__form-item {
        color: $dark-gray1;
      }
      .c-select-item {
        select {
          color: $mid-gray2;
          font-weight: $font-regular;
          height: rem(48px);
          font-size: rem(16px);
          line-height: rem(18px);
          background-color: $light-gray3;
          border-color: $gray7e;
          border-radius: rem(24px);
          @include screen(web) {
            padding-left: rem($padding25px);
            height: rem(60px);
            font-size: rem(20px);
            line-height: rem(28px);
            border-radius: rem(30px);
            background-position: calc(100% - rem($padding25px)) 50%;
          }
        }
      }
    }
  }
  .c-result-area {
    &__controls {
      height: auto;
      padding: 0;
      @include screen(mobile) {
        margin-top: rem($margin24px);
        padding-top: rem($padding24px);
        border-top: rem($border1) solid $graycb;
      }
    }
    &__count {
      color: $heritage-red;
    }
  }
  .c-result-contents {
    margin-top: rem($margin12px);
    @include screen(web) {
      position: relative;
      margin-top: rem($margin20px);
      @include container($design-grid-full, true);
    }
    .c-list {
      padding: 0 0 rem($padding25px);
      margin: 0 0 rem($margin16px);
      @include screen(web) {
        display: flex;
        gap: rem($margin48px) rem($gutter-w);
      }
      &__item {
        list-style: none;
        @include lgness-radius('default');
        & ~ .c-list__item {
          margin-top: rem(24px);
          @include screen(web) {
            margin-top: 0;
          }
        }
      }
      &-item__img {
        overflow: hidden;
        display: block;
        margin-bottom: rem($margin9px);
        width: 100%;
        @include lgness-radius('default');
        @include screen(web) {
          margin-bottom: rem($margin20px);
        }
        img {
          width: 100%;
        }
      }
      &-item__contents {
        &__cate {
          @include ellipsis(1);
        }
        &__title {
          @include ellipsis(3);
          word-break: break-word;
          @include screen(web) {
            @include ellipsis(2);
          }
        }
        &__preview {
          margin-top: rem($margin8px);
          max-height: rem(88px);
          line-height: rem(22px);
          color: $gray3;
          @include ellipsis(4);
          word-break: break-word;
          @include screen(web) {
            max-height: rem(80px);
            @include ellipsis(2);
          }
        }
        .c-text-contents {
          &-title {
            margin-top: rem($margin8px);
            @include screen(web) {
              margin-top: rem($margin4px);
            }
          }
          &-bodycopy {
            color: $dark-gray1;
            margin-top: rem($margin8px);
          }
        }
      }
      @include screen(web) {
        @include flex-context($direction: row);
        flex-wrap: wrap;
        &__item {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex-basis: calc(100% / 3 - 16px);
        }
      }
    }
    &__btn {
      margin-top: rem($margin12px);
      display: flex;
      gap: rem(12px) rem(8px);
      flex-wrap: wrap;
      @include screen(web) {
        margin-top: rem($margin20px);
        gap: rem(24px) rem(8px);
      }
    }
    .c-image {
      overflow: hidden;
      @include lgness-radius('default');
    }
  }
}
