@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.AL0008';
$componentId: '#AL0008';
// *** This CSS is breaking all the modals so commenting it. - CNX team to check ***
// .c-pop-msg {
//     &__container {
//         max-width: rem(660px);
//         margin: auto;
//         background-color: $light-gray2;
//         overflow: hidden;
//         justify-content: flex-start;
//         padding: rem($padding40px) 0 rem($padding48px) !important;
//         @include lgness-radius('default');
//         @include screen(web) {
//             height: auto;
//             min-height: 0;
//             padding: rem($padding32px) rem($padding48px) rem($padding48px);
//         }
//     }
//     &__header {
//         border-color: $mid-gray1;
//         padding: 0 rem($padding16px) rem($padding12px);
//         margin-bottom: rem($margin24px);
//         @include screen(web) {
//             padding: 0;
//             padding-bottom: rem($padding20px);
//             margin-bottom: rem($margin32px);
//         }
//         .cmp-title {
//             font-weight: 300;
//             font-size: rem(28px);
//             line-height: rem(32px);
//             @include screen(web) {
//                 font-size: rem(56px);
//                 line-height: rem(60px);
//                 padding-bottom: 0;
//             }
//         }
//     }
//     &__contents--box {
//         @include screen(mobile) {
//             overflow-y: scroll;
//             padding-left: rem($padding16px);
//             padding-right: rem($padding16px);
//         }
//         a {
//             text-decoration: underline;
//             font-weight: $font-semibold;
//             line-height: rem(20px);
//         }
//     }
//     &__button-wrap {
//         position: absolute;
//         bottom: rem(48px);
//         width: 100%;
//         border-top: rem($border1) solid $graye6;
//         padding-top: rem($padding24px);
//     }
//     &__close-button {
//         position: absolute;
//         top: rem(10px);
//         right: rem(10px);
//         width: rem(44px) !important;
//         height: rem(44px) !important;
//         margin: 0 !important;
//         @include screen(web) {
//             top: rem(32px) !important;
//             right: rem(48px) !important;
//             width: rem(56px) !important;
//             height: rem(56px) !important;
//         }
//         &::before {
//             width: rem(40px) !important;
//             height: rem(40px) !important;
//             @include screen(mobile) {
//                 content: '' !important;
//                 display: block;
//                 width: rem(12px) !important;
//                 height: rem(12px) !important;
//                 background-image: url($icon-close-black-24-24);
//             }
//         }
//     }
//     .c-RU-newsletter {
//         margin-bottom: rem($margin12px);
//     }
// }
#{$componentId} {
  .c-pop-msg {
    &__container {
      padding: 0 rem($padding40px);
    }
  }
}
#{$component} {
  ul {
    @include reset-list-style;
  }
  overflow: initial;
  > .component > .cmp-container {
    // @include inset-padding-hz;
    @include screen(web) {
      @include container($design-grid-full, false);
    }
    margin: 0 auto;
    .c-RU-newsletter {
      // text-align: center;
      display: flex;
      justify-content: space-between;
      @include screen(mobile) {
        flex-direction: column;
        padding-left: rem($padding16px);
        padding-right: rem($padding16px);
      }
      &--subscription {
        @include lgness-radius('default');
        @include screen(mobile) {
          padding-bottom: rem(47px);
        }
        &__title {
          margin-top: rem($margin6px);
          font-weight: $font-light;
          font-size: rem(28px);
          line-height: rem(32px);
          @include screen(web) {
            margin-top: rem(0);
            font-size: rem(56px);
            line-height: rem(60px);
          }
        }
        &__text {
          display: flex;
          gap: rem(23px);
          margin-top: rem($margin8px);
          font-size: rem(12px);
          line-height: rem(14px);
          @include screen(mobile) {
            flex-direction: column;
          }
          @include screen(web) {
            gap: rem(8px);
            font-size: rem(20px);
            line-height: rem(26px);
          }
          .cmp-button {
            &__text {
              display: flex;
              align-items: center;
              gap: rem(3px);
              font-size: rem(16px);
              line-height: rem(22px);
              font-weight: $font-semibold;
              &:after {
                content: '';
                display: inline-block;
                width: rem($width7px);
                height: rem($height12px);
                background : {
                  image: url($icon-arrow-gray3-right-5-8);
                  position: 100% center;
                  size: 100%;
                  repeat: no-repeat;
                }
                transform: rotate(0) #{'/*!rtl:rotate(#{$degree180})*/'}; /*! 230601 RTL */
              }
            }
            &::before {
              display: none;
            }
          }
          .c-tooltip {
            &__contents {
              width: rem(600px);
              font-size: rem(16px);
              line-height: rem(20px);
              text-align: left;
              a {
                font-size: rem(14px);
                line-height: rem(20px);
                text-decoration: underline;
                font-weight: $font-semibold;
              }
            }
            &__container.active {
              display: none;
              @include screen(web) {
                display: block;
              }
            }
          }
        }
      }
      .c-search-box {
        padding: 0;
        &__body {
          padding: 0;
          background-color: transparent;
          gap: rem($gutter-w);
          @include screen(mobile) {
            align-items: start;
          }
          @include screen(web) {
            max-width: rem(708px);
          }
          .button {
            @include screen(web) {
              margin-bottom: rem($margin8px);
            }
          }
          .c-search-box__form {
            align-items: initial;
          }
        }
        .c-input-item {
          flex: 1;
          width: auto;
          label {
            font-size: rem(16px);
            line-height: rem(18px);
            @include screen(web) {
              font-size: rem(20px);
              line-height: rem(24px);
            }
            &::after {
              @include screen(mobile) {
                content: '*';
                color: $red;
              }
            }
          }
        }
        .c-input-item input {
          height: rem($height48px);
          background-color: $light-gray3;
          border-radius: rem(24px);
          @include screen(web) {
            height: rem($height60px);
            width: rem(550px);
            border-radius: rem(30px);
          }
        }
      }
      &--error {
        width: 100%;
        border: rem($border1) solid $graye6;
        @include lgness-radius('default');
        // padding: 0 rem($padding16px);
        @include screen(web) {
          background-color: $white;
          padding: rem(77px) rem(96px) rem(122px);
        }
        &__text {
          color: $black;
          font-weight: $font-semibold;
          font-size: rem(20px);
          line-height: rem(26px);
          padding-top: rem(72px);
          @include screen(web) {
            padding-top: rem(124px);
          }
        }
        &__nodata {
          background-image: url($icon-nodata-black-90-90);
          background-repeat: no-repeat;
          background-position: left top;
          color: $black;
          @include screen(mobile) {
            background-size: rem(60px);
          }
        }
        &__applied {
          background-image: url($icon-result-60-60);
          background-repeat: no-repeat;
          background-position: left top;
          @include screen(web) {
            background-size: rem(90px);
          }
        }
      }
    }
    .error {
      // @include inset-padding-hz;
      @include screen(web) {
        @include container($design-grid-full, false);
      }
    }
  }
}
