include ./_email_variables.pug
include ./_email_header.pug
include ./_email_footer.pug
include ../_component/_index.pug

doctype html
html(lang="en" dir="ltr" data-countrycode="uk")
    head
        meta(charset='UTF-8')
        meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        block meta

        body 
            // [Start] Email Form : Use markup in this block only
            table(cellpadding='0' cellspacing='0' width='780' border='0' bgcolor='#f6f3eb;' align='center' style='min-width:780px;border:1px solid #eeeeee;border-top:0;margin:0 auto;background-color:#f6f3eb;padding:40px;border-radius:30px;')
                //- [Start] Header
                block header
                //- [End] Header
                //- [Start] Body
                tr
                    td
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' bgcolor='#ffffff;' style='width:100%;padding:35px 30px 30px;border-radius:20px;background-color:#ffffff;')
                            block content
                                
                //- [End] Body
                //- [Start] Footer
                block footer
                //- [End] Footer
            // [End] Email Form : Use markup in this block only

            // Below script is only use for test
            script(src="_template/mailform.js")
