@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.MB000H';

#{$component} {
  .my-component {
    @include container($design-grid-full, true);
    @include inset-padding-hz;

    $mycomponent: '.my-component';
    position: relative;
    overflow: hidden;
    &.no-crop {
      overflow: initial;
    }
    &.margin-top {
      padding-top: rem($padding20px);
      @include screen(web) {
        padding-top: rem($padding50px);
      }
    }
    &.margin-bottom {
      padding-bottom: rem($padding20px);
      @include screen(web) {
        padding-bottom: rem($padding50px);
      }
    }
    &.bg-lightgray {
      @include container($maximum, true);
      background: $ivory6;
    }
    & + .bg-lightgray {
      margin-top: rem($margin40px);
    }
    & > .c-text-contents > .c-text-contents__bodycopy {
      margin-top: rem($margin10px);
    }
    &:first-child {
      padding-top: rem($padding24px);
      padding-bottom: rem($padding20px);
      @include screen(web) {
        padding-bottom: rem($padding24px);
      }
    }
    &__wrap {
      border-bottom: rem($border1) solid $mid-gray1;
    }
  }
  .my-link-content {
    background-color: inherit;
    padding: rem($padding20px) 0 rem($padding44px);
    @include screen(web) {
      padding: rem($padding48px) 0 rem($padding64px);
    }
    &__desc {
      margin-top: rem($margin8px);
    }
    .button {
      display: flex;
      justify-content: left #{'/*!rtl:right*/'}; /* 230515 RTL */
      margin-top: rem($margin24px);
      gap: rem(8px);
      @include screen(web) {
        gap: rem(16px);
      }
      &.margin--pc40-mo30 {
        margin-top: rem($margin30px);
        @include screen(web) {
          margin-top: rem($margin40px);
        }
      }
      &.margin--pc40-mo20 {
        margin-top: rem($margin20px);
        @include screen(web) {
          margin-top: rem($margin40px);
        }
      }
      .c-button {
        @include screen(mobile) {
          flex: 1;
        }
      }
    }
  }
}
