@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.AL0016';
#{$component} {
  > .component {
    // background-color: $ivory6;
  }
  > .component > .cmp-container {
    position: relative;
  }
  .c-region-header {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
    padding-top: rem(26px);
    padding-bottom: rem(14px);
    @include screen(web) {
      padding-top: rem(50px);
      padding-bottom: rem(20px);
    }
  }
  .c-region-header + .carousel {
    padding-bottom: rem($padding24px);
    @include screen(web) {
      padding-bottom: rem(64px);
    }
  }
  // block : list
  .c-carousel {
    position: static;
    padding: 0 rem($padding16px);
    @include screen(web) {
      padding: 0 calc((100% - 990px) / 2);
    }
    .swiper-slide-active {
      .c-list__item__inner {
        &::after {
          display: none;
        }
      }
    }
    &__handler {
      @include container($design-grid-full, true);
      @include inset-padding-hz;
      justify-content: flex-end;
      top: rem(26px) !important;
      left: 50%;
      right: initial !important;
      width: 100%;
      transform: translateX(-50%);
      box-sizing: border-box;
      @include screen(web) {
        top: rem(50px) !important;
      }
    }
    .cmp-carousel__pagenation {
      margin-top: rem($margin12px);
      @include screen(web) {
        margin-top: rem($margin20px);
      }
      .c-pagination__action {
        background-color: $white;
        border-radius: rem($radius4);
      }
    }
  }
  .c-list {
    @include reset-list-style;
    display: flex;
    @include flex-context($direction: row);
    &__item {
      height: auto;
      &__inner {
        height: 100%;
        position: relative;
        @include lgness-radius('default');
        overflow: hidden;
      }
      .c-button--box-icon {
        span {
          position: relative;
          padding-right: rem($padding15px);
          &::before {
            content: '';
            display: inline-block;
            position: absolute;
            right: 0;
            width: rem(10px);
            height: rem(10px);
            background: url($icon-blank-black-16-16) center / contain no-repeat;
          }
        }
      }
    }
    &-item__img {
      width: 100%;
      display: block;
      img {
        width: 100%;
        min-height: rem(400px);
      }
    }
    &-item__contents {
      position: absolute;
      left: 0;
      // bottom: 0;
      padding: rem($padding12px) rem($padding20px);
      width: 100%;
      min-height: rem(148px);
      // background: rgba(26, 26, 26, 0.5);
      // text-align: left;
      // 2023-04-07 : ADD-design revert*/
      top: 0;
      text-align: center;
      @include screen(web) {
        padding: rem($padding24px) rem(48px) rem(48px);
        min-height: rem(117px);
      }
      strong {
        display: block;
        color: $white;
        line-height: rem(28px);
        @include screen(web) {
          line-height: rem(42px);
        }
      }
      p {
        margin-top: rem($margin8px);
        color: $white;
        line-height: rem(16px);
        @include ellipsis(2);
        @include screen(web) {
          max-width: 740px;
          width: 83%;
          line-height: rem(28px);
        }
      }
      .c-button {
        // position: absolute;
        // opacity: 0.5;
        // bottom: rem(20px);
        // left: rem(20px);
        // @include screen(mobile) {
        //     width: rem(36px);
        //     height: rem(36px);
        // }
        // @include screen(web) {
        //     bottom: rem(48px);
        //     left: initial;
        //     right: rem(48px);
        // }
        // &.c-button--circle.black.arrow.w-large:after {
        //     background-image: url($icon-arrow-dark-gray2-right-32-32);
        //     @include screen(mobile) {
        //         background-size: rem(18px) rem(18px);
        //     }
        // }
        // 2023-04-07 : ADD-design revert*/
        margin-top: $margin24px;
        @include screen(mobile) {
          margin-top: $margin24px;
        }
      }
    }
  }
}
