@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.ML000K';
#{$component} {
  .font-w-normal-10 {
    @include screen(web) {
      font-size: rem(10px);
      line-height: rem(10px);
      font-weight: $font-regular;
    }
  }
  .font-m-normal-10 {
    @include screen(mobile) {
      font-size: rem(10px);
      line-height: rem(10px);
      font-weight: $font-regular;
    }
  }
  .my-component {
    $mycomponent: '.my-component';
    position: relative;
    @include inset-padding-hz;
    @include container($design-grid-full, true);
    &.no-crop {
      overflow: initial;
    }
    &.margin-top {
      padding-top: rem($padding20px);
      @include screen(web) {
        padding-top: rem($padding50px);
      }
    }
    & > .c-text-contents > .c-text-contents__bodycopy {
      margin-top: rem($margin10px);
    }
  }
  .align-text-center {
    text-align: left;
    @include screen(web) {
      text-align: center;
    }
  }
  .my-premium-care {
    display: flex;
    flex-flow: column;
    gap: rem(20px);
    justify-content: flex-start;
    @include screen(web) {
      flex-flow: row;
      gap: rem(24px);
      padding: rem($padding24px);
      @include lgness-radius('default');
      background-color: $white;
    }
    &__box {
      margin-bottom: rem($margin24px);
      @include screen(web) {
        margin-bottom: rem($margin48px);
      }
    }
    &__img {
      padding: rem($padding12px);
      background-color: $white;
      @include lgness-radius('default');
      @include screen(web) {
        margin: 0;
        width: 25%;
        max-width: rem(302px);
        padding: 0;
        border-radius: 0;
        background-color: transparent;
      }
      img {
        margin: 0 auto;
        max-width: rem(200px);
        width: 100%;
      }
    }
    &__text {
      display: flex;
      max-width: 100%;
      flex-direction: column;
      @include screen(web) {
        max-width: rem(1034px);
        width: 74%;
      }
    }
    .c-text-contents__text-box__model {
      padding: rem($padding2px) rem($padding5px);
      color: $white;
      background: $gray3;
      border-radius: rem($radius4);
      display: inline-block;
      @include screen(web) {
        margin-bottom: rem($margin6px);
      }
      span {
        display: flex;
        align-items: center;
        &:before {
          display: inline-block;
          content: '';
          margin-right: rem($margin2px);
          width: rem(10px);
          height: rem(10px);
          background: url($icon-mylg-thinq-connected-white-10-10) center / contain no-repeat;
          vertical-align: middle;
        }
      }
    }
    &__title {
      font-size: rem(20px);
      line-height: rem(24px);
      @include screen(web) {
        font-size: rem(32px);
        line-height: rem(36px);
        padding-top: rem($padding32px);
      }
    }
    &__plan {
      margin-top: rem($margin16px);
      padding-top: rem($padding20px);
      padding-bottom: rem($padding20px);
      border-top: rem($border1) solid $mid-gray1;
      @include screen(web) {
        margin-top: rem($margin14px);
        padding: rem($padding24px) 0 rem($padding20px) rem($padding16px);
      }
      &__title {
        padding: 0 rem($padding9px);
        color: $black;
        @include screen(web) {
          padding: 0;
        }
      }
      .my-plan {
        margin-top: rem($margin12px);
        @include screen(web) {
          margin-top: rem($margin10px);
        }
        &__title {
          line-height: rem(18px);
          @include screen(web) {
            line-height: rem(20px);
          }
        }
        &__image {
          min-width: rem($width64px);
          min-height: rem($height64px);
          max-width: rem($width64px);
          max-height: rem($height64px);
          @include screen(web) {
            min-width: rem(54px);
            min-height: rem(54px);
            max-width: rem($width80px);
            max-height: rem($height80px);
          }
        }
        &__info {
          display: flex;
          align-items: center;
        }
        &__protect {
          color: $mid-gray2;
          font-size: rem(12px);
          line-height: rem(14px);
          br {
            display: none;
          }
          @include screen(web) {
            font-size: rem(14px);
            line-height: rem(20px);
            margin-top: rem($margin2px);
            br {
              display: block;
            }
          }
        }
        &__price {
          margin-top: rem($margin2px);
          font-weight: $font-semibold;
          font-size: rem(16px);
          line-height: rem(18px);
          @include screen(web) {
            margin-top: rem($margin6px);
            font-size: rem(16px);
            line-height: rem(20px);
          }
        }
        .c-sibling-option {
          position: relative;
          border-radius: rem(12px);
          flex: 1;
          & + .c-sibling-option {
            margin-top: rem($margin8px);
            @include screen(web) {
              margin-top: 0;
            }
          }
          &-box__options {
            @include screen(web) {
              display: flex;
              gap: rem(10px);
            }
          }
          input:focus-visible ~ .c-sibling-option__detail label {
            outline: rem($border1) solid currentcolor;
          }
          input:checked ~ .c-sibling-option__detail {
            border: rem($border2) solid $active-red;
            padding: rem($padding18px) rem($padding14px);
            @include screen(web) {
              padding: rem($padding14px);
            }
          }
          &__detail {
            border-radius: rem(12px);
            background-color: $white;
            padding: rem($padding20px) rem($padding16px);
            height: 100%;
            @include screen(web) {
              padding: rem($padding14px);
              border: rem($border1) solid $mid-gray1;
            }
          }
          &__primary-detail {
            display: flex;
            gap: rem(14px);
            @include screen(web) {
              flex-wrap: wrap;
            }
          }
          label {
            cursor: pointer;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
          }
        }
      }
    }
    &__file {
      .my-formFile {
        margin-top: rem($margin8px);
        @include screen(web) {
          margin-top: rem($margin10px);
        }
        &__title {
          display: block;
          margin-bottom: rem($margin8px);
          @include screen(web) {
            margin-bottom: rem($margin16px);
          }
        }
        label:not(.c-not-required) {
          color: $gray3;
          margin-bottom: rem($margin8px);
        }
        &__upload {
          @include screen(web) {
            display: flex;
            gap: rem(10px);
          }
        }
        &__inner {
          display: inline-block;
          @include screen(web) {
            padding-top: rem(1px);
          }
          @include screen(mobile) {
            width: 100%;
            label {
              width: 100%;
            }
          }
          input:focus-visible ~ label {
            outline: rem($border1) solid currentcolor;
          }
        }
        .btn-upload {
          height: rem(40px);
          background: $white;
          border: rem($border1) solid $mid-gray2;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: $font-semibold;
          flex: 0.2;
          transition:
            background 0.3s,
            color 0.2s,
            border-color 0.3s;
          @include lgness-radius('default');
          @include screen(web) {
            min-width: rem(89px);
            height: rem(44px);
          }
          &:hover {
            background-color: $active-red;
            border-color: $active-red;
            color: $white;
          }
        }
        &__preview {
          position: relative;
          display: inline-block;
          flex: 1;
          @include screen(mobile) {
            width: 100%;
            margin-top: rem($margin10px);
          }
          p {
            position: relative;
            display: flex;
            align-items: center;
            padding: rem($padding10px) rem($padding38px);
            height: rem(46px);
            border-radius: rem(12px);
            font-size: rem(14px);
            line-height: rem(16px);
            background-color: $white;
            @include screen(web) {
              border: rem($border1) solid $mid-gray1;
              padding: rem($padding13px) rem($padding12px);
              padding-left: rem($padding36px);
              font-size: rem(16px);
              line-height: rem(20px);
            }
            &::before {
              content: '';
              display: inline-block;
              background: url($icon-fileclip) center / contain no-repeat;
              position: absolute;
              top: 50%;
              left: rem(14px);
              transform: translate(0, -50%);
              width: rem(16px);
              height: rem(16px);
            }
          }
          &__btn-delete {
            display: inline-block;
            background: url($icon-close-black-16-16) center/rem(10px) rem(10px) no-repeat;
            position: absolute;
            top: calc(50% - 0.5rem);
            right: rem(16px);
            width: rem(16px);
            height: rem(16px);
            border: none;
            cursor: pointer;
            @include screen(mobile) {
              right: rem(19px);
            }
          }
        }
        &__remove {
          cursor: pointer;
          border: none;
          text-indent: -9999px;
          position: absolute;
          top: 50%;
          right: rem(19px);
          transform: translate(0, -50%);
          background: rgb(0 0 0 / 0%) url($icon-close-black-12-12) center / contain no-repeat;
          background-size: rem(10px);
          line-height: rem(10px);
        }
        &__msg {
          margin-top: rem($margin8px);
          color: $mid-gray3;
          font-size: rem(14px);
          line-height: rem(16px);
          @include screen(web) {
            font-size: rem(16px);
            line-height: rem(20px);
          }
        }
      }
    }
    &_button {
      margin-top: rem($margin24px);
      justify-content: center;
      @include screen(web) {
        margin-top: rem($margin32px);
      }
      .cmp-button {
        flex: 1;
        @include screen(web) {
          flex: initial;
        }
      }
      .c-button[class*='-box-outlined'].large,
      .c-button[class*='-box'].large {
        padding-left: 0;
        padding-right: 0;
        height: rem(40px);
        span {
          font-size: rem(14px);
        }
        @include screen(web) {
          padding-left: rem($padding32px);
          padding-right: rem($padding32px);
          height: rem(50px);
          span {
            font-size: rem(16px);
          }
        }
      }
    }
  }
}
