@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.ST0032';
#{$component} {
  @include lgness-margin('if-headline');
  > .component > .cmp-container {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
  }

  // block
  .c-region-header {
    &__container {
      > * {
        max-width: rem($text-box-width-md);
      }
    }
  }
  .c-table {
    text-align: center;
    margin-top: rem($margin20px);
    @include screen(web) {
      margin-top: rem($margin40px);
    }

    // helper
    .cell-size {
      width: 16.6%;
    }

    // element
    table {
      border-color: $mid-gray1;
    }
    th,
    td {
      min-width: rem($width70px);
      border-style: solid;
      border-bottom-width: rem($border1);
      padding: rem($padding14px);
      @include screen(web) {
        padding: rem($padding14px $padding24px);
      }
      // font
      @include screen(web) {
        font-size: rem(24px);
        line-height: rem(28px);
      }
    }

    tbody {
      td:nth-child(2) {
        text-align: left;
      }
    }

    &__title {
      display: inline-flex;
      text-align: left;
      align-items: center;
      flex-flow: row wrap;
      gap: rem($margin12px);
      span {
        color: $gray3;
        word-break: break-all;
      }
      &--icon {
        max-width: rem($width20px);
        max-height: rem($height20px);
      }
    }
    &__size {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: rem($margin8px);
      @include screen(web) {
        flex-direction: row;
        align-items: center;
        gap: rem($margin12px);
      }
    }
  }

  .c-link-box {
    display: flex;
    flex-direction: column;
    gap: rem($margin12px);
    background: $light-gray3;
    padding: rem($padding20px);
    @include lgness-radius('default');
    @include screen(web) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      column-gap: rem($gutter-w);
      padding: rem($padding48px);
    }
    .c-text-contents {
      max-width: rem($text-box-width-sm);
      &__bodycopy {
        color: $black;
      }
    }
  }

  // layout : margin
  .c-region-header + * {
    @include lgness-component-title-margin;
  }
  .c-table + .c-link-box {
    margin-top: rem($margin16px);
    @include screen(web) {
      margin-top: rem($margin24px);
    }
  }
}
