include ../_common/_cart-price-total.pug
include ./CT0302-inc.pug

mixin CT0302(option=false, country=false)
    .CT0302
        if(option === "member")
            case country
                when 'hk'
                    .buy-checkout__item.buy-checkout__item--delivery
                        // de
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"Flat 25, Acacia Building, 150 Kennedy Road, WAN CHAI, HONG KONG",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"Flat 25, Acacia Building, 150 Kennedy Road, WAN CHAI, HONG KONG",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        .buy-checkout__item--delivery-mix
                            details.buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ速 (64.5'' Diag)",
                                                qty: false,
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Delivery',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery84',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Basic Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery86',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                        {
                                            type: 'Basic Installation & Door Change',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery87',
                                            price:'30.00',
                                            unitPos: 'left',
                                            unitName: 'HK$',
                                        },
                                        {
                                            type: 'Basic Installation & Built Under',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery88',
                                            price:'30.00',
                                            unitPos: 'left',
                                            unitName: 'HK$',
                                        },
                                    ])
                                    +deliveryAccodionRadio('Haulaway', false, [
                                        {
                                            type: 'Collection',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery86-Haulaway',
                                            price:'30.00',
                                            unitPos: 'left',
                                            unitName: 'HK$',
                                        },
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Delivery within 3-5 days',
                                        desc:'Disclaimer for delivery time',
                                    })

                            details(open).buy-delivery-box__accordion-mix.buy-delivery-box__accordion-mix--error
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ速 (64.5'' Diag)",
                                                qty: false,
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Pick-up',
                                            inputType: 'text',
                                            detailText: 'Flat 25, Acacia Building, 150 Kennedy Road, WAN CHAI',
                                            tooltipMsg: '11111111111',
                                            id: 'Pick-up1',
                                            price:'Free',
                                            useUnitPos: false,
                                        }
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Delivery within 3-5 days',
                                        desc:'Disclaimer for delivery time',
                                    })
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")

                when 'selectDateType-accordion-wrap-global'
                    // type accordion-wrap : global shipping module
                    .buy-checkout__item.buy-checkout__item--delivery
                        .buy-checkout__item--delivery-mix
                            details.buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "1111LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ速 (64.5'' Diag)",
                                                qty: false,
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Delivery',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery84',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Basic Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery86',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                        {
                                            type: 'Basic Installation & Door Change',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery87',
                                            price:'30.00',
                                            unitPos: 'left',
                                            unitName: 'HK$',
                                        },
                                        {
                                            type: 'Basic Installation & Built Under',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery88',
                                            price:'30.00',
                                            unitPos: 'left',
                                            unitName: 'HK$',
                                        },
                                    ])
                                    +deliveryAccodionRadio('Haulaway', false, [
                                        {
                                            type: 'Collection',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery86-Haulaway',
                                            price:'30.00',
                                            unitPos: 'left',
                                            unitName: 'HK$',
                                        },
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Delivery within 3-5 days',
                                        desc:'Disclaimer for delivery time',
                                    })

                            details(open).buy-delivery-box__accordion-mix.buy-delivery-box__accordion-mix--error
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ速 (64.5'' Diag)",
                                                qty: false,
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Pick-up',
                                            inputType: 'text',
                                            detailText: 'Flat 25, Acacia Building, 150 Kennedy Road, WAN CHAI',
                                            tooltipMsg: '11111111111',
                                            id: 'Pick-up2',
                                            price:'Free',
                                            useUnitPos: false,
                                        }
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Delivery within 3-5 days',
                                        desc:'Disclaimer for delivery time',
                                    })
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")

                default 
                    .buy-checkout__item.buy-checkout__item--delivery

            +CT0302("complete",'hide')

        if(option === "guest")
            .buy-checkout__item.buy-checkout__item--delivery
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "active"
                })
                .c-checkout-step02.c-checkout-step02-form.cmp-tabs-hk
                    .cmp-tabs(data-cmp-data-layer="", data-placeholder-text="false")
                        .cmp-tabs__inner
                            ul.cmp-tabs__tablist(role="tablist", aria-multiselectable="false")
                                +printTab(1, 1, true) Home Delivery
                                +printTab(1, 2, false) Pickup
                        +printTabPanel(1, 1, true)
                            // [Start] 2023-06-02 : UPDATE- change messages
                            p.c-checkout-step01-prevention We deliver to Hong Kong and Macau Please refer to our Terms and Conditions on the delivery coverage.
                            // [End] 2023-06-02 : UPDATE- change messages
                            p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Shipping
                            // [Start] 2023-06-12 : ADD - number-text
                            +myInputForm([
                                {
                                    type:"text",
                                    label:"First Name",
                                    id:"firstName",
                                    required:false,
                                    placeholder:"First Name",
                                },
                                {
                                    type:"text",
                                    label:"Last Name",
                                    id:"lastName",
                                    required:false,
                                    placeholder:"Last Name",
                                },
                                {
                                    type:"tel",
                                    label:"Mobile Number",
                                    id:"mobileNumber",
                                    tooltipMsg:false,
                                    required:false,
                                    placeholder:"12345678910",
                                    infoTextSecond : ['Please include 853 in the phone number if you are a Macau customer.'],
                                },
                                {
                                    type:"select",
                                    label:"Region",
                                    id:"Region",
                                    required:false,
                                    placeholder:"",
                                    readonly: false,
                                    optionVal: [''],
                                },
                                {
                                    type:"select",
                                    label:"District",
                                    id:"District",
                                    required:false,
                                    placeholder:"",
                                    readonly: false,
                                    optionVal: ['']
                                },
                                {
                                    type:"text",
                                    label:"Flat / Floor/ Building",
                                    id:"flat",
                                    required:true,
                                    placeholder:"",
                                    warning: ["Flat / Floor/ Building is required."]
                                },
                                {
                                    type:"text",
                                    label:"Estate / Street",
                                    id:"estate",
                                    required:true,
                                    placeholder:"",
                                    warning: ["Estate / Street is required."]
                                },
                            ])
                        +printTabPanel(1, 2, false)
                            // [Start] 2023-06-02 : UPDATE- change messages
                            p.c-checkout-step01-prevention We deliver to Hong Kong and Macau Please refer to our Terms and Conditions on the delivery coverage.
                            // [End] 2023-06-02 : UPDATE- change messages
                            p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Shipping
                            +myInputForm([
                                {
                                    type:"text",
                                    label:"First Name",
                                    id:"firstName",
                                    required:false,
                                    placeholder:"First Name",
                                },
                                {
                                    type:"text",
                                    label:"Last Name",
                                    id:"lastName",
                                    required:false,
                                    placeholder:"Last Name",
                                },
                                {
                                    type:"tel",
                                    label:"Mobile Number",
                                    id:"mobileNumber",
                                    tooltipMsg:false,
                                    required:false,
                                    placeholder:"12345678910",
                                    infoTextSecond : ['Please include 853 in the phone number if you are a Macau customer.'],
                                },
                                {
                                    type:"select",
                                    label:"Region",
                                    id:"Region",
                                    required:false,
                                    placeholder:"",
                                    readonly: false,
                                    optionVal: [''],
                                },
                                {
                                    type:"select",
                                    label:"District",
                                    id:"District",
                                    required:false,
                                    placeholder:"",
                                    readonly: false,
                                    optionVal: ['']
                                },
                                {
                                    type:"select",
                                    label:"Pick up Store",
                                    id:"pickUpStore",
                                    required:false,
                                    placeholder:"",
                                    readonly: false,
                                    optionVal: ['Flat 25, Acacia Building, 150 Kennedy Road, WAN CHAI', 'Flat 25, Acacia Building, 150 Kennedy Road, WAN CHAI']
                                },
                            ])
                            p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Billing
                            +myInputForm([
                                {
                                    type:"text",
                                    label:"First Name",
                                    id:"firstName",
                                    required:false,
                                    placeholder:"First Name",
                                },
                                {
                                    type:"text",
                                    label:"Last Name",
                                    id:"lastName",
                                    required:false,
                                    placeholder:"Last Name",
                                },
                                {
                                    type:"tel",
                                    label:"Mobile Number",
                                    id:"mobileNumber",
                                    tooltipMsg:false,
                                    required:false,
                                    placeholder:"12345678910",
                                    infoTextSecond : ['Please include 853 in the phone number if you are a Macau customer.'],
                                },
                                {
                                    type:"text",
                                    label:"Region",
                                    id:"Region",
                                    required:false,
                                    placeholder:"",
                                },
                                {
                                    type:"text",
                                    label:"District",
                                    id:"District",
                                    required:false,
                                    placeholder:"",
                                },
                                {
                                    type:"text",
                                    label:"Flat / Floor/ Building",
                                    id:"flat",
                                    required:true,
                                    placeholder:"",
                                    warning: ["Flat / Floor/ Building is required."]
                                },
                                {
                                    type:"text",
                                    label:"Estate / Street",
                                    id:"estate",
                                    required:true,
                                    placeholder:"",
                                    warning: ["Estate / Street is required."]
                                },
                            ])

                .button.buy-order-info-coupon__button
                    +defaultButton({name: "Save Address", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="save")

                // form bottom content area
        
        if(option === "before")
            .buy-checkout__item.before
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checkoutStep"
                })

        if(option === "complete")
            .buy-checkout__item.buy-checkout__item--delivery.buy-checkout__item--complete(style=`${country=='hide'?'display:none':''}`)
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checked",
                })
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Shipping"],
                                title:"Robert Surrency",
                                address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-orderd.c-checkout-orderd--confirm
                    .c-checkout-orderd__item.c-checkout-orderd__item--delivery
                        +checkoutOrderDeliveryProduct("Delivery", "The delivery time is different for each shipping company.", [
                            {
                                title: "LG OLED evo Gallery Edition G2 55'' 4K Smart TV",
                                qty: "1",
                                price: "20,980.00",
                                unitPos: "left",
                                unitName: " HK$"
                            },
                        ])