include ../_common/_cart-price-total.pug
include ./CT0302-inc.pug

mixin CT0302(option=false, country=false)
    .CT0302
        if(option === "member")
            case country
                when 'nl'
                    .buy-checkout__item.buy-checkout__item--delivery
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag:["Shipping"],
                                        title:"Robert Surrency",
                                        address:"Informatica Nederland B.V. Postbus 116 3430 AC Nieuwegein The Netherlands",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Billing"],
                                        title:"Robert Surrency",
                                        address:"Informatica Nederland B.V. Postbus 116 3430 AC Nieuwegein The Netherlands",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        .buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix.buy-delivery-box__accordion-mix--error
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: '1',
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Delivery Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery01',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: '€',
                                        },
                                        {
                                            type: 'Delivery Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery02',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: '€',
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Installation Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery03',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: '€',
                                        },
                                        {
                                            type: 'Installation Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery04',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: '€',
                                        },
                                    ])
                                    +deliveryAccodionRadio('Haulaway', false, [
                                        {
                                            type: 'Haulaway Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery05',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: '€',
                                        },
                                        {
                                            type: 'Haulaway Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery06',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: '€',
                                        },
                                    ])
                                    +deliveryBoxNoneAcc(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, [
                                        {
                                            selectDateAreaTitle : 'Delivery Time',
                                            selectDateCancel : false,
                                            type: 'Thu, Oct 18',
                                            id: 'delivery07',
                                            price:'',
                                            validList: [
                                                {
                                                    text: 'De daadwerkelijke leverdatum kan afwijken van de opgegeven gewenste leverdatum.',
                                                    tooltipBtn: false,
                                                },
                                                {
                                                    text: 'De verzender stuurt een e-mail met details over de verzending/levering.',
                                                    tooltipBtn: false,
                                                }
                                            ]
                                        },
                                    ])
                            +toastPopup([
                                {
                                    type: "error",
                                    text: 'The items(s) are not available for shipping in your area. Please change delivery options',
                                    remove: true,
                                },
                            ])
                        .buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: '1',
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Delivery Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery08',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: '€',
                                        },
                                        {
                                            type: 'Delivery Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery09',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: '€',
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Installation Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery10',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: '€',
                                        },
                                        {
                                            type: 'Installation Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery11',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: '€',
                                        },
                                    ])
                                    +deliveryAccodionRadio('Haulaway', false, [
                                        {
                                            type: 'Haulaway Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery12',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: '€',
                                        },
                                        {
                                            type: 'Haulaway Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery13',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: '€',
                                        },
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Levertijd 2 ~ 4 werkdagen',
                                        descList: [
                                            {
                                                text: 'De verzender stuurt een e-mail met details over de verzending/levering.',
                                            }
                                        ],
                                        
                                    })
                            
                        .buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: '1',
                                            },
                                            {
                                                title: "LG Soundbar SP8YAV",
                                                qty: '1',
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Delivery Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery14',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: '€',
                                        },
                                        {
                                            type: 'Delivery Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery15',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: '€',
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Installation Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery16',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: '€',
                                        },
                                        {
                                            type: 'Installation Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery17',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: '€',
                                        },
                                    ])
                                    +deliveryAccodionRadio('Haulaway', false, [
                                        {
                                            type: 'Haulaway Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery18',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: '€',
                                        },
                                        {
                                            type: 'Haulaway Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery19',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: '€',
                                        },
                                    ])
                                    +deliveryBoxNoneAcc(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, [
                                        {
                                            selectDateAreaTitle : 'Delivery Time',
                                            selectDateCancel : false,
                                            type: 'Thu, Oct 18',
                                            id: 'delivery20',
                                            price:'',
                                            validList: [
                                                {
                                                    text: 'De daadwerkelijke leverdatum kan afwijken van de opgegeven gewenste leverdatum.',
                                                    tooltipBtn: false,
                                                },
                                                {
                                                    text: 'De verzender stuurt een e-mail met details over de verzending/levering.',
                                                    tooltipBtn: false,
                                                }
                                            ]
                                        },
                                    ])
                            
                        .buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "OLED65C25LB.AEU + SP9YA",
                                                qty: '1',
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Delivery Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery21',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: '€',
                                        },
                                        {
                                            type: 'Delivery Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery22',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: '€',
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Installation Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery23',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: '€',
                                        },
                                        {
                                            type: 'Installation Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery24',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: '€',
                                        },
                                    ])
                                    +deliveryAccodionRadio('Haulaway', false, [
                                        {
                                            type: 'Haulaway Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery25',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: '€',
                                        },
                                        {
                                            type: 'Haulaway Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery26',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: '€',
                                        },
                                    ])
                                    +deliveryBoxNoneAcc(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, [
                                        {
                                            selectDateAreaTitle : 'Delivery Time',
                                            selectDateCancel : false,
                                            type: 'Thu, Oct 18',
                                            id: 'delivery27',
                                            price:'',
                                            validList: [
                                                {
                                                    text: 'De daadwerkelijke leverdatum kan afwijken van de opgegeven gewenste leverdatum.',
                                                    tooltipBtn: false,
                                                },
                                                {
                                                    text: 'De verzender stuurt een e-mail met details over de verzending/levering.',
                                                    tooltipBtn: false,
                                                }
                                            ]
                                        },
                                    ])

                        .buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG Soundbar SP8YAV",
                                                qty: '1',
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Delivery Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery28',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: '€',
                                        },
                                        {
                                            type: 'Delivery Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery29',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: '€',
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Installation Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery30',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: '€',
                                        },
                                        {
                                            type: 'Installation Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery31',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: '€',
                                        },
                                    ])
                                    +deliveryAccodionRadio('Haulaway', false, [
                                        {
                                            type: 'Haulaway Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery32',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: '€',
                                        },
                                        {
                                            type: 'Haulaway Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery33',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: '€',
                                        },
                                    ])
                                    +deliveryBoxNoneAcc(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, [
                                        {
                                            selectDateAreaTitle : 'Delivery Time',
                                            selectDateCancel : false,
                                            type: 'Thu, Oct 18',
                                            id: 'delivery34',
                                            price:'',
                                            validList: [
                                                {
                                                    text: 'De daadwerkelijke leverdatum kan afwijken van de opgegeven gewenste leverdatum.',
                                                    tooltipBtn: false,
                                                },
                                                {
                                                    text: 'De verzender stuurt een e-mail met details over de verzending/levering.',
                                                    tooltipBtn: false,
                                                }
                                            ]
                                        },
                                    ])

                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")
                
                default 
                    .buy-checkout__item.buy-checkout__item--delivery
                        
            +CT0302("complete",'hide')

        if(option === "guest")
            .buy-checkout__item.buy-checkout__item--delivery
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "active"
                })
                .c-checkout-step02.c-checkout-step02-form
                    // [Start] 2023-06-02 : UPDATE- change messages
                    p.c-checkout-step01-prevention We bezorgen alleen in Nederland
                    // [End] 2023-06-02 : UPDATE- change messages
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Shipping
                    // [Start] 2023-06-12 : ADD - number-text
                    +myInputForm([
                        {
                            type:"text",
                            label:"Voornaam",
                            id:"firstName",
                            required:false,
                            placeholder:"Robert",
                        },
                        {
                            type:"text",
                            label:"Achternaam",
                            id:"lastName",
                            required:false,
                            placeholder:"Surrency",
                        },
                        {
                            type:"tel",
                            label:"Telefoonnummer",
                            id:"tel-2",
                            tooltipMsg:"Telefoonnummer",
                            required:false,
                            telNumber:"+31",
                        },
                        {
                            type:"text",
                            label:"Postcode",
                            id:"postcode",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"searchAddress",
                            label:"Adres",
                            id:"streetAddress-fr",
                            tooltipMsg:"1111",
                            required:true,
                            placeholder:"Zoek met postcode of straat",
                            clearCountry:true,
                            list: false,
                            warning:["Dit is een verplicht veld."],
                            countryImg:"icon-checkout-nederland-30-20.svg",
                            countryName:"Nederland",
                        },
                        {
                            type:"searchAddress",
                            label:"Adres",
                            id:"streetAddress-list-nl",
                            required:true,
                            placeholder:"Zoek met postcode of straat",
                            list: false,
                            warning:['Dit is een verplicht veld.'],
                            countryImg:"icon-checkout-nederland-30-20.svg",
                            countryName:"Nederland",
                            tooltipMsg:"Voer uw postcode in om de functie Automatisch Aanvullen te gebruiken",
                        },
                        {
                            type:"searchAddress",
                            label:"Adres",
                            id:"streetAddress-fr-list2",
                            required:false,
                            placeholder:"start with post/ Zip code or street",
                            value:'01030',
                            list: [
                                '01001 1 Avenue Paul Ramadier (21 more)',
                                '01002 1 Chemin de Grimal (21 more)',
                                '01003 1 Avenue Paul Ramadier (21 more)',
                                '01003 1 Avenue Paul Ramadier (21 more)',
                                '01003 1 Avenue Paul Ramadier (21 more)',
                            ],
                            countryImg:"icon-checkout-nederland-30-20.svg",
                            countryName:"Nederland",
                        },
                        {
                            type:"text",
                            label:"Plaatsnaam",
                            id:"placeName",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"text",
                            label:"Staat/Provincie",
                            id:"city",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"text",
                            label:"Bedrijf",
                            id:"companyDisabled",
                            required: false,
                            placeholder:"",
                            readonly: false,
                        },
                        {
                            type:"select",
                            label:"Land",
                            id:"country",
                            value:"Nederland",
                            optionVal: ['Nederland', 'Nederland', 'Nederland'],
                            placeholder:"Nederland",
                            required:true,
                        },
                        {
                            type:"checkbox",
                            label:false,
                            id:"sameAddress",
                            required:false,
                            placeholder:false,
                            readonly: false,
                            text:'Same for billing address'
                        },
                    ])

                .button.buy-order-info-coupon__button
                    +defaultButton({name: "Save Address", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="save")

                // form bottom content area
        if(option === "before")
            .buy-checkout__item.before
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checkoutStep"
                })

        if(option === "complete")
            .buy-checkout__item.buy-checkout__item--delivery.buy-checkout__item--complete(style=`${country=='hide'?'display:none':''}`)
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checked",
                })
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag:["Shipping"],
                                title:"Robert Surrency",
                                address:"Informatica Nederland B.V. Postbus 116 3430 AC Nieuwegein The Netherlands",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-step02.c-checkout-step02--warn
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Billing"],
                                title:"Robert Surrency",
                                address:"Informatica Nederland B.V. Postbus 116 3430 AC Nieuwegein The Netherlands",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-orderd.c-checkout-orderd--confirm
                    .c-checkout-orderd__item.c-checkout-orderd__item--delivery
                        +checkoutOrderDeliveryProduct("Delivery & Installation", "Thu, Oct 18  All day", [
                            {
                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                qty: "1",
                                price: "2,749.90",
                                unitPos: "left",
                                unitName: "€"
                            },
                        ])
