include ../_common/_cart-price-total.pug
include ./CT0302-inc.pug

mixin CT0302(option=false, country=false)
    .CT0302
        if(option === "member")
            case country
                when 'ch_de'
                    .buy-checkout__item.buy-checkout__item--delivery
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"Hochbaumstrasse 123 A 5678 Bern SWITZERLAND",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Billing"],
                                        title:"Robert Surrency",
                                        address:"Hochbaumstrasse 123 A 5678 Bern SWITZERLAND",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        +accRadioDeliveryBox(["LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag) ..."], false, [
                            {
                                type: '1. Free curbside delivery',
                                id: 'delivery01',
                                price:'0,00',
                                unitPos: 'left',
                                unitName: 'CHF',
                            },
                            {
                                type: '2. Installation',
                                id: 'delivery02',
                                price:'0,00',
                                unitPos: 'left',
                                unitName: 'CHF',
                                warning : ['Lieferung innerhalb von 5~7 Tagen'],
                            },
                            {
                                type: '3. [2] + Disposal of old devices',
                                id: 'delivery03',
                                price:'0,00',
                                unitPos: 'left',
                                unitName: 'CHF',
                            },
                            {
                                type: '4. [2] + wall mounting',
                                tooltipMsg: 'Wandmontage : Nur OLED55G29, OLED65G29, OLED77G29 inklusive Wandhalterung, Installation au mur : Support mural seulement inclu. avec OLED55G29, OLED65G29 et OLED77G29',
                                id: 'delivery04',
                                price:'0,00',
                                unitPos: 'left',
                                unitName: 'CHF',
                            },
                            {
                                type: '5. [4] + Disposal of old devices',
                                tooltipMsg: 'Wandmontage : Nur OLED55G29, OLED65G29, OLED77G29 inklusive Wandhalterung, Installation au mur : Support mural seulement inclu. avec OLED55G29, OLED65G29 et OLED77G29',
                                id: 'delivery05',
                                price:'0,00',
                                unitPos: 'left',
                                unitName: 'CHF',
                            },
                        ])
                        // [Start] 2023.07.19 UPDATE - error case markup
                        //- .buy-delivery-box--error
                        +accRadioDeliveryBox(["LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag) ..."], "error", [
                            {
                                type: '1. Free curbside delivery',
                                id: 'delivery06',
                                price:'0,00',
                                unitPos: 'left',
                                unitName: 'CHF',
                            },
                            {
                                type: '2. Installation',
                                id: 'delivery07',
                                price:'0,00',
                                unitPos: 'left',
                                unitName: 'CHF',
                                warning : ['Lieferung innerhalb von 5~7 Tagen'],
                            },
                            {
                                type: '3. [2] + Disposal of old devices',
                                id: 'delivery08',
                                price:'0,00',
                                unitPos: 'left',
                                unitName: 'CHF',
                            },
                            {
                                type: '4. [2] + wall mounting',
                                tooltipMsg: 'Wandmontage : Nur OLED55G29, OLED65G29, OLED77G29 inklusive Wandhalterung, Installation au mur : Support mural seulement inclu. avec OLED55G29, OLED65G29 et OLED77G29',
                                id: 'delivery09',
                                price:'0,00',
                                unitPos: 'left',
                                unitName: 'CHF',
                            },
                            {
                                type: '5. [4] + Disposal of old devices',
                                tooltipMsg: 'Wandmontage : Nur OLED55G29, OLED65G29, OLED77G29 inklusive Wandhalterung, Installation au mur : Support mural seulement inclu. avec OLED55G29, OLED65G29 et OLED77G29',
                                id: 'delivery10',
                                price:'0,00',
                                unitPos: 'left',
                                unitName: 'CHF',
                            },
                        ])
                        // [End] 2023.07.19 UPDATE - error case markup
                        .buy-delivery-info--list
                            ul.buy-delivery-info__list
                                li.font-w-normal-16.font-m-normal-14 Orders containing smail-size productions, e.g. smartphones, monitors, small-size TV screens, accessories, etc. will be carried out on working days from 8.00 to 18.00 by courier. GLS.
                                li.font-w-normal-16.font-m-normal-14 Orders containing bulky and bulky products, such as large TV sets, washing machines, refrigerators, etc., will be carried out on working days from 8.00 to 20.00 by courier. DTS.
                                li.font-w-normal-16.font-m-normal-14 Versandverzögerungen können aufgrund der Umstände desLieferunternehmens auftreten
                                li.font-w-normal-16.font-m-normal-14 Lieferung und Installationsservice von LG
                            ul.buy-delivery-info__icon-list
                                li.font-w-normal-12.font-m-normal-12 TV
                                li.font-w-normal-12.font-m-normal-12 AV
                                li.font-w-normal-12.font-m-normal-12 WM
                                li.font-w-normal-12.font-m-normal-12 RF
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        +accRadioDeliveryBox(["LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag) ...", "LG Soundbar SP8YAV"], false, [
                            {
                                type: '1. Free curbside delivery',
                                id: 'delivery11',
                                price:'0,00',
                                unitPos: 'left',
                                unitName: 'CHF',
                            },
                            {
                                type: '2. Installation',
                                id: 'delivery12',
                                price:'0,00',
                                unitPos: 'left',
                                unitName: 'CHF',
                                warning : ['Lieferung innerhalb von 5~7 Tagen'],
                            },
                            {
                                type: '3. [2] + Disposal of old devices',
                                id: 'delivery13',
                                price:'0,00',
                                unitPos: 'left',
                                unitName: 'CHF',
                            },
                            {
                                type: '4. [2] + wall mounting',
                                tooltipMsg: 'Wandmontage : Nur OLED55G29, OLED65G29, OLED77G29 inklusive Wandhalterung, Installation au mur : Support mural seulement inclu. avec OLED55G29, OLED65G29 et OLED77G29',
                                id: 'delivery14',
                                price:'0,00',
                                unitPos: 'left',
                                unitName: 'CHF',
                            },
                            {
                                type: '5. [4] + Disposal of old devices',
                                tooltipMsg: 'Wandmontage : Nur OLED55G29, OLED65G29, OLED77G29 inklusive Wandhalterung, Installation au mur : Support mural seulement inclu. avec OLED55G29, OLED65G29 et OLED77G29',
                                id: 'delivery15',
                                price:'0,00',
                                unitPos: 'left',
                                unitName: 'CHF',
                            },
                        ])
                        
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")

                default 
                    .buy-checkout__item.buy-checkout__item--delivery
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +formCheckbox('Receive order status notification from LG.com via SMS', "name", "val1", "checkId1", count="false", false)
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        //- [Start] 2023-04-18 : ADD - Delivery Error case
                        // [Start] 2023.07.19 UPDATE - error case markup
                        //- .buy-delivery-box--error
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], "error", false, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery60',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery62',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: '11111111111',
                                id: 'delivery63',
                                price:'£25.00',
                            },
                        ])
                        // [End] 2023.07.19 UPDATE - error case markup
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change delivery options',
                                remove: true,
                            },
                        ])
                        //- [End] 2023-04-18 : ADD - Delivery Error case
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery64',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery65',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: '11111111111',
                                id: 'delivery66',
                                price:'£25.00',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'complete', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'edit', false, false, [
                            {
                                type: 'Delivery Only',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery67',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery68',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery69',
                                price:'£25.00',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV", "LG Soundbar SP8YAV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG Soundbar SP8YA"], 'only', false, false, false, [
                            {
                                type: 'Delivery Only',
                            },
                        ])
                        +radioDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"],'complete',[
                            {
                                type: 'Home Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery70',
                                price:'£25.00',
                            }
                        ])
                        +deliveryBox(["LG Soundbar SP8YA"], 'only', false, false, [
                            {
                                type: 'Delivery Only',
                                warn: 'The delivery time is different for each shipping company.',
                            },
                        ])
                        +radioDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"],false,[
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery71',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery72',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount ',
                                tooltipMsg: '11111111111',
                                id: 'delivery73',
                                price:'£25.00',
                            }
                        ])
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")

            +CT0302("complete",'hide')

        if(option === "guest")
            .buy-checkout__item.buy-checkout__item--delivery
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "active"
                })
                .c-checkout-step02.c-checkout-step02-form
                    // [Start] 2023-06-02 : UPDATE- change messages
                    p.c-checkout-step01-prevention Delivery limited to UK mainland only on orders placed via the LG online store
                    // [End] 2023-06-02 : UPDATE- change messages
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Shipping
                    // [Start] 2023-06-12 : ADD - number-text
                    +myInputForm([
                        {
                            type:"text",
                            label:"Vorname",
                            id:"firstName",
                            required:false,
                            placeholder:"",
                            warning: ['Vorname ist erforderlich.']
                        },
                        {
                            type:"text",
                            label:"Nachname",
                            id:"lastName",
                            required:false,
                            placeholder:"Surrency",
                            warning: ['Nachname ist erforderlich.']
                        },
                        {
                            type:"tel",
                            label:"Telefonnummer",
                            id:"mobileNumber",
                            required:false,
                            placeholder:"",
                            telNumber:"+43",
                            numberText: 'Your mobile number might be used to send tracking number.',
                            warning: ['Telefonnummer ist erforderlich.', 'Bitte geben Sie eine gültige Nummer in dieses Feld ein.', 'Die Telefonnummer sollte 9 bis 15 Ziffern haben. Probe +41 123456789']
                        },
                        {
                            type:"text",
                            label:"Firma",
                            id:"business",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"text",
                            label:"Postleitzahl",
                            id:"postcode",
                            required:false,
                            placeholder:"",
                            warning: ["Postleitzahl ist erforderlich.", "Bitte geben Sie eine gültige Postleitzahl ein. Zum Beispiel 1234."],
                        },
                        {
                            type:"searchAddress",
                            label:"Straße und Hausnummer ",
                            id:"streetAddress-list-ch_de",
                            required:true,
                            placeholder:"Suchen Sie mit Postleitzahl oder Straße",
                            list: false,
                            addressClass:false,
                            clearCountry:true,
                            tooltipMsg:false,
                            doubleInputNo: 2,
                        },
                        {
                            type:"searchAddress",
                            label:"Straße und Hausnummer ",
                            id:"streetAddress-list-ch_de",
                            required:true,
                            placeholder:"Suchen Sie mit Postleitzahl oder Straße",
                            list: false,
                            countryImg:"icon-checkout-switzerland-30-20.svg",
                            countryName:"Switzerland",
                            tooltipMsg:false,
                            doubleInputNo: 2,
                        },
                        {
                            type:"searchAddress",
                            label:"Straße und Hausnummer ",
                            id:"streetAddress-list-ch_de",
                            required:true,
                            placeholder:"01030",
                            list: [
                                '01001 1 Avenue Paul Ramadier (21 more)',
                                '01002 1 Chemin de Grimal (21 more)',
                                '01003 1 Avenue Paul Ramadier (21 more)',
                                '01003 1 Avenue Paul Ramadier (21 more)',
                                '01003 1 Avenue Paul Ramadier (21 more)',
                            ],
                            countryImg:"icon-checkout-switzerland-30-20.svg",
                            countryName:"Switzerland",
                            tooltipMsg:false,
                            doubleInputNo: 2,
                        },
                        {
                            type:"text",
                            label:"Stadt",
                            id:"city",
                            tooltipMsg:false,
                            required:false,
                            warning:["Stadt ist erforderlich."]
                        },
                        {
                            type:"select",
                            label:"Land",
                            id:"land",
                            value:"",
                            optionVal: ['Switzerland', 'Switzerland', 'Switzerland'],
                            placeholder:"",
                            required:true,
                        },
                        {
                            type:"checkbox",
                            label:false,
                            id:"sameBilling",
                            required:false,
                            placeholder:false,
                            readonly: false,
                            text:'Same for billing address'
                        },
                    ])

                .button.buy-order-info-coupon__button
                    +defaultButton({name: "Save Address", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="save")

                // form bottom content area

        if(option === "before")
            .buy-checkout__item.before
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checkoutStep"
                })

        if(option === "complete")
            .buy-checkout__item.buy-checkout__item--delivery.buy-checkout__item--complete(style=`${country=='hide'?'display:none':''}`)
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checked",
                })
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Shipping"],
                                title:"Robert Surrency",
                                address:"Chemin de Crochet4 Mont-sur-Rolle SWITZERLAND",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Billing"],
                                title:"Robert Surrency",
                                address:"Chemin de Crochet4 Mont-sur-Rolle SWITZERLAND",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-orderd.c-checkout-orderd--confirm
                    .c-checkout-orderd__item.c-checkout-orderd__item--delivery
                        +checkoutOrderDeliveryProduct("Delivery & installation", "Lieferung innerhalb von 5~7 Tagen", [
                            {
                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag) ...",
                                qty: "1",
                                price: "2.749,00",
                                unitPos: "left",
                                unitName: "CHF"
                            },
                        ])