include ../_common/_cart-price-total.pug
include ./CT0302-inc.pug

mixin CT0302(option=false, country=false)
    .CT0302
        if(option === "member")
            case country
                when 'pa'
                    .buy-checkout__item.buy-checkout__item--delivery
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag:["Shipping"],
                                        title:"Robert Surrency",
                                        address:"México, Circuito Benito Juárez, Integración Latinoamericana, Coyoacán , Ciudad de México, 04310, México",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Billing"],
                                        title:"Robert Surrency",
                                        address:"México, Circuito Benito Juárez, Integración Latinoamericana, Coyoacán , Ciudad de México, 04310, México",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])

                        +accRadioDeliveryBox(["LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)"], false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: false,
                                id: 'delivery04',
                                price:'0.00',
                                unitPos: 'left',
                                unitName: '$',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: false,
                                id: 'delivery05',
                                price:'0.00',
                                unitPos: 'left',
                                unitName: '$',
                                warning : ['Llega en 5 - 14 días hábiles (Dentro de territorio nacional)'],
                            },
                        ])
                        +accRadioDeliveryBox(["LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)", "LG Soundbar SP8YAV"], false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: false,
                                id: 'delivery06',
                                price:'0.00',
                                unitPos: 'left',
                                unitName: '$',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: false,
                                id: 'delivery07',
                                price:'0.00',
                                unitPos: 'left',
                                unitName: '$',
                                warning : ['Llega en 5 - 14 días hábiles (Dentro de territorio nacional)'],
                            },
                        ])
                        +accRadioDeliveryBox(["OLED65C25LB.AEU + SP9YA"], false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: false,
                                id: 'delivery08',
                                price:'0.00',
                                unitPos: 'left',
                                unitName: '$',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: false,
                                id: 'delivery09',
                                price:'0.00',
                                unitPos: 'left',
                                unitName: '$',
                                warning : ['Llega en 5 - 14 días hábiles (Dentro de territorio nacional)'],
                            },
                        ])
                        +accRadioDeliveryBox(["LG Soundbar SP8YAV"], false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: false,
                                id: 'delivery10',
                                price:'0.00',
                                unitPos: 'left',
                                unitName: '$',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: false,
                                id: 'delivery11',
                                price:'0.00',
                                unitPos: 'left',
                                unitName: '$',
                                warning : ['Llega en 5 - 14 días hábiles (Dentro de territorio nacional)'],
                            },
                        ])
                        // [Start] 2023.07.19 UPDATE - error case markup
                        //- .buy-delivery-box--error
                        +accRadioDeliveryBox(["LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)"], "error", [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: false,
                                id: 'delivery12',
                                price:'0.00',
                                unitPos: 'left',
                                unitName: '$',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: false,
                                id: 'delivery13',
                                price:'0.00',
                                unitPos: 'left',
                                unitName: '$',
                                warning : ['Llega en 5 - 14 días hábiles (Dentro de territorio nacional)'],
                            },
                        ])
                        // [End] 2023.07.19 UPDATE - error case markup
                        .buy-delivery-info--list
                            ul.buy-delivery-info__list
                                li.font-w-normal-16.font-m-normal-14 La entrega de pedidos para cualquier producto vendido a través de la tienda LG.com . se realizará en días hábiles por el servicio de mensajería elegido por LG Electronics por el total de los productos pedidos o en parcialidades.
                                li.font-w-normal-16.font-m-normal-14 Se pueden producir retrasos en la entrega debido a circunstancias ajenas a la paqueteria.
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")
                
                default 
                    .buy-checkout__item.buy-checkout__item--delivery
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag:["Shipping"],
                                        title:"Robert Surrency",
                                        address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag:["Shipping"],
                                        title:"Robert Surrency",
                                        address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +formCheckbox('Receive order status notification from LG.com via SMS', "name", "val1", "checkId1", count="false", false)
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        //- [Start] 2023-04-18 : ADD - Delivery Error case
                        // [start] 2023.07.19 UPDATE - error case markup
                        //- .buy-delivery-box--error
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], "error", false, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery60',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery62',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: '11111111111',
                                id: 'delivery63',
                                price:'£25.00',
                            },
                        ])
                        // [End] 2023.07.19 UPDATE - error case markup
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change delivery options',
                                remove: true,
                            },
                        ])
                        //- [End] 2023-04-18 : ADD - Delivery Error case
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery64',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery65',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: '11111111111',
                                id: 'delivery66',
                                price:'£25.00',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'complete', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'edit', false, false, [
                            {
                                type: 'Delivery Only',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery67',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery68',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery69',
                                price:'£25.00',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV", "LG Soundbar SP8YAV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG Soundbar SP8YA"], 'only', false, false, false, [
                            {
                                type: 'Delivery Only',
                            },
                        ])
                        +radioDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"],'complete',[
                            {
                                type: 'Home Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery70',
                                price:'£25.00',
                            }
                        ])
                        +deliveryBox(["LG Soundbar SP8YA"], 'only', false, false, [
                            {
                                type: 'Delivery Only',
                                warn: 'The delivery time is different for each shipping company.',
                            },
                        ])
                        +radioDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"],false,[
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery71',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery72',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount ',
                                tooltipMsg: '11111111111',
                                id: 'delivery73',
                                price:'£25.00',
                            }
                        ])
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")

            +CT0302("complete",'hide')

        if(option === "guest")
            .buy-checkout__item.buy-checkout__item--delivery
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "active"
                })
                .c-checkout-step02.c-checkout-step02-form
                    // [Start] 2023-06-02 : UPDATE- change messages
                    p.c-checkout-step01-prevention Aviso: Entrega solo dentro de Mexico
                    // [End] 2023-06-02 : UPDATE- change messages
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Shipping
                    // [Start] 2023-06-12 : ADD - number-text
                    +myInputForm([
                        {
                            type:"text",
                            label:"Nombre",
                            id:"firstName",
                            required:false,
                            placeholder:"Robert",
                        },
                        {
                            type:"text",
                            label:"Primer Apellido",
                            id:"lastName",
                            required:false,
                            placeholder:"Surrency",
                        },
                        {
                            type:"text",
                            label:"Segundo Apellido",
                            id:"secondName",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"tel",
                            label:"Número celular",
                            id:"mobileNumber",
                            tooltipMsg:"Número celular",
                            required:false,
                            placeholder:"12345678910",
                            numberText: '',
                            warning: [
                                'El campo del número celular esta vacío.',
                                'Se introdujeron carácteres incorrectos en el campo del número celular (letras, símbolos, etc).',
                                'Se introdujeron más/menos numeros en el campo del número celular.',
                            ]
                        },
                        {
                            type:"tel",
                            label:"Teléfono fijo",
                            tooltipMsg:"Teléfono fijo",
                            id:"tel-3",
                            required:false,
                            warning: ['Se introdujeron carácteres incorrectos en el campo del número celular (letras, símbolos, etc).', 'El numero de teléfono solo debe de llevar 9 - 15 digitos.']
                        },
                        {
                            type:"text",
                            label:"Código postal",
                            id:"postcode",
                            required:false,
                            placeholder:"",
                            class:"js-CEP-keyup",
                            maxlength:"9",
                            warning: [
                                'Se requiere código postal.',
                                'l código postal proporcionado parece ser inválido. Ejemplo: 12345.'
                            ],
                        },
                        {
                            type:"searchAddress",
                            label:"Dirección",
                            id:"searchAddress-pa",
                            required:true,
                            value:'01030 1 Rue de Stalingrad',
                            addressClass:false,
                            clearCountry:true,
                            list: false,
                            placeholder:"",
                            warning:['Se requiere la dirección.'],
                            doubleInputNo: 2,
                            countryImg:"icon-checkout-mexico-30-20.svg",
                            countryName:"mexico"
                        },
                        {
                            type:"searchAddress",
                            label:"Dirección",
                            id:"searchAddress-pa-list",
                            required:true,
                            value:'123',
                            addressClass:false,
                            clearCountry:false,
                            list: false,
                            placeholder:"Inicia con el código postal o la calle",
                            warning: false,
                            doubleInputNo: 2,
                            countryImg:"icon-checkout-mexico-30-20.svg",
                            countryName:"mexico"
                        },
                        {
                            type:"searchAddress",
                            label:"Dirección",
                            id:"searchAddress-pa-list2",
                            required:true,
                            value:'123',
                            addressClass:false,
                            clearCountry:false,
                            list: [
                                '01001 1 Avenue Paul Ramadier (21 more)',
                                '01002 1 Chemin de Grimal (21 more)',
                                '01003 1 Avenue Paul Ramadier (21 more)',
                                '01004 1 Avenue Paul Ramadier (21 more)',
                                '01005 1 Avenue Paul Ramadier (21 more)',
                            ],
                            placeholder:"Inicia con el código postal o la calle",
                            warning: false,
                            doubleInputNo: 2,
                            countryImg:"icon-checkout-mexico-30-20.svg",
                            countryName:"mexico"
                        },
                        {
                            type:"text",
                            label:"Ciudad o Municipio",
                            id:"city",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"select",
                            label:"Estado",
                            id:"State",
                            value:"Aguascalientes",
                            optionVal: ['Aguascalientes', 'Aguascalientes', 'Aguascalientes'],
                            placeholder:"Aguascalientes",
                            required:true,
                        },
                        {
                            type:"select",
                            label:"País",
                            id:"country",
                            value:"Mexico",
                            optionVal: ['Mexico', 'Mexico', 'United Kingdom'],
                            placeholder:"Mexico",
                            required:true,
                        },
                        {
                            type:"checkbox",
                            label:false,
                            id:"sameAddress",
                            required:false,
                            placeholder:false,
                            readonly: false,
                            text:'Save in address book'
                        },
                    ])
                    
                .c-checkout-step02.c-checkout-step02-form
                    .c-checkout-step02__box
                        +formCheckbox("Requiero factura", "name", "val-pa", `checkId3-1-pa`, count="false", false)
                    +myInputForm([
                        {
                            type:"select",
                            label:"Persona",
                            id:"person-pa",
                            required:false,
                            placeholder:"",
                            value:"",
                            optionVal: ['Fisica', 'Fisica'],
                        },
                        {
                            type:"text",
                            label:"RFC",
                            id:"RFC",
                            required:true,
                            placeholder:"",
                            value:"",
                            warning:['Este es un campo obligatorio']
                        },
                        {
                            type:"select",
                            label:"CFDI",
                            id:"CFDI",
                            required:false,
                            placeholder:"",
                            value:"",
                            optionVal: ['G01 - Adquisición de mercancias', 'G01 - Adquisición de mercancias'],
                        },
                        {
                            type:"text",
                            label:"Correo Electrónico",
                            id:"Correo",
                            required:true,
                            placeholder:"",
                            warning:['Este es un campo obligatorio']
                        },
                    ])
                .button.buy-order-info-coupon__button
                    +defaultButton({name: "Save Address", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="save")

        if(option === "before")
            .buy-checkout__item.before
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checkoutStep"
                })

        if(option === "complete")
            .buy-checkout__item.buy-checkout__item--delivery.buy-checkout__item--complete(style=`${country=='hide'?'display:none':''}`)
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checked",
                })
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag:["Shipping"],
                                title:"Robert Surrency",
                                address:"México, Circuito Benito Juárez, Integración Latinoamericana, Coyoacán , Ciudad de México, 04310, México",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-step02.c-checkout-step02--warn
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Billing"],
                                title:"Robert Surrency",
                                address:"México, Circuito Benito Juárez, Integración Latinoamericana, Coyoacán , Ciudad de México, 04310, México",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-orderd.c-checkout-orderd--confirm
                    .c-checkout-orderd__item.c-checkout-orderd__item--delivery
                        +checkoutOrderDeliveryProduct("Delivery & Installation", "Llega en 5 - 14 días hábiles (Dentro de territorio nacional)", [
                            {
                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                qty: "1",
                                price: "2,099.98",
                                unitPos: "left",
                                unitName: "$"
                            },
                        ])
                