include ../_common/_cart-price-total.pug
include ./CT0302-inc.pug

mixin CT0302(option=false, country=false)
    .CT0302
        if(option === "member")
            case country
                when 'id'
                    .buy-checkout__item.buy-checkout__item--delivery
                        // de
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"Kukuluri, Kec. Wawotobi, Kabupaten Konawe, Sulawesi Tenggara 93461",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Billing"],
                                        title:"Robert Surrency",
                                        address:"Kukuluri, Kec. Wawotobi, Kabupaten Konawe, Sulawesi Tenggara 93461",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        .buy-checkout__item--delivery-mix
                            details.buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: false,
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Regular delivery',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery83',
                                            price:'25.000',
                                            unitPos: 'left',
                                            unitName: 'Rp ',
                                        },
                                        {
                                            type: 'Express delivery',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery84',
                                            price:'25.000',
                                            unitPos: 'left',
                                            unitName: 'Rp ',
                                        },
                                        {
                                            type: 'Delivery only',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery100',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Basic Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery86',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                        {
                                            type: 'TV Wallmount',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery87',
                                            price:'25.000',
                                            unitPos: 'left',
                                            unitName: 'Rp ',
                                        },
                                    ])
                                    +deliveryAccodionCheck('Haulaway', false, [
                                        {
                                            type: 'Haulaway',
                                            id: 'delivery134',
                                            tooltipMsg: '1111',
                                            price:'Free',
                                            nameId: 'delivery134',
                                            checked: false,
                                            infoDesc: false,
                                            select:false,
                                            price:'25.000',
                                            unitPos: 'left',
                                            unitName: 'Rp ',
                                        }
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Estimasi pengiriman 3 - 5 hari kerja',
                                        desc:'Pengiriman hanya berlaku untuk area JABODETABEK',
                                    })

                            details(open).buy-delivery-box__accordion-mix.buy-delivery-box__accordion-mix--error
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: false,
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Regular delivery',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery83-error',
                                            price:'25.000',
                                            unitPos: 'left',
                                            unitName: 'Rp ',
                                        },
                                        {
                                            type: 'Express delivery',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery84-error',
                                            price:'25.000',
                                            unitPos: 'left',
                                            unitName: 'Rp ',
                                        },
                                        {
                                            type: 'Delivery only',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery100-error',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Basic Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery86-error',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                        {
                                            type: 'TV Wallmount',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery87-error',
                                            price:'25.000',
                                            unitPos: 'left',
                                            unitName: 'Rp ',
                                        },
                                    ])
                                    +deliveryAccodionCheck('Haulaway', false, [
                                        {
                                            type: 'Haulaway',
                                            id: 'delivery134-error',
                                            tooltipMsg: '1111',
                                            price:'Free',
                                            nameId: 'delivery134',
                                            checked: false,
                                            infoDesc: false,
                                            select:false,
                                            price:'25.000',
                                            unitPos: 'left',
                                            unitName: 'Rp ',
                                        }
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Estimasi pengiriman 3 - 5 hari kerja',
                                        desc:'Pengiriman hanya berlaku untuk area JABODETABEK',
                                    })
                            
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")

                when 'selectDateType-radio'
                    // type radio
                    .buy-checkout__item.buy-checkout__item--delivery
                        +accRadioDeliveryBox(["LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)"], false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery04',
                                price:'0,00',
                                unitPos: 'left',
                                unitName: '',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery37',
                                price:'0,00',
                                unitPos: 'right',
                                unitName: '',
                                checkedDate : true,
                                warning : ['Llega en 5 - 14 días hábiles (Dentro de territorio nacional)'],
                                descBull: ['Die Lieferung von Großgeräten wie z.B. TVs, Kühlschränke oder Waschmaschinen übernimmt Rhenus Home Delivery.', 'Liefertermin nach Absprache.','Je nach Auslastung des Logistikdienstleisters, kann Ihr Lieferdatum vom gewünschen Termin abweichen.'],

                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: false,
                                id: 'delivery06',
                                price:'0,00',
                                unitPos: 'sup',
                                unitName: '',
                            },
                        ])
                        // [Start] 2023.07.19 UPDATE - error case markup
                        //- .buy-delivery-box--error
                        +accRadioDeliveryBox(["LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)"], "error", [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery04',
                                price:'0,00',
                                unitPos: 'left',
                                unitName: '',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery37',
                                price:'0,00',
                                unitPos: 'right',
                                unitName: '',
                                checkedDate : true,
                                warning : ['Llega en 5 - 14 días hábiles (Dentro de territorio nacional)'],
                                descBull: ['Die Lieferung von Großgeräten wie z.B. TVs, Kühlschränke oder Waschmaschinen übernimmt Rhenus Home Delivery.', 'Liefertermin nach Absprache.','Je nach Auslastung des Logistikdienstleisters, kann Ihr Lieferdatum vom gewünschen Termin abweichen.'],

                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: false,
                                id: 'delivery06',
                                price:'0,00',
                                unitPos: 'sup',
                                unitName: '',
                            },
                        ])
                        //[End] 2023.07.19 UPDATE - error case markup
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])

                when 'selectDateType-checkbox'
                    // type checkbox
                    .buy-checkout__item.buy-checkout__item--delivery
                        +accCheckDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"], false, false, [
                            {
                                type: 'Free delivery',
                                tooltipMsg: '',
                                id: 'delivery10',
                                price:'Free',
                                useUnitPos: false,
                                nameId: 'delivery10',
                                checked: false,
                                warning:["Livraison dans les 7 ~ 10 jourse"]
                            }
                        ])
                        +accCheckDeliveryBox(["LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)"], 'unavailable', false, [
                            {
                                type: 'Delivery',
                                id: 'delivery132',
                                tooltipMsg: '1111',
                                price:'Free',
                                useUnitPos: false,
                                nameId: 'delivery132',
                                checked: false,
                                infoDesc: false,
                                select:'Thu, Oct 18  All day',
                            }
                        ])
                        // [Start] 2023.07.19 UPDATE - error case markup
                        //- .buy-delivery-box--error
                        +accCheckDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"], "error", false, [
                            {
                                type: 'Free delivery',
                                tooltipMsg: '',
                                id: 'delivery11',
                                price:'Free',
                                useUnitPos: false,
                                nameId: 'delivery11',
                                checked: false,
                                warning:["Livraison dans les 7 ~ 10 jourse"]
                            }
                        ])
                        // [End] 2023.07.19 UPDATE - error case markup
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])

                when 'selectDateType-accordion'
                    // type accordion
                    .buy-checkout__item.buy-checkout__item--delivery
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, true, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery36',
                                price:'€0.00',
                                descListDot: ['Para pedidos realizados antes de las 11 am, lo estaremos contactando para realizar la entrega el día hábil siguiente.']
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery37',
                                price:'€0.00',
                                checkedDate : true,
                                validInfo : ['Levertijd 3 ~ 5 werkdagen'],
                                descBullIcon : ['De daadwerkelijke leverdatum kan afwijken van de opgegeven gewenste leverdatum.']
                            },
                            {
                                type: 'Delivery & Collection of used equipment',
                                tooltipMsg: false,
                                id: 'delivery52',
                                expectedDate : 'Čtvrtek 30 Březen, 2023',
                                price:'FREE OF CHARGE',
                                checkedDate : true,
                                validWarning : ['Dodací lhůta 3 - 4 pracovních dnů'],
                                validInfo : ['Vámi preferované datum doručení se může lišit od skutečného data doručení'],
                            }
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'edit', true,  false,[
                            {
                                type: 'Delivery Only',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery39',
                                price:'€0.00',
                            },
                        ])
                        // added cancel button 
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, true, true, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: false,
                                id: 'delivery90',
                                price:'$25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: false,
                                id: 'delivery91',
                                price:'$25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: false,
                                id: 'delivery92',
                                price:'$25.00',
                            }
                        ])
                        // [Start] 2023.07.19 UPDATE - error case markup
                        //- .buy-delivery-box--error
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], "error", true, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery36',
                                price:'€0.00',
                            },
                            {
                                type: 'Delivery & Collection of used equipment',
                                tooltipMsg: '11111111111',
                                id: 'delivery52',
                                expectedDate : 'Čtvrtek 30 Březen, 2023',
                                price:'FREE OF CHARGE',
                                checkedDate : true,
                                validWarning : ['Dodací lhůta 3 - 4 pracovních dnů'],
                                validInfo : ['Vámi preferované datum doručení se může lišit od skutečného data doručení'],
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: false,
                                id: 'delivery37',
                                price:'€0.00',
                                checkedDate : true,
                                validWarning : ['Levertijd 3 ~ 5 werkdagen', 'De daadwerkelijke leverdatum kan afwijken van de opgegeven gewenste leverdatum.'],
                            },
                        ])
                        // [End] 2023.07.19 UPDATE - error case markup
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                
                when 'selectDateType-tw'
                    .buy-checkout__item.buy-checkout__item--delivery
                        // tw
                        +deliveryBoxInstallationCheck(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, true, [
                            {
                                type: 'Delivery',
                                id: 'delivery126',
                                price:'Free',
                                selectDescTop: ['您可選擇免費基本安裝與否，其餘額外服務(例:拆室內門)則由物流公司現場報價收費。'],
                                DeliveryCheckbox: [{
                                    text : '舊機回收',
                                    name : 'deliveryCheck01',
                                    value: '',
                                    id: 'deliveryCheck01',
                                    checkTooltipMsg : "1. 同類型廢四機免費回收 ex. 購買洗衣機回收洗衣機 <br/>2. 施工廢料清理註1: 冷氣須自行拆卸下後，方可回收<br/>註2: 廢四機: 電視、冰箱、冷暖氣、洗衣機",
                                },{
                                    text : '到府安裝',
                                    name : 'deliveryCheck02',
                                    value: '',
                                    id: 'deliveryCheck02',
                                    checkTooltipMsg : "1. 配送到府，免收樓層費 <br/>2. 拆箱定位，基本安裝註1: 配送到府指商品配送無須拆門且可順利運送至室內指定地點<br/>註2: 基本安裝: 以原廠提供零件施工，如有超出基本安裝範圍，現場由師傅估價收費。若不同意報價請勿拆箱安裝。",
                                }],
                                selectDescBottom: ['此產品預估可於 2 - 5 天內送達希望到貨日可能與實際到貨日不同']
                            },
                        ])
                        
                        .buy-delivery-info--list
                            ul.buy-delivery-info__list
                                li.font-w-normal-16.font-m-normal-14 運送時間可能視物流公司安排而有變更
                                li.font-w-normal-16.font-m-normal-14 如訂單完成後需更改配送資訊（地址或手機號碼等），需取消此筆訂單並重新下單

                        .c-checkout-step02.c-checkout-step02-form
                            +myInputForm([
                                {
                                    type:"select",
                                    label:"雲端發票",
                                    id:"cloudInvoice-tw4",
                                    required:true,
                                    placeholder:"",
                                    value:"",
                                    optionVal: ['個人雲端發票', '個人雲端發票', '個人雲端發票'],
                                },
                                {
                                    type:"select",
                                    label:false,
                                    id:"cloudInvoice-tw5",
                                    required:true,
                                    placeholder:"",
                                    value:"",
                                    optionVal: ['發票載具', '發票載具', '發票載具'],
                                },
                                {
                                    type:"select",
                                    label:false,
                                    id:"cloudInvoice-tw6",
                                    required:true,
                                    placeholder:"",
                                    value:"",
                                    optionVal: ['財團法人喜憨兒社會福利基金會', '財團法人喜憨兒社會福利基金會', '財團法人喜憨兒社會福利基金會'],
                                },
                            ])
                        .c-checkout-step02.c-checkout-step02-form
                            +myInputForm([
                                {
                                    type:"select",
                                    label:"雲端發票",
                                    id:"cloudInvoice-tw1",
                                    required:true,
                                    placeholder:"",
                                    value:"",
                                    optionVal: ['個人雲端發票', '個人雲端發票', '個人雲端發票'],
                                },
                                {
                                    type:"select",
                                    label:false,
                                    id:"cloudInvoice-tw2",
                                    required:true,
                                    placeholder:"",
                                    value:"",
                                    optionVal: ['發票載具', '發票載具', '發票載具'],
                                },
                                {
                                    type:"select",
                                    label:false,
                                    id:"cloudInvoice-tw3",
                                    required:true,
                                    placeholder:"",
                                    value:"",
                                    optionVal: ['自然人憑證載具', '自然人憑證載具', '自然人憑證載具'],
                                },
                                {
                                    type:"text",
                                    label:"手機條碼載具",
                                    id:"barcode-carrier",
                                    required:true,
                                    placeholder:"/ABC1234",
                                    value:"",
                                    warning: ['這是一個必填字段','手機條碼載具格式應為 /ABC1234']
                                },
                            ]) 
                        .c-checkout-step02.c-checkout-step02-form
                            +myInputForm([
                                {
                                    type:"select",
                                    label:"雲端發票",
                                    id:"cloudInvoice-tw7",
                                    required:true,
                                    placeholder:"",
                                    value:"",
                                    optionVal: ['公司用雲端發票', '公司用雲端發票', '公司用雲端發票'],
                                },
                                {
                                    type:"text",
                                    label:"自然人憑證載具",
                                    id:"licenseHolder",
                                    required:true,
                                    placeholder:"/ABC1234",
                                    value:"",
                                    warning: ['這是一個必填字段','自然人憑證載具格式應為 TP03000001234567']
                                },
                            ])
                        .c-checkout-step02.c-checkout-step02-form
                            +myInputForm([
                                {
                                    type:"text",
                                    label:"公司名稱",
                                    id:"companyName",
                                    required:true,
                                    placeholder:"",
                                    value:"",
                                    warning: ['這是一個必填字段','請輸入有效的數值. 以60個中文字為限']
                                },
                            ])
                        .buy-delivery-info--list
                            ul.buy-delivery-info__list
                                li.font-w-normal-16.font-m-normal-14  若於訂購時已選擇發票類型，訂單送出後即無法換開其他類型電子發票，請於訂購時確認應取得二聯（個人用）或三聯（公司用）發票，本公司已盡告知義務，且為配合國稅局勸止二聯換開三聯之政策，本公司有權利考量各因素後拒絕換開發票。若誤選請盡速取消訂單並重新訂購。 
                                    | <br>本公司發票委由關貿網路股份有限公司代為上傳至財政部，發票資訊亦可透過關貿平台查詢。
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")

                when 'selectDateType-radio-button'
                    // type radio-button
                    .buy-checkout__item.buy-checkout__item--delivery
                        +accRadioDeliveryBox(["LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)"], false, [
                            {
                                type: 'Free shipping',
                                tooltipMsg: 'Darmowa dostawa DTS (dostawa+wniesienie bez instalacji)',
                                id: 'delivery-radio-button-1',
                                price:'0,00',
                                unitPos: 'right',
                                unitName: ' zł',
                            },
                            {
                                type: 'Free shipping & Installation',
                                tooltipMsg: false,
                                id: 'delivery-radio-button-2',
                                price:'0,00',
                                unitPos: 'right',
                                unitName: ' zł',
                            },
                            {
                                type: 'Free shipping & Collection of used equipment',
                                tooltipMsg: false,
                                id: 'delivery-radio-button-3',
                                price:'0,00',
                                unitPos: 'right',
                                unitName: ' zł',
                            },
                            {
                                type: 'Free shipping & Installation & Collection of used equipment',
                                tooltipMsg: false,
                                id: 'delivery-radio-button-4',
                                price:'0,00',
                                unitPos: 'right',
                                unitName: ' zł',
                            },
                        ])
                        +accRadioDeliveryBox(["LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)"], false, [
                            {
                                type: 'Free shipping',
                                tooltipMsg: 'Darmowa dostawa DTS (dostawa+wniesienie bez instalacji)',
                                id: 'delivery-radio-button-5',
                                price:'0,00',
                                unitPos: 'right',
                                unitName: ' zł',
                                checked: true
                            },
                            {
                                type: 'Free shipping & Installation',
                                tooltipMsg: false,
                                id: 'delivery-radio-button-6',
                                price:'0,00',
                                unitPos: 'right',
                                unitName: ' zł',
                            },
                            {
                                type: 'Free shipping & Collection of used equipment',
                                tooltipMsg: false,
                                id: 'delivery-radio-button-7',
                                price:'0,00',
                                unitPos: 'right',
                                unitName: ' zł',
                            },
                            {
                                type: 'Free shipping & Installation & Collection of used equipment',
                                tooltipMsg: false,
                                id: 'delivery-radio-button-8',
                                price:'0,00',
                                unitPos: 'right',
                                unitName: ' zł',
                            },
                        ])
                        +deliveryBoxNoneAcc(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, [
                            {
                                selectDateAreaTitle : 'Choose a delivery date',
                                selectDateCancel : false,
                                type: 'Select Date',
                                id: 'delivery76',
                                price:'',
                                validInfo: ['W przypadku wybrania metody płatności „BNP Paribas” w kolejnym kroku akceptacja kredytowa moze zająć do około 5 dni roboczych. W związku z tym zlecenie nie może zostać przetworzone zgodnie z datą dostawy wybraną w kalendarzu.']
                            },
                        ])
                        +deliveryBoxNoneAcc(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'edit', true, [
                            {
                                selectDateAreaTitle : 'Choose a delivery date',
                                selectDateCancel : false,
                                type: 'Select Date',
                                select: 'Thu, Oct 18  All day',
                                id: 'delivery77',
                                price:'',
                                validInfo: ['W przypadku wybrania metody płatności „BNP Paribas” w kolejnym kroku akceptacja kredytowa moze zająć do około 5 dni roboczych. W związku z tym zlecenie nie może zostać przetworzone zgodnie z datą dostawy wybraną w kalendarzu.']
                            },
                        ])
                
                when 'selectDateType-accordion-wrap-global'
                    // type accordion-wrap : global shipping module
                    .buy-checkout__item.buy-checkout__item--delivery
                        .buy-checkout__item--delivery-mix
                            details.buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: false,
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Regular delivery',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery83',
                                            price:'25.000',
                                            unitPos: 'left',
                                            unitName: 'Rp ',
                                        },
                                        {
                                            type: 'Express delivery',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery84',
                                            price:'25.000',
                                            unitPos: 'left',
                                            unitName: 'Rp ',
                                        },
                                        {
                                            type: 'Delivery only',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery100',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Basic Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery86',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                        {
                                            type: 'TV Wallmount',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery87',
                                            price:'25.000',
                                            unitPos: 'left',
                                            unitName: 'Rp ',
                                        },
                                    ])
                                    +deliveryAccodionCheck('Haulaway', false, [
                                        {
                                            type: 'Haulaway',
                                            id: 'delivery134',
                                            tooltipMsg: '1111',
                                            price:'Free',
                                            nameId: 'delivery134',
                                            checked: false,
                                            infoDesc: false,
                                            select:false,
                                            price:'25.000',
                                            unitPos: 'left',
                                            unitName: 'Rp ',
                                        }
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Estimasi pengiriman 3 - 5 hari kerja',
                                        desc:'Pengiriman hanya berlaku untuk area JABODETABEK',
                                    })

                            details(open).buy-delivery-box__accordion-mix.buy-delivery-box__accordion-mix--error
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: false,
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Regular delivery',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery83-error',
                                            price:'25.000',
                                            unitPos: 'left',
                                            unitName: 'Rp ',
                                        },
                                        {
                                            type: 'Express delivery',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery84-error',
                                            price:'25.000',
                                            unitPos: 'left',
                                            unitName: 'Rp ',
                                        },
                                        {
                                            type: 'Delivery only',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery100-error',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Basic Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery86-error',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                        {
                                            type: 'TV Wallmount',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery87-error',
                                            price:'25.000',
                                            unitPos: 'left',
                                            unitName: 'Rp ',
                                        },
                                    ])
                                    +deliveryAccodionCheck('Haulaway', false, [
                                        {
                                            type: 'Haulaway',
                                            id: 'delivery134-error',
                                            tooltipMsg: '1111',
                                            price:'Free',
                                            nameId: 'delivery134',
                                            checked: false,
                                            infoDesc: false,
                                            select:false,
                                            price:'25.000',
                                            unitPos: 'left',
                                            unitName: 'Rp ',
                                        }
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Estimasi pengiriman 3 - 5 hari kerja',
                                        desc:'Pengiriman hanya berlaku untuk area JABODETABEK',
                                    })
                            
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")
                default 
                    .buy-checkout__item.buy-checkout__item--delivery

            +CT0302("complete",'hide')

        if(option === "guest")
            .buy-checkout__item.buy-checkout__item--delivery
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "active"
                })
                .c-checkout-step02.c-checkout-step02-form
                    p.c-checkout-step01-prevention Pengiriman hanya berlaku untuk area JABODETABEK
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Shipping
                    // [Start] 2023-06-12 : ADD - number-text
                    +myInputForm([
                        {
                            type:"text",
                            label:"First Name",
                            id:"firstName",
                            required:false,
                            placeholder:"Robert",
                        },
                        {
                            type:"text",
                            label:"Last Name",
                            id:"lastName",
                            required:false,
                            placeholder:"Surrency",
                        },
                        {
                            type:"tel",
                            label:"Mobile Number",
                            id:"mobileNumber",
                            tooltipMsg:false,
                            required:false,
                            telNumber:"+62",
                            placeholder:"8XXXXXXXXXXXX",
                        },
                        {
                            type:"text",
                            label:"Address line (Unit/Complex/Ward)",
                            id:"DetailedAddress-def",
                            required:false,
                            value:"",
                        },
                        {
                            type:"select",
                            label:"Province",
                            id:"Province-def",
                            required:false,
                            value:"",
                            optionVal:['Province'],
                            readonly: false,
                            value:"",
                        },
                        {
                            type:"select",
                            label:"City",
                            id:"City-def",
                            required:false,
                            placeholder:"",
                            optionVal:['City'],
                            readonly: false,
                        },
                        {
                            type:"select",
                            label:"District",
                            id:"Street-def",
                            readonly: false,
                            optionVal:['District'],
                            readonly: false,
                        },
                        {
                            type:"select",
                            label:"Postcode",
                            id:"Street2-def",
                            required:false,
                            placeholder:"",
                            optionVal:['Postcode'],
                            readonly: false,
                        },
                        {
                            type:"text",
                            label:"Country",
                            id:"Country",
                            required:false,
                            readonly:true,
                            placeholder:"Indonesia",
                            check: ["Same for billing address"]
                        },
                    ])
                .button.buy-order-info-coupon__button
                    +defaultButton({name: "Save Address", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="save")

                // form bottom content area
        
        if(option === "before")
            .buy-checkout__item.before
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checkoutStep"
                })

        if(option === "complete")
            .buy-checkout__item.buy-checkout__item--delivery.buy-checkout__item--complete(style=`${country=='hide'?'display:none':''}`)
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checked",
                })
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Shipping"],
                                title:"Robert Surrency",
                                address:"Kukuluri, Kec. Wawotobi, Kabupaten Konawe, Sulawesi Tenggara 93461",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-step02.c-checkout-step02--warn
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Billing"],
                                title:"Robert Surrency",
                                address:"Kukuluri, Kec. Wawotobi, Kabupaten Konawe, Sulawesi Tenggara 93461",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-orderd.c-checkout-orderd--confirm
                    .c-checkout-orderd__item.c-checkout-orderd__item--delivery
                        +checkoutOrderDeliveryProduct("Delivery & Installation", "Thu, Oct 18", [
                            {
                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                qty: "1",
                                price: "2.099.980",
                                unitPos: "left",
                                unitName: "Rp "
                            },
                        ])
