include ../_common/_cart-price-total.pug
include ./CT0302-inc.pug

mixin CT0302(option=false, country=false)
    .CT0302
        if(option === "member")
            case country
                when 'tw'
                    .buy-checkout__item.buy-checkout__item--delivery
                        // de
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"寶山鄉 宜蘭縣 150, 15-17 新店區, 台灣",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Billing"],
                                        title:"Robert Surrency",
                                        address:"寶山鄉 宜蘭縣 150, 15-17 新店區, 台灣",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        //- .buy-checkout__item.buy-checkout__item--delivery
                        // tw
                        +deliveryBoxInstallationCheck(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, true, [
                            {
                                type: 'Delivery',
                                id: 'delivery126',
                                price:'Free',
                                selectDescTop: ['您可選擇免費基本安裝與否，其餘額外服務(例:拆室內門)則由物流公司現場報價收費。'],
                                DeliveryCheckbox: [{
                                    text : '舊機回收',
                                    name : 'deliveryCheck01',
                                    value: '',
                                    id: 'deliveryCheck01',
                                    checkTooltipMsg : "1. 同類型廢四機免費回收 ex. 購買洗衣機回收洗衣機 <br/>2. 施工廢料清理註1: 冷氣須自行拆卸下後，方可回收<br/>註2: 廢四機: 電視、冰箱、冷暖氣、洗衣機",
                                },{
                                    text : '到府安裝',
                                    name : 'deliveryCheck02',
                                    value: '',
                                    id: 'deliveryCheck02',
                                    checkTooltipMsg : "1. 配送到府，免收樓層費 <br/>2. 拆箱定位，基本安裝註1: 配送到府指商品配送無須拆門且可順利運送至室內指定地點<br/>註2: 基本安裝: 以原廠提供零件施工，如有超出基本安裝範圍，現場由師傅估價收費。若不同意報價請勿拆箱安裝。",
                                }],
                                selectDescBottom: ['此產品預估可於 2 - 5 天內送達希望到貨日可能與實際到貨日不同']
                            },
                        ])
                        
                        .buy-delivery-info--list
                            ul.buy-delivery-info__list
                                li.font-w-normal-16.font-m-normal-14 運送時間可能視物流公司安排而有變更
                                li.font-w-normal-16.font-m-normal-14 如訂單完成後需更改配送資訊（地址或手機號碼等），需取消此筆訂單並重新下單

                        .c-checkout-step02.c-checkout-step02-form
                            +myInputForm([
                                {
                                    type:"select",
                                    label:"雲端發票",
                                    id:"cloudInvoice-tw4",
                                    required:true,
                                    placeholder:"",
                                    value:"",
                                    optionVal: ['個人雲端發票', '個人雲端發票', '個人雲端發票'],
                                },
                                {
                                    type:"select",
                                    label:false,
                                    id:"cloudInvoice-tw5",
                                    required:true,
                                    placeholder:"",
                                    value:"",
                                    optionVal: ['發票載具', '發票載具', '發票載具'],
                                },
                                {
                                    type:"select",
                                    label:false,
                                    id:"cloudInvoice-tw6",
                                    required:true,
                                    placeholder:"",
                                    value:"",
                                    optionVal: ['財團法人喜憨兒社會福利基金會', '財團法人喜憨兒社會福利基金會', '財團法人喜憨兒社會福利基金會'],
                                },
                            ])
                        .c-checkout-step02.c-checkout-step02-form
                            +myInputForm([
                                {
                                    type:"select",
                                    label:"雲端發票",
                                    id:"cloudInvoice-tw1",
                                    required:true,
                                    placeholder:"",
                                    value:"",
                                    optionVal: ['個人雲端發票', '個人雲端發票', '個人雲端發票'],
                                },
                                {
                                    type:"select",
                                    label:false,
                                    id:"cloudInvoice-tw2",
                                    required:true,
                                    placeholder:"",
                                    value:"",
                                    optionVal: ['發票載具', '發票載具', '發票載具'],
                                },
                                {
                                    type:"select",
                                    label:false,
                                    id:"cloudInvoice-tw3",
                                    required:true,
                                    placeholder:"",
                                    value:"",
                                    optionVal: ['自然人憑證載具', '自然人憑證載具', '自然人憑證載具'],
                                },
                                {
                                    type:"text",
                                    label:"手機條碼載具",
                                    id:"barcode-carrier",
                                    required:true,
                                    placeholder:"/ABC1234",
                                    value:"",
                                    warning: ['這是一個必填字段','手機條碼載具格式應為 /ABC1234']
                                },
                            ]) 
                        .c-checkout-step02.c-checkout-step02-form
                            +myInputForm([
                                {
                                    type:"select",
                                    label:"雲端發票",
                                    id:"cloudInvoice-tw7",
                                    required:true,
                                    placeholder:"",
                                    value:"",
                                    optionVal: ['公司用雲端發票', '公司用雲端發票', '公司用雲端發票'],
                                },
                                {
                                    type:"text",
                                    label:"自然人憑證載具",
                                    id:"licenseHolder",
                                    required:true,
                                    placeholder:"/ABC1234",
                                    value:"",
                                    warning: ['這是一個必填字段','自然人憑證載具格式應為 TP03000001234567']
                                },
                            ])
                        .c-checkout-step02.c-checkout-step02-form
                            +myInputForm([
                                {
                                    type:"text",
                                    label:"公司名稱",
                                    id:"companyName",
                                    required:true,
                                    placeholder:"",
                                    value:"",
                                    warning: ['這是一個必填字段','請輸入有效的數值. 以60個中文字為限']
                                },
                            ])
                        .buy-delivery-info--list
                            ul.buy-delivery-info__list
                                li.font-w-normal-16.font-m-normal-14  若於訂購時已選擇發票類型，訂單送出後即無法換開其他類型電子發票，請於訂購時確認應取得二聯（個人用）或三聯（公司用）發票，本公司已盡告知義務，且為配合國稅局勸止二聯換開三聯之政策，本公司有權利考量各因素後拒絕換開發票。若誤選請盡速取消訂單並重新訂購。 
                                    | <br>本公司發票委由關貿網路股份有限公司代為上傳至財政部，發票資訊亦可透過關貿平台查詢。
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")
                default 
                    .buy-checkout__item.buy-checkout__item--delivery
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +formCheckbox('Receive order status notification from LG.com via SMS', "name", "val1", "checkId1", count="false", false)
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        //- [Start] 2023-04-18 : ADD - Delivery Error case
                        // 2023.07.19 UPDATE - error case markup
                        //- .buy-delivery-box--error
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], "error", false, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery60',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery62',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: '11111111111',
                                id: 'delivery63',
                                price:'£25.00',
                            },
                        ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change delivery options',
                                remove: true,
                            },
                        ])
                        //- [End] 2023-04-18 : ADD - Delivery Error case
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery64',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery65',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: '11111111111',
                                id: 'delivery66',
                                price:'£25.00',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'complete', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'edit', false, false, [
                            {
                                type: 'Delivery Only',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery67',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery68',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery69',
                                price:'£25.00',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV", "LG Soundbar SP8YAV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG Soundbar SP8YA"], 'only', false, false, false, [
                            {
                                type: 'Delivery Only',
                            },
                        ])
                        +radioDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"],'complete',[
                            {
                                type: 'Home Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery70',
                                price:'£25.00',
                            }
                        ])
                        +deliveryBox(["LG Soundbar SP8YA"], 'only', false, false, [
                            {
                                type: 'Delivery Only',
                                warn: 'The delivery time is different for each shipping company.',
                            },
                        ])
                        +radioDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"],false,[
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery71',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery72',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount ',
                                tooltipMsg: '11111111111',
                                id: 'delivery73',
                                price:'£25.00',
                            }
                        ])
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")

            +CT0302("complete",'hide')

    
        if(option === "guest")
            .buy-checkout__item.buy-checkout__item--delivery
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "active"
                })
                .c-checkout-step02.c-checkout-step02-form
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Shipping
                    // [Start] 2023-06-12 : ADD - number-text
                    +myInputForm([
                        {
                            type:"text",
                            label:"姓氏",
                            id:"firstName",
                            required:false,
                            placeholder:"Robert",
                            warning: ['這是一個必填字段']
                        },
                        {
                            type:"text",
                            label:"名字",
                            id:"lastName",
                            required:false,
                            placeholder:"Surrency",
                            warning: ['這是一個必填字段']
                        },
                        {
                            type:"tel",
                            label:"手機號碼",
                            id:"mobileNumber",
                            tooltipMsg:"物流配送人員將於商品出貨前以此聯絡電話聯繫您確認配送時間",
                            required:false,
                            placeholder:"",
                            numberText: 'Your mobile number might be used to send tracking number.',
                            warning: ['這是一個必填字段','請在此字段中輸入有效的數字','請輸入有效的電話號碼(10位數字)。例如1234567890。']
                        },
                        {
                            type:"select",
                            label:"縣市",
                            id:"縣市",
                            value:"",
                            optionVal: ['基隆市', '基隆市', '基隆市', '基隆市'],
                            placeholder:"",
                            required:true,
                        },
                        {
                            type:"select",
                            label:"鄉鎮市區",
                            id:"鄉鎮市區",
                            value:"",
                            optionVal: ['請選擇鄉鎮市區', '請選擇鄉鎮市區', '請選擇鄉鎮市區', '請選擇鄉鎮市區'],
                            placeholder:"",
                            required:true,
                            warning: ['這是一個必填字段'],
                        },
                        {
                            type:"text",
                            label:"郵遞區號",
                            id:"郵遞區號",
                            required:false,
                            placeholder:"",
                            readonly: true
                        },
                        {
                            type:"searchAddress",
                            label:"街道地址",
                            id:"streetAddress",
                            required:true,
                            placeholder:"輸入郵遞區號或街道名稱",
                            clearCountry:true,
                            list: false,
                            warning:['這是一個必填字段'],
                        },
                        {
                            type:"searchAddress",
                            label:"Calle",
                            id:"streetAddress",
                            required:true,
                            placeholder:"輸入郵遞區號或街道名稱",
                            list: false,
                            countryImg:"icon-checkout-taiwan-30-20.svg",
                            countryName:"Change Country"
                        },
                        {
                            type:"searchAddress",
                            label:"Straße",
                            id:"streetAddress-list",
                            required:false,
                            placeholder:"01030",
                            value:'01030',
                            list: [
                                '01001 1 Avenue Paul Ramadier (21 more)',
                                '01002 1 Chemin de Grimal (21 more)',
                                '01003 1 Avenue Paul Ramadier (21 more)',
                                '01003 1 Avenue Paul Ramadier (21 more)',
                                '01003 1 Avenue Paul Ramadier (21 more)',
                            ],
                            countryImg:"icon-checkout-taiwan-30-20.svg",
                            countryName:"Change Country"
                        },
                        {
                            type:"searchAddress",
                            label:"Straße",
                            id:"streetAddress-list",
                            required:false,
                            placeholder:"01030",
                            value:'01030',
                            list: [
                                '01030 1 Rue de Stalingrad',
                                '01001 1 Avenue Paul Ramadier',
                                '01001 1 Avenue Paul Ramadier',
                                '01001 1 Avenue Paul Ramadier',
                                '01001 1 Avenue Paul Ramadier',
                            ],
                            countryImg:"icon-checkout-taiwan-30-20.svg",
                            countryName:"Change Country"
                        },
                        {
                            type:"searchAddress",
                            label:"Calle",
                            id:"streetAddress",
                            required:true,
                            placeholder:"1 Rue de Stalingrad",
                            clearCountry:true,
                            list: false,
                        },
                        {
                            type:"select",
                            label:"國家",
                            id:"國家",
                            value:"",
                            optionVal: ['台灣', '台灣', '台灣', '台灣'],
                            placeholder:"",
                            required:true,
                        },
                        {
                            type:"text",
                            label:"備註",
                            id:"備註",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"checkbox",
                            label:false,
                            id:"sameBilling",
                            required:false,
                            placeholder:false,
                            readonly: false,
                            text:'Same for billing address'
                        },
                    ])

                .button.buy-order-info-coupon__button
                    +defaultButton({name: "Save Address", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="save")

                // form bottom content area
        
        if(option === "before")
            .buy-checkout__item.before
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checkoutStep"
                })

        if(option === "complete")
            .buy-checkout__item.buy-checkout__item--delivery.buy-checkout__item--complete(style=`${country=='hide'?'display:none':''}`)
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checked",
                })
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Shipping"],
                                title:"Robert Surrency",
                                address:"寶山鄉 宜蘭縣 150 15-17 新店區, 台灣",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Billing"],
                                title:"Robert Surrency",
                                address:"寶山鄉 宜蘭縣 150 15-17 新店區, 台灣",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-orderd.c-checkout-orderd--confirm
                    .c-checkout-orderd__item.c-checkout-orderd__item--delivery
                        +checkoutOrderDeliveryProduct("Delivery & Installation", "Thu, Oct 18  07:00~19:00", [
                            {
                                title: "LG OLED evo Gallery Edition G2 55'' 4K Smart TV",
                                qty: "1",
                                price: "2,099.98",
                                unitPos: "left",
                                unitName: "NT$"
                            },
                        ])