include ../_common/_cart-price-total.pug
include ./CT0302-inc.pug

mixin CT0302(option=false, country=false)
    .CT0302
        if(option === "member")
            case country
                //- when 'shippingBillingType1'
                //-     .buy-checkout__item.buy-checkout__item--delivery
                //-         // de
                //-         +checkoutStep({
                //-             title:"Delivery",
                //-             current:"2",
                //-             total:"3",
                //-             type: "active"
                //-         })
                //-         .c-checkout-step02
                //-             .buy-address-box.buy-address-box--complete
                //-                 +addressBox(false, false, [
                //-                     {
                //-                         flag: ["Shipping"],
                //-                         title:"Robert Surrency",
                //-                         address:"8 Temasek boulevard #27-01 Suntec Tower 3, Singapore 038988 123-4567-8910",
                //-                         num:"123-4567-8910",
                //-                         type: "",
                //-                     },
                //-                 ])
                //-         .c-checkout-step02.c-checkout-step02--warn
                //-             .buy-address-box.buy-address-box--complete
                //-                 +addressBox(false, false, [
                //-                     {
                //-                         flag: ["Shipping"],
                //-                         title:"Robert Surrency",
                //-                         address:"8 Temasek boulevard #27-01 Suntec Tower 3, Singapore 038988 123-4567-8910",
                //-                         num:"123-4567-8910",
                //-                         type: "",
                //-                     },
                //-                 ])
                //-         +toastPopup([
                //-             {
                //-                 type: "error",
                //-                 text: 'The items(s) are not available for shipping in your area. Please change address options',
                //-                 remove: true,
                //-             },
                //-         ])
                when 'co'
                    .buy-checkout__item.buy-checkout__item--delivery
                        // co
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"Embajada de la Republica de Corea Calle 94 No.9-39, Bogota, Colombia 123-4567-8910",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Billing"],
                                        title:"Robert Surrency",
                                        address:"Embajada de la Republica de Corea Calle 94 No.9-39, Bogota, Colombia 123-4567-8910",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        .buy-checkout__item--delivery-mix
                            details.buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: 1,
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Delivery',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery083',
                                            price:'0',
                                            unitPos: 'left',
                                            unitName: '$',
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Basic Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery86',
                                            price:'0',
                                            unitPos: 'left',
                                            unitName: '$',
                                        },
                                        {
                                            type: 'Premium Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery87',
                                            price:'3.000',
                                            unitPos: 'left',
                                            unitName: '$',
                                        },
                                    ])
                                    +deliveryAccodionCheck('Installation', false, [
                                        {
                                            type: 'Haulaway (Free)',
                                            id: 'delivery180',
                                            tooltipMsg: '1111',
                                            price:'0',
                                            unitPos: 'left',
                                            unitName: '$',
                                            useUnitPos: true,
                                            nameId: 'delivery134',
                                            checked: false,
                                            infoDesc: false,
                                            select:false,
                                        },
                                        {
                                            type: 'A',
                                            id: 'delivery190',
                                            tooltipMsg: '1111',
                                            price:'0',
                                            unitPos: 'left',
                                            unitName: '$',
                                            useUnitPos: true,
                                            nameId: 'delivery134',
                                            checked: false,
                                            infoDesc: false,
                                            select:false,
                                        },
                                        {
                                            type: 'B',
                                            id: 'delivery200',
                                            tooltipMsg: '1111',
                                            price:'0',
                                            unitPos: 'left',
                                            unitName: '$',
                                            useUnitPos: true,
                                            nameId: 'delivery134',
                                            checked: false,
                                            infoDesc: false,
                                            select:false,
                                        },
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Delivery within 3-5 days',
                                        desc:'Disclaimer for delivery time',
                                    })
                            details(open).buy-delivery-box__accordion-mix.buy-delivery-box__accordion-mix--error
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: 1,
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Delivery',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery1312',
                                            price:'0',
                                            unitPos: 'left',
                                            unitName: '$',
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Basic Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery16',
                                            price:'0',
                                            unitPos: 'left',
                                            unitName: '$',
                                        },
                                        {
                                            type: 'Premium Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery17',
                                            price:'3.000',
                                            unitPos: 'left',
                                            unitName: '$',
                                        },
                                    ])
                                    +deliveryAccodionCheck('Installation', false, [
                                        {
                                            type: 'Haulaway (Free)',
                                            id: 'delivery18',
                                            tooltipMsg: '1111',
                                            price:'0',
                                            unitPos: 'left',
                                            unitName: '$',
                                            useUnitPos: true,
                                            nameId: 'delivery13',
                                            checked: false,
                                            infoDesc: false,
                                            select:false,
                                        },
                                        {
                                            type: 'A',
                                            id: 'delivery19',
                                            tooltipMsg: '1111',
                                            price:'0',
                                            unitPos: 'left',
                                            unitName: '$',
                                            useUnitPos: true,
                                            nameId: 'delivery13',
                                            checked: false,
                                            infoDesc: false,
                                            select:false,
                                        },
                                        {
                                            type: 'B',
                                            id: 'delivery20',
                                            tooltipMsg: '1111',
                                            price:'0',
                                            unitPos: 'left',
                                            unitName: '$',
                                            useUnitPos: true,
                                            nameId: 'delivery13',
                                            checked: false,
                                            infoDesc: false,
                                            select:false,
                                        },
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Delivery within 3-5 days',
                                        desc:'Disclaimer for delivery time',
                                    })
                        
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")
            
            +CT0302("complete",'hide')
                

        if(option === "guest")
            .buy-checkout__item.buy-checkout__item--delivery
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "active"
                })
                .c-checkout-step02.c-checkout-step02-form
                    // [Start] 2023-06-02 : UPDATE- change messages
                    //- p.c-checkout-step01-prevention Delivery limited to UK mainland only on orders placed via the LG online store
                    // [End] 2023-06-02 : UPDATE- change messages
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Shipping
                    // [Start] 2023-06-12 : ADD - number-text
                    +myInputForm([
                        {
                            type:"text",
                            label:"First Name",
                            id:"firstName",
                            required:false,
                            placeholder:"Robert",
                            warning: ['this is a required fields']
                        },
                        {
                            type:"text",
                            label:"Last Name",
                            id:"lastName",
                            required:false,
                            placeholder:"Surrency",
                            warning: ['this is a required fields']
                        },
                        {
                            type:"tel",
                            label:"Cell Phone",
                            id:"mobileNumber",
                            required:false,
                            placeholder:"12345678910",
                            numberText: 'Your mobile number might be used to send tracking number.',
                            warning: ['this is a required fields', 'Please enter a valid number']
                        },
                        {
                            type:"select",
                            label:"ID Type",
                            id:"IDType",
                            value:"",
                            optionVal: ['Select Your ID Type', 'Cedula de ciudadania', 'Cedula de extranjeria', 'Numero de pasaporte'],
                            placeholder:"",
                            required:true,
                            warning: ['Please select the type of document']
                        },
                        {
                            type:"text",
                            label:"Identification number",
                            id:"IDType-text",
                            required:false,
                            placeholder:"ID Number",
                            warning: ['this is a required fields']
                        },
                        {
                            type:"select",
                            label:"Department",
                            id:"department",
                            value:"",
                            optionVal: ['','department'],
                            placeholder:"",
                            required:false,
                            warning: ['Please select Department']
                        },
                        {
                            type:"select",
                            label:"Municipality",
                            id:"municipality",
                            value:"",
                            optionVal: ['','municipality'],
                            placeholder:"",
                            required:false,
                            warning: ['Please select Municipality']
                        },
                        {
                            type:"text",
                            label:"Full address",
                            id:"fullAddress",
                            required:false,
                            placeholder:"",
                            warning: ['this is a required fields']
                        },
                        {
                            type:"text",
                            label:"Apartment/Tower/Interior/House",
                            id:"apartment",
                            required:false,
                            placeholder:"",
                            warning: ['this is a required fields']
                        },
                        {
                            type:"text",
                            label:"Neighborhood",
                            id:"neighborhood",
                            required:false,
                            placeholder:"",
                            warning: ['this is a required fields']
                        },
                        {
                            type:"text",
                            label:"Country",
                            id:"country",
                            required:false,
                            placeholder:"Colombia",
                            readonly: true,
                        },
                        {
                            type:"checkbox",
                            label:false,
                            id:"billingAddress",
                            required:false,
                            placeholder:false,
                            readonly: false,
                            text:'Same for billing address'
                        },
                    ])
                .c-checkout-step02.c-checkout-step02-form
                    +myInputForm([
                        {
                            type:"checkbox",
                            label:false,
                            id:"purchase",
                            required:false,
                            placeholder:false,
                            readonly: false,
                            text:'Purchase(Company)'
                        },
                        {
                            type:"text",
                            label:"Company Email",
                            id:"companyemail",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"text",
                            label:"Business Name",
                            id:"business-name",
                            required:false,
                            placeholder:"",
                            warning: ['this is a required fields.'],
                        },
                        {
                            type:"text",
                            label:"NIT",
                            id:"NIT",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"text",
                            label:"Work phone number",
                            id:"work-phone-number",
                            required:false,
                            placeholder:"",
                            warning: ['this is a required fields.'],
                        },
                    ])
                .button.buy-order-info-coupon__button
                    +defaultButton({name: "Save Address", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="save")
        if(option === "before")
            .buy-checkout__item.before
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checkoutStep"
                })
        if(option === "complete")
            .buy-checkout__item.buy-checkout__item--delivery.buy-checkout__item--complete(style=`${country=='hide'?'display:none':''}`)
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checked",
                })
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Shipping"],
                                title:"Robert Surrency",
                                address:"Embajada de la Republica de Corea Calle 94 No.9-39, Bogota, Colombia 123-4567-8910",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Billing"],
                                title:"Robert Surrency",
                                address:"Embajada de la Republica de Corea Calle 94 No.9-39, Bogota, Colombia 123-4567-8910",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-orderd.c-checkout-orderd--confirm
                    .c-checkout-orderd__item.c-checkout-orderd__item--delivery
                        +checkoutOrderDeliveryProduct("Delivery & Installation", "estimated delivery for municipality", [
                            {
                                title: "LG OLED evo Gallery Edition G2 55'' 4K Smart TV",
                                qty: "1",
                                price: "1.999.980",
                                unitPos: "left",
                                unitName: " $"
                            },
                        ])