include ../_common/_cart-price-total.pug
include ./CT0302-inc.pug

mixin CT0302(option=false, country=false)
    .CT0302
        if(option === "member")
            case country
                when 'kz'
                    .buy-checkout__item.buy-checkout__item--delivery
                        // de
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag:["Shipping"],
                                        title:"Robert Surrency",
                                        address:"Republic of Kazakhstan Kaldayakov st. 66A, Bogenbai batyr st. corner, Almaty",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Billing"],
                                        title:"Robert Surrency",
                                        address:"Republic of Kazakhstan Kaldayakov st. 66A, Bogenbai batyr st. corner, Almaty",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        .buy-checkout__item--delivery-mix
                            details.buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: "1",
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +accCheckDeliveryBox(false, false, true, [
                                        {
                                            type: 'Delivery',
                                            tooltipMsg: '1111',
                                            id: 'delivery10',
                                            price:'Free',
                                            useUnitPos: false,
                                            nameId: 'delivery10',
                                            checked: false,
                                        }
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionCheck('Installation', false, [
                                        {
                                            type: 'Installation',
                                            id: 'delivery134',
                                            tooltipMsg: '1111',
                                            price:'Free',
                                            useUnitPos: false,
                                            nameId: 'delivery134',
                                            checked: false,
                                            infoDesc: false,
                                            select:false,
                                        }
                                    ])
                            details(open).buy-delivery-box__accordion-mix.buy-delivery-box__accordion-mix--error
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: "1",
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +accCheckDeliveryBox(false, false, true, [
                                        {
                                            type: 'Delivery',
                                            tooltipMsg: '1111',
                                            id: 'delivery15',
                                            price:'Free',
                                            useUnitPos: false,
                                            nameId: 'delivery15',
                                            checked: false,
                                        }
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionCheck('Installation', false, [
                                        {
                                            type: 'Installation',
                                            id: 'delivery135',
                                            tooltipMsg: '1111',
                                            price:'Free',
                                            useUnitPos: false,
                                            nameId: 'delivery135',
                                            checked: false,
                                            infoDesc: false,
                                            select:false,
                                        }
                                    ])
                            +toastPopup([
                                {
                                    type: "error",
                                    text: 'The items(s) are not available for shipping in your area. Please change delivery options',
                                    remove: true,
                                },
                            ])
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")

                when 'selectDateType-accordion-wrap-global'
                    // type accordion-wrap : global shipping module
                    .buy-checkout__item.buy-checkout__item--delivery 
                        .buy-checkout__item--delivery-mix
                            details.buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: "1",
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +accCheckDeliveryBox(false, false, true, [
                                        {
                                            type: 'Delivery',
                                            tooltipMsg: '1111',
                                            id: 'delivery10',
                                            price:'Free',
                                            useUnitPos: false,
                                            nameId: 'delivery10',
                                            checked: false,
                                        }
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionCheck('Installation', false, [
                                        {
                                            type: 'Installation',
                                            id: 'delivery134',
                                            tooltipMsg: '1111',
                                            price:'Free',
                                            useUnitPos: false,
                                            nameId: 'delivery134',
                                            checked: false,
                                            infoDesc: false,
                                            select:false,
                                        }
                                    ])
                            details(open).buy-delivery-box__accordion-mix.buy-delivery-box__accordion-mix--error
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: "1",
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +accCheckDeliveryBox(false, false, true, [
                                        {
                                            type: 'Delivery',
                                            tooltipMsg: '1111',
                                            id: 'delivery15',
                                            price:'Free',
                                            useUnitPos: false,
                                            nameId: 'delivery15',
                                            checked: false,
                                        }
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionCheck('Installation', false, [
                                        {
                                            type: 'Installation',
                                            id: 'delivery135',
                                            tooltipMsg: '1111',
                                            price:'Free',
                                            useUnitPos: false,
                                            nameId: 'delivery135',
                                            checked: false,
                                            infoDesc: false,
                                            select:false,
                                        }
                                    ])
                            +toastPopup([
                                {
                                    type: "error",
                                    text: 'The items(s) are not available for shipping in your area. Please change delivery options',
                                    remove: true,
                                },
                            ])
                    .button.buy-order-info-coupon__button 
                        +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")
                default 
                    .buy-checkout__item.buy-checkout__item--delivery

            +CT0302("complete",'hide')

        if(option === "guest")
            .buy-checkout__item.buy-checkout__item--delivery
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "active"
                })
                .c-checkout-step02.c-checkout-step02-form
                    // [Start] 2023-06-02 : UPDATE- change messages
                    p.c-checkout-step01-prevention Доставка осуществляется по всему Казахстану.
                    // [End] 2023-06-02 : UPDATE- change messages
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Shipping
                    // [Start] 2023-06-12 : ADD - number-text
                    +myInputForm([
                        {
                            type:"text",
                            label:"Имя",
                            id:"firstName",
                            required:false,
                            placeholder:"Robert",
                        },
                        {
                            type:"text",
                            label:"Фамилия",
                            id:"lastName",
                            required:false,
                            placeholder:"Surrency",
                        },
                        {
                            type:"tel",
                            label:"Номер мобильного телефона",
                            id:"tel-2",
                            tooltipMsg:false,
                            required:false,
                            telNumber:"+7",
                            placeholder:"(700)700-70-70",
                            warning: ['Укажите номер телефона.', 'Пожалуйста, введите 10  символов.', 'Пожалуйста, введите верный номер телефона, чтобы продолжить.']
                        },
                        {
                            type:"tel",
                            label:"Дополнительный номер телефона",
                            id:"tel-3",
                            tooltipMsg:false,
                            required:false,
                            telNumber:"+7",
                            placeholder:"(700)700-70-70",
                        },
                        {
                            type:"text",
                            label:"Страна",
                            id:"country",
                            required:false,
                            placeholder:"Kazakhstan",
                            readonly: true,
                        },
                        {
                            type:"select",
                            label:"Область",
                            id:"area",
                            value:"",
                            optionVal: ['Please select one', 'Please select one', 'Please select one', 'Please select one'],
                            placeholder:"Please select one",
                            required:true,
                        },
                        {
                            type:"select",
                            label:"Район",
                            id:"district",
                            value:"",
                            optionVal: ['Please select one', 'Please select one', 'Please select one', 'Please select one'],
                            placeholder:"Please select one",
                            required:true,
                            disabled: true,
                        },
                        {
                            type:"select",
                            label:"Город",
                            id:"city",
                            value:"",
                            optionVal: ['Please select one', 'Please select one', 'Please select one', 'Please select one'],
                            placeholder:"Please select one",
                            required:true,
                            disabled: true,
                        },
                        {
                            type:"text",
                            label:"Район/улица, номер дома",
                            id:"districtStreet",
                            required:false,
                            placeholder:"",
                            readonly: false,
                        },
                        {
                            type:"text",
                            label:"Квартира",
                            id:"apartment",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"checkbox",
                            label:false,
                            id:"SameBilling",
                            required:false,
                            placeholder:false,
                            readonly: false,
                            text:'Same for billing address'
                        },
                    ])
                .c-checkout-step02.c-checkout-step02-form
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Purchase as
                    .c-checkout-step02__box
                        // [Start] 2023-07-28 : UPDATE- added radio type, remove checkbox type
                        .c-input-item.c-input-item--radio-select-box
                            //- +formCheckbox("Individual", "PurchaseAs", "Individual", `checkId_Individual`, count="false", false)
                            //- +formCheckbox("Company", "PurchaseAs", "Company", `checkId_Company`, count="false", false)
                            .c-radio-item
                                +formRadioItem("Individual", "PurchaseAs", "Individual", `checkId_Individual`)
                            .c-radio-item
                                +formRadioItem("Company", "PurchaseAs", "Company", `checkId_Company`)
                                .c-input-item--radio-select-box__content
                                    +myInputForm([
                                        {
                                            type:"text",
                                            label:"Company Name",
                                            id:"CompanyName",
                                            required:false,
                                            placeholder:"",
                                            value:""
                                        },
                                        {
                                            type:"text",
                                            label:"БИН организации",
                                            id:"OrganizationBIN",
                                            required:false,
                                            placeholder:"",
                                            value:"",
                                            warning:['Укажите БИН организации.']
                                        },
                                    ]) 
                        // [End] 2023-07-28 : UPDATE- added radio type, remove checkbox type
                .button.buy-order-info-coupon__button
                    +defaultButton({name: "Save Address", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="save")

                // form bottom content area

        if(option === "before")
            .buy-checkout__item.before
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checkoutStep"
                })

        if(option === "complete")
            .buy-checkout__item.buy-checkout__item--delivery.buy-checkout__item--complete(style=`${country=='hide'?'display:none':''}`)
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checked",
                })
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag:["Shipping"],
                                title:"Robert Surrency",
                                address:"Republic of Kazakhstan Kaldayakov st. 66A, Bogenbai batyr st. corner, Almaty",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-step02.c-checkout-step02--warn
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Billing"],
                                title:"Robert Surrency",
                                address:"Republic of Kazakhstan Kaldayakov st. 66A, Bogenbai batyr st. corner, Almaty",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-orderd.c-checkout-orderd--confirm
                    .c-checkout-orderd__item.c-checkout-orderd__item--delivery
                        +checkoutOrderDeliveryProduct("Delivery & Installation", "Thu, Oct 14 ", [
                            {
                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                qty: "1",
                                price: "209 980",
                                unitPos: "right",
                                unitName: " ₸"
                            },
                        ])