include ../_common/_cart-price-total.pug
include ./CT0302-inc.pug

mixin CT0302(option=false, country=false)
    .CT0302
        if(option === "member")
            case country
                when 'vn'
                    .buy-checkout__item.buy-checkout__item--delivery
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"40 The Cutting, North Fremantle WA 6159 Huyện Sóc Sơn - Hà Nội, Hà Nội, Việt Nam",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Billing"],
                                        title:"Robert Surrency",
                                        address:"40 The Cutting, North Fremantle WA 6159 Huyện Sóc Sơn - Hà Nội, Hà Nội, Việt Nam",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        .buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix.buy-delivery-box__accordion-mix--error
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: '1',
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery1-vn',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                        {
                                            type: 'Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery2-vn',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionCheck('Installation', false, [
                                        {
                                            type: 'Basic Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery3-vn',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                        {
                                            type: 'TV Wallmount',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery4-vn',
                                            price:'25.000',
                                            unitPos: 'sup',
                                            unitName: '₫',
                                        },
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Giao hàng trong 3 ~ 7 ngày',
                                        desc:'Giao hàng toàn quốc ngoại trừ huyện đảo',
                                    })
                            +toastPopup([
                                {
                                    type: "error",
                                    text: 'The items(s) are not available for shipping in your area. Please change delivery options',
                                    remove: true,
                                },
                            ])
                        .buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: '1',
                                            },
                                            {
                                                title: "LG Soundbar SP8YAV",
                                                qty: '1',
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery5-vn',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                        {
                                            type: 'Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery6-vn',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionCheck('Installation', false, [
                                        {
                                            type: 'Basic Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery7-vn',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                        {
                                            type: 'TV Wallmount',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery8-vn',
                                            price:'25.000',
                                            unitPos: 'sup',
                                            unitName: '₫',
                                        },
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Giao hàng trong 3 ~ 7 ngày',
                                        desc:'Giao hàng toàn quốc ngoại trừ huyện đảo',
                                    })
                        .buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "OLED65C25LB.AEU + SP9YA",
                                                qty: '1',
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery9-vn',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                        {
                                            type: 'Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery10-vn',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionCheck('Installation', false, [
                                        {
                                            type: 'Basic Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery11-vn',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                        {
                                            type: 'TV Wallmount',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery12-vn',
                                            price:'25.000',
                                            unitPos: 'sup',
                                            unitName: '₫',
                                        },
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Giao hàng trong 3 ~ 7 ngày',
                                        desc:'Giao hàng toàn quốc ngoại trừ huyện đảo',
                                    })
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")
                default 
                    .buy-checkout__item.buy-checkout__item--delivery
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +formCheckbox('Receive order status notification from LG.com via SMS', "name", "val1", "checkId1", count="false", false)
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        //- [Start] 2023-04-18 : ADD - Delivery Error case
                        // 2023.07.19 UPDATE - error case markup
                        //- .buy-delivery-box--error
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], "error", false, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery60',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery62',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: '11111111111',
                                id: 'delivery63',
                                price:'£25.00',
                            },
                        ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change delivery options',
                                remove: true,
                            },
                        ])
                        //- [End] 2023-04-18 : ADD - Delivery Error case
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery64',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery65',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: '11111111111',
                                id: 'delivery66',
                                price:'£25.00',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'complete', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'edit', false, false, [
                            {
                                type: 'Delivery Only',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery67',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery68',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery69',
                                price:'£25.00',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV", "LG Soundbar SP8YAV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG Soundbar SP8YA"], 'only', false, false, false, [
                            {
                                type: 'Delivery Only',
                            },
                        ])
                        +radioDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"],'complete',[
                            {
                                type: 'Home Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery70',
                                price:'£25.00',
                            }
                        ])
                        +deliveryBox(["LG Soundbar SP8YA"], 'only', false, false, [
                            {
                                type: 'Delivery Only',
                                warn: 'The delivery time is different for each shipping company.',
                            },
                        ])
                        +radioDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"],false,[
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery71',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery72',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount ',
                                tooltipMsg: '11111111111',
                                id: 'delivery73',
                                price:'£25.00',
                            }
                        ])
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")

            +CT0302("complete",'hide')

        if(option === "guest")
            .buy-checkout__item.buy-checkout__item--delivery
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "active"
                })
                .c-checkout-step02.c-checkout-step02-form
                    //- // [Start] 2023-06-02 : UPDATE- change messages
                    //- p.c-checkout-step01-prevention Delivery limited to UK mainland only on orders placed via the LG online store
                    //- // [End] 2023-06-02 : UPDATE- change messages
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Shipping
                    // [Start] 2023-06-12 : ADD - number-text
                    +myInputForm([
                        {
                            type:"text",
                            label:"Tên",
                            id:"firstName",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"text",
                            label:"Họ",
                            id:"lastName",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"tel",
                            label:"Số điện thoại",
                            id:"mobileNumber",
                            tooltipMsg:false,
                            required:false,
                            placeholder:"XXX-XXX-XXXX",
                            numberText: '',
                            telInfo: "Chúng tôi sẽ gửi xác nhận đặt hàng của bạn ở đây.",
                        },
                        {
                            type:"searchAddress",
                            label:"Địa chỉ đường",
                            id:"streetAddress-vn",
                            required:true,
                            placeholder:"Tìm kiếm bằng tên đường",
                            clearCountry:true,
                            list: false,
                            countryImg:"icon-checkout-vietnam-30-20.svg",
                            countryName:"Vietnam"
                        },
                        {
                            type:"searchAddress",
                            label:"Địa chỉ đường",
                            id:"streetAddress-vn-list2",
                            required:false,
                            placeholder:"start with post/ Zip code or street",
                            value:'01030',
                            list: [
                                '01001 1 Avenue Paul Ramadier (21 more)',
                                '01002 1 Chemin de Grimal (21 more)',
                                '01003 1 Avenue Paul Ramadier (21 more)',
                                '01003 1 Avenue Paul Ramadier (21 more)',
                                '01003 1 Avenue Paul Ramadier (21 more)',
                            ],
                            countryImg:"icon-checkout-vietnam-30-20.svg",
                            countryName:"Vietnam"
                        },
                        {
                            type:"searchAddress",
                            label:"Địa chỉ đường",
                            id:"streetAddress-list-vn",
                            required:true,
                            placeholder:"18 Phố Huế",
                            list: false,
                            warning:['Thông tin bắt buộc.'],
                            countryImg:"icon-checkout-vietnam-30-20.svg",
                            countryName:"Việt Nam"
                        },
                        {
                            type:"text",
                            label:"Địa chỉ chi tiết",
                            id:"IDType-text",
                            required:false,
                            placeholder:"e.g. Công ty LG Việt Nam",
                        },
                        {
                            type:"select",
                            label:"Tỉnh thành",
                            id:"province",
                            value:"",
                            optionVal: ['', '', ''],
                            placeholder:"",
                            required:true,
                        },
                        {
                            type:"select",
                            label:"Khu vực",
                            id:"area",
                            value:"Vui lòng chọn khu vực.",
                            optionVal: ['Vui lòng chọn khu vực.', 'Vui lòng chọn khu vực.', 'Vui lòng chọn khu vực.'],
                            placeholder:"Vui lòng chọn khu vực.",
                            required:true,
                        },
                        {
                            type:"text",
                            label:"Quốc gia",
                            id:"country",
                            required:false,
                            readonly:true,
                            placeholder:"Việt Nam",
                        },
                        {
                            type:"checkbox",
                            label:false,
                            id:"sameAddress",
                            required:false,
                            placeholder:false,
                            text:'Same for billing address'
                        },
                    ])

                .c-checkout-step02.c-checkout-step02-form
                    .c-checkout-step02__box
                        +formCheckbox("Xuất hóa đơn công ty", "name", "val2", `checkId3-1`, count="false", false, checked=true)
                        p.c-text-contents__bodycopy.font-w-normal-16.font-m-normal-16 Công ty chúng tôi sẽ xuất hóa đơn VAT cho quý khách theo thông tin giao hàng bên trên.
                            | <br>Nếu quý khách muốn thay đổi thông tin xuất hóa đơn khác với thông tin giao hàng vui lòng điền đầy đủ và chính xác thông tin vào ô bên dưới. (LG Online Shop bảo lưu quyền từ chối điều chỉnh và/hoặc xuất lại hóa đơn trong trường hợp khách hàng cung cấp thông tin không chính xác).
                            | <br>LG Online Shop từ chối xử lý các yêu cầu phát sinh trong việc kê khai thuế đối với các hóa đơn từ 20tr VND trở lên thanh toán bằng tài khoản cá nhân.
                    +myInputForm([
                        {
                            type:"text",
                            label:"Tên công ty",
                            id:"CompanyName",
                            required:false,
                            placeholder:"",
                            value:"",
                            warning: ['Thông tin bắt buộc.'],
                        },
                        {
                            type:"text",
                            label:"Mã số thuế",
                            id:"TaxCode",
                            required:true,
                            placeholder:"",
                            value:"",
                            warning:['Thông tin bắt buộc.', 'Định dạng không hợp lệ.']
                        },
                        {
                            type:"text",
                            label:"Địa chỉ công ty",
                            id:"companyAddress",
                            required:false,
                            placeholder:"",
                            warning: ['Thông tin bắt buộc.'],
                        },
                    ])  

                .button.buy-order-info-coupon__button
                    +defaultButton({name: "Save Address", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="save")

                // form bottom content area

        if(option === "before")
            .buy-checkout__item.before
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checkoutStep"
                })

        if(option === "complete")
            .buy-checkout__item.buy-checkout__item--delivery.buy-checkout__item--complete(style=`${country=='hide'?'display:none':''}`)
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checked",
                })
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Shipping"],
                                title:"Robert Surrency",
                                address:"40 The Cutting, North Fremantle WA 6159 Huyện Sóc Sơn - Hà Nội, Hà Nội, Việt Nam",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-step02.c-checkout-step02--warn
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Billing"],
                                title:"Robert Surrency",
                                address:"40 The Cutting, North Fremantle WA 6159 Huyện Sóc Sơn - Hà Nội, Hà Nội, Việt Nam",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-orderd.c-checkout-orderd--confirm
                    .c-checkout-orderd__item.c-checkout-orderd__item--delivery
                        +checkoutOrderDeliveryProduct("Delivery", "Giao hàng trong 3 ~ 7 ngày", [
                            {
                                title: "LG OLED evo Gallery Edition G2 55'' 4K Smart TV",
                                qty: "1",
                                price: "1.927.100",
                                unitPos: "sup",
                            },
                        ])