include ../_common/_cart-price-total.pug
include ./CT0302-inc.pug

mixin CT0302(option=false, country=false)
    .CT0302
        if(option === "member")
            case country
                when 'sg'
                    .buy-checkout__item.buy-checkout__item--delivery
                        // de
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"8 Temasek boulevard #27-01 Suntec Tower 3, Singapore 038988",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Billing"],
                                        title:"Robert Surrency",
                                        address:"8 Temasek boulevard #27-01 Suntec Tower 3, Singapore 038988",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        .buy-checkout__item--delivery.buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag) ...",
                                                qty:"1",
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Regular delivery',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery01',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Table-top installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery02',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                        {
                                            type: 'TV Wallmount',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery03',
                                            price:'30.00',
                                            unitPos: 'left',
                                            unitName: '$',
                                        },
                                    ])
                                    +deliveryAccodionRadio('Disposal of existing product', false, [
                                        {
                                            type: 'Disposal of existing product',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery04',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Estimated to arrive within 3-5 working days',
                                        desc:'Delivery in mainland Singapore except for remote or restricted zones',
                                    })
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        
                        .buy-checkout__item--delivery.buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix.buy-delivery-box__accordion-mix--error
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag) ...",
                                                qty:"1",
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Regular delivery',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery05',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Table-top installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery06',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                        {
                                            type: 'TV Wallmount',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery07',
                                            price:'30.00',
                                            unitPos: 'left',
                                            unitName: '$',
                                        },
                                    ])
                                    +deliveryAccodionRadio('Disposal of existing product', false, [
                                        {
                                            type: 'Disposal of existing product',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery08',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Estimated to arrive within 3-5 working days',
                                        desc:'Delivery in mainland Singapore except for remote or restricted zones',
                                    })
                                    
                        .buy-checkout__item--delivery.buy-checkout__item--delivery-mix
                            details.buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag) ...",
                                                qty:"1",
                                            },
                                        ])
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG Soundbar SP8YAV",
                                                qty:"1",
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Regular delivery',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery09',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Table-top installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery10',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                        {
                                            type: 'TV Wallmount',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery11',
                                            price:'30.00',
                                            unitPos: 'left',
                                            unitName: '$',
                                        },
                                    ])
                                    +deliveryAccodionRadio('Disposal of existing product', false, [
                                        {
                                            type: 'Disposal of existing product',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery12',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Estimated to arrive within 3-5 working days',
                                        desc:'Delivery in mainland Singapore except for remote or restricted zones',
                                    })
                            details.buy-delivery-box__accordion-mix
                                    summary.c-accordion-mix__head
                                        .c-accordion-mix__head-text
                                            +deliveryBoxProduct([
                                                {
                                                    title: "OLED65C25LB.AEU + SP9YA",
                                                    qty:"1",
                                                },
                                            ])
                                    .c-accordion-mix__body
                                        +deliveryBoxSubTitle({
                                            boxTitle : 'Delivery Method',
                                        })
                                        +deliveryMixRadioSelect([
                                            {
                                                type: 'Regular delivery',
                                                tooltipMsg: '11111111111',
                                                id: 'delivery13',
                                                price:'Free',
                                                useUnitPos: false,
                                                unitPos: false,
                                                unitName: false,
                                            },
                                        ])
                                        +deliveryBoxSubTitle({
                                            boxTitle : 'Additional Services',
                                        })
                                        +deliveryAccodionRadio('Installation', false, [
                                            {
                                                type: 'Table-top installation',
                                                tooltipMsg: '11111111111',
                                                id: 'delivery14',
                                                price:'Free',
                                                useUnitPos: false,
                                                unitPos: false,
                                                unitName: false,
                                            },
                                            {
                                                type: 'TV Wallmount',
                                                tooltipMsg: '11111111111',
                                                id: 'delivery15',
                                                price:'30.00',
                                                unitPos: 'left',
                                                unitName: '$',
                                            },
                                        ])
                                        +deliveryAccodionRadio('Disposal of existing product', false, [
                                            {
                                                type: 'Disposal of existing product',
                                                tooltipMsg: '11111111111',
                                                id: 'delivery16',
                                                price:'Free',
                                                useUnitPos: false,
                                                unitPos: false,
                                                unitName: false,
                                            },
                                        ])
                                        +deliverySelectDateComplete({
                                            title:'Delivery Time',
                                            text:'Estimated to arrive within 3-5 working days',
                                            desc:'Delivery in mainland Singapore except for remote or restricted zones',
                                        })    
                            details.buy-delivery-box__accordion-mix
                                    summary.c-accordion-mix__head
                                        .c-accordion-mix__head-text
                                            +deliveryBoxProduct([
                                                {
                                                    title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag) ...",
                                                    qty:"1",
                                                },
                                            ])
                                    .c-accordion-mix__body
                                        +deliveryBoxSubTitle({
                                            boxTitle : 'Delivery Method',
                                        })
                                        +deliveryMixRadioSelect([
                                            {
                                                type: 'Regular delivery',
                                                tooltipMsg: '11111111111',
                                                id: 'delivery17',
                                                price:'Free',
                                                useUnitPos: false,
                                                unitPos: false,
                                                unitName: false,
                                            },
                                        ])
                                        +deliveryBoxSubTitle({
                                            boxTitle : 'Additional Services',
                                        })
                                        +deliveryAccodionRadio('Installation', false, [
                                            {
                                                type: 'Table-top installation',
                                                tooltipMsg: '11111111111',
                                                id: 'delivery18',
                                                price:'Free',
                                                useUnitPos: false,
                                                unitPos: false,
                                                unitName: false,
                                            },
                                            {
                                                type: 'TV Wallmount',
                                                tooltipMsg: '11111111111',
                                                id: 'delivery19',
                                                price:'30.00',
                                                unitPos: 'left',
                                                unitName: '$',
                                            },
                                        ])
                                        +deliveryAccodionRadio('Disposal of existing product', false, [
                                            {
                                                type: 'Disposal of existing product',
                                                tooltipMsg: '11111111111',
                                                id: 'delivery20',
                                                price:'Free',
                                                useUnitPos: false,
                                                unitPos: false,
                                                unitName: false,
                                            },
                                        ])
                                        +deliverySelectDateComplete({
                                            title:'Delivery Time',
                                            text:'Estimated to arrive within 3-5 working days',
                                            desc:'Delivery in mainland Singapore except for remote or restricted zones',
                                        })
                            details.buy-delivery-box__accordion-mix
                                    summary.c-accordion-mix__head
                                        .c-accordion-mix__head-text
                                            +deliveryBoxProduct([
                                                {
                                                    title: "LG Soundbar SP8YAV",
                                                    qty:"1",
                                                },
                                            ])
                                    .c-accordion-mix__body
                                        +deliveryBoxSubTitle({
                                            boxTitle : 'Delivery Method',
                                        })
                                        +deliveryMixRadioSelect([
                                            {
                                                type: 'Regular delivery',
                                                tooltipMsg: '11111111111',
                                                id: 'delivery21',
                                                price:'Free',
                                                useUnitPos: false,
                                                unitPos: false,
                                                unitName: false,
                                            },
                                        ])
                                        +deliveryBoxSubTitle({
                                            boxTitle : 'Additional Services',
                                        })
                                        +deliveryAccodionRadio('Installation', false, [
                                            {
                                                type: 'Table-top installation',
                                                tooltipMsg: '11111111111',
                                                id: 'delivery22',
                                                price:'Free',
                                                useUnitPos: false,
                                                unitPos: false,
                                                unitName: false,
                                            },
                                            {
                                                type: 'TV Wallmount',
                                                tooltipMsg: '11111111111',
                                                id: 'delivery23',
                                                price:'30.00',
                                                unitPos: 'left',
                                                unitName: '$',
                                            },
                                        ])
                                        +deliveryAccodionRadio('Disposal of existing product', false, [
                                            {
                                                type: 'Disposal of existing product',
                                                tooltipMsg: '11111111111',
                                                id: 'delivery24',
                                                price:'Free',
                                                useUnitPos: false,
                                                unitPos: false,
                                                unitName: false,
                                            },
                                        ])
                                        +deliverySelectDateComplete({
                                            title:'Delivery Time',
                                            text:'Estimated to arrive within 3-5 working days',
                                            desc:'Delivery in mainland Singapore except for remote or restricted zones',
                                        })
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")
                default 
                    .buy-checkout__item.buy-checkout__item--delivery
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +formCheckbox('Receive order status notification from LG.com via SMS', "name", "val1", "checkId1", count="false", false)
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        //- [Start] 2023-04-18 : ADD - Delivery Error case
                        // 2023.07.19 UPDATE - error case markup
                        //- .buy-delivery-box--error
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], "error", false, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery60',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery62',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: '11111111111',
                                id: 'delivery63',
                                price:'£25.00',
                            },
                        ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change delivery options',
                                remove: true,
                            },
                        ])
                        //- [End] 2023-04-18 : ADD - Delivery Error case
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery64',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery65',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: '11111111111',
                                id: 'delivery66',
                                price:'£25.00',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'complete', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'edit', false, false, [
                            {
                                type: 'Delivery Only',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery67',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery68',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery69',
                                price:'£25.00',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV", "LG Soundbar SP8YAV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG Soundbar SP8YA"], 'only', false, false, false, [
                            {
                                type: 'Delivery Only',
                            },
                        ])
                        +radioDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"],'complete',[
                            {
                                type: 'Home Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery70',
                                price:'£25.00',
                            }
                        ])
                        +deliveryBox(["LG Soundbar SP8YA"], 'only', false, false, [
                            {
                                type: 'Delivery Only',
                                warn: 'The delivery time is different for each shipping company.',
                            },
                        ])
                        +radioDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"],false,[
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery71',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery72',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount ',
                                tooltipMsg: '11111111111',
                                id: 'delivery73',
                                price:'£25.00',
                            }
                        ])
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")

            +CT0302("complete",'hide')

        if(option === "guest")
            .buy-checkout__item.buy-checkout__item--delivery
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "active"
                })
                .c-checkout-step02.c-checkout-step02-form
                    // [Start] 2023-06-02 : UPDATE- change messages
                    p.c-checkout-step01-prevention Delivery in mainland Singapore except for remote or restricted zones
                    // [End] 2023-06-02 : UPDATE- change messages
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Shipping
                    // [Start] 2023-06-12 : ADD - number-text
                    +myInputForm([
                        {
                            type:"text",
                            label:"First Name",
                            id:"firstName",
                            required:false,
                            placeholder:"Robert",
                            warning: ['First name is required']
                        },
                        {
                            type:"text",
                            label:"Last Name",
                            id:"lastName",
                            required:false,
                            placeholder:"Surrency",
                            warning: ['Last Name is required.']
                        },
                        {
                            type:"tel",
                            label:"Mobile Number",
                            id:"mobileNumber",
                            required:false,
                            placeholder:"12345678910",
                            numberText: 'Your mobile number might be used to send tracking number.',
                            warningFirst: ['Mobile number is required.','Please enter a valid number'],
                            infoText: "Please input country code digits and phone number without space. For example: 659XXXXXXX",
                        },
                        {
                            type:"searchAddress",
                            label:"Post/Zip Code",
                            id:"streetAddress",
                            required:true,
                            placeholder:"Post/Zip Code",
                            list: false,
                            countryImg:"icon-checkout-singapore-30-20.svg",
                            countryName:"Singapore",
                            tooltipMsg:false,
                        },
                        {
                            type:"searchAddress",
                            label:"Post/Zip Code",
                            id:"streetAddress-list",
                            required:true,
                            placeholder:"Post/Zip Code",
                            value:'S',
                            list: [
                                '438452 S S Balbir Bros, 35 Jalan Nuri, Singapore',
                                '010002 Lorem ipsum dolor sit amet, consectetur adipiscing elit',
                                '010003 ipsum dolor sit amet, consectetur adipiscing elit (10 more)',
                                '010004 ipsum dolor sit amet, consectetur adipiscing elit (20 more)',
                                '010005 ipsum dolor sit amet, consectetur adipiscing elit',
                            ],
                            countryImg:"icon-checkout-singapore-30-20.svg",
                            countryName:"Singapore",
                            tooltipMsg:false,
                        },
                        {
                            type:"text",
                            label:"Address Line 1",
                            id:"streetAddress1",
                            required:true,
                            placeholder:"Street, Address, Company Name",
                        },
                        {
                            type:"text",
                            label:"Address Line 2",
                            id:"streetAddress2",
                            required:false,
                            placeholder:"Apartment, Suit, Unit, Building, Floor, etc (Optional)",
                        },
                        {
                            type:"text",
                            label:"Country",
                            id:"country",
                            readonly: true,
                            placeholder:"SG",
                        },
                        {
                            type:"text",
                            label:"Any special request",
                            id:"request",
                        },
                        {
                            type:"checkbox",
                            label:false,
                            id:"taxpayerNumber",
                            required:false,
                            placeholder:false,
                            readonly: false,
                            text:'Same for billing address'
                        },
                    ])

                .button.buy-order-info-coupon__button
                    +defaultButton({name: "Save Address", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="save")

                // form bottom content area

        if(option === "before")
            .buy-checkout__item.before
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checkoutStep"
                })

        if(option === "complete")
            .buy-checkout__item.buy-checkout__item--delivery.buy-checkout__item--complete(style=`${country=='hide'?'display:none':''}`)
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checked",
                })
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Shipping"],
                                title:"Robert Surrency",
                                address:"8 Temasek boulevard #27-01 Suntec Tower 3, Singapore 038988",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Billing"],
                                title:"Robert Surrency",
                                address:"8 Temasek boulevard #27-01 Suntec Tower 3, Singapore 038988",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-orderd.c-checkout-orderd--confirm
                    .c-checkout-orderd__item.c-checkout-orderd__item--delivery
                        +checkoutOrderDeliveryProduct("Regular delivery", "Estimated to arrive within 3-5 working days", [
                            {
                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag) ...",
                                qty: "1",
                                price: "2,099.98",
                                unitPos: "left",
                                unitName: "$"
                            },
                        ])