include ../_common/_cart-price-total.pug
include ./CT0302-inc.pug

mixin CT0302(option=false, country=false)
    .CT0302
        if(option === "member")
            case country
                when 'eg_en'
                    .buy-checkout__item.buy-checkout__item--delivery
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"Sra, olti Ramos Perez 30, 801 Domiat, The new Mina of Damietta , 123",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Billing"],
                                        title:"Robert Surrency",
                                        address:"Sra, olti Ramos Perez 30, 801 Domiat, The new Mina of Damietta , 123",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        .buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix.buy-delivery-box__accordion-mix--error
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: '1',
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Delivery Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery01',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                        {
                                            type: 'Delivery Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery02',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Installation Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery03',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                        {
                                            type: 'Installation Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery04',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                    ])
                                    +deliveryAccodionRadio('Haulaway', false, [
                                        {
                                            type: 'Haulaway Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery05',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                        {
                                            type: 'Haulaway Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery06',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                    ])
                                    +deliveryBoxNoneAcc(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, [
                                        {
                                            selectDateAreaTitle : 'Delivery Time',
                                            selectDateCancel : false,
                                            type: 'Thu, Oct 18',
                                            id: 'delivery07',
                                            price:'',
                                            validList: [
                                                {
                                                    text: "Your Preferred delivery date may differ from actual delivery system's delivery date.",
                                                    tooltipBtn: false,
                                                },
                                                {
                                                    text: "The actual delivery time may vary under certain circumstances such as public holidays, severe weather conditions, failed delivery attempts etc.",
                                                    tooltipBtn: false,
                                                }
                                            ]
                                        },
                                    ])
                            +toastPopup([
                                {
                                    type: "error",
                                    text: 'The items(s) are not available for shipping in your area. Please change delivery options',
                                    remove: true,
                                },
                            ])

                        .buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: '1',
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Delivery Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery08',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                        {
                                            type: 'Delivery Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery09',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Installation Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery10',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                        {
                                            type: 'Installation Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery11',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                    ])
                                    +deliveryAccodionRadio('Haulaway', false, [
                                        {
                                            type: 'Haulaway Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery12',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                        {
                                            type: 'Haulaway Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery13',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Arrival within 3 - 5 days',
                                        descList: [
                                            {
                                                text: "Your Preferred delivery date may differ from actual delivery system's delivery date.",
                                            }
                                        ],
                                        
                                    })

                        .buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: '1',
                                            },
                                            {
                                                title: "LG Soundbar SP8YAV",
                                                qty: '1',
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Delivery Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery14',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                        {
                                            type: 'Delivery Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery15',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Installation Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery16',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                        {
                                            type: 'Installation Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery17',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                    ])
                                    +deliveryAccodionRadio('Haulaway', false, [
                                        {
                                            type: 'Haulaway Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery18',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                        {
                                            type: 'Haulaway Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery19',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                    ])
                                    +deliveryBoxNoneAcc(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, [
                                        {
                                            selectDateAreaTitle : 'Delivery Time',
                                            selectDateCancel : false,
                                            type: 'Thu, Oct 18',
                                            id: 'delivery20',
                                            price:'',
                                            validList: [
                                                {
                                                    text: "Your Preferred delivery date may differ from actual delivery system's delivery date.",
                                                    tooltipBtn: false,
                                                },
                                                {
                                                    text: "The actual delivery time may vary under certain circumstances such as public holidays, severe weather conditions, failed delivery attempts etc.",
                                                    tooltipBtn: false,
                                                }
                                            ]
                                        },
                                    ])

                        .buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "OLED65C25LB.AEU + SP9YA",
                                                qty: '1',
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Delivery Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery21',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                        {
                                            type: 'Delivery Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery22',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Installation Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery23',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                        {
                                            type: 'Installation Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery24',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                    ])
                                    +deliveryAccodionRadio('Haulaway', false, [
                                        {
                                            type: 'Haulaway Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery25',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                        {
                                            type: 'Haulaway Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery26',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                    ])
                                    +deliveryBoxNoneAcc(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, [
                                        {
                                            selectDateAreaTitle : 'Delivery Time',
                                            selectDateCancel : false,
                                            type: 'Thu, Oct 18',
                                            id: 'delivery27',
                                            price:'',
                                            validList: [
                                                {
                                                    text: "Your Preferred delivery date may differ from actual delivery system's delivery date.",
                                                    tooltipBtn: false,
                                                },
                                                {
                                                    text: "The actual delivery time may vary under certain circumstances such as public holidays, severe weather conditions, failed delivery attempts etc.",
                                                    tooltipBtn: false,
                                                }
                                            ]
                                        },
                                    ])

                        .buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG Soundbar SP8YAV",
                                                qty: '1',
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Delivery Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery28',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                        {
                                            type: 'Delivery Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery29',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Installation Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery30',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                        {
                                            type: 'Installation Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery31',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                    ])
                                    +deliveryAccodionRadio('Haulaway', false, [
                                        {
                                            type: 'Haulaway Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery32',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                        {
                                            type: 'Haulaway Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery33',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                    ])
                                    +deliveryBoxNoneAcc(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, [
                                        {
                                            selectDateAreaTitle : 'Delivery Time',
                                            selectDateCancel : false,
                                            type: 'Thu, Oct 18',
                                            id: 'delivery34',
                                            price:'',
                                            validList: [
                                                {
                                                    text: "Your Preferred delivery date may differ from actual delivery system's delivery date.",
                                                    tooltipBtn: false,
                                                },
                                                {
                                                    text: "The actual delivery time may vary under certain circumstances such as public holidays, severe weather conditions, failed delivery attempts etc.",
                                                    tooltipBtn: false,
                                                }
                                            ]
                                        },
                                    ])
                        //- air conditiners products case
                        .buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: '1',
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Delivery Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery35',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                        {
                                            type: 'Delivery Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery36',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Installation Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery37',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                        {
                                            type: 'Installation Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery38',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                    ])
                                    +deliveryAccodionRadio('Haulaway', false, [
                                        {
                                            type: 'Haulaway Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery39',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                        {
                                            type: 'Haulaway Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery40',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                    ])
                                    +deliveryBoxNoneAcc(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, [
                                        {
                                            selectDateAreaTitle : 'Delivery Time',
                                            selectDateCancel : false,
                                            type: 'Thu, Oct 18',
                                            id: 'delivery41',
                                            price:'',
                                            validList: [
                                                {
                                                    text: "Your Preferred delivery date may differ from actual delivery system's delivery date.",
                                                    tooltipBtn: false,
                                                },
                                                {
                                                    text: "The actual delivery time may vary under certain circumstances such as public holidays, severe weather conditions, failed delivery attempts etc.",
                                                    tooltipBtn: false,
                                                },
                                                {
                                                    text: `Free delivery and installation are available includes 3m pipes and cantilever, any other service or spare parts of installation are available with extra fees. Please <a class="cmp-button c-button c-button--text-underline default m-small w-small" href="https://www.lg.com/eg_en/support/telephone" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">contact us</span></a> for more information.`,
                                                    tooltipBtn: false,
                                                }
                                            ]
                                        },
                                    ])

                        .buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: '1',
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Delivery Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery42',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                        {
                                            type: 'Delivery Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery43',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Installation Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery44',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                        {
                                            type: 'Installation Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery45',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                    ])
                                    +deliveryAccodionRadio('Haulaway', false, [
                                        {
                                            type: 'Haulaway Option 1',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery46',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                        {
                                            type: 'Haulaway Option 2',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery47',
                                            price:'0.00',
                                            unitPos: 'left',
                                            unitName: 'EGP ',
                                        },
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Arrival within 3 - 5 days',
                                        descList: [
                                            {
                                                text: "Your Preferred delivery date may differ from actual delivery system's delivery date.",
                                            },
                                            {
                                                text: `Free delivery and installation are available includes 3m pipes and cantilever, any other service or spare parts of installation are available with extra fees. Please <a class="cmp-button c-button c-button--text-underline default m-small w-small" href="https://www.lg.com/eg_en/support/telephone" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">contact us</span></a> for more information.`,
                                            }
                                        ],
                                        
                                    })

                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")
                default 
                    .buy-checkout__item.buy-checkout__item--delivery
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +formCheckbox('Receive order status notification from LG.com via SMS', "name", "val1", "checkId1", count="false", false)
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        //- [Start] 2023-04-18 : ADD - Delivery Error case
                        // [Start]2023.07.19 UPDATE - error case markup
                        //- .buy-delivery-box--error
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], "error", false, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery60',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery62',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: '11111111111',
                                id: 'delivery63',
                                price:'£25.00',
                            },
                        ])
                        // [End]2023.07.19 UPDATE - error case markup
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change delivery options',
                                remove: true,
                            },
                        ])
                        //- [End] 2023-04-18 : ADD - Delivery Error case
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery64',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery65',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: '11111111111',
                                id: 'delivery66',
                                price:'£25.00',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'complete', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'edit', false, false, [
                            {
                                type: 'Delivery Only',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery67',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery68',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery69',
                                price:'£25.00',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV", "LG Soundbar SP8YAV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG Soundbar SP8YA"], 'only', false, false, false, [
                            {
                                type: 'Delivery Only',
                            },
                        ])
                        +radioDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"],'complete',[
                            {
                                type: 'Home Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery70',
                                price:'£25.00',
                            }
                        ])
                        +deliveryBox(["LG Soundbar SP8YA"], 'only', false, false, [
                            {
                                type: 'Delivery Only',
                                warn: 'The delivery time is different for each shipping company.',
                            },
                        ])
                        +radioDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"],false,[
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery71',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery72',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount ',
                                tooltipMsg: '11111111111',
                                id: 'delivery73',
                                price:'£25.00',
                            }
                        ])
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")

            +CT0302("complete",'hide')

        if(option === "guest")
            .buy-checkout__item.buy-checkout__item--delivery
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "active"
                })
                .c-checkout-step02.c-checkout-step02-form
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Shipping
                    // [Start] 2023-06-12 : ADD - number-text
                    +myInputForm([
                        {
                            type:"text",
                            label:"First Name",
                            id:"firstName",
                            required:false,
                            placeholder:"",
                            warning: ['First name is required.']
                        },
                        {
                            type:"text",
                            label:"Last Name",
                            id:"lastName",
                            required:false,
                            placeholder:"",
                            warning: ['Last name is required.']
                        },
                        {
                            type:"tel",
                            label:"Mobile Number (Without Country Code)",
                            id:"mobileNumber",
                            tooltipMsg:"For delivery question.",
                            required:false,
                            placeholder:"",
                            numberText: 'Your mobile number might be used to send tracking number.',
                        },
                        {
                            type:"text",
                            label:"VAT number",
                            id:"vatNumber",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"text",
                            label:"Personal ID Number",
                            id:"personalID",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"searchAddress",
                            label:"Street Address",
                            id:"streetAddress",
                            required:true,
                            addressClass:false,
                            clearCountry:true,
                            placeholder:"",
                            list: false,
                            tooltipMsg:false,
                            doubleInputNo: 2,
                        },
                        {
                            type:"searchAddress",
                            label:"Street Address",
                            id:"streetAddress-list-EG_EN",
                            required:true,
                            placeholder:"start with post/ Zip code or street",
                            list: false,
                            countryImg:"icon-checkout-egypt-30-20.svg",
                            countryName:"Change Country",
                            tooltipMsg:false,
                        },
                        {
                            type:"searchAddress",
                            label:"Street Address",
                            id:"streetAddress-list-EG_EN",
                            required:true,
                            placeholder:"01030",
                            list: [
                                '01001 1 Avenue Paul Ramadier (21 more)',
                                '01002 1 Chemin de Grimal (21 more)',
                                '01003 1 Avenue Paul Ramadier (21 more)',
                                '01003 1 Avenue Paul Ramadier (21 more)',
                                '01003 1 Avenue Paul Ramadier (21 more)',
                            ],
                            countryImg:"icon-checkout-egypt-30-20.svg",
                            countryName:"Change Country",
                            tooltipMsg:false,
                        },
                        {
                            type:"text",
                            label:"Postal Code",
                            id:"postalCode",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"select",
                            label:"Governorate",
                            id:"governorate",
                            value:"",
                            optionVal: ['Ain Sukhan', 'Ain Sukhan', 'Ain Sukhan', 'Ain Sukhan'],
                            placeholder:"",
                            required:true,
                        },
                        {
                            type:"select",
                            label:"City",
                            id:"city",
                            value:"",
                            optionVal: ['Ain Sukhan', 'Ain Sukhan', 'Ain Sukhan', 'Ain Sukhan'],
                            placeholder:"",
                            required:true,
                        },
                        {
                            type:"select",
                            label:"Country",
                            id:"country",
                            value:"",
                            optionVal: ['Egypt', 'Egypt', 'Egypt', 'Egypt'],
                            placeholder:"",
                            required:true,
                        },
                    ])

                .button.buy-order-info-coupon__button
                    +defaultButton({name: "Save Address", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="save")

                // form bottom content area
        
        if(option === "before")
            .buy-checkout__item.before
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checkoutStep"
                })

        if(option === "complete")
            .buy-checkout__item.buy-checkout__item--delivery.buy-checkout__item--complete(style=`${country=='hide'?'display:none':''}`)
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checked",
                })
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Shipping"],
                                title:"Robert Surrency",
                                address:"Sra, olti Ramos Perez 30, 801 Domiat, The new Mina of Damietta",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Billing"],
                                title:"Robert Surrency",
                                address:"Sra, olti Ramos Perez 30, 801 Domiat, The new Mina of Damietta",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-orderd.c-checkout-orderd--confirm
                    .c-checkout-orderd__item.c-checkout-orderd__item--delivery
                        +checkoutOrderDeliveryProduct("Delivery", "Arrival within 3 - 5 days", [
                            {
                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag) ...",
                                qty: "1",
                                price: "2,749.50",
                                unitPos: "left",
                                unitName: "EGP"
                            },
                        ])