include ../_common/_cart-price-total.pug
include ./CT0302-inc.pug

mixin CT0302(option=false, country=false)
    .CT0302
        if(option === "member")
            case country
                when 'jp'
                    .buy-checkout__item.buy-checkout__item--delivery
                        // de
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag:["Shipping"],
                                        title:"Robert Surrency",
                                        address:"2 Chome-1-8 Kyobashi, Chuo City, Tokyo 104-0031, Japan",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Billing"],
                                        title:"Robert Surrency",
                                        address:"2 Chome-1-8 Kyobashi, Chuo City, Tokyo 104-0031, Japan",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        //- 2023.07.17 
                        .buy-checkout__item--delivery-mix
                            details.buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: 1,
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Regular delivery',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery83',
                                            price:'250',
                                            unitPos: 'right',
                                            unitName: '￥',
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Basic Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery86',
                                            price:'50',
                                            unitPos: 'right',
                                            unitName: '￥',
                                        },
                                        {
                                            type: 'TV Wallmount',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery87',
                                            price:'50',
                                            unitPos: 'right',
                                            unitName: '￥',
                                        },
                                        {
                                            type: 'Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery88',
                                            price:'50',
                                            unitPos: 'right',
                                            unitName: '￥',
                                        },
                                    ])
                                    +deliveryAccodionRadio('Haulaway', false, [
                                        {
                                            type: 'Recycle service',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery134',
                                            price:'50',
                                            unitPos: 'right',
                                            unitName: '￥',
                                        },
                                        {
                                            type: 'A',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery134a',
                                            price:'50',
                                            unitPos: 'right',
                                            unitName: '￥',
                                        },
                                        {
                                            type: 'B',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery134b',
                                            price:'50',
                                            unitPos: 'right',
                                            unitName: '￥',
                                        },
                                    ])
                                    +deliveryBoxNoneAcc(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, [
                                        {
                                            selectDateAreaTitle : 'Delivery Time',
                                            selectDateCancel : false,
                                            type: 'Thu, Oct 18  All day',
                                            id: 'delivery76',
                                            price:'',
                                            validInfo: ['大型家電について：離島や山間部など一部地域では配送・設置を承れません。地域の詳細については、FAQをご覧下さい。']
                                        },
                                    ])

                            details(open).buy-delivery-box__accordion-mix.buy-delivery-box__accordion-mix--error
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: 1,
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Regular delivery',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery83-error',
                                            price:'250',
                                            unitPos: 'right',
                                            unitName: '￥',
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Basic Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery86-error',
                                            price:'50',
                                            unitPos: 'right',
                                            unitName: '￥',
                                        },
                                        {
                                            type: 'TV Wallmount',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery87-error',
                                            price:'50',
                                            unitPos: 'right',
                                            unitName: '￥',
                                        },
                                        {
                                            type: 'Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery88-error',
                                            price:'50',
                                            unitPos: 'right',
                                            unitName: '￥',
                                        },
                                    ])
                                    +deliveryAccodionRadio('Haulaway', false, [
                                        {
                                            type: 'Recycle service',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery134-error',
                                            price:'50',
                                            unitPos: 'right',
                                            unitName: '￥',
                                        },
                                        {
                                            type: 'A',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery134a-error',
                                            price:'50',
                                            unitPos: 'right',
                                            unitName: '￥',
                                        },
                                        {
                                            type: 'B',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery134b-error',
                                            price:'50',
                                            unitPos: 'right',
                                            unitName: '￥',
                                        },
                                    ])
                                    +deliveryBoxNoneAcc(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, [
                                        {
                                            selectDateAreaTitle : 'Delivery Time',
                                            selectDateCancel : false,
                                            type: 'Thu, Oct 18  All day',
                                            id: 'delivery76-error',
                                            price:'',
                                            validInfo: ['大型家電について：離島や山間部など一部地域では配送・設置を承れません。地域の詳細については、FAQをご覧下さい。']
                                        },
                                    ])
                            
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")

                when 'selectDateType-accordion-wrap-global'
                    // type accordion-wrap : global shipping module
                    .buy-checkout__item.buy-checkout__item--delivery 
                        .buy-checkout__item--delivery-mix
                            details.buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: 1,
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Regular delivery',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery83',
                                            price:'250',
                                            unitPos: 'right',
                                            unitName: '￥',
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Basic Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery86',
                                            price:'50',
                                            unitPos: 'right',
                                            unitName: '￥',
                                        },
                                        {
                                            type: 'TV Wallmount',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery87',
                                            price:'50',
                                            unitPos: 'right',
                                            unitName: '￥',
                                        },
                                        {
                                            type: 'Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery88',
                                            price:'50',
                                            unitPos: 'right',
                                            unitName: '￥',
                                        },
                                    ])
                                    +deliveryAccodionRadio('Haulaway', false, [
                                        {
                                            type: 'Recycle service',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery134',
                                            price:'50',
                                            unitPos: 'right',
                                            unitName: '￥',
                                        },
                                        {
                                            type: 'A',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery134a',
                                            price:'50',
                                            unitPos: 'right',
                                            unitName: '￥',
                                        },
                                        {
                                            type: 'B',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery134b',
                                            price:'50',
                                            unitPos: 'right',
                                            unitName: '￥',
                                        },
                                    ])
                                    +deliveryBoxNoneAcc(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, [
                                        {
                                            selectDateAreaTitle : 'Delivery Time',
                                            selectDateCancel : false,
                                            type: 'Thu, Oct 18  All day',
                                            id: 'delivery76',
                                            price:'',
                                            validInfo: ['大型家電について：離島や山間部など一部地域では配送・設置を承れません。地域の詳細については、FAQをご覧下さい。']
                                        },
                                    ])

                            details(open).buy-delivery-box__accordion-mix.buy-delivery-box__accordion-mix--error
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: 1,
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Regular delivery',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery83-error',
                                            price:'250',
                                            unitPos: 'right',
                                            unitName: '￥',
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Basic Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery86-error',
                                            price:'50',
                                            unitPos: 'right',
                                            unitName: '￥',
                                        },
                                        {
                                            type: 'TV Wallmount',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery87-error',
                                            price:'50',
                                            unitPos: 'right',
                                            unitName: '￥',
                                        },
                                        {
                                            type: 'Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery88-error',
                                            price:'50',
                                            unitPos: 'right',
                                            unitName: '￥',
                                        },
                                    ])
                                    +deliveryAccodionRadio('Haulaway', false, [
                                        {
                                            type: 'Recycle service',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery134-error',
                                            price:'50',
                                            unitPos: 'right',
                                            unitName: '￥',
                                        },
                                        {
                                            type: 'A',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery134a-error',
                                            price:'50',
                                            unitPos: 'right',
                                            unitName: '￥',
                                        },
                                        {
                                            type: 'B',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery134b-error',
                                            price:'50',
                                            unitPos: 'right',
                                            unitName: '￥',
                                        },
                                    ])
                                    +deliveryBoxNoneAcc(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, [
                                        {
                                            selectDateAreaTitle : 'Delivery Time',
                                            selectDateCancel : false,
                                            type: 'Thu, Oct 18  All day',
                                            id: 'delivery76-error',
                                            price:'',
                                            validInfo: ['大型家電について：離島や山間部など一部地域では配送・設置を承れません。地域の詳細については、FAQをご覧下さい。']
                                        },
                                    ])
                            
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")

                when 'DeliveryOptionComplete'
                    // Delivery Option Complete
                    .buy-checkout__item.buy-checkout__item--delivery
                        // pl
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                            },
                        ])
                        // pl
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                notEdit: true,
                                price: '0,00 zł',
                            },
                        ])
                        // pe
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                                descListDot: ['Para pedidos realizados antes de las 11 am, lo estaremos contactando para realizar la entrega el día hábil siguiente.'],
                            },
                        ])
                
                default 
                    .buy-checkout__item.buy-checkout__item--delivery
                    
            +CT0302("complete",'hide')

        if(option === "guest")
            .buy-checkout__item.buy-checkout__item--delivery
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "active"
                })
                .c-checkout-step02.c-checkout-step02-form
                    // [Start] 2023-06-02 : UPDATE- change messages
                    p.c-checkout-step01-prevention 配送は日本国内に限らせていただきます
                    // [End] 2023-06-02 : UPDATE- change messages
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Shipping
                    // [Start] 2023-06-12 : ADD - number-text
                    +myInputForm([
                        {
                            type:"text",
                            label:"氏名",
                            id:"name",
                            required:false,
                            placeholder:"山田",
                        },
                        {
                            type:"text",
                            label:false,
                            id:"name2",
                            required:false,
                            placeholder:"花子",
                        },
                        {
                            type:"text",
                            label:"フリガナ",
                            id:"lastName",
                            required:false,
                            placeholder:"ヤマダ",
                        },
                        {
                            type:"text",
                            label:false,
                            id:"lastName2",
                            required:false,
                            placeholder:"ハナコ",
                        },
                        {
                            type:"text",
                            label:"郵便番号",
                            id:"postcode",
                            required:false,
                            placeholder:"1048301(半角ハイフンなし)",
                            button: '郵便番号から住所を自動入力',
                            outlink: "郵便番号検索",
                        },
                        {
                            type:"text",
                            label:"住所",
                            id:"address",
                            required:false,
                            placeholder:"東京都(都・道・府・県) 中央区(市・区・町・村) 京橋2-1-3(丁目・番地・号)",
                        },
                        {
                            type:"text",
                            label:false,
                            id:"address4",
                            required:false,
                            placeholder:"LGタワー15F (建物名・部屋番号)",
                        },
                        {
                            type:"tel",
                            label:"電話番号",
                            id:"mobileNumber",
                            tooltipMsg:false,
                            required:false,
                            placeholder:"05031883900",
                            check: ["Same for billing address"]
                        },
                    ])

                .button.buy-order-info-coupon__button
                    +defaultButton({name: "Save Address", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="save")

                // form bottom content area
        
        if(option === "before")
            .buy-checkout__item.before
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checkoutStep"
                })

        if(option === "complete")
            .buy-checkout__item.buy-checkout__item--delivery.buy-checkout__item--complete(style=`${country=='hide'?'display:none':''}`)
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checked",
                })
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag:["Shipping"],
                                title:"Robert Surrency",
                                address:"2 Chome-1-8 Kyobashi, Chuo City, Tokyo 104-0031, Japan",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-step02.c-checkout-step02--warn
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Billing"],
                                title:"Robert Surrency",
                                address:"2 Chome-1-8 Kyobashi, Chuo City, Tokyo 104-0031, Japan",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-orderd.c-checkout-orderd--confirm
                    .c-checkout-orderd__item.c-checkout-orderd__item--delivery
                        +checkoutOrderDeliveryProduct("Delivery & Installation", "Delivery time 3 ~ 5 working days", [
                            {
                                title: "LG OLED evo Gallery Edition G2 55'' 4K Smart TV",
                                qty: "1",
                                price: "2,099.98",
                                unitPos: "right",
                                unitName: "￥"
                            },
                        ])
                p.font-w-normal-14.font-m-normal-14.c-checkout-orderd__message 対象商品、数量等の変更はブラウザーの「戻る」ボタンを押して以前の画面に戻り変更してください。       
