include ../_common/_cart-price-total.pug
include ./CT0302-inc.pug

mixin CT0302(option=false, country=false)
    .CT0302
        if(option === "member")
            case country 
                when "za"
                    .buy-checkout__item.buy-checkout__item--delivery
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"1757  Langley St, Uniondale, Western Cape, 6466, South Africa",
                                        num:"012-345-6789",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Billing"],
                                        title:"Robert Surrency",
                                        address:"1757  Langley St, Uniondale, Western Cape, 6466, South Africa",
                                        num:"012-345-6789",
                                        type: "",
                                    },
                                ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        .buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix.buy-delivery-box__accordion-mix--error
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: '1',
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +accCheckDeliveryBox(false, 'unavailable', true, [
                                        {
                                            type: 'Delivery',
                                            id: 'delivery1-za',
                                            nameId: 'delivery1',
                                            checked: false,
                                            infoDesc: false,
                                            price:'0.00',
                                            useUnitPos: true,
                                            unitPos: 'left',
                                            unitName: 'R ',
                                        }
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionCheck('Installation', false, [
                                        {
                                            type: 'Premium Installation (Bracket not included)',
                                            tooltipMsg: false,
                                            id: 'delivery2-za',
                                            price:'0.00',
                                            useUnitPos: true,
                                            unitPos: 'left',
                                            unitName: 'R ',
                                        },
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Delivery within 3~5 working days',
                                        desc:'Remote areas 5~7 working days',
                                    })
                            +toastPopup([
                                {
                                    type: "error",
                                    text: 'The items(s) are not available for shipping in your area. Please change delivery options',
                                    remove: true,
                                },
                            ])
                        .buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: '1',
                                            },
                                        ])
                                .c-accordion-mix__body
                                    .c-accordion-mix__body
                                        +deliveryBoxSubTitle({
                                            boxTitle : 'Delivery Method',
                                            tooltip: false,
                                        })
                                        +accCheckDeliveryBox(false, 'unavailable', true, [
                                            {
                                                type: 'Delivery',
                                                id: 'delivery3-za',
                                                nameId: 'delivery3',
                                                checked: false,
                                                infoDesc: false,
                                                price:'0.00',
                                                useUnitPos: true,
                                                unitPos: 'left',
                                                unitName: 'R ',
                                            }
                                        ])
                                        +deliveryBoxSubTitle({
                                            boxTitle : 'Additional Services',
                                            tooltip: false,
                                        })
                                        +deliveryAccodionCheck('Installation', false, [
                                            {
                                                type: 'Installation[Plumbing not included]',
                                                tooltipMsg: false,
                                                id: 'delivery4-za',
                                                price:'0.00',
                                                useUnitPos: true,
                                                unitPos: 'left',
                                                unitName: 'R ',
                                            },
                                        ])
                                        +deliverySelectDateComplete({
                                            title:'Delivery Time',
                                            text:'Delivery within 3~5 working days',
                                            desc:'Remote areas 5~7 working days',
                                        })
                        .buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: '1',
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                            boxTitle : 'Delivery Method',
                                            tooltip: false,
                                        })
                                    +accCheckDeliveryBox(false, 'unavailable', true, [
                                        {
                                            type: 'Delivery',
                                            id: 'delivery5-za',
                                            nameId: 'delivery5',
                                            checked: false,
                                            infoDesc: false,
                                            price:'0.00',
                                            useUnitPos: true,
                                            unitPos: 'left',
                                            unitName: 'R ',
                                        }
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionCheck('Installation', false, [
                                        {
                                            type: 'Installation',
                                            tooltipMsg: false,
                                            id: 'delivery6-za',
                                            price:'0.00',
                                            useUnitPos: true,
                                            unitPos: 'left',
                                            unitName: 'R ',
                                        },
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Delivery within 3~5 working days',
                                        desc:'Remote areas 5~7 working days',
                                    })
                        .buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: '1',
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                            boxTitle : 'Delivery Method',
                                            tooltip: false,
                                        })
                                    +accCheckDeliveryBox(false, 'unavailable', true, [
                                        {
                                            type: 'Delivery',
                                            id: 'delivery7-za',
                                            nameId: 'delivery7',
                                            checked: false,
                                            infoDesc: false,
                                            price:'0.00',
                                            useUnitPos: true,
                                            unitPos: 'left',
                                            unitName: 'R ',
                                        }
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionCheck('Installation', false, [
                                        {
                                            type: 'Installation[up to 10ft only]',
                                            tooltipMsg: false,
                                            id: 'delivery8-za',
                                            price:'0.00',
                                            useUnitPos: true,
                                            unitPos: 'left',
                                            unitName: 'R ',
                                        },
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Delivery within 3~5 working days',
                                        desc:'Remote areas 5~7 working days',
                                    })
                        .buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: '1',
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                            boxTitle : 'Delivery Method',
                                            tooltip: false,
                                        })
                                    +accCheckDeliveryBox(false, 'unavailable', true, [
                                        {
                                            type: 'Delivery',
                                            id: 'delivery9-za',
                                            nameId: 'delivery9',
                                            checked: false,
                                            infoDesc: false,
                                            price:'0.00',
                                            useUnitPos: true,
                                            unitPos: 'left',
                                            unitName: 'R ',
                                        }
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Delivery within 3~5 working days',
                                        desc:'Remote areas 5~7 working days',
                                        warning: ['Regrettably installation services are not available in your region currently. Product purchase is still possible.'],
                                    })
                        .buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: '1',
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                            boxTitle : 'Delivery Method',
                                            tooltip: false,
                                        })
                                    +accCheckDeliveryBox(false, 'unavailable', true, [
                                        {
                                            type: 'Delivery',
                                            id: 'delivery16-za',
                                            nameId: 'delivery16',
                                            checked: false,
                                            infoDesc: false,
                                            price:'0.00',
                                            useUnitPos: true,
                                            unitPos: 'left',
                                            unitName: 'R ',
                                        }
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Delivery within 3~5 working days',
                                        desc:'Remote areas 5~7 working days',
                                    })
                        .buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: '1',
                                            },
                                            {
                                                title: "LG Soundbar SP8YAV",
                                                qty: '1',
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                            boxTitle : 'Delivery Method',
                                            tooltip: false,
                                        })
                                    +accCheckDeliveryBox(false, 'unavailable', true, [
                                        {
                                            type: 'Delivery',
                                            id: 'delivery10-za',
                                            nameId: 'delivery10',
                                            checked: false,
                                            infoDesc: false,
                                            price:'0.00',
                                            useUnitPos: true,
                                            unitPos: 'left',
                                            unitName: 'R ',
                                        }
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionCheck('Installation', false, [
                                        {
                                            type: 'Premium Installation (Bracket not included)',
                                            tooltipMsg: false,
                                            id: 'delivery11-za',
                                            price:'0.00',
                                            useUnitPos: true,
                                            unitPos: 'left',
                                            unitName: 'R ',
                                        },
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Delivery within 3~5 working days',
                                        desc:'Remote areas 5~7 working days',
                                    })
                        .buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "OLED65C25LB.AEU + SP9YA",
                                                qty: '1',
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                            boxTitle : 'Delivery Method',
                                            tooltip: false,
                                        })
                                    +accCheckDeliveryBox(false, 'unavailable', true, [
                                        {
                                            type: 'Delivery',
                                            id: 'delivery12-za',
                                            nameId: 'delivery12',
                                            checked: false,
                                            infoDesc: false,
                                            price:'0.00',
                                            useUnitPos: true,
                                            unitPos: 'left',
                                            unitName: 'R ',
                                        }
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionCheck('Installation', false, [
                                        {
                                            type: 'Premium Installation (Bracket not included)',
                                            tooltipMsg: false,
                                            id: 'delivery13-za',
                                            price:'0.00',
                                            useUnitPos: true,
                                            unitPos: 'left',
                                            unitName: 'R ',
                                        },
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Delivery within 3~5 working days',
                                        desc:'Remote areas 5~7 working days',
                                    })
                        .buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG Soundbar SP8YAV",
                                                qty: '1',
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                            boxTitle : 'Delivery Method',
                                            tooltip: false,
                                        })
                                    +accCheckDeliveryBox(false, 'unavailable', true, [
                                        {
                                            type: 'Delivery',
                                            id: 'delivery14-za',
                                            nameId: 'delivery14',
                                            checked: false,
                                            infoDesc: false,
                                            price:'0.00',
                                            useUnitPos: true,
                                            unitPos: 'left',
                                            unitName: 'R ',
                                        }
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionCheck('Installation', false, [
                                        {
                                            type: 'Premium Installation (Bracket not included)',
                                            tooltipMsg: false,
                                            id: 'delivery15-za',
                                            price:'0.00',
                                            useUnitPos: true,
                                            unitPos: 'left',
                                            unitName: 'R ',
                                        },
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Delivery within 3~5 working days',
                                        desc:'Remote areas 5~7 working days',
                                    })
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")
                default 
                    .buy-checkout__item.buy-checkout__item--delivery
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag:["Shipping"],
                                        title:"Robert Surrency",
                                        address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag:["Shipping"],
                                        title:"Robert Surrency",
                                        address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +formCheckbox('Receive order status notification from LG.com via SMS', "name", "val1", "checkId1", count="false", false)
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        //- [Start] 2023.07.19 UPDATE - error case markup
                        //- .buy-delivery-box--error
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], "error", false, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery60',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery62',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: '11111111111',
                                id: 'delivery63',
                                price:'£25.00',
                            },
                        ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change delivery options',
                                remove: true,
                            },
                        ])
                        //- [End] 2023.07.19 UPDATE - error case markup
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery64',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery65',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: '11111111111',
                                id: 'delivery66',
                                price:'£25.00',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'complete', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'edit', false, false, [
                            {
                                type: 'Delivery Only',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery67',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery68',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery69',
                                price:'£25.00',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV", "LG Soundbar SP8YAV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG Soundbar SP8YA"], 'only', false, false, false, [
                            {
                                type: 'Delivery Only',
                            },
                        ])
                        +radioDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"],'complete',[
                            {
                                type: 'Home Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery70',
                                price:'£25.00',
                            }
                        ])
                        +deliveryBox(["LG Soundbar SP8YA"], 'only', false, false, [
                            {
                                type: 'Delivery Only',
                                warn: 'The delivery time is different for each shipping company.',
                            },
                        ])
                        +radioDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"],false,[
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery71',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery72',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount ',
                                tooltipMsg: '11111111111',
                                id: 'delivery73',
                                price:'£25.00',
                            }
                        ])
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")

            +CT0302("complete",'hide')

        if(option === "guest")
            .buy-checkout__item.buy-checkout__item--delivery
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "active"
                })
                .c-checkout-step02.c-checkout-step02-form
                    //- .c-checkout-step02__infoTitle
                    //-     p.fontfont-w-normal-16.fontfont-m-normal-14 For orders placed through the LG Online Shop, delivery within UK mainland territory is available only.​
                    //- // [Start] 2023-06-02 : UPDATE- change messages
                    //- p.c-checkout-step01-prevention Delivery limited to UK mainland only on orders placed via the LG online store
                    //- // [End] 2023-06-02 : UPDATE- change messages
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Shipping
                    // [Start] 2023-06-12 : ADD - number-text
                    +myInputForm([
                        {
                            type:"text",
                            label:"First Name",
                            id:"firstName",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"text",
                            label:"Last Name",
                            id:"lastName",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"tel",
                            label:"Mobile Number",
                            id:"mobileNumber",
                            tooltipMsg:false,
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"select",
                            label:"TV License validation Type",
                            id:"TVLicenseValidationType",
                            value:"",
                            optionVal: ['', '', ''],
                            placeholder:"",
                            required:false,
                        },
                        {
                            type:"text",
                            label:"Account Number/ID Number",
                            id:"accountNumIDType",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"searchAddressGoogle",
                            label:"Street Address",
                            id:"address1",
                            tooltipMsg:false,
                            required:false,
                        },
                        {
                            type:"text",
                            label:"Complex/Building",
                            id:"complexBuilding",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"select",
                            label:"Suburb",
                            id:"suburb",
                            optionVal: ['', '', ''],
                            placeholder:"",
                            required:false,
                        },
                        {
                            type:"select",
                            label:"City/Town",
                            id:"city",
                            optionVal: ['', '', ''],
                            placeholder:"",
                            required:false,
                        },
                        {
                            type:"select",
                            label:"Province",
                            id:"province",
                            optionVal: ['', '', ''],
                            placeholder:"",
                            required:false,
                        },
                        {
                            type:"text",
                            label:"Postal Code",
                            id:"postalCode",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"text",
                            label:"Countrty",
                            id:"postalCode",
                            required:false,
                            placeholder:"South Africa",
                            readonly: true,
                        },
                        
                        {
                            type:"checkbox",
                            label:false,
                            id:"sameAddress",
                            required:false,
                            placeholder:false,
                            text:'Same for billing address'
                        },
                    ])
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Shipping
                    // [Start] 2023-06-12 : ADD - number-text
                    +myInputForm([
                        {
                            type:"text",
                            label:"First Name",
                            id:"firstName",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"text",
                            label:"Last Name",
                            id:"lastName",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"tel",
                            label:"Mobile Number",
                            id:"mobileNumber",
                            tooltipMsg:false,
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"searchAddressGoogle",
                            label:"Street Address",
                            id:"address1",
                            tooltipMsg:false,
                            required:false,
                        },
                        {
                            type:"text",
                            label:"Complex/Building",
                            id:"complexBuilding",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"select",
                            label:"Suburb",
                            id:"suburb",
                            optionVal: ['', '', ''],
                            placeholder:"",
                            required:false,
                        },
                        {
                            type:"select",
                            label:"City/Town",
                            id:"city",
                            optionVal: ['', '', ''],
                            placeholder:"",
                            required:false,
                        },
                        {
                            type:"select",
                            label:"Province",
                            id:"province",
                            optionVal: ['', '', ''],
                            placeholder:"",
                            required:false,
                        },
                        {
                            type:"text",
                            label:"Postal Code",
                            id:"postalCode",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"text",
                            label:"Countrty",
                            id:"postalCode",
                            required:false,
                            placeholder:"South Africa",
                            readonly: true,
                        },
                        
                        {
                            type:"checkbox",
                            label:false,
                            id:"sameAddress",
                            required:false,
                            placeholder:false,
                            text:'Same for billing address'
                        },
                    ])
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Billing
                    // [Start] 2023-06-12 : ADD - number-text
                    +myInputForm([
                        {
                            type:"text",
                            label:"First Name",
                            id:"firstName",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"text",
                            label:"Last Name",
                            id:"lastName",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"tel",
                            label:"Mobile Number",
                            id:"mobileNumber",
                            tooltipMsg:false,
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"searchAddressGoogle",
                            label:"Street Address",
                            id:"address1",
                            tooltipMsg:false,
                            required:false,
                        },
                        {
                            type:"text",
                            label:"Complex/Building",
                            id:"complexBuilding",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"text",
                            label:"Suburb",
                            id:"suburb",
                            placeholder:"",
                            required:false,
                        },
                        {
                            type:"text",
                            label:"City/Town",
                            id:"city",
                            placeholder:"",
                            required:false,
                        },
                        {
                            type:"text",
                            label:"Province",
                            id:"province",
                            placeholder:"",
                            required:false,
                        },
                        {
                            type:"text",
                            label:"Postal Code",
                            id:"postalCode",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"text",
                            label:"Countrty",
                            id:"postalCode",
                            required:false,
                            placeholder:"South Africa",
                            readonly: true,
                        },
                        
                        {
                            type:"checkbox",
                            label:false,
                            id:"sameAddress",
                            required:false,
                            placeholder:false,
                            text:'Same for billing address'
                        },
                    ])

                .button.buy-order-info-coupon__button
                    +defaultButton({name: "Save Address", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="save")

                // form bottom content area

        if(option === "before")
            .buy-checkout__item.before
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checkoutStep"
                })

        if(option === "complete")
            .buy-checkout__item.buy-checkout__item--delivery.buy-checkout__item--complete(style=`${country=='hide'?'display:none':''}`)
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checked",
                })
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Shipping"],
                                title:"Robert Surrency",
                                address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Billing"],
                                title:"Sucre",
                                address:"Via dei SS. Quattro, 66, 00184 Roma RM, Italia",
                                num:"123-4567-8910",
                                type: "",
                                useBillingData: true,
                                billingFlag: "Tax Info",
                                biilingType: "Personal",
                                callPopupId: "#popTaxInfo",
                            }
                        ])
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Billing"],
                                title:"Lincoln",
                                address:"Via dei SS. Quattro, 66, 00184 Roma RM, Italia",
                                num:"123-4567-8910",
                                type: "",
                                useBillingData: true,
                                billingFlag: "Tax Info",
                                biilingType: "Company",
                                callPopupId: "#popSelectTaxType",
                            }
                        ])
                .c-checkout-orderd.c-checkout-orderd--confirm
                    .c-checkout-orderd__item.c-checkout-orderd__item--delivery
                        +checkoutOrderDeliveryProduct("Delivery & Installation", "Thu, Oct 18  07:00~19:00", [
                            {
                                title: "LG OLED evo Gallery Edition G2 55'' 4K Smart TV",
                                qty: "1",
                                price: "2,099.98",
                                unitPos: "right",
                                unitName: " zł"
                            },
                        ])
                .c-checkout-orderd.c-checkout-orderd--confirm
                    .c-checkout-orderd__item.c-checkout-orderd__item--delivery
                        +checkoutOrderDeliveryProduct("Delivery & Installation", "Thu, Oct 18  All day", [
                            {
                                title: "LG OLED evo Gallery Edition G2 55'' 4K Smart TV",
                                qty: "1",
                                price: "2,099.98",
                                unitPos: "sup",
                                dateColor: "red"
                            },
                        ])
                // au
                .c-checkout-orderd.c-checkout-orderd--confirm
                    .c-checkout-orderd__item.c-checkout-orderd__item--delivery
                        +checkoutOrderDeliveryProduct("DHL", "", [
                            {
                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                qty: "1",
                                price: "2,099.98",
                                unitPos: "left",
                                unitName: "$"
                            },
                        ])
                // [Start] 2023-09-13 : ADD- Includes $15 EHF fee
                .c-checkout-orderd.c-checkout-orderd--confirm
                    .c-checkout-orderd__item.c-checkout-orderd__item--delivery
                        +checkoutOrderDeliveryProduct("DHL", "", [
                            {
                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                qty: "1",
                                price: "2,099.98",
                                unitPos: "left",
                                unitName: "$",
                                includeEHF: "Includes $15 EHF fee",
                            },
                        ])
                // [End] 2023-09-13 : ADD- Includes $15 EHF fee