@charset "UTF-8";
@use '../../scss/abstract/' as *;

$parentComponent: '.CT000C';
$component: '.CT0301';
#{$parentComponent} {
  #{$component} {
    $mycomponent: '.my-component';
    .c-checkbox-item .label {
      font-size: rem(14px);
    }
    .my-input {
      ul {
        @include reset-list-style;
        @include screen(mobile) {
          gap: rem(20px);
        }
        li {
          @include screen(mobile) {
            width: 100%;
          }
        }
        li + li {
          margin-top: rem($margin20px);
          @include screen(web) {
            margin-top: rem($margin44px);
          }
        }
        .c-input-item {
          position: relative;
          label {
            color: $black;
          }
          &.active {
            .my-form__eye {
              background: url($icon-mylg-view-on-24-24) center / contain no-repeat;
            }
          }
          & + .c-checkbox-item {
            @include screen(mobile) {
              margin-top: rem($margin20px);
            }
          }
        }
      }
      input {
        height: auto;
        color: $mid-gray2;
        font-size: rem(16px);
        line-height: rem(20px);
        border-radius: rem(12px);
        border: rem($border1) solid $mid-gray1;
        padding: rem($padding12px) rem($padding13px);
        @include screen(web) {
          max-height: rem(44px);
        }
        &[data-placeholder]::before {
          color: $gray6;
          font-size: rem(14px);
        }
        &[readonly] {
          background-color: $ivory6;
          &::placeholder {
            color: $grayb;
          }
        }
        &[disabled] {
          background-color: $ivory6;
          &::placeholder {
            color: $grayb;
          }
        }
      }
      .c-checkbox-item {
        margin-top: rem($margin8px);
        .label {
          font-size: rem(14px);
        }
      }
      .button {
        justify-content: center;
        margin-top: rem($margin30px);
      }
      .my-warn {
        border-color: $active-red !important;
        select {
          border-color: $active-red;
        }
      }
      .c-search-box__form.my-warn {
        padding-right: 0;
      }
      .input-button__container {
        @include screen(web) {
          display: flex;
          gap: 0 rem(6px);
        }
        .button {
          @include screen(web) {
            margin: 0;
            .cmp-button {
              min-width: 0;
              min-height: rem(44px);
            }
          }
          @include screen(mobile) {
            margin-top: rem($margin16px);
            .cmp-button {
              font-size: rem(16px);
            }
          }
        }
        &--validation {
          .my-button-validation {
            @include screen(mobile) {
              padding: rem($padding20px) rem($padding16px);
              border-radius: rem(12px);
              background-color: $white;
            }
            flex: 1;
            .c-warning {
              font-size: rem(12px);
              line-height: rem(14px);
              padding-left: rem($padding7px);
              margin-top: rem($margin4px);
              @include screen(web) {
                margin-top: rem($margin6px);
                font-size: rem(14px);
                line-height: rem(16px);
                padding-left: rem($padding13px);
              }
            }
          }
        }
      }
      .c-select-item select {
        color: $gray6;
        option[selected] {
          color: $gray3;
        }
      }
    }
    .buy-order-info-coupon {
      margin-top: rem($margin8px);
      @include screen(web) {
        margin-top: rem($margin16px);
      }
      .c-accordion {
        &__head {
          position: relative;
          &--empty {
            padding-bottom: 0 !important;
          }
        }
        &__button {
          position: absolute;
          top: 0;
          bottom: 0;
          // left: 0;
          right: 0;
          display: flex;
          justify-content: flex-end;
          width: 100%;
        }
        &__box {
          margin-bottom: rem($margin20px);
          @include screen(web) {
            margin-bottom: rem($margin24px);
          }
        }
      }
      .c-checkout-step01 {
        padding-bottom: 0 !important;
      }
      &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: rem(8px);
        align-items: baseline;
        flex-direction: column;
        @include screen(web) {
          flex-direction: row;
          gap: rem(24px);
        }
      }
      li {
        flex: 1;
        width: 100%;
        &:has(.buy-coupon-select) {
          .toast-popup {
            @include screen(mobile) {
              margin-top: rem($margin16px);
            }
          }
        }
      }
      &__item {
        width: 100%;
        padding: 0;
        border: rem($border1) solid $mid-gray1;
        border-radius: rem(12px);
        overflow: hidden;
        &:has(.c-accordion__button:focus-visible) {
          outline: rem($border1) solid currentcolor;
        }
        .c-accordion__head {
          padding: rem($padding12px) rem($padding13px);
          &-text {
            .buy-order-items__head {
              display: block;
              line-height: rem(20px);
              @include screen(web) {
                line-height: rem(20px);
                padding-right: rem($padding18px);
              }
            }
          }
          strong {
            color: $active-red;
            font-weight: $font-regular;
          }
        }
        .c-accordion__box {
          margin-bottom: 0;
          border-bottom: none;
        }
        .buy-order-items__head span {
          color: $mid-gray2;
        }
        &.buy-order-info-coupon--shipping {
          padding: 0;
        }
        .c-accordion__button {
          align-items: center !important;
          &:after {
            background-image: url($icon-arrow-gray3-down-10-6) !important;
          }
        }
        & + .toast-popup,
        & + .toast-aria {
          margin-top: rem($margin8px);
          @include screen(web) {
            margin-top: rem($margin6px);
          }
        }
      }
      &__apply {
        .input-button__container {
          display: flex;
          gap: rem(10px);
          flex-wrap: wrap;
          .button {
            margin: 0;
            flex: auto;
          }
          input {
            flex: 1 1 calc(100vw - 146px);
            @include screen(web) {
              flex: 1 1 70%;
            }
          }
          .cmp-button {
            width: 100%;
            padding: rem(0 $padding10px);
            @include screen(web) {
              min-height: 0;
              height: rem(44px);
              white-space: nowrap;
              padding: rem(0 $padding20px);
            }
          }
        }
        & + .toast-popup,
        & + .toast-aria {
          margin-top: rem($margin8px);
          @include screen(web) {
            margin-top: rem($margin6px);
          }
        }
      }
      &__secret {
        margin-top: rem($margin6px);
        p,
        .cmp-button {
          color: $gray3;
        }
        @include screen(web) {
          margin-top: rem($margin8px);
        }
      }
      &__button {
        margin-top: rem($margin16px);
        text-align: center;
        @include screen(web) {
          margin-top: rem($margin32px);
        }
        .cmp-button {
          width: 100%;
          @include screen(web) {
            width: auto;
          }
        }
        .c-button[class*='-box'].large {
          height: rem(40px);
          @include screen(web) {
            height: rem(48px);
          }
          .c-button__text {
            font-size: rem(14px);
          }
        }
      }
      &:has(.toast-popup) {
        .buy-order-info-coupon__button {
          margin-top: rem($margin8px);
          @include screen(web) {
            margin-top: rem($margin48px);
          }
        }
      }
      &--complete {
        .buy-order-items {
          margin-top: rem($margin14px);
          padding-top: rem($padding14px);
          border-top: rem($border1) solid $graye6;
        }
        .buy-customer-info__headline {
          .cmp-button {
            display: none;
          }
        }
      }
      &__form {
        margin-top: rem($margin14px);
        .label {
          font-size: rem(14px) !important;
          @include screen(web) {
            font-size: rem(16px) !important;
          }
        }
      }
      .buy-coupon-register {
        padding: rem($padding12px);
        border-top: rem($border1) solid $mid-gray1;
        @include screen(web) {
          padding: rem($padding12px) rem($padding13px);
        }
        .my-input {
          .input-button__container {
            @include screen(mobile) {
              display: flex;
              gap: rem(6px);
              .button {
                margin-top: 0;
                .c-button {
                  height: rem($height30px);
                  min-width: rem(60px);
                  width: rem($width60px);
                  &__text {
                    font-size: rem(12px);
                  }
                }
              }
            }
            .button {
              height: 100%;
              @include screen(mobile) {
                margin-top: 0;
              }
              .c-button {
                min-width: rem(60px);
                min-height: rem(48px);
                width: rem($width80px);
                &__text {
                  font-size: rem(16px);
                }
                @include screen(web) {
                  min-width: 0;
                  min-height: rem(44px);
                  &__text {
                    font-size: rem(16px);
                  }
                }
              }
            }
          }
        }
      }
      .buy-coupon-select {
        padding: rem($padding14px) rem($padding13px) rem($padding13px);
        max-height: rem(301px);
        overflow-y: scroll;
        border-top: rem($border1) solid $mid-gray1;
        @include screen(web) {
          padding: rem($padding12px);
          max-height: rem(270px);
        }
      }
      .buy-select-coupon {
        &__form {
          display: flex;
          gap: rem(8px);
          .my-input {
            width: 100%;
            &__password {
              height: rem($height40px);
            }
          }
        }
        &__list {
          list-style: none;
          padding-left: 0;
          li {
            background-color: $white;
            @include lgness-radius('default');
            padding: rem($padding18px);
          }
        }
        &__container {
          margin-right: rem(-$margin17px);
          padding-right: rem($padding17px);
          margin-top: rem($margin20px);
          height: rem(514px);
          overflow-y: scroll;
          @include screen(web) {
            margin-top: rem($margin24px);
            height: rem(500px);
          }
        }
        &__box {
          .c-text-contents {
            &__title {
              margin-bottom: rem($margin10px);
            }
          }
        }
        &__box + &__box {
          margin-top: rem($margin30px);
        }
        &__label {
          display: block;
          line-height: rem(18px);
          margin-bottom: rem($margin1px);
          @include screen(web) {
            line-height: rem(22px);
            margin-bottom: 0;
          }
        }
        &__context {
          margin-top: rem($margin4px);
          display: block;
        }
        &__date {
          display: block;
          color: $mid-gray2;
          font-size: rem(12px);
          line-height: rem(14px);
          @include screen(web) {
            font-size: rem(14px);
            line-height: rem(16px);
          }
        }
        &__duplicate {
          margin-left: rem($margin8px);
          color: $active-red;
        }
        .c-pop-msg__container {
          background-color: $ivory6;
          @include screen(mobile) {
            padding: rem($padding40px) rem($padding25px) rem($padding25px);
          }
          @include screen(web) {
            width: rem(520px);
          }
          .c-pop-msg__close {
            @include screen(web) {
              width: rem($width20px);
              height: rem($height20px);
            }
          }
          .button.c-cta {
            .c-button {
              width: 100%;
            }
          }
        }
        .buy-coupon-item.c-checkbox-item {
          margin-top: 0;
          position: relative;
        }
        .buy-coupon-item + .buy-coupon-item {
          margin-top: rem($margin10px);
        }
        .buy-coupon-item label.checkbox {
          overflow: hidden;
          br {
            display: block;
            @include screen(web) {
              display: none;
            }
          }
          &:before,
          &:after {
            display: block;
            content: '';
            position: absolute;
            top: rem(-5px);
            right: rem(17px);
            width: rem(10px);
            height: rem(10px);
            border: rem($border1) solid $light-gray3;
            border-radius: 50%;
            background: $white;
            box-sizing: border-box;
            z-index: 1;
          }
          &:after {
            top: auto;
            bottom: rem(-5px);
          }
          &.checked {
            &:before,
            &:after {
              border: rem($border2) solid $black;
            }
          }
        }
        .buy-coupon-item .label {
          position: initial;
          overflow: hidden;
          padding: rem($padding9px) rem($padding14px);
          width: 100%;
          min-height: rem(50px);
          background: $white;
          border: rem($border1) solid $light-gray3;
          border-radius: rem(12px);
          line-height: rem(18px);
          @include screen(web) {
            min-height: rem(54px);
            line-height: rem(22px);
          }
          &::after {
            display: block;
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: rem(22px);
            height: 100%;
            border-left: 1px dashed $mid-gray1;
          }
          .c-text-contents {
            width: 93%;
          }
        }
        .buy-coupon-item .label::before {
          content: '';
          display: none;
        }
        .buy-coupon-item input[type='checkbox']:checked + .label {
          padding: rem($padding8px) rem($padding13px);
          border: rem($border2) solid $black;
          @include screen(web) {
            padding: rem($padding8px) rem($padding13px);
          }
        }
        .title {
          margin-bottom: rem($margin5px);
          line-height: rem(16px);
          color: $gray3;
          @include screen(web) {
            line-height: rem(20px);
          }
        }
        .buy-coupon-item + .title {
          margin-top: rem($margin11px);
        }
      }
      .buy-order-info-coupon__item .c-accordion__button {
        &:after {
          width: rem($width24px);
          height: rem($height24px);
          background-image: url($icon-arrow-gray3-down-10-6) !important;
          background-size: rem(12px);
          background-position: right;
          background-repeat: no-repeat;
          // transform: rotate(0);
          margin-right: rem($margin13px);
        }
        &[aria-expanded='true']::after {
          transform: rotateX(180deg);
        }
      }
    }
    .buy-member-id {
      display: flex;
      justify-content: space-between;
      @include screen(web) {
        border-bottom: rem($border1) solid $mid-gray1;
        padding-bottom: rem($padding8px);
      }
      @media (min-width: $mobile) and (max-width: rem(980px)) {
        border: none;
        padding-bottom: 0;
      }
      &__ico {
        position: relative;
        padding-left: rem($padding30px);
        &:before {
          content: '';
          width: rem($width24px);
          height: rem($width24px);
          display: block;
          position: absolute;
          left: 0;
          top: rem(4px);
          background-image: url($icon-email-black-24-24);
        }
        @include screen(mobile) {
          padding-left: rem($padding22px);
          &:before {
            width: rem($width18px);
            height: rem($width18px);
            background-size: rem(18px) rem(18px);
            top: 0;
          }
        }
      }
      // &__top {
      //     display: flex;
      //     justify-content: space-between;
      //     @include screen(web) {
      //         color: $mid-gray2;
      //         margin-bottom: rem($margin4px);
      //     }
      //     .cmp-button {
      //         &__text {
      //             font-size: rem(16px);
      //         }
      //     }
      // }
      // &__bottom {
      //     @include screen(mobile) {
      //         color: $gray3;
      //         margin-top: rem($margin4px);
      //     }
      // }
    }
    .buy-member-id + .buy-member-edit {
      margin-top: rem($margin30px);
    }
    .buy-member-edit {
      label {
        @include screen(web) {
          line-height: rem(24px);
        }
      }
      &__button-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: rem($margin12px);
        @include screen(web) {
          margin-bottom: rem($margin8px);
          padding-left: 0;
        }
        label {
          margin-bottom: 0;
          color: $black !important;
          @include screen(mobile) {
            line-height: rem(24px);
          }
        }
        .cmp-button {
          &__text {
            font-size: rem(14px);
            @include screen(web) {
              font-size: rem(16px);
            }
          }
        }
      }
      .input-button__container {
        border-radius: rem(12px);
        @include screen(web) {
          border: rem($border1) solid $mid-gray1;
          padding: rem($padding20px) rem($padding24px);
        }
        .input-container {
          [type='text'],
          [type='email'],
          [type='tel'] {
            line-height: rem(18px);
          }
          @include screen(web) {
            padding: 0;
            background-color: transparent;
            border-radius: 0;
            [type='text'],
            [type='email'],
            [type='tel'] {
              font-size: rem(16px);
              line-height: rem(20px);
            }
          }
          & + .c-warning {
            margin-top: rem($margin6px);
            @include screen(web) {
              margin-top: rem($margin8px);
            }
          }
        }
      }
      .button {
        margin-top: rem($margin16px);
        @include screen(web) {
          margin-top: 0;
        }
      }
      .c-text-contents {
        &__title {
          margin-bottom: rem($margin6px);
          @include screen(web) {
            margin-bottom: rem($margin10px);
          }
        }
        .my-input {
          margin-bottom: rem($margin10px);
        }
      }
      .button-full {
        @include screen(web) {
          margin-left: 0;
          margin-right: 0;
        }
      }
      .c-warning::before {
        display: none;
      }
      .my-warn {
        border-radius: rem(12px);
        padding: rem($padding12px) rem($padding13px);
        font-size: rem(16px);
        line-height: rem(20px);
        color: $mid-gray2;
      }
    }
    .buy-checkout {
      @include reset-list-style;
      &__item {
        &--coupon {
          background-color: $white;
          padding: rem($padding20px) rem($padding16px);
          @include lgness-radius('default');
          @include screen(web) {
            margin-top: rem($margin20px);
            border-radius: 0;
            padding: 0;
            background-color: transparent;
          }
          @media (min-width: $mobile) and (max-width: rem(980px)) {
            background-color: $white;
            padding: rem($padding20px) rem($padding16px);
            @include lgness-radius('default');
          }
        }
        &--id.buy-checkout__item--complete + .buy-checkout__item {
          margin-top: 0;
        }
        &--id {
          margin-bottom: rem($margin12px);
          margin-top: rem($margin24px);
          &.buy-checkout__item--complete {
            padding-bottom: 0 !important;
            margin-top: rem($margin16px);
            margin-bottom: rem($margin24px);
            @include screen(web) {
              margin-top: 0;
            }
            @media (min-width: $mobile) and (max-width: rem(980px)) {
              margin-top: rem($margin16px);
            }
          }
          @include screen(web) {
            margin-bottom: rem($margin24px);
            margin-top: 0;
          }
          @media (min-width: $mobile) and (max-width: rem(980px)) {
            margin-bottom: rem($margin12px);
            margin-top: rem($margin24px);
          }
        }
        & + .buy-checkout__item {
          @include screen(mobile) {
            margin-top: rem($margin16px);
            padding-bottom: rem($padding20px);
          }
        }
        .c-checkout-step {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: rem($padding8px);
          border-bottom: rem($border1) solid $mid-gray1;
          &__title {
            color: $black;
            font-size: rem(20px);
            line-height: rem(28px);
            @include screen(web) {
              color: $gray7e;
              font-size: rem(32px);
              line-height: rem(36px);
            }
          }
          &__box {
            display: flex;
            align-items: end;
            color: $dark-gray2;
            font-size: rem(16px);
            line-height: rem(20px);
            gap: 0 rem(4px);
            @include screen(mobile) {
              font-size: rem(12px);
              line-height: rem(16px);
            }
          }
          &__txt {
            font-weight: $font-regular;
            color: $black;
            @include screen(web) {
              color: $dark-gray2;
            }
          }
          &__current {
            font-weight: $font-regular;
            color: $black;
            @include screen(web) {
              color: $dark-gray2;
            }
          }
          &__total {
            color: $mid-gray2;
          }
          &:nth-child(n + 2) {
            margin-top: rem($margin20px);
          }
          &__edit {
            cursor: pointer;
            // border: none;
            // background: transparent url($icon-buy-step-edit-20-20) center/contain no-repeat;
            // width: rem(20px);
            // height: rem(20px);
            // @include screen(web) {
            //     width: rem(24px);
            //     height: rem(24px);
            // }
          }
          & + .c-checkout-step02 {
            margin-top: rem($margin4px);
            @include screen(web) {
              margin-top: rem($margin5px);
            }
          }
          .c-button__text {
            font-size: rem(16px);
            line-height: rem(14px);
            @include screen(web) {
              line-height: rem(16px);
            }
          }
        }
        .c-checkout-step.active {
          border-bottom: 0;
          padding-bottom: 0;
          .c-checkout-step__title {
            color: $black;
          }
          .c-checkout-step__txt {
            color: $black;
          }
          .c-checkout-step__current {
            color: $black;
          }
        }
        .c-checkout-step.checked {
          border-bottom: 0;
          padding-bottom: 0;
          .c-checkout-step__title {
            display: flex;
            align-items: center;
            color: $black;
            gap: rem(5px);
            &::before {
              content: '';
              display: block;
              background-image: url($icon-buy-check-red-20-20);
              background-repeat: no-repeat;
              background-size: 100%;
              width: rem(25px);
              height: rem(25px);
            }
          }
          .c-checkout-step__txt {
            color: $black;
          }
          .c-checkout-step__current {
            color: $black;
          }
        }
        .apply-coupon {
          margin-top: rem($margin16px);
          border: rem($border1) solid $grayd;
          @include lgness-radius('default');
          padding-bottom: rem($padding20px);
          overflow: hidden;
          @include screen(web) {
            padding-bottom: rem($padding40px);
          }
          &--complete {
            border-radius: rem(12px);
            margin-top: rem($margin4px);
            padding: rem($padding14px) rem($padding15px);
            @include screen(web) {
              margin-top: rem($margin16px);
              padding: rem($padding24px);
            }
            .buy-apply-coupon__title {
              color: $mid-gray2 !important;
            }
          }
          .button {
            margin-top: rem($margin20px);
            text-align: center;
            @include screen(web) {
              margin-top: rem($margin30px);
            }
          }
          .buy-apply-coupon {
            &__title {
              font-size: rem(14px);
              line-height: rem(16px);
              color: $gray3;
              @include screen(web) {
                font-size: rem(16px);
                line-height: rem(20px);
                color: $black;
              }
            }
            &__coupon {
              font-size: rem(16px);
              line-height: rem(22px);
              margin-top: rem($margin4px);
              @include screen(web) {
                font-size: rem(20px);
                line-height: rem(24px);
                margin-top: rem($margin6px);
              }
            }
          }
        }
        &--complete {
          @include screen(mobile) {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
      }
    }
  }
}
