include ../_common/_cart-price-total.pug
include ./CT0302-inc.pug

mixin CT0302(option=false, country=false)
    .CT0302
        if(option === "member")
            case country
                when 'br'
                    .buy-checkout__item.buy-checkout__item--delivery
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"Rua Governador Carvalho Pinto, 330 Aguai São Paulo Brasil",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Billing"],
                                        title:"Robert Surrency",
                                        address:"Rua Governador Carvalho Pinto, 330 Aguai São Paulo Brasil",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])

                        +accCheckDeliveryBox(["LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)"], false, false, [
                            {
                                type: 'Delivery',
                                tooltipMsg: '',
                                id: 'delivery11',
                                price:'FREE',
                                useUnitPos: false,
                                nameId: 'delivery11',
                                checked: false,
                                warning:["A previsão para entrega é de 4 - 7 dias úteis."]
                            }
                        ])
                        +accCheckDeliveryBox(["LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)", "LG Soundbar SP8YAV"], false, false, [
                            {
                                type: 'Delivery',
                                tooltipMsg: '',
                                id: 'delivery12',
                                price:'FREE',
                                useUnitPos: false,
                                nameId: 'delivery12',
                                checked: false,
                                warning:["A previsão para entrega é de 4 - 7 dias úteis."]
                            }
                        ])
                        // [Start] 2023.07.19 UPDATE - error case markup
                        //- .buy-delivery-box--error
                        +accCheckDeliveryBox(["LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)"], "error", false, [
                            {
                                type: 'Delivery',
                                tooltipMsg: '',
                                id: 'delivery13',
                                price:'FREE',
                                useUnitPos: false,
                                nameId: 'delivery13',
                                checked: false,
                                warning:["A previsão para entrega é de 4 - 7 dias úteis."]
                            }
                        ])
                        // [End] 2023.07.19 UPDATE - error case markup
                        +deliveryDesc([
                            {
                                descTitle: 'Para Mais Detalhes Sobre Instalação LG',
                                descBull: 'tempo de entrega poderá variar em casos excepcionais.',
                                tooltipText: false,
                                size: 'large',
                            },
                        ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change delivery options',
                                remove: true,
                            },
                        ])
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")
                default 
                    .buy-checkout__item.buy-checkout__item--delivery
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +formCheckbox('Receive order status notification from LG.com via SMS', "name", "val1", "checkId1", count="false", false)
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        //- [Start] 2023-04-18 : ADD - Delivery Error case
                        // 2023.07.19 UPDATE - error case markup
                        //- .buy-delivery-box--error
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], "error", false, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery60',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery62',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: '11111111111',
                                id: 'delivery63',
                                price:'£25.00',
                            },
                        ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change delivery options',
                                remove: true,
                            },
                        ])
                        //- [End] 2023-04-18 : ADD - Delivery Error case
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery64',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery65',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: '11111111111',
                                id: 'delivery66',
                                price:'£25.00',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'complete', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'edit', false, false, [
                            {
                                type: 'Delivery Only',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery67',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery68',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery69',
                                price:'£25.00',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV", "LG Soundbar SP8YAV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG Soundbar SP8YA"], 'only', false, false, false, [
                            {
                                type: 'Delivery Only',
                            },
                        ])
                        +radioDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"],'complete',[
                            {
                                type: 'Home Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery70',
                                price:'£25.00',
                            }
                        ])
                        +deliveryBox(["LG Soundbar SP8YA"], 'only', false, false, [
                            {
                                type: 'Delivery Only',
                                warn: 'The delivery time is different for each shipping company.',
                            },
                        ])
                        +radioDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"],false,[
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery71',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery72',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount ',
                                tooltipMsg: '11111111111',
                                id: 'delivery73',
                                price:'£25.00',
                            }
                        ])
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")

            +CT0302("complete",'hide')

        if(option === "guest")
            .buy-checkout__item.buy-checkout__item--delivery
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "active"
                })
                .c-checkout-step02.c-checkout-step02-form
                    //- // [Start] 2023-06-02 : UPDATE- change messages
                    //- p.c-checkout-step01-prevention Delivery limited to UK mainland only on orders placed via the LG online store
                    //- // [End] 2023-06-02 : UPDATE- change messages
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Shipping
                    // [Start] 2023-06-12 : ADD - number-text
                    +myInputForm([
                        {
                            type:"text",
                            label:"Nome Do Endereço",
                            id:"address",
                            required:false,
                            placeholder:"Nome Do Endereço",
                        },
                        {
                            type:"text",
                            label:"Nome",
                            id:"firstName",
                            required:false,
                            placeholder:"Robert",
                        },
                        {
                            type:"text",
                            label:"Sobrenome",
                            id:"lastName",
                            required:false,
                            placeholder:"Surrency",
                        },
                        {
                            type:"tel",
                            label:"Número do Telefone",
                            id:"mobileNumber",
                            required:false,
                            placeholder:"Fixo 10 dígitos, Celular 11 dígitos",
                            numberText: '',
                            warning: ['Este é um campo obrigatório.', 'Por favor insira um número de telefone válido.'],
                            infoTextSecond: ["Para questões de entrega."]                        },
                        {
                            type:"text",
                            label:"CEP",
                            id:"VATNumber",
                            required:false,
                            placeholder:"xxxxx-xxx",
                            class:"js-CEP-keyup",
                            maxlength:"9",
                            warning: [
                                'Por favor insira um código postal válido. Por exemplo, 12345-678.',
                                'Após incluir o CEP, aguarde até que o endereço seja preenchido automaticamente.',
                                'Por favor, preencha o código postal válido no campo CEP novamente.',
                                'Após incluir o CEP, aguarde até que o endereço seja preenchido automaticamente.',
                                'Obrigatório preencher o campo cep.',
                                'Por favor, preencha o código postal válido no campo CEP novamente.',
                                'Aguarde até que o endereço seja preenchido automaticamente.',
                                'Endereço preenchido automaticamente.',
                            ],
                        },
                        {
                            type:"text",
                            label:"Endereço",
                            id:"streetAddress",
                            required:false,
                            placeholder:"Endereço",
                            readonly: true,
                            warning: ['O endereço é obrigatório.'],
                        },
                        {
                            type:"text",
                            label:"Nº",
                            id:"gender",
                            required:false,
                            value:"nº",
                            placeholder:"",
                        },
                        {
                            type:"text",
                            label:"Complemento",
                            id:"Complemento",
                            required:false,
                            placeholder:"Complemento",
                        },
                        {
                            type:"text",
                            label:"Bairro",
                            id:"Bairro",
                            required:false,
                            value:"Bairro",
                            readonly: true,
                            placeholder:"Bairro",
                        },
                        {
                            type:"select",
                            label:"Estado",
                            id:"state",
                            value:"Por favor, selecione uma região, estado ou província.",
                            optionVal: ['Por favor, selecione uma região, estado ou província.', 'Por favor, selecione uma região, estado ou província.', 'Por favor, selecione uma região, estado ou província.'],
                            placeholder:"Por favor, selecione uma região, estado ou província.",
                            required:true,
                            infoTextSecond: ["Não encontrou a sua região? Poxa, que pena! Nós da LG estamos trabalhando para poder atendê-lo sempre da melhor maneira. Mas, no momento este produto não pode ser entregue na região informada."],
                        },
                        {
                            type:"searchAddressSelect",
                            label:"Cidade",
                            id:"streetAddress-br",
                            addressClass:'searchAddress--clearArrow',
                            required:false,
                            title:'Por favor, selecione uma cidade.',
                            placeholder:'',
                            value:'',
                            list: [
                                'Adamantina',
                                'Adolfo',
                                'Aguai',
                                'Agudos',
                                'Alfredo Marcondes',
                            ]
                        },
                        {
                            type:"text",
                            label:"País",
                            id:"country",
                            required:false,
                            placeholder:"Brasil",
                            readonly: true,
                        },
                        {
                            type:"checkbox",
                            label:false,
                            id:"sameAddress",
                            required:false,
                            placeholder:false,
                            text:'Same for billing address'
                        },
                    ])
                .button.buy-order-info-coupon__button
                    +defaultButton({name: "Save Address", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="save")
        if(option === "before")
            .buy-checkout__item.before
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checkoutStep"
                })

        if(option === "complete")
            .buy-checkout__item.buy-checkout__item--delivery.buy-checkout__item--complete(style=`${country=='hide'?'display:none':''}`)
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checked",
                })
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Shipping"],
                                title:"Robert Surrency",
                                address:"Rua Governador Carvalho Pinto, 330 Aguai São Paulo Brasil",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-step02.c-checkout-step02--warn
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Billing"],
                                title:"Robert Surrency",
                                address:"Rua Governador Carvalho Pinto, 330 Aguai São Paulo Brasil",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-orderd.c-checkout-orderd--confirm
                    .c-checkout-orderd__item.c-checkout-orderd__item--delivery
                        +checkoutOrderDeliveryProduct("Delivery", "A previsão para entrega é de 4 - 7 dias ", [
                            {
                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                qty: "1",
                                price: "2.749,90",
                                unitPos: "left",
                                unitName: "R$"
                            },
                        ])
                