include ../_common/_cart-price-total.pug
include ./CT0302-inc.pug

mixin CT0302(option=false, country=false)
    .CT0302
        if(option === "member")
            case country
                when 'sa'
                    .buy-checkout__item.buy-checkout__item--delivery
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"LG electronics, P.O.Box 94321, Riyadh 11699, Saudi Arabia",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Billing"],
                                        title:"Robert Surrency",
                                        address:"LG electronics, P.O.Box 94321, Riyadh 11699, Saudi Arabia",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        .buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: "1",
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Regular delivery',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery83',
                                            price:'Free',
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Basic Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery86',
                                            price:'Free',
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Estimated to arrive within 1-7 working days',
                                        desc:'Delivery in all areas except for restricted zones',
                                    })
                            
                            details.buy-delivery-box__accordion-mix.buy-delivery-box__accordion-mix--error
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "OLED65C25LB.AEU + SP9YA",
                                                qty: "1",
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Regular delivery',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery83',
                                            price:'Free',
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Basic Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery86',
                                            price:'Free',
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Estimated to arrive within 1-7 working days',
                                        desc:'Delivery in all areas except for restricted zones',
                                    })
                            +toastPopup([
                                {
                                    type: "error",
                                    text: 'The items(s) are not available for shipping in your area. Please change address options',
                                    remove: true,
                                },
                            ])
                            details.buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: "1",
                                            },
                                        ])
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG Soundbar SP8YAV",
                                                qty: "1",
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Regular delivery',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery83',
                                            price:'Free',
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Basic Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery86',
                                            price:'Free',
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Estimated to arrive within 1-7 working days',
                                        desc:'Delivery in all areas except for restricted zones',
                                    })
                            details.buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "OLED65C25LB.AEU + SP9YA",
                                                qty: "1",
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Regular delivery',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery83',
                                            price:'Free',
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Basic Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery86',
                                            price:'Free',
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Estimated to arrive within 1-7 working days',
                                        desc:'Delivery in all areas except for restricted zones',
                                    })
                            details.buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag) ...",
                                                qty: "1",
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Regular delivery',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery83',
                                            price:'Free',
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Basic Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery86',
                                            price:'Free',
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Estimated to arrive within 1-7 working days',
                                        desc:'Delivery in all areas except for restricted zones',
                                    })
                            details.buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG Soundbar SP8YAV",
                                                qty: "1",
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Regular delivery',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery83',
                                            price:'Free',
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Basic Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery86',
                                            price:'Free',
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Estimated to arrive within 1-7 working days',
                                        desc:'Delivery in all areas except for restricted zones',
                                    })

                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")
                default 
                    .buy-checkout__item.buy-checkout__item--delivery
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +formCheckbox('Receive order status notification from LG.com via SMS', "name", "val1", "checkId1", count="false", false)
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        //- [Start] 2023-04-18 : ADD - Delivery Error case
                        // 2023.07.19 UPDATE - error case markup
                        //- .buy-delivery-box--error
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], "error", false, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery60',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery62',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: '11111111111',
                                id: 'delivery63',
                                price:'£25.00',
                            },
                        ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change delivery options',
                                remove: true,
                            },
                        ])
                        //- [End] 2023-04-18 : ADD - Delivery Error case
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery64',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery65',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: '11111111111',
                                id: 'delivery66',
                                price:'£25.00',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'complete', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'edit', false, false, [
                            {
                                type: 'Delivery Only',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery67',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery68',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery69',
                                price:'£25.00',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV", "LG Soundbar SP8YAV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG Soundbar SP8YA"], 'only', false, false, false, [
                            {
                                type: 'Delivery Only',
                            },
                        ])
                        +radioDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"],'complete',[
                            {
                                type: 'Home Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery70',
                                price:'£25.00',
                            }
                        ])
                        +deliveryBox(["LG Soundbar SP8YA"], 'only', false, false, [
                            {
                                type: 'Delivery Only',
                                warn: 'The delivery time is different for each shipping company.',
                            },
                        ])
                        +radioDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"],false,[
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery71',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery72',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount ',
                                tooltipMsg: '11111111111',
                                id: 'delivery73',
                                price:'£25.00',
                            }
                        ])
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")

            +CT0302("complete",'hide')

        if(option === "guest")
            .buy-checkout__item.buy-checkout__item--delivery
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "active"
                })
                .c-checkout-step02.c-checkout-step02-form
                    p.c-checkout-step01-prevention Delivery in all areas except for remote or restricted zones
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Shipping
                    +myInputForm([
                        {
                            type:"text",
                            label:"First Name",
                            id:"firstName",
                            required:false,
                            placeholder:"Robert",
                            warning: ['First name is required']
                        },
                        {
                            type:"text",
                            label:"Last Name",
                            id:"lastName",
                            required:false,
                            placeholder:"Surrency",
                            warning: ['Last Name is required.']
                        },
                        {
                            type:"tel",
                            label:"Phone number",
                            id:"mobileNumber",
                            required:false,
                            placeholder:"12345678910",
                            numberText: 'Your mobile number might be used to send tracking number.',
                            warning: ['Phone number is required.','Please enter a valid number.', 'Up to 10 numbers.'],
                            telInfo: "Up to 10 numbers with starting from '05' (ex:0512345678)"
                        },
                        {
                            type:"text",
                            label:"Address",
                            id:"Address",
                            required:false,
                            warning: ['Address is required']
                        },
                        {
                            type:"text",
                            label:"",
                            id:"streetAddress",
                            required:false,
                        },
                        {
                            type:"select",
                            label:"City",
                            id:"city",
                            value:"",
                            optionVal: ['Please select a city', 'Please select a city', 'Please select a city', 'Please select a city'],
                            placeholder:"",
                            required:true,
                            warning: ['Please select a city']
                        },
                        {
                            type:"text",
                            label:"State/Province",
                            id:"State/Province",
                            required:false,
                            warning: ['State/Province is required']
                        },
                        {
                            type:"text",
                            label:"Country",
                            id:"country",
                            readonly: true,
                            placeholder:"Saudi Arabia",
                        },
                        {
                            type:"checkbox",
                            label:false,
                            id:"taxpayerNumber",
                            required:false,
                            placeholder:false,
                            readonly: false,
                            text:'Same for billing address'
                        },
                    ])
                    

                .button.buy-order-info-coupon__button
                    +defaultButton({name: "Save Address", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="save")

        if(option === "before")
            .buy-checkout__item.before
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checkoutStep"
                })

        if(option === "complete")
            .buy-checkout__item.buy-checkout__item--delivery.buy-checkout__item--complete(style=`${country=='hide'?'display:none':''}`)
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checked",
                })
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Shipping"],
                                title:"Robert Surrency",
                                address:"LG Electronics , P.O.Box 94321, Riyadh 11699",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Billing"],
                                title:"Robert Surrency",
                                address:"LG Electronics , P.O.Box 94321, Riyadh 11699",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])        
                .c-checkout-orderd.c-checkout-orderd--confirm
                    .c-checkout-orderd__item.c-checkout-orderd__item--delivery
                        +checkoutOrderDeliveryProduct("Regular delivery", "Estimated to arrive within 1-6 working days", [
                            {
                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag) ...",
                                qty: "1",
                                price: "2,099.98",
                                unitPos: "left",
                                unitName: "SAR"
                            },
                        ])