include ../_common/_cart-price-total.pug
include ./CT0302-inc.pug

mixin CT0302(option=false, country=false)
    .CT0302
        if(option === "member")
            case country
                when 'de'
                    // type radio
                    .buy-checkout__item.buy-checkout__item--delivery
                        // de
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"Rathausstraße 15, 3090260, Berlin, 10178, Deutschland",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Billing"],
                                        title:"Robert Surrency",
                                        address:"Rathausstraße 15, 3090260, Berlin, 10178, Deutschland",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        +accRadioDeliveryBox(["LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag))"], false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: false,
                                id: 'delivery04',
                                price:'0,00',
                                unitPos: 'left',
                                unitName: '€',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: 'Anschluss an die Stromversorgung sowie an die Wasserversorgung (sofern vorhanden beim Produkt)',
                                id: 'delivery05',
                                price:'0,00',
                                unitPos: 'left',
                                unitName: '€',
                                checkedDate : true,
                                warning : ['Lieferung innerhalb von 5- 10 Werktagen'],
                                descBull: ['Die Lieferung von Großgeräten wie z.B. TVs, Kühlschränke oder Waschmaschinen übernimmt Rhenus Home Delivery.', 'Liefertermin nach Absprache.','Je nach Auslastung des Logistikdienstleisters, kann Ihr Lieferdatum vom gewünschen Termin abweichen.'],

                            },
                            {
                                type: 'Delivery & Take away packaging',
                                tooltipMsg: 'Verpackungsmitnahme mit fachgerechter Entsorgung',
                                id: 'delivery06',
                                price:'0,00',
                                unitPos: 'left',
                                unitName: '€',
                            },
                            {
                                type: 'Delivery & Installation & Take away your old device ',
                                tooltipMsg: 'Die Altgerätmitnahme erfolgt nur vor einer freizugänglichen Wohnungstür bzw. Haustür. Anderenfalls können wir das Gerät leider nicht mitnehmen. Bitte beachten Sie, dass alle Anschlüsse und Kabel vom Netz getrennt sein müssen.',
                                id: 'delivery07',
                                price:'0,00',
                                unitPos: 'left',
                                unitName: '€',
                            },
                        ])
                        // [Start] 2023.07.19 UPDATE - error case markup
                        //- .buy-delivery-box--error
                        +accRadioDeliveryBox(["LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)"], "error", [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: false,
                                id: 'delivery09',
                                price:'0,00',
                                unitPos: 'left',
                                unitName: '€',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: 'Anschluss an die Stromversorgung sowie an die Wasserversorgung (sofern vorhanden beim Produkt)',
                                id: 'delivery10',
                                price:'0,00',
                                unitPos: 'left',
                                unitName: '€',
                                checkedDate : true,
                                warning : ['Lieferung innerhalb von 5- 10 Werktagen'],
                                descBull: ['Die Lieferung von Großgeräten wie z.B. TVs, Kühlschränke oder Waschmaschinen übernimmt Rhenus Home Delivery.', 'Liefertermin nach Absprache.','Je nach Auslastung des Logistikdienstleisters, kann Ihr Lieferdatum vom gewünschen Termin abweichen.'],
                            },
                                {
                                type: 'Delivery & Take away packaging',
                                tooltipMsg: 'Verpackungsmitnahme mit fachgerechter Entsorgung',
                                id: 'delivery10',
                                price:'0,00',
                                unitPos: 'left',
                                unitName: '€',
                            },
                            {
                                type: 'Delivery & Installation & Take away your old device ',
                                tooltipMsg: 'Die Altgerätmitnahme erfolgt nur vor einer freizugänglichen Wohnungstür bzw. Haustür. Anderenfalls können wir das Gerät leider nicht mitnehmen. Bitte beachten Sie, dass alle Anschlüsse und Kabel vom Netz getrennt sein müssen.',
                                id: 'delivery11',
                                price:'0,00',
                                unitPos: 'left',
                                unitName: '€',
                            },
                        ])
                        // [End] 2023.07.19 UPDATE - error case markup
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change delivery options',
                                remove: true,
                            },
                        ])
                        +deliveryBox(["Multi-Door mit InstaView Door-in-Door® | Eis-, Crushed Ice- und ...",], false, true, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: false,
                                id: 'delivery16',
                                price:'€0.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: 'Anschluss an die Stromversorgung sowie an die Wasserversorgung (sofern vorhanden beim Produkt)',
                                id: 'delivery77',
                                price:'€0.00',
                                checkedDate : true,
                                validInfo : ['Vámi preferované datum doručení se může lišit od skutečného data doručení'],
                                descBullIcon : ['Die Lieferung von Großgeräten wie z.B. TVs, Kühlschränke oder Waschmaschinen übernimmt Rhenus Home Delivery. ', 'Liefertermin nach Absprache.', 'Je nach Auslastung des Logistikdienstleisters, kann Ihr Lieferdatum vom gewünschen Termin abweichen.']
                            },
                            {
                                type: 'Delivery & Take away packaging',
                                tooltipMsg: 'Verpackungsmitnahme mit fachgerechter Entsorgung',
                                id: 'delivery18',
                                price:'€0,00',
                                checkedDate : true,
                            },
                            {
                                type: 'Delivery & Installation & Take away your old device ',
                                tooltipMsg: 'Die Altgerätmitnahme erfolgt nur vor einer freizugänglichen Wohnungstür bzw. Haustür. Anderenfalls können wir das Gerät leider nicht mitnehmen. Bitte beachten Sie, dass alle Anschlüsse und Kabel vom Netz getrennt sein müssen.',
                                id: 'delivery19',
                                price:'€0,00',
                                checkedDate : true,
                            }
                        ])
                        +deliveryBox(["Multi-Door mit InstaView Door-in-Door® | Eis-, Crushed Ice- und ..."], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                                price: '€0.00',
                            },
                        ])
                        // added cancel button 
                        +deliveryBox(["Multi-Door mit InstaView Door-in-Door® | Eis-, Crushed Ice- und ...",], 'edit', true, true, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: false,
                                id: 'delivery12',
                                select: 'Thu, Oct 18  All day',
                                price:'€0.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: 'Anschluss an die Stromversorgung sowie an die Wasserversorgung (sofern vorhanden beim Produkt)',
                                id: 'delivery13',
                                select: 'Thu, Oct 18  All day',
                                price:'€0.00',
                                checkedDate : true,
                            },
                            {
                                type: 'Delivery & Take away packaging',
                                tooltipMsg: 'Verpackungsmitnahme mit fachgerechter Entsorgung',
                                id: 'delivery14',
                                select: 'Thu, Oct 18  All day',
                                price:'€0,00',
                                checkedDate : true,
                            },
                            {
                                type: 'Delivery & Installation & Take away your old device ',
                                tooltipMsg: 'Die Altgerätmitnahme erfolgt nur vor einer freizugänglichen Wohnungstür bzw. Haustür. Anderenfalls können wir das Gerät leider nicht mitnehmen. Bitte beachten Sie, dass alle Anschlüsse und Kabel vom Netz getrennt sein müssen.',
                                id: 'delivery15',
                                select: 'Thu, Oct 18  All day',
                                price:'€0,00',
                                checkedDate : true,
                            }
                        ])
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")
                default 
                    .buy-checkout__item.buy-checkout__item--delivery
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +formCheckbox('Receive order status notification from LG.com via SMS', "name", "val1", "checkId1", count="false", false)
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        //- [Start] 2023-04-18 : ADD - Delivery Error case
                        // [Start] 2023.07.19 UPDATE - error case markup
                        //- .buy-delivery-box--error
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], "error", false, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery60',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery62',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: '11111111111',
                                id: 'delivery63',
                                price:'£25.00',
                            },
                        ])
                        // [End] 2023.07.19 UPDATE - error case markup
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change delivery options',
                                remove: true,
                            },
                        ])
                        //- [End] 2023-04-18 : ADD - Delivery Error case
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery64',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery65',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: '11111111111',
                                id: 'delivery66',
                                price:'£25.00',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'complete', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'edit', false, false, [
                            {
                                type: 'Delivery Only',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery67',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery68',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery69',
                                price:'£25.00',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV", "LG Soundbar SP8YAV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG Soundbar SP8YA"], 'only', false, false, false, [
                            {
                                type: 'Delivery Only',
                            },
                        ])
                        +radioDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"],'complete',[
                            {
                                type: 'Home Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery70',
                                price:'£25.00',
                            }
                        ])
                        +deliveryBox(["LG Soundbar SP8YA"], 'only', false, false, [
                            {
                                type: 'Delivery Only',
                                warn: 'The delivery time is different for each shipping company.',
                            },
                        ])
                        +radioDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"],false,[
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery71',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery72',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount ',
                                tooltipMsg: '11111111111',
                                id: 'delivery73',
                                price:'£25.00',
                            }
                        ])
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")

            +CT0302("complete",'hide')

        if(option === "guest")
            .buy-checkout__item.buy-checkout__item--delivery
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "active"
                })
                .c-checkout-step02.c-checkout-step02-form
                    // [Start] 2023-06-02 : UPDATE- change messages
                    // p.c-checkout-step01-prevention Delivery limited to UK mainland only on orders placed via the LG online store
                    // [End] 2023-06-02 : UPDATE- change messages
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Shipping
                    // [Start] 2023-06-12 : ADD - number-text
                    +myInputForm([
                        {
                            type:"text",
                            label:"Vorname",
                            id:"firstName",
                            required:false,
                            placeholder:"Robert",
                        },
                        {
                            type:"text",
                            label:"Nachname",
                            id:"lastName",
                            required:false,
                            placeholder:"Surrency",
                        },
                        {
                            type:"tel",
                            label:"Mobilfunknummer",
                            id:"mobileNumber",
                            tooltipMsg:false,
                            required:false,
                            placeholder:"12345678910",
                            numberText: 'Your mobile number might be used to send tracking number.',
                            warning: ['Mobilfunknummer ist erforderlich.', 'Bitte geben Sie eine gültige Nummer in dieses Feld ein.', 'Die Telefonnummer sollte 7 bis 12 Ziffern enthalten.'],
                            infoTextSecond : ['Bitte geben Sie eine Mobilfunknummer für eventuelle Rückfragen, für die Terminvereinbarung bei  Großgeräten und zur Zusendung vom Lieferstatus.'],
                        },
                        {
                            type:"text",
                            label:"Firma",
                            id:"company",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"searchAddress",
                            label:"Straße",
                            id:"streetAddress",
                            required:true,
                            placeholder:"Mit Postleitzahl oder Straßenbezeichnung suchen",
                            clearCountry:true,
                            list: false,
                            warning:['Straße ist erforderlich.'],
                            countryImg:"icon-checkout-germany-30-20.svg",
                            countryName:"Deutschland"
                        },
                        {
                            type:"searchAddress",
                            label:"Straße",
                            id:"streetAddress",
                            required:true,
                            placeholder:"Mit Postleitzahl oder Straßenbezeichnung suchen",
                            list: false,
                            warning:['Straße ist erforderlich.'],
                            countryImg:"icon-checkout-germany-30-20.svg",
                            countryName:"Deutschland"
                        },
                        {
                            type:"searchAddress",
                            label:"Straße",
                            id:"streetAddress-list",
                            required:false,
                            placeholder:"Mit Postleitzahl oder Straßenbezeichnung suchen",
                            value:'01030',
                            list: [
                                '01001 1 Avenue Paul Ramadier (21 more)',
                                '01002 1 Chemin de Grimal (21 more)',
                                '01003 1 Avenue Paul Ramadier (21 more)',
                                '01003 1 Avenue Paul Ramadier (21 more)',
                                '01003 1 Avenue Paul Ramadier (21 more)',
                            ],
                            countryImg:"icon-checkout-germany-30-20.svg",
                            countryName:"Deutschland"
                        },
                        {
                            type:"searchAddress",
                            label:"Hausnummer",
                            id:"streetAddress",
                            required:true,
                            placeholder:"Search address",
                            clearCountry:true,
                            list: false,
                            warning:false,
                            countryImg:"icon-checkout-germany-30-20.svg",
                            countryName:"Deutschland"
                        },
                        {
                            type:"searchAddress",
                            label:"Bundesland",
                            id:"streetAddress",
                            required:true,
                            placeholder:"",
                            clearCountry:true,
                            list: false,
                            warning:false,
                            countryImg:"icon-checkout-germany-30-20.svg",
                            countryName:"Deutschland"
                        },
                        {
                            type:"searchAddress",
                            label:"Postleitzahl",
                            id:"streetAddress",
                            required:true,
                            placeholder:"",
                            clearCountry:true,
                            list: false,
                            warning:false,
                            countryImg:"icon-checkout-germany-30-20.svg",
                            countryName:"Deutschland"
                        },
                        {
                            type:"searchAddress",
                            label:"Stadt",
                            id:"streetAddress",
                            required:true,
                            placeholder:"",
                            clearCountry:true,
                            list: false,
                            warning:false,
                            countryImg:"icon-checkout-germany-30-20.svg",
                            countryName:"Deutschland"
                        },
                        {
                            type:"select",
                            label:"Land",
                            id:"country",
                            value:"",
                            optionVal: ['Deutschland', 'Bulgarien', 'Estland', 'Frankreich', 'Griechenland', 'Irland', 'Island', 'Italien', 'Kroatien', 'Lettland', 'Liechtenstein', 'Litauen', 'Luxemburg', 'Malta', 'Niederlande', 'Norwegen', 'Polen', 'Portugal', 'rumänien', 'Schweden', 'Slowakei', 'Slowenien', 'Spanien', 'Česká republika', 'Ungarn', 'Vereinigtes Königreich', 'Zypern', 'Österreich'],
                            placeholder:"",
                            required:true,
                        },
                    ])

                // [Start] 2023-09-26 : ADD - Purchase as
                .c-checkout-step02.c-checkout-step02-form
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Purchase as
                    .c-checkout-step02__box
                        // [Start] 2023-07-28 : UPDATE- added radio type, remove checkbox type
                        .c-input-item.c-input-item--radio-select-box
                            //- +formCheckbox("Individual", "PurchaseAs", "Individual", `checkId_Individual`, count="false", false)
                            //- +formCheckbox("Company", "PurchaseAs", "Company", `checkId_Company`, count="false", false)
                            .c-radio-item
                                +formRadioItem("Individual", "PurchaseAs", "Individual", `checkId_Individual`)
                            .c-radio-item
                                +formRadioItem("Company", "PurchaseAs", "Company", `checkId_Company`)
                                .c-input-item--radio-select-box__content
                                    +myInputForm([
                                        {
                                            type:"text",
                                            label:"Company Name (Optional)",
                                            id:"companyName",
                                            required:false,
                                            placeholder:"",
                                            value:""
                                        },
                                        {
                                            type:"text",
                                            label:"VAT ID",
                                            id:"vatID",
                                            required:false,
                                            placeholder:"",
                                            value:"",
                                            warning:['Bitte geben Sie Ihre Umsatzsteuer-ID ein.']
                                        },
                                    ]) 
                                    .button.c-input-item--radio-select-box__button-apply
                                        +defaultButton({name: "Apply", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="apply", disabled='disabled')

                .c-checkout-step02.c-checkout-step02-form
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Billing
                    +myInputForm([
                        {
                            type:"text",
                            label:"Vorname",
                            id:"firstName",
                            required:false,
                            placeholder:"Robert",
                        },
                        {
                            type:"text",
                            label:"Nachname",
                            id:"lastName",
                            required:false,
                            placeholder:"Surrency",
                        },
                        {
                            type:"tel",
                            label:"Mobilfunknummer",
                            id:"mobileNumber",
                            tooltipMsg:false,
                            required:false,
                            placeholder:"12345678910",
                            numberText: 'Your mobile number might be used to send tracking number.',
                            warning: ['Mobilfunknummer ist erforderlich.', 'Bitte geben Sie eine gültige Nummer in dieses Feld ein.', 'Die Telefonnummer sollte 7 bis 12 Ziffern enthalten.'],
                            infoTextSecond : ['Bitte geben Sie eine Mobilfunknummer für eventuelle Rückfragen, für die Terminvereinbarung bei  Großgeräten und zur Zusendung vom Lieferstatus.'],
                        },
                        {
                            type:"text",
                            label:"Firma",
                            id:"company",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"select",
                            label:"Land",
                            id:"country",
                            value:"",
                            optionVal: ['Deutschland', 'Bulgarien', 'Estland', 'Frankreich', 'Griechenland', 'Irland', 'Island', 'Italien', 'Kroatien', 'Lettland', 'Liechtenstein', 'Litauen', 'Luxemburg', 'Malta', 'Niederlande', 'Norwegen', 'Polen', 'Portugal', 'rumänien', 'Schweden', 'Slowakei', 'Slowenien', 'Spanien', 'Česká republika', 'Ungarn', 'Vereinigtes Königreich', 'Zypern', 'Österreich'],
                            placeholder:"",
                            required:true,
                        },
                        {
                            type:"searchAddress",
                            label:"Straße",
                            id:"streetAddress",
                            required:true,
                            placeholder:"Mit Postleitzahl oder Straßenbezeichnung suchen",
                            clearCountry:true,
                            list: false,
                            warning:['Straße ist erforderlich.'],
                            countryImg:"icon-checkout-germany-30-20.svg",
                            countryName:"Deutschland"
                        },        
                        {
                            type:"searchAddress",
                            label:"Hausnummer",
                            id:"streetAddress",
                            required:true,
                            placeholder:"Search address",
                            clearCountry:true,
                            list: false,
                            warning:false,
                            countryImg:"icon-checkout-germany-30-20.svg",
                            countryName:"Deutschland"
                        },
                        {
                            type:"searchAddress",
                            label:"Bundesland",
                            id:"streetAddress",
                            required:true,
                            placeholder:"",
                            clearCountry:true,
                            list: false,
                            warning:false,
                            countryImg:"icon-checkout-germany-30-20.svg",
                            countryName:"Deutschland"
                        },
                        {
                            type:"searchAddress",
                            label:"Postleitzahl",
                            id:"streetAddress",
                            required:true,
                            placeholder:"",
                            clearCountry:true,
                            list: false,
                            warning:false,
                            countryImg:"icon-checkout-germany-30-20.svg",
                            countryName:"Deutschland"
                        },
                        {
                            type:"searchAddress",
                            label:"Stadt",
                            id:"streetAddress",
                            required:true,
                            placeholder:"",
                            clearCountry:true,
                            list: false,
                            warning:false,
                            countryImg:"icon-checkout-germany-30-20.svg",
                            countryName:"Deutschland"
                        },
                    ])
                // form bottom content area
                .button.buy-order-info-coupon__button
                    +defaultButton({name: "Save Address", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="save")

        if(option === "before")
            .buy-checkout__item.before
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checkoutStep"
                })

        if(option === "complete")
            .buy-checkout__item.buy-checkout__item--delivery.buy-checkout__item--complete(style=`${country=='hide'?'display:none':''}`)
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checked",
                })
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Shipping"],
                                title:"Robert Surrency",
                                address:"Rathausstraße 15, 3090260, Berlin, 10178, Deutschland",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Billing"],
                                title:"Robert Surrency",
                                address:"Rathausstraße 15, 3090260, Berlin, 10178, Deutschland",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-orderd.c-checkout-orderd--confirm
                    .c-checkout-orderd__item.c-checkout-orderd__item--delivery
                        +checkoutOrderDeliveryProduct("Delivery & Installation", "Lieferung innerhalb von 5- 10 Werktagen", [
                            {
                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                qty: "1",
                                price: "2.749,90",
                                unitPos: "left",
                                unitName: "€",
                                giftCard: true,
                                giftCardTxt: ['€10 Gutschein inklusive']
                            },
                            {
                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                qty: "1",
                                price: "2.749,90",
                                unitPos: "left",
                                unitName: "€",
                                giftCard: true,
                                giftCardTxt: ['€10 Gutschein inklusive', '€15 Gutschein inklusive']
                            },
                        ])