include ../_common/_cart-price-total.pug
include ./CT0302-inc.pug

mixin CT0302(option=false, country=false)
    .CT0302
        if(option === "member")
            case country
                when 'se'
                    .buy-checkout__item.buy-checkout__item--delivery
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"Gyllenkrooksgatan 1 412 84 GÖTEBORG Sweden",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Billing"],
                                        title:"Robert Surrency",
                                        address:"Gyllenkrooksgatan 1 412 84 GÖTEBORG Sweden",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                    .buy-checkout__item.buy-checkout__item--delivery.buy-checkout__item--delivery-mix
                        details(open).buy-delivery-box__accordion-mix
                            summary.c-accordion-mix__head
                                .c-accordion-mix__head-text
                                    +deliveryBoxProduct([
                                        {
                                            title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                            qty: '1',
                                        },
                                    ])
                            .c-accordion-mix__body
                                +deliveryBoxSubTitle({
                                    boxTitle : 'Delivery Method',
                                    tooltip: false,
                                })
                                +deliveryMixRadioSelect([
                                    {
                                        type: 'Delivery Option 1',
                                        tooltipMsg: '11111111111',
                                        id: 'delivery01',
                                        price:'0',
                                        unitPos: 'right',
                                        unitName: 'kr',
                                    },
                                    {
                                        type: 'Delivery Option 2',
                                        tooltipMsg: '11111111111',
                                        id: 'delivery02',
                                        price:'0',
                                        unitPos: 'right',
                                        unitName: 'kr',
                                    },
                                ])
                                +deliveryBoxSubTitle({
                                    boxTitle : 'Additional Services',
                                    tooltip: false,
                                })
                                +deliveryAccodionRadio('Installation', false, [
                                    {
                                        type: 'Installation Option 1',
                                        tooltipMsg: '11111111111',
                                        id: 'delivery03',
                                        price:'0',
                                        unitPos: 'right',
                                        unitName: 'kr',
                                    },
                                    {
                                        type: 'Installation Option 2',
                                        tooltipMsg: '11111111111',
                                        id: 'delivery04',
                                        price:'0',
                                        unitPos: 'right',
                                        unitName: 'kr',
                                    },
                                ])
                                +deliveryAccodionCheck('Haulaway', false, [
                                    {
                                        type: 'Haulaway Option 1',
                                        id: 'delivery05',
                                        tooltipMsg: '1111',
                                        nameId: 'delivery05',
                                        price:'0',
                                        unitPos: 'right',
                                        unitName: 'kr',
                                    },
                                    {
                                        type: 'Haulaway Option 2',
                                        id: 'delivery05',
                                        tooltipMsg: '1111',
                                        nameId: 'delivery05',
                                        price:'0',
                                        unitPos: 'right',
                                        unitName: 'kr',
                                    }
                                ])
                                +deliveryBoxNoneAcc(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, [
                                    {
                                        selectDateAreaTitle : 'Delivery Time',
                                        selectDateCancel : false,
                                        type: 'Thu, Oct 18  All day',
                                        id: 'delivery06',
                                        price:'',
                                        validList: [{text: 'Leverans till port/tomtgräns'}],
                                    },
                                ])
                                +deliverySelectDateComplete({
                                    title:'Delivery Time',
                                    text:'Levereras inom 3 - 4 arbetsdagar.',
                                    descList: [{text: 'Leverans till port/tomtgräns'}],
                                })
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change delivery options',
                                remove: true,
                            },
                        ])
                        
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")
                default 
                    .buy-checkout__item.buy-checkout__item--delivery
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +formCheckbox('Receive order status notification from LG.com via SMS', "name", "val1", "checkId1", count="false", false)
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        //- [Start] 2023-04-18 : ADD - Delivery Error case
                        // 2023.07.19 UPDATE - error case markup
                        //- .buy-delivery-box--error
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], "error", false, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery60',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery62',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: '11111111111',
                                id: 'delivery63',
                                price:'£25.00',
                            },
                        ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change delivery options',
                                remove: true,
                            },
                        ])
                        //- [End] 2023-04-18 : ADD - Delivery Error case
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery64',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery65',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: '11111111111',
                                id: 'delivery66',
                                price:'£25.00',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'complete', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'edit', false, false, [
                            {
                                type: 'Delivery Only',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery67',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery68',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery69',
                                price:'£25.00',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV", "LG Soundbar SP8YAV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG Soundbar SP8YA"], 'only', false, false, false, [
                            {
                                type: 'Delivery Only',
                            },
                        ])
                        +radioDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"],'complete',[
                            {
                                type: 'Home Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery70',
                                price:'£25.00',
                            }
                        ])
                        +deliveryBox(["LG Soundbar SP8YA"], 'only', false, false, [
                            {
                                type: 'Delivery Only',
                                warn: 'The delivery time is different for each shipping company.',
                            },
                        ])
                        +radioDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"],false,[
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery71',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery72',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount ',
                                tooltipMsg: '11111111111',
                                id: 'delivery73',
                                price:'£25.00',
                            }
                        ])
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")

            +CT0302("complete",'hide')

        if(option === "guest")
            .buy-checkout__item.buy-checkout__item--delivery
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "active"
                })
                .c-checkout-step02.c-checkout-step02-form
                    // [Start] 2023-06-02 : UPDATE- change messages
                    p.c-checkout-step01-prevention Leverans är endast tillgänglig inom Sverige      
                    // [End] 2023-06-02 : UPDATE- change messages
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Shipping
                    // [Start] 2023-06-12 : ADD - number-text
                    +myInputForm([
                        {
                            type:"text",
                            label:"Förnamn",
                            id:"firstName",
                            required:false,
                            placeholder:"Robert",
                            warning: ['Förnamn måste anges.', 'Vänligen använd endast bokstäver (a-z eller A-Z) och mellanslag i detta fält.']
                        },
                        {
                            type:"text",
                            label:"Efternamn",
                            id:"lastName",
                            required:false,
                            placeholder:"Surrency",
                        },
                        {
                            type:"tel",
                            label:"Telefonnummer",
                            id:"mobileNumber",
                            tooltipMsg:false,
                            required:false,
                            placeholder:"",
                            infoTextSecond: ["För leverans."],
                            warning: ['Telefonnummer måste anges.', 'Vänligen ange ett giltigt nummer i det här fältet.', 'Telefonnumret ska ha 9 till 15 siffror. Prov +46 1234567890']
                        },
                        {
                            type:"searchAddress",
                            label:"Gatuadress",
                            id:"streetAddress-list-SE",
                            required:true,
                            placeholder:"Sök med postnummer eller gata",
                            list: false,
                            addressClass:false,
                            clearCountry:true,
                            tooltipMsg:false,
                            infoTextSecond: ["Vänligen ange din adress för att använda funktionen för automatisk komplettering"],
                        },
                        {
                            type:"searchAddress",
                            label:"Gatuadress",
                            id:"streetAddress-list-se",
                            required:true,
                            placeholder:"Sök med postnummer eller gata",
                            list: false,
                            warning:['Gatuadress krävs.'],
                            countryImg:"icon-checkout-sweden-30-20.svg",
                            countryName:"Sverige",
                            tooltipMsg:false,
                            infoTextSecond: ["Vänligen ange din adress för att använda funktionen för automatisk komplettering"],
                        },
                        {
                            type:"searchAddress",
                            label:"Gatuadress",
                            id:"streetAddress-list-SE",
                            required:true,
                            placeholder:"01030",
                            list: [
                                '01001 1 Avenue Paul Ramadier (21 more)',
                                '01002 1 Chemin de Grimal (21 more)',
                                '01003 1 Chemin de Grimal (21 more)',
                                '01004 1 Chemin de Grimal (21 more)',
                                '01005 1 Chemin de Grimal (21 more)',
                            ],
                            countryImg:"icon-checkout-sweden-30-20.svg",
                            countryName:"Sverige",
                            tooltipMsg:false,
                            infoTextSecond: ["Vänligen ange din adress för att använda funktionen för automatisk komplettering"],
                        },
                        {
                            type:"text",
                            label:"Stad",
                            id:"city",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"text",
                            label:"Postnummer",
                            id:"ZIPCode",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"text",
                            label:"Land",
                            id:"land",
                            value:"",
                            placeholder:"Sverige",
                            readonly:true,
                        },
                        {
                            type:"checkbox",
                            label:false,
                            id:"sameBilling",
                            required:false,
                            placeholder:false,
                            readonly: false,
                            text:'Same for billing address'
                        },
                    ])
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Billing
                    +myInputForm([
                        {
                            type:"text",
                            label:"Förnamn",
                            id:"firstName",
                            required:false,
                            placeholder:"Robert",
                            warning: ['Förnamn måste anges.',]
                        },
                        {
                            type:"text",
                            label:"Efternamn",
                            id:"lastName",
                            required:false,
                            placeholder:"Surrency",
                        },
                        {
                            type:"text",
                            label:"Företag",
                            id:"businessCode",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"tel",
                            label:"Telefonnummer",
                            id:"mobileNumber",
                            tooltipMsg:false,
                            required:false,
                            placeholder:"",
                            infoTextSecond: ["För leverans."],
                            warning: ['Telefonnummer måste anges.', 'Vänligen ange ett giltigt nummer i det här fältet.', 'Telefonnumret ska ha 9 till 15 siffror. Prov +46 1234567890']
                        },
                        {
                            type:"searchAddress",
                            label:"Gatuadress",
                            id:"streetAddress-list-SE",
                            required:true,
                            placeholder:"Sök med postnummer eller gata",
                            list: false,
                            addressClass:false,
                            clearCountry:true,
                            tooltipMsg:false,
                            infoTextSecond: ["Vänligen ange din adress för att använda funktionen för automatisk komplettering"],
                        },
                        {
                            type:"searchAddress",
                            label:"Gatuadress",
                            id:"streetAddress-list-se",
                            required:true,
                            placeholder:"Sök med postnummer eller gata",
                            list: false,
                            warning:['Gatuadress krävs.'],
                            countryImg:"icon-checkout-sweden-30-20.svg",
                            countryName:"Sverige",
                            tooltipMsg:false,
                            infoTextSecond: ["Vänligen ange din adress för att använda funktionen för automatisk komplettering"],
                        },
                        {
                            type:"searchAddress",
                            label:"Gatuadress",
                            id:"streetAddress-list-SE",
                            required:true,
                            placeholder:"01030",
                            list: [
                                '01001 1 Avenue Paul Ramadier (21 more)',
                                '01002 1 Chemin de Grimal (21 more)',
                                '01003 1 Chemin de Grimal (21 more)',
                                '01004 1 Chemin de Grimal (21 more)',
                                '01005 1 Chemin de Grimal (21 more)',
                            ],
                            countryImg:"icon-checkout-sweden-30-20.svg",
                            countryName:"Sverige",
                            tooltipMsg:false,
                            infoTextSecond: ["Vänligen ange din adress för att använda funktionen för automatisk komplettering"],
                        },
                        {
                            type:"text",
                            label:"Stad",
                            id:"city",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"text",
                            label:"Postnummer",
                            id:"ZIPCode",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"select",
                            label:"Land",
                            id:"land",
                            value:"",
                            optionVal: ['Sverige', 'Sverige', 'Sverige'],
                            placeholder:"",
                            required:true,
                        },
                    ])

                .button.buy-order-info-coupon__button
                    +defaultButton({name: "Save Address", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="save")

                // form bottom content area

        if(option === "before")
            .buy-checkout__item.before
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checkoutStep"
                })

        if(option === "complete")
            .buy-checkout__item.buy-checkout__item--delivery.buy-checkout__item--complete(style=`${country=='hide'?'display:none':''}`)
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checked",
                })
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Shipping"],
                                title:"Robert Surrency",
                                address:"Gyllenkrooksgatan 1 412 84 GÖTEBORG Sweden",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Billing"],
                                title:"Robert Surrency",
                                address:"Gyllenkrooksgatan 1 412 84 GÖTEBORG Sweden",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-orderd.c-checkout-orderd--confirm
                    .c-checkout-orderd__item.c-checkout-orderd__item--delivery
                        +checkoutOrderDeliveryProduct("Delivery & Installation", "Lieferung innerhalb von 5- 10 Werktagen", [
                            {
                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag) ...",
                                qty: "1",
                                price: "2,199.98",
                                unitPos: "right",
                                unitName: " kr"
                            },
                        ])