@charset "UTF-8";
// module
@use '../../scss/abstract/' as *;

$component: '.CT0304';
#{$component} {
  .my-component {
    // @include inset-padding-hz;
    $mycomponent: '.my-component';
    position: relative;
    overflow: hidden;
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }
  .buy-checkout {
    &__tablist {
      margin: 0 auto;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      @include container($design-grid-full, true);
      @include inset-padding-hz;
      gap: rem(24px);
      padding-top: 0;
      padding-bottom: 0;
      @include screen(mobile) {
        justify-content: flex-start;
        padding-left: rem($padding16px);
        padding-right: rem($padding16px);
      }
      @include screen(web) {
        gap: rem(77px);
      }
    }
    &-tabs {
      &__inner {
        margin-bottom: 0;
        width: 100%;
        border-bottom: rem($border1) solid $graycb;
        @include screen(web) {
          border-top: rem($border1) solid $graycb;
        }
      }
      .buy-checkout__tab {
        cursor: pointer;
        padding: rem($padding19px) 0;
        text-align: center;
        line-height: rem(18px);
        @include screen(web) {
          padding: rem(23px) 0;
          font-size: rem(32px);
          line-height: rem(36px);
          font-weight: $font-regular;
        }
        &--active {
          position: relative;
          &:after {
            content: '';
            display: inline-block;
            background-color: $active-red;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: rem($height2px);
            @include screen(web) {
              height: rem($height4px);
            }
          }
        }
      }
    }
  }
}
