include ../_common/_cart-price-total.pug
include ./CT0302-inc.pug

mixin CT0302(option=false, country=false)
    .CT0302
        if(option === "member")
            case country
                when 'ph'
                    .buy-checkout__item.buy-checkout__item--delivery
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag:["Shipping"],
                                        title:"Robert Surrency",
                                        address:"649 R. Hidalgo Street, San Andres, Manila, Metro Manila, Philippine, 1017",
                                        num:"987-654-3210",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag:["Shipping"],
                                        title:"Robert Surrency",
                                        address:"649 R. Hidalgo Street, San Andres, Manila, Metro Manila, Philippine, 1017",
                                        num:"987-654-3210",
                                        type: "",
                                    },
                                ])
                        +formCheckbox('Receive order status notification from LG.com via SMS', "name", "val1", "checkId1", count="false", false)
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        .buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix.buy-delivery-box__accordion-mix--error
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: '1',
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +accCheckDeliveryBox(false, 'unavailable', true, [
                                        {
                                            type: 'Delivery',
                                            id: 'delivery2-ph',
                                            nameId: 'delivery2',
                                            checked: false,
                                            infoDesc: false,
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        }
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionCheck('Installation', false, [
                                        {
                                            type: 'Wallmount Installation[Bracket not included]',
                                            tooltipMsg: false,
                                            id: 'delivery3-ph',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                        {
                                            type: 'Table Top Installation',
                                            tooltipMsg: false,
                                            id: 'delivery4-ph',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Delivery within 3~5 business days',
                                        desc:'Delivery & Installation is only available for GMA(Metro Manila, Bulacan, Rizal, Laguna, Cavite)',
                                    })
                            +toastPopup([
                                {
                                    type: "error",
                                    text: 'The items(s) are not available for shipping in your area. Please change delivery options',
                                    remove: true,
                                },
                            ])
                        .buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: '1',
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +accCheckDeliveryBox(false, 'unavailable', true, [
                                        {
                                            type: 'Delivery',
                                            id: 'delivery5-ph',
                                            nameId: 'delivery5',
                                            checked: false,
                                            infoDesc: false,
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        }
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionCheck('Installation', false, [
                                        {
                                            type: 'Installation[Plumbing not included]',
                                            tooltipMsg: false,
                                            id: 'delivery6-ph',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Delivery within 3~5 business days',
                                        desc:'Delivery & Installation is only available for GMA(Metro Manila, Bulacan, Rizal, Laguna, Cavite)',
                                    })
                        .buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: '1',
                                            },
                                            {
                                                title: "LG Soundbar SP8YAV",
                                                qty: '1',
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +accCheckDeliveryBox(false, 'unavailable', true, [
                                        {
                                            type: 'Delivery',
                                            id: 'delivery7-ph',
                                            nameId: 'delivery7',
                                            checked: false,
                                            infoDesc: false,
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        }
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionCheck('Installation', false, [
                                        {
                                            type: 'Wallmount Installation[Bracket not included]',
                                            tooltipMsg: false,
                                            id: 'delivery8-ph',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                        {
                                            type: 'Table Top Installation',
                                            tooltipMsg: false,
                                            id: 'delivery9-ph',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Delivery within 3~5 business days',
                                        desc:'Delivery & Installation is only available for GMA(Metro Manila, Bulacan, Rizal, Laguna, Cavite)',
                                    })
                        .buy-checkout__item--delivery-mix
                            details(open).buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "OLED65C25LB.AEU + SP9YA",
                                                qty: '1',
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +accCheckDeliveryBox(false, 'unavailable', true, [
                                        {
                                            type: 'Delivery',
                                            id: 'delivery10-ph',
                                            nameId: 'delivery10',
                                            checked: false,
                                            infoDesc: false,
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        }
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionCheck('Installation', false, [
                                        {
                                            type: 'Wallmount Installation[Bracket not included]',
                                            tooltipMsg: false,
                                            id: 'delivery11-ph',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                        {
                                            type: 'Table Top Installation',
                                            tooltipMsg: false,
                                            id: 'delivery12-ph',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Delivery within 3~5 business days',
                                        desc:'Delivery & Installation is only available for GMA(Metro Manila, Bulacan, Rizal, Laguna, Cavite)',
                                    })
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")
                default 
                    .buy-checkout__item.buy-checkout__item--delivery
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag:["Shipping"],
                                        title:"Robert Surrency",
                                        address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag:["Shipping"],
                                        title:"Robert Surrency",
                                        address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +formCheckbox('Receive order status notification from LG.com via SMS', "name", "val1", "checkId1", count="false", false)
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        //- [Start] 2023.07.19 UPDATE - error case markup
                        //- .buy-delivery-box--error
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], "error", false, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery60',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery62',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: '11111111111',
                                id: 'delivery63',
                                price:'£25.00',
                            },
                        ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change delivery options',
                                remove: true,
                            },
                        ])
                        //- [End] 2023.07.19 UPDATE - error case markup
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery64',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery65',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: '11111111111',
                                id: 'delivery66',
                                price:'£25.00',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'complete', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'edit', false, false, [
                            {
                                type: 'Delivery Only',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery67',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery68',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery69',
                                price:'£25.00',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV", "LG Soundbar SP8YAV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG Soundbar SP8YA"], 'only', false, false, false, [
                            {
                                type: 'Delivery Only',
                            },
                        ])
                        +radioDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"],'complete',[
                            {
                                type: 'Home Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery70',
                                price:'£25.00',
                            }
                        ])
                        +deliveryBox(["LG Soundbar SP8YA"], 'only', false, false, [
                            {
                                type: 'Delivery Only',
                                warn: 'The delivery time is different for each shipping company.',
                            },
                        ])
                        +radioDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"],false,[
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery71',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery72',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount ',
                                tooltipMsg: '11111111111',
                                id: 'delivery73',
                                price:'£25.00',
                            }
                        ])
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")

            +CT0302("complete",'hide')

        if(option === "guest")
            .buy-checkout__item.buy-checkout__item--delivery
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "active"
                })
                .c-checkout-step02.c-checkout-step02-form
                    //- .c-checkout-step02__infoTitle
                    //-     p.fontfont-w-normal-16.fontfont-m-normal-14 For orders placed through the LG Online Shop, delivery within UK mainland territory is available only.​
                    //- // [Start] 2023-06-02 : UPDATE- change messages
                    //- p.c-checkout-step01-prevention Delivery limited to UK mainland only on orders placed via the LG online store
                    // [End] 2023-06-02 : UPDATE- change messages
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Shipping
                    // [Start] 2023-06-12 : ADD - number-text
                    +myInputForm([
                        {
                            type:"text",
                            label:"First Name",
                            id:"firstName",
                            required:false,
                            placeholder:"Robert",
                        },
                        {
                            type:"text",
                            label:"Last Name",
                            id:"lastName",
                            required:false,
                            placeholder:"Surrency",
                        },
                        {
                            type:"tel",
                            label:"Mobile Number",
                            id:"mobileNumber",
                            tooltipMsg:false,
                            required:false,
                            telNumber:"+63",
                            placeholder: "9XXXXXXXXX",
                        },
                        {
                            type:"tel",
                            label:"Alternate Number (Optional)",
                            id:"mobileNumberOptional",
                            tooltipMsg:false,
                            required:false,
                            telNumber:"+63",
                            placeholder: "XXXXXXXXXX",
                        },
                        {
                            type:"text",
                            label:"TIN Number (Optional)",
                            id:"TINNumber-text",
                            class:"js-TINNumber-keyup",
                            required:false,
                            placeholder:false,
                        },
                        {
                            type:"text",
                            label:"Address",
                            id:"address-text",
                            required:false,
                            placeholder:false,
                        },
                        {
                            type:"select",
                            label:"Region",
                            id:"region",
                            value:"",
                            optionVal: ['', '', ''],
                            placeholder:false,
                            required:true,
                        },
                        {
                            type:"select",
                            label:"City",
                            id:"city",
                            value:"",
                            optionVal: ['', '', ''],
                            placeholder:false,
                            required:true,
                        },
                        {
                            type:"select",
                            label:"Barangay",
                            id:"barangay",
                            value:"",
                            optionVal: ['', '', ''],
                            placeholder:false,
                            required:true,
                        },
                        {
                            type:"text",
                            label:"Post Code",
                            id:"postCode",
                            required:false,
                            placeholder:"Post Code",
                            readonly: true,
                        },
                        {
                            type:"text",
                            label:"Country",
                            id:"country",
                            required:false,
                            placeholder:"Philippines",
                            readonly: true,
                            check: ["Same for billing address"],
                        },
                    ])
                    .c-checkout-step02-form-billing-ph
                        p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Billing
                        +myInputForm([
                            {
                                type:"text",
                                label:"First Name",
                                id:"firstName",
                                required:false,
                                placeholder:"Robert",
                            },
                            {
                                type:"text",
                                label:"Last Name",
                                id:"lastName",
                                required:false,
                                placeholder:"Surrency",
                            },
                            {
                                type:"tel",
                                label:"Mobile Number",
                                id:"mobileNumber",
                                tooltipMsg:false,
                                required:false,
                                telNumber:"+63",
                                placeholder: "9XXXXXXXXX",
                            },
                            {
                                type:"text",
                                label:"TIN Number (Optional)",
                                id:"TINNumber-text",
                                class:"js-TINNumber-keyup",
                                required:false,
                                placeholder:false,
                            },
                            {
                                type:"text",
                                label:"Address",
                                id:"address-text",
                                required:false,
                                placeholder:false,
                            },
                            {
                                type:"select",
                                label:"Region",
                                id:"region",
                                value:"",
                                optionVal: ['', '', ''],
                                placeholder:false,
                                required:true,
                            },
                            {
                                type:"select",
                                label:"City",
                                id:"city",
                                value:"",
                                optionVal: ['', '', ''],
                                placeholder:false,
                                required:true,
                            },
                            {
                                type:"select",
                                label:"Barangay",
                                id:"barangay",
                                value:"",
                                optionVal: ['', '', ''],
                                placeholder:false,
                                required:true,
                            },
                            {
                                type:"text",
                                label:"Post Code",
                                id:"postCode",
                                required:false,
                                placeholder:"Post Code",
                                readonly: true,
                            },
                            {
                                type:"text",
                                label:"Country",
                                id:"country",
                                required:false,
                                placeholder:"Philippines",
                                readonly: true,
                            },
                        ])

                .button.buy-order-info-coupon__button
                    +defaultButton({name: "Save Address", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="save")

                // form bottom content area

        if(option === "before")
            .buy-checkout__item.before
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checkoutStep"
                })

        if(option === "complete")
            .buy-checkout__item.buy-checkout__item--delivery.buy-checkout__item--complete(style=`${country=='hide'?'display:none':''}`)
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checked",
                })
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Shipping"],
                                title:"Robert Surrency",
                                address:"649 R. Hidalgo Street, San Andres, Manila, Metro Manila, Philippine, 1017",
                                num:"987-654-3210",
                                type: "",
                            },
                        ])
                .c-checkout-orderd.c-checkout-orderd--confirm
                    .c-checkout-orderd__item.c-checkout-orderd__item--delivery
                        +checkoutOrderDeliveryProduct("Delivery & Installation", "Thu, Oct 18  07:00~19:00", [
                            {
                                title: "LG OLED evo Gallery Edition G2 55'' 4K Smart TV",
                                qty: "1",
                                price: "2,099.98",
                                unitPos: "right",
                                unitName: " zł"
                            },
                        ])
                .c-checkout-orderd.c-checkout-orderd--confirm
                    .c-checkout-orderd__item.c-checkout-orderd__item--delivery
                        +checkoutOrderDeliveryProduct("Delivery & Installation", "Thu, Oct 18  All day", [
                            {
                                title: "LG OLED evo Gallery Edition G2 55'' 4K Smart TV",
                                qty: "1",
                                price: "2,099.98",
                                unitPos: "sup",
                                dateColor: "red"
                            },
                        ])
                // au
                .c-checkout-orderd.c-checkout-orderd--confirm
                    .c-checkout-orderd__item.c-checkout-orderd__item--delivery
                        +checkoutOrderDeliveryProduct("DHL", "", [
                            {
                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                qty: "1",
                                price: "2,099.98",
                                unitPos: "left",
                                unitName: "₱ "
                            },
                        ])
                // [Start] 2023-09-13 : ADD- Includes $15 EHF fee
                .c-checkout-orderd.c-checkout-orderd--confirm
                    .c-checkout-orderd__item.c-checkout-orderd__item--delivery
                        +checkoutOrderDeliveryProduct("DHL", "", [
                            {
                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                qty: "1",
                                price: "2,099.98",
                                unitPos: "left",
                                unitName: "$",
                                includeEHF: "Includes $15 EHF fee",
                            },
                        ])
                // [End] 2023-09-13 : ADD- Includes $15 EHF fee