include ../_common/_cart-price-total.pug
include ./CT0302-inc.pug

mixin CT0302(option=false, country=false)
    .CT0302
        if(option === "member")
            case country
                when 'th'
                    .buy-checkout__item.buy-checkout__item--delivery
                        // de
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"23 Thiam-Ruammit Road, Huai-Khwang, Bangkok 10310 Thailand",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"23 Thiam-Ruammit Road, Huai-Khwang, Bangkok 10310 Thailand",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        .buy-checkout__item--delivery-mix
                            details.buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: "1",
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Delivery',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery83',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery86',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])

                            details(open).buy-delivery-box__accordion-mix.buy-delivery-box__accordion-mix--error
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: "1",
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Delivery',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery83-error',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery86-error',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])

                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")

                when 'selectDateType-accordion-wrap-global'
                    // type accordion-wrap : global shipping module
                    .buy-checkout__item.buy-checkout__item--delivery
                        .buy-checkout__item--delivery-mix
                            details.buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: "1",
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Delivery',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery83',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery86',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])

                            details(open).buy-delivery-box__accordion-mix.buy-delivery-box__accordion-mix--error
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: "1",
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Delivery',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery83-error',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery86-error',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                    ])
                                    
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")

                default 
                    .buy-checkout__item.buy-checkout__item--delivery

            +CT0302("complete",'hide')

        if(option === "tooltip")
            .buy-checkout__item
                ul.buy-delivery-desc
                    li.buy-delivery-desc__item
                        span tooltip BR 
                        +exclamTooltip('tooltip BR', false, 'bottom-left', 'large',)
                    li.buy-delivery-desc__item 
                        span tooltip IT 
                        +exclamTooltip('tooltip IT', false, 'bottom-left', 'large--it',)
                    li.buy-delivery-desc__item 
                        span tooltip AT 
                        +exclamTooltip('tooltip AT', false, 'bottom-left', 'large--at',)
            
                +accRadioDeliveryBox(["LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)"], false, [
                    {
                        type: 'tooltip BR',
                        tooltipMsg: '11111111111',
                        tooltipSize: 'large',
                        id: 'delivery13-br',
                        price:'Free',
                        useUnitPos:false,
                        warning: ['Consegna prevista in 5-10 giorni'],
                    },
                    {
                        type: 'tooltip IT',
                        tooltipMsg: '11111111111',
                        tooltipSize: 'large--it',
                        id: 'delivery13',
                        price:'Free',
                        useUnitPos:false,
                        warning: ['Consegna prevista in 5-10 giorni'],
                    },
                    {
                        type: 'tooltip AT',
                        tooltipMsg: '11111111111',
                        tooltipSize: 'large--at',
                        id: 'delivery81',
                        price:'FOR FREE',
                        useUnitPos:false,
                    },
                ])
        if(option === "guest")
            .buy-checkout__item.buy-checkout__item--delivery
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "active"
                })
                .c-checkout-step02.c-checkout-step02-form
                    // [Start] 2023-06-02 : UPDATE- change messages
                    p.c-checkout-step01-prevention จัดส่งสินค้าทุกพื้นที่ ยกเว้นในพื้นที่ห่างไกลและเขตหวงห้าม
                    // [End] 2023-06-02 : UPDATE- change messages
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Shipping
                    // [Start] 2023-06-12 : ADD - number-text
                    +myInputForm([
                        {
                            type:"text",
                            label:"ชื่อ",
                            id:"firstName",
                            required:false,
                            placeholder:"Robert",
                        },
                        {
                            type:"text",
                            label:"นามสกุล",
                            id:"lastName",
                            required:false,
                            placeholder:"Surrency",
                        },
                        {
                            type:"tel",
                            label:"เบอร์โทร",
                            id:"mobileNumber",
                            tooltipMsg:false,
                            required:false,
                            placeholder:"12345678910",
                        },
                        {
                            type:"text",
                            label:"ที่อยู่",
                            id:"address",
                            required:false,
                            placeholder:"Address",
                        },
                        {
                            type:"text",
                            label:"ซอย / ถนน",
                            id:"ComplementaryAdress",
                            required:false,
                            placeholder:"Soi / Road",
                        },
                        {
                            type:"text",
                            label:"รหัสไปรษณีย์",
                            id:"postcode",
                            required:false,
                            placeholder:"Post code",
                        },
                        {
                            type:"select",
                            label:"จังหวัด",
                            id:"City",
                            value:"",
                            optionVal: ['Province'],
                            placeholder:"",
                            required:true,
                            disabled:true,
                            tooltipMsg:false,
                        },
                        {
                            type:"select",
                            label:"เขต / อำเภอ",
                            id:"District",
                            required:false,
                            optionVal: ['District'],
                            disabled: true,
                        },
                        {
                            type:"select",
                            label:"แขวง / ตำบล",
                            id:"Sub-District",
                            required:false,
                            optionVal: ['Sub-District'],
                            disabled: true,
                        },
                        {
                            type:"checkbox",
                            label:false,
                            id:"sameAddress",
                            required:false,
                            placeholder:false,
                            readonly: false,
                            text:'Same for billing address'
                        },
                    ])
                .c-checkout-step02.c-checkout-step02-form
                    +myInputForm([
                        {
                            type:"text",
                            label:"หมายเลขประจำตัวผู้เสียภาษี",
                            id:"taxpayerNumber",
                            required:false,
                            placeholder:"Tax ID"
                        },
                        {
                            type:"text",
                            label:"สาขา (ถ้ามี)",
                            id:"branchCode",
                            required:false,
                            placeholder:"Branch code",
                        }
                    ])
                .button.buy-order-info-coupon__button
                    +defaultButton({name: "Save Address", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="save")

                // form bottom content area
        
        if(option === "before")
            .buy-checkout__item.before
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checkoutStep"
                })

        if(option === "complete")
            .buy-checkout__item.buy-checkout__item--delivery.buy-checkout__item--complete(style=`${country=='hide'?'display:none':''}`)
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checked",
                })
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Shipping"],
                                title:"Robert Surrency",
                                address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-orderd.c-checkout-orderd--confirm
                    .c-checkout-orderd__item.c-checkout-orderd__item--delivery
                        +checkoutOrderDeliveryProduct("Delivery & Installation", "Thu, Oct 14 All day", [
                            {
                                title: "LG OLED evo Gallery Edition G2 55'' 4K Smart TV",
                                qty: "1",
                                price: "209,980.00",
                                unitPos: "left",
                                unitName: "฿"
                            },
                        ])