include ../_common/_cart-price-total.pug
include ./CT0302-inc.pug

mixin CT0302(option=false, country=false)
    .CT0302
        if(option === "member")
            case country
                when 'tr'
                    .buy-checkout__item.buy-checkout__item--delivery
                        // de
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"Alaçam Sok. No.5, Cinnah Caddesi, Ankara 06690 Turkey",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Billing"],
                                        title:"Robert Surrency",
                                        address:"Alaçam Sok. No.5, Cinnah Caddesi, Ankara 06690 Turkey",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                    .buy-checkout__item.buy-checkout__item--delivery.buy-checkout__item--delivery-mix
                        details(open).buy-delivery-box__accordion-mix
                            summary.c-accordion-mix__head
                                .c-accordion-mix__head-text
                                    +deliveryBoxProduct([
                                        {
                                            title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                            qty: false,
                                        },
                                    ])
                            .c-accordion-mix__body
                                +deliveryBoxSubTitle({
                                    boxTitle : 'Delivery Method',
                                })
                                +deliveryMixRadioSelect([
                                    {
                                        type: 'Regular delivery',
                                        tooltipMsg: '11111111111',
                                        id: 'delivery83',
                                        price:'0',
                                        unitPos: 'right',
                                        unitName: 'TL',
                                    },
                                ])
                                +deliveryBoxSubTitle({
                                    boxTitle : 'Additional Services',
                                })
                                +deliveryAccodionRadio('Installation', false, [
                                    {
                                        type: 'Basic Installation',
                                        tooltipMsg: '11111111111',
                                        id: 'delivery86',
                                        price:'0',
                                        unitPos: "right",
                                        unitName: "TL",
                                    },
                                ])
                                +deliverySelectDateComplete({
                                    title:'Delivery Time',
                                    text:'Estimated to arrive within 1-7 working days',
                                    desc:'Delivery in all areas except for restricted zones',
                                })
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                    .buy-checkout__item.buy-checkout__item--delivery.buy-checkout__item--delivery-mix
                        details.buy-delivery-box__accordion-mix.buy-delivery-box__accordion-mix--error
                            summary.c-accordion-mix__head
                                .c-accordion-mix__head-text
                                    +deliveryBoxProduct([
                                        {
                                            title: "OLED65C25LB.AEU + SP9YA",
                                            qty: false,
                                        },
                                    ])
                            .c-accordion-mix__body
                                +deliveryBoxSubTitle({
                                    boxTitle : 'Delivery Method',
                                })
                                +deliveryMixRadioSelect([
                                    {
                                        type: 'Regular delivery',
                                        tooltipMsg: '11111111111',
                                        id: 'delivery83',
                                        price:'0',
                                        unitPos: 'right',
                                        unitName: 'TL',
                                    },
                                ])
                                +deliveryBoxSubTitle({
                                    boxTitle : 'Additional Services',
                                })
                                +deliveryAccodionRadio('Installation', false, [
                                    {
                                        type: 'Basic Installation',
                                        tooltipMsg: '11111111111',
                                        id: 'delivery86',
                                        price:'0',
                                        unitPos: "right",
                                        unitName: "TL",
                                    },
                                ])
                                +deliverySelectDateComplete({
                                    title:'Delivery Time',
                                    text:'Estimated to arrive within 1-7 working days',
                                    desc:'Delivery in all areas except for restricted zones',
                                })
                        details.buy-delivery-box__accordion-mix
                            summary.c-accordion-mix__head
                                .c-accordion-mix__head-text
                                    +deliveryBoxProduct([
                                        {
                                            title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag) ...",
                                            qty: false,
                                        },
                                    ])
                                    +deliveryBoxProduct([
                                        {
                                            title: "LG Soundbar SP8YAV",
                                            qty: false,
                                        },
                                    ])
                            .c-accordion-mix__body
                                +deliveryBoxSubTitle({
                                    boxTitle : 'Delivery Method',
                                })
                                +deliveryMixRadioSelect([
                                    {
                                        type: 'Regular delivery',
                                        tooltipMsg: '11111111111',
                                        id: 'delivery83',
                                        price:'0',
                                        unitPos: 'right',
                                        unitName: 'TL',
                                    },
                                ])
                                +deliveryBoxSubTitle({
                                    boxTitle : 'Additional Services',
                                })
                                +deliveryAccodionRadio('Installation', false, [
                                    {
                                        type: 'Basic Installation',
                                        tooltipMsg: '11111111111',
                                        id: 'delivery86',
                                        price:'0',
                                        unitPos: "right",
                                        unitName: "TL",
                                    },
                                ])
                                +deliverySelectDateComplete({
                                    title:'Delivery Time',
                                    text:'Estimated to arrive within 1-7 working days',
                                    desc:'Delivery in all areas except for restricted zones',
                                })
                        details.buy-delivery-box__accordion-mix
                            summary.c-accordion-mix__head
                                .c-accordion-mix__head-text
                                    +deliveryBoxProduct([
                                        {
                                            title: "OLED65C25LB.AEU + SP9YA",
                                            qty: false,
                                        },
                                    ])
                            .c-accordion-mix__body
                                +deliveryBoxSubTitle({
                                    boxTitle : 'Delivery Method',
                                })
                                +deliveryMixRadioSelect([
                                    {
                                        type: 'Regular delivery',
                                        tooltipMsg: '11111111111',
                                        id: 'delivery83',
                                        price:'0',
                                        unitPos: 'right',
                                        unitName: 'TL',
                                    },
                                ])
                                +deliveryBoxSubTitle({
                                    boxTitle : 'Additional Services',
                                })
                                +deliveryAccodionRadio('Installation', false, [
                                    {
                                        type: 'Basic Installation',
                                        tooltipMsg: '11111111111',
                                        id: 'delivery86',
                                        price:'0',
                                        unitPos: "right",
                                        unitName: "TL",
                                    },
                                ])
                                +deliverySelectDateComplete({
                                    title:'Delivery Time',
                                    text:'Estimated to arrive within 1-7 working days',
                                    desc:'Delivery in all areas except for restricted zones',
                                })
                        details.buy-delivery-box__accordion-mix
                            summary.c-accordion-mix__head
                                .c-accordion-mix__head-text
                                    +deliveryBoxProduct([
                                        {
                                            title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag) ...",
                                            qty: false,
                                        },
                                    ])
                            .c-accordion-mix__body
                                +deliveryBoxSubTitle({
                                    boxTitle : 'Delivery Method',
                                })
                                +deliveryMixRadioSelect([
                                    {
                                        type: 'Regular delivery',
                                        tooltipMsg: '11111111111',
                                        id: 'delivery83',
                                        price:'0',
                                        unitPos: 'right',
                                        unitName: 'TL',
                                    },
                                ])
                                +deliveryBoxSubTitle({
                                    boxTitle : 'Additional Services',
                                })
                                +deliveryAccodionRadio('Installation', false, [
                                    {
                                        type: 'Basic Installation',
                                        tooltipMsg: '11111111111',
                                        id: 'delivery86',
                                        price:'0',
                                        unitPos: "right",
                                        unitName: "TL",
                                    },
                                ])
                                +deliverySelectDateComplete({
                                    title:'Delivery Time',
                                    text:'Estimated to arrive within 1-7 working days',
                                    desc:'Delivery in all areas except for restricted zones',
                                })
                        details.buy-delivery-box__accordion-mix
                            summary.c-accordion-mix__head
                                .c-accordion-mix__head-text
                                    +deliveryBoxProduct([
                                        {
                                            title: "LG Soundbar SP8YAV",
                                            qty: false,
                                        },
                                    ])
                            .c-accordion-mix__body
                                +deliveryBoxSubTitle({
                                    boxTitle : 'Delivery Method',
                                })
                                +deliveryMixRadioSelect([
                                    {
                                        type: 'Regular delivery',
                                        tooltipMsg: '11111111111',
                                        id: 'delivery83',
                                        price:'0',
                                        unitPos: 'right',
                                        unitName: 'TL',
                                    },
                                ])
                                +deliveryBoxSubTitle({
                                    boxTitle : 'Additional Services',
                                })
                                +deliveryAccodionRadio('Installation', false, [
                                    {
                                        type: 'Basic Installation',
                                        tooltipMsg: '11111111111',
                                        id: 'delivery86',
                                        price:'0',
                                        unitPos: "right",
                                        unitName: "TL",
                                    },
                                ])
                                +deliverySelectDateComplete({
                                    title:'Delivery Time',
                                    text:'Estimated to arrive within 1-7 working days',
                                    desc:'Delivery in all areas except for restricted zones',
                                })


                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")

                default 
                    .buy-checkout__item.buy-checkout__item--delivery
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Shipping"],
                                        title:"Robert Surrency",
                                        address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +formCheckbox('Receive order status notification from LG.com via SMS', "name", "val1", "checkId1", count="false", false)
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        //- [Start] 2023-04-18 : ADD - Delivery Error case
                        // 2023.07.19 UPDATE - error case markup
                        //- .buy-delivery-box--error
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], "error", false, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery60',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery62',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: '11111111111',
                                id: 'delivery63',
                                price:'£25.00',
                            },
                        ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change delivery options',
                                remove: true,
                            },
                        ])
                        //- [End] 2023-04-18 : ADD - Delivery Error case
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery64',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery65',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: '11111111111',
                                id: 'delivery66',
                                price:'£25.00',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'complete', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'edit', false, false, [
                            {
                                type: 'Delivery Only',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery67',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery68',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery69',
                                price:'£25.00',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV", "LG Soundbar SP8YAV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG Soundbar SP8YA"], 'only', false, false, false, [
                            {
                                type: 'Delivery Only',
                            },
                        ])
                        +radioDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"],'complete',[
                            {
                                type: 'Home Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery70',
                                price:'£25.00',
                            }
                        ])
                        +deliveryBox(["LG Soundbar SP8YA"], 'only', false, false, [
                            {
                                type: 'Delivery Only',
                                warn: 'The delivery time is different for each shipping company.',
                            },
                        ])
                        +radioDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"],false,[
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery71',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery72',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount ',
                                tooltipMsg: '11111111111',
                                id: 'delivery73',
                                price:'£25.00',
                            }
                        ])
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")

            +CT0302("complete",'hide')

        if(option === "guest")
            .buy-checkout__item.buy-checkout__item--delivery
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "active"
                })
                .c-checkout-step02.c-checkout-step02-form
                    // [Start] 2023-06-02 : UPDATE- change messages
                    p.c-checkout-step01-prevention Delivery limited to UK mainland only on orders placed via the LG online store
                    // [End] 2023-06-02 : UPDATE- change messages
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Shipping
                    // [Start] 2023-06-12 : ADD - number-text
                    +myInputForm([
                        {
                            type:"text",
                            label:"First Name",
                            id:"firstName",
                            required:false,
                            placeholder:"Robert",
                            warning: ['First name is required']
                        },
                        {
                            type:"text",
                            label:"Last Name",
                            id:"lastName",
                            required:false,
                            placeholder:"Surrency",
                            warning: ['Last Name is required']
                        },
                        {
                            type:"tel",
                            label:"Mobile Number",
                            id:"mobileNumber",
                            required:false,
                            placeholder:"12345678910",
                            warning: ['Mobile number is required.', 'Please enter a valid number']
                        },
                        {
                            type:"selectMulti",
                            label:"Date of birth",
                            id:"Date-of-birth",
                            value:"",
                            optionVal: [
                                ['Gün', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31'],
                                ['Ay', 'Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'], 
                                ['Yıl', '1901', '1902', '1903', '1904', '1905', '1906', '1907', '2019', '2020', '2021', '2022', '2023']
                            ],
                            placeholder:"",
                            required:true,
                            warning:['Please Select a Date of birth']
                        },
                        {
                            type:"select",
                            label:"Province",
                            id:"Province",
                            value:"",
                            optionVal: ['Province', 'Province', 'Province', 'Province'],
                            placeholder:"",
                            required:true,
                            warning: ['Please select Province']
                        },
                        {
                            type:"select",
                            label:"District",
                            id:"District",
                            value:"",
                            optionVal: ['District', 'District', 'District'],
                            placeholder:"",
                            required:true,
                            warning: ['Please select District']
                        },
                        {
                            type:"select",
                            label:"Neighborhood",
                            id:"Neighborhood",
                            value:"",
                            optionVal: ['Neighborhood', 'Neighborhood', 'Neighborhood'],
                            placeholder:"",
                            required:true,
                            warning: ['Please select Neighborhood']
                        },
                        {
                            type:"text",
                            label:"Address",
                            id:"Address",
                            required:false,
                        },
                        {
                            type:"select",
                            label:"Postcode",
                            id:"Postcode",
                            value:"",
                            optionVal: ['Postcode', 'Postcode', 'Postcode'],
                            placeholder:"",
                            required:true,
                            warning: ['Post Code is required.', 'Post code is not valid.']
                        },
                        {
                            type:"text",
                            label:"County",
                            id:"countyEmpty",
                            required:false,
                            placeholder:"Türkiye",
                            readonly: true
                        },
                        {
                            type:"text",
                            label:"ID Number(TCKN)",
                            id:"id-number",
                            required:false,
                            warning: ['ID Number(TCKN) is required.', 'Please enter an 11 digit number. (It cannot start with 0.)']
                        },
                        {
                            type:"checkbox",
                            label:false,
                            id:"taxpayerNumber",
                            required:false,
                            placeholder:false,
                            readonly: false,
                            text:'Same for billing address'
                        },
                    ])


                .button.buy-order-info-coupon__button
                    +defaultButton({name: "Save Address", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="save")

        if(option === "before")
            .buy-checkout__item.before
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checkoutStep"
                })

        if(option === "complete")
            .buy-checkout__item.buy-checkout__item--delivery.buy-checkout__item--complete(style=`${country=='hide'?'display:none':''}`)
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checked",
                })
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Shipping"],
                                title:"Robert Surrency",
                                address:"Alaçam Sok. No.5, Cinnah Caddesi, Ankara 06690 Turkey",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Billing"],
                                title:"Robert Surrency",
                                address:"Alaçam Sok. No.5, Cinnah Caddesi, Ankara 06690 Turkey",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-orderd.c-checkout-orderd--confirm
                    .c-checkout-orderd__item.c-checkout-orderd__item--delivery
                        +checkoutOrderDeliveryProduct("Regular delivery", "Estimated to arrive within 1-7 working days", [
                            {
                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag) ...",
                                qty: "1",
                                price: "2,099.98",
                                unitPos: "right",
                                unitName: "TL"
                            },
                        ])