mixin CT0304
    .c-wrapper.CT0304
        .component
            .fluid-container
                .my-component
                    .buy-checkout
                        .buy-checkout-tabs(data-cmp-data-layer="" data-placeholder-text="false")
                            .buy-checkout-tabs__inner
                                ul.buy-checkout__tablist(role="tablist" aria-multiselectable="false")
                                    li.buy-checkout__tab.buy-checkout__tab--active(role="tab" tabindex="0" data-cmp-hook-tabs="tab" aria-controls="tabs-guest-tabpanel" aria-selected="true" id="tab_guest") Guest Checkout
                                    li.buy-checkout__tab(role="tab" tabindex="-1" data-cmp-hook-tabs="tab" aria-controls="tabs-member-tabpanel" aria-selected="false" id="tab_member") Member