include ../_common/_cart-price-total.pug
include ./CT0302-inc.pug

mixin CT0302(option=false, country=false)
    .CT0302
        if(option === "member")
            case country
                when 'pl'
                    .buy-checkout__item.buy-checkout__item--delivery
                        // pl
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag:["Shipping"],
                                        title:"Robert Surrency",
                                        address:"ulica 3 Maja 123, Siedlec Duży Koziegłowy , śląskie, 42-350 Polska",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag: ["Billing"],
                                        title:"Robert Surrency",
                                        address:"ulica 3 Maja 123, Siedlec Duży Koziegłowy , śląskie, 42-350 Polska",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                    .buy-checkout__item.buy-checkout__item--delivery.buy-checkout__item--delivery-mix
                        details(open).buy-delivery-box__accordion-mix
                            summary.c-accordion-mix__head
                                .c-accordion-mix__head-text
                                    +deliveryBoxProduct([
                                        {
                                            title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                            qty: '1',
                                        },
                                    ])
                            .c-accordion-mix__body
                                +deliveryBoxSubTitle({
                                    boxTitle : 'Delivery Method',
                                    tooltip: false,
                                })
                                +deliveryMixRadioSelect([
                                    {
                                        type: 'Delivery Option 1',
                                        tooltipMsg: '11111111111',
                                        id: 'delivery01',
                                        price:'0,00',
                                        unitPos: 'right',
                                        unitName: 'zł',
                                    },
                                    {
                                        type: 'Delivery Option 2',
                                        tooltipMsg: '11111111111',
                                        id: 'delivery02',
                                        price:'0,00',
                                        unitPos: 'right',
                                        unitName: 'zł',
                                    },
                                ])
                                +deliveryBoxSubTitle({
                                    boxTitle : 'Additional Services',
                                    tooltip: false,
                                })
                                +deliveryAccodionRadio('Installation', false, [
                                    {
                                        type: 'Installation Option 1',
                                        tooltipMsg: '11111111111',
                                        id: 'delivery03',
                                        price:'0,00',
                                        unitPos: 'right',
                                        unitName: 'zł',
                                    },
                                    {
                                        type: 'Installation Option 2',
                                        tooltipMsg: '11111111111',
                                        id: 'delivery04',
                                        price:'0,00',
                                        unitPos: 'right',
                                        unitName: 'zł',
                                    },
                                ])
                                +deliveryAccodionCheck('Haulaway', false, [
                                    {
                                        type: 'Haulaway Option 1',
                                        id: 'delivery05',
                                        tooltipMsg: '1111',
                                        nameId: 'delivery05',
                                        price:'0,00',
                                        unitPos: 'right',
                                        unitName: 'zł',
                                    },
                                    {
                                        type: 'Haulaway Option 2',
                                        id: 'delivery05',
                                        tooltipMsg: '1111',
                                        nameId: 'delivery05',
                                        price:'0,00',
                                        unitPos: 'right',
                                        unitName: 'zł',
                                    }
                                ])
                                //- +deliveryBoxNoneAcc(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, [
                                //-     {
                                //-         selectDateAreaTitle : 'Delivery Time',
                                //-         selectDateCancel : false,
                                //-         type: 'Thu, Oct 18  All day',
                                //-         id: 'delivery06',
                                //-         price:'',
                                //-         validList: [
                                //-             {text: 'Preferowana data dostarczenia może różnić się od rzeczywistego czasu dostawy, w zależności od okoliczności firmy kurierskiej'},
                                //-             {text: 'Opóźnienia w dostawie mogą wystąpić z powodu okoliczności firmy kurierskiej.'},
                                //-             {text: 'WAŻNE : Wniosek o zwrot nie będzie akceptowany , jeśli produkt będzie zainstalowany.'},
                                //-             {text: 'Zamówienia zawierające produkty o małych gabarytach, np. smartfony, monitory, ekrany małogabarytowe TV, akcesoria itp. będą przeprowadzane w dni robocze od 8.00 do 18.00 przez kuriera: GLS.'},
                                //-             {text: 'Zamówienia zawierające nieporęczne produkty o dużych rozmiarach, np. telewizory o dużych gabarytach, pralki, lodówki, itp. będą przeprowadzane w dni robocze od 8.00 do 20.00 przez kuriera: DTS.'},
                                //-         ],
                                //-     },
                                //- ])
                                //- +deliverySelectDateComplete({
                                //-     title:'Delivery Time',
                                //-     text:'Przyjazd w ciągu 1 - 5 dni',
                                //-     descList: [
                                //-         {text: 'Preferowana data dostarczenia może różnić się od rzeczywistego czasu dostawy, w zależności od okoliczności firmy kurierskiej'},
                                //-         {text: 'Opóźnienia w dostawie mogą wystąpić z powodu okoliczności firmy kurierskiej.'},
                                //-         {text: 'WAŻNE : Wniosek o zwrot nie będzie akceptowany , jeśli produkt będzie zainstalowany.'},
                                //-         {text: 'Zamówienia zawierające produkty o małych gabarytach, np. smartfony, monitory, ekrany małogabarytowe TV, akcesoria itp. będą przeprowadzane w dni robocze od 8.00 do 18.00 przez kuriera: GLS.'},
                                //-         {text: 'Zamówienia zawierające nieporęczne produkty o dużych rozmiarach, np. telewizory o dużych gabarytach, pralki, lodówki, itp. będą przeprowadzane w dni robocze od 8.00 do 20.00 przez kuriera: DTS.'},
                                //-     ],
                                //- })
                                //- +deliverySelectDateComplete({
                                //-     title:'Delivery Time',
                                //-     text:'Shipment will start from 4 Dec 2023 in order',
                                //-     descList: [
                                //-         {addStyle: 'font-red', text: 'If you purchase a pre-order product together, it will be delivered based on the delivery date of the pre-order product.'},
                                //-     ],
                                //- })
                        
                        details(open).buy-delivery-box__accordion-mix
                            summary.c-accordion-mix__head
                                .c-accordion-mix__head-text
                                    +deliveryBoxProduct([
                                        {
                                            title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                            qty: '1',
                                        },
                                    ])
                            .c-accordion-mix__body
                                +deliveryBoxSubTitle({
                                    boxTitle : 'Delivery Method',
                                    tooltip: false,
                                })
                                +deliveryMixRadioSelect([
                                    {
                                        type: 'Delivery Option 1',
                                        tooltipMsg: '11111111111',
                                        id: 'delivery01',
                                        price:'0,00',
                                        unitPos: 'right',
                                        unitName: 'zł',
                                    },
                                    {
                                        type: 'Delivery Option 2',
                                        tooltipMsg: '11111111111',
                                        id: 'delivery02',
                                        price:'0,00',
                                        unitPos: 'right',
                                        unitName: 'zł',
                                    },
                                ])
                                +deliveryBoxSubTitle({
                                    boxTitle : 'Additional Services',
                                    tooltip: false,
                                })
                                +deliveryAccodionRadio('Installation', false, [
                                    {
                                        type: 'Installation Option 1',
                                        tooltipMsg: '11111111111',
                                        id: 'delivery03',
                                        price:'0,00',
                                        unitPos: 'right',
                                        unitName: 'zł',
                                    },
                                    {
                                        type: 'Installation Option 2',
                                        tooltipMsg: '11111111111',
                                        id: 'delivery04',
                                        price:'0,00',
                                        unitPos: 'right',
                                        unitName: 'zł',
                                    },
                                ])
                                +deliveryAccodionCheck('Haulaway', false, [
                                    {
                                        type: 'Haulaway Option 1',
                                        id: 'delivery05',
                                        tooltipMsg: '1111',
                                        nameId: 'delivery05',
                                        price:'0,00',
                                        unitPos: 'right',
                                        unitName: 'zł',
                                    },
                                    {
                                        type: 'Haulaway Option 2',
                                        id: 'delivery05',
                                        tooltipMsg: '1111',
                                        nameId: 'delivery05',
                                        price:'0,00',
                                        unitPos: 'right',
                                        unitName: 'zł',
                                    }
                                ])
                                +deliveryBoxNoneAcc(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, [
                                    {
                                        selectDateAreaTitle : 'Delivery Time',
                                        selectDateCancel : false,
                                        type: 'Thu, Oct 18  All day',
                                        id: 'delivery06',
                                        price:'',
                                        validList: [
                                            {text: 'W przypadku wybrania metody płatności „BNP Paribas” w kolejnym kroku akceptacja kredytowa moze zająć do około 5 dni roboczych. W związku z tym zlecenie nie może zostać przetworzone zgodnie z datą dostawy wybraną w kalendarzu.'},
                                            {text: 'Preferowana data dostarczenia może różnić się od rzeczywistego czasu dostawy, w zależności od okoliczności firmy kurierskiej.'},
                                        ],
                                    },
                                ])
                                +deliverySelectDateComplete({
                                    title:'Delivery Time',
                                    text:'Przyjazd w ciągu 1 - 5 dni',
                                    descList: [
                                        {text: 'Opóźnienia w dostawie mogą wystąpić z powodu okoliczności firmy kurierskiej.'},
                                    ],
                                })
                                +deliverySelectDateComplete({
                                    title:'Delivery Time',
                                    text:'Shipment will start from 4 Dec 2023 in order',
                                    descList: [
                                        {addStyle: 'font-red', text: 'If you purchase a pre-order product together, it will be delivered based on the delivery date of the pre-order product.'},
                                    ],
                                })
                        
                        +deliveryCombinedShippingCase({
                            title : 'Delivery Time',
                            calendarType: true,
                            validList: [
                                {type: 'normal', text: 'W przypadku wybrania metody płatności „BNP Paribas” w kolejnym kroku akceptacja kredytowa moze zająć do około 5 dni roboczych. W związku z tym zlecenie nie może zostać przetworzone zgodnie z datą dostawy wybraną w kalendarzu.'},
                                {type: 'normal', text: 'Preferowana data dostarczenia może różnić się od rzeczywistego czasu dostawy, w zależności od okoliczności firmy kurierskiej.'},
                            ]
                        })
                        +deliveryCombinedShippingCase({
                            title : 'Delivery Time',
                            leadTimeType: true,
                            leadtime: "Przyjazd w ciągu 1 - 5 dni",
                            validList: [
                                {type: 'normal', text: 'Opóźnienia w dostawie mogą wystąpić z powodu okoliczności firmy kurierskiej.'},
                            ]
                        })
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change delivery options',
                                remove: true,
                            },
                        ])
                        //- +deliveryBox(["LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag) ..."], 'all', false, false, [
                        //-     {
                        //-         type: 'Delivery & Installation',
                        //-         select: 'Thu, Oct 18  All day',
                        //-         tooltipMsg: '11111111111',
                        //-         notEdit: true,
                        //-         price: '0,00 zł',
                        //-     },
                        //- ])
                        //- +deliveryBox(["LG Soundbar SP8YAV"], 'all', false, false, [
                        //-     {
                        //-         type: 'Delivery & Installation',
                        //-         select: 'Thu, Oct 18  All day',
                        //-         tooltipMsg: '11111111111',
                        //-         notEdit: true,
                        //-         price: '0,00 zł',
                        //-     },
                        //- ])
                        //- +deliveryBoxNoneAcc(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, [
                        //-     {
                        //-         selectDateAreaTitle : 'Choose a delivery date',
                        //-         selectDateCancel : false,
                        //-         type: 'Select Date',
                        //-         id: 'delivery76',
                        //-         price:'',
                        //-         validInfo: ['W przypadku wybrania metody płatności „BNP Paribas” w kolejnym kroku akceptacja kredytowa moze zająć do około 5 dni roboczych. W związku z tym zlecenie nie może zostać przetworzone zgodnie z datą dostawy wybraną w kalendarzu.']
                        //-     },
                        //- ])
                        //- .buy-delivery-info--list
                        //-     ul.buy-delivery-info__list
                        //-         li.font-w-normal-16.font-m-normal-14 Zamówienia zawierające produkty o małych gabarytach, np. smartfony, monitory, ekrany małogabarytowe TV, akcesoria itp. będą przeprowadzane w dni robocze od 8.00 do 18.00 przez kuriera: GLS.
                        //-         li.font-w-normal-16.font-m-normal-14 Zamówienia zawierające nieporęczne produkty o dużych rozmiarach, np. telewizory o dużych gabarytach, pralki, lodówki, itp. będą przeprowadzane w dni robocze od 8.00 do 20.00 przez kuriera: DTS.
                        //-         li.font-w-normal-16.font-m-normal-14 Opóźnienia w dostawie mogą wystąpić z powodu okoliczności firmy kurierskiej.
                        //-         li.font-w-normal-16.font-m-normal-14 WAŻNE : Wniosek o zwrot nie będzie akceptowany, jeśli produkt będzie zainstalowany.

                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")
                default 
                    .buy-checkout__item.buy-checkout__item--delivery
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag:["Shipping"],
                                        title:"Robert Surrency",
                                        address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag:["Shipping"],
                                        title:"Robert Surrency",
                                        address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +formCheckbox('Receive order status notification from LG.com via SMS', "name", "val1", "checkId1", count="false", false)
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        //- [Start] 2023-04-18 : ADD - Delivery Error case
                        // 2023.07.19 UPDATE - error case markup
                        //- .buy-delivery-box--error
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], "error", false, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery60',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery62',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: '11111111111',
                                id: 'delivery63',
                                price:'£25.00',
                            },
                        ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change delivery options',
                                remove: true,
                            },
                        ])
                        //- [End] 2023-04-18 : ADD - Delivery Error case
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery64',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery65',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: '11111111111',
                                id: 'delivery66',
                                price:'£25.00',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'complete', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'edit', false, false, [
                            {
                                type: 'Delivery Only',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery67',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery68',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery69',
                                price:'£25.00',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV", "LG Soundbar SP8YAV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG Soundbar SP8YA"], 'only', false, false, false, [
                            {
                                type: 'Delivery Only',
                            },
                        ])
                        +radioDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"],'complete',[
                            {
                                type: 'Home Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery70',
                                price:'£25.00',
                            }
                        ])
                        +deliveryBox(["LG Soundbar SP8YA"], 'only', false, false, [
                            {
                                type: 'Delivery Only',
                                warn: 'The delivery time is different for each shipping company.',
                            },
                        ])
                        +radioDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"],false,[
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery71',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery72',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount ',
                                tooltipMsg: '11111111111',
                                id: 'delivery73',
                                price:'£25.00',
                            }
                        ])
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")

            +CT0302("complete",'hide')

        if(option === "guest")
            .buy-checkout__item.buy-checkout__item--delivery
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "active"
                })
                .c-checkout-step02.c-checkout-step02-form
                    // [Start] 2023-06-02 : UPDATE- change messages
                    p.c-checkout-step01-prevention Zamówienia są realizowane wyłącznie na terenie Polski, zgodnie z aktualnym regulaminem Operatora
                    // [End] 2023-06-02 : UPDATE- change messages
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Shipping
                    // [Start] 2023-06-12 : ADD - number-text
                    +myInputForm([
                        {
                            type:"text",
                            label:"Imię",
                            id:"firstName",
                            required:false,
                            placeholder:"",
                            warning: ['To jest wymagane pole.']
                        },
                        {
                            type:"text",
                            label:"Nazwisko",
                            id:"lastName",
                            required:false,
                            placeholder:"",
                            warning: ['To jest wymagane pole.']
                        },
                        {
                            type:"tel",
                            label:"Numer telefonu",
                            id:"mobileNumber",
                            tooltipMsg: false,
                            required:false,
                            placeholder:"",
                            warning: ['To jest wymagane pole.', 'Prosimy o wprowadzenie poprawnego numeru w tym polu.', 'Numer telefonu powinien mieć od 9 do 15 cyfr. Próbka +48 1234567890'],
                            infoTextSecond: ["W przypadku pytań o dostawę."],
                        },
                        {
                            type:"searchAddress",
                            label:"Adres (ulica, nr domu/ nr lokalu)",
                            id:"streetAddress-list-pl",
                            required:true,
                            placeholder:"Wyszukaj za pomocą kodu pocztowego lub ulicy",
                            list: false,
                            addressClass:false,
                            clearCountry:true,
                            tooltipMsg:false,
                            warning: ['To jest wymagane pole.']
                        },
                        {
                            type:"searchAddress",
                            label:"Adres (ulica, nr domu/ nr lokalu)",
                            id:"streetAddress-list-pl",
                            required:true,
                            placeholder:"Wyszukaj za pomocą kodu pocztowego lub ulicy",
                            list: false,
                            warning:["L'adresse municipale est requise."],
                            countryImg:"icon-checkout-poland-30-20.svg",
                            countryName:"Polska",
                            tooltipMsg:false,
                        },
                        {
                            type:"searchAddress",
                            label:"Adres (ulica, nr domu/ nr lokalu)",
                            id:"streetAddress-list-pl",
                            required:true,
                            placeholder:"01030",
                            list: [
                                '01001 1 Avenue Paul Ramadier (21 more)',
                                '01002 1 Chemin de Grimal (21 more)',
                                '01003 1 Avenue Paul Ramadier (21 more)',
                                '01003 1 Avenue Paul Ramadier (21 more)',
                                '01003 1 Avenue Paul Ramadier (21 more)',
                            ],
                            countryImg:"icon-checkout-poland-30-20.svg",
                            countryName:"Polska",
                            tooltipMsg:false,
                        },
                        {
                            type:"searchAddress",
                            label:"Adres (ulica, nr domu/ nr lokalu)",
                            id:"streetAddress-list-pl",
                            required:true,
                            placeholder:"01030",
                            list: [
                                '01030 1 Rue de Stalingrad',
                                '01001 1 Avenue Paul Ramadier',
                                '01002 1 Avenue Paul Ramadier',
                                '01003 1 Avenue Paul Ramadier',
                                '01004 1 Avenue Paul Ramadier',
                            ],
                            countryImg:"icon-checkout-poland-30-20.svg",
                            countryName:"Polska",
                            tooltipMsg:false,
                        },
                        {
                            type:"searchAddress",
                            label:"Adres (ulica, nr domu/ nr lokalu)",
                            id:"streetAddress-list-pl",
                            required:true,
                            placeholder:"1 Rue de Stalingrad",
                            list: false,
                            addressClass:false,
                            clearCountry:true,
                            tooltipMsg:false,
                        },
                        {
                            type:"text",
                            label:"Kod pocztowy",
                            id:"ZIPCode",
                            required:false,
                            placeholder:"",
                            warning: ['To jest wymagane pole.', 'Prosimy wpisać kod pocztowy (12-345)']
                        },
                        {
                            type:"text",
                            label:"Miasto",
                            id:"city",
                            required:false,
                            placeholder:"",
                            warning: ['To jest wymagane pole.']
                        },
                        {
                            type:"select",
                            label:"Województwo",
                            id:"voivodeship",
                            value:"",
                            optionVal: ['dolnośląskie', 'dolnośląskie'],
                            placeholder:"",
                            required:true,
                        },
                        {
                            type:"text",
                            label:"Kraj",
                            id:"end",
                            value:"",
                            placeholder:"Polska",
                            readonly: true,
                        },
                        {
                            type:"checkbox",
                            label:false,
                            id:"sameBilling",
                            required:false,
                            placeholder:false,
                            readonly: false,
                            text:'Same for billing address'
                        },
                    ])
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Billing
                    +myInputForm([
                        {
                            type:"text",
                            label:"Imię",
                            id:"firstName",
                            required:false,
                            placeholder:"",
                            warning: ['To jest wymagane pole.']
                        },
                        {
                            type:"text",
                            label:"Nazwisko",
                            id:"lastName",
                            required:false,
                            placeholder:"",
                            warning: ['To jest wymagane pole.']
                        },
                        {
                            type:"tel",
                            label:"Numer telefonu",
                            id:"mobileNumber",
                            tooltipMsg: false,
                            required:false,
                            placeholder:"",
                            warning: ['To jest wymagane pole.', 'Prosimy o wprowadzenie poprawnego numeru w tym polu.', 'Numer telefonu powinien mieć od 9 do 15 cyfr. Próbka +48 1234567890'],
                            infoTextSecond: ["W przypadku pytań o dostawę."],
                        },
                        {
                            type:"searchAddress",
                            label:"Adres (ulica, nr domu/ nr lokalu)",
                            id:"streetAddress-list-pl",
                            required:true,
                            placeholder:"Wyszukaj za pomocą kodu pocztowego lub ulicy",
                            list: false,
                            addressClass:false,
                            clearCountry:true,
                            tooltipMsg:false,
                            warning: ['To jest wymagane pole.']
                        },
                        {
                            type:"searchAddress",
                            label:"Adres (ulica, nr domu/ nr lokalu)",
                            id:"streetAddress-list-pl",
                            required:true,
                            placeholder:"Wyszukaj za pomocą kodu pocztowego lub ulicy",
                            list: false,
                            warning:["L'adresse municipale est requise."],
                            countryImg:"icon-checkout-poland-30-20.svg",
                            countryName:"Polska",
                            tooltipMsg:false,
                        },
                        {
                            type:"searchAddress",
                            label:"Adres (ulica, nr domu/ nr lokalu)",
                            id:"streetAddress-list-pl",
                            required:true,
                            placeholder:"01030",
                            list: [
                                '01001 1 Avenue Paul Ramadier (21 more)',
                                '01002 1 Chemin de Grimal (21 more)',
                                '01003 1 Avenue Paul Ramadier (21 more)',
                                '01003 1 Avenue Paul Ramadier (21 more)',
                                '01003 1 Avenue Paul Ramadier (21 more)',
                            ],
                            countryImg:"icon-checkout-poland-30-20.svg",
                            countryName:"Polska",
                            tooltipMsg:false,
                        },
                        {
                            type:"searchAddress",
                            label:"Adres (ulica, nr domu/ nr lokalu)",
                            id:"streetAddress-list-pl",
                            required:true,
                            placeholder:"01030",
                            list: [
                                '01030 1 Rue de Stalingrad',
                                '01001 1 Avenue Paul Ramadier',
                                '01002 1 Avenue Paul Ramadier',
                                '01003 1 Avenue Paul Ramadier',
                                '01004 1 Avenue Paul Ramadier',
                            ],
                            countryImg:"icon-checkout-poland-30-20.svg",
                            countryName:"Polska",
                            tooltipMsg:false,
                        },
                        {
                            type:"searchAddress",
                            label:"Adres (ulica, nr domu/ nr lokalu)",
                            id:"streetAddress-list-pl",
                            required:true,
                            placeholder:"1 Rue de Stalingrad",
                            list: false,
                            addressClass:false,
                            clearCountry:true,
                            tooltipMsg:false,
                        },
                        {
                            type:"text",
                            label:"Kod pocztowy",
                            id:"ZIPCode",
                            required:false,
                            placeholder:"",
                            warning: ['To jest wymagane pole.', 'Prosimy wpisać kod pocztowy (12-345)']
                        },
                        {
                            type:"text",
                            label:"Miasto",
                            id:"city",
                            required:false,
                            placeholder:"",
                            warning: ['To jest wymagane pole.']
                        },
                        {
                            type:"select",
                            label:"Województwo",
                            id:"voivodeship",
                            value:"",
                            optionVal: ['dolnośląskie', 'dolnośląskie'],
                            placeholder:"",
                            required:true,
                        },
                        {
                            type:"text",
                            label:"Województwo",
                            id:"voivodeship",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"select",
                            label:"Kraj",
                            id:"end",
                            value:"",
                            optionVal: ['Polska', 'Polska'],
                            placeholder:"",
                            required:true,
                        },
                    ])

                // PL Form
                .c-checkout-step02.c-checkout-step02-form
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Adres rozliczeniowy / Firma
                    .c-checkout-step02__box
                        .c-input-item.c-input-item--radio-select-box
                            p.text-label.font-w-normal-16.font-m-normal-14 Kupuję jako
                            .c-radio-item
                                +formRadioItem("Firma/Przedsiębiorca", "billing", "company", `checkId_company`)
                                .c-input-item--radio-select-box__content
                                    +myInputForm([
                                        {
                                            type:"text",
                                            label:"Firma",
                                            id:"company",
                                            required:false,
                                            placeholder:false,
                                        },
                                        {
                                            type:"text",
                                            label:"VAT ID",
                                            id:"vatId",
                                            required:true,
                                            placeholder:"",
                                            warning: ['To jest wymagane pole.', 'VAT ID musi składać się z 10 cyfr.', 'Register VAT Successfully!']
                                        },
                                    ])
                                    .button.c-input-item--radio-select-box__button-apply
                                        +defaultButton({name: "ZWERYFIKUJ NIP", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})
                            .c-radio-item
                                +formRadioItem("Osoba Fizyczna", "billing", "individual", `checkId_individual`)&attributes({'checked': 'true'})
                +formCheckbox("Powiadomienie SMS o statusie zamówienia z LG.com", "name", "val2", `checkId_pl-4-3`, count="false", false)
                .button.buy-order-info-coupon__button
                    +defaultButton({name: "Save Address", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="save")

                // form bottom content area
        
        if(option === "guest-bottom-mx")
            .buy-checkout__item.buy-checkout__item--delivery
                // MX
                .c-checkout-step02.c-checkout-step02-form
                    .c-checkout-step02__box
                        +formCheckbox("Requiero factura", "name", "val-mx", `checkId3-1-mx`, count="false", false)
                    +myInputForm([
                        {
                            type:"select",
                            label:"Persona",
                            id:"person-mx",
                            required:false,
                            placeholder:"",
                            value:"",
                            optionVal: ['Fisica', 'Fisica'],
                        },
                        {
                            type:"text",
                            label:"RFC",
                            id:"RFC",
                            required:true,
                            placeholder:"",
                            value:"",
                            warning:['Ingresa tu apellido.']
                        },
                        {
                            type:"select",
                            label:"CFDI",
                            id:"CFDI",
                            required:false,
                            placeholder:"",
                            value:"",
                            optionVal: ['G01 - Adquisición de mercancias', 'G01 - Adquisición de mercancias'],
                        },
                        {
                            type:"text",
                            label:"Correo Electrónico",
                            id:"Correo",
                            required:true,
                            placeholder:"",
                            warning:['Ingresa tu apellido.']
                        },
                    ])  
                .button.buy-order-info-coupon__button
                    +defaultButton({name: "Save Address", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="save")

        if(option === "guest-bottom-vn")
            .buy-checkout__item.buy-checkout__item--delivery
                // vn
                .c-checkout-step02.c-checkout-step02-form
                    .my-input
                        +formCheckbox("Thay đổi thông tin hóa đơn", "name", "val1", `checkId4`, count="false", false)

                // VAT invoice 
                .c-checkout-step02.c-checkout-step02-form
                    .c-checkout-step02__box
                        +formCheckbox("Thay đổi thông tin hóa đơn", "name", "val2", `checkId3-1`, count="false", false, checked=true)
                        p.c-text-contents__bodycopy.font-w-normal-16.font-m-normal-16 Công ty chúng tôi sẽ xuất hóa đơn VAT cho quý khách theo thông tin giao hàng bên trên.
                        p.c-text-contents__bodycopy.font-w-normal-16.font-m-normal-16 Nếu quý khách muốn thay đổi thông tin xuất hóa đơn khác với thông tin giao hàng vui lòng điền đầy đủ và chính xác thông tin vào ô bên dưới. (LG Online Shop bảo lưu quyền từ chối điều chỉnh và/hoặc xuất lại hóa đơn trong trường hợp khách hàng cung cấp thông tin không chính xác)
                    +myInputForm([
                        {
                            type:"text",
                            label:"Tên công ty",
                            id:"CompanyName",
                            required:false,
                            placeholder:"",
                            value:"",
                        },
                        {
                            type:"text",
                            label:"Mã số thuế",
                            id:"TaxCode",
                            required:true,
                            placeholder:"",
                            value:"",
                            warning:['Thông tin bắt buộc.']
                        },
                        {
                            type:"text",
                            label:"Địa chỉ công ty",
                            id:"companyAddress",
                            required:false,
                            placeholder:"",
                        },
                    ])  
                .button.buy-order-info-coupon__button
                    +defaultButton({name: "Save Address", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="save")

        if(option === "guest-bottom-pl")
            .buy-checkout__item.buy-checkout__item--delivery       
                // PL
                .c-checkout-step02.c-checkout-step02-form
                    .c-checkout-step02__box
                        +formCheckbox("Wyrażam zgodę na przetwarzanie podanych przeze mnie danych osobowych przez LG Electronics Polska sp. z o.o. do celów:", "name", "val2", `checkId_pl-3-1`, count="false", false)
                        +formCheckbox("przesyłania wiadomości mailowych, dotyczących najnowszych produktów, promocji, ofert i usług, a także w zakresie składania propozycji zawarcia lub zmian umów,", "name", "val2", `checkId_pl-3-2`, count="false", false)
                        +formCheckbox("przesyłania wiadomości sms, dotyczących najnowszych produktów, promocji, ofert i usług, a także w zakresie składania propozycji zawarcia lub zmian umów,", "name", "val2", `checkId_pl-3-3`, count="false", false)
                        +formCheckbox("nawiązania kontaktu telefonicznego, dotyczącego najnowszych produktów, promocji, ofert i usług, a także w zakresie składania propozycji zawarcia lub zmian umów", "name", "val2", `checkId_pl-3-4`, count="false", false)
                        +formCheckbox('<span>nawiązania kontaktu telefonicznego, dotyczącego najnowszych produktów, promocji, ofert i usług, a także w zakresie składania propozycji zawarcia lub zmian umów. Polityką prywatności <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">– Ochroną Danych Osobowych LG</span></a><span>', "name", "val2", `checkId_pl-3-5`, count="false", false)
                        p.c-checkbox-item.c-checkbox-item--gray-info.font-w-normal-16.font-m-normal-16 Wymagane jest wyrażenie zgody.
                        
                        p.c-text-contents__bodycopy.font-w-normal-16.font-m-normal-16 Administratorami Państwa danych osobowych są:
                        p.c-text-contents__bodycopy.font-w-normal-16.font-m-normal-16 I. W przypadku zakupu towaru na raty
                        p.c-text-contents__bodycopy.font-w-normal-16.font-m-normal-16 
                            | a) w zakresie obsługi witryny sklepu internetowego, dostawy produktów, zawierania umów sprzedaży produktów dostępnych w sklepie internetowym, realizacji płatności związanych ze sprzedażą oraz w zakresie działań marketingowych prowadzonych na podstawie wyrażonych przez Państwa zgód:LG Electronics Polska sp. z o.o. z siedzibą w Warszawie, ul. Wołoska 22, 02-675 Warszawa.Więcej informacji na temat przetwarzania Państwa danych osobowych przez LG Electronics Polska znajduje się w: 
                            a.cmp-button.c-button.c-button--text-underline.red(href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="") Polityce prywatności - Ochronie Danych Osobowych.
                        p.c-text-contents__bodycopy.font-w-normal-16.font-m-normal-16 b) w zakresie związanym z wydaniem decyzji kredytowych i ich przekazaniem Klientowi : BNP Paribas Bank Polska Spółka Akcyjna z siedzibą w Warszawie.
                        p.c-text-contents__bodycopy.font-w-normal-16.font-m-normal-16 Więcej informacji na temat przetwarzania Państwa danych osobowych przez BNP Paribas Bank Polska Spółka Akcyjna z siedzibą w Warszawie znajduje się w: Repozytorium – Ochrona Danych Osobowych
                        p.c-text-contents__bodycopy.font-w-normal-16.font-m-normal-16 II. W przypadku pozostałych form płatności:
                        p.c-text-contents__bodycopy.font-w-normal-16.font-m-normal-16 
                            | a) w zakresie obsługi witryny sklepu internetowego, dostawy produktów oraz w zakresie działań marketingowych prowadzonych na podstawie wyrażonych przez Państwa zgód:LG Electronics Polska sp. z o.o. z siedzibą w Warszawie ul. Wołoska 22, 02-675 Warszawa.Więcej informacji na temat przetwarzania Państwa danych osobowych dostępnych przez LG Electronics Polska znajduje się w 
                            a.cmp-button.c-button.c-button--text-underline.red(href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="") Polityce prywatności – Ochrony Danych Osobowych
                        p.c-text-contents__bodycopy.font-w-normal-16.font-m-normal-16 
                            | b) w ramach zawierania umów sprzedaży produktów dostępnych w sklepie internetowym oraz realizacji płatności związanych ze sprzedażą:Digital River Ireland Ltd z siedzibą: Dromore House, East Park, V14 AN23, Shannon, Co.Clare, Irlandia.Więcej informacji na temat przetwarzania Państwa danych osobowych dostępnych przez Digital River Ireland Ltd znajduje się w linku poniżej 
                            a.cmp-button.c-button.c-button--text-underline.red(href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="") - Ochrona danych
                            br
                            | Każdej osobie przysługuje prawo dostępu do swoich danych osobowych, ich sprostowania, usunięcia, ograniczenia przetwarzania, przenoszenia, wniesienia sprzeciwu wobec ich przetwarzania oraz wniesienia skargi do odpowiedniego organu nadzorczego.Więcej informacji na ten temat znajdziesz w politykach prywatności każdego z wymienionych wyżej Administratorów.

                // PL Form
                .c-checkout-step02.c-checkout-step02-form
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Adres rozliczeniowy / Firma
                    .c-checkout-step02__box
                        .c-input-item
                            .text-label.font-w-normal-16.font-m-normal-14 Kupuję jako
                            +formCheckbox("Firma/Przedsiębiorca", "name", "val2", `checkId_pl-4`, count="false", false)
                        +myInputForm([
                            {
                                type:"text",
                                label:"Firma",
                                id:"business",
                                required:false,
                                placeholder:"",
                                value:""
                            },
                            {
                                type:"text",
                                label:"VAT ID",
                                id:"business",
                                required:false,
                                placeholder:"",
                                value:""
                            },
                        ]) 
                        .button.buy-order-info-coupon__button
                            +defaultButton({name: "ZWERYFIKUJ NIP", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="save")
                                            
                        +formCheckbox("Osoba Fizyczna", "name", "val2", `checkId_pl-4-2`, count="false", false)
                +formCheckbox("Powiadomienie SMS o statusie zamówienia z LG.com", "name", "val2", `checkId_pl-4-3`, count="false", false)
                .button.buy-order-info-coupon__button
                    +defaultButton({name: "Save Address", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="save")

        if(option === "guest-bottom-cn")
            .buy-checkout__item.buy-checkout__item--delivery
                .c-checkout-step02.c-checkout-step02-form
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Tax Invoice
                    .c-checkout-step02__box.c-checkout-paddingbottom0
                        .c-input-item.align-row
                            +formRadio("个人", "TaxInvoice", "personal", `TaxInvoice-personal`)
                            +formRadio("单位", "TaxInvoice", "unit", `TaxInvoice-unit`)
                    +myInputForm([
                        {
                            type:"text",
                            label:"Name",
                            id:"Name",
                            required:false,
                            placeholder:"",
                            value:""
                        },
                    ]) 
                .button.buy-order-info-coupon__button
                    +defaultButton({name: "Save Address", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="save")

        if(option === "guest-bottom-kz")
            .buy-checkout__item.buy-checkout__item--delivery
                .c-checkout-step02.c-checkout-step02-form
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Purchase as
                    .c-checkout-step02__box
                        .c-input-item
                            +formCheckbox("Individual", "PurchaseAs", "Individual", `checkId_Individual`, count="false", false)
                            +formCheckbox("Company", "PurchaseAs", "Company", `checkId_Company`, count="false", false)
                        +myInputForm([
                            {
                                type:"text",
                                label:"Company Name",
                                id:"CompanyName",
                                required:false,
                                placeholder:"",
                                value:""
                            },
                            {
                                type:"text",
                                label:"Organization BIN",
                                id:"OrganizationBIN",
                                required:false,
                                placeholder:"",
                                value:"",
                                warning:['Organization BIN number is required']
                            },
                        ]) 
                +formCheckbox("Save in address book", "saveCheck", "val-Save", `SaveInAddressBook`, count="false", false)
                .button.buy-order-info-coupon__button
                    +defaultButton({name: "Save Address", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="save")

        if(option === "searchAddress")
            .buy-checkout__item.buy-checkout__item--delivery
                .c-checkout-step02.c-checkout-step02-form
                    .guide-text-option(style="margin:0px 0 0 0") Option : form- search address (MX, CZ, HU)
                    +myInputForm([
                        {
                            type:"searchAddress",
                            label:"Dirección",
                            id:"searchAddress-mx",
                            required:true,
                            value:'01030 1 Rue de Stalingrad',
                            addressClass:false,
                            clearCountry:true,
                            list: false,
                            placeholder:"",
                            warning:['Se requiere la dirección.'],
                            doubleInputNo: 2,
                            countryImg:"icon-checkout-mexico-30-20.svg",
                            countryName:"mexico"
                        },
                        {
                            type:"searchAddress",
                            label:"Dirección",
                            id:"searchAddress-mx-list",
                            required:true,
                            value:'123',
                            addressClass:false,
                            clearCountry:false,
                            list: false,
                            placeholder:"Inicia con el código postal o la calle",
                            warning: false,
                            doubleInputNo: 2,
                            countryImg:"icon-checkout-mexico-30-20.svg",
                            countryName:"mexico"
                        },
                        {
                            type:"searchAddress",
                            label:"Dirección",
                            id:"searchAddress-mx-list2",
                            required:true,
                            value:'123',
                            addressClass:false,
                            clearCountry:false,
                            list: [
                                '123 Eyans Street, South Geelong VIC 3220',
                                '123 Clayton Road, Oakleigh East VIC 3166',
                            ],
                            placeholder:"Inicia con el código postal o la calle",
                            warning: false,
                            doubleInputNo: 2,
                            countryImg:"icon-checkout-mexico-30-20.svg",
                            countryName:"mexico"
                        },
                        {
                            type:"searchAddress",
                            label:"Ulice a č. popisné",
                            id:"searchAddress-cz-list",
                            required:true,
                            value:'123',
                            addressClass:false,
                            clearCountry:false,
                            list: false,
                            placeholder:"Hledat pomocí PSČ nebo ulice",
                            warning: ['Ulice je povinná.'],
                            doubleInputNo: 2,
                            countryImg:"icon-checkout-czech-30-20.svg",
                            countryName:"Česká republika"
                        },
                        {
                            type:"searchAddress",
                            label:"Közterület neve, típusa, házszám",
                            id:"searchAddress-hu-list",
                            required:true,
                            value:'123',
                            addressClass:false,
                            clearCountry:false,
                            list: false,
                            placeholder:"Keresés irányítószám vagy utcanév alapján",
                            warning: ['Utcai cím megadása kötelező.'],
                            doubleInputNo: 2,
                            countryImg:"icon-checkout-hungary-30-20.svg",
                            countryName:"Magyarország"
                        },
                    ])
                                
                    .guide-text-option(style="margin:50px 0 0 0") Option : form- search address (FR, VN, CL, DE, AT, NL, CH_DE, PL, SE, PE, CAC_EN, EG_EN, TW)
                    +myInputForm([
                        {
                            type:"searchAddress",
                            label:"Adresse",
                            id:"streetAddress-fr",
                            required:true,
                            placeholder:"start with post/ Zip code or street",
                            clearCountry:true,
                            list: false,
                            warning:["L'adresse municipale est requise."],
                            countryImg:"icon-checkout-france-30-20.svg",
                            countryName:"France"
                        },
                        {
                            type:"searchAddress",
                            label:"Adresse",
                            id:"streetAddress-fr-list",
                            required:true,
                            placeholder:"start with post/ Zip code or street",
                            list: false,
                            warning:["L'adresse municipale est requise."],
                            countryImg:"icon-checkout-france-30-20.svg",
                            countryName:"France"
                        },
                        {
                            type:"searchAddress",
                            label:"Adresse",
                            id:"streetAddress-fr-list2",
                            required:false,
                            placeholder:"start with post/ Zip code or street",
                            value:'01030',
                            list: [
                                '01001 1 Avenue Paul Ramadier (21 more)',
                                '01002 1 Chemin de Grimal (21 more)',
                                '01003 1 Avenue Paul Ramadier (21 more)',
                                '01003 1 Avenue Paul Ramadier (21 more)',
                                '01003 1 Avenue Paul Ramadier (21 more)',
                            ],
                            countryImg:"icon-checkout-france-30-20.svg",
                            countryName:"France"
                        },
                        {
                            type:"searchAddress",
                            label:"Địa chỉ đường",
                            id:"streetAddress-list-vn",
                            required:true,
                            placeholder:"e.g. Công ty LG Việt Nam",
                            list: false,
                            warning:['Thông tin bắt buộc.'],
                            countryImg:"icon-checkout-vietnam-30-20.svg",
                            countryName:"Việt Nam"
                        },
                        {
                            type:"searchAddress",
                            label:"Calle",
                            id:"streetAddress-cl-list",
                            required:true,
                            placeholder:"Buscar por Código Postal o dirección",
                            list: false,
                            warning:['Por favor utilizar solo letras y números.','Se requiere la dirección.'],
                            countryImg:"icon-checkout-chile-30-20.svg",
                            countryName:"Chile"
                        },
                        {
                            type:"searchAddress",
                            label:"Straße",
                            id:"streetAddress-de-list",
                            required:true,
                            placeholder:"Mit Postleitzahl oder Straßenbezeichnung suchen",
                            list: false,
                            warning:['Straße ist erforderlich.'],
                            countryImg:"icon-checkout-germany-30-20.svg",
                            countryName:"Deutschland"
                        },
                        {
                            type:"searchAddress",
                            label:"Straße",
                            id:"streetAddress-list-at",
                            required:true,
                            placeholder:"Suche mit Postleitzahl oder Straße",
                            list: false,
                            warning:['Straße ist erforderlich.'],
                            countryImg:"icon-checkout-austria-30-20.svg",
                            countryName:"Österreich"
                        },
                        {
                            type:"searchAddress",
                            label:"Adres",
                            id:"streetAddress-list-nl",
                            required:true,
                            placeholder:"Zoek met postcode of straat",
                            list: false,
                            warning:['Dit is een verplicht veld.'],
                            countryImg:"icon-checkout-nederland-30-20.svg",
                            countryName:"Nederland",
                            tooltipMsg:"Voer uw postcode in om de functie Automatisch Aanvullen te gebruiken",
                        },
                        {
                            type:"searchAddress",
                            label:"Straße und Hausnummer",
                            id:"streetAddress-list-ch_de",
                            required:true,
                            placeholder:"Suche mit Postleitzahl oder Straße",
                            list: false,
                            warning:['Dit is een verplicht veld.'],
                            countryImg:"icon-checkout-switzerland-30-20.svg",
                            countryName:"Switzerland",
                        },
                        {
                            type:"searchAddress",
                            label:"Adres (ulica, nr domu/ nr lokalu)",
                            id:"streetAddress-list-pl",
                            required:true,
                            placeholder:"Wyszukaj za pomocą kodu pocztowego lub ulicy",
                            list: false,
                            warning:['To jest wymagane pole.'],
                            countryImg:"icon-checkout-poland-30-20.svg",
                            countryName:"Polska",
                        },
                        {
                            type:"searchAddress",
                            label:"Gatuadress",
                            id:"streetAddress-list-se",
                            required:true,
                            placeholder:"Sök med postnummer eller gata",
                            list: false,
                            warning:['Gatuadress krävs.'],
                            countryImg:"icon-checkout-sweden-30-20.svg",
                            countryName:"Sverige",
                            tooltipMsg:"Vänligen ange din adress för att använda funktionen för automatisk komplettering",
                        },
                        {
                            type:"searchAddress",
                            label:"Dirección de Envío",
                            id:"streetAddress-list-pe",
                            required:true,
                            placeholder:"Buscar con Código Postal / Ubigeo o Calle",
                            list: false,
                            warning:['Este es un campo obligatorio.'],
                            countryImg:"icon-checkout-peru-30-20.svg",
                            countryName:"Change Country",
                            tooltipMsg:false,
                        },
                        {
                            type:"searchAddress",
                            label:"Dirección",
                            id:"streetAddress-list-CAC_EN",
                            required:true,
                            placeholder:"Buscar con código postal o nombre de calle",
                            list: false,
                            warning:["L'adresse municipale est requise."],
                            countryImg:"icon-checkout-panama-30-20.svg",
                            countryName:"Panamá",
                            tooltipMsg:false,
                        },
                        {
                            type:"searchAddress",
                            label:"Street Address",
                            id:"streetAddress-list-EG_EN",
                            required:true,
                            placeholder:"start with post/ Zip code or street",
                            list: false,
                            warning:["Street address is required."],
                            countryImg:"icon-checkout-egypt-30-20.svg",
                            countryName:"Change Country",
                            tooltipMsg:false,
                        },
                        {
                            type:"searchAddress",
                            label:"街道地址",
                            id:"streetAddress-list-EG_EN",
                            required:true,
                            placeholder:"輸入郵遞區號或街道名稱",
                            list: false,
                            warning:["這是一個必填字段"],
                            countryImg:"icon-checkout-taiwan-30-20.svg",
                            countryName:"Change Country",
                            tooltipMsg:false,
                        },
                    ])

                    .guide-text-option(style="margin:50px 0 0 0") Option : form- search address (IT)
                    +myInputForm([
                        {
                            type:"select",
                            label:"Stato/Provincia",
                            id:"Stato",
                            value:"United Kingdom",
                            optionVal: ['Seleziona la reqione, stato Provincia', 'Seleziona la reqione, stato Provincia', 'Seleziona la reqione, stato Provincia'],
                            required:true,
                            warning:['Per favore selezioni la PROVINCIA'],
                        },
                    ])

                    .guide-text-option(style="margin:50px 0 0 0") Option : form- search address (BR)
                    +myInputForm([
                        {
                            type:"searchAddressSelect",
                            label:"Cidade",
                            id:"streetAddress-br",
                            addressClass:'searchAddress--clearArrow',
                            required:false,
                            title:'Por favor, selecione uma cidade.',
                            placeholder:'',
                            value:'',
                            list: [
                                'Adamantina',
                                'Adolfo',
                                'Aguai',
                                'Agudos',
                                'Alfredo Marcondes',
                            ]
                        },
                    ])

                    .guide-text-option(style="margin:50px 0 0 0") Option : form- search address (AU)
                    +myInputForm([
                        {
                            type:"searchAddress",
                            label:"Street Address (PO Box delivery is not available)",
                            id:"searchAddress-au",
                            required:true,
                            value:'',
                            addressClass:'searchAddress--clearArrow',
                            clearCountry:true,
                            list: false,
                            placeholder:"Search address",
                            warning: ['Street address is required.'],
                            doubleInputNo: 1,
                        }, 
                        {
                            type:"searchAddress",
                            label:"Street Address (PO Box delivery is not available)",
                            id:"searchAddress-list-au",
                            required:true,
                            value:'123 AU',
                            addressClass:'searchAddress--clearArrow',
                            clearCountry:true,
                            list: [
                                '123 Eyans Street, South Geelong VIC 3220',
                                '123 Clayton Road, Oakleigh East VIC 3166',
                                '123 Gardenia Road, Lalor VIC 3075',
                                '123 Balgownie Rd, Balgownie NSW 2519',
                                '123 Grange Rd, Glen Huntly VIC 3163',
                            ],
                            placeholder:"Search address",
                            warning: ['Street address is required.'],
                            doubleInputNo: 1,
                        }, 
                    ])

                    .guide-text-option(style="margin:50px 0 0 0") Option : form- search address (IN)
                    +myInputForm([
                        {
                            type:"text",
                            label:"Street address",
                            id:"city-in",
                            required:true,
                            placeholder:"Street address",
                            warning: ['This is a required field.'],
                            readonly: false,
                            doubleInputNo: 1,
                        },
                    ])
                    
                    .guide-text-option(style="margin:50px 0 0 0") Option : form- search address (CA, JP, ID)
                    .c-checkout-step01
                        .c-checkout-step01-formbox
                            +myInputForm([
                                {
                                    type:"text",
                                    label:"Postcode",
                                    id:"postcode",
                                    required:false,
                                    placeholder:"Postcode",
                                    warning: ['Postcode is required.','This postcode is not valid.'],
                                    button: 'Find Address',
                                },
                                {
                                    type:"text",
                                    label:"Street Address",
                                    id:"streetAddress",
                                    required:false,
                                    placeholder:"Street Address",
                                    readonly: true,
                                },
                                {
                                    type:"text",
                                    label:"Extended Address",
                                    id:"ExtendedAddress",
                                    required:false,
                                    placeholder:"",
                                    readonly: true,
                                },
                                {
                                    type:"text",
                                    label:"City",
                                    id:"City",
                                    required:false,
                                    placeholder:"City",
                                    readonly: true,
                                },
                                {
                                    type:"text",
                                    label:"Province",
                                    id:"Province",
                                    required:false,
                                    placeholder:"",
                                    readonly: true,
                                },
                            ])
                    
                    .guide-text-option(style="margin:50px 0 0 0") Option : form- search address (ES, TH, KZ, SA)
                    .c-checkout-step01
                        .c-checkout-step01-formbox
                            +myInputForm([
                                {
                                    type:"text",
                                    label:"Zip code",
                                    id:"zipCode",
                                    required:false,
                                    placeholder:"",
                                    warning: ['Zip code is required.','This Postal Code is not valid.'],
                                },
                                {
                                    type:"text",
                                    label:"City",
                                    id:"City-zipCode",
                                    required:false,
                                    placeholder:"City",
                                    readonly: true,
                                },
                                {
                                    type:"select",
                                    label:"Province",
                                    id:"Province-zipCode",
                                    required:false,
                                    value:"",
                                    optionVal: ['',],
                                    disabled: true,
                                },
                                {
                                    type:"text",
                                    label:"Country",
                                    id:"Country-zipCode",
                                    required:false,
                                    placeholder:"Spain",
                                    readonly: true,
                                },
                            ])

                    .guide-text-option(style="margin:50px 0 0 0") Option : form- search address (CN, HK, CO, PT, TK, SG)
                    .c-checkout-step01
                        .c-checkout-step01-formbox
                            +myInputForm([
                                {
                                    type:"select",
                                    label:"Province",
                                    id:"Province-def",
                                    required:false,
                                    value:"",
                                    optionVal:['Province'],
                                    readonly: false,
                                },
                                {
                                    type:"select",
                                    label:"City",
                                    id:"City-def",
                                    required:false,
                                    placeholder:"City",
                                    optionVal:['City'],
                                    readonly: false,
                                },
                                {
                                    type:"select",
                                    label:"Street",
                                    id:"Street-def",
                                    required:false,
                                    placeholder:"",
                                    optionVal:['Street'],
                                    readonly: false,
                                },
                                {
                                    type:"select",
                                    label:"Street 2",
                                    id:"Street2-def",
                                    required:false,
                                    placeholder:"",
                                    optionVal:['Street 2'],
                                    readonly: false,
                                },
                                {
                                    type:"text",
                                    label:"Detailed address",
                                    id:"DetailedAddress-def",
                                    required:false,
                                    value:"",
                                    readonly: false,
                                },
                                {
                                    type:"text",
                                    label:"Country",
                                    id:"Country-def",
                                    required:false,
                                    placeholder:"China",
                                    readonly: true,
                                },
                            ])

        if(option === "tel")
            .buy-checkout__item.buy-checkout__item--delivery
                .c-checkout-step02.c-checkout-step02-form
                    .guide-text-option(style="margin:0px 0 0 0") Option : form- tel (MX, FR, IT, VN, BR, DE, AU, SE, PE, CAC_EN, EG_EN, IN, TW)
                    +myInputForm([
                        {
                            type:"tel",
                            label:"Número celular",
                            id:"tel",
                            tooltipMsg:"Para preguntas sobre la entrega.",
                            required:false,
                            warning: ['El campo del número celular esta vacío.', 'Se introdujeron carácteres incorrectos en el campo del número celular (letras, símbolos, etc).', 'Se introdujeron más/menos numeros en el campo del número celular.']
                        },
                    ])  

                    .guide-text-option(style="margin:50px 0 0 0") Option : form- tel (CL, AT, NL, KZ, PT)
                    +myInputForm([
                        {
                            type:"tel",
                            label:"Telefono Móvil",
                            id:"tel-2",
                            tooltipMsg:"Para preguntas de entrega.",
                            required:false,
                            telNumber:"+56",
                            warning: ['Ingresa un numero de teléfono válido.']
                        },
                    ])  

                    .guide-text-option(style="margin:50px 0 0 0") Option : form- tel (CZ, HU, PL, CA, ES, JP, ID, CN, HK, TH, CO, SA, TK, SG)
                    +myInputForm([
                        {
                            type:"tel",
                            label:"Telefonní číslo",
                            id:"tel-3",
                            required:false,
                            warning: ['Toto pole je povinné.']
                        },
                    ])  

                    .guide-text-option(style="margin:50px 0 0 0") Option : form- tel (CH_DE)
                    +myInputForm([
                        {
                            type:"tel",
                            label:"Telefonnummer",
                            id:"phoneNumber-ch_de",
                            tooltipMsg:"phone number",
                            tooltipInInput: true,
                            required:false,
                            warning: ['Telefonnummer ist erforderlich.','Bitte geben Sie eine gültige Nummer in dieses Feld ein.','Die Telefonnummer sollte 9 bis 15 Ziffern haben. Probe +41 123456789']
                        },
                    ])  

        if(option === "before")
            .buy-checkout__item.before
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checkoutStep"
                })

        if(option === "complete")
            .buy-checkout__item.buy-checkout__item--delivery.buy-checkout__item--complete(style=`${country=='hide'?'display:none':''}`)
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checked",
                })
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag:["Shipping"],
                                title:"Robert Surrency",
                                address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag: ["Billing"],
                                title:"Robert Surrency",
                                address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-orderd.c-checkout-orderd--confirm
                    .c-checkout-orderd__item.c-checkout-orderd__item--delivery
                        +checkoutOrderDeliveryProduct("Delivery & Installation", "Thu, Oct 18  All day", [
                            {
                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                qty: "1",
                                price: "2 099,98",
                                unitPos: "right",
                                unitName: " zł",
                                dateColor: "red"
                            },
                        ])