@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.ML000I';
#{$component} {
  .only-pc {
    @include screen(mobile) {
      display: none;
    }
  }
  .my-component {
    margin: 0 auto;

    $mycomponent: '.my-component';
    position: relative;
    overflow: hidden;
    @include container($design-grid-full, true);
    @include inset-padding-hz;
    &.bg-white {
      background-color: transparent;
      max-width: none;
      margin-top: rem($margin48px);
      border-top: rem($border1) solid $mid-gray1;
      @include screen(mobile) {
        display: none;
      }
    }
    .font-w-normal-12 {
      @include screen(web) {
        font-size: rem(12px);
        line-height: rem(12px);
        font-weight: $font-regular;
      }
    }
    .font-m-normal-12 {
      @include screen(mobile) {
        font-size: rem(12px);
        line-height: rem(12px);
        font-weight: $font-regular;
      }
    }
    .font-w-semibold-30 {
      @include screen(web) {
        font-size: rem(30px);
        line-height: rem(30px);
        font-weight: $font-semibold;
      }
    }
    .font-m-semibold-20 {
      @include screen(mobile) {
        font-size: rem(20px);
        line-height: rem(30px);
        font-weight: $font-semibold;
      }
    }
    .font-w-normal-10 {
      @include screen(web) {
        font-size: rem(10px);
        line-height: rem(10px);
        font-weight: $font-regular;
      }
    }
    .font-m-normal-10 {
      @include screen(mobile) {
        font-size: rem(10px);
        line-height: rem(10px);
        font-weight: $font-regular;
      }
    }
    & > .c-text-contents > .c-text-contents__bodycopy {
      margin-top: rem($margin6px);
      @include screen(web) {
        margin-top: rem($margin10px);
      }
    }
    &.bg-lightgray {
      margin: 0 auto;
      max-width: rem(1440px);
      width: 100%;
      background: $ivory6;
      @include screen(web) {
        margin: rem($margin20px) auto 0;
        border-radius: rem($radius8);
      }
    }
  }
  .my-detail-product {
    $detailproduct: '.my-detail-product';
    &__item {
      display: flex;
      flex-flow: column;
      gap: rem(20px);
      justify-content: flex-start;
      @include screen(web) {
        flex-flow: row;
        gap: rem(24px);
        padding: 0;
      }
    }
    &__txt {
      width: 100%;
      max-width: 100%;
      @include screen(web) {
        padding-top: rem($padding32px);
      }
      .c-text-contents {
        &__eyebrow {
          color: $gray6;
          font-weight: $font-regular;
          line-height: rem(20px);
          @include screen(web) {
            line-height: rem(22px);
          }
          span {
            display: block;
          }
        }
        &__text-box {
          display: flex;
          gap: rem(6px);
          align-items: center;
          margin-top: rem($margin5px);
          @include screen(web) {
            margin-top: rem($margin7px);
          }
          &__date {
            span {
              display: block;
              color: $gray6;
              line-height: rem(20px);
            }
          }
        }
        &__title {
          span {
            display: block;
            line-height: rem(24px);
            @include screen(web) {
              line-height: rem(38px);
            }
          }
        }
        &__quantity {
          color: $gray6;
          @include screen(web) {
            margin-top: rem($margin2px);
          }
        }
      }
      .my-orderDetail {
        .c-text-contents__title {
          span {
            display: block;
            line-height: rem(16px);
            @include screen(web) {
              line-height: rem(22px);
            }
          }
        }
        .c-text-contents__bodycopy {
          margin-top: rem($margin6px);
          span {
            display: block;
          }
        }
      }
    }
    &__img {
      position: relative;
      display: flex;
      align-items: center;
      padding: rem($padding12px);
      min-height: rem(212px);
      background-color: $white;
      @include lgness-radius('default');
      @include screen(web) {
        position: static;
        display: block;
        margin: 0;
        width: 30%;
        max-width: rem(302px);
        min-height: 100%;
        padding: 0;
        border-radius: 0;
        background-color: transparent;
      }
      img {
        margin: 0 auto;
        max-width: rem(160px);
        width: 100%;
        @include screen(web) {
          max-width: rem(200px);
        }
      }
      .c-text-contents__text-box__model {
        position: absolute;
        top: rem(12px);
        left: rem(12px);
        padding: rem($padding2px) rem($padding5px);
        color: $white;
        background: $gray3;
        border-radius: rem($radius4);
        display: inline-block;
        @include screen(web) {
          position: static;
          margin-bottom: rem($margin6px);
        }
        span {
          display: flex;
          align-items: center;
          &:before {
            display: inline-block;
            content: '';
            margin-right: rem($margin2px);
            width: rem(10px);
            height: rem(10px);
            background: url($icon-mylg-thinq-connected-white-10-10) center / contain no-repeat;
            vertical-align: middle;
          }
        }
      }
    }
    & + .c-cta {
      #{$detailproduct} {
        .my-orderDetail {
          border-bottom: rem($border1) solid $graye6;
        }
      }
    }
  }
  .my-item-detail {
    margin-bottom: rem($margin24px);
    @include screen(web) {
      margin-bottom: rem($margin48px);
    }
    .my-orderDetail {
      margin-top: rem($margin16px);
      @include screen(web) {
        margin-top: rem($margin14px);
      }
    }
    .c-cta {
      justify-content: center;
      margin-top: rem($margin20px);
      @include screen(web) {
        margin-top: rem($margin24px);
      }
    }
    .my-detail-product + .c-cta {
      margin-top: rem($margin24px);
      @include screen(web) {
        margin-top: rem($margin60px);
      }
    }
  }
  .my-detail-product {
    @include screen(web) {
      padding: rem($padding24px);
      @include lgness-radius('default');
      background-color: $white;
    }
  }
  .my-orderDetail {
    $text: '.c-text-contents';
    border-top: rem($border1) solid $mid-gray1;
    ul {
      @include reset-list-style;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      li {
        width: 100%;
        padding: rem($padding16px) 0 rem($padding10px);
        border-bottom: rem($border1) solid $mid-gray1;
        @include screen(web) {
          width: 50%;
          padding: rem($padding14px) rem(20px);
          align-self: stretch;
        }
        &:nth-child(even) {
          @include screen(web) {
            padding-right: 0;
          }
        }
        &:nth-child(odd) {
          @include screen(web) {
            padding-left: 0;
          }
        }
      }
    }
    .c-text-contents__title {
      line-height: rem(16px);
      @include screen(web) {
        line-height: rem(22px);
      }
    }
    .c-text-contents__bodycopy {
      color: $mid-gray2;
      margin-top: 0;
      line-height: rem(20px);
      @include screen(web) {
        margin-top: rem($margin4px);
        line-height: rem(22px);
      }
      &--file {
        a {
          display: inline-block !important;
          position: relative;
          padding-right: rem($padding20px);
          color: $gray3;
          &::after {
            content: '';
            display: inline-block;
            position: absolute;
            bottom: 0;
            right: 0;
            width: rem(16px);
            height: rem(16px);
            background: {
              position: center;
              size: cover;
              repeat: no-repeat;
              color: transparent;
              image: url($icon-download-black-24-24);
            }
          }
        }
      }
      &--btnline {
        display: flex;
        justify-content: flex-end;
        .cmp-button {
          vertical-align: top;
        }
      }
    }
  }
  .my-order-detail__box {
    display: block;
    border-bottom: rem($border1) solid $mid-gray1;
    position: relative;
    padding: rem($padding10px) 0;
    @include screen(web) {
      padding: rem($padding14px) 0;
      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
    .c-text-contents {
      &__title {
        margin-top: 0;
        line-height: rem(16px);
        @include screen(web) {
          line-height: rem(22px);
        }
        span {
          line-height: rem(18px);
          @include screen(web) {
            line-height: rem(22px);
          }
        }
      }
      &__bodycopy {
        display: flex;
        flex-flow: column;
        margin-top: rem($margin2px);
        color: $mid-gray2;
        @include screen(web) {
          margin-top: rem($margin2px);
          flex-flow: wrap;
          gap: rem(15px);
        }
        span {
          display: block;
          line-height: rem(20px);
        }
      }
    }
    .my-order-detail__warning {
      display: flex;
      align-items: center;
      margin-top: rem($margin2px);
      .font-red {
        font-weight: $font-regular;
        @include screen(mobile) {
          color: $black;
        }
      }
    }
    .my-order-detail__period {
      display: flex;
      flex-wrap: wrap;
      margin-top: rem($margin6px);
      margin-bottom: 0;
      color: $gray6;
      line-height: 1;

      dt {
        flex-basis: rem(115px);
        position: relative;
        margin-right: rem($margin5px);
        margin-bottom: rem($margin4px);
        padding-left: rem($padding7px);
        @include screen(web) {
          flex-basis: rem(160px);
          margin-right: rem($margin10px);
          margin-bottom: rem($margin6px);
          padding-left: rem($padding10px);
        }

        &::before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: rem(4px);
          width: rem(2px);
          height: rem(2px);
          background-color: $gray6;
          border-radius: 50%;
          @include screen(web) {
            top: rem(8px);
            width: rem(3px);
            height: rem(3px);
          }
        }
      }
      dd {
        display: flex;
        flex-direction: column;
        width: calc(100% - rem(115px) - rem($margin10px));
        margin-bottom: rem($margin4px);
        @include screen(web) {
          width: calc(100% - rem(160px) - rem($margin10px));
          margin-bottom: rem($margin6px);
        }

        .name {
          margin-top: rem($margin4px);
          color: $black;
          @include screen(web) {
            margin-top: rem($margin6px);
          }
          @include screen(mobile) {
            line-height: rem(14px);
          }
        }
        .desc {
          @include screen(mobile) {
            line-height: rem(14px);
          }
        }
        .no {
          margin-top: rem($margin4px);
          color: $black;
          @include screen(web) {
            margin-top: rem($margin6px);
          }
          @include screen(mobile) {
            line-height: rem(14px);
          }
        }
        .year {
          color: $black;
          @include screen(mobile) {
            line-height: rem(14px);
          }
        }
      }
      *:last-of-type {
        margin-bottom: 0;
      }
    }
    .my-order-detail__infotxt {
      margin-top: $margin4px;
      line-height: 1;
      @include screen(web) {
        margin-top: rem($margin6px);
      }
    }
    .my-order-detail__button {
      margin-top: rem($margin16px);
      @include screen(web) {
        margin-top: rem($margin6px);
      }
      .c-button {
        line-height: rem(12px);
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      .black {
        color: $black;
      }
      .cmp-button.red {
        @include screen(mobile) {
          color: $black;
          &:after {
            background-image: url($icon-arrow-gray3-right-5-8);
          }
        }
      }
    }
  }
  .product-detail__btn-delete {
    margin-top: rem($margin24px);
    text-align: center;
    @include screen(web) {
      margin-top: rem($margin32px);
    }
    .c-button {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      gap: rem(8px);
      .cmp-button {
        flex: 1;
        @include screen(web) {
          flex: 0 0 auto;
        }
      }
    }
  }

  .full {
    .c-pop-msg__container {
      background-color: $light-gray2;
      justify-content: flex-start;
      margin: 0;
      padding: rem($padding40px) rem($padding25px) rem($padding25px);
      @include screen(web) {
        margin: auto;
        width: rem(660px);
        height: auto;
        padding: rem($padding50px);
        @include lgness-radius('default');
      }
    }
  }
  .c-pop-msg {
    &__header {
      padding-bottom: 0;
      margin-bottom: rem($margin16px);
      border-bottom: none;
      @include screen(web) {
        margin-bottom: rem($margin20px);
      }
      .cmp-title {
        font-weight: $font-regular;
        font-size: rem(24px);
        line-height: rem(28px);
        @include screen(web) {
          font-weight: $font-light;
          font-size: rem(36px);
          line-height: rem(42px);
        }
      }
    }
    &__close--on-top {
      @include screen(web) {
        top: rem(24px);
        right: rem(24px);
      }
    }
    &__button-wrap {
      margin-top: rem($margin24px);
      justify-content: center;
      .c-button {
        @include screen(mobile) {
          flex: 1;
        }
      }
    }
    .c-text-contents__bodycopy {
      line-height: rem(18px);
      @include screen(web) {
        line-height: rem(20px);
      }
    }
  }
}
