@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.ML000C';
$common-side-padding-m: rem(16px);
#{$component} {
  .component > .fluid-container {
    margin: 0 auto;
    @include screen(web) {
      .font-w-normal-12 {
        font-size: rem(12px);
        line-height: rem(12px);
        font-weight: $font-regular;
      }
      .font-w-light-32 {
        font-size: rem(32px);
        line-height: rem(36px);
        font-weight: $font-light;
      }
    }
    @include screen(mobile) {
      .font-m-normal-14 {
        font-size: rem(14px);
        line-height: rem(20px);
        font-weight: $font-regular;
      }
      .font-m-semibold-12 {
        font-size: rem(12px);
        line-height: rem(14px);
        font-weight: $font-semibold;
      }
      .font-m-semibold-14 {
        font-size: rem(14px);
        line-height: rem(20px);
        font-weight: $font-semibold;
      }
    }
  }
  .c-text-contents__title {
    margin-top: rem($margin20px);
    margin-bottom: rem($margin12px);
    @include screen(web) {
      margin-top: rem($margin24px);
      margin-bottom: rem($margin20px);
    }
  }

  .my-component {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
    &:last-child {
      margin-bottom: rem($margin24px);
      @include screen(web) {
        margin-bottom: rem($margin64px);
      }
    }
    &--maximum {
      max-width: 100%;
      padding: 0;
    }
    &--return-detail {
      @include container($text-box-width-lg, false);
    }
  }
  .my-detail-product {
    $detailproduct: '.my-detail-product';
    &__item {
      display: flex;
      justify-content: space-between;
      gap: rem(16px);
      margin-bottom: rem($margin16px);
      @include screen(web) {
        gap: rem(20px);
        margin-bottom: 0;
      }
    }
    &__txt {
      width: 100%;
      @include screen(web) {
        flex: 1;
      }
      .c-text-contents {
        &__eyebrow {
          color: $gray6;
          font-weight: $font-regular;
          @include screen(mobile) {
            line-height: rem(20px);
          }
        }
        &__title {
          margin-top: rem($margin2px);
          margin-bottom: rem($margin8px);
          @include ellipsis(3);
          @include screen(web) {
            margin-top: rem($margin5px);
          }
        }
        &__quantity {
          display: inline-block;
          margin-left: rem($margin8px);
          color: $black;
          @include screen(web) {
            margin-left: rem($margin20px);
          }
        }
      }
      .my-orderDetail {
        .c-text-contents__title {
          margin-top: 0;
          span {
            display: block;
          }
        }
        .c-text-contents__bodycopy {
          @include screen(mobile) {
            margin-top: rem($margin6px);
          }
          span {
            display: block;
          }
        }
      }
    }

    &__tag {
      display: flex;
      align-items: center;
      margin-bottom: rem($margin2px);
      font-weight: $font-regular;
      font-size: rem(12px);
      line-height: rem(14px);
      gap: rem(1px);
      @include screen(web) {
        margin-bottom: rem($margin6px);
      }
      &--return {
        color: #daa40d;
      }
      &--exchange {
        color: $mid-gray2;
      }
      &__icon {
        width: rem(18px);
        height: rem(18px);
        background-position: 100% center;
        background-size: 100%;
        background-repeat: no-repeat;
        &--return-requested {
          background-image: url($icon-mylg-return-requested-18-18);
        }
        &--exchange-requested {
          background-image: url($icon-mylg-exchange-requested-18-18);
        }
      }
    }
    &__price-box {
      display: flex;
      align-items: center;
      margin-top: rem($margin8px);
    }
    .my-detail-link {
      @include screen(mobile) {
        .c-text-contents__title {
          margin-top: 0;
          line-height: rem(16px);
        }
        .c-text-contents__bodycopy {
          line-height: rem(20px);
          span {
            line-height: rem(20px);
          }
        }
      }
    }
    &__img {
      display: flex;
      justify-content: center;
      flex-shrink: 0;
      @include screen(web) {
        max-width: rem(120px);
        width: rem(120px);
        align-items: center;
      }
      .c-image {
        max-width: rem(80px);
        min-width: rem(80px);
        @include screen(web) {
          max-width: rem(120px);
          min-width: rem(120px);
        }
      }
    }
    & + .c-cta {
      margin-top: rem($margin20px);
      @include screen(web) {
        margin-top: rem($margin44px);
      }
      #{$detailproduct} {
        .my-orderDetail {
          border-bottom: 1px solid $graye6;
        }
      }
    }
    .my-orderDetail-warp--border-none {
      .my-orderDetail {
        padding-bottom: 0;
      }
    }
  }
  .my-detail-product-aside {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: rem(12px) 0;
    margin: rem($margin20px) 0 0 0;
    padding: rem($padding16px) 0 0;
    border-top: rem($border1) solid $graye6;

    @include screen(web) {
      flex-direction: row;
      padding: rem($padding16px) 0 0 0;
      gap: rem(24px);
    }

    &__item {
      flex-shrink: 0;
      flex-grow: 0;
      list-style: none;
      @include screen(web) {
        flex: 1;
        flex-basis: 45%;
      }
    }
    &__title {
      color: $black;
      margin-bottom: rem($margin4px);
      @include screen(web) {
        color: $gray3;
      }
    }
    &__desc {
      color: $dark-gray3;
    }

    &--step02 {
      border-top: none;
      margin: 0;
      padding-top: rem($padding12px);
      @include screen(web) {
        padding-top: rem($padding16px);
      }
    }
  }
  .my-return-detail {
    @include screen(mobile) {
      margin-bottom: 0;
      padding: 0;
    }
    &__desc {
      @include screen(mobile) {
        display: table;
      }
      @include screen(custom, rem($mobile + 2px), min) {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
      }
    }
    &__desc-item {
      display: table-row;
      @include screen(web) {
        display: flex;
        align-items: center;
        white-space: nowrap;
      }

      &:not(:last-child) {
        margin-right: rem($margin10px);
        @include screen(custom, rem($mobile + 2px), max) {
          margin-right: 0;
        }
        &:after {
          display: inline-block;
          content: '';
          clear: both;
          width: rem(1px);
          height: rem(14px);
          background: $mid-gray1;
          margin-left: rem($margin10px);
          @include screen(custom, rem($mobile + 2px), max) {
            display: none;
          }
        }
      }
    }
    &__title {
      @include screen(mobile) {
        min-width: rem(63px);
        padding-right: rem($padding10px);
      }
    }
    &__num {
      margin-left: rem($margin8px);
      color: $black;
    }
    &__headbox {
      margin: 0 (-$common-side-padding-m);
      @include container($design-grid-full, true);

      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      @include screen(mobile) {
        flex-flow: column;
      }
      @include screen(web) {
        padding-top: rem($padding10px);
        padding-bottom: rem($padding10px);
        padding-left: rem($block-margin-w);
        padding-right: rem($block-margin-w);
      }
      &--wrap {
        background: $light-gray3;
        @include screen(mobile) {
          padding: rem($padding12px) $common-side-padding-m;
        }
      }
    }
    &__txtbox {
      display: flex;
      align-items: flex-start;
      flex-flow: column;
      justify-content: space-between;
      span {
        display: table-cell;
      }
      @include screen(web) {
        span {
          display: block;
        }
      }
    }
    .c-cta {
      justify-content: center;
      margin-top: rem($margin24px);
      @include screen(web) {
        margin-top: rem($margin40px);
      }
    }
    .my-detail-product + .c-cta {
      margin-top: rem($margin20px);
      @include screen(web) {
        margin-top: rem($margin40px);
      }
    }
  }

  .my-return__container {
    margin-top: rem($margin12px);
    padding: rem($padding20px $padding16px);
    @include lgness-radius('all');
    background-color: $white;
    @include screen(web) {
      margin-top: rem($margin20px);
      padding: rem($padding24px);
      & + .my-return__container {
        margin-top: rem($margin10px);
      }
    }
    .c-input-item label {
      font-weight: $font-regular;
    }
  }
  .my-return-address {
    &__list {
      color: $gray3;
    }
    .my-return__container {
      margin-bottom: rem($margin2px);
      @include screen(web) {
        margin-bottom: 0;
      }
    }
  }
  .my-comments {
    @at-root {
      #{$component} .c-text-contents__title + .my-comments {
        margin-top: rem(-$margin8px);
        @include screen(web) {
          margin-top: rem(-$margin20px);
        }
      }
    }
    &__desc {
      color: $gray6;
      span {
        display: block;
        @include screen(web) {
          display: inline;
        }
      }
    }
  }
  .c-btn-submit__group {
    .cmp-button {
      flex: 1;
      @include screen(web) {
        flex: 0 0 auto;
      }
    }
  }
}
