@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.MB000D_6';
#{$component} {
  .content {
    @include container($design-grid-full, true);
    @include inset-padding-hz;

    $mycomponent: '.my-component';
    position: relative;
    overflow: hidden;
    margin-bottom: rem($margin20px);
  }
  .my-link-content {
    max-width: 1150px;
    background: transparent;
    margin: rem($padding40px) 0;
    padding: 0;
    @include screen(web) {
      margin: rem($padding48px) auto;
    }
    &__desc {
      margin-top: rem($margin8px);
      @include screen(web) {
        margin-top: rem($margin10px);
      }

      .cmp-text + .cmp-text {
        margin-top: rem($margin8px);
        @include screen(web) {
          margin-top: rem($margin12px);
        }
      }
    }
    .button {
      display: flex;
      justify-content: flex-start;
      margin-top: rem($margin24px);
      gap: rem(($margin10px, $margin6px));
      @include screen(web) {
        gap: rem(($margin10px, $margin8px));
      }
      .cmp-button {
        width: 100%;
        @include screen(web) {
          width: auto;
        }
      }
      &.margin--pc40-mo30 {
        margin-top: rem($margin30px);
        @include screen(web) {
          margin-top: rem($margin40px);
        }
      }
      &.margin--pc40-mo20 {
        margin-top: rem($margin20px);
        @include screen(web) {
          margin-top: rem($margin40px);
        }
      }
    }
  }
}
