table(cellpadding="0" cellspacing="0" width="720" border="0" bgcolor="#ffffff" align="center" style="border:1px solid #eeeeee;border-top:0;margin:0 auto;")
    thead(bgcolor="#F6F6F6")
        tr
            th(width="40" height="105" style="border-top:1px solid #eeeeee; border-bottom: 4px solid #DA0F47") &nbsp;
            th(width="640" align="left" style="border-top:1px solid #eeeeee; border-bottom: 4px solid #DA0F47")
                table(cellpadding="0" cellspacing="0" border="0" width="640" style="margin: 0 auto;") 
                    tbody
                        tr
                            td(width="40" height="40") &nbsp;
                        tr
                            td(align="left")
                                a(href="https://www.lg.com" target="_blank" border="0" style="display:inline-block;")
                                    img(src="/assets/image/logo-lg-100-44_gray.svg" alt="LG Life's Good" width="74" height="36" border="0")
                            td(align="right")
                                a(href="#" target="_blank" style="font-family:Arial;font-size:16px;margin:0;padding:0;color:#DA0F47;text-decoration:none;") My Account
                                span(style="font-family:Arial;font-size:14px;margin:0;padding:0;color:#E6E6E6;vertical-align:2px;") &nbsp;&nbsp;|&nbsp;&nbsp;
                                a(href="#" target="_blank" style="font-family:Arial;font-size:16px;margin:0;padding:0;color:#DA0F47;text-decoration:none;") FAQs
                                span(style="font-family:Arial;font-size:14px;margin:0;padding:0;color:#E6E6E6;vertical-align:2px;") &nbsp;&nbsp;|&nbsp;&nbsp;
                                a(href="#" target="_blank" style="font-family:Arial;font-size:16px;margin:0;padding:0;color:#DA0F47;text-decoration:none;") Shop
                        tr
                            td(width="40" height="40") &nbsp;
                        tr
                            td(width="640" colspan="3" style="padding:0;margin:0;color:#000;font-size:32px;line-height:36px;font-family:Arial;font-weight:600;") Newsletter E-Mail-Best채tigung
                        tr
                            td(width="40" height="30") &nbsp;
            th(width="40" height="105" style="border-top:1px solid #eeeeee; border-bottom: 4px solid #DA0F47") &nbsp;
    tbody
        tr
            td(rowspan="2" width="40" height="40") &nbsp;
            td(width="640" height="40") &nbsp;
            td(rowspan="2" width="40" height="40") &nbsp;
        //- [S] contents 
        tr 
            //- type
            td(width="640" height="0")
                table(cellpadding="0" cellspacing="0" border="0" width="640") 
                    tbody
                        tr
                            td(width="640" style="padding:0;margin:0;color:#333;font-size:20px;line-height:26px;") Um unseren Newsletter mit informationen zu Aktionen, Gewinnspielen, Neuerscheinungen und w eiteren Themen zu erhalten und auf dem Laufenden zu bleiben, best채tigen Sie bitte Ihre E-Mail A dresse mit Klick auf [Best채tigen]
                        tr 
                            td(width="640" height="40" border="0" align="center" style="padding:0;margin:0;")
                        tr 
                            td(width="640" height="50" border="0" align="center" style="padding:0;margin:0;")
                                a(width="197" height="50" href="#" target="_blank" align="center" bgColor="#DA0F47" style="padding:17px 0px;margin:0;display:inline-block;min-width:248px;color:#fff;font-size:16px;font-family:Arial;line-height:16px;font-weight:bold;text-align:center;text-decoration:none;border-radius:6px;background-color:#DA0F47;") Best채tigen
        //- [E] contents 
    tfoot
        tr
            td(width="40" height="60") &nbsp;
            td(width="640" height="60") &nbsp;
            td(width="40" height="60") &nbsp;
        tr
            td(width="40" height="16") &nbsp;
            td(width="640" height="32" align="center" style="line-height:0;")
                button(type="button" style="border:0;padding:0;background-color:transparent;cursor: pointer;")
                    img(src='/assets/icon/icon-facebook-gray3-32-32.svg' alt="FACEBOOK" width="32" height="32" border="0")
                button(type="button" style="border:0;padding:0;background-color:transparent;cursor: pointer;") 
                    img(src='/assets/icon/icon-twitter-gray3-32-32.svg' alt="TWITTER" width="32" height="32" border="0")
                button(type="button" style="border:0;padding:0;background-color:transparent;cursor: pointer;") 
                    img(src='/assets/icon/icon-instagram-gray3-35-35.svg' alt="instagram" width="32" height="32" border="0")
                button(type="button" style="border:0;padding:0;background-color:transparent;cursor: pointer;")
                    img(src='/assets/icon/icon-youtube-gray3-35-35.svg' alt="YOUTUBE" width="32" height="32" border="0")
            td(width="40" height="16") &nbsp;
        tr(style="line-height:0;")
            td(width="40" height="16") &nbsp;
            td(width="640" height="16") &nbsp;
            td(width="40" height="16") &nbsp;
        tr
            td(width="40" height="16") &nbsp;
            td(width="640" height="16" align="center" style="line-height:18px;color:#666666;") LG Electronics U.K. Limited
                br
                Registered office: Velocity 2, Brooklands Drive, Weybridge, KT13 0SL.
                br
                Company registration number 02143888
            td(width="40" height="16") &nbsp;
        tr
        tr(style="line-height:0;")
            td(width="40" height="16") &nbsp;
            td(width="640" height="16") &nbsp;
            td(width="40" height="16") &nbsp;
        tr(style="line-height:0;")
            td(width="40" height="16") &nbsp;
            td(width="640" height="16" align="center")
                a(href="#" target="_blank" style="font-family:Arial;font-size:16px;margin:0;padding:0;color:#000000;text-decoration:none;") Unsubscribe
                span(style="font-family:Arial;font-size:14px;margin:0;padding:0;color:#E6E6E6;vertical-align:2px;") &nbsp;&nbsp;|&nbsp;&nbsp;
                a(href="#" target="_blank" style="font-family:Arial;font-size:16px;margin:0;padding:0;color:#000000;text-decoration:none;") Privacy Policy
            td(width="40" height="16") &nbsp;
        tr
            td(width="40" height="60") &nbsp;
            td(width="640" height="60") &nbsp;
            td(width="40" height="60") &nbsp;