@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.MB000D_1';
#{$component} {
  > .component > .cmp-container {
    display: flex;
    @include container($design-grid-full, true);
    @include inset-padding-hz;
    @include flex-context($direction: column);
    @include screen(web) {
      @include flex-context;
    }
  }

  // variable
  $text-contents: '.c-text-contents';

  // type side
  .type-side {
    .cmp-container {
      margin: 0 auto;
      @include inset-padding-hz;
      @include screen(web) {
        display: flex;
        max-width: 93rem;
        justify-content: space-between;
        align-items: center;
        column-gap: rem($margin30px);
      }
    }
    &.align-right {
      .cmp-container {
        @include screen(web) {
          flex-direction: row-reverse #{'/*!rtl:row*/'}; /*! RTL last keep colon */
        }
      }
    }
    &.align-left {
      .cmp-container {
        @include screen(web) {
          flex-direction: row #{'/*!rtl:row-reverse*/'}; /*! RTL last keep colon */
        }
      }
    }
    // block : text contents
    .c-text-contents {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      max-width: 93rem;
      flex-direction: column;
      @include screen(web) {
        width: 100%;
      }
      &__bodycopy {
        color: $gray3;

        p {
          + p {
            margin-top: 1.25rem;
          }
        }
      }

      // layout : margin
      @at-root #{$component} {
        #{$text-contents}__headline + #{$text-contents}__subcopy {
          margin-top: rem($margin8px);
        }
        #{$text-contents}__headline + #{$text-contents}__bodycopy {
          margin-top: rem($margin8px);
        }
        #{$text-contents}__subcopy + #{$text-contents}__bodycopy {
          margin-top: rem($margin20px);
        }
        #{$text-contents}__bodycopy {
          margin-top: rem($margin20px);
        }
      }
    }
    // block : text cta
    * + .c-cta {
      margin-top: rem($margin12px);
      @include screen(web) {
        margin-top: 0;
      }
      a,
      button {
        width: 100%;
        @include screen(web) {
          width: auto;
        }
        @include screen(tablet) {
          width: auto;
        }
      }
    }
  }
  .cmp-text.util-text {
    @include screen(mobile) {
      text-align: right;
      align-self: flex-end;
      width: max-content;
      padding-right: rem(12px);
      background: url($icon-arrow-black-right-3-6) no-repeat right center;
    }
  }

  .component-headline {
    padding-top: rem(20px);
    .c-text-contents {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      max-width: 93rem;
      padding-left: 1rem;
      padding-right: 1rem;
      flex-direction: column;
      @include screen(web) {
        width: 100%;
        @include inset-padding-hz;
      }
    }
  }

  .my-membership {
    &__list {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: rem(8px);
      margin: 0 auto;
      width: 100%;
      @include screen(web) {
        gap: 24px;
        margin: 0;
        padding: 0;
        flex-direction: row;
        @include lgness-radius('all');
      }

      @include screen(tablet) {
        flex-direction: column;
        margin: 0 auto;
        gap: rem(16px);
      }
    }
    &__item {
      display: flex;
      flex: 1;
      padding: rem($padding20px $padding13px);
      min-height: rem(120px);
      background: $white;
      @include lgness-radius('all');
      @include screen(web) {
        margin-top: rem(-1px);
        padding: rem($padding24px) rem($padding16px);
        min-height: 100%;
      }
      @include screen(tablet) {
        min-height: rem(120px);
      }
      &:first-child {
        margin-top: 0;
        border-top: none;
      }
      .c-text-contents {
        &__bodycopy {
          margin-top: rem($margin8px);
        }
      }
    }
    &__link {
      display: flex;
      justify-content: space-between;
      gap: 0 rem(20px);
      width: 100%;
      align-items: flex-start;
      @include screen(web) {
        align-items: center;
      }
      .c-image {
        max-width: rem(64px);
        max-height: rem(64px);
        @include screen(web) {
          margin-bottom: 0;
        }
      }
    }
  }
  .msg-tooltip-wrap {
    max-width: 93rem;
    margin: rem(12px) auto 0;
    padding-left: 1rem;
    padding-right: 1rem;
    @include screen(web) {
      @include inset-padding-hz;
      margin-top: rem(24px);
    }
    .msg-tooltip {
      display: flex;
      height: 40px;
      color: $white;
      padding: 0 rem(16px) 0 rem(40px);
      font-size: rem(12px);
      align-items: center;
      justify-content: space-between;
      background: #076369e5 url($icon-done-white-16-16) no-repeat rem(16px) center;
      @include lgness-radius('all');
      @include screen(web) {
        height: 44px;
        font-size: rem(14px);
      }
      &.warning {
        background: rgb(222 173 37 / 90%);
      }
    }
    .btn-close {
      border: 0;
      padding: 0;
      width: rem(16px);
      height: rem(16px);
      background: url($icon-close-gray-16-16) no-repeat;
    }
  }

  .responsive {
    &.page-title {
      padding: rem(24px) 0;

      @include screen(web) {
        padding: rem(24px) 0;
      }
    }
    &.text-contents {
      padding-top: rem(20px);
      .text-email {
        font-weight: 600;
        color: $gray3;
        a {
          color: $black;
          text-decoration: underline;
        }
      }
      @include screen(web) {
        padding-top: rem(45px);
      }
      .button.c-cta {
        margin-top: rem(24px);
      }
      .util-text {
        margin-top: rem(16px);
        text-align: right;
        align-self: flex-end;
        width: max-content;
        padding-right: rem(12px);
        background: url($icon-arrow-black-right-3-6) no-repeat right center;
        strong {
          font-weight: 600;
        }
      }
    }
    &.headline {
      margin-top: rem(28px);
    }
    &.membership {
      margin-top: rem(12px);
    }
    @include screen(web) {
      &.text-contents {
        .util-text {
          margin-top: rem(16px);
          text-align: right;
          align-self: flex-end;
          width: max-content;
          padding-right: rem(12px);
          background: url($icon-arrow-black-right-3-6) no-repeat right center;
        }
      }
      &.headline {
        margin-top: rem(24px);
        border-top: none;
        .component-headline {
          padding-top: 0;
        }
      }
      &.membership {
        margin-top: rem(40px);
      }
    }
    @include screen(tablet) {
      &.membership {
        margin-top: rem(25px);
      }
    }
  }

  .offer-contents {
    margin: rem(24px) auto 0;
    border-top: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .c-text-contents {
      max-width: 93rem;
      margin: 0 auto;
      padding: 0 rem(24px);
      &__link {
        width: max-content;
        padding-right: rem(12px);
        background: url($icon-arrow-black-right-3-6) no-repeat right center;
        font-weight: 600;
      }
      .font-m-normal-14 {
        font-weight: 600;
      }
    }
  }
}
