@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.AL0018';
#{$component} {
  > .component > .cmp-container {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
  }
  .c-region-header {
    padding: rem($padding24px) 0 rem($padding20px);
    @include screen(web) {
      padding: rem(48px) 0 rem($padding20px);
    }
  }
  // block : list
  .c-carousel {
    padding: 0 rem(25px);
    @include screen(web) {
      padding: 0;
    }
  }
  .c-list {
    @include reset-list-style;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: rem(20px) rem(10px);
    padding-bottom: rem($padding20px);
    @include screen(web) {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: rem(32px) rem($gutter-w);
      padding-bottom: rem($padding40px);
    }
    &__item {
      background: $light-gray3;
      @include lgness-radius('default');
      overflow: hidden;
    }
    &-item__img {
      width: 100%;
      display: block;
      img {
        width: 100%;
      }
    }
    &-item__contents {
      background: $light-gray3;
      padding: rem($padding16px) rem($padding20px) rem($padding50px);
      box-sizing: border-box;
      min-height: rem(166px);
      @include screen(web) {
        padding: rem($padding16px) rem(28px) rem(60px);
        min-height: auto;
      }
      .c-text-contents {
        &__title {
          strong {
            display: block;
            line-height: rem(24px);
            @include screen(web) {
              line-height: rem(28px);
            }
          }
        }
        &__bodycopy {
          margin-top: rem(4px);
          @include screen(web) {
            margin-top: rem(8px);
          }
          p {
            line-height: rem(16px);
            @include screen(web) {
              line-height: rem(18px);
            }
          }
        }
      }
      .button.outlinks {
        position: absolute;
        left: rem(20px);
        bottom: rem(24px);
        line-height: rem(14px);
        @include screen(web) {
          left: rem(28px);
          bottom: rem(28px);
          line-height: rem(16px);
        }
        .c-button {
          font-size: rem(14px);
          line-height: rem(14px);
          @include screen(web) {
            font-size: rem(16px);
            line-height: rem(16px);
          }
          &:after {
            content: '';
            display: block;
            width: rem(9px);
            height: rem(14px);
            background-image: url($icon-arrow-black-right-9-14);
            background-position: 100% center;
            background-size: 100%;
            background-repeat: no-repeat;
          }
        }
      }
    }
    // block : image
    .c-image {
      overflow: hidden;
      @include lgness-radius('default');
    }
    // block : media
    .c-media {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: $z-index1;
      &__controls {
        padding-bottom: rem($padding44px);
        @include screen(web) {
          padding-bottom: rem($padding58px);
        }
      }
    }
    .c-list + .c-cta {
      justify-content: center;
      border-top: rem($border1) solid $ivory3;
      margin-top: rem($margin30px);
      padding-top: rem($padding30px);
      @include screen(web) {
        margin-top: rem($margin40px);
        padding-top: rem($padding40px);
      }
    }
  }
  .more-btn {
    margin-bottom: rem($margin24px);
    line-height: rem(16px);
    @include screen(web) {
      margin-bottom: rem(64px);
      line-height: rem(24px);
    }
    .c-button {
      gap: rem(6px);
      height: rem(16px);
      font-size: rem(16px);
      line-height: rem(16px);
      @include screen(web) {
        height: rem(24px);
        font-size: rem(24px);
        line-height: rem(24px);
      }
      &[class*='-text'][class*='-icon'].down.w-large:after {
        width: rem(10px);
        height: rem(5px);
        @include screen(web) {
          width: rem(16px);
          height: rem(8px);
        }
      }
    }
  }
}
