@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.MB000J';

#{$component} {
  .my-component {
    @include container($design-grid-full, true);
    @include inset-padding-hz;

    $mycomponent: '.my-component';
    position: relative;
    overflow: hidden;
    &:first-child {
      max-width: none;
      padding-top: rem($padding24px);
      border-bottom: rem($border1) solid $mid-gray4;
      padding-bottom: rem($padding20px);
      @include screen(web) {
        padding-bottom: rem($padding24px);
      }
      .c-text-contents {
        max-width: rem(952px);
        margin: 0 auto;
        .text {
          color: $gray3;
          margin-top: rem($margin8px);
        }
      }
    }
    & > .c-text-contents > .c-text-contents__bodycopy {
      margin-top: rem($margin10px);
    }
    & > .c-product-list--carousel {
      padding-left: 0;
      padding-right: 0;
    }
    &.form-wrapper {
      .toast-popup {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translate(-50%, 10%);
      }
    }
  }
  .my-form {
    max-width: rem(952px);
    margin: 0 auto;
    & + .my-form {
      margin-top: rem($margin20px);
      @include screen(web) {
        margin-top: rem($margin24px);
      }
    }
    &-required {
      max-width: rem(952px);
      margin: 0 auto;
      text-align: right;
      margin-top: rem($margin20px);
      color: $mid-gray2;
      @include screen(web) {
        margin-top: rem($margin24px);
      }
      em.c-required {
        color: $mid-gray2;
      }
      & + .my-form {
        margin-top: rem($margin8px);
        @include screen(web) {
          margin-top: rem($margin20px);
        }
      }
    }
    &__info {
      color: $mid-gray2;
      span.font-black {
        color: $black;
      }
      & + .my-input {
        border-top: rem($border1) solid $mid-gray1;
        padding-top: rem($padding16px);
        margin-top: rem($margin16px);
        @include screen(web) {
          padding-top: rem($padding24px);
          margin-top: rem($margin20px);
        }
      }
    }
  }
  .my-formbox {
    margin: 0 auto;
    max-width: rem(952px);
    background-color: $white;
    margin-top: rem($margin12px);
    padding: rem($padding20px) rem($padding16px);
    @include lgness-radius('default');
    @include screen(web) {
      margin-top: rem($margin20px);
      padding: rem($padding24px);
    }
    label:has(input:focus-visible) {
      outline: rem($border1) solid currentcolor;
      display: block;
    }
    .c-cta {
      margin-top: rem($margin60px);
      justify-content: center;
    }
    .my-formbox__button {
      margin-top: rem($margin60px);
      @include screen(mobile) {
        margin-top: rem($margin32px);
        justify-content: space-between;
      }
      .c-button {
        @include screen(mobile) {
          min-width: calc(50% - rem(5px));
        }
      }
    }
    .c-form {
      margin-top: rem($margin20px);
      margin-bottom: rem(0);
      @include screen(web) {
        margin-top: rem($margin24px);
        margin-bottom: rem(0);
      }
      label {
        color: $gray3;
      }
    }
    .c-form + .my-input {
      margin-top: rem($margin20px);
      @include screen(web) {
        margin-top: rem($margin24px);
      }
    }
    .c-radio-item {
      margin-top: rem($margin10px);
      & + .my-input {
        margin-top: rem($margin20px);
        @include screen(web) {
          margin-top: rem($margin24px);
        }
      }
      label {
        display: block;
        font-size: rem(14px);
        line-height: rem(20px);
        @include screen(web) {
          font-size: rem(16px);
          line-height: rem(20px);
        }
        .language-name {
          display: initial #{'/*!rtl:flex*/'}; /* 230601 RTL */
          color: $mid-gray2;
          padding-left: rem($padding28px);
          margin-top: rem($margin4px);
          font-size: rem(14px);
          line-height: rem(20px);
          @include screen(web) {
            font-size: rem(16px);
            line-height: rem(20px);
          }
          .font-black {
            margin-left: rem($margin16px);
            color: $black;
          }
          & + .language-name {
            margin-top: rem($margin8px);
          }
        }
      }
    }
  }
  .my-check {
    .button + .button {
      margin-top: rem($margin8px);
    }
    &__item {
      display: flex;
    }
    & + .c-cta {
      .c-button {
        width: 100%;
        @include screen(web) {
          width: auto;
        }
      }
    }
    &__button {
      align-items: flex-end;
      gap: 0 rem(6px);
      display: flex;
    }
    .c-checkbox-item .label {
      font-size: rem(14px);
      line-height: rem(16px);
      @include screen(web) {
        font-size: rem(16px);
        line-height: rem(20px);
      }
    }
    &--receipt-text {
      color: $gray3;
      margin-top: rem($margin8px);
      padding-left: rem($padding28px);
      font-size: rem(14px);
      line-height: rem(16px);
      max-width: rem(680px);

      /* [Start] 2023-04-07 : UPDATE - my-check--receipt-text */

      /* [End] 2023-04-07 : UPDATE - my-check--receipt-text */
      @include screen(web) {
        font-size: rem(16px);
        line-height: rem(20px);
      }
      .cmp-button {
        font-weight: $font-regular;
      }
    }
    &--receipt-info {
      color: $mid-gray3;
      margin-top: rem($margin8px);
      font-size: rem(14px);
      line-height: rem(16px);
      @include screen(web) {
        font-size: rem(16px);
        line-height: rem(20px);
      }
    }
  }
  .button.my-button {
    justify-content: center;
    margin-top: rem($margin24px);
    margin-bottom: rem($margin24px);
    @include screen(web) {
      margin-top: rem($margin32px);
    }
    .cmp-button {
      flex: 1;
      @include screen(web) {
        flex: initial;
      }
    }
    .c-button[class*='-box']:not(.c-button[class*='-box'][class*='-box-outlined']):disabled,
    .c-button[class*='-box']:not(.c-button[class*='-box'][class*='-box-outlined'])[disabled] {
      cursor: not-allowed;
      pointer-events: none;
    }
  }
  .custom-item {
    padding: 0 0 0 ($padding30px);
    position: relative;
    .c-checkbox-item {
      display: inline;
      label {
        display: initial;
        position: static;
        &:has(input:focus-visible) {
          outline: rem($border1) solid currentcolor;
          display: block;
        }
        .label {
          display: initial;
          position: static;
          &::before {
            position: absolute;
            left: 0;
            top: rem(2px);
          }
          span {
            display: block;
          }
        }
      }
    }
    .c-button {
      line-height: rem(20px);
      &__text {
        line-height: rem(20px);
        font-weight: $font-regular;
      }
    }
  }
  .my-input {
    text-align: left;
    ul {
      @include reset-list-style;
      li {
        width: 100%;
        @include screen(web) {
          width: auto;
        }
        .c-warning,
        .c-valid {
          padding-left: rem($padding13px);
          // margin-top: 0;
          font-size: rem(12px);
          line-height: rem(14px);
          &::before {
            display: none;
          }
          @include screen(web) {
            font-size: rem(14px);
            line-height: rem(16px);
            margin-top: rem($margin6px);
          }
        }
      }
      .c-input-item + .c-warning,
      .c-input-item + .c-valid {
        margin-top: rem($margin6px);
      }
      li + li {
        margin-top: rem($margin20px);
        @include screen(web) {
          margin-top: rem($margin24px);
        }
      }
      .c-input-item {
        position: relative;
        label {
          color: $gray3;
        }
        .label--not-email {
          color: $mid-gray2;
        }
        .my-input__password {
          padding-right: rem($padding45px);
        }
        &.active {
          .my-form__eye {
            background: url($icon-mylg-view-on-24-24) center / contain no-repeat;
          }
        }
        // - 202305-24 Date of Birth
        .my-birth__container {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          @include screen(web) {
            // display: flex;
            flex-direction: row;
            gap: 0 rem(8px);
          }
          &--validation {
            .my-birth-validation {
              flex: 1;
            }
          }
          .my-birth {
            &__inner {
              position: relative;
              flex: 1;
              input {
                padding-right: rem($padding58px);
              }
            }
          }
        }
      }
      .my-captcha {
        $captch: '.my-captcha';
        &__container {
          display: flex;
          flex-flow: column;
        }
        &__area {
          display: flex;
          align-items: center;
        }
        &__box {
          border: rem($border1) solid $grayd;
          border-radius: rem($radius6);
          margin-bottom: rem($margin10px);
          width: 100%;
          height: rem(76px);
          margin-top: rem($margin10px);
        }
        &__btnbox {
          display: flex;
          flex-flow: column;
          align-items: center;
          margin-left: rem($margin10px);
          #{$captch}__button + #{$captch}__button {
            margin-top: rem($margin20px);
          }
        }
        &__button {
          cursor: pointer;
          border: none;
          position: relative;
          max-width: rem(24px);
          max-height: rem(24px);
          min-width: rem(24px);
          min-height: rem(24px);
          &--reload {
            background: url($icon-captcha-refresh-24-24) center / contain no-repeat;
          }
          &--play {
            background: url($icon-captcha-volume-24-24) center / contain no-repeat;
          }
        }
      }
    }
    input {
      color: $mid-gray2;
      border: rem($border1) solid $mid-gray4;
      border-radius: rem(12px);
      padding: rem($padding12px) rem($padding13px);
      font-size: rem(16px);
      line-height: rem(20px);
      height: rem($height44px);
      &[type='date'] {
        position: relative;
        background: url($icon-calendar-black-24-24) no-repeat right rem(13px) center;
        background-size: rem(24px) rem(24px);
        background-color: $white;
        text-align: #{'/*!rtl:right*/'}; /* 230515 RTL */
        &::-webkit-clear-button,
        &::-webkit-inner-spin-button {
          display: none;
        }
        &::-webkit-calendar-picker-indicator {
          cursor: pointer;
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: transparent;
          color: transparent;
        }
        &::before,
        &:focus::before {
          content: attr(placeholder);
          width: 100%;
        }
        &:valid::before {
          content: normal;
        }
      }
      &[data-placeholder]::before {
        color: $mid-gray2;
        font-size: rem(16px);
      }
      &[type='password'] {
        padding-right: rem($padding45px);
      }
      &[readonly] {
        background-color: $ivory6;
        &::placeholder {
          color: $grayb;
        }
      }
      &[disabled] {
        background-color: $ivory6;
        &::placeholder {
          color: $grayb;
        }
      }
    }
    .c-text-contents {
      margin-bottom: rem($margin30px);
      @include screen(web) {
        margin-bottom: rem($margin40px);
      }
      &__bodycopy {
        margin: 0 auto;
        margin-top: rem($margin10px);
        max-width: rem(450px);
      }
    }
    .c-checkbox-item {
      margin-top: rem($margin8px);
      .label {
        font-size: rem(16px);
        @include screen(web) {
          font-size: rem(14px);
        }
      }
    }
    .button {
      justify-content: center;
      margin-top: rem($margin30px);
    }
    .my-form {
      &__eye {
        display: inline-block;
        background: url($icon-mylg-view-32-32) center / contain no-repeat;
        position: absolute;
        top: 50%;
        right: rem(15px);
        width: rem($width24px);
        height: rem($height24px);
        border: none;
        cursor: pointer;
        @include screen(web) {
          top: calc(50% - rem(-2px));
        }
      }
      &__search {
        padding-right: rem($padding50px);
        &__icon {
          display: inline-block;
          position: absolute;
          right: rem(16px);
          width: rem($width24px);
          height: rem($height24px);
          border: none;
          cursor: pointer;
          top: 50%;
          background: url($icon-search-black-24-24) center / rem(21px) rem(21px) no-repeat;
          @include screen(web) {
            top: 53%;
            background: url($icon-search-black-24-24) center / rem(16px) rem(16px) no-repeat;
          }
        }
      }
    }
    .my-warn {
      padding-right: rem($padding40px);
      border-color: $active-red;
      select {
        border-color: $active-red;
      }
    }
    .c-search-box__form.my-warn {
      padding-right: 0;
    }
    .input-button__container {
      @include screen(web) {
        display: flex;
        gap: 0 rem(8px);
      }
      &--not-email {
        align-items: center;
      }
      .button {
        margin-top: rem($margin10px);
        .cmp-button {
          flex: 1;
        }
        @include screen(web) {
          margin: 0;
          // width: rem(75px);
          .cmp-button {
            min-width: 0;
          }
        }
      }
      &--validation {
        .my-button-validation {
          flex: 1;
        }
      }
    }
    .my-verify {
      &__inner {
        position: relative;
        flex: 1;
        input {
          padding-right: rem($padding58px);
        }
      }
      &__time {
        color: $black;
        position: absolute;
        top: 50%;
        right: rem(16px);
        transform: translateY(-50%);
      }
    }
    select {
      font-size: rem(16px);
      @include screen(web) {
        font-size: rem(14px);
      }
    }
    .c-select-item {
      label {
        font-weight: $font-regular;
        color: $gray3;
        font-size: rem(14px);
        line-height: rem(16px);
        @include screen(web) {
          font-size: rem(16px);
          line-height: rem(20px);
        }
      }
      select {
        color: $mid-gray2;
        // height: auto;
        border: rem($border1) solid $mid-gray1;
        padding: rem($padding12px) rem($padding13px);
        border-radius: rem(12px);
        font-size: rem(16px);
        line-height: rem(20px);
        option[selected] {
          color: $mid-gray2;
        }
      }
    }
  }

  ul.my-input__info {
    color: $mid-gray3;
    margin-top: rem($margin8px);
    @include screen(web) {
      max-width: 90%;
    }
  }

  .c-pop-msg {
    @include screen(mobile) {
      padding: 0 rem($padding25px);
    }
    &__container {
      background-color: $light-gray2;
      justify-content: flex-start;
      margin: auto;
      height: auto;
      padding: rem($padding32px);
      @include screen(web) {
        width: rem(480px);
        padding: rem($padding40px);
        @include lgness-radius('default');
      }
    }
    &__header {
      padding-bottom: 0;
      margin-bottom: rem($margin8px);
      border-bottom: none;
      @include screen(web) {
        margin-bottom: rem($margin24px);
      }
      .cmp-title {
        /* [Start] 2023-04-07 : REMOVE - cmp-title remove font-weight */
        // font-weight: $font-regular;

        /* [End] 2023-04-07 : REMOVE - cmp-title remove font-weight */
        font-size: rem(24px);
        line-height: rem(28px);
        @include screen(web) {
          font-weight: $font-light;
          font-size: rem(36px);
          line-height: rem(42px);
        }
      }
    }

    /* [Start] 2023-04-07 : REMOVE - c-pop-msg__close--on-top remove display */
    // &__close--on-top {
    //     display: none;
    // }

    /* [End] 2023-04-07 : REMOVE - c-pop-msg__close--on-top remove display */
    &__button-wrap {
      /* [Start] 2023-04-07 : UPDATE - c-pop-msg__button-wrap justify-content */
      justify-content: center;

      /* [End] 2023-04-07 : UPDATE - c-pop-msg__button-wrap justify-content */
      margin-top: rem($margin24px);
      .c-button {
        @include screen(mobile) {
          flex: 1;
        }
      }
    }
    .c-text-contents__bodycopy {
      line-height: rem(18px);
      @include screen(web) {
        line-height: rem(20px);
      }
    }
  }

  /* [Start] 2023-04-07 : ADD - terms-pop */
  .terms-pop {
    .c-pop-msg {
      padding: 0;
      &__container {
        @include screen(web) {
          width: rem(558px);
          max-width: rem(558px);
        }
        @include screen(mobile) {
          padding: rem($padding40px) rem($padding16px);
          height: 100%;
        }
      }
      &__header {
        margin-bottom: rem($margin8px);
      }
      &__close--on-top {
        @include screen(web) {
          top: rem(16px);
          right: rem(16px);
        }
      }
    }
    .my-form-required {
      margin-top: rem($margin20px);
      margin-right: 0;
      padding-right: rem($padding16px);
      @include screen(web) {
        padding: 0;
      }
    }
    .my-check {
      background-color: $white;
      margin-top: rem($margin20px);
      padding: rem($padding20px) rem($padding16px);
      @include lgness-radius('default');
      @include screen(web) {
        padding: rem($padding24px);
      }
      .check-all {
        border-bottom: rem($border1) solid $mid-gray1;
        padding-bottom: rem($padding8px);
      }
      &--receipt-info {
        margin-top: rem($margin20px);
      }
    }
  }

  /* [End] 2023-04-07 : ADD - terms-pop */
}
