@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.ST0047';
#{$component} {
  $floating-contents: '.c-floating-contents';
  $bg-image: '.c-image';

  // block
  .c-floating-contents {
    display: flex;
    align-items: center;
    min-height: rem($min-height210px);
    margin: 0 auto;
    overflow: hidden;

    @include screen(web) {
      min-height: rem($height300px);
    }

    @at-root #{$component} {
      &.width-wide #{$floating-contents} {
        max-width: rem($maximum);
      }
      &.width-narrow #{$floating-contents} {
        max-width: rem($design-full);
      }
      &.width-content #{$floating-contents} {
        max-width: rem($design-grid-full);
      }
    }

    &__floor {
      position: relative;
      z-index: $z-index1;
      display: flex;
      width: 100%;
      padding-top: rem($padding30px);
      padding-bottom: rem($padding30px);
      @include inset-padding-hz;
      @include screen(web) {
        padding-top: rem($padding20px);
        padding-bottom: rem($padding20px);
      }
    }
    &__floating {
      #{$bg-image} {
        .cmp-image {
          height: 100%;
        }
        &__img {
          // cascading c-image block
          max-width: none;
          width: auto;
          // ---

          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .c-text-contents {
    &__headline {
      display: inline-flex;
      align-items: center;
      @include screen(web) {
        display: block;
      }
      .cmp-image {
        width: rem($icon24px);
        height: rem($icon24px);

        @include screen(web) {
          display: inline-block;
          width: rem($icon48px);
          height: rem($icon48px);
        }
      }
    }
  }

  // layout : margin
  .c-text-contents__headline .cmp-image {
    margin-right: rem($margin6px);
    @include screen(web) {
      margin-right: 0;
      margin-bottom: rem($margin8px);
    }
  }
  .c-text-contents__headline + .c-text-contents__subcopy {
    margin-top: rem($margin8px);
  }
  * + .c-cta {
    margin-top: rem($margin12px);
    @include screen(web) {
      margin-top: rem($margin24px);
    }
  }

  // options
  // font color
  .font-white {
    .c-button[class*='-text'] {
      color: $white;
      &:after {
        background-image: url($icon-arrow-white-right-9-14);
      }
    }
  }
  .font-black {
    .c-button[class*='-text'].white {
      color: $black;
      &:after {
        background-image: url($icon-arrow-black-right-9-14);
      }
    }
  }
}
