@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.ETC000F';
.component > .fluid-container {
  @include container($maximum, true);
}
#{$component} {
  // [End] 2023-05-17 : ADD - fluid-container */
  .my-component {
    @include container($design-grid-full, true);
    @include inset-padding-hz;

    $mycomponent: '.my-component';
    position: relative;
    overflow: hidden;
    &:first-child {
      max-width: none;
      // padding-top: rem($padding24px);
      // border-bottom: rem($border1) solid $mid-gray1;
      // padding-bottom: rem($padding24px);
      .c-text-contents {
        max-width: rem(952px);
        margin: 0 auto;
      }
    }

    & > .c-text-contents & > .c-product-list--carousel {
      padding-left: 0;
      padding-right: 0;
    }
    // [Start] 2023-05-17 : ADD - my-component__wrap */
    &__wrap {
      border-top: none;
      padding: rem(24px) 0;

      .c-text-contents {
        & > .c-text-contents__bodycopy {
          color: $mid-gray2;
        }
      }
      &:first-child {
        border-bottom: rem($border1) solid $mid-gray1;
        .c-text-contents {
          & > .c-text-contents__bodycopy {
            margin-top: rem($margin10px);
            color: $gray3;
          }
        }
      }
      @include screen(web) {
        padding: rem(24px) 0;
        // padding-bottom: rem($padding40px);
      }
    }
    // [End] 2023-05-17 : ADD - my-component__wrap */
  }
  .my-contents {
    max-width: rem(952px);
    margin: 0 auto;
  }
}
