mixin ST0061(option=false)
    mixin couponListItem(status, params)
        - var option = {status, ...params}
        - var attributes = option.status == true ? {tabindex: '-1'} : ''
        .secretCoupon__inner
            .coupon-info
                .cp-discount.font-w-semibold-36.font-m-semibold-24
                    p 20%
                .cp-desc.font-w-normal-20.font-m-normal-16
                    p TV Football promotion 20% off all LG TVs TV Football promotion up to 20% off all LG TVs
                .cp-tc.font-w-semibold-16.font-m-semibold-14
                    a(href="#popCouponInfoTC" class='popCouponInfoTC js-pop-open' data-toggle="modal" title="Opens in a new layer popup" role="button" tabindex="0")&attributes(attributes) Terms &amp; Conditions
        .secretCoupon__aside
            a(href="#" type="button" tabindex="0")&attributes(attributes).c-coupon__download-button
                .c-coupon__item-download
                    span.sr-only Coupon download

    mixin couponLists(count=1, noResult=false, status)
        - var couponStatus = status == true ? 'disabled' : ''
        .c-secretCoupon-area
            if(noResult)
                .c-secretCoupon__no-result
                    .c-no-data
                        strong.font-w-normal-16.font-m-normal-16 There are no coupons available.
            else
                ul.c-secretCoupon-list
                    if(status)
                        li.c-secretCoupon-box(class=`${couponStatus}`)
                            +couponListItem(status)
                            - for (var x = 0; x < count; x++)
                                li.c-secretCoupon-box
                                    +couponListItem
                    else
                        - for (var x = 0; x < count; x++)
                            li.c-secretCoupon-box
                                +couponListItem

    if(option == 'Coupon list')
        // Component Markup
        .c-wrapper.ST0061.margin-top.margin-bottom.bg-default
            .component
                .cmp-container
                    //- title area
                    +component-title-area({
                        headline : {
                            text : "Secret Coupon",
                            style : "font-w-semibold-56 font-m-semibold-28"
                        },
                        description : {
                            text : "Special benefits for customers! You can get a secret coupon now",
                            style : "font-w-normal-24 font-m-normal-14"
                        }
                    })
                    //- contents area
                    +couponLists(1, false)
                    .button.c-cta.btn-download
                        +defaultButton({name: 'All coupons', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: false})
                    .c-secretCoupon-info
                        ul.c-info__list.font-w-normal-16.font-m-normal-12
                            li Secret coupons can only be issued once per id.
                            li Secret coupons cannot be duplicated.
                            li You can use it for 3 days after issuing the coupon.

        .c-wrapper.ST0061.margin-top.margin-bottom.bg-default
            .component
                .cmp-container
                    //- contents area
                    +couponLists(2, false)
                    .button.c-cta.btn-download
                        +defaultButton({name: 'All coupons', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: false})
                    .c-secretCoupon-info
                        ul.c-info__list.font-w-normal-16.font-m-normal-12
                            li Secret coupons can only be issued once per id.
                            li Secret coupons cannot be duplicated.
                            li You can use it for 3 days after issuing the coupon.

        .c-wrapper.ST0061.margin-top.margin-bottom.bg-default
            .component
                .cmp-container
                    //- contents area
                    +couponLists(2, false, true)
                    .button.c-cta.btn-download
                        +defaultButton({name: 'All coupons', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: false})
                    .c-secretCoupon-info
                        ul.c-info__list.font-w-normal-16.font-m-normal-12
                            li Secret coupons can only be issued once per id.
                            li Secret coupons cannot be duplicated.
                            li You can use it for 3 days after issuing the coupon.

    if(option == 'No list')
        // Component Markup
        .c-wrapper.ST0061.margin-top.margin-bottom.bg-default
            .component
                .cmp-container
                    //- title area
                    +component-title-area({
                        headline : {
                            text : "Secret Coupon",
                            style : "font-w-semibold-56 font-m-semibold-28"
                        },
                        description : {
                            text : "Special benefits for customers! You can get a secret coupon now",
                            style : "font-w-normal-24 font-m-normal-14"
                        }
                    })
                    //- contents area
                    +couponLists(false, true)
                    .c-secretCoupon-info
                        ul.c-info__list.font-w-normal-16.font-m-normal-12
                            li Secret coupons can only be issued once per id.
                            li Secret coupons cannot be duplicated.
                            li You can use it for 3 days after issuing the coupon.