@charset "UTF-8";
@use '../../scss/abstract/' as *;
@use '../CS0000/CS0000' as *;

// component
$component: '.CS0041';
#{$component} {
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  $tab-container: '.container';
  $mobile-width: calc(100% - rem($margin25px * 2));
  overflow: initial;

  &__container {
    @include flex-context;
    @include container($design-grid-full, true);
    @include inset-padding-hz(mobile);
    @include screen(web) {
      @include flex-context;
      padding: rem(0 24px);
    }
    @include screen(tablet) {
      @include inset-padding-hz;
    }

    @at-root #{$component} {
      .full #{$component}__container {
        padding-left: 0;
        padding-right: 0;
        max-width: none;

        #{$cs-header} {
          margin: rem(0 $margin16px $margin12px);
          padding: rem($padding24px 0);
          border-bottom: 1px solid $mid-gray1;

          @include screen(web) {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: rem($margin20px);
            padding: rem($padding48px 0);
          }
        }
      }
    }
  }

  // add class c-default-margin component
  &.c-default-margin {
    padding-bottom: rem($padding10px);

    &.c-wrapper {
      &.margin-top {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: rem($padding30px);

        @include screen(web) {
          padding-bottom: rem($padding60px);
        }

        &.margin-bottom {
          padding-bottom: rem($padding30px);

          @include screen(web) {
            padding-bottom: rem($padding60px);
          }
        }
      }

      &.margin-bottom {
        @include screen(web) {
          padding-bottom: rem($padding10px);
        }
      }
    }

    #{$cs-header} {
      margin-top: rem($margin30px);
      margin-bottom: 0;

      @include screen(web) {
        margin-top: rem($margin40px);
      }
    }
  }

  // COMMON - .c-cs-header
  #{$cs-header} {
    margin-bottom: rem($margin20px);
    a {
      color: $red;
      text-decoration: underline;
    }

    .button {
      margin-top: rem($margin12px);
    }

    @include screen(web) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: rem($margin40px);

      .button {
        margin-top: 0;
      }
    }

    @at-root #{$component} #{$cs-header} {
      #{$text-contents} {
        // text-align: center;
      }
      #{$text-contents}__headline + #{$text-contents}__bodycopy {
        margin-top: rem($margin6px);
        @include screen(web) {
          margin-top: rem($margin10px);
        }
      }
    }
  }

  // COMMON - .c-text-contents
  #{$text-contents} {
    span {
      display: block;

      @include screen(web) {
        display: inline-block;
      }
    }

    a {
      color: $red;
      text-decoration: underline;
    }
  }

  // COMMON - .container
  .container {
    @include flex-context;
    @include container($design-grid-full, true);
    @include inset-padding-hz(mobile);

    @include screen(web) {
      @include flex-context;
      padding: rem(0 24px);
    }

    @include screen(tablet) {
      @include inset-padding-hz;
    }

    @include screen(mobile) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  // c-tabs
  .c-tabs {
    &__inner {
      display: block;
      border-bottom: 1px solid $grayd;

      .c-tabs__tablist {
        scroll-behavior: smooth;
        overflow-x: unset;
        overflow-y: unset;
        width: 100%;
        gap: 0;
        padding-right: 0;
        padding-left: 0;
        display: inline-flex;
        height: rem(54px);

        @include screen(web) {
          @include flex-context;
          @include container($design-grid-full, false);
          display: flex;
          height: rem(84px);
        }

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          width: auto;
          height: 100%;
          padding: 0 rem($padding12px);

          &::after {
            bottom: 0;
            @include screen(web) {
              height: rem(4px);
            }
          }

          &.cmp-tabs__tab {
            a {
              font-weight: 400;
              font-size: rem(16px);

              &:active,
              &:hover {
                text-decoration: none;
              }
            }

            &--active {
              color: $black;
              a {
                color: $black;
              }
            }
          }

          @include screen(web) {
            flex: 1;
            padding: 0 !important;

            &.cmp-tabs__tab {
              a {
                font-size: rem(20px);
              }
            }
          }

          &:first-child {
            padding-left: rem($padding16px);
            padding-right: 0;
            margin-right: 0;
            margin-right: rem($margin12px);

            &::after {
              left: rem(16px);
              width: calc(100% - rem(16px));

              @include screen(web) {
                left: 0;
                width: 100%;
              }
            }
          }

          &:last-child {
            padding-right: rem($padding25px);
            padding-left: 0;
            margin-left: 0;
            margin-left: rem($margin12px);

            &::after {
              right: rem(25px);
              width: calc(100% - rem(25px));

              @include screen(web) {
                right: 0;
                width: 100%;
              }
            }
          }

          button {
            width: 100%;
            height: 100%;
            font-size: rem(14px);
            font-weight: 700;

            &:after {
              bottom: 0;
              color: $black;

              @include screen(web) {
                height: rem(4px);
              }
            }

            @include screen(web) {
              font-size: rem(16px);
            }
          }

          .cmp-tabs__tab {
            &--active {
              color: $black !important;
            }
          }
        }
      }
    }

    // &__tabpanel {
    //     .container {
    //         &:last-child {
    //             padding-bottom: 0;
    //         }
    //     }
    // }
  }

  .cs-form {
    & + .cs-form {
      margin-top: rem($margin12px);

      @include screen(web) {
        margin-top: rem($margin24px);
      }
    }

    .cmp-form {
      .fieldIcons {
        &__root {
          position: relative;
        }

        &__before {
          content: '';
          z-index: $z-index1;
          @include position(50%, 50%);
          left: rem($padding30px);
          transform: translate(-50%, -50%);
          width: rem(18px);
          height: rem(18px);
          background-image: url($icon-search);
          background-repeat: no-repeat;
          @include screen(web) {
            left: rem($padding24px);
            right: auto;
            transform: translate(0%, -50%);
          }
        }

        input {
          @include input;
          max-width: rem(1086px);
          padding: rem($padding15px $padding17px);
          background: $light-gray3;
          @include screen(web) {
            padding: rem($padding18px $padding16px $padding18px $padding50px);
          }
        }
      }

      label {
        display: block;
        color: $gray3;
        margin-bottom: rem($margin8px);
        font-size: rem(16px);
        line-height: rem(18px);
        text-align: left;
        margin-top: rem($margin16px);

        &:first-child {
          margin-top: 0;
        }
      }

      input,
      select {
        @include input;
      }

      select {
        padding-right: rem($padding20px);
        appearance: none;
        color: $mid-gray3;
        border: none;
        &::-ms-expand {
          display: none;
        }

        background: $light-gray3 url($icon-dropdown-open-black-12-8) no-repeat;
        background-position: right rem(20px) center;
        background-size: 12px auto;

        @include screen(web) {
          background-position: right rem(24px) center;
        }
        &[disabled] {
          // background-color: $ivory6;
          border: none;
          background-image: none;
          color: $mid-gray2;
          background-repeat: no-repeat;
          background-position: right rem(20px) center;
          background-size: 12px auto;

          &::placeholder {
            color: $mid-gray1;
          }
          @include screen(web) {
            background-position: right rem(24px) center;
          }
        }
      }

      .file {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0 none;
      }

      .c-file-msg {
        color: $gray6;
        margin-top: rem($margin8px);
        margin-bottom: rem($margin10px);

        @include screen(web) {
          margin: 0;
        }
      }

      + .button {
        .c-button {
          width: 100%;
        }

        @include screen(web) {
          display: flex;
          justify-content: center;

          .c-button {
            width: auto;
          }
        }
      }

      #preview {
        @include csPreview;
      }

      .c-info-msg {
        color: $gray6;
        margin: rem($margin8px $margin13px);

        @include screen(web) {
          margin: rem($margin8px $margin25px);
        }
      }
      &.cs-form__input-wrap-step {
        @include screen(web) {
          margin-top: rem($margin24px);
          .cs-form__input-inner2 {
            margin-top: rem($margin26px);
          }
          &.c-form__step1 {
            margin-top: 0;
          }
          &.c-form__step2 {
            select {
              width: calc((100% - rem(48px)) / 3);
            }
          }
        }
      }
    }

    &__button-wrap {
      display: flex;
      flex-direction: column;
      .button {
        order: 1;
        margin-top: rem($margin24px);
        a {
          @include screen(web) {
            font-size: rem(24px);
            font-weight: 400;
            color: $black;
          }
        }
        &.c-line-button {
          order: 0;
          margin-top: rem($margin8px);
        }
      }
      @include screen(web) {
        // flex-shrink: 0;
        gap: rem(24px);
        margin-top: 0;

        .button {
          margin-top: 0;
          &.c-line-button {
            margin-top: 0;
          }
        }
      }
    }

    &__input-wrap {
      @include screen(web) {
        display: flex;
        gap: rem(24px);
        align-items: flex-start;
      }
    }

    .cs-form__input-inner:nth-last-child(n + 3),
    .cs-form__input-inner:nth-last-child(n + 3) ~ .cs-form__input-inner {
      + .cs-form__button-wrap {
        margin-top: rem($margin26px);
        .button {
          margin-top: 0;
        }
      }
    }

    &__input-inner {
      width: 100%;
      margin-bottom: rem($margin12px);
      .button {
        margin-top: rem($margin8px);
      }
      &:nth-of-type(1) {
        // margin-bottom: 0;
      }
    }

    @include screen(web) {
      &__wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(24px);
      }
      &__input-inner {
        margin-bottom: 0;
        .button {
          .c-button {
            font-weight: $font-regular;
          }
        }
      }
      .cmp-form {
        label {
          margin-bottom: rem($margin8px);
          // margin-top: rem($margin24px);
          line-height: rem(18px);
          font-size: rem(16px);
        }

        &:nth-child(n + 3) {
          input,
          select {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .c-require {
    margin-top: rem($margin12px);
    margin-right: rem($margin16px);
    color: #646464;
    text-align: right;

    @include screen(web) {
      margin-top: rem($margin20px);
      margin-right: 0;
    }
  }

  .c-map-search {
    padding-left: 0;
    padding-right: 0;

    .c-map {
      .c-map__pin {
        // @include screen(web) {
        //     top: rem($margin523px);
        // }
        // &:not(.is-active) {
        //     margin-top: rem(-$margin20px);
        //     margin-left: rem(($margin60px + $margin10px) * -1);
        // }
        // &.is-active {
        //     margin-top: 0;
        //     margin-right: 0;
        // }
        &.c-tooltip-direction {
          top: 50%;
          bottom: auto;
          margin-top: rem($margin50px + $margin6px);
          margin-left: 0;
          @include screen(web) {
            margin-top: 0;
          }
          &.is-black {
            margin-left: rem($margin200px * -2);
            margin-top: rem(($margin220px + $margin15px) * -1);
          }
        }
      }
    }

    &__toggle {
      @include screen(web) {
        top: rem(40px);
        border-radius: rem(0px 10px 10px 0px);
      }
    }

    &__inner {
      @include screen(web) {
        border: 1px solid $mid-gray3;
      }
    }

    &__body {
      .c-no-data-wrap {
        margin-top: 0;
      }

      .c-map-search__pagenation {
        background-color: $light-gray1;
      }
    }

    &__box {
      background-color: transparent;

      &-inner {
        border: 0;
        border-radius: rem($radius12);
        background-color: $light-gray3;

        input {
          background-color: transparent;
        }
      }
    }

    .c-brand-detail__button {
      display: flex;
      flex-wrap: wrap;
      gap: rem(6px);
    }
  }

  .c-map-direction {
    &__search {
      border: 0;
      background-color: $light-gray1;
    }
  }

  .c-search-box {
    margin-top: rem($margin8px);
    @include screen(web) {
      margin-bottom: rem($margin28px);
      padding: 0;
    }

    .cs-form {
      &__button-wrap {
        // display: flex;
        // justify-content: space-between;
        // align-items: center;

        @include screen(web) {
          flex-shrink: 0;
          gap: rem(24px);
          // height: rem(64px);
          flex-direction: row;
          align-items: center;
        }

        .button {
          a {
            font-size: rem(12px);
            @include screen(web) {
              font-size: rem(14px);
              font-weight: 400;
              color: $black;
            }
          }
        }
        &.mt26 {
          @include screen(web) {
            margin-top: rem($margin26px);
          }
        }
      }
    }

    &__type2 {
      .cs-form {
        &__button-wrap {
          @include screen(web) {
            margin-top: rem($margin26px);
            height: rem($height44px);
          }
        }
      }

      .cmp-form {
        margin-bottom: rem($margin20px);

        &__inner {
          @include screen(web) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: rem(24px);
            width: 100%;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      @include screen(web) {
        form {
          width: 100%;
        }

        .cs-form {
          display: flex;
          gap: rem(24px);

          &__inner {
            & > div {
              width: 100%;
            }
          }
        }

        .cmp-form {
          margin-bottom: 0;

          .c-cta {
            flex-grow: 0;
          }
        }
      }
    }

    &__type3 {
      .cs-form {
        &__button-wrap {
          @include screen(web) {
            margin-top: rem($margin26px);
            height: rem($height44px);
          }
        }
      }
      .cmp-form {
        margin-bottom: rem($margin20px);

        &__inner {
          @include screen(web) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: rem(24px);
            width: 100%;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      @include screen(web) {
        form {
          width: 100%;
        }

        .cs-form {
          display: flex;
          gap: rem(24px);

          &__inner {
            & > div {
              width: 100%;
            }
          }
        }

        .cmp-form {
          margin-bottom: 0;

          .c-cta {
            flex-grow: 0;
          }
        }
      }
    }

    &__type4 {
      .cs-form {
        &__button-wrap {
          @include screen(web) {
            margin-top: rem($margin26px);
            height: rem($height44px);
          }
        }
      }
      .cmp-form {
        margin-bottom: rem($margin20px);

        &:last-child {
          margin-bottom: 0;
        }

        &__grid {
          .cmp-form__wrap {
            width: 100%;
            margin-bottom: rem($margin20px);

            &:last-child {
              margin-bottom: 0;
            }

            @include screen(web) {
              width: 50%;
            }
          }
        }
      }

      @include screen(web) {
        form {
          width: 100%;
        }

        .cs-form {
          display: flex;
          gap: rem(24px);

          &__inner {
            & > div {
              width: 100%;
            }
          }
        }

        .cmp-form {
          margin-bottom: 0;

          &__grid {
            display: flex;
            gap: rem(24px);

            .cmp-form__wrap {
              flex: 1 1 auto;
              margin-bottom: 0;
            }
          }

          &:nth-child(1) {
            width: 60%;
          }

          &:nth-child(2) {
            width: 40%;
          }

          .c-cta {
            flex-grow: 0;
          }
        }
      }
    }

    &__type5 {
      .cs-form {
        &__button-wrap {
          @include screen(web) {
            margin-top: rem($margin26px);
            height: rem($height44px);
          }
        }
      }
      .cmp-form {
        // margin-bottom: rem($margin20px);
        &:last-child {
          margin-bottom: 0;
        }

        &__grid {
          .cmp-form__wrap {
            width: 100%;
            margin-bottom: rem($margin16px);
            &:last-child {
              margin-bottom: 0;
            }
            &:first-of-type {
            }
          }
        }
      }

      @include screen(web) {
        form {
          width: 100%;
        }

        .cs-form {
          display: flex;
          gap: rem(24px);

          &__inner {
            & > div {
              width: 100%;
            }
          }

          &__button-wrap {
            // margin-top: 0;
          }
        }

        .cmp-form {
          margin-bottom: 0;

          &__grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: rem(24px);
            align-items: flex-start;
            width: 100%;

            .cmp-form__wrap {
              flex: 1 1 auto;
              margin-bottom: 0;
            }

            &.type2 {
              gap: rem(24px);

              .cmp-form__wrap {
                grid-column: 1 / 3;
              }
            }

            &.type3 {
              .cmp-form__wrap2 {
                grid-column: 2 / 4;
              }
              .cs-form__button-wrap {
                margin-top: 0;
              }
            }
          }

          .c-cta {
            flex-grow: 0;
          }
        }
      }
    }
  }

  // CARD OUTLINE, CARD LIST COMMON
  .c-support {
    margin-top: rem($margin35px);
    padding-left: rem($margin24px);
    padding-right: rem($margin24px);

    @include screen(web) {
      margin-top: rem($margin100px);
      padding: 0;
    }

    &__inner {
      @include container($design-grid-full, true);

      .find-number {
        margin: rem($margin10px 0 $margin30px);
        font-weight: $font-semibold;
        line-height: rem(14px);
        display: inline-block;
        text-decoration: underline;
        cursor: pointer;

        @include screen(web) {
          margin-bottom: rem($margin40px);
          line-height: rem(14px);
          margin-top: rem($margin20px);
        }
      }
    }

    &__title {
      text-align: center;

      @include screen(web) {
        margin: 0 auto;
        max-width: min(rem($text-box-width-md), $text-box-width-md / $design-grid-full * 100%);
      }

      #{$text-contents}__headline {
        margin-bottom: rem($margin10px);
      }
    }

    &__box {
      @at-root #{$component} {
        .c-support__title + .c-support__box {
          margin-top: rem($padding20px);

          @include screen(web) {
            margin-top: rem($margin40px);
          }
        }

        .c-support--option {
          .c-support__title + .c-support__box {
            @include screen(mobile) {
              margin-top: rem($margin30px);
            }
          }
        }
      }
    }

    &--card {
      .c-list {
        @include screen(tablet) {
          // gap: rem($margin18px);
          .c-button[class*='-box'].medium {
            padding-left: rem($padding6px);
            padding-right: rem($padding6px);
          }
        }

        &__item {
          display: inline-flex;
          flex-direction: column;
          align-items: flex-start;
          flex: none;
          width: calc(50% - rem($gutter-m) / 2);
          border: rem($border1) solid $graye6;
          border-radius: rem($radius8);
          background-color: $white;

          @include screen(web) {
            align-items: center;
            text-align: center;
            width: min(rem(columns(3, false)), columns(3, false) / $design-grid-full * 100%);
          }
        }

        &__link {
          padding: rem($padding28px) rem($padding20px);

          @include screen(web) {
            padding: rem($padding30px);
          }

          @include screen(tablet) {
            padding: rem($padding20px) rem($padding24px);
          }

          .c-button,
          .c-button__text {
            text-decoration: none;
            margin-top: 0;
          }
        }

        #{$text-contents}__bodycopy {
          @include screen(mobile) {
            display: none;
          }
        }

        .c-image {
          width: rem($width100px);
          height: rem($height100px);
          margin: 0 auto;

          @include screen(web) {
            margin-left: auto;
            margin-right: auto;
            width: rem($width140px);
            height: rem(140px);
          }

          @at-root #{$component} .c-support--card {
            .c-image + .c-text-contents {
              margin-top: rem($margin10px);
              // margin-bottom: rem($margin20px);
              min-height: rem(40px);
              color: $gray3;

              @include screen(web) {
                min-height: auto;
                margin-top: rem($margin20px);
              }
            }
          }
        }
      }

      .c-carousel {
        margin-left: rem(-$block-margin-m);
        margin-right: rem(-$block-margin-m);
        @include inset-padding-hz;

        @include screen(web) {
          margin-left: rem(-$block-margin-w);
          margin-right: rem(-$block-margin-w);
        }

        &.swiper-initialized {
          .swiper-wrapper {
            flex-wrap: nowrap;
            gap: 0;
          }
        }

        .swiper-wrapper {
          align-items: stretch;

          .swiper-slide {
            height: auto;
          }
        }
      }
    }

    &--option {
      .c-list {
        flex-direction: column;
        margin-top: rem($margin30px);
        gap: 0;

        @include screen(web) {
          flex-direction: row;
        }

        &__item {
          // display: grid;
          // grid-template-columns: rem(52px) 1fr;
          display: flex;
          padding: rem($padding20px) rem($padding10px);
          border-top: rem($border1) solid $graye6;

          @include screen(web) {
            flex: 1;
            border-top: none;
            border-left: rem($border1) solid $graye6;
            padding: 0 rem($padding56px);
          }

          &:first-child {
            @include screen(mobile) {
              border-top: none;
              padding-top: 0;
            }
          }

          @include screen(web) {
            display: flex;

            &:first-child {
              border-left: none;
            }
          }

          @include screen(tablet) {
            padding: 0 rem($padding16px);
          }
        }

        &__link {
          display: flex;

          @include screen(mobile) {
            gap: rem($margin20px);
          }

          @include screen(web) {
            flex-direction: column;
            // align-items: center;
            flex: 1;
            margin: 0;
            text-align: center;
          }
        }

        .c-image {
          margin-bottom: 0;
          width: rem($width32px);
          height: rem($height32px);

          @include screen(web) {
            width: rem($width48px);
            height: rem($height48px);
          }

          @at-root #{$component} .c-support--option {
            .c-image + .c-text-contents {
              margin-top: 0;
              text-align: left;
              width: calc(100% - 60px);

              @include screen(web) {
                margin-top: rem($margin16px);
                width: auto;
              }
            }
          }
        }
      }
    }
  }

  // CARD IMAGE TYPE MO 2X2 PC 4X1 - COMPONENT CLASS ADDED .type-card__img
  $text: '.c-text-contents';
  $image: '.c-image';
  $cta: '.c-cta';

  .type-card__img {
    @include screen(web) {
      #{$component}__container {
        // padding-bottom: rem($padding100px);
        // padding-top: rem($padding60px);
      }
    }

    .c-step-option-list {
      // @include list(wrap);
      display: flex;
      flex-direction: column;
      gap: rem(40px);

      @include screen(web) {
        flex-direction: row;
        gap: rem(24px);
      }

      // element
      &__item {
        flex-basis: calc(50% - rem(5px));
        position: relative;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr auto;
        width: 100%;

        @include screen(web) {
          flex: 1;
        }

        #{$image},
        #{$cta} {
          grid-area: 1/1/2/2;
        }

        #{$text} {
          grid-area: 2/1/3/2;

          &__eyebrow {
            margin-bottom: rem($margin6px);

            @include screen(web) {
              margin-bottom: rem($margin8px);
            }
          }
        }

        #{$cta} {
          padding-bottom: rem($padding14px);

          @include screen(web) {
            // padding-bottom: rem($padding40px);
            padding-bottom: 14.621%;
          }
        }

        #{$image} {
          width: 100%;
          height: auto;
        }

        // modifier
        &--selected {
          $check-bleet: '#{$image}:after';

          #{$check-bleet} {
            content: '';
            display: block !important;
          }

          #{$cta} {
            display: flex !important;
          }
        }
      }

      // block
      .c-image {
        $check-bleet: '&:after';
        overflow: hidden;
        border-radius: rem($radius8);

        #{$check-bleet} {
          position: absolute;
          z-index: 2;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%, -50%, 0);
          width: rem($icon32px);
          height: rem($icon32px);
          border-radius: 50%;

          background : {
            color: $red;
            image: url($icon-check-white-18-13);
            size: rem($width18px $height13px);
            position: 50% 50%;
            repeat: no-repeat;
          }

          @include screen(web) {
            width: rem($icon40px);
            height: rem($icon40px);
          }
        }
      }

      .c-cta {
        display: block;
        justify-content: flex-start;
        grid-area: auto;
        padding-bottom: 0;
        background: transparent;
      }
    }
  }

  $option-card: '.c-step-option-list__item';

  #{$option-card} {
    #{$text} {
      margin-top: rem($margin16px);
      margin-bottom: rem($margin20px);

      @include screen(web) {
        margin-top: rem($margin20px);
        margin-bottom: rem($margin24px);
      }
    }

    #{$text}__subcopy + #{$text}__bodycopy {
      margin-top: rem($margin6px);

      @include screen(web) {
        margin-top: rem($margin8px);
      }
    }
  }

  .c-no-result {
    padding: rem(0 $padding16px $padding24px);

    @include screen(web) {
      padding: 0;
      padding-bottom: rem($padding48px);
    }

    &__wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: rem($padding13px);
      text-align: center;
      border: 1px solid $graye6;
      border-radius: rem($radius20);
      background-color: $light-gray3;

      @include screen(web) {
        padding: rem($padding40px);
        max-width: $design-grid-full;
        margin: 0 auto;
        margin-top: rem($margin16px);
        border-radius: rem($radius28);
      }
    }

    &__icon {
      display: inline-block;
      width: rem(60px);
      height: rem(60px);
      margin-bottom: rem($margin12px);
      background : {
        image: url($icon-no-result-60-60);
        position: 100% center;
        size: 100%;
        repeat: no-repeat;
      }

      @include screen(web) {
        width: rem(90px);
        height: rem(90px);
        margin-bottom: rem($margin17px);
        background-image: url($icon-no-result-90-90);
      }
    }

    &__headline {
    }

    &__bodycopy {
      margin-top: rem($margin8px);
      color: $mid-gray2;

      @include screen(web) {
        margin-top: rem($margin12px);
      }
    }

    &__point {
      color: $active-red;
    }
  }
  .c-map-direction__search-sub-title {
    color: #4a4946;
  }
  .c-map-btn__box {
    display: flex;
    flex-wrap: wrap;
    .c-button {
      min-width: rem(67px);
      & + .c-button {
        margin-left: rem($margin8px);
      }
    }
  }
  .c-find-service-center {
    background-color: #fff;
    @include screen(web) {
      border-radius: rem(28px);
      overflow: hidden;
      margin-bottom: rem($margin24px);
    }
    &__wrap {
      padding: rem($padding24px $padding16px 0);
      @include screen(web) {
        padding: rem($padding28px);
        &::after {
          content: '';
          display: block;
          clear: both;
        }
      }
      .c-list-more {
        button {
          width: 100%;
          justify-content: center;
          padding: rem($padding15px 0);
          position: relative;
          z-index: 2;
          span {
            position: relative;
            z-index: 0;
          }
        }
        @include screen(web) {
          display: none;
        }
      }
    }
    @include screen(web) {
      &__tit {
        float: right;
        width: calc(100% - 280px);
        padding-left: rem($padding24px);
      }
    }
    &__img {
      margin: rem($margin12px 0 0);
      padding: rem(0 0 $padding15px);
      border-bottom: 1px solid #cbc8c2;
      img {
        border-radius: rem(20px);
        overflow: hidden;
      }
      @include screen(web) {
        float: left;
        padding: 0;
        border: none;
      }
    }
    &__info-list {
      display: none;
      padding-left: 0;
      margin-bottom: 0;
      &.is-open {
        display: block;
      }
      li {
        &::marker {
          content: '';
        }
        &:first-of-type {
          padding-top: rem($padding12px);
        }
        & + li {
          margin-top: rem($margin12px);
        }
        p {
          margin-top: rem($margin4px);
          color: #4a4946;
        }
      }
      @include screen(web) {
        float: right;
        width: calc(100% - rem(280px));
        margin-top: rem($margin40px);
        padding-left: rem($padding24px);
        display: block;
        li {
          display: flex;
          position: relative;
          &:first-of-type {
            padding-top: 0;
          }
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: rem(9px);
            width: rem(4px);
            height: rem(4px);
            border-radius: 50%;
            background-color: #000;
          }
          strong {
            min-width: rem(180px);
            padding-left: rem(12px);
          }
          p {
            margin-top: 0;
            padding-left: rem($padding24px);
            line-height: rem(20px);
          }
          & + li {
            margin-top: rem($margin8px);
          }
        }
      }
    }
    &__info-list.is-open + .c-list-more {
      .down.m-small:after {
        transform: rotate(180deg);
      }
    }
    .c-button[class*='-text'][class*='-icon'].down.m-small:after {
      background-image: url('../../assets/icon/icon-arrow-gray3-down-12-7.svg');
    }
  }
  .c-step2-form-fild {
    .cs-form__input-wrap {
      display: none;
      align-items: flex-start;
      &.is-open {
        display: block;
        @include screen(web) {
          display: flex;
        }
      }
    }
  }
  .c-from-dragbar-box {
    padding: rem($padding24px $padding24px $padding16px);
    border: 1px solid #cbc8c2;
    @include screen(web) {
      padding: rem($padding32px $padding24px $padding16px);
    }
    > div {
      width: 100%;
      .c-form {
        width: 100%;
      }
    }
  }
  .c-select-route {
    padding: rem(0 $padding20px $padding20px);
    @include screen(web) {
      display: flex;
    }
    > .c-form-box {
      margin-top: 0;
      display: inline-block;
      margin-right: rem($margin16px);
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  .c-form-info-list {
    display: none;
    padding: rem(0 $padding20px $padding20px);
    &.is-active {
      display: block;
    }
    p {
      color: #666;
    }
  }
  .c-public-transportation-info {
    display: none;
    padding: rem($padding20px $padding16px $padding16px);
    color: #666;
    &.is-active {
      display: block;
    }
    > a {
      color: #000;
    }
    @include screen(web) {
      padding: rem($padding20px);
    }
  }
  .cs-form__input-inner {
    input:not(input[type='radio']) {
      background: #e6e1d6;
    }
  }
}
