@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.BU0003';
#{$component} {
  @include contrast-box;
  @include lgness-margin('if-headline');
  .c-wrapper > .component > .cmp-container {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
  }

  .margin-bottom {
    &::after {
      display: none;
    }
  }
  // block
  .c-region-header {
    &__container {
      > * {
        max-width: rem($text-box-width-md);
      }
    }
  }
  .my-formbox {
    display: flex;
    flex-direction: column;
    gap: rem($padding24px);
    padding-top: rem($padding12px);
    .my-input {
      ul {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
      }
      > ul,
      dl,
      ol {
        display: flex;
        gap: rem($padding16px);
        flex-direction: column;
      }
      .my-warn {
        border-color: $active-red;
        select {
          border-color: $active-red;
        }
      }
    }
    @include screen(web) {
      padding-top: 0;
      .my-input {
        ul,
        dl,
        ol {
          flex-direction: row;
          gap: rem($padding24px);
          li {
            flex-basis: 100%;
          }
        }
      }
      &.type-02 {
        .my-input {
          ul,
          dl,
          ol {
            li {
              &:first-child {
                // flex-basis: 33.33%;
              }
            }
          }
        }
      }
    }
  }
  .my-input {
    input {
      color: $mid-gray2;
      border: rem($border1) solid $mid-gray1;
      border-radius: rem(12px);
      padding: rem($padding12px) rem($padding13px);
      font-size: rem(16px);
      line-height: rem(20px);
      height: rem($height44px);
      &[type='date'] {
        position: relative;
        background: url($icon-calendar-black-24-24) no-repeat right rem(13px) center;
        background-size: rem(24px) rem(24px);
        background-color: $light-gray3;
        text-align: #{'/*!rtl:right*/'}; /*! 230515 RTL */
        &::-webkit-clear-button,
        &::-webkit-inner-spin-button {
          display: none;
        }
        &::-webkit-calendar-picker-indicator {
          cursor: pointer;
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: transparent;
          color: transparent;
        }
        &::before,
        &:focus::before {
          content: attr(placeholder);
          width: 100%;
        }
        &:valid::before {
          content: normal;
        }
      }
      &[data-placeholder]::before {
        color: $mid-gray2;
        font-size: rem(16px);
      }
      &[type='password'] {
        padding-right: rem($padding45px);
      }
      &[readonly] {
        background-color: $ivory6;
        &::placeholder {
          color: $grayb;
        }
      }
      &[disabled] {
        background-color: $ivory6;
        &::placeholder {
          color: $grayb;
        }
      }
    }
    .c-search-box__form {
      em.c-required {
        color: $heritage-red;
      }
    }
  }
  .c-required-area {
    em {
      color: $heritage-red;
    }
  }
  .c-warning {
    display: none;
  }
  .c-result-area__controls {
    padding: rem(0 0 $padding12px);
    height: fit-content;
    @include screen(web) {
      padding: rem(0 0 $padding20px);
    }
  }
  .c-select-item,
  .c-input-item {
    select,
    input {
      color: $mid-gray3;
      background-color: $light-gray3;
      border-color: $light-gray3;
    }
  }
  .c-result-area__sort {
    @include screen(web) {
      flex-basis: calc((100% - rem(48px)) / 3);
    }
  }
  .c-result-area__result {
    em {
      font-style: normal;
    }
  }
  .c-table {
    text-align: center;
    // // margin-top: rem($margin20px);
    // @include screen(web) {
    //     // margin-top: rem($margin40px);
    // }

    // helper
    .cell-size {
      width: 16.6%;
    }
    .cell-title-size {
      min-width: rem($width150px);
      width: 33.33%;
    }

    // element
    table {
      border-color: $mid-gray1;
      a {
        text-decoration: none;
      }
    }
    th,
    td {
      min-width: rem(90px);
      border-style: solid;
      border-bottom-width: rem($border1);
      padding: rem($padding14px);
      word-break: break-word;
      &:nth-child(2) {
        min-width: rem(150px);
      }
      &:nth-child(5),
      &:nth-child(6) {
        min-width: rem(115px);
      }
      @include screen(web) {
        padding: rem($padding14px $padding24px);
        min-width: rem($width240px);
        max-width: rem(480px);
        &:nth-child(2) {
          min-width: rem(480px);
        }
        &:nth-child(5),
        &:nth-child(6) {
          min-width: rem(240px);
        }
      }
      // font
      @include screen(web) {
        font-size: rem(24px);
        line-height: rem(28px);
      }
    }
    thead {
      tr {
        position: sticky;
        top: 0;
        border-bottom: rem($border1) solid $mid-gray1;
      }
    }
    th {
      position: static;
      border-bottom: unset;
    }

    tbody {
      td:nth-child(2) {
        text-align: left;
      }
    }

    &__title {
      display: inline-flex;
      width: 100%;
      text-align: left;
      align-items: center;
      flex-flow: row wrap;
      gap: rem($margin12px);
      span {
        color: $gray3;
        word-break: break-all;
      }
      &--icon {
        max-width: rem($width20px);
        max-height: rem($height20px);
      }
      @include screen(web) {
        justify-content: space-between;
        width: 100%;
        max-width: rem(480px);
        flex-wrap: nowrap;
        span {
          display: inline-block;
          width: calc(100% - rem($width30px));
          @include ellipsis(1);
        }
      }
    }
    &__size {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: rem($margin8px);
      @include screen(web) {
        flex-direction: row;
        align-items: center;
        gap: rem($margin12px);
      }
    }
    &__type {
      word-break: break-word;
    }
  }

  .c-link-box {
    display: flex;
    flex-direction: column;
    gap: rem($margin12px);
    background: $light-gray3;
    padding: rem($padding20px);
    @include lgness-radius('default');
    @include screen(web) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      column-gap: rem($gutter-w);
      padding: rem($padding48px);
    }
    .c-text-contents {
      max-width: rem($text-box-width-sm);
      &__bodycopy {
        color: $black;
      }
    }
  }

  // layout : margin
  .c-region-header + * {
    @include lgness-component-title-margin;
  }
  .c-table + .c-link-box {
    margin-top: rem($margin16px);
    @include screen(web) {
      margin-top: rem($margin24px);
    }
  }
  .c-table + .c-search__pagenation {
    padding-top: rem($padding24px);
    @include screen(web) {
      padding-top: rem($padding32px);
    }
  }
  // Region/Country icon
  .wrap-country-img {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: rem($margin8px);
    img {
      width: rem($width32px);
      height: rem($width32px);
    }
    span {
      word-break: break-word;
    }
    @include screen(web) {
      flex-direction: row;
      gap: rem($margin16px);
    }
  }
  .c-search-result {
    @include screen(web) {
      padding: rem($padding24px 0 $padding48px);
    }
  }
  .c-no-search-result {
    @include screen(web) {
      padding-bottom: rem($padding48px);
      &.border-top {
        border-top: unset;
      }
    }
  }
  .c-no-result {
    padding: rem($padding24px 0);

    @include screen(web) {
      padding: 0;
    }

    &__wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: rem($padding20px);
      text-align: center;
      border: 1px solid $graye6;
      border-radius: rem($radius20);
      background-color: $light-gray3;

      @include screen(web) {
        padding: rem($padding40px);
        max-width: $design-grid-full;
        margin: 0 auto;
        border-radius: rem($radius28);
      }
    }

    &__icon {
      display: inline-block;
      width: rem(60px);
      height: rem(60px);
      margin-bottom: rem($margin12px);
      background : {
        image: url($icon-no-result-60-60);
        position: 100% center;
        size: 100%;
        repeat: no-repeat;
      }

      @include screen(web) {
        width: rem(90px);
        height: rem(90px);
        margin-bottom: rem($margin17px);
        background-image: url($icon-no-result-90-90);
      }
    }

    &__bodycopy {
      margin-top: rem($margin8px);
      color: $mid-gray2;

      @include screen(web) {
        margin-top: rem($margin12px);
      }
    }

    &__point {
      color: $active-red;
    }
  }
  .cs-search-result__container {
    .c-result-area {
      .productcollection__results-count {
        .c-select-item {
          display: none;
          select {
            text-align: right;
          }
        }
        @include screen(web) {
          flex-basis: calc((100% - rem(48px)) / 3);
          display: flex;
          justify-content: space-between;
          align-items: center;
          .c-select-item {
            display: block;
            width: calc(100% - rem(135px));
          }
        }
      }
    }
  }
}
