@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.ML000Z';
$text-contents: '.c-text-contents';
$cta: '.c-cta';
$star: '.c-star';
$review: '.c-review';
$select-item: '.c-select-item';
$button: '.c-button';
$icon-button: '.c-icon-button';
$comment: '.c-comment';
$cmp-text: '.cmp-text';
$accordion: '.c-accordion';
$required-area: '.c-required-area';

.font-w-normal-12 {
  @include screen(web) {
    font-size: rem(12px);
    line-height: rem(12px);
    font-weight: $font-regular;
  }
}

.font-m-normal-12 {
  @include screen(mobile) {
    font-size: rem(12px);
    line-height: rem(12px);
    font-weight: $font-regular;
  }
}

#{$component} {
  .my-component {
    margin: 0 auto;

    $mycomponent: '.my-component';
    position: relative;
    overflow: hidden;
    @include container($design-grid-full, true);
    @include inset-padding-hz;
    &--maximum {
      @include container($maximum, true);
      padding: 0;
    }
    &.bg-lightgray {
      background: $ivory6;
    }
    & + .bg-lightgray {
      margin-top: rem($margin30px);
      @include screen(web) {
        border-radius: rem($radius8);
      }
    }
    &.bg-black--outline {
      @include screen(mobile) {
        border-top: rem($border1) solid $graycb;
        @include inset-padding-hz;
      }
    }
    & + .bg-black--outline {
      margin: rem($margin30px) auto;
    }
    &.no-crop {
      overflow: initial;
    }
  }

  .my-reviewlist {
    padding: rem(24px) 0;
    display: flex;
    flex-direction: column;
    gap: rem(16px);
    @include inset-padding-hz;
    @include container($design-grid-full, true);
    @include screen(web) {
      padding: rem(20px) rem(0);
      gap: rem(24px);
    }
    .c-review__item {
      padding: rem(24px) rem(16px);
      border: rem($border1) solid $mid-gray1;
      @include lgness-radius('all');
      background: $white;
    }
    @include screen(web) {
      .c-review__item {
        padding: rem(32px) rem(24px);
      }
    }

    .review__item-content {
      &__headline {
        margin-top: rem(13px);
        font-size: rem(20px);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &__bodycopy {
        margin-top: rem(8px);
        display: block;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        &.is-ellipsis {
          display: -webkit-box;
        }
      }
      .button.c-cta {
        margin-top: rem(24px);
        .cmp-button {
          &.up:after {
            transform: rotate(180deg);
          }
        }
      }
      @include screen(web) {
        &__headline {
          font-size: rem(24px);
          display: -webkit-box;
          -webkit-line-clamp: 1;
        }
      }
    }
  }

  // block : head star
  .c-head-star {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    a {
      display: contents;
    }
    // -2023-06-09 disabled
    &.disabled {
      .c-code {
        color: #cbcbc2;
      }
      a {
        pointer-events: none;
        color: #cbcbc2;
      }
      .c-star {
        @mixin set-star-image($mocksName, $size: 100% auto) {
          background-image: url($mocksName + '');
          background-repeat: no-repeat;
          background-size: $size;
        }
        &__back-image {
          @include set-star-image($icon-star-disabled-97-16, 'auto');
        }
      }
    }
    .c-code {
      color: $gray3;
      text-decoration: underline;
      font-size: rem(14px);
      font-weight: 600;
    }
    @include screen(web) {
      gap: 24px;
      justify-content: start;
      .c-code {
        font-size: rem(16px);
      }
    }

    &__title {
      grid-row: 1/3;
      margin-block: auto;
      .cmp-title {
        display: flex;
        align-items: flex-end;
      }
      em {
        font-style: initial;
        font-size: rem(36px);
        line-height: rem(36px);
        // font-weight: $font-semibold;
        font-weight: $font-light;
        @include screen(web) {
          font-size: rem(56px);
          line-height: rem(56px);
        }
      }
    }

    &__text {
      margin-top: auto;
      font-weight: $font-semibold;
      .cmp-text {
        line-height: rem($height16px);
        @include screen(web) {
          line-height: rem($height14px);
        }
      }
    }
  }

  // block : star
  .c-star {
    display: flex;
    // align-items: center;
    gap: rem($margin6px);
    color: $gray3;
    font-size: 14px;
    height: auto;
    @include screen(web) {
      margin-top: initial;
    }

    /* stylelint-disable-next-line scss/no-duplicate-mixins */
    @mixin set-star-image($mocksName, $size: 100% auto) {
      background-image: url($mocksName + '');
      background-repeat: no-repeat;
      background-size: $size;
    }

    &__front-image {
      width: rem(96px);
      height: rem($height16px);
      position: relative;
      @include set-star-image($icon-star-defult-97-16);
    }

    &__back-image {
      width: 0;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      @include set-star-image($icon-star-active-97-16, 'auto');
      background-position: left #{'/*!rtl:right*/'}; /*! RTL last keep colon */
    }
  }

  .c-nodata-area {
    width: 100%;
    padding: rem(60px) rem(30px);
    background-color: white;
    p {
      display: block;
      text-align: center;
      font-size: rem(20px);
      color: $black;
      font-weight: 400;
      padding-top: rem(77px);
      background: url($icon-nodata-empty-50-52) no-repeat center top;
    }

    @include lgness-radius('all');
    @include screen(web) {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: rem(400px);
      padding: rem(20px) rem(0);
      p {
        font-size: rem(24px);
      }
    }
  }
}
