@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.ST0039';
#{$component} {
  @include lgness-margin('if-headline');
  > .component > .cmp-container {
    position: relative;
    @include container($design-grid-full, true);
  }

  // headline
  .c-region-header {
    @include inset-padding-hz;
  }
  // block - text contents
  .c-text-contents {
    margin-top: rem($margin12px);
    color: inherit;
    @include screen(web) {
      margin-top: rem($margin20px);
    }
  }
  // block : image
  .c-image {
    overflow: hidden;
    border-radius: rem($radius8);
    .cmp-image img {
      width: rem(80px);
      height: rem(80px);
    }
  }
  // block : carousel
  .c-carousel {
    overflow-y: visible;
    position: static;
    @include screen(mobile) {
      margin-left: rem(-$block-margin-m);
      margin-right: rem(-$block-margin-m);
    }
    .swiper {
      &-wrapper {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        @include screen(web) {
          justify-content: center;
          gap: rem($gutter-w);
        }
      }
      &-slide {
        display: flex;
        flex-direction: column;
        padding: rem(0 $block-margin-m);
        align-items: center;
        text-align: center;
        @include screen(web) {
          max-width: rem(columns(2, false));
          padding: 0;
          flex: 1;
          align-items: flex-start;
          text-align: inherit;
        }
        .c-media-contents,
        .c-text-contents {
          max-width: rem($max-width150px);
          @include screen(web) {
            max-width: rem(columns(2, false));
          }
        }
        .c-image {
          max-width: rem($width80px);
        }
      }
    }
    &.swiper-initialized {
      .swiper-wrapper {
        justify-content: flex-start;
        @include screen(web) {
          gap: 0;
        }
      }
      .swiper-slide {
        max-width: 100%;
        @include screen(web) {
          flex: none;
        }
      }
    }
  }

  // block : tab
  .cmp-tabs {
    &__tabpanel {
      @include inset-padding-hz;
      margin-top: rem($margin24px);
      @include screen(web) {
        margin-top: rem($margin32px);
      }
    }
  }
}
