@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.PD0019';
#{$component} {
  @include lgness-margin('if-headline');
  > .component > .cmp-container {
    position: relative;
    max-width: rem($design-grid-full + $block-margin-w * 2);
    margin: 0 auto;
    @include screen(web) {
      @include inset-padding-hz;
    }
  }
  // block : region header
  .c-region-header {
    @include screen(mobile) {
      @include inset-padding-hz;
    }
  }
  // block : c-stock-list
  .c-stock-list {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    max-width: rem($design-grid-full);
    @include screen(mobile) {
      margin-top: rem($margin12px);
    }
    @include screen(web) {
      margin-top: rem($margin20px);
    }
    // AEM Class
    .carousel {
      width: 100%;
    }
    .c-carousel {
      @include screen(mobile) {
        @include inset-padding-hz;
      }
    }

    .c-carousel {
      overflow-y: visible;
      position: static;
      &:not(.swiper-initialized) {
        .swiper-wrapper {
          align-items: center;
          gap: rem($margin24px);
          .swiper-slide {
            flex: 0 1 rem($max-width342px);
          }
        }
      }
    }
    &__item {
      $box-img-size: $max-width180px;

      display: flex;
      flex-direction: column;
      height: auto;
      @include lgness-radius('default');
      gap: rem($padding50px);
      padding: rem($padding30px $padding24px);
      background-color: $white;
      @include screen(web) {
        padding: rem($padding30px $padding40px);
      }
      &--top {
        margin: 0 auto;
        max-width: rem($box-img-size);
        max-height: rem($box-img-size);
      }
      &--bottom {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem($margin8px);
        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: rem($border1);
          top: rem(-$margin20px);
          background-color: $light-gray3;
        }
        > * {
          color: $gray3;
        }
      }
    }

    // - PDP Stock List Type
    &__item2 {
      $box-img-size: $max-width180px;

      position: relative;
      display: flex;
      flex-direction: column;
      height: auto;
      @include lgness-radius('default');
      padding: rem($padding30px $padding24px);
      background-color: $white;
      gap: rem($margin8px);
      @include screen(web) {
        justify-content: space-between;
        align-items: center;
        gap: rem($margin30px);
        padding: rem($padding30px $padding40px);
      }
      &--top {
        max-width: rem($box-img-size);
        max-height: rem($box-img-size);
        @include screen(web) {
          margin: 0 auto;
        }
        @include screen(mobile) {
          width: 5rem;
        }
      }
      &--bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: rem($gutter-m);
        padding-top: rem($padding8px);
        padding-right: rem(columns(2, false, mobile));
        @include screen(web) {
          align-items: center;
          gap: rem($margin8px);
          width: 100%;
          border-top: rem($border1) solid $light-gray3;
          padding-top: rem($padding20px);
          padding-right: 0;
        }

        > * {
          color: $gray3;
        }
        .c-button {
          @include screen(mobile) {
            position: absolute;
            right: rem($padding28px);
            top: 50%;
            transform: translateY(-50%);
          }
        }
        &--txt01 {
          font-size: rem(16px);
          line-height: rem(20px);
          color: $active-red;
        }
        &--txt02 {
          font-size: rem(16px);
          line-height: rem(20px);
          color: #39827d;
        }
      }
    }
    .c-no-data-wrap {
      position: relative;
      width: 100%;
      height: 100%;
      @include screen(mobile) {
        padding: rem(73px 0);
        margin: 0 1rem;
      }
      padding: rem(146px 0);
      @include lgness-radius('default');
      z-index: $z-index1;
      display: flex;
      transition-property: transform;
      box-sizing: content-box;
      background-color: $white;
    }
  }

  .c-no-data {
    margin: 0 auto;

    $icon: '&:before';

    #{$icon} {
      content: '';
      display: block;
      margin-bottom: rem($margin20px);
      width: rem($width60px);
      height: rem($height60px);
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url($icon-empty-gray-60-60);
    }

    // modifier
    &--no-response {
      #{$icon} {
        background-image: url($icon-no-response-60-60);
      }
    }
  }
}
