@charset "UTF-8";

@use '../../scss/abstract/' as *;

// component
$component: '.ST0048';
#{$component} {
  // element
  > .component > .cmp-container {
    margin-left: auto;
    margin-right: auto;
  }

  // option
  &.width-wide {
    > .component > .cmp-container {
      // max-width: rem($maximum);
    }
  }
  &.width-narrow {
    > .component > .cmp-container {
      max-width: rem($design-full);
    }
  }
  &.width-content {
    > .component > .cmp-container {
      max-width: rem($design-grid-full);
    }
  }
}
