@charset "UTF-8";
@use '../../scss/abstract/' as *;
// component
$component: '.ML000M';
#{$component} {
  $default: '&[class*="-default"]';
  .my-component {
    margin: 0 auto;

    $mycomponent: '.my-component';
    position: relative;
    overflow: hidden;
    @include container($design-grid-full, true);
    @include inset-padding-hz;
  }
  .c-accordion {
    $block: '.c-accordion';
    &__head {
      position: relative;
      padding: rem($padding20px 0);
      @include screen(web) {
        padding: rem($padding24px) 0;
      }
      #{$block}__initial {
        color: $red;
        margin-right: rem($margin8px);
        @include screen(web) {
          margin-right: rem($margin10px);
        }
      }
    }
    &__head-text {
      color: $black;
      display: flex;
      padding-right: rem(columns(1, false, mobile) * 0.5);
      line-height: rem(20px);
      @include screen(web) {
        line-height: rem(36px);
        color: $gray3;
        padding-right: rem(columns(1, true));
      }
      .c-text-contents {
        &__headline {
          .cmp-text:first-child {
            margin-bottom: rem($margin4px);
            color: $gray6;
          }
        }
      }
    }
    &__body {
      padding-bottom: rem($padding20px);
      @include screen(web) {
        margin-top: rem(-$margin4px);
        padding-bottom: rem($padding24px);
      }
      .title {
        @include screen(web) {
          line-height: rem(22px);
        }
      }
      .title + .text {
        margin-top: rem($margin4px);
        @include screen(web) {
          margin-top: rem($margin12px);
        }
      }
      .text {
        color: $mid-gray2;
        & + .title {
          margin-top: rem($margin16px);
          @include screen(web) {
            margin-top: rem($margin20px);
          }
        }
      }
    }
    &__body-text {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      @include screen(web) {
        flex-basis: rem(columns(7, false));
        min-width: rem(columns(3));
        &:only-child {
          flex-basis: rem(columns(9, false));
        }
      }
      .c-text-contents__bodycopy {
        flex: 1;
        a {
          color: $gray3;
          text-decoration: underline;
        }
        strong {
          font-weight: $font-bold;
        }
      }
      .c-cta {
        width: 100%;
      }
      .c-accordion__initial {
        margin-right: rem($margin8px);
        @include screen(web) {
          margin-right: rem($margin10px);
        }
      }
    }
    &__body-image {
      @include screen(web) {
        flex-basis: rem(columns(5, false));
      }
      &:empty {
        display: none;
      }
    }
    &__button {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @include screen(web) {
        align-items: center;
        padding-right: 0;
        padding-top: 0;
      }
    }
    &__button:after {
      width: rem(10px);
      height: rem(5px);
      background-image: url($icon-arrow-gray3-down-12-7);
    }
  }
  .my-item-detail {
    @include lgness-radius('default');
    margin: rem($margin8px) 0 rem($margin20px);
    padding: rem($padding20px) rem($padding16px) 0;
    background: $white;
    @include screen(web) {
      margin: rem($margin24px) 0;
      padding: rem($padding24px) rem($padding24px) rem($padding14px);
      border: rem($border1) solid $graye6;
    }
    .my-infoBox {
      .my-repairdetail-info {
        padding: rem($padding14px) 0 rem($padding20px);
        @include screen(web) {
          padding: rem($padding20px) 0 rem($padding24px);
        }
        &:nth-child(1) {
          padding-top: 0;
        }
        &:last-child {
          padding-bottom: 0;
        }
        &__text {
          padding-top: rem($padding20px);
          .c-list {
            // display: flex;
            flex-wrap: wrap;
            row-gap: rem(6px);
            @include screen(web) {
              row-gap: rem(10px);
            }
            &__item {
              @include screen(web) {
                width: 25%;
              }
            }
            &--step {
              @include screen(mobile) {
                row-gap: rem(4px);
                .c-text-contents__bodycopy {
                  margin-top: 0;
                }
              }
            }
          }
        }
        &__receipt {
          display: flex;
          flex-wrap: wrap;
          row-gap: rem(6px);
          @include screen(web) {
            row-gap: rem(10px);
          }
          @include screen(mobile) {
            border-bottom: rem($border1) solid $mid-gray1;
            padding-bottom: rem($padding20px);
          }
        }
        &__desc {
          display: flex;
          flex-wrap: wrap;
          row-gap: rem(6px);
          @include screen(web) {
            row-gap: rem(10px);
            margin-top: rem($margin20px);
          }
          @include screen(mobile) {
            padding-top: rem($padding20px);
          }
          .c-list__item {
            flex-direction: column;
          }
        }
        &__link {
          text-decoration: underline;
        }
        .c-list__item {
          @include screen(mobile) {
            width: 100%;
          }
          &--fitContent {
            @include screen(mobile) {
              width: fit-content;
              min-width: 50%;
            }
          }
          &--width-auto {
            width: auto;
          }
          &--step {
            .c-text-contents {
              @include screen(mobile) {
                display: flex;
                align-items: center;
              }
            }
          }
          .c-text-contents {
            @include screen(web) {
              max-width: rem(424px);
            }
            &__title {
              span {
                display: block;
                line-height: rem(20px);
                @include screen(web) {
                  display: block;
                  line-height: rem(22px);
                }
              }
            }
            &__bodycopy {
              // -2023-05-16 ( Receipt No : Icon 정렬)
              display: flex;
              align-items: center;

              color: $mid-gray2;
              @include screen(mobile) {
                line-height: rem(20px);
              }
              @include screen(web) {
                margin-top: rem($margin12px);
              }
              a {
                display: block;
              }
              span {
                display: block;
                @include screen(web) {
                  line-height: rem(22px);
                }
              }
              // -2023-05-16 ( Receipt No : Icon 추가)
              &__icon {
                display: block;
                width: rem(22px);
                height: rem(22px);
                margin: 0 rem($margin6px) 0 0;
                min-width: rem(22px);
                &--Call {
                  background: url($icon-phone-24-24) center / contain no-repeat;
                }
                &--Email {
                  background: url($icon-email-black-24-24) center / contain no-repeat;
                }
              }
            }
            .c-button__text {
              color: $gray6;
            }
            .c-button__text::after {
              background-image: url($icon_my_products2_m);
            }
          }
          & + .delivery-step {
            margin-top: rem($margin4px);
          }
        }
        .c-list__colon {
          height: rem($height18px);
          line-height: rem(18px);
          font-size: rem(14px);
          @include screen(web) {
            display: none;
          }
        }
        .my-product-box {
          background-color: $ivory6;
          margin-top: rem($margin8px);
          padding: rem($padding10px);
          border-radius: rem($radius8);
          @include screen(web) {
            margin-top: rem($margin10px);
            padding: rem($margin10px) rem($margin14px);
          }
          .c-text-contents__bodycopy {
            color: $gray6;
            display: flex;
            flex-direction: column;
            @include screen(web) {
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
            }
            @include screen(mobile) {
              row-gap: rem(4px);
            }
          }
          .c-image {
            display: flex;
            gap: rem(8px);
            &__img {
              border-radius: rem($radius6);
              width: rem($width64px);
              @include screen(web) {
                width: rem($width120px);
              }
            }
          }
          &__zip {
            color: $black;
          }
        }
        & + .button {
          margin-top: rem($margin30px);
          justify-content: center;
          @include screen(mobile) {
            display: none;
          }
        }
        &__btn {
          margin-bottom: rem($margin6px);
          .c-button[class*='-text'][class*='-icon']:after {
            text-transform: initial;
            width: rem(12px);
            height: rem(12px);
            background-image: url($icon-blank-gray6-16-16);
          }
          & + .c-text-contents__bodycopy {
            margin-top: rem($margin6px);
            @include screen(web) {
              margin-top: rem($margin10px);
            }
          }
        }
        & + .my-repairdetail-info {
          border-top: rem($border1) solid $graye6;
          @include screen(web) {
            border-top: rem($border1) solid $graye;
          }
        }
      }
      .c-button.download {
        width: fit-content;
        display: flex;
        margin-top: rem($margin6px);
        @include screen(web) {
          margin-top: rem($margin10px);
        }
        span {
          font-size: rem(14px);
          line-height: rem(16px);
          height: rem($height16px);
          color: $black;
        }
        &:after {
          content: '';
          display: inline-block;
          background-position: 100% center;
          background-size: 100%;
          background-repeat: no-repeat;
          width: rem($width16px);
          height: rem($height16px);
          background-image: url($icon-download-black-24-24);
          margin-left: rem($margin2px);
          @include screen(web) {
            margin-left: rem($margin4px);
          }
        }
      }
      &__accordion {
        border-top: rem($border1) solid $mid-gray1;
        &:last-child {
          .c-accordion__body {
            padding-bottom: rem($padding30px);
          }
        }
      }
    }
  }
  .link-banner {
    @include screen(mobile) {
      padding: rem($padding20px) 0;
    }
    @include screen(web) {
      padding-bottom: rem($padding64px);
    }
    .c-button {
      @include screen(mobile) {
        width: 100%;
      }
      #{$default} {
        @include screen(web) {
          border: rem($border1) solid $graycb;
        }
        &:hover {
          border-color: $active-red;
        }
        &.highlight {
          border-color: $active-red;
          &:hover {
            border-color: $mid-gray2;
          }
        }
      }
    }
  }
}
