@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.ML000J';
$common-side-padding-m: rem(25px);

#{$component} {
  .my-component {
    @include container($design-grid-full, true);
    @include inset-padding-hz;

    $mycomponent: '.my-component';
    position: relative;
    padding-top: rem($padding24px);
    padding-bottom: rem($padding12px);
    @include screen(web) {
      padding-bottom: rem($padding24px);
    }
  }
  .my-component__wrap {
    .my-component {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .my-wishlist {
    &__product-box {
      margin-top: rem($margin8px);
      margin-bottom: rem($margin40px);
      @include screen(web) {
        margin-top: rem($margin24px);
        margin-bottom: rem($margin64px);
      }
      .c-product-item__wishlist .c-tooltip__container {
        display: none;
      }
    }
    &__pagination {
      display: flex;
      justify-content: center;
      margin: rem($margin32px) 0 0;
    }
  }

  .no-filter {
    .c-product-list {
      gap: rem(32px) rem(24px);
    }
  }

  .link-banner {
    gap: rem(24px);
    padding-left: 0;
    padding-right: 0;
  }
  .c-tooltip {
    .pibtn {
      border: 0 none;
      background: none;
    }
  }
}
