extends ../_common/_layout.pug
include ./_specs-print.pug


block styles
    - var componentId = "CS0024"
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(type="text/javascript").
        const waitForResponse = 1000;
        setTimeout(function(){window.print();}, waitForResponse);
        
block content
    .c-wrapper.PD0008.c-print-wrapper
        .component
            .cmp-container
                +specs-print-table
