@charset "UTF-8";
@use '../../scss/abstract/' as *;
@use '../CS0000/CS0000' as *;

// component
$component: '.CS0024';
#{$component} {
  // variable
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  $c-detail-content: '.c-detail-content';
  img {
    width: 100%;
  }
  // scrollbar for Chrome and Safari
  ::-webkit-scrollbar {
    width: rem(4px);

    @include screen(web) {
      width: rem(6px);
    }
  }

  ::-webkit-scrollbar-track {
    background: rgba($black, 0);
  }

  ::-webkit-scrollbar-button:start:decrement,
  ::-webkit-scrollbar-button:end:decrement {
    display: block;
    width: rem(4px);
    height: rem(4px);
    background: rgba($black, 0);

    @include screen(web) {
      height: rem(12px);
    }
  }

  &__container {
    /* Delete that style on development */
    // padding: 0 !important;
    @include screen(web) {
      /* Delete that style on development */
      margin: 0 !important;
      max-width: none !important;
    }
  }
  .c-modal {
    /* Delete that style on development */
    position: relative !important;
  }

  &__container {
    @include flex-context;
    @include container($design-grid-full, true);
    @include inset-padding-hz(mobile);
    @include screen(web) {
      @include flex-context;
      padding: rem(0 24px);
    }
    @include screen(tablet) {
      @include inset-padding-hz;
    }

    @at-root #{$component} {
      .full #{$component}__container {
        padding-left: 0;
        padding-right: 0;

        #{$cs-header} {
          margin: rem(0 $margin25px);
          margin-bottom: rem($margin20px);

          @include screen(web) {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: rem($margin40px);
          }
        }
      }
    }
  }

  .c-popup-type {
    padding-left: 0;
    padding-right: 0;
  }

  // Support HEADER
  #{$cs-header} {
    margin-bottom: rem($margin20px);
    a {
      color: $red;
      text-decoration: underline;
    }
    @include screen(web) {
      margin-bottom: rem($margin40px);
    }
    @at-root #{$component} #{$cs-header} {
      #{$text-contents} {
        // text-align: center;
      }
      #{$text-contents}__headline + #{$text-contents}__bodycopy {
        margin-top: rem($margin6px);
        @include screen(web) {
          margin-top: rem($margin10px);
        }
      }
    }
  }

  .c-cta {
    display: block;
    margin-top: rem($margin20px);
  }

  // .c-detail-content
  .c-detail-content {
    max-width: rem(1440px);
    margin: 0 auto;
    @include screen(web) {
      padding-top: rem($padding48px);
      padding-bottom: rem($padding48px);
      border-radius: rem($radius28);
      background: $white;
    }
    &__top {
      position: relative;
      padding: rem(64px 0 $padding20px);
      @include screen(web) {
        padding: rem(0 $padding48px);
      }
    }
    &__top-wrap {
      margin-top: rem($margin12px);
      @include screen(web) {
        display: flex;
        justify-content: space-between;
        margin-top: rem($margin22px);
      }
    }
    &__top-text {
      display: inline-block;
      position: relative;
      padding-right: rem(10px);
      margin-right: rem(10px);
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 1px;
        height: rem(14px);
        background: $graye6;
      }
    }
    &__date {
      color: $gray6;
      @include screen(web) {
        display: inline-block;
      }
    }

    &__button-wrap {
      position: absolute;
      right: 0;
      top: rem(24px);
      display: flex;
      gap: rem(24px);
      @include screen(web) {
        position: static;
        justify-content: flex-end;
        margin-top: 0;
      }
    }

    &__button {
      position: relative;
      text-indent: 0;
      width: auto;
      height: auto;
      padding-right: rem($padding20px);
      background-image: none;
      border: none;
      background-color: transparent;
      &:before {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: rem(16px);
        height: rem(16px);
        background: {
          repeat: no-repeat;
          size: contain;
        }
      }
      &--print {
        display: none;
        font-weight: $font-semibold;

        &:before {
          background-image: url($icon-print-black-24-24);
        }

        @include screen(web) {
          display: block;
        }
      }
      &--share {
        &:before {
          background-image: url($icon-share-black-24-24);
        }
        font-weight: $font-semibold;
      }
      &--down {
        &:before {
          background-image: url($icon-download-black-24-24);
        }
      }
      &--copylink {
        &:before {
          background-image: url($icon-copylink-black-24-24);
          width: rem($width18px);
          height: rem($height18px);
        }
      }
      &--email {
        &:before {
          background-image: url($icon-email-black-24-24);
        }
      }
      &--sms {
        &:before {
          background-image: url($icon-sms-black-24-24);
        }
      }
    }

    &__content {
      // padding-bottom: rem($padding24px);
      border-top: 1px solid $grayd;
      @include screen(web) {
        margin: rem($margin32px $margin48px 0 $margin48px);
        padding-bottom: 0;
      }
    }

    &__content-wrap {
      // margin-top: rem($margin40px);
      @include screen(web) {
        // margin-top: rem($margin60px);
      }
      &:last-child {
        margin-bottom: 0;
      }
      .iframe-container {
        overflow: hidden;
      }
    }

    &__inner {
      margin-top: rem($margin20px);

      @include screen(web) {
        margin-top: rem($margin24px);
      }
    }

    &__text {
      &--bold {
        font-weight: 700;
      }
      &--bold-inline {
        font-weight: 700;
      }
      &--normal {
        margin-top: rem($margin8px);
      }
      &--underline {
        margin-top: rem($padding12px);
        padding-bottom: rem($padding12px);
        // font-size: rem(12px);
        color: $mid-gray3;
        border-bottom: 1px solid $grayd;

        @include screen(web) {
          // font-size: rem(16px);
        }
      }
      &--link {
        margin: rem($margin12px 0);
        text-decoration: underline;
        font-weight: 600;

        @include screen(web) {
          margin: rem($margin4px 0);
        }
      }
    }
    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
      padding: rem(0 $padding8px);

      li {
        margin-top: rem($margin10px);
        @include list-dot(14px, 3px, 3px, $black);
        @include screen(web) {
          margin-top: rem($margin12px);
        }
        &:before {
          top: rem(11px);
        }
      }
    }
    .cmp-image {
      overflow: hidden;
      margin-top: rem($margin20px);
      border-radius: rem($radius20);

      @include screen(web) {
        display: block;
        margin-top: rem($margin20px);
        border-radius: rem($radius28);
      }
    }
    &__feedback {
      background: $light-gray3;
      border-radius: rem($radius20);
      border-top: none;
      margin-top: rem($margin24px);
      padding: rem($padding20px);
      @include screen(web) {
        margin-top: rem($margin48px);
        margin-left: 0;
        margin-right: 0;
        padding: rem($padding28px);
        border-radius: rem($radius28);
        background: $warm-gray;
      }
      .button {
        flex-direction: row !important;
        border-top: none !important;
      }
      .c-warning {
        padding-left: 0;
        margin-top: rem($margin8px);
      }
      .c-help {
        display: none;
        padding: rem($padding18px $padding20px);
        background-color: $light-gray1;
        border: 1px solid $light-gray3;
        border-radius: rem($radius16);
        @include screen(web) {
          margin-top: rem($margin16px);
          padding: rem($padding28px);
          background-color: $light-gray3;
          border: none;
          border-radius: rem($radius20);
        }
        &__list {
          margin: 0;
          padding: 0;
          list-style: none;
        }
        &__item {
          position: relative;
          @include list-dot(8px, 3px, 3px, $black);
          &:not(:first-child) {
            margin-top: rem($margin8px);
          }
          &:before {
            top: rem(7px);
            @include screen(web) {
              top: rem(8px);
            }
          }
        }
        &__headline {
          margin-bottom: rem($margin10px);
          line-height: rem(18px);
          @include screen(web) {
            margin-bottom: rem($margin8px);
            line-height: rem(28px);
          }
        }
      }
    }
    &__bottom {
      margin-top: rem($margin40px);
      @include screen(web) {
        margin-top: rem($margin60px);
      }
      #{$c-detail-content}__date {
        margin-top: rem($margin6px);

        @include screen(web) {
          margin-top: 0;
        }
      }
      .button {
        padding-top: 0 !important;
        @include screen(web) {
          padding-top: rem($padding40px) !important;
        }
        & + .button {
          margin: rem($margin40px $margin25px 0);
          padding: rem($padding40px 0 0) !important;
          border-top: 1px solid $grayd;
          @include screen(web) {
            border-top: none;
            margin: 0;
          }
        }
      }
    }
    &__bottom-wrap {
      padding: rem($padding24px 0);
      border-top: 1px solid $grayd;
      @include screen(web) {
        padding-left: 0;
        padding-right: 0;
      }
    }
    &__nav {
      display: flex;
      align-items: flex-start;
      &:first-child {
        margin-bottom: rem($margin20px);
      }
      & > p {
        position: relative;
        flex-shrink: 0;
        width: rem(77px);
        padding-right: rem($padding16px);
        margin-right: rem($margin16px);

        @include screen(web) {
          padding-right: rem($padding24px);
          margin-right: rem($margin24px);
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          width: rem(2px);
          height: 90%;
          background-color: $grayd;
        }
      }
    }
    &__nav-wrap {
      .c-detail-content {
        &__headline {
          display: inline-block;
        }
      }
      @include screen(web) {
        display: flex;
        justify-content: space-between;
        flex: 1;
      }
    }
    .button {
      display: flex;
      flex-direction: column;
      gap: rem(10px);
      padding-top: rem($padding12px);
      @include screen(web) {
        flex-direction: row;
        padding-top: rem($padding24px);
        border-top: 1px solid $grayd;
      }
    }
  }
  // sns-share
  .c-sns-share {
    position: absolute;
    top: rem(24px);
    right: rem(16px);
    display: flex;
    justify-content: flex-end;
    gap: rem($gutter-w);
    width: 100%;

    .c-tooltip {
      .button {
        padding-top: 0;
        border-top: none;
      }
    }
    .button {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 0;
      border-top: none;
      gap: rem($margin24px);
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
    .cmp-button__text {
      font-weight: $font-semibold;
      font-size: rem(12px);
      line-height: rem(12px);
      @include screen(web) {
        font-size: rem(14px);
        line-height: rem(14px);
      }
    }
    @include screen(web) {
      position: relative;
      width: inherit;
      align-items: center;
      top: 0;
      .c-tooltip {
        padding-left: rem(24px);
        &:before {
          content: '';
          display: block;
          width: rem(1px);
          height: rem(14px);
          background-color: $mid-gray1;
          position: absolute;
          left: 0;
        }
      }
    }
  }
  .c-downloadList {
    .c-tooltip__container.active {
      // display: none;
      @include screen(web) {
        display: flex;
      }
    }
  }
  // tooltip
  .c-tooltip {
    display: flex;
    align-items: center;
    &__container {
      top: rem(16px);
      right: 0;
      border: 0;
      .c-text-contents {
        padding: 0 !important;
        border: 0 !important;
      }
    }
    .c-resources__item {
      display: block;
      border: 0;
      border-radius: 0;
      &--extension {
        flex-shrink: 0;
      }
    }
    .downloadList {
      padding: 0;
      margin: 0;
      li {
        position: relative;
        list-style: none;
        + li {
          margin-top: rem($margin20px);
        }
      }
      a {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
      &__item {
        display: flex;
        gap: 0 rem(12px);
        width: 100%;
        overflow: hidden;
        .c-text {
          @include ellipsis(1);
        }
      }
    }
    &__contents {
      max-width: rem(392px);
      min-width: rem(214px);
      width: fit-content;
      .c-list {
        width: 100%;
        justify-content: flex-start;
        max-width: rem(340px);
        @include screen(web) {
          width: max-content;
        }
      }
      .c-sns-button {
        display: block;
        width: rem($icon32px);
        height: rem($icon32px);
        &:before {
          content: '';
          display: inline-block;
          width: rem($icon32px);
          height: rem($icon32px);
          background : {
            position: 100% center;
            size: 100% auto;
            repeat: no-repeat;
          }
        }
        &--facebook {
          &:before {
            background-image: url($icon-facebook-gray3-32-32);
          }
        }
        &--twitter {
          &:before {
            background-image: url($icon-twitter-gray3-32-32);
          }
        }
        &--pinterest {
          &:before {
            background-image: url($icon-pinterest-gray3-32-32);
          }
        }
        &--vk {
          &:before {
            background-image: url($icon-vk-gray3-35-35);
          }
        }
        &--ok {
          &:before {
            background-image: url($icon-ok-gray3-35-35);
          }
        }
        &--linkedin {
          &:before {
            background-image: url($icon-linkedin-gray3-35-35);
          }
        }
        &--weibo {
          &:before {
            background-image: url($icon-weibo-gray3-35-35);
          }
        }
        &--wechat {
          &:before {
            background-image: url($icon-wechat-gray3-35-35);
          }
          // baidumap css reset
          float: none !important;
          width: rem($width32px) !important;
          height: rem($width32px) !important;
          margin: 0 !important;
          background: none !important;
          text-indent: 0 !important;
          color: inherit;
        }
        &--whatsapp {
          &:before {
            background-image: url($icon-whatsapp-gray3-35-35);
          }
        }
        &--instagram {
          &:before {
            background-image: url($icon-instagram-gray3-35-35);
          }
        }
        &--youtube {
          &:before {
            background-image: url($icon-youtube-gray3-35-35);
          }
        }
        &--email {
          &:before {
            background-image: url($icon-email-gray3-32-32);
          }
        }
        &--link {
          &:before {
            background-image: url($icon-link-gray3-32-32);
          }
        }
        &--baidu {
          &:before {
            background-image: url($icon-baidu-gray3-32-32);
          }
        }
      }
    }
  }
  // list
  .c-list {
    @include reset-list-style;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem($margin12px);
    margin-top: rem($margin16px);
    .only-mobile {
      display: none;
    }
  }
  .c-model-content-wrap {
    padding-bottom: rem($padding6px);
    border-bottom: 1px solid $mid-gray1;
    @include screen(web) {
      padding-bottom: 0;
      border-bottom: none;
    }
    &__help {
      margin-bottom: rem($margin20px);
      padding-bottom: rem($padding20px);
      border-bottom: 1px solid $mid-gray1;
      @include screen(web) {
        margin-bottom: rem($margin48px);
        padding-bottom: rem($padding48px);
      }
      #{$text-contents}__headline {
        margin-bottom: rem($margin4px);
        @include screen(web) {
          margin-bottom: rem($margin8px);
        }
      }
      .cmp-text {
        &:not(:first-child) {
          margin-top: rem($margin11px);
          @include screen(web) {
            margin-top: rem($margin8px);
          }
        }
      }
      .c-img-flag {
        display: inline-block;
        width: rem(40px);
        height: rem(20px);
        vertical-align: top;
        object-fit: contain;
        margin: rem(-3px) rem($margin8px) 0 0;
        @include screen(web) {
          margin: rem($margin2px) rem($margin12px) 0 0;
        }
      }
    }
  }

  .c-require {
    flex-shrink: 0;
    color: #646464;
    text-align: right;
    margin-top: rem($margin12px);
  }

  .cs-form {
    margin-top: rem($margin20px);
    &.c-flex-type {
      @include screen(web) {
        display: flex;
        align-items: flex-end;
        gap: rem(24px);

        .cmp-form {
          width: 100%;
        }
      }
    }

    &__wrap {
      &:first-child {
        .cmp-form {
          &:first-child {
            label {
              margin-top: 0 !important;
            }
          }

          @include screen(web) {
            &:first-child,
            &:last-child {
              label {
                margin-top: 0 !important;
              }
            }
          }
        }
      }
    }

    .cmp-form {
      margin-bottom: rem($margin24px);
      &:last-child {
        margin-bottom: 0;
      }
      .fieldIcons {
        &__root {
          position: relative;
        }

        &__before {
          content: '';
          z-index: $stacking-floor;
          @include position(50%, 50%);
          left: rem($padding30px);
          transform: translate(-50%, -50%);
          width: rem(18px);
          height: rem(18px);
          background-image: url($icon-search);
          background-repeat: no-repeat;
          @include screen(web) {
            left: rem($padding24px);
            right: auto;
            transform: translate(0%, -50%);
          }
        }

        input {
          @include input;
          max-width: rem(1086px);
          padding: rem($padding15px $padding17px);
          background: $light-gray3;
          @include screen(web) {
            padding: rem($padding18px $padding16px $padding18px $padding50px);
          }
        }
      }

      label {
        display: block;
        color: $gray3;
        margin-bottom: rem($margin8px);
        // line-height: rem(14px);
        text-align: left;
        // margin-top: rem($margin12px);
        &.radio {
          margin-bottom: 0;
        }
        @include screen(web) {
          margin-bottom: rem($margin20px);

          font-size: rem(24px);
          line-height: rem(28px);
        }
      }

      input,
      select {
        @include input;
        // margin-bottom: rem($margin20px);
        width: 100%;
        background: $white;
        border: 1px solid $mid-gray2;
        @include screen(web) {
          padding: rem($padding16px $padding25px);
        }
      }

      select {
        @include accrodionSelect;
      }

      textarea {
        @include input;
        // margin-bottom: rem($margin20px);
        width: 100%;
        height: rem(160px);
        border-radius: rem($radius12);
        background: $white;
        // resize: none;

        @include screen(web) {
          height: rem(200px);
          border: 1px solid $mid-gray1;
        }
      }

      .c-textarea-box {
        position: relative;

        p {
          // position: absolute;
          right: rem(16px);
          bottom: rem(15px);
          color: $mid-gray2;
          text-align: right;
          font-size: rem(14px);
          line-height: rem(16px);

          @include screen(web) {
            right: rem(24px);
            bottom: rem(16px);
          }
        }
      }

      .c-radio-item {
        margin-bottom: rem($margin12px);
        &:first-child {
          margin-right: rem(42px);
        }
        &:last-child {
          &:not(.noShowForm) {
            margin-bottom: 0;
          }
        }

        label {
          // margin-bottom: rem($margin18px);
          span {
            align-items: center;
          }
          @include screen(web) {
            margin-bottom: rem($margin16px);
            span {
              font-size: rem(16px);
              line-height: rem(20px);
            }
          }
        }
        input[type='radio']:checked + .label::after {
          top: 50%;
          transform: translate(0, -50%);
        }
        + .c-warning {
          padding-left: 0;
        }

        @include screen(web) {
          margin-bottom: 0;
          &.showForm,
          &.noShowForm {
            label {
              margin-bottom: 0;
            }
          }
        }
      }

      .button {
        margin-top: rem($margin8px);

        .c-button {
          width: 100%;
        }

        @include screen(web) {
          display: flex;
          justify-content: center;
          margin-top: 0;

          .c-button {
            width: auto;
          }
        }
      }

      .c-info-msg {
        color: $gray6;
        margin: rem($margin8px $margin16px);

        @include screen(web) {
          margin: rem($margin8px $margin25px);
        }
      }
    }

    &__chk {
      margin-top: rem($margin24px);

      @include screen(web) {
        margin-top: rem($margin48px);
      }

      .c-checkbox-item {
        input {
          top: rem(8px);
        }

        .label {
          display: inline-block;
          text-align: left;
          padding-left: rem($padding30px);
          margin-top: rem($margin8px);
          position: relative;

          @include screen(web) {
            margin-top: rem(0);
          }

          &::before {
            margin-left: rem(-30px);
            position: absolute;
          }
        }

        a.link {
          margin-left: rem($margin4px);
          color: $red;
          text-decoration: underline;
        }
      }
    }

    &__desc {
      margin-bottom: rem($margin8px);
      color: $mid-gray3;
      line-height: rem(14px);

      @include screen(web) {
        margin-bottom: rem($margin10px);
        line-height: rem(24px);
      }
    }

    @include screen(web) {
      margin-top: 0;
      &__wrap {
        // @include screen(web) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(24px);
        // }
      }

      &__inner {
        display: flex;
        gap: rem(8px);
      }

      .cmp-form {
        label {
          // margin-bottom: rem($margin8px);
          // margin-top: rem($margin24px);
          // line-height: rem(22px);
        }

        &:nth-child(n + 3) {
          input,
          select {
            margin-bottom: 0;
          }
        }
      }

      .button {
        grid-column: 1/3;
        margin-top: rem($margin26px);
      }
    }
  }

  // REGISTRATION COMPLETE - COMPONENT CLASS ADDED .c-regist__complete
  .c-regist__complete {
    padding: rem($padding20px);

    @include screen(web) {
      padding: rem($padding28px);
    }

    .c-cs-header {
      margin-top: rem($margin24px) !important;
      margin-bottom: rem($margin12px);
      @include screen(web) {
        margin-bottom: rem($margin48px);
      }

      &::before {
        content: '';
        display: block;
        width: rem($width60px);
        height: rem($height60px);
        margin: rem($margin40px) 0 rem($margin12px);
        background-image: url($icon-result-60-60);
        background-repeat: no-repeat;
        background-size: cover;

        @include screen(web) {
          margin: rem($margin60px) 0 rem($margin24px);
          width: rem($width80px);
          height: rem($height80px);
        }
      }
    }
  }

  // .c-list-link
  .c-list-link {
    margin-top: rem($margin20px);
    padding: 0;
    border-top: 1px solid $grayd;
    list-style: none;
    @include screen(web) {
      margin-top: rem($margin40px);
    }
    &__item {
      position: relative;
      padding: rem($padding12px $padding70px $padding12px 0);
      border-bottom: 1px solid $grayd;
      @include screen(web) {
        padding: rem($padding20px $padding60px $padding20px 0);
      }
      &::after {
        content: '';
        display: block;
        background-image: url($icon-arrow-black-link-12-6);
        width: 8px;
        height: 14px;
        position: absolute;
        top: 50%;
        right: rem(16px);
        z-index: $stacking-floor;
        transform: translate(0, -50%);
        background-size: cover;
        background-repeat: no-repeat;
        transform: rotate(0) #{'/*!rtl:rotate(180deg)*/'}; /*! RTL last keep colon */
        @include screen(web) {
          right: rem(29px);
        }
      }
    }
    &__eyebrow {
      margin-bottom: rem($margin8px);
      color: $gray3;
    }
  }

  // .c-other-result
  .c-other-result {
    margin-top: rem($margin36px);
    margin-bottom: rem($margin24px);
    @include screen(web) {
      margin: 0 auto;
      margin-top: rem($margin64px);
      margin-bottom: rem($margin48px);
      max-width: rem(1440px);
    }
  }

  // .c-star
  .c-rating-star {
    &__wrap {
      display: inline-flex;
      flex-direction: row-reverse;
      gap: rem(4px);

      @include screen(web) {
        gap: 0;
      }
    }
    input[type='radio'] {
      // display: none;
      appearance: none;
      border: none !important;
      background: none !important;
      width: 0 !important;
      margin-left: rem(-36.8px);
      height: rem(26px) !important;
      cursor: pointer;
      padding: rem(16px);
      @include screen(web) {
        margin-left: rem(-32px);
      }
    }
    label {
      width: rem(32px);
      height: rem(32px);
      margin: 0 !important;
      color: #ccc;
      cursor: pointer;
      background-image: url($icon-star-gray-40-40);
      background-size: 100%;
      background-repeat: no-repeat;

      @include screen(web) {
        width: rem(32px);
        height: rem(32px);
      }
    }
    // label:hover,
    // label:hover ~ label,
    input[type='radio']:checked ~ label {
      background-image: url($icon-star-40-40);
      @include screen(web) {
        background-image: url($icon-star-32-32);
      }
    }
  }

  .c-modal {
    $mobile-head-height: rem(50px);
    $mobile-scroll-height: $mobile-head-height;
    $pc-head-height: rem(100px);
    $pc-scroll-height: $pc-head-height;

    $c-modal: '.c-modal';
    // display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
    @include screen(web) {
      align-items: center;
    }

    .c-detail-content {
      padding: 0;
      &__top {
        padding-left: 0;
        padding-right: 0;
        @include screen(web) {
          // padding-top: rem($padding48px);
          padding-bottom: rem($padding32px);
        }
      }
      &__top-wrap {
        display: flex;
        justify-content: space-between;
      }
      &__eyebrow {
        margin-bottom: rem($margin20px);
        @include screen(web) {
          margin-bottom: rem($margin12px);
        }
      }
      &__top-text {
        &:last-child {
          &:after {
            display: none;
          }
        }
      }
      &__content {
        margin-left: 0;
        margin-right: 0;
        border-bottom: none;
      }
      &__pc-scroll-box {
        @include screen(web) {
          overflow-y: auto;
          margin-top: 0;
          padding-right: rem($padding8px);
          padding-bottom: rem($padding48px);
          &.popup-print {
            height: auto !important;
          }
        }
      }
      &__button-wrap {
        margin-top: 0;
      }

      &__bottom {
        @include screen(web) {
          height: rem(48px);
        }
      }
    }

    &__dimmed {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
    &__box {
      position: relative;
      width: 100%;
      background-color: $warm-gray;
      z-index: 2;
      @include screen(web) {
        max-width: rem(1440px);
        height: 90vh;
        border-radius: rem($radius28);
        background-color: $white;
      }
    }
    &__head {
      position: relative;
      height: $mobile-head-height;
      border-bottom: 1px solid $mid-gray1;
      @include screen(web) {
        position: relative;
        height: auto;
        border-bottom: 0;
        padding: rem($padding48px 0 0 0);
      }
    }
    &__title {
      letter-spacing: rem(0.5px);
      @include screen(web) {
        width: 100%;
        text-align: center;
      }
    }
    &__closebtn {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: rem(44px);
      height: rem(44px);
      margin: auto;
      padding: rem(0 $padding16px);
      background: {
        size: rem(12px) rem(12px);
        image: url($icon-close-black-12-12);
        color: transparent;
        repeat: no-repeat;
        position: center;
      }
      border: none;
      cursor: pointer;
      text-indent: -9999px;
      z-index: $z-index1;
      @include screen(web) {
        top: rem(48px);
        right: rem(48px);
        width: rem(20px);
        height: rem(20px);
        padding: 0;
        background: {
          image: url($icon-close-black-20-20);
          size: cover;
        }
      }
      &::before,
      &::after {
        display: none;
      }
    }
    &__content {
      padding: rem(0 $padding8px 0 $padding16px);
      @include screen(web) {
        padding: rem(0 $padding48px $padding48px);
      }
      &-top {
        padding-top: rem($padding25px);
        padding-bottom: rem($padding16px);
        @include screen(web) {
          padding-top: rem($padding35px);
          padding-bottom: rem($padding20px);
        }
      }
      &-scroll-box {
        height: calc(100vh - $mobile-scroll-height);
        padding-right: rem($padding6px);
        padding-bottom: rem($padding24px);
        overflow-y: auto;
        @include screen(web) {
          height: auto;
          padding-right: 0;
          overflow-y: unset;
        }
      }
      &-title {
        text-align: center;
      }
      &-subtitle {
        margin-top: rem($margin8px);
        text-align: center;
        color: $gray3;
      }
    }
    &__bottom {
      padding: rem($padding24px $padding24px 0);
      background: $white;
      border-top: 1px solid $graye6;
      @include screen(web) {
        padding: rem($padding30px $padding50px 0);
        border-radius: 0 0 $border8 $border8;
      }
      .care-text {
        color: $gray6;
        line-height: rem(20px);
      }
    }
  }
  &.ST0001 {
    > .component.type-promotion > .cmp-container {
    }
    > .component.with-kv > .cmp-container {
      @include container($design-grid-full, true);
      @include inset-padding-hz;
      margin-top: rem($margin20px);
      @include screen(web) {
        margin-top: rem($margin24px);
      }
      .c-article-area {
        &-header {
          padding-bottom: rem($padding20px);
          @include screen(web) {
            padding-bottom: rem($padding16px);
          }
        }
        &-body {
          border-top: rem($border1) solid $mid-gray1;
          padding: rem($padding16px 0 $padding24px);
          @include screen(web) {
            padding: rem($padding48px 0);
          }
          .parag {
            color: $dark-gray3;
            &:nth-child(n + 2) {
              margin-top: rem($margin24px);
            }
          }
          .cmp-contents-hashtag {
            // max-width: rem(1600px);
            // width: 100%;
            // margin-top: rem(8px);
            // @include screen(mobile) {
            //     padding: rem(0 $padding16px);
            // }
            &-lists {
              @include reset-list-style;
              &::after {
                content: '';
                display: block;
                clear: both;
              }
            }
            &-list {
              float: left;
              &:nth-child(n + 2) {
                margin-left: rem(8px);
              }
              a {
                color: $dark-gray3;
              }
            }
          }
        }
        .c-back-to-list {
          background-color: transparent;
          border-top: rem($border1) solid $mid-gray1;
          padding: rem($padding24px 0);
          @include screen(web) {
            padding: rem($padding24px 0 $padding60px);
          }
        }
        .c-sns-share {
          position: initial;
        }
      }
    }
  }
  // table add
  .c-table-box2 {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
    .c-table2 {
      background: $light-gray3;
      border-radius: rem($radius20);
      margin: rem($margin12px 0 0);
      padding: rem($padding20px);
      table {
        width: 100%;
        caption {
          display: none;
        }

        th {
          border-bottom: 1px solid $mid-gray2;
          font-size: rem(20px);
          font-weight: normal;
          padding-bottom: rem($padding8px);
        }
        td {
          width: 50%;
          border-bottom: 1px solid $mid-gray1;
          font-size: rem(16px);
          line-height: rem(18px);
          padding: rem($padding8px);
        }
        tr {
          &:first-child {
            td {
              padding: rem($padding20px $padding8px $padding8px $padding8px);
              // padding-bottom:0;
              border-bottom: 1px solid $mid-gray1;
            }
          }
          &:last-child {
            td {
              border-bottom: none;
            }
          }
        }
      }
    }
    @include screen(web) {
      padding-left: 0;
      padding-right: 0;
      .c-table2 {
        padding: rem($padding28px);
        margin-left: 0;
        margin-right: 0;
        margin-top: rem($margin24px);
        border-radius: rem($radius28);
        background-color: $white;
        border: 1px solid #7e7c77;
        table {
          th {
            font-size: rem(24px);
            line-height: rem(28px);
            padding-bottom: rem($padding12px);
          }
          td {
            font-size: rem(20px);
            line-height: rem(24px);
            padding: rem($padding20px 0 $padding10px);
          }
          tr {
            &:first-child {
              td {
                padding: rem($padding20px $padding10px $padding10px 0);
              }
            }
            :last-child {
              td {
                border-bottom: 1px solid $mid-gray1;
              }
            }
          }
        }
        &.c-table__scroll-type {
          tbody {
            td {
              padding: rem($padding10px 0);
            }
          }
        }
      }
    }
  }
  // info-box-list
  .c-img-info-box {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      border-radius: rem(20px);
      background-color: $white;
      overflow: hidden;
      dl {
        margin: 0;
        dt {
          padding: rem($padding20px);
          background-color: $gray3;
          color: $white;
        }
        dd {
          margin-bottom: 0;
          &.c-img-info-txt {
            text-align: center;
            padding: rem($padding20px);
          }
          &.img-box {
            padding: rem(0 $padding20px $padding20px);
            display: flex;
            align-items: center;
            justify-content: center;
            .cmp-image {
              margin-top: 0;
            }
          }
        }
      }
      & + li {
        margin-top: 10px;
      }
    }
    @include screen(web) {
      display: flex;
      flex-wrap: wrap;
      li {
        width: calc(50% - rem(12px));
        border-radius: rem(28px);
        border: 1px solid #7e7c77;
        & + li {
          margin-left: rem($margin24px);
          margin-top: 0;
        }
        dl {
          height: 100%;
          dt {
            padding: rem($padding10px);
            text-align: center;
          }
          dd {
            &.c-img-info-txt {
              padding: rem($padding10px);
            }
            &.img-box {
              padding: rem(0 $padding28px $padding28px);
              min-height: calc(100% - rem(120px));
            }
          }
        }
      }
    }
  }

  // qr-box
  .c-detail-content {
    .c-qrcode-btn-box {
      margin-top: rem($margin12px);
      padding-top: 0;
      border-top: 0;
      justify-content: space-between;
      align-items: center;
      .cmp-image {
        border-radius: 0;
      }
    }
    @include screen(web) {
      .c-qrcode-btn-box {
        margin-top: rem($margin12px);
        padding-top: 0;
        border-top: 0;
        justify-content: space-between;
        align-items: center;
        .cmp-image {
          margin-top: 0;
        }
      }
    }
  }
}
