@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.MB000M';
#{$component} {
  .my-component {
    max-width: rem(1440px);
    margin: 0 auto;
    @include screen(mobile) {
      padding: 0 rem($padding16px);
    }
    &__wrap {
      border-bottom: rem($border1) solid $mid-gray1;
      &:first-child {
        .my-component {
          padding-top: rem($padding24px);
          padding-bottom: rem($padding20px);
          @include screen(web) {
            padding-bottom: rem($padding24px);
          }
        }
      }
    }
    .c-warning,
    .c-valid {
      line-height: rem(14px);
      padding-left: rem(13px);
      &::before {
        display: none;
      }
      margin-top: rem($margin4px);
      &:first-child {
        margin-top: rem($margin6px);
      }
      @include screen(web) {
        margin-top: rem($margin6px);
        &:first-child {
          margin-top: rem($margin8px);
        }
      }
    }
  }
  .my-account-msg {
    margin-bottom: rem($margin20px);
    @include screen(web) {
      margin: rem($margin40px) 0;
    }
    &__container {
      background-color: $ivory6;
      border-radius: rem($radius8);
      padding: rem($padding30px $padding25px);
      @include screen(web) {
        padding: rem($padding50px) 0;
      }
      .text {
        max-width: rem(600px);
        margin: 0 auto;
      }
      .cmp-title {
        margin-bottom: rem($margin10px);
      }
    }
  }

  .my-formbox {
    background-color: $white;
    padding: rem($padding20px $padding16px);
    border-radius: rem($radius20);
    margin: 0 auto;
    max-width: rem(952px);
    @include screen(mobile) {
      @include inset-padding-hz;
    }
    @include screen(web) {
      border-radius: rem($radius28);
      padding: rem($padding24px);
    }
  }
  .c-cta {
    margin-top: rem($margin24px);
    margin-bottom: rem($margin44px);
    @include screen(web) {
      margin-top: rem($margin32px);
      margin-bottom: rem($margin64px);
    }
    justify-content: center;
  }
  .c-button {
    flex: 0 0 rem(123px);
    @include screen(mobile) {
      flex: 1 1 auto;
    }
  }
  .my-input {
    text-align: left;
    ul {
      @include reset-list-style;
      @include screen(mobile) {
        gap: rem(20px);
      }
      li {
        @include screen(mobile) {
          width: 100%;
        }
      }
      li + li {
        margin-top: rem($margin16px);
        @include screen(web) {
          margin-top: rem($margin24px);
        }
      }
      .c-input-item {
        position: relative;
        label {
          color: $gray3;
          line-height: rem(16px);
          @include screen(web) {
            line-height: rem(18px);
          }
        }
        .my-input__password {
          padding-right: rem($padding45px);
        }
        &.active {
          .my-form__eye {
            background: url($icon-mylg-view-on-24-24) center / contain no-repeat;
          }
        }
        & + .c-checkbox-item {
          @include screen(mobile) {
            margin-top: rem($margin20px);
          }
        }
      }
    }
    input {
      padding: rem($padding13px $padding16px);
      height: rem($height44px);
      border-radius: rem($radius12);
      border-color: $mid-gray4;
      @include screen(web) {
        font-size: rem(14px);
      }
      &[data-placeholder]::before {
        color: $gray6;
        font-size: rem(14px);
      }
      &[readonly] {
        background-color: $ivory6;
        &::placeholder {
          color: $grayb;
        }
      }
      &[disabled] {
        background-color: $ivory6;
        &::placeholder {
          color: $grayb;
        }
      }
    }
    .my-warn {
      padding-right: rem($padding40px);
      border-color: $active-red;
    }
    .c-search-box__form.my-warn {
      padding-right: 0;
    }
    .input-button__container {
      @include screen(web) {
        display: flex;
        gap: 0 rem(10px);
      }
      .button {
        margin-top: rem($margin10px);
        @include screen(mobile) {
          .cmp-button {
            flex: 1;
          }
        }
        @include screen(web) {
          margin: 0;
        }
      }
      &--validation {
        .my-button-validation {
          flex: 1;
        }
      }
    }
  }
  .my-component:has(.my-checkInfo) {
    padding: 0 rem($padding16px);
    @include screen(web) {
      padding: 0;
    }
  }
  .my-checkInfo {
    margin: rem($margin20px) 0;
    border-radius: rem($radius8);
    @include screen(web) {
      margin: rem($margin48px) 0;
      max-width: rem(1440px);
    }
    &__list {
      @include reset-list-style;
      margin-top: rem($margin8px);
      .margin-top {
        margin-top: rem($margin8px);
        @include screen(web) {
          margin-top: rem($margin12px);
        }
      }
    }
    &__item {
      position: relative;
      color: $gray3;
    }
  }
}
