@charset "UTF-8";
@use '../../scss/abstract/' as *;
@import '../ML000D/cancel_order-popup';

$component: '.ML000B';
.font-w-normal-12 {
  @include screen(web) {
    font-size: rem(12px);
    line-height: rem(12px);
    font-weight: $font-regular;
  }
}

.font-m-normal-12 {
  @include screen(mobile) {
    font-size: rem(12px);
    line-height: rem(12px);
    font-weight: $font-regular;
  }
}

#{$component} {
  &.c-wrapper {
    overflow: visible; // toastPopup sticky
  }
  .font-m-bold-10 {
    @include screen(mobile) {
      font-size: rem(10px);
      line-height: rem(10px);
      font-weight: $font-bold;
    }
  }
  .c-button[class*='-box'].disabled:not(.c-button[class*='-box'][class*='-box-outlined']) {
    color: $grayb;
    background-color: $gray9;
  }
  .my-component {
    @include container($design-grid-full, true);
    // @include inset-padding-hz;
    $mycomponent: '.my-component';
    position: relative;
    &.no-crop {
      overflow: initial;
    }
    &.bg-lightgray {
      @include container($maximum, true);
      background: $ivory6;
      margin-top: rem($margin30px);
      @include screen(web) {
        margin-top: rem($margin40px);
      }
    }
    &.bg-lightgray + .my-component {
      margin-top: rem($margin40px);
      @include screen(web) {
        margin-top: rem($margin100px);
      }
    }
    &.margin-top {
      padding-top: rem($padding20px);
      @include screen(web) {
        padding-top: rem($padding50px);
      }
    }
    &.margin-bottom {
      padding-bottom: rem($padding20px);
      @include screen(web) {
        padding-bottom: rem($padding50px);
      }
    }
    &--maximum {
      max-width: 100%;
      padding: 0;
    }
    &--momax {
      padding-top: rem($padding20px);
      @include screen(mobile) {
        padding-left: 0;
        padding-right: 0;
        .my-list {
          padding: 0 rem($padding25px);
          &box {
            overflow: initial;
          }
        }
      }
      @include screen(web) {
        padding-top: rem($padding40px);
      }
      .swiper {
        overflow: initial;
        @include screen(web) {
          overflow: hidden;
        }
      }
    }
    & > .c-text-contents > .c-text-contents__bodycopy {
      margin-top: rem($margin10px);
    }
    .cmp-title h3 {
      text-align: left;
      @include screen(web) {
        text-align: center;
      }
    }
    &.no-crop {
      overflow: initial;
    }
  }
  .tabs__wide {
    .cmp-tabs {
      &__inner {
        margin-bottom: 0;
        width: 100%;
        border-bottom: rem($border1) solid $graycb;
        @include screen(web) {
          border-top: rem($border1) solid $graycb;
        }
      }
      &__tablist {
        margin: 0 auto;
        width: 100%;
        @include container($design-grid-full, true);
        @include inset-padding-hz;
        gap: rem(24px);
        padding-top: 0;
        padding-bottom: 0;
        @include screen(mobile) {
          justify-content: flex-start;
        }
        @include screen(web) {
          gap: rem(77px);
        }
      }
      &__tab {
        padding: rem($padding19px) 0;
        text-align: center;
        line-height: rem(18px);
        @include screen(web) {
          padding: rem(23px) 0;
          font-size: rem(32px);
          line-height: rem(36px);
          font-weight: $font-regular;
        }
        &--active {
          &:after {
            bottom: 0;
            height: rem($height2px);
            @include screen(web) {
              height: rem($height4px);
            }
          }
        }
      }
      &__tabpanel {
        @include container($design-grid-full, true);
        padding: rem(0 $padding16px);
        @include screen(web) {
          padding-left: rem($block-margin-w);
          padding-right: rem($block-margin-w);
        }
      }
    }
  }
  .my-order-history {
    @include container($maximum, true);
    &-text {
      background-color: $ivory6;
      padding: rem($padding5px) rem($padding25px);
      border-radius: 0;
      color: $gray6;
      font-size: rem(12px);
    }
    margin: rem($margin64px) 0;
  }
  .my-order-container {
    @include container($design-grid-full, true);
    margin: rem($margin16px) auto;
    @include screen(web) {
      margin-top: rem($margin20px);
      margin-bottom: rem($margin64px);
    }
    .my-order {
      &-text {
        color: $black;
        font-size: rem(14px);
        @include screen(web) {
          font-size: rem(16px);
        }
      }
    }
    & > .my-orderlist {
      padding: 0;
      ul {
        li {
          position: relative;
          & + li {
            margin-top: rem($margin12px);
            @include screen(web) {
              margin-top: rem($margin24px);
            }
          }
        }
      }
      .my-orderlist__img {
        @include screen(web) {
          max-width: rem($width100px);
        }
      }
      .c-text-contents__title {
        & + .button {
          margin-top: rem($margin10px);
          @include screen(web) {
            margin-top: rem($margin12px);
          }
        }
      }
    }
    & > .button-cancel:last-child {
      margin-top: rem($padding30px);
      @include screen(web) {
        margin-top: rem($padding40px);
      }
    }
  }
  .my-order {
    padding: rem($padding20px) rem($padding16px) 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @include screen(web) {
      padding: rem($padding24px) rem($padding24px) 0;
      min-height: rem(44px);
    }
    &__txt {
      display: table;
      @include screen(web) {
        display: flex;
        flex-flow: column;
        flex-flow: wrap;
        gap: rem(10px);
      }
      div {
        line-height: rem(14px);
        font-size: rem(12px);
        display: table-row;
        @include screen(web) {
          display: block;
          line-height: rem(20px);
          font-size: rem(14px);
        }
        span {
          display: table-cell;
          @include screen(web) {
            display: inline;
          }
        }
      }
      &--return {
        div {
          grid-template-columns: rem(59px) 2fr;
        }
      }
      strong {
        font-weight: $font-semibold;
        font-size: rem(12px);
        line-height: rem(14px);
        margin-left: rem($margin10px);
        @include screen(web) {
          margin: 0;
          font-size: rem(14px);
          line-height: rem(20px);
        }
      }
      div + div {
        &:before {
          display: none;
          @include screen(web) {
            display: inline-block;
            content: '';
            clear: both;
            margin-right: rem($margin10px);
            width: rem($width1px);
            height: rem($height14px);
            background: $mid-gray1;
          }
        }
      }
    }
    .c-button.red::after {
      background-image: url($icon-arrow-red-right-6-10);
      width: rem(6px);
      height: rem(10px);
    }
    &-container.my-product-list {
      .my-orderlist {
        max-width: none;
      }
    }
  }
  .c-page {
    display: flex;
    margin-top: rem($margin16px);
    @include screen(web) {
      margin-top: rem($margin20px);
    }
  }
  .my-orderlist {
    margin: rem($margin16px) rem($margin12px) 0;
    padding: rem($padding20px) 0;
    @include container($design-grid-full, true);
    @include screen(web) {
      padding: rem($padding20px) 0;
      margin: rem($margin24px) auto 0;
    }
    & + & {
      border-top: rem($border1) solid $graye6;
    }
    ul {
      @include reset-list-style;
      li {
        overflow: hidden;
        @include lgness-radius('all');
        background: $white;
      }
    }
    &__item {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding: rem($padding16px) rem($padding16px) rem($padding20px);
      position: relative;
      @include screen(web) {
        align-items: center;
        padding: rem($padding16px) rem($padding24px);
      }
    }
    &__img {
      max-width: rem(64px);
      width: 100%;
      @include screen(mobile) {
        align-self: flex-start;
        position: absolute;
      }
      @include screen(web) {
        max-width: rem(100px);
      }
      .image {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: rem(100px);
        width: 100%;
        margin: 0 auto;
      }
    }
    &__txt {
      position: relative;
      flex: 1;
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      @include screen(web) {
        margin-left: rem($margin24px);
      }
      .my-orderlist__tag,
      .c-text-contents__title,
      .my-orderlist__other {
        width: (calc(100% - rem(78px)));
        margin-left: auto;
        @include screen(web) {
          width: 100%;
        }
      }
      .c-text-contents {
        width: 100%;
        &__subbox {
          width: (calc(100% - rem(78px)));
          margin-left: auto;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          margin-top: rem(8px);
          @include screen(web) {
            margin-top: rem(4px);
            width: 100%;
          }
        }
        .my-orderlist__other {
          width: auto;
          margin-left: 0;
        }
        .my-orderlist__cancel {
          display: inline-flex;
        }
      }
    }
    &__tag {
      display: flex;
      align-items: center;
      font-weight: $font-regular;
      font-size: rem(12px);
      line-height: rem(14px);
      gap: rem(1px);
      &--awaiting {
        color: $mid-gray2;
      }
      &--order {
        color: $gray5;
      }
      &--complete {
        color: $active-red;
      }
      &--cancel {
        color: #f04d19;
      }
      &--return {
        color: #daa40d;
      }
      &--exchange {
        color: $mid-gray2;
      }
      &__icon {
        width: rem(18px);
        height: rem(18px);
        background-position: 100% center;
        background-size: 100%;
        background-repeat: no-repeat;
        &--awaiting-transfer {
          background-image: url($icon-mylg-awaiting-transfer-18-18);
        }
        &--order-placed {
          background-image: url($icon-mylg-place-order-18-18);
        }
        &--preparing-for-delivery {
          background-image: url($icon-mylg-preparing-for-delivery-18-18);
        }
        &--picking-for-delivery {
          background-image: url($icon-mylg-picking-for-delivery-18-18);
        }
        &--on-delivery {
          background-image: url($icon-mylg-on-delivery-18-18);
        }
        &--complete,
        &--delivery-completed {
          background-image: url($icon-mylg-delivery-completed-18-18);
        }
        &--cancel-requested {
          background-image: url($icon-mylg-cancel-requested-18-18);
        }
        &--cancelled {
          background-image: url($icon-mylg-cancelled-18-18);
        }
        &--return-requested {
          background-image: url($icon-mylg-return-requested-18-18);
        }
        &--returned {
          background-image: url($icon-mylg-returned-18-18);
        }
        &--authorized,
        &--return-authorized {
          background-image: url($icon-mylg-return-authorized-18-18);
        }
        &--return-processing {
          background-image: url($icon-mylg-return-processing-18-18);
        }
        &--received,
        &--return-completed {
          background-image: url($icon-mylg-return-completed-18-18);
        }
        &--return_refund {
          background-image: url($icon-mylg-return-refund-18-18);
        }
        &--exchange-requested {
          background-image: url($icon-mylg-exchange-requested-18-18);
        }
        &--exchange-authorized {
          background-image: url($icon-mylg-exchange-authorized-18-18);
        }
        &--exchange-hold {
          background-image: url($icon-mylg-exchange-hold-18-18);
        }
        &--exchange-processing {
          background-image: url($icon-mylg-exchange-processing-18-18);
        }
        &--exchange-completed {
          background-image: url($icon-mylg-exchange-completed-18-18);
        }
      }
    }
    &__title {
      margin-top: rem($margin6px);
      line-height: rem(20px);
      @include screen(web) {
        line-height: rem(26px);
      }
    }
    &__other {
      color: $gray6;
      font-size: rem(12px);
      line-height: rem(14px);
      @include screen(web) {
        font-size: rem(14px);
        line-height: rem(14px);
      }
    }
    &__cancel {
      .c-button[class*='-text'][class*='-icon'] {
        color: $gray3;
        font-size: rem(12px);
        line-height: rem(14px);
        font-weight: $font-semibold;
        @include screen(web) {
          font-size: rem(14px);
          line-height: rem(14px);
        }
        &:after {
          background-image: url($icon-arrow-gray3-right-6-10);
        }
      }
      &-info {
        // [Start] 2023-06-07 : UPDATE - change text, icon */
        position: relative;
        color: $gray3;
        font-weight: $font-semibold;
        padding-left: rem($padding14px);
        font-size: rem(10px);
        line-height: rem(14px);
        margin-top: rem($margin8px);
        &::before {
          content: '';
          display: inline-block;
          width: rem(12px);
          height: rem(12px);
          position: absolute;
          top: 0%;
          // transform: translateY(-50%);
          left: 0;
          background-image: url($icon-mylg-notifications-black-12-12);
          background-position: 100% center;
          background-size: 100%;
          background-repeat: no-repeat;
          @include screen(web) {
            width: rem(14px);
            height: rem(14px);
            background-image: url($icon-mylg-notifications-black-14-14);
          }
        }
        @include screen(web) {
          padding-left: rem($padding16px);
          font-size: rem(12px);
          line-height: rem(14px);
          margin-top: rem($margin10px);
        }
        // [End] 2023-06-07 : UPDATE - change text, icon */
      }
    }
    &__btn {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: rem($margin14px);
      width: 100%;
      @include screen(web) {
        margin-top: rem($margin20px);
      }
    }
    .c-button.red {
      &::after {
        background: url($icon-arrow-red-right-6-10);
      }
    }
    .price-box {
      margin-bottom: rem($margin20px);
    }
  }
  .notice-area {
    border-bottom: rem($border1) solid $graye6;
    padding: rem($padding20px) 0;
    margin: 0 rem($margin25px);
    @include screen(web) {
      padding: rem($padding25px) 0;
      margin: 0;
    }
    &__text {
      display: flex;
      align-items: center;
      & + .notice-area__text {
        margin-top: rem($margin20px);
        @include screen(web) {
          margin-top: rem($margin24px);
        }
      }
      .c-text-contents__bodycopy {
        color: $gray6;
        line-height: rem(20px);
      }
      .c-button--text {
        @include screen(web) {
          margin-left: rem($margin3px);
        }
        text-decoration: underline;
      }
    }
    &__icon {
      display: flex;
      align-self: flex-start;
      &__warning {
        margin-right: rem($margin8px);
        margin-top: rem($margin5px);
        width: rem($width16px);
        height: rem($height16px);
        background: url($icon-warning-gray-20-20) center / contain no-repeat;
        @include screen(web) {
          margin-top: rem($margin3px);
          width: rem($width20px);
          height: rem($height20px);
        }
      }
    }
  }
  .toast-popup {
    position: sticky;
    margin-top: rem($margin16px);
    width: 100%;
    left: 0;
    bottom: rem(10px);
    z-index: 1;
    @include screen(web) {
      margin-top: rem($margin20px);
      position: initial;
      width: 100%;
      transform: none;
    }
  }
}

.my-order-requested {
  &-text {
    color: $gray3;
  }
  @include reset-list-style;
  li {
    font-weight: $font-semibold;
    padding-left: rem($padding20px);
    position: relative;
    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: rem(8px);
      left: rem(10px);
      width: rem(4px);
      height: rem(4px);
      background-color: $gray3;
      border-radius: 50%;
    }
  }
}

.c-pop-msg__button-wrap--no-divide-on-mobile {
  @include screen(mobile) {
    flex-direction: row;
    .cmp-button {
      width: 100%;
    }
  }
}

.c-button[class*='-box'].disabled:not(.c-button[class*='-box'][class*='-box-outlined']) {
  color: $grayb;
  background-color: $gray9;
}

// Cancel order popup
// 임시
.ML000D__modal-container {
  padding: 0;
  @include screen(web) {
    @include inset-padding-hz(mobile);
  }
  .display-only-web {
    @include screen(mobile) {
      display: none;
    }
  }
  .c-pop-msg {
    &__container {
      // padding-top: 0;
      // padding-left: 0;
      // padding-right: 0;
      padding: rem(56px) rem($padding16px) rem($padding16px);
      background: $warm-gray;
      width: 100%;
      max-width: 100%;
      height: 100%;
      border-radius: 0;
      @include screen(web) {
        padding: rem($padding50px);
        border-radius: rem(28px);
        max-width: rem(660px);
        height: auto;
      }
    }
    &__header {
      padding-bottom: 0;
      margin-bottom: rem($margin16px);
      @include screen(web) {
        margin-bottom: rem($margin24px);
      }
      border-bottom: 0;
      .c-text-contents {
        &__headline {
          .cmp-title {
            color: $black;
            font-size: rem(28px);
            font-weight: $font-light;
            line-height: rem(32px);
            @include screen(web) {
              font-size: rem(36px);
              line-height: rem(42px);
            }
          }
        }
      }
    }
    &__contents {
      padding: 0;
      margin: 0;
      height: 100%;
      max-height: 100%;
      @include screen(web) {
        // padding: rem($padding40px) rem(48px);
        overflow-y: auto;
        max-height: 70vh;
      }
      &__text-box {
        &__title {
          color: $black;
          font-weight: $font-regular;
          @include screen(web) {
            color: $gray3;
            font-size: rem(24px);
            font-weight: $font-light;
            line-height: rem(28px);
          }
        }
        &__desc {
          .cmp-text {
            margin-top: rem($margin8px);
            color: $gray3;
            font-size: rem(14px);
            line-height: rem(18px);
            @include screen(web) {
              margin-top: rem($margin16px);
              line-height: rem(20px);
            }
            & + .cmp-text {
              @include screen(mobile) {
                margin-top: rem($margin16px);
                line-height: rem(20px);
              }
            }
            br {
              @include screen(web) {
                display: none;
              }
            }
          }
        }
        .c-pop-msg__contents__list {
          @include reset-list-style;
          margin-top: rem($margin2px);
          @include screen(web) {
            margin-top: rem($margin4px);
          }
          &--dot {
            li {
              &::before {
                display: inline-block;
                clear: both;
                content: '';
                position: absolute;
                top: rem(10px);
                left: 0;
                width: rem(3px);
                height: rem(3px);
                vertical-align: middle;
                border-radius: 50%;
                background: $gray3;
                @include screen(web) {
                  top: rem(10px);
                }
              }
            }
          }
          li {
            position: relative;
            color: $black;
            font-size: rem(14px);
            line-height: rem(20px);
            padding-left: rem($padding10px);
            margin-left: rem($margin10px);
            @include screen(web) {
              padding-left: rem($padding11px);
              margin-left: rem($margin11px);
              font-size: rem(16px);
              line-height: rem(22px);
            }
          }
        }
      }
    }
    &__button-wrap {
      justify-content: center;
      padding: 0;
      flex-direction: row;
      @include screen(web) {
        margin-top: rem($margin24px);
      }
      .c-button {
        flex: 1;
        @include screen(web) {
          max-width: rem(100px);
        }
      }
    }
  }
  &.large,
  &.medium {
    .c-pop-msg__close-button {
      position: absolute;
      top: rem(18px);
      right: rem(18px);
      width: rem(20px);
      height: rem(20px);
      @include screen(web) {
        top: rem(24px);
        right: rem(24px);
        width: rem(20px);
        height: rem(20px);
      }
      &:before {
        width: 100%;
        height: 100%;
      }
    }
  }
  .error-content-msg {
    $error-content-msg: '.error-content-msg';
    list-style: none;
    padding: 0;
    margin: 0;
    &__container {
      line-height: rem(20px);
      display: flex;
      align-items: center;
      gap: rem(8px);
    }
    &__item {
      width: 100%;
      padding: rem($padding12px) rem($padding16px);
      display: flex;
      justify-content: space-between;
      border-radius: rem(20px);
      margin-top: rem($margin24px);
      & + .error-content-msg__item {
        margin-top: rem($margin8px);
      }
      &--error {
        background-color: rgba($dark-gray2, 1);
        @include screen(web) {
          background-color: rgba($dark-gray2, 1);
        }
        color: $white;
      }
      &--warning {
        background-color: rgb(218 164 13 / 90%);
        @include screen(web) {
          background-color: rgb(218 164 13 / 100%);
        }
        color: $white;
      }
      &--success {
        background-color: rgb(18 181 161 / 90%);
        @include screen(web) {
          background-color: rgb(18 181 161 / 100%);
        }
        color: $white;
      }
    }
    &__title {
      display: flex;
      margin-right: rem($margin22px);
      font-weight: $font-semibold;
      line-height: rem(16px);
    }
    &__icon {
      width: rem(16px);
      height: rem(16px);
      flex-shrink: 0;
      &--error {
        background: url($icon-buy-error-16-16) center / contain no-repeat;
      }
      &--warning {
        background: url($icon-buy-warning-16-16) center / contain no-repeat;
      }
      &--info {
        background: url($icon-buy-info-16-16) center / contain no-repeat;
      }
      &--success {
        background: url($icon-buy-success-16-16) center / contain no-repeat;
      }
    }
    &__remove {
      cursor: pointer;
      border: none;
      width: rem(16px);
      height: rem(16px);
      background: url($icon-close-white-12-12) center / contain no-repeat;
      background-size: rem(10px);
      opacity: 0.5;
      @include screen(mobile) {
        display: flex;
        align-items: flex-start;
        align-self: flex-start;
      }
      @include screen(tablet) {
        display: flex;
        align-items: flex-start;
        align-self: flex-start;
      }
    }
    & + .c-product-directly.c-medium-size {
      @include screen(web) {
        margin-top: rem($margin20px);
      }
    }
    & + .c-product-price-information {
      @include screen(web) {
        margin-top: rem($margin10px);
      }
    }
    & + .button.c-pop-msg__button-wrap {
      margin-top: rem($margin8px);
      @include screen(web) {
        margin-top: rem($margin12px);
      }
    }
  }
}
