@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.ML000G';
#{$component} {
  .my-component {
    margin: 0 auto;

    $mycomponent: '.my-component';
    position: relative;
    overflow: hidden;
    @include container($design-grid-full, true);
    @include inset-padding-hz;
    .font-red {
      color: $active-red;
    }
    .font-red,
    .c-text-contents__bodycopy--number {
      @include screen(mobile) {
        color: $black !important;
      }
    }
    & > .c-text-contents > .c-text-contents__bodycopy {
      margin-top: rem($margin6px);
      @include screen(web) {
        margin-top: rem($margin10px);
      }
    }
  }
  .my-detail-product {
    $detailproduct: '.my-detail-product';
    &__item {
      display: flex;
      flex-flow: column;
      gap: rem(20px);
      justify-content: flex-start;
      @include screen(web) {
        flex-flow: row;
        gap: rem(24px);
        padding: 0;
      }
    }
    &__txt {
      width: 100%;
      max-width: 100%;
      .c-text-contents {
        &__eyebrow {
          color: $gray6;
          font-weight: $font-regular;
          line-height: rem(20px);
          @include screen(web) {
            line-height: rem(22px);
          }
          span {
            display: block;
          }
        }
        &__text-box {
          display: flex;
          gap: rem(6px);
          align-items: center;
          margin-top: rem($margin5px);
          @include screen(web) {
            margin-top: rem($margin7px);
          }
          &__date {
            span {
              display: block;
              color: $gray6;
              line-height: rem(20px);
            }
          }
        }
        &__title {
          span {
            display: block;
          }
        }
        &__quantity {
          color: $gray6;
          @include screen(web) {
            margin-top: rem($margin2px);
          }
        }
      }
      .my-orderDetail {
        .c-text-contents__title {
          span {
            display: block;
            line-height: rem(16px);
            @include screen(web) {
              line-height: rem(22px);
            }
          }
        }
        .c-text-contents__bodycopy {
          margin-top: rem($margin6px);
          span {
            display: block;
          }
        }
      }
    }
    &__img {
      position: relative;
      display: flex;
      align-items: center;
      padding: rem($padding12px);
      min-height: rem(212px);
      background-color: $white;
      @include lgness-radius('default');
      @include screen(web) {
        position: static;
        display: block;
        margin: 0;
        width: 30%;
        max-width: rem(302px);
        min-height: 100%;
        padding: 0;
        border-radius: 0;
        background-color: transparent;
      }
      img {
        margin: 0 auto;
        max-width: rem(160px);
        width: 100%;
        @include screen(web) {
          max-width: rem(200px);
        }
      }
      .c-text-contents__text-box__model {
        position: absolute;
        top: rem(12px);
        left: rem(12px);
        padding: rem($padding2px) rem($padding5px);
        color: $white;
        background: $gray3;
        border-radius: rem($radius4);
        display: inline-block;
        @include screen(web) {
          position: static;
          margin-bottom: rem($margin6px);
        }
        span {
          display: flex;
          align-items: center;
          &:before {
            display: inline-block;
            content: '';
            margin-right: rem($margin2px);
            width: rem(10px);
            height: rem(10px);
            background: url($icon-mylg-thinq-connected-white-10-10) center / contain no-repeat;
            vertical-align: middle;
          }
        }
      }
    }
    & + .c-cta {
      #{$detailproduct} {
        .my-orderDetail {
          border-bottom: rem($border1) solid $graye6;
        }
      }
    }
  }
  .my-item-detail {
    margin-bottom: rem($margin24px);
    border: none;
    padding: 0;
    @include screen(web) {
      margin-bottom: rem($margin48px);
      padding: rem($padding24px);
      background-color: $white;
      @include lgness-radius('default');
    }
    .c-cta {
      justify-content: center;
      margin-top: rem($margin20px);
      @include screen(web) {
        margin-top: rem($margin24px);
      }
    }
    .my-detail-product + .c-cta {
      margin-top: rem($margin24px);
      @include screen(web) {
        margin-top: rem($margin60px);
      }
    }
  }
  .my-repairDetail {
    $text: '.c-text-contents';
    &:last-child {
      ul {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
    & + .my-repairDetail {
      padding-top: rem($padding10px);
      @include screen(web) {
        padding-top: rem($padding14px);
      }
    }
    &__title {
      padding-bottom: rem($padding10px);
      @include screen(web) {
        padding-bottom: rem($padding14px);
      }
    }
    ul {
      @include reset-list-style;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      border-top: rem($border1) solid $mid-gray1;
      border-bottom: rem($border1) solid $mid-gray1;
      padding-bottom: rem($padding10px);
      @include screen(web) {
        padding-bottom: rem($padding14px);
      }
      li {
        width: 100%;
        padding-top: rem($padding10px);
        @include screen(web) {
          width: 50%;
          padding-top: rem($padding14px);
          align-self: stretch;
        }
        &.my-repairDetail--full {
          width: 100%;
        }
        &.my-repairDetail--max {
          width: 50%;
        }
      }
    }
    .c-text-contents {
      &__title {
        font-size: rem(16px);
        line-height: rem(18px);
        @include screen(web) {
          font-size: rem(20px);
          line-height: rem(22px);
        }
        &--blank {
          a {
            display: inline-block !important;
            position: relative;
            padding-right: rem($padding20px);
            &::after {
              content: '';
              display: inline-block;
              position: absolute;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
              width: rem(16px);
              height: rem(16px);
              background: {
                position: center;
                size: contain;
                repeat: no-repeat;
                color: transparent;
                image: url($icon-blank-black-16-16);
              }
            }
          }
        }
      }
      &__sub-title {
        color: $gray3;
        margin-top: rem($margin6px);
        & + .c-text-contents__bodycopy {
          font-size: rem(12px);
          @include screen(web) {
            font-size: rem(16px);
          }
        }
      }
      &__bodycopy {
        color: $mid-gray2;
        margin-top: rem($margin6px);
        span {
          display: block;
        }
        br {
          display: block;
          @include screen(web) {
            display: none;
          }
        }
        .my-repairDetail__text-status {
          color: $black;
          @include screen(web) {
            color: $active-red;
          }
        }
        &.c-text-contents__bodycopy--number {
          color: $active-red;
          text-decoration: underline;
          a {
            &:hover {
              text-decoration: none;
            }
          }
        }
        &--file {
          margin-top: rem($margin6px);
          color: $gray3;
          line-height: rem(18px);
          @include screen(web) {
            line-height: rem(22px);
          }
          a {
            display: inline-block !important;
            position: relative;
            padding-right: rem($padding20px);
            &::after {
              content: '';
              display: inline-block;
              position: absolute;
              bottom: 0;
              right: 0;
              width: rem(16px);
              height: rem(16px);
              background: {
                position: center;
                size: cover;
                repeat: no-repeat;
                color: transparent;
                image: url($icon-download-black-24-24);
              }
            }
          }
        }
      }
    }
  }
}

.c-pop-msg__button-wrap {
  .c-button {
    @include screen(mobile) {
      flex: 1;
    }
  }
}
