mixin registerProductGuide()
    tr
        td(style=`color:#000000;${fontStyle_5B}`) Don&apos;t Forget to register your purchase!
    tr
        td(style=`padding-top:12px;color:#333333;${fontStyle_1}`)
            | Once your Products delivered, don&apos;t forget to resister them on LG.com to ensure you receive the latest updates and information about your device. You are also required to resister your product if you&apos;d like to take advantage of our extended warranty options.
