mixin support()
    tr
        td(style='padding-bottom:16px;color:#050505;font-family:Arial;font-size:24px;font-style:normal;font-weight:700;line-height:28px;')
            | We’ve Got You Covered
    tr
        td(style=`padding-bottom:30px;color:#333333;${fontStyle_1}`)
            | If you have any questions about the product or purchasing from LG.com we're always here to help.
    tr
        td
            table(cellpadding='0' cellspacing='0' width='100%' height='100%' border='0' style='width:100%;height:100%;')
                tr
                    td(align='top' width='145' style='vertical-align:top;')
                        table(cellpadding='0' cellspacing='0' width='100%' height='100%' border='0' style='width:100%;height:100%;padding-top:29px;padding-bottom:29px;padding-left:6px;padding-right:6px;background-color:#f6f6f6;border-radius:10px;')
                            tr
                                td(width='145' align='center' valign='top' style='color:#000000;text-align:center;vertical-align:top;font-family:Arial;font-size:20px;font-style:normal;font-weight:400;line-height:24px;word-break:break-all;')
                                    img(src='../../assets/image/email/icon_telephone.png' alt='Exclusive Offer' width='60' height='60' border='0' style='padding-bottom:14px;')
                                    br
                                    | Telephone
                    td(style='font-size:0;') &nbsp;
                    td(align='top' width='145' style='vertical-align:top;')
                        table(cellpadding='0' cellspacing='0' width='100%' height='100%' border='0' style='width:100%;height:100%;padding-top:29px;padding-bottom:29px;padding-left:6px;padding-right:6px;background-color:#f6f6f6;border-radius:10px;')
                            tr
                                td(width='145' align='center' valign='top' style='color:#000000;text-align:center;vertical-align:top;font-family:Arial;font-size:20px;font-style:normal;font-weight:400;line-height:24px;word-break:break-all;')
                                    img(src='../../assets/image/email/ico_livechat.png' alt='Free Installation' width='60' height='60' border='0' style='padding-bottom:14px;')
                                    br
                                    | Live Chat
                    td(style='font-size:0;') &nbsp;
                    td(align='top' width='145' style='vertical-align:top;')
                        table(cellpadding='0' cellspacing='0' width='100%' height='100%' border='0' style='width:100%;height:100%;padding-top:29px;padding-bottom:29px;padding-left:6px;padding-right:6px;background-color:#f6f6f6;border-radius:10px;')
                            tr
                                td(width='145' align='center' valign='top' style='color:#000000;text-align:center;vertical-align:top;font-family:Arial;font-size:20px;font-style:normal;font-weight:400;line-height:24px;word-break:break-all;')
                                    img(src='../../assets/image/email/ico_email.png' alt='Free Delivery' width='60' height='60' border='0' style='padding-bottom:14px;')
                                    br
                                    | Email
                    td(style='font-size:0;') &nbsp;
                    td(align='top' width='145' style='vertical-align:top;')
                        table(cellpadding='0' cellspacing='0' width='100%' height='100%' border='0' style='width:100%;height:100%;padding-top:29px;padding-bottom:29px;padding-left:6px;padding-right:6px;background-color:#f6f6f6;border-radius:10px;')
                            tr
                                td(width='145' align='center' valign='top' style='color:#000000;text-align:center;vertical-align:top;font-family:Arial;font-size:20px;font-style:normal;font-weight:400;line-height:24px;word-break:break-all;')
                                    img(src='../../assets/image/email/ico_whatsapp.png' alt='Secure Payment' width='60' height='60' border='0' style='padding-bottom:14px;')
                                    br
                                    | Whatsapp
    tr
        td(style=`padding-top:30px;color:#333333;${fontStyle_1}`) 
            | Plaese note this email message was sent from a notification-only address that cannot accept incoming email. Please do not reply to this message.
    tr
        td(style='padding-top:20px;')
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                tr
                    td(width='14px' style='min-width:14px;vertical-align:top;') *
                    td(style=`color:#646464;${fontStyle_2}`)
                        | DigitalRiver Ireland Ltd. is the authorized reseller and merchant of the products and services offered within this store.
