mixin survey()
    tr
        td
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;padding:24px;border-radius:10px;background:#f6f6f6;')
                tr
                    td(style='padding-bottom:16px;color:#000000;font-family:Arial;font-size:20px;font-style:normal;font-weight:700; line-height:24px;') Thank you for shopping with us.
                tr
                    td(style='color:#000000;font-family:Arial;font-size:16px;font-style:normal;font-weight:400;line-height:22px;')
                        | Thank you for shopping with us. Your feedback is important to us.
                        |
                        br
                        | We would appreciate if you can take a moment to complete a survey about your experience ordering from the LG On-line Store. We actively use feedback to constantly improve our service.
                        |
                        br
                        | We thank you in advance for taking part in this survey!
                tr
                    td(style='padding-top:20px;')
                        a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='Open in a new tab' style='display:inline-block;min-width:150px;box-sizing:border-box;text-align:center;padding:14px 20px;border-radius:60px;background:#000000;color:#ffffff;text-decoration:none;font-family:Arial;font-style:normal;font-size:16px;font-weight:400;line-height:16px;') Take survey now