@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.ML000U';
$common-side-padding-m: rem(25px);

#{$component} {
  .my-component {
    @include container($design-grid-full, true);
    @include inset-padding-hz;

    $mycomponent: '.my-component';
    position: relative;
    overflow: hidden;

    + .my-component--maximum {
      margin-top: rem($margin20px);
      @include screen(web) {
        margin-top: rem($margin24px);
      }
    }
    @at-root {
      #{$component} .my-component--sub-menu + .my-component {
        margin-top: 0;
        @include screen(web) {
          margin-top: 0;
        }
      }
    }
    &--maximum {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    &.no-crop {
      overflow: initial;
    }
  }
  .font-w-underline {
    @include screen(web) {
      text-decoration: underline;
    }
  }
  .font-m-semibold-12 {
    @include screen(mobile) {
      font-size: rem(12px);
      line-height: rem(14px);
      font-weight: $font-semibold;
    }
  }

  .tabs__wide {
    @include screen(web) {
      margin-top: rem($margin24px);
    }
    .cmp-tabs {
      &__inner {
        margin-bottom: 0;
        width: 100%;
        border-bottom: rem($border1) solid $graycb;
        @include screen(web) {
          border-top: rem($border1) solid $graycb;
        }
      }
      &__tablist {
        margin: 0 auto;
        width: 100%;
        @include container($design-grid-full, true);
        @include inset-padding-hz;
        gap: rem(24px);
        padding-top: 0;
        padding-bottom: 0;
        @include screen(mobile) {
          justify-content: flex-start;
        }
        @include screen(web) {
          gap: rem(77px);
        }
      }
      &__tab {
        padding: rem($padding19px) 0;
        text-align: center;
        line-height: rem(18px);
        @include screen(web) {
          padding: rem(23px) 0;
          font-size: rem(32px);
          line-height: rem(36px);
          font-weight: $font-regular;
        }
        &--active {
          &:after {
            bottom: 0;
            height: rem($height2px);
            @include screen(web) {
              height: rem($height4px);
            }
          }
        }
      }
      &__tabpanel {
        @include container($design-grid-full, true);
        padding: rem(0 $padding16px);
        @include screen(web) {
          padding-left: rem($block-margin-w);
          padding-right: rem($block-margin-w);
        }
      }
    }
  }
  .my-point {
    margin-top: rem($margin16px);
    margin-bottom: rem($margin40px);
    @include screen(web) {
      margin-top: rem($margin24px);
      margin-bottom: rem($margin64px);
    }
    &__list {
      @include reset-list-style;
      margin-top: rem($margin12px);
      padding: rem($padding20px $padding16px);
      @include lgness-radius('all');
      background: $white;
      @include screen(web) {
        margin-top: rem($margin20px);
        padding: rem($padding24px);
      }
    }
    &__item {
      display: grid;
      gap: rem(4px) 0;
      padding: rem($padding10px) 0;
      border-bottom: rem($border1) solid $mid-gray1;
      @include screen(web) {
        padding: rem($padding10px) 0;
        gap: rem(10px) 0;
      }
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }
      span {
        display: block;
      }
    }
    &__title {
      grid-column: 1;
      color: #050505;
    }
    &__valid {
      grid-column: 2;
      text-align: right;
      color: $mid-gray2;
    }
    &__bodycopy {
      grid-column: 1 / span 2;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      gap: rem(3px);
    }
    &__desc {
      color: $mid-gray2;
      flex-basis: 100%;
      span {
        max-width: rem(190px);
        @include screen(web) {
          max-width: 100%;
        }
      }
    }
    &__date {
      color: $mid-gray2;
    }
    &__point {
      text-align: right;
      color: #101010;
      @include screen(web) {
        margin-left: auto;
      }
    }
    &__pagination {
      display: flex;
      justify-content: space-around;
      margin: rem($margin16px) 0 0 0;
      @include screen(web) {
        margin: rem($margin32px) 0 0 0;
      }
    }
  }
  .my-point-summary {
    margin-top: rem($margin8px);
    @include screen(web) {
      margin-top: 0;
    }
    &__list {
      @include reset-list-style;
      padding: rem($padding20px) 0;
      @include lgness-radius('all');
      background: $white;
      @include screen(web) {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
        padding: 0;
        border: rem($border1) solid $graye6;
      }
    }
    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 rem($padding16px);
      width: 100%;
      border-left: 0;

      &:not(.my-point-summary__item--icon) + .my-point-summary__item {
        padding-top: rem($padding2px);
        @include screen(web) {
          padding-top: 0;
        }
      }

      @include screen(web) {
        margin-top: 0;
        padding: rem($padding14px) rem($padding24px);
      }
      .c-text-contents {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: rem(26px);
        @include screen(web) {
          gap: 0;
        }
        &__title {
          color: $mid-gray2;
          span {
            display: block;
            @include screen(web) {
              line-height: 1;
            }
          }
        }
        &__bodycopy {
          color: $black;
          span {
            display: block;
            @include screen(web) {
              line-height: 1;
            }
          }
        }
      }
      &--icon {
        @include screen(mobile) {
          margin-bottom: rem($margin8px) !important;
          padding-bottom: rem($padding8px) !important;
          border-bottom: rem($border1) solid $light-gray2;
        }
        @include screen(web) {
          grid-row: 1 / span 2;
          gap: rem(14px);
          border-right: rem($border2) solid $light-gray2;
        }
        .c-text-contents {
          position: relative;
          &:before {
            display: block;
            content: '';
            position: absolute;
            top: calc(50% - rem(16px));
            left: 0;
            background: url($icon-mylg-available-points-48-48) center / contain no-repeat;
            width: rem($icon32px);
            height: rem($icon32px);
            @include screen(web) {
              position: static;
              width: rem($icon48px);
              height: rem($icon48px);
            }
          }
        }
        & + .my-rewardpoint__item {
          margin-top: rem($margin20px);
          @include screen(web) {
            margin-top: 0;
          }
        }
        .c-text-contents {
          @include screen(mobile) {
            flex-flow: column;
            align-items: flex-end;
            gap: 0;
          }
          &__title {
            color: $black;
            @include screen(web) {
              margin-right: auto;
            }

            span {
              line-height: rem(14px);
              @include screen(web) {
                line-height: rem(24px);
              }
            }
          }
          &__bodycopy {
            margin-top: 0;
            color: $active-red;
            font-weight: $font-semibold;
            span {
              line-height: rem(24px);
              @include screen(web) {
                line-height: rem(34px);
              }
            }
          }
        }
      }
    }
  }
  .my-nodata-wrap {
    .c-no-data {
      align-items: flex-start;
      padding: rem($padding24px) 0;
      color: $black;
      text-align: start;
      @include screen(web) {
        padding: rem($padding64px) 0;
      }
      &:before {
        display: none;
      }
    }
  }
  .my-component__buy-header-msg {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
  }
  .toast-popup {
    margin-top: rem($margin8px) !important;
    @include screen(web) {
      margin-top: rem($margin10px) !important;
    }
  }
  .c-wrapper {
    outline: none;
  }
  &.popup-point {
    .c-pop-msg {
      @include screen(mobile) {
        padding: 0;
      }
      &__container {
        @include screen(mobile) {
          padding: rem($padding48px) rem($padding16px) rem($padding24px);
          margin: 0;
          justify-content: flex-start;
          border-radius: 0;
          border: none;
        }
        .toast-popup {
          margin-top: rem($margin20px);
          @include screen(mobile) {
            margin-top: rem($margin12px);
          }
          &__container {
            align-items: flex-start;
          }
          &__icon {
            width: rem(16px);
            height: rem(16px);
            margin-top: rem($margin2px);
          }
          &__item {
            border-radius: rem(16px);
            padding: rem($padding12px);
            box-shadow: none;
            @include screen(mobile) {
              border-radius: rem(12px);
              padding: rem($padding14px);
            }
          }
          &__title {
            font-size: rem(16px);
            line-height: rem(20px);
            font-weight: $font-regular;
            @include screen(mobile) {
              font-size: rem(14px);
              line-height: rem(16px);
            }
          }
          & + .c-pop-msg__contents {
            margin-top: rem($margin12px) !important;
            @include screen(mobile) {
              margin-top: rem($margin10px) !important;
            }
          }
        }
      }
      &__header {
        padding-bottom: rem($padding8px);
      }
      &__close--on-top {
        .c-pop-msg__close-button {
          @include screen(mobile) {
            padding-top: rem($padding16px);
            &::before {
              width: rem(20px);
              height: rem(20px);
            }
          }
        }
      }
      &__contents {
        margin-top: rem($margin20px);
        @include screen(mobile) {
          margin: 0;
          padding: 0;
          margin-top: rem($margin12px);
          max-height: calc(100vh - rem(48px));
        }
      }
      .my-point {
        margin-top: 0;
        margin-bottom: 0;
        &__list {
          margin-top: 0;
        }
        &__item {
          &:last-child {
            padding: rem($padding12px) 0;
            border-bottom: rem($border1) solid $mid-gray1;
          }
        }
      }
    }
  }
}
