@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.ETC000G';
.component > .fluid-container {
  @include container($maximum, true);
}
#{$component} {
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  .c-button[class*='-box'].disabled:not(.c-button[class*='-box'][class*='-box-outlined']) {
    color: $grayb;
    background-color: $gray9;
  }
  .fluid-container {
    max-width: none;
  }
  .c-message-box {
    margin-top: rem($margin12px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: rem($height350px);
    background-color: $white;
    padding: rem($padding40px $padding25px - $block-margin-m);
    @include lgness-radius('default');
    @include screen(web) {
      min-height: rem($height400px);
      margin-top: rem($margin20px);
      // padding: rem($padding80px) min(rem($padding46px), calc(100% * $padding46px/$container-width));
    }

    // element
    &__wrapper {
      display: flex;
      flex-direction: column;
    }
    &__desc {
      color: $gray3;
    }

    // modify : icon;
    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: rem($margin20px);

      $icon: '&:before';
      #{$icon} {
        content: '';
        display: inline-flex;
        width: rem($icon60px);
        height: rem($icon60px);
        background : {
          repeat: no-repeat;
          size: 100% auto;
          position: 50% 50%;
        }
      }
    }

    $icon: '.c-message-box__icon:before';
    // &--confirm {
    //     #{$icon} {
    //         background-image: url($icon-email-mid-gray2-60-60);
    //     }
    // }
    // &--system-error {
    //     #{$icon} {
    //         background-image: url($icon-error-red-60-60);
    //     }
    // }
    // &--sending-error {
    //     #{$icon} {
    //         background-image: url($icon-sending-error-gray3-60-60);
    //     }
    // }
    &--emailaddress-error {
      #{$icon} {
        background-image: url($icon-exclamation-gray-60-60);
      }
    }
  }
  .my-component {
    @include container($design-grid-full, true);
    @include inset-padding-hz;

    $mycomponent: '.my-component';
    position: relative;
    overflow: hidden;
    &:first-child {
      max-width: none;
      // padding-top: rem($padding24px);
      // border-bottom: rem($border1) solid $mid-gray1;
      // padding-bottom: rem($padding24px);
      .c-text-contents {
        max-width: rem(952px);
        margin: 0 auto;
      }
    }
    & > .c-text-contents & > .c-product-list--carousel {
      padding-left: 0;
      padding-right: 0;
    }
    // [Start] 2023-05-17 : ADD - my-component__wrap */
    &__wrap {
      border-top: none;
      padding: rem(24px) 0;
      border-bottom: rem($border1) solid $mid-gray1;
      .c-text-contents {
        & > .c-text-contents__bodycopy {
          color: $mid-gray2;
        }
      }
      &:first-child {
        // border-bottom: rem($border1) solid $mid-gray1;
        .c-text-contents {
          & > .c-text-contents__bodycopy {
            margin-top: rem($margin10px);
            color: $gray3;
          }
        }
      }
      @include screen(web) {
        padding: rem(24px) 0;
      }
    }
    // [End] 2023-05-17 : ADD - my-component__wrap */
  }
  .my-contents {
    max-width: rem(952px);
    margin: 0 auto;
  }
  .my-form {
    max-width: rem(952px);
    margin: 0 auto;
    & + .my-form {
      margin-top: rem($margin20px);
      @include screen(web) {
        margin-top: rem($margin24px);
      }
    }
    &-required {
      max-width: rem(952px);
      margin: 0 auto;
      text-align: right;
      color: $mid-gray2;
      em.c-required {
        color: $mid-gray2;
      }
      & + .my-form {
        margin-top: rem($margin8px);
        @include screen(web) {
          margin-top: rem($margin20px);
        }
      }
    }
    &__info {
      color: $mid-gray2;
      span.font-black {
        color: $black;
      }
      & + .my-input {
        margin-top: rem($margin20px);
        @include screen(web) {
          margin-top: rem($margin24px);
        }
      }
    }
    &:first-child {
      .my-form__title {
        position: relative;
        // padding: rem(20px) 0 rem(12px);
        .my-form-required {
          position: absolute;
          top: rem(4px);
          right: 0;
        }
        @include screen(web) {
          // padding: rem(26px) 0 rem(18px);
          .my-form-required {
            top: rem(12px);
          }
        }
        .text {
          margin-top: 0;
          @include screen(web) {
            margin-top: rem($margin8px);
          }
        }
      }
      .my-formbox {
        margin-top: 0;
      }
    }
  }
  .my-contents {
    .my-button {
      margin-top: rem($margin24px);
      justify-content: space-between;
      gap: rem(8px);
      @include screen(web) {
        margin-top: rem($margin32px);
      }
      .c-button {
        @include screen(mobile) {
          flex: 1;
        }
      }
    }
  }
  .my-formbox {
    margin: 0 auto;
    max-width: rem(952px);
    background-color: $white;
    margin-top: rem($margin12px);
    padding: rem($padding20px) rem($padding16px);
    @include lgness-radius('default');
    @include screen(web) {
      margin-top: rem($margin20px);
      padding: rem($padding24px);
    }
    .c-info {
      &__type {
        border-top: 1px solid $graycb;
        border-bottom: 1px solid $graycb;
        margin-top: rem($margin16px);
        margin-bottom: rem($margin16px);
        padding-top: rem($padding16px);
        padding-bottom: rem($padding16px);
        #{$cs-header} {
          padding: rem(0);
          margin-top: rem(0);
          #{$text-contents}__bodycopy {
            margin-top: rem($margin8px);
          }
          #{$text-contents}__headline {
            padding: rem($margin12px $margin13px);
            border-radius: rem($radius12);
            background-color: $ivory6;
            margin-bottom: rem($margin8px);
            &2 {
              margin-bottom: rem($margin16px);
            }
          }
        }
        @include screen(web) {
          padding-top: rem($padding20px);
          padding-bottom: rem($padding20px);
          margin-top: rem($padding20px);
          margin-bottom: rem($margin20px);
          #{$cs-header} {
            padding: rem(0);
            margin-top: rem(0);
            #{$text-contents}__headline {
              &2 {
                margin-bottom: rem($margin20px);
              }
            }
          }
        }
        ul.ty2 {
          padding: rem(0);
          li {
            list-style-type: none;
            padding-left: rem($padding13px);
          }
        }
      }
      &__wrapper {
        margin: auto;
        @include screen(web) {
          padding-left: rem(0);
          padding-right: rem(0);
        }
      }
      &_list {
        padding: rem(0 $margin26px);
        &:last-child {
          margin-bottom: rem(0);
        }
        li {
          @include reset-list-style;
          position: relative;
          padding-left: rem($padding7px);
          list-style-type: decimal;
          margin-bottom: rem($margin8px);
          &:last-child {
            margin-bottom: rem(0);
          }
          &::before {
            content: none;
            display: inline-block;
            padding-right: 20px;
            width: rem(4px);
            height: rem(4px);
            position: absolute;
            top: rem(-4px);
            left: 0;
          }
        }
        @include screen(web) {
          li {
            padding-left: rem($padding7px);
          }
        }
      }
    }
  }
  .my-input {
    text-align: left;
    ul {
      @include reset-list-style;
      display: flex;
      gap: rem(24px);
      justify-content: flex-start;
      li {
        width: 100%;
        @include screen(web) {
          // width: auto;
        }
        .c-warning,
        .c-valid {
          line-height: rem(14px);
          padding-left: rem($padding13px);
          &::before {
            display: none;
          }
          margin-top: rem($margin8px);
          &:first-child {
            margin-top: rem($margin6px);
          }
          @include screen(web) {
            margin-top: rem($margin8px);
            line-height: rem(16px);
            &:first-child {
              margin-top: rem($margin8px);
            }
          }
        }
      }
      // li + li {
      //     margin-top: rem($margin16px);
      //     @include screen(web) {
      //         margin-top: rem($margin20px);
      //     }
      // }
      .c-search-box__form {
        gap: 0;
        @include screen(web) {
          flex-direction: column;
        }
      }
      .c-input-item {
        position: relative;
        label {
          color: $gray3;
        }
        .my-input__password {
          padding-right: rem($padding45px);
        }
        &.active {
          .my-form__eye {
            background: url($icon-mylg-view-on-24-24) center / contain no-repeat;
          }
        }
      }
      .my-captcha {
        $captch: '.my-captcha';
        &__container {
          display: flex;
          flex-flow: column;
        }
        &__area {
          display: flex;
          align-items: center;
        }
        &__box {
          border: rem($border1) solid $grayd;
          border-radius: rem($radius6);
          margin-bottom: rem($margin10px);
          width: 100%;
          height: rem(76px);
          margin-top: rem($margin10px);
        }
        &__btnbox {
          display: flex;
          flex-flow: column;
          align-items: center;
          margin-left: rem($margin10px);
          #{$captch}__button + #{$captch}__button {
            margin-top: rem($margin20px);
          }
        }
        &__button {
          cursor: pointer;
          border: none;
          position: relative;
          max-width: rem(24px);
          max-height: rem(24px);
          min-width: rem(24px);
          min-height: rem(24px);
          &--reload {
            background: url($icon-captcha-refresh-24-24) center / contain no-repeat;
          }
          &--play {
            background: url($icon-captcha-volume-24-24) center / contain no-repeat;
          }
        }
      }
    }
    &.column2-type {
      li:last-child {
        margin-bottom: rem(16px);
      }
      @include screen(web) {
        ul {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          li {
            width: 49%;
            margin-top: 0;
            margin-bottom: rem(20px);
          }
        }
      }
    }
    input {
      color: $black;
      border: rem($border1) solid $mid-gray1;
      border-radius: rem(12px);
      padding: rem($padding12px) rem($padding13px);
      font-size: rem(16px);
      line-height: rem(20px);
      height: rem($height44px);
      &[data-placeholder]::before {
        color: $gray6;
        font-size: rem(14px);
      }
      &[type='password'] {
        padding-right: rem($padding45px);
      }
      &[readonly] {
        background-color: $ivory6;
        &::placeholder {
          color: $grayb;
        }
      }
      &[disabled] {
        background-color: $ivory6;
        &::placeholder {
          color: $grayb;
        }
      }
      &.underline {
        border: 0;
        border-bottom: rem($border1) solid $mid-gray1;
        border-radius: 0;
        padding-left: 0;
        padding-right: 0;
      }
    }
    .c-text-contents {
      margin-bottom: rem($margin30px);
      @include screen(web) {
        margin-bottom: rem($margin40px);
      }
      &__bodycopy {
        margin: 0 auto;
        margin-top: rem($margin10px);
        max-width: rem(450px);
      }
    }
    .c-checkbox-item {
      margin-top: rem($margin8px);
      .label {
        font-size: rem(16px);
        @include screen(web) {
          font-size: rem(14px);
        }
      }
    }
    .button {
      justify-content: center;
      margin-top: rem($margin30px);
    }
    .my-form {
      &__eye {
        display: inline-block;
        background: url($icon-mylg-view-32-32) center / contain no-repeat;
        position: absolute;
        top: 50%;
        right: rem(15px);
        width: rem($width24px);
        height: rem($height24px);
        border: none;
        cursor: pointer;
        @include screen(web) {
          top: calc(50% - rem(-2px));
        }
      }
      &__search {
        padding-right: rem($padding50px);
        &__icon {
          display: inline-block;
          position: absolute;
          right: rem(16px);
          width: rem($width24px);
          height: rem($height24px);
          border: none;
          cursor: pointer;
          top: 50%;
          background: url($icon-search-black-24-24) center / rem(21px) rem(21px) no-repeat;
          @include screen(web) {
            top: 53%;
            background: url($icon-search-black-24-24) center / rem(16px) rem(16px) no-repeat;
          }
        }
      }
    }
    .my-warn {
      padding-right: rem($padding40px);
      border-color: $active-red;
      select {
        border-color: $active-red;
      }
    }
    .c-search-box__form.my-warn {
      padding-right: 0;
    }
    .input-button__container {
      display: flex;
      flex-direction: column;
      @include screen(web) {
        flex-direction: row;
        gap: 0 rem(8px);
      }
      .button {
        margin-top: rem($margin8px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: initial;
        flex-direction: column;
        @include screen(web) {
          margin: 0;
          flex-direction: row;
        }
        .cmp-button {
          width: 100%;
          white-space: nowrap;
          @include screen(web) {
            min-width: 0;
          }
        }
      }
      &--validation {
        .my-button-validation {
          flex: 1;
        }
      }
    }
    .my-birth__container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      @include screen(web) {
        // display: flex;
        flex-direction: row;
        gap: 0 rem(8px);
      }
      &--validation {
        .my-birth-validation {
          flex: 1;
        }
      }
      .my-birth {
        &__inner {
          position: relative;
          flex: 1;
          input {
            padding-right: rem($padding58px);
          }
        }
      }
    }
    .my-verify {
      &__inner {
        position: relative;
        flex: 1;
        input {
          padding-right: rem($padding58px);
        }
      }
      &__time {
        color: $black;
        position: absolute;
        top: 50%;
        right: rem(16px);
        transform: translateY(-50%);
      }
    }
    select {
      font-size: rem(16px);
      @include screen(web) {
        font-size: rem(14px);
      }
    }
    .c-select-item {
      label {
        font-weight: $font-regular;
        color: $gray3;
        font-size: rem(14px);
        line-height: rem(16px);
        @include screen(web) {
          font-size: rem(16px);
          line-height: rem(20px);
        }
      }
      select {
        color: $mid-gray2;
        height: auto;
        // border: rem($border1) solid $mid-gray1;
        padding: rem($padding12px) rem($padding13px);
        border-radius: rem(12px);
        font-size: rem(16px);
        line-height: rem(20px);
        option[selected] {
          color: $mid-gray2;
        }
      }
    }
    ul.my-input__info {
      @include reset-list-style;
      color: $mid-gray3;
      margin-top: rem($margin8px);
      li {
        // font-size: rem(14px);
        line-height: rem(16px);
        @include screen(web) {
          line-height: rem(20px);
          max-width: 90%;
        }
      }
    }
  }
  .button.my-button {
    justify-content: center;
    margin-top: rem($margin24px);
    margin-bottom: rem($margin24px);
    @include screen(web) {
      margin-top: rem($margin32px);
      display: flex;
    }
    .cmp-button {
      // width: 100%;
      @include screen(web) {
        width: auto;
      }
      & + .cmp-button {
        // margin-top: rem($margin8px);
        @include screen(web) {
          margin-top: 0;
        }
      }
    }
    .c-button[class*='-box']:not(.c-button[class*='-box'][class*='-box-outlined']):disabled,
    .c-button[class*='-box']:not(.c-button[class*='-box'][class*='-box-outlined'])[disabled] {
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}
