@charset "UTF-8";
@use '../../scss/abstract/' as *;
@use '../CS0000/CS0000' as *;

// component
$component: '.CS0065';
#{$component} {
  // variable
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  $image: '.c-image';
  $mobile-width: calc(100% - rem($margin25px * 2));
  $c-component: '.component';

  button {
    background: inherit;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    overflow: visible;
    cursor: pointer;
  }

  &__container {
    @include flex-context;
    @include container($design-grid-full, true);
    @include inset-padding-hz(mobile);
    @include screen(web) {
      @include flex-context;
      padding-left: rem($padding24px);
      padding-right: rem($padding24px);
    }
    @include screen(tablet) {
      @include inset-padding-hz;
    }
    @at-root #{$component} {
      .full #{$component}__container {
        // padding: 0;
        @include screen(web) {
          min-width: initial;
          padding-left: rem($padding24px);
          padding-right: rem($padding24px);
        }
        #{$cs-header} {
          margin: rem(0 $margin25px);
          margin-bottom: rem($margin20px);
          @include screen(web) {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: rem($margin40px);
          }
        }
      }
    }
  }

  // add class c-default-margin component
  &.c-default-margin {
    padding-bottom: rem($padding10px);

    @include screen(web) {
      // padding-bottom: rem($padding60px);
      padding-bottom: 0;
    }

    &.c-wrapper {
      &.margin-top {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: rem($padding30px);

        @include screen(web) {
          padding-bottom: rem($padding60px);
        }

        &.margin-bottom {
          padding-bottom: rem($padding30px);

          @include screen(web) {
            padding-bottom: rem($padding60px);
          }
        }
      }

      &.margin-bottom {
        @include screen(web) {
          // padding-bottom: rem($padding50px);
        }
      }
    }

    #{$cs-header} {
      margin-top: rem($margin30px);
      margin-bottom: rem($margin30px);

      @include screen(web) {
        margin-top: rem($margin40px);
        margin-bottom: rem($margin40px);
      }
    }
  }

  .container {
    @include screen(web) {
      max-width: rem(1440px);
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      padding-bottom: rem($padding48px);
      > .button {
        display: flex;
        justify-content: center;
        margin-top: rem($margin40px);
        @include screen(web) {
          margin-top: rem($margin100px);
        }
      }
    }
    &.full {
      padding: rem($padding25px 0);
    }
  }

  .c-container__inner {
    max-width: rem(708px);
    margin: rem($margin12px auto 0);
    @include screen(web) {
      margin-top: rem($margin18px);
    }
  }

  .c-require {
    color: #646464;
    text-align: right;
    // margin-top: rem($margin24px);

    @include screen(web) {
      // margin-top: rem($margin20px);
    }
  }

  .require {
    font-style: normal;
  }

  // Support HEADER
  #{$cs-header} {
    margin: rem($margin20px 0 $margin12px);
    a {
      color: $red;
      text-decoration: underline;
    }

    @include screen(web) {
      margin-bottom: rem($margin24px);
    }

    @at-root #{$component} #{$cs-header} {
      #{$text-contents} {
      }

      #{$text-contents}__headline + #{$text-contents}__bodycopy {
        margin-top: rem($margin6px);

        @include screen(web) {
          margin-top: rem($margin10px);
        }
      }
    }
  }

  #{$text-contents} {
    &__line-type {
      border: 1px solid $grayd;
      border-radius: rem($radius6);
      padding: rem($padding20px $padding16px);
      @include screen(web) {
        padding: rem($padding30px $padding24px);
      }

      #{$text-contents}__headline,
      #{$text-contents}__subcopy {
        display: none;
      }
      #{$text-contents}__bodycopy {
        margin: 0;
      }
    }
    &__bodycopy {
      a {
        color: $red;
        text-decoration: underline;
      }
    }
    &__list {
      display: flex;
      align-items: flex-start;
      margin-left: rem($margin6px);
      &:first-child {
        margin-top: rem($margin8px);
      }
      span {
        margin-right: rem($margin6px);
      }
    }
  }

  .c-tabs__desc {
    margin-top: rem($margin8px);
    margin-bottom: 0;
    color: $gray6;
    text-align: left;
    @include screen(web) {
      margin-bottom: 0;
    }
  }
  &.type-border {
    .type-form {
      border-top: 1px solid $mid-gray1;
      margin-top: rem($margin24px);
      @include screen(web) {
        margin-top: rem($margin48px);
      }
    }
  }

  // .searchbar
  .searchbar {
    border-radius: rem($radius8);
    // background-color: $ivory6;
    padding: rem($padding16px 0 $padding12px);

    input {
      @include inputHeight56;
      // max-width: rem(1086px);
      padding: rem($padding15px $padding17px) !important;
      background: $light-gray3;
    }

    .fieldIcons {
      &__root {
        position: relative;
      }

      &__before {
        content: '';
        z-index: $stacking-floor;
        @include position(50%, 50%);
        left: rem($padding30px);
        transform: translate(-50%, -50%);
        width: rem(18px);
        height: rem(18px);
        background-image: url($icon-search);
        background-repeat: no-repeat;
        display: none;
      }
    }

    @include screen(web) {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: rem(24px);
      padding-top: 0;
      padding-bottom: rem($padding1px);
      margin-bottom: rem($margin24px);
      input {
        padding: rem($padding18px $padding16px $padding18px $padding50px);
      }
      .searchBar__root {
        width: 100%;
      }
      .fieldIcons {
        &__before {
          left: rem($padding24px);
          right: auto;
          transform: translate(0%, -50%);
          display: block;
        }
      }
    }
  }
  .searchBar__infoMsg {
    color: $mid-gray3;
    margin-top: rem($margin28px);
    margin-bottom: rem($margin12px);
    @include screen(web) {
      margin-top: rem($margin24px);
      margin-bottom: rem($margin8px);
    }
  }

  .c-model-content-wrap {
    #{$cs-header} {
      margin: 0;
    }
    border-bottom: 1px solid $mid-gray1;
    padding-bottom: rem($padding6px);
    margin-top: rem($margin24px);

    .c-require {
      margin-top: rem($margin12px);
    }
    @include screen(web) {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      // border: 1px solid #000;
      border-bottom: none;
      padding-bottom: 0;
    }
  }
  .c-model-contents {
    margin-top: rem($margin16px);
    font-weight: $font-bold;
    margin-bottom: rem($margin16px);
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: underline;

      &.find-number {
        img {
          margin-right: rem($margin4px);
        }
        cursor: pointer;
        font-size: rem(14px);
      }
    }

    @include screen(web) {
      margin-top: 0;
      flex: none;
      margin-bottom: 0;
      a {
        justify-content: flex-end;
        &.find-number {
          font-size: rem(16px);
        }
      }
    }
  }

  .care-text {
    display: flex;
    justify-content: start;
  }

  // BREADCRUMB
  .breadcrumb {
    border-radius: rem($radius20);
    position: relative;
    background: $white;
    padding: 0;
    border-bottom: none;
    background: $white;
    // margin-top: rem(12px);
    @include screen(web) {
      display: block;
      padding: 0;
      // margin-top: rem(24px);
    }

    &__wrap {
      // margin: rem(0 $margin20px);
      padding-top: rem($padding20px);
      @include screen(web) {
        display: flex;
        align-items: center;
        max-width: rem(1440px);
        margin: 0 auto;
        padding: rem($padding24px $padding28px $padding24px);
      }
    }

    p {
      font-weight: $font-semibold;
    }
    .c-reset-button {
      display: none;
    }
    .c-btn-close {
      position: absolute;
      top: rem(10px);
      right: rem(6px);
      padding: rem($padding10px);
      border: none;
      background-color: transparent;
      cursor: pointer;
      z-index: 1;
      &:focus-visible {
        outline: rem(2px) solid currentcolor;
        outline-offset: 1px;
      }
      @include screen(web) {
        top: rem(18px);
        right: rem(18px);
      }
    }
  }
  .c-breadcrumb {
    // position: relative;
    // padding: rem(0 $padding24px);
    &__item {
      &:last-child {
        padding-right: 0;
        margin-right: 0;
      }
      &.active {
        .c-breadcrumb__item-link {
          font-weight: $font-semibold;
          color: $black;
          background: $white !important;
          cursor: pointer;
        }
      }
    }
  }
  // c-selected-model
  .c-selected-model {
    &-Num {
      padding: rem($padding20px);
      display: flex;
      position: relative;
      margin-top: rem($margin20px);
      border-top: 1px solid $mid-gray1;
      background: $white;
      border-radius: rem(0 0 $radius20 $radius20);

      .c-btn-close {
        position: absolute;
        top: rem(10px);
        right: rem(6px);
        padding: rem($padding10px);
        border: none;
        background-color: transparent;
        cursor: pointer;
        &:focus-visible {
          outline: rem(2px) solid currentcolor;
          outline-offset: 1px;
        }
      }

      &.hide {
        display: none;
      }

      .cmp-image {
        margin-right: rem(12px);

        &__image {
          // width: auto;
          width: rem(40px);
          max-width: none;
          border-radius: rem(4px);
        }
      }
    }

    &-Info {
      .c-active-red {
        color: $active-red;
      }

      .c-serialNum {
        margin-top: rem($margin8px);
        color: $mid-gray2;
        word-break: break-word;
      }
      .c-prdName {
        font-size: rem(24px);
        @include ellipsis(1);
        white-space: normal;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
      .c-warrantyInfo {
        margin-top: rem($margin12px);
        color: $mid-gray2;
        span {
          display: inline-block;
          margin-top: rem($margin4px);
          color: $black;
        }
      }
    }

    @include screen(web) {
      &-Num {
        margin: 0 auto;
        align-items: center;
        padding: rem($padding28px);
        .cmp-image {
          &__image {
            width: rem(64px);
            border-radius: rem(6px);
          }
        }
      }
      &-Info {
        .c-serialNum {
          margin-top: rem($margin6px);
        }
        .c-warrantyInfo {
          margin-top: rem($margin8px);
          span {
            margin-left: rem($margin4px);
            display: inline-block;
          }
        }
      }
    }
  }

  // REPAIRER REGISTRATION
  .cs-form-section {
    padding-top: rem($padding40px);
    &.c-section-border {
      padding-bottom: rem($padding40px);
      border-bottom: 1px solid $grayd;
      @include screen(web) {
        padding-bottom: rem($padding100px);
      }
    }
    @include screen(web) {
      padding-top: rem($padding100px);
    }
  }
  .cs-form {
    .cmp-form {
      .fieldIcons {
        &__root {
          position: relative;
        }

        &__before {
          content: '';
          z-index: $stacking-floor;
          @include position(50%, 50%);
          left: rem($padding30px);
          transform: translate(-50%, -50%);
          width: rem(18px);
          height: rem(18px);
          background-image: url($icon-search);
          background-repeat: no-repeat;

          @include screen(web) {
            left: rem($padding24px);
            right: auto;
            transform: translate(0%, -50%);
          }
        }

        input {
          @include input;
          max-width: rem(1086px);
          padding: rem($padding15px $padding17px);
          background: $light-gray3;
          @include screen(web) {
            padding: rem($padding18px $padding16px $padding18px $padding50px);
          }
        }
      }

      // label {
      //     display: block;
      //     color: $gray3;
      //     margin-bottom: rem($margin8px);
      //     font-size: rem(16px);
      //     line-height: rem(18px);
      //     text-align: left;
      //     margin-top: rem($margin16px);
      // }

      input,
      select {
        @include input;
      }

      input[type='text'],
      input[type='email'],
      input[type='date'],
      textarea {
        &[disabled] {
          color: rgba($black, 0.7);
        }
      }

      select {
        @include csSelect;
      }

      &__chk {
        .c-checkbox-item {
          label {
            margin-top: rem($margin11px);
            margin-bottom: 0;

            @include screen(web) {
              margin-top: rem($margin8px) !important;
            }
          }
          .label {
            align-items: center;

            &:before {
              background-color: transparent;
            }
          }
        }
      }

      &__type2 {
        @include screen(web) {
          display: flex;
          gap: rem(24px);
        }
      }

      &__postcode {
        @include screen(web) {
          flex-basis: rem(159px);
          flex-shrink: 0;
        }
      }

      &__phone {
        flex-basis: 100%;
      }

      .button {
        margin-top: rem($margin8px);

        .c-button {
          width: 100%;
        }

        @include screen(web) {
          display: flex;
          justify-content: center;
          margin-top: 0;

          .c-button {
            width: auto;
          }
        }
      }

      .file {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0 none;
      }

      .c-file-msg {
        color: $mid-gray2;
        margin: rem($margin8px $margin17px 0);
        @include screen(web) {
          margin: rem($margin8px $margin25px 0);
        }
      }

      .c-file-msg + .c-checkbox-item {
        @include screen(web) {
          margin-top: rem(8px);
        }
      }

      #preview {
        @include csPreview;
      }

      .c-info-msg {
        color: $gray6;
        margin: rem($margin8px 0);

        @include screen(web) {
          margin: rem($margin8px $margin14px);
        }
      }

      .cs-captcha {
        display: grid;
        grid-template-columns: 1fr rem(48px);
        grid-gap: rem(8px 12px);

        @include screen(web) {
          grid-template-columns: 1fr rem(130px);
          grid-gap: rem(16px);
        }

        label {
          display: none;
        }

        &__area {
          height: rem(100px);
          grid-column: 1 / 2;
          grid-row: 1 / 2;
          background-color: $white;
          border-radius: rem(24px);

          @include screen(web) {
            grid-column: 1 / 3;
            height: rem(178px);
            border-radius: rem(34px);
          }
        }

        &__input-box {
          grid-column: 1 / 3;
          grid-row: 2 / 3;

          @include screen(web) {
            grid-column: 1 / 2;
          }
        }

        &__input {
        }

        &__button {
          display: flex;
          flex-direction: column;
          grid-column: 2 / 3;
          grid-row: 1 / 2;
          gap: rem(4px);
          width: rem(48px);

          @include screen(web) {
            flex-direction: row;
            grid-row: 2 / 3;
            width: auto;
            gap: 10px;
          }

          button {
            width: rem(48px);
            height: rem(48px);
            border: 1px solid $mid-gray2;
            background-color: $white;
            border-radius: rem($radius99);

            @include screen(web) {
              width: rem(60px);
              height: rem(60px);
            }
          }

          &--reset {
            background : {
              image: url($icon-sound-black-38-38);
              position: center;
              repeat: no-repeat;
            }

            @include screen(web) {
              background-image: url($icon-sound-black-40-40);
            }
          }

          &--sound {
            background : {
              image: url($icon-reset-38-38);
              position: center;
              repeat: no-repeat;
            }

            @include screen(web) {
              background-image: url($icon-reset-40-40);
            }
          }
        }
      }
    }

    @include screen(web) {
      .cmp-form.half {
        display: flex;
        gap: rem(12px);
        justify-content: space-between;

        .cmp-form__half:first-child {
          width: 25%;
        }

        .cmp-form__half:last-child {
          width: 75%;
        }
      }
    }

    &__chk {
      margin-top: rem($margin24px);

      @include screen(web) {
        margin-top: rem($margin48px);
      }

      .c-checkbox-item {
        input {
          top: rem(8px);
        }

        .label {
          display: inline-block;
          text-align: left;
          padding-left: rem($padding30px);
          margin-top: rem($margin8px);
          position: relative;

          @include screen(web) {
            margin-top: rem(0);
          }

          &::before {
            margin-left: rem(-30px);
            position: absolute;
          }
        }

        a.link {
          margin-left: rem($margin4px);
          color: $red;
          text-decoration: underline;
        }
      }
    }

    &__desc {
      margin-bottom: rem($margin8px);
      color: $mid-gray3;
      line-height: rem(14px);

      @include screen(web) {
        margin-bottom: rem($margin10px);
        line-height: rem(24px);
      }
    }

    @include screen(web) {
      &__wrap {
        @include screen(web) {
          display: flex;
          flex-wrap: wrap;
          gap: rem(24px);
        }
      }

      &__inner {
        display: flex;
        gap: rem(8px);
      }

      .cmp-form {
        flex: 1 1 40%;

        label {
          margin-bottom: rem($margin8px);
          margin-top: rem($margin24px);
          line-height: rem(22px);
        }

        &:nth-child(n + 3) {
          label {
            margin-top: 0;
          }

          input,
          select {
            margin-bottom: 0;
          }
        }
      }

      .button {
        grid-column: 1/3;
        margin-top: rem($margin26px);
      }
    }
    .c-input-item--tel {
      position: relative;
      .c-input-item {
        position: relative;
      }
      .my-form-number {
        position: absolute;
        top: 50%;
        left: rem(13px);
        transform: translateY(-50%);
        padding-right: rem($padding10px);
        color: $gray3;
        z-index: 1;
        pointer-events: none;
        @include screen(web) {
          min-width: rem(45px);
        }
        &::before {
          content: '';
          display: inline-block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          width: rem(1px);
          height: rem(10px);
          background-color: $mid-gray1;
          @include screen(web) {
            height: rem(12px);
          }
        }
      }
      input {
        &[type='tel'],
        &[type='text'] {
          &:not(:only-child) {
            position: relative;
            padding-left: rem($padding60px);
            @include screen(web) {
              padding-left: rem($padding80px);
            }
          }
        }
      }
    }
  }
  .c-info-date-msg {
    text-align: right;
    color: $mid-gray3;
    margin-top: rem($margin6px);
    @include screen(web) {
      margin-top: rem($margin24px);
    }
  }
  // SUPPORT (INDIVIDUALIZATION) - COMPONENT CLASS ADDED .type-card__slide
  .type-card__slide {
    // margin-top: rem($margin20px);
    #{$cs-header} {
      border-top: 1px solid $mid-gray1;
      margin: rem(0 $margin16px) !important;
      padding-top: rem($padding24px);
      #{$text-contents} {
        width: calc(100% - rem(80px));
        margin-bottom: rem($margin20px);
      }
      @include screen(web) {
        width: 100%;
        margin: 0 !important;
      }
    }
    .c-accordion__body-text {
      // border-top: 1px solid $mid-gray1;
      margin: rem(0 $margin16px);
      > p {
        margin-bottom: rem($margin12px);
        padding-top: rem($padding24px);
      }
      @include screen(web) {
        margin: rem($margin24px 0 $margin48px);
      }
    }
    .container {
      border: 1px solid #000;
    }
    #{$component}__container {
      #{$cs-header} {
        margin-top: rem($margin30px);

        @include screen(web) {
          margin-top: rem($margin40px);
          display: inline-block;
          margin-bottom: 0;
        }
      }
    }

    .c-login {
      &__induce {
        background: $ivory6;
        padding: rem($padding32px $padding25px);
        //
        margin-top: rem($margin24px);

        p {
          margin-bottom: rem($margin6px);
        }

        .c-cta {
          margin-top: rem($margin20px);
        }

        @include screen(web) {
          padding: rem($padding40px 0);

          p {
            margin-bottom: rem($margin10px);
            line-height: rem(44px);
          }

          .c-cta {
            margin-top: rem($margin24px);
          }
        }
      }

      &__desc {
        margin: 0 auto rem($margin20px);
        // max-width: rem(170px);
        line-height: rem(18px);

        @include screen(web) {
          max-width: initial;
        }
      }
    }

    .swiper-slide {
      display: grid;
      height: auto;
      // border: 1px solid transparent;
      @include screen(web) {
        &:first-child {
          .c-prd-register {
            // margin-left: rem($margin24px);
          }
        }
        &.emptyCard {
          &:last-child {
            margin: 1.5rem 0;
            box-sizing: border-box;
            // width: calc((100% - 111px) / 3) !important;
            // border: 1px solid #000;
            .c-prd-register {
              // margin-right: rem($margin24px);
              // margin-right: 0;
            }
          }
        }
        &:not(.emptyCard) {
          &:nth-child(3) {
          }
        }
        &:nth-child(3) {
          // border: 1px solid #000;
          .c-prd-register {
            // margin-right: rem($margin24px);
          }
        }
        &.swiper-slide-active {
          margin: 0;
          .c-prd-register {
            // margin: 0;
          }
        }
      }
      .c-prd-register {
        border-radius: rem($radius20);
        padding: rem($padding20px);
        background: $white;
        border: 2px solid transparent;
        p {
          text-align: left;
          line-height: rem(14px);
        }

        &__prdinfo {
          display: flex;
          // align-items: center;
          align-items: flex-start;
          flex-direction: row-reverse;
          gap: rem(12px);
          justify-content: space-between;
          // padding: rem($padding12px) 0 rem($padding20px);
          img {
            width: rem(80px);
            max-width: inherit;
          }
        }

        &__prdtxt {
          // margin-left: rem($margin10px);
          text-align: left;

          @include screen(tablet) {
            width: 50%;
          }

          p {
            color: $active-red;
            line-height: rem(14px);
            margin-bottom: rem($margin10px);
            @include ellipsis(1);

            @include screen(web) {
              // font-weight: $font-semibold;
            }
          }

          .c-prd-tit {
            // color: $gray3;
            @include ellipsis(2);
            min-height: rem($height48px);
          }

          .c-prd-num {
            color: $gray6;
            font-size: rem(12px);
            line-height: rem(14px);
          }

          .button {
            // display: inline-flex;
            margin-top: rem($margin12px);

            @include screen(web) {
              margin-top: rem($margin20px);
            }
          }
        }

        .button.c-cta {
          // margin: 0 rem($margin20px);
        }

        &.c-prd-cart {
          .button {
            .c-btn-more {
              text-decoration: underline;
              display: inline-block;
              margin-right: rem($margin20px);
            }
          }
        }

        @include screen(web) {
          padding: rem($padding24px);
          border-radius: rem($radius28);
          // border: 2px dashed lime;
          margin: 24px 0;
          margin-right: 0;
          border: 2px solid transparent;
          &:last-child {
            // margin-right: 24px;
          }
          // &:first-child {
          //     margin-left: 24px;
          // }
          p {
            line-height: rem(14px);
          }

          &__prdinfo {
            img {
              width: auto;
              // border-radius: $radius6;
            }
          }

          &__prdtxt {
            // color: $gray3;
            margin-left: 0;
            // margin-bottom: rem($margin4px);

            .c-prd-num {
              font-size: rem(16px);
              line-height: rem(24px);
            }
          }
        }

        @include screen(tablet) {
          &__prdinfo {
            display: block;
            .cmp-image {
              text-align: center;
              img {
                object-fit: cover;
                max-width: rem(132px);
                width: auto;
              }
            }
          }

          &__prdtxt {
            margin-left: 0;
            width: auto;
            margin-top: rem($margin8px);
          }
        }
      }

      .c-prd-induce {
        border: 2px solid $grayd;
        padding: rem($padding30px);
        border-radius: rem($radius6);
        p {
          margin-top: rem($margin4px);
        }

        .button {
          margin-top: rem($margin24px);
        }
      }

      &.emptyCard {
        border-radius: rem($radius20);
        // min-height: rem(170px);
        align-items: center;
        justify-content: center;
        background: $light-gray1;
        padding: rem($padding36px $padding50px);
        display: flex;
        @include screen(mobile) {
          display: none;
        }
        .c-prd-register {
          background: none;
        }

        p {
          // line-height: rem(22px);
          // min-height: rem(66px);
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .c-prd-register {
          border: none;
          padding: 0;
        }

        @include screen(web) {
          // padding: rem($padding44px) rem($padding32px);
          border-radius: rem($radius28);
          margin: rem($margin24px 0);
          padding: 0;
          p {
            // min-height: rem(88px);
          }
          .c-prd-register {
            border: none;
            padding: 0;
            width: 100%;
            height: 100%;
            position: relative;
            &__to-list {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              $icon: '&:after';
              #{$icon} {
                $size-w: calc(78 / 448 * 100%);
                $size-m: calc(30 / 159 * 100%);

                content: '';
                display: block;
                min-width: rem($min-width62px);
                width: $size-m;
                height: 100%;
                background: {
                  image: url($icon-plus-grayb-78-78);
                  repeat: no-repeat;
                  size: 100% auto;
                  position: 50% 50%;
                }
                @include screen(web) {
                  width: $size-w;
                }
              }
              &:hover,
              &:focus-visible {
                outline-offset: rem($border1 * -1);
              }
            }
          }
        }

        @include screen(tablet) {
          // min-height: rem(236px);
          // padding: rem($padding31px) rem($padding32px);
        }
      }

      &:not(.emptyCard) {
        &:hover {
          // background-color: $gray58;

          .c-prd-register {
            @include screen(web) {
              // border: 1px solid $red;
            }

            // background-color: $gray58;
            cursor: pointer;
            &__prdtxt {
              p {
                // color: $white;
              }
              .c-prd-tit {
                // color: $white;
              }
              .button {
                .c-button {
                  // color: $white;
                }
              }
            }
          }
        }
      }

      &.custom-active:not(.emptyCard) {
        // border: 2px solid $red;
        // border: 2px solid #ea1917;
        // border-radius: rem($radius20);

        .c-prd-register {
          border: 2px solid $black;
          border-radius: rem($radius20);
        }

        .c-prd-induce {
          border: 2px solid $red;
        }
        &:hover {
          // background: $gray58;
        }
      }
    }

    .swiper-slide:nth-child(n + 4) {
      display: none;
    }

    .c-carousel {
      column-gap: rem($gutter-w);
      position: relative;

      &__item {
        border-radius: rem($radius8);

        &:only-child {
          @include screen(web) {
            max-width: rem(columns(3, false));
          }

          @include screen(mobile) {
            max-width: rem(columns(4, true, mobile));
            // must be cascade inline style from swiper.
            margin-left: auto !important;
            margin-right: auto !important;
          }
        }

        .c-text-contents__headline {
          padding: 0;
        }
      }

      &__handler {
        margin-top: rem(-$margin30px);
        padding-bottom: 0;
        order: 3;
        &.hidden {
          display: none;
        }
        + .button.c-cta {
          order: 2;
          display: flex;
          justify-content: center;
          position: absolute;
          margin-top: rem(-68px);
          .c-button {
            // color: $gray3;
          }

          &.hidden {
            display: none;
          }
        }

        @include screen(web) {
          display: none;
          margin-top: rem($margin92px);

          + .button.c-cta {
            width: 100%;
            // margin-top: rem($margin40px);
            justify-content: end;
            // margin-top: rem(-42px);
            max-width: none;
            margin-left: 0;
            margin-top: 0;
            left: 0;
            top: rem(-48px);
            .c-button {
              // color: $gray3;
            }
          }
        }
      }
    }

    .c-image {
      display: inline-block;
      max-width: rem($max-width120px);
      max-height: rem($max-width120px);

      @include screen(web) {
        max-width: rem(200px);
        max-height: rem(200px);
      }
    }

    // vendor : fit to this component
    .swiper {
      @include inset-padding-hz(mobile);

      @include screen(web) {
        padding: 0;
      }

      &-wrapper.swiper-steady {
        justify-content: center;
      }
    }

    // layout : margin
    $text: '.c-text-contents';
    $image: '.c-image';
    $carousel: '.c-carousel';
    .carousel {
      &.panelcontainer {
        // margin-top: rem(-50px);
      }
    }
    .c-viewMore-btn {
      margin-left: rem($margin16px);
      max-width: calc(100% - 80px);
      @include ellipsis(1);
      white-space: normal;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      @include screen(mobile) {
        position: absolute;
        bottom: rem(176px);
        z-index: $z-index2;
        left: 0;
      }
      + .carousel {
        &.panelcontainer {
          margin-top: rem(-50px);
        }
      }
      @include screen(web) {
        justify-content: end;
        margin: rem(-46px 0 46px 0);
        + .carousel {
          &.panelcontainer {
            margin-top: 0;
          }
        }
      }
    }
    #{$carousel} {
      // margin-top: rem($margin20px);
      display: flex;
      flex-direction: column;
      padding-top: rem($padding20px);
      margin-bottom: rem($margin24px);
      position: relative;
      overflow: inherit;
      &.noEmptyCard {
        padding-top: 0;
      }
      @include screen(web) {
        background: $white;
        padding: rem(0 $padding24px);
        border-radius: rem($radius32);
        .swiper-wrapper {
          // width: calc((100% - 48px));
        }
      }
    }

    #{$image} + #{$text} {
      margin-top: rem($margin10px);

      @include screen(web) {
        margin-top: rem($margin20px);
      }
    }
    .searchbar {
      padding-left: rem($padding16px);
      padding-right: rem($padding16px);
      padding-top: rem($padding16px);
      @include screen(web) {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .searchBar__infoMsg + .searchbar {
      padding-top: 0 !important;
    }
    .panelcontainer + .searchBar__infoMsg {
      margin-top: rem(40px);
      @include screen(web) {
        margin-top: rem(48px);
      }
    }
    .CS0065__container {
      padding-left: 0;
      padding-right: 0;
      @include screen(web) {
        padding-left: rem(24px);
        padding-right: rem(24px);
      }
    }
    .searchBar__infoMsg {
      margin-left: rem($margin16px);
      margin-right: rem($margin16px);
      @include screen(web) {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  .c-selecting__prd {
    padding: rem($padding24px $padding16px 0);
    position: relative;
    // border-top: 1px solid $mid-gray1;

    .c-selected-registered-prd {
      position: relative;
      display: flex;
      gap: rem(10px);
      background: $white;
      padding: rem($padding20px);
      border-radius: rem($radius20);
      .c-image__img {
        max-width: none;
        width: rem(48px);
      }
    }
    .c-btn-close {
      position: absolute;
      right: rem(20px);
      top: rem(20px);
    }
    @include screen(web) {
      // border-top: none;
      max-width: $design-grid-full;
      padding: 0;
      .c-selected-registered-prd {
        margin: rem($margin48px) auto 0;
      }
    }
  }
  &.c-selected-model {
    flex-direction: column;
    padding: 0;
    .breadcrumb {
      padding: 0;
      max-width: 100%;
      width: 100%;
      background-color: #fff;
      border: none;

      .breadcrumb__wrap {
        width: 100%;
        margin: 0;
      }
    }
    .c-selected-model-Num {
      width: 100%;
    }
  }

  .c-warning {
    color: $heritage-red;
  }
}

.type-accordion {
  .CS0065 {
    .CS0013 {
      .breadcrumb {
        padding: rem($padding20px 0) !important;
        @include screen(web) {
          padding: rem($padding20px $padding48px) !important;
        }
      }
    }
    &.c-selected-model {
      .breadcrumb__wrap {
        padding-bottom: 0;
        @include screen(web) {
          padding-bottom: rem($padding20px);
        }
      }
      .c-btn-close {
        padding: rem($padding10px);
        z-index: 1;
        img {
          display: block;
        }
      }
    }
  }
}
.productcategorylist {
  .CS0065.c-selected-model {
    .c-btn-close {
      padding: rem($padding10px);
      z-index: 1;
      img {
        display: block;
      }
    }
  }
}
