@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.CM0003';
#{$component} {
  overflow: visible;
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
  > .component > .cmp-container {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
  }
  // sns-share
  .c-sns-share {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: rem($margin24px);
    padding-bottom: rem($padding24px);
    border-bottom: rem($border1) solid $mid-gray1;
    .c-icon-button {
      vertical-align: top;
    }
  }
  // tooltip
  .c-tooltip {
    &__container {
      top: rem($padding14px);
      right: 0;
    }
  }
  // list
  .c-list {
    @include reset-list-style;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem($margin12px);
    margin-top: rem($margin12px);
    .only-mobile {
      display: none;
    }
  }
}
