@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.ST0037';
#{$component} {
  > .component > .cmp-container {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
  }

  // block : back list
  $back-list: '.c-back-list';
  // #{$back-list} {
  //     padding-top: rem($padding20px);

  //     @include screen(web) {
  //         padding-top: rem($padding24px);
  //     }
  // }

  // block : cta
  $c-cta: '.c-cta';
  $button: '.c-button';
  .c-cta {
    @include screen(mobile) {
      justify-content: flex-start;
    }
    @at-root #{$component} #{$back-list} #{$button} {
      @include screen(mobile) {
        // margin: 0 auto;
        // &--text-icon {
        //     margin: 0 auto 0 0;
        // }
      }
    }
  }
}
