@charset "UTF-8";

@use '../../scss/abstract/' as *;

// select shop tab
$component: '.BU0005';
#{$component} {
  .c-roll-selector {
    &__item-image {
      display: block;
    }
    &__item {
      @include screen(phone) {
        flex-basis: calc(100% / 3 - rem($margin8px));
      }
      @include screen(custom, rem(320px), max) {
        flex-basis: calc(100% / 2 - rem($margin8px));
      }
      &-name {
        * {
          display: block;
          @include screen(mobile) {
            font-weight: normal;
          }
        }
      }
    }
  }
}
