@charset "UTF-8";

@use '../../scss/abstract/' as *;
// @use './dialog' as *;

$component: '.PR0005';
#{$component} {
  // element
  > .component {
    @include container($maximum, false);
    > .cmp-container {
      @include container($design-grid-full, true);
    }
  }
  .c-promotion-detail {
    .c-cta {
      @include screen(mobile) {
        flex-direction: column;
      }
    }
  }

  // theme
  &.bg-default {
    .c-promotion-detail__msg-box {
      color: $black;
      background-color: $white;
    }
    .c-promotion-detail__msg-box-description {
      color: $gray3;
    }
  }
  &.bg-black {
    .c-promotion-detail__msg-box {
      color: $white;
      background-color: $dark-gray2;
    }
    .c-pop-msg {
      .c-button[class*='-text'] {
        color: $black;
        &[class*='-icon'] {
          &:after {
            background-image: url($icon-arrow-black-right-7-12-2);
            @include screen(web) {
              background-image: url($icon-arrow-black-right-9-14);
            }
          }
        }
      }
      .tabs {
        .cmp-tabs__tab {
          color: $gray3;
        }
      }
    }
  }
}
// dialog
.c-pop-msg {
  .c-post-form {
    input[type='text']:read-only {
      color: $black;
      opacity: 0.7;
    }
    input[type='date'] {
      position: relative;
      text-align: left #{'/*!rtl:right*/'}; /* 230516 RTL */
      flex-direction: row #{'/*!rtl:row-reverse*/'}; /*! 230516 RTL */
      @supports selector(::-webkit-calendar-picker-indicator) {
        &::-webkit-calendar-picker-indicator {
          background: transparent;
          z-index: 1;
          cursor: pointer;
        }
        &:after {
          content: '';
          position: absolute;
          z-index: 0;
          right: rem($padding13px);
          top: 50%;
          transform: translateY(-50%);
          width: rem($icon24px);
          height: rem($icon24px);
          background : {
            image: url($icon-calendar-black-24-24);
            size: 100% auto;
            color: inherit;
          }
        }
      }
      &::before,
      &:focus::before {
        content: attr(placeholder);
        width: 100%;
      }
      &:valid::before {
        content: normal;
      }
    }
    &__intro {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include screen(web) {
        margin-top: rem($margin30px - $padding20px);
      }
      .c-button[class*='-text']:after {
        transform: rotate(180deg) #{'/*!rtl:rotate(0)*/'};
      }
    }
    &__group-box {
      &--full {
        width: 100%;
      }
      &.form_textarea {
        position: relative;
        .c-warning {
          position: absolute;
          left: 0;
          bottom: 3px;
          margin: 0;
        }
      }
    }
    &__dateAnum {
      display: flex;
      flex-wrap: wrap;
      gap: rem($margin16px);
      width: 100%;
      @include screen(web) {
        gap: rem($gutter-w);
      }
      .c-post-form__group {
        width: 100%;
      }
      .c-post-form__group:first-child {
        .c-upload-item__buttons {
          @include screen(web) {
            margin-top: rem($margin28px);
          }
        }
      }
      .c-post-form__group:nth-child(n + 2) {
        .c-input-item {
          label {
            display: none;
          }
        }
      }
    }
    &__group {
      .c-post-form__group.inner {
        width: 100%;
        @include screen(web) {
          flex: 1;
        }
        .c-post-form__item {
          flex: 1;
          min-width: 100%;
          @include screen(web) {
            flex: 1;
            max-width: 100%;
            min-width: calc(100% / 4 - rem($gutter-w * 1));
          }
        }
      }
    }
    &__group-divide-line {
      border-top: rem($border1) solid $mid-gray1;
      padding-top: rem($padding20px);
      @include screen(web) {
        padding-top: rem($padding24px);
      }
    }
    &__complementary-area {
      margin-top: rem($margin8px);

      // font
      font-size: rem(14px);
      line-height: rem(16px);
      .c-button {
        margin-top: rem($margin8px);
      }
    }
    &__container {
      @include screen(mobile) {
        gap: rem($margin20px);
      }
    }
  }
  .c-line-progress {
    @include reset-list-style;
    display: flex;
    column-gap: rem($margin4px);
    &__step {
      flex: 1;
      color: $gray3;
      text-align: center;
      padding: rem(0 $padding10px);
      border-bottom: rem($border2) solid currentcolor;
      opacity: 0.7;
    }
    &__step--active {
      color: $black;
      opacity: 1;
    }
    &__name {
      font-size: rem(12px);
      line-height: rem(14px);
      @include screen(web) {
        font-size: rem(16px);
        line-height: rem(20px);
      }
    }
  }
  .js-clipboard-copy {
    display: inline-flex;
    align-items: center;
    gap: rem($margin8px);

    // font
    color: $active-red;

    $icon: '&:after';
    #{$icon} {
      content: '';
      display: inline-block;
      width: rem($icon12px);
      height: rem($icon12px);
      background: {
        image: url($icon-rect-layer-red-12-12);
        size: 100% auto;
        repeat: no-repeat;
      }
    }
  }
  .c-upload-item {
    &__container {
      display: flex;
      flex-direction: column;
      gap: rem($margin10px);
      width: 100%;
      > *:not(.c-upload-item__indicator) {
        flex-shrink: 0;
      }
      @include screen(web) {
        flex-direction: row;
        column-gap: rem($margin24px);
      }
    }
    &__indicator {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: rem($gutter-m);
      height: rem($height44px);
      border-radius: rem($form-radius);
      border: rem($border1) solid $mid-gray1;
      padding-left: rem($padding13px);
      padding-right: rem($padding13px);
      @include screen(web) {
        flex: 1;
      }
      // helper
      &:not(.fill) {
        color: $mid-gray2;
      }
    }
    &__indicate-file-name {
      color: $mid-gray2;

      // font
      font-size: rem(16px);
      line-height: rem(20px);
    }
    &__file-name {
      @include ellipsis;
    }
    &__file-remover {
      cursor: pointer;
      display: none;
      flex-shrink: 0;
      width: rem($icon24px);
      height: rem($icon24px);
      border-radius: 50%;
      border: none;
      background : {
        image: url($icon-close-white-16-16);
        size: rem(10px 10px);
        repeat: no-repeat;
        color: $mid-gray3;
        position: 50% 50%;
      }
      @at-root .c-upload-item .fill .c-upload-item__file-remover {
        display: block;
      }
    }
    &__buttons {
      display: flex;
      column-gap: rem($margin8px);
      @include screen(web) {
        column-gap: rem($margin16px);
      }
    }
    &__button {
      cursor: pointer;
      display: flex;
      align-items: center;
      height: rem($height44px);
      padding: rem($padding11px);
      border-radius: rem($radius999);
      border: rem($border1) solid $mid-gray1;
      background: none;
      &:after {
        content: '';
        width: rem($icon18px);
        height: rem($icon18px);
        background: {
          image: url($icon-plus-black-20-20);
          size: 100% auto;
          color: inherit;
        }
        @include screen(web) {
          width: rem($icon20px);
          height: rem($icon20px);
        }
      }
      &:disabled,
      &[disabled] {
        cursor: default;
        &:after {
          opacity: 0.3;
        }
      }
    }
    &__button--remove {
      &:after {
        background: {
          image: url($icon-minus-black-20-20);
        }
      }
    }
    &__open-explorer {
      position: relative;
      input[type='file'] {
        position: absolute;
        width: 1px;
        height: 1px;
        clip: rect(1, 1, 1, 1);
        overflow: hidden;
        opacity: 0;
        &:focus-visible + .c-upload-item__label {
          outline: rem(2px) solid currentcolor;
          outline-offset: 1px;
        }
      }

      // font
      font-size: rem(16px);
      line-height: rem(16px);
    }
    &__description {
      color: $mid-gray2;
      margin-top: rem($margin8px);
    }

    // layout : margin
    + .c-upload-item {
      margin-top: rem($margin12px);
    }
  }
  .c-field-group {
    // element
    &__line {
      // ....
    }
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: rem($gutter-w);
    }
    &__box {
      display: flex;
      flex-direction: column;
      row-gap: rem($margin12px);
      @include screen(web) {
        gap: rem($margin8px $gutter-w);
      }
      // modifier
      &--w-row-flow {
        @include screen(web) {
          flex-direction: row;
        }
      }
      &--w-column3 {
        flex-wrap: wrap;
        @include screen(web) {
          > * {
            flex-basis: calc(100% / 3 - rem($gutter-w) / 3 * 2);
          }
        }
      }
      .c-radio-item .label {
        // font
        font-size: rem(16px);
        line-height: rem($height20px); // fit to radio checkbox height
      }
    }
    &__description {
      padding-left: rem($padding12px);

      // font
      font-size: rem(16px);
      line-height: rem(20px);
      a {
        color: $active-red;
        text-decoration: underline;
      }
    }
    // modifier
    &--agreement-fields {
      display: flex;
      flex-direction: column;
      row-gap: rem($margin8px);

      // font
      font-size: rem(14px);
      line-height: rem(16px);
      @include screen(web) {
        font-size: rem(16px);
        line-height: rem(20px);
      }
    }
    &--reward-fields {
      .c-field-group__box:not([class*='--w-row-flow']) {
        background-color: $white;
        padding: rem($padding16px);
        @include lgness-radius('default');
        @include screen(web) {
          padding: rem($padding20px);
        }
      }
    }

    &__header + .c-field-group__box {
      margin-top: rem($margin10px);
      @include screen(web) {
        margin-top: rem($margin20px);
      }
    }
  }
  .c-radio-item {
    position: relative;

    $selected: 'input:checked ~';
    #{$selected} label {
      border: rem($border2) solid $black;
    }

    // modifier
    &--floating-label {
      label {
        @include lgness-radius('default');
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        cursor: pointer;
      }
    }
  }
  .c-option-information {
    $sku: '.c-text-contents__eyebrow';
    $ufn: '.c-text-contents__headline';
    $image: '.c-image';

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: rem($margin16px);
    height: 100%;
    background-color: $white;
    padding: rem($padding16px $padding13px);
    @include lgness-radius('default');
    @include screen(web) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: rem($padding20px);
    }

    #{$image} {
      max-width: rem($width64px);
      height: rem($width64px);
      flex-shrink: 0;
      @include screen(web) {
        max-width: rem($width160px);
        height: rem($width160px);
      }
      .cmp-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        &__image {
          width: auto;
          max-height: 100%;
        }
      }
    }
    #{$sku} + #{$ufn} {
      margin-top: rem($margin4px);
      @include screen(web) {
        margin-top: rem($margin6px);
      }
    }
  }
  .c-completion {
    // element
    &__primary-area {
      color: $mid-gray3;
    }
    &__description-area {
      color: $gray3;
    }
    &__head {
      color: $black;
    }
    &__paragraph {
      &.flex-container {
        display: flex;
        flex-direction: column;
      }
    }

    // layout : margin
    &__primary-area {
      .c-completion__paragraph + .c-completion__paragraph {
        margin-top: rem($margin10px);
        @include screen(web) {
          margin-top: rem($margin20px);
        }
      }
    }
    .c-completion__description-area {
      .c-completion__paragraph + .c-completion__paragraph {
        margin-top: rem($margin8px);
        // @include screen(web) {
        //     margin-top: rem($margin4px);
        // }
      }
      .c-button {
        margin-top: rem($margin16px);
      }
    }
    * + .c-completion__description-area {
      margin-top: rem($margin20px);
      @include screen(web) {
        margin-top: rem($margin24px);
      }
    }
    * + .js-clipboard-copy {
      margin-top: rem($margin4px);
      @include screen(web) {
        margin-top: rem($margin8px);
      }
    }

    // font
    &__paragraph {
      font-size: rem(14px);
      line-height: rem(16px);
    }
  }
  .c-table-field {
    display: flex;
    flex-direction: column;
    gap: rem($margin12px);
    background-color: $white;
    padding: rem($padding20px $padding16px);
    @include lgness-radius('inner/medium');
    @include screen(web) {
      flex-flow: wrap row;
      gap: rem($margin20px $gutter-w);
      padding: rem($padding20px);
    }
    &__item {
      @include screen(web) {
        flex: 1;
        min-width: calc(100% / 2 - rem($gutter-w) / 2);
        max-width: 100%;
      }
      // helper
      &.full {
        min-width: 100%;
      }
      // modifier
      &--line-bottom {
        padding-bottom: rem($padding16px);
        border-bottom: rem($border1) solid $mid-gray1;
        @include screen(web) {
          padding-bottom: rem($padding16px);
        }
      }
    }
    &__item-name {
      color: $mid-gray2;
      // font
      font-size: rem(16px);
      line-height: rem(18px);
    }
    &__item-data {
      // font
      font-size: rem(16px);
      line-height: rem(20px);

      ul {
        @include reset-list-style;
        display: flex;
        flex-direction: column;
        border-bottom: rem($border1) solid $mid-gray1;
        &.claim-status {
          border-bottom: 0;
          li {
            padding-bottom: 0;
            .claim-status-title {
              @include screen(web) {
                max-width: calc(27% - 1.5rem);
              }
            }
          }
        }
        li {
          display: flex;
          flex-direction: column;
          gap: rem($margin4px);
          padding-bottom: rem($padding16px);
          @include screen(web) {
            flex: 1;
            flex-direction: row;
            gap: rem($gutter-w);
          }
          span {
            flex: 1;
            max-width: 100%;
            word-break: break-word;
            @include screen(web) {
              &:nth-child(1) {
                min-width: calc(27% - 1.5rem);
              }
              &:nth-child(2) {
                min-width: calc(33% - 1.5rem);
              }
              &:nth-child(3) {
                min-width: calc(20% - 1.5rem);
              }
              &:nth-child(4) {
                min-width: calc(20% - 1.5rem);
              }
            }
          }
        }
        li + li {
          border-top: rem($border1) solid $mid-gray1;
          padding: rem($padding16px) 0;
        }
      }
    }

    // modifier
    &--stack-free {
      ul.select-ul {
        @include reset-list-style;
        display: flex;
        gap: rem(24px);
        flex-direction: column;
        @include screen(web) {
          align-items: center;
        }
        li {
          .radio-text {
            padding: rem($padding20px) rem($padding13px);
            @include screen(web) {
              text-align: center;
              padding: rem($padding40px) rem($padding20px);
            }
          }
          .label-cashback {
            margin: rem($margin20px) rem($padding13px);
            @include screen(web) {
              margin: rem($margin14px) rem($padding20px);
            }
          }
        }
      }
    }
    .c-table-field__item-name + .c-table-field__item-data {
      margin-top: rem($margin8px);
    }
  }
  .cashback-select {
    label {
      cursor: pointer;
    }
    .label-cashback {
      border: 2px solid transparent;
      p {
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-image: url($icon-cashback-48-48);
        background-size: rem(48px) rem(48px);
        background-position: left center;
        background-repeat: no-repeat;
        padding-left: rem($padding56px);
      }
    }
    input[type='checkbox'] {
      &:checked + .label-cashback {
        border: 2px solid $black;
      }
      &:focus-visible + .label-cashback {
        outline: 2px dashed $black;
        outline-offset: -5px;
      }
    }
  }
}
