@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.AL0011';
#{$component} {
  > .component > .cmp-container {
    .c-detail-area {
      width: 100%;
      max-width: rem(1440px);
      padding: rem($padding25px) 0 0;
      &__title {
        padding: 0 rem($padding25px);
        @include screen(web) {
          background-color: $white;
          padding: rem($padding48px) rem(196px) 0 rem($padding48px);
          @include lgness-radius('default');
          border-bottom-left-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
        }
        .c-text-contents {
          border-bottom: rem($border1) solid $grayd;
          .cmp-title {
            padding-bottom: rem($padding20px);
          }
        }
      }
      &__content {
        @include screen(web) {
          background-color: $white;
          @include lgness-radius('default');
          border-top-right-radius: 0 !important;
          border-top-left-radius: 0 !important;
          padding-bottom: rem($padding24px);
        }
      }
    }
    @include screen(web) {
      @include container($design-grid-full, true);
      @include inset-padding-hz;
    }
    .c-finder {
      margin-top: rem($margin20px);
      @include screen(web) {
        margin-top: rem($margin40px);
        @include lgness-radius('default');
        overflow: hidden;
      }
    }
    .c-search-box {
      &__header {
        @include screen(web) {
          display: none;
        }
      }
      &__form {
        flex: 0 0 0;
        label {
          @include screen(web) {
            display: none;
          }
        }
      }
      .c-input-label {
        width: auto;
        flex: 0 0 auto;
      }
      &__body {
        .c-search-box__header {
          display: none;
          @include screen(web) {
            margin-top: 0;
            display: block;
            margin-bottom: 0;
            font-size: rem(24px);
            line-height: rem(40px);
            font-weight: $font-semibold;
            white-space: nowrap;
          }
        }
      }
    }
  }
  .cmp-press-release {
    list-style: none;
    padding: 0 rem(25px);
    margin-bottom: 0;
    @include screen(web) {
      padding: 0 rem(48px);
    }
    &-list {
      border-bottom: rem($border1) solid $grayd;
      &:last-child {
        border-bottom: none;
      }
      a {
        padding: rem($padding24px) 0;
        display: block;
        position: relative;
        @include screen(web) {
          padding: rem($padding40px) 0;
          &:hover {
            .cmp-press-release-title {
              text-decoration: underline;
            }
          }
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
    &-title {
      @include ellipsis(4);
      max-height: rem(112px);
      font-size: rem(24px);
      line-height: rem(28px);
      font-weight: $font-semibold;
      @include screen(web) {
        display: block;
        padding: 0;
      }
    }
    &-info {
      margin-top: rem($margin20px);
      color: $gray3;
      font-size: rem(14px);
      display: flex;
      line-height: rem(14px);
      align-items: center;
      > div {
        &:nth-child(n + 2) {
          margin-left: rem($margin10px);
          border-left: rem($border1) solid $graye6;
          padding-left: rem($margin10px);
        }
      }
    }
    &-writer {
      font-weight: $font-semibold;
    }
    + .cmp-press-release-term {
      @include screen(web) {
        position: relative;
        &::before {
          position: absolute;
          left: rem(-10px);
          top: 0;
          content: '';
          display: block;
          width: rem(1px);
          height: 100%;
          background-color: $graye6;
        }
      }
    }
  }
  button {
    border: none;
    padding: rem($padding32px) 0;
  }
  .more-btn {
    margin-top: rem($margin20px);
    text-align: center;
    @include screen(web) {
      margin-top: rem($margin40px);
    }
  }
}
