@charset "UTF-8";
@use '../../scss/abstract/' as *;
@use '../CS0000/CS0000' as *;

// component
$component: '.CS0029';

#{$component} {
  // variable
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  $mobile-width: calc(100% - rem($margin25px * 2));
  &__container {
    @include flex-context;
    @include container($design-grid-full, true);
    @include inset-padding-hz(mobile);

    @include screen(web) {
      @include flex-context;
    }

    @include screen(tablet) {
      @include inset-padding-hz;
    }
  }

  // Support HEADER
  #{$cs-header} {
    margin-bottom: rem($margin20px);

    a {
      color: $red;
      text-decoration: underline;
    }

    @include screen(web) {
      margin-bottom: rem($margin40px);
    }

    @at-root #{$component} #{$cs-header} {
      #{$text-contents} {
        // text-align: center;
      }

      #{$text-contents}__headline {
        display: block;
      }

      #{$text-contents}__headline + #{$text-contents}__bodycopy {
        margin-top: rem($margin6px);

        @include screen(web) {
          margin-top: rem($margin10px);
        }
      }
    }
  }

  .c-cta {
    display: block;
    margin-top: rem($margin20px);
  }

  // block : text contents
  .c-text-contents {
    width: 100%;

    &__bodycopy {
      color: $gray3;
    }

    // layout : margin
    @at-root #{$component} {
      #{$text-contents}__headline {
        display: none;
      }

      #{$text-contents}__headline + #{$text-contents}__subcopy {
        line-height: rem(24px);

        @include screen(web) {
          line-height: rem(26px);
        }
      }

      #{$text-contents}__subcopy + #{$text-contents}__bodycopy {
        margin-top: rem($margin4px);
      }
    }
  }

  .type-tabs {
    #{$component}__container {
      padding-left: 0;
      padding-right: 0;
      max-width: none;
    }

    .c-tabs {
      &__inner {
        display: block;
        border-bottom: 1px solid $grayd;

        .c-tabs__desc {
          margin-top: rem($margin8px);
          color: $gray6;
          text-align: left;
        }

        .c-tabs__tablist {
          scroll-behavior: smooth;
          overflow-x: unset;
          overflow-y: unset;
          gap: 0;
          padding-right: 0;
          padding-left: 0;
          display: inline-flex;
          height: rem(56px);
          width: 100%;

          @include screen(web) {
            @include flex-context;
            @include container($design-grid-full, false);
            display: flex;
            height: rem(84px);
          }

          li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            height: 100%;
            padding: 0 rem($padding12px);
            font-size: rem(16px);

            &::after {
              bottom: 0;
              @include screen(web) {
                height: rem(4px);
              }
            }

            &.cmp-tabs__tab {
              a {
                color: $gray3;
                font-weight: 400;

                &:active,
                &:hover {
                  text-decoration: none;
                }
              }

              &--active {
                color: $black;
                a {
                  color: $black;
                }
              }
            }

            @include screen(web) {
              flex: 1;
              padding: 0 !important;
              font-size: rem(32px);
            }
            &:first-child {
              padding-left: rem($padding16px);
              padding-right: 0;
              margin-right: 0;
              margin-right: rem($margin12px);

              &::after {
                left: rem(16px);
                width: calc(100% - rem(16px));

                @include screen(web) {
                  left: 0;
                  width: 100%;
                  // left: rem(50px);
                  // width: calc(100% - rem(50px));
                }
              }
            }

            &:last-child {
              padding-right: rem($padding25px);
              padding-left: 0;
              margin-left: 0;
              margin-left: rem($margin12px);

              &::after {
                right: rem(25px);
                width: calc(100% - rem(25px));

                @include screen(web) {
                  right: 0;
                  width: 100%;
                  // right: rem(50px);
                  // width: calc(100% - rem(50px));
                }
              }
            }

            button {
              width: 100%;
              height: 100%;
              font-size: rem(14px);
              color: $gray3;
              font-weight: 700;

              &:after {
                bottom: 0;
              }

              &.cmp-tabs__tab {
                &--active {
                  color: black;
                }
              }

              @include screen(web) {
                font-size: rem(18px);
              }
            }
          }
        }
      }

      &__tabpanel {
        .container {
          padding: rem($padding24px $padding48px);

          @include screen(web) {
            @include flex-context;
            @include container($design-grid-full, true);
            @include inset-padding-hz;
            padding-top: rem($padding60px);
            padding-bottom: rem($padding60px);
          }

          @include inset-padding-hz(mobile);

          @include screen(tablet) {
            @include inset-padding-hz;
          }
        }

        .tab-panels {
          @include screen(web) {
            padding-bottom: rem($padding60px);
          }
        }
      }
    }
  }

  .c-registration-number {
    margin: rem($margin12px 0);
    padding: rem($padding20px);
    list-style: none;
    background: $white;
    border-radius: rem($radius20);

    @include screen(desktop) {
      display: flex;
    }

    @include screen(web) {
      margin: rem($margin20px 0);
      padding: rem($padding80px);
      border-radius: rem($radius28);
    }

    &__item {
      @include screen(desktop) {
        flex: 1;
      }

      &:first-child {
        margin-bottom: rem($margin24px);
        padding-bottom: rem($padding24px);
        border-bottom: 1px solid $mid-gray1;

        @include screen(desktop) {
          margin-bottom: 0;
          margin-right: rem($margin80px);
          padding-bottom: 0;
          padding-right: rem($padding80px);
          border-bottom: 0;
          border-right: 1px solid $mid-gray1;
        }
      }

      p {
        @include screen(web) {
          flex-shrink: 0;
          // width: rem(290px);
          text-align: left;
        }
      }
    }

    &__number {
      margin-top: rem($margin4px);

      @include screen(web) {
        margin-top: rem($margin8px);
      }
    }
  }

  .c-list {
    $c-list: '.c-list';

    display: flex;
    flex-direction: column;
    margin-top: rem($margin12px);
    gap: rem(12px);

    @include screen(web) {
      flex-direction: row;
      gap: rem(24px);
      margin-top: rem($margin24px);
    }

    &__item {
      display: flex;
      justify-content: space-between;
      flex: 1 1 40%;
      gap: rem(20px);
      margin: 0;
      padding: rem($padding20px);
      background-color: $light-gray3;
      border-radius: rem($radius20);

      @include screen(web) {
        padding: rem($padding28px);
        border-radius: rem($radius28);
      }

      &:first-child {
        position: relative;

        &:after {
          @include screen(web) {
            content: '';
            display: block;
            position: absolute;
            width: 1px;
            height: 100%;
            background: $grayd;
            right: 0;
            content: none;
          }
        }
      }

      dd {
        position: relative;
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        margin-top: rem($margin4px);
        margin-bottom: rem($margin8px);

        @include screen(web) {
          margin-bottom: rem($margin18px);
        }

        // a {
        //     color: $red;
        //     text-decoration: underline;
        // }
      }

      #{$c-list}__image {
        padding-left: 0;
        margin-top: 0;

        &:before {
          display: none;
        }

        .cmp-image {
          overflow: hidden;
          margin: 0 auto;
          border-radius: $border8;
          border: 1px solid $grayd;
        }
      }

      .button {
        margin-bottom: 0;
      }

      .cmp-button {
        &:after {
          width: rem(10px) !important;
          height: rem(10px) !important;

          background: {
            image: url($icon-arrow-right-top-10-10) !important;
            repeat: no-repeat;
            position: center;
          }
        }
      }
    }
  }

  .c-text-box {
    margin-top: rem($margin24px);
    padding-bottom: rem($margin24px);
    border-top: 1px solid $mid-gray1;
    border-bottom: 1px solid $mid-gray1;

    @include screen(web) {
      margin-top: rem($margin60px);
      padding-bottom: rem($margin60px);
    }

    & > div {
      margin-bottom: rem($margin4px);

      @include screen(web) {
        margin-bottom: rem($margin20px);
      }

      &:last-child {
        margin-bottom: 0;
      }
      p {
        a {
          display: inline-block;
        }
      }
    }

    &__bold-type {
      margin-top: rem($margin30px);

      @include screen(web) {
        margin-top: rem($margin40px);
      }
    }

    &__list-type {
      ul {
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
        margin-top: rem($margin4px);

        @include screen(web) {
          margin-top: rem($margin8px);
        }

        li {
          @include list-dot(14px, 3px, 3px, $black);

          &:before {
            top: rem(8px);
          }
        }
      }
    }

    a {
      display: block;
      text-decoration: underline;
      color: $active-red;
    }

    &__text-in-type {
      display: inline-block !important;
      color: $black !important;
    }
  }

  .c-sign {
    margin-top: rem($margin40px);

    @include screen(web) {
      margin-top: rem($margin60px);
    }

    p {
      margin-bottom: rem($margin12px);

      @include screen(web) {
        margin-top: rem($margin26px);
      }
    }

    .cmp-image {
      display: flex;
      justify-content: flex-end;

      picture {
        width: rem(120px);
        height: rem(60px);
        @include screen(web) {
          width: rem(220px);
          height: rem(110px);
        }
      }
    }
  }
}
