@charset "UTF-8";

@use '../../scss/abstract/' as *;

// component
$component: '.CM0013';
.aem-AuthorLayer-Edit {
  #{$component}.hidden {
    display: block !important;
  }
}
#{$component} {
  // element
  > .component > .cmp-container {
    // ...
  }
  // Removing top spacing. This class is used by AEM style system
  &.no-spacing {
    padding: 0 !important;
  }
  &:not(.margin-bottom) + &:not(.margin-top, .border-top) {
    padding-top: rem($padding10px);
    @include screen(web) {
      padding-top: rem($padding24px);
    }
  }
  .ST0020 {
    .c-spec-info {
      .bg-transparent {
        /* stylelint-disable-next-line selector-not-notation */
        &:not(.font-white):not(.font-black) {
          .c-text-contents__bodycopy {
            color: inherit;
          }
        }
      }
    }
  }
}
