mixin scanQrcode({mhide})
    - var option={...params}

    .c-upload-box
        .c-barcode-box
            +printLazyPicture('https://via.placeholder.com/133x133/ccc/000/?text=133x133')
            .c-barcode-box__inner
                if(mhide)    
                    p.c-hidden-mo.font-w-normal-20 You can upload product label directly using mobile.
                else
                    p.font-w-normal-20.font-m-normal-16 Available only for some products with QR codes

                .c-btn-group.mobile-only   
                    .button.c-cta 
                        +defaultButton({name: 'Scan your QR code', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: true})(aria-label="" role="button")

        // after upload
        .c-selected-model
            +printLazyPicture('https://via.placeholder.com/40x40/fff/000/?text=40x40', 'https://via.placeholder.com/80x80/fff/000/?text=64x64')
            .c-selected-model__info 
                .c-selected-model__info-wrap
                    .c-selected-model__code.font-m-normal-12.font-w-normal-16 GSXV90MCDE
                    .c-selected-model__name.font-m-normal-20.font-w-normal-32 InstaView Door-in-Door
                .c-selected-model__info-wrap
                    .c-selected-model__warranty.font-m-normal-12.font-w-normal-16 Warranty info 
                        span.c-hidden-mo :
                    .c-selected-model__warranty-info
                        .c-selected-model__warranty-labor.font-m-normal-12.font-w-normal-20 Labor 24 months
                        .c-selected-model__warranty-parts.font-m-normal-12.font-w-normal-20 Parts 24 months
            button(type="button" aria-label="" role="button").c-btn-close 
                img(src="../../assets/icon/icon-close-black-12-12.svg")
