mixin eprivacy-template 
    template
        .eprivacy-msg-page 
            .c-eprivacy.c-eprivacy--page 
                .c-eprivacy__contents.medium
                    .c-no-data 
                        strong.font-w-normal-24.font-m-normal-20 This feature is disabled in your cookie settings.
                        p.button.c-no-data__desc.font-w-normal-16.font-m-normal-16
                            | This feature is disabled in your cookie settings. 
                            <br />
                            | To activate, click on the link
                            |
                            button(type='button' class='cmp-button font-underline' data-cmp-data-layer='') 
                                span.cmp-button__text "Change cookie settings"
                            |
                            | in the top right corner of this page.
        .eprivacy-msg-layer
            .c-eprivacy.c-eprivacy--layer
                .c-tooltip.ready
                    .c-tooltip__container.bottom-left.active
                        .c-tooltip__contents.has-close
                            <button class="c-tooltip__close" type="button"><span class="sr-only">Close</span></button>
                            .c-eprivacy__contents
                                    strong.font-w-normal-16.font-m-normal-16 Change your Cookie Settings
                                    p.button.c-no-data__desc.font-w-normal-16.font-m-normal-16
                                        | This feature is disabled on your cookie management. 
                                        br
                                        | To activate it, click on the link
                                        | 
                                        a.c-eprivacy__button.c-eprivacy__button--open-layer(role='button') "Edit cookie settings"
                                        |
                                        | in the upper right corner of this page.