doctype html
// The value of data-countrycode 
// is the string at the end of the country-specific site home page url.
// example) https://www.lg.com/uz_ru : data-countrycode="uz_ru"
// This value is used when country-specific exception handling is required 
// in css or js files, such as font-family.
// -----------------------------
// Review Type (Varies by site)
// 1) BV1 - Bazaarvoice (for uk ...)
// 2) BV2 - Bazaarvoice 
// 3) LGCOM
// 4) SP - Shoppilot (for ru)
// 6) NONE - not used
html(lang="en-GB" dir="ltr" data-countrycode="GB" data-locale-code="UK" data-review-type="BV2")
    head
        - var siteName  = "the J";
        - var siteTitle = "LG GP1";
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        block meta

        // common use across the country
        meta(name="format-detection" content="telephone=no")

        // Varies by page
        meta(name="robots" content="NOODP, NOYDIR")
        // On pages that should not be taken by search engines, such as sign in, the following should be entered in the robots field
        // meta(name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, notranslate, noimageindex")
        link(name="canonical" href="https://www.lg.com/uk")

        // social tag
        meta(property='fb:app_id' content='')
        meta(property='og:locale' content='en_GB')
        meta(property='og:site_name' content='LG UK')
        meta(property='og:type' content='website')
        meta(property='og:title' content='Consumer & Home Electronics from LG | LG UK')
        meta(property='og:description' content='Welcome to LG UK. We deliver consumer electronics that allow you to embrace life and prepare you for its greatest moments. Learn about our electronics.')
        meta(property='og:url' content='https://www.lg.com/uk')
        meta(property='og:image' content='https://www.lg.com/lg5-common-gp/images/common/share/share-default.jpg')
        meta(name='twitter:card' content='summary_large_image')
        meta(name='twitter:site' content='@LGUK')

        // common use across the country
        link(rel='apple-touch-icon-precomposed' href='/assets/favicons/152x152.png' sizes='152x152')
        link(rel='apple-touch-icon-precomposed' href='/assets/favicons/144x144.png' sizes='144x144')
        link(rel='apple-touch-icon-precomposed' href='/assets/favicons/120x120.png' sizes='120x120')
        link(rel='apple-touch-icon-precomposed' href='/assets/favicons/114x114.png' sizes='114x114')
        link(rel='apple-touch-icon-precomposed' href='/assets/favicons/72x72.png' sizes='72x72')
        link(rel='apple-touch-icon-precomposed' href='/assets/favicons/57x57.png')
        link(rel='icon' type='image/png' href='/assets/favicons/228x228.png' sizes='228x228')
        link(rel='icon' type='image/png' href='/assets/favicons/195x195.png' sizes='195x195')
        link(rel='icon' type='image/png' href='/assets/favicons/128x128.png' sizes='128x128')
        link(rel='icon' type='image/png' href='/assets/favicons/96x96.png' sizes='96x96')
        link(rel='icon' type='image/png' href='/assets/favicons/32x32.png' sizes='32x32')
        link(rel='shortcut icon' href='/assets/favicons/favicon.ico')

        //- Data used for clipboard copy model name
        script(type="application/json" class="productGlobal__config" data-copy-modelname='{"copyBtnAlt":"Copy model name","closBtnAlt":"Close","successMsg":"The model name has been copied"}')

        // Styles
        // - AEM default style
        link(rel="stylesheet", href="../../assets/css/clientlib-base.lc-5a45660394383b863ca3a43c9a61490d-lc.min.css")
        // - default styles
        link(rel="stylesheet", href="../../main.css")
        // - page styles
        block styles
    
    body.plppage.page.basicpage

        // Header
        block header
        // // Header

        // Main
        main#contents
            script(type="application/json" data-component-config="snsShare")
                | {
                |     "shortUrlApi": "https://wdev50.lg.com/lg5-common-gp/data-ajax/getShortUrl.json?callback=jQuery360034817523374223835_1667445481293&_=1667445481294&longUrl={url}",
                |     "facebook": "http://www.facebook.com/sharer/sharer.php?u={shareurl}",
                |     "twitter": "https://twitter.com/intent/tweet?url={shareurl}&text={text}&via={via}",
                |     "pinterest": "http://www.pinterest.com/pin/create/button/?url={shareurl}&media={img}&description={text}",
                |     "vk": "https://share.yandex.net/go.xml?service=vkontakte&url={shareurl}&title={text}",
                |     "ok": "https://connect.ok.ru/dk?st.cmd=WidgetSharePreview&st.shareUrl={shareurl}&feature=share",
                |     "linkedin": "https://www.linkedin.com/shareArticle?url={shareurl}",
                |     "weibo": "http://service.weibo.com/share/share.php?title={text}&url={shareurl}&pic={img}",
                |     "wechat": "/assets/baidumap/baiduShare-master/static/api/js/share.js?v=89860593.js"
                | }
                
            block content
        // // Main

        // Modal
        block modal
        // // Modal

        // Footer
        block footer
        // // Footer

        // Script
        // - AEM default JS
        script(src="../../assets/js/clientlib-base.lc-d23324b05a7719ac2449be299d1d2939-lc.min.js", async)
        // - default JS
        script(src="../../main.js" type="module")
        // - dev.js is for checking markup, do not use it.
        script(src="../../dev.js")
        // - BV1 (ex: uk)
        script(src="https://display.ugc.bazaarvoice.com/static/LGElectronics-en/en_GB/bvapi.js" async)
        // - BV2 (ex: us)
        script(src="https://apps.bazaarvoice.com/deployments/lgelectronics-en/main_site/staging/en_GB/bv.js" async)
        // - Shoppilot (ex: ru)
        script.
            window._shoppilot = window._shoppilot || [];
        // script(src="//get.shoppilot.ru/f/v1/5555f1eb2866188b69006c4d/default/app.js?modules=default" async)

        // - Youreko JS
        script(src="https://static.youreko.com/js/partners/gb/lg/youreko.energy-review.lg.all.min.js" )

        // - page JS
        block scripts
