mixin loading-type01
    .loading--area-wrap
        .loading--area-inner
            .loading--img
                img(src="../../assets/icon/icon-loading.gif")

mixin loading-type02
    .loading--area-wrap
        .loading--area-inner
            .loading--img
                img(src="../../assets/icon/icon-loading.gif")
            .loading--msg
                .loading--msg-tit.font-w-normal-24.font-m-normal-20
                    | We're processing your payment.
                .loading--msg-txt.font-w-normal-16.font-m-normal-14
                    div
                        p Payment is currently being processed
                        p by the payment partner.
                    div
                        p This may take up to 60 seconds.
                        p Please wait a moment.

mixin loading-type03
    .loading--area-wrap
        .loading--area-inner
            .loading--img
                img(src="../../assets/icon/icon-loading.gif")
            .loading--msg
                .loading--msg-tit.font-w-normal-24.font-m-normal-20
                    | We're processing your payment.
                .loading--msg-txt.font-w-normal-16.font-m-normal-14
                    div
                        p You are bring redirected to payment
                        p service provider page.
                    div
                        p This may take up to 30 seconds.
                        p Please wait a moment.

mixin loading-type04
    .loading--area-wrap
        .loading--area-inner
            .loading--img
                img(src="../../assets/icon/icon-loading.gif")
            .loading--msg
                .loading--msg-tit.font-w-normal-24.font-m-normal-20
                    | We're processing your sign in.
                .loading--msg-txt.font-w-normal-16.font-m-normal-14
                    div
                        p This may take up to 30 seconds.
                        p Please wait a moment.

mixin loading-type05
    .loading--area-wrap
        .loading--area-inner
            .loading--img
                img(src="../../assets/icon/icon-loading.gif")
            .loading--msg
                .loading--msg-tit.font-w-normal-24.font-m-normal-20
                    | We're processing your request.
                .loading--msg-txt.font-w-normal-16.font-m-normal-14
                    div
                        p Payment method is currently being loaded.
                        p Please wait a moment.