mixin myComponentSubMenu(params)
    .my-component.no-crop.my-component--sub-menu
        .c-text-contents.align-text-center
            .title.c-text-contents__headline
                +headline("font-w-light-56 font-m-light-28", h3, params.title)
                //- GNB SUB
                .button.c-cta
                    .cmp-button.c-button
                        button(type="button" data-cmp-data-layer="")
                            span.sr-only button text
                .c-list
                    ul.c-list-sub-list
                        each menu in params.subMenu
                            li
                                a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")= menu
        .my-component--sub-menu-dim