mixin order-item
  li
    .model-img
      .image.c-image
        +printLazyPicture('https://via.placeholder.com/160x160/999999/000000', 'https://via.placeholder.com/80x80/999999/000000')
    .model-info
      small 55NANO766QA.AEK
      span.model-name LG NanoCell NANO76 55
      .bottom-box
        span.qty Qty : 1
        em.price £1,567.98


mixin orderSummary(params)
  - var option = {id:'aria-list', ...params}
  .order-summary
    .title-area
      h5 Item(s) in Cart (2)
      button.btn-toggle-list(aria-label="open list" aria-expanded="false" aria-controls=`${option.id}`)
    ul.order-list(id=`${option.id}`)
      +order-item
      +order-item
      +order-item
      +order-item
      +order-item
      
