@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.AL0004';
#{$component} {
  ul {
    @include reset-list-style;
  }
  > .component > .cmp-container {
    // @include inset-padding-hz;
    @include screen(web) {
      @include container($design-grid-full, false);
    }
    margin: 0 auto;
    .c-event-list {
      @include screen(mobile) {
        padding-left: rem($padding16px);
        padding-right: rem($padding16px);
      }
      &-top {
        margin-bottom: rem($margin20px);
        @include screen(web) {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
      &-headline {
        .cmp-title {
          font-weight: $font-light;
          font-size: rem(28px);
          line-height: rem(32px);
          // text-align: center;
          @include screen(web) {
            font-size: rem(56px);
            line-height: rem(60px);
          }
        }
        &__subheadline {
          margin-top: rem($margin4px);
          font-size: rem(12px);
          line-height: rem(14px);
          color: $gray3;
          // text-align: center;
          @include screen(web) {
            color: $mid-gray2;
            margin-top: rem($margin8px);
            font-size: rem(24px);
            line-height: rem(28px);
          }
        }
      }
      &-results {
        display: block;
        font-weight: $font-semibold;
        // margin-bottom: rem($margin8px);
        font-size: rem(14px);
        line-height: rem(16px);
        b {
          color: $heritage-red;
        }
        @include screen(web) {
          line-height: rem(14px);
          // display: none;
        }
      }
      &-form {
        margin-top: rem($margin36px);
        // background-color: $ivory6;
        @include lgness-radius('default');
        // padding: rem($padding18px);
        @include screen(web) {
          margin-top: 0;
          padding: 0;
          // background-color: $white;
        }
        .c-form {
          &::after {
            display: block;
            content: '';
            clear: both;
          }
          &-box {
            width: 100%;
            @include screen(web) {
              float: right;
              display: block;
              max-width: rem(274px);
              height: rem($height60px);
            }
            .c-select-item {
              width: 100%;
            }
          }
        }
        &__text {
          line-height: rem(18px);
          color: $gray3;
          margin-bottom: rem($margin8px);
          @include screen(web) {
            display: none;
          }
        }
      }
      &__area {
        margin-top: rem($margin8px);
        @include screen(web) {
          margin-top: rem($margin20px);
        }
        .button {
          margin-top: rem($margin36px);
          @include screen(web) {
            margin-top: rem(54px);
          }
        }
      }
      &__box {
        // border-bottom: rem($border1) solid $ivory3;
        // padding-bottom: rem($padding30px);
        display: flex;
        flex-wrap: wrap;
        gap: rem(30px) 0;
        @include screen(web) {
          margin: 0 rem(-10px);
          padding-bottom: 0;
          gap: rem(54px) 0;
        }
      }
      &__item {
        width: 100%;
        padding: 0;
        @include screen(web) {
          width: 33.333%;
          padding: 0 rem($padding12px);
        }
        a:focus-visible {
          outline: rem($border1) solid $black;
          display: block;
        }
        a:hover {
          text-decoration: none;
          .title {
            text-decoration: underline;
          }
        }
      }
      &__img {
        @include lgness-radius('default');
        overflow: hidden;
      }
      &__content {
        margin-top: rem($margin12px);
        @include screen(web) {
          margin-top: rem($margin24px);
        }
        .date {
          margin-top: rem($margin8px);
        }
        .type {
          margin-top: rem($margin8px);
        }
      }
      &__title {
        // font-weight: $font-semibold;
        // font-size: rem(24px);
        // line-height: rem(28px);
      }
      &__date {
        margin-top: rem($margin12px);
        font-weight: $font-regular;
        font-size: rem(12px);
        line-height: rem(14px);
        @include screen(web) {
          font-size: rem(16px);
          line-height: rem(18px);
        }
      }
      &__type {
        margin-top: rem($margin6px);
        font-weight: $font-regular;
        font-size: rem(12px);
        line-height: rem(14px);
        color: $mid-gray3;
        @include screen(web) {
          font-size: rem(16px);
          line-height: rem(16px);
          margin-top: rem($margin8px);
        }
      }
    }
  }
  .c-select-item select {
    height: rem($height48px);
    width: 100%;
    min-width: rem(274px);
    padding-left: rem($padding17px);
    border-radius: rem(30px);
    background-color: $light-gray3;
    border: none;
    font-size: rem(16px);
    line-height: rem(18px);
    background-size: 18px 10px;
    background-position: right 16px center;
    @include screen(web) {
      background-position: right 24px center;
      height: rem($height60px);
      padding-left: rem($padding25px);
      font-size: rem(20px);
      line-height: rem(24px);
    }
  }
}
