mixin PD0056-3rd(option=false)
    if(option == 'no-tab')
        .guide-text-type Online & Offline - 3rd party
        .guide-text-option Price Spider (js)
        .c-box-3rd-party
            // In order for pricespider js to work, the following meta must be added to the header.
            // <meta name="ps-account" content="1698">
            // <meta name="ps-config" content="59d4fb4e369c750034b61c08">
            // <meta name="ps-country" content="CA">
            // <meta name="ps-language" content="en">
            .ps-widget(ps-sku="LFCC22426S")
            .js-eprivacy-load-inline(data-url="//cdn.pricespider.com/1/lib/ps-widget.js")
        .guide-text-option etale (iframe) : IT
        .c-box-3rd-party
            iframe.js-iframe-load(data-src="https://where-to-buy.co/widgets/core/BuyOnlineBuyLocal/index.html?pid=12027156&amp;model=55LX1Q6LA.API" width="100%" height="1090" frameborder="0" title="Dove Acquistare")
    if(option == '3rd-tab')
        .guide-text-option Commerce Connector (js) : LV, EE, LT, FR, DE, BE_FR, NL
        .c-box-3rd-party
            script(type="text/javascript" src="https://fi-v2.global.commerce-connector.com/cc.js" data-token="92f54963fc39a9d87c2253186808ea61" id="cci-widget" data-locale="de-DE" data-displaylanguage="de" data-widgetid="qXxA3xEob3_b91771a0-9474-11ea-b016-77418ff4a60143" data-ean="8806091612151" data-subid="he_general_shop_selection" data-trackingid="OLED83G29LA" data-eventgtm="true")
        .guide-text-option Solotodo (iframe) : CL, CAC_EN, CAC, EC
        .c-box-3rd-party
            iframe.js-iframe-load(data-src="https://www.lg-donde-comprar.cl/lg_wtb/widget/?modelName=27ART10AKPL" width="100%" height="688" frameborder="0" title="Find Online")
        .guide-text-option Etailing (iframe) : PE
        .c-box-3rd-party
            iframe.js-iframe-load(data-src="https://assets.etailing-la.com/lg/pe/getData.php?etailingcode=MD07537242&etailingname=OLED83C1PSA&etailingnamesuffix=OLED83C1PSA.AWF&etailingcat=TVS" width="100%" height="600" frameborder="0" title="Find Online")
        .guide-text-option Etailing (iframe) : 
            a(href="https://www.lg.com/ar/lavarropas/lg-WD15EGS6#pdp_where" target="_blank" style="color: white; text-decoration: underline;") AR
        .c-box-3rd-party
            iframe.js-iframe-load(data-src="https://assets.etailing-la.com/lg/ar/getData.php?etailingcode=MD06026836&etailingname=WD15EGS6&etailingnamesuffix=WD15EGS6.ASSPEAR&etailingcat=Todos%20los%20Lavarropas" width="100%" height="600" frameborder="0" title="Find Online")
        .guide-text-option Commerce Connector (js) : FR, DE
        .c-box-3rd-party
            .js-commerce-connector(data-src="https://fi.global.commerce-connector.com/js/cc_fi-min.js" data-token="187cf9fb2663a3fbaa59137fe0b0e39a7f4c2931" data-trigger="load" data-country="FR" data-language="fr" data-displaylanguage="fr" data-ean="8806091372901" data-listtype="container" data-online-shopname="true" data-online-productavl="true" data-header="false" data-local-search-placeholder="" data-deliverydisplayrule="P>=0&amp;LDisponible&amp;C#7c7c7c" data-footer-background-color="transparent" data-footer-color="#6b6b6b" data-variant-selectiontype="none" data-channel-online-text="Me faire livrer" data-channel-local-text="Retirer en magasin" data-channel="local,online" data-geodetection="cta" data-containerborder="false" data-local-shopname="true" data-local-productavl="true" data-local-deeplink="false" data-filteropen="true" data-filterstatus="true" data-highlightcolor="#A50034" data-style=".ccLb-storeList>li{min-height:0;}#ccLb-footer-link{text-decoration: underline !important;}#ccLb-footer *{font-size:14px;line-height:20px;color:#6b6b6b;}#ccLb a{color:#6b6b6b;}#ccLb-inner{box-shadow:none;}#ccLb-nav{padding-left:0;}#ccLb-nav{border-bottom:1px solid #e4e4e4;padding:0;}#ccLb-nav li{color:#6b6b6b!important;padding:12px 20px;font-size:16px;line-height:18px;margin:0;text-transform:uppercase;font-weight:bold;}#ccLb-nav li.ccLb-active{color:#000!important;border-bottom:3px solid #a50034!important;}#ccLb-nav li:hover{border-bottom:0;}.ccLb-icons > .ccLb-buyNow > .ccLb-buyNow-content a{background: 0 0!important;color: #6b6b6b!important;border-color: #6b6b6b!important;display: inline-block !important;border-radius: 3px;border: 1px solid transparent;font-style: normal;font-size: 14px;line-height: 24px;text-align: center;vertical-align: middle;white-space: normal;padding:4px 20px 5px;}.ccLb-icons > .ccLb-buyNow > .ccLb-buyNow-content svg {display:none !important;}@media screen and (max-width: 830px) {#ccLb-filters-top{padding:0;}#ccLb .ccLb-icons>div{font-size:14px !important;line-height:20px;}.ccLb-storeList>li{padding:18px 0;}#ccLb .ccLb-icons>.ccLb-buyNow{width:auto;float:right;}#ccLb .ccLb-icons .ccLb-icon-separator{display:none;}#ccLb .ccLb-icons>.ccLb-stock{width:auto;float:none;}#ccLb-online .ccLb-store img{width:100px;}#ccLb-online .ccLb-store{width:100px;height:54px;}#ccLb-online .ccLb-store>div{margin:0;}#ccLb .ccLb-icons .ccLb-stock-content svg{margin:0;padding:0;display:inline;vertical-align:middle;margin-right:5px;}#ccLb .ccLb-icons span{display:inline;}.ccLb-icons > .ccLb-buyNow > .ccLb-buyNow-content a{padding:4px 10px 5px;}#ccLb-online .ccLb-icons {width:calc(100% - 100px)}#ccLb-nav li{padding:12px 2px;height:45px;font-size:14px;}#ccLb .ccLb-icons .ccLb-buyNow-content{padding-top:5px;}#ccLb-footer{padding-left:0;}}@media screen and (max-width: 400px) {}")
    