@charset "UTF-8";
@use '../../scss/abstract/' as *;

#popStore, #popStore_3rdAll {
  .store__head  {
    padding: rem(32px 48px 12px);
    @include screen(mobile) {
      padding: rem(16px 36px 16px 16px);
    }
  }
  // store__tab
  .store__tab_info {
    padding: rem(0 48px);
    display: flex;
    justify-content: space-between;    
    .cmp-tabs__tablist {
      @include reset-list-style;
      display: flex;
      gap: rem(36px);
      button {
        border: 0;
        padding: 0;
        margin: 0;
        background: transparent;
      }
      .cmp-tabs__tab {
        border-bottom: rem(4px) solid transparent;
        padding: rem(16px 0);
        margin: 0;
        font-size: rem(20px);
        color: $gray3;
        &.cmp-tabs__tab--active {
          border-color: $active-red;
          border-width: rem(4px);
          color: $black;
        }
      }
    }
    @include screen(mobile) {
      padding: 0;
      flex-flow: column;
      .cmp-tabs__tablist {
        width: 100%;
        gap: 0;
        .cmp-tabs__tab {
          border-bottom: rem(2px) solid transparent;
          padding: rem(16px 0 12px);
          font-size: rem(16px);
          width: calc(50%);
          &.cmp-tabs__tab--active {
            border-width: rem(2px);
          }
        }
      }
      .store-all-link {
        justify-content: flex-end;
        padding: rem(12px 16px);
      }
    }
    // online store tab: no link 적용
    // .store-all-link {
    //   display: none;
    // }
    // .cmp-tabs__tablist:has(.cmp-tabs__tab--active#store_offline) + .store-all-link {
    //   display: inline-flex;
    // }
  }
  // store__pannel
  .store-pannel-area {
    border-top: rem(1px) solid $graycb;
    height: 100%;
    .cmp-tabs__tabpanel, .store-map {
      height: 100%;
    }
    @include screen(mobile) {
      border-top: 0;
    }
  }
  // store__pannel
  .store-list-area {
    .store-search {
      padding: rem(16px 20px);
      background-color: $light-gray3;
      border-bottom: rem(1px) solid $mid-gray1;
      overflow-x: auto;
      ul {
        @include reset-list-style;
      }
      .sch-distance-list {
        display: flex;
        gap: rem(8px);
        li {
          &:last-child {
            padding-right: rem(20px);
          }
          button {
            min-width: rem(60px);
            height: rem(36px);
            padding: rem(0 16px);
            border-radius: rem(100px);
            border: rem(1px) solid $mid-gray2;
            font-weight: 600;
            font-size: rem(14px);
            color: $mid-gray2;
            background: $white;
            text-align: center;
            cursor: pointer;
            &.act {
              border-color: $black;
              color: $white;
              background: $black;
            }
          }
        }
      }
      @include screen(mobile) {
        padding: rem(12px 16px);
        background-color: $warm-gray;
        .sch-distance-list { 
          display: flex;
          gap: rem(7px);
          li {
            &:last-child {
              padding-right: rem(16px);
            }
          }
        }
      }
    }
  }
  // Online store area
  .store-pannel-box, .store-pannel__3rd-party {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: rem(24px 48px 32px);
    @include screen(custom, (rem(769px) rem(1439px))) {
      max-height: calc(100% - rem(140px));
    }
    @include screen(mobile) {
      max-height: calc(100% - rem(130px));
    }
    &.store-scroll {
      @include screen(custom, rem(1440px), min) {
        max-height: calc(100% - rem(178px));
      }
    }
    @include screen(mobile) {
      padding: rem(16px);
    }
    .c-online-shop-list {
      display: none;
      gap: rem(12px);
      @include reset-list-style;
      @include screen(custom, rem(1440px), min) {
        grid-template-columns: repeat(3, 1fr);
        gap: rem(24px);
      }
      @include screen(custom, (rem(769px) rem(1439px))) {
        grid-template-columns: repeat(2, 1fr);
        gap: rem(24px);
      }
      li:nth-child(1) {
        background: $dark-gray1;
        .c-online-shop-box-item {
          &:focus-visible {
            outline-color: $white;
          }
        }
        .c-online-shop-item__bottom {
          color: $white;
        }
      }
    }
    .c-online-shop-box {
      display: flex;
      min-height: rem(100px);
      padding: rem(0 20px);
      gap: rem(15px);
      align-items: center;
      justify-content: space-between;
      background: $white;
      @include lgness-radius('default');
      &-item {
        display: flex;
        flex-wrap: wrap;
        gap: rem(8px);
        max-width: rem(550px);
        min-height: rem(60px);
        @include screen(web) {
          max-width: rem(235px);
        }
        @include screen(custom, (rem(769px) rem(1439px))) {
          max-width: rem(350px);
        }
      }
      .c-online-shop-item {
        &__top {
          width: auto;
          text-align: left;
          .cmp-image {
            width: 100%;
            height: 100%;
          }
          .c-image__img {
            max-width: rem(120px);
            max-height: rem(30px);
            object-fit: cover;
          }
        }
        &__bottom {
          width: 100%;
          height: 100%;
          min-height: rem(27px);
          p {
            @include ellipsis(2);
            word-break: break-word;
          }
          span {
            font-size: rem(16px);
            line-height: rem(20px);
            &.txt01 {
              color: $heritage-red;
            }
            &.txt02 {
              color: #39827d;
            }
          }
        }
      }
      .c-online-shop-button {
        padding: rem(0 12px);
        min-width: rem(80px);
        max-width: rem(120px);
        .c-button__text {
          @include ellipsis(1);
        }
      }
    }
    .store-pannel-box-inner {
      height: 100%;
      @include screen(custom, (rem(769px) rem(1439px))) {
        height: auto;
      }
      &.onlineStore-active {
        .no-result {
          display: none;
        }
        .c-online-shop-list {
          display: grid;
        }
        .more-btn {
          display: block;
        }
      }
      .no-result {
        height: 100%;
        background: $light-gray3;
        @include lgness-radius('default');
      }
    }
    .cmp-button {
      &.more-btn {
        display: none;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        background: $warm-gray;
        .c-button {
          width: 100%;
          height: rem(88px);
          justify-content: center;
          &:after {
            transform: rotate(0) #{'/*!rtl:rotate(0)*/'};
          }
          &:focus-visible {
            outline-offset: rem(-3px);
          }
          @include screen(mobile) {
            height: rem(65px);
          }
        }
      }
    }
  }
  // 3rd party
  .store-all__3rd-party {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    .store__3rd-inner {
      padding: rem(24px 48px 30px);
    }
  }
  .store-pannel__3rd-party {
    max-height: calc(100% - rem(250px));
    @include screen(web) {
      max-height: rem(650px);
    }
    .c-online-shop-list {
      display: grid;
      .c-online-shop-box {
        min-height: rem(126px);
        &-item {
          max-width: rem(195px);
        }
      }
      li:nth-child(1) {
        background: $white;
        .c-online-shop-box-item {
          &:focus-visible {
            outline-color: $black;
          }
        }
        .c-online-shop-item__bottom {
          color: $black;
        }
      }
    }
  }
}
