mixin PD0056(option=false)
    if(option == 'default')
        // Component Markup
        .c-wrapper.PD0056.margin-top.margin-bottom.bg-default.width-content
            .component.type-slim
                .cmp-container
                    //- title area
                    +component-title-area({
                        headline : {
                            text : "Find a Store Near You",
                            style : "font-w-semibold-56 font-m-semibold-28"
                        }
                    })
                    //- contents area
                    +hero-banner-case-image({
                        width : "content",
                        heroType : "slim",
                        dateType : "none",
                        useEyebrow : false,
                        cta : "popup",
                        textAlign : "left",
                        headlineSize : "font-w-semibold-48 font-m-semibold-24",
                        headline : "Experience this product around you.",
                        hasIcon : true,
                        iconType : "bigIcon",
                        ctaLink : "#popStore"
                    })
        //- gradient bg image type
        .c-wrapper.PD0056.margin-top.margin-bottom.bg-default.width-content
            .component.type-slim
                .cmp-container
                    //- contents area
                    +hero-banner-case-image({
                        width : "content",
                        heroType : "slim",
                        dateType : "none",
                        useEyebrow : false,
                        cta : "popup",
                        textAlign : "left",
                        headlineSize : "font-w-semibold-48 font-m-semibold-24",
                        headline : "Experience this product around you.",
                        hasIcon : true,
                        iconType : "bigIcon",
                        bgImage : true,
                        gradientImg : true,
                        ctaLink : "#popStore"
                    })
    //- .guide-text-option 3rd-party (No Tab)
    if(option == '3rd-party')
        // Component Markup
        .c-wrapper.PD0056.margin-top.margin-bottom.bg-default.width-content
            .component.type-slim
                .cmp-container
                    //- contents area
                    +hero-banner-case-image({
                        width : "content",
                        heroType : "slim",
                        dateType : "none",
                        useEyebrow : false,
                        cta : "popup",
                        textAlign : "left",
                        headlineSize : "font-w-semibold-48 font-m-semibold-24",
                        headline : "Experience this product around you.",
                        hasIcon : true,
                        iconType : "bigIcon",
                        ctaLink : "#popStore_3rdAll"
                    })
