@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.CM0005';
#{$component} {
  @include lgness-margin('if-headline');
  > .component > .cmp-container {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
  }

  // block
  $sitemap-list: '.c-sitemap-list';
  #{$sitemap-list} {
    @include reset-list-style;

    margin-bottom: rem($padding24px * -1);
    @include screen(web) {
      margin-bottom: rem($padding48px * -1);
    }
    &__link {
      [target='_blank'] {
        display: flex;
        align-items: center;
        gap: rem($margin4px);
        &:after {
          display: block;
          content: '';
          background : {
            image: url($icon-outlink-dark-gray2-25-24);
            position: 100% center;
            size: 100%;
            repeat: no-repeat;
          }
        }
      }
    }
    &__depth1 {
      padding-top: rem($padding24px);
      padding-bottom: rem($padding24px);
      border-top: rem($border1) solid $mid-gray1;

      @include screen(web) {
        display: flex;
        gap: rem(columns(1));
        padding-top: rem($padding48px);
        padding-bottom: rem($padding48px);
      }

      > #{$sitemap-list}__link {
        overflow-wrap: break-word;

        @include screen(web) {
          flex-shrink: 0;
          width: rem(columns(2, true));
        }
        [target='_blank'] {
          &:after {
            width: rem($icon20px);
            height: rem($icon20px);
            @include screen(web) {
              width: rem($icon24px);
              height: rem($icon24px);
            }
          }
        }
      }
    }

    &__depth2 {
      @include reset-list-style;
      display: grid;
      margin-top: rem($margin16px);
      gap: rem($margin36px $margin24px);

      @include screen(web) {
        flex: 1;
        grid-template-columns: repeat(auto-fill, minmax(rem(columns(3, false)), auto));
        margin-top: 0;
      }

      &--column {
        grid-template-columns: 1fr;
        gap: rem($margin16px);
        @include screen(web) {
          gap: rem($margin24px);
        }
      }
      #{$sitemap-list}__link {
        [target='_blank'] {
          &:after {
            width: rem($icon14px);
            height: rem($icon14px);
          }
        }
      }
    }

    &__depth3 {
      @include reset-list-style;
      display: flex;
      flex-direction: column;
      gap: rem($margin8px);
      margin-top: rem($margin12px);

      #{$sitemap-list}__link {
        line-height: initial;
        * {
          color: $gray3;
        }
        [target='_blank'] {
          &:after {
            width: rem($icon12px);
            height: rem($icon12px);
          }
        }
      }
    }
  }

  // layout : margin
  .c-region-header + * {
    // @include lgness-component-title-margin;
    margin-top: rem($margin24px);
    @include screen(web) {
      margin-top: rem($margin40px);
    }
  }
}
