@charset "UTF-8";
// module
@use '../../scss/abstract/' as *;

$component: '.SE0003';
$searchResult: '.cs-search-result';
$common-side-padding-m: rem(16px);
#{$component} {
  &.c-wrapper {
    overflow: visible; // layer 짤리는 현상 방지
  }
  @include screen(web) {
    .font-w-normal-24 {
      font-size: rem(24px);
      line-height: rem(28px);
      font-weight: $font-regular;
    }
  }

  @include screen(mobile) {
    .display-only-web {
      display: none !important;
    }
    .font-w-bold-14 {
      font-size: rem(24px);
      line-height: rem(28px);
      font-weight: $font-bold;
    }
  }
  .font-m-normal-12 {
    @include screen(mobile) {
      font-size: rem(12px);
      line-height: rem(12px);
      font-weight: $font-regular;
    }
  }
  .cs-search-result {
    position: relative;
    &__suggest {
      margin: rem($margin28px) 0 rem($margin19px);
      @include container($design-grid-full, true);
      @include screen(web) {
        margin: rem($margin48px) 0;
      }
      .c-text-contents {
        display: flex;
        align-items: center;
        gap: rem($gutter-w);
      }
      .my-input {
        flex: 1;
      }
      .c-text-contents__bodycopy {
        flex-shrink: 0;
        display: flex;
        align-items: center;
      }
    }
  }
  // SE0003 new thing
  .my-input {
    position: relative;
    margin: 0 auto;
    ul {
      list-style: none;
      margin: 0;
    }
    .c-pop-msg__close {
      display: none;
    }
  }
  .my-input.active {
    @include screen(mobile) {
      height: 100%;
      position: fixed;
      width: 100%;
      background-color: $warm-gray;
      top: 0;
      left: 0;
    }
    .cs-search-topics__content {
      display: block;
    }
    .searchbar {
      @include screen(mobile) {
        padding: rem($padding10px) rem(73px) rem($padding10px) $common-side-padding-m;
        position: absolute;
        background-color: $warm-gray;
      }
    }
    .c-pop-msg__close {
      @include screen(mobile) {
        display: block;
      }
    }
  }
  .cs-search-topics {
    &__content {
      text-align: left;
      padding: rem($padding60px) 0 0;
      background-color: $warm-gray;
      width: 100%;
      height: 100%;
      display: none;
      @include screen(web) {
        padding: rem($padding16px) 0 rem($padding30px);
        top: rem(68px);
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        box-shadow: rem(2px) rem(4px) rem(12px) rgb(0 0 0 / 14%);
        @include lgness-radius('all');
        background-color: $white;
        height: auto;
      }
    }
    &__content-inr {
      overflow-y: auto;
      padding: 0 $common-side-padding-m 0;
      max-height: 100%;
      @include screen(web) {
        padding: 0 rem($padding30px) 0;
        max-height: rem(624px);
      }
    }
    .text {
      &:after {
        content: '';
        display: inline-block;
        margin-left: rem($margin10px);
        width: rem($width20px);
        height: rem($height20px);
        background: url($icon-information-black-border-20-20) no-repeat 0 0;
      }
    }
  }
  .cs-search-bar {
    $searchbar: '.cs-search-bar';
    margin: 0 auto;
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    .searchBar__root {
      margin: 0 auto;
      width: 100%;
    }
    &__close {
      display: inline-block;
      border: none;
      cursor: pointer;
      width: rem($width14px);
      height: rem($height14px);
      margin-left: rem($margin9px);
      background: url($icon-close-black-24-24) center / contain no-repeat;
      background-size: rem(8.75px);
      position: absolute;
      right: rem(12px);
      padding: 0;
    }
    // --icon
    &__title {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: rem($padding24px) 0 rem($padding12px);
      &:not(:first-child) {
        border-top: rem($border1) solid $mid-gray1;
      }
      @include screen(web) {
        padding: rem($padding24px) 0 rem($padding10px);
        &:first-child {
          padding-top: 0;
        }
        &:not(:first-child) {
          border-top: rem($border1) solid $graye;
        }
      }
      .c-accordion__button {
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
        @include screen(web) {
          display: none;
        }
        &::after {
          transform: rotate(180deg);
        }
      }
    }
    &__description {
      margin-right: auto;
      font-size: rem($margin12px);
      font-weight: $font-regular;
      color: $gray6;
    }
    &__recent-list {
      @include reset-list-style;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: rem(8px);
      @include screen(web) {
        padding: 0;
      }
    }
    &__recent-item {
      position: relative;
      border: rem($border1) solid $graye6;
      text-align: center;
      display: flex;
      align-items: center;
      background: $light-gray3;
      @include lgness-radius('all');
      &:hover {
        border-color: $gray3;
        color: $gray3;
      }
      a {
        line-height: 1;
        padding: rem($padding10px) rem($padding38px) rem($padding10px) rem($padding16px);
        color: $black;
        @include screen(web) {
          padding: rem($padding16px) rem($padding50px) rem($padding16px) rem($padding24px);
        }
      }
      a:hover {
        text-decoration: none;
      }
    }
    &__search-link {
      @include reset-list-style;
      margin-top: rem($margin24px);
      padding-top: rem($padding24px);
      border-top: rem($border1) solid $mid-gray1;
      &:first-child {
        border-top: 0;
      }
      @include screen(web) {
        border-top: rem($border1) solid $graye;
        padding-top: rem($padding24px);
      }
      #{$searchbar}__title + & {
        margin-top: 0;
        @include screen(web) {
          border-top: 0;
        }
      }
    }
    &__search-item {
      position: relative;
      @include screen(mobile) {
        &:first-child {
          a {
            &::after {
              top: calc(50% - rem(15px));
            }
          }
        }
      }
      a {
        cursor: pointer;
        // @include ellipsis(1);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem($padding10px) 0;
        @include screen(web) {
          padding: rem($padding8px) 0;
        }
        em {
          color: $black;
          font-weight: 700;
          font-style: normal;
        }
      }
      a:hover {
        text-decoration: none;
        .cs-search-bar__search-title {
          text-decoration: underline;
        }
        .cs-search-bar__tag-item {
          text-decoration: none;
        }
      }
    }
    &__search-cont {
      display: flex;
      justify-content: space-between;
      flex-direction: column-reverse;
      gap: rem(4px);
      @include screen(web) {
        gap: rem(2px);
      }
    }
    &__search-tag {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__tag-item {
      color: $mid-gray2;
      white-space: nowrap;
    }
    &__search-none {
      display: flex;
      flex-flow: column;
      justify-content: center;
      gap: rem(8px);
      padding: rem($padding24px) 0;
      @include screen(web) {
        padding: rem($padding40px) 0;
        gap: 0;
      }
    }
    // CS0001
    @mixin input() {
      width: 100%;
      border: rem($border1) solid $mid-gray4;
      border-radius: rem($radius8);
      &:focus {
        border-color: $gray3;
        outline: none;
      }
    }
    .searchbar {
      z-index: 1;
      position: relative;
      padding: 0;
      @include screen(web) {
        display: flex;
        align-items: center;
        flex-shrink: 0;
      }
      @include screen(mobile) {
        // background-color: $white;
        // position: absolute;
        .searchBar__root {
          width: 100%;
        }
        display: flex;
        width: 100%;
      }
      input {
        @include input;
        padding: rem($padding8px $padding42px $padding8px $padding42px);
        height: rem($height48px);
        border-radius: rem(100px);
        font-size: rem(16px);
        color: $black;
        background: $light-gray3;
        transition:
          padding 0.3s,
          border-color 0.3s;
        @include screen(web) {
          margin: 0;
          padding: rem($padding13px $padding50px $padding13px $padding50px);
          height: rem($height60px);
          font-size: rem(24px);
          // border: none;
        }
        &:focus-visible {
          // padding-left: rem(16px);
          outline: none;
          border-color: $dark-gray1;
          + * + .fieldIcons__before {
            // left: rem(-22px);
            // opacity: 0;
          }
        }
        &:not(:placeholder-shown) {
          // padding-left: rem(16px);
          + .c-icon-button--delete {
            opacity: 1;
            display: block !important;
            outline-width: rem(2px);
            outline-offset: rem(2px);
          }
          + * + .fieldIcons__before {
            // left: rem(-22px);
            // opacity: 0;
          }
        }
        &::placeholder {
          font-size: rem(16px);
          @include screen(web) {
            font-size: rem(24px);
          }
        }
      }
      input:disabled {
        background-color: $ivory6;
        border: rem($border1) solid $ivory6;
      }
      .fieldIcons {
        &__root {
          display: block;
          position: relative;
        }
        &__before {
          content: '';
          z-index: $stacking-floor;
          position: absolute;
          top: calc(50% - #{rem(11px)});
          left: rem($padding16px);
          width: rem($width24px);
          height: rem($height24px);
          background-image: url($icon-search);
          background-repeat: no-repeat;
          background-size: rem(16px);
          background-position: center;
          transition:
            left 0.3s,
            opacity 0.1s;

          @include screen(web) {
            opacity: 1;
          }
        }
      }
      &__delete {
        position: absolute;
        right: rem(14px);
        top: calc(50% - rem(10px));
        width: rem($width20px);
        height: rem($height20px);
        border-radius: 50%;
        background: $gray4 url($icon-close-white-24-24) center / rem(10px) rem(10px) no-repeat;
        opacity: 0;
        transition: opacity 0.3s;
        display: none;
        @include screen(web) {
          right: rem(18px);
        }
        &::after {
          content: none;
        }
        span {
          overflow: hidden;
          clip: rect(0, 0, 0, 0);
          position: absolute;
          width: rem(1px);
          height: rem(1px);
          margin: rem(-1px);
          border: 0;
          padding: 0;
        }
      }
    }
  }
  .c-pop-msg__close {
    z-index: 1;
    top: rem(11px);
    right: rem(20px);
    .c-pop-msg__close-button {
      &:before {
        display: none;
      }
      &:after {
        // @include screen(mobile) {
        //     content: 'Cancel';
        // }
      }
    }
    @include screen(web) {
      display: none;
      top: rem(21px);
      right: rem(24px);
    }
  }
}
