@charset "UTF-8";
@use '../../scss/abstract/' as *;

// component
$component: '.CS0110';

#{$component} {
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  $text: '.c-text-contents';
  $mobile-width: calc(100% - rem($margin25px * 2));
  overflow: initial;
  .c-hidden-pc {
    @include screen(desktop) {
      display: none;
    }
  }

  .c-hidden-mo {
    @include screen(mobile) {
      display: none;
    }
  }
  &__container {
    @include flex-context;
    @include container($design-grid-full, true);
    @include inset-padding-hz(mobile);

    @include screen(desktop) {
      @include flex-context;
    }

    @include screen(tablet) {
      @include inset-padding-hz;
    }

    @at-root #{$component} {
      .full #{$component}__container {
        padding: 0;

        @include screen(desktop) {
          min-width: initial;
        }

        #{$cs-header} {
          margin: rem(0 $margin25px);
          margin-bottom: rem($margin20px);

          @include screen(desktop) {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: rem($margin40px);
          }
        }
      }
    }
  }

  // add class c-default-margin component
  &.c-default-margin {
    &.c-wrapper {
      &.margin-top,
      &.margin-bottom {
        padding: 0;
      }
    }

    #{$cs-header} {
      margin-top: rem($margin30px);
      margin-bottom: rem($margin20px);

      @include screen(desktop) {
        margin-top: rem($margin40px);
        margin-bottom: rem($margin40px);
      }

      .text {
        margin-bottom: 0;
      }
    }

    &.margin-top {
      .text {
        margin-bottom: rem($margin10px);
      }
    }

    .text {
      margin-bottom: rem($margin30px);

      @include screen(desktop) {
        margin-bottom: rem($margin60px);
      }
    }
  }

  // common
  .c-cta {
    display: block;
    margin-top: rem($margin40px);
    // text-align: center;
  }

  // variable

  // Support HEADER
  #{$cs-header} {
    margin-bottom: rem($margin20px);

    a {
      color: $red;
      text-decoration: underline;
    }

    @include screen(desktop) {
      margin-bottom: rem($margin40px);
    }

    @at-root #{$component} #{$cs-header} {
      #{$text-contents} {
        text-align: center;
      }

      #{$text-contents}__headline + #{$text-contents}__bodycopy {
        margin-top: rem($margin6px);

        @include screen(desktop) {
          margin-top: rem($margin10px);
        }
      }
    }
  }

  &.cmp-tabs__tab {
    border: 0;
  }

  .c-maps__info .cmp-tabs__tabpanel {
    display: none;
    width: 100%;
    min-height: rem(100px);
    // padding: rem(20px 0);
    // background: #eee;
    box-sizing: border-box;
  }
  .c-maps__info .cmp-tabs__tabpanel:first-child {
    display: block;
  }

  .c-maps__br {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    @include screen(desktop) {
      flex-direction: row;
    }
    .c-maps__wrap {
      position: relative;
      width: 100%;
      padding: rem($padding24px 0);
      svg {
        min-height: rem(340px);
        height: auto;
      }

      @include screen(desktop) {
        width: 50%;
        svg {
          max-width: rem(708px);
          margin-right: rem(10px);
        }
      }

      .c-tab__list.active {
        color: #fff;

        path:first-child,
        rect {
          fill: #ea1917;
        }
        path:last-child {
          fill: #fff;
        }
      }
      svg {
        display: block;
        width: 100%;
      }
      svg g {
        cursor: pointer;
      }

      ul.c-maps__maplist {
        position: relative;
        align-self: flex-start;
        width: 100%;
        height: 100%;
        max-width: 360px;
        min-height: 365px;
        margin: 2rem auto;

        @include screen(desktop) {
          min-width: 728px;
          max-width: 100%;
          height: 100%;
          margin: 0;
        }

        li {
          display: inline;
          position: absolute;
          padding: 0;
          border: 0;
          width: 0;
          height: 0;
          font-size: 0;
          scale: 0.5;

          @include screen(desktop) {
            scale: 1;
          }

          a {
            display: block;
          }

          path {
            fill: #cbc8c2;
            fill-opacity: 1;
            stroke: #fff;
            stroke-opacity: 1;
            stroke-width: 0.5;

            &:hover {
              fill: #ea1917;
              fill-opacity: 1;
            }
          }

          & g {
            position: relative;
            display: inline-block;
            z-index: 10;
          }
          h3 {
            font-size: 1.5rem;
            position: absolute;
            text-align: center;
            left: 50%;
            top: 50%;
            margin: -1rem 0 0 -1rem;
            z-index: 99;
          }
        }

        li.cmp-tabs__tab--active {
          path {
            fill: #ea1917;
          }

          h3 {
            color: #fff;
            background: #ea1917 !important;
            border-radius: 50%;
          }
        }
      }
    }

    li#tabs-1-item-1-tab {
      left: 79.57%;
      top: 20.68%;
    }
    li#tabs-1-item-2-tab {
      left: 56.3%;
      top: 50%;
    }
    li#tabs-1-item-3-tab {
      left: 51.2%;
      top: 45.35%;
    }
    li#tabs-1-item-4-tab {
      left: 57.39%;
      top: 26.78%;
    }
    li#tabs-1-item-5-tab {
      left: 68.53%;
      top: 20.58%;

      h3 {
        left: 76%;
        top: 60%;
      }
    }
    li#tabs-1-item-6-tab {
      left: 63%;
      top: 16.56%;
    }
    li#tabs-1-item-7-tab {
      left: 41.53%;
      top: 80.71%;

      h3 {
        top: 35%;
        left: 60%;
      }
    }
    li#tabs-1-item-8-tab {
      left: 86.5%;
      top: 25.94%;

      h3 {
        top: -10%;
        left: 60%;
        width: 2.75rem;
        height: 2.75rem;
        line-height: 2.75rem;
        color: #fff;
        border-radius: 50%;
        background: #7e7c77;
      }
    }
    li#tabs-1-item-9-tab {
      left: 71.68%;
      top: 65.95%;

      h3 {
        width: 2.75rem;
        height: 2.75rem;
        line-height: 2.75rem;
        color: #fff;
        border-radius: 50%;
        background: #7e7c77;
      }
    }
    li#tabs-1-item-10-tab {
      left: 51.14%;
      top: 62.8%;

      h3 {
        left: 55%;
        top: 40%;
      }
    }
    li#tabs-1-item-11-tab {
      left: 78.09%;
      top: 58.46%;

      h3 {
        width: 2.75rem;
        height: 2.75rem;
        line-height: 2.75rem;
        color: #fff;
        border-radius: 50%;
        background: #7e7c77;
      }
    }
    li#tabs-1-item-12-tab {
      left: 48%;
      top: 69.31%;
    }
    li#tabs-1-item-13-tab {
      left: 0%;
      top: 31.7%;
    }
    li#tabs-1-item-14-tab {
      left: 17.8%;
      top: 33.8%;
    }
    li#tabs-1-item-15-tab {
      left: 87.39%;
      top: 35.88%;

      h3 {
        top: 20%;
        left: 80%;
        width: 2.75rem;
        height: 2.75rem;
        line-height: 2.75rem;
        color: #fff;
        border-radius: 50%;
        background: #7e7c77;
      }
    }
    li#tabs-1-item-16-tab {
      left: 80.3%;
      top: 32.09%;

      h3 {
        background: none;
      }
    }
    li#tabs-1-item-17-tab {
      left: 86.12%;
      top: 28.92%;

      h3 {
        top: 40%;
        left: 100%;
        width: 2.75rem;
        height: 2.75rem;
        line-height: 2.75rem;
        color: #fff;
        border-radius: 50%;
        background: #7e7c77;
      }
    }
    li#tabs-1-item-18-tab {
      left: 39.3%;
      top: 57.3%;
    }
    li#tabs-1-item-19-tab {
      left: 30.64%;
      top: 32.32%;
    }
    li#tabs-1-item-20-tab {
      left: 67.1%;
      top: 35.33%;

      h3 {
        top: 40%;
      }
    }
    li#tabs-1-item-21-tab {
      left: 50.01%;
      top: 78%;

      h3 {
        top: 35%;
        left: 75%;
      }
    }
    li#tabs-1-item-22-tab {
      left: 87.64%;
      top: 37.78%;

      h3 {
        top: 70%;
        left: 40%;
        width: 2.75rem;
        height: 2.75rem;
        line-height: 2.75rem;
        color: #fff;
        border-radius: 50%;
        background: #7e7c77;
      }
    }
    li#tabs-1-item-23-tab {
      left: 63.12%;
      top: 53.09%;

      h3 {
        top: 40%;
        left: 70%;
        width: 2.75rem;
        height: 2.75rem;
        line-height: 2.75rem;
        color: #fff;
        border-radius: 50%;
        background: #7e7c77;
      }
    }
    li#tabs-1-item-24-tab {
      left: 22.7%;
      top: 0%;

      h3 {
        left: 60%;
      }
    }
    li#tabs-1-item-25-tab {
      left: 0.42%;
      top: 7.69%;

      h3 {
        background: none;
      }
    }
    li#tabs-1-item-26-tab {
      left: 37.4%;
      top: 6.87%;

      h3 {
        top: 60%;
      }
    }
    li#tabs-1-item-27-tab {
      left: 47.25%;
      top: 2.13%;

      h3 {
        left: 60%;
      }
    }

    .c-maps__info {
      display: block;
      width: 100%;
      height: 100%;
      padding: rem($padding20px);
      border-radius: rem(20px);
      background: #e6e1d6;

      @include screen(desktop) {
        width: 50%;
        min-height: 730px;
        padding: rem($padding28px);
        border-radius: rem(28px);
      }
    }

    .c-printMap__title {
      font-size: 1.75rem;
      padding-bottom: rem($padding12px);
      @include screen(desktop) {
        font-size: 3.5rem;
      }
    }
  }

  .type-accordion {
    $block: '.c-accordion';

    #{$component}__container {
      // margin-top: rem($margin40px);
      // padding-bottom: 0;
      // padding-top: rem($padding40px);
    }

    .c-accordion {
      $block: '.c-accordion';
      border-bottom: rem($border1) solid $mid-gray1;

      &__box {
        border-top: rem($border1) solid $mid-gray1;

        @include screen(desktop) {
          &:not(.c-accordion__box--expand) {
            .c-accordion__head {
              .c-accordion__button {
                &:after {
                  // border: 1px solid #000;
                  background-image: url($icon-dropdown-open-gray);
                }
              }
            }
          }
        }

        &--expand {
          #{$block}__head {
          }

          #{$block}__step {
            color: $red;
          }

          #{$block}__head-flag {
            color: $gray3;

            .c-dot {
              // color: $red;
            }
          }

          #{$block}__body {
            display: block;
            border-radius: rem($radius20);

            @include screen(desktop) {
              border-radius: rem($radius28);
            }
          }
        }

        &:not(#{$block}__box--expand) {
          #{$block}__body {
            display: none;
          }
        }

        &--disabled {
          #{$block}__step,
          #{$block}__head-flag {
            color: $mid-gray2;
            display: flex;
          }
          #{$block}__button {
            &:after {
              opacity: 0.5;
            }
          }
        }
      }

      &__head {
        position: relative;
        padding: rem($padding11px 0);

        @include screen(desktop) {
          padding: rem($padding20px 0);
        }

        #{$block}__initial {
          color: $grayb;
          display: flex;
          align-items: center;
          margin-bottom: rem($margin4px);
        }

        .c-accordion__button {
          &::after {
            background-image: url($icon-dropdown-open-black);
            background-repeat: no-repeat;
            position: absolute;
            top: rem(20px);
            width: rem(16px);
            height: rem(8px);

            @include screen(desktop) {
              top: 50%;
            }
          }
        }

        &-flag {
          color: $grayb;
          font-weight: $font-regular;
          margin-left: rem($margin6px);
          display: flex;
          .c-dot {
            margin-left: rem($margin4px);
          }

          @include screen(desktop) {
            line-height: rem(22px);
            font-weight: $font-regular;
          }

          &__icon {
            width: rem(16px);
            position: absolute;
            top: rem(3px);
          }
        }
      }

      &__head-text {
        color: $gray3;
        position: relative;
        padding: 0;
        display: flex;
        padding-right: rem($padding25px);

        @include screen(desktop) {
          padding-right: rem(columns(1, true));
        }

        .c-text-contents {
          &__headline {
            // margin-left: rem($margin22px);
          }
        }

        &.c-step-active {
          #{$block}__step {
            color: $red;
          }

          #{$block}__head-flag {
            color: $gray3;

            .c-dot {
              color: $red;
            }
          }
        }
      }

      &__body {
        background-color: $white;
        padding: rem($padding20px);

        @include screen(desktop) {
          // display: flex;
          column-gap: min($gutter-w, calc(100% * $gutter-w / $design-grid-full));
          padding: rem($padding30px $padding24px);
        }
      }

      &__body-text {
        // display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        &.c-flex {
          display: flex;
        }
        @include screen(desktop) {
          flex-basis: rem(columns(7, false));
          min-width: rem(columns(3));

          &:only-child {
            flex-basis: rem(columns(9, false));
          }
        }

        // #{$block}__initial {
        //     color: $red;
        //     display: none;
        // }
        .c-text-contents__bodycopy {
          flex: 1;
          line-height: rem(24px);

          @include screen(desktop) {
            line-height: rem(24px);
          }
        }

        .c-cta {
          width: 100%;
          margin-left: rem($margin25px);
        }
      }

      &__body-image {
        @include screen(desktop) {
          flex-basis: rem(columns(5, false));
        }

        &:empty {
          display: none;
        }
      }

      &__button {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-right: rem($padding10px);
        padding-top: rem($padding22px);

        @include screen(desktop) {
          align-items: center;
          padding-right: rem($padding24px);
          padding-top: 0;
        }
      }
    }

    &__offEye {
      .c-accordion {
        &__head {
          &-flag {
            display: none;
          }
        }

        #{$block}__initial {
          display: none;
        }
      }
    }

    .c-pagination {
      margin-top: rem($margin20px);

      @include screen(desktop) {
        margin-top: rem($margin40px);
      }
    }
  }

  .c-no-result {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem($padding13px 0);
    // border: 1px solid $graye6;
    border-radius: $radius20;
    background: $light-gray3;

    @include screen(desktop) {
      padding: rem(45px 0);
      max-width: $design-grid-full;
      min-height: 650px;
      margin: 0 auto;
      margin-top: rem($margin16px);
    }

    &__wrap {
      text-align: center;
    }

    &__icon {
      display: inline-block;
      width: rem(60px);
      height: rem(60px);
      margin-bottom: rem($margin12px);

      background : {
        image: url($icon-no-result-60-60);
        position: 100% center;
        size: 100%;
        repeat: no-repeat;
      }
    }
  }

  // layout : margin
  $image: '.c-image';
  $text: '.c-text-contents';
  $cta: '.c-cta';
  $accordion: '.c-accordion';
  $initial-spell-size: 20px;

  #{$accordion}__initial {
    min-width: rem($initial-spell-size * 0.8);
    margin-right: rem($margin8px);

    @include screen(desktop) {
      min-width: rem($initial-spell-size);
      margin-right: rem($margin10px);
    }
  }

  #{$accordion}__body {
    #{$cta} {
      margin-top: rem($margin16px);

      @include screen(desktop) {
        margin-top: rem($margin20px);
      }
    }

    // #{$cta},
    #{$image} {
      // padding-left: rem($initial-spell-size * 0.8 + $margin8px);
      @include screen(desktop) {
        padding-left: rem($initial-spell-size + $margin10px);
      }
    }
  }

  #{$accordion}__body-text + #{$accordion}__body-image {
    @include screen(mobile) {
      margin-top: rem($margin20px);
      padding-left: rem($padding25px);
      border-radius: 0;
    }
  }

  .type-accordion {
    .button.c-cta {
      margin-top: rem($margin24px);

      @include screen(desktop) {
        margin-top: rem($margin40px);
      }
    }
    .c-accordion + .button.c-cta {
      .c-button {
        &.disabled {
          span {
            color: $grayb;
          }

          background-color: $gray9;
          cursor: none;
        }
      }
      @include screen(desktop) {
        margin-top: rem($margin40px);

        .c-button {
          // width: rem($width160px);
        }
      }
    }

    .c-image {
      // max-width: rem(80px);
      @include screen(desktop) {
        max-width: rem(500px);
        border-radius: 0;
      }
    }
  }

  .c-text-contents__title {
    margin-bottom: 0.75rem;
  }

  .asc-list__wrap {
    display: flex;
    flex-direction: column;

    @include screen(desktop) {
      flex-direction: row;
    }

    .asc-list__flex {
      position: relative;
      // width:50%;

      @include screen(desktop) {
        &:last-child {
          padding-left: 1.25rem;
          border-left: 1px solid #cbc8c2;
        }
        width: 50%;
      }

      .app__icon {
        position: relative;

        &:after {
          content: '';
          position: absolute;
          right: -2.5rem;
          bottom: 0;
          width: 2.125rem;
          height: 2.125rem;
          background: url('../../mocks/CS0110/icon_CS0110.png');
        }
      }
    }
    dl {
      margin-bottom: 0.75rem;
    }

    dt {
      font-size: 14px;
      color: #7e7c77;
    }

    dd {
      margin: 0;
      font-size: rem(14px);
      color: black;
      line-height: rem(16px);
      @include screen(desktop) {
        font-size: rem(16px);
        line-height: rem(18px);
      }

      a.cmp-button {
        display: inline-flex;
        margin-right: rem($margin8px);
      }
    }
  }
}
