@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.ETC000E';
.component > .fluid-container {
  @include container($maximum, true);
}
#{$component} {
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  .c-button[class*='-box'].disabled:not(.c-button[class*='-box'][class*='-box-outlined']) {
    color: $grayb;
    background-color: $gray9;
  }
  // [Start] 2023-05-17 : ADD - fluid-container */
  .fluid-container {
    max-width: none;
  }
  // [End] 2023-05-17 : ADD - fluid-container */
  .my-component {
    @include container($design-grid-full, true);
    @include inset-padding-hz;

    $mycomponent: '.my-component';
    position: relative;
    overflow: hidden;
    &:first-child {
      max-width: none;
      // padding-top: rem($padding24px);
      // border-bottom: rem($border1) solid $mid-gray1;
      // padding-bottom: rem($padding24px);
      .c-text-contents {
        max-width: rem(952px);
        margin: 0 auto;
      }
    }

    & > .c-text-contents & > .c-product-list--carousel {
      padding-left: 0;
      padding-right: 0;
    }
    // [Start] 2023-05-17 : ADD - my-component__wrap */
    &__wrap {
      border-top: none;
      padding: rem(24px) 0;
      & + .my-component {
        margin-top: rem(12px);
      }

      .c-text-contents {
        & > .c-text-contents__bodycopy {
          color: $mid-gray2;
        }
      }
      &:first-child {
        border-bottom: rem($border1) solid $mid-gray1;
        .c-text-contents {
          & > .c-text-contents__bodycopy {
            margin-top: rem($margin10px);
            color: $gray3;
          }
        }
      }
      @include screen(web) {
        padding: rem(24px) 0;
        // padding-bottom: rem($padding40px);
        & + .my-component {
          margin-top: rem(20px);
        }
      }
    }
    // [End] 2023-05-17 : ADD - my-component__wrap */
  }
  .my-form {
    max-width: rem(952px);
    margin: 0 auto;
    & + .my-form {
      margin-top: rem($margin20px);
      @include screen(web) {
        margin-top: rem($margin24px);
      }
    }
    &-required {
      max-width: rem(952px);
      margin: 0 auto;
      text-align: right;
      margin-top: rem($margin20px);
      color: $mid-gray2;
      @include screen(web) {
        margin-top: rem($margin24px);
      }
      em.c-required {
        color: $mid-gray2;
      }
      & + .my-form {
        margin-top: rem($margin8px);
        @include screen(web) {
          margin-top: rem($margin20px);
        }
      }
    }
    &__info {
      color: $mid-gray2;
      span.font-black {
        color: $black;
      }
      & + .my-input {
        margin-top: rem($margin20px);
        @include screen(web) {
          margin-top: rem($margin24px);
        }
      }
    }
    &:first-child {
      .my-form__title {
        position: relative;
        padding: rem(20px) 0 rem(12px);
        .my-form-required {
          position: absolute;
          top: rem(25px);
          right: 0;
        }
        @include screen(web) {
          padding: rem(26px) 0 rem(18px);
          .my-form-required {
            top: rem(38px);
          }
        }
      }
      .my-formbox {
        margin-top: 0;
      }
    }
  }
  // [Start] 2023-05-17 : ADDED - Required fields */
  .my-formbox {
    margin: 0 auto;
    max-width: rem(952px);
    background-color: $white;
    margin-top: rem($margin12px);
    padding: rem($padding20px) rem($padding16px);
    @include lgness-radius('default');
    @include screen(web) {
      margin-top: rem($margin20px);
      padding: rem($padding24px);
    }
    .c-cta {
      margin-top: rem($margin60px);
      justify-content: center;
    }
    .my-formbox__button {
      margin-top: rem($margin60px);
      @include screen(mobile) {
        margin-top: rem($margin32px);
        justify-content: space-between;
      }
      .c-button {
        @include screen(mobile) {
          min-width: calc(50% - rem(5px));
        }
      }
    }
    // - 2023-05-25 BASIC INFORMATION ON THE PROCESSING OF PERSONAL DATA
    .c-info {
      &__type {
        border-top: 1px solid $graycb;
        border-bottom: 1px solid $graycb;
        margin-top: rem($margin16px);
        margin-bottom: rem($margin16px);
        padding-top: rem($padding16px);
        padding-bottom: rem($padding16px);
        #{$cs-header} {
          padding: rem(0);
          margin-top: rem(0);
          #{$text-contents}__bodycopy {
            margin-top: rem($margin8px);
          }
          #{$text-contents}__headline {
            padding: rem($margin12px $margin13px);
            border-radius: rem($radius12);
            background-color: $ivory6;
            margin-bottom: rem($margin8px);
            &2 {
              margin-bottom: rem($margin16px);
            }
          }
        }
        @include screen(web) {
          padding-top: rem($padding20px);
          padding-bottom: rem($padding20px);
          margin-top: rem($padding20px);
          margin-bottom: rem($margin20px);
          #{$cs-header} {
            padding: rem(0);
            margin-top: rem(0);
            #{$text-contents}__headline {
              &2 {
                margin-bottom: rem($margin20px);
              }
            }
          }
        }
        ul.ty2 {
          padding: rem(0);
          li {
            list-style-type: none;
            padding-left: rem($padding13px);
          }
        }
      }
      &__wrapper {
        margin: auto;
        @include screen(web) {
          padding-left: rem(0);
          padding-right: rem(0);
        }
      }
      &_list {
        padding: rem(0 $margin26px);
        &:last-child {
          margin-bottom: rem(0);
        }
        li {
          @include reset-list-style;
          position: relative;
          padding-left: rem($padding7px);
          list-style-type: decimal;
          margin-bottom: rem($margin8px);
          &:last-child {
            margin-bottom: rem(0);
          }
          &::before {
            content: none;
            display: inline-block;
            padding-right: 20px;
            width: rem(4px);
            height: rem(4px);
            position: absolute;
            top: rem(-4px);
            left: 0;
          }
        }
        @include screen(web) {
          li {
            padding-left: rem($padding7px);
          }
        }
      }
    }

    .my-formbox__colum2 {
      margin-top: rem(16px);
      & + .c-checkbox-item {
        margin-top: rem(24px);
      }
      @include screen(web) {
        margin-top: rem(24px);
        .my-input > ul {
          display: flex;
          flex-wrap: wrap;
          gap: rem(24px);
          & > li {
            width: calc(50% - rem(12px));
          }
          & > li + li {
            margin-top: 0;
          }
        }
      }
    }

    .c-post-form__item {
      margin-top: rem(24px);
      .c-radio-group {
        display: flex;
        gap: rem(24px);
      }
    }
    .my-check__wrap {
      padding: rem(12px) 0;
      border-top: 1px solid $graycb;
      border-bottom: 1px solid $graycb;
      display: flex;
      flex-direction: column;
      gap: rem(12px);

      .button {
        width: 100%;
      }
      & + .c-checkbox-item {
        margin-top: rem(24px);
      }
    }
    @include screen(web) {
      .my-check__wrap {
        flex-direction: row;
        flex-wrap: wrap;
        padding: rem(12px) rem(28px);
        gap: rem(12px) rem(30px);
        .button {
          width: 30.5%;
        }
      }
    }
    .c-checkbox-item {
      margin-top: rem(8px);
    }
  }

  .my-input {
    text-align: left;
    ul {
      @include reset-list-style;
      li {
        width: 100%;
        @include screen(web) {
          width: auto;
        }
        .c-warning,
        .c-valid {
          line-height: rem(14px);
          padding-left: rem($padding13px);
          &::before {
            display: none;
          }
          margin-top: rem($margin4px);
          &:first-child {
            margin-top: rem($margin6px);
          }
          @include screen(web) {
            margin-top: rem($margin6px);
            line-height: rem(16px);
            &:first-child {
              margin-top: rem($margin8px);
            }
          }
        }
      }
      li + li {
        margin-top: rem($margin16px);
        @include screen(web) {
          margin-top: rem($margin20px);
        }
      }
      .c-search-box__form {
        gap: 0;
        @include screen(web) {
          flex-direction: column;
        }
      }
      .c-input-item {
        position: relative;
        label {
          color: $gray3;
        }
        .my-input__password {
          padding-right: rem($padding45px);
        }
        &.active {
          .my-form__eye {
            background: url($icon-mylg-view-on-24-24) center / contain no-repeat;
          }
        }
      }
      .my-captcha {
        $captch: '.my-captcha';
        &__container {
          display: flex;
          flex-flow: column;
        }
        &__area {
          display: flex;
          align-items: center;
        }
        &__box {
          border: rem($border1) solid $grayd;
          border-radius: rem($radius6);
          margin-bottom: rem($margin10px);
          width: 100%;
          height: rem(76px);
          margin-top: rem($margin10px);
        }
        &__btnbox {
          display: flex;
          flex-flow: column;
          align-items: center;
          margin-left: rem($margin10px);
          #{$captch}__button + #{$captch}__button {
            margin-top: rem($margin20px);
          }
        }
        &__button {
          cursor: pointer;
          border: none;
          position: relative;
          max-width: rem(24px);
          max-height: rem(24px);
          min-width: rem(24px);
          min-height: rem(24px);
          &--reload {
            background: url($icon-captcha-refresh-24-24) center / contain no-repeat;
          }
          &--play {
            background: url($icon-captcha-volume-24-24) center / contain no-repeat;
          }
        }
      }
    }
    &.column2-type {
      li:last-child {
        margin-bottom: rem(16px);
      }
      @include screen(web) {
        ul {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          li {
            width: 49%;
            margin-top: 0;
            margin-bottom: rem(20px);
          }
        }
      }
    }

    input {
      color: $black;
      border: rem($border1) solid $mid-gray1;
      border-radius: rem(12px);
      padding: rem($padding12px) rem($padding13px);
      font-size: rem(16px);
      line-height: rem(20px);
      height: rem($height44px);
      &[type='date'] {
        position: relative;
        background: url($icon-calendar-black-24-24) no-repeat right rem(13px) center;
        background-size: rem(24px) rem(24px);
        background-color: $white;
        text-align: #{'/*!rtl:right*/'}; /* 230515 RTL */
        &::-webkit-clear-button,
        &::-webkit-inner-spin-button {
          display: none;
        }
        &::-webkit-calendar-picker-indicator {
          cursor: pointer;
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: transparent;
          color: transparent;
        }
        &::before,
        &:focus::before {
          content: attr(placeholder);
          width: 100%;
        }
        &:valid::before {
          content: normal;
        }
      }
      &[data-placeholder]::before {
        color: $gray6;
        font-size: rem(14px);
      }
      &[type='password'] {
        padding-right: rem($padding45px);
      }
      &[readonly] {
        background-color: $ivory6;
        &::placeholder {
          color: $grayb;
        }
      }
      &[disabled] {
        background-color: $ivory6;
        &::placeholder {
          color: $grayb;
        }
      }
      &.underline {
        border: 0;
        border-bottom: rem($border1) solid $mid-gray1;
        border-radius: 0;
        padding-left: 0;
        padding-right: 0;
      }
    }
    .c-text-contents {
      margin-bottom: rem($margin30px);
      @include screen(web) {
        margin-bottom: rem($margin40px);
      }
      &__bodycopy {
        margin: 0 auto;
        margin-top: rem($margin10px);
        max-width: rem(450px);
      }
    }
    .c-checkbox-item {
      margin-top: rem($margin8px);
      .label {
        font-size: rem(16px);
        @include screen(web) {
          font-size: rem(14px);
        }
      }
    }
    .button {
      justify-content: center;
      margin-top: rem($margin30px);
    }
    .my-form {
      &__eye {
        display: inline-block;
        background: url($icon-mylg-view-32-32) center / contain no-repeat;
        position: absolute;
        top: 50%;
        right: rem(15px);
        width: rem($width24px);
        height: rem($height24px);
        border: none;
        cursor: pointer;
        @include screen(web) {
          top: calc(50% - rem(-2px));
        }
      }
      &__search {
        padding-right: rem($padding50px);
        &__icon {
          display: inline-block;
          position: absolute;
          right: rem(16px);
          width: rem($width24px);
          height: rem($height24px);
          border: none;
          cursor: pointer;
          top: 50%;
          background: url($icon-search-black-24-24) center / rem(21px) rem(21px) no-repeat;
          @include screen(web) {
            top: 53%;
            background: url($icon-search-black-24-24) center / rem(16px) rem(16px) no-repeat;
          }
        }
      }
    }
    .my-warn {
      padding-right: rem($padding40px);
      border-color: $active-red;
      select {
        border-color: $active-red;
      }
    }
    .c-search-box__form.my-warn {
      padding-right: 0;
    }
    // [Start] 2023-05-03 : ADD - email form case */
    .input-button__container {
      display: flex;
      flex-direction: column;
      @include screen(web) {
        // display: flex;
        flex-direction: row;
        gap: 0 rem(8px);
      }
      .button {
        margin-top: rem($margin8px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: initial;
        flex-direction: column;
        @include screen(web) {
          margin: 0;
          flex-direction: row;
          // width: rem(75px);
          // .cmp-button {
          //     min-width: 0;
          // }
        }
        .cmp-button {
          width: 100%;
          white-space: nowrap;
          @include screen(web) {
            min-width: 0;
          }
        }
      }
      &--validation {
        .my-button-validation {
          flex: 1;
        }
      }
    }
    // [end] 2023-05-03 : ADD - email form case */
    // - 202305-24 Date of Birth
    .my-birth__container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      @include screen(web) {
        // display: flex;
        flex-direction: row;
        gap: 0 rem(8px);
      }
      &--validation {
        .my-birth-validation {
          flex: 1;
        }
      }
      .my-birth {
        &__inner {
          position: relative;
          flex: 1;
          input {
            padding-right: rem($padding58px);
          }
        }
      }
    }
    .my-verify {
      &__inner {
        position: relative;
        flex: 1;
        input {
          padding-right: rem($padding58px);
        }
      }
      &__time {
        color: $black;
        position: absolute;
        top: 50%;
        right: rem(16px);
        transform: translateY(-50%);
      }
    }
    select {
      font-size: rem(16px);
      @include screen(web) {
        font-size: rem(14px);
      }
    }
    .c-select-item {
      label {
        font-weight: $font-regular;
        color: $gray3;
        font-size: rem(14px);
        line-height: rem(16px);
        @include screen(web) {
          font-size: rem(16px);
          line-height: rem(20px);
        }
      }
      select {
        color: $mid-gray2;
        height: auto;
        // border: rem($border1) solid $mid-gray1;
        padding: rem($padding12px) rem($padding13px);
        border-radius: rem(12px);
        font-size: rem(16px);
        line-height: rem(20px);
        option[selected] {
          color: $mid-gray2;
        }
      }
    }
    ul.my-input__info {
      // - 2023-05-15 (Brazil)
      @include reset-list-style;
      color: $mid-gray3;
      margin-top: rem($margin8px);
      li {
        // font-size: rem(14px);
        line-height: rem(16px);
        @include screen(web) {
          line-height: rem(20px);
          max-width: 90%;
        }
      }
    }
    .c-form__radio-box {
      display: flex;
      gap: rem(5px) rem(24px);
      flex-wrap: wrap;
      min-height: rem(44px);
      .c-form-box {
        margin-top: 0;
        .c-radio-item {
          label {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .button.my-button {
    display: flex;
    justify-content: center;
    margin-top: rem($margin24px);
    margin-bottom: rem($margin24px);
    @include screen(web) {
      margin-top: rem($margin32px);
      display: flex;
    }
    .cmp-button {
      // width: 100%;
      @include screen(web) {
        width: auto;
      }
      // & + .cmp-button {
      //     margin-top: rem($margin8px);
      //     @include screen(web) {
      //         margin-top: 0;
      //     }
      // }
    }
    .c-button[class*='-box']:not(.c-button[class*='-box'][class*='-box-outlined']):disabled,
    .c-button[class*='-box']:not(.c-button[class*='-box'][class*='-box-outlined'])[disabled] {
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  .responsive {
    &.page-title {
      padding: rem(24px) rem(20px);

      @include screen(web) {
        padding: rem(24px) 0;
      }
    }
    &.text-contents {
      padding-top: rem(20px);
      .text-email {
        font-weight: 600;
      }
      @include screen(web) {
        padding-top: rem(45px);
      }
      .button.c-cta {
        margin-top: rem(24px);
      }
      .util-text {
        margin-top: rem(16px);
        text-align: center;
        strong {
          font-weight: 600;
        }
      }
    }
    &.headline {
      margin-top: rem(28px);
    }
    &.membership {
      margin-top: rem(12px);
    }
    @include screen(web) {
      &.text-contents {
        .util-text {
          margin-top: rem(16px);
          text-align: left;
        }
      }
      &.headline {
        margin-top: rem(24px);
        border-top: none;
        .component-headline {
          padding-top: 0;
        }
      }
      &.membership {
        margin-top: rem(40px);
      }
    }
    @include screen(tablet) {
      &.membership {
        margin-top: rem(25px);
      }
    }
  }

  .privacy-policy {
    margin-top: rem(35px);
    strong {
      font-size: rem(16px);
      font-weight: 400;
      color: $black;
    }
    p {
      color: $mid-gray2;
      font-size: rem(16px);
      line-height: rem(22px);
      margin-top: rem(12px);
      a {
        margin-left: rem(5px);
        font-style: normal;
        font-weight: 600;
        color: $black;
        text-decoration-line: underline;
      }
    }
    @include screen(web) {
      margin-top: rem(60px);
      strong {
        font-size: rem(20px);
      }
      p {
        font-size: rem(20px);
        line-height: rem(20px);
      }
    }
  }

  .my-orderDetail {
    $text: '.c-text-contents';
    ul {
      @include reset-list-style;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      @include screen(web) {
        justify-content: space-between;
      }
      li {
        width: 100%;
        padding: rem($padding16px) 0 rem($padding10px);
        border-bottom: rem($border1) solid $mid-gray1;
        @include screen(web) {
          width: 48.5%;
          padding: rem($padding14px) 0;
          align-self: stretch;
        }
      }
    }
    .c-text-contents__title {
      line-height: rem(16px);
      color: $mid-gray2;
      @include screen(web) {
        line-height: rem(22px);
      }
    }
    .c-text-contents__bodycopy {
      margin-top: 0;
      line-height: rem(20px);
      color: $black;
      @include screen(web) {
        margin-top: rem($margin4px);
        line-height: rem(22px);
      }
      &--file {
        a {
          display: inline-block !important;
          position: relative;
          padding-right: rem($padding20px);
          color: $gray3;
          &::after {
            content: '';
            display: inline-block;
            position: absolute;
            bottom: 0;
            right: 0;
            width: rem(16px);
            height: rem(16px);
            background: {
              position: center;
              size: cover;
              repeat: no-repeat;
              color: transparent;
              image: url($icon-download-black-24-24);
            }
          }
        }
      }
    }
  }

  .my-order-detail__box {
    display: block;
    border-bottom: rem($border1) solid $mid-gray1;
    position: relative;
    padding: rem($padding10px) 0;
    @include screen(web) {
      padding: rem($padding14px) 0;
    }
    .c-text-contents {
      &__title {
        margin-top: 0;
        line-height: rem(16px);
        color: $mid-gray2;
        @include screen(web) {
          line-height: rem(22px);
        }
        span {
          line-height: rem(18px);
          @include screen(web) {
            line-height: rem(22px);
          }
        }
      }
      &__bodycopy {
        display: flex;
        flex-flow: column;
        margin-top: rem($margin2px);
        color: $black;
        &.flex-column {
          flex-flow: column;
          gap: rem(0px);
        }
        @include screen(web) {
          margin-top: rem($margin2px);
          flex-flow: wrap;
          gap: rem(15px);
          &.flex-column {
            gap: rem(4px);
          }
        }
        span {
          display: block;
          line-height: rem(20px);
        }
      }
    }
    .my-order-detail__warning {
      display: flex;
      align-items: center;
      margin-top: rem($margin2px);
      .font-red {
        font-weight: $font-regular;
        @include screen(web) {
          margin-top: rem($margin6px);
        }
        @include screen(mobile) {
          color: $black;
        }
      }
    }
    .my-order-detail__button {
      @include screen(mobile) {
        margin-top: rem($margin16px);
      }
      .c-button {
        line-height: rem(12px);
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      .black {
        color: $black;
      }
      .cmp-button.red {
        @include screen(mobile) {
          color: $black;
          &:after {
            background-image: url($icon-arrow-gray3-right-5-8);
          }
        }
      }
    }
  }

  .my-form-required {
    max-width: rem(952px);
    margin: 0 auto rem($margin8px);
    color: $mid-gray2;
    font-size: rem(12px);
    line-height: rem(14px);
    text-align: right;
    @include screen(mobile) {
      text-align: right;
    }
    @include screen(web) {
      font-size: rem(16px);
      line-height: rem(20px);
    }
    .c-required {
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
    }
  }

  .my-contents {
    max-width: rem(952px);
    margin: 0 auto;
  }

  // type side
  .type-side {
    border-top: 1px solid $mid-gray1;
    padding: rem(24px) rem(16px);
    .c-text-contents {
      width: 100%;
    }
    .cmp-container {
      margin: 0 auto;
      @include screen(web) {
        display: flex;
        max-width: rem($design-grid-full);
        justify-content: space-between;
        align-items: center;
        column-gap: rem($margin30px);
      }
    }
    .c-cta {
      margin-top: rem(12px);
    }

    @include screen(web) {
      margin-top: rem(64px);
      padding: rem(48px) rem(16px);
      .cmp-container {
        max-width: rem(952px);
        margin: 0 auto;
      }
    }
  }
}
