@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.ST0018';
#{$component} {
  > .component > .cmp-container {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
  }
  // block : region header
  .c-region-header {
    @include screen(mobile) {
      padding: 0;
    }
  }
  // block - text contents
  .c-text-contents {
    margin-top: rem($margin8px);
    color: inherit;
    @include screen(web) {
      margin-top: rem($margin20px);
    }
  }
  // block : cta
  * + .c-cta {
    margin-top: rem($margin12px);
    @include screen(web) {
      margin-top: rem($margin24px);
    }
  }
  // block : image
  .c-image {
    overflow: hidden;
    @include lgness-radius('default');
    .fit-content {
      background: #fff;
      min-height: rem(212px);
      @include screen(web) {
        min-height: rem(142px);
      }
      .cmp-image__image {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: fit-content;
        height: fit-content;
      }
      .image-frame {
        width: 100%;
        max-width: 100%;
      }
    }
  }
  // block : carousel
  .c-carousel {
    @include screen(mobile) {
      margin-left: rem(-$block-margin-m);
      margin-right: rem(-$block-margin-m);
    }
    .swiper {
      &-wrapper {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        @include screen(web) {
          justify-content: center;
          gap: rem($gutter-w);
        }
      }
      &-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        @include screen(web) {
          max-width: rem(columns(2, false));
          flex: 1;
        }
        .c-media-contents,
        .c-text-contents,
        .c-cta {
          width: 100%;
          max-width: rem($max-width360px - $block-margin-m - $block-margin-m);
          @include screen(web) {
            max-width: rem(columns(2, false));
          }
        }
      }
    }
    &.swiper-initialized {
      .swiper-wrapper {
        justify-content: flex-start;
        @include screen(web) {
          gap: 0;
        }
      }
      .swiper-slide {
        max-width: 100%;
        @include screen(web) {
          flex: none;
        }
      }
    }
  }
  // option : none carousel box
  .non-carousel-box {
    margin: 0 auto;
    &.item6 {
      max-width: rem($design-grid-full);
    }
    &.item5 {
      max-width: rem(columns(10, false));
    }
    &.item4 {
      max-width: rem(columns(8, false));
    }
    &.item3 {
      max-width: rem(columns(6, false));
    }
    &.item2 {
      max-width: rem(columns(4, false));
    }
  }
  // block : list
  .c-list {
    @include list(wrap, $margin10px);
    @include reset-list-style;
    justify-content: center;
    row-gap: rem($margin24px);
    @include screen(web) {
      gap: rem($margin24px);
    }
    &__item {
      display: flex;
      flex-direction: column;
      max-width: rem(calc(($max-width360px - $block-margin-m - $block-margin-m - 10px) / 2));
      // align-items: center;
      @include screen(web) {
        max-width: rem(columns(2, false));
      }
      @include screen(custom, rem($minimum), max) {
        flex-basis: calc(50% - (rem($margin10px) / 2));
      }
    }
  }
  // block : c-qr-list
  .c-qr-list {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    max-width: rem($design-grid-full);
    @include screen(mobile) {
      margin-top: rem($margin12px);
      overflow: hidden;
    }
    @include screen(web) {
      margin-top: rem($margin20px);
    }
    // AEM Class
    .carousel {
      width: 100%;
    }
    .c-carousel {
      $block: '.c-carousel';
      overflow-y: visible;
      position: static;
      @include screen(mobile) {
        margin-left: 0;
        margin-right: 0;
        overflow: hidden;
      }
      .swiper {
        &-wrapper {
          justify-content: flex-start;
          align-items: center;
          gap: 0;
        }
        &-slide {
          max-width: 100%;
          .c-text-contents {
            max-width: 100%;
            @include screen(web) {
              max-width: 100%;
            }
          }
        }
      }
      &:not(.swiper-initialized) {
        .swiper-wrapper {
          align-items: center;
          gap: rem($margin24px);
          .swiper-slide {
            flex: 0 1 rem($max-width342px);
          }
        }
      }
    }
    &__item {
      $box-img-size: $max-width180px;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      .c-image {
        padding: rem($padding30px $padding20px);
        background-color: $white;
        @include lgness-radius('default');
        @include screen(web) {
          padding: rem($padding21px $padding40px);
        }
        .c-image__img {
          @include screen(mobile) {
            width: rem($width60px);
          }
        }
      }
      .c-text-contents {
        color: $dark-gray1;
        text-align: center;
        margin-top: rem($margin8px);
        line-height: rem(18px);
        @include screen(web) {
          margin-top: rem($margin20px);
          line-height: rem(28px);
        }
      }
    }
  }

  // vendor
  .swiper {
    overflow-y: visible;
    position: static;
  }
}
