mixin ST0023(option=false)
    mixin image(size)
        // block : image
        .image.c-image
            +printLazyImage(`https://via.placeholder.com/${size}/999999/333333`)
            if block
                block
    mixin learnMore
        // 2023-02-08 added .c-cta
        .c-cta
            +circleButton({name: 'Learn More', wSize: 'large', mSize: 'small', buttonStyle: 'white arrow', isButton: "none"})
    mixin itemType(item)
        if item 
            div(class='cmp-carousel__item swiper-slide c-list__item')
                if block
                    block
        else
            li(class='c-list__item')
                if block
                    block
    mixin listItemCard(params)
        - var options={headText:'headline text', bodyText:'body text', isSwiper:false, ...params}
        +itemType(options.isSwiper)
            // GA4
            a(href="#" class="c-list__link" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
                // block : text contents
                .c-text-contents
                    .title.c-text-contents__headline
                        .cmp-title.font-w-light-36.font-m-normal-16(data-cmp-data-layer="")
                            strong #{options.headText}
                    .text.c-text-contents__bodycopy
                        .cmp-text.font-w-normal-16(data-cmp-data-layer="")
                            p #{options.bodyText}
                +image('64x64')
                +learnMore
    mixin title
        .c-support__title
            //- title area
            +component-title-area({
                alignment : "align-text-left",
                headline : {
                    text : "Need More Help with OLED77C26LD?",
                },
                description : {
                    text : "We're here to provide all the help you need.",
                    style : "font-w-normal-24 font-m-normal-14"
                }
            })(class="c-region-header--justify-w")
                //- buttons
                // block - cta
                .c-cta
                    +defaultButton({name: 'Get Support', wSize: 'large', mSize: 'medium', buttonStyle: 'default', isButton: false})

    //- mixin optionContents
    //-     .c-support.c-support--option
    //-         .c-support__inner
    //-             .c-support__title
    //-                 // block : text contents
    //-                 .c-text-contents
    //-                     .c-text-contents__headline
    //-                         +headline("font-w-light-56 font-m-light-28", "h2", "Choose a support option below:")
    //-             .c-support__box
    //-                 // block : list
    //-                 ul.c-list
    //-                     li.c-list__item
    //-                         a(href="https://www.lgechat.com/us/index.html" target="popup" class="c-list__link js-open-popup"  data-width="344" data-height="553" title="Opens in a new popup window")
    //-                             +image('64x64')
    //-                             // block : text contents
    //-                             .c-text-contents
    //-                                 .title.c-text-contents__headline
    //-                                     .cmp-title.font-w-semibold-20.font-m-semibold-16(data-cmp-data-layer="")
    //-                                         strong LG Chatbot
    //-                                 .c-text-contents__bodycopy
    //-                                     .cmp-text.font-w-normal-16.font-m-normal-14
    //-                                         p.highlight 24x7 Support with Chatbot!
    //-                     li.c-list__item
    //-                         a(href="tel:8002430000" class="c-list__link")
    //-                             +image('64x64')
    //-                             // block : text contents
    //-                             .c-text-contents
    //-                                 .title.c-text-contents__headline
    //-                                     .cmp-title.font-w-semibold-20.font-m-semibold-16(data-cmp-data-layer="")
    //-                                         strong Telephone
    //-                                 .c-text-contents__bodycopy
    //-                                     .cmp-text.font-w-normal-16.font-m-normal-14
    //-                                         p Call an LG Support Representative 
    //-                                             span.highlight (800) 243-0000 Consumer
    //-                                             |  (6am-midnight CST)
    //-                     li.c-list__item
    //-                         a(href="#" class="c-list__link")
    //-                             +image('64x64')
    //-                             // block : text contents
    //-                             .c-text-contents
    //-                                 .title.c-text-contents__headline
    //-                                     .cmp-title.font-w-semibold-20.font-m-semibold-16(data-cmp-data-layer="")
    //-                                         strong Twitter
    //-                                 .c-text-contents__bodycopy
    //-                                     .cmp-text.font-w-normal-16.font-m-normal-14
    //-                                         p Tweet 
    //-                                             span.highlight @LGUSSupport
    //-                                             |  for Support. Mon-Sat 8:00am - 7:00pm CST
    //-                     li.c-list__item
    //-                         a(href="mailto:Signature@lgexecutiveservices.com" class="c-list__link")
    //-                             +image('64x64')
    //-                             // block : text contents
    //-                             .c-text-contents
    //-                                 .title.c-text-contents__headline
    //-                                     .cmp-title.font-w-semibold-20.font-m-semibold-16(data-cmp-data-layer="")
    //-                                         strong Email
    //-                                 .c-text-contents__bodycopy
    //-                                     .cmp-text.font-w-normal-16.font-m-normal-14
    //-                                         p No time to chat? 
    //-                                             span.highlight Send LG Support your inquiry.

    .c-wrapper.ST0023.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                // block : support
                // card
                .c-support.c-support--card
                    .c-support__inner
                        +title
                        if(option == 'MOBILESWIPER')
                            // swiper
                            .carousel.panelcontainer.c-support__box
                                // block : carousel
                                .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="")
                                    // block : list
                                    // 2023-02-08 added class 'c-list--flex'
                                    .cmp-carousel__content.swiper-wrapper.c-list.c-list--flex
                                        +listItemCard({headText:'Warranty Information', bodyText:'View manufacturer warranty information', isSwiper: true})
                                        +listItemCard({headText:'Register Your Product', bodyText:'Registering your product will help you get faster support.', isSwiper: true})
                                        +listItemCard({headText:'Manuals and Downloads', bodyText:'Download owner\'s manuals and documentation', isSwiper: true})
                                        +listItemCard({headText:'Help Library', bodyText:'Help yourself to helpful product information', isSwiper: true})
                                .c-carousel__handler
                                    .cmp-carousel__actions
                                        +carouselBtn({type:"pagination", direction:"prev"})
                                    +carouselPagination({isUnder:true})
                                    .cmp-carousel__actions
                                        +carouselBtn({type:"pagination", direction:"next"})
                        else 
                            .c-support__box
                                // block : list
                                // 2023-02-08 added class 'c-list--flex'
                                ul.c-list.c-list--flex
                                    +listItemCard({headText:'Warranty Information', bodyText:'View manufacturer warranty information'})
                                    +listItemCard({headText:'Register Your Product', bodyText:'Registering your product will help you get faster support.'})
                                    +listItemCard({headText:'Manuals and Downloads', bodyText:'Download owner\'s manuals and documentation'})
                                    +listItemCard({headText:'Help Library', bodyText:'Help yourself to helpful product information'})
                //- // option
                //- if(option !== 'PLP' && option !== 'PDP' && option !== 'PBP')
                //-     +optionContents

