@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.PD0006';
#{$component} {
  @include lgness-margin('if-headline-inside');
  // element
  > .component > .cmp-container {
    // ..
  }
  // block
  $text: '.c-text-contents';
  .c-text-contents {
    @at-root #{$component} {
      #{$text}__ + .c-support__box {
        margin-top: rem($padding20px);
        @include screen(web) {
          margin-top: rem($margin40px);
        }
      }
    }
  }
  .c-list {
    @include reset-list-style;
    @include list(wrap, $gutter-m);
    @include screen(web) {
      column-gap: min(rem($gutter-w), $gutter-w/$design-grid-full * 100%);
      row-gap: rem($gutter-w);
    }
    &__item {
      .c-button {
        @include screen(mobile) {
          display: none;
        }
        @include screen(web) {
          margin-top: rem($margin20px);
        }
      }
      @at-root #{$component} {
        #{$text}__headline + #{$text}__bodycopy {
          margin-top: rem($margin8px);
        }
      }
    }
    &__link {
      width: 100%;
      // &:hover,
      // &:focus {
      //     text-decoration: none;
      //     [class*='c-text-contents'] {
      //         text-decoration: underline;
      //     }
      //     .c-button {
      //         color: $white;
      //         background-color: $active-red;
      //         border-color: $active-red;
      //     }
      // }
    }
  }
  .c-support {
    // @include lgness-margin('if-headline-inside');
    // padding-top: rem($component-margin-m);
    // padding-bottom: rem($component-margin-m);
    // @include screen(web) {
    //     padding-top: rem($component-margin-w);
    //     padding-bottom: rem($component-margin-w);
    // }
    &__inner {
      @include container($design-grid-full, true);
      @include inset-padding-hz;
    }
    &__title {
      // @include screen(web) {
      //     margin: 0 auto;
      //     max-width: min(rem($text-box-width-md), $text-box-width-md / $design-grid-full * 100%);
      // }
      #{$text}__headline {
        margin-bottom: rem($margin10px);
      }
    }
    &__box {
      @at-root #{$component} {
        .c-support__title + .c-support__box {
          margin-top: rem($padding16px);
          @include screen(web) {
            margin-top: rem($margin20px);
          }
        }
        .c-support--option {
          .c-support__title + .c-support__box {
            @include screen(mobile) {
              margin-top: rem($margin30px);
            }
          }
        }
      }
    }
    &--card {
      .c-list {
        // grid-template-columns: 1fr 1fr;
        // gap: rem($margin12px);
        @include screen(web) {
          // grid-template-columns: repeat(4, 1fr);
          // gap: rem($margin24px);
        }
        @include screen(tablet) {
          // gap: rem($margin18px);
          .c-button[class*='-box'].medium {
            padding-left: rem($padding6px);
            padding-right: rem($padding6px);
          }
        }
        &__item {
          display: inline-flex;
          align-items: flex-start;
          flex: none;
          width: calc(50% - rem($gutter-m) / 2);
          // border-radius: rem($radius8);
          @include lgness-radius('default');
          background-color: $white;
          @include screen(web) {
            align-items: center;
            width: min(rem(columns(3, false)), columns(3, false) / $design-grid-full * 100%);
          }
          @include screen(tablet) {
            width: min(rem(columns(4, false)), columns(4, false) / $design-grid-full * 100%);
            @include screen(custom, rem($tablet-pro-p), max) {
              width: min(rem(columns(6, false)), columns(6, false) / $design-grid-full * 100%);
            }
          }
        }
        &__link {
          @include lgness-radius('default');
          padding: rem($padding20px);
          @include screen(web) {
            padding: rem($padding32px);
          }
          @include screen(tablet) {
            padding: rem($padding20px);
          }
          text-decoration: none;
        }

        .c-text-contents {
          @include screen(web) {
            width: calc(100% - rem($width64px + $margin20px));
          }
          &__bodycopy {
            @include screen(mobile) {
              display: none;
            }
          }
        }
        .c-image {
          width: rem($width36px);
          height: rem($height36px);
          @include screen(web) {
            margin-left: auto;
            margin-right: 0;
            width: rem($width64px);
            height: rem($height64px);
          }
          @at-root #{$component} .c-support--card {
            .c-text-contents + .c-image {
              margin-top: rem($margin16px);
              @include screen(web) {
                margin-top: 0;
              }
            }
          }
        }
        &--flex {
          .c-list__link {
            display: flex;
            height: 100%;
            @include screen(mobile) {
              flex-direction: column;
            }
            @include screen(web) {
              flex-wrap: wrap;
            }
            &:focus-visible {
              outline-offset: rem(-$border2);
            }
          }
          .c-cta {
            flex: 1;
            // justify-content: center;
            align-items: flex-end;
          }
        }
      }
      .c-carousel {
        margin-left: rem(-$block-margin-m);
        margin-right: rem(-$block-margin-m);
        @include inset-padding-hz;
        @include screen(web) {
          margin-left: rem(-$block-margin-w);
          margin-right: rem(-$block-margin-w);
        }
        &.swiper-initialized {
          .swiper-wrapper {
            flex-wrap: nowrap;
            gap: 0;
          }
        }
        .swiper-wrapper {
          align-items: stretch;
          .swiper-slide {
            height: auto;
          }
        }
      }
      &.bg-white {
        border-top: rem($border1) solid $graye6;
      }
      &.bg-lightgray {
        .c-list {
          &__item {
            border: 0;
          }
        }
        & + .c-support--option.bg-white {
          border: 0;
        }
        & + .c-support--option.bg-lightgray {
          border-top: rem($border1) solid $graye6;
        }
      }
    }
    &--option {
      .c-list {
        flex-direction: column;
        margin-top: rem($margin30px);
        gap: 0;
        @include screen(web) {
          flex-direction: row;
        }
        &__item {
          // display: grid;
          // grid-template-columns: rem(52px) 1fr;
          display: flex;
          padding: rem($padding20px) rem($padding10px);
          border-top: rem($border1) solid $graye6;
          @include screen(web) {
            flex: 1;
            border-top: none;
            border-left: rem($border1) solid $graye6;
            padding: 0 rem($padding56px);
          }
          &:first-child {
            @include screen(mobile) {
              border-top: none;
              padding-top: 0;
            }
          }
          @include screen(web) {
            display: flex;

            &:first-child {
              border-left: none;
            }
          }
          @include screen(tablet) {
            padding: 0 rem($padding16px);
          }
        }
        &__link {
          display: flex;
          @include screen(mobile) {
            gap: rem($margin20px);
          }
          @include screen(web) {
            flex-direction: column;
            align-items: center;
            flex: 1;
            margin: 0;
            text-align: center;
          }
        }
        .c-image {
          margin-bottom: 0;
          width: rem($width32px);
          height: rem($height32px);
          @include screen(web) {
            width: rem($width60px);
            height: rem($height60px);
          }
          @at-root #{$component} .c-support--option {
            .c-image + .c-text-contents {
              margin-top: 0;
              @include screen(web) {
                margin-top: rem($margin20px);
              }
            }
          }
        }
      }
      &.bg-white {
        border-top: rem($border1) solid $graye6;
      }
    }
  }
  &.bg-white {
    .c-support--card {
      .c-list {
        &__item {
          border: rem($border1) solid $mid-gray1;
        }
      }
    }
  }
  // dark theme
  &.bg-darkgray,
  &.bg-black {
    .c-support--card {
      .c-list {
        &__item {
          .c-text-contents__bodycopy {
            color: $dark-gray1;
          }
        }
      }
    }
  }
  body.dark-theme & {
    &.bg-darkgray,
    &.bg-black {
      .c-support--card {
        .c-list {
          &__item {
            color: $white;
            background-color: $mid-gray3;
            .c-text-contents__bodycopy {
              color: $grayc9;
            }
          }
          &__link {
            color: $white;
          }
        }
      }
    }
  }
}
