mixin PD0006(option=false)
    mixin image(size)
        // block : image
        .image.c-image
            +printLazyImage(`https://via.placeholder.com/${size}/999999/333333`)(aria-hidden="true")
            if block
                block
    mixin learnMore
        // 2023-02-08 added .c-cta
        .c-cta
            +circleButton({name: 'Learn More', wSize: 'large', mSize: 'small', buttonStyle: 'white arrow', isButton: "none"})
    mixin itemType(item)
        if item 
            div(class='cmp-carousel__item swiper-slide c-list__item')
                if block
                    block
        else
            li(class='c-list__item')
                if block
                    block
    mixin listItemCard(params)
        - var options={headText:'headline text', bodyText:'body text', isSwiper:false, ...params}
        +itemType(options.isSwiper)
            // GA4
            a(href="#" class="c-list__link" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
                // block : text contents
                .c-text-contents
                    .title.c-text-contents__headline
                        .cmp-title.font-w-light-36.font-m-normal-16(data-cmp-data-layer="")
                            strong #{options.headText}
                    .text.c-text-contents__bodycopy
                        .cmp-text.font-w-normal-16(data-cmp-data-layer="")
                            p #{options.bodyText}
                +image('64x64')
                +learnMore
    mixin title
        .c-support__title
            //- title area
            +component-title-area({
                alignment : "align-text-left",
                headline : {
                    text : "Need More Help with OLED77C26LD?",
                },
                description : {
                    text : "We're here to provide all the help you need.",
                    style : "font-w-normal-24 font-m-normal-14"
                }
            })(class="c-region-header--justify-w")
                //- buttons
                // block - cta
                .c-cta
                    +defaultButton({name: 'Get Support', wSize: 'large', mSize: 'medium', buttonStyle: 'default', isButton: false})
                    
    .c-wrapper.PD0006.margin-top.margin-bottom.bg-default.border-top
        .component
            .cmp-container
                .c-support.c-support--card
                    .c-support__inner
                        +title
                        if(option == 'MOBILESWIPER')
                            // swiper
                            .carousel.panelcontainer.c-support__box
                                // block : carousel
                                .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="")
                                    // block : list
                                    // 2023-02-08 added class 'c-list--flex'
                                    .cmp-carousel__content.swiper-wrapper.c-list.c-list--flex
                                        +listItemCard({headText:'Warranty Information', bodyText:'View manufacturer warranty information', isSwiper: true})
                                        +listItemCard({headText:'Register Your Product', bodyText:'Registering your product will help you get faster support.', isSwiper: true})
                                        +listItemCard({headText:'Manuals and Downloads', bodyText:'Download owner\'s manuals and documentation', isSwiper: true})
                                        +listItemCard({headText:'Help Library', bodyText:'Help yourself to helpful product information', isSwiper: true})
                                .c-carousel__handler
                                    .cmp-carousel__actions
                                        +carouselBtn({type:"pagination", direction:"prev"})
                                    +carouselPagination({isUnder:true})
                                    .cmp-carousel__actions
                                        +carouselBtn({type:"pagination", direction:"next"})
                        else 
                            .c-support__box
                                // block : list
                                // 2023-02-08 added class 'c-list--flex'
                                ul.c-list.c-list--flex
                                    +listItemCard({headText:'Warranty Information', bodyText:'View manufacturer warranty information'})
                                    +listItemCard({headText:'Register Your Product', bodyText:'Registering your product will help you get faster support.'})
                                    +listItemCard({headText:'Manuals and Downloads', bodyText:'Download owner\'s manuals and documentation'})
                                    +listItemCard({headText:'Help Library', bodyText:'Help yourself to helpful product information'})
                //- // option
                //- if(option !== 'PLP' && option !== 'PDP' && option !== 'PBP')
                //-     +optionContents

    //- .c-wrapper.PD0006.margin-top.margin-bottom.bg-default.border-top
    //-     .component
    //-         .cmp-container
    //-             .c-support.c-support--card
    //-                 .c-support__inner
    //-                     .c-support__title
    //-                         +component-title-area({
    //-                             alignment : "",
    //-                             headline : {
    //-                                 text : "Need More Help with OLED77C26LD?",
    //-                             },
    //-                             description : {
    //-                                 text : "There is detailed information about the product.",
    //-                                 style : "font-w-normal-24 font-m-normal-12"
    //-                             }
    //-                         })(class="c-region-header--justify-w")
    //-                             // block - cta
    //-                             .c-cta
    //-                                 +defaultButton({name: 'Get Support', wSize: 'large', mSize: 'medium', buttonStyle: 'default', isButton: false})
    //-                     .c-support__box
    //-                         ul.c-list.c-list--flex
    //-                             +listItemCard({headText:'Product Register', bodyText:'Registering your product will help you get faster support.'})
    //-                             +listItemCard({headText:'Product Support', bodyText:'Find manual, troubleshoot, and warranty of your LG product.'})
    //-                             +listItemCard({headText:'Order Support', bodyText:'Track your order and check order FAQ.'})
    //-                             +listItemCard({headText:'Request a Repair', bodyText:'Request repair service conveniently online.'})
    //-                             +listItemCard({headText:'Chat with Us', bodyText:'You can chat with an LG Support Representative.'})
    //-                             +listItemCard({headText:'Whatsapp', bodyText:'We are on WhatsApp. Text with our expert.'})
    //-                             +listItemCard({headText:'Call Us', bodyText:'We look forward to speaking and providing further LG.'})
    //-                             +listItemCard({headText:'Email Us', bodyText:'For more straightforward questions, send us an email.'})
