@charset "UTF-8";
@use '../../scss/abstract/' as *;
@use '../CS0000/CS0000' as *;

// component
$component: '.CS0007';

#{$component} {
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  $tab-container: '.container';
  $mobile-width: calc(100% - rem($margin25px * 2));
  overflow: initial;

  ::-webkit-scrollbar-track {
    background: rgba($black, 0);
  }

  &__container {
    @include flex-context;
    @include container($design-grid-full, true);
    @include inset-padding-hz(mobile);

    @include screen(web) {
      @include flex-context;
      @include inset-padding-hz;
    }

    @include screen(tablet) {
      @include inset-padding-hz;
    }

    @at-root #{$component} {
      .full #{$component}__container {
        padding-left: 0;
        padding-right: 0;

        #{$cs-header} {
          margin: rem(0 $margin25px);
          margin-bottom: rem($margin20px);

          @include screen(web) {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: rem($margin40px);
          }
        }
      }
    }
  }

  // add class c-default-margin component
  &.c-default-margin {
    padding-bottom: rem($padding10px);

    &.c-wrapper {
      &.margin-top {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: rem($padding30px);

        @include screen(web) {
          padding-bottom: rem($padding60px);
        }

        &.margin-bottom {
          padding-bottom: rem($padding30px);

          @include screen(web) {
            padding-bottom: rem($padding60px);
          }
        }
      }

      &.margin-bottom {
        @include screen(web) {
          padding-bottom: rem($padding10px);
        }
      }
    }

    #{$cs-header} {
      margin-top: rem($margin30px);
      margin-bottom: 0;

      @include screen(web) {
        margin-top: rem($margin40px);
      }
    }
  }

  // COMMON - .c-cs-header
  #{$cs-header} {
    margin-bottom: rem($margin12px);

    a {
      color: $red;
      text-decoration: underline;
    }

    @include screen(web) {
      margin-bottom: rem($margin20px);
    }

    @at-root #{$component} #{$cs-header} {
      #{$text-contents} {
        // text-align: center;
      }

      #{$text-contents}__headline + #{$text-contents}__bodycopy {
        margin-top: rem($margin8px);

        @include screen(web) {
          margin-top: rem($margin10px);
        }
      }
    }
  }

  // COMMON - .c-text-contents
  #{$text-contents} {
    span {
      display: block;

      @include screen(web) {
        display: inline-block;
      }
    }

    a {
      // color: $red;
      // text-decoration: underline;
    }
  }

  // COMMON - .container
  .container {
    margin-top: rem($margin40px);
    margin-bottom: rem($margin40px);

    @include screen(web) {
      @include flex-context;
      @include container($design-grid-full, false);
      margin-bottom: 0;
    }
  }

  // CARD OUTLINE, CARD LIST COMMON
  .c-support {
    @include screen(web) {
      padding: 0;
    }

    &__inner {
      max-width: $design-grid-full;
      margin: auto;

      .find-number {
        margin: rem($margin10px 0 $margin30px);
        font-weight: $font-semibold;
        line-height: rem(14px);
        display: inline-block;
        text-decoration: underline;
        cursor: pointer;

        @include screen(web) {
          margin-bottom: rem($margin40px);
          line-height: rem(14px);
          margin-top: rem($margin20px);
        }
      }
    }

    &__title {
      text-align: center;

      @include screen(web) {
        margin: 0 auto;
        max-width: min(rem($text-box-width-md), $text-box-width-md / $design-grid-full * 100%);
      }

      #{$text-contents}__headline {
        margin-bottom: rem($margin10px);
      }
    }

    &__box {
      @at-root #{$component} {
        .c-support__title + .c-support__box {
          margin-top: rem($padding20px);

          @include screen(web) {
            margin-top: rem($margin40px);
          }
        }

        .c-support--option {
          .c-support__title + .c-support__box {
            @include screen(mobile) {
              margin-top: rem($margin30px);
            }
          }
        }
      }
    }

    &--card {
      .c-list {
        @include screen(tablet) {
          // gap: rem($margin18px);
          .c-button[class*='-box'].medium {
            padding-left: rem($padding6px);
            padding-right: rem($padding6px);
          }
        }

        &__item {
          display: inline-flex;
          flex-direction: column;
          align-items: flex-start;
          flex: none;
          width: calc(50% - rem($gutter-m) / 2);
          border: rem($border1) solid $graye6;
          border-radius: rem($radius8);
          background-color: $white;

          @include screen(web) {
            align-items: center;
            text-align: center;
            width: min(rem(columns(3, false)), columns(3, false) / $design-grid-full * 100%);
          }
        }

        &__link {
          padding: rem($padding28px) rem($padding20px);

          @include screen(web) {
            padding: rem($padding30px);
          }

          @include screen(tablet) {
            padding: rem($padding20px) rem($padding24px);
          }

          .c-button,
          .c-button__text {
            text-decoration: none;
            margin-top: 0;
          }
        }

        #{$text-contents}__bodycopy {
          @include screen(mobile) {
            display: none;
          }
        }

        .c-image {
          width: rem($width100px);
          height: rem($height100px);
          margin: 0 auto;

          @include screen(web) {
            margin-left: auto;
            margin-right: auto;
            width: rem($width140px);
            height: rem(140px);
          }

          @at-root #{$component} .c-support--card {
            .c-image + .c-text-contents {
              margin-top: rem($margin10px);
              // margin-bottom: rem($margin20px);
              min-height: rem(40px);
              color: $gray3;

              @include screen(web) {
                min-height: auto;
                margin-top: rem($margin20px);
              }
            }
          }
        }
      }

      .c-carousel {
        margin-left: rem(-$block-margin-m);
        margin-right: rem(-$block-margin-m);
        @include inset-padding-hz;

        @include screen(web) {
          margin-left: rem(-$block-margin-w);
          margin-right: rem(-$block-margin-w);
        }

        &.swiper-initialized {
          .swiper-wrapper {
            flex-wrap: nowrap;
            gap: 0;
          }
        }

        .swiper-wrapper {
          align-items: stretch;

          .swiper-slide {
            height: auto;
          }
        }
      }
    }

    &--option {
      .c-list {
        flex-direction: column;
        margin-top: rem($margin30px);
        gap: 0;

        @include screen(web) {
          flex-direction: row;
        }

        &__item {
          // display: grid;
          // grid-template-columns: rem(52px) 1fr;
          display: flex;
          padding: rem($padding20px) rem($padding10px);
          border-top: rem($border1) solid $graye6;

          @include screen(web) {
            flex: 1;
            border-top: none;
            border-left: rem($border1) solid $graye6;
            padding: 0 rem($padding56px);
          }

          &:first-child {
            @include screen(mobile) {
              border-top: none;
              padding-top: 0;
            }
          }

          @include screen(web) {
            display: flex;

            &:first-child {
              border-left: none;
            }
          }

          @include screen(tablet) {
            padding: 0 rem($padding16px);
          }
        }

        &__link {
          display: flex;

          @include screen(mobile) {
            gap: rem($margin20px);
          }

          @include screen(web) {
            flex-direction: column;
            // align-items: center;
            flex: 1;
            margin: 0;
            text-align: center;
          }
        }

        .c-image {
          margin-bottom: 0;
          width: rem($width32px);
          height: rem($height32px);

          @include screen(web) {
            width: rem($width48px);
            height: rem($height48px);
          }

          @at-root #{$component} .c-support--option {
            .c-image + .c-text-contents {
              margin-top: 0;
              text-align: left;
              width: calc(100% - 60px);

              @include screen(web) {
                margin-top: rem($margin16px);
                width: auto;
              }
            }
          }
        }
      }
    }
  }

  // CARD IMAGE TYPE MO 2X2 PC 4X1 - COMPONENT CLASS ADDED .type-card__img
  $text: '.c-text-contents';
  $image: '.c-image';
  $cta: '.c-cta';

  .type-card__img {
    @include screen(web) {
      #{$component}__container {
        // padding-bottom: rem($padding100px);
        // padding-top: rem($padding60px);
      }
    }

    .c-step-option-list {
      // @include list(wrap);
      display: flex;
      flex-direction: column;
      gap: rem(12px);
      flex-wrap: wrap;

      @include screen(web) {
        flex-direction: row;
        gap: rem(24px);
      }

      // element
      &__item {
        flex-basis: calc(50% - rem(12px));
        position: relative;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr auto;
        width: 100%;
        background-color: $white;
        border-radius: rem($radius16);
        padding-bottom: rem($padding13px);

        @include screen(web) {
          // flex: 1;
          border-radius: rem($radius28);
          padding-bottom: rem($padding28px);
        }

        #{$image},
        #{$cta} {
          grid-area: 1/1/2/2;
        }

        #{$text} {
          grid-area: 2/1/3/2;

          &__eyebrow {
            margin-bottom: rem($margin8px);
            word-break: break-word;
            @include ellipsis(3);

            @include screen(web) {
              // margin-bottom: rem($margin4px);
              @include ellipsis(2);
            }
          }

          &__bodycopy {
            word-break: break-word;
            @include ellipsis(4);

            @include screen(web) {
              @include ellipsis(3);
            }
          }
        }

        #{$cta} {
          padding-bottom: rem($padding14px);

          @include screen(web) {
            // padding-bottom: rem($padding40px);
            padding-bottom: 14.621%;
          }
        }

        #{$image} {
          width: 100%;
          height: auto;
        }

        // modifier
        &--selected {
          $check-bleet: '#{$image}:after';

          #{$check-bleet} {
            content: '';
            display: block !important;
          }

          #{$cta} {
            display: flex !important;
          }
        }
      }

      // block
      .c-image {
        $check-bleet: '&:after';
        overflow: hidden;
        border-radius: rem($radius16 $radius16 0 0);

        #{$check-bleet} {
          position: absolute;
          z-index: 2;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%, -50%, 0);
          width: rem($icon32px);
          height: rem($icon32px);
          border-radius: 50%;

          background : {
            color: $red;
            image: url($icon-check-white-18-13);
            size: rem($width18px $height13px);
            position: 50% 50%;
            repeat: no-repeat;
          }

          @include screen(web) {
            width: rem($icon40px);
            height: rem($icon40px);
          }
        }

        @include screen(web) {
          border-radius: rem($radius28 $radius28 0 0);
        }
      }

      .c-cta {
        display: block;
        justify-content: flex-start;
        grid-area: auto;
        padding-bottom: 0;
        background: transparent;
      }
    }

    .c-step-option-list__item:nth-last-child(-n + 1):first-child,
    .c-step-option-list__item:nth-last-child(-n + 1):first-child ~ .c-step-option-list__item {
      // margin: 0 auto;
    }

    $option-card: '.c-step-option-list__item';

    #{$option-card} {
      #{$text} {
        margin-top: rem($margin13px);
        margin-bottom: rem($margin12px);
        padding: rem(0 $padding13px);

        @include screen(web) {
          margin-top: rem($margin28px);
          margin-bottom: rem($margin16px);
          padding: rem(0 $padding28px);
        }
      }

      .button.c-cta {
        padding: rem(0 $padding13px);

        @include screen(web) {
          padding: rem(0 $padding28px);
        }
      }

      #{$text}__subcopy + #{$text}__bodycopy {
        margin-top: rem($margin6px);

        @include screen(web) {
          margin-top: rem($margin8px);
        }
      }
    }
  }

  .type-card__img2 {
    .c-image {
      text-align: unset;

      &__img {
        width: auto;
        border-radius: rem($radius20);
        width: 100%;

        @include screen(web) {
          max-width: auto;
        }

        @include screen(tablet) {
          max-width: auto;
        }

        @include screen(mobile) {
          max-width: none;
        }
      }
    }

    .button {
      display: block;
    }

    .c-step-option-list {
      display: flex;
      flex-direction: row;
      gap: rem(20px) rem(10px);
      flex-wrap: wrap;
      justify-content: flex-start !important;

      @include screen(web) {
        gap: rem(24px);
        flex-wrap: nowrap;
      }

      @include screen(tablet) {
        flex-wrap: wrap;
        justify-content: space-evenly;
      }

      &__item {
        flex-basis: calc((100% - rem(10px)) / 2);
        position: relative;
        max-width: rem(342px);
      }
    }

    $option-card: '.c-step-option-list__item';

    #{$option-card} {
      #{$text} {
        margin-top: rem($margin8px);
        word-break: break-word;
        &__eyebrow {
          margin-bottom: rem($margin6px);
          word-break: break-word;
          // @include ellipsis(3);
          // strong {
          // }
        }

        &__bodycopy {
          // @include ellipsis(5);
        }

        @include screen(web) {
          margin-top: rem($margin24px);

          &__eyebrow {
            margin-bottom: rem($margin4px);
            // @include ellipsis(2);
          }

          &__bodycopy {
            // @include ellipsis(3);
          }
        }
      }

      #{$text}__subcopy + #{$text}__bodycopy {
        margin-top: rem($margin6px);

        @include screen(web) {
          margin-top: rem($margin8px);
          border: 2px solid blue;
        }
      }
    }
  }

  .type-card__img3 {
    .c-step-option-list {
      @include screen(web) {
        gap: rem(24px);
        flex-wrap: nowrap;
      }

      @include screen(tablet) {
        justify-content: space-evenly;
      }

      &__item {
        flex-basis: 100%;
        position: relative;
        max-width: none;
        .image {
          &.c-image {
            overflow: hidden;
            border-radius: rem($radius28);
            display: flex;
            align-items: center;
            justify-content: center;
            @include screen(web) {
              height: rem(342px);
              min-height: rem(342px);
            }
            .cmp-image {
              width: 100%;
            }
            picture {
              display: block;
              height: 100%;
              img {
                width: 100%;
              }
            }
          }
        }

        // @include screen(web) {
        //     // flex-basis: calc((100% - rem(10px)) / 3);
        // }
      }
    }
  }

  // OPTION 2. GAME APP
  .type-card__list {
    // border: 2px dashed lime;
    .c-step-option-list {
      // @include list(wrap);
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: rem(20px);

      @include screen(web) {
        flex-direction: row;
        gap: rem(50px);
      }

      // element
      &__item {
        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;
        gap: rem(20px);
        border-bottom: 1px solid $grayd;
        padding-bottom: rem($padding20px);
        background: pink;
        padding: rem($padding13px);
        border-radius: $radius16;

        &:last-child {
          border-bottom: none;
        }

        @include screen(web) {
          // flex: 1;
          flex-basis: calc(50% - rem(25px));
          border-bottom: none;
          padding-bottom: 0;
          gap: rem(24px);

          &:nth-child(2n) {
            border-left: 1px solid $grayd;
            padding-left: rem($padding50px);
          }
        }

        #{$text} {
          text-align: left;

          &__eyebrow {
            margin-bottom: rem($margin6px);

            @include screen(web) {
              margin-bottom: rem($margin8px);
            }
          }
        }

        #{$cta} {
          padding-bottom: rem($padding14px);

          @include screen(web) {
            // padding-bottom: rem($padding40px);
            padding-bottom: 14.621%;
          }
        }

        #{$image} {
          width: 100%;
          height: auto;
        }

        // modifier
        &--selected {
          $check-bleet: '#{$image}:after';

          #{$check-bleet} {
            content: '';
            display: block !important;
          }

          #{$cta} {
            display: flex !important;
          }
        }
      }

      // block
      .c-image {
        $check-bleet: '&:after';
        max-width: rem($width80px);

        #{$check-bleet} {
          position: absolute;
          z-index: 2;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%, -50%, 0);
          width: rem($icon32px);
          height: rem($icon32px);
          border-radius: 50%;

          background : {
            color: $red;
            image: url($icon-check-white-18-13);
            size: rem($width18px $height13px);
            position: 50% 50%;
            repeat: no-repeat;
          }

          @include screen(web) {
            width: rem($icon40px);
            height: rem($icon40px);
          }
        }
      }

      .c-cta {
        display: flex;
        justify-content: flex-start;
        grid-area: auto;
        padding-bottom: 0;
        background: transparent;
        margin-top: rem($margin8px);

        @include screen(web) {
          margin-top: rem($margin20px);
        }
      }
    }

    .c-step-option-list__item:nth-last-child(-n + 1):first-child,
    .c-step-option-list__item:nth-last-child(-n + 1):first-child ~ .c-step-option-list__item {
      margin: 0 auto;
    }

    $option-card: '.c-step-option-list__item';

    #{$option-card} {
      #{$text}__subcopy + #{$text}__bodycopy {
        margin-top: rem($margin6px);

        @include screen(web) {
          margin-top: rem($margin8px);
        }
      }
    }

    .c-text-contents {
      a {
        text-decoration: none;
      }
    }
  }

  // OPTION 3. OUTLINE
  .type-card__innerBox {
    .c-image {
      text-align: unset;
      // margin-bottom: rem($margin24px);
      text-align: right;
      width: auto;

      &__img {
        max-width: none;
        width: auto;
        width: rem($width80px);

        @include screen(web) {
          width: rem($width100px);
        }
      }
    }

    .button {
      display: inline-flex;

      .c-btn-download {
        border: none;
        background-color: transparent;
        background-image: url($icon-download-black-24-24);
        width: rem($width24px);
        height: rem($height24px);
        background-repeat: no-repeat;
        background-position: left center;

        @include screen(web) {
          width: rem($width32px);
          height: rem($height32px);
        }
      }
    }

    .c-step-option-list {
      display: flex;
      flex-direction: column;
      gap: rem(10px);
      flex-wrap: wrap;

      &__item {
        border: 1px solid $mid-gray1;
        padding: rem($padding20px);
        border-radius: rem($radius6);
        flex-basis: calc((100% - 48px) / 3);
        background: $white;
        border-radius: rem($radius16);
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: rem(38px);
      }

      .c-text-contents__wrap {
      }

      #{$text-contents} {
        margin-bottom: rem($margin8px);

        &__bodycopy {
          @include screen(mobile) {
            // display: none;
          }
        }

        &__eyebrow {
          word-break: break-word;
          margin-bottom: rem($margin4px);
          @include ellipsis(1);
          white-space: normal;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
        }

        &__bodycopy {
          @include ellipsis(2);
        }
      }
    }

    @include screen(web) {
      .c-step-option-list {
        // width: rem(464px);
        flex-direction: row;
        gap: rem(24px);
        justify-content: flex-start !important;

        &__item {
          padding: rem($padding28px);
          flex-basis: calc((100% - 24px) / 2);
          border-radius: $radius28;
          gap: rem(16px);
        }

        #{$text-contents} {
          &__bodycopy {
            margin: rem($margin10px 0 $margin20px);
            word-break: break-word;
          }
        }
      }

      .c-step-option-list__item:nth-last-child(-n + 1):first-child,
      .c-step-option-list__item:nth-last-child(-n + 1):first-child ~ .c-step-option-list__item {
        width: 100%;
        flex-basis: auto;
      }
    }
  }

  .type-card__innerBox2,
  .type-card__innerBox3 {
    .c-image {
      text-align: unset;
      text-align: center;

      &__img {
        width: auto;

        @include screen(web) {
          max-width: auto;
        }

        @include screen(tablet) {
          max-width: auto;
        }

        @include screen(mobile) {
          max-width: none;
        }
      }
    }

    .button {
      display: block;
    }

    .c-step-option-list {
      display: flex;
      flex-direction: row;
      gap: rem(10px);
      flex-wrap: wrap;
      justify-content: flex-start !important;

      @include screen(web) {
        gap: rem(24px);
        flex-wrap: nowrap;
      }

      @include screen(tablet) {
        flex-wrap: wrap;
        justify-content: space-evenly;
      }

      &__item {
        border: 1px solid $grayd;
        padding: rem($padding13px);
        gap: rem(16px);
        border-radius: rem($radius20);
        // flex-basis: calc(50% - rem(6px));
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        width: calc((100% - rem(10px)) / 2);

        @include screen(web) {
          width: calc((100% - rem(72px)) / 4);
        }
      }

      #{$text-contents} {
        // margin-top: rem($margin16px);
        display: block;
        word-break: break-word;
        &__eyebrow {
          @include ellipsis(3);
        }

        &__bodycopy {
          @include ellipsis(5);

          @include screen(mobile) {
            // display: none;
            margin-top: rem($margin6px);
          }
        }
      }
    }

    @include screen(web) {
      .c-step-option-list {
        // width: rem(464px);
        flex-direction: row;
        gap: rem(24px);

        &__item {
          padding: rem($padding13px);

          @include screen(web) {
            padding: rem($padding32px);
          }
        }

        #{$text-contents} {
          &__eyebrow {
            @include ellipsis(2);
          }

          &__bodycopy {
            margin-top: rem($margin8px);
            @include ellipsis(3);
          }
        }
      }
    }

    @at-root #{$component} {
      .type-card__innerBox3 {
        .c-step-option-list {
          &__item {
            border: none;
            background: $white;

            &:hover {
              // background: $graye4;
              text-decoration: none;
            }
          }
        }

        &.type-card__align2 {
          #{$text-contents} {
            &__bodycopy {
              border: 2px solid #000;
              display: none;
            }
          }

          .c-image {
            text-align: unset;
          }
        }
      }
    }
  }
  .type-card__grid2 {
    .c-step-option-list {
      &__item {
        @include screen(web) {
          width: calc((100% - rem(24px)) / 2);
        }
      }
    }
  }
  .type-card__textSec {
    .c-cs-header {
      margin-bottom: rem($margin36px);
    }

    .c-image {
      &__img {
        border-radius: rem($radius20);

        @include screen(web) {
          border-radius: rem($radius28);
        }
      }
    }

    .button {
      display: flex;
      gap: rem(12px);

      @include screen(web) {
        gap: rem(8px);
      }
    }

    .c-step-option-list {
      gap: rem(40px);
      display: inline-flex;
      flex-direction: column;

      @include screen(web) {
        gap: rem(24px);
        flex-wrap: nowrap;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: flex-start !important;
      }

      @include screen(tablet) {
        flex-wrap: wrap;
        justify-content: space-evenly;
      }

      &__item {
        position: relative;

        @include screen(web) {
          flex-basis: calc((100% - rem(72px)) / 4);
        }
      }

      .button {
        .c-button[class*='-text'] {
          font-size: rem(14px);
          line-height: rem(20px);
          color: $black;
          margin-top: rem($margin13px);
          margin-bottom: rem($margin13px);

          span {
            text-decoration: underline;
          }
        }

        &.c-btn__download {
          .c-button[class*='--default'].m-small {
            // border: 2px solid red;
            // border-color: $mid-gray2;
          }

          .c-button[class*='-box-outlined'][class*='-icon'].small {
            text-decoration: none;
            height: rem(36px);
            border-color: $mid-gray2;
            font-size: rem(14px);
            color: $black;
            background: $white;

            &::after {
              background: url($icon-download-black-10-10);
              width: rem($width10px);
              height: rem($height10px);
            }

            &:hover {
              background: $active-red;
              color: $white;
              border: 1px solid transparent;
              &::after {
                background: url($icon-download-white-10-10);
              }
            }
          }
        }
      }
    }

    $option-card: '.c-step-option-list__item';

    #{$option-card} {
      word-break: break-word;
      #{$text} {
        margin-top: rem($margin8px);

        &__eyebrow {
          margin-bottom: rem($margin6px);
        }

        @include screen(web) {
          margin-top: rem($margin20px);

          &__eyebrow {
            margin-bottom: rem($margin8px);
          }
        }
      }

      #{$text}__subcopy + #{$text}__bodycopy {
        margin-top: rem($margin6px);

        @include screen(web) {
          margin-top: rem($margin8px);
        }
      }
    }
  }

  .type-card__video {
    video {
      object-fit: cover;
      border: 1px solid $grayd;
      border-radius: $radius20;

      @include screen(web) {
        border-radius: $radius28;
      }
    }

    .button {
      display: block;
    }

    .c-step-option-list {
      // flex-direction: row;
      // gap: rem(40px);
      // flex-wrap: wrap;
      // justify-content: center;

      @include screen(web) {
        display: flex;
        gap: rem(24px);
        flex-wrap: nowrap;
        justify-content: flex-start !important;
      }

      @include screen(tablet) {
        flex-wrap: wrap;
        justify-content: space-evenly;
      }

      &__item {
        flex-basis: calc((100% - rem(72px)) / 4);
        position: relative;
      }

      .button {
        .c-button[class*='-text'] {
          font-size: rem(14px);
          line-height: rem(20px);
          color: $gray6;
          margin-top: rem($margin13px);
          margin-bottom: rem($margin13px);

          span {
            text-decoration: underline;
          }
        }

        &.c-btn__download {
          .c-button[class*='-box-outlined'][class*='-icon'].small {
            text-decoration: none;

            &::after {
              background: url($icon-download-black-10-10);
              width: rem($width10px);
              height: rem($height10px);
            }

            &:hover {
              &::after {
                background: url($icon-download-white-10-10);
              }
            }
          }
        }
      }

      + .c-text-contents {
        text-align: left;
        margin-top: rem($margin20px);
      }
    }

    $option-card: '.c-step-option-list__item';

    #{$option-card} {
      word-break: break-word;
      #{$text} {
        margin-top: rem($margin16px);

        &__eyebrow {
          margin-bottom: rem($margin6px);
        }

        @include screen(web) {
          margin-top: rem($margin20px);

          &__eyebrow {
            margin-bottom: rem($margin8px);
          }
        }
      }

      #{$text}__subcopy + #{$text}__bodycopy {
        margin-top: rem($margin6px);

        @include screen(web) {
          margin-top: rem($margin8px);
        }
      }
    }

    @include screen(mobile) {
      .c-step-option-list {
        #{$text-contents} {
          display: flex;
          flex-direction: column;
          gap: rem(8px);
          text-align: left;
          margin-top: 0;
          margin-bottom: rem($margin8px);

          &__eyebrow {
            min-width: rem($width50px);
            margin-bottom: 0;
          }

          &:nth-last-child(5) {
            margin-top: rem($margin20px);
          }

          &:last-child {
            color: $mid-gray3;
            margin-top: rem($margin12px);
          }

          &__bodycopy {
            span {
              color: $mid-gray2;
            }
          }
        }
      }
    }
  }

  .type-card__clickable {
    cursor: pointer;
  }

  .c-video-box {
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      &__button {
        display: block !important;
      }
    }

    &__button {
      content: '';
      display: block;
      position: absolute;
      width: rem(40px);
      height: rem(40px);

      background: {
        image: url($icon-video-play-32-32);
        repeat: no-repeat;
        size: cover;
      }

      border: 0;
      background-color: transparent;

      @include screen(web) {
        width: rem(32px);
        height: rem(32px);
        background-image: url($icon-video-play-40-40);
      }

      &--pause {
        background-image: url($icon-video-pause-32-32);

        @include screen(web) {
          background-image: url($icon-video-pause-40-40);
        }
      }

      &--hidden {
        display: none;
      }
    }

    // &--pause {
    //     button {
    //         background-image: url($icon-video-pause-32-32);
    //         @include screen(web) {
    //             background-image: url($icon-video-pause-40-40);
    //         }
    //     }
    // }
    // &--hidden {
    //     button {
    //         display: none;
    //     }
    // }
  }

  .c-no-result {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(72px 0);
    border: 1px solid $graye6;
    border-radius: $border8;

    @include screen(web) {
      padding: rem(147px 0);
    }

    &__wrap {
      text-align: center;
    }

    &__icon {
      display: inline-block;
      width: rem(60px);
      height: rem(60px);
      margin-bottom: rem($margin20px);

      background : {
        image: url($icon-no-result-60-60);
        position: 100% center;
        size: 100%;
        repeat: no-repeat;
      }
    }

    &__headline {
    }

    &__bodycopy {
      margin-top: rem($margin2px);
      color: $gray6;
    }

    &__point {
      color: $red;
    }
  }

  // .c-login-text
  .c-login-text {
    padding: rem($padding25px 0);
    border-top: 1px solid $grayd;

    @include screen(web) {
      padding: rem($padding20px 0);
    }

    a {
      color: $red;
      border-bottom: 1px solid $red;
    }
  }

  // theme

  &.bg-darkgray,
  &.bg-black,
  &.bg-midgray2 {
    .component {
      color: $white;
      // color: black;
    }

    .c-text-contents {
      &__eyebrow,
      &__bodycopy {
        color: $black;
        color: $mid-gray1;
      }
    }

    .c-text-contents__bodycopy,
    .c-text-contents__list-item,
    .c-text-contents__quote-name {
      // color: $white;
    }

    .c-text-contents li {
      &:before {
        background-color: $white;
      }
    }

    .type-card__img,
    .type-card__innerBox {
      .c-text-contents {
        color: $black;

        &__bodycopy {
          color: $gray3;
        }

        &__eyebrow,
        &__bodycopy {
          color: $black;
        }
      }
    }

    .type-card__textSec {
      .c-step-option-list {
        .button {
          .c-button[class*='-text'] {
            span {
              color: $grayd;
            }
          }

          &.c-btn__download {
            .c-button[class*='-box-outlined'][class*='-icon'].small {
              &::after {
                background: url($icon-download-white-10-10);
              }
            }
          }
        }
      }
    }

    .type-card__innerBox3 {
      .c-step-option-list {
        .c-text-contents {
          color: $black;

          &__bodycopy {
            color: $gray3;
          }

          &__eyebrow,
          &__bodycopy {
            color: $black;
          }
        }
      }
    }

    .type-card__video {
      #{$text-contents} {
        &__bodycopy {
          color: $grayd;

          span {
            color: $grayd;
          }
        }

        &:last-child {
          color: $grayd;
        }

        &__eyebrow {
          color: $mid-gray1 !important;
        }
      }
    }

    .type-card__img2 {
      .c-text-contents,
      .cmp-text {
        color: $white;
      }
    }
  }

  &.bg-black {
    &:not(.subtract-color) {
      .c-button {
        &[class*='-box-outlined'] {
          color: $black;
        }
      }
    }
  }

  &.bg-midgray1 {
    background: $mid-gray1;
  }

  &.bg-midgray2 {
    background: $mid-gray2;
  }

  .c-step-option-list__item {
    list-style: none;
    &.box-white {
      background: $white;
      border: none;
    }

    &.box-warmgray {
      background: $warm-gray;
      border: 1px solid $mid-gray2;
    }

    &.box-lightgray {
      background: $light-gray3;
      border: none;
    }

    &.box-midgray1 {
      background: $mid-gray1;
      border: none;
    }

    &.box-midgray2 {
      background: $mid-gray2;
      border: none;
      color: $white;

      .c-text-contents__wrap .cmp-text {
        color: $white;
      }
    }

    &.box-black {
      background: $black;
      border: none;
      color: $white;

      .c-text-contents__wrap .cmp-text {
        color: $white;
      }
    }

    &.box-midgray2,
    &.box-black {
      .button {
        .c-btn-download {
          background-image: url($icon-download-white-24-24);
        }
      }
    }
  }

  @at-root #{$component} {
    &.width-wide {
      max-width: 1920px;
      margin: 0 auto;
    }

    &.width-narrow {
      max-width: 1600px;
      margin: 0 auto;
    }

    &.width-content {
      max-width: 1440px;
      margin: 0 auto;
    }

    &.border-top {
      border-top: 1px solid $mid-gray1 !important;
    }

    &.border-bottom {
      border-bottom: 1px solid $mid-gray1;
    }
  }
}
