@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.ST0003';
#{$component} {
  > .component > .cmp-container {
    display: flex;
    @include flex-context;
    @include container($design-grid-full, true);
    @include inset-padding-hz;
  }
  > .component {
    &.width-1600 {
      > .cmp-container {
        @include container($design-full, true);
      }
      .c-text-contents {
        max-width: 100%;
      }
    }
    &.width-1440 {
      > .cmp-container {
        @include container(1440px, true);
      }
      .c-text-contents {
        max-width: 100%;
      }
    }
  }

  // default margin
  // &.type-template-title {
  //     padding: 0;
  //     .component {
  //         padding: rem($padding30px) 0 rem($padding20px);
  //         @include screen(web) {
  //             padding: rem($padding40px) 0;
  //         }
  //     }
  // }

  // block
  .c-text-contents {
    max-width: rem($text-box-width-md);
    // layout : margin
    $block: '.c-text-contents';
    @at-root #{$component} #{$block}__eyebrow + #{$block}__headline {
      margin-top: rem($margin8px);
    }
    @at-root #{$component} #{$block}__headline + #{$block}__bodycopy {
      margin-top: rem($margin8px);
    }
    * + .c-cta {
      margin-top: rem($margin12px);
      @include screen(web) {
        margin-top: rem($margin24px);
      }
    }
  }
}
