extends ../_common/_layout.pug
include ../_common/_loading.pug

block meta
    - var componentId = "CM0011"
    - var componentName = "loading"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block content
    // Component Markup
    .guide-text-option Type1. Common(Loading)
    div(style='height:500px;position:relative')
        +loading-type01

    // Component Markup
    .guide-text-option Type2. Loading+text message :credit card (iframe)
    div(style='height:500px;position:relative')
        +loading-type02

    //- // Component Markup
    .guide-text-option Type3. Loading+text message: PG company is connected (Klarna, Paypal).
    div(style='height:500px;position:relative')
        +loading-type03

    .guide-text-option Type4. Loading+text message: Sing-in
    div(style='height:500px;position:relative')
        +loading-type04

    .guide-text-option Type5. Loading+text message: Before Payment method
    div(style='height:500px;position:relative')
        +loading-type05