extends ../../components/_common/_layout-template.pug
include ../../components/_common/_index.pug


block meta 
    - var componentId = "MB000E"
    - var componentName = "Guest Checkout"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href="../../components/CM0001/CM0001.css")
    link(rel="stylesheet", href="../../components/CM0002/CM0002.css")
    link(rel="stylesheet", href="../../components/MB000E/MB0501.css")

block scripts
    script(src="../../components/CM0001/CM0001.js" type="module")
    script(src="../../components/CM0002/CM0002.js" type="module")
    script(src="../../components/MB000E/MB000E.js" type="module")

block header
    include ../../components/CM0001/CM0001-inc.pug
    +CM0001()

block content
    include ../../components/MB000E/MB0501-inc.pug
    +MB0501()

block footer
    include ../../components/CM0002/CM0002-inc.pug
    +CM0002