
@use "variable" as *;
@use "mixin" as *;

// In this file, only add variables or mixins to be used globally.

// Font sets are not always used the same on mobile and desktop.
// So, create separate classes for mobile and desktop.

$font-set-all : (
	default: (
		// 폰트 추가 이후 타입 세트로 관리
		// font-weight 참고 : 해당으로 variable.scss에 정의 
		// $font-light: 300;
		// $font-regular: 400;
		// $font-semibold: 600;
		// $font-bold: 700;
		w: (
			// bold 700
			bold-64: (s: 64px, l: 64px, w: $font-bold),
			bold-40: (s: 40px, l: 44px, w: $font-bold), 
			bold-12i: (s: 12px, l: 12px, w: $font-bold),
			bold-10: (s: 10px, l: 10px, w: $font-bold),
			
			// semibold 600
			semibold-56: (s: 56px, l: 60px, w: $font-semibold),
			semibold-60: (s: 60px, l: 60px, w: $font-semibold),
			semibold-48: (s: 48px, l: 48px, w: $font-semibold),
			semibold-46: (s: 46px, l: 52px, w: $font-semibold),
			semibold-40: (s: 40px, l: 44px, w: $font-semibold),
			semibold-36: (s: 36px, l: 42px, w: $font-semibold),
			semibold-32: (s: 32px, l: 36px, w: $font-semibold),
			semibold-28: (s: 28px, l: 32px, w: $font-semibold),
			semibold-24: (s: 24px, l: 28px, w: $font-semibold),
			semibold-20: (s: 20px, l: 24px, w: $font-semibold),
			semibold-18: (s: 18px, l: 22px, w: $font-semibold),
			semibold-16: (s: 16px, l: 20px, w: $font-semibold),
			semibold-20i: (s: 20px, l: 20px, w: $font-semibold),

			// regular & normal 400
			regular-54: (s: 54px, l: 54px, w: $font-regular),
			regular-64: (s: 64px, l: 64px, w: $font-regular),
			normal-36: (s: 36px, l: 42px, w: $font-regular),
			normal-32: (s: 32px, l: 36px, w: $font-regular),
			normal-24: (s: 24px, l: 28px, w: $font-regular),
			normal-20: (s: 20px, l: 24px, w: $font-regular),
			normal-16: (s: 16px, l: 20px, w: $font-regular),
			normal-12: (s: 12px, l: 14px, w: $font-regular),

			// light 300
			light-80: (s: 80px, l: 80px, w: $font-light),
			light-56: (s: 56px, l: 60px, w: $font-light),
			light-36: (s: 36px, l: 42px, w: $font-light),

			// etc
			normal-14: (s: 14px, l: 20px),
			normal-14i: (s: 14px, l: 14px),
			
		),
		m: (
			// bold 700
			bold-40: (s: 40px, l: 44px, w: $font-bold),
			bold-30: (s: 30px, l: 34px, w: $font-bold), 
			bold-24: (s: 24px, l: 28px, w: $font-bold), 
			bold-12i: (s: 12px, l: 12px, w: $font-bold),
			bold-10: (s: 10px, l: 10px, w: $font-bold),
			
			// semibold 600
			semibold-32: (s: 32px, l: 36px, w: $font-semibold),
			semibold-30: (s: 30px, l: 34px, w: $font-semibold),
			semibold-28: (s: 28px, l: 32px, w: $font-semibold),
			semibold-26: (s: 26px, l: 30px, w: $font-semibold),
			semibold-24: (s: 24px, l: 28px, w: $font-semibold),
			semibold-22: (s: 22px, l: 26px, w: $font-semibold),
			semibold-20: (s: 20px, l: 24px, w: $font-semibold),
			semibold-18: (s: 18px, l: 22px, w: $font-semibold),
			semibold-16: (s: 16px, l: 20px, w: $font-semibold), 
			semibold-14: (s: 14px, l: 16px, w: $font-semibold),
			semibold-16i: (s: 16px, l: 16px, w: $font-semibold),

			// regular & normal 400
			regular-40: (s: 40px, l: 44px, w: $font-regular),
			regular-30: (s: 30px, l: 34px, w: $font-regular),
			normal-24: (s: 24px, l: 28px, w: $font-regular),
			normal-20: (s: 20px, l: 24px, w: $font-regular),
			normal-16: (s: 16px, l: 18px, w: $font-regular),
			normal-14: (s: 14px, l: 16px, w: $font-regular),
			normal-12: (s: 12px, l: 14px, w: $font-regular),

			// light 300
			light-36: (s: 36px, l: 36px, w: $font-light),
			light-28: (s: 28px, l: 32px, w: $font-light),
			light-24: (s: 24px, l: 28px, w: $font-light),

			// etc
			normal-18: (s: 18px, l: 24px),
			normal-14i: (s: 14px, l: 14px),
		)
	),
	// 국가별로 폰트 사이즈가 달라야 하는 경우,
	// 혹시 예외처리해야 하는 양이 많으면, 별도로 국가별 css 파일을 생성하여 처리하겠음.
	// cn: (
	// 	w: (
	// 		b1: (s: 24px, l: 32px),
	// 		b2: (s: 20px, l: 26px),
	// 		b3: (s: 16px, l: 22px),
	// 		b4: (s: 14px, l: 20px),
	// 		b5: (s: 14px, l: 14px),
	// 	)
	// )
);
