@use 'mixin' as *;

// # list
@mixin list($wrap: nowrap, $gap: 0) {
  display: flex;
  flex-wrap: $wrap;
  @if $gap != 0 {
    gap: rem($gap);
  }
  @include flex-context;
  &__item {
    @if nowrap == $wrap {
      flex: 1;
    }
  }
}
// =- description -=
// use when align one line or set n x n layout.
// $wrap : use only value of "flex-warp" property.
// $gap : use only px unit. recommend $gutter-w, $gutter-m, but this spot not strict.
