@use 'sass:color';

// Please add all colors to be used on lg.com.

// LGness

// bgcolor
$active-red: #ea1917;
$heritage-red: #a50034;
$warm-gray: #f0ece4; // body bg default color
$light-gray1: #f6f3eb;
$light-gray2: #f0ece4;
$light-gray3: #e6e1d6;
$mid-gray1: #cbc8c2; // line default color
$mid-gray2: #646464;
$mid-gray3: #4a4946;
$mid-gray4: #7e7c77;
$dark-gray1: #333;
$dark-gray2: #262626;
$dark-gray3: #1a1a1a;

// gray
$gray1: #111;
$gray2: #222;
$gray3: #333;
$gray4: #444;
$gray5: #555;
$gray6: #666;
$gray7: #777;
$gray8: #888;
$gray9: #999;
$graya: #aaa;
$grayb: #bbb;
$grayc: #ccc;
$graycb: #cbc8c2;
$grayc9: #c9c9c9;
$grayd: #ddd;
$graye: #eee;
$graye4: #e4e4e4;
$graye6: #e6e6e6;
$gray40: #404040;
$gray42: #424242;
$gray6b: #6b6b6b;
$gray76: #767676;
$gray90: #909090;
$gray9c: #9c9c9c;
$grayd9: #d9d9d9;
$graye4: #e4e4e4;
$gray58: #585858;
$gray7e: #7e7c77;

// black
$black: #000;
$black1d: #1d1d1b;
$blackcurrant: #0e021a;

// white
$white: #fff;
$ivory2: #f2f2f2;
$ivory3: #f3f3f3;
$ivory6: #f6f6f6;
$ivory789: #f7f8f9;
$ivory8: #f8f8f8;
$ivory9: #f9f9f9;

// red :primary
$red: #da0f47;
$red-darken: #be1247;
$orange: #fd312e; // LGness orange color
$orange-darken: #e32c29;
$red-warning: $active-red;

// green
$green: #287d00;
$tree-green: #316d15;
