@use 'grid' as *;

// Please add only variables that will be used in the LG.com site.
// by design
$maximum: 1920px !default;
$minimum: 320px !default;
$text-box-width-lg: 1000px !default;
$text-box-width-md: 860px !default;
$text-box-width-sm: 640px !default;
$text-box-width-sr: 500px !default;
$text-box-width-xs: 400px !default;
$design-full: 1600px !default;

// based grid system
$design-grid-full: columns(12) !default; // 1440px
// @debug columns(12), columns(6);
$container-margin-in: ($design-full - $design-grid-full) * 0.5 !default; // 80px
$container-margin-out: ($maximum - $design-full) * 0.5 !default; // 160px
$container-margin: $container-margin-in + $container-margin-out !default; // 240px

// component top & bottom margin
$component-margin-m: 24px !default;
$component-margin-w: 48px !default;

// component top or bottom padding
// $component-padding-m: 30px !default;
// $component-padding-w: 50px !default;

// left & right margin
$block-margin-m: 16px !default;
$block-margin-w: 24px !default;

// by device
// tablet:include laptop
// $tablet : $design-grid-full + $block-margin-w*2;
$tablet: 1279px !default;

// $tablet-l : 1366px;			// ipad pro landscape

// ipad pro portrait
$tablet-pro-p: 1024px !default;

// $tablet-p : 768px;			// ipad
$mobile: 768px !default;
$phone: 620px !default;

// $mobile-l : 667px;			// galaxy fold landscape
// $mobile-p : 375px;			// iphone 6+
// $mobile-android : 360px;	// gallaxy old devices
// $mobile-p-big : 414px; 		// iphone plus latest devices

// layer width
$layer-large: 1100px !default;
$layer-medium: 660px !default;
$layer-small: 380px !default;
$layer-tooltip: 280px !default;

// font-weight
$font-light: 300;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;

// border-width
$border1: 1px;
$border2: 2px;
$border3: 3px;
$border4: 4px;
$border8: 8px;
$border12: 12px;

// border-radius
$radius2: 2px;
$radius4: 4px;
$radius6: 6px;
$radius8: 8px;
$radius12: 12px;
$radius13: 13px;
$radius16: 16px;
$radius20: 20px;
$radius28: 28px;
$radius32: 32px;
$radius50: 50px;
$radius80: 80px;
$radius99: 99px;
$radius999: 999px;
$radius-full: 100%;
$form-radius: $radius12;

// z-index
$stacking-ceil: 1000; // modal
$stacking-middle: 100; // gnb
$stacking-floor: 10;
$z-index3: 3; // filter
$z-index2: 2; // tooltip
$z-index1: 1;

// cascading
$precedence: ':not(:empty):nth-child(n)';

// box-shadow
$shadow1: 1px;
$shadow2: 2px;
$shadow3: 3px;
$shadow4: 4px;
$shadow8: 8px;
$shadow12: 12px;

// position (for left, top, right, bottom)
$pos2px: 2px;
$pos4px: 4px;
$pos5px: 5px;
$pos10px: 10px;
$pos13px: 13px;
$pos15px: 15px;
$pos16px: 16px;
$pos20px: 20px;
$pos24px: 24px;
$pos30px: 30px;
$pos40px: 40px;

// padding
$padding1px: 1px;
$padding2px: 2px;
$padding3px: 3px;
$padding4px: 4px;
$padding5px: 5px;
$padding6px: 6px;
$padding7px: 7px;
$padding8px: 8px;
$padding9px: 9px;
$padding10px: 10px;
$padding11px: 11px;
$padding12px: 12px;
$padding13px: 13px;
$padding14px: 14px;
$padding15px: 15px;
$padding16px: 16px;
$padding17px: 17px;
$padding18px: 18px;
$padding19px: 19px;
$padding20px: 20px;
$padding21px: 21px;
$padding22px: 22px;
$padding24px: 24px;
$padding25px: 25px;
$padding26px: 26px;
$padding28px: 28px;
$padding30px: 30px;
$padding31px: 31px;
$padding32px: 32px;
$padding34px: 34px;
$padding35px: 35px;
$padding36px: 36px;
$padding38px: 38px;
$padding39px: 39px;
$padding40px: 40px;
$padding42px: 42px;
$padding43px: 43px;
$padding44px: 44px;
$padding45px: 45px;
$padding46px: 46px;
$padding48px: 48px;
$padding50px: 50px;
$padding52px: 52px;
$padding54px: 54px;
$padding50px: 50px;
$padding55px: 55px;
$padding56px: 56px;
$padding58px: 58px;
$padding60px: 60px;
$padding61px: 61px;
$padding62px: 62px;
$padding64px: 64px;
$padding66px: 66px;
$padding68px: 68px;
$padding75px: 75px;
$padding73px: 73px;
$padding70px: 70px;
$padding72px: 72px;
$padding79px: 79px;
$padding80px: 80px;
$padding82px: 82px;
$padding84px: 84px;
$padding90px: 90px;
$padding92px: 92px;
$padding100px: 100px;
$padding108px: 108px;
$padding112px: 112px;
$padding120px: 120px;
$padding124px: 124px;
$padding128px: 128px;
$padding140px: 140px;
$padding142px: 142px;
$padding146px: 146px;
$padding147px: 147px;
$padding150px: 150px;
$padding153px: 153px;
$padding160px: 160px;
$padding178px: 178px;
$padding180px: 180px;
$padding184px: 184px;
$padding194px: 194px;
$padding300px: 300px;
$padding342px: 342px;

// margin
$margin1px: 1px;
$margin2px: 2px;
$margin3px: 3px;
$margin4px: 4px;
$margin5px: 5px;
$margin6px: 6px;
$margin7px: 7px;
$margin8px: 8px;
$margin9px: 9px;
$margin10px: 10px;
$margin11px: 11px;
$margin12px: 12px;
$margin13px: 13px;
$margin14px: 14px;
$margin15px: 15px;
$margin16px: 16px;
$margin17px: 17px;
$margin18px: 18px;
$margin19px: 19px;
$margin20px: 20px;
$margin21px: 21px;
$margin22px: 22px;
$margin23px: 23px;
$margin24px: 24px;
$margin25px: 25px;
$margin26px: 26px;
$margin28px: 28px;
$margin30px: 30px;
$margin32px: 32px;
$margin35px: 35px;
$margin36px: 36px;
$margin40px: 40px;
$margin44px: 44px;
$margin45px: 45px;
$margin48px: 48px;
$margin50px: 50px;
$margin52px: 52px;
$margin56px: 56px;
$margin60px: 60px;
$margin64px: 64px;
$margin72px: 72px;
$margin75px: 75px;
$margin80px: 80px;
$margin92px: 92px;
$margin96px: 96px;
$margin100px: 100px;
$margin103px: 103px;
$margin108px: 108px;
$margin110px: 110px;
$margin115px: 115px;
$margin120px: 120px;
$margin137px: 137px;
$margin154px: 154px;
$margin160px: 160px;
$margin200px: 200px;
$margin220px: 220px;
$margin280px: 280px;
$margin338px: 338px;
$margin342px: 342px;
$margin396px: 396px;
$margin464px: 464px;
$margin523px: 523px;

// width
$width1px: 1px;
$width2px: 2px;
$width3px: 3px;
$width5px: 5px;
$width6px: 6px;
$width7px: 7px;
$width8px: 8px;
$width9px: 9px;
$width10px: 10px;
$width11px: 11px;
$width12px: 12px;
$width14px: 14px;
$width16px: 16px;
$width17px: 17px;
$width18px: 18px;
$width19px: 19px;
$width20px: 20px;
$width21px: 21px;
$width22px: 22px;
$width24px: 24px;
$width25px: 25px;
$width26px: 26px;
$width28px: 28px;
$width30px: 30px;
$width32px: 32px;
$width34px: 34px;
$width36px: 36px;
$width38px: 38px;
$width40px: 40px;
$width44px: 44px;
$width48px: 48px;
$width50px: 50px;
$width56px: 56px;
$width60px: 60px;
$width62px: 62px;
$width64px: 64px;
$width70px: 70px;
$width72px: 72px;
$width80px: 80px;
$width88px: 88px;
$width90px: 90px;
$width100px: 100px;
$width120px: 120px;
$width125px: 125px;
$width132px: 132px;
$width136px: 136px;
$width139px: 139px;
$width140px: 140px;
$width143px: 143px;
$width145px: 145px;
$width148px: 148px;
$width150px: 150px;
$width156px: 156px;
$width160px: 160px;
$width165px: 165px;
$width170px: 170px;
$width180px: 180px;
$width200px: 200px;
$width210px: 210px;
$width219px: 219px;
$width220px: 220px;
$width237px: 237px;
$width240px: 240px;
$width250px: 250px;
$width260px: 260px;
$width274px: 274px;
$width280px: 280px;
$width290px: 290px;
$width298px: 298px;
$width300px: 300px;
$width310px: 310px;
$width320px: 320px;
$width326px: 326px;
$width337px: 337px;
$width340px: 340px;
$width360px: 360px;
$width380px: 380px;
$width392px: 392px;
$width400px: 400px;
$width410px: 410px;
$width430px: 430px;
$width450px: 450px;
$width452px: 452px;
$width460px: 460px;
$width526px: 526px;
$width536px: 536px;
$width560px: 560px;
$width640px: 640px;
$width660px: 660px;
$width675px: 675px;
$width680px: 680px;
$width708px: 708px;
$width720px: 720px;
$width732px: 732px;
$width830px: 830px;
$width840px: 840px;
$width880px: 880px;
$width1100px: 1100px;

// height
$height1px: 1px;
$height2px: 2px;
$height3px: 3px;
$height4px: 4px;
$height6px: 6px;
$height7px: 7px;
$height8px: 8px;
$height9px: 9px;
$height10px: 10px;
$height11px: 11px;
$height12px: 12px;
$height13px: 13px;
$height14px: 14px;
$height16px: 16px;
$height18px: 18px;
$height20px: 20px;
$height21px: 21px;
$height22px: 22px;
$height24px: 24px;
$height26px: 26px;
$height28px: 28px;
$height30px: 30px;
$height32px: 32px;
$height34px: 34px;
$height36px: 36px;
$height38px: 38px;
$height40px: 40px;
$height42px: 42px;
$height43px: 43px;
$height44px: 44px;
$height46px: 46px;
$height48px: 48px;
$height50px: 50px;
$height52px: 52px;
$height54px: 54px;
$height55px: 55px;
$height56px: 56px;
$height64px: 64px; // gnb m
$height65px: 65px;
$height80px: 80px; // gnb d
$height60px: 60px;
$height69px: 69px;
$height72px: 72px;
$height76px: 76px;
$height84px: 84px;
$height90px: 90px;
$height95px: 95px;
$height96px: 96px;
$height100px: 100px; // gnb m
$height102px: 102px;
$height117px: 117px;
$height156px: 156px;
$height170px: 170px;
$height180px: 180px;
$height200px: 200px;
$height208px: 208px;
$height212px: 212px;
$height276px: 276px; // gnb m
$height250px: 250px;
$height260px: 260px;
$height300px: 300px;
$height350px: 350px;
$height370px: 370px;
$height400px: 400px;
$height438px: 438px;
$height450px: 450px;
$height520px: 520px;
$height570px: 570px;
$height642px: 642px;
$height710px: 710px;
$height720px: 720px;
$height730px: 730px;
$height759px: 759px;
$height1106px: 1106px;
$height1312px: 1312px;
$height1568px: 1568px;

// max-width
$max-width36px: 36px;
$max-width40px: 40px;
$max-width53px: 53px;
$max-width64px: 64px;
$max-width80px: 80px;
$max-width90px: 90px;
$max-width100px: 100px;
$max-width110px: 110px;
$max-width120px: 120px;
$max-width140px: 140px;
$max-width144px: 144px;
$max-width150px: 150px;
$max-width152px: 152px;
$max-width160px: 160px;
$max-width180px: 180px;
$max-width188px: 188px;
$max-width200px: 200px;
$max-width203px: 203px;
$max-width220px: 220px;
$max-width230px: 230px;
$max-width240px: 240px;
$max-width256px: 256px;
$max-width260px: 260px;
$max-width268px: 268px;
$max-width278px: 278px;
$max-width280px: 280px;
$max-width288px: 288px;
$max-width300px: 300px;
$max-width310px: 310px;
$max-width316px: 316px;
$max-width320px: 320px;
$max-width340px: 340px;
$max-width328px: 328px;
$max-width360px: 360px;
$max-width333px: 333px;
$max-width342px: 342px;
$max-width350px: 350px;
$max-width385px: 385px;
$max-width406px: 406px;
$max-width464px: 464px;
$max-width480px: 480px;
$max-width548px: 548px;
$max-width580px: 580px;
$max-width586px: 586px;
$max-width600px: 600px;
$max-width604px: 604px;
$max-width640px: 640px;
$max-width740px: 740px;
$max-width872px: 872px;
$max-width940px: 940px;
$max-width1060px: 1060px;
$max-width1076px: 1076px;
$max-width1800px: 1800px;

// max-height
$max-height60px: 60px;
$max-height120px: 120px;
$max-height216px: 216px;
$max-height288px: 288px;
$max-height360px: 360px;
$max-height480px: 480px;
$max-height504px: 504px;
$max-height560px: 560px;
$max-height564px: 564px;
$max-height596px: 596px;
$max-height600px: 600px;
$max-height620px: 620px;
$max-height720px: 720px;
$max-height800px: 800px;
$max-height884px: 884px;

// min-width
$min-width30px: 30px;
$min-width62px: 62px;
$min-width80px: 80px;
$min-width54px: 54px;
$min-width100px: 100px;
$min-width120px: 120px;
$min-width125px: 125px;
$min-width166px: 166px;
$min-width168px: 168px;
$min-width200px: 200px;
$min-width270px: 270px;

// min-height
$min-height22px: 22px;
$min-height26px: 26px;
$min-height30px: 30px;
$min-height32px: 32px;
$min-height40px: 40px;
$min-height52px: 52px;
$min-height54px: 54px;
$min-height58px: 58px;
$min-height66px: 66px;
$min-height88px: 66px;
$min-height100px: 100px;
$min-height120px: 120px;
$min-height138px: 138px;
$min-height140px: 140px;
$min-height150px: 150px;
$min-height166px: 166px;
$min-height206px: 206px;
$min-height210px: 210px;
$min-height216px: 216px;
$min-height240px: 240px;
$min-height250px: 250px;
$min-height300px: 300px;
$min-height340px: 340px;
$min-height360px: 360px;
$min-height400px: 400px;
$min-height480px: 480px;
$min-height550px: 550px;
$min-height600px: 600px;

// rotate
$degree45: 45deg;
$degree90: 90deg;
$degree180: 180deg;
$degree135: 135deg;

// offset
$offset2px: 2px;
$offset3px: 3px;
$offset4px: 4px;
$offset5px: 5px;
$offset6px: 6px;
