@use 'variable' as *;
@use 'mixin' as *;

@mixin ellipsis-clear() {
  overflow: visible !important;
  text-overflow: inherit !important;
  white-space: normal !important;
  height: auto !important;
  -webkit-box-orient: inherit !important;
  -webkit-line-clamp: inherit !important;
}

@mixin fixed-off-imp($type) {
  @if $type == 'relative' {
    position: relative !important;
  } @else if $type == 'static' {
    position: static !important;
  }
}
