extends ./components/_common/_layout.pug
include ./components/_common/_button.pug

block meta 
    - var componentId = ""
    - var componentName = "Error Page"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles

block content

    // Component Markup
    .guide-text-option 404 Error Page button
    .c-error-area
        .c-error.c-error--404
            .c-error__img
            .c-text-contents.align-text-left
                .title.c-text-contents__headline
                    h1.cmp-title.font-w-light-36.font-m-normal-28(data-cmp-data-layer="") 
                        | We're sorry. 
                        br
                        |The page you requested isn't available.
                .text.c-text-contents__bodycopy 
                    p.cmp-text.font-w-normal-16.font-m-normal-12(data-cmp-data-layer="")
                        | Can't find what you're looking for? Start from our  homepage or browse the links below.

                .button.c-cta
                    +defaultButton({
                        name: 'Go to Homepage', 
                        wSize: 'medium', 
                        mSize: 'small', 
                        buttonStyle: 'highlight', 
                        isButton: true
                    })

    .guide-text-option 404 Error Page
    .c-error-area
        .c-error.c-error--404
            .c-error__img
            .c-text-contents.align-text-left
                .title.c-text-contents__headline
                    h1.cmp-title.font-w-light-36.font-m-normal-28(data-cmp-data-layer="") 
                        | We're sorry. 
                        br
                        |The page you requested isn't available.
                .text.c-text-contents__bodycopy 
                    p.cmp-text.font-w-normal-16.font-m-normal-12(data-cmp-data-layer="")
                        | Can't find what you're looking for? Start from our  homepage or browse the links below.

    .guide-text-option 500 Error Page
    .c-error-area
        .c-error.c-error--500
            .c-error__img
            .c-text-contents.align-text-left
                .title.c-text-contents__headline
                    h1.cmp-title.font-w-light-36.font-m-normal-28(data-cmp-data-layer="") 
                        | We're sorry. 
                        br
                        | The page you requested does not exist
                .text.c-text-contents__bodycopy 
                    p.cmp-text.font-w-normal-16.font-m-normal-12(data-cmp-data-layer="") 
                        | The page you requested is not available. If you're still having problems finding a destination on our site, please go to our home page or view our site map.
                        br
                        | We want to help you find what you are looking for.
                .button.c-cta
                    // GA4
                    a.cmp-button.c-button.c-button--text-icon(href="#" target="" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") 
                        span.cmp-button__text.font-w-normal-14.font-m-normal-14 Click here to go to LG Electronics immediately

    .guide-text-option System Check Error Page
    .c-error-area
        .c-error.c-error--systemcheck
            .c-error__img            
            .c-text-contents.align-text-left
                .title.c-text-contents__headline
                    h1.cmp-title.font-w-light-36.font-m-normal-28(data-cmp-data-layer="") 
                        | Submission form temporarily unavailable.
                .text.c-text-contents__bodycopy 
                    p.cmp-text.font-w-normal-16.font-m-normal-12(data-cmp-data-layer="")
                        | 2017/11/03 18:00:00 to 2017/11/06 00:00:00(GMT -05:00, United States of America local time)
                        br
                        | We apologize for this inconvenience.
                .button.c-cta
                    +defaultButton({
                        name: 'Go to Support Home', 
                        wSize: 'medium', 
                        mSize: 'small', 
                        buttonStyle: 'highlight', 
                        isButton: true
                    })

    .guide-text-option Launch Error Page
    .c-error-area
        .c-error.c-error--systemcheck
            .c-error__img            
            .c-text-contents.align-text-left
                .title.c-text-contents__headline
                    h1.cmp-title.font-w-light-36.font-m-normal-28(data-cmp-data-layer="") 
                        | The LG UK website is temporarily unavailable.
                .text.c-text-contents__bodycopy 
                    p.cmp-text.font-w-normal-16.font-m-normal-12(data-cmp-data-layer="")
                        | Between the hours of 12:00 A.M and 7. AM on 6th June 2023 for maintenance work
                        br
                        | Please contact us @email address for any inquiries