@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.PD0027';
#{$component} {
  // element
  > .component > .cmp-container {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
  }
  .c-content-area {
    position: relative;
  }

  // form item
  .c-form__item {
    @include screen(web) {
      flex: 1;
    }
  }

  // back to category select
  .c-back-to {
    line-height: rem(12px); // same as button's font-size
    margin-top: rem($margin24px);
    @include screen(web) {
      margin-top: rem($margin48px);
      line-height: rem(14px); // same as button's font-size
    }
    + .c-region-header {
      margin-top: rem($margin20px);
      @include screen(web) {
        margin-top: rem($margin40px);
      }
    }
    .c-button.w-small {
      &:after {
        transform: rotate(0); /* 230601 RTL */
      }
    }
  }

  .c-region-header {
    + .c-category-select-list {
      margin-top: rem($margin12px);
      @include screen(web) {
        margin-top: rem($margin20px);
      }
    }
    + .productlist {
      margin-top: rem($margin20px);
      @include screen(web) {
        margin-top: rem($margin48px - $margin16px);
      }
    }
  }

  // text area
  .c-text-contents {
    .align-container {
      text-align: center;
      width: 100%;
      margin: 0 auto;
      padding: rem($padding40px) 0 0;
      @include screen(web) {
        max-width: rem($text-box-width-md);
        padding: rem($padding40px) 0;
      }
    }
    // &__headline {
    //     font-weight: $font-semibold;
    //     @include screen(web) {
    //         font-weight: $font-bold;
    //     }
    // }

    &__bodycopy {
      color: $gray3;
    }

    // layout : margin
    * + .c-text-contents__bodycopy {
      margin-top: rem($margin10px);
      @include screen(web) {
        margin-top: rem($margin10px);
      }
    }
  }

  // category filter
  .c-category-filter {
    .c-cta + .c-cta {
      margin-top: 0;
      @include screen(web) {
        margin-left: rem(-$margin16px);
      }
    }
    + .c-content-area {
      margin-top: rem($margin20px);
      @include screen(web) {
        margin-top: rem($margin48px);
      }
    }
    &__body {
      @include screen(mobile) {
        flex-direction: row;
        /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
        flex-wrap: wrap;
        .c-form__item {
          flex-basis: 100%;
        }
      }
    }
  }

  // block - carousel
  .c-carousel {
    position: static;
  }

  // product list
  .c-product-list {
    &__item {
      padding: rem($padding24px);
      @include screen(web) {
        padding: rem($padding40px $padding24px);
      }
    }
  }

  .c-filter-bar {
    @include screen(mobile) {
      border-top: rem($border1) solid $mid-gray1;
    }
  }

  .c-product-item {
    &__visual-image {
      img {
        max-width: rem($width160px);
        @include screen(web) {
          max-width: rem($width200px);
        }
      }
    }
    &__model-display-name {
      gap: rem($margin6px);
      margin-top: rem($margin20px);
    }
  }

  // content area
  .c-content-area {
    &__category {
      .c-text-contents {
        .align-container {
          padding: rem($padding40px) 0 rem($padding20px);
          @include screen(web) {
            padding: rem($padding100px) 0 rem($padding40px);
          }
        }
      }
    }
  }
}
