@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.ML000R';
#{$component} {
  .my-component {
    @include container($design-grid-full, true);
    @include inset-padding-hz;

    $mycomponent: '.my-component';
    position: relative;
    overflow: hidden;
    &--nodata {
      padding-top: rem($padding20px);
      padding-bottom: rem($padding24px);
      @include screen(web) {
        padding-top: rem($padding64px);
        padding-bottom: rem($padding64px);
      }
      // [Start] LGCOMIS-1080
      & + .address-book {
        margin-top: 0;
      }
      &.layout-contents {
        @include screen(web) {
          padding-bottom: rem(48px);
        }
        text-align: center;
        .nodata-wrap {
          .c-cta {
            justify-content: center;
          }
        }
      }
      // [End] LGCOMIS-1080
    }
  }
  .address-book {
    margin-top: rem($margin8px);
    margin-bottom: rem($margin24px);
    @include screen(web) {
      margin-top: rem($margin24px);
      margin-bottom: rem($margin64px);
    }
    // [Start] LGCOMIS-1080
    + .my-component--nodata {
      padding-top: 0;
      @include screen(web) {
        margin-top: rem(-16px);
      }
    }
    // [End] LGCOMIS-1080
  }
  // [Start] LGCOMIS-1080
  .layout-contents {
    @include screen(web) {
      margin: 0 auto;
      max-width: rem(952px);
    }
    &.margin-top {
      margin-top: rem(24px);
      @include screen(web) {
        margin-top: rem(48px);
      }
    }
  }
  .section-title {
    margin-bottom: rem(12px);
    @include screen(web) {
      margin-bottom: rem(20px);
    }
  }
  // [End] LGCOMIS-1080
  .c-checkout-step02 {
    @include lgness-radius('default');
    padding: rem($padding20px) rem($padding16px);
    background: $white;
    @include screen(web) {
      margin: 0 auto;
      padding: rem($padding24px);
      max-width: rem(952px);
    }
    & + .c-checkout-step02 {
      margin-top: rem($margin10px);
      @include screen(web) {
        margin-top: rem($margin12px);
      }
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
      }
    }
    &--save-button {
      padding-top: rem($padding20px);
      width: 100%;
      text-align: center;
    }
    .c-address-box__flag.c-address-box__flag + .c-address-box__flag {
      margin-left: rem($margin2px);
    }
    .c-address-box {
      &__flag {
        padding: rem($padding5px) rem($padding6px);
        border-radius: rem($radius4);
        background-color: $gray3;
        width: fit-content;
        color: $white;
        font-size: rem(10px);
        line-height: rem(10px);
        font-weight: $font-bold;
        text-align: center;
        @include screen(web) {
          margin-bottom: rem($margin2px);
        }
      }
      &__list {
        @include reset-list-style;
      }
      &__head {
        display: flex;
        justify-content: space-between;
      }
      &__body {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-top: rem($margin4px);
        @include screen(web) {
          align-items: center;
          margin-top: rem($margin2px);
        }
        .c-product-item__input--delete {
          margin-left: rem($margin30px);
          border: 0;
          padding: 0;
          display: inline-block;
          width: rem($width24px);
          height: rem($height24px);
          flex: 0 0 auto;
          align-self: center;
          cursor: pointer;
          background: transparent;
          background-image: url($icon-trash-24-24);
          background-repeat: no-repeat;
          background-size: rem(24px);
          background-position: center;
          .cmp-image {
            padding: rem($padding3px);
            &__image {
              width: rem(18px);
              display: block;
            }
          }
        }
      }
      &__context {
        flex: 1;
      }
      &__title {
        color: $gray3;
        font-weight: $font-regular;
        font-size: rem(14px);
        line-height: rem(16px);
        margin-top: rem($margin4px);
        @include screen(web) {
          margin-top: rem($margin2px);
          line-height: rem(20px);
          font-size: rem(16px);
        }
        & + .c-button {
          font-size: rem(14px);
          line-height: rem(14px);
          text-underline-offset: auto;
        }
      }
      &__text {
        font-size: rem(16px);
        line-height: rem(20px);
        color: $black;
        word-break: break-word;
        @include screen(web) {
          font-size: rem(20px);
          line-height: rem(24px);
        }
        &-postcode {
          white-space: nowrap;
        }
      }
      &__num {
        font-size: rem(16px);
        line-height: rem(20px);
        color: $black;
        @include screen(web) {
          font-size: rem(20px);
          line-height: rem(24px);
        }
      }
    }
  }
  .my-button {
    @include screen(mobile) {
      width: 100%;
      .c-button {
        width: 100%;
      }
    }
  }
  .c-checkout-step02 + .my-button {
    justify-content: center;
    margin-top: rem($margin24px);
    @include screen(web) {
      margin-top: rem($margin32px);
    }
  }
  .nodata-wrap {
    .c-text-contents {
      &__bodycopy {
        color: $black;
        div {
          @include screen(mobile) {
            line-height: rem(20px);
          }
        }
      }
    }
    .c-text-contents + .my-button {
      margin-top: rem($margin24px);
      .c-button {
        @include screen(mobile) {
          margin: 0 rem($margin9px);
        }
      }
    }
  }
}

#popDeleteAlert {
  .c-pop-msg__container {
    background-color: $warm-gray;
  }
}
