@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.MB000C';
#{$component} {
  //// S: 임시
  .c-pop-msg__container {
    background: $warm-gray;
    @include lgness-radius('default');
    // [Start] 2023-06-08 : UPDATE - max-width */
    @include screen(web) {
      max-width: rem(558px);
    }
    // [End] 2023-06-08 : UPDATE - max-width */
  }
  .c-pop-msg__header {
    margin-bottom: rem($margin8px);
    padding-bottom: 0;
    border-bottom: none;
    .cmp-title {
      font-size: rem(24px);
      line-height: rem(28px);
      font-weight: $font-light;
      @include screen(web) {
        font-size: rem(36px);
        line-height: rem(42px);
      }
    }
  }
  //// E: 임시
  .c-warning,
  .c-valid {
    line-height: rem(14px);
    padding-left: rem($padding13px);
    &::before {
      display: none;
    }
    margin-top: rem($margin4px);
    &:first-child {
      margin-top: rem($margin6px);
    }
    @include screen(web) {
      // [Start] 2023-06-08 : UPDATE - margin-top */
      margin-top: rem($margin8px);
      // [End] 2023-06-08 : UPDATE - margin-top */
      &:first-child {
        margin-top: rem($margin8px);
      }
    }
  }
  .c-pop-msg {
    &__container {
      overflow-y: auto;
    }
  }
  .my-email-validation {
    .c-pop-msg {
      padding: 0;
      &__container {
        height: 100vh;
        justify-content: flex-start;
        border-radius: 0;
        padding-left: rem($padding16px);
        padding-right: rem($padding16px);
        @include screen(web) {
          @include lgness-radius('default');
          height: auto;
          justify-content: center;
          padding: rem($padding50px);
        }
      }
    }
    &__text {
      color: $gray3;
      line-height: rem(18px);
      @include screen(web) {
        text-align: left;
        padding: 0;
      }
    }
    &__button {
      display: flex;
      gap: 0.5rem;
      .cmp-button {
        width: 100%;
      }
      // [Start] 2023-06-08 : ADD - my-button */
      .my-button {
        flex: 1;
        @include screen(web) {
          flex: initial;
        }
        .cmp-button {
          padding: 0;
          @include screen(web) {
            padding: 0 rem($padding20px);
          }
        }
      }
      // [End] 2023-06-08 : ADD - my-button */
      @include screen(web) {
        display: flex;
        gap: rem(8px);
        justify-content: center;
        align-items: flex-end;
      }
    }
  }
  // [Start] 2023-06-08 : ADD - c-search-box__form and my-form-required */
  .c-search-box__form {
    gap: 0;
  }
  .my-form-required {
    text-align: right;
    margin-top: rem($margin20px);
    color: $mid-gray2;
    em.c-required {
      color: $mid-gray2;
    }
  }
  // [End] 2023-06-08 : ADD - c-search-box__form and my-form-required */

  .my-formbox {
    margin: 0 auto;
    width: 100%;
    padding: rem($padding20px $padding16px);
    @include lgness-radius('all');
    background: $white;
    // [Start] 2023-06-08 : UPDATE - my-formbox margin-top */
    margin-top: rem($margin8px);
    @include screen(web) {
      margin-top: rem($margin12px);
      // [End] 2023-06-08 : UPDATE - my-formbox margin-top */
      padding: rem($padding24px);
    }
    .c-cta {
      margin-top: rem($margin24px);
      justify-content: center;
    }
  }
  .button.my-button {
    justify-content: center;
    margin-top: rem($margin20px);
    @include screen(web) {
      flex: initial;
      margin-top: rem($margin24px);
    }
    .c-button[class*='-box']:not(.c-button[class*='-box'][class*='-box-outlined']):disabled,
    .c-button[class*='-box']:not(.c-button[class*='-box'][class*='-box-outlined'])[disabled] {
      cursor: not-allowed;
      pointer-events: none;
    }
    &__full {
      @include screen(mobile) {
        .cmp-button {
          flex: 1;
          padding: 0;
        }
        &--large {
          margin-top: rem($margin20px);
          @include screen(web) {
            margin-top: rem($margin32px);
          }
        }
      }
    }
    & + .my-formbox {
      margin-top: rem($margin20px);
      @include screen(web) {
        margin-top: rem($margin24px);
      }
    }
  }
  .my-input {
    text-align: left;
    ul {
      @include reset-list-style;
      li {
        width: 100%;
        @include screen(web) {
          width: auto;
        }
      }
      li + li {
        margin-top: rem($margin16px);
        @include screen(web) {
          margin-top: rem($margin20px);
        }
      }
      .c-search-box__form {
        @include screen(web) {
          flex-direction: column;
          gap: 0;
        }
      }
      .c-input-item {
        position: relative;
        label {
          color: $gray3;
        }
        .my-input__password {
          padding-right: rem($padding45px);
        }
        &.active {
          .my-form__eye {
            background: url($icon-mylg-view-on-24-24) center / contain no-repeat;
          }
        }
        & + .c-checkbox-item {
          @include screen(mobile) {
            margin-top: rem($margin20px);
          }
        }
      }
    }
    input {
      // [Start] 2023-06-08 : UPDATE - padding */
      padding: rem($padding12px) rem($padding13px);
      // [End] 2023-06-08 : UPDATE - padding */
      font-size: rem(16px);
      @include screen(web) {
        font-size: rem(14px);
      }
      &[data-placeholder]::before {
        color: $gray6;
        font-size: rem(14px);
      }
      &[type='password'] {
        padding-right: rem($padding45px);
      }
      &[readonly] {
        background-color: $ivory6;
        &::placeholder {
          color: $grayb;
        }
      }
      &[disabled] {
        background-color: $ivory6;
        &::placeholder {
          color: $grayb;
        }
      }
    }
    .c-text-contents {
      margin-bottom: rem($margin30px);
      @include screen(web) {
        margin-bottom: rem($margin40px);
      }
      &__bodycopy {
        margin: 0 auto;
        margin-top: rem($margin10px);
        max-width: rem(450px);
      }
    }
    .button {
      justify-content: center;
      margin-top: rem($margin30px);
    }
    .my-form {
      &__eye {
        display: inline-block;
        background: url($icon-mylg-view-32-32) center / contain no-repeat;
        position: absolute;
        top: 50%;
        right: rem(15px);
        width: rem($width24px);
        height: rem($height24px);
        border: none;
        cursor: pointer;
        @include screen(web) {
          top: calc(50% - rem(-2px));
        }
      }
    }
    .my-warn {
      border-color: $red;
      select {
        border-color: $red;
      }
    }
    select {
      font-size: rem(16px);
      @include screen(web) {
        font-size: rem(14px);
      }
    }
    .c-select-item select {
      color: $gray6;
      option[selected] {
        color: $gray3;
      }
    }
  }

  ul.my-input__info {
    color: $gray6;
    max-width: rem(310px);
    margin-top: rem($margin8px);
    @include screen(web) {
      max-width: rem(708px);
    }
    li {
      line-height: rem(20px);
    }
  }
  .c-pop-msg--noticeForPasswordSet {
    padding: 0;
    .c-pop-msg__container {
      height: 100vh;
      justify-content: flex-start;
      border-radius: 0;
      padding-left: rem($padding16px);
      padding-right: rem($padding16px);
      @include screen(web) {
        @include lgness-radius('default');
        height: auto;
        justify-content: center;
        padding: rem($padding50px);
      }
    }
    .c-pop-msg__contents {
      .c-button.c-button--text-icon {
        margin-top: rem($margin20px);
        .c-button__text {
          color: $gray3;
        }
      }
    }
    .c-pop-msg__button-wrap {
      justify-content: center;
      .c-button {
        flex: 1;
        @include screen(web) {
          flex: none;
        }
      }
    }
  }
}
