@charset "UTF-8";
@use '../../scss/abstract/' as *;
@use '../CS0000/CS0000' as *;

// component
$component: '.CS0009';
#{$component} {
  // variable
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';
  $mobile-width: calc(100% - rem($margin25px * 2));

  &__container {
    @include flex-context;
    @include container($design-grid-full, true);
    @include inset-padding-hz(mobile);
    @include screen(web) {
      @include flex-context;
      @include inset-padding-hz;
    }
    @include screen(tablet) {
      @include inset-padding-hz;
    }
    @at-root #{$component} {
      .full #{$component}__container {
        @include screen(mobile) {
          padding-left: 0;
          padding-right: 0;
        }

        #{$cs-header} {
          margin: rem(0 $margin16px);
          width: calc(100% - 115px);
          margin-bottom: rem($margin12px);
          #{$text-contents} {
            margin-bottom: rem($margin12px);
          }
          @include screen(web) {
            width: 100%;
            margin: 0;
            display: flex;
            align-items: center;
            gap: rem(24px);
            margin-bottom: rem($margin24px);
            #{$text-contents} {
              margin-bottom: 0;
            }
            .button {
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }
  &.c-default-margin {
    &.c-wrapper {
      &.margin-top {
        margin-top: 0;
        padding-top: 0;
      }
      #{$cs-header} {
        margin-top: rem($margin30px);
        @include screen(web) {
          margin-top: rem($margin40px);
        }
      }
    }
  }

  .c-carousel {
    &--gallery {
      .swiper-slide {
        @include screen(mobile) {
          width: $mobile-width;
        }
      }
    }
    &__handler {
      // padding-bottom: rem($padding40px);
      // margin-top: 1.25rem;
    }
  }

  .c-carousel .c-image {
    overflow: hidden;
    border-radius: rem($radius8);
  }
  .c-media {
    &--floating {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  // Support HEADER
  #{$cs-header} {
    margin-bottom: rem($margin20px);
    @include screen(web) {
      margin-bottom: rem($margin40px);
    }
    @at-root #{$component} #{$cs-header} {
      #{$text-contents} {
        // text-align: center;
      }
      #{$text-contents}__headline + #{$text-contents}__bodycopy {
        margin-top: rem($margin6px);
        @include screen(web) {
          margin-top: rem($margin10px);
        }
      }
    }
    + .c-gallery {
      // margin-top: rem(-68px);
      .c-carousel {
        .c-carousel__handler--away-from-carousel {
          margin-top: 0;
        }
        padding-top: 0 !important;
      }
      @include screen(web) {
        margin-top: 0;
      }
    }
  }

  // HERO BANNER - COMPONENT CLASS ADDED .type-banner__slide2
  .type-banner {
    &__slide2 {
      &:not(.full) {
        .swiper {
          padding: 0 !important;
        }
      }
      #{$component}__container {
        padding-bottom: 0;
        #{$cs-header} {
          // margin-top: rem($margin30px);
        }
      }
      @include screen(web) {
        &.full {
          max-width: none;
          #{$cs-header} {
            // margin-top: rem($margin40px);
            // margin-bottom: rem($margin40px);
          }
        }

        .swiper {
          overflow: visible;
          overflow: hidden;

          max-width: 1440px;
          .swiper-wrapper {
            .swiper-slide {
              width: calc((100% - (rem(24px) * 3)) / 4);
              // opacity: 0.5;
              &-active {
                opacity: 1;
              }
              margin-right: rem($margin24px);
              &:last-child {
                margin-right: 0;
              }
              &:focus-visible {
                outline-offset: -1px;
              }
            }
            &.custom-active {
              // border: 1px solid #000;
            }
          }
        }
        .c-banner-text {
          top: auto;
          left: rem(40px);
          bottom: rem(32px);
          transform: none;
          &__desc {
            display: block;
            margin-top: rem($margin4px);
          }
        }
        .c-carousel__handler {
          @include screen(web) {
            // display: none;
          }
        }
      }
      .c-gallery {
        .cmp-image {
          img {
            object-fit: cover;
          }
          @include screen(custom, rem(768px), min) {
            background: #fff;
            border-radius: rem($radius28);
            img {
              object-fit: contain;
              object-position: right bottom;
              // max-height: rem(240px);
            }
          }
          @include screen(custom, rem(420px), min) {
            background: #fff;
            border-radius: rem($radius20);
            img {
              max-height: rem(240px);
              object-fit: scale-down;
            }
          }
        }
      }
      .c-gallery-text {
        .c-text-contents__bodycopy {
          .c-columnbanner__title {
            @include screen(custom, rem(769px), min) {
              width: calc(100% - 56px);
            }
            @include screen(custom, rem(1080px), min) {
              width: 60%;
            }
          }
        }
      }
      .c-viewMore-btn {
        // margin-left: rem($margin25px);
        + .c-gallery {
          margin-top: rem(-50px);
        }
        @include screen(web) {
          justify-content: end;
          + .c-gallery {
            margin-top: 0;
          }
        }
      }
      .c-gallery {
        .swiper {
          padding: 0 25px;
          padding-top: rem($padding48px);
          // padding-top: rem($padding68px);
          position: static;
          @include screen(web) {
            padding: 0;
          }
        }
        &-picture {
          // padding-top: 32.258%; // 310x100
          img {
            border-radius: rem($radius20);
            object-fit: cover;
            // height: rem(120px);
            object-position: right;
            @include screen(web) {
              height: rem(248px);
              border-radius: rem($radius32);
            }
          }
        }
        &-text {
          // position: absolute;
          left: rem(20px);
          bottom: rem(20px);
          width: calc(100% - rem(40px));
          @include screen(web) {
            left: rem(30px);
            bottom: rem(30px);
            width: calc(100% - (rem(30px) * 2));
          }
          .c-text-contents__bodycopy {
            // color: $white;
            .c-columnbanner__title {
              margin-bottom: rem($margin4px);
              text-align: #{'/*!rtl:right*/'};
              position: absolute;
              top: rem(20px);
              left: rem(20px);
              word-break: break-word;
              @include ellipsis(2);
              @include screen(mobile) {
                width: 55%;
              }
            }
            .button {
              margin-top: rem($margin10px);
              text-align: #{'/*!rtl:right*/'};
              position: absolute;
              bottom: rem(20px);
              left: rem(20px);
              @include screen(web) {
                margin-top: rem($margin20px);
              }
            }
            @include screen(web) {
              .c-columnbanner__title {
                top: rem(28px);
                left: rem(28px);
                @include ellipsis(2);
              }
              .button {
                bottom: rem(28px);
                left: rem(28px);
              }
            }
          }
        }
      }
      .swiper-slide:nth-last-child(-n + 1):first-child,
      .swiper-slide:nth-last-child(-n + 1):first-child ~ .swiper-slide {
        width: 100%;
        // max-width: rem(708px);
      }
      .swiper .swiper-wrapper .swiper-slide:nth-last-child(-n + 1):first-child,
      .swiper-slide:nth-last-child(-n + 1):first-child ~ .swiper-slide:last-child {
        padding: 0 !important;
      }
      .swiper .swiper-wrapper .swiper-slide:nth-last-child(-n + 3):first-child,
      .swiper-slide:nth-last-child(-n + 3):first-child ~ .swiper-slide {
        // border: 2px solid #000;
        @include screen(web) {
          width: calc((100% - (rem(24px) * 2)) / 3);
        }
      }
      .swiper .swiper-wrapper .swiper-slide:nth-last-child(-n + 2):first-child,
      .swiper-slide:nth-last-child(-n + 2):first-child ~ .swiper-slide {
        @include screen(web) {
          width: calc((100% - (rem(24px))) / 2);
        }
        @include screen(tablet) {
          .c-gallery-text {
            .c-text-contents__bodycopy {
              .c-columnbanner__title {
                width: 60%;
              }
            }
          }
        }
      }
      .swiper .swiper-wrapper .swiper-slide:nth-last-child(-n + 1):first-child,
      .swiper-slide:nth-last-child(-n + 1):first-child ~ .swiper-slide {
        @include screen(web) {
          width: 100%;
        }
      }
      // .swiper .swiper-wrapper .swiper-slide:nth-last-child(n + 3),
      // .swiper-slide:nth-last-child(n + 3) ~ .swiper-slide {
      // margin: 0 auto;
      // border: 2px dashed blue;
      // width: auto !important;

      // @include screen(web){
      //     width: calc((100% - (rem(24px))) / 4);

      // }
      // }
    }
  }

  // theme
  &.bg-darkgray,
  &.bg-black {
    .component {
      color: $white;
    }
    .c-text-contents__bodycopy,
    .c-text-contents__list-item,
    .c-text-contents__quote-name {
      color: $white;
    }
    .c-text-contents li {
      &:before {
        background-color: $white;
      }
    }
  }
  &.bg-warmgray {
    background: $warm-gray;
  }

  // option - align
  .c-text-contents {
    &.align-text-left {
      .c-text-contents__subcategory,
      .c-text-contents__description {
        text-align: center;
        @include screen(web) {
          text-align: left;
        }
      }
    }
    &.align-text-center {
      .c-text-contents__subcategory,
      .c-text-contents__description {
        text-align: center;
        @include screen(web) {
          text-align: center;
        }
      }
    }
    &.align-text-right {
      .c-text-contents__subcategory,
      .c-text-contents__description {
        text-align: center;
        @include screen(web) {
          text-align: right;
        }
      }
    }
  }
  @at-root #{$component} {
    &.width-wide {
      max-width: 1920px;
      margin: 0 auto;
    }

    &.width-narrow {
      max-width: 1600px;
      margin: 0 auto;
    }

    &.width-content {
      max-width: 1440px;
      margin: 0 auto;
    }
    &.border-top {
      border-top: 1px solid $mid-gray1 !important;
    }
    &.border-bottom {
      border-bottom: 1px solid $mid-gray1;
    }
  }
}
