@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.ML00AB';
#{$component} {
  .my-component {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
    // @include lgness-radius('default');
    position: relative;
    overflow: hidden;
  }
  .my-component__wrap {
    @include screen(web) {
      padding-top: rem(20px);
    }
  }
  .layout-container {
    padding: rem(0 16px);
    @include screen(web) {
      margin: 0 auto;
      max-width: rem(952px + 32px); // calculate with side padding
    }
  }
  .container-hat {
    margin-bottom: rem(8px);
    @include screen(web) {
      margin-bottom: rem(20px);
    }
    &.align-end {
      text-align: end;
    }
  }
  .required-fields {
    font-style: normal;
    font-size: rem(12px);
    @include screen(web) {
      font-size: rem(16px);
    }
    &::before {
      content: '*';
      color: $heritage-red;
    }
    span {
      color: $mid-gray2;
    }
  }
  .contents-box {
    @include lgness-radius('default');
    padding: rem(20px 16px);
    background: $white;
    .box-title {
      margin-bottom: rem(12px);
      font-size: rem(20px);
      @include screen(web) {
        margin-bottom: rem(20px);
        font-size: rem(24px);
      }
      .c-required {
        font-size: 1em;
      }
    }
    > .bottom-container {
      margin-top: rem(16px);
      @include screen(web) {
        margin-top: rem(24px);
      }
    }
  }
  .button-container {
    display: flex;
    margin-top: rem(24px);
    gap: rem(6px);
    @include screen(web) {
      margin-top: rem(32px);
      gap: rem(8px);
    }
    &.align-start {
      justify-content: start;
    }
    &.align-center {
      justify-content: center;
    }
    &.align-end {
      justify-content: end;
    }
  }
  .info-boxfield {
    & + .info-boxfield {
      margin-top: rem(12px);
    }
    .sub-input-field {
      margin-top: rem(12px);
      padding-left: rem(28px);
      &.hide {
        display: none;
      }
      > .c-input-item:nth-child(n + 2) {
        margin-top: rem(16px);
        @include screen(web) {
          margin-top: rem(24px);
        }
      }
      .bottom-container {
        margin-top: rem(16px);
        @include screen(web) {
          margin-top: rem(24px);
        }
      }
    }
  }
  .input-box-container {
    &:nth-child(n + 2) {
      margin-top: rem(16px);
      @include screen(web) {
        margin-top: rem(24px);
      }
    }
    > .box-label {
      display: block;
      margin-bottom: rem(12px);
      font-size: rem(14px);
      @include screen(web) {
        font-size: rem(16px);
      }
    }
  }
  .complex-input {
    display: grid;
    grid-template-columns: rem(70px) 1fr;
    align-items: center;
    column-gap: rem(8px);
    &:nth-of-type(n + 2) {
      margin-top: rem(16px);
      @include screen(web) {
        margin-top: rem(8px);
      }
    }
    .c-radio-item:first-child {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      .label {
        font-size: rem(14px);
        word-break: break-all;
        @include screen(web) {
          font-size: rem(16px);
        }
      }
    }
    .c-input-item:nth-child(2) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      label {
        display: none;
      }
    }
    .c-warning {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      margin-top: rem(5px);
      padding: 0;
    }
  }
  .toast-popup__item {
    margin-top: rem(16px);
  }
} // End - #{$component}
