@charset "UTF-8";
// module
@use '../../scss/abstract/' as *;

// component
$component: '.AL1.ST0048';
#{$component} {
  // element
  > .component > .cmp-container {
    margin-left: auto;
    margin-right: auto;
  }

  // option
  &.width-wide {
    > .component > .cmp-container {
      max-width: rem($maximum);
    }
  }
  &.width-narrow {
    > .component > .cmp-container {
      max-width: rem($design-full);
    }
  }
  &.width-content {
    > .component > .cmp-container {
      max-width: rem($design-grid-full);
    }
  }
  .c-floating-contents__main-contents {
    justify-content: flex-start !important;
  }
  .c-text-contents {
    text-align: left !important;
    align-items: flex-start !important;
    max-width: rem(310px);
    @include screen(web) {
      max-width: rem(715px);
    }
    .cmp-title__text {
      font-size: rem(36px);
      line-height: rem(36px);
      @include screen(web) {
        font-size: rem(80px);
        line-height: rem(80px);
      }
    }
    .cmp-text {
      font-size: rem(16px);
      line-height: rem(18px);
      @include screen(web) {
        font-size: rem(24px);
        line-height: rem(28px);
      }
    }
  }
  .c-button[class*='-default'].w-medium {
    .cmp-button__text {
      position: relative;
      padding-right: rem($padding18px);
      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%) #{'/*!rtl: translateY(-50%) scaleX(-1)*/'}; /* 230601 RTL */
        width: rem(10px);
        height: rem(10px);
        background-image: url($icon-al-link-10-10);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}
