@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.PD0037';
#{$component} {
  > .component > .cmp-container {
    width: 100%;
  }

  $search: '.c-search-box';
  $map-search: '.c-map-search';
  $map-search-box: '.c-map-search__box';
  .c-map-tooltip {
    top: 50%;
    bottom: auto;
    margin-top: rem(($margin80px + $margin16px) * -1);
    z-index: 80;
    @include screen(web) {
      margin-top: rem(($margin100px + $padding50px) * -1);
      transform: translate(-50%, 0);
    }
  }

  .c-map-tooltip {
    &.c-tooltip-direction {
      top: 50%;
      bottom: auto;
      margin-top: rem(($margin50px + $margin2px) * -1);
      z-index: 80;
      @include screen(web) {
        margin-top: rem(($margin100px + $margin10px) * -1);
        transform: translate(-50%, 0);
      }
    }
  }

  .c-map-search {
    .c-map {
      .c-map__pin {
        @include screen(web) {
          top: rem($margin523px);
        }
        &:not(.is-active) {
          &:not(.c-tooltip-direction) {
            &:nth-child(2) {
              margin: {
                top: rem($margin30px + $margin8px);
                left: rem($margin200px + $margin40px + $margin2px);
              }
            }
            &:nth-child(3) {
              margin: {
                top: rem(($margin338px - $margin17px) * -1);
                left: rem(($margin342px + $margin3px) * -1);
              }
            }
            &:nth-child(4) {
              margin: {
                top: rem($margin15px);
                left: rem(($margin338px - $margin3px) * -1);
              }
            }
          }
        }
        &.c-tooltip-direction {
          top: 50%;
          bottom: auto;
          margin-top: rem($margin50px + $margin6px);
          @include screen(web) {
            margin-top: 0;
          }
          &.is-black {
            margin-top: rem(-$margin20px);
            margin-left: rem(-$margin60px);
            @include screen(web) {
              margin-left: rem(-$margin60px);
              margin-top: rem(-$margin220px);
            }
          }
        }
      }
      .c-map-tooltip {
        .c-brand-detail {
          .c-brand-detail__info {
            margin-top: rem($margin16px);
          }
        }
      }
    }
  }
}
