@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.ML000F';
#{$component} {
  $not-first: '&:not(&:first-child)';
  $not-last: '&:not(:last-child)';
  .my-component {
    margin: 0 auto;

    $mycomponent: '.my-component';
    position: relative;
    overflow: hidden;
    @include container($design-grid-full, true);
    @include inset-padding-hz;
    @include screen(mobile) {
      padding: 0 rem($padding16px);
    }
    &__wrap {
      &--link-banner {
        background: $light-gray3;
        @include screen(web) {
          border-top: rem($border1) solid $graycb;
          background: transparent;
        }
      }
    }
    &--maximum {
      border-bottom: rem($border1) solid $mid-gray1;
    }
    &.no-crop {
      overflow: initial;
    }
  }
  .my-repair-request {
    margin-top: rem($margin16px);
    margin-bottom: rem($margin24px);
    @include screen(web) {
      margin-top: rem($margin24px);
      margin-bottom: rem($margin64px);
    }
  }
  .c-page {
    margin-top: rem($margin16px);
    @include screen(web) {
      margin-top: rem($margin32px);
    }
  }
  .my-repair {
    @include reset-list-style;
    display: grid;
    gap: rem(16px) 0;
    grid-template-columns: 1fr;
    margin-top: rem($margin12px);
    @include screen(web) {
      gap: rem(24px);
      grid-template-columns: 1fr;
      margin-top: rem($margin24px);
    }
    &__item {
      display: flex;
      flex-direction: column;
      background-color: $white;
      @include lgness-radius('default');
      // 임시 css
      // border: rem($border1) solid black;
      span {
        display: block;
      }
    }
    &__top {
      display: flex;
      align-items: baseline;
      gap: rem(14px);
      padding: rem($padding20px) rem($padding16px);
      @include screen(web) {
        align-items: center;
        gap: rem(24px);
        padding: rem($padding24px);
      }
    }
    &__img {
      max-width: rem(64px);
      @include screen(web) {
        max-width: rem(100px);
      }
    }
    &__txt {
      position: relative;
      flex: 1;
      .c-text-contents__bodycopy a {
        display: block;
      }
      .c-text-contents__bodycopy {
        + .c-text-contents__bodycopy {
          margin-top: rem($margin4px);
          @include screen(web) {
            margin-top: rem($margin2px);
          }
        }
      }
    }
    &__bottom {
      text-align: right;
      line-height: rem(12px);
      margin-top: rem(18px);

      @include screen(web) {
        margin-top: 0;
        line-height: rem(14px);
      }
    }
    &__flag {
      font-size: rem(10px);
      font-weight: $font-bold;
      width: fit-content;
      margin-bottom: rem($margin8px);
      padding: rem($padding6px);
      border-radius: rem($radius4);
      line-height: rem(10px);
      @include screen(web) {
        margin-bottom: rem($margin2px);
      }
      &--receipt {
        border: rem($border1) solid $black;
      }
      &--receipt,
      &--process {
        border: rem($border1) solid $black;
      }
      &--canceled {
        background-color: $gray3;
        color: $white;
      }
      &--completed {
        background-color: $active-red;
        color: $white;
      }
    }
    &__receipt {
      text-decoration: underline;
      color: $active-red;
      @include screen(web) {
        margin-bottom: rem($margin2px);
      }
    }
    &__name {
      color: $black;
    }
  }
  .my-nodata-wrap {
    color: $gray3;
    padding: rem($padding24px) 0;
    @include screen(web) {
      padding: rem($padding64px) 0;
    }
  }
}
