@charset "UTF-8";

@use '../../scss/abstract/' as *;

$component: '.PR0004';
#{$component} {
  overflow: initial;
  // element
  > .component > .cmp-container {
    // ...
  }

  // block
  .c-title-banner {
    &__container {
      @include container($maximum);
    }
    &__main-contents {
      @include container($design-grid-full);
      display: flex;
      width: 100%;
    }

    .c-text-contents {
      max-width: rem($text-box-width-sm);
    }
    .c-floating-contents__floating {
      padding: rem($padding32px $padding25px);
      @include screen(web) {
        padding: rem($padding80px) min(rem($padding80px), calc(100% * $padding80px/$maximum));
      }
    }

    // font
    .c-text-contents__date {
      font-size: rem(20px);
      line-height: rem(24px);
    }
    .c-text-contents__bodycopy {
      font-size: rem(16px);
      line-height: rem(18px);
      @include screen(web) {
        font-size: rem(24px);
        line-height: rem(28px);
      }
    }

    // margin
    .c-text-contents *:not(:first-child) {
      margin-top: rem($margin2px);
      @include screen(web) {
        margin-top: rem($margin8px);
      }
    }
    .c-text-contents__headline + * {
      margin-top: rem($margin12px);
      @include screen(web) {
        margin-top: rem($margin20px);
      }
    }

    .c-text-contents__bodycopy {
      & + .c-cta {
        margin-top: rem(12px);
        @include screen(web) {
          margin-top: rem(24px);
        }
      }
    }
  }
  .c-product-list {
    .cta-wrap {
      .c-button[aria-pressed='true'] {
        .unpressed {
          display: none;
        }
      }
      .c-button[aria-pressed='false'] {
        .pressed {
          display: none;
        }
      }
    }
  }
  .c-promotion-package {
    border-top: rem($border1) solid $mid-gray1;
    border-bottom: rem($border1) solid $mid-gray1;
    padding: rem($padding24px 0);
    @include screen(web) {
      padding: rem($padding48px 0 64px);
    }
    &__list {
      @include container($design-grid-full, true);
      @include inset-padding-hz;
    }
    &__more {
      display: flex;
      justify-content: center;
      padding-top: rem($padding16px);
      @include screen(web) {
        padding-top: rem($padding32px);
      }
      // block
      .c-page {
        // ...
      }
    }
  }
  .c-floating-wrap {
    z-index: 1;
  }
  // .c-roll-selector {
  //     $item-width: $width180px;
  //     $item-margin: $margin30px;
  //     $arrow-width: $icon48px;
  //     $side-margin: $padding35px;
  //     $total: ($item-width * 6 + $item-margin * 5 + ($arrow-width + $side-margin) * 2);

  //     @include container($total, false);
  //     text-align: center;

  //     padding-top: rem($padding16px);
  //     padding-bottom: rem($padding16px);
  //     @include screen(web) {
  //         padding-top: rem($padding24px);
  //         padding-bottom: rem($padding24px);
  //     }

  //     &__container {
  //         @include screen(mobile) {
  //             margin-left: 0;
  //             margin-right: 0;
  //         }
  //     }
  //     &__item {
  //         // flex-basis: calc(100% / 4);
  //         // min-width: rem($width60px);
  //         flex-basis: calc(100% / 4 - rem($margin16px));
  //         text-decoration: none;
  //         &:hover,
  //         &:focus-visible {
  //             .c-roll-selector__item-name {
  //                 text-decoration: underline;
  //             }
  //         }
  //         @include screen(web) {
  //             flex-basis: rem($item-width);
  //         }
  //         &:not(.c-roll-selector__item--active) {
  //             .c-image__img--active {
  //                 display: none;
  //             }
  //         }
  //         &--active {
  //             .c-image__img:not(.c-image__img--active) {
  //                 display: none;
  //             }
  //             .c-roll-selector__item-name {
  //                 color: $black;
  //                 text-decoration-line: underline;
  //                 text-decoration-color: $active-red;
  //                 text-underline-offset: rem($padding1px);
  //                 @include screen(web) {
  //                     text-decoration-thickness: rem($border2);
  //                     text-underline-offset: rem($padding3px);
  //                 }
  //             }
  //         }
  //     }
  //     &__item-image {
  //         // width: 60%;
  //         // max-width: rem($max-width64px);
  //         // min-width: rem($max-width40px);
  //         // margin-left: auto;
  //         // margin-right: auto;
  //         width: rem($width40px);
  //         min-width: rem($max-width40px);
  //         margin-left: auto;
  //         margin-right: auto;
  //         @include screen(web) {
  //             width: 60%;
  //             max-width: rem($max-width64px);
  //             min-width: rem($max-width40px);
  //         }
  //     }
  //     &__item-name {
  //         word-break: break-word;
  //         // padding: 0 rem($padding10px);
  //         @include screen(mobile) {
  //             @include ellipsis(2);
  //         }
  //     }
  // }
  .c-list {
    @include list(wrap, $margin40px);
    border-bottom: rem($border1) solid $ivory3;
    padding-bottom: rem($padding30px);
    @include screen(web) {
      padding-bottom: rem($padding40px);
      gap: rem($margin60px $gutter-w);
    }
    &__item {
      @include screen(web) {
        flex: 1;
        flex-basis: calc(100% / 2 - rem($gutter-w));
      }
      @include screen(desktop) {
        // max-width: rem(columns(4, false));
        flex-basis: calc(100% / 3 - rem($gutter-w));
      }
      @include screen(mobile) {
        min-width: 100%;
      }
    }
  }
  .c-rolling-banner {
    max-width: rem(472px * 2 + 692px + 24px * 2);
    margin-left: auto;
    margin-right: auto;

    &__contents {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      $left-padding: '&:before';
      $right-padding: '&:after';

      #{$left-padding},
      #{$right-padding} {
        content: '';
        display: block;
        width: calc(60 / 692 * 100%);
        min-width: rem($padding15px);
      }
    }
    &__contents-container {
      flex-shrink: 0;
      width: 50%;
      min-width: rem($width170px);
      @include screen(web) {
        min-width: rem(278px);
      }
    }
  }
  .c-promotion-rolling-banner {
    position: relative;
    background : {
      size: cover;
      position: 50% 50%;
      repeat: no-repeat;
    }
    @include screen(web) {
      padding: rem($padding80px ($padding34px + 23px + $padding10px));
    }
    @include screen(tablet) {
      padding: rem($padding80px ($padding15px + 23px + $padding10px));
    }

    &__title-area {
      @include container($text-box-width-lg, false);
      color: $white;
      text-align: left;
      @include screen(web) {
        text-align: center;
      }
    }
  }
  .c-package-deal-item {
    position: relative;
    color: $white;

    $chain-dot: '&:before';
    #{$chain-dot} {
      $size: rem($icon20px);
      content: '';
      position: absolute;
      display: block;
      width: $size;
      height: $size;
      border-radius: 50%;
      background : {
        repeat: no-repeat;
        position: 50% 50%;
        image: url($icon-plus-mid-gray2-20-20);
      }
      @include screen(web) {
        top: 50%;
        transform: translate3d(-100%, -50%, 0);
        margin-left: rem($margin2px * -1);
      }
      @include screen(mobile) {
        left: 50%;
        transform: translate3d(-50%, -100%, 0) scale(calc(16 / 20));
        margin-top: rem($margin2px * -1);
      }
    }

    // display variation
    $on-mobile: '&:first-child:before';
    $on-web: '.c-carousel__item:first-child .c-package-deal-item:before';
    #{$on-mobile} {
      @include screen(mobile) {
        display: none;
      }
    }
    @at-root #{$on-web} {
      @include screen(web) {
        display: none;
      }
    }

    // element
    &__delete {
      // reset
      border: none;
      padding: 0;
      // -- end

      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;

      $size: rem($width12px + $padding14px * 2);
      width: $size;
      height: $size;
      background : {
        color: transparent;
        repeat: no-repeat;
        position: 50% 50%;
        image: url($icon-close-black-12-12);
      }
    }
    &__container {
      @include lgness-radius('default');
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: rem($margin4px);
      height: 100%;
      background: {
        color: $mid-gray2;
        position: 50% 50%;
        size: cover;
        repeat: no-repeat;
      }
      padding: rem($padding18px $padding20px);
      @include screen(web) {
        row-gap: rem($margin8px);
      }
      @include screen(mobile) {
        min-height: rem($padding20px * 2 + $height64px);
      }
    }
    &__image {
      $size: rem($width64px);
      $size-m: rem($width60px);

      flex-shrink: 0;
      width: $size-m;
      height: $size-m;
      @include screen(web) {
        width: $size;
        height: $size;
      }
    }
    &__text {
      text-align: center;
    }
    &__information {
      display: flex;
      align-items: center;
      column-gap: min(rem($margin20px), calc($margin20px/columns(3, false) * 100%));
    }
    &__basic-information {
      padding-right: rem($padding32px - $padding20px);
    }
    &__model-display-name {
      @include ellipsis(2);
    }
    &__price {
      font-weight: $font-semibold;
      margin-top: rem($margin4px);
      @include screen(web) {
        margin-top: rem($margin6px);
      }
    }

    // modifier
    &--product {
      .c-package-deal-item__container {
        background-color: $white;
      }
    }

    // block
    .c-button {
      font-weight: $font-regular; // *
    }

    // font
    &__text {
      &--main {
        font-size: rem(16px);
        line-height: rem(18px); // *
        @include screen(web) {
          font-size: rem(20px);
          line-height: rem(24px);
        }
      }
      &--emphasis {
        font-size: rem(20px);
        line-height: rem(24px);
        @include screen(web) {
          font-size: rem(24px);
          line-height: rem(28px);
        }
      }
      &--description {
        font-size: rem(14px);
        line-height: rem(14px);
        @include screen(web) {
          font-size: rem(16px);
          line-height: rem(20px);
        }
      }
    }
    &__model-display-name {
      font-size: rem(16px);
      line-height: rem(18px);
      @include screen(web) {
        line-height: rem(20px); // *
      }
    }
    &__price {
      font-size: rem(24px);
      line-height: rem(24px); // *
      font-weight: $font-semibold; // *
    }
  }
  .c-package-deal-basket {
    position: fixed;
    z-index: $stacking-floor - 1;
    left: 0;
    right: 0;
    bottom: 0;
    @include screen(web) {
      background: rgba($black, 0.8);
    }
    &:not(.is-opened) {
      .c-package-deal-basket__product-container {
        display: none;
      }
      .c-package-deal-basket__toggle-button {
        $arrow: '&:after';
        #{$arrow} {
          transform: rotateX($degree180);
        }
      }
    }
    // element
    &__container {
      position: relative;

      $width: $design-grid-full + ($icon48px + $margin20px) * 2 + $block-margin-w * 2;
      // @debug $width;
      @include container($width);

      @include screen(web) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        @include inset-padding-hz;
      }
      > * {
        width: 100%;
        @include container($design-grid-full, false);
        @include screen(mobile) {
          background: rgba($black, 0.8);
        }
      }
    }
    &__top-edge {
      display: flex;
      justify-content: center;
      @include screen(web) {
        order: 1;
        margin-bottom: rem(34px * -1);
      }
      @include screen(mobile) {
        border-radius: rem($radius20 $radius20 0 0);
      }
    }
    &__toggle-button {
      // reset
      border: none;
      background: none;
      // -- end

      // ...
      cursor: pointer;
      position: relative;
      max-width: 15%;
      min-width: rem($width40px);
      width: 100%;
      height: rem($height10px);
      box-sizing: content-box;
      padding: rem($padding12px 0);
      @include screen(web) {
        width: rem($width18px + $padding10px);
      }

      $arrow: '&:after';
      #{$arrow} {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background : {
          image: url($icon-arrow-white-down-18-10);
          repeat: no-repeat;
          position: 50% 50%;
        }
      }
    }
    &__product-container {
      @include screen(web) {
        order: 3;
        padding-bottom: rem($padding20px);
      }
      @include screen(mobile) {
        $top-edge-h: 34px;
        $indicator-h: 114px;
        max-height: calc(100vh - rem($indicator-h + $top-edge-h));
        overflow-y: auto;
      }
    }
    &__carousel {
      @include screen(mobile) {
        display: none;
      }
    }
    &__list {
      display: flex;
      flex-direction: column;
      row-gap: rem($margin28px);
      padding: rem(0 $block-margin-m $padding30px);
      @include screen(web) {
        display: none;
      }
    }
    &__indicator {
      // padding: rem($padding26px $block-margin-m $padding20px);
      color: $white;
      @include screen(web) {
        order: 2;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        column-gap: rem($gutter-w);
        padding: rem($padding22px 0);
      }
    }
    &__indicator-area {
      display: flex;
      column-gap: rem($margin15px);
      @include screen(web) {
        align-items: center;
      }
      @include screen(mobile) {
        padding: rem($padding12px $padding16px);
        background-color: rgba($black, 0.3);
        flex-wrap: wrap;
      }
      // modifier
      &--primary {
        @include screen(mobile) {
          display: none;
        }
      }
      &:not([class*='--primary']) {
        @include screen(mobile) {
          justify-content: space-between;
          gap: rem($gutter-m);
        }
      }
    }
    &__discount-summary {
      display: flex;
      align-items: center;
      column-gap: rem($margin12px);
      font-weight: $font-semibold;
    }
    &__product-count {
      font-style: normal;
      * {
        font: inherit;
      }
      @include screen(web) {
        display: none;
      }
    }
    &__applied-discount {
      color: $red;
    }
    &__action {
      // reset
      border: none;
      background: none;
      padding: 0;
      // ---

      cursor: pointer;
      position: absolute;
      bottom: rem($margin35px + $padding20px);
      width: rem($icon48px);
      height: rem($icon48px);

      $arrow: '&:after';
      #{$arrow} {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background : {
          color: transparent;
          image: url($icon-arrow-white-right-48-48);
          size: 100% auto;
          repeat: no-repeat;
        }
        transform: rotate(0) #{'/*!rtl:rotate(#{$degree180})*/'}; /*! 230512 RTL */
      }
      &--prev {
        transform: rotateY($degree180);
        left: 0;
        @include screen(custom, rem($mobile) rem($design-full)) {
          left: rem($block-margin-w);
        }
      }
      &--next {
        right: 0;
        @include screen(custom, rem($mobile) rem($design-full)) {
          right: rem($block-margin-w);
        }
      }
      &:disabled:after {
        background-image: url($icon-arrow-mid-gray3-right-48-48);
      }
    }
    &__btns {
      column-gap: rem($margin6px);
      display: flex;
      @include screen(mobile) {
        width: 100%;
        justify-content: space-between;
        .c-button {
          width: 100%;
        }
      }
    }

    // block
    .c-price {
      display: flex;
      align-items: baseline;
      column-gap: rem($margin6px);
      @include screen(web) {
        column-gap: rem($margin8px);
      }
      @include screen(mobile) {
        flex-wrap: wrap;
      }
      // element
      &__purchase {
        margin-right: rem($margin2px);
        font-weight: $font-semibold;
        @include screen(mobile) {
          order: 1;
          width: 100%;
          margin-top: rem($margin2px);
        }
      }
      &__discount {
        color: inherit;
        font: inherit;
      }

      // font
      font-size: rem(14px);
      line-height: 1;

      @include screen(web) {
        font-size: rem(16px);
      }
      &__purchase {
        font-size: rem(24px);
        color: $white;
      }
    }
    .c-button#{$precedence} {
      &:disabled {
        background-color: $white;
        .c-package-deal-basket__product-count {
          display: none;
        }
      }
    }

    // vendor
    .swiper {
      &-slide {
        width: auto;
        height: auto;
        > * {
          height: 100%;
        }
      }
    }
    // variation
    &.swiper-start {
      .c-package-deal-basket__container > * {
        @include screen(custom, rem($mobile) rem($design-full)) {
          padding-left: rem($icon48px + $margin20px);
          padding-right: rem($icon48px + $margin20px);
        }
      }
    }
    &.swiper-steady {
      .c-package-deal-basket__actions {
        display: none;
      }
      .swiper-wrapper {
        column-gap: rem($gutter-w);
      }
      .swiper-slide {
        width: auto !important;
        flex: 1 !important;
        margin-right: 0 !important;
      }
    }
    // font
    &__discount-summary {
      font-size: rem(18px);
      line-height: rem(22px);
      @include screen(web) {
        font-size: rem(28px);
        line-height: rem(32px);
      }
    }
    &__product-count {
      font-size: rem(14px);
      line-height: rem(14px);
      @include screen(web) {
        font-size: rem(20px);
        line-height: rem(24px);
      }
    }
  }

  // layout : margin
  $banner-title: '.c-banner-title-area';
  $banner: '.c-rolling-banner';
  $category-selector: '.c-roll-selector';

  #{$banner-title} {
    &__headline + * {
      margin-top: rem($margin4px);
      @include screen(web) {
        margin-top: rem($margin8px);
      }
    }
  }
  #{$banner-title} + #{$banner} {
    margin-top: rem($margin20px);
    @include screen(web) {
      margin-top: rem($margin40px);
    }
  }
  #{$category-selector} {
    &__item {
      border-color: transparent;
      background-color: transparent;
      &-image {
        margin-bottom: rem($margin8px);
        @include screen(web) {
          margin-bottom: rem($margin20px);
        }
      }
    }
  }
  .c-package-deal-item__text--emphasis + .c-package-deal-item__text--description {
    @include screen(web) {
      margin-top: rem($margin4px * -1);
    }
  }

  // options
  .c-title-banner {
    &.font-white {
      .c-text-contents *:not(.c-button, .c-button__text) {
        color: $white;
      }
    }
    &.font-black {
      .c-text-contents__bodycopy {
        color: $gray3;
      }
    }
  }

  .availableProduct {
    display: flex;
    width: calc(100% - rem(32px));
    margin: rem($margin16px) auto;
    gap: rem(8px);
    padding: rem($padding24px);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: rem(28px);
    background: $light-gray3;
    .infoText {
      display: flex;
      width: 100%;
      align-items: center;
      padding-left: rem($padding35px);
      background: url($icon-current-location-20-26) no-repeat 0 center;
      background-size: rem(32px) rem(32px);
      height: rem($height32px);
      p {
        color: $black;
        font-size: rem(16px);
        line-height: 18px;
      }
    }
    .flex {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      gap: rem(8px);
      &.inputTextType {
        flex-direction: row;
        flex-wrap: nowrap;
        .inputsArea {
          width: 100%;
        }
        ul {
          width: 100%;
        }
        .c-cta {
          width: auto;
        }
      }
    }
    .inputsArea {
      width: 100%;
      .my-input {
        width: 100%;
      }
      ul {
        width: 100%;
        padding: 0;
        display: flex;
        gap: 8px;
        margin: 0;
      }
      li {
        width: 100%;
        list-style: none;
      }
      display: flex;
      gap: rem(10px);
      flex-direction: row;
      .c-valid {
        color: $tree-green;
      }
      .c-warning {
        color: $heritage-red;
      }
    }
    .c-cta {
      width: 100%;
      justify-content: center;
    }

    .c-search-box__form {
      flex-direction: column;
      gap: 0;
    }

    @include screen(web) {
      width: 100%;
      max-width: rem($design-grid-full);
      margin: rem($margin48px) auto;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .infoText {
        height: auto;
        background: url($icon-current-location-20-26) no-repeat 0 center;
        background-size: 20px;
        p {
          font-size: rem(24px);
          line-height: rem(24px);
        }
      }
      .flex {
        max-width: rem(832px);
        flex-direction: row;
        gap: rem(8px);
        flex-wrap: nowrap;
        &.inputTextType {
          flex-direction: row;
        }
      }
      .inputsArea {
        flex-direction: row;
        gap: rem(12px);
      }
      .c-cta {
        width: auto;
      }
    }
  }
}
