@charset "UTF-8";
@use '../../scss/abstract/' as *;
@use '../CS0000/CS0000' as *;

// component
$component: '.CS0031';

#{$component} {
  // variable
  $cs-header: '.c-cs-header';
  $text-contents: '.c-text-contents';

  &__container {
    @include flex-context;
    @include container($design-grid-full, true);
    @include inset-padding-hz(mobile);
    @include screen(web) {
      @include flex-context;
      @include inset-padding-hz;
    }
    @include screen(tablet) {
      @include inset-padding-hz;
    }
  }

  // Support HEADER
  #{$cs-header} {
    margin-bottom: rem($margin20px);

    a {
      color: $red;
      text-decoration: underline;
    }

    @include screen(web) {
      margin-bottom: rem($margin40px);
    }

    @at-root #{$component} #{$cs-header} {
      #{$text-contents} {
        // text-align: center;
      }

      #{$text-contents}__headline + #{$text-contents}__bodycopy {
        margin-top: rem($margin6px);

        @include screen(web) {
          margin-top: rem($margin10px);
        }
      }
    }
  }

  .button {
    justify-content: center;
    margin-top: rem($margin24px);
    margin-bottom: rem($margin24px);

    .c-button {
      font-size: rem(24px);
      line-height: rem(24px);
      border: none;
    }

    @include screen(web) {
      margin-top: rem($margin32px);
      margin-bottom: rem($margin48px);

      .c-button {
        font-size: rem(24px);
        line-height: rem(24px);
        &:hover {
          background: none;
          color: $black;
        }
      }
    }
  }

  .c-list {
    $c-list: '.c-list';

    // display: grid;
    // grid-template-columns: repeat(1, 1fr);
    gap: rem(12px);
    margin-bottom: rem(12px);

    @include screen(web) {
      grid-template-columns: repeat(2, 1fr);
      gap: rem(24px);
      margin-bottom: 0;
    }

    &__wrap {
      @include screen(web) {
        display: flex;
        flex-wrap: wrap;
        gap: rem(24px);

        .c-list {
          width: calc(50% - rem(12px));
          margin-bottom: 0;
          grid-template-columns: none;
        }

        // .c-list:nth-last-child(-n+2):first-child,
        // .c-list:nth-last-child(-n+2):first-child ~ .c-list {
        // }
        .c-list:nth-last-child(-n + 1):first-child,
        .c-list:nth-last-child(-n + 1):first-child ~ .c-list {
          margin: 0 auto;
        }
      }
    }

    &__type-one {
      @include screen(web) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        // gap: rem(24px);
      }

      #{$c-list}__item {
        @include screen(web) {
          // width: rem(342px);
        }
      }
    }

    &__item {
      padding: rem($padding20px);
      margin-bottom: 0;
      border-radius: $radius20;
      background: $white;

      @include screen(web) {
        padding: rem($padding28px);
        border-radius: rem($radius28);
        dt {
          margin-bottom: rem($margin12px);
        }
      }

      dt {
        margin-bottom: rem($margin12px);
      }

      dd {
        position: relative;
        display: flex;
        align-items: flex-start;
        margin-bottom: 0;
        padding-left: rem($padding22px);
        color: $gray6;
        line-height: rem(20px);

        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: rem(6px);
          width: rem(12px);
          height: rem(12px);

          background: {
            image: url($icon-pin-black-12-12);
            repeat: no-repeat;
            position: center;
            size: rem(12px);
          }
        }

        a {
          color: $active-red;
          text-decoration: underline;
        }
      }

      #{$c-list}__image {
        padding-left: 0;
        margin-top: 0;
        margin-bottom: rem($margin20px);

        &:before {
          display: none;
        }

        .cmp-image {
          margin: 0 auto;
        }
      }

      #{$c-list}__phone {
        &:before {
          background-image: url($icon-phone-black-12-12);
        }
      }
      #{$c-list}__fax {
        &:before {
          background-image: url($icon-fax-black-12-12);
        }
      }

      #{$c-list}__email {
        &:before {
          background-image: url($icon-site-black-12-12);
        }
      }
    }

    &__phone {
      color: $gray6;
    }

    &__store {
      #{$c-list} {
        &__item {
          dt {
            margin-bottom: rem($margin12px);
          }

          dd {
            margin-bottom: rem($margin6px);

            &.c-list__image {
              margin-bottom: rem($margin20px);
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      &--image {
        &:last-child {
        }

        #{$c-list}__item {
          @include screen(web) {
            display: flex;
            flex-direction: row-reverse;
          }
        }

        #{$c-list}__image {
          margin-top: 0;
        }

        div {
          @include screen(web) {
            flex: 1;
          }
        }
      }
    }

    &__parts {
      gap: 0;

      @include screen(web) {
        grid-template-columns: repeat(4, 1fr);
        gap: rem(24px);
      }

      #{$c-list}__item {
        display: flex;
        gap: rem(12px);
        padding: rem($padding24px 0);
        border: none;
        border-bottom: 1px solid $grayd;
        border-radius: 0;

        @include screen(web) {
          flex-direction: column;
          gap: rem(40px);
          padding: rem($padding30px);
          border: 1px solid $grayd;
          border-radius: $border8;
        }

        dt {
          margin-bottom: rem($margin8px);
        }

        dd {
          display: block;
          margin-top: rem($margin6px);
          padding-left: 0;
          color: $gray6;

          &:before {
            display: none;
          }
        }

        span {
          margin-left: rem($margin10px);
          color: $gray3;
        }

        div {
          @include screen(web) {
            text-align: center;
          }
        }
      }

      #{$c-list}__image {
        display: flex !important;
        margin: 0;
      }
    }

    // Type. Parts List (Hongkong) - case1. list 1 class .c-list__parts.c-list__parts-flex
    &__parts-flex {
      @include screen(web) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: rem(24px);
      }

      #{$c-list}__item {
        @include screen(web) {
          width: rem(342px);
        }
      }
    }

    &__attachment {
      border-top: 1px solid $grayd;

      #{$c-list}__item {
        display: flex;
        gap: rem(30px);
        padding: rem($padding24px 0);
        border: none;
        border-bottom: 1px solid $grayd;
        border-radius: 0;

        @include screen(web) {
          flex-direction: row;
          align-items: center;
          gap: rem(20px);
          padding: rem($padding20px);
          border: 1px solid $grayd;
          border-radius: $border8;
        }

        dt {
          margin-bottom: 0;
        }

        dd {
          flex-shrink: 0;
          margin-top: rem($margin6px);
          padding-left: 0;
          color: $gray6;

          &:before {
            display: none;
          }
        }
      }

      #{$c-list}__image {
        margin: 0;
        margin-top: 0 !important;
      }

      #{$c-list}__button-pdf {
        margin-top: rem($margin20px) !important;

        a {
          position: relative;
          color: $black;
          padding-left: rem($padding28px);

          &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: rem(20px);
            height: rem(20px);

            background: {
              image: url($icon-extension-pdf);
              repeat: no-repeat;
              position: center;
            }
          }
        }
      }
    }
  }

  .c-list__wrap + .c-page {
    margin-top: rem(24px);
    @include screen(web) {
      margin-top: rem(32px);
    }
  }

  // BORDER TYPE
  .c-text-contents {
    &__border-type {
      padding: rem($padding25px);
      line-height: rem(18px);
      border-bottom: 1px solid $grayd;
      border-top: 1px solid $grayd;
      color: $gray3;

      @include screen(web) {
        max-width: $design-grid-full;
        margin: 0 auto;
        padding: rem($padding20px);
      }

      a {
        font-weight: $font-semibold;
        text-decoration: underline;
        color: $red;
      }
    }
  }
}
