@charset "UTF-8";
@use '../../scss/abstract/' as *;

$component: '.SE0001';
$common-side-padding-m: rem(16px);
$common-search-width: rem(1440px);

#{$component} {
  & > .component > .cmp-container {
    @include container($design-grid-full, true);
    @include inset-padding-hz;
    @include screen(web) {
      display: flex;
      @include flex-context;
      gap: rem($gutter-w);
      padding-bottom: rem($padding100px);
    }
  }
  @include screen(web) {
    .cs-bdt-w {
      border-top: rem($border1) solid $graye;
    }
    .font-w-bold-18 {
      font-size: rem(18px);
      line-height: rem(22px);
      font-weight: $font-bold;
    }
    .font-w-bold-12 {
      font-size: rem(12px);
      line-height: rem(12px);
      font-weight: $font-bold;
    }
  }
  @include screen(mobile) {
    .cs-bdt-m-full {
      border-top: rem($border1) solid $graye;
    }
    .cs-bdt-m {
      position: relative;
      margin-top: rem($margin24px);
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: $common-side-padding-m;
        width: calc(100% - #{$common-side-padding-m * 2});
        border-top: rem($border1) solid $mid-gray1;
      }
    }
    .font-m-bold-18 {
      font-size: rem(18px);
      font-weight: $font-bold;
      line-height: rem(22px);
    }
  }
  // block
  .c-accordion {
    &__head {
      position: relative;
    }
    &__button {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: flex-end;
    }
  }
  .c-summary-recommended-promotion {
    $block: '.c-summary-recommended-promotion';
    margin-top: rem($margin20px);
    &__head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: rem($margin8px $margin20px);
    }
    &__head + #{$block}__carousel {
      margin-top: rem($margin10px);
    }
    .c-carousel__handler {
      margin-top: rem($margin20px);
    }
  }
  .cs-search-bar {
    $searchbar: '.cs-search-bar';
    margin: 0 auto;
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: $warm-gray;
    > .c-text-contents {
      margin-bottom: rem($margin24px);
      @include screen(mobile) {
        display: none;
      }
    }
    .searchBar__root {
      margin: 0 auto;
      overflow: hidden;
      max-width: $common-search-width;
      width: 100%;
      transition: padding 0.3s;
      @include screen(web) {
        padding: 0;
      }
      @include screen(custom, rem(1279px), max) {
        max-width: none;
      }
      @include screen(custom, (rem($mobile + 1px) rem(columns(9, false)))) {
        // padding-right: rem($padding84px);
      }
    }
    .searchBar__searchInner {
      max-width: rem(980px);
      width: 100%;
      @include screen(custom, rem(1279px), max) {
        max-width: none;
      }
    }
    &__content {
      overflow-y: auto;
      flex: 1;
      padding: rem($padding20px) 0 rem($padding50px) 0;
      @include screen(web) {
        padding-left: rem($padding10px);
        padding-right: rem($padding10px);
      }
      &-inr {
        margin: 0 auto;
        max-width: $common-search-width;
        width: 100%;
        &:after {
          content: '';
          display: block;
          clear: both;
        }
      }
    }
    &__primary,
    &__secondary {
      @include screen(web) {
        margin-top: rem($margin24px);
      }
    }
    @include screen(custom, rem(1000px), min) {
      &__primary {
        float: left;
        width: calc(36% + rem(1px));
        margin-right: rem(-1px);
        padding-right: rem($padding40px);
        .cs-search-bar__title {
          .cmp-button {
            &__text {
              margin: 0;
            }
          }
        }
      }
      &__secondary {
        float: right;
        width: 64%;
        padding-left: rem($padding40px);
        border-left: rem($border1) solid $mid-gray1;
      }
    }
    &__primary {
      @include screen(mobile) {
        .cs-search-bar__title:first-child {
          padding-top: rem($padding24px);
        }
      }
    }
    &__secondary {
      @include screen(mobile) {
        .cs-search-bar__title:first-child {
          padding-top: rem($padding24px);
        }
      }
      .c-text-contents__title {
        span {
          @include screen(web) {
            font-size: rem(24px);
            line-height: rem(28px);
          }
        }
      }
      .cs-search-bar__match {
        .image {
          max-width: rem($width88px);
          max-height: rem(88px);
          @include screen(web) {
            max-width: rem($width140px);
            max-height: rem(140px);
          }
        }
      }
      .cs-search-bar__match-product {
        @include screen(mobile) {
          grid-template-columns: rem(88px) 1fr;
          grid-template-rows: rem(88px) 1fr;
        }
        @include screen(web) {
          gap: rem(32px) rem(20px);
          // 2023-05-15 : ADD- add button 'Buy Now' layout change position->grid */
          grid-template-columns: min(rem(140px), 20%) 1fr auto;
        }
        .c-text-contents {
          @include screen(mobile) {
            justify-content: center;
          }
        }
      }
      .cs-search-bar__match--recommend {
        @include screen(web) {
          padding: rem($padding28px);
        }
        .c-text-contents__title {
          span {
            font-size: rem(20px);
            line-height: rem(24px);
            font-weight: 400;
            @include screen(web) {
              font-size: rem(24px);
              line-height: rem(28px);
            }
          }
        }
      }
    }

    &__close-pop {
      position: absolute;
      right: rem(60px);
      top: 0;
      @include screen(mobile) {
        display: none;
      }
      button {
        display: inline-block;
        border: none;
        cursor: pointer;
        width: rem($width36px);
        height: rem($height36px);
        background: url($icon-close-black-24-24) center / contain no-repeat;
      }
    }
    &__find-store {
      display: flex;
      align-items: center;
      padding: rem($padding16px) 0;
      @include screen(web) {
        padding: rem($padding20px) 0 rem($padding20px) rem($padding16px);
      }
      .c-button__text {
        line-height: rem(14px);
      }
    }
    // icon
    &__icon {
      display: block;
      width: rem(15px);
      height: rem($height20px);
      margin-right: rem($margin8px);
      background: url($icon-pin-15-20) center / contain no-repeat;
      &--product {
        width: rem($width18px);
        height: rem($height18px);
        background: url($icon-search-product-18-18) center / contain no-repeat;
      }
    }
    &__close {
      display: inline-block;
      border: none;
      cursor: pointer;
      margin-left: rem($margin9px);
      background: url($icon-close-black-24-24) center / contain no-repeat;
      position: absolute;
      background-size: rem(9px);
      width: rem($width24px);
      height: rem($height24px);
      right: rem(10px);
      padding: 0;
      border-radius: 50%;
      @include screen(web) {
        background-size: rem(12px);
        right: rem(16px);
      }
    }
    // --icon
    &__title {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: rem(4px) 0;
      color: $gray3;
      padding: rem($padding24px) $common-side-padding-m rem($padding12px);
      &:first-child {
        padding-top: 0;
      }
      .cmp-button {
        font-size: rem(12px);
        line-height: rem(12px);
        @include screen(web) {
          font-size: rem(16px);
          line-height: rem(16px);
          font-weight: $font-semibold;
        }
        span {
          color: $black;
        }
      }
      @include screen(mobile) {
        // flex-direction: column;
      }
      @include screen(web) {
        gap: rem(16px);
        padding: rem($padding24px) 0 rem($padding20px);
      }
      @at-root {
        @include screen(mobile) {
          .cs-search-bar__primary .cs-search-bar__title {
            &:first-child {
              padding-top: 0;
            }
          }
        }
      }
      span {
        color: $dark-gray1;
        &:first-child {
          // margin-right: rem($margin6px);

          @include screen(web) {
            // margin-right: rem($margin16px);
          }
        }
      }
      &--coveo {
        flex-direction: column;
        align-items: flex-start;
        gap: rem(4px 0);
        span:first-child {
          margin-bottom: rem(2px);
          &:after {
            content: '';
            display: inline-block;
            box-sizing: content-box;
            margin-left: rem($margin10px);
            padding-left: rem($padding10px);
            width: rem(58px);
            height: rem($height16px);
            border-left: rem($border1) solid $mid-gray1;
            vertical-align: middle;
            background: url($icon-search-coveo-58-14) 100% 50% / contain no-repeat;
          }
        }
      }
      .c-accordion__button {
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
        @include screen(web) {
          display: none;
        }
        &::after {
          transform: rotate(180deg);
        }
      }
      &.rank {
        @include screen(mobile) {
          flex-direction: column;
          gap: rem(4px);
        }
      }
    }
    &__description {
      flex-basis: 100%;
      flex-shrink: 0;
      margin-right: auto;
      font-size: rem(12px);
      line-height: rem(14px);
      font-weight: $font-regular;
      color: $mid-gray2 !important;
      @include screen(web) {
        flex-basis: initial;
        font-size: rem(16px);
        line-height: rem(20px);
      }
    }
    &__carousel {
      display: flex;
      align-items: center;
      gap: rem($gutter-m);
    }
    &__suggest-list,
    &__recent-list {
      @include reset-list-style;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: rem(8px);
      padding: 0 $common-side-padding-m;
      @include screen(web) {
        padding: 0;
      }
    }

    &__suggest-item,
    &__recent-item {
      border: rem($border1) solid $graye6;
      text-align: center;
      display: flex;
      align-items: center;
      background: $light-gray3;
      @include lgness-radius('all');
      &:hover {
        border-color: $gray3;
        color: $gray3;
      }
      a {
        padding: rem($padding10px) rem($padding16px);
        color: $black;
        word-break: break-word;
        text-align: left;
        @include screen(mobile) {
          line-height: rem(16px);
        }
        @include screen(web) {
          padding: rem($padding16px) rem($padding24px);
        }
      }
      a:hover {
        text-decoration: none;
      }
    }
    &__recent-item {
      position: relative;
      a {
        padding-right: rem(38px);
        @include screen(web) {
          padding-right: rem($padding50px);
        }
      }
    }
    &__rank {
      display: flex;
      @include screen(mobile) {
        flex-flow: column;
      }
    }
    &__folded {
      .c-accordion__button {
        &::after {
          transform: rotate(0deg);
        }
      }
    }
    &__folded + &__rank {
      #{$searchbar}__rank-item {
        display: none;
      }
      #{$searchbar}__rank-item--first {
        display: block;
      }
    }
    &__rank-list {
      @include reset-list-style;
      width: 100%;
    }
    &__rank-item {
      padding: rem($padding10px) $common-side-padding-m;
      &:first-child {
        padding-top: 0;
      }
      @include screen(web) {
        padding: rem($padding12px) 0;
        &:first-child {
          padding-top: 0;
        }
      }
      position: relative;
      a {
        display: flex;
        align-items: center;
      }
      a:hover {
        text-decoration: none;
        .cs-search-bar__rank-title {
          text-decoration: underline;
        }
      }
      span + span {
        margin-left: rem($margin8px);
      }
      &--first {
        @include screen(mobile) {
          .cs-search-bar {
            &__rank-icon {
              &--up {
                top: 25%;
              }
            }
          }
        }
      }
    }
    &__rank-num {
      display: inline-block;
      color: $heritage-red;
      // width: rem(20px);
      @include screen(web) {
        min-width: rem(21px);
      }
    }
    &__rank-title {
      @include ellipsis(1);
      display: inline-block;
      width: 100%;
    }
    &__rank-icon {
      position: absolute;
      top: calc(50%);
      right: 0;
      @include screen(web) {
        right: rem(16px);
      }
      &--keep {
        width: rem($width10px);
        height: rem($height2px);
        background-color: $grayb;
      }
      &--up {
        // top: calc(50% - rem(3px));
        top: 50%;
        border-top: rem(10px) solid transparent;
        border-right: rem(10px) solid $red;
        transform: rotate(225deg);
      }
      &--down {
        // top: calc(50% - rem(3px));
        top: calc(50% - rem(7px));
        border-top: rem(10px) solid transparent;
        border-right: rem(10px) solid $gray9;
        transform: rotate(45deg);
      }
    }
    &__search-link {
      @include reset-list-style;
      // margin-top: rem($margin24px);
      #{$searchbar}__title + & {
        margin-top: 0;
      }
    }
    &__search-item {
      position: relative;
      @include screen(mobile) {
        padding: rem($padding10px) $common-side-padding-m rem($padding10px);
        &:first-child {
          a {
            &::after {
              top: calc(50% - rem(15px));
            }
          }
        }
      }
      @include screen(web) {
        &:first-child {
          a {
            padding-top: 0;
          }
        }
        &:last-child {
          a {
            padding-bottom: 0;
          }
        }
      }
      a {
        cursor: pointer;
        @include ellipsis(1);
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        gap: rem(2px);
        @include screen(web) {
          padding: rem($padding8px) 0;
        }
        em {
          color: $black;
          font-weight: $font-bold;
          font-style: normal;
        }
      }
      a:hover {
        text-decoration: none;
        .cs-search-bar__search-title {
          text-decoration: underline;
        }
        .cs-search-bar__tag-item {
          text-decoration: none;
        }
      }
    }
    &__search-title {
      @include ellipsis(1);
      line-height: rem(16px);
    }
    &__record {
      padding: rem($padding16px) 0;
      border-bottom: rem($border1) solid $graye;
      margin: 0;
      @include screen(web) {
        margin: 0 rem($margin16px);
      }
    }
    &__record-item {
      display: flex;
      align-items: center;
      padding: rem($padding8px) rem($padding40px) rem($padding8px) 0;
      @include screen(mobile) {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          top: calc(50% - rem(6px));
          right: 0;
          width: rem($width7px);
          height: rem($height12px);
          background: url($icon-arrow-black-right-7-12) center / contain no-repeat;
        }
      }
      @include screen(web) {
        padding: rem($padding8px) 0;
      }
      a {
        cursor: pointer;
        @include ellipsis(1);
        em {
          color: $red;
          font-weight: $font-semibold;
          font-style: normal;
        }
      }
    }
    &__record-icon {
      display: block;
      width: rem($width24px);
      height: rem($height24px);
      margin-right: rem($margin8px);
      background: url($icon-clock-gray-24-24) center / contain no-repeat;
    }
    &__search-tag {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .cs-search-bar {
        &__search-title {
          line-height: rem(18px);
          @include screen(web) {
            line-height: rem(28px);
          }
        }
      }
    }
    &__tag-item {
      // color: $heritage-red;
      line-height: rem(14px);
      white-space: nowrap;
      @include screen(mobile) {
        margin-bottom: rem($margin2px);
      }
      @include screen(web) {
        line-height: rem(18px);
      }
      .font-m-bold-12i {
        font-size: rem(10px);
        line-height: 1;
      }
    }
    &__match {
      display: flex;
      align-items: center;
      padding: rem($padding20px);
      margin: rem($margin12px) $common-side-padding-m 0;
      @include lgness-radius('all');
      background-color: $white;
      @at-root {
        #{$component} .cs-search-bar__title + .cs-search-bar__match {
          margin-top: 0;
        }
      }
      @include screen(web) {
        margin: rem($margin12px) 0 0;
        padding: rem($padding28px) rem($padding20px) rem($padding28px) rem($padding28px);
      }
      .image {
        flex-shrink: 0;
        width: 100%;
        max-width: rem($width100px);
        max-height: rem($height100px);
        @include screen(web) {
          max-width: rem($width180px);
          max-height: rem($height180px);
        }
      }
    }
    &__match-product {
      overflow: hidden;
      width: 100%;
      display: grid;
      grid-template-columns: rem(100px) 1fr;
      // 2023-05-15 : ADD- add button 'Buy Now' layout change position->grid */
      grid-template-rows: auto 1fr;
      gap: rem(12px) rem(12px);
      .image {
        grid-column: 1;
        grid-row: 1;
      }
      .c-text-contents {
        grid-column: 2;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: start;
        @include screen(web) {
          justify-content: end;
        }
      }
      .button {
        grid-column: 1 / span 2;
        grid-row: 2;
      }
      @include screen(mobile) {
        .cmp-button {
          width: 100%;
        }
        // 2023-05-15 : ADD- add button 'Buy Now' layout change position->grid */
        .cs-search-bar__buttonbox {
          .cmp-button:nth-child(2),
          .cmp-button:nth-child(4) {
            justify-content: end;
          }
        }
      }
      @include screen(web) {
        flex: 1;
        gap: rem(12px) rem(32px);
        grid-template-columns: rem(180px) 1fr auto;
        grid-template-rows: auto auto;
        position: relative;
        // 2023-05-15 : ADD- add button 'Buy Now' layout change position->grid */
        // padding-right: rem(180px);
        .image {
          grid-column: 1;
          grid-row: 1 / 3;
        }
        .c-text-contents {
          grid-column: 2;
          grid-row: 1;
          &:hover {
            text-decoration: none;
          }
        }
        .button {
          grid-column: 3;
          grid-row: 1;
          align-items: center;
        }
      }
    }
    &__match-txt {
      .c-text-contents {
        &__eyebrow {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 0;
          color: $mid-gray2;
          line-height: 1;
          @include screen(mobile) {
            flex-direction: column;
            gap: rem(8px 0);
          }
          @include screen(web) {
            margin-bottom: rem($margin8px);
          }
          span {
            line-height: rem(14px);
            @include screen(web) {
              line-height: rem(18px);
            }
          }
        }
        &__title {
          @include ellipsis(2);
          line-height: 1;
          span {
            display: inline-block;
            @include screen(mobile) {
              line-height: rem(18px);
            }
          }
          em {
            color: $black;
            font-weight: $font-bold;
            font-style: normal;
            display: inline-block;
            @include screen(mobile) {
              line-height: rem(18px);
            }
          }
        }
        &__tag-item {
          color: $black;
          @include screen(web) {
            margin-right: rem($margin6px);
            padding-right: rem($padding6px);
            border-right: rem($border1) solid $graye6;
          }
        }
      }
      .c-cta {
        // 2023-05-15 : ADD- add button 'Buy Now' layout change position->grid */
        // column-gap: rem(16px);
        flex-wrap: nowrap;

        @include screen(web) {
          column-gap: rem(20px);
          // 2023-05-15 : ADD- add button 'Buy Now' layout change position->grid */
          flex-direction: column;
          align-items: stretch;
          grid-column: 3;
          grid-row: 1/3;
          justify-content: center;
          .cmp-button {
            padding: rem($padding14px $padding40px);
            &__text {
              white-space: nowrap;
            }
          }
        }
      }
      .c-button--text-icon {
        @include screen(web) {
          font-size: rem(12px);
        }
        @include screen(mobile) {
          font-size: rem(12px);
        }
      }
    }
    &__buttonbox {
      width: 100%;
      grid-column: 1/3;
      grid-row: 3;
      display: flex;
      flex-wrap: wrap;
      row-gap: rem(16px);
      @include screen(web) {
        // 2023-05-15 : ADD- add button 'Buy Now' layout change position->grid */
        min-height: rem($height24px);
        grid-column: 2/3;
        grid-row: 2;
        column-gap: rem(20px);
        row-gap: 0;
      }
      @include screen(mobile) {
        margin-top: rem($margin8px);
      }
      .c-icon-button {
        color: $black;
        column-gap: 0;
        flex-basis: 50%;
        font-size: rem(12px);
        font-weight: $font-semibold;
        height: auto;
        @include screen(mobile) {
          &:first-child:last-child {
            margin: 0 auto;
            flex-basis: content;
          }
        }
        @include screen(web) {
          flex-basis: auto;
          font-size: rem(14px);
          line-height: rem(14px);
        }
      }
      .c-icon-button:before {
        flex-shrink: 0;
        margin-right: rem($margin4px);
        width: rem($width18px);
        height: rem($height18px);
        @include screen(web) {
          margin-right: rem($margin2px);
          width: rem($width24px);
          height: rem($width24px);
        }
      }
      .c-icon-button[class*='-manual']:before {
        background-image: url($icon-search-manual-12-12);
        @include screen(web) {
          background-image: url($icon-search-manual-18-18);
        }
      }
      .c-icon-button[class*='-request']:before {
        background-image: url($icon-search-registration-12-12);
        @include screen(web) {
          background-image: url($icon-search-registration-18-18);
        }
      }
      .c-icon-button[class*='-product']:before {
        background-image: url($icon-search-request-12-12);
        @include screen(web) {
          background-image: url($icon-search-request-18-18);
        }
      }
      .c-icon-button[class*='-support']:before {
        background-image: url($icon-search-support-12-12);
        @include screen(web) {
          background-image: url($icon-search-support-24-24);
        }
      }
      .c-icon-button[class*='-product-support']:before {
        background-image: url($icon-search-product-support-12-12);
      }
      .c-icon-button:after {
        content: '';
        display: inline-block;
        background-position: 100% center;
        background-size: 100%;
        background-repeat: no-repeat;
        width: rem(4px);
        height: rem($height8px);
        background-image: url($icon-arrow-black-right-5-8);
        margin-left: rem($margin2px);
        @include screen(web) {
          width: rem($width5px);
          height: rem($height10px);
          margin-left: rem($margin4px);
        }
        transform: rotate(0) #{'/*!rtl:rotate(#{$degree180})*/'}; /*! 230601 RTL */
      }
    }
    &__search-none {
      display: flex;
      flex-flow: column;
      justify-content: center;
      color: $gray3;
      padding-top: rem($padding24px);
      border-bottom: rem($border1) solid $mid-gray1;
      @include screen(mobile) {
        margin-left: rem($margin16px);
        margin-right: rem($margin16px);
        border-bottom: none;
      }
      @include screen(web) {
        padding: rem($padding72px) 0;
      }
    }
    &__none-link {
      margin-top: rem($margin8px);
      color: $gray3;
      a {
        color: $gray3;
      }
    }
    &__store {
      @include reset-list-style;
      margin-top: rem($margin12px);
    }
    &__store-item {
      display: flex;
      justify-content: space-between;
      border-bottom: rem($border1) solid $graye;
      padding-bottom: rem($padding24px);
      margin: 0 0 rem($margin24px) !important;
      align-items: flex-start;
      @include screen(mobile) {
        flex-flow: column;
      }
      @include screen(web) {
        align-items: center;
        padding-bottom: rem($padding20px);
        margin: 0 rem($margin10px) rem($margin20px) !important;
      }
      .c-button.medium {
        @include screen(mobile) {
          min-width: unset;
          height: rem($height30px);
          padding: 0 rem($padding12px);
          margin-top: rem($margin16px);
          font-size: rem(12px);
        }
      }
      .c-text-contents {
        &__title,
        &__bodycopy {
          margin-bottom: rem($margin8px);
        }
      }
    }
    &__store-call {
      color: $gray6;
      margin-bottom: rem($margin16px);
      @include screen(mobile) {
        display: none;
      }
    }
    &__store-callbtn {
      margin-bottom: rem($margin8px);
      @include screen(web) {
        display: none !important;
      }
    }
    &__store-distance {
      color: $gray6;
      display: flex;
      align-items: center;
    }
    // CS0001
    @mixin input() {
      width: 100%;
      border: rem($border1) solid $mid-gray4;
      border-radius: rem($radius8);
      &:focus {
        border-color: $gray3;
        outline: none;
      }
    }
    .searchbar {
      position: relative;
      padding: rem($padding8px) rem(69px) rem($padding8px) rem($padding12px);
      @include screen(web) {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: 0 rem($padding10px);
        height: rem($height80px);
        border-bottom: rem($border1) solid $mid-gray1;
      }
      @include screen(custom, rem(1279px), max) {
        display: flex;
        width: 100%;
        height: 100%;
        .searchBar__root {
          max-width: none;
        }
      }
      @include screen(custom, (rem(769px) rem(1279px))) {
        padding: rem($padding56px) rem($padding12px) rem($padding8px);
      }
      @include screen(mobile) {
        padding: rem($padding48px) rem($padding12px) rem($padding8px);
      }
      .c-gnb__logo {
        display: none;
        transition: left 0.3s;

        @include screen(custom, rem(1750px), max) {
          left: rem(-100px) !important;
        }
        @include screen(web) {
          display: block;
          position: absolute;
          top: calc(50% - rem(22px));
          left: calc(50% - rem(868px));
          width: rem(73px);
        }
      }
      input {
        @include input;
        padding: rem($padding15px $padding40px $padding15px $padding16px);
        height: rem($height48px);
        border: rem($border1) solid $mid-gray4;
        border-radius: rem(100px);
        background: $light-gray3;
        transition:
          padding 0.3s,
          border-color 0.3s;
        caret-color: $active-red;
        @include screen(web) {
          height: rem($height64px);
          margin: 0;
          padding: rem($padding18px 65px $padding18px $padding60px);
          border: none;
        }
        &:focus {
          border-color: $gray3;
        }
        &:focus-visible {
          outline: none;
          // border-color: $gray3;
        }
        &:not(:placeholder-shown) {
          + .c-icon-button--delete {
            opacity: 1;
            display: block !important;
            outline-width: rem(2px);
            outline-offset: rem(2px);
          }
        }
        &::placeholder {
          font-size: rem(14px);
          @include screen(web) {
            font-size: rem(24px);
          }
        }
      }
      input:disabled {
        background-color: $ivory6;
        border: rem($border1) solid $ivory6;
      }
      .fieldIcons {
        &__root {
          display: block;
          position: relative;
        }
        &__before {
          content: '';
          z-index: $stacking-floor;
          position: absolute;
          top: calc(50% - #{rem(10px)});
          left: rem($padding16px);
          width: rem($width24px);
          height: rem($height24px);
          background-image: url($icon-search);
          background-repeat: no-repeat;
          background-size: contain;
          transition:
            left 0.3s,
            opacity 0.1s;
          border: none;
          background-color: transparent;
          @include screen(mobile) {
            display: none;
          }
          @include screen(web) {
            left: rem($padding26px);
            opacity: 1;
          }
        }
      }
      &__cancel {
        font-size: rem(14px);
        margin-left: rem($margin8px);
        @include screen(web) {
          display: none;
        }
      }
      &__delete {
        position: absolute;
        right: rem(14px);
        top: calc(50% - rem(12px));
        width: rem(24px);
        height: rem(24px);
        border-radius: 50%;
        background: $mid-gray2 url($icon-close-white-24-24) center / rem(10px) rem(10px) no-repeat;
        opacity: 0;
        transition: opacity 0.3s;
        display: none;
        @include screen(web) {
          right: rem(24px);
        }
        &::after {
          content: none;
        }
        &::before {
          width: rem($width24px);
          height: rem($height24px);
        }
        span {
          overflow: hidden;
          clip: rect(0, 0, 0, 0);
          position: absolute;
          width: rem(1px);
          height: rem(1px);
          margin: rem(-1px);
          border: 0;
          padding: 0;
        }
      }
    }
    //  --CS0001
  }
}

// popup customize
.pop-cs-search.c-pop-msg {
  display: block;
  padding: 0;
  opacity: 1;
  pointer-events: initial;
  &:not(.active) {
    display: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s cubic-bezier(1, 0.82, 1, 0.82);
    .c-pop-msg__container {
      max-height: rem(90px);
      pointer-events: none;
    }
    .c-pop-msg__dimmed {
      opacity: 0;
      pointer-events: none;
    }
    .js-pop-close {
      display: none;
    }
  }
  .c-pop-msg__close {
    margin-top: rem($margin16px);
    margin-right: rem($margin16px);
    .cmp-button {
      &:before {
        width: rem(16px);
        height: rem(16px);
        background: url($icon-close-black-16-16);
      }
      @include screen(tablet) {
        &:before {
          width: rem(24px);
          height: rem(24px);
          background: url($icon-close-black-24-24);
        }
      }
    }
    @include screen(desktop) {
      margin-top: 0;
      margin-right: 0;
      top: rem(28px);
      .c-pop-msg__close-button {
        width: auto;
        font-weight: $font-regular;
        font-size: rem(20px);
        line-height: rem(24px);
        height: rem($height24px);
        &:before {
          display: none;
        }
        .sr-only {
          overflow: visible;
          clip: unset;
          position: static;
          width: auto;
          height: auto;
          margin: 0;
          color: $black;
          background-color: transparent;
        }
      }
    }
    @include screen(custom, rem(1455px), min) {
      left: calc(50% + rem(284px));
    }
    @include screen(custom, (rem(1280px) rem(1455px))) {
      left: rem(1004px);
    }
    @include screen(custom, rem(1279px), max) {
      .cmp-button {
        width: 100%;
        height: 100%;
      }
    }
  }
  .c-pop-msg__container {
    justify-content: flex-start;
    margin: 0;
    width: 100%;
    transition: max-height 0.3s ease-in;
    @include screen(mobile) {
      border-radius: 0;
      padding: 0;
      .cs-search-bar__content {
        padding-top: 0;
        padding-right: 0;
      }
    }
    @include screen(web) {
      // max-height: rem(680px);
      border-radius: 0 0 rem($radius8) rem($radius8);
    }
  }
  .c-pop-msg__dimmed {
    -webkit-backdrop-filter: blur(rem(4px));
    backdrop-filter: blur(rem(4px));
    opacity: 1;
    transition: opacity 0.1s;
  }
}
