table(cellpadding="0" cellspacing="0" width="720" border="0" bgcolor="#ffffff" align="center" style="border:1px solid #eeeeee;border-top:0;margin:0 auto;")
    thead(bgcolor="#F6F6F6")
        tr
            th(width="40" height="105" style="border-top:1px solid #eeeeee; border-bottom: 4px solid #DA0F47") &nbsp;
            th(width="640" align="left" style="border-top:1px solid #eeeeee; border-bottom: 4px solid #DA0F47")
                table(cellpadding="0" cellspacing="0" border="0" width="640" style="margin: 0 auto;") 
                    tbody
                        tr
                            td(width="40" height="40") &nbsp;
                        tr
                            td(align="left")
                                a(href="https://www.lg.com" target="_blank" border="0" style="display:inline-block;")
                                    img(src="/assets/image/logo-lg-100-44_gray.svg" alt="LG Life's Good" width="74" height="36" border="0")
                            td(align="right")
                                a(href="#" target="_blank" style="font-family:Arial;font-size:16px;margin:0;padding:0;color:#DA0F47;text-decoration:none;") My Account
                                span(style="font-family:Arial;font-size:14px;margin:0;padding:0;color:#E6E6E6;vertical-align:2px;") &nbsp;&nbsp;|&nbsp;&nbsp;
                                a(href="#" target="_blank" style="font-family:Arial;font-size:16px;margin:0;padding:0;color:#DA0F47;text-decoration:none;") FAQs
                                span(style="font-family:Arial;font-size:14px;margin:0;padding:0;color:#E6E6E6;vertical-align:2px;") &nbsp;&nbsp;|&nbsp;&nbsp;
                                a(href="#" target="_blank" style="font-family:Arial;font-size:16px;margin:0;padding:0;color:#DA0F47;text-decoration:none;") Shop
                        tr
                            td(width="40" height="40") &nbsp;
                        tr
                            td(width="640" colspan="3" style="padding:0;margin:0;color:#000;font-size:32px;line-height:36px;font-family:Arial;font-weight:600;") Your Order Confirmation
                        tr
                            td(width="40" height="30") &nbsp;
            th(width="40" height="105" style="border-top:1px solid #eeeeee; border-bottom: 4px solid #DA0F47") &nbsp;
    tbody
        tr
            td(rowspan="20" width="40" height="40") &nbsp;
            td(width="640" height="40") &nbsp;
            td(rowspan="20" width="40" height="40") &nbsp;
        //- [S] contents 
        tr 
            //- type
            td(width="640" height="26")
                table(cellpadding="0" cellspacing="0" border="0" width="640") 
                    tbody 
                        tr
                            td(width="640" colspan="3" style="padding:0;margin:0;color:#000;font-size:24px;line-height:28px;font-family:Arial;font-weight:600;") Hi Guest,
                        tr 
                            td(width="640" height="18" colspan="3" border="0" align="center" style="padding:0;margin:0;")
                        tr
                            td(width="640" colspan="3" style="padding:0;margin:0;color:#333;font-size:20px;line-height:26px;") Thank you for placing your order with the LG Online Shop.
                        tr 
                            td(width="640" colspan="3" height="18" border="0" align="center" style="padding:0;margin:0;")
                        tr
                            td(width="640" colspan="3" style="padding:0;margin:0;color:#333;font-size:20px;line-height:26px;")
                                p Your order is being processed and once your package ships we  will send an email with a link to track your order. You can check the status of your order by logging into 
                                    a(href="#" style="color: #DA0F47;") My Account.
                        tr 
                            td(width="640" colspan="3" height="18" border="0" align="center" style="padding:0;margin:0;")
                        tr
                            td(width="640" colspan="3" style="padding:0;margin:0;color:#333;font-size:20px;line-height:26px;")
                                p If you have questions about your order, you can 
                                    a(href="#" style="color: #DA0F47;") contact us here
                                    | , or for advice and answers on everything else, visit 
                                    a(href="#" style="color: #DA0F47;") our FAQ.
                        //- VIEW DETAILS Button
                        tr 
                            td(width="640" colspan="3" height="40" border="0" align="center" style="padding:0;margin:0;")
                        tr
                            td(width="640" style="padding:0;margin:0;color:#000;font-size:24px;line-height:28px;font-family:Arial;font-weight:600;") Hello Chung thuy,
                        tr 
                            td(width="640" height="18" border="0" align="center" style="padding:0;margin:0;")
                        tr
                            td(width="640" style="padding:0;margin:0;color:#333;font-size:20px;line-height:26px;") Your package could not be delivered and is being returned to us. We'll initiate the full refund once we get the package.
                        tr 
                            td(width="640" height="32" border="0" align="center" style="padding:0;margin:0;")
                        tr 
                            td(width="640" height="50" border="0" align="center" style="padding:0;margin:0;")
                                a(width="197" height="50" href="#" target="_blank" align="center" bgColor="#DA0F47" style="padding:17px 0px;margin:0;display:inline-block;min-width:248px;color:#fff;font-size:16px;font-family:Arial;line-height:16px;font-weight:bold;text-align:center;text-decoration:none;border-radius:6px;background-color:#DA0F47;") VIEW DETAILS
                        tr 
                            td(width="640" height="40" border="0" align="center" style="padding:0;margin:0;")
        tr
            //- type
            td(width="640" height="26")
                table(cellpadding="0" cellspacing="0" width="640" border="0" bgcolor="#ffffff" align="center" style="margin:0 auto;")
                    tbody
                        tr
                            td(width="640" height="26") &nbsp;
                        tr
                            td(width="640" height="40")
                                p(align="left" style="font-family:Arial;font-size:28px;font-weight:600;margin:0;padding:0;color:#000;") Your order #113000017717
                        tr
                            td(width="640")
                                p(align="left" style="font-family:Arial;font-size:20px;margin:0;padding:0;color:#666666;line-height:26px;") Placed on 14 Dec 2022, 02:56:12
                        tr
                            td(width="640" height="40") &nbsp;
                        tr
                            td(width="640")
                                table(width="640" border="0" align="center")
                                    tbody
                                        tr(style="vertical-align: baseline;")
                                            td(width="280" height="30")
                                                p(align="left" style="font-family:Arial;font-size:20px;font-weight:600;margin:0;padding:0;color:#000;word-break: break-all;") Biling Info
                                            td(width="280" height="30")
                                                p(align="left" style="font-family:Arial;font-size:20px;font-weight:600;margin:0;padding:0;color:#000;word-break: break-all;") Shipping Info
                                        tr(style="vertical-align: baseline;")
                                            td(align="left")
                                                p(style="font-family:Arial;font-size:16px;margin:0;padding:0;color:#333333;word-break: break-all;line-height:22px;") test buyer
                                            td(align="left")
                                                p(style="font-family:Arial;font-size:16px;margin:0;padding:0;color:#333333;word-break: break-all;line-height:22px;") Calle Juarez 1 Col. Cuauhtemoc 
                                        tr(style="vertical-align: baseline;")
                                            td(align="left")
                                                p(style="font-family:Arial;font-size:16px;margin:0;margin-top:8px;padding:0;color:#333333;word-break: break-all;line-height:22px;") Calle Juarez 1 Col. Cuauhtemoc 
                                            td(align="left")
                                                p(style="font-family:Arial;font-size:16px;margin:0;margin-top:8px;padding:0;color:#333333;word-break: break-all;line-height:22px;") 2 Birdham Place, Birdham Road
                                        tr(style="vertical-align: baseline;")
                                            td(align="left")
                                                p(style="font-family:Arial;font-size:16px;margin:0;margin-top:8px;padding:0;color:#333333;word-break: break-all;line-height:22px;") Miguel Hidalgo,11580
                                            td(align="left")
                                                p(style="font-family:Arial;font-size:16px;margin:0;margin-top:8px;padding:0;color:#333333;word-break: break-all;line-height:22px;") Brighton, BN2 4RZ
                                        tr(style="vertical-align: baseline;")
                                            td(align="left")
                                                p(style="font-family:Arial;font-size:16px;margin:0;margin-top:8px;padding:0;color:#333333;word-break: break-all;line-height:22px;") Mexico
                                            td(align="left")
                                                p(style="font-family:Arial;font-size:16px;margin:0;margin-top:8px;padding:0;color:#333333;word-break: break-all;line-height:22px;") United Kingdom
                                        tr(style="vertical-align: baseline;")
                                            td(align="left")
                                                p(style="font-family:Arial;font-size:16px;margin:0;margin-top:8px;padding:0;color:#333333;word-break: break-all;line-height:22px;")
                                                img(src="/assets/icon/icon-email-form-phone-12-12.svg" alt="phone" width="12" height="12" style="margin-right:8px;margin-bottom: -2px;")
                                                | 9396068108
                                            td(align="left")
                                                p(style="font-family:Arial;font-size:16px;margin:0;margin-top:8px;padding:0;color:#333333;word-break: break-all;line-height:22px;")
                                                img(src="/assets/icon/icon-email-form-phone-12-12.svg" alt="phone" width="12" height="12" style="margin-right:8px;margin-bottom: -2px;")
                                                | 0897456231
                        tr 
                            td(width="640")
                                table(width="640" border="0" align="center" style="margin-top:28px;")
                                    tbody
                                        tr(style="vertical-align: baseline;")
                                            td(width="280" height="30")
                                                p(align="left" style="font-family:Arial;font-size:20px;font-weight:600;margin:0;padding:0;color:#000;word-break: break-all;") Payment Method
                                            td(width="280" height="30")
                                                p(align="left" style="font-family:Arial;font-size:20px;font-weight:600;margin:0;padding:0;color:#000;word-break: break-all;") Shipping Method
                                        tr(style="vertical-align: baseline;")
                                            td(align="left")
                                                p(style="font-family:Arial;font-size:16px;margin:0;padding:0;color:#333333;line-height:22px;word-break: break-all;") Paypal
                                            td(align="left")
                                                p(style="font-family:Arial;font-size:16px;margin:0;padding:0;color:#333333;line-height:22px;word-break: break-all;") (Panther) Installation (Expected delivery date: 01/31/2028)
        tr
            //- type
            td(width="640")
                table(cellpadding="0" cellspacing="0" width="640" border="0" align="center" bgcolor="#F6F6F6" style="padding:0;margin:0 auto;border:0;border-spacing:0;border-radius:8px;")
                    tbody 
                        tr
                            td(width="640" height="20" colspan="3" style="padding:0;margin:0 auto;")
                        tr
                            td(width="20" height="64" style="padding:0;margin:0;")
                            td(width="600" height="64" style="padding:0;margin:0;")
                                table(cellpadding="0" cellspacing="0" width="600" border="0" align="center" bgcolor="#F6F6F6" style="padding:0;margin:0 auto;")
                                    tbody 
                                        tr 
                                            td(width="64" height="64" align="left" style="padding:0;margin:0 auto;")
                                                img(src="https://via.placeholder.com/64x64/999999/333333/" alt="" width="64" height="64" border="0")
                                            td(width="536" height="64" align="right" style="padding:0;margin:0 auto;")
                            td(width="20" height="64" style="padding:0;margin:0;border:0;")
                        tr
                            td(width="640" height="16" colspan="3" style="padding:0;margin:0 auto;")
                        tr
                            td(width="20" style="padding:0;margin:0;")
                            td(width="600" style="padding:0;margin:0;") 
                                table(cellpadding="0" cellspacing="0" width="600" border="0" align="center" bgcolor="#F6F6F6" style="padding:0;margin:0 auto;")
                                    tbody   
                                        tr 
                                            td(width="600" colspan="2" style="padding:0;margin:0;color:#000;font-size:20px;font-family:Arial;font-weight:600;line-height:24px;") How did we do?
                                        tr 
                                            td(width="600" colspan="2" height="8" style="padding:0;margin:0;")
                                        tr
                                            td(width="600" colspan="2" style="padding:0;margin:0;color:#333;font-size:16px;font-family:Arial;font-weight:400;line-height:22px;") Once your Products delivered, don't forget to resister them on LG.com to ensure you receive the latest updates and information about your device. You are also required to resister your product if you'd like to take advantage of our extended warranty options.
                                        
                                        tr
                                            td(width="600" colspan="2" height="20" style="padding:0;margin:0;")
                                        tr 
                                            td(width="197" height="50" style="padding:0;margin:0;") 
                                                a(width="197" height="50" href="#" target="_blank" align="center" style="padding:16px 31px;margin:0;display:inline-block;min-width:197px;color:#333;font-size:16px;font-family:Arial;line-height:16px;font-weight:bold;text-align:center;text-decoration:none;border:1px solid #333;border-radius:6px;box-sizing:border-box;") Leave feedback
                                            td(width="403" height="50" style="padding:0;margin:0;")
                            td(width="20" style="padding:0;margin:0;")
                        tr
                            td(width="640" height="20" colspan="3" style="padding:0;margin:0 auto;")
        tr
            td(width="640" height="18")
        tr 
            td(width="640" height="18")
        tr
            td(width="640")
                table(cellpadding="0" cellspacing="0" width="640" border="1px solid #E6E6E6" align="center" style="padding:0;margin:0 auto;border:1px solid #E6E6E6;border-radius:8px;")
                    tbody 
                        tr 
                            td(width="640" style="padding:0;margin:0;border:0;border-spacing:0;")
                                table(cellpadding="0" cellspacing="0" width="640" border="0" align="center" style="padding:0;margin:0 auto;")
                                    tr 
                                        td(width="640" height="20" colspan="3" style="padding:0;margin:0 auto;")
                                    tr 
                                        td(width="20" style="padding:0;margin:0;")
                                        td(width="600" style="padding:0;margin:0;") 
                                            table(cellpadding="0" cellspacing="0" width="600" border="0" align="center" style="padding:0;margin:0 auto;") 
                                                tbody
                                                    tr 
                                                        td(width="20" style="padding:0;margin:0;") 
                                                            img(src="/assets/icon/icon-track-order-32-32.svg", alt="Delivery" width="20" height="20")
                                                        td(width="4" style="padding:0;margin:0;")
                                                        td(width="576" style="padding:0;margin:0;color:#000;font-size:18px;line-height:22px;font-family:Arial;font-weight:600;") Delivery Only
                                        td(width="20" style="padding:0;margin:0;")
                                    tr 
                                        td(width="20" height="4" style="padding:0;margin:0;") 
                                        td(width="600" height="4" style="padding:0;margin:0;") 
                                        td(width="20" height="4" style="padding:0;margin:0;")
                                    tr 
                                        td(width="20" style="padding:0;margin:0;")
                                        td(width="600" style="padding:0;margin:0;color:#DA0F47;font-size:18px;line-height:22px;font-family:Arial;font-weight:400;") (Panther) Delivery only (Expected delivery date: 01/20/2023)
                                        td(width="20" style="padding:0;margin:0;")
                                    tr 
                                        td(width="20" height="12" style="padding:0;margin:0;") 
                                        td(width="600" height="12" style="padding:0;margin:0;") 
                                        td(width="20" height="12" style="padding:0;margin:0;")
                                    tr
                                        td(width="20" style="padding:0;margin:0;")
                                        td(width="600" style="padding:0;margin:0;")
                                            table(cellpadding="0" cellspacing="0" width="600" border="0" align="center" style="padding:0;margin:0 auto;") 
                                                tbody
                                                    tr 
                                                        td(width="80" style="padding:0;margin:0;vertical-align:center;")
                                                            img(src="https://www.lg.com/uk/images/tvs/md07546594/gallery/GT1.jpg", alt="Delivery" width="80" height="80")
                                                        td(width="520" style="padding:0;margin:0;")
                                                            table(cellpadding="0" cellspacing="0" width="520" border="0" align="center" style="padding:0;margin:0 auto;") 
                                                                tbody
                                                                    tr 
                                                                        td(width="14" style="padding:0;margin:0;")
                                                                        td(width="506" style="padding:0;margin:0;color:#666;font-size:16px;line-height:22px;font-family:Arial;font-weight:400;") SKU : F6V909WTSA.ABWQPUK
                                                                    tr 
                                                                        td(width="520" height="4" colspan="2" style="padding:0;margin:0;")
                                                                    tr 
                                                                        td(width="14" style="padding:0;margin:0;")
                                                                        td(width="506" style="padding:0;margin:0;color:#000;font-size:16px;line-height:22px;font-family:Arial;font-weight:600") LG Nano90 65 inch 4K NanoCell TV
                                                                    tr 
                                                                        td(width="520" height="4" colspan="2" style="padding:0;margin:0;")
                                                                    tr 
                                                                        td(width="14" style="padding:0;margin:0;")
                                                                        td(width="506" style="padding:0;margin:0;")
                                                                            table 
                                                                                tbody
                                                                                    tr 
                                                                                        td(style="padding:0;margin:0;color:#000;font-size:16px;line-height:22px;font-family:Arial;font-weight:400") Qty : 1
                                                                                        td(width="10" style="padding:0;margin:0;")
                                                                                        td(style="padding:0;color:#000;font-size:16px;line-height:22px;font-family:Arial;font-weight:600") &pound;2,099.98
                                        td(width="20" style="padding:0;margin:0;")
                                    tr 
                                        td(width="20" height="20" style="padding:0;margin:0;") 
                                        td(width="600" height="20" style="padding:0;margin:0;") 
                                        td(width="20" height="20" style="padding:0;margin:0;") 
                                    tr 
                                        td(width="20" style="padding:0;margin:0;")
                                        td(width="600" style="padding:0;margin:0;") 
                                            table(cellpadding="0" cellspacing="0" width="600" border="0" align="center" style="padding:0;margin:0 auto;") 
                                                tbody
                                                    tr 
                                                        td(width="20" style="padding:0;margin:0;") 
                                                            img(src="/assets/icon/icon-track-order-32-32.svg", alt="Delivery" width="20" height="20")
                                                        td(width="4" style="padding:0;margin:0;")
                                                        td(width="576" style="padding:0;margin:0;color:#000;font-size:18px;line-height:22px;font-family:Arial;font-weight:600;") Installation
                                        td(width="20" style="padding:0;margin:0;")
                                    tr 
                                        td(width="20" height="4" style="padding:0;margin:0;") 
                                        td(width="600" height="4" style="padding:0;margin:0;") 
                                        td(width="20" height="4" style="padding:0;margin:0;")
                                    tr 
                                        td(width="20" style="padding:0;margin:0;")
                                        td(width="600" style="padding:0;margin:0;color:#DA0F47;font-size:18px;line-height:22px;font-family:Arial;font-weight:400;") (Panther) Delivery only (Expected delivery date: 01/20/2023)
                                        td(width="20" style="padding:0;margin:0;")
                                    tr 
                                        td(width="20" height="12" style="padding:0;margin:0;") 
                                        td(width="600" height="12" style="padding:0;margin:0;") 
                                        td(width="20" height="12" style="padding:0;margin:0;")
                                    tr
                                        td(width="20" style="padding:0;margin:0;")
                                        td(width="600" style="padding:0;margin:0;")
                                            table(cellpadding="0" cellspacing="0" width="520" border="0" align="center" style="padding:0;margin:0 auto;") 
                                                tbody
                                                    tr 
                                                        // td(width="600" style="padding:0;margin:0;")
                                                        td(width="80" style="padding:0;margin:0;vertical-align:center;")
                                                            img(src="https://www.lg.com/uk/images/tvs/md07546594/gallery/GT1.jpg", alt="Delivery" width="80" height="80")
                                                        td(width="520" height="12" colspan="2" style="padding:0;margin:0;")
                                                            table(cellpadding="0" cellspacing="0" width="520" border="0" align="center" style="padding:0;margin:0 auto;") 
                                                                tbody
                                                                    tr 
                                                                        td(width="14" style="padding:0;margin:0;")
                                                                        td(width="506" style="padding:0;margin:0;color:#666;font-size:16px;line-height:22px;font-family:Arial;font-weight:400;") SKU : F6V909WTSA.ABWQPUK
                                                                    tr 
                                                                        td(width="520" height="4" colspan="2" style="padding:0;margin:0;")
                                                                    tr 
                                                                        td(width="14" style="padding:0;margin:0;")
                                                                        td(width="506" style="padding:0;margin:0;color:#000;font-size:16px;line-height:22px;font-family:Arial;font-weight:600") 
                                                                            LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ
                                                                            sup &reg; (64.5'' Diag)
                                                                    tr 
                                                                        td(width="520" height="4" colspan="2" style="padding:0;margin:0;")
                                                                    tr 
                                                                        td(width="14" style="padding:0;margin:0;")
                                                                        td(width="506" style="padding:0;margin:0;")
                                                                            table 
                                                                                tbody
                                                                                    tr 
                                                                                        td(style="padding:0;margin:0;color:#000;font-size:16px;line-height:22px;font-family:Arial;font-weight:400") Qty : 1
                                                                                        td(width="10" style="padding:0;margin:0;")
                                                                                        td(style="padding:0;color:#000;font-size:16px;line-height:22px;font-family:Arial;font-weight:600") &pound;2,099.98
                                        td(width="20" style="padding:0;margin:0;")
                                    tr 
                                        td(width="20" height="14" style="padding:0;margin:0;") 
                                        td(width="600" height="14" style="padding:0;margin:0;") 
                                        td(width="20" height="14" style="padding:0;margin:0;") 
                        tr 
                            td(width="640" border="0" style="padding:0;margin:0;border-top:1px solid #E6E6E6;border-left:0;border-right:0;border-bottom:0;")
                                table(cellpadding="0" cellspacing="0" width="600" border="0" align="center" style="padding:0;margin:0 auto;")
                                    tbody
                                        tr 
                                            td(width="20" height="14" style="padding:0;margin:0;") 
                                            td(width="600" height="14" style="padding:0;margin:0;") 
                                            td(width="20" height="14" style="padding:0;margin:0;") 
                                        tr 
                                        td(width="20" style="padding:0;margin:0;") 
                                        td(width="600" style="padding:0;margin:0;") 
                                            table(cellpadding="0" cellspacing="0" width="600" border="0" align="center" style="padding:0;margin:0 auto;")
                                                tr 
                                                    td(width="300" align="left" style="padding:0;margin:0;color:#000;font-size:20px;line-height:32px;font-family:Arial;font-weight:600;text-align:left;") Subtotal (Tax included) 
                                                    td(width="300" align="right" style="padding:0;margin:0;color:#000;font-size:20px;line-height:32px;font-family:Arial;font-weight:600;text-align:right;") &pound;2,099.98
                                                tr 
                                                    td(width="300" align="left" style="padding:0;margin:0;color:#DA0F47;font-size:20px;line-height:32px;font-family:Arial;font-weight:600;text-align:left;") Discount
                                                    td(width="300" align="right" style="padding:0;margin:0;color:#DA0F47;font-size:20px;line-height:32px;font-family:Arial;font-weight:600;text-align:right;") - &pound;209.99
                                                tr 
                                                    td(width="300" align="left" style="padding:0;margin:0;color:#000;font-size:20px;line-height:32px;font-family:Arial;font-weight:600;text-align:left;") Tax 
                                                    td(width="300" align="right" style="padding:0;margin:0;color:#000;font-size:20px;line-height:32px;font-family:Arial;font-weight:600;text-align:right;") &pound;209.99
                                                tr 
                                                    td(width="300" align="left" style="padding:0;margin:0;color:#000;font-size:20px;line-height:32px;font-family:Arial;font-weight:600;text-align:left;") Delivery + installation 
                                                    td(width="300" align="right" style="padding:0;margin:0;color:#000;font-size:20px;line-height:32px;font-family:Arial;font-weight:600;text-align:right;") &pound;30.00
                                                tr 
                                                    td(width="300" align="left" style="padding:0;margin:0;color:#000;font-size:20px;line-height:32px;font-family:Arial;font-weight:600;text-align:left;") Service charge 
                                                    td(width="300" align="right" style="padding:0;margin:0;color:#000;font-size:20px;line-height:32px;font-family:Arial;font-weight:600;text-align:right;") &pound;18.00
                                                tr 
                                                    td(width="600" height="14" style="padding:0;margin:0;" colspan="2")
                                                tr 
                                                    td(width="300" align="left" style="padding:0;margin:0;color:#000;font-size:24px;line-height:22px;font-family:Arial;font-weight:600;text-align:left;") Order total
                                                    td(width="300" align="right" style="padding:0;margin:0;color:#000;font-size:24px;line-height:28px;font-family:Arial;font-weight:600;text-align:right;") &pound;2,099.98
                                        td(width="20" style="padding:0;margin:0;") 
                        tr 
                            td(width="640" height="20" border="0" style="padding:0;margin:0;border-top:0;border-right:0;border-bottom:0;border-left:0;")
        tr 
            td(width="640" height="32")
        tr
            td(width="640")
                table(cellpadding="0" cellspacing="0" width="640" border="0" align="center" style="padding:0;margin:0 auto;")
                    tbody
                        tr 
                            td(width="640" style="padding:0;margin:0;color:#000;font-size:20px;line-height:24px;font-family:Arial;font-weight:600;text-align:left;") Don't Forget to register your purchase!
                        tr 
                            td(width="640" height="8")
                        tr 
                            td(width="640" style="padding:0;margin:0;color:#333;font-size:16px;line-height:22px;font-family:Arial;font-weight:400;text-align:left;") Once your Products delivered, don't forget to resister them on LG.com to ensure you receive the latest updates and information about your device. You are also required to resister your product if you'd like to take advantage of our extended warranty options.
                        tr 
                            td(width="640" height="60" align="center" style="border-bottom:1px solid #DDD;border-left:0;border-top:0;border-right:0;")
        tr      
            td(width="640" height="60")
        tr      
            td(width="640")
                table(cellpadding="0" cellspacing="0" width="640" border="0" align="center" bgcolor="#F6F6F6" style="padding:0;margin:0 auto;border:0;border-spacing:0;border-radius:8px;")
                    tbody 
                        tr
                            td(width="640" height="20" colspan="3" style="padding:0;margin:0 auto;")
                        tr
                            td(width="20" height="64" style="padding:0;margin:0;")
                            td(width="600" height="64" style="padding:0;margin:0;")
                                table(cellpadding="0" cellspacing="0" width="600" border="0" align="center" bgcolor="#F6F6F6" style="padding:0;margin:0 auto;")
                                    tbody 
                                        tr 
                                            td(width="64" height="64" align="left" style="padding:0;margin:0 auto;")
                                                img(src="https://via.placeholder.com/64x64/999999/333333/" alt="" width="64" height="64" border="0")
                                            td(width="536" height="64" align="right" style="padding:0;margin:0 auto;")
                            td(width="20" height="64" style="padding:0;margin:0;border:0;")
                        tr
                            td(width="640" height="16" colspan="3" style="padding:0;margin:0 auto;")
                        tr
                            td(width="20" style="padding:0;margin:0;")
                            td(width="600" style="padding:0;margin:0;") 
                                table(cellpadding="0" cellspacing="0" width="600" border="0" align="center" bgcolor="#F6F6F6" style="padding:0;margin:0 auto;")
                                    tbody   
                                        tr 
                                            td(width="600" colspan="2" style="padding:0;margin:0;color:#000;font-size:20px;font-family:Arial;font-weight:600;line-height:24px;") How did we do?
                                        tr 
                                            td(width="600" colspan="2" height="8" style="padding:0;margin:0;")
                                        tr
                                            td(width="600" colspan="2" style="padding:0;margin:0;color:#333;font-size:16px;font-family:Arial;font-weight:400;line-height:22px;") Once your Products delivered, don't forget to resister them on LG.com to ensure you receive the latest updates and information about your device. You are also required to resister your product if you'd like to take advantage of our extended warranty options.
                                        
                                        tr
                                            td(width="600" colspan="2" height="20" style="padding:0;margin:0;")
                                        tr 
                                            td(width="197" height="50" style="padding:0;margin:0;") 
                                                a(width="197" height="50" href="#" target="_blank" align="center" style="padding:16px 31px;margin:0;display:inline-block;min-width:197px;color:#333;font-size:16px;font-family:Arial;line-height:16px;font-weight:bold;text-align:center;text-decoration:none;border:1px solid #333;border-radius:6px;box-sizing:border-box;") Leave feedback
                                            td(width="403" height="50" style="padding:0;margin:0;")
                            td(width="20" style="padding:0;margin:0;")
                        tr
                            td(width="640" height="20" colspan="3" style="padding:0;margin:0 auto;")
        tr
            td(width="640" height="18")
        tr
            td(width="640")
                table(cellpadding="0" cellspacing="0" width="640" border="0" align="center" style="padding:0;margin:0 auto;")
                    tbody 
                        tr 
                            td(width="640" style="padding:0;margin:0;color:#333;font-size:16px;font-family:Arial;font-weight:400;line-height:22px;") Plaese note this email message was sent from a notification-only address that cannot accept incoming email. Please do not reply to this message.
        tr
            td(width="640" height="60")
                table(cellpadding="0" cellspacing="0" width="640" border="0" align="center" style="padding:0;margin:0 auto;border:0;")
                    tbody 
                        tr
                            td(width="640" height="60")
                        tr
                            td(width="640" colspan="3" style="padding:0;margin:0;color:#000;font-size:24px;line-height:28px;font-family:Arial;font-weight:600;")
                                p Shop with 
                                    a(href="#" style="color: #DA0F47;") LG.com
                                    | &nbsp;and enjoy
                        tr
                            td(width="640" height="18")
                        tr
                            td(width="640")
                                table(cellpadding="0" cellspacing="0" width="640" border="0" align="center" style="padding:0;margin:0 auto;border:0;")
                                    tbody   
                                        tr
                                            td(width="142" height="64" style="padding:0;margin:0;")
                                                table(cellpadding="0" cellspacing="0" width="142" height="196" border="0" align="left" bgcolor="#F6F6F6" style="padding:0;margin:0 auto; border-radius: 8px;")
                                                    tbody 
                                                        tr 
                                                            td(width="640" height="32" colspan="3" style="padding:0;margin:0 auto;")
                                                        tr 
                                                            td(width="94" height="64" align="center" style="padding:0;margin:0 auto;")
                                                                img(src="/assets/icon/icon-email-form-warranty-information-60-60.svg" alt="warranty-information" width="60" height="60")
                                                        tr 
                                                            td(width="640" height="20" colspan="3" style="padding:0;margin:0 auto;")
                                                        tr
                                                            td(width="640" colspan="3" align="center" style="padding:0 24px;margin:0;color:#000;font-size:20px;line-height:26px;font-family:Arial;font-weight:600;") Exclusive Offer
                                                        tr 
                                                            td(width="640" height="32" colspan="3" style="padding:0;margin:0 auto;")
                                            td(width="24" height="64" style="padding:0;margin:0;")
                                            td(width="142" height="64" style="padding:0;margin:0;")
                                                table(cellpadding="0" cellspacing="0" width="142" height="196" border="0" align="left" bgcolor="#F6F6F6" style="padding:0;margin:0 auto; border-radius: 8px;")
                                                    tbody 
                                                        tr 
                                                            td(width="640" height="32" colspan="3" style="padding:0;margin:0 auto;")
                                                        tr 
                                                            td(width="94" height="64" align="center" style="padding:0;margin:0 auto;")
                                                                img(src="/assets/icon/icon-email-form-request-repair-60-60.svg" alt="warranty-information" width="60" height="60")
                                                        tr 
                                                            td(width="640" height="20" colspan="3" style="padding:0;margin:0 auto;")
                                                        tr
                                                            td(width="640" colspan="3" align="center" style="padding:0 24px;margin:0;color:#000;font-size:20px;line-height:26px;font-family:Arial;font-weight:600;") Free Installation
                                                        tr 
                                                            td(width="640" height="32" colspan="3" style="padding:0;margin:0 auto;")
                                            td(width="24" height="64" style="padding:0;margin:0;")
                                            td(width="142" height="64" style="padding:0;margin:0;")
                                                table(cellpadding="0" cellspacing="0" width="142" height="196" border="0" align="left" bgcolor="#F6F6F6" style="padding:0;margin:0 auto; border-radius: 8px;")
                                                    tbody 
                                                        tr 
                                                            td(width="640" height="32" colspan="3" style="padding:0;margin:0 auto;")
                                                        tr 
                                                            td(width="94" height="64" align="center" style="padding:0;margin:0 auto;")
                                                                img(src="/assets/icon/icon-email-form-delivery-60-60.svg" alt="warranty-information" width="60" height="60")
                                                        tr 
                                                            td(width="640" height="20" colspan="3" style="padding:0;margin:0 auto;")
                                                        tr
                                                            td(width="640" colspan="3" align="center" style="padding:0 24px;margin:0;color:#000;font-size:20px;line-height:26px;font-family:Arial;font-weight:600;") Free Delivery
                                                        tr 
                                                            td(width="640" height="32" colspan="3" style="padding:0;margin:0 auto;")
                                            td(width="24" height="64" style="padding:0;margin:0;")
                                            td(width="142" height="64" style="padding:0;margin:0;")
                                                table(cellpadding="0" cellspacing="0" width="142" height="196" border="0" align="left" bgcolor="#F6F6F6" style="padding:0;margin:0 auto; border-radius: 8px;")
                                                    tbody 
                                                        tr 
                                                            td(width="640" height="32" colspan="3" style="padding:0;margin:0 auto;")
                                                        tr 
                                                            td(width="94" height="64" align="center" style="padding:0;margin:0 auto;")
                                                                img(src="/assets/icon/icon-email-form-payment-60-60.svg" alt="warranty-information" width="60" height="60")
                                                        tr 
                                                            td(width="640" height="20" colspan="3" style="padding:0;margin:0 auto;")
                                                        tr
                                                            td(width="94" colspan="3" align="center" style="padding:0;margin:0;color:#000;font-size:20px;line-height:26px;font-family:Arial;font-weight:600;") Secure Payment
                                                        tr 
                                                            td(width="640" height="32" colspan="3" style="padding:0;margin:0 auto;")
                        tr
                            td(width="640" height="12")
                        tr
                            td(width="640" colspan="3" style="padding:0;margin:0;color:#666666;font-size:16px;line-height:22px;font-family:Arial;") * Free installaction not avaliable for TV and other Home Entertainment products.
        tr
            td(width="640")
                table(cellpadding="0" cellspacing="0" width="640" border="0" align="center" style="border-top:1px solid #000;")
                    thead(width="640")
                        tr
                            th(width="91" align="left" bgcolor="#f6f6f6" style="width:91px;font-family:Arial;font-size:14px;margin:0;padding:12px 12px;color:#333333;border-bottom:1px solid #eeeeee;line-height:20px;word-wrap: break-word;word-break: break-all;") Product14
                            th(width="91" align="left" bgcolor="#f6f6f6" style="width:91px;font-family:Arial;font-size:14px;margin:0;padding:12px 12px;color:#333333;border-bottom:1px solid #eeeeee;line-height:20px;word-wrap: break-word;word-break: break-all;") SKU
                            th(width="91" align="left" bgcolor="#f6f6f6" style="width:91px;font-family:Arial;font-size:14px;margin:0;padding:12px 12px;color:#333333;border-bottom:1px solid #eeeeee;line-height:20px;word-wrap: break-word;word-break: break-all;") Condition
                            th(width="91" align="left" bgcolor="#f6f6f6" style="width:91px;font-family:Arial;font-size:14px;margin:0;padding:12px 12px;color:#333333;border-bottom:1px solid #eeeeee;line-height:20px;word-wrap: break-word;word-break: break-all;") Resolution
                            th(width="91" align="left" bgcolor="#f6f6f6" style="width:91px;font-family:Arial;font-size:14px;margin:0;padding:12px 12px;color:#333333;border-bottom:1px solid #eeeeee;line-height:20px;word-wrap: break-word;word-break: break-all;") Requested Qty
                            th(width="91" align="left" bgcolor="#f6f6f6" style="width:91px;font-family:Arial;font-size:14px;margin:0;padding:12px 12px;color:#333333;border-bottom:1px solid #eeeeee;line-height:20px;word-wrap: break-word;word-break: break-all;") Qty
                            th(align="left" bgcolor="#f6f6f6" style="font-family:Arial;font-size:14px;margin:0;padding:12px 12px;color:#333333;border-bottom:1px solid #eeeeee;line-height:20px;word-break: break-all;") Status
                    tbody(width="640")
                        tr
                            td(align="left" style="width:91px;font-family:Arial;font-size:14px;margin:0;padding:14px 14px;color:#6b6b6b;border-bottom:1px solid #eeeeee;line-height:20px; word-wrap: break-word;word-break: break-all;") Designed Made In Country
                            td(align="left" style="width:91px;font-family:Arial;font-size:14px;margin:0;padding:14px 14px;color:#6b6b6b;border-bottom:1px solid #eeeeee;line-height:20px; word-wrap: break-word;word-break: break-all;") UK.F6V909WTSA.ABWQPUK
                            td(align="left" style="width:91px;font-family:Arial;font-size:14px;margin:0;padding:14px 14px;color:#6b6b6b;border-bottom:1px solid #eeeeee;line-height:20px; word-wrap: break-word;word-break: break-all;") NEW (Unboxed)
                            td(align="left" style="width:91px;font-family:Arial;font-size:14px;margin:0;padding:14px 14px;color:#6b6b6b;border-bottom:1px solid #eeeeee;line-height:20px; word-wrap: break-word;word-break: break-all;") Refund
                            td(align="left" style="width:91px;font-family:Arial;font-size:14px;margin:0;padding:14px 14px;color:#6b6b6b;border-bottom:1px solid #eeeeee;line-height:20px; word-wrap: break-word;word-break: break-all;") 1
                            td(align="left" style="width:91px;font-family:Arial;font-size:14px;margin:0;padding:14px 14px;color:#6b6b6b;border-bottom:1px solid #eeeeee;line-height:20px; word-wrap: break-word;word-break: break-all;") 1
                            td(align="left" style="width:91px;font-family:Arial;font-size:14px;margin:0;padding:14px 14px;color:#6b6b6b;border-bottom:1px solid #eeeeee;line-height:20px; word-wrap: break-word;word-break: break-all;") Refund Requested
                        tr
                            td(align="left" style="width:91px;font-family:Arial;font-size:14px;margin:0;padding:14px 14px;color:#6b6b6b;border-bottom:1px solid #eeeeee;line-height:20px; word-wrap: break-word;word-break: break-all;") LG Nano90 65 inch 4K NanoCell TV
                            td(align="left" style="width:91px;font-family:Arial;font-size:14px;margin:0;padding:14px 14px;color:#6b6b6b;border-bottom:1px solid #eeeeee;line-height:20px; word-wrap: break-word;word-break: break-all;") UK.65NAN0906NA.AEK
                            td(align="left" style="width:91px;font-family:Arial;font-size:14px;margin:0;padding:14px 14px;color:#6b6b6b;border-bottom:1px solid #eeeeee;line-height:20px; word-wrap: break-word;word-break: break-all;") NEW (Boxed)
                            td(align="left" style="width:91px;font-family:Arial;font-size:14px;margin:0;padding:14px 14px;color:#6b6b6b;border-bottom:1px solid #eeeeee;line-height:20px; word-wrap: break-word;word-break: break-all;") Refund
                            td(align="left" style="width:91px;font-family:Arial;font-size:14px;margin:0;padding:14px 14px;color:#6b6b6b;border-bottom:1px solid #eeeeee;line-height:20px; word-wrap: break-word;word-break: break-all;") 1
                            td(align="left" style="width:91px;font-family:Arial;font-size:14px;margin:0;padding:14px 14px;color:#6b6b6b;border-bottom:1px solid #eeeeee;line-height:20px; word-wrap: break-word;word-break: break-all;") 1
                            td(align="left" style="width:91px;font-family:Arial;font-size:14px;margin:0;padding:14px 14px;color:#6b6b6b;border-bottom:1px solid #eeeeee;line-height:20px; word-wrap: break-word;word-break: break-all;") Refund Requested
        //- [E] contents 
    tfoot
        tr
            td(width="40" height="60") &nbsp;
            td(width="640" height="60") &nbsp;
            td(width="40" height="60") &nbsp;
        tr
            td(width="40" height="16") &nbsp;
            td(width="640" height="32" align="center" style="line-height:0;")
                button(type="button" style="border:0;padding:0;background-color:transparent;cursor: pointer;")
                    img(src='/assets/icon/icon-facebook-gray3-32-32.svg' alt="FACEBOOK" width="32" height="32" border="0")
                button(type="button" style="border:0;padding:0;background-color:transparent;cursor: pointer;") 
                    img(src='/assets/icon/icon-twitter-gray3-32-32.svg' alt="TWITTER" width="32" height="32" border="0")
                button(type="button" style="border:0;padding:0;background-color:transparent;cursor: pointer;") 
                    img(src='/assets/icon/icon-instagram-gray3-35-35.svg' alt="instagram" width="32" height="32" border="0")
                button(type="button" style="border:0;padding:0;background-color:transparent;cursor: pointer;")
                    img(src='/assets/icon/icon-youtube-gray3-35-35.svg' alt="YOUTUBE" width="32" height="32" border="0")
            td(width="40" height="16") &nbsp;
        tr(style="line-height:0;")
            td(width="40" height="16") &nbsp;
            td(width="640" height="16") &nbsp;
            td(width="40" height="16") &nbsp;
        tr
            td(width="40" height="16") &nbsp;
            td(width="640" height="16" align="center" style="line-height:18px;color:#666666;") LG Electronics U.K. Limited
                br
                Registered office: Velocity 2, Brooklands Drive, Weybridge, KT13 0SL.
                br
                Company registration number 02143888
            td(width="40" height="16") &nbsp;
        tr
        tr(style="line-height:0;")
            td(width="40" height="16") &nbsp;
            td(width="640" height="16") &nbsp;
            td(width="40" height="16") &nbsp;
        tr(style="line-height:0;")
            td(width="40" height="16") &nbsp;
            td(width="640" height="16" align="center")
                a(href="#" target="_blank" style="font-family:Arial;font-size:16px;margin:0;padding:0;color:#000000;text-decoration:none;") Unsubscribe
                span(style="font-family:Arial;font-size:14px;margin:0;padding:0;color:#E6E6E6;vertical-align:2px;") &nbsp;&nbsp;|&nbsp;&nbsp;
                a(href="#" target="_blank" style="font-family:Arial;font-size:16px;margin:0;padding:0;color:#000000;text-decoration:none;") Privacy Policy
            td(width="40" height="16") &nbsp;
        tr
            td(width="40" height="60") &nbsp;
            td(width="640" height="60") &nbsp;
            td(width="40" height="60") &nbsp;