extends ./_template/_email_layout.pug

block meta 
    title ML0108

block header
    +email-header({title: "Shipping Confirmation"})

block content
    tr
        td(style=`color:#333333;${fontStyle_1}`)
            b(style=`color:#000000;${fontStyle_6B}`) Dear chung,
            br
            br
            | Your Payment Via "PayPal" has not been processed.
            br
    tr
        td(style='padding-top:20px;font-size:0') &nbsp;
    +addToCart('My Cart')
    tr
        td(style='padding-top:60px;padding-bottom:60px;')
            span(style=`${brType1}`) &nbsp;
    +shop()

block footer
    +email-footer()
