extends ./_template/_email_layout.pug

block meta 
    title ML0142

block header
    +email-header-notitle()

block content
    tr
        td(style=`color:#333333;${fontStyle_1}`)
            a(href='#' style=`text-decoration:none;cursor:text;pointer-events:none;color:#000000;${fontStyle_6B}`) Useremail@lge.com
            br
            br
            | Your account is almost ready.
            |
            br
            br
            | To complete your account, Please enter the verification Code below when prompted on LG.com
            |
            br
            br
            | Verification Code is only valid 10 min
    tr
        td(style='padding-top:30px;')
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;padding:60px 30px 30px;border:1px solid #CBC8C2;border-radius:10px;')
                tr
                    td(style='color:#EA1917;text-align:center;font-family:Arial;font-size:24px;font-style:normal;font-weight:700;line-height:28px;') Verification Code
                tr
                    td(style='padding-top:12px;color:#000000;text-align:center;font-family:Arial;font-size:24px;font-style:normal;font-weight:700;line-height:28px;') 000626
                tr
                    td(style='padding-top:30px;')
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;padding:20px;background-color:#F6F6F6;border-radius:10px;')
                            tr
                                td(style=`text-align:center;color:#333333;${fontStyle_1}`) Thank you for your interest in LG Electronics.

block footer
    +email-footer()
