extends ./_template/_email_layout-rtl.pug

block meta 
    title ML0145(rtl)

block header
    +email-header-rtl({title: "Your Registration Application"})

block content
    tr
        td(style=`color:#333333;${fontStyle_1}`)
            b(style=`color:#000000;${fontStyle_6B}`) Dear [Add Name],
            br
            br
            | Thank you for your registration application. 
            br
            | We will process your request within 5 working days from the application date and inform you accordingly. 
            br
            br
            b(style='font-weight:700;') Best regards, 
            br
            b(style='font-weight:700;') LG Electronics

block footer
    +email-footer()
