extends ./_template/_email_layout.pug

block meta 
    title ML0133

block header
    +email-header({title: "Promotion notify me"})

block content

    tr
        td(style=`color:#000000;${fontStyle_6B}`) 
            | Dear Giang Bui,
    tr
        td(style=`padding-top:20px;color:#333333;${fontStyle_1}`)
            | Thank you for your subscription to our campaign Promotion Notify NEW UK.
    tr
        td(style=`padding-top:20px;color:#333333;${fontStyle_1}`)
            | Your chance to get favorit products for the member week sale starting Today!
            br
            | Save Up to $1200 off all LG TVs. Member-only Benefits and Money Off on LG Products for the Lifestyle you dream of.
    tr
        td(style='padding-top:30px;')
            a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' style=`${buttonType1}`) Go to LG.com
    tr
        td(style='padding-top:40px;')
            img(src='https://via.placeholder.com/640x340/eeeeee/000000' alt='image' width='640' height='340' style='border-radius:5px;')

block footer
    +email-footer()
