@charset "UTF-8";
@use '../../scss/abstract/' as *;

#cancelOrderPopup {
  .ML000D__modal-container {
    #guideText {
      .c-pop-msg {
        &__header {
          margin-bottom: rem(8px);
        }
      }
    }
    .c-pop-msg {
      &__header {
        margin-bottom: 0;
      }
      &__contents {
        padding-bottom: rem($padding1px);
        &__text-box {
          margin-top: rem($margin16px);
          &__desc {
            .cmp-text {
              &:first-child {
                margin-top: 0;
              }
              font-size: rem(16px);
              .font-w-normal-20 {
                color: $black;
              }
            }
          }
        }
        &__list {
          li {
            margin-left: 0;
            font-size: rem(16px);
            color: $gray3;
          }
        }
        .cancelOrderBox {
          @include lgness-radius('default');
          margin-top: rem($margin20px);
          padding: rem($padding20px) rem($padding16px);
          background-color: $white;
          @include screen(web) {
            padding: rem($padding24px);
          }
          .c-pop-msg__contents__text-box {
            margin-top: 0;
            margin-bottom: rem($margin16px);
            .cmp-text {
              color: $gray3;
            }
          }
        }
        .my-input {
          ul {
            @include reset-list-style;
            li + li {
              margin-top: rem($margin20px);
              @include screen(web) {
                margin-top: rem($margin24px);
              }
            }
            .c-input-item {
              textarea {
                // height: rem(74px);
              }
            }
            &.my-input__info {
              margin-top: rem($margin8px);
              padding-left: rem($padding8px);
              color: $mid-gray3;
              @include screen(web) {
                padding-left: 0;
              }
            }
          }
        }
        .toast-popup {
          margin-top: rem($margin16px);
        }
      }
      &__button-wrap {
        .c-button {
          max-width: none;
        }
      }
    }
    // [Start] 2024-03-07 : [CZ] Add Cancellation Request Popup  */
    &.ML000D__modal-container--cancel {
      .c-pop-msg__contents {
        &__text-box {
          .c-pop-msg__contents__list {
            margin-top: rem($margin8px);
          }
        }
      }
    }
    &.ML000D__modal-container--cancel__cz {
      .c-pop-msg__contents {
        @include screen(web) {
          max-height: 100%;
        }
        > .c-pop-msg__contents__text-box {
          margin-top: rem($margin16px);
          @include screen(web) {
            margin-top: rem($margin24px);
          }
        }
        .cancelOrderBox {
          margin-top: rem($margin8px);
          @include screen(web) {
            margin-top: rem($margin10px);
          }
          &-first {
            margin-top: rem($margin16px);
            @include screen(web) {
              margin-top: rem($margin20px);
            }
          }
          & + .c-pop-msg__contents__text-box {
            margin-top: rem($margin16px);
            @include screen(web) {
              margin-top: rem($margin20px);
            }
          }
        }
        .my-input {
          ul {
            li {
              & + li {
                margin-top: rem($margin16px);
              }
            }
          }
        }
      }
    }
    // [End] 2024-03-07 : [CZ] Add Cancellation Request Popup  */
  }
}